[2021-06-11 13:31] ufukyilmaz commented on #18777
It also fails on http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5508/testReport/junit/com.hazelcast.splitbrainprotection.map/TransactionalMapSplitBrainProtectionWriteTest/com_hazelcast_splitbrainprotection_map_TransactionalMapSplitBrainProtectionWriteTest/

[2021-06-11 14:25] #18717 closed

[2021-06-11 17:33] vikas1369 commented on #554
Hi @pveentjer If we use custom predicate with hazelcast client, Can I know where does the custom predicate evaluated i.e. client side or cluster side? If it is on cluster side (By that I mean computation to filter the map is done on cluster side and client gets the final result) how does the cluster know about the custom predicate? Wherever it runs Is it same for all versions of hazelcast?

[2021-06-13 20:59] fbarotov commented on #18767
It seems, the basic problem is, modules in the project need path information to checkstyle folder located at the root; and we have variable length nested modules. Currently, the project relies on `maven.multiModuleProjectDirectory`, which in default case should not be relied upon since it is an [internal implementation detail](https://issues.apache.org/jira/browse/MNG-6589), thus may not be compat

[2021-06-13 23:33] olamy commented on #18508
Hi @alparslanavci
I try using that but still no luck :(
Do you have any example?
Or maybe you could look at this project (https://github.com/olamy/hazelcast-testcontainers.git ) just run `mvn clean verify` and tell me what is wrong?
Thanks

[2021-06-14 06:42] olukas opened #18896 "Windows and Solaris tests which use docker fail in lab"
_master_

All tests which use docker fail on our Windows and Solaris lab, for example: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Windows-OracleJDK8-without-checkstyle/7/testReport/com.hazelcast.jet.cdc.mysql/MySqlCdcIntegrationTest/customers/

We should overcome it somehow or ignore those tests on Windows and Solaris environment.

Example stacktrace:
[code]

[2021-06-14 08:27] #18864 closed

[2021-06-14 09:01] emre-aydin commented on #18859
@KUCHUSISI you need to configure the client that Management Center uses so that it can deserialize the entry you stored on the map. Please take a look in the reference manual to see how: https://docs.hazelcast.com/management-center/latest/monitor-imdg/monitor-dds.html#map-browser

[2021-06-14 09:01] #18859 closed

[2021-06-14 09:22] #18805 closed

[2021-06-14 09:45] #17879 closed

[2021-06-14 10:11] mmedenjak commented on #554
@vikas1369 I think it depends on the exact API you're using but in most cases the predicate will be run on the member-side, close to the data and to avoid moving data across the network which will not be returned to the user anyway.

To do that, the predicate bytecode will have to be deployed on the members and the predicate will have to be serializable and deserializable so that the client can in

[2021-06-14 10:21] jerrinot opened #18899 "Warning being logger: Missing responseHandler for com.hazelcast.spi.impl.operationparker.impl.WaitSetEntry"
@olukas reported that under some circumstances he observed this warning in a server log:
[code]

I managed to create a reproducer:
[code]

[2021-06-14 10:29] #18840 closed

[2021-06-14 11:01] jbartok commented on #18719
Failure seems to be caused by wrong credentials set for the Jenkins job. Trying to sort it out with the help of @olukas and @kwart

[2021-06-14 11:03] genieyr commented on #14640
I had to change projection interface into java16 record implements Serializable to get rid of exception.
I'm afraid there is no other solution for the time being.

[2021-06-14 12:17] vikas1369 commented on #554
Thanks @mmedenjak . I wish to use predicates on the Map.

[2021-06-14 12:55] fbarotov commented on #18767
Regarding the consecutive error,

    [ERROR] Failed to execute goal org.xolstice.maven.plugins:protobuf-maven-plugin:0.6.1:test-compile (java) on project
    hazelcast-jet-grpc: Unable to resolve artifact: Missing:
    [ERROR] ----------
    [ERROR] 1) com.google.protobuf:protoc:exe:sunos-sparc_64:3.13.0
    [ERROR]
    [ERROR] Try downloading the file manually from the project website.

 Unfortu

[2021-06-14 14:44] mmedenjak commented on #18830
@ufukyilmaz can you take a look at this one?

[2021-06-14 14:44] mmedenjak commented on #18776
@olukas I saw that this test failed on every build with `python3 is not available`. Can we add it to the image?

[2021-06-14 16:07] olukas commented on #18776
@mmedenjak sure, I'll check what we can do about it

[2021-06-14 17:40] sertugkaya opened #18905 "Bump up the Apache Calcite Library to fix a vulnerability originates from Hazelcast SQL module"
Jaromir has sent a [pr](https://github.com/apache/calcite/pull/2399) to fix a possible vulnerability which was included in the calcite 1.27.0 release.
Calcite is a transitive dependency of Hazelcast SQL module.

[2021-06-14 19:59] neilstevenson opened #18906 "Enhancement - move banner to separate file"
If the "Hazelcast" message was in a different class it could be displayed differenty by an Slf4j logger.

[code]

[2021-06-14 19:59] neilstevenson commented on #18906
Please assign to me, @neilstevenson

[2021-06-14 21:00] mmedenjak commented on #18723
Fixed by https://github.com/hazelcast/hazelcast/pull/18883.

[2021-06-14 21:00] #18723 closed

[2021-06-15 06:45] jbartok commented on #18719
Fix confirmed by @olukas (meaning test no longer fails on Jenkins).

[2021-06-15 06:45] #18719 closed

[2021-06-15 08:55] viliam-durina opened #18908 "IMapSqlConnector must check cluster version before reading"
The `IMapSqlConnector` in 5.0 will use new operations to access IMap. Therefore it must reject execution if ran on a cluster with version below 5.0.

[2021-06-15 09:00] vikas1369 commented on #554
@mmedenjak  If I use Custom implementation of com.hazelcast.query.Predicate in that case will the query be executed on cluster?

[2021-06-15 09:54] #18849 closed

[2021-06-15 11:10] mmedenjak commented on #18887
@leszko can someone take a look?

[2021-06-15 12:03] leszko commented on #18887
@dino-lee I guess that when the deployment is restarted, then the instances restart one by one, and therefore there is always at least 1 replica running. That is why the data is not lost (deleted). It's actually a feature of Hazelcast, not a bug :)

To have the data removed, you have the following options:
1. Make sure that all replicas at stopped at some point (then no HZ instance is running, so

[2021-06-15 12:05] taburet opened #18911 "Erroneous memory cost delta calculation for on-heap indexes"
`GlobalIndexOperationStats.onEntryAdded` and `onEntryRemoved` assume the passed previous value (`replacedValue`/`removedValue`) is an index key, but actually it's an index value associated with the key. So on insertions we compute the cost deltas on index keys (positive deltas), but on removals we compute the cost deltas on index values (negative deltas). The deltas don't match in their absolute v

[2021-06-15 12:15] #18720 closed

[2021-06-15 12:28] ramizdundar commented on #18896
To comment, tests in elastic module passed in my local Windows machine.

[2021-06-15 13:28] Danny-Hazelcast opened #18912 "java.lang.IllegalThreadStateException: cannot make remote call: com.hazelcast.map.impl.operation.EvictBatchBackupOperation"
[code]

after about 1 hour of running   http://jenkins.hazelcast.com/view/hot-restart/job/hot-x/52/console.
all HD operations  resulting in evection failed,  but all OBJ and BIN seamed ok

[code]

[code]

/disk1/workspace/hot-x/5.0-SNAPSHOT/2021_06_15-11_32_51/persist-ru

Vassilis Bekiaris

my guess is that HD hits some point that it needs to force-evict and at the same time the buffer of eviction

[2021-06-15 13:29] Danny-Hazelcast commented on #18912
[code]

[2021-06-15 13:31] Danny-Hazelcast commented on #18912
[code]

[2021-06-15 16:22] alparslanavci commented on #18508
@olamy It looks you removed `-Dhazelcast.local.publicAddress=127.0.0.1` setting. You'll need this to expose a Hazelcast instance running in a container. See [here](https://github.com/hazelcast/hazelcast-docker#hazelcast-hello-world) for details.

[2021-06-16 01:18] dino-lee commented on #18887
@leszko
I Understand.
Even if Hazelcast is one when it is deployed, it is shared with the existing data.

Thanks Reply :)

[2021-06-16 07:23] leszko commented on #18887
Happy to help. Closing the issue, feel free to reopen if needed.

[2021-06-16 07:23] #18887 closed

[2021-06-16 07:42] #18863 closed

[2021-06-16 08:35] Danny-Hazelcast commented on #18912
the test is making these operations:
set, remove, putTTL, get,  on HD, BIN, OBJ maps

[2021-06-16 11:11] sancar opened #18917 "SQL Exceptions are not as informative as other HazelcastExceptions"
When a remote exception occurs as a result of an invocation, we try to delegate that to the caller including the local stack trace happened.

These type of informations help especially us a lot when debugging user problems.
This an an important feature for us, and time to time it was broken due to internal changes an restored back.
You can see an example fix here:
https://github.com/hazelcast/haze

[2021-06-16 11:37] fbarotov commented on #18607
I tried to reproduce the failure, but no success. However, here is my opinion of the test failure. In `ReplicatedMapReadYourWritesTest#testReadYourWritesByGet` we generate a key that belongs to local instance, call write operation for that key, and then read it back. By the [definition / implementation](https://docs.hazelcast.com/imdg/4.2/data-structures/replicated-map.html) of `ReplicatedMap` wri

[2021-06-16 13:17] srknzl commented on #18917
Because invocation is done asynchronously in `execute`, is it possible to trace errors to the user's calling site? What is your suggestion?

[2021-06-16 13:28] viliam-durina commented on #18917
I agree this is an issue. Even if `execute` is async, it needs to be wrapped in another exception.

[2021-06-16 13:59] sancar commented on #18917
@srknzl It is possible. I am suggesting to apply the same fixes we have applied for other hazelcast exceptions.
The fix I have shared a good example to async case. #17546
If you throw the exception to user at some point from an async operation, it should include the stacktrace of the calling side. Of course, if the exception is occurred another thread and user was not waiting for response, there i

[2021-06-17 07:07] tonitingaurav commented on #17265
I get the reason for the slowness. @mmedenjak Please correct me if I am wrong here.

Hazelcast server managed a pool of thread called operational pool for the key based cache calls e.g Map.get and executor.executeOnKey.
Thread from the operation pool is selected by partition number % pool size.
Every thread maintains a queue of tasks and execute the task one by one.

If there are multiple request

[2021-06-17 07:52] jbartok commented on #18751
This is caused by a bug introduced in https://github.com/hazelcast/hazelcast/pull/18267.

One way to reproduce it is to add a short delay into `ClusterServiceImpl` (and then running the above test, which will fail):
![image](https://user-images.githubusercontent.com/6204813/122354837-0e5e4f00-cf5a-11eb-8ff4-ce77d804c50f.png)

[2021-06-17 08:13] jbartok commented on #18751
@lprimak I will revert the whole PR (#18267) and then later, if you can fix this problem, we can give it another try.

[2021-06-17 11:32] robinroos opened #18926 "IMap#evictAll(Predicate)"
Hello,

We use MapStores to load data into our Hazelcast cache.  In our specific case the delete() and deleteAll() methods are stubbed out and do nothing: removal of an entry from an IMap will NOT cause deletion from the underlying datastore.

We wish to make our removal of entries from an IMap more efficient.

Currently we use IMap#removeAll(Predicate) which will invoke the MapStore, unnecessaril

[2021-06-17 11:49] fbarotov commented on #18738
I went over the logs and all the above failures seem to be due to network / split-brain issue. For example, `testMapConfig` failure is as follows:

1. instances `i1`, `i2`
2. They both connect to form a cluster, where `i1` is the master.
3. `i2` does not hear from `i1` for a while, transitions to suspicious state, declares `i1` as dead, and then claims mastership
4. `i2` receives `addMapConfig` re

[2021-06-17 12:05] #18830 closed

[2021-06-17 12:35] #18670 closed

[2021-06-17 12:35] #14046 closed

[2021-06-17 13:02] ahmetmircik commented on #18804
closed by https://github.com/hazelcast/hazelcast/pull/18875

[2021-06-17 13:02] #18804 closed

[2021-06-17 13:03] ahmetmircik commented on #18614
closed by https://github.com/hazelcast/hazelcast/pull/18624

[2021-06-17 13:03] #18614 closed

[2021-06-17 13:28] mmedenjak commented on #18926
@robinroos there are no plans to add this to 5.0 or any release. If you can provide a PR, we will be happy to review it and get it merged.

[2021-06-17 13:32] #18906 closed

[2021-06-17 13:49] #18751 closed

[2021-06-17 14:29] kwart opened #18930 "ClientTransactionalSetSplitBrainProtectionReadTest failed"
The `com.hazelcast.client.splitbrainprotection.set.ClientTransactionalSetSplitBrainProtectionReadTest` failed on `master` branch during PR builder run http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5637/

Build artifacts: https://console.aws.amazon.com/s3/buckets/j-artifacts/Hazelcast-pr-builder/5637/

Stacktrace:
[code]

[2021-06-17 17:28] mmedenjak commented on #17265
Yes, that could be the case. Operations on a single key are generally executed in order in which they arrive on the member (server). As mentioned, near cache for clients allows clients to hold copies of the value, which may drastically improve your read speed at the expense of consistency.

[2021-06-17 22:13] #18782 closed

[2021-06-18 00:45] lprimak commented on #18751
Just to make this clear, my PR #18267 is not the cause of the bug, but it uncovered improper behavior that relied
on sleep statements to behave correctly. I do not have any time scheduled to debug this.

[2021-06-18 04:43] lprimak commented on #18751
Disappointing... took so long to get this in and I was not even given a chance to take a look at it before taking it out... lots of work

[2021-06-18 06:04] lprimak commented on #18751
I can't reproduce this:

[code]

git diff
[code]

[2021-06-18 06:23] lprimak commented on #18751
java -version
openjdk version "1.8.0_292"
OpenJDK Runtime Environment (build 1.8.0_292-b10)
Eclipse OpenJ9 VM (build openj9-0.26.0, JRE 1.8.0 Mac OS X amd64-64-Bit Compressed References 20210421_909 (JIT enabled, AOT enabled)
OpenJ9   - b4cc246d9
OMR      - 162e6f729
JCL      - 2a5e268814 based on jdk8u292-b10)

[2021-06-18 12:01] PavloBida opened #18933 "PhoneHomeIntegrationTest.testMapLatenciesWithMapStore test fails on Windows Oracle JDK8"
**Failing test**
com.hazelcast.internal.util.phonehome.PhoneHomeIntegrationTest.testMapLatenciesWithMapStore

**Error message**
[code]

**Stacktrace**
[code]
**Jenkins build:**
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-Windows-OracleJDK8/311/

[2021-06-18 12:34] PavloBida commented on #18785
Also fails on Corretto JDK 8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-CorrettoJDK8/129/

[2021-06-18 12:38] PavloBida commented on #18754
Fails also on IBM JDK 8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-nightly/4/

[2021-06-18 12:41] PavloBida commented on #18801
Also fails on Zulu JDK16: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZuluJDK16-nightly/5/

[2021-06-18 13:25] myawnhc opened #18938 "Error when enabling CDC on table with missing primary key is not helpful in diagnosing issue"
https://github.com/hazelcast/hazelcast/blob/2797c7ad3cecffa673e2d6f7ae276777885ad155/extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/ChangeRecordImpl.java#L52

When I enable CDC for a database and one of the tables doesn't have a primary key defined, I get an obscure error message that doesn't point me to the issue:

09:28:40.619 [ WARN] [c.h.j.i.e.TaskletExecutionService] Excepti

[2021-06-18 13:40] kwart opened #18939 "Unable to use digits-only String values in the YAML config"
YAML schema validation doesn't handle properly String values containing only digits (in `5.0-SNAPSHOT`).

Reproducer:
[code]

**Fails with the following stacktrace:**
[code]

[2021-06-18 13:45] jerrinot commented on #18938
it's a bad interaction between https://github.com/hazelcast/hazelcast/blob/2797c7ad3cecffa673e2d6f7ae276777885ad155/extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/ChangeRecordImpl.java#L52 which produces NPE with "keyJson" as a message
and
https://github.com/hazelcast/hazelcast/blob/5ae4aba7250f47aa54d5725d5f917d6c5aec6b1c/extensions/cdc-debezium/src/main/java/com/hazelcast/jet/c

[2021-06-19 09:22] #18853 closed

[2021-06-19 10:19] #18801 closed

[2021-06-19 12:15] mmedenjak commented on #18616
This issue is more or less equivalent to https://hazelcast.atlassian.net/browse/HZ-116

[2021-06-20 18:40] kwart commented on #18939
@erosb Could you have a look, it seems as a problem on the validator side.

[2021-06-20 18:42] kwart commented on #18939
Similar problem with other type(s):

[code]

[2021-06-21 08:37] neilstevenson opened #18941 "'Can't assign requested address' exception"
Using 5.0-SNAPSHOT (`20210621 - d8ee81f`)

If I run `Hazelcast.newHazelcastInstance();`

I get

[code]

[2021-06-21 09:09] olukas commented on #18933
Closing as duplicate of https://github.com/hazelcast/hazelcast/issues/18724 (this also failed on `4.2.z` branch hence it should have milestone `4.2.2` as it is in original issue). Feel free to reopen this issue if I missed something.

[2021-06-21 09:09] #18933 closed

[2021-06-21 09:48] olukas opened #18943 "com.hazelcast.collection.impl.txnqueue.TransactionQueueTest.testIssue859And863_WhenQueuesAreOnFirstInstance[comparatorClassName: null] [HZ-1888]"
_master_ (commit b80b074928b3cd452b166d8cf69cc5813120f32f)

Failed on Zulu JDK 15: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-ZuluJDK15/50/testReport/com.hazelcast.collection.impl.txnqueue/TransactionQueueTest/testIssue859And863_WhenQueuesAreOnFirstInstance_comparatorClassName__null_/

It can have the same cause as https://github.com/hazelcast/hazelcast/issues/

[2021-06-21 09:57] olukas opened #18944 "com.hazelcast.jet.sql.impl.validate.SinkTypeCoercionTest.test_insertSelect"
_master_ (commit 12a118d8f8673407fea653834be538abdeeb1d4f)

Test `com.hazelcast.jet.sql.impl.validate.SinkTypeCoercionTest.test_insertSelect` failed with following options:
- `[TestParams{id=2012, srcType=TIME, targetType=TIMESTAMP, value=01:42:00, targetValue=2021-06-20T01:42, expectedFailureRegex=null}]`
- `[TestParams{id=2013, srcType=TIME, targetType=TIMESTAMP WITH TIME ZONE, value=01:42:00, t

[2021-06-21 10:19] neilstevenson commented on #18941
This doesn't occur with 4.2

[2021-06-21 10:23] neilstevenson opened #18945 "Incorrect result from Map SQL stream"
Using 5.0-SNAPSHOT (`20210621 - d8ee81f`)

The query `SELECT * FROM map` gives incorrect results

[code]

Gives 1 row. Should be 0 or 3.

[2021-06-21 12:45] viliam-durina commented on #18945
The three entries are inserted to the map concurrently to the query. In this case they might or might not be reflected in the results. From this point of view any number between 0 and 3 is correct. Despite the sleep, the engine accesses the map immediately after submission, until a first page of results is collected. Therefore the `set` operations are concurrent to the reading.

Btw, I tried it co

[2021-06-21 12:45] #18945 closed

[2021-06-21 12:57] viliam-durina commented on #18944
The test ran close to midnight. In SQL, when casting `TIME` to any other temporal type, the current date is added. The engine gets the current date at some point in time, and the test creates the expected value at some other time. When these two happen at a different day, the test fails...

To fix we need to assert that the actual value is this or the next day, an ugly generalization...

[2021-06-21 14:04] viliam-durina opened #18947 "Don't assume a default value for Portable primitive fields"
In this code we assume some default value if the column is not assigned (i.e. not present in the column list) or even explicitly assigned `null`. The former could be explained by pretending there's an implicit `DEFAULT 0` defined for the column, but the latter cannot.

We should throw in either case. If the users need some default value, they need to use `COALESCE`.

We already do fail in this cas

[2021-06-21 14:09] Danny-Hazelcast commented on #18912
[code]

http://jenkins.hazelcast.com/view/hot-restart/job/hot-x/54/console

/disk1/workspace/hot-x/5.0-SNAPSHOT/2021_06_21-12_34_30/persist-ru

cat ./output/HZ/HzMember1HZ/out.txt | grep starting
INFO: [10.0.0.221]:5701 [HZ] [5.0-SNAPSHOT] Hazelcast Platform Enterprise 5.0-SNAPSHOT (20210621 - 3b2b90b, 6d89281) starting at [10.0.0.221]:5701

[2021-06-22 07:52] olukas opened #18950 "com.hazelcast.client.splitbrainprotection.queue.ClientQueueSplitBrainProtectionWriteTest.remove_splitBrainProtection"
_4.2.z_ (commit b80b074928b3cd452b166d8cf69cc5813120f32f)

Failed on Zulu JDK 11: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-ZuluJDK11/5/testReport/com.hazelcast.client.splitbrainprotection.queue/ClientQueueSplitBrainProtectionWriteTest/remove_splitBrainProtection_splitBrainProtectionType_READ_WRITE_/

It failed with option `[splitBrainProtectionType:READ_WRITE

[2021-06-22 07:57] #18595 closed

[2021-06-22 08:33] neilstevenson commented on #18941
Occurs with JDK 8 and 5.0-SNAPHOT, but not with JDK 11 or 4.2

[2021-06-22 17:00] neilstevenson opened #18959 "SQL exception with maven-assembly-plugin : "No DataSerializerFactory registered for namespace:""
Using only `com.hazelcast:hazelcast:5.0-SNAPSHOT` and `com.hazelcast:hazelcast-sql:5.0-SNAPSHOT`

I get an SQL exception from the following code:

[code]

If packaged using
[code]

And run with `java -jar` I get this exception:
[code]

Doesn't occur with `java -cp`

[2021-06-23 06:16] #18567 closed

[2021-06-23 06:32] olukas opened #18961 "com.hazelcast.jet.core.JobTest.when_jobWithSameNameManyTimes_then_queryResultSortedBySubmission"
_master_ (commit 6d892814f89bf4788bc30b79eb523b00e4706ed7)

Failed on Zing JDK 8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZingJDK8/310/testReport/com.hazelcast.jet.core/JobTest/when_jobWithSameNameManyTimes_then_queryResultSortedBySubmission/

Stacktrace:
[code]

Standard output:
[code]

[2021-06-23 06:38] olukas opened #18962 "com.hazelcast.jet.sql.impl.validate.RowAssignmentTypeCoercionTest"
_master_ (commit 2cc059b39e18d5245f1019a4c4d523d6fe3454a3)

Failed on Sonar nightly build (Oracle JDK 11): http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/905/testReport/com.hazelcast.jet.sql.impl.validate/RowAssignmentTypeCoercionTest/

It can has the same cause as https://github.com/hazelcast/hazelcast/issues/18944

Following tests from `com.hazelcast.jet.sql.impl.

[2021-06-23 07:44] #18947 closed

[2021-06-23 08:09] viliam-durina commented on #18959
-41 is for `JetSqlSerializerHook`. Looks like `hazelcast-sql/src/main/resources/META-INF/services/com.hazelcast.DataSerializerHook` is not properly placed...

[2021-06-23 08:21] viliam-durina commented on #18944
Closed as duplicate of #18962. The `SinkTypeCoercionTest` was renamed to `RowAssignmentTypeCoercionTest`

[2021-06-23 08:21] #18944 closed

[2021-06-23 08:29] jbartok commented on #18754
This failure is a completely deterministic one, so no point in examining where it happens. The cause are the changes done for https://github.com/hazelcast/hazelcast/pull/18673.

The test failing expects the following. If you start a member and configure it such that you give it the client port of other members to connect to (join on), starting the client should fail with an exception.

How this wo

[2021-06-23 09:05] gierlachg commented on #18959
Most probably SQL `com.hazelcast.DataSerializerHook` is overridden by top HZ one while assembling the target jar.

[2021-06-23 12:27] PavloBida opened #18966 "SQL does not support expressions with semicolons"
If SQL query is followed by a semicolon ( ; ) - SQL engine would fail with the following error message:

[code]

**Expected behavior**
Even though we don't support multi queries - we should at least allow using semicolon in the end of an expression.

[2021-06-23 12:40] viliam-durina opened #18970 "Fix LocalDate range for clients"
The year range of LocalDate is -999999999..+999999999. For sending to client, we use `short`, which has smaller range. When the year is out of range for `short`, we need to throw an exception.

https://github.com/hazelcast/hazelcast/blob/8e91f331764ffc4731c34df7ae7ad66941107c49/hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/FixedSizeTypesCodec.java#L185

The other option

[2021-06-23 13:52] Fly-Style commented on #18539
Closed by #18865

[2021-06-23 13:52] #18539 closed

[2021-06-24 07:35] jbartok commented on #18715
Ok, so this test blows up because, since the introduction of light jobs, job cleanup happens on each member independently, whenever execution finishes on that particular member. The old behaviour was that the master coordinated the clean-ups, so they happened after the execution finished on all members.

I think this is simply a test failure now, because the test failure can't deal with the new be

[2021-06-24 09:49] viliam-durina opened #18977 "Document the unreliable nature of write-and-read methods"
Every method that does a write and read, the return value is unreliable. For example, `IMap.put` writes a new value and returns the previous value. The following can happen:
- client sends the operation. It succeeds, sync backup is updated
- before responding, the member crashes
- the client retries, with the new partition owner
- the operation succeeds again, but returns the updated previous valu

[2021-06-24 11:30] pmverma commented on #17979
I had a similar issue where the multicast UDP port `54327` seems to be used by hazelcast even if multicast was disabled.
I had to use a non-reserve port to make it work.

As mentioned in one of above comment, you can use following command to find reserved port.

`netsh interface ipv4 show excludedportrange protocol=udp`

Just make sure to use PowerShell or WindowsTerminal because cmd was not worki

[2021-06-24 12:57] ufukyilmaz commented on #18778
The reason for these tests fail is `CheckPartitionReplicaVersionTask` operation, which is normally an urgent system operation, is blocked when backpressure is activated, since `CheckPartitionReplicaVersionTask` depends on the invocation of another normal operation.

In these failures, the instances of `CheckPartitionReplicaVersionTask` urgent operations fills the invocation queue, and
backpressure

[2021-06-24 13:04] neilstevenson opened #18978 "JetObserverDataSerializerHook does not implement the expected interface SerializerHook"
Using 5.0-SNAPSHOT (`20210623 - 1a3c18d`) with FINE logging, this message appears

[code]

[2021-06-24 14:44] #18912 closed

[2021-06-25 07:05] ivanthescientist commented on #18759
Another run from same environment http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Solaris-OracleJDK8-without-checkstyle/10/console
Interesting bit from the logs:
[code]

[2021-06-25 08:28] jbartok opened #18980 "Race condition on cluster member reconnect."
At some point we merged in PR https://github.com/hazelcast/hazelcast/pull/18267. Its purpose was to speed up the merge process. The pull request didn't introduce any bugs on its own (at least not that I'm aware of), but it makes an old bug, which might been there since a long time, much likely to manifest.

One example of the type of failures that happen is this: https://github.com/hazelcast/hazel

[2021-06-25 11:06] ahmetmircik commented on #11230
should be closed by closed by #18624

[2021-06-25 11:06] #11230 closed

[2021-06-25 11:11] jbartok commented on #18759
Yeah, should definitely not be there. Must be some leftover client from some other test class, because this test is configured to run in parallel with other tests in the same JVM. Not sure though how to find which other test class.

[2021-06-25 11:13] jbartok commented on #18759
Have investigated the failure, but can't find the reason just by investigating the code involved and can't reproduce it (have not tried on Solaris, don't have access to a Solaris machine).

[2021-06-25 15:02] #18966 closed

[2021-06-28 07:05] jbartok commented on #18458
In latest `master` this test has been renamed to `HazelcastOSGiIT` (https://github.com/hazelcast/hazelcast/pull/18889/files). The failure is not there anymore.

[2021-06-28 07:05] #18458 closed

[2021-06-28 07:34] mmedenjak commented on #18941
@vbekiaris nailed it down to recent changes in 5.0 - https://hazelcast.slack.com/archives/C034YQBTG/p1624345987229400?thread_ts=1624264124.217600&cid=C034YQBTG

[2021-06-28 09:16] olukas opened #18982 "Libraries from /bin/user-lib are not deployed to cluster for 5.0-SNAPSHOT"
Directory `/bin/user-lib` could be used for deploying libraries for members (https://docs.hazelcast.com/imdg/4.2/clusters/deploying-code-from-clients.html#configuring-client-user-code-deployment). However it currently cannot be used with current `master` because it's missing in `/bin/hazelcast-start` script.

It is implemented in IMDG 4.2.z in this way: https://github.com/hazelcast/hazelcast/blob/

[2021-06-28 11:01] #18727 closed

[2021-06-28 11:18] #18861 closed

[2021-06-28 11:39] bhupendra-mskhatri opened #18986 "Hazelcast 3.12.11: reliable-topic read-batch-size does not support placeholders"
**Describe the bug**
I configured my bean xml as: <hz:reliable-topic name="my.*" read-batch-size="${myvalue}"/> where I intend to read myvalue from property file. But I get the error: **The value '${myvalue}' of attribute 'read-batch-size' on element 'hz:reliable-topic' is not valid with respect to its type, 'int'**.

**Expected behavior**
I should be able to use placeholders for read-batch-size.

[2021-06-28 12:15] Holmistr opened #18989 "Consolidate scripts from IMDG and Jet in /bin directory"
**Analysis of the current state**

In the IMDG distribution, we had following scripts:
* healthcheck.sh
* start.bat
* start.sh
* stop-all.bat
* stop-all.sh
* cluster.sh
* cp-subsystem.sh

In the Jet distribution, we had following scripts:
* common.sh
* jet
* jet-cluster-admin
* jet-cluster-cp-admin
* jet-start
* jet-start.bat
* jet-stop
* jet-stop.bat
* jet.bat

In current `master` (commit de1557a

[2021-06-28 12:43] Holmistr opened #18990 "Consolidate configurations from IMDG and Jet in /config directory"
**Analysis of the current state**

In the IMDG distribution, we had following scripts, the `config` directory wasn't existing. Following configuration examples were included in the `bin` directory:
* hazelcast-client-failover-full-example.xml
* hazelcast-client-failover-full-example.yaml
* hazelcast-client-full-example.xml
* hazelcast-client-full-example.yaml
* hazelcast-full-example.xml
* hazelca

[2021-06-28 23:50] henry356-vg opened #18992 "Custom implementation of nodeextension error"
**Describe the bug**
Hazelcast version 4.2

Custom implementation of NodeExtension failing with below error when creating new instance. This could be due to extension priority list skipping to choose extension in NodeExtensionFactory.

[code]

[code]

**Expected behavior**

Custom implementation of NodeExtension service provider should be allowed.

**To Reproduce**

Update META-INF/services/com.ha

[2021-06-29 06:20] mmedenjak commented on #18992
Hi @henry356-vg ! Unfortunately, since 4.0 we don't support custom node extensions or custom services anymore:
- https://github.com/hazelcast/hazelcast/pull/15151
- https://docs.hazelcast.com/imdg/4.2/migration-guides.html#removal-of-user-defined-services

The reason being that it wasn't used often, the SPI was not nicely implemented and compatibility was broken a couple of times. Now, every class

[2021-06-29 06:22] mmedenjak commented on #18992
Closing as this is intended behaviour. Please comment, reopen this issue or open a new one in case you have further issues.

[2021-06-29 06:22] #18992 closed

[2021-06-29 06:25] mmedenjak commented on #18986
Hi @bhupendra-mskhatri ! Currently, we don't really support 3.x versions anymore. What I can suggest is, sending a PR to fix this against the `master` branch. This branch is for the 5.0 release but once the PR is approved, we can backport it to 4.x branches, and the fix will be available in the next 4.0.x, 4.1.x or 4.2.x release. Do try upgrading to 4.x, we really tried to make it better, more per

[2021-06-29 06:32] mmedenjak commented on #18808
Looks like the root cause is similar to https://github.com/hazelcast/hazelcast/issues/18778#issuecomment-867614755

[2021-06-29 06:54] #18715 closed

[2021-06-29 09:41] mmedenjak commented on #18989
As discussed on slack (https://hazelcast.slack.com/archives/C01JU7ZJYGP/p1624957054074900), this is the proposed final state and changes:
[code]

[2021-06-29 10:27] dbrimley opened #18996 "Client uploads of classes in protected package namespaces fail silently"
**Describe the bug**
Clients **seemingly** allow uploading of classes on protected package namespaces such as `com.hazelcast`
What actually happens is the client does not report an error and the client runs through.
When trying to then use the custom class in a SQL query the following error is returned...

`Failed to resolve value metadata: Problem while reading DataSerializable, namespace: 0, ID:

[2021-06-29 11:28] wubumihuo opened #18997 "Deploying User Code on the Member cannot work under custom Serialization"
My hazelcast cluster version is 4.2, and cluster has 3 instance.
**Describe the bug**
I have configed the Deploying User Code on the Member, that is：

**Expected behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. ...

**Additional context**

[2021-06-29 12:12] olukas opened #18998 "Leftovers in maven distribution layout"
There are some leftovers which need to be removed from our maven distribution build. We're currently adding:
- `README.md` which is just for Jet (this file https://github.com/hazelcast/hazelcast/blob/master/distribution/src/root/README.md) - it should be removed.
- `release_notes.txt` which currently includes Hazelcast Jet Release Notes from https://github.com/hazelcast/hazelcast/blob/master/distr

[2021-06-29 17:30] slavagithub opened #19001 "com.hazelcast.jet.core.TopologyChangeTest.when_coordinatorLeavesDuringExecution_then_jobCompletes"
_master_ (commit https://github.com/hazelcast/hazelcast/commit/635391f382bd290648544b91b0b2ee106738d0e4)

Failed on Zulu JDK 16 - http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZuluJDK16-nightly/6/testReport/com.hazelcast.jet.core/TopologyChangeTest/when_coordinatorLeavesDuringExecution_then_jobCompletes_liteMemberFlags_1__/

Stacktrace:
[code]

Standard output:
[code]

[2021-06-29 17:42] slavagithub opened #19002 "Number of tests fails with "Instances haven't been shut down" error"
_master_ / _3.0-maintenance_ (commit INSERT_COMMIT_ID_HERE)

http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-EE-4.maintenance-OracleJDK11/6/testReport/

There are 21 failures with the same error.
Failed tests:
com.hazelcast.cache.CacheNativeMemoryLicenseTest.com.hazelcast.cache.CacheNativeMemoryLicenseTest
com.hazelcast.cache.CacheNativeMemoryListenerTest.com.hazelcast.cache.Cach

[2021-06-30 02:01] bhupendra-mskhatri commented on #18986
Thankyou for the information.

Can you please guide me on how to send PR.

Thanks and regards

From: Matko Medenjak ***@***.***>
Sent: Tuesday, June 29, 2021 11:56 AM
To: hazelcast/hazelcast ***@***.***>
Cc: Bhupendra MSKhatri ***@***.***>; Mention ***@***.***>
Subject: Re: [hazelcast/hazelcast] Hazelcast 3.12.11: reliable-topic read-batch-size does not support placeholders (#18986)

This message

[2021-06-30 14:04] srknzl opened #19006 "should getDistributedObjects include `__sql.catalog` map ?"
**Describe the bug**
I think this is an internal map for SQL and should be hidden.
**Expected behavior**
I expect it to be filtered from getDistributedObjects results.

**To Reproduce**

Steps to reproduce the behavior:
1. Run 5.0 snapshot server(latest) `docker run -p 5701:5701 hazelcast/hazelcast:5.0-SNAPSHOT`
2. Run the following script

[code]

[2021-06-30 14:06] viliam-durina opened #19008 "Reconsider using of `rethrow` and `peel` to reduce exception wrapping"
Jet in various places uses `ExceptionUtil.peel()` and `ExceptionUtil.rethrow()` that removes some wrapping from exceptions. However, this sometimes removes valuable stack traces.

E.g. the stack trace of an error during job submission doesn't contain the line that called the `newJob` method due to this `rethrow` usage: https://github.com/hazelcast/hazelcast/blob/8ee6a5aa42dff9e84377770c95d208ffd11

[2021-07-01 06:51] gurbuzali commented on #19006
as a note, we have also maps with the prefix `__jet.`

[2021-07-01 08:00] mmedenjak commented on #18986
@bhupendra-mskhatri you're going to have to create a fork of this repository under your user (https://docs.github.com/en/get-started/quickstart/fork-a-repo). Then, create a branch in your fork and add the necessary changes. You can take a look at other elements in the XSD schema that do support placeholders and see how they are defined. After you change the definition of `read-batch-size`, you cre

[2021-07-01 10:23] fbarotov commented on #18838
Could not find the corresponding logs both on path `Hazelcast-4.maintenance-sonar/` and `Hazelcast-4.maintenance-OracleJDK11`, thus, it is either deleted or got moved somewhere else. And the log pasted here is too short to get a 'smell' or make hypotheses.

[2021-07-01 10:29] olukas commented on #18838
Hi @fbarotov , have you looked for logs to jenkins or to S3 bucket?

[2021-07-01 10:37] olukas commented on #18838
I see, there's an issue in the given job for storing logs to S3 bucket. I will fix it. However it means we're not able to obtain original log. We need to wait once it will fail again.

[2021-07-01 10:56] fbarotov commented on #18838
Hi @olukas, thanks for the quick reply. I looked into S3 bucket, but could not find there.

Oww, then yeah will need to wait for the failure to reoccur.

[2021-07-01 12:33] viliam-durina commented on #19006
A second note, if we start hiding maps, then should the users also be able to query?
[code]

[2021-07-05 06:19] mmedenjak commented on #18997
@wubumihuo thank you for the report. @asimarslan @sancar can you take a look and comment on why this is so?

[2021-07-05 07:15] sancar commented on #18997
@wubumihuo Can you share the full stacktrace of `ClassDefNotFound` ?
Specifically, in which operation you are getting the `ClassDefNotFound` error ?
Is it map.put/get , or map.values(Predicate) ?

Are you using clients ? Are all your instance Members ?

[2021-07-05 09:34] mmedenjak commented on #19008
Also from @viliam-durina :

[2021-07-05 10:49] srknzl opened #19019 "SQL Date sent as string does not work"
**Describe the bug**
Seems like string to date conversion is problematic

**Expected behavior**
Expect it to work

**To Reproduce**

[code]
**Additional context**

Hazelcast version: 5.0 SNAPSHOT (via docker)
Hazelcast client version: 4.2.1

Stacktrace:
[code]

Note: It works with 5.0-SNAPSHOT client

[2021-07-05 11:10] srknzl commented on #19019
Related to https://github.com/hazelcast/hazelcast/pull/18984 so this is expected, not a bug

[2021-07-05 11:10] #19019 closed

[2021-07-05 12:44] yuce opened #19020 "Unexpected outcome for CountAggregator with a specific attribute"
**Describe the bug**

`CountAggregator` (with a specific attribute) of the Java client counts JSON values even if the corresponding attribute doesn't exist in the JSON value. It throws an exception if the given value is primitive.

**Expected behavior**
* Do not count values without the given attribute.
* Do not throw an exception for primitive values.

**To Reproduce**

First case, JSON Value is

[2021-07-06 06:38] viliam-durina commented on #19006
I think this is a rabbit hole. I wouldn't hide the internal maps, at least not on this level. We won't be able to hide them completely from all public API, so why hide it just in `getDistributedObjects`? We can optionally hide them in MC and maybe and even there we should have an option `Hide internal IMaps` that would be on by default.

[2021-07-06 08:12] srknzl commented on #19006
I raised this to inform you about this behavior. I don't have a strong opinion. You(those that are responsible for this API) can decide what to do.

[2021-07-06 08:26] #18740 closed

[2021-07-06 09:38] gierlachg commented on #18858
Implemented in #18921

[2021-07-06 09:38] #18858 closed

[2021-07-06 09:39] #18855 closed

[2021-07-06 09:44] #18693 closed

[2021-07-06 09:47] gierlachg commented on #18841
Implemented in #18856 & #18900

[2021-07-06 09:47] #18841 closed

[2021-07-06 09:49] #18581 closed

[2021-07-06 10:06] #18959 closed

[2021-07-06 13:17] #18795 closed

[2021-07-06 13:55] mdumandag opened #19025 "com.hazelcast.jet.core.metrics.JobLifecycleMetricsTest.executionRelatedMetrics"
Failed on PR Builder http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5934/testReport/junit/com.hazelcast.jet.core.metrics/JobLifecycleMetricsTest/executionRelatedMetrics/

Stacktrace:
[code]

Standard output:
[code]

[2021-07-06 17:48] viliam-durina commented on #18970
Fixed by #18984

[2021-07-06 17:48] #18970 closed

[2021-07-06 17:52] viliam-durina commented on #18395
This applied to the IMDG engine which will be retired in 5.0

[2021-07-06 17:52] #18395 closed

[2021-07-06 17:52] #18394 closed

[2021-07-06 17:54] viliam-durina commented on #18392
This applied to the IMDG engine which will be retired in 5.0

[2021-07-06 17:54] #18392 closed

[2021-07-06 17:55] viliam-durina commented on #18380
This issue applied to IMDG engine which will be retired in 5.0

[2021-07-06 17:55] #18380 closed

[2021-07-07 07:07] #18869 closed

[2021-07-07 10:11] Danny-Hazelcast commented on #19006
hzInstance.getDistributedObjects()
returns some internal  map named  __sql.catalog   previously internal structs where not returned

[2021-07-07 10:23] viliam-durina commented on #19006
@Danny-Hazelcast because there were no internal maps in IMDG. There were such maps in Jet and they were returned.

I think this is a product decision (cc @Holmistr). My opinion is that if we cannot hide these objects in full (including preventing any access to them from clients), then we should not pretend they don't exist.

[2021-07-07 10:40] ahmetmircik commented on #17265
Hi @tonitingaurav, based on comment https://github.com/hazelcast/hazelcast/issues/17265#issuecomment-862988422, can we close this issue?

[2021-07-07 11:03] neilstevenson opened #19027 "Jet 4.5 to 5.0-SNAPSHOT migration issue with DiscoveryStrategyFactory reduction"
If I use Jet 4.5 and `maven-assembly-plugin` to build an executable Jar, this is in it.

[code]

If I use 5.0-SNAPSHOT (build "20210707 - 104ab2d") it's

[code]

This will make migration from Jet to 5.0 problematic for users using, for example, Kubernetes discovery plugin.

[2021-07-07 12:59] mmedenjak commented on #19006
A couple of more points to consider.

1. The contract of `getDistributedObjects` isn't really broken with the introduction of internal maps. We just didn't think about them before.
[code]

2. If we start hiding the objects at the API level, we may break the MC behaviour where the objects were optionally hidden, depending on the switch.

[2021-07-07 13:56] neilstevenson commented on #19027
I don't think this is difficult to work around, by tweaking the Maven setup (putt the hazelcast-kubernetes dependency first), it's more the confusion to figure out what is wrong.

[2021-07-08 08:58] Holmistr commented on #19006
Unless there's a way of completely preventing access to the maps for the user, we should stick to the contract of getDistributedObjects.
I don't see this as a critically confusing thing as it doesn't break anything for the users (some extra maps are returned, not a big deal). Let's handle this with documentation (CC @Serdaro) and I would also suggest adding this information about internal maps dir

[2021-07-08 10:48] mmedenjak commented on #19006
Yes, sure, and I see Viliam agrees as well.

[2021-07-09 05:56] wubumihuo commented on #18997
Ths for answer very much,now I give the full detail of my error.
(1) I have a cluster with three point, and the cluster in-memory-format is binary.  only point 1 user-lib has my custom jar
I use hazelcast-client to put/query.  My java client config contains :
` SerializerConfig sc = (new SerializerConfig()).setImplementation(new BaseBOByteArraySerializer()).setTypeClass(BaseBO.class);
        clie

[2021-07-09 06:59] sancar commented on #18997
@wubumihuo
Map.put/get does not require classes available on the server when in memory format is binary
,but addIndex requires the classes on the server.
So it feels like you haven't deployed your classes (like RDSBondBO) to the cluster from the client.
You need to use user code deployment config from the client. The client requires manual registration of classes as opposed to members. See:
https:

[2021-07-09 14:07] ufukyilmaz opened #19035 "com.hazelcast.jet.sql.impl.SqlRollingUpgradeTest.when_clientSql_then_usesEitherVersion"
Failed on http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/6012/testReport/com.hazelcast.jet.sql.impl/SqlRollingUpgradeTest/when_clientSql_then_usesEitherVersion/

Stacktrace:
[code]

Standard output:
[code]

[2021-07-12 03:35] olamy commented on #18508
@alparslanavci sorry for late answer but I can get it working using testcontainer java api (your documentation is using command line).
Please have a look at this reproducer https://github.com/olamy/hazelcast-testcontainers .
It seems to work but the logs shows ` Connection closed`

[code]

[2021-07-12 07:49] mmedenjak commented on #17821
@sancar @neilstevenson I'm moving this to 6.0 as it's non-critical to 5.0 and we have tons of test failures to look at. Feel free to move it back if you think it's needed and we have the capacity.

[2021-07-12 07:57] slavagithub commented on #18758
The same for when_lineAddedInChunks_then_readAtOnce  test on the same job

[2021-07-12 08:27] neilstevenson opened #19039 "NPE for invalid client Yaml"
With 5.0-SNAPSHOT (20210712) if I do

[code]

And the YAML file contains no `hazelcast-client:` ssection I get an NPE instead of a helpful diagnostic

[code]

[2021-07-12 08:34] kwart opened #19040 "SqlErrorClientTest.testMemberDisconnect_close fails"
The `com.hazelcast.sql.SqlErrorClientTest.testMemberDisconnect_close[smartRouting:false]` failed on the PR builder for `master` branch.

http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/6041/testReport/junit/com.hazelcast.sql/SqlErrorClientTest/testMemberDisconnect_close_smartRouting_false_/

Stacktrace:
[code]

Standard output:
[code]

[2021-07-12 08:37] mmedenjak commented on #16933
@mdumandag @sancar does this issue need to go into 5.0?

[2021-07-12 08:38] mmedenjak commented on #13950
@sancar @burakcelebi what's the possibility and urgency of fixing this in 5.0? Can we move it?

[2021-07-12 08:39] mmedenjak commented on #18372
@PotatoSpud any updates - are you able to create a reproducer?

[2021-07-12 08:40] mdumandag commented on #16933
@mmedenjak I don't think this is really important for 5.0, we can do it afterwards.

[2021-07-12 08:41] mmedenjak commented on #18351
@hazelcast/apis is this planned to go into 5.0 or can we move it?

[2021-07-12 08:43] mmedenjak commented on #15722
@kwart @jbartok is this issue somehow affected by the changes in https://github.com/hazelcast/hazelcast/pull/18591?

[2021-07-12 08:49] mmedenjak commented on #18325
@viliam-durina moving this out of 5.0, since we have bunch of other tasks to adhere to. If you think this is critical, feel free to move it back in.

[2021-07-12 08:51] mmedenjak commented on #17489
Recently resurfaced - https://hazelcast.zendesk.com/agent/tickets/7575

[2021-07-12 08:52] mmedenjak commented on #17136
@hazelcast/apis do you think this should go into 5.0, or can we move it out?

[2021-07-12 08:56] mmedenjak commented on #14071
@huseyinbabal any updates from your side?

[2021-07-12 08:58] mmedenjak commented on #16669
@ManeeshSharma17 any updates from your side? Have you tried Sancar's suggestion?

[2021-07-12 08:58] mmedenjak commented on #17046
@yozank can we close the issue based on Sancar's suggestion?

[2021-07-12 08:59] mmedenjak commented on #18666
Closing as fixed by https://github.com/hazelcast/hazelcast/pull/18660, thank you for the confirmation @olukas

[2021-07-12 08:59] #18666 closed

[2021-07-12 09:02] mmedenjak commented on #18699
Moving to 5.1, feel free to bring back if necessary.

[2021-07-12 09:03] mmedenjak commented on #18789
Should be fixed by https://github.com/hazelcast/hazelcast/pull/19037.

[2021-07-12 09:26] srknzl opened #19042 "Allow implicit conversion between integer types"
Recently, implicit conversion between integer types is removed. This can cause problems in languages that do not have all the integer types. For example, in Node.js there is only one number type which is like a double. We use a 3rd party library called long that maps to BIGINT type. Native numbers are sent as double by default, and it is configurable via the `defaultNumberType` configuration.

If

[2021-07-12 09:36] mmedenjak commented on #18792
This file was copied from jet repo. With https://github.com/hazelcast/hazelcast/pull/19037, it will be removed and we will use `hazelcast-default.yaml` and `hazelcast-default.xml` from IMDG instead.

[2021-07-12 09:41] mmedenjak commented on #18850
Given the current scope and number of test failures, moving to 5.1. Feel free to move back if you consider this critical.

[2021-07-12 09:42] mmedenjak commented on #18354
Moving to 5.1 as I don't see this as critical for 5.0 and there's already lots of other things in scope.

[2021-07-12 09:50] mmedenjak commented on #18899
Moving into 5.1 based on the current scope of 5.0. Feel free to reach out to me if you consider this critical.

[2021-07-12 09:50] mmedenjak commented on #17772
Moving into 5.1 based on the current scope of 5.0. Feel free to reach out to me if you consider this critical.

[2021-07-12 09:50] mmedenjak commented on #18695
Moving into 5.1 based on the current scope of 5.0. Feel free to reach out to me if you consider this critical.

[2021-07-12 09:59] mmedenjak commented on #18998
Related: https://github.com/hazelcast/hazelcast/issues/18982

[2021-07-12 10:01] mmedenjak commented on #18998
Closing as first two items were fixed by the merged PR, and third one can be addressed as part of the related issue.

[2021-07-12 10:01] #18998 closed

[2021-07-12 10:04] #17046 closed

[2021-07-12 10:38] vbekiaris opened #19043 "Hot restart naming leftovers"
- Cluster property `hazelcast.hotrestart.free.native.memory.percentage` was deprecated in 4.2. Should it be removed in 5.0?
- Should public service/package `HotRestartService` / `com.hazelcast.hotrestart` be renamed for 5.0? If so, it would break public API.
- `RestEndpointGroup#HOT_RESTART`

[2021-07-12 10:58] Holmistr commented on #19027
@neilstevenson We're about to merge the discovery plugins into the 5.0. It should be fixed in Beta. Would you mind retesting later this week?

[2021-07-12 11:37] Danny-Hazelcast opened #19044 "NullPointerException com.hazelcast.client.impl.protocol.codec.holder.CacheConfigHolder.of(CacheConfigHolder.java:291)"
http://jenkins.hazelcast.com/view/multi-version/job/multi-version-client/89/console

/disk1/workspace/multi-version-client/5.0-SNAPSHOT/2021_07_11-21_37_49/create-use-destroy

[code]

/disk1/workspace/split-data-loss-multi-v/5.0-SNAPSHOT/2021_07_11-14_57_29/data-loss-multiv

[code]

looks like time thing is doing with ICache and multiversion 4.2 - 5.0-SNAPSHOT (edited)

[2021-07-12 11:39] Danny-Hazelcast opened #19045 "java.lang.IllegalArgumentException: Size must be positive: -1005578636"
/disk1/workspace/split-all/5.0-SNAPSHOT/2021_07_09-14_34_02/stable/persist

[code]

./output/HZ/HzMember3HZBB/hs_err_pid18522.log
./output/HZ/HzMember2HZAA/hs_err_pid31686.log
./output/HZ/HzMember5HZBB/hs_err_pid17715.log
./output/HZ/HzMember4HZBB/hs_err_pid17862.log
./output/HZ/HzMember1HZAA/hs_err_pid535.log

[2021-07-12 12:14] Danny-Hazelcast commented on #19045
http://jenkins.hazelcast.com/view/split/job/split-x/48/console

[2021-07-12 12:15] mmedenjak commented on #19027
Related PR - https://github.com/hazelcast/hazelcast/pull/19033

[2021-07-12 12:19] Danny-Hazelcast commented on #19045
[code]

[2021-07-12 12:28] AyberkSorgun commented on #19006
@Serdaro We can close this issue after documenting it properly

[2021-07-12 12:49] mmedenjak commented on #18982
Since https://github.com/hazelcast/hazelcast/pull/19037, the `bin/user-lib` directory is included in the classpath for both `hz-start` and `hz-start.bat`. The only remaining question is whether this dir should be added by maven assembly or by release pipeline.

[2021-07-12 12:52] AyberkSorgun opened #19047 "Protobuf Support on Solaris"
More info - https://github.com/hazelcast/hazelcast/issues/18767#issuecomment-860661606

Protobuf is used by `hazelcast-jet-kafka` and there is no protobuf lib for solaris, hence we can't support it, unless we find a workaround.

we should fix the solaris jenkins build so that it skips the `hazelcast-jet-kafka` extension, cause right now we get zero tests run and the jenkins job is disabled

[2021-07-12 13:05] olukas commented on #18982
@mmedenjak `bin/user-lib` directory is currently added by release pipeline. I think it would be better to add it as part of assembly plugin but I suggest to not do it before beta release.

[2021-07-12 13:20] mmedenjak commented on #18982
Yes, I'm just trying to add that to https://github.com/hazelcast/hazelcast/pull/19037

[2021-07-12 13:21] mmedenjak commented on #18982
Sorry, read this now, aborting :)

[2021-07-12 13:31] mmedenjak commented on #18982
For future reference, I tried it and it seems this needs to be added to both `assembly-descriptor.xml` and `assembly-descriptor-slim.xml`:
[code]

[2021-07-12 13:46] Danny-Hazelcast commented on #19044
http://jenkins.hazelcast.com/view/wan/job/wan-ring-rollup-hot/62/console

/disk1/workspace/wan-ring-rollup-hot/5.0-SNAPSHOT/2021_07_11-14_52_15/ring-rollup-hot

java.lang.NullPointerException
	at com.hazelcast.client.impl.protocol.codec.holder.CacheConfigHolder.of(CacheConfigHolder.java:291)
	at com.hazelcast.client.cache.impl.ClientCacheHelper.createCacheConfig(ClientCacheHelper.java:99)
	at com.

[2021-07-12 14:01] AyberkSorgun commented on #18767
@Serdaro
We should add a section in Hazelcast 5.0 that the **hazelcast-jet-kafka** extension is not supported on solaris

[2021-07-12 14:44] #18989 closed

[2021-07-12 14:44] #18816 closed

[2021-07-12 14:50] #47 closed

[2021-07-12 14:53] #18990 closed

[2021-07-12 14:55] #18789 closed

[2021-07-12 14:55] #18792 closed

[2021-07-12 15:04] srknzl opened #19052 "SQL error messages sent as null"
**Describe the bug**
This is the error message a client received as a response to an SQL run: `Error: null`. It was not like before.

**Expected behavior**
I suspect there is a bug. The error messages should be sent correctly.

**To Reproduce**

One way to reproduce:

Run latest 5.0 snapshot, run a client and a server with no extra config. Run the query: `SELECT * FROM TABLE(generate_series(1,3))`

[2021-07-12 15:18] fbarotov commented on #19039
Can you please share content of the `application.yaml` you used? I tried the following and it does not throw an NPE

     @Test
    public void clientConfigTest() {
        try {
            File clientConfigFile = File.createTempFile("application", ".yml");
            clientConfigFile.deleteOnExit();
            ClientConfig clientConfig = new YamlClientConfigBuilder(clientConfigFile).build();

[2021-07-12 15:27] neilstevenson commented on #19039
Try
[code]

[2021-07-12 15:46] fbarotov commented on #19039
Tried the following

    @Test
    public void clientConfigTest() {
        try {
            File clientConfigFile = File.createTempFile("application", ".yml");
            clientConfigFile.deleteOnExit();
            ClientConfig clientConfig = new YamlClientConfigBuilder(clientConfigFile).build();

            PrintWriter printWriter = new PrintWriter(clientConfigFile);
            printWriter.

[2021-07-12 16:18] gurbuzali commented on #13950
I think it is broken for a long time, I don't think it is urgent

[2021-07-12 18:09] fbarotov commented on #18286
log output on S3 contains same stuff as pasted here, which is just tail of actual log from program execution. We can see only a window cut of test completion period during which nodes were shutting down, thus unless it reoccurs it is hard to make any hypotheses.

[2021-07-12 19:02] olukas opened #19057 "Script hz-stop doesn't work when more nodes are running on the same machine"
When 2 and more HZ nodes are running on the same machine then `bin/hz-stop` script doesn't work. It prints:
[code]
and nodes are still running.

It seems to be caused by multiline value stored in `$PIDS` in the script.

It works correctly if only one member is running on the machine. Previous version of the script in HZ 4.x (`stop-all.sh`) works correctly when more nodes are running on the same ma

[2021-07-12 19:20] #19057 closed

[2021-07-12 19:58] cangencer opened #19058 "DistributedObjectCounterCollector shouldn't count system object"
System objects should be excluded from the metrics collected in https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/DistributedObjectCounterCollector.java

[2021-07-13 09:40] cangencer opened #19062 "Merge Jet/Hazelcast properties"
Merge Jet and Hazelcast properties as they're in two different files. I don't see any reason why we need them separated.

https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/jet/core/JetProperties.java
https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java

Also all other properties are prefi

[2021-07-13 09:51] sancar commented on #18950
Moving to 5.0 to check in stabilization period.

[2021-07-13 09:52] sancar commented on #18822
Moving to 5.0 to check in stabilization period.

[2021-07-13 09:52] sancar commented on #18783
Moving to 5.0 to check in stabilization period.

[2021-07-13 13:24] Danny-Hazelcast opened #19071 "Member OOME com.hazelcast.internal.networking.nio.NioOutboundPipeline"
http://jenkins.hazelcast.com/view/cp-system/job/cp-all-freeze/27/console

/disk1/workspace/cp-all-freeze/5.0-SNAPSHOT/2021_07_12-14_26_26/cp/lock/tryLocker

./output/HZ/HzMember3HZ/HzMember3HZ.hprof

fail HzMember1HZ cp_tryLock_validate hzcmd.cp.lock.LockerAssert threadId=0 global.AssertionException: cp_tryLock2 isLocked()==true

[code]

[code]

[code]

however other runs pass without OOME,

[2021-07-13 13:29] Danny-Hazelcast opened #19072 "CPMember{uuid= , address=[10.0.0.128]:5701} cannot be added to CP Subsystem because another CPMember{uuid=, address=[10.0.0.128]:5701} exists with the same address!"
http://jenkins.hazelcast.com/view/cp-system/job/cp-lockTry-kill/8/console

/disk1/workspace/cp-lockTry-kill/5.0-SNAPSHOT/2021_07_13-10_45_18/tryLocker

Fail HzMember4HZ com.hazelcast.config.InvalidConfigurationException: Premature end of file.

928K	HzClient3HZ
1.1M	HzClient1HZ
1.1M	HzClient2HZ
1.6M	HzClient4HZ
1.7M	HzClient5HZ
4.4G	HzMember5HZ
5.9G	HzMember4HZ
6.0G	HzMember1HZ
6.0G	HzMember2HZ
6.

[2021-07-13 16:44] viliam-durina commented on #19052
@gurbuzali Wasn't this fixed by #19065?

[2021-07-13 21:28] Serdaro commented on #19006
@AyberkSorgun , @mmedenjak , I can put a note under the example code shown at https://docs.hazelcast.com/hazelcast/latest/data-structures/distributed-data-structures.html#example-distributed-object-code saying that "the `getDistributedObjects()` method may return some extra distributed objects (maps, queues, etc.) which are internal to API, such as `__sql.catalog"; you can ignore them while workin

[2021-07-13 21:35] Serdaro commented on #18767
Added the related note: https://github.com/hazelcast/hz-docs/commit/fcf68a1b7408965c0c5fbcc4904670b894b37dcc

[2021-07-14 05:58] gurbuzali commented on #19052
no, in the QueryParser the `jetSqlBackend` is null and you get a NPE even before sending the job

[2021-07-14 06:36] mmedenjak commented on #19006
Yes, something like that. Currently I think we have internal maps starting with `__sql.` and `__jet.` but I guess there might be more in the future.

[2021-07-14 07:28] sancar commented on #14069
There is no enabled boolean on the `DiscoveryStrategyConfig `, but when a discovery config is not enabled on the xsd, it looks like we don't add it to config list of discovery-strategies. So effectively, it seems correct to me.
See:
https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientDomConfigProcessor.java#L531:L543

And `DiscoveryStra

[2021-07-14 07:35] neilstevenson commented on #19039
That's odd.
This fails for me
[code]
with `src/main/resources/application.yml`

Verified today, 5.0-SNAPSHOT and Java 11.

[code]

[2021-07-14 07:38] sancar commented on #15181
@neilstevenson
Is this duplicate of https://github.com/hazelcast/hazelcast-jet/issues/1444 ?
If yes, I will close this since it is fixed via hazelcast/hazelcast#15506

[2021-07-14 08:30] yuce commented on #19020
@sancar I guess there is not much to do if changing the behavior would harm backward compatibility, but currently `CountAggregator` with an attribute is not useful at all, since it works the same as `CountAggregator` without an attribute in the best case(?) scenario and throws an exception in the worst case(?) one.

[2021-07-14 08:32] mmedenjak commented on #19058
Related - https://github.com/hazelcast/hazelcast/issues/19006.

We agreed to return it in user API, as there is nothing in the contract preventing us to do so + it would be complex to maintain the illusion of these structures not existing across all of the feature set (SQL, executors, ...).

But I say it does make sense to remove them from phone home data.

[2021-07-14 09:11] sancar commented on #13950
I am moving this to backlog. We can move it to a version when we plan it.

[2021-07-14 09:14] sancar commented on #7448
Although we think this is critical, we could not find manpower to fix this on 5.0. Moving this to backlog for now. We will assign a milestone when we plan for a specific one.

[2021-07-14 09:36] slavagithub commented on #18876
Issue was not reproduced on build 16 but appeared again on 17, see http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Solaris-OracleJDK8-without-checkstyle/17/

[2021-07-14 09:36] sancar commented on #19020
@yuce I am moving this to out of 5.0 scope (moving it to 5.1) as it is not critical.
I see your point about `CountAggregator` with the attribute does not make any sense.
It feels like we should have a way to separate null with does not exist.
They are treated same on Portable, json and reflective extractors. So this will require a broader change in the code to fix.

[2021-07-14 09:38] viliam-durina commented on #18411
This issue was misleading:
1. it wasn't about the field `SKU`, but about `getSKU` method which is mapped as `sKU`
2. we already map `getSKU` as `sKU` when creating an index. We need to stay compatible with that, therefore we shouldn't change it. Note that the JavaBeans specification says that if after removing of the `get` prefix, the name starts with two capital letters, then the first letter sho

[2021-07-14 09:38] #18411 closed

[2021-07-14 09:41] slavagithub opened #19079 "com.hazelcast.kubernetes.RestClientTest fails on Oracle JDK 8, Solaris"
master, rev. d3724067fe40cfc05192b9fe5a2fd7301fa2d282

Failed on Oracle JDK 8, Solaris, http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Solaris-OracleJDK8-without-checkstyle/17/testReport/

Reproduced for tests:
PostSuccess
GetSussess
GetFailure
GetWithHeaderSuccess

Stacktrace:
[code]

Standard output:
[code]

[2021-07-14 09:56] slavagithub opened #19082 "Tests failing with "Jet is disabled, see JetConfig#setEnabled" error"
master, rev. d3724067fe40cfc05192b9fe5a2fd7301fa2d282

Failed on compartibility-jdk, Oracle JDK 8.

Failed tests:
com.hazelcast.jet.benchmark.WordCountTest.testJet
com.hazelcast.jet.benchmark.BackpressureTest.testBackpressure
com.hazelcast.jet.pipeline.StatefulMappingStressTest.flatMapStateful_stressTest
com.hazelcast.jet.pipeline.StatefulMappingStressTest.mapStateful_stressTest
com.hazelcast.jet.

[2021-07-14 10:01] frant-hartm opened #19083 "Job classloader not set as context classloader when processor is called"
**Describe the bug**
Context classloader is not set processor is called, causing ClassNotFoundException when processor code (or code called by the processor) is trying to load a class using the context classloader and the class was provided via the JobConfig.

**Expected behavior**
Job classloader should be set as a context classloader, unless processor classloader is specified for the processor.

[2021-07-14 10:56] slavagithub opened #19084 "com.hazelcast.jet.core.TopologyChangeTest.when_nodeIsNotJobParticipant_then_initFails is failing with "Mismatch between coordinator and participant version" error"
master, rev. d372406

Failed on compatibility-jdk, Oracle JDK 8.

http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-OracleJDK8-nightly/853/testReport/
Stacktrace:
[code]

Standard output:
[code]

[2021-07-14 11:02] slavagithub opened #19085 "com.hazelcast.internal.networking.nio.AdvancedNetworkIntegrationTest is failing"
master, rev. d372406

Failed on compatibility-jdk, Oracle JDK 8.

Failed tests:
testConnectionToWrongPort
testMemberConnectionToEndpoints

http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-OracleJDK8-nightly/853/testReport/

Stacktrace:
[code]

Standard output:
[code]

[2021-07-14 11:09] sancar commented on #18351
@mmedenjak I think we should fix it in 5.0.

[2021-07-14 11:25] Danny-Hazelcast opened #19086 "SEVERE: HazelcastSerializationException: Problem while reading IdentifiedDataSerializable, namespace: -18, classId: 6, exception: null"
http://jenkins.hazelcast.com/view/rollup/job/rollup-x2/8/console

/disk1/workspace/rollup-x2/5.0-SNAPSHOT/2021_07_14-10_56_13/projection Failed

fail HzClient5HZ _idx-heavy_sql_queryTargetTxnId_mapBak1HDSqlIdx hzcmd.map.sql.predicate.txn.model.queryTargetTxnId threadId=7 global.AssertionException: map mapBak1HDSqlIdx_sql_idx-heavy key=5411 value==null

[code]

[2021-07-14 11:41] Danny-Hazelcast commented on #19086
/disk1/workspace/rollup-x/5.0-SNAPSHOT/2021_07_14-11_15_31/sql/bit-map

[code]

[2021-07-14 12:12] gurbuzali opened #19087 "Ad-hoc processors created by SQL module does not use SecuredFunctions"
One can obtain a non-secured ServiceFactory using those processors

[code]

[2021-07-14 12:24] viliam-durina commented on #19087
Some known cases fixed by #19070

[2021-07-14 12:31] Danny-Hazelcast commented on #19086
[code]

[2021-07-14 12:56] neilstevenson commented on #15181
@sancar  Yes it's a duplicate

[2021-07-14 12:56] #15181 closed

[2021-07-14 13:34] gurbuzali commented on #14069
I guess I've stumbled upon this issue when implementing jet-spring-boot-starter but looks like the `enabled` attribute works as intended although not in line the rest of the config options.

I don't remember why I thought that `DiscoveryStrategyFactory` is not used at all, maybe a mistake on the IDE

I think we can close it

[2021-07-14 13:34] #14069 closed

[2021-07-14 14:13] nfrankel opened #19092 "Classpath issues in the 5.0 distribution"
As a user, I want to be able to submit a Jet job and expect it to work on the cluster in the same way as locally.

**Describe the bug**

ATM, two Hazelcast distributions are available: default and `slim`. Obviously, most users - including myself - aim for the most straightforward path and use the former.

The full-fledged default distribution aims to make it easy to run Jet jobs by providing a lot

[2021-07-14 14:44] mmedenjak commented on #19092
cc @Holmistr @vladoschreiner as discussed on [slack](https://hazelcast.slack.com/archives/C034YQBTG/p1626263941322000), this was quite surprising behaviour, given that the whole point of the "fat" docker distribution is the ease-of-use for newcomers (not having to add any dependency, everything being on classpath).

[2021-07-14 19:18] cangencer commented on #19092
@mmedenjak I asked @jerrinot to have a look - maybe he'll have some time before 5.0 at least to do a diagnosis.

[2021-07-15 06:33] gierlachg commented on #18580
Implemented in #19030

[2021-07-15 06:33] #18580 closed

[2021-07-15 07:12] #19084 closed

[2021-07-15 07:44] #18785 closed

[2021-07-15 07:47] Holmistr commented on #18774
@ufukyilmaz Is this object part of a public facing API? Why I'm asking - if it's internal, we can move it out of 5.0.

[2021-07-15 07:51] Holmistr commented on #18774
Slack conversation happening: https://hazelcast.slack.com/archives/C01JU7ZJYGP/p1626252504287400

[2021-07-15 08:28] vladoschreiner opened #19096 "Once I add the TO_TIMESTAMP_TZ time function to the SQL query, the LIMIT doesn't work any more."
**Describe the bug**

Once I add the TO_TIMESTAMP_TZ time function to the SQL query, the LIMIT doesn't work any more.

This query returns 10 rows, as per the limit clause:
`select trades.symbol, trades.price, trades."timestamp", symbols.this from trades JOIN symbols ON symbols.__key = trades.symbol WHERE symbol = 'ELECU' AND price > 2500 ORDER BY "timestamp" DESC LIMIT 10;`

This query returns all

[2021-07-15 11:09] frant-hartm commented on #19047
@Serdaro could you please update the relevant section of the documentation.

The modules not supported on solaris are:

hazelcast-jet-grpc
hazelcast-jet-protobuf
hazelcast-jet-python

hazelcast-jet-kafka is supported, so you can remove this one. Sorry for the confusion. CC @AyberkSorgun

[2021-07-15 12:35] #19035 closed

[2021-07-15 12:53] neilstevenson opened #19102 "hz-cli does not work from outside Kubernetes for cluster inside Kubernetes for Job submission"
Using 5.0-BETA-1, I have a 2 node cluster running inside Kubernetes.

This is exposed via
[code]

This was useable for Jet 4.5 (`hazelcast-jet-4.5/bin/jet submit <jar>`) but fails for 5.0-BETA-1 (`hazelcast-5.0-BETA-1/bin/hz-cli  submit <jar>`)

I suspect it could be running in multi-socket mode.

With a 2 node cluster I get this error
[code]

So it tries 34.79.113.190 (the LoadBalancer) and gets

[2021-07-15 12:55] neilstevenson opened #19103 "NPE on Jet job scaling 5.0-BETA-1 from 3 to 1 nodes via Kubernetes"
Using 5.0-BETA-1, in a 3-node cluster with running Jet jobs

If I can scaling from 3 to 1, I get this message

[code]

[2021-07-15 13:40] vladoschreiner opened #19104 "hz-cli not using a provided hazelcast-client config file"
**Describe the bug**

The `hz-cli help` tells me that `By default it uses the file config/hazelcast-client.yaml`. But there is no `hazelcast-client.yaml` in the config dir in the distribution, there is just `hazelcast-client.xml`.

I’m confused.

**Expected behavior**

`hz-cli` to use and to refer to an existing configuration file. Preferably, it shall use the default config file used by other Haz

[2021-07-15 13:45] ivanthescientist commented on #19096
Don't think this is strictly related to the `TO_TIMESTAMP_TZ` function, I think modifying sort column in projections in any way produces this result. E.g.
[code]

[2021-07-15 14:28] #18767 closed

[2021-07-15 15:16] frant-hartm commented on #19047
Closed by the PR, but the docs still need to be updated.

[2021-07-16 05:58] china-silence-chen opened #19108 "Near cache invalidation does not work on change"
### My config (hazelcast-all 4.2.1)

        Config config = new Config();
        NetworkConfig networkConfig = new NetworkConfig();
        JoinConfig joinConfig = new JoinConfig();
        TcpIpConfig tcpIpConfig = new TcpIpConfig();
        tcpIpConfig.setEnabled(true);
        tcpIpConfig.setMembers(Arrays.asList(member.split(",")));
        joinConfig.setTcpIpConfig(tcpIpConfig);
        net

[2021-07-16 06:16] Holmistr commented on #19092
Ok, let's see what @jerrinot comes up with and what we could do in 5.0. I absolutely understand the hassle and I agree that it should be addresses somehow rather sooner than later.

[2021-07-16 07:54] viliam-durina commented on #19096
I guess it will be affected by #18968

[2021-07-16 07:56] cangencer opened #19110 "Hazelcast run from package manager doesn't use the same configuration"
Using 5.0-BETA-1 - it appears that that it doesn't use the same logging used by the zip distribution:

[code]

[2021-07-16 08:53] #18351 closed

[2021-07-16 08:58] olukas opened #19113 "Job cleanup time increases during running Jet soak tests [HZ-4822]"
Jet soak tests periodically start batch jobs. There are not more than dozens of jobs running at the same time.

During the execution job cleanup takes more and more time, for example this is after 2hours:
[code]
this is after 16 hours:
[code]
and this is after 1.5day (ignore cluster name, the log is taken from different soak test run):
[code]

`PartitionContainer` holds maps with resources for eve

[2021-07-16 09:30] cangencer opened #19114 "sql console should point to sql docs"
SQL console points to a very general URL:

![image](https://user-images.githubusercontent.com/510278/125926220-0f227f4e-81db-415f-9ca4-6400a502c808.png)

we could be more helpful showing some examples queries and pointing to the specific part of the docs

[2021-07-16 09:31] cangencer commented on #19110
It also doesn't have the right classpath

[code]

[2021-07-16 10:05] nfrankel opened #19119 "Eager discard of a Job classloader"
**Describe the bug**

When stopping a Jet job, the engine discards the classloader. If the job has cleanup tasks, they cannot run and an exception is thrown.

**Expected behavior**

Cleanup tasks run as expected and do not throw.

**To Reproduce**

1. Use Reactor WebClient to create an event stream
2. Subscribe to it
3. In the `destroyFn()` section, dispose the `Disposable`
4. Run the job and stop

[2021-07-16 12:44] #19114 closed

[2021-07-16 14:22] ivanthescientist commented on #18846
I tried this on Linux (5.8 kernel) with OpenJDK 8 and bundled IDEA's JDK 11, in both cases the whole suit run and individual test runs succeeded.

[2021-07-18 16:09] cangencer opened #19126 "5.x docker doesn't report downloadId correctly"
looking at phone homes - I only see Maven or Distribution.

[2021-07-18 16:22] cangencer opened #19127 "Warning during startup"
When starting docker image 5.0-BETA-1 - get the following warning:

[code]

[2021-07-19 07:25] slavagithub commented on #19082
The same issue for com.hazelcast.jet.job.JobSubmissionSlownessRegressionTest.regressionTestForPR1488 test

[2021-07-19 08:00] slavagithub opened #19129 "com.hazelcast.connector.Hz3EnrichmentTest failed with null pointer exception"
master rev e6bd62e0036c9bf93a2d3d7494707f3da33b304f

Failed on Solaris, Oracle JDK8
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Solaris-OracleJDK8-without-checkstyle/19/testReport/

Failed tests:
com.hazelcast.connector.Hz3EnrichmentTest.testMapUsingReplicatedMap
com.hazelcast.connector.Hz3EnrichmentTest.testMapUsingIMap
com.hazelcast.connector.Hz3EnrichmentTest.testMa

[2021-07-19 08:14] viliam-durina opened #19130 "Incorrect results after index rebuilt with changed column"
Index with the same name can be recreated after a map is destroyed. If a query used that index, it will also use the new index, even though it now contains another column, which will produce garbage results. The column can even be of a different type - the implementation compares the serialized bytes.

The plan is correctly invalided by the plan invalidator, so the issue is minor, but it would be

[2021-07-19 08:58] slavagithub opened #19131 "com.hazelcast.jet.sql.impl.connector.file.SqlHadoopTest fails on Solaris, JDK 8"
master, rev e6bd62e0036c9bf93a2d3d7494707f3da33b304f
Failed on Solaris, Oracle JDK 8
Failed tests:
com.hazelcast.jet.hadoop.file.ParquetFileFormatTest
com.hazelcast.jet.sql.impl.connector.file.SqlHadoopTest

http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Solaris-OracleJDK8-without-checkstyle/com.hazelcast$hazelcast-sql/19/
http://jenkins.hazelcast.com/view/Official%20Buil

[2021-07-19 09:06] sancar commented on #19085
I have traced this problem to two changes in two different pr's.
One is this https://github.com/hazelcast/hazelcast/pull/18673/files#diff-56dec320918a1343d4ba505a9adf8e35c00f622e3c7ee2e7b1fd7616fc918a28R297

https://github.com/hazelcast/hazelcast/commit/6e412293ac8c8ae0b1bb2ef4919ede434934dda4#diff-a1c5ab733cbd9864aa004965ea64db820d786d23b337e61f2ffd4832c72a22feR250

The test expects from a node t

[2021-07-19 09:25] mmedenjak commented on #19108
Thank you for the report @china-silence-chen ! @emre-aydin @ahmetmircik can you check?

[2021-07-19 10:11] mmedenjak commented on #19047
Looks like the [docs contain the note](https://docs.hazelcast.com/hazelcast/5.0-beta-1/sql/kafka-connector.html#installation). Moving this issue to backlog so we may assess investing into solaris support in the future.

[2021-07-19 10:17] mmedenjak commented on #19047
Also, @olukas @slavagithub I see the solaris job is re-enabled so you can remove the "disabled" note here:
http://jenkins.hazelcast.com/job/Hazelcast-master-Solaris-OracleJDK8/

And remove this job - http://jenkins.hazelcast.com/job/Hazelcast-master-Solaris-OracleJDK8-without-checkstyle/

[2021-07-19 10:41] Holmistr commented on #19047
@mmedenjak I'm confused now, anything needed from me? :)

[2021-07-19 10:49] slavagithub commented on #19047
@mmedenjak @olukas http://jenkins.hazelcast.com/job/Hazelcast-master-Solaris-OracleJDK8-without-checkstyle/ is disabled. http://jenkins.hazelcast.com/job/Hazelcast-master-Solaris-OracleJDK8/ is enabled, note is removed

[2021-07-19 10:59] mmedenjak commented on #19047
@Holmistr no, sorry, not really. I thought this issue was to add solaris support, so I decided to move it to backlog, and then I realised that the documentation needs to be amended so I moved it back (after which we can move it to backlog since there's no point in working on this any further in 5.0).

[2021-07-19 11:05] sancar commented on #18608
Investigated the logs. Nothing seems out of ordinary except the timeout itself. Looks like a temporary environment problem.
I will close this issue for now. If it happens again we will take a closer look.

[2021-07-19 11:05] #18608 closed

[2021-07-19 11:08] viliam-durina commented on #18615
Consider this class:
[code]

If the class is IDS and the query selects `innerArray`, we have to deserialize the whole `Outer` instance, extract `innerArray` field, and then send the `Inner[]` instance to the client. But we don't know how the outer class would serialize it, whether as a java array or as an IDS array. And we even should not care - we send a tuple of values, `Inner[]` is just `Inner[

[2021-07-19 12:37] frant-hartm commented on #18755
The failing assert is :

[code]

TOTAL_PROCESSORS = 72 for the environment above, so the expected value is 11 * 72 * 72 = 57024.

The actual value is 51840 = 10 * 72 * 72.

So this either means there is some issue with not calling the `init` after `job.resume()` (unlikely) or that the metrics collection didn't execute after the last `resume()` of the job and value 11 wasn't observed.

The collecti

[2021-07-19 12:37] #18755 closed

[2021-07-19 13:32] frant-hartm commented on #18776
Added `sudo yum install -y python3` to the zing build agent init script. The modified build with PythonServiceTest only was green, waiting for the full test suite to finish.

[2021-07-19 13:54] #19082 closed

[2021-07-19 13:56] viliam-durina commented on #18846
This issue was fixed by #18825 by the addition of `UNINITIALIZED_LIGHT_JOB_MARKER`, which prevents attempts to cancel uninitialized executions.

[2021-07-19 14:01] robinroos opened #19134 "Distributed Executor uses only one available cache node for task execution"
I have a 15 node cluster of Hazelcast Platform (5.0-SNAPSHOT, Jat & IMDG comined, open-source).

Hazelcast.xml defines an executor service called "default".

[code]
The Queue Capacity is enormous and I don't know if that's directly causing the problem.

The application submits runnable tasks for execution as follows:

[code]

The TrivialExecutionCallback class defines the callback methods to do no

[2021-07-19 14:48] alparslanavci opened #19135 "hz-cli cannot be used directly with package installations"
**Describe the bug**
When installing Hazelcast with popular packages (RPM, DEB, homebrew), we needed to put `hz-cli` and other scripts included in `bin/` folder of the distribution to the user command path. But `hz-cli` depends on `common.sh` script and configuration files located under `config/` folder such as `jvm-client.options`. We cannot put these scripts and configuration files to the path w

[2021-07-19 15:00] #18846 closed

[2021-07-19 15:36] zhmaeff opened #19136 "Better error handling in jet enabled/disabled mixed cluster setup"
I have 2 members cluster of HZ 5.0-SNAPSHOT.
One member (5016 port) has jet enabled in its XML config.
Another member (5017 port) has jet disabled.

I submit a simple jet pipeline to a member with enabled Jet.
[code]

Member accepts submitted job but execution fails immeadiately. See logs below:
[code]

Exception message is a bit confusing in this situation, because member which throws that except

[2021-07-19 16:00] neilstevenson opened #19137 "5.0-BETA-1 mismatching map config [HZ-636]"
Using 5.0-BETA-1, if I start a three node member and create one map, `users` by
[code]

Running this code on all three
[code]

gives differing output.
On the oldest member

[code]

On other members
[code]

This in turn results in a mismatching config report on the Management Center

It's not necessarily unique to maps, I think I also saw for IQueue

[2021-07-19 16:06] neilstevenson commented on #19137
All nodes are launched with the same config, no map configuration.
It is always the master node that reports this configuration (only _default_)
Other nodes report a config object for the created map.

[2021-07-19 16:31] #18939 closed

[2021-07-19 16:54] neilstevenson commented on #19137
Reproducer
[code]

[2021-07-20 07:22] #19129 closed

[2021-07-20 08:25] ivanthescientist commented on #18807
Ran this test successfully on both latest master (1115c02dffef8223253a60788a46d3fd891b9d48 as of writing) and the target commit, both on OpenJDK 8 and OpenJDK 11.

Also judging by the test code, the issue was in this fragment:
[code]
My guess would be that this was an intermittent failure due to environment overload. There are also successful runs of this test, most recent one: http://jenkins.haze

[2021-07-20 09:19] robinroos commented on #19134
The MapLoaderService which submits the MapLoader tasks is governed by a SplitBrainRule, which ensures there are at least 9 cache instances available.  So I know there were at least 9 when the tasks were submitted to IExecutorService.

[2021-07-20 09:35] nfrankel opened #19138 "ElasticClients.client has no methods to allow for HTTPS connection"
As an alternative, one can directly use ElasticSearch's `RestClient` but it defeats the purpose of `ElasticClients`

[2021-07-20 12:07] jerrinot commented on #19092
This is a complicated matter. I think the solution has multiple parts:

1. Documentation.
Our documentation should stress the default image is for quick experiments / new users. It has all connectors included. You probably do not want this for production deployments due to security reasons (attach surface). And I would assume advanced users will choose the slim image even for toying. Simply becaus

[2021-07-20 13:38] frant-hartm opened #19141 "com.hazelcast.gcp.RetryUtilsTest.retryRetriesWaitExponentialBackoff failed on master PR builder"
PR builder master

PR https://github.com/hazelcast/hazelcast/pull/19139

http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/6257/testReport/com.hazelcast.gcp/RetryUtilsTest/retryRetriesWaitExponentialBackoff/

Stacktrace:
[code]

Standard output:
[code]

[2021-07-20 13:39] frant-hartm commented on #19141
Also failed here http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/6256/

[2021-07-20 13:48] leszko opened #19143 "[CN-124] Add external service label filtering parameter(s) to Kubernetes configuration"
In Kubernetes, Hazelcast resolves its public addresses by finding an individual service that points to the given Hazelcast pod. If there are multiple services pointing to one pod, then the discovery may not work or might choose the wrong service. We should add a parameter to filter external services by the label.

Related PR(s):

- https://github.com/hazelcast/hazelcast-kubernetes/pull/331
- https

[2021-07-20 13:57] frant-hartm commented on #18776
Green build on jenkins http://jenkins.hazelcast.com/job/Hazelcast-master-ZingJDK8/320/.

[2021-07-20 13:57] #18776 closed

[2021-07-20 14:02] frant-hartm commented on #18783
The test failed to download other Hazelcast jars for testing the infrastructure used for compatibility test. Likely due to a network glitch.

We could either add retry logic to the download code, or maybe make maven download the dependencies beforehand so they are cached in local maven repository. We can't use regular dependencies though becase we would polute the classpath with previous version(s

[2021-07-20 14:31] vbekiaris commented on #18783
Yes, we could add that to profiles that execute the `SlowTest`s. Still, wouldn't that also fail in case of network issues? Or is the maven dependency plugin doing something smarter like checking alternate repositories/mirrors?

[2021-07-20 14:36] abelmannu opened #19144 "Split Brain Condition does not get merged in kubernetes environment with 4.2.1 although nodes seem to agree."
We are using hazelcast 4.2.1 in an kubernetes environment with openjdk:14-jdk-slim images. In our dev environment, where we only have two nodes, these two nodes sometimes (short after every 5th deployment) end up having a split brain condition and do not merge, although they find each other and agree on what to do:

The joiner of the first nodes says the second node should join. And the joiner of

[2021-07-20 15:36] robinroos commented on #19134
I exposed the MapLoaderService at an HTTP endpoint, waited for all Cluster members to be fully started, and then hit the endpoint.  I can see the tasks are well-distributed across the cluster members.

From this it seems that Executor initialization occurs after the cluster node is ready.

So the SplitBrain rule, making sure that the cache had at least 9 members, succeeded even though only one (so

[2021-07-20 16:03] ivanthescientist commented on #19086
Not sure if this is of any help, but looks like this is an issue with the Enterprise:
`ENTERPRISE_MAP_DS_FACTORY_ID` - this is the factory used and the operation that fails is `ENTERPRISE_MAP_REPLICATION_OPERATION`.

This operation was introduced in this PR:
https://github.com/hazelcast/hazelcast-enterprise/pull/4124

[2021-07-20 16:06] mmedenjak commented on #19134
Hi @robinroos ! Thank you for the report. Just curious, do you see this issue with IMDG 4.2?

[2021-07-20 16:11] #19025 closed

[2021-07-21 06:23] mmedenjak commented on #19092
Re: class relocation, I guess it is desirable from the aspect of the JDK module system

[2021-07-21 08:08] #19138 closed

[2021-07-21 10:59] #18908 closed

[2021-07-21 12:55] frant-hartm commented on #18783
Maven dependency plugin has built in retries, so it would work in case of a brief network glitch. It would also be reported as a build failure, not a test failure.

But after more thought - because this is (supposedly) a rare failure I proposed to close this issue and address it only if it happens again.

[2021-07-21 12:55] #18783 closed

[2021-07-21 14:28] leszko commented on #19102
As you described Neil, it is because `jet` used the `smart-routing: false` property in [their config](https://github.com/hazelcast/hazelcast-jet/blob/master/hazelcast-jet-distribution/src/root/config/hazelcast-client.yaml#L15).

We need to disable smart routing in `hz-cli` or `HazelcastCommandLine`. Who can work on it? CC: @mmedenjak

[2021-07-21 14:37] leszko commented on #19144
@abelmannu I could not reproduce the issue. Could you write the exact steps who to reproduce the Split Brain issue you encounter? Preferably with our [official Helm Chart](https://github.com/hazelcast/charts/tree/master/stable/hazelcast).

[2021-07-21 14:47] leszko commented on #19103
@neilstevenson
1. What is the simplest way to reproduce this issue?
2. Can you try to reproduce it locally? If you kill 2 members out of 3, don't you get this exception?

I think we need someone from Jet/Core to look into this. Not sure what can cause it.

[2021-07-21 15:12] #19141 closed

[2021-07-21 15:37] viliam-durina opened #19151 "Client might pick a light job coordinator it's not connected to"
The client picks the coordinator from the member list. But if a member the client isn't connected to is picked, then the message can be actually sent to a different member. In this case the client will have wrong coordinator information and most methods in the `Job` class won't work.

This issue applies easily to non-smart clients, but it also affects normal clients if they temporarily lose connec

[2021-07-22 06:15] #19052 closed

[2021-07-22 06:50] #18847 closed

[2021-07-22 07:06] mmedenjak commented on #19102
I'll find someone. I guess at this point we can remove the `Team: Cloud Native` label as it's an issue on our end.

[2021-07-22 07:58] gierlachg commented on #18698
🤔  it works for me/now. Not sure whether anything has changed in the meantime. @AyberkSorgun can we close it?

[2021-07-22 09:11] neilstevenson opened #19152 "NPE from TcpServerConnectionChannelErrorHandler"
5.0-SNAPSHOT (`20210722 - 97e59fa`) is throwing NPEs that 5.0-BETA-1 doesn't

[code]

[2021-07-22 09:17] neilstevenson commented on #19152
This seems only to occur on Kubernetes.

[2021-07-22 09:22] neilstevenson commented on #19103
I tried today and it's didn't recur, so it's not deterministic.
I've not managed to make it occur locally either. So far I have only seen once on Kubernetes.
My suspicion is when two nodes leave the cluster in rapid succession, but when I tried `kill -9` locally it didn't cause this.

[2021-07-22 09:50] viliam-durina opened #19153 "Rename the `json` format to `json-flat`"
This is a preparation for further 1st class JSON type: the `valueFormat` can contain either the format (currently `java`, `portable`, `avro` or `json`), or it can contain one of the sql types, such as `varchar`, `int` etc. `json` will be the type name in the future, therefore we need to make room for it and rename the json format to `json-flat`.

[2021-07-22 09:53] viliam-durina opened #19154 "Don't map OBJECT fields in implicitly-resolved IMaps"
In the future we plan to add support for nested fields. This would present an issue for b-w compatibility because we would start resolving to the nested type instead of OBJECT, and user applications could be affected.

One can continue to use OBJECT fields with explicit mappings, but since it's explicit, it won't change even if we introduce nested types.

[2021-07-22 10:43] neilstevenson commented on #19027
Works now. Thanks.

[2021-07-22 10:43] #19027 closed

[2021-07-22 11:14] slavagithub opened #19156 "shorten split-brain test job is failing due to build stage problem"
Shorten split-brain detection job is failing: http://jenkins.hazelcast.com/view/Integration%20Tests/job/shorten-split-brain-detection/
Fail occurred on "Build" stage.

[2021-07-22 14:13] #19127 closed

[2021-07-22 18:53] Prabusrit commented on #17624
@mmedenjak  I'm new to this repo. I would like to work on this, Can I start ?
@kosuruvarunkumar Can you confirm if you are working on this ?

[2021-07-23 06:22] #18807 closed

[2021-07-23 07:33] slavagithub opened #19164 "Exception "Future.complete(Object) on completed future." on the attempt to shut down HZ instance or client."
Exception "Future.complete(Object) on completed future." on the attempt to shut down HZ instance or client.

Reproduces in 30% of attempts.

Steps to reproduce:
1. Form cluster
2. Connect client or member
3. Call hz.shutdown()

Result:
" Future.complete(Object) on completed future" exception in the log. Instance quits after some time finally.

Please see test result:
http://jenkins.hazelcast.com/v

[2021-07-23 07:50] slavagithub opened #19165 "Local node long shut down: "SEVERE: Received partition table update from an unknown member! => Sender: [127.0.0.1]:5701!" error in the log"
Local node long shut down: "SEVERE: Received partition table update from an unknown member! => Sender: [127.0.0.1]:5701!" error in the log
The issue appeared after the local node joins the Docker-based cluster.
It prevents a node from shutting down for a couple of minutes.
Can not reproduce on Jenkins environment! Only on a local laptop!

Steps to reproduce:
1. Start docker cluster with TCP-IP ena

[2021-07-23 08:36] slavagithub opened #19166 ""java.util.NoSuchElementException" exception in the log on attempt to form TCP-IP cluster with incorrect "Public address" configuration. Second node can't start"
`java.util.NoSuchElementException` exception in the log on an attempt to form TCP-IP cluster with incorrect "Public address" configuration. The second node can't start

Steps to reproduce:
1. Set up  hz_1 node to use TCP-IP and  "Public IP"  set to 172.28.1.2. but the actual IP is 172.28.1.1
2. Set up hz_2 tries to use TCP-IP with member 172.28.1.1
3. Start instances

ACTUAL RESULT:
hz_1: "java.ut

[2021-07-23 08:51] mmedenjak commented on #18698
Looks like neither Neil nor Jaromir opened it. I'm out of ideas. I suggest that if when Ayberk comes back next week and if we can't remember who's the author to check - just close it.

[2021-07-23 09:01] #18962 closed

[2021-07-23 12:23] mmedenjak commented on #17624
Hey @Prabusrit ! You can fork the [Hazelcast repo](https://github.com/hazelcast/hazelcast) - https://docs.github.com/en/get-started/quickstart/fork-a-repo. After that, you create a branch and make the necessary changes and finally you can [submit a PR](https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request). We'l

[2021-07-23 14:08] #19135 closed

[2021-07-23 18:49] #18911 closed

[2021-07-24 08:23] viliam-durina opened #19171 "Non-smart client cannot execute SQL if connected to a shutting-down member"
Non-smart clients have only 1 connection available. If that connection happens to be to a shutting-down member, SQL queries won't work, but the client will report "no data member found".

This is a follow-up issue of #19169.

[2021-07-24 13:36] slavagithub opened #19172 "Node fails to join cluster if it doesn't know master hostname but the master does."
Node fails to join cluster if it doesn't know master hostname but the master does. Master uses its hostname as connection identifier and node getting " java.net.UnknownHostException" error on join attempt.

Please find **reproducer**: https://github.com/slavagithub/hazelcast-qe/blob/master/platform-it/hostnames-test/runner/src/test/java/com/hazelcast/qe/issues/Issue_6_NodeFailsJoiningClusterAfterM

[2021-07-25 17:53] slavagithub opened #19173 "com.hazelcast.jet.impl.deployment.ChildFirstClassLoaderTest.com.hazelcast.jet.impl.deployment.ChildFirstClassLoaderTest fails on Win Oracke JDK 8"
mater, revafbee062bba410a246fd2b865360fe789824867a
Failed on Windows, Oracle JDK 8
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Windows-OracleJDK8/302/testReport/

Stacktrace:
[code]

Standard output:
[code]

[2021-07-25 17:57] slavagithub opened #19174 "com.hazelcast.jet.impl.deployment.ProcessorClassLoaderCleanupTest.processorClassLoaderRemovedAfterJobFinished fails on Windows, Oracle JDK 8"
mater, revafbee062bba410a246fd2b865360fe789824867a
Failed on Windows, Oracle JDK 8
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Windows-OracleJDK8/302/testReport/

Stacktrace:
[code]

Standard output:
[code]

[2021-07-25 18:14] slavagithub opened #19175 "com.hazelcast.map.impl.query.QueryIndexMigrationTest.testQueryWithIndexDuringJoin"
master, rev afbee062bba410a246fd2b865360fe789824867a

Failed on Oracle 11, Linux
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/937/testReport/com.hazelcast.map.impl.query/QueryIndexMigrationTest/

Stacktrace:
[code]

Standard output:
[code]

[2021-07-25 18:19] slavagithub opened #19176 "com.hazelcast.partition.PartitionDistributionTest.testTenNodes_1111Partitions fails on Oracle 8, Linux"
master, rev afbee062bba410a246fd2b865360fe789824867a

Failed on Oracle 8, Linux
Failed on INSERT_PLATFORM_INFORMATION_HERE: INSERT_LINK_TO_JENKINS_TEST_RESULT_HERE
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/937/testReport/

Stacktrace:
[code]

Standard output:
[code]

[2021-07-26 07:03] #19040 closed

[2021-07-26 07:03] #18822 closed

[2021-07-26 07:17] sancar commented on #19102
@leszko Can you remind me that why smart routing does not work in this case ?
Should not the first member return the public addresses of other members on the member list to the client ?
And the client should decide to use the public addresses via help of `TranslateToPublicAddressProvider` class.

[2021-07-26 07:22] mmedenjak commented on #19174
@frant-hartm can you check this out?

[2021-07-26 07:23] mmedenjak commented on #19173
@frant-hartm can you check this out? Also, I don't see that the test has the appropriate annotations like these:
[code]

[2021-07-26 07:24] mmedenjak commented on #19152
@neilstevenson do you have a reproducer for this?

[2021-07-26 07:25] leszko commented on #19102
For the smart client, we need to expose each hazelcast member pod with a separate kubernetes service. Here they are all exposed via one service, therefore we need to use the unisocket client.

[2021-07-26 07:26] mmedenjak commented on #19164
I believe I've been seeing this for a longer period - even in 4.2. @vbekiaris can you confirm this is a known issue?

[2021-07-26 07:37] mmedenjak commented on #19176
Looks like a duplicate of https://github.com/hazelcast/hazelcast/issues/18838, only on another environment. Closing.

[2021-07-26 07:37] #19176 closed

[2021-07-26 07:38] mmedenjak commented on #18838
Another occurrence - https://github.com/hazelcast/hazelcast/issues/19176#issue-952328475

[2021-07-26 07:53] ufukyilmaz commented on #19001
In this test, there is a race between these two calls: https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/test/java/com/hazelcast/jet/core/TopologyChangeTest.java#L274-L275. The job completes successfully before the member leave event takes effect. It can be reproduced by adding a short sleep to:
https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast

[2021-07-26 07:59] mmedenjak commented on #18771
@gurbuzali can we then close the issue?

[2021-07-26 08:50] olukas opened #19177 "com.hazelcast.internal.server.tcp.TcpServerConnectionManager_MemoryLeakTest.test_connectionCleanedUpWhenClosed_withoutPlaneIndexSet"
_master_ (commit afbee062bba410a246fd2b865360fe789824867a)

Failed on Ibm JDK8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-nightly/10/testReport/com.hazelcast.internal.server.tcp/TcpServerConnectionManager_MemoryLeakTest/test_connectionCleanedUpWhenClosed_withoutPlaneIndexSet/

Stacktrace:
[code]

Standard output:
[code]

[2021-07-26 08:57] vbekiaris commented on #19164
The double completion warning is logged commonly on member/client shut down and it has been this way since 3.x. On shutdown, pending invocation futures are completed exceptionally and it may be the case that another thread completes the future in the meanwhile -> double completion warning is logged. However these warnings are benign and they are not the cause of test failures.

@slavagithub in ord

[2021-07-26 09:02] olukas commented on #19177
Failed also with IBM JDK and and fips: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-fips-nightly/315/testReport/com.hazelcast.internal.server.tcp/TcpServerConnectionManager_MemoryLeakTest/test_connectionCleanedUpWhenClosed_withoutPlaneIndexSet/

[2021-07-26 09:07] olukas opened #19178 "com.hazelcast.map.impl.query.QueryIndexMigrationTest.testIndexCleanupOnMigration[copyBehavior: COPY_ON_READ] [HZ-1850]"
_master_ (commit afbee062bba410a246fd2b865360fe789824867a)

Failed on IBM JDK 8 and fips: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-fips-nightly/315/testReport/com.hazelcast.map.impl.query/QueryIndexMigrationTest/testIndexCleanupOnMigration_copyBehavior__COPY_ON_READ_/

Stacktrace:
[code]

Standard output - no output, only `Metrics recorded during the test`

[2021-07-26 09:09] olukas commented on #16469
Failed with IBM JDK 8 and fips also on `master` branch: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-fips-nightly/315/testReport/com.hazelcast.ringbuffer.impl/RingbufferAddAllReadManyStressTest/whenShortTTLAndBigBuffer/

Stacktrace:
[code]

Standard output (there's one big pause):
[code]

[2021-07-26 09:21] sancar commented on #18615
We need to think about the backward compatibility in more detail(I see no problem as I am writing), but I was thinking the fix it on the IMap level.
More specifically when we say serializationService.toData(inner_array) , Inner[] will be mapped to `PORTABLE_ARRAY` which we will introduce as new root type instead of `OBJECT`.
Same goes for IdentifiedDataSerializable and DataSerializable.

@viliam-d

[2021-07-26 09:29] slavagithub commented on #19164
Sure, make sense. Let me double-check

[2021-07-26 09:32] viliam-durina commented on #18615
@sancar we're discussing exactly this: #19154 :)

[2021-07-26 09:34] mmedenjak commented on #18147
@blazember since the PR for the logging has been merged, how about if we close this one for now?

[2021-07-26 09:36] mmedenjak commented on #18163
Possibly this has the same root cause as https://github.com/hazelcast/hazelcast/issues/8065.

[2021-07-26 09:36] mmedenjak commented on #8065
Possibly this has the same root cause as https://github.com/hazelcast/hazelcast/issues/18163.

[2021-07-26 09:38] mmedenjak commented on #18640
Closing as we have other two issues on the same test class, and I just noticed that the second test ran for a long time as well (`Time elapsed: 152.598 s`) so it might have been also stalled. Also, I suspect we can't fetch the full logs anymore and we can reassess after we've fixed the linked issues.

[2021-07-26 09:38] #18640 closed

[2021-07-26 09:41] mmedenjak commented on #18777
All of these seem related:
https://github.com/hazelcast/hazelcast/issues/18950
https://github.com/hazelcast/hazelcast/issues/18777
https://github.com/hazelcast/hazelcast/issues/18766
https://github.com/hazelcast/hazelcast/issues/18765
https://github.com/hazelcast/hazelcast/issues/18764

[2021-07-26 09:41] mmedenjak commented on #18950
All of these seem related:
https://github.com/hazelcast/hazelcast/issues/18950
https://github.com/hazelcast/hazelcast/issues/18777
https://github.com/hazelcast/hazelcast/issues/18766
https://github.com/hazelcast/hazelcast/issues/18765
https://github.com/hazelcast/hazelcast/issues/18764

[2021-07-26 09:41] mmedenjak commented on #18766
All of these seem related:
https://github.com/hazelcast/hazelcast/issues/18950
https://github.com/hazelcast/hazelcast/issues/18777
https://github.com/hazelcast/hazelcast/issues/18766
https://github.com/hazelcast/hazelcast/issues/18765
https://github.com/hazelcast/hazelcast/issues/18764

[2021-07-26 09:42] mmedenjak commented on #18764
All of these seem related:
https://github.com/hazelcast/hazelcast/issues/18950
https://github.com/hazelcast/hazelcast/issues/18777
https://github.com/hazelcast/hazelcast/issues/18766
https://github.com/hazelcast/hazelcast/issues/18765
https://github.com/hazelcast/hazelcast/issues/18764

[2021-07-26 09:42] neilstevenson commented on #19152
I do have a reproducer, but it's not minimal. Try https://github.com/hazelcast/hazelcast-platform-demos/tree/maintenance/banking/trade-monitor/hazelcast-node (in the `maintenance` branch, and just change from `5.0-BETA-1` to `5.0-SNAPSHOT`).

I think all you really need is `com.hazelcast:hazelcast:5.0-SNAPSHOT` and `com.hazelcast:hazelcast-kubernetes:jar:2.2.3`
and
[code]

[2021-07-26 09:42] mmedenjak commented on #18765
All of these seem related:
https://github.com/hazelcast/hazelcast/issues/18950
https://github.com/hazelcast/hazelcast/issues/18777
https://github.com/hazelcast/hazelcast/issues/18766
https://github.com/hazelcast/hazelcast/issues/18765
https://github.com/hazelcast/hazelcast/issues/18764

[2021-07-26 09:44] neilstevenson commented on #19152
@mmedenjak Still occurs today, using above mentioned reproduce

[code]

&

[code]

[2021-07-26 09:45] mmedenjak commented on #18764
Also this - https://github.com/hazelcast/hazelcast/issues/18930

[2021-07-26 09:45] mmedenjak commented on #18765
Also this - https://github.com/hazelcast/hazelcast/issues/18930

[2021-07-26 09:45] mmedenjak commented on #18766
Also this - https://github.com/hazelcast/hazelcast/issues/18930

[2021-07-26 09:45] mmedenjak commented on #18930
All of these seem related:
https://github.com/hazelcast/hazelcast/issues/18950
https://github.com/hazelcast/hazelcast/issues/18777
https://github.com/hazelcast/hazelcast/issues/18766
https://github.com/hazelcast/hazelcast/issues/18765
https://github.com/hazelcast/hazelcast/issues/18764

[2021-07-26 09:45] mmedenjak commented on #18950
Also this - https://github.com/hazelcast/hazelcast/issues/18930

[2021-07-26 09:46] mmedenjak commented on #18777
Also this - https://github.com/hazelcast/hazelcast/issues/18930

[2021-07-26 09:48] mmedenjak commented on #18457
Thank you guys for the analysis, closing. If it occurs again, we can evaluate if we can improve it somehow.

[2021-07-26 09:48] #18457 closed

[2021-07-26 09:48] #18607 closed

[2021-07-26 09:53] mmedenjak commented on #18876
@mdumandag @ufukyilmaz since the PR was merged, can we close this issue?

[2021-07-26 09:57] mdumandag commented on #18876
The PR merged shutdowns the leaked clients (they are shown in the logs shared above) but I am not sure if this was the reason behind the failures. This needs further investigation and I will try to start doing that today. So, I think we should let this issue open

[2021-07-26 09:57] mmedenjak commented on #18611
Looks like the test timed out while parsing the config. I suggest we close this one until next failure.

[2021-07-26 09:57] ufukyilmaz commented on #18876
I am also not sure that this leaked client caused this test failure.

[2021-07-26 10:00] mmedenjak commented on #18753
Possibly related to https://github.com/hazelcast/hazelcast/issues/18754

[2021-07-26 10:00] mmedenjak commented on #18754
Possibly related: https://github.com/hazelcast/hazelcast/issues/18753

[2021-07-26 10:02] #18698 closed

[2021-07-26 11:23] mmedenjak commented on #19152
Great, thanks.

[2021-07-26 11:49] mmedenjak commented on #18611
The pauses on the test are really immense, the CPU load is at 100%, clock jumps, multiple tests failing, everything. Closing since there's nothing we can do really. If it happens again, we have to evaluate how to decrease the loads on the machines.

[2021-07-26 11:49] #18611 closed

[2021-07-26 11:50] ufukyilmaz commented on #19085
Closing since it is duplicate of https://github.com/hazelcast/hazelcast/issues/18753 and https://github.com/hazelcast/hazelcast/issues/18754

[2021-07-26 11:50] #19085 closed

[2021-07-26 11:58] ahmetmircik commented on #17265
closing this based on https://github.com/hazelcast/hazelcast/issues/17265#issuecomment-862988422

[2021-07-26 11:58] #17265 closed

[2021-07-26 13:20] #18777 closed

[2021-07-26 13:20] #18950 closed

[2021-07-26 13:20] #18764 closed

[2021-07-26 13:20] #18765 closed

[2021-07-26 13:20] #18766 closed

[2021-07-26 13:20] #18930 closed

[2021-07-26 13:30] AyberkSorgun commented on #18412
Related ZD Ticket: [7186](https://hazelcast.zendesk.com/agent/tickets/7186)

[2021-07-26 13:37] mmedenjak commented on #18738
Thank you for the nice analysis @fbarotov . I'll close this issue as it's an environment cause, and there's very little we can do in our codebase really. A similar test failure was [here](https://github.com/hazelcast/hazelcast/issues/18611). But inspired by [this article](https://eng.uber.com/handling-flaky-tests-java/), I'm really wondering if we can improve on the current situation. First, I'm c

[2021-07-26 13:37] #18738 closed

[2021-07-26 16:40] viliam-durina opened #19183 "Race between starting Jet and activating it"
In `JetExtension`, the `activated` field is set in `afterStart`. Reckoning from the name, it happens some time after the start. But in the meantime, a job can be submitted and it fails with `Jet is disabled because the current cluster version is less than 5.0` - a very misleading error because I started only 5.0 members.

[2021-07-26 17:42] bastrich commented on #9467
+ 1

[2021-07-26 17:43] bastrich commented on #9467
`+ 1

[2021-07-26 18:53] ahmetmircik commented on #19108
(related/linked issues: https://github.com/hazelcast/hazelcast/issues/10975)

Seems the cause is expirations(ttl). Currently we don't generate near-cache invalidations if cause of removal is expiry. Near-cache also has ttl configuration and it can be set to fix this.

[2021-07-27 06:10] olukas opened #19185 "com.hazelcast.jet.impl.deployment.ProcessorClassLoaderCleanupTest.processorClassLoaderRemovedAfterJobFinished"
_**This test failure can be related to https://github.com/hazelcast/hazelcast/issues/19174**_

_master_ (commit 7f1578b3b1da096f6e2c4e95da94c495816fa9b5)

Failed on Zulu JDK 16: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZuluJDK16/37/testReport/com.hazelcast.jet.impl.deployment/ProcessorClassLoaderCleanupTest/processorClassLoaderRemovedAfterJobFinished/

Stacktrace:
[

[2021-07-27 06:21] olukas commented on #19175
Failed again on Sonar build (Oracle JDK 11): http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/939/testReport/com.hazelcast.map.impl.query/QueryIndexMigrationTest/

[2021-07-27 06:22] olukas commented on #18837
Failed on `master` branch on Sonar build (Oracle JDK 11) => moving to `5.0` milestone: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/939/testReport/com.hazelcast.cp.internal/CPMemberAddRemoveTest/when_cpMembersShutdownConcurrently_then_theyCompleteTheirShutdown/

Stacktrace:
[code]

[2021-07-27 08:52] ahmetmircik commented on #18612
This is a simple test and has not failed for a long time. There are many unexpected long pauses in the test logs like 30 seconds, ongoing merge of code bases may be a reason to failures for that time. Now test is not failing. Closing the issue.

[2021-07-27 08:52] #18612 closed

[2021-07-27 09:23] slavagithub commented on #19164
@vbekiaris please find a log with stack trace:
[awaitility-thread] ERROR com.hazelcast.qe.HostnamesTest - Sanity chek failed:
com.hazelcast.core.HazelcastException: java.lang.InterruptedException
	at com.hazelcast.internal.util.ExceptionUtil.lambda$static$0(ExceptionUtil.java:56)
	at com.hazelcast.internal.util.ExceptionUtil.peel(ExceptionUtil.java:134)
	at com.hazelcast.internal.util.ExceptionUti

[2021-07-27 10:00] #18694 closed

[2021-07-27 10:28] #18876 closed

[2021-07-27 12:05] ufukyilmaz commented on #19177
It is constantly failing after #18591 is merged. It's getting`ArrayIndexOutException` in
https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java#L115
since `planeIndex` of ConnectionManager is -1 in this test. See the case that tested in the test:
https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/te

[2021-07-27 12:13] Danny-Hazelcast opened #19188 "Internal Error (classLoader.cpp:1217), pid=1983, tid=1984 guarantee(JImageResourcePath != NULL) failed: function JIMAGE_ResourcePath not found"
did we hit a jvm bug ?

http://jenkins.hazelcast.com/view/hot-restart/job/hot-snapshot/176/console

/disk1/workspace/hot-snapshot/5.0-SNAPSHOT/2021_07_27-11_35_21/snapshot

[code]

hazelcast-use git@github.com:vbekiaris/hazelcast.git fixes/5.0b/beta-test-failures git@github.com:vbekiaris/hazelcast-enterprise.git fixes/5.0b/beta-test-failures

[code]

[code]

[2021-07-27 12:20] Danny-Hazelcast commented on #19188
maybe related ?

passing run
http://jenkins.hazelcast.com/view/hot-restart/job/hot-bounce/321/console

failing run
http://jenkins.hazelcast.com/view/hot-restart/job/hot-bounce/322/console

/disk1/workspace/hot-bounce/5.0-SNAPSHOT/2021_07_27-11_58_41/bounce

fail HzMember3HZ java.lang.IllegalStateException: Node failed to start!

[code]

[code]

[2021-07-27 13:11] #19143 closed

[2021-07-27 14:19] #19087 closed

[2021-07-27 14:24] dbrimley opened #19192 "Hazelcast 5.0-BETA-1 fails to start on MacOS"
**Describe the bug**
1. Downloaded the hazelcast 5.0-BETA-1 zip file.
2. start a member using bin/hz-start using the default XML files in /config

Error is thrown to the console...

[code]

[logs.txt](https://github.com/hazelcast/hazelcast/files/6886259/logs.txt)

I am using

Java 8 on MacOS Catalina v 10.15.7

I downloaded the latest 4.2.1 and used `start.sh` and it works fine.

[2021-07-27 14:38] Danny-Hazelcast commented on #19188
java updated in aws AMI updated while starting jvm

[2021-07-27 14:38] #19188 closed

[2021-07-27 15:10] mtyazici opened #19193 "Auto Discovery for AWS Discovery Plugin Does not work for some instances"
**Describe the bug**
I created an EC2 instance using Terraform's `ec2_instance` module. It did not have the file `/sys/hypervisor/uuid`. So when we use the auto discovery feature of Hazelcast, the members will not be using the AWS Discovery Plugin. This should not be very common and its reason might be the AMI I am using.

**Expected behavior**
AWS instances should have `/sys/hypervisor/uuid` for

[2021-07-27 15:19] neilstevenson commented on #19192
Related - https://github.com/hazelcast/hazelcast/issues/18941

[2021-07-28 06:55] olukas commented on #18656
Reopening this issue for `4.2.z` branch, it failed on that branch on Sonar build (Oracle JDK 8): http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-sonar/879/testReport/com.hazelcast.client.cache.instance/ClientCacheThroughHazelcastInstanceTest/getCache_whenOwnerInstanceIsShutdown_thenOperateOnCacheFails/

It can be probably fixed by backporting https://github.com/haze

[2021-07-28 07:02] mmedenjak commented on #18941
Closing this in favour of https://github.com/hazelcast/hazelcast/issues/19192, which has more logs and info and is basically the same issue.

[2021-07-28 07:02] #18941 closed

[2021-07-28 07:05] mmedenjak commented on #19192
possibly related to changes in 5.0 - https://hazelcast.slack.com/archives/C034YQBTG/p1624345987229400?thread_ts=1624264124.217600&cid=C034YQBTG

[2021-07-28 07:28] #19044 closed

[2021-07-28 07:28] olukas opened #19196 "hz-cli submit works incorrectly with relative path"
Script `hz-cli submit` doesn't work properly with relative path. If the script is called from different directory (like `./bin/hz-cli`) then `bin` directory is taken as root for relative path instead of directory from where the script is called.

This is regression for Jet 4.5 and also jet 5.0-BETA-1. In those versions it used current directory as root for relative path.

Behavior in current maste

[2021-07-28 07:47] gurbuzali commented on #19113
we periodically (5 seconds) scan the maps to clear the ones belonging to the finished jobs. this scanning does not take too much time and it is not the one keep increasing. around 80-100 maps are found at each scan, at the beginning the cleaning part takes around 600ms, each map#destroy around 3-8ms. after couple of hours (15-20) in the test, each map#destroy increases to 200-300ms thus whole clea

[2021-07-28 08:30] slavagithub commented on #19192
java 8, MacOS 10.14.6
The same exception but node is correctly started:
Members {size:1, ver:1} [
	Member [10.212.134.150]:5701 - 2c39d798-e878-4bde-85c5-8fd557fca936 this
]

2021-07-28 11:27:26,267 [ INFO] [main] [c.h.i.i.JetExtension]: [10.212.134.150]:5701 [dev] [5.0-BETA-1] Jet is enabled
2021-07-28 11:27:26,269 [ INFO] [main] [c.h.c.LifecycleService]: [10.212.134.150]:5701 [dev] [5.0-BETA-1]

[2021-07-28 08:54] dbrimley commented on #19192
@slavagithub What happens when you try to form a cluster with a second node.  I found it started ok, but then wouldn't form a cluster.

[2021-07-28 09:00] gierlachg opened #19202 "NPE while creating flow control packet"
[code]

[2021-07-28 09:03] slavagithub commented on #19192
@dbrimley the same - secod note is started but cluster is not formed!

[2021-07-28 09:16] slavagithub opened #19203 "Node fails to start if it has member configured to its public interface and public address is set to its second public interface"
Node fails to start if it has member configured to its public interface and public address is set to its second public interface
 **Steps to reproduce**
1. Assume your host has 172.28.1.1 and 172.29.1.1 IPs
2. Setup configuration:
_hazelcast:
  cluster-name: hostname-test
  network:
    public-address: 172.28.1.1:5701
    join:
      multicast:
        enabled: false
      tcp-ip:
        enabled:

[2021-07-28 09:26] Holmistr commented on #19156
@slavagithub Could you please elaborate on what's happening? The description above is not describing anything and the logs from the Jenkins job will disappear after a while.

Putting this into backlog until a proper issue description is provided.

[2021-07-28 09:28] Holmistr commented on #19137
@neilstevenson Could you please verify whether this is a regression in 5.0 or it was present in 4.x as well?

[2021-07-28 10:02] neilstevenson commented on #19137
@Holmistr It occurs also with 4.2.1, but was only revealed by 5.0 Management Center

[2021-07-28 10:12] mdumandag opened #19206 "com.hazelcast.map.EvictionMaxSizePolicyTest.testPerNodePolicy_afterGracefulShutdown"
Failed on PR builder against 4.2.z http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/6374/testReport/junit/com.hazelcast.map/EvictionMaxSizePolicyTest/testPerNodePolicy_afterGracefulShutdown/

Stacktrace:
[code]

Standard output:
[code]

[2021-07-28 10:24] srknzl opened #19207 "SqlClientService.execute might throw RuntimeException and this is not documented"
**Describe the bug**
(Close this issue if RuntimeExceptions are generally not documented in Java)

SqlClientService.execute might throw RuntimeException and this is not documented

If there are more than 2 distinct member versions, memberOfLargerSameVersionGroup will throw RuntimeException. And since `getQueryConnection` is not in the try block, it will throw a RuntimeException instead of Hazelcas

[2021-07-28 12:02] #19196 closed

[2021-07-28 12:06] gierlachg opened #19209 "NPE in Processor.close()"
[code]

[2021-07-28 12:22] viliam-durina commented on #19209
`ProcessorTasklet.close()` called from non-processor thread. I can imagine this happening only if the processor thread was concurrently running this tasklet, but that should not happen.

Any chance you have a reproducer? Or a thread dump?

[2021-07-28 12:22] PavloBida opened #19210 "Change SQL naming for tables in information_schema.mappings from 'mapping' to 'table'"
Currently we have an inconsistency between information_schema.mappings and information_schema.columns.
Tables are called ‘mapping’ in  information_schema.mappings while they are called ‘table’ in information_schema.columns.
According to [this](https://hazelcast.slack.com/archives/CJZ745RRT/p1627472930158500) thread, @viliam-durina suggested to switch the naming in favour of 'table'.
The implemento

[2021-07-28 12:27] viliam-durina opened #19211 "SqlUpdateTest failure"
_master_ (commit a26822d3ffd6ec5357d49f0fbeb2cc53eea469ba)

Failed on PR builder: http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/6384/testReport/junit/com.hazelcast.jet.sql.impl.connector.map/SqlUpdateTest/when_updateUnknownMapping_then_fails/

Stacktrace:
[code]

[2021-07-28 12:28] gierlachg commented on #19209
Unfortunately, experienced just once so far while testing one thing so don't have neither of them...

[2021-07-28 12:47] #19183 closed

[2021-07-28 13:02] gierlachg commented on #19211
Parsing with `JetSqlBackend` must have failed for some reason that's why we observe _IMDG_ error. Unfortunately, we don't log such errors...

[2021-07-28 13:32] mmedenjak commented on #18690
@ahmetmircik moving this to 5.1 since I don't see this as a critical item for a patch release and 5.0 is already packed. If there's a simple way to address this, feel free to send a PR to both 5.0 and 4.2.z.

[2021-07-28 14:52] ahmetmircik commented on #19192
with jdk-15.0.1, i see no error and nodes form cluster.

[2021-07-29 06:25] #19202 closed

[2021-07-29 06:36] viliam-durina commented on #19207
This RuntimeException is essentially an assertion. I never expect the cluster to contain more than 2 versions (we ignore the patch version). I believe the join algorithm allows only members with the cluster version or cluster version+1 to join. If it allowed v+2, this error could be thrown.

It's certainly not something the user should be aware of or be able to deal with.

[2021-07-29 06:36] #19207 closed

[2021-07-29 06:55] sancar commented on #14071
@huseyinbabal I have run a test with 4.2.2 and TLS enabled. It worked without a problem.

[2021-07-29 06:59] viliam-durina commented on #19211
@gierlachg to me it looks like the `test_map`, used also in other tests, wasn't properly or fully destroyed in some previous test. It was supposed to not exist, but it did exist, but had no data. We need to check the full test log to see if there's any preceding error.

[2021-07-29 07:06] huseyinbabal commented on #14071
We don't have SSL problems in up-to-date versions, you can close. Thanks

[2021-07-29 07:07] #14071 closed

[2021-07-29 07:10] gierlachg commented on #19211
If you suspect cleanup issues, here's another one #18644.

[2021-07-29 08:08] sancar commented on #17136
Hi Joseph(@kwart ), it has been long time since I can take a look at this again.

If we don't allow a client to connect to an address(hostname:port) after a authentication problem, this means that client will never again try to connect to that address during its lifetime, right ?

[2021-07-29 08:16] #19210 closed

[2021-07-29 08:29] Holmistr commented on #19137
I see. In that case, I'm moving the milestone to 5.0.1 as it's not a regression and we want to lmit the scope of 5.0 as much as possible.

[2021-07-29 08:32] olukas commented on #18724
Moving to `5.0` milestone since it failed also on `master` on Windows with Oracle JDK 8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Windows-OracleJDK8/303/testReport/com.hazelcast.internal.util.phonehome/PhoneHomeIntegrationTest/testMapLatenciesWithMapStore/

Stacktrace:
[code]

Standard output:
[code]

[2021-07-29 08:36] olukas opened #19217 "com.hazelcast.jet.sql.impl.connector.file.SqlHadoopTest fails on Windows"
_master_ (commit 32704520c0533d4d945e41b0d17e396c0e161583)

Failed on Windows on Oracle JDK8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Windows-OracleJDK8/303/testReport/com.hazelcast.jet.sql.impl.connector.file/SqlHadoopTest/com_hazelcast_jet_sql_impl_connector_file_SqlHadoopTest/

Stacktrace:
[code]

Standard output:
[code]

[2021-07-29 10:38] ihsandemir commented on #18579
It looks like attribute is unused for Java but fo non-java clients, we did not apply this change, can you add tag `All Clients Should Check` so that issues are created in other repos?

[2021-07-29 12:15] gierlachg opened #19220 "Remove SortCombine vertex from IMap index scan for DAGs without sorting"
In case of index scan over `SORTED` index, `IMapSqlConnector` always inserts a `SortCombine`(aka `OrderedMerge`) vertex which is actually needed only if sorting is used. Otherwise, it's not needed and could be removed improving overall performance.

[2021-07-29 12:30] neilstevenson opened #19221 "NPE from SQL"
Using 5.0-BETA-1, the following code throws a NullPointerException

[code]
classpath is
[code]

With 5.0-BETA-1 I get
[code]

5.0-SNAPSHOT (`20210729 - 12d65bd`) gives a different error
[code]

`CREATE` isn't listed, so not sure if this is a true defect or due to beta changes

[2021-07-29 13:04] robinroos commented on #19134
Hi @mmedenjak - I do not have a pre- 5.0 incarnation of this to compare with.  It certainly seems that the Cache is ready before the Executor service is ready, and the split-brain rule is satisfied.  This caused the tasks for map loading to be submitted before all of the Executor services were ready, so only one or two nodes actually picked up tasks for execution.

[2021-07-29 13:27] sancar commented on #14641
I have investigated the client logs. The client did not stop operating but individual operations get OOME error. There are nothing to be done on the client side as a fix.

The possibility of getting Native OOME errors are reduced in 4.2 series.
See https://github.com/hazelcast/hazelcast-enterprise/pull/3901

From 4.2, this will no longer be a problem. I am closing this issue.

[2021-07-29 13:27] #14641 closed

[2021-07-29 13:29] sancar commented on #18579
@ihsandemir I have I accidentally put it to fixing pr rather than the issue. In order not to create duplicate issues, I will not add the tag here as well.

[2021-07-29 13:56] neilstevenson commented on #19221
For 5.0-SNAPSHOT, Jet is disabled, added
[code]

[2021-07-29 13:56] #19221 closed

[2021-07-29 13:57] mmedenjak commented on #19152
More discussion - https://hazelcast.slack.com/archives/C0356BG4R/p1627552634289300

[2021-07-29 14:57] gierlachg opened #19223 "Optimize indexed IMap ORDER BY limit-offset queries"
Following query:
[code]
over an indexed `IMap`, results in:
[code]

While it could be optimized to an index scan.

[2021-07-30 04:53] ubergeek801 opened #19225 "Support broadcast-join transformation in Jet Pipeline API"
**Please describe the problem you are trying to solve**

_I have already implemented the described functionality and am ready to submit a PR at the appropriate time. At @mtopolnik's request I am initiating the process with an Issue to facilitate further discussion._

Consider a scenario in which there are two streams:
1. A stream of transactions against various stock portfolios
2. A stream of stoc

[2021-07-30 05:20] ubergeek801 opened #19226 "Support incremental-join transformation in Jet Pipeline API"
**Please describe the problem you are trying to solve**

_I have already implemented the described functionality and am ready to submit a PR at the appropriate time. At @mtopolnik's request I am initiating the process with an Issue to facilitate further discussion._

It is not unusual for a keyed flat-mapping operator to process events which have different shapes (types) but share the same key. Wh

[2021-07-30 12:07] viliam-durina commented on #19217
We could fix it by extending `HadoopTestSupport` where it's handled, but we can't extend two classes. Maybe we can refactor the code to some util class that's more flexible.

[2021-07-30 12:10] olukas commented on #19131
Solaris is supported on a one-off, best effort, case-by-case basis => closing this test failure.

[2021-07-30 12:10] #19131 closed

[2021-07-30 12:10] olukas commented on #19079
Solaris is supported on a one-off, best effort, case-by-case basis => closing this test failure.

[2021-07-30 12:10] #19079 closed

[2021-07-30 12:11] olukas commented on #18763
Solaris is supported on a one-off, best effort, case-by-case basis => closing this test failure.

[2021-07-30 12:11] #18763 closed

[2021-07-30 12:11] olukas commented on #18762
Solaris is supported on a one-off, best effort, case-by-case basis => closing this test failure.

[2021-07-30 12:11] #18762 closed

[2021-07-30 12:11] olukas commented on #18761
Solaris is supported on a one-off, best effort, case-by-case basis => closing this test failure.

[2021-07-30 12:11] #18761 closed

[2021-07-30 12:11] olukas commented on #18760
Solaris is supported on a one-off, best effort, case-by-case basis => closing this test failure.

[2021-07-30 12:11] #18760 closed

[2021-07-30 12:11] olukas commented on #18759
Solaris is supported on a one-off, best effort, case-by-case basis => closing this test failure.

[2021-07-30 12:11] #18759 closed

[2021-07-30 12:12] olukas commented on #18758
Solaris is supported on a one-off, best effort, case-by-case basis => closing this test failure.

[2021-07-30 12:12] #18758 closed

[2021-07-30 12:41] ufukyilmaz commented on #18838
This test is failing because there is a race in the test on between:
[ArrayBlockingQueue offer](https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/test/java/com/hazelcast/partition/PartitionDistributionTest.java#L185) and [ArrayBlockingQueue poll](https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/test/java/com/hazelcast/partition/PartitionDistributionTest.java#L199) he

[2021-07-30 12:46] #19039 closed

[2021-07-30 12:48] ahmetmircik commented on #19206
Assertion is problematic, it should be relaxed a bit.

[2021-07-30 13:02] #18579 closed

[2021-07-30 13:02] olukas opened #19232 "Incorrect submission time for light jobs"
Incorrect submission time is shown for light jobs when `./hz-cli list-jobs` is called:
[code]
`0692-1e4f-1500-0001` is common job, rest of the jobs are light jobs

[2021-07-30 14:44] #15316 closed

[2021-07-30 14:54] #19232 closed

[2021-07-30 14:56] viliam-durina commented on #17460
again: http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/6428/testReport/junit/com.hazelcast.map/IndexStatsChangingNumberOfMembersTest/testIndexStatsOperationChangingNumberOfMembers_format_OBJECT_/

[2021-08-02 05:52] #18838 closed

[2021-08-02 06:15] mmedenjak commented on #19226
@ubergeek801 thank you for the suggestion. @gurbuzali @viliam-durina can you assess the priority of this and help with getting this merged?

[2021-08-02 06:16] mmedenjak commented on #19225
@ubergeek801 thank you for the suggestion. @gurbuzali @viliam-durina can you assess the priority of this and help with getting this merged?

[2021-08-02 06:20] mmedenjak commented on #19221
@neilstevenson did you not get the error that you should enable jet even with the latest snapshot? Did you guess that you needed to enable jet? I would like for the error to be clear.

[2021-08-02 06:28] mmedenjak opened #19239 "Cannot enable Jet Engine with client permissions"
Migrated from https://hazelcast.atlassian.net/browse/HZ-487

I am getting NPE during 5.0-SNAPSHOT startup within Java context with Jet Engine enabled as below;
[code]

When I check related code line, I see client permission name is compared by a constant, but not all client permissions have a name;
[code]

I am using following notation for client permissions;
[code]

[2021-08-02 06:36] china-silence-chen commented on #19108
But according to the document description:

[2021-08-02 07:01] #19151 closed

[2021-08-02 07:29] Fly-Style opened #19240 "Replace IMDG's SqlTest support with Jet's one."

[2021-08-02 08:33] mmedenjak commented on #18408
@sancar can you check out the reproducer mentioned above?

[2021-08-02 08:40] mmedenjak commented on #19086
@vbekiaris I remember you saw this issue on slack before, do you know if it has already been addressed?

[2021-08-02 08:42] gurbuzali commented on #18771
yes we can close it

[2021-08-02 08:42] #18771 closed

[2021-08-02 08:43] mmedenjak commented on #19239
@gurbuzali is this a duplicate of https://github.com/hazelcast/hazelcast-enterprise/issues/4145?

[2021-08-02 08:48] gurbuzali commented on #19239
@mmedenjak yes

[2021-08-02 08:58] ahmetmircik commented on #19108
Seems docs must be fixed. Expiration and eviction don't generate near-cache invalidations.

[2021-08-02 10:33] shahidbits opened #19242 "Memory for Others reaches 100% and brings down the cluster (v4.2)"
**Describe the bug**
We are using Hazelcast (v4.2) as a cache solution. We are using only IMap data structure to store the data.

In Management Center, we are seeing the Map memory is less than 5% and "Others" is taking upto 90% of the heap memory. The value for Others fluctuates between 50 and 90.

We are not able to understand what is it taking this much memory. This sometimes brings down the cl

[2021-08-02 10:45] srknzl opened #19243 "Document `hazelcast.invalidation.min.reconciliation.interval.seconds`"
I wonder why `hazelcast.invalidation.min.reconciliation.interval.seconds` property is not documented in system properties. Also in RepairTask there is a [comment](https://github.com/hazelcast/hazelcast/blob/fb720d9e7f4b7643c31fdb61e9b83b6ca8ecc552/hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/RepairingTask.java#L67) above the property: `// only used for testing`, howev

[2021-08-02 11:01] #19243 closed

[2021-08-02 11:10] kwart commented on #16651
Closing this issue for now. Feel free to reopen if you experience the issue in Hazelcast 5.0 which should be released in the next months.

**Notes**
* The logic will be improved in Hazelcast 5 by fixing some hostnames related issues.
* Explicitly defined port numbers without autoincrement allowed is a safe way to avoid loopback binds (to self).

[2021-08-02 11:10] #16651 closed

[2021-08-02 12:10] ahmetmircik commented on #19242
Could you please share a runnable-reproducer and a heap-dump of incident? I did a small run based on the issue description and there seems everything is ok.

[2021-08-02 13:22] sancar commented on #18408
This is the important part for me. In this case, we have a class `PersonExternalizable` and its serializer can change depend on who is put first.

if order is as follows:
map.put(1, new PersonExternalizable())
map.put(1, new PersonSerializable())

PersonExternalizable will be serialized as `Externalizable`

And if it is as follows:
map.put(1, new PersonSerializable())
map.put(1, new PersonExternal

[2021-08-02 14:46] vbekiaris commented on #19086
No, it's not yet addressed. It affects 4.2->5.0 rolling upgrade, so should be resolved for GA.

[2021-08-02 15:38] kwart commented on #19192
The problem here is that the `MulticastSocket.setInterface` is not called. It can be workarounded by setting the attribute value `loopbackModeEnabled` to `false` (in multicast join configuration). Or by forcing the call by using the System property `-Dhazelcast.multicast.socket.set.interface=true`

The simplest fix could be to change the `MulticastConfig.DEFAULT_LOOPBACK_MODE_ENABLED` value to `fa

[2021-08-03 07:45] frant-hartm commented on #19113
I have couple more observations:

- after some time most map#destroy operations take ~ hundredths ms to complete, however, some take much longer even more than 2 seconds, there is no full GC in any member that could be correlated with that
- we have a roughly constant number of jobs submitted, it fluctuates between 20 - 40 / s - some jobs are faster to complete, some take longer, once the cluster

[2021-08-03 08:08] mdumandag opened #19253 "com.hazelcast.jet.impl.JobRepositoryTest.test_maxNumberOfJobResults"
Failed on PR builder http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/6468/testReport/junit/com.hazelcast.jet.impl/JobRepositoryTest/test_maxNumberOfJobResults/ but I am able to reproduce this in the master as well, simply by running the test couple of times.

Stacktrace:
[code]

Standard output:

[code]

[2021-08-03 08:18] ramizdundar commented on #18982
This is fixed in https://github.com/hazelcast/hazelcast/pull/18999 just to point it out if someone wants lo take a look.

[2021-08-03 08:29] mdumandag commented on #1325
another failure http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/6468/testReport/junit/com.hazelcast.map/BackupTest/testBackupPutWhenOwnerNodeDead/

Stacktrace
[code]
Standard Output
[code]

[2021-08-03 08:36] kwart commented on #17136
Yes, I would expect so. I think the fail-fast approach is usually the best. I'm fine with retrying when there is a network issue for instance. But the authentication failure means either wrong credentials or a misconfiguration somewhere. We could have a configuration option that would do the repeated tries for these types of problems, but I wouldn't have it enabled by default.

I would personally

[2021-08-03 09:25] yamanogluberk commented on #19253
I had the same one: http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/6466/testReport/junit/com.hazelcast.jet.impl/JobRepositoryTest/test_maxNumberOfJobResults/

Stacktrace:

`java.lang.AssertionError: expected:<2> but was:<3>
	at org.junit.Assert.fail(Assert.java:89)
	at org.junit.Assert.failNotEquals(Assert.java:835)
	at org.junit.Assert.assertEquals(Assert.java:647)
	at org.junit.Assert.ass

[2021-08-03 09:26] #19211 closed

[2021-08-03 09:33] sancar commented on #17136
@cangencer @kwart . We have discussed this within the API's team and here are the outcomes.

1. Authentication exception seems like an permanent failure per address from one perspective but an address pair does not mean the same hazelcast member always(in places like kubernetes, same address can be mapped to a different pod)

2. Going back to this test we have,
https://github.com/hazelcast/hazelca

[2021-08-03 10:03] #16933 closed

[2021-08-03 10:07] Fly-Style commented on #19042
Hi Serkan @srknzl, thanks for the report.
Honestly, it's our deliberate decision to have strict SQL dialect without any hidden implicit casts. We are mostly following PostgreSQL-like approach for it.

[2021-08-03 10:33] ramizdundar commented on #19253
another one http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/6471/testReport/com.hazelcast.jet.impl/JobRepositoryTest/test_maxNumberOfJobResults/

[code]

[2021-08-03 10:36] #18982 closed

[2021-08-03 11:02] srknzl commented on #19042
Ok, if you can revert the change it will be better for some non-java clients; if you won't, you can close the issue

[2021-08-03 12:07] gurbuzali commented on #19253
failed on my PR too, I've added a fix to it https://github.com/hazelcast/hazelcast/pull/19249/commits/3a96e720a377cd07e72f284d57595e4655505458

[2021-08-03 12:12] #19239 closed

[2021-08-03 13:03] gierlachg commented on #18644
Closing as was unable to reproduce it. Moreover, there was couple of changes around Job management since the failure occurred which might have fixed the issue.

[2021-08-03 14:11] robinroos opened #19256 "5.0-BETA-1 Management Center shows Remote cluster members as 127.0.0.1"
Using Hazelcast Management Center 5.0-BETA-1 against a 4-node cluster (also 5.0-BETA-1) on a remote machine.

Hazelcast connects to the cache.  In the Dashboard page it lists 4 members.  But each is listed as 127.0.0.1 (they are not running locally, but are on a remote machine).  Also, memory and cpu stats are available only for the first member (:5701) and not for the others (:5702-4).

![image](

[2021-08-03 14:14] robinroos commented on #19256
[code]

[2021-08-03 17:42] olukas opened #19257 "getStatus() for job reference of finished light job should throw JobNotFoundException"
When light job is finished then `getStatus()` method should throw `JobNotFoundException`.

Reproducer:
[code]

[2021-08-04 06:50] mmedenjak commented on #19136
Moving out of scope. We could apply the same reasoning to other HZ features that require coordination - WAN replication, CP subsystem and any feature of any data structure which requires coordination between members. We don't validate that the configuration matches (or is compatible) in any case. The only validation that we do is on member join where we assert that the cluster names and partition

[2021-08-04 07:10] mmedenjak opened #19258 "Improve jet disabled error messages"
<img width="843" alt="Screenshot 2021-08-04 at 08 52 13" src="https://user-images.githubusercontent.com/17194871/128137445-ab62f55c-5dec-4c5d-b6af-1e373adbdd94.png">

Here we kind of agreed the messages should be more descriptive - https://hazelcast.slack.com/archives/C01JU7ZJYGP/p1627304404421100.

It would be really great if it was descriptive and concise as the example from Josef here (https://

[2021-08-04 07:15] mmedenjak commented on #1325
I think this is basically a duplicate of https://github.com/hazelcast/hazelcast/issues/18806

[2021-08-04 07:17] mmedenjak commented on #18806
Closing as a duplicate of https://github.com/hazelcast/hazelcast/issues/1325. Basically these tests are almost identical. I don't understand if we really need both tests.

[2021-08-04 07:17] #18806 closed

[2021-08-04 07:39] #19062 closed

[2021-08-04 11:40] alparslanavci commented on #18508
@olamy I tried in my local setup and yes, I also see the same connection closed logs. It looks they are thrown when the container in the test-containers is shut down. The test-containers might be keeping the port open for a small amount of time after the Hazelcast container is terminated. Since the local Hazelcast instance is still up and running, it is still trying to connect to the open port but

[2021-08-04 12:56] Danny-Hazelcast opened #19261 "Failure while executing MigrationInfo Problem while reading IdentifiedDataSerializable, namespace: -18, classId: 6, exception: null EnterpriseDataSerializableSerializer"
sql predicate not returning correct result during 4.2 -> 5.0 RU
http://jenkins.hazelcast.com/view/rollup/job/rollup-sql/159/console

[code]

/disk1/workspace/rollup-sql/5.0-snapshot/2021_08_04-12_21_50/sql is not a valid command. In Slack, all messages that start

Danny Conlon  3:54 PM
/disk1/workspace/rollup-sql/5.0-SNAPSHOT/2021_08_04-12_21_50/sql

[2021-08-04 13:01] Danny-Hazelcast commented on #19261
https://github.com/hazelcast/hazelcast/issues/19086

[2021-08-04 13:01] Danny-Hazelcast commented on #19086
https://github.com/hazelcast/hazelcast/issues/19261

[2021-08-04 13:03] mmedenjak commented on #19261
Closing as a duplicate of https://github.com/hazelcast/hazelcast/issues/19086

[2021-08-04 13:03] #19261 closed

[2021-08-04 13:06] gurbuzali opened #19262 "JobLifecycleMetricsTest#multipleJobsSubmittedAndCompleted"
Failed on PR Builder http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/6502/

Stacktrace:
[code]

Looks like we call `JobExecutionService#completeExecution` twice when an execution is terminated before it began

relevant logs from the test
[code]
First one is called in `JobExecutionService#terminateExecution0` when `executionContext.terminateExecution(mode)` returns false (it means execution w

[2021-08-04 14:03] baphuc1998 opened #19263 "BeanInstantiationException: Failed to instantiate [com.hazelcast.core.HazelcastInstance]"
**Describe the bug**
Hi everyone, I am facing this issue after restarting my pod in Kubernetes. The previous times spring boot was working fine, I was surprised when I got this error for the first time

application.properties:
[code]
hazelcast.xml:
[code]
and dependencies:
[code]
Stack Trace:
[code]

[2021-08-04 14:07] mmedenjak commented on #19002
This is a duplicate of https://github.com/hazelcast/hazelcast-enterprise/issues/2777. All three instances were created in the `WanAddConfigTest.testBouncingClusterAddsWanReplication` test which hanged and didn't clean up its' instances.
[code]

Closing as the issue needs to be addressed there.

[2021-08-04 14:07] #19002 closed

[2021-08-04 17:59] shahidbits commented on #19242
@ahmetmircik Please find the dump here - https://drive.google.com/file/d/1AxlOtgPIbOQZELRypenGBZBN0nKT2cWx/view?usp=sharing

[2021-08-05 04:53] alexworkgit opened #19267 "Not worked map eviction cause OOM, after write big values on many very little values."
**Describe the bug**
How to be in situation when i write big blocks(1MB) on very small block(3BYTE) and memory is fully by limit, eviction not have time to free block and caused OOM. Growing hazelcast.map.eviction.batch.size to upper 1000000 ?

**Expected behavior**
I am want error or exception on map.put when free memory for writing block not founding.
or
Eviction algohritm, thats freeing blocks

[2021-08-05 06:59] #19096 closed

[2021-08-05 08:03] viliam-durina opened #19268 "Improve error message when SQL query times out"
When a query times out, the client gets this exception:
[code]

It should be something like "Query cancelled due to a timeout".

[2021-08-05 08:19] PavloBida opened #19269 "ClientCacheCreateUseDestroyTest"
The following test failing on Zulu JDK 8:
ClientCacheCreateUseDestroyTest.testCache_whenDestroyedByCacheManager

Jenkins build:
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-ZuluJDK8/155/

Error message:
[code]

Stacktrace:
[code]

[2021-08-05 08:22] PavloBida opened #19270 "Failing test HDCompositeIndexQueriesTest"
The following test fails on Openj 9-11:
HDCompositeIndexQueriesTest.testCompositeQueries

Jenkins build:
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-EE-4.maintenance-Openj9-11/44/

Error message:
[code]

Stacktrace:
[code]

[2021-08-05 08:34] #19136 closed

[2021-08-05 08:34] #19258 closed

[2021-08-05 08:51] PavloBida opened #19271 "PostgresCdcNetworkIntegrationTest"
The following test is failing on IbmJDK8-fips-nightly:
PostgresCdcNetworkIntegrationTest.when_databaseShutdownOrLongDisconnectDuringBinlogReading

Jenkins build:
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-fips-nightly/319/

Error messsage:
[code]

Stacktrace:
[code]

[2021-08-05 09:12] #19152 closed

[2021-08-05 09:51] #19192 closed

[2021-08-05 12:19] Fly-Style opened #19273 "SqlNoDeserializationTest doesn't work with Jet engine"

[2021-08-05 12:47] sancar commented on #16669
@ManeeshSharma17 I am closing the issue since we could not hear from you. Feel free to reopen if you have need any futher help.

[2021-08-05 12:47] #16669 closed

[2021-08-05 15:25] ahmetmircik commented on #19242
I see you have many maps 10_000? and jmx was enabled. Can you describe exact usage scenario? Which configurations you use? Again, a reproducer will be more helpful.

[2021-08-05 19:37] #19083 closed

[2021-08-06 06:56] shahidbits commented on #19242
I have simply updated the following file from HZ sample code and using the default client configuration -
hazelcast-code-samples-4.2 > clients > basic > src > main > java > Client.java

Here is the code:

`import com.hazelcast.client.HazelcastClient;
import com.hazelcast.client.config.ClientConfig;
import com.hazelcast.core.HazelcastInstance;

import java.util.concurrent.ScheduledThreadPoolExecuto

[2021-08-06 08:37] Danny-Hazelcast commented on #18408
if there is nothing that can be done to fix the unlucky race condition where the already registered exception is thrown
then we can closes this issue ?

[2021-08-06 11:14] ahmetmircik commented on #19242
Thanks for the reproducer.
I ran it and it seems there is garbage and it extends memory till GC steps in. So `other` part of the chart shows this and it decreases after GC, in my run. Here, source of garbage are metrics and management-center requests which is generated periodically. You can configure metrics collection frequency with `MetricsConfig#setCollectionFrequencySeconds` or even disable th

[2021-08-06 11:49] emre-aydin commented on #19256
Hi @robinroos, can you please share how you configure your cluster on the Management Center?

[2021-08-06 11:55] viliam-durina opened #19281 "Deserialize OBJECT columns in SQL result lazily"
When the result contains OBJECT field and the client doesn't have the class, it fails when iterating such a row. It should fail only when trying to access the OBJECT field.
[code]

[2021-08-06 11:57] robinroos commented on #19256
Here is the config of the "cache-rhel" cluser in Management Center.

![image](https://user-images.githubusercontent.com/13133023/128506914-c9aadbba-b609-40b0-b546-fa27ae1aefa1.png)

[2021-08-06 11:57] emre-aydin opened #19282 "MultiMap put count not incremented when used from client"
**Describe the bug**

When you put a value into a MultiMap from the Java client, put count is not incremented and as a result, Management Center reports 0.

**Expected behavior**
MultiMap put count metric to be incremented and Management Center to report non-zero  value.

**To Reproduce**

Steps to reproduce the behavior:
1. Start a cluster
2. Start a Management Center instance
3. Configure Manage

[2021-08-06 12:01] emre-aydin commented on #19256
@robinroos do you have the Management Center and the members in the same network?

[2021-08-06 12:03] ahmetmircik commented on #19108
I have updated docs: https://github.com/hazelcast/imdg-docs/commit/4de690beccfd745275b7e7ca6d9b3328825e9958

Can we close this issue @china-silence-chen?

[2021-08-06 12:11] robinroos commented on #19256
Management Center is running on my PC host.  I believe this is the same network.  I can ping anl-cmi22 fro my PC host without adding any suffixes to the hostname.

[2021-08-06 13:24] #19086 closed

[2021-08-06 14:11] #18592 closed

[2021-08-06 14:15] mmedenjak commented on #19086
Fix was merged, feel free to retest @Danny-Hazelcast

[2021-08-06 14:15] mmedenjak commented on #19261
Fix was merged, feel free to retest @Danny-Hazelcast

[2021-08-06 14:32] ahmetmircik commented on #19267
Hi @alexworkgit,
JVM heap memory is not managed by Hazelcast. The expected behavior cannot be created for heap. But Hazelcast also has an off-heap storage(we call it HD storage), with that you can have your expected behavior since that HD memory is managed by Hazelcast.

Can you please see if the branch here is working for you also --> https://github.com/hazelcast/hazelcast/issues/15715#issuecomme

[2021-08-06 15:03] #19110 closed

[2021-08-06 20:01] PotatoSpud commented on #18372
@mmedenjak Sorry for the delay.  We actually just moved on to a more flexible solution for use.  Please go ahead and close this issue.  Thank you

[2021-08-06 20:01] #18372 closed

[2021-08-07 13:15] shahidbits commented on #19242
@ahmetmircik Thanks for taking out time and look into it. With metrics disabled, the performance is better during the test. But, after few hours of test completion, the CPU spikes to 100% and brings down the system.

hazelcast-server-config.xml

metrics:
    enabled: false
    management-center:
      enabled: true
      retention-seconds: 10
    jmx:
      enabled: false
    collection-frequency-

[2021-08-08 17:22] ravichappa22 commented on #3752
This is really a big issue as we see most of the windows OS based application servers deployed under folder "Program Files" which has space and they are not converted to replace with %20, but Mac or Linux based working fine, anyone fix this issue or found a work around please suggest, I am at the same problem @mmedenjak @Vampire @pveentjer @idf3d. Error is back with hazelcast 4.2.1

[2021-08-08 17:56] mmedenjak commented on #3752
Probably reintroduced with https://github.com/hazelcast/hazelcast/pull/16851. @ravichappa22 please open an issue with the stack trace or, better yet, submit a PR with the fix.

[2021-08-09 03:21] china-silence-chen commented on #19108
ok! @ahmetmircik

[2021-08-09 06:21] Fly-Style opened #19285 "SqlMapIndexResolutionTest fails with muptiple active instances"

[2021-08-09 06:37] ahmetmircik commented on #19108
Yes, it is.
I'm closing this issue now in favor of https://github.com/hazelcast/hazelcast/issues/10975, you can watch latest state from there.

[2021-08-09 06:37] #19108 closed

[2021-08-09 07:29] alexworkgit commented on #19267
But if memory map full filled by values 3bytes and then iam begin write 1MB values, eviction algorithm free one entrie 3bytes per one write 1MB, memory will be overflowed via short time. I can use hazelcast for only equals size data ? or i will tune "hazelcast.map.eviction.batch.size" to higher and it single solution ?

[2021-08-09 07:43] sancar commented on #18408
There does not seem to have a solution considering the options we have. Closing the issue.

[2021-08-09 07:43] #18408 closed

[2021-08-09 07:57] ahmetmircik commented on #19267
Right we remove 1 entry by default. More or less identical values in length is better fit. But the branch i referenced above tries to remove entries till there is available memory. It is something auto tuned version of `hazelcast.map.eviction.batch.size`. Did you have chance to try it?

[2021-08-09 08:41] Danny-Hazelcast opened #19286 "NullPointerException com.hazelcast.internal.networking.nio.NioOutboundPipeline.executePipeline(NioOutboundPipeline.java:244)"
hit very rare NPE on client site version 4.0

http://jenkins.hazelcast.com/view/Release/job/wan-5-star/130/console
/disk1/workspace/wan-5-star/5.0-BETA-2-SNAPSHOT/2021_08_08-11_02_09/5-star

[code]

[2021-08-09 08:43] Fly-Style opened #19287 "Implement index mismatch check in MapFetchIndexOperation"
https://github.com/hazelcast/hazelcast/pull/19162/files/01a320d45abae66f52bbe6bb0920c3f80e05817c#diff-458a6ae63767f39e577c6667abc51bedca464966cc9aa6ad4ec1b9c053bb60eaR104

https://github.com/hazelcast/hazelcast-enterprise/issues/4198

[2021-08-09 08:47] Danny-Hazelcast commented on #19286
we had this this issue  int 4.2.

https://github.com/hazelcast/hazelcast/issues/16754

[2021-08-09 08:47] Danny-Hazelcast commented on #16754
and in 4.0 https://github.com/hazelcast/hazelcast/issues/19286

[2021-08-09 08:52] alexworkgit commented on #19267
Okey thanks, in the near future try branch.

[2021-08-09 08:56] neilstevenson opened #19288 "hz-cli 5.0-SNAPSHOT exception for Enterprise jar"
Using `hz-cli` compiled from source today.

If my pom.xml has
[code]
job submission works fine.

If my pom.xml has
[code]
(note scope is provided),
then I get this exception
[code]

[2021-08-09 09:40] fbarotov commented on #18799
After the following [persistence enhancement](https://github.com/hazelcast/hazelcast-enterprise/pull/4124/commits/323b35b9f1d4f3aa9587824f75636b2c6a0f291a) by Vassilis, an unexpectedly left node can rejoin the cluster if during its leave the cluster was in `ACTIVE` state. Thus, the failed test case is no longer valid.

[2021-08-09 09:46] mmedenjak commented on #19286
I guess one of these two need to be backported: https://github.com/hazelcast/hazelcast/pull/18363, https://github.com/hazelcast/hazelcast/pull/18364

[2021-08-09 11:09] #19242 closed

[2021-08-09 12:46] sancar commented on #18381
I was searching for a race condition where we can not create proxy, but I haven't found anything. Other than saying "this is caused by proxy creation relies on listeners, and listeners can be lost", I did not find anything else. Closing this as it is a known problem.

[2021-08-09 13:21] robinroos opened #19291 "5.0-BETA-1 Management Center in OpenShift fails to terminate"
I have 5.0-BETA-1 Management Center running as a Stateful Set in OpenShift.

Something is wrong, and an exception is reported.  After this, I am unable to cause the Pod to terminate so that it can be restarted.

[2021-08-09 13:22] robinroos commented on #19291
[code]

[2021-08-09 14:09] mmedenjak commented on #16640
@fbarotov @frant-hartm  not really sure, but I know we did some updates in 5.0, did we switch to slf4j2 or something else, or are we still on JUL?

[2021-08-09 14:51] fbarotov commented on #16640
afaik, jdk logging is still the default on Hazelcast, but on package and zip / tar distributions it is overridden to use slf4j2 / log4j2 when instances are created through (`hz`, `hz-start`) commands

[2021-08-09 15:32] neilstevenson commented on #17603
Fixed in 5.0, `hazelcastInstance.getJet()`

[2021-08-09 15:32] #17603 closed

[2021-08-09 15:37] neilstevenson opened #19294 "Enhancement: make cluster name available to client"
A failover client cannot determine which cluster it is connected to.

A client can do `getCluster()` to get the members, the cluster version, but not the cluster name

[2021-08-10 07:02] #19154 closed

[2021-08-10 07:45] Holmistr commented on #19154
**Relevant discussions**
* https://hazelcast.slack.com/archives/CJZ745RRT/p1628242703046800
* https://hazelcast.slack.com/archives/CJZ745RRT/p1626688087068900

[2021-08-10 07:47] viliam-durina commented on #19154
After discussion we decided to not change this. Reasons:
- Seeing object fields is good for interoperability with Java objects already in maps
- We'll state in the documentation that the user should use explicit mapping using CREATE MAPPING with an explicit column list. Implicit mappings and explicit mappings without the column list are meant for ad-hoc queries.

[2021-08-10 07:47] Holmistr commented on #19154
CC @JakeSCahill :point_up:

[2021-08-10 08:04] Fly-Style opened #19297 "Allow to read HD data without enabled global HD indices"
See `PartitionedMapTableResolver#createTable`

[2021-08-10 10:02] neilstevenson commented on #19102
Still failing on a 3 node cluster on BETA-2

[code]

[2021-08-10 10:03] neilstevenson commented on #19102
@mmedenjak  Can you reopen please, issue is still present

[2021-08-10 10:19] neilstevenson opened #19298 "5.0-SNAPSHOT build failure for Europe/London"
Building from latest on main branch gives an exception on MacOS 11.5, Java 11

I get
[code]

@frant-hartm thinks this can be caused by `-Duser.timezone=Europe/London`

[2021-08-10 10:32] frant-hartm commented on #16640
What @fbarotov says is correct:
- the default logging type for the hazelcast.jar is still `java.util.logging`
- distributions (zip/tar, docker, packages) use log4j version 2, they also package slf4j (there is no such thing as `slf4j2` :-) ) and `log4j-slf4j-impl` so the extensions using slf4j all log via the same logging infrastructure

Imho it doesn't make sense to implement own logger, anyone em

[2021-08-10 11:45] slavagithub opened #19301 "The client fails to connect to the cluster if it doesn't know the hostname of a master [HZ-874]"
The client fails to connect to the cluster if it doesn't know the hostname of a master.
1. Start cluster with master node which knows its IP (for master: add to /etc/hosts line "172.49.1.1 master.host" with actual IP of the node and add to the configuration
member-list:
          - master.host
 )
2. Start the client with the address set to   172.49.1.1 (use actual IP of a master here)
**RESULT**

[2021-08-10 11:52] Holmistr opened #19302 "Support CompactSerializer in SQL"
Provide ability to query maps which have values stored using the new (in Beta state) Compact serialization. Right now it gives:

[code]

[2021-08-10 11:54] #19298 closed

[2021-08-10 12:09] sancar commented on #19301
Ok. We need to be careful with this one. Note that fixing the authentication is not enough. After authentication response, the member will send the member list containing the unknown host-names.
And the client whether it is smart or not, will use those host-names to connect to cluster when needed. In this case, it will fail of course.
So it looks to me add this setup can not be supported with the

[2021-08-10 17:04] pharkinkFD opened #19305 "TTL not working in combination with Max Idle"
**Describe the bug**
For a Map that has a non-zero TTL _and_ a non-zero max-idle, each access event causes the expiration time to move forward with `Math.min(ttlMillis, maxIdleMillis)` (in `ExpirationTimeSetter#calculateExpirationTime`). This effectively overrules the original `EntryView#getLastUpdateTime() + EntryView#getTtl()`

**Expected behavior**
TTL should be unaffected by read access; expir

[2021-08-10 17:36] #19281 closed

[2021-08-11 06:54] mmedenjak commented on #19165
Closing as fixed by https://github.com/hazelcast/hazelcast/pull/19237. @kwart @slavagithub feel free to reopen if this is not the case.

[2021-08-11 06:54] #19165 closed

[2021-08-11 08:22] Danny-Hazelcast opened #19306 "CallerNotMemberException ensureValidMember"
http://jenkins.hazelcast.com/view/shutdown/job/shutdown-aggregate/136/console

HzMember4HZ sz_mapBak1Idx hzcmd.map.validate.Size threadId=0 com.hazelcast.spi.exception.CallerNotMemberException: Not Member! this: [ip-10-0-0-191.ec2.internal]:5701, caller: [10.0.0.177]:5701, partitionId: 0, operation: com.hazelcast.map.impl.operation.MapSizeOperation, service: hz:impl:mapService

output/HZ/HzMember4

[2021-08-11 08:26] Danny-Hazelcast commented on #19306
http://jenkins.hazelcast.com/view/shutdown/job/shutdown-aggregate/137/console

HzMember1HZ idx_mapBak1HDIdx hzcmd.map.SetIndex threadId=0 com.hazelcast.spi.exception.CallerNotMemberException: Not Member! this: [ip-10-0-0-4.ec2.internal]:5701, caller: [10.0.0.159]:5701, partitionId: 1, operation: com.hazelcast.map.impl.operation.AddIndexOperation, service: hz:impl:mapService

output/HZ/HzMember1HZ/

[2021-08-11 08:31] Danny-Hazelcast commented on #19306
http://jenkins.hazelcast.com/view/shutdown/job/shutdown-data-loss/296/console

[code]

[2021-08-11 08:51] cangencer opened #19307 "Confusing error message when can't resolve schema"
The error message "Exception in thread "main" com.hazelcast.sql.HazelcastSqlException: Cannot resolve IMap schema because it doesn't have entries on the local member: myMap"

doesn't make any sense in cloud environment. Consider using something more informative e.g.

"Couldn't resolve schema for map automatically because "myMap"  doesn't contain enough entries. Create an explicit mapping using ..

[2021-08-11 08:51] Danny-Hazelcast commented on #19306
all failing jobs are using HostName in xml config,  switching back over to IP's and all tests pass

[2021-08-11 09:54] ramizdundar commented on #19253
cc @gurbuzali should this be closed now since your PR is merged?

[2021-08-11 10:02] #19253 closed

[2021-08-11 10:16] Danny-Hazelcast commented on #19306
maybe the fails are a bit more random using hostNames and now i have had a few passing runs

[2021-08-11 14:44] mmedenjak commented on #16640
Ok, so I guess there's still some improvements to be done on our side.

Oh no, my ignorance has been exposed! 😄

[2021-08-11 15:13] srknzl opened #19309 "SQL Query with Portable using remote controller "Failed to extract map entry value field `age`""
**Describe the bug**
A nodejs test started to fail.

Test logic:
1. create a client with portable factory
1. add sorted index to the map on age property
1. add 3 students to map with put
1. run query SELECT * FROM mapName WHERE age > ? AND age < ? ORDER BY age DESC  with two longs as params
1. do assertions

Full test code and portable class:

[code]

Portable class:
[code]

Stack trace of Nodejs

[2021-08-11 18:27] srknzl commented on #19309
Update: works on os jar with remote controller, not with enterprise jar. I guess enterprise snapshot jar is old.

[2021-08-11 18:38] srknzl commented on #19309
Related to enterprise jar not being regenerated after an os change, closing

[2021-08-11 18:38] #19309 closed

[2021-08-12 07:01] shahidbits commented on #19242
@ahmetmircik I hope we can use v4.2.2 which has the fix. Correct?

[2021-08-12 08:52] srknzl opened #19313 "Fetch fetches pages in non-full way"
Snapshot commit used: https://github.com/hazelcast/hazelcast/commit/1597aa1fa1fc384cd1d5117788a01e0c41d8cfe6

**Describe the bug**

Normal select queries fetch pages in non-full pages.

**Expected behavior**

I expect only last page to be non-full.

**To Reproduce**

To better debug, change SqlClientResult.java's `private void onNextPage` to be as follows:

[code]

Run latest os snapshot member, t

[2021-08-12 09:44] alexworkgit commented on #19267
How u think i can use https://github.com/ahmetmircik/hazelcast/tree/oomeEviction in production ? as universal size cache without oome ? =)

[2021-08-12 17:19] TomaszGaweda opened #19314 "Enum support for Compact Serializer"
Currently when object serialized has enum fields (or it's an enum itself), an error is thrown:

A custom serializer must be made for each possible enum, which is not very user-friendly. Nice enums are core Java features, it would be great to make them serializable by default.

[2021-08-12 17:39] mmedenjak commented on #19172
@slavagithub you mention [here](https://hazelcast.slack.com/archives/C2MB5V4RW/p1628596433004400?thread_ts=1628595648.003900&cid=C2MB5V4RW) that this is solved with the latest hostname merge. Which PR are you referring to?

[2021-08-13 08:23] Danny-Hazelcast opened #19317 "system property -Dhz.jet.enabled"
system property -Dhz.jet.enabled=true,  is not enabling jet for me ?

[code]

-Dhz.jet.enabled=true  is translated to  hz.jet.enabled: true

also
[code]
is not working

i did not find any logging like this

[code]

[2021-08-13 09:02] Danny-Hazelcast commented on #19317
5.0-SNAPSHOT (20210728 - 9318c55, 8b74bf1)

[2021-08-13 09:19] #19307 closed

[2021-08-13 11:34] Danny-Hazelcast opened #19319 "MapFetchIndexOperation MissingPartitionException NullPointerException SqlExecuteMessageTask.java:95"
/disk1/workspace/split-x2/5.0-SNAPSHOT/2021_08_12-14_58_13/sql/simple-sql

http://jenkins.hazelcast.com/view/split/job/split-x2/36/console

[code]

[code]

[code]

[code]

[2021-08-13 11:39] Danny-Hazelcast commented on #19319
/disk1/workspace/split-x2/5.0-SNAPSHOT/2021_08_12-14_58_13/sql/hd-put-addidx

[code]

[code]

[2021-08-13 11:55] Danny-Hazelcast commented on #19319
[code]

[code]

[2021-08-13 11:57] Danny-Hazelcast commented on #19319
/disk1/workspace/split-x2/5.0-SNAPSHOT/2021_08_12-14_58_13/sql
(base) [ec2-user@ip-10-0-0-252 sql]$ find . -name hangers.txt

also some test hanging at
hzcmd.map.sql.predicate.PersonIdRange.timeStep(PersonIdRange.java:23)

./simple-sql/hangers.txt
./mixed/hangers.txt

[code]

[code]

[2021-08-13 12:13] gierlachg commented on #19313
After disabling `IMDG` engine, (non blocking) `JetQueryResultProducer` Instead of `BlockingRootResultConsumer` iterator is used.
@viliam-durina any idea how we should fix this?

[2021-08-13 12:16] cangencer opened #19320 "Make serializable classes less fragile to small build and implementation changes"
The file - https://github.com/hazelcast/hazelcast/blob/master/extensions/kinesis/src/main/java/com/hazelcast/jet/kinesis/impl/AwsConfig.java#L30

is only marked as `Serializable `without any UUID so it requires a precise build match to be compatible between client/server. It doesn't even work against the distribution if you use `jar-with-dependencies` vs the normal jar.

[2021-08-13 12:17] cangencer opened #19321 "Kinesis Source doesn't fail fast on authentication error"
Kinesis connector (only tried source) doesn't fail fast when there's an authentication error, but instead keeps retrying. This makes it hard to diagnose errors when submitting the job.

[2021-08-13 12:19] cangencer opened #19322 "Resource upload disabled message not helpful"
When job resource upload is disabled, the error message is not very useful. It should be updated like the one when Jet is disabled.

Current message:

```com.hazelcast.jet.JetException: The JobConfig contains resources to upload, but the resource upload is disabled. Either remove the resources from the job config or enabled resource uploading, see JetConfig#setResourceUploadEnabled.```

[2021-08-13 12:21] cangencer commented on #19297
I ran into this issue - get this by default in cloud:

```Cannot query the IMap "symbols" with InMemoryFormat.NATIVE because it does not have global indexes ```

[2021-08-13 14:42] TomaszGaweda opened #19323 "IMap.set not using Compact Serializer"
Tried to use Compact Serialization in my app, but once I call IMap.set, the exception if thrown:
[code]

Expected behaviour: IMap.set should use compact serializer as well, if one is configured.

My serialization configuration is as simple as:
[code]
System: Java 16, Windows 10, IntelliJ IDEA.

Reproduction code:
[code]

Results in:
[code]

[2021-08-13 14:50] sancar commented on #19323
Hi @TomaszGaweda There must be something wrong with the configuration.
This is the most basic setup. It should work. Can you may be share a full reproducer so that we can find the where the problem is ?

[2021-08-13 15:07] TomaszGaweda commented on #19323
Hi @sancar :)

I'm debugging it right now, looks like if type is Serializable, then default Java serialization is used.  When I do ``	.getCompactSerializationConfig().register(clazz);``, then it works for the data classes (still fails on Callables send to all nodes).

[2021-08-13 17:01] slavagithub opened #19325 "com.hazelcast.cluster.TcpIpHostnameJoinTest.test_whenClusterNamesDifferSecondMemberFailsToStart"
master rev 679b99d0eb25620693076a2d2ff32246490b0844

Failed on IBM, Jdk8
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-fips-nightly/322/testReport/

Stacktrace:
[code]
Standard output:
[code]

[2021-08-13 17:04] slavagithub opened #19326 "com.hazelcast.jet.core.SplitBrainTest.when_quorumIsLostOnBothSides_then_jobRestartsAfterMerge [HZ-1826]"
master rev 679b99d

Failed on IBM, Jdk8
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-fips-nightly/322/testReport/

Stacktrace:
[code]

Standard output:
[code]

[2021-08-13 18:52] dmartinsid opened #19327 "Reliable Topic not working as expected"
**Describe the bug**
When a Hazelcast Server publish a message to a reliable topic and this reliable topic have clients in Python and Java occurs the follow bug.
The Python Hazelcast client don't receive the message, but the Java client receive it.
This behavior not occurs to a standard Topic

This bug not occurs if a client Python or client Java publish to that reliable topic, in this scenario al

[2021-08-13 20:10] dmartinsid commented on #19327
* System MacOS
* openjdk version "1.8.0_252" - OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_252-b09) - OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.252-b09, mixed mode)
* Python 3.9.6 (default, Jun 29 2021, 06:20:32) - [Clang 12.0.0 (clang-1200.0.32.29)] on darwin

[2021-08-13 21:28] pivovarit commented on #19317
Tried to replicate in tests, but could not: https://github.com/hazelcast/hazelcast/pull/19324

[2021-08-16 03:44] alexworkgit commented on #19267
Second question how calculate max entiries count for heap with element max size 1MB <eviction eviction-policy="LRU" max-size-policy="PER_NODE" size=" ? ">

[2021-08-16 06:00] kwart commented on #19286
Fixed by #19248

[2021-08-16 06:00] #19286 closed

[2021-08-16 07:20] olukas commented on #16469
Failed with IBM JDK 8 on `4.2.z` branch: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-IbmJDK8-nightly/13/testReport/com.hazelcast.ringbuffer.impl/RingbufferAddAllReadManyStressTest/whenShortTTLAndBigBuffer/

Stacktrace:
[code]

Standard output (there's again one big pause):
[code]

[2021-08-16 07:22] olukas commented on #17533
Reopen since it failed again on `4.2.z` branch with CorrettoJDK8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-CorrettoJDK8/144/testReport/

Stacktrace:
[code]

Standard output:
[code]

[2021-08-16 08:44] mdumandag commented on #19327
Hi @dmartinsid. Thanks a lot for the detailed bug report.

I was able to reproduce this and sent a fix https://github.com/hazelcast/hazelcast-python-client/pull/449, as this is a problem in the Python client-side.

Long story short, reliable topic messages are received as IdentifiedDataSerialiable objects and it has a field for the member address. Clients set this address to `null`, but members se

[2021-08-16 08:44] #19327 closed

[2021-08-16 10:41] #19269 closed

[2021-08-16 11:25] yozank opened #19335 "Remove/rephrase warning log for rebuilding the selector - selectwithfix workaround"
The following warning log looked scary for a customer:

`Recreated Selector because of possible java/network stack bug`

Since it is printed every time the selector is rebuilt, which shows that the workaround did what it is supposed to do, I suggest to remove it altogether or rephrase it something that doesn't contain `bug` word.

[2021-08-16 11:35] TomaszGaweda commented on #19323
Hi @sancar I've included reproduction code. When debugging I discovered that Java Serialization has higher priority than Compact Serialization. I've made proper change in my PR

[2021-08-16 13:59] dmartinsid commented on #19327
Awesome @mdumandag, thank you so much for the quick fix!
Have a great day too!

[2021-08-16 14:09] sancar commented on #19323
@TomaszGaweda Thanks for the pr but Java Serialization is higher priority on purpose. Otherwise it would mean a non-backward compatible change.

[2021-08-16 14:18] TomaszGaweda commented on #19323
I kind of agree, but how it differs from setting other global serializer? If someone used eg. Kryo with SubZero, it was priority no 1. Now she/he wants to switch to Compact and it's just not working, despite declaring in configuration that it should work. It's new global switch, so if user wants backward compatibility, he would stick to compact=false, isn't he?

[2021-08-16 14:27] sancar commented on #19323
The difference is the global serializer will not be enabled by default, by the compact serialization will be enabled by default when it is finalized.

This would mean that a in 5.0  a serializable class was using java serialization. If we made the change that is proposed here, in
5.x(where the compact is finalized) it will serialized via compact serialization. Imagine a 5.0 member working with a 5

[2021-08-16 14:29] TomaszGaweda commented on #19323
Ok, I get it. Is it possible to add some flag for Compact to be new global serializer for every class (just like we can now set global serializer)? For example option `useAsDefault`? If it's ok, I will adjust my PR

[2021-08-16 14:33] sancar commented on #19323
This request came up in the design as well.
We were kind of hesitant to do that because `Compact` can not really serialize every type of class. Example, if there are maps/collections inside users POJO for example it will not work. Giving this option sounds too promising. But this request is still on the table and we may introduce it at the end.

[2021-08-16 14:35] TomaszGaweda commented on #19323
Makes sense. For now I'll revert that changes from my PR

[2021-08-16 14:42] sancar commented on #19323
Closing this issue for now.

[2021-08-16 14:42] #19323 closed

[2021-08-16 20:19] leszko opened #19338 "Kubernetes: External Smart Client does not work when `nodeName` is not assigned to Endpoint resource"
**Describe the bug**
In the Kubernetes plugin, when the external member address is resolved, one of the options is to use NodePort service created per each pod. Then, Kubernetes plugin resolves the external IP of the node port service by checking the first `Endpoint.addresses.nodeName` value. This works fine in most Kubernetes clusters, however technically, the value `Endpoint.addresses.nodeName`

[2021-08-17 06:03] olukas commented on #17533
Changing milestone to `5.0` since it failed also on `master` on ZingJDK8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZingJDK8/329/testReport/com.hazelcast.multimap/LocalMultiMapStatsTest/testPutAllAndHitsGeneratedMap/

[2021-08-17 06:17] olukas opened #19340 "com.hazelcast.sql_slow.ComparisonPredicateIntegrationSlowTest.testNumeric"
_master_ (commit 3dd85ea80cdd4e3ecd65708929c039053bc12040)

Failed on IBM JDK 8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-nightly/13/testReport/com.hazelcast.sql_slow/ComparisonPredicateIntegrationSlowTest/testNumeric_mode_EQ_/

Failed with variant `[mode:EQ]`.

Stacktrace:
[code]

Standard output:
[code]

[2021-08-17 06:23] olukas opened #19341 "com.hazelcast.sql_slow.JetSqlSlowIndexTest.test"
_master_ (commit 3dd85ea80cdd4e3ecd65708929c039053bc12040)

Failed on IBM JDK 8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-nightly/13/testReport/com.hazelcast.sql_slow/JetSqlSlowIndexTest/

Failed with variants:
- `[indexType:HASH, composite:false, field1:Character, field2:Double]`
- `[indexType:HASH, composite:false, field1:Character, field2:Double]`
- `[ind

[2021-08-17 06:30] olukas opened #19342 "com.hazelcast.sql_slow.MapIndexScanPMigrationStressTest"
_master_ (commit 3dd85ea80cdd4e3ecd65708929c039053bc12040)

Failed on IBM JDK 8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-nightly/13/testReport/com.hazelcast.sql_slow/MapIndexScanPMigrationStressTest/com_hazelcast_sql_slow_MapIndexScanPMigrationStressTest/

Stacktrace:
[code]

Standard output:
[code]

[2021-08-17 06:34] olukas opened #19343 "com.hazelcast.sql_slow.SqlBasicClientSlowTest.testSelect"
_master_ (commit 3dd85ea80cdd4e3ecd65708929c039053bc12040)

Failed on IBM JDK 8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-nightly/13/testReport/com.hazelcast.sql_slow/SqlBasicClientSlowTest/

Failed with variants:
- `[cursorBufferSize:1, dataSetSize:1, serializationMode:DATA_SERIALIZABLE, inMemoryFormat:OBJECT]`
- `[cursorBufferSize:1, dataSetSize:1, seriali

[2021-08-17 08:04] Holmistr commented on #19092
This came up during the hackathon again. I'll be following up on this soon. Thanks @nfrankel and @jerrinot for raising this!

[2021-08-17 08:19] kwart commented on #19306
@Danny-Hazelcast Could you verify if the issue is still valid? There were some changes merged in #19237.
Thanks.

[2021-08-17 09:17] Danny-Hazelcast commented on #19306
http://jenkins.hazelcast.com/view/shutdown/job/shutdown-aggregate/142/console

fail HzMember4HZ sz_mapBak1HD hzcmd.map.validate.Size threadId=0 com.hazelcast.spi.exception.CallerNotMemberException: Not Member! this: [ip-10-0-0-141.ec2.internal]:5701, caller: [10.0.0.111]:5701, partitionId: 0, operation: com.hazelcast.map.impl.operation.MapSizeOperation, service: hz:impl:mapService

5.0-SNAPSHOT (2

[2021-08-17 11:38] frant-hartm commented on #19317
The configuration override works for `com.hazelcast.config.Config#load*` methods.

The `hzCmd` tool doesn't use that:

https://github.com/hazelcast/hzCmd/blob/master/src/main/java/vendor/hz/java/HzControler.java#L29

[2021-08-17 12:13] mario45211 commented on #18525
+1

[2021-08-17 13:38] #18610 closed

[2021-08-17 13:38] promanenko commented on #18610
Can't reproduce

[2021-08-17 17:04] #19104 closed

[2021-08-18 06:20] olukas commented on #19343
Failed also on Sonar build (Oracle JDK 11): http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/955/testReport/com.hazelcast.sql_slow/SqlBasicClientSlowTest/

Failed in variants:
- `[cursorBufferSize:1, dataSetSize:1, serializationMode:SERIALIZABLE, inMemoryFormat:BINARY]`
- `[cursorBufferSize:256, dataSetSize:1, serializationMode:IDENTIFIED_DATA_SERIALIZABLE, inMemoryFo

[2021-08-18 06:41] jerrinot opened #19353 "NPE in TestSources.itemStream()"
This test throws NPE:
[code]

[code]

[2021-08-18 08:55] fbarotov commented on #19203
We investigated it with @slavagithub and the issue is no longer reproducible

[2021-08-18 08:55] #19203 closed

[2021-08-18 10:17] olukas opened #19355 "Job Permission and Connector Permission are missing in hazelcast-full-example"
There are files `hazelcast/src/main/resources/hazelcast-full-example.xml` and `hazelcast/src/main/resources/hazelcast-full-example.yaml` with full example. We should add these new permissions there.

[2021-08-18 10:18] olukas opened #19356 "ring-buffer-permission is missing in hazelcast-full-example"
There are files `hazelcast/src/main/resources/hazelcast-full-example.xml` and `hazelcast/src/main/resources/hazelcast-full-example.yaml` with full example. We should add also ring-buffer-permission there.

[2021-08-18 10:23] olukas opened #19357 "matches for WildcardConfigPatternMatcher works incorrectly if pattern has the same prefix and suffix"
`matches` method in `WildcardConfigPatternMatcher` (https://github.com/hazelcast/hazelcast/blob/e04b8d5db1c5e583594a2ea69d9f5108f6c7c0b2/hazelcast/src/main/java/com/hazelcast/config/matcher/WildcardConfigPatternMatcher.java#L52-L69) returns true if pattern starts and ends with the same prefix and suffix.

For example `matches("abc*abc", "abc")` returns true but it should be false.

[2021-08-18 10:31] Fly-Style commented on #19341
Message from Slack by @slavagithub :
[code]

[2021-08-18 13:00] gierlachg commented on #19319
After removing the NPE couple of other errors surface:
[code]

[code]

[code]

[code]

[code]

http://jenkins.hazelcast.com/view/split/job/split-x2/39/console
/disk1/workspace/split-x2/5.0-SNAPSHOT/2021_08_18-11_33_40/simple-sql

[2021-08-18 13:21] jerrinot commented on #18850
JSM has value only because of Hazelcast Cloud. Hazelcast Cloud uses JSM to sandbox user code.

Proposal: Instead of changing Hazelcast to avoid using ForkJoinPool we should secure Hazelcast Cloud without relying on JSM. This means checking that evil user code cannot do anything bad.

[2021-08-18 13:59] Danny-Hazelcast commented on #19319
/disk1/workspace/split-x2/5.0-SNAPSHOT/2021_08_18-11_33_40/simple-sql

[code]

cat  ./output/HZ/HzMember2HZAA/out.txt | grep Null -A100 -B100

[code]

[2021-08-18 14:00] Danny-Hazelcast commented on #19319
hangers at
	at hzcmd.map.sql.predicate.PersonIdRange.timeStep(PersonIdRange.java:23)
	at hzcmd.map.sql.service.PersonIdRange.timeStep(PersonIdRange.java:19)

[2021-08-19 07:02] olukas opened #19363 "com.hazelcast.sql_slow.ComparisonPredicateIntegrationSlowTest"
_master_ (commit a8f10450501d1f5be4d1cdf187571171a66e0cb9)

Failed on Sonar (Oracle JDK 11): https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/956/testReport/com.hazelcast.sql_slow/ComparisonPredicateIntegrationSlowTest/

Almost all tests from `ComparisonPredicateIntegrationSlowTest` failed due to `Hazelcast instance is not active!` (only `testCompare_LocalDateTime_wi

[2021-08-19 08:16] #19174 closed

[2021-08-19 08:16] #19185 closed

[2021-08-19 08:33] #19341 closed

[2021-08-19 10:04] Danny-Hazelcast commented on #19319
new type of NullPointerException  only 1 time reported by 1 member

http://jenkins.hazelcast.com/view/shutdown/job/shutdown-x2/34/console

/disk1/workspace/shutdown-x2/5.0-SNAPSHOT/2021_08_19-09_42_50/simple-sql

find . -name out.txt | xargs grep Null
./output/HZ/HzMember3HZ/out.txt:java.lang.NullPointerException

[code]

[2021-08-19 10:10] Danny-Hazelcast commented on #19319
http://jenkins.hazelcast.com/view/freeze/job/freeze-x2/32/console

/disk1/workspace/freeze-x2/5.0-SNAPSHOT/2021_08_19-09_39_54/simple-sql

hanging at
at hzcmd.map.sql.predicate.PersonIdRange.timeStep(PersonIdRange.java:23).        map.values(sqlPredicate);
at hzcmd.map.sql.service.PersonIdRange.timeStep(PersonIdRange.java:16).            sqlService.execute(sqlStatement);

[code]

[2021-08-19 11:27] fbarotov commented on #19166
@slavagithub this seems like a duplicate of https://github.com/hazelcast/hazelcast/issues/19203
Shall we close it, or is there anything I missed?

[2021-08-19 11:28] Danny-Hazelcast opened #19368 "NullPointerException ProcessorTasklet.close(ProcessorTasklet.java:629) TopologyChanged member shutdown"
http://jenkins.hazelcast.com/view/shutdown/job/shutdown-x/68/console

fail HzClient1HZ jobCancle hzcmd.jet.LiteJobAndCancle threadId=1 com.hazelcast.jet.core.TopologyChangedException: Light job coordinator left the cluster

/disk1/workspace/shutdown-x/5.0-SNAPSHOT/2021_08_19-11_16_38/jet Failed

hz-errors
./output/HZ/HzClient2HZ/exception.txt
./output/HZ/HzClient1HZ/exception.txt

find . -name out

[2021-08-19 11:30] gierlachg commented on #19209
Another occurrence https://github.com/hazelcast/hazelcast/issues/19368

[2021-08-19 11:41] Danny-Hazelcast commented on #19209
easily reproducible  with https://github.com/hazelcast/hazelcast/issues/19368

[2021-08-19 11:42] Danny-Hazelcast commented on #19368
/disk1/workspace/split-x/5.0-SNAPSHOT/2021_08_19-11_17_20/jet

 find . -name out.txt | xargs grep Null
./output/HZ/HzMember2HZAA/out.txt:java.lang.NullPointerException

[code]

[2021-08-19 11:50] Danny-Hazelcast commented on #19368
/disk1/workspace/kill-x/5.0-SNAPSHOT/2021_08_19-11_16_11/jet
(base) [ec2-user@ip-10-0-0-252 jet]$ find . -name out.txt | xargs grep -A 10 -B10 Null
./output/HZ/HzMember1HZ/out.txt-	at com.hazelcast.spi.impl.operationservice.impl.OperationRunnerImpl.call(OperationRunnerImpl.java:273)
./output/HZ/HzMember1HZ/out.txt-	at com.hazelcast.spi.impl.operationservice.impl.OperationRunnerImpl.run(OperationRu

[2021-08-19 11:51] Fly-Style commented on #19297
Resolved by #19328.

[2021-08-19 11:51] #19297 closed

[2021-08-19 12:05] mvysny opened #19371 "C# GUID not compatible with Java UUID when used as IMap keys"
**Describe the bug**
Put an object under the GUID key of `ba258733-d222-4da4-b6dc-f7ea0dece0ff` in C#; on Java's side it will be deserialized under the `a44d22d2-3387-25ba-ffe0-ec0deaf7dcb6` UUID.

**Expected behavior**
Putting an object under the GUID key of `ba258733-d222-4da4-b6dc-f7ea0dece0ff` in C#; on Java's side it should be deserialized under the same `ba258733-d222-4da4-b6dc-f7ea0dece0ff`

[2021-08-19 12:06] mdumandag commented on #19371
cc @zpqrtbnk @alexb5dh

[2021-08-19 12:46] fbarotov commented on #19325
It fails on my local machine as well, so I checked out commit when this test was introduced https://github.com/hazelcast/hazelcast/commit/de6140efc70220421769e46b5d02ceabd59e563f and tested on MacOS with JDK 11 and 16, and on Windows with JDK 14 and the test fails on all. I.e., I couldn't observe a situation where this test does not fail

[2021-08-19 14:28] fbarotov commented on #19257
When I run the following test it passes
[code]
🤔

[2021-08-19 14:51] hasancelik opened #19373 "Persistence's auto-remove-stale-data configuration is not permitted"
When I start hot-restart enabled 5.0-BETA-2 cluster with this yaml config:
[code]
I encounter error below:
[code]

[2021-08-20 06:15] olukas commented on #18724
Reopening this with `4.2.3` milestone since it's failing also on `4.2.z` maintenance branch. Can we please backport the fix?

Failed on `4.2.z` branch on Windows with Oracle JDK 8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-Windows-OracleJDK8/333/testReport/com.hazelcast.internal.util.phonehome/PhoneHomeIntegrationTest/testMapLatenciesWithMapStore/

[2021-08-20 06:24] olukas opened #19375 "com.hazelcast.map.LocalIndexStatsTest.testInsertsTracking [HZ-1792]"
_master_ (commit a8f10450501d1f5be4d1cdf187571171a66e0cb9)

Failed on Zing JDK 8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZingJDK8/330/testReport/com.hazelcast.map/LocalIndexStatsTest/testInsertsTracking_format_OBJECT_/

Failed with option `[format:OBJECT]`.

Stacktrace:
[code]

Standard output:
[code]

[2021-08-20 06:34] olukas commented on #19342
Reopening since it failed again even after fix (with commit 9ce0da2756b4ab15df48e9af18991e893a435dc0). Failed on Sonar build (Oracle JDK 11): http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/957/testReport/com.hazelcast.sql_slow/MapIndexScanPMigrationStressTest/com_hazelcast_sql_slow_MapIndexScanPMigrationStressTest/

Stacktrace:
[code]

There's also `stressTest_sorte

[2021-08-20 06:35] olukas commented on #19325
It failed also on Sonar build (Oracle JDK 11): http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/957/testReport/com.hazelcast.cluster/TcpIpHostnameJoinTest/test_whenClusterNamesDifferSecondMemberFailsToStart/

[2021-08-20 06:39] olukas commented on #19001
Reopening since it failed again on Sonar build (Oracle JDK 11):
- http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/957/testReport/com.hazelcast.jet.core/TopologyChangeTest/when_coordinatorLeavesDuringExecution_then_jobCompletes_liteMemberFlags_0__/
- http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/957/testReport/com.hazelcast.jet.core/To

[2021-08-20 06:44] olukas commented on #19340
Failed also on Windows with Oracle JDK 8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Windows-OracleJDK8/312/testReport/com.hazelcast.sql.impl.expression.predicate/ComparisonPredicateIntegrationTest/

It failed with options:
- `[mode:NEQ]`
- `[mode:LT]`
- `[mode:GT]`
- `[mode:GTE]`

[2021-08-20 06:49] slavagithub commented on #19166
@fbarotov yes, it seems it is dupulicating. Closing this one

[2021-08-20 06:49] #19166 closed

[2021-08-20 08:57] #18724 closed

[2021-08-23 06:13] olukas opened #19381 "com.hazelcast.jet.core.SplitBrainTest.when_jobIsSubmittedToMinoritySide_then_jobIsCancelledDuringMerge"
_master_ (commit 9ce0da2756b4ab15df48e9af18991e893a435dc0)

Failed on Zulu JDK 16: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZuluJDK16-nightly/14/testReport/com.hazelcast.jet.core/SplitBrainTest/when_jobIsSubmittedToMinoritySide_then_jobIsCancelledDuringMerge/

Stacktrace:
[code]

Standard output:
[code]

[2021-08-23 07:14] ufukyilmaz opened #19382 "MultiMap hit count don't include hits on removed entries"
The number of hits on MultiMap are getting lost when Multimap entries
are removed. Use this failing test to see this behavior:
[code]

[2021-08-23 09:43] viliam-durina opened #19385 "Auto-added __key column to explicit columns list should be hidden"
When we create a mapping with 2 columns:
[code]
We still need to provide 3 columns, because the `__key` field is still mapped.
[code]
Expected resolution: Map the `__key` column as hidden. Such a mapping will work fine for reading (`SELECT *` queries), for INSERTS without a column list it will fail with something like `Cannot write NULL to __key field`. One can still use the hidden `__key` field e

[2021-08-23 09:44] PavloBida opened #19386 "Add pretty print to SqlResult"
It would be a nice to have feature to have some kind of print() method in [SqlResult](https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/sql/SqlResult.java) class to have the result of executed query pretty printed in the console. Exactly like we have it in Hazelcast CLI:
[code]
Note! That pretty print shouldn't call the iterator() or at least preserve such a

[2021-08-23 09:55] viliam-durina opened #19387 "Consider removal of implicit SQL mappings"
In the current version, one can query _non-empty_ IMaps without explicitly creating a mapping. From the feedback we see it causes some confusion, mainly:
- doesn't work for empty maps - this is as specified, but it's how you always start off when experimenting.
- it randomly might not work even for non-empty maps, because by _non-empty_ we actually mean that the map must have an entry on each clus

[2021-08-23 10:25] anilskalyane opened #19388 "Target of invocation cannot be found! Partition owner is null but partitions can't be assigned since all nodes in the cluster are lite members"
**Describe the bug**
We are assuming that, While we are connecting the multiple apps to the same HZ cluster then we are getting the following error,

The target of invocation cannot be found! Partition owner is null but partitions can\u0027t be assigned since all nodes in the cluster are lite members

**Expected behavior**
Should connect both applications to the HZ cluster.

**To Reproduce**

Step

[2021-08-23 18:53] mmedenjak commented on #19209
Closing as a duplicate of https://github.com/hazelcast/hazelcast/issues/19368 which seems to have a reproducer.

[2021-08-23 18:53] #19209 closed

[2021-08-23 19:08] mmedenjak commented on #19305
Hi @pharkinkFD ! I think this was a deliberate breaking change in 4.x, but @ahmetmircik may confirm.

[2021-08-23 19:22] mmedenjak commented on #19291
@robinroos thank you for the report. @leszko can someone take a look if it's an issue on MC side?

[2021-08-23 19:23] mmedenjak commented on #19294
@hazelcast/apis can you assess the priority of this?

[2021-08-23 21:48] viliam-durina commented on #19386
It must call the `iterator()` method and the result is unusable after this. It also won't work if `iterator()` was already called. The reason is that you can iterate the result only once. We can document this.

[2021-08-24 06:22] frant-hartm commented on #19288
@neilstevenson
- what distribution are you using? OS/EE? Regular/slim?
- how do you package your jar? Do you have a project somewhere?

[2021-08-24 07:06] frant-hartm commented on #19288
I see some Spring classloader in the exception message : `org.springframework.boot.loader.LaunchedURLClassLoader`

@neilstevenson please share a full reproducer.

[2021-08-24 07:51] #19102 closed

[2021-08-24 08:09] #19177 closed

[2021-08-24 09:50] pharkinkFD commented on #19305
Thanks for the response @mmedenjak ! If the change was intentional, maybe some of the documentation should also be modified to warn users not to use the max-ttl in combination with max-idle, or at least that doing so favours idle over ttl. I.e. on https://docs.hazelcast.com/cloud/map-configurations.html#max-idle-seconds the note explicitly states "the entry is considered expired if at least one of

[2021-08-24 12:17] gierlachg opened #19394 "NullPointerException in JobExecutionService"
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/6809/testReport/junit/com.hazelcast.jet.sql/SqlFilterProjectTest/test_dynamicParameterMetadata/

[code]

[2021-08-24 12:39] mmedenjak commented on #19320
Moving to 5.0.1. The issue was introduced with https://github.com/hazelcast/hazelcast-jet/pull/2656 and was part of jet since 4.4. Even more-so, this is not just an issue about `AWSConfig`, but opens up the question - how many more classes are there that are java `Serializable` and also need to be fixed. I can see at least one and anecdotally I know that jet has been heavy on java serialisation.

[2021-08-24 12:41] Danny-Hazelcast commented on #19394
same issue

http://jenkins.hazelcast.com/view/split/job/split-x3/43/console
/disk1/workspace/split-x3/5.0-SNAPSHOT/2021_08_24-12_21_16/sql/bit-map

also the cluster failed to merge after split

[code]

[2021-08-24 12:52] mmedenjak commented on #19047
We agreed this should be moved to documentation scope as right now the only thing left is to document the limitations. Adding support for solaris is currently in the far future, if ever.

[2021-08-24 13:01] ahmetmircik commented on #19305
No this is a regression. i sent a fix candidate: https://github.com/hazelcast/hazelcast/pull/19395

[2021-08-24 13:07] neilstevenson opened #19396 "5.0 build fails on Mac"
Using MacOs 11.5.2

[code]

gives

[code]

[2021-08-24 13:11] olukas opened #19397 "SQL console is blocked by `Cannot derive Portable type for 'QueryDataType {family=OBJECT}'`"
If example for Adding Objects to a Map section (from https://docs.hazelcast.com/hazelcast/latest/sql/create-mapping.html#adding-objects-to-a-map) is copy-pasted to SQL console then each other command prints `Cannot derive Portable type for 'QueryDataType {family=OBJECT}'`.

See:
[code]

[2021-08-24 13:12] pharkinkFD commented on #19305
@ahmetmircik  thank you! Fix looks promising

[2021-08-24 13:28] neilstevenson commented on #19396
Breaking test in `hazelcast-spring-tests`, breaks on Java 11 and Java 8

[code]

gives the following, not sure if mention of port 5702 is significant

[code]

[2021-08-24 13:43] neilstevenson commented on #19396
Logs show discovery isn't working as expected, 2 one-node clusters are formed

[code]

[2021-08-24 13:49] neilstevenson commented on #19396
Reproducer for me,
[code]

[2021-08-24 14:01] olukas opened #19398 "SQL CLI doesn't handle AccessControlException"
If SQL command in SQL CLI throws `AccessControlException` (for example if user hasn't access to certain Map) then it's not caught and SQL CLI is terminated. We should catch it and just to print the reason why command if failed without terminating CLI.

[2021-08-24 14:05] HanleyDan commented on #19396
I have run the test Neil provided above and it fails for me too:

Aug 24, 2021 3:02:46 PM com.hazelcast.internal.cluster.ClusterService
INFO: [127.0.0.1]:5701 [dev] [5.0-SNAPSHOT]

Members {size:1, ver:1} [
	Member [127.0.0.1]:5701 - 591ca2d2-9b1d-440a-8b06-7f8bb8edffd0 this
]

Aug 24, 2021 3:02:46 PM com.hazelcast.core.LifecycleService
INFO: [127.0.0.1]:5701 [dev] [5.0-SNAPSHOT] [127.0.0.1]:5701

[2021-08-25 08:27] leszko commented on #19291
no idea. @emre-aydin any idea what this stacktrace points to?

[2021-08-25 10:44] sertugkaya commented on #19335
Zendesk 7512 @Holmistr

[2021-08-25 11:04] #19313 closed

[2021-08-25 11:04] jerrinot commented on #19134
hi @robinroos, are you submitting the tasks from a client (=`HazelcastInstace` created via `HazelcastClient.newHazelcastClient()`) or a member (=created via `Hazelcast.newHazelcastInstance()`?

Also, can you please clarify would do you mean by "split-brain rule"? Is it the Hazelcast SplitBrainProtection is something custom?

[2021-08-25 11:09] Danny-Hazelcast opened #19406 "JetException: Cannot do this task on non-master jobId Master address: null"
client calling  jet.newJob(p);  on cluster with members being shutdown and restarted,  client throws below exception.  probably expected ?

com.hazelcast.jet.JetException: Cannot do this task on non-master. jobId=06b2-cddc-52dd-000e. Master address: null
	at com.hazelcast.jet.impl.JobCoordinationService.assertIsMaster(JobCoordinationService.java:1208)
	at com.hazelcast.jet.impl.JobCoordinationServ

[2021-08-25 11:59] emre-aydin commented on #19291
@zhmaeff can you please take a look?

[2021-08-25 14:00] Holmistr commented on #19387
Related Slack discussion: https://hazelcast.slack.com/archives/CJZ745RRT/p1629795049076700

**Outcomes:**

* Using implicit mappings (querying maps without previously executing `CREATE MAPPING`) will be prohibited. In short, the reasons are confusing UX (most common feedback from the Hackathon, issue with "empty" maps) and possibility to add it back if we receive the feedback it's needed. Just FYI

[2021-08-26 07:00] gurbuzali opened #19413 "QueueAdvancedTest.test_continues_ownership_changes_does_not_leak_backup_memory"
_PR_Builder_

Failed on http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/6856

Stacktrace:
[code]

[2021-08-26 08:52] ssteiner opened #19415 "Partition migration not completing when second node joins the cluster"
I have a two node cluster, using tcpIp config. I would expect that if the second node is started up, it would join the cluster, and they'd both get the same status for all shared data structures. Sure enough, I see the join attempt on the first cluster node, the membership gets updated, and then it should migrate the data. Except, it doesn't

Here's the log output
[code]

And that then keeps repea

[2021-08-26 10:02] phuoc-le opened #19416 "Issue queue proxy Hazelcast"
Hi all,
I had an issue of the Hazelcast but I don't know why.
Tell me there's a bug or my fault?
Thanks so much.

`com.hazelcast.spi.impl.operationservice.impl.InvocationFuture.newOperationTimeoutException(InvocationFuture.java:194)
com.hazelcast.spi.impl.operationservice.impl.InvocationFuture.resolve(InvocationFuture.java:136)
com.hazelcast.spi.impl.operationservice.impl.InvocationFuture.resolveA