[2015-06-06 05:08] fuadm commented on #5460
*Comment from Zendesk by alparslan@hazelcast.com at 2015-06-05 08:06:05 UTC:*

<p>Hi Jing,</p>
<p>In the logs that you&#39;ve shared in your last mail, there are no timeouts seen recently except Management Center read timeouts. Moreover, the log file do not contain the time period of the log you&#39;ve shared in your first mail (2015-06-04 13:40:25.715). Thus, that would be great;</p>
<ol type='1'

[2015-06-06 05:08] fuadm commented on #5460
*Comment from Zendesk by jing_song@apple.com at 2015-06-05 16:31:36 UTC:*

<p>Hi Hazelcast team,
<br />The server cluster looked healthy to me, I ran healthy check, also check check the machine has plenty CPU and RAM to function.
<br />but our client client have tons of time out as I mentioned in my client log, both iCache.put() and geAsynct() time out.</p>

<p>How many client connection/threads r

[2015-06-06 05:08] fuadm commented on #5460
*Comment from Zendesk by fuad@hazelcast.com at 2015-06-05 16:33:48 UTC:*

<p>Jing,</p>
<p>There is no limit. One server node can easily manage 1000s of clients. How many client node do you have in total?</p>
<p>Fuad Malikov<br>
co-founder @ Hazelcast</p>

[2015-06-06 05:08] fuadm commented on #5460
*Comment from Zendesk by fuad@hazelcast.com at 2015-06-05 17:01:01 UTC:*

<p>Jing,</p>
<p>Also apart from this issue we have the 3.5-EA2 with new client protocol for upgradability and HD Near Cache. <br>
<a href="https://drive.google.com/file/d/0B3vrJIXdgWaYWmZaTVE0MDZnamM/view?usp=sharing">https://drive.google.com/file/d/0B3vrJIXdgWaYWmZaTVE0MDZnamM/view?usp=sharing</a></p>
<p>Fuad Malikov<br>
co

[2015-06-06 05:10] fuadm commented on #5460
Test

[2015-06-06 05:24] fuadm opened #5461 "Improved Near Cache Invalidation"
The current near cache invalidation uses one event packet for each update. This implementation creates N * X number of events per second, where N is the number of client or server nodes and X is the number of updates per second. As N increases, the number of events increases linearly. This makes it costly to add a client to the cluster.

These event packets fills the single connection from server

[2015-06-06 13:58] Tembrel commented on #5461
A refinement of this, assuming one can tolerate occasional spurious invalidation, would be to use a Bloom filter (Guava has a nice [implementation](http://docs.guava-libraries.googlecode.com/git-history/v18.0/javadoc/com/google/common/hash/BloomFilter.html)) instead of a Set. That would allow you to have compact invalidation messages even for very large numbers of invalid keys.

For this to work,

[2015-06-07 12:48] bwzhang2011 commented on #5305
@pveentjer, any update with such issue ? was it confirmed and taken into consideration to be resolved ?

[2015-06-07 13:10] bwzhang2011 commented on #2838
@kwitten, did you test it with 3.5 EA2 snapshot

[2015-06-07 13:13] bwzhang2011 commented on #3796
@mesutcelik, does it fail with 3.5 EA2 snapshot ?

[2015-06-07 13:20] bwzhang2011 commented on #3683
@mdogan, any update with such issue ?

[2015-06-07 13:39] bwzhang2011 opened #5462 "ITopic should add cluster consumption support."
when testing with ITopic, it will publish the event (or data) to all the members connected for the special topic subscribed. and it's true that it works well in such state. but in many others cases, it could be defined as the cluster consumption which means that only one of the members could occupy the consumption which is similar to the queue model.  what's more, the member could consume the mess

[2015-06-07 14:24] pveentjer commented on #5462
Like you said; you are describing a queue here. So why not use an IQueue?

[2015-06-08 05:17] bwzhang2011 commented on #3661
@jerrinot, would you mind leaving us your batching api which could provide the boost ? I dare say that hazelcast should pay more attention to batch process there're a lot of API should gain such ability

[2015-06-08 07:33] bilalyasar opened #5463 "[TEST-FAILURE] RingbufferContainerSerializationTest.whenObjectInMemoryFormat_andTTLEnabled"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast/3292/testReport/junit/com.hazelcast.ringbuffer.impl/RingbufferContainerSerializationTest/whenObjectInMemoryFormat_andTTLEnabled/

[2015-06-08 07:34] bilalyasar commented on #5393
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/574/com.hazelcast$hazelcast/testReport/com.hazelcast.spi/MigrationAwareServiceTest/testPartitionDataSize_whenBackupNodesTerminated_withThreeBackups/

[2015-06-08 08:28] bilalyasar commented on #5453
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8-Quality-Outreach/com.hazelcast$hazelcast/82/testReport/junit/com.hazelcast.map.mapstore/MapLoaderTest/testMapCanBeLoaded_whenLoadAllKeysThrowsExceptionFirstTime/

[2015-06-08 09:17] toktarev commented on #5455
I suppose that  problem is in MapReduceTest
Here in HazelcastParallelClassRunner

private static final int MAX_THREADS = !TestEnvironment.isMockNetwork() ? 1
               : Math.max(Runtime.getRuntime().availableProcessors(), 8);

We acquire all cores for tests at the same time

We have:
MapReduceTest has more then 16 tests, 16 cores on jenkins.

I suggest to reduce amount of parallel tests to R

[2015-06-08 09:35] toktarev commented on #5455
https://github.com/toktarev/hazelcast/commit/d7551a8f9ae3635ebab884938c5c97ee7055fca8

[2015-06-08 09:42] pveentjer commented on #5463
The probably cause is that the time window in the test was too small and if a big delay is happening, the test fails for false reasons. I have double the time window from 1 second to 2 seconds to reduce the chance this happens again.

[2015-06-08 09:43] #5463 closed

[2015-06-08 12:05] #5400 closed

[2015-06-08 12:05] #5401 closed

[2015-06-08 12:42] zeratul021 commented on #944
Hello,

what is the current status of this feature?

I'm currently trying to achieve exactly the same thing. I looked at Hazeltask project but I think it's no longer maintained (dependency on Hazelcast 3.1). The code is not leveraging the SPI, however the original author mentioned it in the future plans. Maybe some code could be reused but I think a real distributed object implemntation (alternati

[2015-06-08 15:06] jaysonminard commented on #5220
Any updated @jerrinot

[2015-06-08 18:44] jaysonminard commented on #5220
or @purplefox , this looks deadly to vert.x 3 clustering

[2015-06-08 18:46] jerrinot commented on #5220
hi @jaysonminard not really. It's something we'll likely address in Hazelcast 3.6. I believe I saw a workaround somewhere in the vert.x codebase.

[2015-06-08 18:48] serkan-ozal commented on #3792
I have tested on both `3.3.1`, `3.4.2` and current master branch with/without JCache support (JCache library as dependency) on  `Eclipse Equinox` with mentioned `HazelcastActivator` and `CombinedClassLoader` but didn't see any issue. I think it is related with user's environment or invalid bundle configuration. So I am closing the issue.

[2015-06-08 18:48] #3792 closed

[2015-06-08 18:49] eminn opened #5468 "Operation timeout mechanism is not working"
When an operation is invoked if the remote side is not responding it should throw an OperationTimeoutException after the predefined timeout passed.

With the current codebase, it fails to detect an operation still executing or not and loops infinitely.

Reproducer
[code]

Logs containing infinite loop.
[code]

[2015-06-08 18:50] purplefox commented on #5220
Yes it's all a bit of a mess. Luckily we have a workaround for this one which seems reasonable but we also need the following https://github.com/hazelcast/hazelcast/pull/5284#issuecomment-106797517 fixed in a release in the next few days.

[2015-06-08 18:51] purplefox commented on #5220
Yes we have a workaround for this but we need 5285 fixed too (above) and we don't have a workaround for that.

[2015-06-08 18:53] purplefox commented on #5220
If the worst comes to the worst we will have to fork and make our own hazelcast release that provides the fixes which isn't ideal, but not the end of the world.

Clearly it would be preferable if Hazelcast implemented the fixes themselves!

[2015-06-08 18:57] jerrinot commented on #5220
yeah, I understand the pain.
I'm not sure what the status of 3.4.3 is - most of our devs including myself are busy with last changes for 3.5 these days.

I'll trying to get a timeline for 3.4.3 and I'll update this ticket once I'll get some info.

[2015-06-08 19:06] jerrinot commented on #5220
Hi, I talked to my colleagues and we are aiming to release 3.4.3 by the end of this week. This assumes all our internal tests will pass.

[2015-06-08 20:27] purplefox commented on #5220
Ok, thanks @jerrinot please keep us posted.

[2015-06-09 07:22] helmut-at-work opened #5470 "ItemListener on IList dosen't recognize remove(<ordinal>)"
A remove(0) triggers  itemAdded instead of itemRemoved.

[code]
Output:
Item added = ItemEvent{event=ADDED, item=firstString, member=Member [192.168.0.86]:5702}
Item added = **ItemEvent{event=ADDED, item=null,** member=Member [192.168.0.86]:5702}

[2015-06-09 07:38] eminn commented on #5470
Can you please share your hazelcast version ?

[2015-06-09 07:41] helmut-at-work commented on #5470
Testet with 3.4.2 and 3.5-EA

[2015-06-09 07:43] eminn commented on #5470
The issue seems the duplicate of https://github.com/hazelcast/hazelcast/issues/5386 which must be solved by https://github.com/hazelcast/hazelcast/pull/5387 . The fix will be available with 3.5 and 3.4.3 releases. You can test it against snapshot versions

[2015-06-09 07:52] helmut-at-work commented on #5470
Ok Thanks. Didn't found that issue. Snapshot works

[2015-06-09 08:26] eminn commented on #5470
Glad that is worked, I'm closing the issue, thanks for reporting.

[2015-06-09 08:26] #5470 closed

[2015-06-09 09:22] Serdaro commented on #5424
A note added to the first sub-section of the Replicated Map section.

[2015-06-09 09:22] #5424 closed

[2015-06-09 09:57] sertugkaya opened #5473 "Execution callback for PartitionClientRequest is registered too late"
If an operation takes longer than `hazelcast.operation.call.timeout.millis`value, it waits until that operation to finish to throw timeout exception. This may be a general issue besides `PartitionClientRequest` so it needs to be investigated for other operation types too.
Current PartitionClientRequest.java :

[code]
 @Override
    public final void process() {
        beforeProcess();
        Cli

[2015-06-09 10:41] mesutcelik opened #5476 "[TEST-FAILURE] DeferredWriteClusterTest.test_setAttribute"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/3301/com.hazelcast$hazelcast-wm/testReport/com.hazelcast.wm.test/DeferredWriteClusterTest/test_setAttribute/

[2015-06-09 12:24] #5468 closed

[2015-06-09 12:44] #5476 closed

[2015-06-09 13:08] mesutcelik commented on #5455
fixed via https://github.com/hazelcast/hazelcast/pull/5465

[2015-06-09 13:29] gurbuzali commented on #5430
fixed via https://github.com/hazelcast/hazelcast/pull/5467

[2015-06-09 13:29] #5430 closed

[2015-06-09 13:31] #4398 closed

[2015-06-09 15:02] jerrinot commented on #4024
It's caused by a possible operation reordering when a partition is migrated.

I can see log messages like this:
[code]

Note the operation with the `last batch` set to `true` is processed before the operation where this flag is set to `false`

If I call `warmUpPartitions()` before calling getting map as in d180b9faae140c16b82d2a9fb8ee163682c5ceb5 then the issue is no longer reproducible.

[2015-06-09 17:02] pablolagreca opened #5483 "TransactionContext.getXAResource().setTransationTimeout(..) doesn't work"
When I use XA in hazelcast TransactionContext.getXAResource().setTransationTimeout(..) doesn't work. It only works if I set the timoeut using TransactionOptions. It should work with setTransactionTimeout(..) to honor de XAResource interface.

[2015-06-09 22:25] gAmUssA opened #5484 "Hazelcast Client: set OutOfMemoryHandler"
Provide API `HazelcastClient.setOutOfMemoryHandler` for setting client `OutOfMemoryHandler` same way as `Hazelcast. setOutOfMemoryHandler`

[2015-06-10 00:30] PetroSemeniuk opened #5485 "Memory leak in hazelcast cluster caused by race condition on node join"
The way how issue is reproducible in _our_ environment
* Start _node1_
* Load _node1_ with large number of http requests (each request will result into hundreds of hazelcast operations)
* Starting _node2_ when load is running
* You'll see map size node _node2_ growing above configured max size. Issue is _not_ reproducible if load is applied after node joined.

I was unable to reproduce issue using

[2015-06-10 06:25] #5473 closed

[2015-06-10 06:37] gurbuzali commented on #5483
which version are you using ? should be fixed in 3.5-EA and latest master
please see https://github.com/hazelcast/hazelcast/pull/5350

[2015-06-10 06:39] gurbuzali commented on #5484
you can use `OutOfMemoryErrorDispatcher.registerClient(client);` as a workaround

[2015-06-10 06:46] sancar commented on #5484
Fixed via https://github.com/hazelcast/hazelcast/commit/764ff063ffba3cb5209e5d69b6829ed7b99f715c

[2015-06-10 06:46] #5484 closed

[2015-06-10 07:49] Verdoso commented on #5444
Even if the 3 node rule works, in order to have 3 nodes you have to start with 2, so there you go.

Pretty disappointed on how Hazelcast deals with this, at all levels.

[2015-06-11 07:49] metanet commented on #5444
Hi,

Independent of number of nudes, a new node joining to the cluster takes some of the partitions from the other nodes (=migration). For a specific partition, when its data is moved from an existing node to the new node, existing node removes that data for preventing data-inconsistency problems. When the new node receives data of the migrating partition, it starts sending backups for that partit

[2015-06-11 08:30] pveentjer commented on #4364
We should move it to 3.5.1

[2015-06-11 08:49] gurbuzali commented on #4364
done

[2015-06-11 13:10] riverwinddk commented on #5388
But is there any explanation as to why the migration process takes (a lot) longer on 3.4/3.5 compared to 3.3?

[2015-06-11 15:12] gAmUssA commented on #5484
@gurbuzali Yes, this is exactly how I work around this ;). Thank you

[2015-06-11 16:13] pveentjer commented on #5305
I have no updates on this issue.

[2015-06-11 17:02] StanAccy commented on #4143
@mdogan Just running a test with 3.4.2.  When Hazelcast is running and I have a thread waiting on a queue.take(), any interruptions to that thread (or an ExecutorService.shutdown() ) dont seem to propagate to the iQueue.take() method.  The thread(s) are blocked inside BasicInvocationFuture.pollResponse().  However, if I take that methods code, and run it outside of Hazelcast and interrupt the thre

[2015-06-11 18:36] StanAccy commented on #4143
BasicInvocationFuture, line 231 catches the InterruptedException and does nothing with it except setting an internal flag.  The interrupted thread loops back around and waits again, thus losing the interrupt. Now the thread waits until Hazelcast shutsdown and then receives a HazelcastInstanceNotActiveException.

Could the initial InterruptedException not be allowed to simply propagate out?

[2015-06-11 20:49] StanAccy commented on #4143
Also just tried with the 3.4.3 source, we still dont get InterruptedException on a queue.take() operation (test code as above):

[code]

[2015-06-12 03:49] PetroSemeniuk commented on #5485
Ok, after few days of debugging I found what is wrong.
Our vase (wildcard) config is to allow near caches for all maps with max size unspecified. Then later during lifetime we requesting map with correct mapconfig and it correctly update max size (we are doing update at map container level).

However race condition happens when invalidation event is sent and picked up by InvalidateNearCacheOperati

[2015-06-12 06:02] PetroSemeniuk commented on #5485
@ahmetmircik @gurbuzali hey guys, given that final intention of https://github.com/atlassian/hazelcast/pull/29/files is ti be merged into hazelcast master, can I have early code review feedback on it?

[2015-06-12 13:37] jaysonminard commented on #5220
yay @jerrinot

[2015-06-12 14:20] benhumphreys opened #5490 "MultiExecutionCallback onResponse() and onComplete() race condition"
All `onResponse()` calls on a `MultiExecutionCallback` should be made before `onComplete()` is called. There exists a race condition in `ExecutionCallbackAdapterFactory` which permits `onComplete()` to be called before all `onReponse()` calls are made.

The normal sequence of events, for a scenario involving two threads and two calls backs looks like this (these calls all occur in `ExecutionCallba

[2015-06-12 14:27] zeitos commented on #592
+1

[2015-06-12 15:11] pveentjer commented on #592
+1

[2015-06-12 16:48] Verdoso commented on #5444
I understand what the issue is, what I can't comprehend is why this is not considered a bug to be fixed.

It means that no matter what you do, no matter how many nodes or backups you configure, you cannot trust your data to be safe, as one failure when a new node joins the cluster, no matter the size, could compromise the data you already have.

Maybe it's me trying to use Hazelcast in a way it wa

[2015-06-13 08:23] pveentjer commented on #5444
Imho this is a bug and needs to get fixed ASAP.

[2015-06-13 11:23] pveentjer commented on #5490
Thanks. I just created a test that reproduces the probem and will apply your fix. It is a pretty smart solution.

[2015-06-13 14:47] bwzhang2011 commented on #5484
@sancar, any update with hazelcast client support with reliable topic ?

[2015-06-13 16:20] pveentjer commented on #5460
@fuadm can we close this ticket?

[2015-06-13 16:24] pveentjer commented on #5484
This is not the appropriate topic to ask this question.

[2015-06-14 16:34] wenerme commented on #5444
+1

[2015-06-15 06:40] bilalyasar opened #5498 "[ringbuffer] RingbufferAddAllReadManyStressTest.whenShortTTLAndBigBuffer"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/509/com.hazelcast$hazelcast/testReport/com.hazelcast.ringbuffer.impl/RingbufferAddAllReadManyStressTest/whenShortTTLAndBigBuffer/

[2015-06-15 06:43] bilalyasar opened #5499 "ClientMapStoreTest.mapSize_After_MapStore_OperationQueue_OverFlow_Test"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/com.hazelcast$hazelcast-client/508/testReport/junit/com.hazelcast.client.map/ClientMapStoreTest/mapSize_After_MapStore_OperationQueue_OverFlow_Test/

[2015-06-15 06:46] bilalyasar opened #5500 "[TEST-FAILURE] LocalTopicStatsImplTest timeout"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK9-Quality-Outreach/95/console

[2015-06-15 06:47] pveentjer commented on #5498
The consumer must have run behind and then you get into this behavior. Perhaps a gc or something. I'll increase the TTL or the size of the buffer.

[2015-06-15 06:47] bilalyasar commented on #5074
new timeout:
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8-Quality-Outreach/90/console
[code]

[2015-06-15 06:50] bilalyasar commented on #5455
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/581/
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/580/
we still have failures.

[2015-06-15 06:51] pveentjer commented on #5498
Ok. I have increased the TTL; this should prevent running into spurious failures due to a slow environment.

[2015-06-15 09:00] Donnerbart commented on #5500
I can't see any reason for this. The whole monitor package tests are quite simple and complete in ~1 second on my machine.

I just did a very small change to those tests to make all tests compatible with  `@Repeat` and ran the tests for 100k times. No problems so far.

https://github.com/hazelcast/hazelcast/commit/a951c7e

[2015-06-15 09:00] #5500 closed

[2015-06-15 09:04] bilalyasar commented on #5500
Did you try to reproduce failure in cloudbees environment?

[2015-06-15 09:22] Donnerbart commented on #5500
Not yet. The test is really very simple, it's not even starting a Hazelcast instance. The only thing I found so far was the member variable thing which prevented the use of `@Repeat()`.

If it fails again I will spend more time on this. Right now I'm not 100% if the other test failures had any influence on this or not :(

[2015-06-15 11:21] bilalyasar commented on #3808
actually it is closed via https://github.com/hazelcast/hazelcast/pull/4581

[2015-06-15 11:21] #3808 closed

[2015-06-15 11:23] mesutcelik commented on #1668
This is fixed in 3.5. Invalidation is done on the session entry itself and we don't have to traverse all entries on the session map.

[2015-06-15 11:23] #1668 closed

[2015-06-15 11:25] mdogan commented on #2829
Fixed by https://github.com/hazelcast/hazelcast/pull/3323

[2015-06-15 11:25] #2829 closed

[2015-06-15 11:41] bilalyasar commented on #5242
this issue should be solved via https://github.com/hazelcast/hazelcast/pull/5474

[2015-06-15 15:03] haixiliu commented on #5242
@bilalyasar, Thanks for the update.

I looked at the code changes with #5474, and thought it would resolve the issue I reported here.

However, the code change also seems to defeat the purpose of deferredwrite option.

In its original design, when deferredwrite=true, update to session attributes will be kept local (to the node) and used by local (the same node) until the request is finished, at wh

[2015-06-15 15:13] haixiliu commented on #5242
@bilalyasar,

Please correct me if I am wrong, but in addition to the comments I made above, I think the code change also created another bug.

When deferredwrite=true, update to session attributes are kept local to the node in HazelcastHttpSession.setAttribute() method, and since HazelcastHttpSession.getAttribute() will always get a new copy from cluster map when stickysession=false, code executi

[2015-06-15 15:21] gAmUssA opened #5505 "Hazelcast test utils jar"
Provide Hazelcast testing utils as separate jars so this jar can be included as test dependency in uses code.

[code]
Related to ZD#970

[2015-06-15 15:24] jerrinot commented on #5505
see this #5017
is it what you need?

[2015-06-15 15:38] bwzhang2011 commented on #5444
@pveentjer, hope such could be resolved ASAP. looking forward to that.

[2015-06-15 15:38] jerrinot commented on #5220
Hi guys,
I apologize for not being very responsive. Our internals tests for 3.4.3 just passed. You can expect the release in no more than a few days.

[2015-06-15 16:03] daniellawry commented on #328
I'm not seeing any getMisses() method in the LocalMapStats class for version 3.4.2.  Has there been a reversion in the code? Is there a more optimal way to retrieve the miss count for a hazelcast map? Thanks

[2015-06-16 06:27] #5490 closed

[2015-06-16 11:10] sancar commented on #4282
fixed via https://github.com/sancar/hazelcast/commit/f317644ab2fa2601d9f5d88a78a613b876f7adac in new client.

[2015-06-16 11:10] #4282 closed

[2015-06-16 11:40] akoledzhikov commented on #4406
I also got something similar with HZ 3.2.3 - lots of threads stuck while attempting to obtain a lock:
   java.lang.Thread.State: TIMED_WAITING (on object monitor)
	at java.lang.Object.wait(Native Method)
	at com.hazelcast.spi.impl.BasicInvocation$InvocationFuture.waitForResponse(BasicInvocation.java:723)
	- locked <0x00000006e6044178> (a com.hazelcast.spi.impl.BasicInvocation$InvocationFuture)
	at

[2015-06-16 11:52] styjdt opened #5508 "IList.iterator() / listIterator() does not support iterator.remove()"
Whereas IQueue.iterator() returns an iterator which explicitly throws an UnsupportedOperationException on iterator.remove(), in case of IList this operation is simply a NOOP.
One can call iterator.remove(), but it doesn't do anything.
A look in the code (ListProxyImpl) reveals, that the iterator is retrieved from a copy of the list, which explains the situation. Nevertheless here an UnsupportedOpe

[2015-06-16 14:40] jerrinot commented on #5220
Hazelcast 3.4.3 was just released.

[2015-06-16 15:12] jaysonminard commented on #5220
yay!

On Tue, Jun 16, 2015 at 11:40 AM, Jaromir Hamala <notifications@github.com>
wrote:

[2015-06-16 15:14] jerrinot commented on #5220
yay indeed!

[2015-06-16 15:57] gAmUssA commented on #5505
@jerrinot nice!

[2015-06-16 15:57] #5505 closed

[2015-06-16 16:03] gAmUssA commented on #5017
@pveentjer Personally, I think it's great idea to publish test framework. it's huge help for TechOps team so we can be more productive working with clients' problems - we can talk on the same language with our dev using test Hazelcast test framework.

[2015-06-16 16:06] markathomas commented on #5017
I agree with Viktor. Publishing the test classes makes it easily available
to all and provides  a ready means by which to reproduce bugs as test cases
based on code the Hazelcast team is familiar with.  Additionally, it shows
common patterns for successful testing which will increase developer
confidence and thus wider adoption of Hazelcast.

[2015-06-16 20:42] gAmUssA opened #5514 "MapStore: monitor write-dehind queues"
Provide ability to monitor write-dehind queues in MapStore (probably as HealthMonitor information as well as JMX).

Reference ZD #940

[2015-06-16 22:13] bilalyasar commented on #5242
Hi @haixiliu ,
at first glance, seems you are right. In the case of calling `getSession`method many times ( in the same request) will cause marking `reload` flag as true many times...And this causes losing some updates..
So as you suggested somehow we have to be aware of number of calling times  `getSession` method..
Tomorrow, i will write test for your case..

[2015-06-17 05:11] pveentjer commented on #5017
I understand the need for it. But I'm very worried about the backwards compatibility issues. So I want to expose the least amount as possible. And you can get the test library; only not from a public repo. That is it.

[2015-06-17 07:27] LoneRifle opened #5516 "MaxSizeChecker.getApproximateMaxSize: implicit cast to int breaks isEvictableHeapPercentage, possibly others"
When the eviction policy of a distributed IMap is set to heap percentage with a threshold of 1%, MaxSizeChecker will invoke isEvictableHeapPercentage when determining whether to evict entries. getApproximateMaxSize will then be invoked with a maxSizeFromConfig argument of 1.

Because the return type of getApproximateMaxSize is an int, the expression:
`maxSizeFromConfig * EVICTION_START_THRESHOLD_P

[2015-06-17 07:57] basovnik opened #5518 "Getting instance of sun.misc.Unsafe class does not work on HPUX operation system"
See [error report](https://gist.github.com/basovnik/a1c0bb364930d9374e28)

[2015-06-17 07:57] bilalyasar commented on #4024
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK6/com.hazelcast$hazelcast/567/testReport/junit/com.hazelcast.map.mapstore/MapStoreTest/testGetAllKeys/

[2015-06-17 07:59] jerrinot commented on #4024
There is a PR with a fix waiting to be merged:
https://github.com/hazelcast/hazelcast/pull/5489
On 17 Jun 2015 10:57, "Bilal Yasar" <notifications@github.com> wrote:

[2015-06-17 09:42] mdogan commented on #3308
fixed by #5503

[2015-06-17 09:42] #3308 closed

[2015-06-17 10:22] #5460 closed

[2015-06-17 10:24] pveentjer commented on #5389
Please upgrade to 3.5 (will be released shortly). Probably this issue is gone since a lot of work has been done on the invocation.

[2015-06-17 10:25] pveentjer commented on #5518
Should this not be classified as a bug?

[2015-06-17 10:44] th0rb3n commented on #5389
Is there a v3.4.x counterpart? The v3.4.x would be the next version we are able to upgrade to.

[2015-06-17 10:50] Donnerbart commented on #5389
3.4.3 has been released yesterday: http://hazelcast.org/download/

But I cannot say by heart if this issue has been resolved.

[2015-06-17 13:33] bilalyasar commented on #5298
new failure
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/605/testReport/junit/com.hazelcast.ringbuffer.impl/RingbufferAddAllReadManyStressTest/whenNoTTL/

[2015-06-17 14:15] StanAccy opened #5526 "Threads blocked waiting on IQueue.take() are not interrupted"
With reference to: #3133, #2117, #2833, #4143

While the fix for those issues no longer wrap the InterruptedException (if thrown), Hazelcast does not correctly interrupt threads that are blocked waiting on IQueue.take().  See the example unit test on #4143.

While interrupting the waiting threads (or shutting down their ExecutorService) fires the InterruptedException, Hazelcast code catches that e

[2015-06-17 14:45] jaysonminard commented on #5220
@purplefox can you please bump version of hazelcast for vert.x-3 and do a milestone7?

[2015-06-17 14:49] dfex55 commented on #1668
@mesutcelik Can you reference the commit? thx

[2015-06-17 14:54] jensenmo commented on #5220
@purplefox I would second that - but for 2.1.x? Thanks!

[2015-06-17 15:40] dsukhoroslov opened #5527 "Partition Groups does not work"
the issue is discussed here: https://groups.google.com/forum/#!topic/hazelcast/7aPUQxk6Rbw

[2015-06-17 15:40] asidyakin opened #5528 "Spring xml config: boolean type validation"
In spring config, when trying inject boolean property in hazelcast bean(<hz:hazelcast:....</hz:hazelcast)
throw exception
Caused by: org.xml.sax.SAXParseException: cvc-datatype-valid.1.2.1: '${statistics.enabled}' is not a valid value for 'boolean'.

solutions:
1. Custom XMLBeanDefinitionReader with disabled schema validation
2. Not XML configuration (java)

Such approachs aren't applicable in our

[2015-06-17 15:41] dsukhoroslov commented on #5527
the test case is:

import java.util.Set;

import junit.framework.Assert;

import org.junit.Test;

import com.hazelcast.config.Config;
import com.hazelcast.config.JoinConfig;
import com.hazelcast.config.MemberGroupConfig;
import com.hazelcast.config.NetworkConfig;
import com.hazelcast.config.PartitionGroupConfig;
import com.hazelcast.config.PartitionGroupConfig.MemberGroupType;
import com.hazelcast

[2015-06-17 15:43] jaysonminard commented on #5220
(its a good sign that people fight over wanting vert-x releases, because vert-x is so loved jaja)

[2015-06-17 16:13] dfex55 commented on #2187
@mesutcelik Can you confirm the related tests for this issue are failing in 3.5 with deferred write?

quick check:
- deferred write true
- new session, key "test" not in session
1. session.setAttribute("test", "value")
2. session.getAttribute("test") -> returns null

quick guess:
In HazelcastHttpSession.setAttribute a new LocalCacheEntry is created if key is not in localCache. The used constructor

[2015-06-17 16:28] youngm commented on #5209
A quick update to let everyone know I'm still looking into this issue.  I was able to duplicate the issue in AWS using a c3.8xlarge and a significantly larger number of clients.  I choose c3.8xlarge because it had a 10Gb network connection just like our organization's VMs.

I'm going to continue testing with various amounts of load and whatnot with slower network vms and try lowering the network p

[2015-06-17 17:33] jerrinot commented on #5209
Hi Mike,

Many thanks for the update. May I kindly ask you to try it with the just
released version 3.5 too? There was a bug related to operational scheduling
we fixed in 3.5. I don't think there is a similar bug in the 3.4, but the
scheduling implementation is quite different so it's hard to prove it.

Cheers,
Jaromír
On Jun 17, 2015 7:28 PM, "Mike Youngstrom" <notifications@github.com> wrote:

[2015-06-17 17:35] youngm commented on #5209
@jerrinot certainly.  I'll add that to my list of things to try.

[2015-06-17 17:37] jerrinot commented on #5209
That's awesome, many thanks and good luck with testing!
On Jun 17, 2015 8:35 PM, "Mike Youngstrom" <notifications@github.com> wrote:

[2015-06-17 18:51] pveentjer opened #5529 "Splitbrain: independent data-structures get lost"
When independent data-structures are created during this split brain, then when the split brain is resolved, data-structures from one split are lost. Below is a test for IAtomicLong, but i guess that a lot of data-structures suffer from the same problem.

[code]

[2015-06-17 18:59] mesutcelik commented on #2187
can you please create a new issue with sticky attribute value?

[2015-06-17 19:02] mesutcelik commented on #1668
fixed by https://github.com/hazelcast/hazelcast/pull/5374

[2015-06-17 20:03] dsukhoroslov commented on #5528
the same issue is mentioned here: https://github.com/hazelcast/hazelcast/issues/4700

[2015-06-17 22:07] serkan-ozal commented on #5518
Hi @basovnik
As far as I see from the crash logs, you are using 32 bit JVM (addresses are 4 byte length)
On 32 bit JVM, array base offset is `12 bytes=0x0C` (object header [4 bytes] + class definition pointer [4 bytes] + array length [4 bytes])

When I see the crash logs, problematic address is `0x6b3c7aa4` and also on the top of stack, I see this:

[code]

`6b3c7a98` is the address of temporary b

[2015-06-18 07:09] bilalyasar opened #5530 "[TEST-FAILURE] MigrationAwareServiceTest timeout"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/583/console

[2015-06-18 07:11] bilalyasar commented on #5298
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/606/com.hazelcast$hazelcast/testReport/com.hazelcast.ringbuffer.impl/RingbufferAddAllReadManyStressTest/whenNoTTL/

[2015-06-18 07:12] bilalyasar commented on #5074
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK6/568/console

[2015-06-18 07:15] jerrinot commented on #5518
I'm assigning the issue to myself. I discussed it with @serkan-ozal and we came to a conclusion we'd provide a workaround for platforms where aligned access is required.

Many thanks to @basovnik for reporting it!

[2015-06-18 07:23] gurbuzali commented on #5529
I don't believe this is an easy task to handle in 3.5.1

[2015-06-18 07:55] mdogan commented on #5529
This is already known thing and not critical to me. It's also stated clearly in docs that only split-brain handling is implemented only for map:

http://docs.hazelcast.org/docs/3.5/manual/html-single/hazelcast-documentation.html#network-partitioning-split-brain-syndrome

[2015-06-18 08:04] dfex55 opened #5531 "WebFilter broken in 3.4.3 and 3.5 - getAttribute always returns null - existing tests are failing"
In 3.4.3 and 3.5 the WebFilter is broken (again).

The test written for issue #2187 fails for me with deferred-write set to true.
(17 WebFilter tests in total are failing for me)

You can reproduce this error with the following steps
- set deferred-write to true
- set an attribute on an empty session (e.g. setAttribute("key", "test"))
- get the attribute for the same key before it is copied to the

[2015-06-18 08:11] serkan-ozal opened #5532 "Make Unsafe calls Operating System Architecture Aware From the Memory Alignment Perspective"
Some operating systems (such as HPUX or Solaris) and HW platforms have constraints about the aligned memory operations. In these architectures memory operations must be byte by byte as implemented in `DirectByteBuffer`.

Related issue on HPUX: https://github.com/hazelcast/hazelcast/issues/5518
Related issue on Solaris: https://issues.apache.org/jira/browse/CASSANDRA-6628
Explanation about the issu

[2015-06-18 08:12] pveentjer commented on #5529
The document states something else. One instance will be chosen, so if I have a counter X.. and then there is splitbrain and Cluster1 and Cluster2 make changes.. then when resolving, the changes of one of these clusters is prefered. That is fine.

But in this case.. when during a split brain counter X is created on 1 half.. counter Y is created on the other half, then after the split brain is reso

[2015-06-18 09:19] serkan-ozal commented on #5518
In addition i advice a new system property such as `hazelcast.disableUnsafe`. If this property is set, we can make unsafe unavailable for our system for handling future unsafe issues. So if user really doesn't need to unsafe (like in this issue),  he/she can simply disable unsafe without waiting our fix/patch

[2015-06-18 09:22] Donnerbart commented on #5518
:+1: for the system property. Who knows on which systems we might experience Unsafe problems in the future. Shouldn't harm to have a switch for this.

[2015-06-18 09:26] dfex55 commented on #5444
+1
Maybe the already existing backups can be used by the new location, so repartitioning can be finished/acknowledged in a shorter time.
After that, the location of backups can be reorganized by the new owning node.

[2015-06-18 11:54] bilalyasar commented on #5531
Hi @dfex55,
for the your set/get case, you are right. Seems it is bug and i sent a PR for that bug.
And for failing other tests, there can be some network/connection problem in your computer, can you try again with closing multicast in tests? https://github.com/hazelcast/hazelcast/blob/master/hazelcast-wm/src/test/webapp/WEB-INF/hazelcast.xml#L29 and you need to enable tcp/ip with interface `127.0

[2015-06-18 12:04] lukasblu commented on #5444
+1

Adding an additional node should improve reliability and performance - not introduce a potential risk of losing data...

If adding a node takes longer, because of additional synchronization, then I can live with that, but losing data is certainly not an option.

A scenario where a new node crashes while joining a cluster is actually quite realistic. The new node might have too little memory or

[2015-06-18 12:42] jnehlmeier commented on #5531
@bilalyasar The test failures we see are part of the JettyWebFilterTest and TomcatWebFilterTest which both are in the "NightlyTest" JUnit category. So you would need to use the a corresponding Maven profile to execute them. I have used the "nightly-build" profile.

I have re-executed the tests with disabled multicast and instead used tcp ip on 127.0.0.1 but tests are still failing. You can see the

[2015-06-18 13:05] bilalyasar commented on #5531
@jnehlmeier can you try again with closing network? e.g: wifi.

[2015-06-18 13:11] purplefox opened #5538 "Multimap entry listener provides incorrect null values"
There is a serious regression in Hazelcast 3.4.3.

If I create an entry listener on a multimap, and then removing some values from the map, the entry listener gets called with incorrect null values.

This currently causes the Vert.x test suite to fail and means we cannot upgrade to this version in the up-coming Vert.x 3.0 release which is due out in the next few days.

This is an *extremely* serio

[2015-06-18 13:13] purplefox commented on #5220
@jerrinot @gurbuzali Unfortunately the 3.4.3 release is broken and not usable by Vert.x:

https://github.com/hazelcast/hazelcast/issues/5538

This is becoming extremely critical for us. We have a major release of Vert.x due next Monday, and right now we don't have a stable version of Hazelcast that we can use for it.

I hope the hazelcast team will look at this very urgently.

[2015-06-18 13:26] jerrinot commented on #5538
Hi @purplefox,
that's embarrassing. I'm on it and I'll keep you updated.

[2015-06-18 13:59] jerrinot commented on #5538
Analysis:

There was a misjudgement on our side when backporting a behaviour change: https://github.com/hazelcast/hazelcast/pull/5407

I was an unfortunate, but concious decision to back-port it so tests could not catch it as they were changed too. It should have never been backported to a patch release. @gurbuzali is now working on fix to revert the change. We will have an emergency release tomor

[2015-06-18 15:36] dfex55 commented on #5531
@bilalyasar Network is fully functional. The errors do not happen because hazelcast has problems creating a cluster or has communication problems.

Can you confirm JettyWebFilterTest is running without errors for you with the 3.5 tag?

In your CI builds the JettyWebFilterTest is _not_ executed.

[2015-06-18 16:34] mesutcelik commented on #5531
Hi @dfex55 ,

We have nightly build which is executed through *nightly-build* profile and we don't see any problem.
Can you please give us more info about which tests are failing in your local, possibly with stack traces?

[2015-06-19 01:28] bwzhang2011 opened #5541 "hazelcast shell or minitorWar should be enhanced."
hi, hazelcast team. when test with hazelcast with its deployment, we switch to bin directory and execute server script to start hazelcast instance and we switch to mancenter directory and execute starManCenter script to start mancenter war. but It lack the support to stop hazelcast instance in server script (by the way, it's very strange that I could not find the procId with hazelcast but I can us

[2015-06-19 06:00] pveentjer commented on #5541
Why don't you write your own scripts? These scripts are just toy scripts; they are not meant to be used in production.

[2015-06-19 07:13] emrahkocaman commented on #5541
You can specify port number and context root when using `startManCenter` script.
i.e: `./startManCenter.sh 8080 mancenter`.
Please see [manual](http://docs.hazelcast.org/docs/3.5/manual/html-single/hazelcast-documentation.html#management-center) for other installation options.

Too see processId of hazelcast instance, you may use below script
`ps -a |grep StartServer`

Beyond that, I agree with @p

[2015-06-19 07:53] mesutcelik opened #5543 "minimal-json with provided scope is not picked up by shade plugin"
Currently minimal-json config is :
[code]

we need to find a way to change the scope to **provided** while keeping shade plugin work with minimal-json to include the library in hazelcast.jar

[2015-06-19 09:12] wenerme opened #5544 "Support listen for ILock"
Current(3.5) ILock is no way to monitor the state change, if I got a set of ILock, I have to make a new thread, then loop it over and over to detect the state change, how about add a listen support for ILock ?

[2015-06-19 09:15] bwzhang2011 commented on #5541
@emrahkocaman, thanks for view and much appreciate of your help and thanks all the same with @pveentjer. as you suggestion, I can start mancenter with different port and sorry I don't carefully read the manual. for the second one. I could not find the the hazelcast instance but I found some info that's very strange.
first, I use ps -ef|grep  StartServer —— I could not find any procId with hazelcas

[2015-06-19 09:15] #5541 closed

[2015-06-19 09:25] purplefox commented on #5538
Thanks. Please keep us posted on progress.

[2015-06-19 09:46] bilalyasar commented on #4024
@jerrinot can you please send backport of corresponding PR.
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OracleJDK1.6/com.hazelcast$hazelcast/260/testReport/junit/com.hazelcast.map.mapstore/MapStoreTest/testGetAllKeys/

[2015-06-19 10:14] jnehlmeier commented on #5531
@mesutcelik
I work on the same team as dfex55 and I have executed the tests.

I have updated `hazelcast/pom.xml` to activate hazelcast logging during the `nightly-build` tests by changing `-Dhazelcast.logging.type=none` to `-Dhazelcast.logging.type=jdk`. The `logging.properties` file I have used contained
[code]
and I have launched the tests using
[code]
I have updated the GIST https://gist.github

[2015-06-19 11:35] jerrinot commented on #5543
the shade plugin generates `dependency-reduced-pom.xml` (or something like this)
isn't this what we should upload to maven central (and all other repositories) instead of our main pom.xml ? as I assume it doesn't contain the shaded libs.

[2015-06-19 11:37] mesutcelik commented on #5543
minimal-json classes are not included inside the hazelcast.jar file. That is the problem.

[2015-06-19 11:43] kobalski commented on #5531
Hi @jnehlmeier ,
We will try to run our tests with the configurations you have provided, meantime can you try running tests with  `-Djava.net.preferIPv4Stack=true`. Sometimes, these tests can fail on Macs due to IPV6 interface.

[2015-06-19 12:01] jerrinot commented on #5543
but if you change the scope of the json library to compile? then the classes will be included in the hazelcast.jar and the dependency won't be visible in the `reduced-dependency-pom.xml` at the same time?

[2015-06-19 13:47] jnehlmeier commented on #5531
@kobalski while in my provided GIST a total of 53 tests failed with `-Djava.net.preferIPv4Stack=true` only 39 failed, although I am not sure if that property is really responsible for the change. Maybe its more like a timing issue.

However I have run the tests with the above configuration on our CI server (Ubuntu, OpenJDK 7 and Oracle JDK 8) and they all work without issues. Seems like a Mac OS p

[2015-06-19 13:50] bilalyasar commented on #5531
@jnehlmeier ,  I created a public build for testing and couldn't see any problem.
https://hazelcast-l337.ci.cloudbees.com/job/session-replication-test/

[2015-06-20 11:40] sbuettner commented on #1379
We are seeing the same issue as described by @jjongsma when trying to deploy Hazelcast inside AWS Elastic Beanstalk using Docker.

[code]

[2015-06-20 15:46] bwzhang2011 commented on #5462
@pveentjer, would you mind leaving more consideration that only one member of which will consume the data,  I think ITopic could add more method to reach that compared with IExecutorService which could leave the member parameter and also one the member for execution.

[2015-06-21 01:38] palevi67 commented on #1564
+1

[2015-06-21 13:37] purplefox commented on #5538
@gurbuzali @jerrinot Any updates on this?

[2015-06-21 13:40] purplefox commented on #5538
@jerrinot I notice there is a 3.4.4 on the website:

http://hazelcast.org/download/

Is this the one we should use?

[2015-06-21 13:41] purplefox commented on #5538
I also notice a Hazelcast 3.5 was released on Wednesday - does this contain the fixes we need, or does it suffer from the same issue?

[2015-06-21 14:02] Donnerbart commented on #5538
I think 3.4.4 was released because of this issue and AFAIK just contains the fix for this. I don't know exactly about 3.5, but I think the behavior change is still in there, since it is not a patch release (and it was the source for the unlucky backport).

So 3.4.4 should work for you, 3.5 may not (out of the box).

[2015-06-21 14:04] purplefox commented on #5538
Ok thanks, so I guess there will be a 3.5.1 release out soon that fixes the broken multimap behaviour in the 3.5 branch? We don't want to be stuck on the 3.4 branch forever.

[2015-06-21 14:06] Donnerbart commented on #5538
To be honest I have no idea about the intention of that change in 3.5.x. I think @gurbuzali can clarify this next week.

[2015-06-21 15:44] gurbuzali commented on #5538
Hi @purplefox multimap behaviour in 3.5 is not broken, it is changed.
we've changed the way you get removed value in `EntryEvent`, now you need to call `getOldValue()` method of `EntryEvent` to be able to get the value. Our mistake was to backport this behavioral change to 3.4.x release, we've fixed it with 3.4.4.

[2015-06-21 15:44] #5538 closed

[2015-06-21 16:29] purplefox commented on #5538
Um.. ok... So why do we need 3.4.3 at all? ;)

If 3.5 supports what we want to do if we make a simple code change on our side and use getOldValue() instead of getValue(), then surely we could have just used that? Unless there are other breaking changes in it that I am unaware of... or I'm missing something.

BTW I am curious - what is Hazelcast's policy for making breaking changes between releases

[2015-06-21 16:37] Donnerbart commented on #5538
This issue is the reason for 3.4.4 being released so close after 3.4.3. The version 3.4.3 is fine, beside this backport related issue. So if you don't suffer from it, you don't have to upgrade.

I think your assumption on 3.5 is correct. If you can easily adapt to the new multimap interface, you should not have troubles to use this. Maybe there are other important changes, but they should be part

[2015-06-21 16:39] purplefox commented on #5538
Ok thanks for the info.

Could you clarify whether the fix for this: https://github.com/hazelcast/hazelcast/pull/5284#event-307374821 is included in the 3.5 release?

[2015-06-21 16:44] purplefox commented on #5538
I think it's a pretty common (and sane!) policy to try to keep APIs compatible between minor releases and not change behaviour of existing methods. As you say "enhance" the API (e.g. by adding *new* methods and deprecating old methods), but not break the API by changing behaviour of current methods.

That being said, that clearly hasn't happened with the multimap behaviour change, I guess you have

[2015-06-21 16:48] Donnerbart commented on #5538
`hazelcast:maintenance-3.x` looks like the 3.5.1 branch, but I cannot say this for sure. I also have no information when the 3.5.1 release is planned. If non of my colleagues answer this today, just poke us again during the week.

[2015-06-21 16:54] gurbuzali commented on #5538
@purplefox 3.5 has the fix, https://github.com/hazelcast/hazelcast/pull/5285

[2015-06-21 17:00] purplefox commented on #5538
Ok thanks Ali, I was looking for the same commit in the 3.5 tag but couldn't see it, but I see now you applied the fix as two different commits in different branches.

I'm currently putting 3.5 through our test suite. If it looks good I guess we just use that.

[2015-06-21 21:34] dsukhoroslov opened #5548 "IExecService.submitToMember(Runnable task, Member member) throws NPE"
I have a case when I want to run a task on local member asynchronously, and I don't need a result. So, I implemented a Runnable + IdentifiedDataSerializable (don't see why it is necessary to serialize/deserialize a task when it is invoked on the local member only, BTW). I start my task as:
	execService.submitToMember(new MyTask(<params>),
							hzInstance.getCluster().getLocalMember(), null);

th

[2015-06-22 08:19] ssozonoff opened #5551 "Hazelcat 3.5 - InvalidConfigurationException: cvc-complex-type.2.4.a:"
I have a configuration working fine with Hazelcast 3.4.3, upon upgrading to 3.5 I get the following XML validation error. The XML itself validates just fine using an external validator so seems something is messed up with your internal validation. Can the validation be disabled ?

Thanks

Caused by: com.hazelcast.config.InvalidConfigurationException: cvc-complex-type.2.4.a: Invalid content was fou

[2015-06-22 08:24] bilalyasar commented on #5551
Can you post your hazelcast.xml file?

[2015-06-22 08:35] ssozonoff commented on #5551
<?xml version="1.0" encoding="UTF-8"?>
<hazelcast-client xsi:schemaLocation="http://www.hazelcast.com/schema/client-config hazelcast-client-config-3.5.xsd"
                  xmlns="http://www.hazelcast.com/schema/client-config"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <group>
        <name>ikentoo</name>
        <password>iKentoo-2015</password>
    </group>

[2015-06-22 09:00] bilalyasar commented on #5551
@ssozonoff , I just created very simple maven project with your hazelcast-client.xml
It worked in my environment, can you try in your environment?
https://github.com/bilalyasar/invalid-config

[2015-06-22 09:05] bilalyasar opened #5552 "[TEST-FAILURE] IOBalancerStressTest.testEachConnectionUseDifferentSelectorEventually"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/609/testReport/junit/com.hazelcast.nio.tcp.iobalancer/IOBalancerStressTest/testEachConnectionUseDifferentSelectorEventually/

[2015-06-22 09:16] ssozonoff commented on #5551
Yes this works fine however our real environment is not that simple. As mentioned I was also able to validate the XML using a 3rd party validator.

The only thing I can say is that this very same configuration works fine with Hazelcast 3.4.3

I change to 3.5 and it no longer works with the error I mentioned.

[2015-06-22 09:21] bilalyasar commented on #5551
Because with 3.5, we introduced new [fail-fast on invalid configuration feature.](https://github.com/hazelcast/hazelcast/blob/4270dc61e315b82c1b6db4f65851c03eba595a83/hazelcast/src/main/resources/release_notes.txt#L29) ( xml configs are validated according to schemas)
But according to your xml, hazelcast-client doesn't fail with simple project..
So we have to find why your hazelcast-client.xml fil

[2015-06-22 09:28] jnehlmeier commented on #5531
@bilalyasar, yeah on Linux/Ubuntu things work fine for us as well as said in my previous comment. However on two different Mac OS hosts the tests fail. If you have access to Mac OS then try running tests on Mac OS using Oracle JDK. For now we just ignore it and run tests on Linux if we need to.

Maybe issue #5188 is kind of related and @davidsiefert has also used OS X.

[2015-06-22 09:42] ssozonoff commented on #5551
In the meantime is there a way to turn off this validation behavior ?

[2015-06-22 11:05] bilalyasar commented on #5551
@ssozonoff, no there is no configuration for disabling validation behaviour.
I am trying to reproduce your case but i couldn't succeed it. Your hazelcast-client.xml file is working in my environment well.
Can you provide some infos about your environment like java version, OS etc?
I want to reproduce your case.

[2015-06-22 11:07] bilalyasar commented on #5551
Can you also post logs from starting node section:
like
[code]

[2015-06-22 11:19] ssozonoff commented on #5551
I am running under OSX Yosemite
java build 1.7.0_40-b43

Spring framework 4.0.3 although this client is being started up from Datanucleus L2 JCache plugin and thats why we are not using Spring configuration. I will look at getting you some logging as requested.

''' text
Jun 22, 2015 1:11:39 PM com.hazelcast.client.config.XmlClientConfigLocator
INFO: Loading configuration classpath:datanucleus-haz

[2015-06-22 11:44] ssozonoff commented on #5551
[code]

[2015-06-22 12:57] bzlat opened #5554 "IMap.destroy() - map is destroyed and then immediately recreated"
Creating this issue as suggested by @bilalyasar (see [discussion on the Hazelcast Google Groups forum] (https://groups.google.com/forum/#!topic/hazelcast/G1P43tORJPA))

Hazelcast version that you use: ```3.4.2```, ```3.5```
Cluster size: ```1```
Number of the clients: ```1```
Version of Java: ```OracleJDK 1.7.0_80, x86_64```, ```OracleJDK 1.8.0_45, x86_64```
Operating system: ```OS X Yosemite 10.1

[2015-06-22 12:58] gurbuzali commented on #5548
you are passing `ExecutionCallback` as null to the method call, that's why you are getting exception
[code]

you can use below method instead if you don't want to use `ExecutionCallback`

[code]

[2015-06-22 12:58] #5548 closed

[2015-06-22 13:08] emrahkocaman commented on #4590
Hi @CatchSandeepVaid, time-travel is only for inspecting statistics. Old values of data structures can not be seen.

[2015-06-22 13:19] sertugkaya opened #5555 "Operation timeout behavior is different in client and in node when calling IMap.executeOnKey()"
For v3.5:
When an executeOnKey() operation reaches `hazelcast.operation.call.timeout.millis`value (an example operation is sleeping inside a simple entryProcessor() ) :
Node side, it is asked if operation is still executing:
[code]
Exception in thread "main" com.hazelcast.core.OperationTimeoutException: No response for 4000 ms. Aborting invocation! Invocation{ serviceName='hz:impl:mapService', op=

[2015-06-22 14:56] lukasblu commented on #5261
Hi,

short update on this issue: in 3.5 this problem still occurs. However, the problem _only_ occurs if the key of the lock is owned by a local partition. If the lock key is on a partition owned by another thread - and therefore a remote operation is executed - the "too late" lock operation is correctly discarded.

Best,
Lukas

[2015-06-22 16:22] lukasblu commented on #4671
Hi,

just a short update on the status of this issue: I run my tests using 3.5 and this problem still exists.

I will now try the propsed fix by @ahmetmircik here:
https://github.com/hazelcast/hazelcast/compare/master...ahmetmircik:fix/3.5/nearcacheStalenessMaybeFix?expand=1

Best,
Lukas

[2015-06-22 16:26] mtopolnik commented on #4671
@lukasblu Don't; we're already working on it and Ahmet has a much better, deterministic approach where correct ordering of cache operations is enforced by the operation thread. This work did not make it to the 3.5.0 release due to time constraints. If you do go and experiment with the above WIP, may I warn you that `getSlot()` there is probably broken because it is using a bitmask approach to effe

[2015-06-22 17:34] lukasblu commented on #4671
Hi @mtopolnik ,

oh, I just saw your comment now! :-) So, I did test the "possible fix" of @ahmetmircik and it looks promising, but you are right, it does _not_ fully fix the problem.

What I experienced was, that no near cache invalidations were actually lost, but the put thread in my TestLocalNearCache7 test is still seeing assertion violations - meaning that the put thread does not always see i

[2015-06-22 17:44] mtopolnik commented on #4671
@lukasblu I have imported your test code as an official Hazelcast test case so rest assured its assertions will be satisfied :)

[2015-06-22 21:26] youngm commented on #5209
Confirmed still fails with 3.5 and on CentOS 7 VM.  Still more stuff to try.

[2015-06-23 03:45] hamanhlam opened #5560 "Hazelcast Simulator. Cannot connect to Agents."
Environment: Windows 7. Hazelcast simulator 0.5. Using Cygwin sshd to remote agents.
Hi.
    I am trying to install hazelcast simulator following this article  http://docs.hazelcast.org/docs/3.4/manual/html/installingsimulator.html.

At last step i ran this command to try connecting my agent instance in localhost:
$ ssh -o BatchMode=yes gitpm@10.8.15.126 "echo ok" 2>&1
output:
Permission denied (p

[2015-06-23 04:58] pveentjer commented on #5560
Can you do a ssh -v simulator@10.8.15.126 and post the output.

And where are your target machines running? 10.8.15.126 sounds like an ec2 ip address.

[2015-06-23 05:22] pveentjer commented on #5527
Which HZ version?

[2015-06-23 07:07] hamanhlam commented on #5560
Thank you.
I have changed some of the information on simulator config:
GROUP_NAME=group_test
USER=gitpm

10.8.15.126 that is my ip not ec2 ip address.
I want to test in local so I created SSH server on my machine, and  setup public/private key pair  to simulator look like a local machine remote another machine. In 10.8.15.126 (my machine) I have cluster with  2 members 10.8.15.126:5702 and 10.8.15

[2015-06-23 07:25] dsukhoroslov commented on #5527
3.5 and earlier

On Tue, Jun 23, 2015 at 8:22 AM, Peter Veentjer <notifications@github.com>
wrote:

[2015-06-23 07:39] mdogan commented on #5560
@hamanhlam, @pveentjer;

Can you move this issue to simulator repo (https://github.com/hazelcast/hazelcast-simulator)?

[2015-06-23 07:45] hamanhlam commented on #5560
This issue was moved to hazelcast/hazelcast-simulator#690

[2015-06-23 07:45] #5560 closed

[2015-06-23 07:50] acasiawind opened #5561 "RefelctionHelper.createGetter() has problem with generic retrun value."
if return value of method is generic type, it can't be working.

![image](https://cloud.githubusercontent.com/assets/5326703/8301273/7cacab22-19c7-11e5-8367-2c155e0a26df.png)

it should be replaced with specified Method.invoke(obj).getClass();

[2015-06-23 08:38] pveentjer opened #5562 "Pooling of BufferObjectDataInput"
Currently for every deserialization and BufferObjectDataInput is created. This generates waste since an ByteArrayObjectDataInput is created + an array of data for every deserialization.

The BufferObjectDataOutput is already cached; the Input should use a similar approach.

[2015-06-23 08:57] emrahkocaman commented on #5118
Hi @Belkacem , This info is provided by [OperatingSystemMXBean#getSystemCpuLoad](https://docs.oracle.com/javase/8/docs/jre/api/management/extension/com/sun/management/OperatingSystemMXBean.html#getSystemCpuLoad--) and it's possible that this method can return negative values when cpu load is not available.

[2015-06-23 09:46] lukasblu opened #5564 "OperationTimeoutException when using MultiExecutionCallback for long running tasks"
Hi,

as issue #4398 is already closed and already fixes most of the issues mentioned there, I open a new issue here.

The problem described in issue #4398 is fixed in all cases, except when using MultiExecutionCallback to wait for completion of long running tasks.

Here is the test that shows the problem:

[code]

Best,
Lukas

[2015-06-23 09:49] lukasblu commented on #4398
Hi,

thanks for fixing this problem.

However, there remains a problem when using callbacks to wait for completion of the task. I have opened a new issue #5564 to track this.

Thanks and best,
Lukas

[2015-06-23 10:07] lukasblu commented on #4671
Hi @mtopolnik ,

that sounds great!

My only concern left is, that I'm not fully sure if my test is _strict_ enough. If you take a look at my last code snipped I added to this issue (the improved PutRunnable) you will see the following line:

[code]

I print this warning if the assertion is violated. But, instead of failing the test immediately, I test again to see if the near cache becomes eventu

[2015-06-23 10:41] mtopolnik commented on #4671
@lukasblu

Yes, I noticed this subtlety... I had my own fix (too complex to go to production) which never produced any of those warnings so my view is that those should be promoted to full-blown assertion failures.

[2015-06-23 11:04] Serdaro opened #5566 "Create a sample Reference Manual with GitBook using AsciiDoc"
A part of the Reference Manual must be created with GitBook using AsciiDoc language. It will be then presented to the Hazelcast team and feedback will be requested. If accepted and most importantly majority of the current documentation problems are solved, Reference Manual will be migrated to GitBook with AsciiDoc with another GitHub issue.

[2015-06-23 11:05] Serdaro opened #5567 "README of the Hazelcast/Hazelcast repo should be updated."
It seems a bit outdated.

[2015-06-23 11:08] Serdaro opened #5568 "Hazelcast Documentation Style Guide must be applied to the whole Reference Manual."
The style guide outlined on Confluence will be applied to the Reference Manual, chapter by chapter.

[2015-06-23 11:10] Serdaro opened #5569 "All Hazelcast configuration elements and attributes should be included in the Hazelcast Configuration chapter."
The Config XSD and Hazelcast Configuration chapter of the Reference Manual must be compared to see if there are any elements/attributes missing.

[2015-06-23 11:30] lukasblu commented on #4671
Hi @mtopolnik

nice, so we agree :-)

Here is an updated version of TestLocalNearCache7 which performs two tests - one to ensure eventual consistency and one to be strict on all assertions:

[code]

Thanks and best,
Lukas

[2015-06-23 11:52] bilalyasar commented on #5455
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/588/
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/589/

[2015-06-23 11:52] bilalyasar commented on #5455
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-IbmJDK1.6/258/

[2015-06-23 12:20] bilalyasar opened #5570 "[TEST-FAILURE] ClientServiceTest.testConnectedClientsWithReAuth"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK1.6/com.hazelcast$hazelcast-client/578/testReport/junit/com.hazelcast.client/ClientServiceTest/testConnectedClientsWithReAuth/

[2015-06-23 14:01] demon-xxi commented on #3399
Any progress on this issue? It is still happening for us too.

[2015-06-23 14:03] jimbokun commented on #5551
The bug is in line 67 of:

https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/config/AbstractXmlConfigHelper.java

The schemaValidation method modifies the document namespaces:

        root.setAttribute("xmlns", xmlns);
        root.setAttribute("xmlns:xsi", xsi);
        root.setAttribute("xsi:schemaLocation", hazelcastSchemaLocation);

But xmlns is sometime

[2015-06-23 14:23] bilalyasar commented on #5242
closed by https://github.com/hazelcast/hazelcast/pull/5537

[2015-06-23 14:23] #5242 closed

[2015-06-23 14:24] bilalyasar commented on #5531
closed by https://github.com/hazelcast/hazelcast/pull/5537

[2015-06-23 14:24] #5531 closed

[2015-06-24 04:16] hamanhlam opened #5575 "What is port 9000?"
Hi.
In this article http://docs.hazelcast.org/docs/latest/manual/html/installingsimulator.html. "Please ensure that all remote machines are reachable via TCP ports 22, 9000".
What is port 9000?
Thanks.

[2015-06-24 06:50] mesutcelik commented on #5298
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/612/com.hazelcast$hazelcast/testReport/com.hazelcast.ringbuffer.impl/RingbufferAddAllReadManyStressTest/whenNoTTL/

[2015-06-24 06:52] mesutcelik opened #5576 "[TEST-FAILURE] ClientNearCacheTest.putToCacheAndThenGetFromClientNearCacheWithObjectInMemoryFormat"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.7/594/com.hazelcast$hazelcast-client/testReport/com.hazelcast.client.cache.nearcache/ClientNearCacheTest/putToCacheAndThenGetFromClientNearCacheWithObjectInMemoryFormat/

[2015-06-24 06:55] mesutcelik commented on #5393
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/590/testReport/

[2015-06-24 06:58] Serdaro commented on #5575
@Donnerbart Could you please advise?

[2015-06-24 07:35] akoledzhikov commented on #4406
I also saw something strange - when doing the isExecuting check, there is this piece of code:

                    if (nodeEngine.getThisAddress().equals(target)) {
                        // target may change during invocation because of migration!
                        continue;
                    }

In case that a partition migration happened between the execution of the invocation and this

[2015-06-24 07:38] #4590 closed

[2015-06-24 08:20] Donnerbart commented on #5575
Port 9000 is the port the Agent uses. Have a look at the "Key Concept" section for the glossary, please: http://docs.hazelcast.org/docs/latest/manual/html/simulatoroverview.html

There is an image in the docs which shows the network layout, but the link is broken. I guess we have to copy the file into another path, Serdar?

![network](https://cloud.githubusercontent.com/assets/4196298/8325515/9595

[2015-06-24 08:28] Serdaro commented on #5575
In the Single HTML version, it is okay, I am checking it for the Multi HTML one.

[2015-06-24 09:03] emrahkocaman commented on #4863
Hi @Belkacem,
This behaviour is not reproducible on our side.
Could you please provide a heap dump? (You may start your jvm with `-XX:+HeapDumpOnOutOfMemoryError` parameter)
Also, you may need to increase your heap size depending on your cluster size and data structure count.

[2015-06-24 09:11] oobles opened #5578 "3.5 performance improvement: submitToKeyOwner deserializes request twice."
While doing some investigation into an issue we have with IExecutor.submitToKeyOwner I notice that the request is deserialized twice for a single call (we are using custom serialization which could be the cause).  These a two stack traces showing the call stacks where deserialization occurs of the request twice.  This has the effect of not allowing ObjectPool patterns for the object we deserialize

[2015-06-24 09:13] emrahkocaman commented on #5157
Hi @Belkacem ,
Your OS's default file limit might be too low for jetty. Can you please try increasing it?
Here is a blog post that I've found about the topic.
http://tux.hk/index.php?m=10&y=08&entry=entry081025-000654

[2015-06-24 10:04] hamanhlam commented on #5575
Hi. I am seting up this simulator based on that network layout but I don't know which service belongs to port 9000?.
"Port 9000 is the port the Agent uses", can you help to give me more info?. My Agent is using Windows os, I can not found which service is using port 9000, and how can install on Windows.

[2015-06-24 10:06] Donnerbart commented on #5575
Please read the documentation as suggested. "Agent" is a component of Simulator which is installed and started by Simulator itself. It has nothing to do with services from the operating system. The port is needed for the internal communication of Simulator.

[2015-06-24 10:12] noctarius commented on #5575
PS: Does Simulator work with Windows since it uses SSH and I assume shell commands / tools? :)

[2015-06-24 10:16] hamanhlam commented on #5575
@noctarius  can use cygwin and install openssh.

[2015-06-24 10:16] mesutcelik opened #5581 "Fast PR Builder by running tests in parallel"
https://maven.apache.org/surefire/maven-surefire-plugin/examples/fork-options-and-parallel-execution.html

To do that, we should move MulticastTests from Quick to some other category.

[2015-06-24 10:17] Donnerbart commented on #5575
There is already another ticket for this: https://github.com/hazelcast/hazelcast-simulator/issues/690

[2015-06-24 10:17] mesutcelik commented on #5581
@bilalyasar ,

Can you please update this issue with your findings?

[2015-06-24 10:25] gurbuzali commented on #5578
Hi @oobles,
Thank you for reporting, this is a known issue. the double de-serialization occurs because of client usage, it is not related with customer serializer as you've suspected.

[2015-06-24 10:25] noctarius commented on #5575
@hamanhlam yeah ok true, that's possible (I guess Posix services for Windows might also work) but it feels wrong to me ;-)

[2015-06-24 10:25] hamanhlam commented on #5575
@Donnerbart  yes, but nobody help me, so I create new topic in hazelcast issues.
I still get error when I run my test.
```gitpm@gitpm /cygdrive/d/development/hazelcast-simulator-0.5/my-tests```
$ ./run.sh

output:
Couldn't connect to publicAddress:10.8.15.126:9000

[2015-06-24 10:28] noctarius commented on #5575
Looked at the firewall settings? Maybe the Windows Firewall blocks the port / java executable?

[2015-06-24 10:29] Donnerbart commented on #5575
I think a response time of a day is fine for a company working in a lot of different timezones :)

I think together with the (missing) picture and the glossary it should be clear what we mean with "Agent" in the Simulator part of the documentation, and that the Coordinator uses port 9000 to communicate with our Agent component.

I think we should leave this issue for the documentation fix. I'll as

[2015-06-24 10:38] #5575 closed

[2015-06-24 11:50] oobles commented on #5578
Thanks, is this a 3.5 specific issue?  Is this also in 3.4.x?

[2015-06-24 11:51] gurbuzali commented on #5578
unfortunately yes, it is also in 3.4.x

[2015-06-24 13:01] mesutcelik commented on #5457
I think that is duplicate of https://github.com/hazelcast/hazelcast/pull/5221

[2015-06-24 13:01] #5457 closed

[2015-06-24 13:21] mesutcelik commented on #5528
@bilalyasar ,

is it possible fail fast here by checking the value is either spring placeholder like `${statistics.enabled}` or in a type of it should be i.e. `boolean`?

[2015-06-24 13:47] bilalyasar commented on #5528
@mesutcelik , no it is not possible, in xsd we couldn't define multiple types.

[2015-06-24 14:08] mesutcelik commented on #5528
not in the xsd but programatically.

[2015-06-24 16:08] #5516 closed

[2015-06-24 19:44] youngm commented on #5209
After 2 days of testing I think I can say with confidence that I don't have this problem running on CentOS 6 in my infrastructure which is interesting.  At least I found an environment I can use that doesn't have this issue.

I wrote a basic nio non-blocking client/server patterned fairly closely to how hazelcast uses selectors, socketchannel, and buffers.  I was unable to duplicate the issue with

[2015-06-24 21:17] jerrinot commented on #5209
@youngm: So you are able to reproduce it on multiple versions of Ubuntu, CentOS 7, but not on CentOS 6? That's interesting, it's pointing to some very low-level problem. I think @mdogan has experienced something similar while testing on Google Cloud quite some time ago?

Are your OSs fully updated? Do they use the latest available kernel package? I do recall a bug in a kernel causing a thread neve

[2015-06-24 21:48] youngm commented on #5209
@jerrinot One of my todo items is to run my tests against a typical VM install.  As of now all my VMs are based on Cloud Foundry Bosh "Stemcells".

https://bosh.io/stemcells

Which are slimmed down distros that should be fully up to date at the time of building.  To date these stemcells are very well built.  But I agree I should try a stock installed distro to eliminate this variable.  I'll update

[2015-06-25 00:23] jerrinot opened #5586 "CacheNotExistsException should contain name of the cache requested"
Exception created at https://github.com/hazelcast/hazelcast/blob/ff68abd9657b87566d8bd8ac5e0e76083f9a78f1/hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/AbstractCacheMessageTask.java#L46 should contains the name of the cache.

All other usages of the exception should be changed as well.

[2015-06-25 07:46] bilalyasar commented on #5298
@pveentjer
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/613/com.hazelcast$hazelcast/testReport/com.hazelcast.ringbuffer.impl/RingbufferAddAllReadManyStressTest/whenNoTTL/

[2015-06-25 07:52] bilalyasar commented on #4517
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OracleJDK1.7/com.hazelcast$hazelcast/140/testReport/junit/com.hazelcast.map.query/QueryIndexMigrationTest/testQueryWithIndexDuringJoin/

[2015-06-25 07:54] Serdaro opened #5588 "Task-Oriented Content concept should be applied to the appropriate chapters/sections."
For the sections where we have headings like 'Configuring Something', 'Installing That', 'Adding/Removing These and Those', the content should focus on the "how" question and include instructions to perform the related task.

[2015-06-25 08:29] mdogan commented on #5209
@jerrinot, right.

It was on GCE with Ubuntu (12 or 14, I can't remember). Problem was at some point tcp connection between some nodes were becoming stuck, nodes were not able to read/write from/to these sockets. When I inspected the socket send and receive buffers of related connections and it was always like send buffers are full, receive buffers are empty. But data was not flowing anymore.

The

[2015-06-25 08:47] gurbuzali commented on #5552
I've manged to reproduce it (just once) with finest logging enabled.
here is a log snippet looks suspicious to me
[code]

[2015-06-25 08:58] bilalyasar commented on #5551
Before validating xml, we are using transformer and some transformers corrupts xml, this causes exceptions.
If you get exceptions, can you try your project with the flag `-Djaxp.debug=1`? Then can you post logs here?
You can select transformer by giving some system property.
Also as a workaround you can try this:
[code]
This factory should be in your classpath. And many jdks includes this factory.

[2015-06-25 09:32] pveentjer commented on #5552
This test was generously provided by Ali to reproduce the problem:

[code]

[2015-06-25 10:17] gurbuzali commented on #5483
should be fixed in 3.5, please reopen if you still encounter the issue

[2015-06-25 10:17] #5483 closed

[2015-06-25 10:24] pveentjer commented on #5562
Is fixed with this pr:

https://github.com/hazelcast/hazelcast/pull/5571

[2015-06-25 10:24] #5562 closed

[2015-06-25 10:45] emrahkocaman opened #5591 "Mancenter "Map Config" popup items"
Map doesn't allow changing its max size, ttl and max idle properties to be changed.
However, these fields are editable in the "Map Config" popup of mancenter. These fields should be disabled to prevent misguiding.

[2015-06-25 10:45] gurbuzali commented on #1765
I've run your test on 3.5 and it is passing

[2015-06-25 10:45] #1765 closed

[2015-06-25 11:44] gurbuzali opened #5592 "Destroying a map just after creating it produces double create/destroy events for DistributedObjectListener"
This issue is valid for other distributed data structures too.
Simple reproducer

[code]

[2015-06-25 11:45] gurbuzali commented on #1407
you can use `evictAll` and `loadAll` methods.

[code]

[code]

For double create/destroy event I've opened a new issue https://github.com/hazelcast/hazelcast/issues/5592

[2015-06-25 11:45] #1407 closed

[2015-06-25 12:21] emrahkocaman opened #5593 "UpdateMapConfigOperation has no effect on `maxIdleSeconds` and `timeToLiveSeconds` properties"
Management center uses [UpdateMapConfigOperation](https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/internal/management/operation/UpdateMapConfigOperation.java) to update map configs.
This operation simply replaces map config of the related [MapContainer](https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/map/impl/MapCont

[2015-06-25 12:26] michalpetrov commented on #5526
I have the same problem. According to my test calling IQueue.destroy() resolves the issue. I'm just not sure if it's ok to call this method.

Something like this:

[code]

[2015-06-25 13:29] #5591 closed

[2015-06-25 15:02] youngm commented on #5209
@mdogan @jerrinot That is the EXACT same problem I am seeing here!  Nice to see that I'm not alone. :)

I can confirm the same thing happens in vSphere, Ubuntu 10, and CentOS 7.  If I got something duplicated in AWS would that even be useful to you guys?  Or would you probably just recommend using CentOS 6 and hope whatever is wrong with linux and Java fixes itself eventually?

[2015-06-25 15:35] mdogan commented on #5209
It will be definitely useful, especially if you can provide exact details to reproduce.

[2015-06-25 23:14] gurbuzali commented on #5554
related/duplicate https://github.com/hazelcast/hazelcast/issues/5592

[2015-06-25 23:18] alexturc opened #5598 "Multicast joiner slow"
I noticed that MulticastJoiner can be much slower than configuration parameters imply.

See the code below (MulticastJoiner.calculateTryCount()).
tryCount is adjusted by a value which can increase significantly the time a node is waiting to decide if is a master or not.

For example, even if I set multicast timeout seconds to 1, it still takes 8 seconds for a node to decide that is a master node.

[2015-06-26 07:11] #5118 closed

[2015-06-26 07:28] bilalyasar commented on #5103
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/com.hazelcast$hazelcast/593/testReport/junit/com.hazelcast.executor/SmallClusterTest/submitToMember_callable/

[2015-06-26 07:29] bilalyasar commented on #5393
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/com.hazelcast$hazelcast/593/testReport/junit/com.hazelcast.spi/MigrationAwareServiceTest/testPartitionDataSize_whenBackupNodesTerminated_withThreeBackups/

[2015-06-26 07:31] bilalyasar commented on #5298
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/614/com.hazelcast$hazelcast/testReport/com.hazelcast.ringbuffer.impl/RingbufferAddAllReadManyStressTest/whenNoTTL/

[2015-06-26 07:38] emrahkocaman commented on #5157
Closing this issue as it's not reproducible on our side. Please feel free to reopen it if it's not resolved even with increased file limit.

[2015-06-26 07:38] #5157 closed

[2015-06-26 08:29] stefanLeo commented on #5551
I am having the exact same issue when upgrading from 3.4 to 3.5.
For me the solution was override XmlConfigBuilder and to add

DocumentBuilderFactory documentBuilderFactory = DocumentBuilderFactory.newInstance();
documentBuilderFactory.setNamespaceAware(true);

As soon as I had that in place it worked for me.

[2015-06-26 08:32] bilalyasar commented on #5551
@stefanLeo, yes your way is also a solution, but in that case you have to add hazelcast namespace to your xml file.

[2015-06-26 09:01] ssozonoff opened #5604 "Declaratively disable multicast for hazelcast client"
I am able to add AWS discovery to the XML configuration file for a hazelcast client but then get an error that multicast needs to be disabled. Can't find a way to do this?

[2015-06-26 09:22] bilalyasar commented on #5604
@ssozonoff , can you post xml file? [ with removing your access and secret key :) ]

[2015-06-26 09:28] Fabryprog commented on #426
to resolve it issue i am writing this feature:

The hazelcast config file is global for ALL instances. I can put an attribute to indicate an PREFIX instance name.

So, if you have 2 instances will have same prefix instance name!

Can i do it? It is ok?

[2015-06-26 09:47] #5593 closed

[2015-06-26 10:13] ssozonoff commented on #5604
[code]

[2015-06-26 10:23] noctarius commented on #5604
Just deactivate it the way you enabled aws:
[code]

[2015-06-26 10:26] ssozonoff commented on #5604
Thats what one would expect :-)

Have a look at hazelcast-client-config-3.5.xsd

[2015-06-26 11:28] ahmetmircik opened #5611 "Map.Entry supplied to EntryProcessor is not Serializable any more."
This is an ungiven guarantee and makes code changes hard. It seems that it was not intentionally made serializable, the serializability comes from its super `AbstractMap.SimpleEntry`. If one wants to return the supplied entry as a response from an `EntryProcessor`, he should provide his own solution.

*** Talking about this [Map.Entry](https://github.com/hazelcast/hazelcast/blob/3e9f88900ecd3009c4

[2015-06-26 11:51] gurbuzali commented on #5592
fixed via https://github.com/hazelcast/hazelcast/pull/5594

[2015-06-26 11:51] #5592 closed

[2015-06-26 11:51] gurbuzali commented on #5554
should be fixed via https://github.com/hazelcast/hazelcast/pull/5594

[2015-06-26 12:05] stefanLeo commented on #5551
@bilalyasar , yeah right this is needed, but no big deal :-)

FYI: Running it with the old approach and -DJaxp-debug=1 I get:

JAXP: find factoryId =javax.xml.parsers.DocumentBuilderFactory
JAXP: loaded from fallback value: com.sun.org.apache.xerces.internal.jaxp.DocumentBuilderFactoryImpl
JAXP: created new instance of class com.sun.org.apache.xerces.internal.jaxp.DocumentBuilderFactoryImpl using

[2015-06-26 12:05] bilalyasar commented on #5604
@ssozonoff , can you post your full error log?

[2015-06-26 12:17] Serdaro opened #5613 "Links to JavaDocs in Reference Manual."
There are a couple of links in the Reference Manual which are targeted to the JavaDocs in hazelcast.org/documentation. They should be replaced with the links to GitHub (master) code pages.

[2015-06-26 12:34] alparslanavci opened #5614 "MapConfig min-eviction-check-millis property should be added to documentation"
The `min-eviction-check-millis` property in MapConfig does not exist in documentation. A brief definition like below can be added:

A note for frequent puts/sets can also be added:

[2015-06-26 12:38] emrahkocaman commented on #4738
Fixed.

[2015-06-26 12:38] #4738 closed

[2015-06-26 12:59] Serdaro commented on #5614
Thank you Alparslan. I will include this information both in master and maintenance branches.

[2015-06-26 13:27] #5614 closed

[2015-06-26 14:30] #5301 closed

[2015-06-26 14:30] #5611 closed

[2015-06-26 20:40] #5075 closed

[2015-06-27 13:32] charlesmarvin commented on #4660
This issue seems to happen for CachePutAllBackupOperation as well when running multiple nodes.
<pre>
ERROR [2015-06-27 13:17:25,908] com.hazelcast.cache.impl.operation.CachePutAllBackupOperation: [**.***.*.**]:5702 [dev] [3.5-EA] null
! java.lang.NullPointerException: null
! at com.hazelcast.util.ConcurrentReferenceHashMap.put(ConcurrentReferenceHashMap.java:1278) ~[hazelcast-3.5-EA.jar:3.5-EA]
!

[2015-06-27 14:27] wslaasya opened #5617 "AtomicReference.getAndSet throws HazelcastSerializationException"
AtomicReference.getAndSet throws HazelcastSerializationException.
if any node other than the first one that joins the cluster, tries to update the atomic reference, this exception is thrown

[2015-06-27 19:04] pveentjer commented on #5617
Which HZ version are you using? This problem AFAIK is solved.

[2015-06-27 19:58] serkan-ozal opened #5618 "Sending Null Record as Backup at "Cache::loadAll""
While loading values and putting them to cache in ```Cache::loadAll```, it is possible that previously loaded value may be evicted if cache reaches to its max size during loading but its key is returned as loaded. Then at ```CacheLoadAllOperation```, records of loaded keys are retrieved from cache and sent through ```CachePutAllBackupOperation```. But if records of some keys are evicted during loa

[2015-06-27 20:00] serkan-ozal commented on #4660
Hi @charlesmarvin,

Thanks for reporting the issue. Since it's cause is different, I have created another issue https://github.com/hazelcast/hazelcast/issues/5618 and you can read the comment of the issue for the reason of exception.

Regards.

[2015-06-29 07:01] emrahkocaman commented on #4863
Closing this issue, please feel free to reopen it when you've additional info.

[2015-06-29 07:01] #4863 closed

[2015-06-29 08:23] pveentjer commented on #5617
@wslaasya can you give an update? Otherwise I'm going to close this ticket since the serialization issue has been addressed in latest 3.4 and 3.5.

[2015-06-29 09:03] mnaspreda commented on #5444
Hi Hazelcast team,

we have faced the same issue on 2.6.x. Will this fix be applied also to 2.6 branch?

Thanks in advanced!!

[2015-06-29 09:28] Leperous opened #5619 "ResponseThread should log exception"
(Hazelcast 3.5.0)

The com.hazelcast.spi.impl.classicscheduler.ResponseThread::process method may catch throwables. When this occurs, it logs an unhelpful message, and ignores the actual exception.

This method should be improved so as to additionally log the cause, or at least the exception class and message.

In my case, it was catching a HazelcastSerializationException to do with an overridden

[2015-06-29 12:52] pveentjer commented on #5619
I'll take this one

[2015-06-30 07:24] ssozonoff commented on #5604
Caused by: com.hazelcast.config.InvalidConfigurationException: Multicast and AWS join can't be enabled at the same time
	at com.hazelcast.config.JoinConfig.verify(JoinConfig.java:95)
	at com.hazelcast.instance.Node.createJoiner(Node.java:552)
	at com.hazelcast.instance.DefaultNodeContext.createJoiner(DefaultNodeContext.java:35)
	at com.hazelcast.instance.Node.<init>(Node.java:171)
	at com.hazelcas

[2015-06-30 07:29] noctarius commented on #5604
@ssozonoff What would that have to do with ClientConfig? It is a server-side error!

[2015-06-30 08:55] ssozonoff commented on #5604
You are of course right!!! Thats what happens when I cant share the same Hazelcast instance with my L2 Cache layer. Sorry for the confusion guys!

[2015-06-30 09:45] #5543 closed

[2015-06-30 09:47] noctarius commented on #5604
Have you added my code snippet?

[2015-06-30 11:37] bilalyasar commented on #5298
@pveentjer
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/618/com.hazelcast$hazelcast/testReport/com.hazelcast.ringbuffer.impl/RingbufferAddAllReadManyStressTest/whenNoTTL/

[2015-06-30 11:39] bilalyasar opened #5631 "[TEST-FAILURE] BackpressureRegulatorStressTest.asyncInvocation_and_asyncBackups"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/617/testReport/junit/com.hazelcast.spi.impl.operationservice.impl/BackpressureRegulatorStressTest/asyncInvocation_and_asyncBackups/

[2015-06-30 11:50] ssozonoff commented on #5604
Well I dont know why I thought this was happening client side. I basically have a server and client setup in the same App, one runnung under Spring and the other is an L2 Cache in the ORM. I got things a little muddled up but clearly disabling multicast works! Thanks

[2015-06-30 11:50] #5604 closed

[2015-06-30 15:13] bilalyasar commented on #5257
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OracleJDK1.7/com.hazelcast$hazelcast/141/testReport/junit/com.hazelcast.map.mapstore/MapLoaderFailoverTest/testLoadsAll_whenInitialLoaderNodeRemovedWhileLoading/

[2015-06-30 16:25] atschofen opened #5632 "Eager initialization of empty map takes seconds"
Hi guys,

we have the problem that our application with 25 persistent maps (all with eager initialization) starts very slow even if there is no data to be loaded. This is due to the fact that each map takes at least 1 second to be initialized in Hazelcast 3.4.2. In Hazelcast 3.5, it's 2 seconds.

By debugging the startup, I found that the MapProxySupport#waitUntilLoaded method is probably the reas

[2015-06-30 16:41] ajermakovics commented on #5632
Hi Andreas,
Thanks for the test case! You're right, there's an issue in eager mode. Since map loading is offloaded to another thread we don't immediately know that its loaded.
We do have a ticket where this is reported (#5349) so I'll just close this one. You could add yourself as a watcher there.

[2015-06-30 16:41] #5632 closed

[2015-06-30 17:09] ptahchiev opened #5633 "Please provide hibernate5 support"
Following this comment:

https://github.com/hazelcast/hazelcast-hibernate4/issues/2#issuecomment-117240433

I would like to ask you to provide hibernate5 support. If I use hibernate5 I get the following exception:
[code]

[2015-06-30 17:13] lukasblu opened #5634 "IMap.keySet() fetches all values over the network"
Hi,

in our application, besides several other IMaps, we also use a IMap to keep PDFs in main memory - so the size of the values in this map are quite large (e.g. 250 kB).

While testing the performance of our application, I realized that a call to IMap.keySet() not only fetches the keys, but also the values! This seriously affects the network load, making our performance tests fail misserably...

[2015-06-30 17:22] wslaasya commented on #5617
I was using 3.4.. Will try upgrading to 3.5 and test.
I could not find any issues for AtomicReference.getAndSet so opened this

[2015-06-30 17:36] Donnerbart commented on #5634
Duplicate of https://github.com/hazelcast/hazelcast/issues/4642

[2015-06-30 17:38] Donnerbart commented on #4642
I will close this one in favor of #5634, since it has some test code.

[2015-06-30 17:38] #4642 closed

[2015-06-30 17:41] Donnerbart commented on #5634
It's also the same for IMap.values(), basically everything which is using a Predicate internally. The whole entry set is transported to the requesting node and that one filters the key, value or copies the whole entry.

Maybe it was changed in 3.4 to do use Predicates instead of a handcrafted operation. The Java client e.g. is still using it's own methods, so it should not be affected.

I think th

[2015-06-30 17:44] Donnerbart commented on #5634
This should be the scope of affected methods:
![Scope](http://docs.hazelcast.org/docs/3.5/manual/html-single/images/Map-QueryResultSizeLimiterScope.png)

I didn't refactor the client to use queries as well due to this issue.

[2015-06-30 18:23] lukasblu commented on #5634
Hi @Donnerbart ,

sorry for missing the issue #4642 . I was shortly looking at the list of open issues, but was a bit overwhelmed by the sheer number of open ones :-) next time I will try to search for 'keySet' or something...

Anyway, thanks for keeping this issue open due to its test code. To make the test code complete, here is the missing class StartHcInstances:

[code]

If running this test s

[2015-06-30 18:27] Donnerbart commented on #5634
It's the next milestone which is open and I (personally) want this fixed, so I put it on there. We'll see if there is time for this in the 3.6 schedule.

We also have to start fixing in the master branch, so that's 3.6. If it's done we'll see if we can backport the changes to older versions, if that's possible.

[2015-06-30 18:49] imvipul opened #5635 "Hazelcast Map eviction is not occurred in cluster"
Hi,

I am using hazelcast 3.4.2 and I am using IMap from hazelcast. Map eviction is working fine for me on my local environment but on cluster it is not working.

you can see my created nodes in my clusters in below line at the time of Map item eviction it evict item only from -> { Member [10.116.168.127]:5702 this }. and whatever items cached into another node it will not evict.

Members [5] {
Me

[2015-06-30 18:50] imvipul commented on #5635
Can any one help suggest me why it is not working or it's a defect of hazelcast

[2015-06-30 22:36] #5619 closed

[2015-07-01 00:27] nilskp opened #5636 "DoubleSumCombiner sums on long"
Loses precision.

[2015-07-01 06:39] Serdaro opened #5638 "Communicate Simulator documentation test results with QuSP."
Jonathan went over the Simulator chapter in the Reference Manual and sent his comments to Docs team. These need to be discussed with the QuSP team.

[2015-07-01 07:22] atschofen commented on #5632
Hi Andrejs,

ok, thanks, I didn't see that issue :)

Cheers,
Andreas

[2015-07-01 07:32] atschofen commented on #5632
@ajermakovics Is there any information on when this will be fixed?

[2015-07-01 07:55] ajermakovics commented on #5632
@atschofen Aiming for 3.5.1 patch release but no due date yet

[2015-07-01 08:04] bilalyasar commented on #5570
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK6/com.hazelcast$hazelcast-client-new/582/testReport/junit/com.hazelcast.client/ClientServiceTest/testConnectedClientsWithReAuth/

[2015-07-01 08:15] atschofen commented on #5632
@ajermakovics OK great, thanks!

[2015-07-01 09:39] mesutcelik opened #5640 "Hibernate 5 Support"
Adding hibernate 5 support for Hibernate 2nd Level Cache.

follow-up issue : https://github.com/hazelcast/hazelcast-hibernate4/issues/2

[2015-07-01 09:41] mesutcelik commented on #5640
duplicate of https://github.com/hazelcast/hazelcast/issues/5633

[2015-07-01 09:41] #5640 closed

[2015-07-01 12:36] dbatyuk opened #5641 "Instantiating custom LoggerFactory two times"
Hi,

I am using hazelcast 3.4.1 and I implement custom LoggerFactory. While starting application it creates custom LoggerFactory two times if you are using XmlConfigBuilder for example. XmlConfigBuilder has LoggerFactory.getLogger(...) which creates custom LoggerFactory first time as it doesn't exist yet. Second time it is created when Hazelcast.newHazelcastInstance -> Node.init -> LoggingServiceI

[2015-07-01 17:27] innokenty-shuvalov commented on #2429
Hi, I'm facing a similar issue under version 3.5. I've got a 2-node cluster and two nodes that connect with a client. When I suddenly terminate one hazelcast node I get a huge amount of these warnings, last time it was 22940 in 1.5 hours to be precise. That is approximately 4.3 message a second. Can you please explain why can that possibly occur? I'm pretty sure, my application that uses the clien

[2015-07-02 07:37] ahmetmircik commented on #5635
Hi @imvipul ,

* Zero means Integer.MAX_VALUE to enable eviction you should set a value other than zero for example 10000.
[code]

* Setting eviction policy to NONE means `don't do eviction`, if you want to evict, please use one of LRU or LFU.
[code]

[2015-07-02 08:24] gurbuzali commented on #5635
please re-open the issue if you still encounter it after you've applied @ahmetmircik 's comments

[2015-07-02 11:57] gurbuzali opened #5648 "Not possible to add MapClearedListener to EntryListenerConfig as an implementation"

[2015-07-02 14:56] #4331 closed

[2015-07-03 00:29] imvipul commented on #5635
Hi ahmetmircik

I tried with those option also.

When i connect with my cluster and i have following nodes

Members [5] {
Member [10.116.168.127]:5701
Member [10.116.168.126]:5701
Member [10.116.168.128]:5701
Member [10.116.168.127]:5702 this
Member [10.116.168.127]:5703
}

but in case of Eviction policy LRU or LEU it only evict for Member [10.116.168.127]:5702 this node and elements from other no

[2015-07-03 00:34] imvipul opened #5650 "Hazelcast Map.put(K key, V value) vs Map.put(K key, V value, long ttl, TimeUnit timeunit)"
Hi,

Can you help me to figure out performance difference between `Map.put(K key, V value)` vs `Map.put(K key, V value, long ttl, TimeUnit timeunit)` because map eviction is not working for me (#5635) and I must have to know because I am using `Map.put(K key, V value, long ttl, TimeUnit timeunit)` in my application which is storing 4000 records into Map in 1 sec.

Best Regards

Vipul

[2015-07-03 06:26] ahmetmircik commented on #5650
reopened https://github.com/hazelcast/hazelcast/issues/5635, closing this one.

[2015-07-03 06:30] ahmetmircik commented on #5635
Hi @imvipul ,
Can you retry by setting this:
[code]

if it also does not help, can you please send a simple test to reproduce the issue?

[2015-07-03 09:13] evredinka commented on #5371
is there any news?
p.s. it seems like there is no such problem in new hz 3.5

[2015-07-03 09:37] wenerme opened #5652 "No way to keep the lock when the lock-hold-node was down."
To prevent dead lock, hz will unlock lock if the node which hold the lock was down,but how can I keep the lock state even the node was down ?

[2015-07-03 11:25] jensenmo opened #5653 "com.hazelcast.cluster.impl.TcpIpJoinerOverAWS Server returned HTTP response code: 401 for URL: https://ec2.amazonaws.com/?Action=DescribeInstances"
Hi there,

Somewhat related to https://github.com/hazelcast/hazelcast/issues/5220 (embedded hazelcast in vert.x). Hazelcast cluster unable to form between nodes (and vert.x shuts down) in AWS due to the error (see stack trace at bottom). Hazelcast release 3.5 with vert.x 2.1.6.

This happens in region eu-west-1.

@purplefox FYI

The *exact* same set-up - with vert.x 2.1.5 / hazelcast 3.2.3 - works

[2015-07-03 11:57] igmar commented on #5653
I'll have a look, this is mostly my work.

[2015-07-03 12:14] jensenmo commented on #5653
Btw here's the logs immediately preceding the error logged - in case it's of any help:

2015-07-03 09:44:15.383000 INFO org.vertx.java.platform.impl.cli.Starter Starting clustering...
2015-07-03 09:44:15.442000 INFO org.vertx.java.platform.impl.cli.Starter No cluster-host specified so using address 10.0.3.116
2015-07-03 09:44:16.132000 WARNING com.hazelcast.config.AbstractXmlConfigHelper Name of t

[2015-07-04 14:06] pveentjer opened #5655 "Tx Optimizaton: read only"
If a transaction is purely a readonly transaction, then there is no need to go through the prepare phase. Once can just do a rollback.

[2015-07-04 14:09] pveentjer opened #5656 "[transaction] Tx Optimization: merge partition operations"
Currently for every item in the transaction, a operation is executed. Instead of sending an operation and executing it one by one, create a merged operation where all operation for that partition merged. So effectively the same number of operations is executed, but only 1 merged operation per partition is executed. This saves a lot of IO overhead (can all be batched) and scheduling overhead.

[2015-07-04 14:12] pveentjer opened #5657 "[transaction] Tx Optimization: merge prepare/commit for single partition"
If a group of operations falls in the same partition, instead of sending one (merged) operation for prepare and one (merged) operation for the actual writing; just send a single operation to the partition where the merge and then the write is executed as a single operation.

This way you reduce the number of remote calls by 2 since everything can be done in a single remote call.

[2015-07-04 15:29] pveentjer commented on #5655
HZ doesn't track reads; so a transaction that only does a read has no items in its transaction.

[2015-07-04 15:29] #5655 closed

[2015-07-06 15:35] gvachet opened #5660 "Session ID management error by Hazelcast 3.5 Filter based replication"
After a logout request that invalidates the session and setMaxAge(0) on JSESSIONID cookie, a 500 HTTP error is raised at the next logging request (checked on FireFox and on IE). This NPE is raised with the 3.5 edition but not with the 3.5 Early Access version. The difference is that the Early Access edition generates a new session Id but the Hazelcast 3.5 version keeps the previous Id of the inval

[2015-07-06 16:04] dbrimley opened #5661 "Portable : StringArrayField and BooleanArrayField missing from ClassDefinitionBuilder"
Hi

Is there any reason why there is not a StringArrayField and BooleanArrayField in the ClassDefinitionBuilder?  It seems all the other primitives are supported apart from these two.

[2015-07-06 21:10] gurbuzali commented on #5661
you mean `IntegerArraySerializer`, `LongArraySerializer` vs... ?

[2015-07-07 07:01] bilalyasar opened #5662 "[TEST-FAILURE] InvocationNestedRemoteTest.whenPartition_callsIncorrectPartition"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK1.7/com.hazelcast$hazelcast/166/testReport/junit/com.hazelcast.spi.impl.operationservice.impl/InvocationNestedRemoteTest/whenPartition_callsIncorrectPartition/

[2015-07-07 07:03] bilalyasar commented on #5552
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/532/com.hazelcast$hazelcast/testReport/com.hazelcast.nio.tcp.iobalancer/IOBalancerStressTest/testEachConnectionUseDifferentSelectorEventually/

[2015-07-07 07:05] bilalyasar opened #5663 "[TEST-FAILURE] MapReduceTest.testExceptionDistributionWithCollator"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-zulu1.6/com.hazelcast$hazelcast/22/testReport/junit/com.hazelcast.mapreduce/MapReduceTest/testExceptionDistributionWithCollator/

[2015-07-07 07:07] bilalyasar opened #5664 "[TEST-FAILURE] JCacheListenerTest.testRemoveIfSameWithSyncListener_whenValueIsNotSame"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.7/com.hazelcast$hazelcast/608/testReport/junit/com.hazelcast.cache/JCacheListenerTest/testRemoveIfSameWithSyncListener_whenValueIsNotSame/

[2015-07-07 07:18] bilalyasar commented on #5298
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/627/testReport/junit/com.hazelcast.ringbuffer.impl/RingbufferAddAllReadManyStressTest/whenNoTTL/

[2015-07-07 07:18] bilalyasar commented on #5552
also master nightly: https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/627/testReport/junit/com.hazelcast.nio.tcp.iobalancer/IOBalancerStressTest/testEachConnectionUseDifferentSelectorEventually/

[2015-07-07 10:05] dbrimley opened #5666 "Group Membership fails if Host runs as a domain name"
If cluster members run in the cluster using their domain names and you have partition groups configured using IP addresses the cluster starts and then throws the following exception ....

“No member group is available to assign partition ownership"

It seems the code mandates using IP address for members and partition groups....

https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/mai

[2015-07-07 10:07] dbrimley commented on #5661
addUTFArrayField and addBooleanArrayField

[2015-07-07 11:32] innokenty-shuvalov commented on #3395
Same for 3.5, thousands of such entries were logged, although the cluster looks to be working okay in general:
[code]

[2015-07-07 19:54] juanavelez opened #5667 "Create Client-based JCA Adapter"
Currently if you want to use Container-Managed Transactions with Hazelcast within a JEE Application Server, we need to use the provided JCA Adapter. This JCA Adapter creates a HZ instance.

We would like the option to allow the configuration of the JCA Adapter to be either Server or Client-based.

This would give us the best of two worlds: HZ Clients and XA Resources managed by the container. As i

[2015-07-07 19:57] jerrinot commented on #5667
Hi @juanavelez,
I think it's a logical enhancement. Thank you for reporting this.

[2015-07-07 20:13] juanavelez commented on #5667
Hi @jerrinot. Thank you for the quick reply. I am not sure what you mean by logical enhancement. From looking at the code, it seems it is "hardcoded" to create Server instances. Would you mind expanding on your answer? Thanks!

[2015-07-07 20:15] jerrinot commented on #5667
@juanavelez: I'm sorry, I meant a "reasonable" or "sensible" enhancement.
In other words: I like what you are proposing and we should implement it.

[2015-07-07 22:35] bilalyasar opened #5668 "session replication null attribute caching"
full story is here: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/hazelcast/kgIBmlQDJxQ/N9X36AtYwfsJ

if attribute is null, we don't cache the attribute. And everytime hazelcast-wm looks remote then returns null.

[2015-07-07 22:35] bilalyasar commented on #5668
problem is here: https://github.com/hazelcast/hazelcast/blob/master/hazelcast-wm/src/main/java/com/hazelcast/web/HazelcastHttpSession.java#L115

[2015-07-08 03:25] LoneRifle opened #5669 "AbstractEvictableRecordStore.getEvictableSize: DefaultRecordStore.size returns number of elements, not currentPartitionSize, EvictionOperator.evictableSize called with wrong value"
[AbstractEvictableRecordStore.getEvictableSize](https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/map/impl/AbstractEvictableRecordStore.java#L238) is called by removeEvictableRecords, ie, called whenever entries have to be evicted. This in turn calls size(), which is currently implemented by DefaultRecordStore to return the number of entries, not the current

[2015-07-08 07:18] mdogan commented on #5570
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-pr-builder/com.hazelcast$hazelcast-client/14222/testReport/junit/com.hazelcast.client/ClientServiceTest/testConnectedClientsWithReAuth/

[2015-07-08 07:19] mdogan commented on #5570
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-pr-builder/14220/com.hazelcast$hazelcast-client/testReport/com.hazelcast.client/ClientServiceTest/testConnectedClientsWithReAuth/

[2015-07-08 07:19] mdogan commented on #5570
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-pr-builder/com.hazelcast$hazelcast-client/14219/testReport/junit/com.hazelcast.client/ClientServiceTest/testConnectedClientsWithReAuth/

[2015-07-08 07:34] ahmetmircik commented on #5669
Hi @LoneRifle , can you point what is the difference between `current-size-of-partition` and `number-of-entries-in-DefaultRecordStore`?

[2015-07-08 07:46] LoneRifle commented on #5669
Hi Ahmet,

Having re-read the impl and consulted the docs, I now stand corrected: the two terms should be identical. I was originally under the impression that for the size/percent-based policies, the eviction percentage does not refer to the number of entries but the amount of space consumed.Thanks.

[2015-07-08 07:46] #5669 closed

[2015-07-08 07:48] bilalyasar opened #5670 "[TEST-FAILURE] jca.HazelcastConnectionImplTest failures"
[code]
all of them has same failure log
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-sonar/690/#showFailuresLink

[2015-07-08 09:27] bilalyasar commented on #5552
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/533/com.hazelcast$hazelcast/testReport/com.hazelcast.nio.tcp.iobalancer/IOBalancerStressTest/testEachConnectionUseDifferentSelectorEventually/

[2015-07-08 09:28] bilalyasar commented on #5298
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/628/console

[2015-07-08 10:02] sertugkaya opened #5671 "Client instances should spawn threads with their instance name added as prefix"
Inside `ClientConnectionManagerImpl`, threads are spawned with a generic name. One example:
[code]

[2015-07-08 10:45] #5570 closed

[2015-07-08 11:26] sancar commented on #5671
Fixed via https://github.com/hazelcast/hazelcast/commit/70f6dfb640c7a2fe7ed87c482c7b2bb0a0409b7b

[2015-07-08 11:26] #5671 closed

[2015-07-08 12:05] Serdaro commented on #5638
Hazelcast Simulator chapter (Executing a Simulator Test) updated accordingly.

[2015-07-08 12:05] #5638 closed

[2015-07-08 13:01] Serdaro commented on #5613
Issue moved to the new repo.

[2015-07-08 13:01] #5613 closed

[2015-07-08 13:03] Serdaro commented on #5588
Issue moved to the new repo.

[2015-07-08 13:03] #5588 closed

[2015-07-08 13:06] Serdaro commented on #5569
Issue moved to the new repo.

[2015-07-08 13:06] #5569 closed

[2015-07-08 13:08] Serdaro commented on #5568
Issue moved to the new repo.

[2015-07-08 13:08] #5568 closed

[2015-07-08 13:10] Serdaro commented on #5567
Issue moved to the new repo.

[2015-07-08 13:10] #5567 closed

[2015-07-08 13:14] Serdaro commented on #5566
Issue moved to the new repo.

[2015-07-08 13:14] #5566 closed

[2015-07-09 10:38] ahmetmircik commented on #5635
@imvipul any update?

[2015-07-09 13:49] smecsia commented on #4537
+1 We'd be glad to see better Docker support as well. For now we're having difficulties with ipv6-only hosts and Hazelcast within Docker containers. I could not find the workaround to make it work.
At the same time for dual-stack hosts Dockerized Hazelcast works well. I have no time to investigate this deeper.

[2015-07-09 21:37] dfeist commented on #4888
@mdogan Any plans to get this into a release, it's a pretty significant memory leak IMO, given simply creating/destroy maps provokes it.

[2015-07-09 23:53] imvipul commented on #5635
Hi,

Sorry buddy busy with some other issue will update you tomorrow.

[2015-07-09 23:54] imvipul commented on #5650
Hi,

Please reopen this one.

Ans please update me on this.

[2015-07-10 06:46] mdogan commented on #4888
Sorry @karvind00 & @dfeist. Somehow we missed this report. It's seems to be a memory leak. Thanks for the report.

[2015-07-10 08:46] mdogan commented on #5307
Please ask your questions on Hazelcast Google Group (https://groups.google.com/forum/#!forum/hazelcast). Github issue list is only for bug reports and enhancement requests.

[2015-07-10 08:46] #5307 closed

[2015-07-10 09:29] vitaliy31matuzko opened #5675 "hazelcast client property "connectionTimeout" not working when node is unavailable due to network issues"
Hi everyone, could someone take a look at this issue:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/hazelcast/HaxS3Vxl7x8/Tq8eVgZ6EXcJ

[2015-07-10 14:22] snicoll opened #5678 "com.hazelcast:hazelcast-code-generator depends on Freemarker"
Spring Boot provides a dependency management for the latest and greatest and as such we have  upgraded to Hazelcast 3.5. It turns out that in that release (I think) `com.hazelcast:hazelcast-code-generator` brings a compiled scope dependency on `org.freemarker:freemarker:jar`.

So basically your users have freemarker in their classpath now. Could you please fix that ASAP and release 3.5.1?

See htt

[2015-07-11 09:46] mesutcelik commented on #5678
that is already fixed and will be released in 3.5.1 soon.
You can check it already with 3.5.1-SNAPSHOT.

[2015-07-11 09:46] #5678 closed

[2015-07-11 15:03] wildnez opened #5679 "Map updates cause NearCache updates, not invalidation"
When NearCache is enabled, all updates on IMap (put, replace etc) should also update the values stored in NearCache instead of sending a value invalidation event to NearCache. Consistency of updating values inside NearCache should be configurable - Eventual (update in NearCache will reflect eventually) or Strong (updates should be part of one atomic operation initiated by the requester of map.put

[2015-07-11 17:27] bwzhang2011 commented on #3695
@pveentjer, @mdogan or someone else take interested in such issue. I think it should be closed as it seldom occurred as ever before maybe the latest one like hz3.5+ would solve that and I will keep up with such until it completely disappeared and of source it would reopen once it was reproduced.

[2015-07-11 17:27] #3695 closed

[2015-07-11 17:29] bwzhang2011 commented on #5485
@PetroSemeniuk, any process with such issue ? was it also confirmed with hz3.5+ ?

[2015-07-11 17:30] bwzhang2011 commented on #4670
@dh1118, it should be resolved since 3.5+. as hz3.5 client changed a lot and it promised that it would be compatible with hz3.6 snapshot.

[2015-07-11 17:44] bwzhang2011 commented on #2487
@degerhz, any progress with such issue ?

[2015-07-11 18:57] bwzhang2011 opened #5681 "any idea with distribute rpc service registry support with hazelcast ?"
Hi, hz tream. as distribute rpc is widely used in distributed application with rpc interface published to be wired together between system calling among applications. and it relied the rpc framework itself just for how to make some self-defined interfaces to make it rpc enabled. here comes some rpc service registry use cases while most of which integrated with zookeeper and hope to be support in h

[2015-07-11 18:58] imvipul opened #5682 "Hazelcast : Set Map Configuration to Cluster Node without Creating Instance of Hazelcast locally"
Hi

Below are my cluster members and I wan to pass some Map configuration to those node so once that Map create all node use that configuration.

Members [3] {
       Member [169.185.209.99]:5701
       Member [165.203.252.170]:5701
       Member [169.185.209.169]:5701
     }

How can i pass Map config without creating hazlecast Instance on (169.164.232.143) my local system.

this is really urgent

[2015-07-11 19:00] bwzhang2011 commented on #5681
please take a visit to such : http://www.tuicool.com/articles/VrIVzmz (though with chinese character, it will be easy to understand).
as for hazelcast one. maybe it could provide some interface for special support for service registry to make the rpc framework integration (just like the plugin way).

[2015-07-12 05:43] pveentjer commented on #5682
Hazelcast doesn't support dynamic configuration of data-structures; so you
need to add the map configuration to the Hazelcast configuration.

On Sat, Jul 11, 2015 at 9:58 PM, imvipul <notifications@github.com> wrote:

[2015-07-13 03:19] dayasakti opened #5687 "Not seeing Hazelcast 3.4.4 on http://hazelcast.org/download/"
As per https://github.com/hazelcast/hazelcast/issues/5538#issuecomment-113915885

By right, i think we should be seeing 3.4.4 too under the Previous Production Releases. However 3.4.3 seems to be the latest out of 3.4 version.

I can confirm that it's not a browser cache on my side though

Was 3.4.4 being taken out from the download list?

[2015-07-13 05:46] sgulati89 opened #5688 "Hzelcast memory increasing without any activity"
Recently we got an interesting issue; We had default setup of on node cluster of Hazelcast and we had an entry level expiration set for an element. Entry gets removed from the map; as we cane see the count to be zero/empty.
However we see cluster performance a bit weird; its Heap Size goes on increasing even though there is no activities in the cluster. We have also see OutofMemoryError.

It's col

[2015-07-13 06:49] mesutcelik commented on #5687
Thx for the warning. It is fixed now.

[2015-07-13 06:49] #5687 closed

[2015-07-13 06:56] pveentjer commented on #5688
Can you switch to 3.5 and check if this behavior still happening?

If the issue is still happening, can you generate a heap dump when an OOME happens?

[2015-07-13 07:03] degerhz commented on #2487
@bwzhang2011, it is in our backlog but there is no commitment for any release so far.

[2015-07-13 07:09] dayasakti commented on #5687
Cool thanks

[2015-07-13 07:31] pveentjer commented on #2487
Afaik @ahmetmircik made changes to the design. I don't know if it still can happen.

[2015-07-13 07:37] Serdaro commented on #2022
Issue moved to the new repo.

[2015-07-13 07:37] #2022 closed

[2015-07-13 07:44] kobalski commented on #4406
We have a community contribution(https://github.com/hazelcast/hazelcast/pull/4110) which solves problems of 2nd Level Cache usage when concurrency is high. Also it is ported to hibernate3(https://github.com/hazelcast/hazelcast/pull/5572). Our current implementation had problems with high loads because of using distributed locks on cache entries. Solving this issue will require architectural change

[2015-07-13 07:45] #4406 closed

[2015-07-13 08:00] bilalyasar commented on #5552
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/630/testReport/junit/com.hazelcast.nio.tcp.iobalancer/IOBalancerStressTest/testEachConnectionUseDifferentSelectorEventually/

[2015-07-13 08:01] bilalyasar commented on #5298
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/630/testReport/junit/com.hazelcast.ringbuffer.impl/RingbufferAddAllReadManyStressTest/whenNoTTL/

[2015-07-13 08:02] bilalyasar opened #5691 "[TEST-FAILURE] WanReplicationTest.EntryWithDefault_TTL_Replication_Issue"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/633/testReport/junit/com.hazelcast.wan/WanReplicationTest/EntryWithDefault_TTL_Replication_Issue/

[2015-07-13 08:02] mesutcelik commented on #5667
Hi @juanavelez ,
We have a schedule for 3.6 already and not sure if we can add it but you are always welcome to make such contributions.

just let us know if you need any help.

[2015-07-13 08:20] bilalyasar opened #5693 "deleting hazelcast-documentation module"
We moved hazelcast-documentation to new https://github.com/hazelcast/hazelcast-reference-manual repo, so we need to delete hazelcast-documentation module
- [x] we need for master branch.
- [x] we need for maintenance-3.x branch

[2015-07-13 08:21] bilalyasar commented on #5693
module is moved with commit history, so we didn't lose the commit history.

[2015-07-13 08:23] Serdaro commented on #5693
:+1:

[2015-07-13 09:07] HaveNuIdea opened #5694 "Near cache on client size for replicated map does not gets invalidated after replicated map changes"
This issue was initially described in https://groups.google.com/forum/#!topic/hazelcast/QkSlH2UWhsI

I'am trying to add NearCache to ReplicatedMap and configure it to invalidate values on change.
[code]
I have a Hazelcast 3.5 cluster with 2 nodes.
I create 2 clients using the above code.
1) First client populates ReplicatedMap "TEST" with some values
2) Then second client starts getting one of the

[2015-07-13 16:11] sbuettner commented on #1379
Amazon provides a [meta-data service](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html) on each instance which seems to be also accessible from inside docker containers. This service can be used to get the public ip address of the ec2 instance. Since hazelcast already provides tight integration with aws it could use this service when a certain config flag has been set

[2015-07-13 16:36] wildnez opened #5698 "Equal distribution of entries"
Currently the distribution of IMap entries is quite random and we rely on entries converging over few hundreds of thousands count and show near balanced distribution of data. But for a smaller count, there are higher chances of cluster imbalance. The problem gets more serious in case of few but large objects in cluster, which are only created once and used by IExecutorService or EntryProcessors or

[2015-07-13 16:45] juanavelez commented on #5667
Hi @mesutcelik ,

Thanks for the update. I have a couple of questions regarding the contribution and more specifically related to this particular issue. Let me know if I can post these questions directly here or if it'd better to send them to your email address.

[2015-07-13 17:48] pveentjer commented on #5698
Don't think we can do a lot here unless there is control on the used keys to access these objects.

[2015-07-13 22:17] enesakar commented on #5698
Agree with Peter on "Hazelcast isn't made for just a few entries with large values."
Most of use cases are on high number of entries.
If you have processing scenarios that you want to distribute over members;
IExecutorService.executeOnMember() may fit better.

[2015-07-14 04:10] pveentjer commented on #5698
And we can generate good keys that are perfectly distributed over partitions. But there are a few problems:
1: perhaps there are less keys than partitions.
2: you never know where the partition is going to end up at; because partitions can move around.

So I would really reconsider using such big objects.

[2015-07-14 07:29] mesutcelik commented on #5667
whichever you prefer...
mesut _at_ hazelcast _dot_ com

[2015-07-14 08:41] bilalyasar commented on #5670
@mustafaiman @kobalski , so did https://github.com/hazelcast/hazelcast/pull/5665 solve this issue?

[2015-07-14 08:46] kobalski commented on #5670
@bilalyasar No, hopefully this one will fix. https://github.com/hazelcast/hazelcast/pull/5700

[2015-07-14 09:37] hasancelik opened #5702 "[TEST-FAILURE] MapReduceTest.testExceptionDistribution"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-IbmJDK1.6/com.hazelcast$hazelcast/266/testReport/junit/com.hazelcast.mapreduce/MapReduceTest/testExceptionDistribution/

[code]

[2015-07-14 09:39] hasancelik commented on #5393
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-IbmJDK1.6/com.hazelcast$hazelcast/266/testReport/junit/com.hazelcast.spi/MigrationAwareServiceTest/testPartitionDataSize_whenBackupNodesTerminated_withThreeBackups/

[2015-07-14 09:43] hasancelik opened #5703 "[TEST-FAILURE] InvocationNetworkSplitTest.testWaitingInvocations_whenNodePartiallySplitFromCluster_scenario1"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-IbmJDK1.6/com.hazelcast$hazelcast/266/testReport/junit/com.hazelcast.spi.impl.operationservice.impl/InvocationNetworkSplitTest/testWaitingInvocations_whenNodePartiallySplitFromCluster_scenario1/

[code]

[2015-07-14 09:46] mesutcelik commented on #5703
@hasancelik ,

Can you please set labels and milestone as well? for this and future issues...

[2015-07-14 09:53] hasancelik commented on #5703
@mesutcelik

done.

[2015-07-14 11:31] mesutcelik commented on #5670
fixed by https://github.com/hazelcast/hazelcast/pull/5700

[2015-07-14 11:31] #5670 closed

[2015-07-14 15:09] nick7ikin commented on #1564
+1

[2015-07-14 15:14] gurbuzali commented on #1564
fixed via https://github.com/hazelcast/hazelcast/pull/5658

[2015-07-14 15:14] #1564 closed

[2015-07-14 15:23] nick7ikin commented on #1564
can I use this combination as workaround to specify lease time?
[code]

[2015-07-15 02:16] imvipul opened #5706 "Hazelcast is not able to unlock few elements after forceunLock on IMap and MultiMap"
Hi,

In my application I am storing values in IMap and Multimap like anything. so Some time hazelcast is not able to unlock few elements after forceunLock also can you suggest me how to unlock elements in such a condition and how to know how many elements are loacked and which are those elements.

[2015-07-15 04:13] wildnez commented on #5698
Even IExecutorService.executeOnMember() may not be most efficient way because one node may end up hosting several large keys, therefore bottlenecking that node while other nodes in the cluster are idol. Reducing partition count drastically would reduce the risk of bottlenecking one node but won't completely prevent it.

[2015-07-15 04:38] noctarius commented on #5698
Unfortunately I would also agree with Peter and Enes. This doesn't sound to me like a real IMDG use case. Other platforms will have the exact same problem or you go the HDFS way and split the serialized object into chunks and distribute those, however that removed the advantage of data locality on calculation.

For the case you want to have clean distribution you can just generate your own partiti

[2015-07-15 04:55] wildnez commented on #5698
I disagree that its not a real IMDG use case, on a contrary, its a near perfect IMDG use case. I store data in cluster once and then I run my business logic in cluster without moving that data across. Only if I had equal distribution of data, I'd have achieved perfect parallel in-memory computing. Otherwise, it implies that having a few million entries is a pre-requisite to run Hazelcast?

[2015-07-15 05:03] noctarius commented on #5698
Well my gut (but personal) feeling on this is that not everything that is distributed is a use case for an IMDG :)

In that sense I agree with you, it sounds like a perfect fit but obviously this is a very corner case dataset and I would say, this needs to managed manually. It is the same as load balancing, it cannot be handled automatically when using consistent hashing since a normal key distrib

[2015-07-15 05:06] gurbuzali commented on #1564
no need for a workaround for 3.6, we've implemented `tryLock` with lease time.
please take a look at https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/core/ILock.java#L90

for the previous versions, yes it works but you need to unlock twice since you've locked it twice:
one with `tryLock` and one with `lock`

[2015-07-15 05:12] wildnez commented on #5698
Objects are only loaded once in a day (load latency is not an issue) in Object format.

[2015-07-15 08:40] kobalski commented on #5391
Closing this one, ReadOnlyAccessDelegate returns null, instead of throwing `java.lang.UnsupportedOperationException`.  https://github.com/hazelcast/hazelcast/blob/master/hazelcast-hibernate/hazelcast-hibernate3/src/main/java/com/hazelcast/hibernate/access/ReadOnlyAccessDelegate.java#L63

[2015-07-15 08:40] #5391 closed

[2015-07-15 08:56] kobalski commented on #4456
I think it is not hazelcast issue too, same exception can be seen EhCache 2nd Level Cache impl too when used in distributed mode with RMI replication. As @cmuramoto  explains solution to the problem is to give a session factory name in hibernate config. (http://forums.terracotta.org/forums/posts/list/7881.page) I am closing this issue for now, please feel free to reopen the issue, if provided work

[2015-07-15 08:56] #4456 closed

[2015-07-15 09:34] #4888 closed

[2015-07-15 10:06] dsukhoroslov opened #5710 "can't access cache from partition thread"
Hi,

Hazelcast 3.5. A single node HZ cluster, two distibuted caches. At app statup I register listener on one of the caches:

			String uuid = xdmCache.addEntryListener(this, this, false);

the MapListener and Predicate are implemented in the same bean. The Predicate.apply method is:

	@Override
	public boolean apply(Entry<XDMDataKey, XDMElements> mapEntry) {

		return idxCache.containsKey(mapEntr

[2015-07-15 11:21] RubavathiSrinivasan opened #5711 "hazelcast-config-3.5.xsd doesn't contain "instanceName""
I recently upgraded my version to 3.5. My hazelcast.xml configurations contain "intanceName" fail to start.

<?xml version="1.0" encoding="UTF-8"?>
<hazelcast xsi:schemaLocation="http://www.hazelcast.com/schema/config hazelcast-config-3.5.xsd"
    xmlns="http://www.hazelcast.com/schema/config"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <group>
        <name>dev</name>
        <

[2015-07-15 13:40] pveentjer commented on #5710
Can you make a test that reproduces the problem? This makes it a lot easier for us to figure out what is happening.

[2015-07-15 15:53] dsukhoroslov commented on #5710
Hi Peter. Ok, will try to prepare a test. Actually, the issue is also discussed here: https://groups.google.com/forum/#!topic/hazelcast/KntjlJTDOTQ, may be it is a correct behaviour and just needs an update in documentation.

[2015-07-15 17:28] brianfromoregon commented on #2506
Re: added value. Without this feature, a port must be chosen with fingers crossed that by the time hz tries to bind to it, some other process on the box has not stolen it causing transient failure.

Re: "how can another instance find that port" - indeed after hz node starts I would need a way to programaically find out which port was chosen by the OS so I can communicate that port to others.

Re:

[2015-07-15 18:32] pveentjer commented on #5710
It could be.. but it could also be illegal behavior. If you make me a test case, I can quickly figure out what is happening.

[2015-07-16 05:31] pveentjer opened #5715 "Metrics: Transaction probes"
I want to see number of transactions started, aborted, committed.

[2015-07-16 06:54] dsukhoroslov commented on #5710
I did a simple test and I can't reproduce the issue from it. The test behaves very similair to what I see from the real system, except one thing: in the ClassicOperationExecutor.isInvocationAllowedFromCurrentThread method the test passes the last check, but in run-time it does not:

    public boolean isInvocationAllowedFromCurrentThread(Operation op, boolean isAsync) {
        ...........

[2015-07-16 07:01] pveentjer commented on #5710
My guess is that there is an issue in the checking mechanism. So there is nothing on your side you can do.

For me it would be extremely helpful if I can get a test; even though it is hard to reproduce.

[2015-07-16 07:10] mikecroft commented on #5653
I had the same thing happen in `eu-west-1` with Hazelcast 3.5, downgrading to 3.4.2 got around the 401 although I could never get the cluster to form with instances in EC2 classic. I didn't try with other regions, but I can if needed.

[2015-07-16 07:38] monastyrev commented on #5551
Same error for me - migrating from 3.4 to 3.5 gives an error
Caused by: com.hazelcast.config.InvalidConfigurationException: cvc-complex-type.2.4.a: Invalid content was found starting with element 'group'. One of '{"http://www.hazelcast.com/schema/config":import, "http://www.hazelcast.com/schema/config":group ...

[code]

[2015-07-16 08:49] mstieghahn commented on #4223
Hi there,
we experience the same problem and would appreciate a solution for that issue.

Best,
Michael

[2015-07-16 09:22] dsukhoroslov commented on #5710
Ok, here is the test. The issue is in different partitioning between these two caches:

<code>
public class PartitionDeadlockTest implements EntryAddedListener<String, String>, Predicate<String, String> {

	private IMap<Integer, String> idxCache;
	private boolean applied = false;

	@Test
	public void testPartitionOperation() throws Exception {

		Config config = new Config();
		NetworkConfig netwo

[2015-07-16 11:33] jerrinot commented on #5706
Hello @imvipul,

thank you for reporting the issue!

Could you please be more specific? What does it mean "Hazelcast is not able to unblock" ? Are you getting an error? Is it just hanging indefinitely? How you are locking the elements? What version of Hazelcast are you using? Are you using client-server topology or server-to-server? Do you have code to reproduce the issue?

[2015-07-16 11:48] jerrinot commented on #5617
@wslaasya: do you have any update? Your domain object should be serializable. The easiest thing is to simply implement `java.io,Serializable` interface, but it's not the best option performance-wise.

See http://docs.hazelcast.org/docs/3.5/manual/html-single/hazelcast-documentation.html#serialization for  details.

[2015-07-16 12:01] pveentjer commented on #5617
Have you tried with the latest 3.4? Because this bug has been resolved in one of the patch releases.

[2015-07-16 12:31] lhsvobodaj commented on #3754
It seems this issue isn't solved yet. I have a test setup with 2 nodes running version 3.5 on the same machine (ports 5701 and 5702). Both nodes have a thread accessing a shared queue and are waiting on a `take()` operation as showed by the log below:
[code]
After the nodes finish the merge process we get an endless log message printed (the log below shows an interval of ~8 minutes).
[code]
As @al

[2015-07-17 01:46] bwzhang2011 commented on #5681
@pveentjer  or @noctarius, would you mind sparing some time to take a look at ? I'm sure it seems to be a very nice feature compared with zookeeper. I think hazelcast should take good care of some use cases like such to take zookeeper for example. or leave me message that the zookeeper way is the best choice.

[2015-07-17 05:17] noctarius commented on #5681
I thought about a service discovery built on top of HZ for some time. I don't think this is a HZ project but it could be a nice side-project.

I guess the biggest missing feature to implement this nicely is ttl on multimap. Otherwise you could just use a ttl of 10secs and an available server needs to "update" it every 5secs. That means if a service dies it will be gone after 10 secs (numbers could

[2015-07-17 16:03] nick7ikin opened #5728 "Interfaces enabled='false' doesn't work"
I have several network interfaces on my PC:
192.168.12.10 - is my local network IP
192.168.122.1 - is IP of my virtual network interface that is used by virtual machine

Hazelcast by default connects to 122.1.
I tried to forbid this network both in hazelcast.xml
[code]
 and programmatically
[code]

I've managed to connect it to 192.168.12.10 interface specifying enabled interfaces:
[code]
but for

[2015-07-17 17:12] juanavelez opened #5729 "PerformanceLogFile only compiles if using JDK 1.7 or above"
com.hazelcast.internal.monitors.PerformanceLogFile was recently added (7/15). It makes use of InetSocketAddress.getHostString() which is only public in JDK 1.7 and above.

When compiling using JDK 1.6 (per Maven property jdk.version), this raises an error.

[code]

[code]

Please note that building using maven and JDK 1.7 does not generate the compilation error, only when the JDK 1.6 is used.

[2015-07-18 01:30] Donnerbart commented on #5729
@pveentjer: Can you have a look? This seems to be a file from your new Metrics functionality, if I'm not wrong.

[2015-07-18 03:35] pveentjer commented on #5729
I'll have a look at it now.

[2015-07-18 06:28] #5729 closed

[2015-07-18 08:50] gurbuzali commented on #5728
you are misunderstanding the `enabled=false` term here. it means `interfaces` feature will not be used while configuring, not to disable the interface you've specified inside it.
So basically it is ignored while configuring if it is `enabled=false`

[2015-07-18 08:50] #5728 closed

[2015-07-18 10:05] qickrooms commented on #1826
Yes, I had this same issues as well, and yes, I did not delete previous lib from upgrade. Thanks!

[2015-07-18 12:10] pveentjer commented on #5710
Thanks for your test. I have been playing with it. One thing I have observed is that the exception thrown in the apply method is thrown away. If you slap a try/catch(RuntimeException) around it and you print the stacktrace you see the following exception:

[code]

[2015-07-18 12:16] pveentjer opened #5733 "Map Operations have uninformative toString"
The IMap operations have uniformative toString implementations. The toString of the Operation is very informative and contains the call id and a lot of other information.

Probably it is best to add an additional method to Operation like toPartialString and instead of doing:

[code]

You do e.g.

[code]

This way it is easy to add additional field information to a toString.

If we do not fix these

[2015-07-18 12:30] pveentjer commented on #5710
The cause of your problem is the following. Your idxCache uses a Integer as key and your dataCache uses a String as key. Integer 1 will be mapped to a different partition than String "1". If you convert them so they use the same type as key, the exception is not thrown anymore.

[2015-07-18 13:01] pveentjer opened #5734 "MapEventPublisherImpl eats up exception"
The following program shows the issue:

[code]

If I would remove the try/catch in the MyPredicate, the IllegalThreadStateException is thrown away

[2015-07-18 13:03] pveentjer commented on #5710
I have created a new ticket for eating the exception:

https://github.com/hazelcast/hazelcast/issues/5710

I'm going to close this ticket since the cause is incorrect usage of the API.

[2015-07-18 13:03] #5710 closed

[2015-07-18 14:08] hasancelik commented on #5552
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/541/com.hazelcast$hazelcast/testReport/com.hazelcast.nio.tcp.iobalancer/IOBalancerStressTest/testEachConnectionUseDifferentSelectorEventually/

[2015-07-18 23:36] bwzhang2011 commented on #5681
@noctarius, thanks for view and feed back. now days, many company prefer to use distribute rpc framework to use for application integration and take zookeeper for H.A. but I dare say hazelcast provides more rich distribute data structure to handle that like you provides. but for our side, side-project or some other data structure came up should handle these cases e.g IServiceRegistry. such could b

[2015-07-19 13:12] pveentjer commented on #5552
Was already resolved in master, but not yet resolves in maintenance. It is a fix in the test.

[2015-07-19 13:12] #5552 closed

[2015-07-19 20:54] bilalyasar commented on #5298
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/639/com.hazelcast$hazelcast/testReport/com.hazelcast.ringbuffer.impl/RingbufferAddAllReadManyStressTest/whenNoTTL/

[2015-07-20 07:09] mesutcelik commented on #5455
no recent failure... closing...

[2015-07-20 07:09] #5455 closed

[2015-07-20 08:56] sancar opened #5740 "Client test improvements"
Since client tests are in a state that can run parallel and fast, we can do further improvements like
1) Reducing code duplication in the tests and making use of server tests to test the client
 @pveentjer Idea is to have a base class that both server and client will extend to do its own tests.
example base class https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/test/java/com/hazelc

[2015-07-20 09:43] nick7ikin commented on #5728
Thanks for explanations, but is there any way to specify IP range that have to be excluded by Hazelcast from consideration?

[2015-07-20 09:50] gurbuzali commented on #5728
afaik no, hazelcast does not have such ability

[2015-07-20 10:47] bilalyasar commented on #5298
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/640/console

[2015-07-20 10:48] dsukhoroslov opened #5742 "add IMap.addIndex(String attribute, Comparator comp) method for custom sorting"
an existing addIndex(String attribute, boolean ordered) can also use it with default Comparator (ordered = true) on null (ordered = false). This will allow to use Collators for non-default locales properly.

[2015-07-20 12:38] Fabryprog opened #5746 "Maven profile checkstyle and findbugs not exist!"
Hello everybody,

The maven profile **mvn clean compile -Pqa** not exist but it is documented here: https://github.com/hazelcast/hazelcast#checkstyle--findbugs

best regards

[2015-07-20 12:55] Fabryprog commented on #5444
+1

[2015-07-20 13:30] mesutcelik commented on #5746
good catch! we need to update our readme file

here are the commands:
`mvn clean compile -P findbugs`
`mvn clean validate -P checkstyle`

[2015-07-20 14:00] #5746 closed

[2015-07-20 14:02] Serdaro commented on #5746
Thank you.

[2015-07-20 14:20] serkan-ozal opened #5747 "Null Record Put At CachePutBackupOperation"
Updated (also added) record may expire and record to be used in backup operation may be null

[2015-07-20 15:19] StanAccy opened #5748 "Hazelcast should issue visible log warnings if it detects incompatible instances running during cluster formation"
Based on a recurrent question on the Google group - I think it would be helpful if Hazelcast would print out a warning message if it detects connections from(or to) another instance with a different version - perhaps printing the version number and the remote IP/Port?

[2015-07-20 19:00] pveentjer opened #5750 "TransactionalList needs get(index)."
In the TransactionalList no item can be accessed by index.

[2015-07-21 06:56] Chandan83 commented on #2818
The issue can be still reproduced in version 3.5. I reproduced it by repeatedly tcpkilling on port 5701 while the client is trying to tryLock on a constant string. Once in a while, the lock goes in a state when it can no longer be locked again even after restarting the client process.

[2015-07-21 10:20] pveentjer opened #5755 "Metrics: Is Still Running Count"
Count how many times a TraceableIsStillExecutingOperation or IsStillExecutingOperation has been invoked.

[2015-07-21 10:50] Fabryprog commented on #5746
@Serdaro Can you re-open this issue?

When I had launched *mvn clean validate -P checkstyle* command i received an error because maven not compile subproject!

I fix it using this command *mvn clean compile validate -P checkstyle*.

King regards!

[2015-07-21 13:49] mesutcelik commented on #4700
fixed by https://github.com/hazelcast/hazelcast/pull/5590

[2015-07-21 13:49] #4700 closed

[2015-07-21 13:49] mesutcelik commented on #5528
fixed by https://github.com/hazelcast/hazelcast/pull/5590

[2015-07-21 13:49] #5528 closed

[2015-07-21 14:05] Siarhei-Yarkavy opened #5757 "Hazelcast mapStore implementation is not fault tolerance"
java version 1.7.60 64 bit
Hazelcast 3.4.4
Windows 7 64bit
## test case https://dl.dropboxusercontent.com/u/7307234/hz-map-store-test.zip

We use async mapStore feature in cluster of 2 HZ instances. If exception(e.g. fail because network connection to SQL database is unstable) during persistence operation occurs HZ instances tries to repeat failed operation again and again (actually how many attem

[2015-07-21 14:51] enesakar commented on #3822
failure 3.5.1 simulator tests

[2015-07-21 15:08] bilalyasar commented on #5693
closed by https://github.com/hazelcast/hazelcast/pull/5743 and https://github.com/hazelcast/hazelcast/pull/5751

[2015-07-21 15:08] #5693 closed

[2015-07-21 16:24] dimas commented on #4525
Is it by design that
[code]
still returns null values ?

[2015-07-21 18:36] Fabryprog commented on #426
This issue is not a problem!

I wish resolve it using "instance name" aka prefix name.

Can you assign me?

[2015-07-21 18:57] Fabryprog commented on #5711
Hello @RubavathiSrinivasan, can you attach your hazelcast-config xml file?

According to https://github.com/hazelcast/hazelcast/issues/426 this features is PENDING status

[2015-07-21 23:17] bwzhang2011 commented on #5527
@dsukhoroslov, @pveentjer , any update with such issue ?

[2015-07-21 23:17] bwzhang2011 commented on #5106
@emrahkocaman, any update with such issue ?

[2015-07-21 23:19] bwzhang2011 commented on #5010
@muratayan, @jerrinot , any update with such issue ?  is it resolved like #5399

[2015-07-22 02:03] juanavelez opened #5760 "hazelcast-jca-rar/pom.xml references non-existent src/main/rar/ra.xml"
The hazelcast-jca-rar/pom.xml references non-existent src/main/rar/ra.xml. The correct ra.xml location is src/main/rar/META-INF/ra.xml but this is the default per the maven-rar-plugin.

The raXmlFile element in the configuration can be removed
[code]

[2015-07-22 05:47] RubavathiSrinivasan commented on #5711
Hello @Fabryprog , I added instance name using <property>. It works fine. Thank you.

<?xml version="1.0" encoding="UTF-8"?>
<hazelcast xsi:schemaLocation="http://www.hazelcast.com/schema/config hazelcast-config-3.5.xsd"
    xmlns="http://www.hazelcast.com/schema/config"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <group>
        <name>dev</name>
        <password>password</pass

[2015-07-22 08:49] exmortal opened #5761 "Cache manager with custom classloader produces ClassNotFoundException when deserialize cache entry (OSGi env)"
Hi,

I found a strange situation with a cache manager classloader in OSGi environment (Apache KARAF container)

I have 2 bundles. One of them contains hazelcast jar and takes care about cache manager initialization. (create and expose it via OSGi service method). Second one needs to get a cache instance from provider initialized in bundle1. Also it contains CacheItem class that should be used as a

[2015-07-22 08:56] mat102 opened #5762 "Data loss in Hazelcast Map when some nodes in cluster are restarted"
We have been using Hazelcast 2.6.8 and upgraded to 3.5. The reason for upgrading was what appear to be intermittent problems with caching data. However the upgrade has not solved the problem.

We are trying to cache 100 java plain objects in a Hazelcast IMap, which we cache from an external database. Cached objects are shared across the cluster via Hazelcast's ConcurrentMap. We have a cluster of 6

[2015-07-22 16:18] sancar opened #5769 "Client Replicated Map Near cache is not invalidated when map.clear"
I came across to issue when fixing https://github.com/hazelcast/hazelcast/issues/5694 .
I added invalidation for key based events. Since adding invalidation for map.clear requires more change on server side, I leave it as is for now. Sample failing test is as follows

[code]

[2015-07-22 16:19] sancar commented on #5694
I made straightforward fixes. I opened a new issue for some more improvements
https://github.com/hazelcast/hazelcast/issues/5769

[2015-07-22 21:49] tcanabarro commented on #5653
We are seeing the same errors on `us-west-2`:

* vert.x-2.1.6 with Hazelcast 3.5: `HTTP 401 on TcpIpJoinerOverAWS`
* vert.x-2.1.5 with Hazelcast 3.2.5: `OK`

[code]

[2015-07-23 03:57] pveentjer commented on #5653
Can you file a report at the Hazelcast github?
https://github.com/hazelcast/hazelcast/issues
Perhaps there is an issue with aws joiner.

PS: The aws joiner is nothing more than a mechanism to configure the tcp/ip joiner with well known addresses. You could also use something like jclouds to access the information you need and programmatically configure the tcp/ip joiner.

[2015-07-23 04:00] MarceloMadruga opened #5770 "NullPointerException invoking com.hazelcast.map.impl.DefaultRecordStore.isLoaded()"
Hi,
I'm using hazelcast 3.5 and sometimes I get NullPointerException when using MapStores. It happens when the some code access an IMap instance  which triggers DefaultRecordStore.isLoaded() and this method calls FutureUtil.allDone(loadingFutures) where somehow loadingFutures has one null entry. I observed that this null entry is added from loadAllFromStore method in line 100 this null value comes

[2015-07-23 04:14] pveentjer commented on #5653
I can confirm there is an issue with the AWS joiner. For us-east-1 it works fine, but if I pick a different region I get the above exceptions.

[2015-07-23 04:17] pveentjer opened #5771 "AWSJoiner returns 401"
The AWSJoiner doesn't work correctly for most regions. us-east-1 works fine, but the others I have tried fail.

[code]

I get exceptions like this:
[code]

[2015-07-23 08:55] Fabryprog commented on #5770
:+1:

Hello, i confirm this defect but i haven't a test case to demonstrate it!

It is true "sometimes" :-|

[2015-07-23 08:55] Fabryprog commented on #5762
:+1:

Hello, i confirm this defect but i haven't a test case to demonstrate it!

It is true "sometimes" :-|

[2015-07-23 09:01] Fabryprog commented on #5711
can you close this issue? thanks!

[2015-07-23 10:03] #5711 closed

[2015-07-23 14:53] mdogan commented on #5771
@pveentjer: there's already an issue for this which is submitted by @jensenmo and referenced by you: #5653.

Why have you created a new one?

[2015-07-23 15:28] MarceloMadruga commented on #5770
Hi Fabrizio,

I'm sorry about that, I'll build up a test case for it. I couldn't identify
the pattern yet, but sometimes when the node comes up and I try to access
the map, the mapStoreContext is null even with the configurations set in
place correctly. So I have to stop the node and start it up again, then it
works normally. I'm testing it as a standalone node.

2015-07-23 4:55 GMT-04:00 Fabrizio

[2015-07-23 16:08] pveentjer commented on #5771
Didn't drink enough coffee. I thought I was on the vertex repo and not the HZ repo :)

[2015-07-23 16:08] #5771 closed

[2015-07-23 18:06] mdogan commented on #5771
☕

[2015-07-23 23:24] MarceloMadruga commented on #5770
Ok, no luck reproducing this in a single test case... Could check it out @ https://github.com/MarceloMadruga/hazelcastMapstoreTest
So, more updates... I'm also using spring in my project (not in the test case) and perhaps it overlaps the map creation (bean) with the Hazelcast instance (also a bean) creation and that does not happen often, so I just managed to initialize my beans in the correct ord

[2015-07-24 02:33] NipponSunrise opened #5775 "IMap.getAll method bypasses interceptors in v3.3 and higher"
While `IMap.get(Object key)` is intercepted by assigned to the specified map interceptor as expected, call to `IMap.getAll(Set<K> keys)` bypasses it.

Behavior is actual for version 3.3 and higher.  In 3.2 everything intercepts as it has to be.

[code]

[2015-07-24 03:12] #5653 closed

[2015-07-24 07:31] serkan-ozal opened #5777 "Possible Null `StringCreater` in `UTFEncoderDecoder`"
When `hazelcast.nio.faststring` is enabled, `UTFEncoderDecoder` tries to create `FastStringCreator` but if the reflection is not available due to security manager, `buildFastStringCreator` return null and then `StringCreator` becomes null

[2015-07-24 07:36] mdogan commented on #4731
Closed by https://github.com/hazelcast/hazelcast/pull/5774

[2015-07-24 07:36] #4731 closed

[2015-07-24 07:36] mdogan commented on #5446
Closed by https://github.com/hazelcast/hazelcast/pull/5774

[2015-07-24 07:36] #5446 closed

[2015-07-24 09:28] Fabryprog commented on #5750
@pveentjer  Can you assign me this issue? :+1:

[2015-07-24 09:30] pveentjer commented on #5750
You can just pick it up; it doesn't need to be assigned. Beware.. it could be tricky because changes are being tracked locally and will cause problems with get on an index.

[2015-07-24 22:20] yjanezou opened #5782 "HazelCast client spring configuration failure: "no declaration can be found for element 'hz:client'""
Hi, I am adding hazelcast client into the spring configuration file as follows:

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:hz="http://www.hazelcast

[2015-07-24 22:26] #5782 closed

[2015-07-24 22:39] bwzhang2011 commented on #5681
@noctarius, any update with such issue ?

[2015-07-24 22:42] bilalyasar commented on #5782
@yjanezou , you closed the issue. did you solve your issue?

[2015-07-24 23:13] bwzhang2011 commented on #4506
@fridgebuzz, any update with the issue ?

[2015-07-25 05:44] yjanezou commented on #5782
Thanks @bilalyasar , yeah, it was a different issue, so i closed this one.

[2015-07-25 14:08] bwzhang2011 commented on #5209
@youngm, any update with such issue ?

[2015-07-25 14:11] bwzhang2011 commented on #3661
@jerrinot, any update with such issue ?

[2015-07-25 14:15] jerrinot commented on #3661
Hi @bwzhang2011,
Hazelcast 3.5 has RingBuffer - it offers batching API & it can replace `IQueue` for some use-cases.

[2015-07-25 15:26] youngm commented on #5209
@bwzhang2011 No, I haven't had time to put together steps to duplicate it in AWS so that Hazelcast can take a closer look.  Now that it is working with CentOS 6 it has become a lower priority for my team.

I was able to duplicate it once using AWS c3.8xlarge instances.  I just need to do it again in some kind of more minimal fashion since those instances are expensive.

[2015-07-26 20:47] hasancelik commented on #5691
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/com.hazelcast$hazelcast/549/testReport/junit/com.hazelcast.wan/WanReplicationTest/EntryWithDefault_TTL_Replication_Issue/

[2015-07-26 20:47] hasancelik opened #5784 "[TEST-FAILURE] IOBalancerStressTest.testEachConnectionUseDifferentSelectorEventually"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/544/com.hazelcast$hazelcast/testReport/com.hazelcast.nio.tcp.iobalancer/IOBalancerStressTest/testEachConnectionUseDifferentSelectorEventually/

[2015-07-26 20:58] hasancelik commented on #5784
With different error:

[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/646/testReport/junit/com.hazelcast.nio.tcp.iobalancer/IOBalancerStressTest/testEachConnectionUseDifferentSelectorEventually/

[2015-07-26 20:59] hasancelik commented on #5691
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/645/testReport/junit/com.hazelcast.wan/WanReplicationTest/EntryWithDefault_TTL_Replication_Issue/

[2015-07-27 05:52] pveentjer commented on #5784
Resolved. Treshold to determine active connection was too high.

[2015-07-27 07:12] igmar commented on #5653
Checking right now.

[2015-07-27 07:17] hasancelik opened #5786 "EntryProcessorTest.testBackupMapEntryProcessorAllKeys"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.7/com.hazelcast$hazelcast/627/testReport/junit/com.hazelcast.map/EntryProcessorTest/testBackupMapEntryProcessorAllKeys/

[2015-07-27 07:46] ahmetmircik commented on #5635
Hi @imvipul, for a very long time we didn't hear from you, closing this issue now, when you have a failing test to reproduce the issue, we can re-open it.

FYI: In my tests i did not manage to reproduce the issue.

[2015-07-27 07:46] #5635 closed

[2015-07-27 07:58] ahmetmircik commented on #5650
Hi @imvipul, first of all #5635 should not be an issue, eviction should simply work.

For the question, there should not be any performance difference between `map#put(K key, V value)` vs `map.put(K key, V value, long ttl, TimeUnit timeunit)`. But if you don't need the returned value from `map#put`, you can use `map#set` and expect more performance.

[2015-07-27 07:58] #5650 closed

[2015-07-27 10:50] igmar commented on #5653
The backport if the patch does NOT fix this issue. We actually have 2 issues :

1) The request was wrong. I fixed that part, and verified on 3 different regions it gives a correct result
2) The SAX parser blows up

I'm on the dark on #2 : No idea how and why. Can anyone help me with  this ?

[2015-07-27 10:53] bilalyasar commented on #5653
Hi @igmar, let me check

[2015-07-27 11:05] igmar commented on #5653
Never mind, I'm an idiot. I tested on a region that only had stopped instances.

[2015-07-27 11:08] igmar commented on #5653
Pull send, needs a proper rebase first.

Code used for testing :

public class EC2LiveTest {
    private final static String TEST_REGION = "eu-west-1";
    private final static String TEST_ACCESS_KEY = "AKIA.......";
    private final static String TEST_SECRET_KEY = "mysecretkey";

    @Test
    public void testDescribe() {
        AwsConfig awsConfig = new AwsConfig();
        awsConfig.setRegion

[2015-07-27 11:17] ahmetmircik commented on #5757
Hi @Siarhei-Yarkavy, you can prevent data loss by setting  `hazelcast.map.replica.scheduled.task.delay.seconds` property atm. This property adds some delay before removing an entry from write-behind-queue of a backup-partition. Its default value is 10 seconds.
We are using this property because currently a back-up is not aware whether an entry is persisted successfully or not on owner-partition. I

[2015-07-27 12:40] ahmetmircik commented on #5734
@pveentjer it seems `MapEventPublisherImpl` does not eat exceptions, it is [OperationRunnerImpl](https://github.com/hazelcast/hazelcast/blob/b1904b836e530cce07fa0d0c4800328537788dab/hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java#L243) and it only logs that kind of exceptions in `afterRun` phase.

[2015-07-27 14:52] Siarhei-Yarkavy commented on #5757
@ahmetmircik firstly thank you for suggestion. I tested the secret not documented property) it mitigates but doesn't eliminate the issue. If instance that is repeating persistence operation shutdown we kill (at step 6) after 300 seconds delay the second instance is not started to continue persistence operation, so with proposed workaround e.g. devops team has only 300 second to fix network, otherw

[2015-07-27 15:08] ahmetmircik commented on #5757
@Siarhei-Yarkavy right you are only safe in the period of 300 seconds. The enhancement is directly concerned with your case and trying to solve the issue you experienced.

Also map-store is not appropriate to be used in transactions as mentioned [here](https://github.com/hazelcast/hazelcast/blob/3e9f88900ecd3009c4a3e641db7e5aaa14b60385/hazelcast/src/main/java/com/hazelcast/core/TransactionalMap.ja

[2015-07-27 15:11] Siarhei-Yarkavy commented on #5757
@ahmetmircik We still use transactions now, but with async map store this not an issue I assume. Transaction is over if successful write happens to HZ in memory store. Am I right?

[2015-07-27 18:35] ahmetmircik commented on #5757
From the perspective of in memory-store-transaction, yes you are right, but what if your database transactions fail?

[2015-07-27 20:34] yjanezou opened #5797 "hazelcast client side configuration"
Hi, I am testing an application which uses the Hazelcast Native Java Client API to connect to a Hazelcast cluster. The application uses hazelcast(IMap) as a cache to replace memcached. I wonder if anything related to cache could be configured at client side such as ttl per map? I saw such configuration can be done on the cluster server side though. But for our case, we may dynamically (on client s

[2015-07-27 21:22] Fabryprog commented on #5750
Hello @pveentjer , i am studing the code and it is a nice issue! I have an idea to do it.

If we put an UUID returned by add method you can remove the item by his UUID!! Not is the same things but can be a shortcut method to do it!

Do you like it?

[2015-07-28 06:49] haixiliu opened #5798 "HazelcastHttpSession.getAttribute() for WebFilter not working when deferredWrite=true"
For me, this is a continuation of problem experienced when using hazelcast-wm with deferredWrite=true.

After #5242 was resolved with #5537 in release 3.5.1, I downloaded it and tested, and found another bug introduced in #5471 (https://github.com/bilalyasar/hazelcast/commit/98850a51c610de0259cede1eea5f1054af4b0b7f#diff-d770d63698a9e0e449d0d8ad43f24943), and still break my use case.

In the latest

[2015-07-28 07:07] bilalyasar commented on #5798
@haixiliu, i checked the code again, in this [`getAttribute`method] (https://github.com/hazelcast/hazelcast/blob/maintenance-3.x/hazelcast-wm/src/main/java/com/hazelcast/web/HazelcastHttpSession.java#L108):  if local cache is null, we look distributed map then hazelcast puts data to local cache. One exception is that if data is `null` we don't put into local cache just return `null`. There is an i

[2015-07-28 07:16] bilalyasar commented on #5798
@haixiliu, i guess i found your issue, i will try in my local and will inform you. thanks for reporting.

[2015-07-28 07:45] hasancelik opened #5800 "[TEST-FAILURE] map.query.QueryBasicTest failures"
com.hazelcast.map.query.QueryBasicTest.testPredicateDateAttributeWithIndex
com.hazelcast.map.query.QueryBasicTest.testPredicateDateAttribute
com.hazelcast.map.query.QueryBasicTest.testPredicateEnumAttributeWithIndex

[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK9-Quality-Outreach/com.hazelcast$hazelcast/141/testReport/junit/com.hazelcast.map.query/QueryBasicTest/testPred

[2015-07-28 08:00] hasancelik commented on #4142
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.7/com.hazelcast$hazelcast-client/629/testReport/junit/com.hazelcast.client.executor/ClientExecutorServiceTest/testGetFutureAfterCancel/

[2015-07-28 08:03] gurbuzali commented on #5797
all configuration related to data structures should be at server-side, you cannot configure them from client-side.
However you can make use of wildcard configuration.
http://docs.hazelcast.org/docs/3.5/manual/html/usingwildcard.html#using-wildcard

[2015-07-28 08:03] #5797 closed

[2015-07-28 08:05] hasancelik commented on #5212
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OpenJDK6/com.hazelcast$hazelcast-client/273/testReport/junit/com.hazelcast.client.map/ClientMapNearCacheTest/testNearCacheFasterThanGoingToTheCluster/

[2015-07-28 08:12] hasancelik opened #5801 "[TEST-FAILURE] MapReadQuorumTest failures (....ThrowsExceptionWhenQuorumSizeNotMet)"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8/636/

[2015-07-28 08:27] hasancelik commented on #4252
This time new client side tests are failing

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/624/

[2015-07-28 12:40] haixiliu commented on #5798
Hi @bilalyasar,

The code change in #5804 doesn't seem to fix the issue. I will need to put your change in and verify it, but based on my analysis, it doesn't fix my issue.

The reason I say that is the new LocalCacheEntry created in getAttribute() - when I am calling it on a non-existent attribute - is not put into localCache. Therefore, the next time I call getAttribute(), localCache.get(name) w

[2015-07-28 12:45] bilalyasar commented on #5798
@haixiliu , yes you are right, #5804 solves the issue for existing attributes if attribute exist in distributed map then hazelcast-wm will put attribute to local cache but for the null attributes we have another issue which is https://github.com/hazelcast/hazelcast/issues/5668.. And https://github.com/hazelcast/hazelcast/issues/5668 will be solved with different PR.

[2015-07-28 12:46] shivlim opened #5806 "Nearcache Invalidation on cache element expiry"
Hello
Iam very new to hazelcast and have a question in this regard.We are migrating from ehcache to hazelcast and in the process i bumped into an issue(?) with hazelcast.I looked at nearcache docs but couldnt find anything about its design.
I have a simple map in hazelcast and elements are added to it during runtime and TTL is set on individual elements when they are added to map.
So i configured

[2015-07-28 13:37] YuriyKravtsov opened #5807 "IndexImpl.getRecords fails with NPE"
In #4525 muratayan suggested using following:
[code]

On  hazelcast  launched  with xml configuration contained:
[code]
I tried it and got:

[code]
 Another question is.

Is it by design that
[code]
still returns null values while

[code]
does not?

[2015-07-28 13:49] QianWangjun commented on #5468
Hello eminn,

I had the same issue with the hazelcast release 3.5, I saw the 3.5.1 has been released today, were the fix #5469 included in 3.5.1?
For another project, I'm using another version of hazelcast, is possible that this issue also happen with 3.4.2?

Best regards,
Wangjun Qian

[2015-07-28 14:05] kcheng99 commented on #5468
I also got the same issue
------------------------------------------------
ul 28, 2015 10:03:08 PM com.hazelcast.spi.impl.operationservice.impl.Invocation
WARNING: [192.168.2.185]:5701 [dev] [3.5] Asking if operation execution has been started: com.hazelcast.spi.impl.operationservice.impl.IsStillRunningService$InvokeIsStillRunningOperationRunnable@4e897a1a
Jul 28, 2015 10:03:08 PM com.hazelcast.sp

[2015-07-28 14:06] kcheng99 commented on #5468
In fact what I am doing is
-------------------------------------
for(int i=1 ; i<= 500; i ++){
            Thread t = new Thread(
                    (new Runnable() {
                        public void run() {
                            Random random = new Random();
                            int randomNum = random.nextInt(100) + 1;
                            for(int j=1; j <= 1000; j++){

[2015-07-28 14:08] kcheng99 commented on #5468
what I am doing is start 500 thread, and each thread loop 1000 times to put a object(Person into the map).

I have a 3 nodes cluster.

for(int i=1 ; i<= 500; i ++){
            Thread t = new Thread(
                    (new Runnable() {
                        public void run() {
                            Random random = new Random();
                            int randomNum = random.nextInt(1

[2015-07-28 19:12] tolitius opened #5809 "Shoots the heap to max and dies on rebalancing"
This did not get any traction for several months:
https://groups.google.com/forum/#!searchin/hazelcast/Anatoly/hazelcast/-ZFsDuH5iOU/1uj9P7mK5bAJ so I'll convert it to an issue.

## problem

1. Node A is started
2. Node A caches data in some maps and a multimap with about 30 million entries (0 backups for everything)
3. Uses 27GB of heap. All good.

4. Node B is started
5. Node A starts "Remaining

[2015-07-29 08:34] hasancelik opened #5811 "[TEST-FAILURE] JoinStressTest.testJoincompletesCorrectlyWhenMultipleNodesStartedParallel"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/651/testReport/junit/com.hazelcast.cluster/JoinStressTest/testJoincompletesCorrectlyWhenMultipleNodesStartedParallel/

[2015-07-29 08:38] hasancelik commented on #3888
new failure with different error:
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/651/testReport/junit/com.hazelcast.cluster/JoinStressTest/testTCPIPJoinWithManyNodes/

[2015-07-29 08:40] hasancelik commented on #5691
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/651/testReport/junit/com.hazelcast.wan/WanReplicationTest/EntryWithDefault_TTL_Replication_Issue/

[2015-07-29 08:50] hasancelik opened #5812 "[TEST-FAILURE] ClientMapTest.testPutTtl"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-IbmJDK1.7/com.hazelcast$hazelcast-client-new/275/testReport/junit/com.hazelcast.client.map/ClientMapTest/testPutTtl/

[2015-07-29 08:56] hasancelik commented on #5800
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK9-Quality-Outreach/142/#showFailuresLink

[2015-07-29 08:58] hasancelik commented on #4290
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast-client/653/testReport/junit/com.hazelcast.client/ClientSplitBrainTest/testClientListeners_InSplitBrain/

[2015-07-29 09:02] hasancelik opened #5813 "[TEST-FAILURE] TransactionalMapReadQuorumTest failures"
com.hazelcast.quorum.TransactionalMapReadQuorumTest.testTxGetThrowsExceptionWhenQuorumSizeNotMet[Executing: TransactionOptions{timeoutMillis=120000, durability=1, txType=TWO_PHASE}]

com.hazelcast.quorum.TransactionalMapReadQuorumTest.testTxContainsKeyThrowsExceptionWhenQuorumSizeNotMet[Executing: TransactionOptions{timeoutMillis=120000, durability=1, txType=TWO_PHASE}]

com.hazelcast.quorum.Trans

[2015-07-29 09:25] #5775 closed

[2015-07-29 09:48] ggs-jan opened #5815 "Hazelcast 3.5 Spring client hangs on connect/reconnect"
I may have found a bug in Hazelcast 3.5, that leads to the client hanging forever in the authenticate method.

I could only reproduce this behaviour with Hazelcast 3.5, with 3.4.2 showed no problems on connect/reconnect.

# Setup:

The problem occurs in two situations:
1. When the client gets started before the server is available, then the server becomes available and the client tries to connect.

[2015-07-29 10:25] fridgebuzz commented on #4506
@bwzhang2011 you have to ask @pveentjer.

[2015-07-29 11:37] pveentjer commented on #4506
Could you switch to Java 8 and see what happens. In Java 7 there is:

[code]

So there is always a synchronized method being called. But in Java 8 this has changed to an optimistic locking based version.

[2015-07-29 12:05] ahmetmircik commented on #5757
Since we have an enhancement process for this issue, closing it now. Atm only the proposed workaround above can be applied.

[2015-07-29 20:39] yjanezou commented on #5797
then how about the ICache?  what kind of client side configuration can be done?

[2015-07-29 20:43] yjanezou opened #5817 "As to ICache, what kind of client side configuration can be done?"
For our use case, we will run hazelcast on a remote cluster, could we configure cache-related settings (e.g, TTL) in client config (.xml) file?

[2015-07-29 23:22] torkeld opened #5818 "MapLoader blocks the entire partition when loading single entry"
The MapLoader.load(key) method seems to be executed by the partition thread, which means that all other operations on the partition will be blocked until loading is done. A very common use case for the MapLoader is to load data from a DB, which arguable could take some time. Should really access to all other entries in that partition be blocked just because one single entry is being loaded from th

[2015-07-30 00:36] NipponSunrise opened #5819 "MapLoader.load(K paramK) get called when we put a nonexistent key to IMap"
If we have an `IMap` with `MapLoader` assigned to it and we put a nonexistent key with some value, the `IMap.put(K key, V value)` gets call to `MapLoader.load(K paramK)` before it puts the value.

**Expected behavior:** `IMap.put(K key, V value)` does not call `MapLoader.load(K paramK)`
**Hazelcast version:** 3.5

[code]

[2015-07-30 06:16] gurbuzali commented on #5819
This is the expected behavior. In order to return the old value, hazelcast loads the value from store before putting the new one. In your case it is a nonexistent key and it will return null but hazelcast cannot know it without calling `load`.

You can use `IMap.set` method to get rid off store loading, since it does not return anything no loading is required.
https://github.com/hazelcast/hazelcas

[2015-07-30 06:16] #5819 closed

[2015-07-30 06:44] gurbuzali commented on #5818
Hi,
The documentation is misleading and should be updated accordingly, thanks for pointing out.
The behavior you've pointed out above is strongly related with our threading-model. You check out the threading-model section of the documentation for further information
http://docs.hazelcast.org/docs/3.5/manual/html-single/hazelcast-documentation.html#threading-model

[2015-07-30 06:57] serkan-ozal commented on #5817
Hi @yjanezou,
Cache configuration can be defined
- At server, both of programmatically and declaratively (XML)
- At client, only programmatically

[2015-07-30 07:01] Serdaro commented on #5818
@ahmetmircik , can we look into this?

[2015-07-30 12:23] Serdaro commented on #5818
Fixed by the commit: https://github.com/hazelcast/hazelcast-reference-manual/commit/846968e59b7e8525957ff001ed935ba38c1037f5

Thank you.

[2015-07-30 12:23] #5818 closed

[2015-07-30 12:25] serkan-ozal opened #5822 "byte[] typed value aware "UTFWriter" for JDK 9 Compatibility"
JEP 254 introduces compacted String. As a result the value field is no longer `char[]` but `byte[]` in JDK9.
See https://bugs.openjdk.java.net/browse/JDK-8054307 for additional details.
This compatibility issue is supressed with this PR https://github.com/hazelcast/hazelcast/pull/5799

[2015-07-30 12:30] cszmajda opened #5823 "NullPointerException in com.hazelcast.web.WebFilter$RequestWrapper.readSessionFromLocal"
We are seeing this error, seems to be new in Hazelcast 3.5.0:

[code]

Was this introduced with https://github.com/hazelcast/hazelcast/pull/5471?

[2015-07-30 12:49] bilalyasar commented on #5823
Do you use session replication with another framework? (like spring)
also do you have a scenario?

[2015-07-30 18:12] haixiliu opened #5824 "hazelcast-wm WebFilter throwing NullPointerException"
After upgrading to 3.5.1, we are running into NullPointerException raised from WebFilter quite often in our selenium test as part of our CI process. Our Selenium test suite will run after new code is deployed into smoke servers cluster with two nodes (with a 3 minutes waiting period between end of deployment and start of SE tests). The cycle of new code deployment is every two hours or less, and t

[2015-07-30 18:23] yjanezou commented on #5817
Thanks @serkan-ozal , our use case require as minimum as possible for server/cluster side configuration. We will use hazelcast to replace memcached cache, though not through the memcached client. From client side, we need to access the cache for read and write. Is the cache configuration (expiry policy) could only be configured when the cache is created? if the caching fleet/cluster is alive, the

[2015-07-30 18:24] bilalyasar commented on #5824
@haixiliu, this issue seems similar to https://github.com/hazelcast/hazelcast/issues/5823 we are working on it.

[2015-07-30 21:01] fridgebuzz commented on #4506
As far as I can tell, the same test described above does not display any contention. I'd consider it closed. Thanks.

[2015-07-30 21:45] yjanezou opened #5825 "Management Center does not show the caches."
Hi, the application has created and can use the cache (created thru  "cache = cacheManager.createCache(CACHE_NAME, config);),

But in the management center, there is no cache listed under Caches section. Previously I used IMap, and I can see maps created under Maps section. Could you advise? thanks.

[2015-07-30 23:33] bilalyasar commented on #5825
Did you enable cache ststistics in cache config?

[2015-07-31 00:54] cszmajda commented on #5823
We are just using Hazelcast session replication, exactly as described in http://hazelcast.com/use-cases/web-session-clustering/generic-web-session-replication/.

It happens intermittently, to some users randomly.  Once a user triggers the problem, it seems to persist until they clear their `hazelcast.sessionId` cookie or the node is restarted.

Looking at the code, should it not be more careful ab

[2015-07-31 05:19] bwzhang2011 commented on #5462
@mdogan, any update with the issue ? as reliable topic could be provided in 3.5.2, it's better to add such support. as in most cases around cluster environment, just one of which member could consume the data subscribed for processing not pure out of receiving the data but for processing, so it's not necessary to process it twice or more.

[2015-07-31 07:53] serkan-ozal commented on #5817
Hi @yjanezou

Yes, the cache configuration can only be configured when cache is created but you can create cache dynamically. It means no need to define caches at startup as static. However, if you want to change `ExpiryPolicy` dynamically, you can use our `com.hazelcast.cache.ICache` interface (which is sub-type of `javax.cache.Cache`) since Hazelcast cache's are an implementation of `ICache`. In

[2015-07-31 07:55] serkan-ozal commented on #5817
BTW, @yjanezou Are these answers are enough for you?

[2015-07-31 07:57] serkan-ozal commented on #5461
@fuadm Is this current near-cache improvements for near-cache is enough?

[2015-07-31 08:04] fuadm commented on #5461
Hi Serkan,

Yes, all the latest improvements are great and they work.

[2015-07-31 08:10] fuadm commented on #5461
Hi @Tembrel,

Sorry, I missed your comment.
I understand the fact that will bloom filters it will be a smaller invalidation message. But receiving the message, shouldn't I call mightContain on BloomFilter for all entries that are stored in Near Cache? I think this will reduce the message size, but will add CPU cost on each node. Is my understanding correct?

[2015-07-31 08:27] serkan-ozal commented on #5807
I think, the issue is caused by `null` value is not converted to `IndexImpl::NULL` internally. Normally, conversion is handle by `TypeConverter` implementations but as far as I see, `IdentityConverter` doesn't handle this conversion. Not sure but maybe this is the cause of the issue.

[2015-07-31 08:33] serkan-ozal commented on #5461
ok, thanks @fuadm. Closing this one

[2015-07-31 08:33] #5461 closed

[2015-07-31 09:11] Serdaro commented on #5825
Also, I think "management-enabled" element should be set as "true".

[2015-07-31 09:51] lukasblu commented on #3338
Hi @ahmetmircik

the test above still fails in 3.5.1. Are there any plans to fix this eventually?

thanks,
Lukas

[2015-07-31 10:25] serkan-ozal commented on #5761
Hi @exmortal,

Sorry for late response.

At first look, it seems as an issue to me but I need to look more detailed.

When the default URI (`hazelcast`) is used (no URI is specified while creating `CacheManager`), specified classloader is not passed to the underlying instance but passed when URI is specified while creating cache manager.

So to be sure, can you pass a non-empty (null) URI to `Cach

[2015-07-31 10:26] YuriyKravtsov commented on #5807
should I try

final Predicate emptyFieldPredicate = Predicates.notEqual("field", "value");
final Predicate nullPredicate = Predicates.equal("field", IndexImpl.NULL);
final Collection emptyFieldValues = map.values(Predicates.or(emptyFieldPredicate, nullPredicate));
?
I have strong feeling it won't help.

[2015-07-31 11:26] serkan-ozal commented on #5807
I think worth to try

[2015-07-31 12:41] lukasblu commented on #4671
Hi,

how is life? and how do we continue with this issue? In 3.5.1 there is still no fix.

The PR by @ahmetmircik #5550 got closed without merging.
The previous PR by @mtopolnik #5459 also got closed without merging.
My PR #4710 never got merged either
and there was an alternative idea from @ahmetmircik here
https://github.com/hazelcast/hazelcast/compare/master...ahmetmircik:fix/3.5/nearcacheStale

[2015-07-31 13:57] xjrk58 commented on #3806
I have the same issue with 2 instances in one JVM and then again 2 instances in another JVM, but the same host. And I can still reproduce this issue with 3.5.1 even after I've tried different group name, different multicast address (group), port and so on.

2015-07-31 15:47:37,080 [cached8] INFO  -MulticastJoiner - [127.0.0.1]:5712 [All] [3.5] Address[127.0.0.1]:5712 is merging to Address[127.0.0.

[2015-07-31 14:31] torkeld commented on #5818
I understand that this bug is a manifestation of your underlying threading model, we've bumped into this design flaw before as outlined in https://github.com/hazelcast/hazelcast/issues/3146, but that doesn't mean that it can't be fixed.
This bug essentially makes the MapLoader completely useless for any production grade system that cares about latency. Not only does the load method block a partiti

[2015-07-31 14:36] Tembrel commented on #5461
@fuadm - Correct, a small CPU cost is incurred for each near-cache lookup to see if the key has (probably) been invalidated. But it's a tiny cost, since BloomFilter tests are just hashes to a bit vector.

Some thought would have to put into maintaining the union of BloomFilters from other nodes, but the cost of that maintenance would only be incurred on receipt of new messages, not per near-cache

[2015-07-31 15:15] ahmetmircik commented on #3338
Hi @lukasblu, you are right, only fixed it for flushes caused by eviction, reopening this issue now and will try to send a fix in a close future, hopefully.

[2015-07-31 15:23] ahmetmircik commented on #4671
Hi @lukasblu, currently some solutions exist around but still we are not happy with any one of them. Lets continue to keep an eye on it.

[2015-07-31 16:57] yjanezou commented on #5817
Thank you @serkan-ozal for the detailed answer! one more question, if the client side app uses createCache() upon startup, would repeated creating an existing cache (with client app deployments) cause any issue for the hazelcast cluster?

[2015-07-31 17:31] serkan-ozal commented on #5817
Not cause any issue.

If cache has been already created, next calls are just ignored. But if the existing cache is tried to be created from the same `CacheManager` instance multiple times (in your example from same client), an exception is thrown about cache is already exist.

[2015-07-31 18:59] YuriyKravtsov commented on #5807
The matter is that I tried, that is why I wrote 'I have strong feeling it won't help'.

There is no suitable serializer for class com.hazelcast.query.impl.IndexImpl$NullObject
com.hazelcast.nio.serialization.HazelcastSerializationException: There is no suitable serializer for class com.hazelcast.query.impl.IndexImpl$NullObject
	at com.hazelcast.nio.serialization.SerializationServiceImpl.serializer

[2015-07-31 19:17] fuadm commented on #5461
Thanks for the explenation Tim. Serkan did a good job with the batching and currently it only sends the keys. So in theory it should be fine. If this starts to be an issue, an optional bloom filter alternative can be used as you described. We will keep this in mind. Thank you so much for sharing!

[2015-07-31 22:26] yjanezou commented on #5825
thanks, it works now!

[2015-07-31 22:43] yjanezou commented on #5817
Thanks @serkan-ozal. it helps.

[2015-07-31 22:43] #5817 closed

[2015-07-31 23:07] bwzhang2011 commented on #944
@pveentjer, any update with the issue ?

[2015-08-01 04:32] julianrz opened #5837 "time-to-live-seconds 0 does not work"
`<ringbuffer name="ring">
        <capacity>10</capacity>
        <time-to-live-seconds>0</time-to-live-seconds>
</ringbuffer>`

Ringbuffer<Object> ring = hazelcastInstance.getRingbuffer("ring");
long ret = ring.addAsync(bb.array(), OverflowPolicy.FAIL).get();

ret is never negative, unlike what the doc says (0 means unlimited). Setting to large number works.
This is at least in 3.5 and 3.5.1

[2015-08-01 08:33] #5760 closed

[2015-08-01 14:21] Esquive opened #5839 "Store Implementation for other collections."
Hello, for a use case I'm investigating I'm planning on implementing persistent stores for other collections. Is there a common interest in that, or not. If so I would of course invest more effort in implementing test cases and so on.

Best Regards

[2015-08-01 16:46] pveentjer commented on #5837
0 doesn't mean unlimited, it means that there is no time to live.

[code]

So in this case it will always overwrite and therefor the value will never be null.

[2015-08-01 16:47] #5837 closed

[2015-08-02 08:20] bwzhang2011 commented on #5809
@tolitius, was it all confirmed in hz3.5+ or lastest snapshot ?

[2015-08-02 12:17] hasancelik commented on #5691
3.x-maintenance:
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/com.hazelcast$hazelcast/557/testReport/junit/com.hazelcast.wan/WanReplicationTest/EntryWithDefault_TTL_Replication_Issue/

[2015-08-03 08:00] hasancelik commented on #5691
3.x maintenance:
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/com.hazelcast$hazelcast/559/testReport/junit/com.hazelcast.wan/WanReplicationTest/EntryWithDefault_TTL_Replication_Issue/

[2015-08-03 08:15] Serdaro commented on #5746
@mesutcelik , can you comment? Should I change the README accordingly?

[2015-08-03 08:46] Serdaro commented on #4456
@kobalski , Does this have any documentation impact?

[2015-08-03 08:47] mesutcelik commented on #5746
I see no problem with `mvn clean validate -P checkstyle`

@Fabryprog ,
Can you please post error message here?

[2015-08-03 08:52] bzlat commented on #5554
I've just tested with the lastest Hazelcast version ```3.5.1``` and this test still fails. My test is now slightly different from the one I originally posted (it now uses lifecycle event listener to detect server and client start-up, instead of sleeping), but I tested with both and both fail. Here's the code of my latest test:

[code]

And this is the test output:

[code]

Does this work for you?

[2015-08-03 08:54] gurbuzali commented on #5554
Thank you @bzlat for the provided test, I'll try to look at it asap

[2015-08-03 09:01] Fabryprog commented on #5746
Hello,

I cannot do it because now i have another error:

1) git clone https://github.com/hazelcast/hazelcast.git
2) mvn clean validate -P checkstyle

What has changed?

CONSOLE LOG:

[INFO] Scanning for projects...
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Build Order:
[INFO]
[INFO] Hazelcast Root
[INFO] hazelcast-code-generator
[INFO] hazelcas

[2015-08-03 09:36] mesutcelik commented on #5746
Can you please send us some more info? OS,java version,mvn version?

[2015-08-03 09:50] Fabryprog commented on #5746
$ java -version
java version "1.7.0_60"
Java(TM) SE Runtime Environment (build 1.7.0_60-b19)
Java HotSpot(TM) Client VM (build 24.60-b09, mixed mode, sharing)

$ javac -version
javac 1.7.0_60

$ mvn --version
Apache Maven 3.0.4 (r1232337; 2012-01-17 09:44:56+0100)
Maven home: c:\Users\fabryprog\apache-maven-3.0.4
Java version: 1.7.0_60, vendor: Oracle Corporation
Java home: c:\Program Files (x86)\

[2015-08-03 10:50] exmortal commented on #5761
Hi @serkan-ozal

It seems that nothing changes either I set URI to something of leave it as null. I still get the deserialization error.

BR,
Vlad

[2015-08-03 11:10] serkan-ozal commented on #5761
Hi @exmortal,

Can you send the stacktrace?
Does the issue occurred while casting the returned object from `cache.get()` to a local variable like `CacheItem item = cache.get("1");` or just `cache.get("1");` itself causes `ClassCastException`?

[2015-08-03 11:14] exmortal commented on #5761
java.lang.ClassNotFoundException: com.sample.cache.CacheItem not found by org.ops4j.pax.exam.rbc [53]
        at org.apache.felix.framework.BundleWiringImpl.findClassOrResourceByDelegation(BundleWiringImpl.java:1532)
        at org.apache.felix.framework.BundleWiringImpl.access$400(BundleWiringImpl.java:75)
        at org.apache.felix.framework.BundleWiringImpl$BundleClassLoader.loadClass(BundleWi

[2015-08-03 11:16] serkan-ozal commented on #5761
Ok. It is `ClassNotFoundException` not `ClassCastException`. I am a little bit confused because the title of the issue says `ClassNotFoundException` but the comment in the code sample says `ClassCastException` (`cache.get("1"); // ClassCastException. Dezerializer uses context classloader but not one I specified when create a cache manager.`)

[2015-08-03 11:18] exmortal commented on #5761
Yes, sorry, It's my fault. I've just updated first message.

[2015-08-03 11:19] serkan-ozal commented on #5761
Are you sure that `com.sample.cache.CacheItem` can be loaded/found by `bundle2ClassLoader`?
Can you be sure by trying `bundle2ClassLoader.loadClass("com.sample.cache.CacheItem")` doesn't throw `ClassNotFoundException`?

[2015-08-03 11:23] exmortal commented on #5761
Yes, sure. Class is loaded via bundle2ClassLoader.

[2015-08-03 11:24] exmortal commented on #5761
Moreover: this code fix the problem:

'''java
CacheItem item2 = doWithClassLoader(bundle2ClassLoader, new Callable<CacheItem>() {
            @Override
            public CacheItem call() throws Exception {
                return cache.get("1");
            }
        });

 just set a correct classloader as a actual thread context one.

[2015-08-03 11:28] serkan-ozal commented on #5761
Ok thanks. This is very helpful and proves that context classloader is used internally.

[2015-08-03 11:29] bilalyasar commented on #5825
so i am closing the issue.

[2015-08-03 11:29] #5825 closed

[2015-08-03 11:32] bilalyasar commented on #5824
@haixiliu, this pr should fix the this issue [https://github.com/hazelcast/hazelcast/pull/5840]
Can you try with 3.5.2-SNAPSHOT or can you try with applying fix to your project?

[2015-08-03 11:38] haixiliu commented on #5824
I will certain try and let you know.

Thanks!

- Haixi

On 8/3/2015 7:32 AM, Bilal Yasar wrote:

[2015-08-03 11:41] serkan-ozal commented on #5761
@exmortal Can you send the version of the code that you have added URI?

[2015-08-03 11:48] serkan-ozal commented on #5761
@exmortal

BTW, Can you also print the classloader (used while serialization) of the underlying Hazelcast instance by `CacheManager`
[code]

[2015-08-03 12:06] kobalski commented on #4456
@Serdaro I created a PR for this issue. I listed necessary config under optional settings part. https://github.com/hazelcast/hazelcast-reference-manual/pull/23

[2015-08-03 12:53] tolitius commented on #5809
@bwzhang2011, can't easily do this in prod environment where the problem happens. the way things are setup (client site), there is a lot less data in "pre prod", and it does not seem to happen there.

[2015-08-03 13:03] exmortal commented on #5761
URI is "simple/cache".

It's unable to invoke your part of code. I've got:
[code]
But debug shows me that classloader is null in SerializationService.

BTW I create a cache manager in this way:
[code]
Cache manager uses already created and configured hazelcast instance in my case.

[2015-08-03 13:06] serkan-ozal commented on #5761
I see,

Can you set the `bundle2ClassLoader` to `Config` by

[code]

and then create Hazelcast instance with this config?

[2015-08-03 13:08] serkan-ozal commented on #5761
In your example, you are creating an instance and I guess you don't give the required classloader to it. Although you give the classloader while creating a cache, it does't create a new instance but used an existing instance with its name but this instance has no classloader and uses thread context classloader in its serialization.

[2015-08-03 13:10] emrahkocaman commented on #5691
Should be fixed with above commits.

[2015-08-03 13:12] exmortal commented on #5761
I can't set bundle2ClassLoader while hazelcast initialization, because hazelcast instance must be created in bundle1 by design in my particular case. Bundle1 is a cache producer. Bundle2 is a cache consumer. Bundle2 retrieves a cache manager only, but doesn't create a new cache provider.

[2015-08-03 13:14] exmortal commented on #5761
I can set only bundle1Classloader to the config, but I believe this won't help.

[2015-08-03 13:47] serkan-ozal commented on #5761
In your architecture, you are using an Hazelcast instance from another bundle but that bundle doesn't know the class from this bundle as expected. I don't think this is a Hazelcast bug. If you want Hazelcast to find your class, you should give your custom classloader (maybe a global classloader that scans the requested class in all bundles) while creating an Hazelcast instance to find and load the

[2015-08-03 14:10] exmortal commented on #5761
You're right in a case when I use hazelcast directly, but I want to use it via JSR107 api.
And the main goal of this issue is why bundle2ClassLoader is not using for deserialization for caches created using this manager ?
[code]
Maybe it's misunderstanding to JSR107 specification or my vision is not right.

[2015-08-03 14:28] serkan-ozal commented on #5761
JCache specification doesn't enforce specified classloader to be used as internal classloader, it is there for specifying scopes of `CacheManager`s.

And in your architecture, there maybe multiple users of the Hazelcast bundle and each one has its own classloader. Each one tries to use same cache with different classloader. This is not feasible from the cache provider perspective (Hazelcast)

[2015-08-03 14:42] exmortal commented on #5761
Could you please describe what does CacheManager's scopes means? (in a Hazelcast context)

JSR says: "To acquire non-default or alternative configurations of CacheManagers, for example with **custom
ClassLoaders** or caching implementor properties, developers should use one of the overloaded
CachingProvider getCacheManager methods."
And nothing said about the purpose of this "custom classloader".

[2015-08-03 14:52] serkan-ozal commented on #5761
There can be multiple `CacheManager`s owned by same `CachingProvider` (`HazelcastCachingProvider`). Each of the `CacheManager` has their own classloader and URI so eventhough the cache with same name is created over these `CacheManager`s, in fact they are different caches. I mean there can be multiple caches with same name owned by different `CacheManager`s. This is considered as the scope of `Cac

[2015-08-03 15:17] exmortal commented on #5761
My idea was that each bundle has own cache manager created with bundle's classloader.
Cache manager is available via custom API that restricts external bundles to get access to cache managers form other bundles. So that why I create this issue.

Anyway, great thanks for a detailed answer, I think issue could be closed.

[2015-08-03 15:30] serkan-ozal commented on #5761
Ok thanks. I will keep this issue open a little bit to have a look what can be done. But I advice using thread context classloader as workaround at the moment.

[2015-08-03 18:51] pveentjer opened #5848 "New Client: Unwanted serialization for partition id"
The new client determines the partition id for every invocation for a lot of data-structures like queue/list etc where the partition-id is static. There is no need for this; calculate the partition id when the proxy is created and keep on re-using it.

[2015-08-03 22:10] jainishshah17 opened #5849 "hazelcast 3.5.1 is not able to make cluster using hzelcast-cloud plugin 3.5 in EC2 instances."
Not able to create cluster because of signature version. our system uses version 2 and cloud plugin use signature version 4.

Header with plugin 3.5 (not working)
https://ec2.amazonaws.com/?Action=DescribeInstances&Version=2014-06-15&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=KEY%2F20150801%2Fus-west-2%2Fec2%2Faws4_request&X-Amz-Date=20150801T003233Z&X-Amz-Expires=30&X-Amz-Signature=XXX&X-A

[2015-08-04 07:28] hasancelik opened #5850 "[TEST-FAILURE] ObjectEqualsHashcodeTests.testConnectionFactoryImpl"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8/com.hazelcast$hazelcast-jca/643/testReport/junit/com.hazelcast.jca/ObjectEqualsHashcodeTests/testConnectionFactoryImpl/

[2015-08-04 07:54] Serdaro commented on #4456
Great, thank you.

[2015-08-04 07:57] mesutcelik commented on #5823
fixed by https://github.com/hazelcast/hazelcast/pull/5840

[2015-08-04 07:57] #5823 closed

[2015-08-04 08:00] bilalyasar commented on #5849
@jainishshah17 , We made a fix to current master and maintenance branches. Can you try your case with 3.5.2-SNAPSHOT or 3.6-SNAPSHOT?

[2015-08-04 08:18] mesutcelik commented on #5551
fixed by https://github.com/hazelcast/hazelcast/pull/5659

[2015-08-04 08:18] #5551 closed

[2015-08-04 08:27] hasancelik commented on #5691
Failed again, nightly build result is:
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/661/testReport/junit/com.hazelcast.wan/WanReplicationTest/EntryWithDefault_TTL_Replication_Issue/

[2015-08-04 08:45] emrahkocaman commented on #5691
@hasancelik , another timing issue.
sent another update (https://github.com/hazelcast/hazelcast/commit/cd34a8eb8dadc8bfec327b452a3a3cad07cd295c).

[2015-08-04 10:39] #5261 closed

[2015-08-04 12:06] RubavathiSrinivasan opened #5854 "Concurrent Modification Exception : Hazelcast-3.5"
We recently upgraded hazelcast version to 3.5 . We are getting the following error and this is inconsistent. We don't update the map values. We just use it as a lookup map.
[code]

[2015-08-04 12:57] ajermakovics commented on #5854
Hi @RubavathiSrinivasan

Thanks for reporting! The stacktrace points to where the problem is and we should be able to fix it in the next patch release.

[2015-08-04 13:38] RubavathiSrinivasan opened #5856 "MapListeners"
hi, we want to send a notification across hazelcast cluster when a new entry is added in hazelcast map.

MapListeners are not sending events across clusters.
Ex, We have 3 hazelcast nodes, node1,node2 and node3, If we add a new entry in node1 it should be notified to other nodes also(map is synchronized but we need events for our own processing). Is there any options?

Thanks

[2015-08-04 13:40] LoneRifle opened #5857 "MapExecuteOnKeyRequest should reference requester's threadId"
ClientMapProxy and MapProxyImpl differ slightly in behaviour for the following methods:
* executeOnKey
* submitToKey (2 overloads)

In MapProxyImpl, these create an EntryOperation with the threadId set. This does not happen with ClientMapProxy. MapExecuteOnKeyRequest should hence take a threadId and set this on the generated EntryOperation.

This matters when a process explicitly locks a key in a

[2015-08-04 13:41] ahmetmircik commented on #5856
Hi @RubavathiSrinivasan, can you please provide a simple test code which shows what the expected behaviour should be?

[2015-08-04 13:56] RubavathiSrinivasan commented on #5856
We have a map "servers", and we add an entry to the map using rest api .
If we call rest api on node 1 server we are updating  local DB on node1 server.
The maps on three nodes are in sync. But the local DB on other nodes are not getting updated(since the rest api on node2 and node 3 are not getting called).
We want a event which can be triggered on othere 2 nodes whenever an entry is added to the

[2015-08-04 14:00] RubavathiSrinivasan commented on #5856
If we receive events on node2 and node3 on new entry we can update the localDB of the node2 and node3 servers.

node1, node2 and node3 on on Load balancer. So any server can be called at any time. But the local DB on these servers to be in sync.

[2015-08-04 14:12] Sergey80 commented on #4398
on 3.3 all 2-5 tests are green. seems it is the most save version for now :)

[2015-08-04 14:13] ahmetmircik commented on #5856
Did you try by registering a map-listener on each node via `IMap#addEntryListener(MapListener listener, boolean includeValue)`? This way you should be notified for any event occurred on any node.

[2015-08-04 14:17] RubavathiSrinivasan commented on #5856
yes I tried, but If we add a entry on node1 , the listener is invoked on node1 itself. Actually it should be invoked on node2 and node3 .

[2015-08-04 14:40] ahmetmircik commented on #5856
It seems working. Here is my test:
[code]

[2015-08-04 15:14] bwzhang2011 commented on #5854
+1

[2015-08-05 06:56] hasancelik opened #5862 "InvocationNetworkSplitTest Failures"
new failure same as  #4779

[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/com.hazelcast$hazelcast/633/testReport/junit/com.hazelcast.spi.impl.operationservice.impl/InvocationNetworkSplitTest/testWaitingInvocations_whenNodeSplitFromCluster/

[2015-08-05 11:39] #5850 closed

[2015-08-05 11:42] serkan-ozal opened #5865 "`CacheRemoveAllOperation` doesn't send completed event in some cases"
`CacheRemoveAllOperation` doesn't send completed event
- If `CacheRecordStore` for that partition is not created yet
- If the filtered keys are empty (that partition is not owner of the any key to be removed)

The solution is sending completed event in these cases.

This failure can be reproduced by getting cache from the second node instead of first node in `BasicCacheTest::testCompletionTest`. I

[2015-08-05 13:14] RubavathiSrinivasan commented on #5856
Hi, We configured the listeners in hazelcast.xml instead of progamatic and it works fine . Thank you

[2015-08-05 13:14] #5856 closed

[2015-08-05 14:23] Serdaro commented on #5856
@ahmetmircik , does this mean MapListeners cannot be configured declaratively?

[2015-08-05 14:26] ahmetmircik commented on #5856
No @Serdaro . Map-listeners should be configurable either programmatically or declaratively, if this is not the case it is bug.

[2015-08-05 14:26] Serdaro commented on #5856
Ok, thank you.

[2015-08-05 15:16] alarv commented on #593
+1

[2015-08-06 07:10] hasancelik commented on #5299
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8-Quality-Outreach/com.hazelcast$hazelcast/143/testReport/junit/com.hazelcast.executor/CompletableFutureTest/postregisterTwoCallbacks_withFailure/

[2015-08-06 07:37] StepanMelnik commented on #81
Found that "Filter Based Web Session Replication" solution uses almost all cpu in hazelcast-3.4.5 and hazelcast-all-3.5.1 versions.

hazelcast-all-3.4.2 works better but have completely different implementation comparing with the latest version.

![high_cpu](https://cloud.githubusercontent.com/assets/3713877/9106125/2687d824-3c1e-11e5-8d77-a2aa55d02c6f.png)

Tested with jdk1.7.0_71 and jdk1.8.0_51

[2015-08-06 07:46] kobalski commented on #81
@StepanMelnik thank for reporting the issue. It is fixed with PR https://github.com/hazelcast/hazelcast/pull/5832. You can try 3.6-SNAPSHOT for now. The fix will be available in closest minor release.

[2015-08-06 07:48] mesutcelik commented on #5849
Hi @jainishshah17 ,
I am closing the issue. please feel free to reopen it if you still see the problem.

[2015-08-06 07:48] #5849 closed

[2015-08-06 07:51] mesutcelik commented on #81
@StepanMelnik ,
I think you can also try 3.5.2-SNAPSHOT. Backport PR https://github.com/hazelcast/hazelcast/pull/5834

[2015-08-06 08:44] StepanMelnik commented on #81
Seems to work better. Thanks.

[2015-08-06 09:14] StepanMelnik opened #5870 "Filter Based Web Session Replication, HZ session_id is not shown in tomcat manager due to a specific implementation"
hazelcast-all-3.5.2-SNAPSHOT version has a specific implementation to update a session id with HA prefix.

So, "<%= session.getId() %>" will return a session id like HZ0169EFFEC6FA4A76BB7061A241FA628D.

When we open tomcat manager/html/sessions, we cannot find a session with HZ prefix, because tomcat ManagerBase does not know anything about hazelcast session wrapper.

In this case not easy to unde

[2015-08-06 09:23] alarv commented on #4427
+1

[2015-08-06 09:27] StepanMelnik opened #5871 "Filter Based Web Session Replication, creates a lot of sessions in tomcat manager"
hazelcast-all-3.5.2 creates a lot of extra sessions in tomcat /manager/html/sessions while using "Filter Based Web Session Replication" solution.

Test plan:
1. use hazelcast-filter in web.xml
2) run tomcat8 on separated nodes and switch between tomcat nodes using c:\Windows\System32\drivers\etc\hosts
3) open tomcat manager/html/sessions on all nodes and check a list of sessions.

You should see e