[2015-04-27 07:36] bwzhang2011 commented on #3761
@pveentjer, any update with such issue ?

[2015-04-27 07:46] pveentjer commented on #5171
ok.. thanks.. strange... this should be a deterministic problem.

[2015-04-27 07:48] bilalyasar commented on #5171
it is deterministic because test gets random async-backup count.
and when test gets random async-backup-count which is 6, it fails. because normal backup-count is already 1 and when we sum two of them it goes to 7. (failure)

[2015-04-27 07:57] pveentjer commented on #5171
ahhhh

[2015-04-27 08:04] bilalyasar commented on #5171
yes, the solution is making [backup-count of this line] (https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/test/java/com/hazelcast/config/InvalidConfigurationTest.java#L417) to 0.

[2015-04-27 08:59] bwzhang2011 commented on #5106
@Belkacem, maybe you should adjust some jvm parameters to apply for the mancenter like -Xms -Xmx and also adjust the -Xss size according to the o.s where your app deployed. for I did deploy the mancenter in production env and I didn't encounter such problem. by the way I used the 3.4.2 version

[2015-04-27 09:20] #4414 closed

[2015-04-27 09:23] #3310 closed

[2015-04-27 09:32] Belkacem commented on #5106
@bwzhang2011 Hi,
The heap size was 2gig, and the problem happened after multiple stop/start of the cluster (not the management center) but when I restarted the management center, everything was fine.
Cheers

[2015-04-27 09:46] bwzhang2011 commented on #5106
@Belkacem, I did not try like that for I know mancenter just has a issue that hz doesn't intend to solve for it provides the way to stop the instance but not recover it(like restart) so that you've to start or stop with the shell script.

[2015-04-27 11:34] serkan-ozal opened #5180 "Backward compatibility of eviction configuration for cache is broken"
Since `CacheEvictionConfig` class renamed to `EvictionConfig` for general usage, backward compatibility is broken.

[2015-04-27 11:47] jerrinot opened #5181 "RetryableHazelcastException should be abstract"
RetryableHazelcastException is a very raw type. We shouldn't create direct instances of this exception we should always sub-class it.

Even its JavaDoc says:
[code]

[2015-04-27 11:52] jerrinot opened #5182 "Support for parametrized test"
AbstractHazelcastClassRunner should support test parameters. It's handy when you want to run  same tests with various settings. There is a workaround
[code]

but that's quite cumbersome to use.

[2015-04-27 12:33] #5171 closed

[2015-04-27 12:37] pveentjer commented on #3761
@jerrinot can you have a look at this one since you are working on query optimizations.

[2015-04-27 13:03] jerrinot commented on #3761
This looks more like a regression in a serialization.
Anyway, I'll have a look once my 3.5-related tasks are off my table.

[2015-04-27 18:38] markathomas commented on #5148
Here is the Gist link: https://gist.github.com/markathomas/7c152528cff2ae46af27

You may have to run it a couple of times but it's easy to spot the failure. When it occurs the output will look like this:
[code]
All the queries should show zero results returned.

[2015-04-27 20:07] davidsiefert opened #5186 "removeAttribute will prevent any updates by setAttribute in deferred write mode"
Some legacy code (of mine, not yours) is calling:
[code]

What happens is that since "blah" is marked for removal, at the end of the request "blah" will never be propagated to be "my new blah attribute".

[2015-04-27 20:08] davidsiefert commented on #5186
I currently have a fix for this I would like to submit.  Will push to fork later.

[2015-04-27 20:29] davidsiefert commented on #5186
@mattbague is pairing with me on the fix.

[2015-04-27 21:20] davidsiefert opened #5188 "src/test/java/com/hazelcast/wm/test/JettyWebFilterTest.java does not fail properly"
It appears that the container reuse in these 'slow' tests does not properly set up for each test.  We discovered this during writing a test for issue #5186 where reordering the test config parameters from:
[code]
to
[code]

got our test to fail properly.

[2015-04-28 02:02] davidsiefert commented on #5186
So I submitted a pull request, and the devops bot seems to have gone through a test-commit cycle.... so what happens now?

[2015-04-28 03:05] hitendrapratap commented on #1957
I am still getting the same exception and I am using 3.4.2.

com.hazelcast.nio.serialization.HazelcastSerializationException: Could not find PortableFactory for factory-id: 1

[2015-04-28 06:48] bilalyasar opened #5190 "CustomPropertiesTest.testNativeClient"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/com.hazelcast$hazelcast-hibernate3/461/testReport/junit/com.hazelcast.hibernate/CustomPropertiesTest/testNativeClient/

[2015-04-28 06:49] bilalyasar commented on #3373
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8/com.hazelcast$hazelcast-hibernate4/543/testReport/junit/com.hazelcast.hibernate/LocalRegionFactoryDefaultTest/testQuery/

[2015-04-28 06:49] bilalyasar commented on #5099
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8-Quality-Outreach/com.hazelcast$hazelcast-client-new/43/testReport/junit/com.hazelcast.client/ClientMemberAttributeTest/testChangeMemberAttributes/

[2015-04-28 06:52] bilalyasar commented on #5172
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/547/console
and nightly build goes to timeout due to this test.

[2015-04-28 07:53] bilalyasar opened #5191 "[TEST-FAILURE] MapStoreTest.testOneMemberFlush"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/com.hazelcast$hazelcast/530/testReport/junit/com.hazelcast.map.mapstore/MapStoreTest/testOneMemberFlush/

[2015-04-28 08:42] bilalyasar commented on #3834
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast/3077/testReport/junit/com.hazelcast.map/EvictionTest/testBackupExpirationDelay_preventsSweepOfEntries_onBackupPartitions/

[2015-04-28 10:40] #5062 closed

[2015-04-28 12:12] Serdaro commented on #4505
Documentation side is cleaned up. Texts for the following properties removed:
hazlecast.jmx.detailed
hazelcast.partition.migration.zip.enabled
hazelcast.system.log.enabled

I guess the next step is on the Dev team.

[2015-04-28 17:12] markathomas commented on #5148
Update: we have determined this bug is not exclusive to having the index as part of the key.  We have found that any index has the potential to cause this issue. For now, we have had to resort to removing all indexes form our system.

[2015-04-29 08:49] bilalyasar commented on #5099
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK7/com.hazelcast$hazelcast-client-new/521/testReport/junit/com.hazelcast.client/ClientMemberAttributeTest/testChangeMemberAttributes/

[2015-04-29 08:53] bilalyasar commented on #4739
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8-Quality-Outreach/com.hazelcast$hazelcast/44/testReport/junit/com.hazelcast.executor/ExecutorServiceTest/testCancellationAwareTask2/

[2015-04-29 09:03] bilalyasar commented on #4252
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-IbmJDK1.7/com.hazelcast$hazelcast/222/testReport/junit/com.hazelcast.replicatedmap/ReplicatedMapTest/testContainsValueBinaryDelay0/

[2015-04-29 10:38] #5169 closed

[2015-04-29 10:40] #4719 closed

[2015-04-29 11:29] bilalyasar commented on #5172
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/548/console
and nightly build timeout 4 times last 5 build.

[2015-04-29 11:35] resouer commented on #1323
Hi, @jjongsma , I think you should not use Hazelcast with Docker host networking, you need more advanced container framework like Kubernetes can handle Hazelcast well.

For anyone interested in this, see: https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/hazelcast

[2015-04-29 12:00] mesutcelik opened #5203 "improve test coverage of VersionCheck"
see the PR: https://github.com/hazelcast/hazelcast/pull/5177
we have no test related to VersionCheck

[2015-04-29 12:09] mesutcelik commented on #5186
closed via https://github.com/hazelcast/hazelcast/pull/5189

[2015-04-29 12:09] #5186 closed

[2015-04-29 14:16] jmiddleton commented on #2630
+1 for IAM roles. I just got this issue so I used memcached instead.

[2015-04-29 14:22] ddossot commented on #2630
@jmiddleton You could have used the code I posted above :wink: We use it in production.

[2015-04-29 14:33] jmiddleton commented on #2630
Yes, that's true. I just saw it but I will try it soon. Is there any plan to incorporate that code to hazelcast?

[2015-04-29 14:36] ddossot commented on #2630
@jmiddleton I don't think so, I think the official feature will come as part of a bigger revamp of the discovery mechanism (see: https://hazelcast.atlassian.net/wiki/display/COM/HEP+2+-+Hazelcast+Discovery+SPI )

[2015-04-29 20:45] youngm opened #5209 "IO Thread getting into state where it is never ready to write"
Hazelcast 3.4.2

This issue is the result of my analysis of this Mailing list Thread: https://groups.google.com/d/msg/hazelcast/ksUBy4bYcSc/Qz1HDWjZb90J

When running stress tests on my 10 node cluster I've found that occasionally the WriteHandler for a IO Thread can get into a state where it is never ready because the channel isn't writing anything.

The state is that WriteHandler.ready == false

[2015-04-29 20:59] Donnerbart commented on #5209
@mdogan @pveentjer Could you please have a look at this?

[2015-04-29 21:05] noctarius commented on #5209
Super nice work @youngm, thanks for you effort in digging into this :)

[2015-04-29 21:43] sancar commented on #5209
Always getting 0 from select should cause more Node communication to fail. There are 3 threads doing write. In 10 node cluster, 3 writes should be stuck after that point. It may be the case that if you wait a little bit longer after first timeout you will see a couple more timeouts in other nodes.

And thanks for investigating this much, but a reproducible test code really help us a lot, if you ca

[2015-04-29 23:09] youngm commented on #5209
@sancar Dang.  OK, I did a little more studying of the code involved.  Let me try and rephrase.  In the debugging I did above I actually set my IO threads to 16 trying stuff out which created more of a 1-1 mapping between Thread and Selector which caused me to confuse my message a bit.  So, let me try again.

The way I understand it there is a WriteHandler for each TcpIpConnection.  In my situatio

[2015-04-30 01:43] youngm commented on #5209
I cannot for the life of me figure out why this selector won't select for this SelectionKey.

sk.isWritable() == true
after it fails to select I confirmed.
selector.selectedKeys().isEmpty() == true

Why else would a selector not select on a SelectionKey waiting to write?  This is killing me!!!!

[2015-04-30 02:08] Donnerbart commented on #5209
Is it possible to share your setup with us? This would help to reproduce the issue faster, if it cannot be figured out by looking at the code only.

[2015-04-30 02:45] jl2008 opened #5210 "ReplicatedMap: keys: 0, values: 1"
As per the following email thread. No further details available at this point, I'll try to get more.

Peter Veentjer <alarmnummer@gmail.com>

It sounds like a bug to me. Because there should not be a null element; either the item should be there or it should not be. It can't be in some intermediate state.

Can you create a github ticket for it?

On Wed, Apr 29, 2015 at 6:48 PM, Jean Luc <jeanluc20

[2015-04-30 04:18] youngm commented on #5209
So, now I'm looking at this possibly being a java bug.  When invoking `Selector.select()` eventually `sun.nio.ch.EPollSelectorImpl.updateSelectedKeys()` sees that there is 1 update so when it invokes this.pollWrapper.getDescriptor(0) it gets a file descriptor different from the descriptor of the channel in the only SelectionKey in the Selector.

I think I'm in over my head on this one.  I think my

[2015-04-30 06:20] akoledzhikov opened #5211 "Changes made by interceptor do not appear in backup"
Hazelcast version : 3.2.3
I have the following setup - 2 applications, each of them running a hazelcast node, with backup count = 2. Each of them also has a hazelcast client, which is used to write some data into a distributed map. Finally, there is an interceptor attached to this map, which slightly modifies any incoming entries in its interceptPut method.

The problem is, that if I kill one of t

[2015-04-30 06:21] akoledzhikov commented on #5211
And this is my current workaround - http://pastebin.com/iSJyQsPK

[2015-04-30 07:57] serkan-ozal commented on #3373
Hi, last two days, I was working on this issue. As I remember this issue is occurred since I have joined Hazelcast.

At first, I thought that the issue is only about same timestamp values at sequential calls. Yes this is one of the problems but it is not the only problem since sleeping between calls with `sleepAtLeastSeconds` doesn't solve the problem.

The another problem is that replacing invali

[2015-04-30 08:30] mesutcelik commented on #3834
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OracleJDK8/220/com.hazelcast$hazelcast/testReport/com.hazelcast.map/EvictionTest/testBackupExpirationDelay_preventsSweepOfEntries_onBackupPartitions/

[2015-04-30 08:31] mesutcelik commented on #4876
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/3089/testReport/

[2015-04-30 08:39] mesutcelik opened #5212 "[TEST-FAILURE] ClientMapNearCacheTest Failures"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-sonar/changes
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/3090/console
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/3091/testReport/
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.7/538/

[2015-04-30 08:42] mesutcelik commented on #4876
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK7-Quality-Outreach/45/com.hazelcast$hazelcast/testReport/com.hazelcast.cluster/MulticastJoinTest/test/

[2015-04-30 08:43] mesutcelik commented on #5172
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/549/console

[2015-04-30 11:35] serkan-ozal commented on #5105
should be fixed via https://github.com/hazelcast/hazelcast/commit/5ce068887fea87587207a86de8baa062cf8514ac

[2015-04-30 11:35] #5105 closed

[2015-04-30 12:06] #5180 closed

[2015-04-30 12:10] serkan-ozal opened #5215 "Remove "NearCacheConfig" from "CacheConfig""
Since near-cache is not supported as embedded but only at client, at the moment, there is no need `NearCacheConfig` in `CacheConfig`.

[2015-04-30 14:39] serkan-ozal commented on #5102
should be fixed via https://github.com/hazelcast/hazelcast/commit/efac8ede4b94e0abe5ace5926a69494f2ead1ad9

[2015-04-30 23:37] fridlyos commented on #5021
Hello... Having a similar issues on a cluster with 3 instances.  Can't find the root cause.  One of the instances started acting up - hazelcast is pretty much the only activity there, and it's running at 80-90% cpu.  Have you been able to resolve the issue?  Any suggestions?

Would appreciate any help in this...

Thanks...

[2015-05-01 01:40] bilalyasar commented on #5099
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK7-Quality-Outreach/com.hazelcast$hazelcast-client-new/46/testReport/junit/com.hazelcast.client/ClientMemberAttributeTest/testChangeMemberAttributes/

[2015-05-01 01:41] bilalyasar commented on #5212
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK6/520/

[2015-05-01 01:41] bilalyasar commented on #5212
timeout: https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8/546/console

[2015-05-01 01:44] bilalyasar opened #5218 "[TEST-FAILURE] SlowOperationDetector_purgeTest.testPurging_Invocation"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-sonar/com.hazelcast$hazelcast/607/testReport/junit/com.hazelcast.spi.impl.operationexecutor.slowoperationdetector/SlowOperationDetector_purgeTest/testPurging_Invocation/

[2015-05-01 01:44] bilalyasar commented on #5099
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK9-Quality-Outreach/com.hazelcast$hazelcast-client-new/51/testReport/junit/com.hazelcast.client/ClientMemberAttributeTest/testChangeMemberAttributes/

[2015-05-01 01:45] bilalyasar commented on #4739
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK8/com.hazelcast$hazelcast/418/testReport/junit/com.hazelcast.executor/ExecutorServiceTest/testCancellationAwareTask2/

[2015-05-01 01:45] bilalyasar commented on #4517
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast/3095/testReport/junit/com.hazelcast.map.query/QueryIndexMigrationTest/testQueryWithIndexDuringJoin/

[2015-05-01 01:47] bilalyasar commented on #3373
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast-hibernate4/3095/testReport/junit/com.hazelcast.hibernate/LocalRegionFactoryDefaultTest/testQuery/

[2015-05-01 08:19] serkan-ozal commented on #5215
closed via https://github.com/hazelcast/hazelcast/pull/5216

[2015-05-01 08:19] #5215 closed

[2015-05-01 09:59] bilalyasar commented on #5172
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/550/console 6 timeout last 7 days.

[2015-05-01 10:01] bilalyasar opened #5219 "[TEST-FAILURE] collections.ClientListTest timeout"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/533/console

[2015-05-01 10:03] bilalyasar commented on #5212
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK1.7/100/console

[2015-05-01 10:03] bilalyasar commented on #5212
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/3096/

[2015-05-01 13:11] bwzhang2011 commented on #4233
@mdogan, any update with such issue? provide some enhancement officially.

[2015-05-01 15:35] purplefox opened #5220 "Multimap becomes inconsistent when remove before shutdown"
Hello folks,

We're experiencing a rather serious issue in Vert.x which results in inconsistent/corrupt multimap entries in the hazelcast cluster.

I have managed to reproduce this using pure Hazelcast APIs (no Vert.x involved).

Reproducer is here https://github.com/purplefox/hz-bug

The README contains a full explanation and instructions for reproducing.

There is also a thread from the Vert.x g

[2015-05-01 15:44] gurbuzali commented on #5220
thank you for the detailed bug report, we'll take a look at it

[2015-05-01 16:37] gurbuzali commented on #5220
Are you sure that all `remove` calls return true ?
because in my tests I've checked and counted `false` returns and it was equal to the remaining entry count
(node1: 21, node2: 31, node3: 0, node4: 0, remaining entries: 52)

[2015-05-01 16:48] purplefox commented on #5220
Yes, you're right - sometimes the remove fails.

However, why should the remove fail? It's just removing exactly the same key, value that it previously put in the map, and no other node has removed it.

[2015-05-01 16:58] gurbuzali commented on #5220
if you shutdown more than 1 node concurrently, operations (in this case remove operation) may get timeout due to migration. but in that case we should've seen some timeout exceptions I guess.
That's another issue I will look in more detail, let's confirm that remaining entry count is equal to "not removed entry count". Do you see a case which these do not match ? if so we will have 2 different iss

[2015-05-01 17:05] serkan-ozal commented on #3792
Hi @enflout,

Sorry for late response. I was very busy for 3.5-EA release. I haven't looked at the issue detailed and not tried to reproduce the issue yet. But I will take it before 3.5 release and will inform you from here.

Regards.

[2015-05-01 17:16] purplefox commented on #5220
I think the issue here is that it's failing to remove entries which are clearly in the map.

IMHO it's a fundamental characteristic of any clustered/distributed map solution that the map should remain consistent when nodes are shutdown as long as there is at least one node in the cluster.

If a node shuts down and owns certain keys I'd expect that it must ensure those keys are migrated safely to a

[2015-05-01 17:30] gurbuzali commented on #5220
I'm not saying anything against your argument, I'm just trying to pinpoint the issue here.
Do you confirm that the number of "false returns" is equal to remaining entries ?

[2015-05-01 17:39] serkan-ozal commented on #4943
Hi @snicoll,

As a result, as far as I understand, more informative error message is sufficient for this issue like this:

[code]

What do you think?

[2015-05-01 17:44] snicoll commented on #4943
Sounds good. Thanks!

[2015-05-01 18:35] purplefox commented on #5220
Ah ok :)

I thought that your statement "may get timeout due to migration" implied that this was to be expected, and I assume this would leave the cluster in an inconsistent state, which clearly would be a major issue - users can shutdown nodes at any time and that's not something we can control.

I don't know if the number of false returns is equal to the number of remaining entries, but that cou

[2015-05-01 18:54] purplefox commented on #5220
Btw.. thanks for looking at this so quickly, it's much appreciated :)

[2015-05-01 18:56] serkan-ozal commented on #4844
Hi @snicoll,

As far as I understood, you say that no need to recompute cache names at each `getCache(name)` call by iterating over IMap instances on Hazelcast instance for getting cache names.
Create an initial cache names set at creation of `HazelcastCacheManager` and add each created cache at call of `getCache(name)` method to this private cache names set.

Did I get it right?

Thanks.

[2015-05-02 06:46] bwzhang2011 opened #5222 "TransactionalQueue should add addAll support."
compared with IQueue, TransactionalQueue should add addAll method support just out of the sake for batch data transaction commit.

[2015-05-02 06:48] bwzhang2011 commented on #5222
Sometimes, we use the IQueue interface as the default one but for transaction we use TransactionalQueue and we could make some innovation way to make it work together.

[2015-05-02 07:50] bwzhang2011 commented on #5222
please take a look at issue: https://github.com/hazelcast/hazelcast/issues/4233. currently, we faced up with batch message with transactionQueue processing, hope such could be added officially.
@mdogan, would you mind sparing some time to take a look at? just some improvement but very helpful

[2015-05-02 08:21] noctarius commented on #5222
Write a proposal and add it yourself using the Hazelcast Incubator (https://hazelcast.atlassian.net/wiki/display/COM/Hazelcast+Enhancement+Proposals). This is a fairly easy addition and would be a nice and small feature :)

[2015-05-02 09:02] bwzhang2011 commented on #5222
@noctarius, thanks for review with such suggestion. I will try to handle such proposal these days.

[2015-05-02 16:18] pveentjer commented on #4233
There are some IQueue performance improvements planned for 3.6. Batching is a very simple way to improve performance.

The ITopic has already a publishAll in my reliable topic branch. The regular eventing system, because it doesn't make use of backups, is of very high speed. Adding a publishAll is not going to make any difference. But the new reliable topic is slower due to the backup. That is why

[2015-05-02 23:42] bilalyasar commented on #5212
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/3100/console

[2015-05-02 23:42] bilalyasar commented on #5172
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/551/ 7/8 timeout

[2015-05-02 23:44] bilalyasar opened #5224 "[TEST-FAILURE] semaphore.ClientSemaphoreTest timeout"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/534/console

[2015-05-02 23:44] bilalyasar commented on #5212
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast-client-new/3105/testReport/junit/com.hazelcast.client.map/ClientMapNearCacheTest/testGetAsyncPopulatesNearCache/

[2015-05-02 23:45] bilalyasar commented on #3373
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast-hibernate4/3104/testReport/junit/com.hazelcast.hibernate/LocalRegionFactoryDefaultTest/testQuery/

[2015-05-02 23:46] bilalyasar commented on #5212
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8-Quality-Outreach/com.hazelcast$hazelcast-client-new/48/testReport/junit/com.hazelcast.client.map/ClientMapNearCacheTest/testGetAsyncPopulatesNearCache/

[2015-05-02 23:46] bilalyasar commented on #4915
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8-Quality-Outreach/com.hazelcast$hazelcast/47/testReport/junit/com.hazelcast.executor/SingleNodeTest/cancelWhileQueued/

[2015-05-02 23:48] bilalyasar commented on #4739
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK8/com.hazelcast$hazelcast/420/testReport/junit/com.hazelcast.executor/ExecutorServiceTest/testCancellationAwareTask2/

[2015-05-02 23:48] bilalyasar commented on #3739
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK9-Quality-Outreach/com.hazelcast$hazelcast/53/testReport/junit/com.hazelcast.executor/ExecutorServiceTest/testSubmitToMemberCallable/

[2015-05-03 09:41] serkan-ozal commented on #3752
The better solution should be like `URI uri = new URI(URLEncoder.encode(url.toString(), "UTF-8"));` instead of `URI uri = new URI(url.toString().replace(" ", "%20"));`

[2015-05-03 12:56] serkan-ozal commented on #3373
I think, adding

[code]
to ```TimestampsRegionCache``` in **Hibernate-3** ("https://github.com/hazelcast/hazelcast/blob/master/hazelcast-hibernate/hazelcast-hibernate3/src/main/java/com/hazelcast/hibernate/local/TimestampsRegionCache.java#L43") and **Hibernate-4** (https://github.com/hazelcast/hazelcast/blob/master/hazelcast-hibernate/hazelcast-hibernate4/src/main/java/com/hazelcast/hibernate/loca

[2015-05-03 21:26] hasancelik opened #5225 "PutTransient actuated the MapStore unexpectedly in multiple instances environment."
I encountered this bug on 3.5-SNAPSHOT. I tried 3.4 and 3.4.2.
Here's an test:

[code]

[2015-05-04 00:37] bilalyasar commented on #5212
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/3110/com.hazelcast$hazelcast-client-new/testReport/com.hazelcast.client.map/ClientMapNearCacheTest/testGetAsyncPopulatesNearCache/

[2015-05-04 00:37] bilalyasar commented on #5056
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast/3109/testReport/junit/com.hazelcast.mapreduce/MapReduceTest/testMapperReducer/

[2015-05-04 00:39] bilalyasar commented on #4876
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8/com.hazelcast$hazelcast/549/testReport/junit/com.hazelcast.cluster/MulticastJoinTest/test_whenInterfacesEnabled/

[2015-05-04 00:40] bilalyasar commented on #5212
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-sonar/610/

[2015-05-04 02:22] bwzhang2011 commented on #4233
@pveentjer, thanks for view and feed back. from your words, the topic operated like the JMS while it enables the persistence for reliable way. maybe a better idea is to incorporate those together once the user enable reliable way it will invoke reliable topic or else it use the pure one.batching is the main way to improve performance as we need to transfer a group of messages between our projects.

[2015-05-04 02:25] bwzhang2011 commented on #5220
@purplefox, thanks for such issue. I wonder such was some actual bug need to be fixed or some that would exist under some circumstance that we need pay attention to be prevented from.

[2015-05-04 06:34] pveentjer commented on #4233
For the time being, due to time constraints, I have dropped the publishAll from the reliable topic. We need to release EA this week and I don't have time to fully test this feature in the next few days.

I fully understand the need for it; the performance improvements can be huge.

A transactional topic is not on the radar btw. We have a HEP process where users can suggest an improvement.

[2015-05-04 06:39] bilalyasar commented on #5212
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK7/526/

[2015-05-04 06:40] bilalyasar opened #5226 "[TEST-FAILURE] MapPartitionLostListenerStressTest.test_mapPartitionLostListenerInvoked_when2NodesCrashed_withData"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/553/testReport/junit/com.hazelcast.map/MapPartitionLostListenerStressTest/test_mapPartitionLostListenerInvoked_when2NodesCrashed_withData/

[2015-05-04 06:42] bilalyasar opened #5227 "[TEST-FAILURE] queue.ClientQueueTest timeout"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/536/console

[2015-05-04 07:16] pveentjer commented on #5209
Did you manage to get it reproducible? As soon as we have released Hazelcast 3.5-EA we'll be focussing on this issue and reproducing suchs problems is often half the battle.

[2015-05-04 07:40] #3373 closed

[2015-05-04 07:44] kobalski commented on #3373
@serkan-ozal I applied your fixes. I also tested your fix on aws with large machine with 1000 repeats, it seems to fix the issue. Also, I agree with you that a member should not act events triggered locally. This fix should also improve performance in our L2 cache.

[2015-05-04 08:01] serkan-ozal commented on #4844
Hi @snicoll
I am closing this ticket now since Hazelcast handles cache as lazy and no need to static cache definition.

Please feel free to reopen this issue if you see another problem.

Regards.

[2015-05-04 08:01] #4844 closed

[2015-05-04 08:02] serkan-ozal commented on #4849
Hi @cherednichenko ,

I can't understand the problem in this issue. What should I do for this issue?

[2015-05-04 08:19] Donnerbart commented on #5173
Should be fixed via https://github.com/hazelcast/hazelcast/pull/5197

[2015-05-04 08:31] serkan-ozal commented on #4943
closed via https://github.com/hazelcast/hazelcast/commit/6d7d1640a68ef9d1433234d2a0ad8443ec25aa7d

[2015-05-04 08:31] #4943 closed

[2015-05-04 08:46] #4915 closed

[2015-05-04 09:42] Donnerbart commented on #5218
I didn't change the purging tests in the last PR where I fixed all other failing tests, since they didn't fail yet. So I most probably have to do the same tweaks for these tests, too. I'll have a look ASAP.

[2015-05-04 10:09] gurbuzali opened #5229 "New Client GetAsync Fails with a NegativeArraySizeException"
[code]

[2015-05-04 11:02] gurbuzali commented on #5229
[code]

[2015-05-04 11:15] Donnerbart opened #5230 "Unbounded return values tests run forever with new client"
There are some exceptions when I run one of the new tests for the "unbounded return values" feature with the new client.

The first exceptions are some `ConnectException`:
[code]

There is a debug stack trace before that, but maybe this is unrelated:
[code]

This is how I run the test:
[code]

Same happens with the `ClientMapUnboundReturnValues_BasicTest`.

[2015-05-04 11:20] Donnerbart commented on #5230
This exception is followed by some `ConnectException`, but I think those are caused by the exception above.

[code]

[2015-05-04 11:20] Donnerbart commented on #5230
Here is the full log: [com.hazelcast.client.map.ClientMapUnboundReturnValues_TxnTest-output.txt](https://files.zenhub.io/554755f8d40187b7722f8f54)

[2015-05-04 11:23] jerrinot commented on #5230
please note it's a DEBUG message. I'm not 100% sure but I believe it's not a problem at all. StringCreator is just looking for the fastest way to construct Strings - available options depends on the exact JVM version.

[code]

[2015-05-04 11:26] Donnerbart commented on #5230
Hmm, that's a good point. Nevertheless the test doesn't finish but seems to run forever. The full log is already attached. Maybe we need another place to catch the exception properly, I'm trying to understand that part of the new requests right now.

[2015-05-04 11:36] Donnerbart commented on #5230
I just see that mostly all of the `QueryResultLimitExceeded` exceptions are thrown by the `QueryPartitionOperation`:
[code]

So maybe the test runs forever since we don't catch the exception of a `QueryOperation` before that and execute the whole operation again for all partitions. This may result in a very long runtime and eventually the timeout.

[2015-05-04 12:12] jerrinot commented on #5230
[code]

Can you elaborate it?

[2015-05-04 12:37] mesutcelik commented on #5097
no recent failure. closing.

[2015-05-04 12:37] #5097 closed

[2015-05-04 12:38] mesutcelik commented on #5028
no recent failure. closing.

[2015-05-04 12:38] #5028 closed

[2015-05-04 12:47] Donnerbart commented on #5230
I think the catch is at least missing in `AbstractMapQueryMessageTask.call()`.

[code]
I'm trying to figure out if there are any other missing code parts at the moment. Tests are still failing.

I'm getting another exception type on the basic tests:
[code]

[2015-05-04 12:57] Donnerbart commented on #5230
`NoSuchMethodException` exception has been fixed locally, by adding the missing constructor to the `QueryResultSizeExceededException`.

I still have the feeling (since I didn't find the matching code yet) that the exception is not thrown to the test, but the operation is executed again or something like that.

[2015-05-04 13:09] cherednichenko commented on #4849
@serkan-ozal just run that Simulator test - that's it. :)

[2015-05-04 13:19] gurbuzali commented on #5229
I've ignored the `ClientMapNearCacheTest.testGetAsyncPupulatesNearCache` https://github.com/hazelcast/hazelcast/commit/467824b
should be re-opened after fixing this issue

[2015-05-04 13:53] bilalyasar commented on #5212
test ignored see: #5229
https://github.com/hazelcast/hazelcast/commit/467824b

[2015-05-04 15:29] #5230 closed

[2015-05-04 16:48] youngm commented on #5209
@pveentjer Thanks for checking in on me.  I'm still trying to get something that can be fairly easily reproduced outside of my test environment.  I'll update the issue if I discover anything new.

[2015-05-04 16:53] Donnerbart commented on #5130
With the new client it is even worse. I used the same test code (see gist link in the description) and the test crashes with a `TargetDisconnectedException` at just 2000 entries!
[code]

This easily explains the problems I have with the unbounded return values tests:
https://github.com/hazelcast/hazelcast/issues/5172
https://github.com/hazelcast/hazelcast/pull/5231

[2015-05-04 17:11] Donnerbart commented on #5130
I just removed the `entrySet()` calls to see how the performance of the `values() and keySet()` methods are. And the test get's stuck without any exception shortly over 2500 map entries:
[code]
There seems to be a major issue in those methods. This easily explains the problems I have with the unbounded return values tests (#5172 and #5231).

Just to be sure that I didn't mess up anything with my o

[2015-05-04 17:56] Donnerbart commented on #5130
Summary:

**Old client:** The `IMap.entySet()` method seems to have a O(n²) complexity. Also `IMap.entrySet(predicate)` has a non-ideal runtime with higher n. Beside that the performance of the query methods (`IMap.values(predicate)`, `IMap.keySet(predicate)`) and non-query methods (`IMap.values()`, `IMap.keySet()`) seem to be okay.

**New client:** All methods crash between 2000 and 2500 entries

[2015-05-04 18:10] serkan-ozal commented on #4775
Hi @smillidge
Sorry for late response. I have not tried to reproduce the issue yet but could you try also by setting TCCL to application classloader (`getClass().getClassLoader()`) instead of `HazelcastInstance.class.getClassLoader()` like this:

[code]

Regards.

[2015-05-04 19:27] Donnerbart commented on #5130
`ClientMapBasicTest.testValues_withPredicate()` works fine even with 1,00,0000 entries in the map. So I assume the problem is not the map size (or iterating over a huge map), but the size of the response.

This would explain why a `IMap.values()` or `IMap.values(TruePredicate.INSTANCE)` fails, but the `IMap.values(new SQLPreciate(...))` with a single return value works.

[2015-05-04 23:48] snicoll commented on #4844
Sorry for the late reply. Yes, your description is how `AbstractCacheManager` works. However, you may have customers relying on the current behaviour (seeing caches as they are being added to the underlying `HazelcastInstance`) so it may be a better idea to leave it like that. My primary concern was performance but I am not sure we should call this method a lot (we don't!). Thanks for the support!

[2015-05-05 01:25] AlexThurston commented on #5220
This was an actual bug encountered by myself when trying to use Vertx which in turn uses Hazelcast that effectively rendered our clustered system to be non-functional.

Others have noted similar behaviour.

[2015-05-05 06:00] serkan-ozal commented on #4849
I think the problem is about somehow `basename` property is not binded (maybe because of simulator test configuration issue) to test case. Especially this error `java.lang.IllegalStateException: Sum of operation probabilities should be exactly 1.0, but is 0.000000` supports my thoughts about this issue. So at the moment, I don't think the issue is about our JCache implementation.

[2015-05-05 06:10] serkan-ozal commented on #4905
@noctarius @wildnez
Guys, Is it enough mentioning `ClientConfig` example in our documentation? WDYT?

[2015-05-05 07:24] bilalyasar commented on #5172
@Donnerbart https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/554/console

[2015-05-05 08:32] Donnerbart commented on #5172
PR with a fix is pending since yesterday late afternoon.

[2015-05-05 11:47] serkan-ozal commented on #4660
fixed via https://github.com/hazelcast/hazelcast/commit/99f31ad15ab271a744bd4323cd2d1979c85e5e6e

[2015-05-05 11:47] #4660 closed

[2015-05-05 13:02] bilalyasar opened #5236 "BasicMapTest.testMapEvictAndListener"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-IbmJDK1.7/com.hazelcast$hazelcast/228/testReport/junit/com.hazelcast.map/BasicMapTest/testMapEvictAndListener/

[2015-05-05 16:29] haixiliu opened #5242 "Hazelcast WebFilter locahCache stale when deferredWrite=true"
This bug is reported on 3.4.2.

During our upgrade from 1.9.4.3 to 3.4.2, I ran into inconsistency when using Hazelcast WebFilter to cluster http session across multiple nodes in a cluster. So I have done the following to look for the issue:

1. I ran my webapp with hazelcast embedded, with WebFilter enabled. Therefore it's a single node cluster.
2. I access the webapp via browser, to trigger Haze

[2015-05-05 19:54] #5129 closed

[2015-05-05 23:23] AlexThurston commented on #5220
Is there any movement/decision on this issue?  Just trying to plan and mitigate accordingly.

[2015-05-06 04:54] cszmajda commented on #3544
A PR for this functionality (with a few details slightly different from the above description) has been submitted as https://github.com/hazelcast/hazelcast/pull/4098.

[2015-05-06 07:27] purplefox commented on #5220
+1 This is very important for our users. If there is any sensible workaround that can be implemented before a full solution is provided, that would be useful too :)

[2015-05-06 07:36] mesutcelik commented on #4892
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/538/console

[2015-05-06 07:39] mesutcelik commented on #5212
Some other tests in the same Test class still failing.

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK8/423/testReport/
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK9-Quality-Outreach/56/console

[2015-05-06 07:54] noctarius commented on #4905
Well since we currently can't set a clients name upfront I guess this is ok, any idea what else you want to add?

[2015-05-06 08:34] mesutcelik commented on #5242
Session might be expired while you are doing your test. Can you increase session expire time and try again?

[2015-05-06 10:22] haixiliu commented on #5242
@mesutcelik , Can you explain a bit more about session expiration in this case? I don't think it has a role in my test. My webapp has session timeout set at 1 hour, and I don't see it expired during my test. (Otherwise I will see sessionDestroyed() being invoked). Thanks. - Haixi

[2015-05-06 10:26] sancar commented on #5212
I ignored the whole class for now. I will look into this as soon as possible.

[2015-05-06 11:18] serkan-ozal commented on #4905
@noctarius So I think, adding your sample code to `Named Instance Scope` section is enough. If it is OK, I will add them to document after talking with @Serdaro

[2015-05-06 12:50] serkan-ozal commented on #4905
closed by https://github.com/hazelcast/hazelcast/commit/db009b5422733e9a7a4d5bb2f4fbc0831f92f1b3

[2015-05-06 12:50] #4905 closed

[2015-05-06 12:53] ajermakovics commented on #5220
One workaround is to use an IMap instead of a MultiMap. I ran a [modified test](https://github.com/ajermakovics/hz-bug/commit/8512237c314a9692ae13331dfbb8f3959c4321aa) and all the removes succeeded. Currently the IMap implementation is more mature than the MultiMap.

Of course IMap doesn't support multiple values per key but you could use multiple maps. If the names of these IMaps share a common p

[2015-05-06 12:58] purplefox commented on #5220
Thanks @ajermakovics for that observation.

Perhaps it will provide a clue to the Hazelcast team about where the bug is...

[2015-05-06 13:34] mesutcelik commented on #3922
I am closing this one. Better solution will be provided in future releases.

[2015-05-06 13:34] #3922 closed

[2015-05-06 14:34] ahmetmircik opened #5251 "JCache declarative eviction config is counter intuitive when EvictionPolicy is set to NONE"
If i set it to `NONE` via `<eviction eviction-policy="NONE"/>`, it gives
`java.lang.IllegalArgumentException: Eviction policy cannot be "NONE" `.

It seems counter intuitive, expecting no exception when i set it to `NONE`.

[2015-05-06 16:22] youngm opened #5253 "Heartbeat only removes a member if it is related to the master node"
Is posted this on the mailing list but I got impatient and decided to create an issue: https://groups.google.com/d/msg/hazelcast/WiA1xOYf-ys/ZAlytzRAGyoJ

While investigating https://github.com/hazelcast/hazelcast/issues/5209 I was curious why the hearbeat doesn't repair the channel that stops working.

Although I don't have a test case (since it is hard to duplicate simply) when looking through t

[2015-05-06 16:30] dalgibbard commented on #370
Came across this 'bug' whilst trying to deploy OrientDB (interestingly, in place of our current CouchDB ;-D ) - I'm doing roughly the same thing as the Op, except with tcp-ip in place of multicast. I'm essentially trying to build out three individual global clusters (for this example, consisting of 5 nodes each), and then replicate bi-directionally between each cluster (using wan-replication). The

[2015-05-06 18:36] serkan-ozal commented on #3792
Hi @enflout @dschmitz

* Does this error occur with the latest Hazelcast release **3.4.2** ?

* Do you specify config classloader in `com.hazelcast.config.Config` while creating instance ?

* Do you set TCCL before creating instance ?

* Is it possible sharing `com.here.phoenix.hazelcast.HazelcastActivator` code ?

* Can you try this case by setting TCCL to application classloader as
[code]

* Can

[2015-05-07 04:57] bwzhang2011 commented on #5130
@Donnerbart, did you communicate with @sancar  about this ? as the new client is about to released together with hz3.5 E.A

[2015-05-07 05:16] pveentjer commented on #5130
We'll include the old client.

[2015-05-07 05:25] bwzhang2011 commented on #5130
@pveentjer, thanks for review. hope such could be resolved.

[2015-05-07 05:29] pveentjer commented on #5209
Could you try using this branch:

https://github.com/hazelcast/hazelcast/pull/5196

And add the following system properties:

-Dhazelcast.performance.monitoring.enabled=true -Dhazelcast.performance.monitor.delay.seconds=10

This will dump the new metrics; with a ton of stats regarding the io system. I have added a lot of these metrics just to deal with IO problems like this.

[2015-05-07 06:10] serkan-ozal commented on #4978
Hi @snicoll

There are some ways to set specific `HazelcastInstance` to requested `HazelcastCacheManager`

* You can create your `HazelcastInstance` and can specify it to be used in cache manager with its name as mentinoned here https://github.com/hazelcast/hazelcast/blob/master/hazelcast-documentation/src/JCache-ICache.md#named-instance-scope

* You can create a `CachingProvider` binded to specif

[2015-05-07 07:04] Danny-Hazelcast commented on #4849
This issue I caused by,  not defining a basename  in the test.properties file when running this test.
in the source code of the  EvictionICacheTest   we can see  basename is null by default.  which means this test must define a basename in the test.properties file.

over the past few days,  while looking into a different issue  i have run these  EvictionICacheTest ' s

icacheMaxSmall@class=com.haz

[2015-05-07 07:04] #4849 closed

[2015-05-07 07:08] Danny-Hazelcast commented on #4849
also you can check the default hazelcast xml file for simulator, you will find   cache's with the names

maxCachSmall1
maxCachMediume1
maxCachLarge1

defined with specific properties,  running this test on a map which dose not have a max size police defined, is not very meaning ful

[2015-05-07 07:40] snicoll commented on #4978
Sorry, I just realized that I made a typo. I asked to "access" the underlying `HazelcastInstance` so I should have wrote _getter_ and not _setter_. Sorry about that!

To be clear, the use case is that once you have a Spring's `CacheManager` instance, you have no way to access the underlying `HazelcastInstance` it's wrapping so something like the following would work for me

[code]

[2015-05-07 07:58] serkan-ozal commented on #4978
@snicoll ok, I will add a getter `public HazelcastInstance getHazelcastInstance()` method and you will able to access underlying instance over `HazelcastCacheManager` interface (means that will be supported by both of `HazelcastClientCacheManager` and `HazelcastServerCacheManager`)

[2015-05-07 07:59] noctarius commented on #4978
If you know the name of the instance or you just have one you can use Hazelcast class to retrieve it by name or just retrieve the single instance itself.

[2015-05-07 08:03] snicoll commented on #4978
the use case is that you have Spring's CacheManager and you have no idea what's being configured underneath but for some reason you need to access the cache-library specific API.

[2015-05-07 08:09] serkan-ozal commented on #4978
closed via https://github.com/hazelcast/hazelcast/commit/43092ce22e696c9612a1dd2667f87da59c5418a7

[2015-05-07 08:09] #4978 closed

[2015-05-07 10:08] bilalyasar commented on #4252
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-IbmJDK1.6/226/

[2015-05-07 10:09] bilalyasar opened #5256 "[TEST-FAILURE] ReliableTopicBasicLocalTest.testAlwaysStartAfterTail"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK1.7/com.hazelcast$hazelcast/106/testReport/junit/com.hazelcast.topic.impl.reliable/ReliableTopicBasicLocalTest/testAlwaysStartAfterTail/

[2015-05-07 10:10] bilalyasar opened #5257 "MapLoaderFailoverTest.testLoadsAll_whenInitialLoaderNodeRemovedWhileLoading"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK1.6/com.hazelcast$hazelcast/531/testReport/junit/com.hazelcast.map.mapstore/MapLoaderFailoverTest/testLoadsAll_whenInitialLoaderNodeRemovedWhileLoading/

[2015-05-07 10:11] bilalyasar commented on #5257
it is map loader failover test, updated title.

[2015-05-07 10:12] bilalyasar commented on #5227
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/539/console

[2015-05-07 10:13] bilalyasar opened #5258 "[TEST-FAILURE] writebehind.WriteBehindOnBackupsTest"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/557/console

[2015-05-07 10:14] Donnerbart commented on #5172
The timeout issue has been resolved. The tests with `withoutException` are still failing, due to problems with the new client. Those should go green without any modifications as soon as the new client is fixed.

[2015-05-07 10:14] bilalyasar commented on #5258
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-sonar/613/console

[2015-05-07 12:34] sertugkaya opened #5260 "XA Transactions throwing TransactionException instead of an XAException on timeout"
When using XA Transactions in Hazelcast 3.4;
Do some transactional operation, sleep until timeout (or possibly changing timeout value to a small value) and then call commit on `XAResource` and let it timeout.
Eventually Hazelcast is throwing a `TransactionException` instead of an `XAException` with code `XAException.XA_RBTIMEOUT`.

[2015-05-07 12:59] atschofen opened #5261 "ILock acquired although lock() throws OperationTimeoutException"
Hi,

we encountered an issue where calling the lock method on an ILock threw an OperationTimeoutException but the lock was still acquired, which is bad because the usual locking idiom is not correct:

[code]

It seems that this can happen in Hazelcast 3.3 if a lock operation is queued on the callee side, but not executed for 2*operation timeout. We don't know yet what caused this delay (many opera

[2015-05-07 15:49] youngm commented on #5209
@pveentjer will do.  Plus I think I understand the problem well enough to put together a way for your QA to reproduce this given 10 or so VMs.  I'll hopefully get something uploaded in the next week or so.  In my test case build I'll include this version of hazelcast.

[2015-05-07 18:04] silvano-lohn opened #5265 "Hazelcast - AtomicReference.alterAndGet is throwning HazelcastSerializationException"
Hi,

I'm running three Hazelcast nodes on the same machine, each node tries to change an AtomicReference. The first and second node are running without problems, the third node is throwning HazelcastSerializationException.

Three nodes with the same Hazelcast version: Hazelcast 3.4.2 (20150326 - f6349a4)

Anyone know what's going on?

<pre>
Exception in thread "main" com.hazelcast.nio.serializatio

[2015-05-07 18:18] thiago-negri commented on #5265
+1 Reproduced. Here it happens when the second node starts. :(

[2015-05-07 18:29] noctarius commented on #5265
Ok found the problem, for 3.5 the bug was fixed while bringing up the test coverage (https://github.com/hazelcast/hazelcast/commit/f93b123f67ebe82499e163a3b0a5aee2ef27d7e4) but was forgot to backport for 3.4.

[2015-05-07 20:19] eminn commented on #4876
I am closing this issue since this is related to a network isolation problem which is fixed by CloudBees.

[2015-05-07 20:19] #4876 closed

[2015-05-07 20:20] eminn commented on #4976
I am closing this issue since this is related to a network isolation problem which is fixed by CloudBees.

[2015-05-07 20:20] #4976 closed

[2015-05-08 07:17] #5265 closed

[2015-05-08 08:39] jensenmo commented on #5220
+1 from us; we just had the issue in production again yesterday - only known workaround is to bounce the whole vert.x/hazelcast cluster, which causes an outage

[2015-05-08 09:13] alparslanavci opened #5268 "HazelcastInstance injection into MapStoreFactory"
One of our customers requested to access HazelcastInstance inside `MapStoreFactory.newMapStore(mapName, properties)`. This is needed since a map in the cluster keeps information for creating the related MapStore.

[2015-05-08 13:11] mdogan opened #5271 "[TEST FAILURE] ReliableTopicBasicLocalTest.publishMultiple"
[code]

See
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-pr-builder/com.hazelcast$hazelcast/13501/testReport/junit/com.hazelcast.topic.impl.reliable/ReliableTopicBasicLocalTest/publishMultiple/

[2015-05-08 13:24] mdogan commented on #5271
Similar to https://github.com/hazelcast/hazelcast/issues/5256

[2015-05-08 14:01] #5256 closed

[2015-05-08 14:03] #5271 closed

[2015-05-08 14:39] markathomas commented on #4206
How does one do this?  The referenced issue with a commit simply ignores some unit tests so I fail to see how this particular issue is resolved.  Is there a commit associated with this issue?

[2015-05-08 15:11] #5229 closed

[2015-05-08 16:46] youngm opened #5272 "Wrong documented default for property hazelcast.max.no.heartbeat.seconds"
The documentation [0] lists 500 seconds.  The source code [1] appears to specify 300 seconds.

[0] http://docs.hazelcast.org/docs/3.4/manual/html-single/hazelcast-documentation.html#system-property

[1] https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/instance/GroupProperties.java#L607

[2015-05-08 17:15] #5272 closed

[2015-05-08 17:15] Serdaro commented on #5272
Updated. Thanks for the report.

[2015-05-08 18:04] juanavelez opened #5273 "XA Example from section 11.3.5 Sample JBoss AS 7 / EAP 6 Web Application Configuration broken after latest 3.5 XA Improvements committed (#5160)"
I am testing the latest build (3.5-EA2-SNAPSHOT) in a JBoss EAP 6.4.0 environment using the JCA-RA and Container-Managed Transactions and the example given by the reference documentation (section 11.3.5 Sample JBoss AS 7 / EAP 6 Web Application Configuration)  is broken.
[code]

It seems the ManagedConnectionImpl.getTx() is returning the Tx from the instance itself which is not the same the as the

[2015-05-08 18:39] jamesceddy opened #5274 "Hazelcast 3.5-SNAPSHOT does not start in OSGI"
When testing the lastest hazelcast from master, hazelcast is not starting as an OSGI bundle. It looks like the osgi package was refactored but the dynamic class loading of the Script engine was missed. "com.hazelcast.osgi.ScriptEngineActivator" should be "com.hazelcast.internal.osgi.ScriptEngineActivator"

Once I changed this hazelcast started ok in Apache Felix.

https://github.com/hazelcast/haze

[2015-05-08 22:23] bwzhang2011 commented on #5222
@noctarius, sorry for such postponed for a week. I've submitted one and hope you could make some modification if not describe accurate when you have your spare time.

[2015-05-08 22:23] #5222 closed

[2015-05-10 23:41] bilalyasar opened #5275 "[TEST-FAILURE] MapLoaderMultiNodeTest.testLoadAgain_whenLoadedAllCalledMultipleTimes"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8/com.hazelcast$hazelcast/555/testReport/junit/com.hazelcast.map.mapstore/MapLoaderMultiNodeTest/testLoadAgain_whenLoadedAllCalledMultipleTimes/

[2015-05-10 23:43] bilalyasar commented on #5212
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK8/427/console

[2015-05-10 23:44] bilalyasar commented on #5212
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/3147/

[2015-05-10 23:47] bilalyasar opened #5276 "[TEST-FAILURE] SplitBrainHandlerTest failures"
com.hazelcast.cluster.SplitBrainHandlerTest.testClusterMerge_when_split_not_detected_by_slave_and_restart_during_merge
com.hazelcast.cluster.SplitBrainHandlerTest.testClusterMerge_when_split_not_detected_by_slave
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/474/#showFailuresLink

[2015-05-10 23:48] bilalyasar commented on #5276
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/473/

[2015-05-10 23:49] bilalyasar commented on #4252
we have 24 test failures:
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-IbmJDK1.6/229/#showFailuresLink

[2015-05-10 23:50] bilalyasar commented on #4252
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-IbmJDK1.6/227/

[2015-05-10 23:52] bilalyasar commented on #4892
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/542/console

[2015-05-10 23:53] bilalyasar commented on #4903
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/com.hazelcast$hazelcast/542/testReport/junit/com.hazelcast.spi/MigrationAwareServiceTest/testPartitionDataSize_whenBackupNodesTerminated_withThreeBackups/

[2015-05-10 23:54] bilalyasar commented on #5275
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.7/com.hazelcast$hazelcast/548/testReport/junit/com.hazelcast.map.mapstore/MapLoaderMultiNodeTest/testLoadsAll_whenLazyModeAndLoadAll/

[2015-05-10 23:54] bilalyasar commented on #5275
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK7/com.hazelcast$hazelcast/532/testReport/junit/com.hazelcast.map.mapstore/MapLoaderMultiNodeTest/testLoadsAll_whenLazyModeAndLoadAll/

[2015-05-10 23:55] bilalyasar commented on #5172
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/560/#showFailuresLink

[2015-05-10 23:55] bilalyasar commented on #5226
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/560/testReport/junit/com.hazelcast.map/MapPartitionLostListenerStressTest/test_mapPartitionLostListenerInvoked_when2NodesCrashed_withData/

[2015-05-10 23:57] bilalyasar opened #5277 "[TEST-FAILURE] MapTransactionStressTest.testTxnGetForUpdateAndIncrementStressTest"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/560/testReport/junit/com.hazelcast.map/MapTransactionStressTest/testTxnGetForUpdateAndIncrementStressTest/

[2015-05-10 23:58] bilalyasar commented on #5258
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.7/com.hazelcast$hazelcast/548/testReport/junit/com.hazelcast.map.mapstore/MapLoaderMultiNodeTest/testLoadsAll_whenLazyModeAndLoadAll/

[2015-05-11 08:42] Donnerbart commented on #5172
The following tests are "expected" to fail until the new client gets fixed:
[code]
It's all `withoutException` tests which use the normal `values()`, `keySet()` and `entrySet()` methods (which don't use queries, so the new feature is not active here).

Those tests work with 3.4.2 and the 3.5 old client. They should also work with the new client, but they don't. After some tests there seems to be a

[2015-05-11 08:55] Danny-Hazelcast opened #5280 "wan replication WanBatchReplication can cause OOM on target cluster"
3.5-EA2

using com.hazelcast.enterprise.wan.replication.WanBatchReplication as the implementation

we have found It's possible to cause an OOM on the target cluster.

Using WanBatchReplication with -Dhazelcast.enterprise.wanrep.batch.size=1  will not cause an OOM
but the default of 50 will

using WanNoDelayReplication also suffered from this issue but I has been fixed.

[2015-05-11 08:58] jerrinot commented on #5280
I'm adding the `Integration` label as I believe @emrahkocaman is working on this.

[2015-05-11 09:06] #5280 closed

[2015-05-11 09:06] emrahkocaman commented on #5280
Moved: https://github.com/hazelcast/hazelcast-enterprise/issues/219

[2015-05-11 10:03] purplefox commented on #5220
Hi Hazelcast folks

just wondering if there has been any progress on this or if you know if any workaround?

We have a code freeze for Vert.x 3.0 in the not too distant future so would need some kind of solution before then.

I know these things are hard to tell but if you could give some kind of ETA for this it would be much appreciated, as we will need to take mitigating actions if it looks like

[2015-05-11 10:28] jerrinot commented on #3385
@gurbuzali This one is gonna be fixed in 3.5. Is it correct?

[2015-05-11 10:30] gurbuzali commented on #3385
should be fixed in EA

[2015-05-11 10:59] serkan-ozal commented on #5274
closed via https://github.com/hazelcast/hazelcast/commit/ec39be798b20a3c68f73af4dada185e932989d37

[2015-05-11 10:59] #5274 closed

[2015-05-11 11:15] serkan-ozal commented on #4563
closed via https://github.com/hazelcast/hazelcast/commit/5d85eb03705e109c5e709f30f5ca60d704d75bb5

[2015-05-11 11:15] #4563 closed

[2015-05-11 11:37] Danny-Hazelcast commented on #5225
https://hazelcast-l337.ci.cloudbees.com/view/Simulator/job/Hazelcast-Simulator-weekly/71/consoleText

shows simulator tests are failing as Transient values are in the mapStore

[2015-05-11 11:58] Danny-Hazelcast commented on #5225
I just re-opened this due to the error in the above link,

the assertion code of  com.hazelcast.simulator.tests.map.MapStoreTest  uses

assertTrueEventually

from the error logs we see
[code]

which should be enough time for transient keys to be removed from the map.
but we get junit.framework.AssertionFailedError: MapStore1: TTL key should not be in the map

and a Fail from another node
[code]

l

[2015-05-11 12:24] Danny-Hazelcast commented on #5225
a 2nd run https://hazelcast-l337.ci.cloudbees.com/view/Simulator/job/Hazelcast-Simulator-weekly/72/console

also shows
junit.framework.AssertionFailedError: MapStore1: TTL key should not be in the map
and
 cause=junit.framework.AssertionFailedError: expected:<1569> but was:<null>

[2015-05-11 12:37] hasancelik commented on #5225
For the this assertError:
[code]
My possible solution is:
[code]

[2015-05-11 12:44] Danny-Hazelcast commented on #5225
@hasancelik
[code]
will not work.  as you are comparing,  all the keys in the map,  to a mapStore instance located on 1 particular member,  which can only hold keys that belong to that member.

this is why we are comparing the local key set of a member to the keys in the map store implementation of a member.

[2015-05-11 12:49] ahmetmircik opened #5282 "[TEST-FAILURE] MapLoaderMultiNodeTest/testLoadsAll_whenLazyModeAndLoadAll"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.7/com.hazelcast$hazelcast/548/testReport/junit/com.hazelcast.map.mapstore/MapLoaderMultiNodeTest/testLoadsAll_whenLazyModeAndLoadAll/

[2015-05-11 13:01] serkan-ozal commented on #4415
closed via https://github.com/hazelcast/hazelcast/commit/bc863f8576e3a85c7a54506893db51c478e30ed5

[2015-05-11 13:01] #4415 closed

[2015-05-11 14:43] Danny-Hazelcast commented on #5225
@ahmetmircik   I have re opened this issue,  at we still see this issue

[2015-05-11 15:37] zeratul021 opened #5283 "Combiner's finalizeCombine() is not final operation on a combiner"
I tried to use this method to null-out all variables as per contract (...intended to cleanup internal state...) but got null-pointers later.

Once the mapping is done, the *DefaultContext#finish()* first calls the *finalizeCombine()* on all combiners and then calls (suspicious) *requestChunk()* which in turn calls *finalizeChunk() + reset()* that most probably rely on internal state which is now g

[2015-05-11 15:44] noctarius commented on #5283
Oh thanks, good catch.

[2015-05-11 15:58] lzeligowski commented on #5220
+1 from my team. We've got the same problems as other (vert.x cluster). From our perspective - this is critical error.

[2015-05-11 19:46] noctarius commented on #5283
Ok the problem is that the combiners are finalized after every mapping phase (per partition) but combiners are not removed from combiner cache.

[2015-05-12 01:31] gurbuzali commented on #5220
Hi
I've sent a PR #5284 , once it's merged can you please try and confirm if it fixes the issue?

[2015-05-12 07:25] bilalyasar opened #5286 "[TEST-FAILURE] ClientReconnectTest.testClientReconnectOnClusterDown"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OpenJDK6/com.hazelcast$hazelcast-client/234/testReport/junit/com.hazelcast.client/ClientReconnectTest/testClientReconnectOnClusterDown/

[2015-05-12 07:25] bilalyasar commented on #5212
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK1.6/536/console

[2015-05-12 07:26] bilalyasar commented on #5282
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK1.6/com.hazelcast$hazelcast/535/testReport/junit/com.hazelcast.map.mapstore/MapLoaderMultiNodeTest/testLoadsAll_whenLazyModeAndLoadAll/

[2015-05-12 07:26] bilalyasar commented on #5212
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK1.7/110/

[2015-05-12 07:27] bilalyasar commented on #4252
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/544/#showFailuresLink

[2015-05-12 07:30] bilalyasar commented on #5099
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.7/com.hazelcast$hazelcast-client-new/549/testReport/junit/com.hazelcast.client/ClientMemberAttributeTest/testChangeMemberAttributes/

[2015-05-12 07:31] bilalyasar commented on #5258
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/562/console

[2015-05-12 07:34] bilalyasar opened #5287 "[TEST-FAILURE] RingbufferAddReadOneStressTest.whenNoTTL"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/562/console

[2015-05-12 07:35] bilalyasar commented on #5275
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK7/com.hazelcast$hazelcast/534/testReport/junit/com.hazelcast.map.mapstore/MapLoaderMultiNodeTest/testLoadAgain_whenLoadedAllCalledMultipleTimes/

[2015-05-12 07:36] bilalyasar commented on #5258
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-sonar/618/console

[2015-05-12 07:44] noctarius commented on #5283
I broke down finish into to separate calls since the finalization for combiners kicked in too early, you were definitely right :) Thanks again for digging into that!

[2015-05-12 07:56] zeratul021 commented on #5283
Sure, no problem :)
We currently heavily prototyping with Hazelcast and looking in every nook and cranny in the API, especially the Map/Reduce.

[2015-05-12 09:17] purplefox commented on #5220
Thanks Ali,

I have built hz from your fix branch and I can confirm that my reproducer seems to work as expected now.

I wonder if you could confirm one thing for me? Looking at your fix.. when the multimap values are merged you are setting the new id sequence to be the max of the merged ids plus an offset (=1000000). I am guessing this offset exists to account for any puts that might occur during

[2015-05-12 09:18] purplefox commented on #5220
@AlexThurston Could you also try with your reproducer and Hz built from Ali's fix branch here: https://github.com/gurbuzali/hazelcast/tree/multimap-migration-fix ?

[2015-05-12 09:19] bilalyasar commented on #4252
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-IbmJDK1.6/231/#showFailuresLink

[2015-05-12 09:22] purplefox commented on #5220
@gurbuzali Could you also confirm when the next Hazelcast release is due on the 3.4 branch? (I.e. the one containing this fix).

[2015-05-12 09:40] gurbuzali commented on #5220
Hi @purplefox while merging all mutating operations retried so there may not be a put while merging. Problem here is with the transactions. Transactions gets nextRecordId but may not be committed at the time of migration. So if you have more that 1000000 transactions alive on multimap while migrating then you may have problems. We believe this is a very unlikely situation.
We use the same approach

[2015-05-12 09:42] gurbuzali commented on #5220
For the next maintenance release (3.4.3) I don't have an exact date, I will ask our release coordinator and come back to you.

[2015-05-12 10:55] ahmetmircik commented on #5258
closed via https://github.com/hazelcast/hazelcast/commit/066e196ee5ce6fddb4b079440db37ba153388167

[2015-05-12 10:55] #5258 closed

[2015-05-12 11:18] jerrinot commented on #3385
This is fixed in the current master and it'll be included in Hazelcast 3.5.

[2015-05-12 11:18] #3385 closed

[2015-05-12 11:30] jerrinot commented on #5209
Hi @youngm: Thanks for a really nice work here!
Did you have a chance to run the test with the branch @pveentjer was referring to?

[2015-05-12 11:36] jerrinot commented on #4411
depends on #5196

[2015-05-12 11:36] dschmitz commented on #3792
@serkan-ozal

Hi I have given this investigative task to one of my team mates he will evaluate the latest version and your suggestions on a dedicated feature branch. We will come back with feedback to you soon.
And we will share the activator code soon.

Regards
David

[2015-05-12 11:37] jerrinot commented on #4932
depends on #5196

[2015-05-12 11:42] jerrinot commented on #4045
fixed by #4875

[2015-05-12 11:42] #4045 closed

[2015-05-12 11:46] jerrinot commented on #3661
Hazelcast 3.5 contains `RingBuffer` which can replace `IQueue` in certain use-cases.
RingBuffer embraces batching providing a significant performance boost.

Nevertheless we should look at the Queue performance in further releases. I reckon just adding batching API would provide a major boost in many situations.

[2015-05-12 11:55] jerrinot commented on #1781
fixed by #4859

[2015-05-12 11:55] #1781 closed

[2015-05-12 12:48] serkan-ozal commented on #3792
Hi @dschmitz

Thanks, I got your `HazelcastActivator` code.
As far as I see from the logs, `CacheService` is loaded by `org.eclipse.osgi.internal.loader.ModuleClassLoader` even though config classloader is set to your custom `CombinedClassLoader`. Because when `CacheService` class is loading in `ServiceManager`, it is first looked up via `CombinedClassLoader`, then it is not found and since it is

[2015-05-12 12:54] gurbuzali commented on #3577
should be fixed in 3.5-EA, can you try and re-open if issue still exists

[2015-05-12 12:54] #3577 closed

[2015-05-12 12:55] gurbuzali commented on #3807
fixed in 3.5-EA

[2015-05-12 12:55] #3807 closed

[2015-05-12 12:55] gurbuzali commented on #3071
should be fixed in 3.5-EA, can you try and re-open if issue still exists

[2015-05-12 12:55] #3071 closed

[2015-05-12 13:02] gurbuzali commented on #3856
fixed in 3.5-EA

[2015-05-12 13:02] #3856 closed

[2015-05-12 13:02] #3942 closed

[2015-05-12 13:04] gurbuzali commented on #3942
closing this one now, feel free to re-open if your are still experiencing the issue

[2015-05-12 13:04] gurbuzali commented on #3943
closing this one now, feel free to re-open if your are still experiencing the issue

[2015-05-12 13:04] #3943 closed

[2015-05-12 13:09] gurbuzali commented on #4327
Hi @Danny-Hazelcast, is this issue still valid ?

[2015-05-12 13:13] gurbuzali commented on #4359
Hi @Danny-Hazelcast can you verify if this issue is still valid ?

[2015-05-12 13:15] gurbuzali commented on #4364
Hi @Danny-Hazelcast is this issue still valid for 3.5-EA ?

[2015-05-12 13:23] serkan-ozal commented on #3792
Hi @dschmitz,

By the way, do you need JCache in your application? As far as I understand you don't need it. If not needed, why you add it to your classpath?

[2015-05-12 14:39] AlexThurston commented on #5220
@purplefox I have good news and bad news.  The good news is that the behaviour has changed and for the better.  I am testing through Vertx which was the original impetus of this investigation.

I'll speak in mostly Vertx terms, and perhaps @purplefox can investigate if this is still related to only Hazelcast.

If I have 3 vertx process which are running verticles that register 100 handlers each, t

[2015-05-12 14:43] purplefox commented on #5220
@AlexThurston can you clarify the exact reproducer you are using - I assume its this one here? https://github.com/purplefox/vertx_bug/tree/tim_reproducer

[2015-05-12 14:53] AlexThurston commented on #5220
@purplefox Yup.  I just used the code there to demonstrate the problem as well.  Had to change things around slightly to make sure I was using the newly built Hazelcast jars, but it demonstrates the problem.

At the end of the script, once things have been killed, the check shows a map that only contains servers running on port 6666 as it should, but the map is only 39 elements long when it should

[2015-05-12 14:56] purplefox commented on #5220
@AlexThurston OK, let's continue on the google group - can you provide your output?

[2015-05-12 15:07] gurbuzali commented on #5220
so is it related with hazelcast or not? :)

[2015-05-12 15:45] Danny-Hazelcast commented on #4327
@gurbuzali well we have never seen this issue repeat it self,  and we have done a lot of test runs.
so this issue has not been reproduced by us and must be extremely rare.  its at least a candidate for closed unresolved.

[2015-05-12 15:46] Danny-Hazelcast commented on #4327
I know @jerrinot had an interesting theory about a possible root cause

[2015-05-12 15:55] youngm commented on #5209
@jerrinot No, I've been out of town the last couple of days.  I hope to get back to it later this week.

[2015-05-12 16:03] jerrinot commented on #5209
great, ping me if you need any assistance!

[2015-05-12 16:05] jerrinot commented on #4327
Had I? I can't remember now:(
@bwzhang2011: Do you have a reproducer for this issue?

[2015-05-12 16:37] Danny-Hazelcast commented on #4364
tested with Hazelcast 3.5-EA2-SNAPSHOT (20150512 - 0758973) starting at

i have run the test's on a 6 node cluster,  all servers  I have found these interesting logs
[code]
I have observed a 3min delay in the verification process,  but the test comes to an end Passes.

However

when running the test  on 6 box's  using 6 members and 6 clients,  I have observed the test hanging
in the verification p

[2015-05-12 16:38] Danny-Hazelcast commented on #4364
however from the logs from the hanging run i did not see any other unusual WARN / FATAL / Exceptions in the logs

[2015-05-12 16:40] Danny-Hazelcast commented on #4364
@gurbuzali unfortunately there are still some problems (as above),  but  its closer.

[2015-05-12 18:08] purplefox commented on #5220
@gurbuzali I'm not sure if it's the same bug or a different one, but I have created a new reproducer here:

https://github.com/purplefox/hz-bug/tree/second_bug

Which shows an issue when using 3.4.3-SNAPSHOT version that includes your latest fix.

This reproducer is a bit simpler to run than the last one.

Just run the Runner class in your IDE. You may have to run it several times in order to see

[2015-05-12 18:40] haixiliu commented on #5242
Hello, I have debugged this bug and created a fix for it (attaching the content of the patch below). Basically I added code to mark the appropriate cache entry in the correct HazelcastHttpSession object to be reloaded, upon an update to an entry in the clustermap for httpsession (stored in hazelcast cluster). Can you kindly review and let me know whether the fix makes sense? Also, can you let me k

[2015-05-12 18:59] bilalyasar commented on #5242
@haixiliu, when you get the session object, web filter marks all cache entries as `reload=true`.
https://github.com/hazelcast/hazelcast/blob/master/hazelcast-wm/src/main/java/com/hazelcast/web/WebFilter.java#L617
You enabled deferred-write, right?.

[2015-05-12 19:20] bilalyasar commented on #4717
@Mircea-Exswap can you give some config details? Do you use sticky session enabled mode?

[2015-05-12 19:56] haixiliu commented on #5242
@bilalyasar , Yes I enabled deferred-write. I read/debug through the code, and in getSession, it usually returns at line 606: https://github.com/hazelcast/hazelcast/blob/master/hazelcast-wm/src/main/java/com/hazelcast/web/WebFilter.java#L606. Therefore, prepareReloadingSession(hazelcastSession); doesn't get executed.

Can you confirm my finding is true bug?

Thanks.

[2015-05-12 20:08] bilalyasar commented on #5242
yes, seems this is a bug. And scenario as follows: ( nonsticky + deferred-write=true)
1) request goes to server1. session.put("key","value")
2) request goes to server2. session.put("key","value2")
3) request goes to server1 again. and server1 doesn't get real value from distributed map. and returns old value.
and seems your fix correct, but i have to examine a little bit more why we have removed e

[2015-05-12 20:14] haixiliu commented on #5242
@bilalyasar. Thanks. Can you let me know what is the scheduled release time for 3.5?

[2015-05-12 20:24] gurbuzali commented on #4327
I'm closing then, we can re-open if we reproduce

[2015-05-12 20:24] #4327 closed

[2015-05-13 06:33] sancar commented on #5100
Note: this is related to old client.

[2015-05-13 06:56] bilalyasar opened #5297 "TestCacheManager.testCacheNames"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8/com.hazelcast$hazelcast-spring/558/testReport/junit/com.hazelcast.spring.cache/TestCacheManager/testCacheNames/

[2015-05-13 06:56] bilalyasar commented on #5297
another failure in the same class probably related:
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8/com.hazelcast$hazelcast-spring/558/testReport/junit/com.hazelcast.spring.cache/TestCacheManager/test/

[2015-05-13 06:58] bilalyasar commented on #5218
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-sonar/com.hazelcast$hazelcast/619/testReport/junit/com.hazelcast.spi.impl.operationexecutor.slowoperationdetector/SlowOperationDetector_purgeTest/testPurging_Invocation/

[2015-05-13 06:58] bilalyasar commented on #5275
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK7-Quality-Outreach/com.hazelcast$hazelcast/58/testReport/junit/com.hazelcast.map.mapstore/MapLoaderMultiNodeTest/testLoadAgain_whenLoadedAllCalledMultipleTimes/

[2015-05-13 07:02] bilalyasar opened #5298 "[TEST-FAILURE] RingbufferAddAllReadManyStressTest failures"
com.hazelcast.ringbuffer.impl.RingbufferAddAllReadManyStressTest.whenNoTTL
com.hazelcast.ringbuffer.impl.RingbufferAddReadOneStressTest.whenLongTTLAndSmallBuffer
com.hazelcast.ringbuffer.impl.RingbufferAsyncAddWithBackoffStressTest.whenTTLEnabled
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/563/#showFailuresLink

[2015-05-13 07:03] bilalyasar commented on #5172
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/563/#showFailuresLink

[2015-05-13 07:04] bilalyasar commented on #5282
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK7/com.hazelcast$hazelcast/535/testReport/junit/com.hazelcast.map.mapstore/MapLoaderMultiNodeTest/testLoadsAll_whenLazyModeAndLoadAll/

[2015-05-13 07:06] bilalyasar opened #5299 "[TEST-FAILURE] CompletableFutureTest.postregisterTwoCallbacks_withFailure"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.7/com.hazelcast$hazelcast/551/testReport/junit/com.hazelcast.executor/CompletableFutureTest/postregisterTwoCallbacks_withFailure/

[2015-05-13 07:10] bilalyasar commented on #5212
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK1.6/537/console

[2015-05-13 08:04] gurbuzali commented on #5069
Hi @ajermakovics can you verify if the issue still valid ?

[2015-05-13 08:19] jerrinot commented on #4951
Hi @victorfuman, thanks for creating the issue. Could you try to reproduce it and then switch off logging (e.g. by using the NOP logger) and ran the same scenario again?

Also you mentioned it sometimes even crash - could you be more specific? What do you mean by crash? An exception being thrown? or a hard JVM crash?

[2015-05-13 08:58] bilalyasar commented on #5188
@davidsiefert i tried to reproduce your case in my local, and didn't succeed it. Can you give some environmental details like java version, jdk type, also which OS?
And when you try in local, do you still encounter this failure?

[2015-05-13 09:03] bilalyasar commented on #4252
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-IbmJDK1.6/232/#showFailuresLink

[2015-05-13 09:24] purplefox commented on #5220
Hi @gurbuzali , did you see the new reproducer I added above?

Do you think it is the same issue or a different one? I am happy to open a new bug report for that if you prefer.

[2015-05-13 10:23] Mircea-Exswap commented on #4717
@bilalyasar this is the configuration that we are using:

<hz:instance-name>hazelcastServer</hz:instance-name>
<hz:group name="${cluster.name}" password="${cluster.password}" />
<hz:properties>
    <hz:property name="hazelcast.merge.first.run.delay.seconds">5</hz:property>
    <hz:property name="hazelcast.merge.next.run.delay.seconds">5</hz:property>

    <hz:property name="hazelcast.memcache.enab

[2015-05-13 10:57] gurbuzali commented on #5220
Hi @purplefox
I've reproduced the issue yesterday but couldn't investigate it more deeply.
My guess is that this is a different issue which may be related to internals not multimap.
I'll investigate more

[2015-05-13 11:17] Mircea-Exswap commented on #4717
@bilalyasar Here is the configuration that we use:

[code]

[2015-05-13 12:09] #5283 closed

[2015-05-13 12:10] gurbuzali commented on #4359
I'm closing the issue, can you please re-open if it is still valid

[2015-05-13 12:12] AlexThurston commented on #5220
@gurbuzali This is great news.  Looking forward to hearing what you've found (and even more to the fix) :smile:

[2015-05-13 12:16] Danny-Hazelcast commented on #4359
I would rather keep the issue which have a test to reproduce them open,  other wise we could well forget about it.   I was planning running this issue again to day

[2015-05-13 12:21] gurbuzali commented on #5069
I've tried the test, it is passing

[2015-05-13 12:21] #5069 closed

[2015-05-13 12:44] gurbuzali commented on #4359
ok waiting your results

[2015-05-13 14:08] Danny-Hazelcast commented on #4359
@gurbuzali @serkan-ozal

I did some runs,  on a dynamically sized (only members)  where members joined every 1 min,  to a max cluster size of 4,  head steady,    then ramped back down at an interval of 1 min.  EvictionICacheTest
I also run under a condition of "kill -9" of a member node

all though the size of the cache is bigger than the configuredMaxSize,  It is always less than the estimatedMax

[2015-05-13 14:08] #4359 closed

[2015-05-13 14:42] Danny-Hazelcast commented on #4841
I have re encountered this issue,  and have a test for reproduction it  located at
[code]

cluster time line,   3 box, 1 dedicated member, 4 clients
1 min run,
start 1 box 1 dedicated member

test.properties
[code]

the exception
[code]

[2015-05-13 20:47] #5276 closed

[2015-05-13 23:53] gurbuzali opened #5301 "Lazy deserialize while executing entry-processor"
Currently key/value are deserialized prior to execution of entry-processor by default
This leads to need to the domain object at server-side, even if entry-processor never uses it

[2015-05-14 05:43] metanet commented on #5226
Fixed via https://github.com/hazelcast/hazelcast/commit/502349a3661d104a735946fd6ff89eac9a428716

[2015-05-14 05:43] #5226 closed

[2015-05-14 07:42] kobalski commented on #5190
Should be fixed via commit https://github.com/hazelcast/hazelcast/commit/a012962241c7fdfc6f6004c148ba3b26a6e0d5e2
Closing for now.

[2015-05-14 08:34] mesutcelik commented on #5301
Can we also check that if following methods are requiring domain objects in the classpath?

* ClienMapProxy.keySet(Predicate predicate)
* ClienMapProxy.entrySet(Predicate predicate)
* ClientMapProxy. executeOnEntries(EntryProcessor entryProcessor)

@sancar ,
I think you can comment on this as well. I know you already checked and have some findings.

[2015-05-14 09:07] mesutcelik commented on #5055
not failed recently and logs has been removed.... we will reopen once we see the failure again.

[2015-05-14 09:07] #5055 closed

[2015-05-14 10:15] ahmetmircik commented on #3426
did not fail recently, will handle it if we encounter a new failure.

[2015-05-14 10:15] #3426 closed

[2015-05-14 10:35] mesutcelik commented on #4993
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OpenJDK6/236/artifact/hazelcast/target/surefire-reports/com.hazelcast.map.mapstore.PostProcessingMapStoreTest-output.txt

[2015-05-14 11:45] ahmetmircik commented on #3834
closed via https://github.com/hazelcast/hazelcast/commit/6eca783a6ec685323854f0986a55e3225c3f49c0

[2015-05-14 11:45] #3834 closed

[2015-05-14 13:53] bwzhang2011 commented on #3661
@jerrinot , thanks for review such. as ringBuffer not fully support with hazelcast (the client could not set up such datastructure) how could I make use of that and maybe some special chapter or content should leave us some introduction for the certain use-cases. as Queue is widely used in our pojects, it's better for tweak as the JMS way to make it more robust and improve its performance.

[2015-05-14 14:04] bwzhang2011 opened #5305 "[cluster] IMap.clear throws CallerNotMemberException"
I encounter some problem when invoke clear operation for IMap. (for the stacktrace as below I just make hz integrated with mybatis and when flushCache=true it will call the clear operation of IMap).here comes the stacktrace as below, hope someone could help me locate my problem:

Hazelcast version is 3.4.2

[code]

As shown above I don't quite know about such exception and how to avoid that.

[2015-05-14 14:42] ahmetmircik commented on #4433
Seems not failing for a long time, closing this issue and waiting for next failure.

[2015-05-14 15:15] serkan-ozal commented on #4416
Hi @buondoi

Does this issue occurred when you run Hazelcast as standalone OSGI bundle with `hazelcast.osgi.start`?

I have tried to run the Hazelcast jar as OSGI bundle on Eclipse Equinox and it is installed, resolved and started without any problem. As far as I understand, the problem seems that not Hazelcast related.

[2015-05-14 18:17] serkan-ozal commented on #4782
Hi @cogtinuum

`packages` commands works with `<package_name>` not with `<bundle_id>`.

So can you try with `packages com.hazelcast`?

[2015-05-15 01:19] hariprasanth1234 opened #5307 "Implementing our own SSL in hazelcast"
Hi all,

I come to know that ssl is enterprise in hazelcast, But for the first one year I cannot buy a enterprise version, Is it possible to implement our own ssl code for hazelcast. Is there any provision for it. Is there an specific interface like context factory or any other way that we can implement our own SSL code between client to server and server to server.

Thanks a lot,
Harry

[2015-05-15 01:34] hariprasanth1234 opened #5308 "Hazelcast and Stunnel for own SSL"
Hi all,

I made a study on stunnel and configured the stunnel server on hazelcast server port.
    1. Installed the stunnel in my environment
    2. Created the self signed certificate and private key using OpenSSL and added them in stunnel pem file.
    3. Added the corresponding Stunnel Client and Stunnel Server config in the following format

[code]

It is instead of connecting to 5701 directly

[2015-05-15 08:03] ahmetmircik commented on #5236
closed via https://github.com/hazelcast/hazelcast/commit/6223e2d66f1f0e11026d1e889e82229c85198f93

[2015-05-15 08:07] serkan-ozal commented on #4782
`packages` command is used to list all the bundles which use the given package.
`packages com.hazelcast.core` is works for me. So there is no issue about both of Hazelcast and OSGI

[2015-05-15 08:07] #4782 closed

[2015-05-15 09:00] serkan-ozal commented on #4416
I think it is not Hazelcast issue. I have tested both current master branch and 3.4 versions, both of them works. The issue is possibly related with your use case and environment.

[2015-05-15 09:00] #4416 closed

[2015-05-15 09:02] sancar commented on #5048
This build does not seem healthy. I checked the method it does not fail now. Given that it's been 1 month and did not fail again , I assume it is fixed. Closing the issue.

[2015-05-15 09:02] #5048 closed

[2015-05-15 09:36] noctarius commented on #4416
Do you maybe have the hazelcast jar as its own bundle and inside your deployed bundle?

[2015-05-15 11:50] #5224 closed

[2015-05-15 11:51] sancar commented on #5219
closed via #5296

[2015-05-15 11:51] #5219 closed

[2015-05-15 11:52] sancar commented on #5227
closed via #5296

[2015-05-15 11:52] #5227 closed

[2015-05-15 11:52] sancar commented on #5099
closed via #5296

[2015-05-15 12:34] serkan-ozal commented on #4775
Hi @smillidge

Setting application classloader as config classloader in `Config` object while getting `HazelcastInstance` worked for me on `Glassfish 4.1` as:

[code]

However, yes there is an issue (https://github.com/hazelcast/hazelcast/issues/4632) about unnecessary deserialization at cache operation which is also one of the reasons of this issue. As you mentioned there is no `ClassNotFoundExce

[2015-05-15 12:51] valdo404 opened #5315 "let getAsync and putAsync return ICompletableFuture"
As for now it is very complicated to listen a getAsync or putAsync result and to integrate it with completable futures or listenable futures.

Would it be possible to return an ICompletableFuture since it is an interface which seems to extends jdk futures and is returned by an IMap ?

[2015-05-15 13:14] gurbuzali commented on #5315
you can cast to `ICompletableFuture` as a workaround

[2015-05-15 13:24] AlexThurston commented on #5220
@gurbuzali Any progress nailing this down?

Sorry for bugging ya, I'm keen :smile:

[2015-05-15 13:54] gurbuzali commented on #5282
should be fixed via https://github.com/hazelcast/hazelcast/pull/5295

[2015-05-15 13:54] #5282 closed

[2015-05-15 14:49] jerrinot commented on #5315
Hi @valdo404,
I understand the need, however it's quite tricky - returning a different type breaks binary compatibility. It doesn't matter the new type extents the original type - they are treated as different types when it comes to a method dispatch.

As @gurbuzali wrote you can cast return values of most async methods to ICompletableFuture - just be aware that doing so may slightly increase a ri

[2015-05-15 15:03] bwzhang2011 commented on #5305
@mdogan, would you mind sparing your time to take a quick look at and help me locate where the problem ?

[2015-05-15 15:26] gAmUssA commented on #5308
@hariprasanth1234 for client config you disable smartRouting and try again

[code]

[2015-05-15 15:37] smillidge commented on #4775
Hi yes I will go back an test. I thought I had tried that but will revisit it to make sure.

In my test case we also have created the HazelcastCache outside of the web application.

[2015-05-15 22:03] #5277 closed

[2015-05-15 22:48] youngm commented on #5209
This test case includes the source and a build of a custom memcache server backed by hazlecast (memcache-hazelcast) and a stress test client (memcache-test).

memcache-hazelcast provides a memcache server written in netty.
memcache-test provides stress tests using the xmemcached java client.

The server is an open source project here: https://github.com/cloudfoundry-community/memcache-hazelcast

U

[2015-05-16 01:55] hariprasanth1234 commented on #5308
@gAmUssA,

smart-routing to false, does not make any change,

May 16, 2015 7:20:38 AM com.hazelcast.core.LifecycleService
INFO: HazelcastClient[hz.client_0_dev][3.4] is STARTING
May 16, 2015 7:20:38 AM com.hazelcast.core.LifecycleService
INFO: HazelcastClient[hz.client_0_dev][3.4] is STARTED
May 16, 2015 7:20:38 AM com.hazelcast.client.spi.impl.ClusterListenerThread
SEVERE: Error while connecting

[2015-05-16 05:57] jerrinot commented on #5209
Hi Mike,

Once again thanks for an awesome report and reproducer! I'll try to
reproduce it today or tomorrow.
On May 16, 2015 1:48 AM, "Mike Youngstrom" <notifications@github.com> wrote:

[2015-05-16 07:27] noctarius commented on #5209
Yes absolutely amazing! Hope @jerrinot will figure it out but I have high expectations :)

PS: From community aspect, what is the difference between the HZ built-in memcache server and your implementation? Would be nice to get some more information about the project :)

[2015-05-16 07:29] noctarius commented on #5308
You probably have to create your own AddressTranslator to translate between private (localhost) and public address (the other side of the stunnel). You can look into the clients code how it is used for AWS but also not sure it'll work.

[2015-05-16 12:26] jerrinot commented on #5209
Hi @youngm

I'm getting this error when I'm starting the client:
[code]
I believe I'm starting it as expected
[code]
I changed the `client.yml` accordingly, but it seems it's ignored.

I don't know Spring Boot that well, but I assume I can just change the addresses in `application.yml` and rebuild the project. Is it correct?

[2015-05-16 13:40] youngm commented on #5209
@jerrinot Sorry the correct command for the client is actually:

[code]

@jerrinot The main difference is this memcache server is multi-tenant and built to be a service for Cloud Foundry.  You can read more about it here: https://github.com/cloudfoundry-community/memcache-release

[2015-05-17 00:32] bilalyasar commented on #5218
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-sonar/com.hazelcast$hazelcast/623/testReport/junit/com.hazelcast.spi.impl.operationexecutor.slowoperationdetector/SlowOperationDetector_purgeTest/testPurging_Invocation/

[2015-05-17 00:33] bilalyasar commented on #5257
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-sonar/com.hazelcast$hazelcast/622/testReport/junit/com.hazelcast.map.mapstore/MapLoaderFailoverTest/testLoadsAll_whenInitialLoaderNodeRemovedAfterLoading/

[2015-05-17 00:34] bilalyasar commented on #5099
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK9-Quality-Outreach/com.hazelcast$hazelcast-client-new/67/testReport/junit/com.hazelcast.client/ClientMemberAttributeTest/testChangeMemberAttributes/

[2015-05-17 00:35] bilalyasar commented on #5257
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8/com.hazelcast$hazelcast/561/testReport/junit/com.hazelcast.map.mapstore/MapLoaderFailoverTest/testLoadsAll_whenInitialLoaderNodeRemovedAfterLoading/

[2015-05-17 00:36] bilalyasar opened #5317 "[TEST-FAILURE] QuerySlowTest.testIndexPerformanceUsingPredicate"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/com.hazelcast$hazelcast/480/testReport/junit/com.hazelcast.map.query/QuerySlowTest/testIndexPerformanceUsingPredicate/

[2015-05-17 00:38] bilalyasar commented on #4252
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-IbmJDK1.7/240/

[2015-05-17 00:40] bilalyasar commented on #5027
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/com.hazelcast$hazelcast-client-new/548/testReport/junit/com.hazelcast.client.executor/ClientExecutorServiceSubmitTest/submitCallableToKeyOwner_withExecutionCallback/

[2015-05-17 00:50] bilalyasar commented on #5298
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/566/

[2015-05-17 00:51] bilalyasar opened #5318 "[TEST-FAILURE] MapLoaderMultiNodeTest.testDoesNotLoadAgain_whenLoadedLazyAndNodeAdded"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK8/com.hazelcast$hazelcast/432/testReport/junit/com.hazelcast.map.mapstore/MapLoaderMultiNodeTest/testDoesNotLoadAgain_whenLoadedLazyAndNodeAdded/

[2015-05-17 00:53] bilalyasar commented on #5257
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8-Quality-Outreach/com.hazelcast$hazelcast/59/testReport/junit/com.hazelcast.map.mapstore/MapLoaderFailoverTest/testLoadsAll_whenInitialLoaderNodeRemovedAfterLoading/

[2015-05-17 01:49] Donnerbart commented on #5218
Should be fixed via https://github.com/hazelcast/hazelcast/commit/d067a8e.

[2015-05-17 03:17] hariprasanth1234 commented on #5308
Noctarius,

My main goal is to establish SSL between Hazelcast server to Hazelcast server communication. Please do help me on the server to server communication part.

 What are the changes I need to make it achievable,

I made a study and found a path for server to server communication,

 'com.hazelcast.instance.NodeExtension' in META-INF/services

But still I dont understand its usage completely

[2015-05-17 11:49] bwzhang2011 commented on #5305
Could any body encounter similar problem help me locate where the problem and how to avoid that ?

[2015-05-17 12:47] pveentjer commented on #5305
Apparently the caller isn't member anymore of the cluster; hence the exception.

The question is why HZ has come to this conclusion. Has the calling member disconnected from the cluster after/during the IMap.clear call? This could explain the error.

[2015-05-17 22:15] bilalyasar commented on #5287
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/567/testReport/junit/com.hazelcast.ringbuffer.impl/RingbufferAsyncAddWithBackoffStressTest/whenNoTTL/

[2015-05-17 22:15] bilalyasar commented on #5298
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/567/testReport/junit/com.hazelcast.ringbuffer.impl/RingbufferAddAllReadManyStressTest/whenLongTTLAndSmallBuffer/

[2015-05-17 22:17] bilalyasar commented on #4903
com.hazelcast.spi.MigrationAwareServiceTest.testPartitionDataSize_whenNodesStartedParallel_withTwoBackups
com.hazelcast.spi.MigrationAwareServiceTest.testPartitionDataSize_whenNodesStartedParallel_withSingleBackup
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/549/#showFailuresLink

[2015-05-17 22:19] bilalyasar commented on #5128
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-IbmJDK1.7/com.hazelcast$hazelcast/241/testReport/junit/com.hazelcast.executor/ExecutorServiceTest/testInvokeAllTimeoutSuccess/

[2015-05-17 22:21] bilalyasar commented on #5257
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast/3180/testReport/junit/com.hazelcast.map.mapstore/MapLoaderFailoverTest/testLoadsAll_whenInitialLoaderNodeRemovedWhileLoading/

[2015-05-17 22:23] bilalyasar opened #5319 "[TEST-FAILURE] DurableSubscriptionTest.testDurableSubscription"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast/3182/testReport/junit/com.hazelcast.topic.impl.reliable/DurableSubscriptionTest/testDurableSubscription/

[2015-05-18 03:25] pveentjer commented on #5287
I guess that Cloudbees is too slow. So the reader can't keep up with the producer.

[2015-05-18 03:26] pveentjer commented on #5298
It is on my list for today.

[2015-05-18 06:50] valdo404 commented on #5315
Well, considering futures and asynchronous requests, do you have a plan for the whole thing ? Sometimes when the data is loaded or written to/from a map loader, synchronous requests are bad.

[2015-05-18 08:05] sancar commented on #5212
I made two fixes to this with https://github.com/hazelcast/hazelcast/pull/5311 and https://github.com/hazelcast/hazelcast/pull/5296. Closing for now.

[2015-05-18 09:23] Danny-Hazelcast commented on #5225
I would prefer to keep this issue open until it has passed the simulator map store test. other wise we might forget

[2015-05-18 09:26] gurbuzali commented on #5225
Hi @Danny-Hazelcast this was an implicit close. When we merge a PR which says `fixes #1234`, github automatically closes the issue. So feel free to re-open them

[2015-05-18 09:27] Danny-Hazelcast commented on #5225
i see.

[2015-05-18 09:27] #5225 closed

[2015-05-18 11:12] #5027 closed

[2015-05-18 11:29] sancar commented on #5286
fixed by https://github.com/hazelcast/hazelcast/commit/c32eaabcab0803cc0b610aaaa244c432f066c496

[2015-05-18 11:36] dsukhoroslov opened #5323 "@SpringAware/@Autowired annotations does not work on Callable task"
I have a simple Callable task like this:

[code]

the task is created on client node and executed on server node via ExecutorService. The code works perfectly in HZ 3.4.2 but does not work any more in HZ 3.5-EA. The SchemaService setter just not invoked. Please have a look.

Thanks, Denis.

[2015-05-18 11:52] mesutcelik commented on #5323
Enabling `@SpringAware` by default was causing performance hit so we disabled it by default in 3.5-EA.
Can you try to add `<hz:spring-aware />` into your context xml?

for more info:
http://docs.hazelcast.org/docs/3.5-EA/manual/html-single/hazelcast-documentation.html#spring-managed-context-with-springaware

[2015-05-18 12:09] eminn commented on #4893
I am closing this issue since this is related to a network isolation problem which is fixed by CloudBees.

[2015-05-18 12:09] #4893 closed

[2015-05-18 12:17] eminn commented on #4977
I am closing this issue since this is related to a network isolation problem which is fixed by CloudBees.

[2015-05-18 12:17] #4977 closed

[2015-05-18 12:43] Danny-Hazelcast commented on #5225
o, even i closed this issue by mistake.....

but the issue is resolved and the test

com.hazelcast.simulator.tests.map.MapStoreTest

is now passing

[2015-05-18 12:47] dsukhoroslov opened #5324 "WrongTargetException WARN in HZ 3.5-EA"
when my server starts it logs a bunch of the following warnings:

<pre><code>    2015-05-18 14:55:00.248 [hz.dataInstance.async.thread-1] WARN  com.hazelcast.spi.impl.operationservice.impl.Invocation - [localhost]:5771 [sysData] [3.5-EA] Retrying invocation: Invocation{ serviceName='hz:impl:mapService', op=com.hazelcast.map.impl.operation.LoadAllOperation{serviceName='null', partitionId=23, callId

[2015-05-18 13:05] Donnerbart commented on #5225
Just for documentation (in case of a regression etc.). This is the successful run: https://hazelcast-l337.ci.cloudbees.com/view/Simulator/job/Hazelcast-Simulator-nightly/lastSuccessfulBuild/consoleFull

[2015-05-18 13:06] bwzhang2011 commented on #5305
@pveentjer, I will do some investigation for that. sometimes the firewall will induce the disconnection of hz client. and while the original one disconnected and the follow one (from another address)came up for connecting which invoked the clear operation it would let hz come to such conclusion. but I wonder that the connection originated from hz client  and hz server and the IMap is around the se

[2015-05-18 13:07] ajermakovics commented on #5324
Hi Denis
Thanks for the detailed report! A fix is coming with PR #5316

[2015-05-18 13:08] dsukhoroslov commented on #5323
yep, it helps. Thanks a lot!

[2015-05-18 13:13] dsukhoroslov commented on #5324
Glad to know it is already fixed, thanks!

[2015-05-18 13:25] Donnerbart commented on #5218
Seems to work :)

[2015-05-18 13:25] #5218 closed

[2015-05-18 13:35] eminn commented on #4954
I am closing this issue since this is related to a network isolation problem which is fixed by CloudBees.

[2015-05-18 13:35] #4954 closed

[2015-05-18 13:37] dsukhoroslov commented on #5323
BTW, what is a performance issue you mentioned? I have many callable tasks which require injection of dependencies. Do I need to do this in some other way rather then @SpringAware?

[2015-05-18 14:01] emrahkocaman commented on #5323
Hi @dsukhoroslov ,

`SpringAware` annotation is scanned by `java.lang.Class.getAnnotation(Class)`  (See [SpringManagedContext]( https://github.com/hazelcast/hazelcast/blob/master/hazelcast-spring/src/main/java/com/hazelcast/spring/context/SpringManagedContext.java#L54)) which makes some `synchronized` calls and searches all classpath even a user doesn't use `@SpringAware` at all.

For those users,

[2015-05-18 14:02] eminn commented on #4975
Closing the issue since there isn't enough log information and the failure is not seen lately.

[2015-05-18 14:02] #4975 closed

[2015-05-18 14:07] bilalyasar commented on #5099
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast-client-new/3186/testReport/junit/com.hazelcast.client/ClientMemberAttributeTest/testChangeMemberAttributes/

[2015-05-18 14:09] mesutcelik commented on #5297
seems fixed already. related to cloudbees multicast problem.

[2015-05-18 14:15] sancar commented on #5100
There is nothing in the tests that can cause buildTimeout unless there is an unexpected environment problem. And since logs are lost, I dont have any clue to further investigate. I am closing this for now.

[2015-05-18 14:15] #5100 closed

[2015-05-18 14:39] Tembrel commented on #5315
Casting with a fallback should be safe enough:

[code]

Note that I'm using lambda syntax from Java 8 for compactness, but this approach really only makes sense for Java 6/7 uses. (And the common pool is only available in Java 8, so you'd have to find your own default here.)

`ICompletableFuture` is an awkward but unfortunately necessary wart in migrating towards full use of Java 8 while retaining

[2015-05-18 15:27] dsukhoroslov commented on #5323
thanks!

[2015-05-18 15:27] #5323 closed

[2015-05-18 15:39] serkan-ozal commented on #4775
I am closing this issue since I think it is not problem that unknown class from Hazelcast side. Because the user should configure a classloader that knows the associated class (`fish.payara.jsr107.test.TestPojo`) especially in case of Hazelcast is defined as different module on OSGI environment. It is expected that Hazelcast cannot know a class outside of its module if there is not a configured cl

[2015-05-18 15:39] #4775 closed

[2015-05-18 17:57] purplefox commented on #5220
@gurbuzali +1 Any updates much appreciated :)

[2015-05-18 18:19] #5099 closed

[2015-05-18 21:09] smillidge commented on #4775
I agree #4632 is the main issue

[2015-05-19 04:25] #5319 closed

[2015-05-19 04:29] pveentjer commented on #5305
A firewall that at random can close a connection is not going to make Hazelcast (or any other) network based system very happy. So I would try to get that problem fixed first.

[2015-05-19 04:37] pveentjer commented on #5209
@youngm did you manage to use the metrics branch?

https://github.com/hazelcast/hazelcast/pull/5322

[2015-05-19 04:39] youngm commented on #5209
@pveentjer yes, I believe the test case I provided is using a build from the metrics branch.

[2015-05-19 04:41] youngm commented on #5209
@pveentjer I also included some metrics log output in the .zip I provided.

[2015-05-19 04:47] pveentjer commented on #5209
Ok. great..  We'll have a look at it today. The main focus of the QA team is to get this d*mn OperationTimeoutException fixed.

[2015-05-19 04:49] youngm commented on #5209
Great!  I really hope you're able to duplicate it.

[2015-05-19 05:39] youngm commented on #5209
@jerrinot One other thing I noticed but wasn't able to confirm.  Slowing down the server seemed to make the issue a bit harder to duplicate.  For example, running in debug mode it seemed I needed to either add a bit more load or let the test run a little longer.  I also think @pveentjer 's metric build might similarly slow things a little making the issue a bit harder to duplicate.  So, if you hav

[2015-05-19 05:48] bwzhang2011 commented on #5305
@pveentjer, thanks for following. first, it was confirmed that the hz disconnetion  due to the impact  of the firewall configuration which always limited the time interval to half an hour or so. second, which puzzled me was the CallerNotMemberException itself or the hzInstance was built with HazelcastInstance not the client one. I don't know why it induced the exception.

[2015-05-19 08:07] pveentjer commented on #5305
I'm also confused about the exception. Because a client request is send to the server, and it is executed from that server (so the received of that client request is the caller). So the caller-address of the receiver is being used to determine if the caller is member; not the caller-address of the client.

So afaik the only way this exception could have been thrown, if there is a member to member

[2015-05-19 08:18] #5287 closed

[2015-05-19 08:43] pveentjer commented on #5298
SHould be resolved.

[2015-05-19 08:45] Donnerbart commented on #5172
Seems to be fixed since this nightly build: https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast/job/Hazelcast-3.x-nightly/566/

[2015-05-19 08:45] #5172 closed

[2015-05-19 09:19] Donnerbart commented on #5130
Good news: The `TargetDisconnectedException` in the new client has gone. Kudos to the client team to fix this!

Bad news: The scalability of `entrySet()` seems to be the same for the new client.
[code]
When I have time I can try to get the graphs for all the different setups. But even from this snippet the trend should be visible. Also the `values()` and `keySet()` seem to perform very good in com

[2015-05-19 10:41] serkan-ozal commented on #4841
@Danny-Hazelcast I will fix this issue with with post join operation.

This test doesn't compeletely fail on Enterprise JCache, because in your test you expect `IllegalArgumentException`. Then this temporary state is handled via `CacheReplicationOperation` since `CacheReplicationOperation` also carries cache configurations. So new node gets cache configuration and test can continue without problem

[2015-05-19 14:19] bwzhang2011 commented on #5305
@pveentjer, that's right. there're some other member for connecting to the hz cluster address. and here came another stack trace:
### Error committing transaction.  Cause: com.hazelcast.spi.exception.PartitionMigratingException: Partition is migrating! this:Address[172.16.111.107]:5880, partitionId: 51, operation: com.hazelcast.map.impl.operation.ClearOperation, service: hz:impl:mapService
### Cau

[2015-05-19 14:30] bwzhang2011 commented on #5305
the total processing is like this:
1. I made some control for router update which is correspond with the member connection of the client. that's to say when the client established the connection it would update the router to be true then all the services for the client application will be routed and processed meanwhile if invoke the disconnect operation it would clear the current cache for the rou

[2015-05-19 16:01] hitendrapratap commented on #4146
"so they will wait for entry processor to finish." : If that particular node is down then how it will finish the entry processor on the same node. Might be I am not understanding it correct?

[2015-05-19 16:58] serkan-ozal commented on #4902
Hi @trajano,
We don't use any third party library in our bundle. So JCache is optional.

For your case, you must add JCache library into `lib` folder and must add its path to classpath definition in `server.bat` or `server.sh`

For example if you are using **JCache 1.0.0**,

on **Windows**, you may change `CLASSATH` variable definition in `server.bat` like this:
[code]

or

on **UNIX** and **MacOS

[2015-05-19 16:58] #4902 closed

[2015-05-19 17:08] #4632 closed

[2015-05-19 20:38] pveentjer commented on #5305
I'll answer in more detail tomorrow. The PartitionMigratingException is not (should not) be a exception to worry about in the sense.. you should not see it. It is an internal control flow exception that triggers to caller to send the request to the new partition owner. This exception should be caught internally..no idea how you got a handle on it.

[2015-05-19 21:55] metanet commented on #5046
Closing this one since not failing for a long time. This timeout failure could be related to the bug fixed with #5306. We should re-open it if it fails again and make more investigation on this.

[2015-05-19 21:55] #5046 closed

[2015-05-19 22:00] metanet commented on #5056
Closing this one since not failing for a long time. This timeout failure can be related to the bug fixed with #5306. We should re-open it if it fails again and make more investigation.

[2015-05-19 22:00] #5056 closed

[2015-05-19 23:03] bwzhang2011 commented on #5305
@pveentjer, thanks for view and leave us more details about this for we don't see more about except for such thrown away.

[2015-05-20 04:16] pveentjer commented on #5305
I need to talk to the client guys. How did you 'find' this PartitionMigratingException? Did you catch it? Because this exception should not be ended up in user space since it is a control flow exception.

[2015-05-20 06:39] sancar commented on #4940
Fixed with new client protocol. Partition id is calculated once and set to clientMessage. ClientMessage is the request going from server to client. And it is accessed from client message(not calculated again) on server side.

[code]

Equivalent method of the code above is here:

https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/Abstr

[2015-05-20 06:39] #4940 closed

[2015-05-20 07:30] sancar commented on #4995
fixed via #5259

[2015-05-20 07:30] #4995 closed

[2015-05-20 08:18] eminn commented on #4877
I am closing this issue since this is related to a network isolation problem which is fixed by CloudBees.

[2015-05-20 08:18] #4877 closed

[2015-05-20 08:29] bwzhang2011 commented on #5305
@pveentjer, I found another deep stack trace as folows:
### Error querying database.  Cause: com.hazelcast.spi.exception.CallerNotMemberException: Not Member! caller:Address[172.16.111.107]:5880, partitionId: 27, operation: com.hazelcast.map.impl.operation.GetOperation, service: hz:impl:mapService
### Cause: com.hazelcast.spi.exception.CallerNotMemberException: Not Member! caller:Address[172.16.11

[2015-05-20 08:32] bwzhang2011 commented on #5305
from the stack trace. the application will invoke the get operation for map searching, but it also threw the exception:com.hazelcast.spi.exception.CallerNotMemberException: Not Member! caller:Address[172.16.111.107]:5880, partitionId: 27, operation: com.hazelcast.map.impl.operation.GetOperation, service: hz:impl:mapService.

[2015-05-20 08:32] sancar commented on #4955
Closing this one since it did not failed over 1 month.

[2015-05-20 08:32] #4955 closed

[2015-05-20 08:32] sancar commented on #5074
Closing this one since it did not failed over 1 month.

[2015-05-20 08:32] sancar commented on #5096
Closing this one since it did not failed over 1 month.

[2015-05-20 08:34] bwzhang2011 commented on #5305
my environment is to set up group of hazelcastInstance as the cluster and  other client member for application for connection. the processing had been listed and commented above.

[2015-05-20 08:35] sancar commented on #4787
Closing this one since it did not failed over 1 month.

[2015-05-20 08:35] #4787 closed

[2015-05-20 08:38] sancar commented on #4516
Closing this one since it did not failed over 1 month.

[2015-05-20 10:31] cleishm commented on #3103
Hi @sancar,

We've also run into this issue. We'd like to use hazelcast as part of another java library, and thus setting system properties to control logging is not appropriate. The ideal would be to have the ability to inject a logging implementation into the hazelcast instance, and hazelcast client instance, during construction.

Additionally, we're interested in proving some of our time to imp

[2015-05-20 10:35] Donnerbart commented on #3103
Maybe the Hazelcast Incubator is the right place this change: http://blog.hazelcast.com/2015/02/27/the-hazelcast-incubator/

[2015-05-20 10:39] cleishm commented on #3103
@Donnerbart I note the following description in that blog: "The Hazelcast Incubator is an incubation process for external Hazelcast extensions.". This couldn't be implemented as an extension - logging is pervasive throughout the core Hazelcast codebase.

[2015-05-20 10:56] mesutcelik commented on #3739
Last two failures are OpenJDK9 so we can ignore this if it does not happen on other builds.

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK9-Quality-Outreach/70/com.hazelcast$hazelcast/testReport/com.hazelcast.executor/ExecutorServiceTest/testSubmitToMemberCallable/

[2015-05-20 10:57] mesutcelik commented on #5257
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK9-Quality-Outreach/70/com.hazelcast$hazelcast/testReport/com.hazelcast.map.mapstore/MapLoaderFailoverTest/testLoadsAll_whenInitialLoaderNodeRemovedWhileLoading/

[2015-05-20 10:57] Donnerbart commented on #3103
The blog article may not reflect the whole Incubator purpose. Please have a look at the HEP wiki page: https://hazelcast.atlassian.net/wiki/display/COM/Hazelcast+Enhancement+Proposals

I think this should fit your request quite well. Also you should get the help you need to implement this together with us.

[2015-05-20 10:59] mesutcelik commented on #5096
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK7-Quality-Outreach/65/

[2015-05-20 11:56] noctarius commented on #3103
@Donnerbart is right, sounds like a good fit to me, if you're interested drop me a line to discuss further details. You can also join the gitter channel if you prefer realtime communication over email :)

[2015-05-20 13:01] u6f6o commented on #3103
Not sure if it's a good fit for the incubator. To me it's more like a bug. When I opened this initially, there were >=3 possibilities mentioned in the documentation how to configure the right logger but only one worked correctly.

We solved this by statically defining the LoggerFactory in our patched hazelcast version and thus it was not important anymore. Since other people suffer on it as well,

[2015-05-20 13:05] vladlapayev opened #5333 "IMap: getAll operation increases element TTL"
Hi there,

I found a strange behavior of the IMap getAll method. I put a single value to the IMap with some ttl. Then I periodically invoke a getAll method to get access to this value while ttl is not reached. But ttl will be never reached during execution.
Access period is less that ttl.

Example:
[code]

In this case element with key=key-1 will expire only when execution of this code is finished

[2015-05-20 13:07] yarki commented on #5333
+1

[2015-05-20 13:14] yarki commented on #5333
+1

[2015-05-20 13:22] ahmetmircik commented on #5333
Thanks for reporting this, will be fixed in 3.4.3.

[2015-05-20 14:08] noctarius commented on #3103
Yeah it won't be an easy job, especially because we have statically acquired loggers.

[2015-05-20 15:33] zeratul021 opened #5337 "IMap could support "faster" bulk operations setAll, putAllAsync and setAllAsync"
Feature request from a SO question http://stackoverflow.com/q/30344207/303559.

It would be nice for IMap to support "fast" bulk operation like setAll() and a even "faster" non-blocking putAllAsync() or even setAllAsync() bulk operations.

The former would be beneficial for use-cases where user needs to insert/update lot of generated/loaded data and is not interested in previous values.
The asynch

[2015-05-20 15:40] agherardi opened #5338 "Hazelcast client unresponsive, OperationTimeoutException in the logs"
Hi,
My application uses Hazelcast 3.4.2 on Windows. In my test environment, I have a cluster with 2 nodes - 192.168.20.22 and 192.168.20.25. After running an overnight performance/load test with no issues, when I stopped my test script this morning Hazelcast started "misbehaving". Specifically:
1. I have a client utility that connects to the cluster as an Hazelcast client and displays that status

[2015-05-20 16:00] ahmetmircik opened #5339 "Write-behind may cause read of stale value upon migration"
Here is a simple mostly failing test.
[code]

[2015-05-20 16:21] markathomas opened #5340 "3.5-EA docs incorrect"
In the "Upgrading from 3.x" section of the 3.5-EA docs the "Introducing the spring-aware element" section references `<hz:spring-aware enabled="false"/>`; however, the 3.5 Spring XSD has changed the definition of this element to be a type of  `xs:string` with no attributes.  The docs should be updated to reflect this change and, in my opinion, the type should be `xs:boolean`.

[2015-05-20 21:08] youngm commented on #5209
@jerrinot any luck duplicating the issue?  Or do I need to keep thinking of ways you might be able to duplicate this?

[2015-05-20 22:33] bwzhang2011 commented on #5337
+1

[2015-05-21 01:28] agherardi commented on #5338
Looking at the output of jstack, I see several threads stuck in java.lang.ClassLoader.loadClass. For instance:

"hz._hzInstance_1_vmscore_1-9b945d52-2b80-4844-a248-e57020a66cb2.generic-operation.thread-0" prio=6 tid=0x000000001522d800 nid=0x1cd4 waiting on condition [0x00000000172ce000]
   java.lang.Thread.State: WAITING (parking)
	at sun.misc.Unsafe.park(Native Method)
	- parking to wait for  <0x

[2015-05-21 04:35] mesutcelik commented on #5257
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8-Quality-Outreach/66/com.hazelcast$hazelcast/testReport/com.hazelcast.map.mapstore/MapLoaderFailoverTest/testLoadsAll_whenInitialLoaderNodeRemovedWhileLoading/

[2015-05-21 04:43] pveentjer commented on #5338
Thanks for this excellent information this will help a lot figuring out the cause. I'll have a quick peek at the tryLoadClass; it is strange that a thread is parked here.

[2015-05-21 04:50] pveentjer commented on #5209
Hi Mike, Jaromir and I have been looking at the OperationTimeoutException. And we are confident we have found a cause. We can reproduce it in minutes. But this only is an issue in the 3.5 branch caused by the IO-balancer. We'll probably provide a fix for it today

So we have not (yet) found the cause of why it happens on 3.4.x

[2015-05-21 04:56] pveentjer commented on #5338
Can you run jstack with '-l' option added? This way we can see which thread is owning that lock the thread 'suffering' thread is waiting for. I find it strange that the access to the classloader is blocking 'indefinitely'

[2015-05-21 04:57] agherardi commented on #5338
Thank you. The jstack output doesn't show any threads owning 0x0000000624fe3360 - i.e., 0x0000000624fe3360 is not listed under any "Locked ownable synchronizers" section.

The only relevant information I found on the web is https://bugs.openjdk.java.net/browse/JDK-7011862 .

[2015-05-21 04:59] pveentjer commented on #5338
You are fast! Which Java version are you using? And would it be possible to run with a newer Java version, just to see if the problem disappears.

[2015-05-21 05:05] agherardi commented on #5338
Here's the output of java -version:
java version "1.7.0_51"
Java(TM) SE Runtime Environment (build 1.7.0_51-b13)
Java HotSpot(TM) 64-Bit Server VM (build 24.51-b03, mixed mode)

Yes, I'll try with the latest 1.7 update. I'll also try to run the app with a custom classloader that catches StackOverflowError's, to see if we're hitting the same issue described in https://bugs.openjdk.java.net/browse/J

[2015-05-21 05:09] pveentjer commented on #5338
How reliably can you reproduce this error?

[2015-05-21 05:23] agherardi commented on #5338
It's not super easy, but I should be able to make it happen again.

[2015-05-21 05:54] bwzhang2011 commented on #5305
@pveentjer, any update with such issue. I need your help to confirm that whether I should control the clear operation for another member for connection to be prevented from the exception.

[2015-05-21 07:13] cleishm commented on #3103
@noctarius yeah.

I dropped you an email. Let's chat sometime.

[2015-05-21 07:30] #5340 closed

[2015-05-21 07:34] emrahkocaman commented on #5340
Starting with 3.5 `SpringAware` is disabled by default and can be enabled by adding `<hz:spring-aware />` tag. See [Spring Integration]( https://github.com/hazelcast/hazelcast/blob/master/hazelcast-documentation/src/SpringIntegration.md) for sample usage.
I've updated "Upgrading from 3.x" section also.
Thanks for reporting @markathomas .

[2015-05-21 07:49] metanet commented on #5104
Closing this one since I couldn't reproduce this issue on either 3.2.4 or current master.

[2015-05-21 07:49] #5104 closed

[2015-05-21 08:40] bwzhang2011 opened #5341 "IMap GetOperation invoked in 3.5 EA2-Snapshot produced IllegalStateException with wrong partition but not occurred in 3.4.2"
hzteam, while upgraded to the latest 3.5 EA2 snapshot, I got the exception stack trace as follows while in 3.4.2 is OK, here comes my stack traces and hope someone could help me locate the problem.

[code]

[2015-05-21 10:18] bwzhang2011 commented on #5341
@pveentjer, or someone else. I tried it many times this afternoon that it will throw such exception while hz3.4.2 will not. i didn't test with the E-A release just for the latest snapshot so I don't know whether there's proper changed for the logic.

[2015-05-21 10:28] Donnerbart commented on #5341
I didn't have an extensive look at the stacktrace yet, but if we have to reproduce your problem at our side it would be great if you could give us some more information and maybe a code snippet :)
* map key/value types
* map key/value length (if String or Byte)
* map key/value count (how many different keys/values)
* cluster layout (members, clients)
* from where did you execute the call, member o

[2015-05-21 13:31] sertugkaya opened #5347 "For JCache configuration: duration for ExpiryPolicy can not be set declaratively, but only programmatically"
Here is how an ExpirePolicy is set on JCache configuration:
[code]
Alternatively, this can be done in the xml file this way:
[code]

So we can not set duration in hazelcast.xml file while same can be done in the programmatic way.

[2015-05-21 14:15] bwzhang2011 commented on #5341
@Donnerbart, thanks for view and advice. as compared to hz3.4.2, I did think that hz3.5 changed for the interval innovation from the stack trace. what's the more I will introduce the procedure as follows:
1. I just set up the hz instance in local mode with any other client connecting and the client is the old one(I just use mvn clean install -DskipTests=true to build the community of hz3.5)
2. the

[2015-05-21 14:20] youngm commented on #5209
@pveentjer Great!  I'll watch for that fix and give a 3.5 build another try.  I'll report back if I'm still seeing the issue.

[2015-05-22 01:46] bwzhang2011 commented on #5220
@gurbuzali, any update with such issue.

[2015-05-22 05:10] mahileeb opened #5349 "Thread.sleep in MapProxySupport slows instance start up"
I've noticed that our automated tests have slowed down since upgrading to 3.5EA due to the Thread.sleep(1000) at MapProxySupport:664 causing the load of each map to take at least one second.

Is there someway this can be changed to a wait/notify instead of a fixed sleep?

[2015-05-22 05:13] mahileeb commented on #5349
It's actually worse than 1sec per map, seems more like 4sec. All these maps are empty on start so loading should be instant

[2015-05-22 05:54] pveentjer commented on #5341
I think something fishy is going on when within an operation another invocation is being done. This should not be a problem for the same partition, but is not allowed for a different one due to deadlocks.

Apparently it isn't detected correctly and therefore this illegal call is allowed and only when executed you illegal call is detected. The top call is a queue PollOperation and this triggers an

[2015-05-22 06:00] pveentjer commented on #5341
I think I found the cause:

We have a method that checks if an invocation can be done from the calling thread and the operation executed as well from the calling thread.

[code]

In this case we check if the calling thread is owner of that partition and apparently 225 and 157 are mapped to the same thread.

However..  instead of offloading the inner operation to the correct OperationHandler, I gue

[2015-05-22 07:05] pveentjer commented on #5341
I managed to reproduce it:

[code]

[2015-05-22 08:50] purplefox commented on #5220
@gurbuzali Could you give us an update on the progress? Even if it's to say "I am still working on it and hopefully will have a solution in the next couple of days", is better than not saying anything at all.......

[2015-05-22 08:57] gurbuzali commented on #5220
@purplefox sorry for not updating the issue, was a bit busy with some other stuff.
For the issue, I don't have anything new to say. I will give it more time this weekend .

[2015-05-22 09:16] bwzhang2011 commented on #5341
@pveentjer, thanks for view and accurate location and for producing such. I wondered that why it's not occurred in 3.4.x does it changed a lot since 3.5 or else if I used it wrong I will make some modification.

[2015-05-22 09:34] pveentjer commented on #5341
The 3.5 release has a OperationRunnerImpl for every partition; something not available in the 3.4 release.

[2015-05-22 10:09] bwzhang2011 commented on #5341
@pveentjer, thanks for feed back and hope it could be fixed as expected.

[2015-05-22 10:35] Donnerbart opened #5355 "Partition imbalance with PartitionGroupConfiguration of type HOST_AWARE"
During some Simulator runs I noticed a partition imbalance with the  `PartitionGroupConfiguration` we use:
[code]

I made a cleanup of the `PartitionDistributionTest` and added new test cases with that configuration which fail (#5354). Just clusters with an odd member count seem to fail.

Here is the output of the new tests:
[code]

[2015-05-22 11:42] ahmetmircik commented on #5333
closed via https://github.com/hazelcast/hazelcast/pull/5343

[2015-05-22 11:42] #5333 closed

[2015-05-22 11:43] innokenty-shuvalov commented on #3755
Hi, I'm running version 3.4.1 and I've got exactly the same issue. Can you please take a look?

[code]

[2015-05-22 11:43] Donnerbart commented on #5355
Note: The unit tests and the Simulator tests were all executed on a single machine with multiple Hazelcast instances.

[2015-05-22 12:45] #5341 closed

[2015-05-22 12:45] pveentjer commented on #5341
Fixed:

https://github.com/hazelcast/hazelcast/pull/5353

[2015-05-22 14:21] bwzhang2011 commented on #5341
@pveentjer, thank for quick fix and hope it will be merged into master quickly.

[2015-05-22 14:24] bilalyasar commented on #4516
new failure:
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK9-Quality-Outreach/72/console

[2015-05-22 14:26] bilalyasar commented on #5102
new failure:
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8/567/console

[2015-05-22 14:27] bilalyasar commented on #4921
new failure:
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK7/544/console

[2015-05-22 14:27] bilalyasar commented on #5298
new failure:
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/579/console

[2015-05-22 17:04] bilalyasar opened #5362 "[TEST-FAILURE] map.ClientMapEvictAllTest timeout"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-sonar/628/console

[2015-05-22 19:52] youngm commented on #5209
@pveentjer & @jerrinot FWIW, I tried a build based on de74fc4cd4cacea08f38eb253acec4b25db8fc7e with my test case and got the same failure I was getting before.  Let me know if I can do anything to help.

[2015-05-23 07:30] pveentjer commented on #5209
Hi Mike, I think you are pointing to the wrong commit here.

We have found the cause of a OpTimeoutEx due to a race in the balancer. We have fixed the problem and now in the processing verifying the fix. It has not yet been merged in the master.

https://github.com/hazelcast/hazelcast/pull/5342

Can you give it a try with this branch? Perhaps you are running into a different cause of the OpTimeout

[2015-05-23 09:55] pveentjer commented on #5209
I want to zoom in to your initial comment

[code]

Perhaps I'm  missing something. If everything was written to the channel and then you call registerWrite than you will be notified by the socket as soon as there is space. Probably you will be immediately notified that there is space, since you were able to write everything.

So what happens in 3.4 is:

[code]

So currently I don't see how your sc

[2015-05-23 10:25] pveentjer commented on #4809
The amount of free memory could be the cause. Can you run with less data or give memory memory? OperationTimeoutExceptions are annoying because there are many parts in the invocation chain. So it can be caused by many reasons.

So try to run with less gc pressure and see if the problem persists.

[2015-05-23 10:26] pveentjer commented on #5338
Do you have an update?

[2015-05-23 10:31] bwzhang2011 commented on #5349
@gurbuzali, would you mind introducing the sleep use case in MapProxySupport and how to adjust such parameter just as @mahileeb pointed out.

[2015-05-23 10:32] bwzhang2011 commented on #5338
@agherardi, did you test and verify it in 3.5 E.A ?

[2015-05-23 12:51] pveentjer commented on #5338
I don't think his issue is related to HZ. But it appears to be a classloader getting stuck.

[2015-05-23 13:51] agherardi commented on #5338
We found a bug in our app that may be related to this. Since fixing that bug, I have NOT been able to reproduce this issue in my development environment.

Our testers need to validate the bug fix in their environment. Unfortunately, yesterday they couldn't run their tests due to networking issues - totally unrelated to Hazelcast, of course. I expect those issues to be fixed by Tuesday 5/26 (the 25

[2015-05-23 14:28] youngm commented on #5209
@pveentjer Yeah, I didn't know very much about nio when I wrote that description and that theory there is completely wrong.  I've since done abundant raw nio testing and study and found what you say is true.  Under normal circumstances the selector always selects if it can write.

To try and determine if the bug was JDK Selector related or something else I later ran a test where I modified the wri

[2015-05-24 11:47] bwzhang2011 commented on #5305
@pveentjer, how does such issue going on ?

[2015-05-24 11:49] bwzhang2011 commented on #2838
@gurbuzali, any update with such issue ?

[2015-05-24 13:25] jamiecramb commented on #564
I have a use case where I have a modular application (spring-based). Each module may provide a custom serializer which will be instantiated in the spring application context if the module is present at application startup. I can get a handle to all of the serializers via Spring dependency Injection; however, i need a way to programmatically register the serializers as part of application start up

[2015-05-24 15:03] noctarius commented on #564
@mdogan Why have you removed core label? This must be both client and core. Obviously I would like to have this as a general SPI for OSGi, Spring applications and any other kind of module based system.

[2015-05-24 20:13] bilalyasar commented on #5286
very related failure, so i will not open new issue, i am reopening this one:
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OpenJDK7/com.hazelcast$hazelcast-client/246/testReport/junit/com.hazelcast.client/ClientReconnectTest/testClientReconnectOnClusterDownWithEntryListeners/

[2015-05-24 20:14] bilalyasar commented on #4252
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-IbmJDK1.7/com.hazelcast$hazelcast/248/testReport/junit/com.hazelcast.replicatedmap/ReplicatedMapTest/testEntrySetBinaryDelayDefault/

[2015-05-24 20:22] bilalyasar opened #5363 "[TEST-FAILURE] JCacheListenerTest.testSyncListener"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OracleJDK1.7/com.hazelcast$hazelcast/125/testReport/junit/com.hazelcast.cache/JCacheListenerTest/testSyncListener/

[2015-05-24 20:23] bilalyasar commented on #5035
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OracleJDK1.6/com.hazelcast$hazelcast/247/testReport/junit/com.hazelcast.map.mapstore/MapLoaderTest/testMapLoaderLoadUpdatingIndex/

[2015-05-24 20:24] bilalyasar opened #5364 "BasicMapTest.testMapTryPut"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OracleJDK1.6/com.hazelcast$hazelcast/246/testReport/junit/com.hazelcast.map/BasicMapTest/testMapTryPut/

[2015-05-24 20:26] bilalyasar commented on #5257
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast/3209/testReport/junit/com.hazelcast.map.mapstore/MapLoaderFailoverTest/testLoadsAll_whenInitialLoaderNodeRemovedWhileLoading/

[2015-05-24 20:27] bilalyasar commented on #3739
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK9-Quality-Outreach/com.hazelcast$hazelcast/70/testReport/junit/com.hazelcast.executor/ExecutorServiceTest/testSubmitToMemberCallable/

[2015-05-24 23:22] gurbuzali commented on #5220
Hi @purplefox short update, looks like the issue is not related with multimap but the handling of concurrent shutdown. We don't have a verified fix yet, still investigating for one.

[2015-05-25 08:33] serkan-ozal commented on #4335
closed via #5332

[2015-05-25 08:33] #4335 closed

[2015-05-25 08:56] metanet commented on #3739
I think this failure is an important one. If I understand it correctly, we do not return a response for an Invocation if the execution of the sending response operation is rejected by the thread pool.

[2015-05-25 09:09] bwzhang2011 commented on #1655
@pveentjer, how about some support for transaction topic, as reliable topic is going to add support for subscirbe topic, will it be supported for topic transaction. or else the fire-forget mod will not be supported for transaction use cases.

[2015-05-25 09:12] bwzhang2011 commented on #611
@emrahkocaman, thanks a lot for self-assigned for hazelcast spring transaction integration. I think it's very useful in distributed transaction area. some helpful or official support originated from hazelcast will be much more popular but thank you all the same with other support like @mpilone  support. hope it could be merged int hz-spring in 3.5 I think it's not a very complex one as there's man

[2015-05-25 09:33] eminn commented on #4852
Closing the issue since there is no log information and that is not failing recently.

[2015-05-25 09:33] #4852 closed

[2015-05-25 10:36] pveentjer commented on #1655
No transactional topics planned.

Durable subscription has been added to the reliable topic.

[2015-05-25 10:48] #5148 closed

[2015-05-25 11:02] ajermakovics commented on #5275
Should be fixed with https://github.com/hazelcast/hazelcast/pull/5295

[2015-05-25 11:02] #5260 closed

[2015-05-25 11:07] #5275 closed

[2015-05-25 11:26] eminn commented on #5031
Closing the issue since the test is not failing recently.

[2015-05-25 11:43] ajermakovics commented on #4618
The test is passing for me on the current master. Proposing to close this issue. If there's a variation of the test that still fails then that could go into a separate issue.

[2015-05-25 12:46] eminn commented on #5362
[code]
I don't think this build failure directly related to hazelcast.

[2015-05-25 12:49] mesutcelik commented on #5362
:+1:

I think @bilalyasar has already raised a ticket about this problem to Cloudbees.

[2015-05-25 12:59] jerrinot commented on #5182
fixed by #4366

[2015-05-25 12:59] #5182 closed

[2015-05-25 13:07] bwzhang2011 commented on #5220
@gurbuzali, maybe @pveentjer  or  @noctarius  could leave us some advice.  I wonder whether hz3.5 has the same issue.

[2015-05-25 13:08] bwzhang2011 commented on #5220
@purplefox, did you test it with the latest hazelcast (hz3.5 snapshot)

[2015-05-25 13:34] ahmetmircik opened #5368 "Subsequent remove operations may cause read of stale value from map store"
This is possible when write coalescing is disabled. Cleaning up phase for processed entries is buggy.
As a result of this bug a removed entry can be read from a map store. This is a very rare case but possible.

[2015-05-25 14:14] ahmetmircik commented on #5364
closed via https://github.com/hazelcast/hazelcast/commit/cba5069687cbeacd197393dba096a6d7bb30a0be

[2015-05-25 16:56] youngm commented on #5209
@pveentjer @jerrinot I tried the branch in https://github.com/hazelcast/hazelcast/pull/5342 as we expected I still fail the same way.  Though now in addition to OperaionTimeoutExceptions I also get log messages like the ones below when things go bad:

[code]

[2015-05-25 19:35] pveentjer commented on #5209
How reliable can you reproduce the problem and how much time does it take?

[2015-05-25 19:46] youngm commented on #5209
@pveentjer I can reproduce it 100% in my environment.  I just have to give it load.  As far as how much time and load that is a little trickier.  Once I've experienced the issue I can restart the processes in the cluster and duplicate it again rather quickly 5-15 min.

Occasionally, I'll notice it takes a couple of hours.  One time I switched to new Lucid VMs where before I was using trusty and it

[2015-05-25 19:47] jerrinot commented on #5209
Hi @youngm: Could you please specify your environment a bit? Thanks!

[2015-05-25 19:48] youngm commented on #5209
@jerrinot what kind of details do you want?  I mentioned in the test case comment:

* Oracle build of java 8u40 64bit.
* Ran a 2 node server. Each on an 8 CPU Ubuntu Trusty VM. (Also duplicated on Ubuntu Lucid haven't tried any other OS)
* Run anywhere from 3-10 client vms. Also each with 8 cpus running Ubuntu Trusty.

Running on VMWare infrastructure.

[2015-05-25 19:49] youngm commented on #5209
@jerrinot Are you trying to reproduce this now?  Is there a chat client we can connect on to discuss?

[2015-05-25 19:50] jerrinot commented on #5209
Let's go to: https://gitter.im/hazelcast/hazelcast

[2015-05-26 06:10] bwzhang2011 commented on #5130
@Donnerbart,  how could you make that picture to get the performance test cases ? would you mind sharing your experiences or skill for that, if we want to dig into some analysis for the API

[2015-05-26 08:13] serkan-ozal commented on #5347
@sertugkaya
I am adding declarative configuration support for `ExpiryPolicyFactory` like this:

[code]

[2015-05-26 08:23] sertugkaya commented on #5347
:+1:

[2015-05-26 09:07] eminn commented on #5362
I am closing this issue then.

[2015-05-26 09:07] #5362 closed

[2015-05-26 09:51] evredinka opened #5371 "hazelcast keys partition issue"
then i run two hazelcast instances with following configuration, after theese instanses form a cluster of 2 members, i execute instanse.getMap(myMap).size (to start loading data to myMap)

as i can see from 1000 elements (it is the expected map size), the first node has near 514, the other near 63 entries

so not all data are loading and partitions are not equal
![2015-05-26_124813](https://cloud.

[2015-05-26 14:13] Donnerbart commented on #5130
Since I didn't need to automate this I used LibreOffice. You can also use OpenOffice or Excel. I just copy & pasted the output of the test into the program.

If I would need to do this on a regular basis I would use at least a CSV format and maybe HdrHistogram. Or I would write a Simulator test for this and use Visualizer to compare the results of different runs: http://blog.hazelcast.com/2015/05/

[2015-05-26 14:26] #5339 closed

[2015-05-26 14:26] #5368 closed

[2015-05-26 14:45] Danny-Hazelcast commented on #4841
its probably one of them auto closes,  but I would like to keep it open,  as i have a simulator test to reproduce this one.

[2015-05-26 15:02] bilalyasar commented on #4993
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-IbmJDK1.7/251/console

[2015-05-26 20:17] ghepardo commented on #564
Hello,
I did something similar in a project within an OSGi environment, and what
we did was wrapping the Map API adding our own serializer/de-serializer
calls (we did our custom MAP API and implemented an Hazelcast SPI with
relied on a serialization bundle).

It is not at all the optimal approach, but it helped in that project.

2015-05-24 17:03 GMT+02:00 noctarius aka Christoph Engelbert <
notifi

[2015-05-26 20:24] youngm commented on #5209
Just to update the issue @jerrinot was unable to duplicate the problem with the test case provided in AWS.  So, I think you can de-prioritize this issue.  I'll run some more tests over the next couple of weeks in both amazon and in my infrastructure to try and narrow the problem further.  But, at this point it doesn't appear to be a bug in hazelcast instead some kind of issue with OS config or inf

[2015-05-27 06:26] #4835 closed

[2015-05-27 07:53] mdogan commented on #4398
I've done a fix on my repo regarding this issue: https://github.com/mdogan/hazelcast/tree/issue-4398

See commit: https://github.com/mdogan/hazelcast/commit/a5db746d227b5ea0206e4f7f35025c0bd6c66cca

[2015-05-27 08:25] eminn commented on #5211
Thanks for reporting the bug, providing a test case and a suggested solution. The fix for this issue will be available for 3.4.3 and 3.5 versions.

[2015-05-27 08:56] kobalski commented on #5203
Fixe via https://github.com/hazelcast/hazelcast/pull/5255

[2015-05-27 08:57] #5203 closed

[2015-05-27 09:21] eminn commented on #5191
Closing the test failure since it is not failing recently.

[2015-05-27 09:21] #5191 closed

[2015-05-27 09:22] eminn commented on #5045
Closing the test failure since it is not failing recently

[2015-05-27 09:22] #5045 closed

[2015-05-27 09:55] pveentjer commented on #5298
I made some minor test modifications. I'm going to close it since it currently doesn't fail. It should not be 'possible' for the test to run for that long since it is bound by time and assertTrueEventually is done to prevent infinite waiting.

[2015-05-27 10:14] mdogan commented on #5103
Closing.. not reproducible and not failing more than a month.

[2015-05-27 10:32] mdogan commented on #2266
#4322, #4396
#4949, #5013
#5068

[2015-05-27 10:32] #2266 closed

[2015-05-27 10:34] #5101 closed

[2015-05-27 10:36] mdogan commented on #5324
fixed by  #5316

[2015-05-27 10:36] #5324 closed

[2015-05-27 12:07] #5211 closed

[2015-05-27 12:57] #4993 closed

[2015-05-27 12:58] pveentjer commented on #5158
I'm going to move this issue to the 3.6 release. Although the behavior is not correct, the API is not intended to be used this way. I just verified with the ICache, and it works fine.

[code]

[2015-05-27 13:00] serkan-ozal commented on #5347
closed via 5372

[2015-05-27 13:00] #5347 closed

[2015-05-27 13:16] metanet commented on #5338
Closing this one for now. @agherardi Please inform us when you have an update.

[2015-05-27 13:16] #5338 closed

[2015-05-27 13:19] mdogan commented on #5158
I already fixed this, see: https://github.com/hazelcast/hazelcast/issues/5382

[2015-05-27 13:20] trohovsky opened #5386 "list remove operation should publish REMOVED event"
Currently it publishes ADDED event.

[2015-05-27 13:28] trohovsky commented on #5386
https://github.com/hazelcast/hazelcast/pull/5387

[2015-05-27 13:39] riverwinddk opened #5388 "Losing data from cluster when node is terminated"
Scenario:
1. Start first node, and let it populate a map with 100k entries
2. Start second node, and let it start joining cluster
3. Terminate second node during join
4. Observe that data is lost seen from first node.

Note, however, that data is *not* lost in 3.3(.x), only in 3.4(.x) and 3.5-EA.
Code below produces the following result after the scenario above:
3.3 result:
Node1: Size of map is 1

[2015-05-27 13:41] th0rb3n opened #5389 "ClassCastException at com.hazelcast.map.proxy.MapProxySupport$1.onResponse"
We're using Hazelcast v3.2.4. Maybe already fixed in a later version...

[code]

[2015-05-27 14:44] bwzhang2011 commented on #5130
@Donnerbart, thanks for your share. Maybe most of us should spare more time for hz-simulator for clustering testing and I will spare more time for hdrhistogram learning.

[2015-05-27 14:46] bwzhang2011 commented on #5130
by the way, how does the solution of the new client towards the entry set complexity going on ? any response from the client team to be be confirmed ?

[2015-05-27 15:37] Michael-S-Smith opened #5391 "UnsupportedOperationException when invalidating Hibernate L2 Cache"
When any entities are defined as read only in the Hibernate L2 cache, an invalidation of the cache (such as caused by executing a native SQLQuery) leads to the following error:
java.lang.UnsupportedOperationException: Attempting to lock a read-only cache region

This works fine using EHCache as the L2 provider. Is this a bug? It was also reported here some time ago: https://groups.google.com/forum

[2015-05-27 16:06] kobalski commented on #5391
Implementation of read only access strategies are same in both EHCache and Hazelcast they both throw exception because when an entity is in read only mode lock method should not be called, this seems to be a bug.  Thanks for reporting issue @Michael-S-Smith .

EHCache Impl :
http://grepcode.com/file/repository.jboss.org/nexus/content/repositories/releases/org.hibernate/hibernate-ehcache/4.1.0.Fina

[2015-05-27 16:14] Michael-S-Smith commented on #5391
Thanks for the quick reply. Perhaps the difference is further up the chain - a call to
session.getSessionFactory().getCache().evictAllRegions() does not lead to this exception with read-only entities with EHCache, but in Hazelcast it does.

[2015-05-27 23:32] bilalyasar opened #5392 "[TEST-FAILURE] JCacheListenerTest.testRemoveWithSyncListener_whenEntryNotExists"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8-Quality-Outreach/com.hazelcast$hazelcast/73/testReport/junit/com.hazelcast.cache/JCacheListenerTest/testRemoveWithSyncListener_whenEntryNotExists/

[2015-05-27 23:33] bilalyasar opened #5393 "MigrationAwareServiceTest Failures"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8-Quality-Outreach/com.hazelcast$hazelcast/72/testReport/junit/com.hazelcast.spi/MigrationAwareServiceTest/testPartitionDataSize_whenNodesStartedParallel_withSingleBackup/

[2015-05-27 23:34] bilalyasar commented on #5096
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-sonar/637/console

[2015-05-27 23:38] bilalyasar commented on #5257
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK7-Quality-Outreach/com.hazelcast$hazelcast/71/testReport/junit/com.hazelcast.map.mapstore/MapLoaderFailoverTest/testLoadsAll_whenInitialLoaderNodeRemovedWhileLoading/

[2015-05-27 23:41] bilalyasar opened #5394 "[TEST-FAILURE] MergePolicyTest test failures"
[code]
com.hazelcast.map.MergePolicyTest.testPutIfAbsentMapMergePolicy
com.hazelcast.map.MergePolicyTest.testHigherHitsMapMergePolicy
com.hazelcast.map.MergePolicyTest.testCustomMergePolicy
com.hazelcast.map.MergePolicyTest.testLatestUpdateMapMergePolicy
com.hazelcast.map.MergePolicyTest.testPassThroughMapMergePolicy

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/489/

[2015-05-28 06:24] bilalyasar commented on #4549
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast-client-new/585/testReport/junit/com.hazelcast.client.queue/ClientQueueDisruptionTest/clientsConsume_withNodeShutdown/

[2015-05-28 08:32] eminn commented on #5394
This problem has been fixed by https://github.com/hazelcast/hazelcast/commit/e725487bbcc32a781d091a101534fd468c8f3c50

[2015-05-28 08:32] #5394 closed

[2015-05-28 08:46] ahmetmircik commented on #3859
Unfortunately the documentation update doesn't seem to be doable because there will be no new patch version for 3.2. Closing this one.

[2015-05-28 08:46] #3859 closed

[2015-05-28 10:08] #5386 closed

[2015-05-28 10:21] mdogan commented on #4618
Test is passing on master branch (3.5-SNAPSHOT) but failing on maintenance (3.4.3-SNAPSHOT). I guess this is fixed by @ajermakovics's latest map-store enhancements.

@ajermakovics, if this is not going to be fixed in 3.4.x than I think we can close this issue and update milestone to 3.5.

[2015-05-28 10:32] mesutcelik commented on #5393
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/com.hazelcast$hazelcast/549/testReport/junit/com.hazelcast.spi/MigrationAwareServiceTest/testPartitionDataSize_whenNodesStartedParallel_withSingleBackup/

[2015-05-28 10:33] mesutcelik commented on #4903
duplicate of https://github.com/hazelcast/hazelcast/issues/5393

[2015-05-28 10:33] #4903 closed

[2015-05-28 10:34] mesutcelik commented on #3064
no failure recently.

[2015-05-28 10:34] #3064 closed

[2015-05-28 11:27] jerrinot commented on #5220
Hi,
we fully understand the root cause now. There is a race in a concurrent shutdown process. It's safe to shutdown at most X members where X is no. of sync backups.

I saw your workaround https://github.com/eclipse/vert.x/commit/def859b5ec98c388aafc937035d8087fbd0cd99b I quite like it; it's a good idea!

Improvements in the graceful shutdown procedure are on our radar for a future Hazelcast versi

[2015-05-28 12:02] jerrinot commented on #5158
assigning to @mdogan as he has already sent a PR with a fix. #5382

[2015-05-28 12:05] #5273 closed

[2015-05-28 12:07] gurbuzali opened #5400 "XAResource.end should not need to check for threadId"
please see comment https://github.com/hazelcast/hazelcast/pull/5390#issuecomment-106075294

[2015-05-28 12:08] gurbuzali opened #5401 "XAResource.rollback should not need the transaction to be in prepared state if called from another member/client"
please see comment https://github.com/hazelcast/hazelcast/pull/5390#issuecomment-106268872

[2015-05-28 12:14] purplefox commented on #5220
Hi @jerrinot could you elaborate a bit more on "It's safe to shutdown at most X members where X is no. of sync backups." ?

Do you mean that you cannot guarantee the consistency of the data if more than X members are *concurrently* shutdown where X is number of sync backups?

[2015-05-28 12:17] jerrinot commented on #5220
@purplefox: that's correct. there is a tiny chance of data-loss in the case.

[2015-05-28 12:20] jerrinot commented on #5010
assigning to @mdogan as he is working on a fix. #5399

[2015-05-28 12:23] purplefox commented on #5220
Can you quantify "tiny chance"?

Some of our users can easily reproduce this in a real set-up by shutting down servers concurrently resulting in an inconsistent state. I.e. it doesn't appear to be a tiny chance, there appears to be a very significant probability of it happening. This can be seen in the reproducer I provided where the cluster gets into an inconsistent state in the majority of runs,

[2015-05-28 12:49] jerrinot commented on #5220
Here is what's going on:

Let's assume we have a cluster of 3 members: Member1, Member2, Member3 and we have just 3 partitions in a system.

[code]

During a shutdown `Member1` checks if `Member2` has an update-to-date replica of a `partition0` and it will exit only if the outcome is positive. Otherwise the `Member1` waits until the backup is up-to-date.

This is the usual flow:
[code]

However wh

[2015-05-28 13:03] jerrinot commented on #4603
assigning to @mdogan as he sent the fix: #5380

[2015-05-28 13:15] #4603 closed

[2015-05-28 13:18] #5120 closed

[2015-05-28 13:19] sancar commented on #5130
Moving this to 3.6 since Performance related protocol improvements are planned to 3.6

[2015-05-28 13:30] purplefox commented on #5220
OK, thanks for the update.

[2015-05-28 13:44] jerrinot commented on #5220
No problem at all. I understand the pain caused by the current situation. I'll do my best to have a proper fix in 3.6.

Feel free to contact me if you have any question / workaround to discuss, etc.

[2015-05-28 13:46] mesutcelik commented on #4697
no recent failure. closing

[2015-05-28 13:46] #4697 closed

[2015-05-28 13:53] bwzhang2011 commented on #5220
@jerrinot, there's a doubt that shutdown logic is hidden behind as hz3.5 final has not been released and why it will be postponed to hz3.6. could it not be backport into 3.4.4 or hz3.5.1 ?

[2015-05-28 13:53] mesutcelik commented on #4690
no recent failure. closing.

[2015-05-28 13:54] mesutcelik commented on #4517
no recent failure. closing.

[2015-05-28 14:30] mesutcelik commented on #3422
no recent failure.

[2015-05-28 14:35] mesutcelik commented on #4892
no recent failure. closing.

[2015-05-28 14:35] #4892 closed

[2015-05-28 14:52] jerrinot commented on #5220
@bwzhang2011: It's hard to answer it right now as I don't know how the final fix will look like at this moment. We tend to backports things only when we are very pretty sure they don't have any side-effects.

We'll update this ticket once we start designing the new shutdown process.

[2015-05-28 15:31] #5286 closed

[2015-05-28 17:57] sancar commented on #4516
Timeout seems like jenkins problem. I looked at the logs and actually test did not timeout. There are other tests starting after ClientRegressionTest and passed . I am closing this one.

[2015-05-28 17:57] #4516 closed

[2015-05-28 23:01] bwzhang2011 commented on #1655
@pveentjer, would you mind leaving more message for that ? I just mean the detail or background for transactionContext without support for topic compared with transactionQueue support.

[2015-05-29 01:59] bwzhang2011 commented on #611
@emrahkocaman, any update with such issue ?

[2015-05-29 07:00] bilalyasar opened #5404 "[TEST-FAILURE] XATestWithJCA.testPut"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast-jca/3242/testReport/junit/com.hazelcast.jca/XATestWithJCA/testPut/

[2015-05-29 07:08] serkan-ozal commented on #5404
The problem was about thread dump on test failure. At the moment, thread dump is disabled by https://github.com/hazelcast/hazelcast/commit/9833c5416fb8affdc05e5696f02a96205836f336. So I am closing this one and will look at the problem for the thread dump side.

[2015-05-29 07:08] #5404 closed

[2015-05-29 07:10] bilalyasar opened #5405 "[TEST-FAILURE] cluster.TcpIpJoinTest failures"
[code]
com.hazelcast.cluster.TcpIpJoinTest.test_whenExplicitPortConfigured
com.hazelcast.cluster.TcpIpJoinTest.test_whenPortAndInterfacesConfigured
com.hazelcast.cluster.TcpIpJoinTest.test_whenNoExplicitPortConfigured

after these tests have failed, another 23 tests seems failed due to some port errors.
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OracleJDK1.7/130/#showFailu

[2015-05-29 07:19] bilalyasar commented on #5405
seems this is cloudbees problem, closing.

[2015-05-29 07:19] #5405 closed

[2015-05-29 09:34] mesutcelik commented on #4114
no recent failure. closing..

[2015-05-29 09:34] #4114 closed

[2015-05-29 09:48] pveentjer commented on #1655
No support for transactional topics is lpanned.

On Fri, May 29, 2015 at 2:01 AM, bwzhang2012 <notifications@github.com>
wrote:

[2015-05-29 11:54] metanet commented on #4739
Closed via https://github.com/metanet/hazelcast/commit/4bc3a61f600728e6c9c25b07f6ee519845112948

[2015-05-29 11:54] #4739 closed

[2015-05-29 12:51] mdogan commented on #4143
Common exception types, those can be thrown by any Hazelcast API, are now documented by commit: c300effeaf513afcedb9cc223a64df6932ffbd03

Also by the commit 68179ecf4a5f8a14aa901490f90711677508862d, `IQueue.take()/poll()/put()/offer()` will not wrap `InterruptedException` inside `HazelcastException`.

[2015-05-29 12:51] #4143 closed

[2015-05-29 14:04] bwzhang2011 commented on #3937
@pveentjer, is it resemble the idea of zero deployment like some feature in gridgain.

[2015-05-29 14:32] jsirex opened #5412 "Corrupted archive"
1. Go to http://hazelcast.org/download/
2. Click download tar.gz

Got:
[code]

Re-downloading archive can produce different archive (wrong size 59Mb vs 45Mb)

[2015-05-29 14:48] kobalski commented on #5412
Hi,
@jsirex I have tried to download the file hazelcast-3.4.2.tar.gz from  http://hazelcast.org/download/. There seems to be no problem, file size has to be 68.1Mb. Are you behind a proxy, because there is an old issue just like you mentioned. (https://github.com/hazelcast/hazelcast/issues/4793). I could not reproduce your case for now.

[2015-05-29 14:52] jsirex commented on #5412
May be it is related. Anyway I'm planning to download this archive automatically (I'm using Chef). I'll check it from another place later.

And one more useful thing: could you please publish checksums of your artifacts, so I can prove that I'd downloaded archive correctly.

[2015-05-29 14:53] #4957 closed

[2015-05-29 15:21] serkan-ozal commented on #5392
Can be reopen if fails again after this https://github.com/hazelcast/hazelcast/commit/f8a71104200edebe94f4dee8d574295486c5f018

[2015-05-29 15:36] snicoll opened #5414 "Inconsistent behaviour with hazelcast configuration"
TL;DR sample project available [here](https://dl.dropboxusercontent.com/u/623579/hazelcast-jcache-config.zip)

Hazelcast is inconsistent whether it is started as a regular `HazelcastInstance` or as a compliant JSR-107 `CacheManager`.

The attached project configures these two means of retrieving a cache on the same `hazelcast.xml` file. While the `HazelcastCacheManager` will return the cache that

[2015-05-29 16:24] gAmUssA commented on #5412
@jsirex Hazelcast artifacts that we publish to the maven central have SHA1 checksums. For example

http://search.maven.org/#artifactdetails%7Ccom.hazelcast%7Chazelcast-all%7C3.5-EA%7Cjar

Here is a url format that you can use in your automation scripts

[code]

I hope it helps
Cheers,
Vik

[2015-05-29 17:03] serkan-ozal commented on #5363
Should be fixed via https://github.com/hazelcast/hazelcast/commit/5a84641d6ca0ba61f6bc3db3f4d51994ee307736

[2015-05-29 17:03] #5363 closed

[2015-05-29 18:57] serkan-ozal commented on #5414
Hi @snicoll,

Thanks for the sample project that reproduce the case.

In your `hazelcast.xml`, you don't have a cache definition but have a map definition.
Hazelcast JCache API doesn't deal with map definitions for caches like Hazelcast's Spring cache manager. It uses cache configuration (`CacheConfig` as programmatic configuration and `<cache>` for declarative configuration)

So you must add cach

[2015-05-29 18:57] #5414 closed

[2015-05-29 22:55] bwzhang2011 commented on #159
@jerrinot, any idea for batch processing further support or design ?

[2015-05-29 22:59] bwzhang2011 commented on #634
@pveentjer, any update with such issue ?  for the batching process way, batch support for serializer is appreciated.

[2015-05-30 05:13] mesutcelik commented on #4357
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK6/549/com.hazelcast$hazelcast/testReport/com.hazelcast.cache/JCacheListenerTest/testSyncListener_shouldNotHang_whenCacheDestroyed/

[2015-05-30 05:21] mesutcelik opened #5415 "[TEST-FAILURE] NonSmartClientRoutingTest.test"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK1.7/129/com.hazelcast$hazelcast-client-new/testReport/com.hazelcast.client/NonSmartClientRoutingTest/test/

[2015-05-30 05:22] mesutcelik opened #5416 "[TEST-FAILURE] LockBasicDistributedTest.testTryLock"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK6/549/com.hazelcast$hazelcast/testReport/com.hazelcast.concurrent.lock/LockBasicDistributedTest/testTryLock/

[2015-05-30 07:06] serkan-ozal commented on #4357
From the Jenkins logs

[code]

Possibly caused by this commit https://github.com/hazelcast/hazelcast/commit/090824a5d8b113cd7bf5b54afb9b5cfc48cd40b6#diff-1a37ba2b434ee879fd223d1ee8b69be7

[2015-05-30 07:19] serkan-ozal commented on #4357
Another logs says that cache operation are retried when cache is destroyed since `RETRY_INVOCATION` is returned as `ExceptionAction` at here https://github.com/hazelcast/hazelcast/blob/5b743438236163460284662d6621937579e2ab05/hazelcast/src/main/java/com/hazelcast/cache/impl/operation/AbstractCacheOperation.java#L82

[code]

[2015-05-30 09:24] snicoll commented on #5414
Does the other way around works? If I specify a `cache` entry, will the Spring's cache manager use it? (i.e. native `HazelcastInstance`).

[2015-05-31 08:18] lichtin commented on #3071
Looking good, thanks!

[2015-05-31 12:31] bwzhang2011 commented on #5018
@pdca, any update with the issue ? is it confirmed or not ?

[2015-05-31 14:27] #5158 closed

[2015-05-31 21:39] jsirex commented on #5412
Probably I have posted issue to wrong sub-project....

I don't need a jar but distributive of hazelcast standalone (hazelcast-3.4.2.tar.gz). May be it was temporary issues with site or with Internet connection. Now I can download archive without issues.
But I still don't know its checksum.

[2015-05-31 22:54] jsirex commented on #5412
UPD:
Downloading manually `hazelcast-3.4.2.tar.gz` from hazelcast.org with browser has checksum:
`484a1a0b53f8bbddd9ee61917183201ddd2eb74262efb460e2d14fc355f0fc26`

Downloading file via wget:
[code]
Now, I don't know is my downloaded archive valid.

PS. Also I unable to find this installation archive in maven repo (only jars).

[2015-06-01 06:07] jerrinot commented on #5035
The issue has the same root cause as #5393

[2015-06-01 06:24] sancar commented on #5415
This is failed before doing any client operations. map.putAll failed from node is failed with following log
[code]
Adding core label for future reference.

[2015-06-01 06:48] mesutcelik commented on #4517
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8-Quality-Outreach/77/com.hazelcast$hazelcast/testReport/com.hazelcast.map.query/QueryIndexMigrationTest/testQueryWithIndexDuringJoin/

[2015-06-01 06:52] mesutcelik commented on #4549
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/589/com.hazelcast$hazelcast-client-new/testReport/com.hazelcast.client.queue/ClientQueueDisruptionTest/clientsConsume_withNodeShutdown/

[2015-06-01 06:53] mesutcelik commented on #5393
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.7/572/

[2015-06-01 08:20] serkan-ozal commented on #5414
@snicoll No, Hazelcast Spring cache manager is based on `IMap` so it is not configured with `<cache>` configuration in xml

[2015-06-01 08:37] jerrinot commented on #4356
The last failure is from January.
Moreover the test is `@Ignored` in a master branch.

[2015-06-01 08:43] KIC opened #5419 "I would really like to implement an INavigableMap but I need some help to get started"
I need to calculate things like Moving Averages or Curve Fittings on a very big set of data. Hazelcast fits very well the needs of clustering and distributing the work to the data (-node). But as you can imagine for such calculations you need ordered data. Today I am simply storing my data into an IMap[Interger, TreeMap]. This way I have some kind of partitioning because my key is ordered and the

[2015-06-01 08:53] pveentjer commented on #5389
Can you create a test that reproduces the problem?

[2015-06-01 09:25] mesutcelik commented on #5257
fixed by https://github.com/hazelcast/hazelcast/pull/5336

[2015-06-01 09:27] mesutcelik commented on #5257
@ajermakovics ,

You can use special keywords to close issues when related PR is merged.
https://help.github.com/articles/closing-issues-via-commit-messages/

[2015-06-01 11:43] serkan-ozal commented on #4357
closed via https://github.com/hazelcast/hazelcast/commit/0e50fe9ca6d7e83daf6beb4489d6be3f2d6996a4

[2015-06-01 11:43] #4357 closed

[2015-06-01 12:10] ajermakovics commented on #5318
No failing for me during 100 repeated runs with high cpu load. Both on current master and on master at the day of the failure.

[2015-06-01 12:19] ajermakovics commented on #4618
Yes, quite possibly not failing after the new maploader changes which are now in 3.5-EA. Those changes are too big to be backported so updated to 3.5 milestone.

[2015-06-01 12:19] #4618 closed

[2015-06-01 12:21] #5318 closed

[2015-06-01 12:32] lukasblu commented on #4618
Hi @ajermakovics ,

thanks for fixing this. Is there already documentation on the new MapLoader implementation of 3.5 available? I looked at the documentation of 3.5-EA but I don't see in which ways the MapLoader implementation changed.

Thanks and best,
Lukas

[2015-06-01 12:52] serkan-ozal commented on #5102
Seems this one is Cloudbees issue since tests had finished https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8/567/artifact/hazelcast-client/target/surefire-reports/com.hazelcast.client.cache.JCacheClientListenerTest.txt

[2015-06-01 12:52] #5102 closed

[2015-06-01 12:53] ajermakovics commented on #4618
Hi Lukas

The relevant documentation section is this one http://docs.hazelcast.org/docs/3.5-EA/manual/html-single/hazelcast-documentation.html#initialization-on-startup
And if you have followup questions I'm happy to take those as well

[2015-06-01 13:31] bwzhang2011 commented on #5054
@sancar, what's going on with such issue ? is it confirmed ?

[2015-06-01 13:31] metanet commented on #5388
Hello @riverwinddk,

First of all, I can reproduce it with the code you provide with both 3.3, 3.4 and master (3.5).

Your case isn't specific to node join. You are terminating your node-2 while there are ongoing migration operations in your cluster and your nodes are not in safe state.

After node-2 joins the cluster, node-1 transfers ownership of some of its partitions to node-2 by executing mig

[2015-06-01 13:31] #5388 closed

[2015-06-01 13:32] th0rb3n commented on #5389
Unfortunately not. We saw that error in log files in a customer setup and my hope was that the stack trace is sufficient

[2015-06-01 14:06] sancar commented on #5054
It looks like a bug. Eventough connection to Address[192.168.29.54]:50499 is closed , since it it not removed from the list, Heartbeat monitor continues to log same warning over and over. Closing the connection to correct way should resolve the "Too long timeout " also.

I need to reproduce the issue, apply the fix and make sure fix is correct.
Assigning to myself to look into this in detail later

[2015-06-01 14:07] sancar commented on #5054
@dbolotin Thanks for detailed bug report.

[2015-06-01 14:27] Tembrel commented on #5419
The glory of Hazelcast is `IMap`, a convincing illusion of always-available more-or-less uniform access to distributed associative data. It's close enough to the behavior of a `Map` that `IMap` extends `Map`, with some important caveats about how it violates the `Map` contract. It's still an illusion, though, with Hazelcast managing the nasty reality of distributed data behind the curtain.

The su

[2015-06-01 14:40] noctarius commented on #5419
I would agree with @Tembrel  but it might still be possible by splitting the data into a lookup table which handles ordering (but itself is partitioned by chunking - like every 100 keys use a different partition and link those by reference-keys) and storing the values completely partitioned but it might be a bigger chunk of work.

Maybe someone else has an awesome idea, storing data distributed is

[2015-06-01 14:53] metanet commented on #3739
This test method was too complex and divided into multiple tests via #5397. Closing for now. We can open a new issue if new methods fail.

[2015-06-01 14:53] #3739 closed

[2015-06-01 15:14] Tembrel commented on #5419
Oh, I'm definitely not saying give up, just that the first thing you do should __not__ be to define a general-purpose type `INavigableMap`. First thing should be to address __your__ immediate needs with a custom-built abstraction implemented in terms of the public Hazelcast API.

For example, your idea of "every 100 keys use a different partition" suggests that you're dealing with a known distribu

[2015-06-01 15:17] noctarius commented on #5419
Well you don't need to have a known set of keys, you just need to know the first partition and the first key, than you can kind of chain the partitions but yeah sure a more non-general solution might be easier, totally agree.

[2015-06-01 16:45] jerrinot commented on #3822
I'm running 1000 clients against 10 members using the latest master.
So far it's running fine. My test is scheduled for 4 hours. I'll post the results here.

[2015-06-01 22:45] jsirex commented on #5412
Actually I'd figured out it. For standalone installation I don't need whole archive but only single jar.

Now I understood what @gAmUssA talking about.

I can build my own package on runtime using only this library

[2015-06-01 22:45] #5412 closed

[2015-06-02 04:29] pveentjer commented on #4692
@eminn @gurbuzali is this ticket still open? And is it only an issue with the old client or also with the new one?

[2015-06-02 04:30] pveentjer commented on #5416
@eminn are you working on this ticket or can I take it over?

[2015-06-02 04:54] pveentjer commented on #5416
I don't think this issue is related to locking; but to a member failing to join the cluster. If a member sends a JoinRequestOperation to another member, the other member is allowed to drop this message if a join is already happening. This is one of the messages I see in the log.

Something else I see in the log is that the JoinRequestOperation can be very slow to get executed since I see it in the

[2015-06-02 05:14] pveentjer commented on #5416
I'm going to move this one to 3.6.

The failure is not related to locking but a failure related to the ClusterService. And it seems to be either a data race or some logical error.

The ClusterService doesn't have any tests, so we can't make any changes to it. Else we are increasing risk for the sake of dealing with a spurious failing test.

[2015-06-02 06:22] mesutcelik opened #5422 "[TEST-FAILURE] ExecutionDelayTest.testExecutorRetriesTask_whenOneNodeShutdowns"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK8/450/com.hazelcast$hazelcast-client-new/testReport/com.hazelcast.client.executor/ExecutionDelayTest/testExecutorRetriesTask_whenOneNodeShutdowns/

[2015-06-02 06:27] sancar commented on #4692
@pveentjer Logic behind the implementation did not change during this development. What is there still there. And Emin and me look at this issue together, and could not find the actual problem behind the issue. In short, It needs some more work.

[2015-06-02 07:02] KIC commented on #5419
This is [how I do it today](https://github.com/KIC/distributedNavigableMap). The problem with this solution is, that I have to lock the sorted partition data for any write action even if I just update or add one key/value in the ConcurrentSkipListMap. And I always have to "put"-back the SkipListMap to the IMap which causes serialization (for IMap backups) of the whole SkipListMap just because one

[2015-06-02 07:28] pdca commented on #5018
@bwzhang2011 what king of update you want?

[2015-06-02 07:43] hariprasanth1234 opened #5423 "Hazelcast hangs for 10 mins on a force shutdown on a node"
Hi all,

I have 3 node cluster 192.168.1.1, 192.168.1.2 and 1.3 where hazelcast runs in all the nodes forming a TCP/IP cluster in hazelcast.

When I soft shutdown my hazelcast on 1.1, Automcatically removed 1.1 and 1.2, 1.3 have joined together as cluster.

When I force shutdown my complete node on 1.1, It takes 10 mins for the hazelcast to remove 1.1 and join 1.2 and 1.3.

When I try to access an

[2015-06-02 07:48] gurbuzali commented on #5423
Hi
Can you elaborate on `soft` and `force` shutdown ?
Do you mean with soft : `instance.getLifecycleService().shutdown();` and force: `instance.getLifecycleService().terminate();` ?

[2015-06-02 08:01] hariprasanth1234 commented on #5423
No If I shutdown the entire server 1.1 (Where my hazelcast , tomcat are running), then Hazelcast running in 1.2 and 1.3 is not responding for 10 mins! This is a force down, Making the entire server to force down.

If I kill the 5701 port process running in 1.1 manually using kill command but the server 1.1 is up (Only hazelcast is down in 1.1), then immediately 1.2 and 1.3 removes the 1.1 and make

[2015-06-02 08:30] gurbuzali commented on #5423
When you shutdown entire server 1.1, its connections(TCP/IP connection) to other nodes does not closed immediately. And the other two nodes still think that the 1.1 node is still alive. it takes some time to detect(with heart-beat mechanism) and remove the unresponsive(which is dead actually) node.
This is expected behavior, you can play with the heartbeat properties to decrease the wait-time
http

[2015-06-02 08:30] #5423 closed

[2015-06-02 08:48] #4644 closed

[2015-06-02 09:15] mtopolnik commented on #3792
Refer to dschmitz's earlier comment; https://github.com/hazelcast/hazelcast/issues/3792#issuecomment-66549543

[2015-06-02 09:32] mtopolnik commented on #4671
I would just comment on the first point by lukasblu here:

Solutions must be designed for the worst case, not for the typical case. Considering the impact of the solution with *very small* objects is mandatory.

[2015-06-02 09:56] mesutcelik commented on #5415
I could not reproduce this one and according to @sancar , this is not related to client team.

This failure is about `OperationTimeoutException` happening with `putAll`. @jerrinot , @pveentjer , have you seen this before in your simulator tests?

[2015-06-02 09:59] jerrinot commented on #5035
There is another possible root cause - there is a fixed 3s timeout in `map.destroy()`
I can reproduce it in 100% of cases using 8dad05f3dd4d8e539d606809acdda15c2e874007

[2015-06-02 10:00] GhostInAMachine opened #5424 "ReplicatedMap documentation page does not mention that it is in beta stage"
ReplicatedMap interface is marked with @Beta annotation, however the documentation does not warn the users that it might not be fully stable.

[2015-06-02 10:45] hariprasanth1234 commented on #5423
Gurbuzali, I agree, But why the hazelcast hangs and not sending back the response.

[2015-06-02 11:48] gurbuzali commented on #5423
Here it is not the hazelcast which is not sending back the response. when you shutdown the entire server you actually terminate the hazelcast on that node but the other nodes are not aware of this because the TCP/IP connection is not terminated correctly.

[2015-06-02 11:53] hariprasanth1234 commented on #5423
okay! Gurbuzali, Thank u so much! I preferred
                clientConfig.setProperty("hazelcast.max.no.heartbeat.seconds","30");
		clientConfig.setProperty("hazelcast.client.heartbeat.timeout", "60000");

These two tuning parameter, Do you have any other parameters which can be used for tuning?

[2015-06-02 12:36] ajermakovics opened #5430 "MapLoader exception not logged"
Following #5377 exceptions are caught but don't appear in the logs which makes it very hard to detect problems.
Exception should be logged and propagated back to the client that triggered map loading.

[2015-06-02 14:10] eminn commented on #5416
[code]

I believe issue is related with mock joiner since there is hardcoded 1000 times join retry in the mock joiner with 50 ms interval which sums up 50 seconds and the join in this particular test is slow. We can increase this retry count and see if this is going to fail again.

[2015-06-02 14:36] mesutcelik commented on #5422
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/3265/com.hazelcast$hazelcast-client-new/testReport/com.hazelcast.client.executor/ExecutionDelayTest/testExecutorRetriesTask_whenOneNodeShutdowns/

[2015-06-02 14:47] mesutcelik commented on #4647
not reproducable anymore and no more log. I just removed `@Ignore` annotation to see if it will fail again...

[2015-06-02 14:48] mesutcelik commented on #4692
that seems fixed after this test passing #4647

[2015-06-02 14:48] #4692 closed

[2015-06-02 19:56] mark-addy commented on #2413
Would a solution requiring a dependency on the jline library be acceptable?

[2015-06-02 20:54] gAmUssA commented on #2413
@dimas You can try to use `rlwap` utility http://utopia.knoware.nl/~hlub/uck/rlwrap/#rlwrap

I modified my `clienConsole.sh` with rlwrap

[code]

![test](https://cloud.githubusercontent.com/assets/433085/7946950/ebadd0cc-0947-11e5-91f2-42614f76afc9.gif)

Give it a spin!

[2015-06-02 20:58] bilalyasar commented on #5371
@evredinka I tried your case with many different scenarios.. in all scenarios  every node has nearly equal data portions and total size was 1000.
In your case, do you observe some data loss?
Can you provide more scenario detail?
If i don't provide `instance-ref`, execution goes to fail-fast. What is your hz version?
very little note: hazelcast only guarantees that data's will be distributed nearly

[2015-06-02 22:03] manderson23 commented on #5036
Would this be a copy/paste/modification of the IAtomicLong implementation? If so are you open to receiving a PR?

[2015-06-03 02:45] hariprasanth1234 opened #5436 "Mapstore Asynchronous not working in using as common map store factory"
Hi all,

Am using the custom commonMapStoreFactory by implementing the interface 'MapStoreFactory<String, Object>'

I call commonMapStore implementation using newMapStoreFactory method available in it.

Everything works fine,

               final MapStoreConfig mapStoreConfig = new MapStoreConfig();
		mapStoreConfig.setFactoryClassName(
				"org.db.mapstore.CommonMapStoreFactory");
		mapStoreConf

[2015-06-03 03:25] #5416 closed

[2015-06-03 06:40] mesutcelik opened #5437 "[TEST-FAILURE] ClientNearCacheTest.putToCacheAndUpdateFromOtherNodeThenGetUpdatedFromClientNearCacheWithBinaryInMemoryFormat"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/3268/com.hazelcast$hazelcast-client-new/testReport/com.hazelcast.client.cache.nearcache/ClientNearCacheTest/putToCacheAndUpdateFromOtherNodeThenGetUpdatedFromClientNearCacheWithBinaryInMemoryFormat/

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK8/451/

[2015-06-03 06:45] evredinka commented on #5371
@bilalyasar, i'm using hazelcast-all (v. 3.4.2)

the scenatio is: to start launcher main method: the first instance is up and i can see that loadAllKeys() method is called, then start launcher method again: the second instance is up and loadAllKeys() is called too, after two instances is up i try lo load data in my map, from logs i can see that loadAll() is called
with instance-ref loadAllKeys() i

[2015-06-03 06:49] mesutcelik commented on #4024
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8/579/com.hazelcast$hazelcast/testReport/com.hazelcast.map.mapstore/MapStoreTest/testGetAllKeys/

[2015-06-03 06:51] mesutcelik commented on #5422
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK9-Quality-Outreach/84/com.hazelcast$hazelcast-client-new/testReport/com.hazelcast.client.executor/ExecutionDelayTest/testExecutorRetriesTask_whenOneNodeShutdowns/

[2015-06-03 06:52] mesutcelik commented on #5437
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/3269/testReport/

[2015-06-03 06:53] mesutcelik opened #5438 "[TEST-FAILURE] MapReadQuorumTest Timeout"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK6/553/console

[2015-06-03 08:31] ajermakovics commented on #5436
Hi @hariprasanth1234

`put` needs to return the old value so it calls `load` to get it. If you don't need the old value try `imap.set`

[2015-06-03 10:04] hariprasanth1234 commented on #5436
Thanks @ajermakovics...

[2015-06-03 11:11] mtopolnik commented on #4671
In reference to https://github.com/hazelcast/hazelcast/issues/4671#issuecomment-76045979, unless:
1. the task doing the callback cancellation is on the same queue as the callbacks it is about to cancel;
2. the queue is being consumed by a single thread;
3. the cancelling task is ahead of the callbacks in that queue,
there can be no guarantee that the callbacks will actually be cancelled before sta

[2015-06-03 11:15] toktarev commented on #5422
The problem is (for 2 nodes):

Node A (owner)
Node B

Client sends Auth Request to node B
Node A dies
Node B checks that A is dead and send AuthenticationException to the client

[2015-06-03 11:23] ajermakovics commented on #4024
According to thread dump on the last failure the loaders are still sleeping when the test finishes
[code]

[2015-06-03 12:02] ajermakovics commented on #5436
You're welcome! Let's close the issue?

[2015-06-03 13:27] elmor opened #5444 "Lost data if a node is killed during data repartition"
Hi,

I am evaluating HazelCast 3.42 against Coherence and I experienced a strange behavior with Hazelcast.

 I have a cluster of two nodes(I will name them node1 and node2) and two clients

I have a map name “toto” (I joined the hazelcast configuration file server.xml)

1.       I inserted 100000 entries into the map=> all is ok.

2.       I kill the node  node2. All is ok I found the 100000 entri

[2015-06-03 13:48] metanet commented on #5444
Hi @elmor,

Could you please check this comment: https://github.com/hazelcast/hazelcast/issues/5388#issuecomment-107469413

[2015-06-03 14:54] serkan-ozal commented on #5437
closed via https://github.com/hazelcast/hazelcast/pull/5443

[2015-06-03 14:54] #5437 closed

[2015-06-03 14:57] mesutcelik commented on #5415
we started a short simulator test to see if `putAll` throws any `OperationTimeoutException`

[2015-06-03 15:06] elmor commented on #5444
Hi @metanet,

thanks for your answer.
Unfortunately I am not agree with you. Having the a node  going down again while the sync is in progress and losing data is not desirable at all and should be avoided.

If the first node has 100% of the data, we cannot accept to lose data if the node is going down while repartition process. We cannot know when a JVM, a VM, a router ... will crash

Isn't it pos

[2015-06-03 15:12] tlamerig opened #5446 "AwsAddressTranslator ignores region"
Always uses default region instead, which causes HazelcastClient to be unable to join a Hazelcast Aws cluster in a non-default region.

Should probably use code similar to what is being done in constructor of TcpIpJoinerOverAWS.

[2015-06-03 15:21] toktarev commented on #5422
https://github.com/hazelcast/hazelcast/pull/5447/files

[2015-06-03 17:11] mattk42 commented on #1564
I have taken a stab at this and it seems to be working. Going to spend some time on unit tests and should have a pull request soon.

[2015-06-03 18:22] Danny-Hazelcast commented on #4841
tested fixed

[2015-06-03 18:22] #4841 closed

[2015-06-03 18:49] #5436 closed

[2015-06-04 08:05] metanet commented on #5444
Hi @elmor,

I understand your point but what we provide is safety of your data if it already has 1 backup. Your second node is crashing when the cluster is not in safe state. You won't use your data in every node failure during repartitioning. It is the moment when ownership of a partition is passed to the second node but its 1st backup is not guaranteed yet. After second node receives data of a p

[2015-06-04 08:28] jerrinot commented on #4024
It seems we have a regression here. The test used to be problematic in the past. It was fixed by #4082, but apparently we have a regression here.

Here is another failure: https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-pr-builder/13832/com.hazelcast$hazelcast/testReport/com.hazelcast.map.mapstore/MapStoreTest/testGetAllKeys/

[2015-06-04 08:58] gurbuzali commented on #5035
closed via https://github.com/hazelcast/hazelcast/pull/5433

[2015-06-04 09:29] eminn commented on #5389
Do you have any indication of the operations are timing out or retrying in the logs ?

[2015-06-04 10:20] bilalyasar commented on #5438
seems cloudbees logs are corrupted, couldn't reproduce it locally.
i am closing this until new failure.

[2015-06-04 10:20] #5438 closed

[2015-06-04 11:40] mesutcelik commented on #5415
We have developed 3 clients/3 members simulator test to run periodic `putAll` operations through clients with smart-routing=false and no operationTimeout has been received.

I am closing this one and will look into it if it fails again.

[2015-06-04 11:40] #5415 closed

[2015-06-04 11:44] mesutcelik commented on #5422
fixed by https://github.com/hazelcast/hazelcast/pull/5447

@toktarev ,
Can you please include following keywords in your commit messages? This way issue will be closed when PR is merged.
https://help.github.com/articles/closing-issues-via-commit-messages/

[2015-06-04 11:44] #5422 closed

[2015-06-04 11:46] mesutcelik commented on #4024
sure.. That hasn't failed recently but started failing during last several days...

[2015-06-04 12:08] #5317 closed

[2015-06-04 13:23] mesutcelik commented on #4517
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance/850/com.hazelcast$hazelcast/testReport/com.hazelcast.map.query/QueryIndexMigrationTest/testQueryWithIndexDuringJoin/

[2015-06-04 13:47] jerrinot commented on #4024
yeah, I think I found a race condition (with help of @ajermakovics) in a loading process.
I can't reproduce it yet, but I have a feasible hypothesis.

[2015-06-04 14:21] elmor commented on #5444
OK so I need at least 3 nodes and 2 backups to be sure to not lose data ?

[2015-06-04 14:40] toktarev commented on #4331
https://github.com/hazelcast/hazelcast/pull/5449/commits

[2015-06-04 14:47] fchameau commented on #5444
Hi,
- Could you please confirm the above statement from 'elmor' before we try it for real (3 nodes, 2 backups will make the trick) ?
- If yes, we believe this would be valuable as stated explicitely in the documentation (if not yet ? we did not find such detail)

Note: we are in the middle of a POC experiencing several distributed cache solutions. Some other do work well on this very same failover

[2015-06-04 14:56] sancar commented on #4186
Closing since we could not reproduce the issue.

[2015-06-04 14:56] #4186 closed

[2015-06-04 14:56] sancar commented on #4222
Closing since we could not reproduce the issue.

[2015-06-04 14:56] #4222 closed

[2015-06-04 17:39] serkan-ozal commented on #3792
Hi @dschmitz,

I have investigated the issue logs and your sample code and I think the problem is that JCache library (or module) is found by `CombinedClassLoader` in bundles but Hazelcast's cache service (`com.hazelcast.cache.impl.CacheService`) is found by `org.eclipse.osgi.internal.loader.ModuleClassLoader` (couldn't found by `CombinedClassLoader`).

1.
------
In your `CombinedClassLoader`, I s

[2015-06-05 05:56] serkan-ozal commented on #3792
@dschmitz
On more thing, if you don't need to JCache API, can you remove JCache dependency and run your application with newer Hazelcast version such as `3.4.2` or `3.5-EA`

[2015-06-05 06:34] riverwinddk commented on #5388
Hi @metanet

I understand this is not a small feat.

I've now seen #5444 and it's excactly the same behaviour. Actually we're experiencing this when emulating network issues, where the nodes are split while the cluster is unsafe.

I believe that 3.5 tries to address the issue by introducing the PartitionLostListener. I guess this would allow the application to load from persistent storage.

Howeve

[2015-06-05 06:37] mesutcelik commented on #4024
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK8/453/com.hazelcast$hazelcast/testReport/com.hazelcast.map.mapstore/MapStoreTest/testGetAllKeys/

[2015-06-05 06:42] metanet commented on #5388
Hi @riverwinddk

Yes, with 3.5 you can listen partition lost events with PartitionLostListener and reload your data for that partition.

[2015-06-05 06:43] mesutcelik opened #5453 "MapLoaderTest.testMapCanBeLoaded_whenLoadAllKeysThrowsExceptionFirstTime"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK7/558/artifact/hazelcast/target/surefire-reports/com.hazelcast.map.mapstore.MapLoaderTest-output.txt

It is weird that it tries to connect Man Center

[code]

[2015-06-05 06:45] mesutcelik commented on #4549
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/593/com.hazelcast$hazelcast-client-new/testReport/com.hazelcast.client.queue/ClientQueueDisruptionTest/clientsConsume_withNodeShutdown/

[2015-06-05 06:45] mesutcelik commented on #4024
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.7/576/com.hazelcast$hazelcast/testReport/com.hazelcast.map.mapstore/MapStoreTest/testGetAllKeys/

[2015-06-05 06:51] mesutcelik opened #5455 "[TEST-FAILURE] IbmJDK1.6 Errors"
During Last two builds, we had lots of IBM JDK 1.6 failures.

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/569/
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/568/

[2015-06-05 09:32] mesutcelik commented on #5393
This time different method.

[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast/3280/testReport/junit/com.hazelcast.spi/MigrationAwareServiceTest/testPartitionDataSize_whenBackupNodesTerminated_withThreeBackups/

[2015-06-05 09:43] eminn commented on #5393
That build is started before the fix is merged into the master.

[2015-06-05 11:57] alevinsp opened #5457 "Problem with lifetime in case with wan replication"
When updating records through the WAN replication the lifetime of record is not updated in the destination cluster. This leads to early eviction entries from the cluster. Version of hazelcast 3.2.4

[2015-06-05 13:56] jerrinot commented on #3822
The test has passed. I'm closing the issue. Feel free to re-open it if you experience this issue in the future.

[2015-06-05 14:32] jerrinot commented on #4024
Finally a reliable reproducer: 3d624e02b09894c33a837c4b9396026fcc0d7fed

[2015-06-05 18:43] albertocsm commented on #3754
I'm afraid this issue is not resolved. I'm still experiencing this with 3.4.2.
@mdogan's PR #4678 did not fixed this.

I do not have a split brain condition as mentioned on #4676, what I do have is an isolated node that as soon as it got up, for brief instances, was saw by members of the cluster and left right after.
When the isolated node rejoins the cluster, I get the aforementioned error log. T

[2015-06-06 05:07] fuadm opened #5460 "Test"
Ignore please

[2015-06-06 05:07] fuadm commented on #5460
*Comment from Zendesk by jing_song@apple.com at 2015-06-04 21:51:35 UTC:*

<p>Hi Hazelcast,
<br />I saw healthy state in Hazelcast Management Console, please refer the screenshot.
<br />The avg put/get is around 0.10ms, low CPU, 24GB RAM still available. Data size is around 1KB.
<br />but we saw our log from our client side report quite a lot time out exceptions.</p>

<p>The client JVM has few tra

[2015-06-06 05:07] fuadm commented on #5460
*Comment from Zendesk by viktor@hazelcast.com at 2015-06-04 23:08:46 UTC:*

<p>Hi Jing Song,</p>
<p>We&#39;re looking on this issues right now. <br>
We will return to you asap.</p>
<p>Thank you</p>

[2015-06-06 05:07] fuadm commented on #5460
*Comment from Zendesk by fuad@hazelcast.com at 2015-06-05 00:04:44 UTC:*

<p>Hi Jing,</p>
<p>There is not much information here. Can you please help us to understand.</p>
<p>Can you send us the logs from the server and client machines? when you say it times out, what do you mean? You can&#39;t get the response in 35 ms? AFAIK, you guys had the same setup successfully run in prod before. Can you re

[2015-06-06 05:07] fuadm commented on #5460
*Comment from Zendesk by fuad@hazelcast.com at 2015-06-05 00:08:27 UTC:*

<p>Request <a target="_blank" href="/agent/tickets/959">#959</a> &quot;Fwd: HZ Cache error&quot; was closed and merged into this request. Last comment in request <a target="_blank" href="/agent/tickets/959">#959</a>:</p>
<p>Jing Song,</p>
<p>Is this issue related <a target="_blank" href="/agent/tickets/958">#958</a>?</p>
<p>

[2015-06-06 05:07] fuadm commented on #5460
*Comment from Zendesk by jing_song@apple.com at 2015-06-05 00:12:16 UTC:*

<p>&gt; On Jun 4, 2015, at 5:04 PM, Fuad Malikov &lt;<a href="mailto:support@hazelcast.com">support@hazelcast.com</a>&gt; wrote:
<br />&gt;
<br />&gt; ##- Please type your reply above this line -##
<br />&gt; Your request (958) has been updated. To add additional comments, reply to this email.
<br />&gt;
<br />&gt;
<br />&g

[2015-06-06 05:07] fuadm commented on #5460
*Comment from Zendesk by jing_song@apple.com at 2015-06-05 00:15:31 UTC:*

<p>Hi Fuad,
<br />This time we have major apps/services joined the cluster. That’s why I pushed to have 3.5 release, and we can use to handle the messy clients.</p>

<p>Here is the more info for you, I have sent you in the other email with TOP , no swapping at all.</p>

[2015-06-06 05:07] fuadm commented on #5460
*Comment from Zendesk by fuad@hazelcast.com at 2015-06-05 00:19:10 UTC:*

<p>Request <a target="_blank" href="/agent/tickets/960">#960</a> &quot;Fwd: Undelivered Mail Returned t...&quot; was closed and merged into this request. Last comment in request <a target="_blank" href="/agent/tickets/960">#960</a>:</p>
<p>What is the size of the log? Can you please login to zendesk and put your comments the

[2015-06-06 05:07] fuadm commented on #5460
*Comment from Zendesk by jing_song@apple.com at 2015-06-05 00:21:26 UTC:*

<p>Here is the TOP info on hazelcast side:
<br />[worun@nkp-aspn-1001:~]$ nc -zv nkp-cache-1001 5701
<br />Connection to nkp-cache-1001 5701 port [tcp/*] succeeded!
<br />[worun@nkp-aspn-1001:~]$ ping nkp-cache-1001
<br />PING nkp-cache-1001.apple.com (17.149.16.199) 56(84) bytes of data.
<br />64 bytes from nkp-cache-1001.

[2015-06-06 05:07] fuadm commented on #5460
*Comment from Zendesk by jing_song@apple.com at 2015-06-05 00:22:29 UTC:*

<p>here is the hazelcast.xml. I appended all log errors from hazelnuts.log file</p>

[2015-06-06 05:07] fuadm commented on #5460
*Comment from Zendesk by jing_song@apple.com at 2015-06-05 00:26:36 UTC:*

<p>Yes — the file got rejected by Gmail because file size</p>

[2015-06-06 05:07] fuadm commented on #5460
*Comment from Zendesk by fuad@hazelcast.com at 2015-06-05 00:27:36 UTC:*

<p>OK, so what is the size of the file?</p>
<p>Fuad Malikov<br>
co-founder @ Hazelcast</p>

[2015-06-06 05:07] fuadm commented on #5460
*Comment from Zendesk by viktor@hazelcast.com at 2015-06-05 00:30:40 UTC:*

<p>Ftp?</p>
<p>FTP Server IP: 54.84.142.57<br>
username: hazelcast-ftp<br>
pass: hazel2014<br>
port: 21<br>
transfer mode: active</p>

[2015-06-06 05:07] fuadm commented on #5460
*Comment from Zendesk by fuad@hazelcast.com at 2015-06-05 00:31:37 UTC:*

<p>Please pass it to her.</p>

[2015-06-06 05:07] fuadm commented on #5460
*Comment from Zendesk by fuad@hazelcast.com at 2015-06-05 00:35:13 UTC:*

<p>jing,</p>
<p>You can upload to our FTP servers:</p>
<p>FTP Server IP: 54.84.142.57<br>
username: hazelcast-ftp<br>
pass: hazel2014<br>
port: 21<br>
transfer mode: active</p>
<p>Fuad Malikov<br>
co-founder @ Hazelcast</p>

[2015-06-06 05:07] fuadm commented on #5460
*Comment from Zendesk by jing_song@apple.com at 2015-06-05 00:37:21 UTC:*

<p>Thanks Fuad, I have copied the log to the web site you provided</p>

[2015-06-06 05:08] fuadm commented on #5460
*Comment from Zendesk by fuad@hazelcast.com at 2015-06-05 00:41:38 UTC:*

<p>Viktor, do you know where the file is stored?</p>

[2015-06-06 05:08] fuadm commented on #5460
*Comment from Zendesk by viktor@hazelcast.com at 2015-06-05 00:43:03 UTC:*

<p>Fuad,<br>
nothing there. I check every folder</p>

[2015-06-06 05:08] fuadm commented on #5460
*Comment from Zendesk by fuad@hazelcast.com at 2015-06-05 00:43:40 UTC:*

<p>Jing,</p>
<p>Where did you copy the files?</p>
<p>Fuad Malikov<br>
co-founder @ Hazelcast</p>

[2015-06-06 05:08] fuadm commented on #5460
*Comment from Zendesk by viktor@hazelcast.com at 2015-06-05 00:44:15 UTC:*

<p>Jing,</p>
<p>I created Apple folder under FTP root. You can upload any relevant logs there.</p>
<p>Thank you</p>

[2015-06-06 05:08] fuadm commented on #5460
*Comment from Zendesk by jing_song@apple.com at 2015-06-05 00:49:02 UTC:*

<p>Here is the log file content:</p>

<p>Jun 4, 2015 1:32:18 PM com.hazelcast.nio.TcpIpConnectionManager
<br />INFO: [nkp-cache-1006.apple.com]:5701 [nwkdc-nonpci] [3.3-EA7] 5701 accepted socket connection from /17.149.16.161:23234
<br />Jun 4, 2015 1:32:18 PM com.hazelcast.client.AuthenticationRequest
<br />INFO: [nkp-cach

[2015-06-06 05:08] fuadm commented on #5460
*Comment from Zendesk by fuad@hazelcast.com at 2015-06-05 00:54:18 UTC:*

<p>These exceptions are about Management Center. Do you have any other exception regarding the Put/Get operations?</p>
<p>Fuad Malikov<br>
co-founder @ Hazelcast</p>

[2015-06-06 05:08] fuadm commented on #5460
*Comment from Zendesk by jing_song@apple.com at 2015-06-05 01:14:25 UTC:*

<p>No — our client JVM has tons of timeout which we set 35ms.
<br />I have copied pasted the client error in the first email thread</p>

[2015-06-06 05:08] fuadm commented on #5460
*Comment from Zendesk by viktor@hazelcast.com at 2015-06-05 01:16:21 UTC:*

<p><code>ICache.getAsync</code> timeout?</p>

[2015-06-06 05:08] fuadm commented on #5460
*Comment from Zendesk by fuad@hazelcast.com at 2015-06-05 01:26:47 UTC:*

<p>Jing,</p>
<p>did you upload the full server logs?</p>
<p>Fuad Malikov<br>
co-founder @ Hazelcast</p>

[2015-06-06 05:08] fuadm commented on #5460
*Comment from Zendesk by viktor@hazelcast.com at 2015-06-05 01:27:19 UTC:*

<p>Maybe we should call he?</p>

[2015-06-06 05:08] fuadm commented on #5460
*Comment from Zendesk by fuad@hazelcast.com at 2015-06-05 01:27:56 UTC:*

<p>Her English is terrible. I don&#39;t understand 20% of what she says over the phone.</p>

[2015-06-06 05:08] fuadm commented on #5460
*Comment from Zendesk by fuad@hazelcast.com at 2015-06-05 01:28:13 UTC:*

<p>Also, I couldn&#39;t see the Apple directory?</p>

[2015-06-06 05:08] fuadm commented on #5460
*Comment from Zendesk by viktor@hazelcast.com at 2015-06-05 01:29:16 UTC:*

<p>can you see rest (wwl, ge, nielsen, etc)</p>

[2015-06-06 05:08] fuadm commented on #5460
*Comment from Zendesk by fuad@hazelcast.com at 2015-06-05 01:35:29 UTC:*

<p>Nope, I am using FileZilla. Aren&#39;t they under the root?</p>

[2015-06-06 05:08] fuadm commented on #5460
*Comment from Zendesk by fuad@hazelcast.com at 2015-06-05 01:42:05 UTC:*

<p>Jing,</p>
<p>Have you enables near cache or is this without a near cache?</p>
<p>Also can you please upload all log files from server nodes to the FTP that we provided?</p>
<p>Fuad Malikov<br>
co-founder @ Hazelcast</p>

[2015-06-06 05:08] fuadm commented on #5460
*Comment from Zendesk by jing_song@apple.com at 2015-06-05 07:25:31 UTC:*

<p>&gt; On Jun 4, 2015, at 6:42 PM, Fuad Malikov &lt;<a href="mailto:support@hazelcast.com">support@hazelcast.com</a>&gt; wrote:
<br />&gt;
<br />&gt; ##- Please type your reply above this line -##
<br />&gt; Your request (958) has been updated. To add additional comments, reply to this email.
<br />&gt;
<br />&gt;
<br />&g