[2020-04-08 07:22] devozerov opened #16863 "Implement SQL service"
The goal of this task is to implement an SQL service that should be wired to Hazelcast member lifecycle and should be able to execute queries in the Hazelcast cluster.

[2020-04-08 08:02] ahmetmircik commented on #16753
Closing this issue now, if you have further questions, it can be opened again.

[2020-04-08 08:02] #16753 closed

[2020-04-08 16:40] alparslanavci opened #16866 "Detecting if a config file is member or client config"
When auto-configuring Hazelcast instances, we need to check if a config file is member or client config in order to properly initialize a Hazelcast member or client instance. A public API would be good to detect this.

Please see the related issue and PR:

https://github.com/spring-projects/spring-boot/issues/20856
https://github.com/spring-projects/spring-boot/pull/20881

[2020-04-09 07:53] mmedenjak commented on #16859
Hi @TomaszGaweda ! I'll put this enhancement into 4.1 but I don't guarantee we'll find the time to implement it. Since I assume it will be rather simple, do you think you could send a PR? We have a new CLA system that is really simple and that you can try out :)

[2020-04-09 09:41] TomaszGaweda commented on #16859
Yes, I'll try to make this change today. Was busy with stuff from work so decided to create an issue first and implement when time allows :) CLA already signed for Jet's PR

[2020-04-09 10:01] devozerov opened #16868 "Improve SQL protocol safety"
Currently, we have no guarantees that a message has been delivered to the target member. It means, that the SQL query may hang in cases when there is a message loss (e.g. due to dropped connection), but no membership changes.

A potential solution could be to add counters to track lost messages.

[2020-04-09 10:02] devozerov commented on #16868
+ Make sure to implement tests that are currently disabled (search for the ticket number in the code base).

[2020-04-09 11:29] shahaf-sameach commented on #8774
hi, a new contributor, would like to try this one if possible...

[2020-04-09 13:19] #15207 closed

[2020-04-10 06:30] vbekiaris commented on #15969
@lazerion this test has not failed for the last several sonar builds, we can reopen if it occurs again.

[2020-04-10 12:54] #16837 closed

[2020-04-10 13:04] ahmetmircik commented on #13520
since test has not failed for a long time and the build environment was configured to lower resource consumption, i'm closing this issue as not reproducible for now.

[2020-04-10 13:04] #13520 closed

[2020-04-11 11:47] pertsodian commented on #16834
I think we can throw exception (e.g. `IllegalArgumentException`) in `ClientFailoverConfig#addClientConfig` and `ClientFailoverConfig#setClientConfigs` if input `ClientConfig` has `getConnectionStrategyConfig().getReconnectMode() == OFF`

Does that sound ok? I can make the PR.

[2020-04-13 10:26] sancar commented on #16834
Hi @pertsodian ,
Thanks for interesting in sending a pr.
Hazelcast has an exception  for this kind of cases  -> `InvalidConfigurationException` .
It is not possible to read ClientConfig in ClientFailoverConfig setter methods. You are gonna need to add the check to somewhere that these two are used together.
See https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcas

[2020-04-13 12:00] pertsodian commented on #16834
@sancar If I understand correctly, you either use `ClientConfig` or `ClientFailoverConfig`, but not both (see (HazelcastClient.java#L472)[https://github.com/hazelcast/hazelcast/blob/a5b46106076ee417bf197b1f346becf3dc06c340/hazelcast/src/main/java/com/hazelcast/client/HazelcastClient.java#L472] which is called in `HazelcastClient#newHazelcastClientInternal`

`ClientFailoverConfig` has a list of `Cl

[2020-04-13 12:19] pertsodian commented on #9265
I see we have `com.hazelcast.client.impl.connection.nio.WaitStrategy#sleep` which does the calculation for sleep time before attempting a cluster reconnection. It should be possible to extract the logic there for reuse, in this case, to retry the write-behind operation.

Question: do we want to give up ever if the exception keeps happening? Giving up after certain amount of time/attempts = data in

[2020-04-13 13:46] sancar commented on #16834
Yes, you are right. Sorry for my first comment. Your first suggestion was correct. We can check this in the  setters of client failover config(ClientFailoverConfig#addClientConfig and ClientFailoverConfig#setClientConfigs) as you suggested.

[2020-04-13 15:35] ahmetmircik commented on #16397
closed in https://github.com/hazelcast/hazelcast/pull/16880

[2020-04-14 07:28] #14871 closed

[2020-04-14 10:01] #16846 closed

[2020-04-14 10:48] blazember opened #16883 "Use tailored writeUTF for metrics dictionary"
Replace the below loop with a tailored version of `DataOutputStream#writeUTF(String)` that reuses a `byte[]` instead of allocating it on every call.

https://github.com/hazelcast/hazelcast/blob/9ae4f3626dd2acb49c017d58a61f8d89db6ee4a4/hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCompressor.java#L277-L279

The reason for using this loop instead of `writeUTF` was to save on the

[2020-04-14 13:00] pertsodian commented on #16834
Thanks @sancar. I have raised https://github.com/hazelcast/hazelcast/pull/16886

[2020-04-14 13:40] pertsodian commented on #9265
@ahmetmircik are you working on this issue? Maybe I can give it a try if you agree with my above comment?

[2020-04-14 13:45] #16834 closed

[2020-04-14 14:03] ahmetmircik commented on #9265
your idea sounds good to me, unassigned myself, issue is yours.

[2020-04-15 08:32] buraksezer commented on #16844
Hi team, I would like to take this issue, if it's possible.

[2020-04-15 13:20] Holmistr commented on #16844
Hi @buraksezer , of course! We're glad to have you! :) Please don't hesitate to ask any questions. We're more than happy to help you. For faster feedback loop, please join our Gitter channel https://gitter.im/hazelcast/hazelcast .

[2020-04-15 13:43] Holmistr commented on #5337
@pertsodian @mmedenjak I see the PRs are merged. Is the issue done now? BTW awesome work! @pertsodian

[2020-04-15 13:59] Holmistr commented on #1055
Hi @sejla , just checking it if there's anything we can help you out with :)

[2020-04-15 14:02] Holmistr commented on #4233
Hi @andrewoelfing , I'm just checking in if there's anything we can help you out with. I saw your PR and I'm sorry that it got closed. However, I would like you to know that we appreciate your effort very much and we're happy to continue on the other approach :) Just bare with us, this happens! :) Nice work so far even though it didn't get merged (yet)!

[2020-04-15 14:12] Holmistr commented on #11321
Hi @fernandor777 , just checking in if there's anything we can do to help. If you're stuck, don't hesitate to ping us! :)

[2020-04-15 14:51] pertsodian commented on #9265
@ahmetmircik, and maybe @mmedenjak too. I need your input before going too far.

I have looked at `StoreWorker` and `DefaultWriteBehindProcessor`.

If I understand it correctly, the current retry logic is:
* In each run, `StoreWorker` collects to-be-stored entries from the queues for each partition (according to lastStoreTime+writeDelay vs now), and attempts to store the entries belong to the part

[2020-04-15 15:06] Holmistr commented on #3197
Closing this as a duplicate in favor of https://github.com/hazelcast/hazelcast/issues/9265

[2020-04-15 15:06] #3197 closed

[2020-04-15 15:07] Holmistr commented on #9265
Thanks @pertsodian for looking into this. Just as a reminder, we should try addressing requirements from https://github.com/hazelcast/hazelcast/issues/3197#issue-39732662 somehow as well.

[2020-04-15 15:19] andrewoelfing commented on #4233
Hello @Holmistr. Sorry, but I've got stuck on writing unit tests (not the unit test itself but testing the Hazelcast functionality).
Something wrong with the client protocol (it's actually a mess in my workspace ;) )
It seems to be not so easy to implement some features in such a big (and for me unfamiliar) community project.
I will write a gitter questions in the next hours.

[2020-04-15 15:38] #16863 closed

[2020-04-15 15:50] devozerov opened #16893 "SQL project and filter operators"
We need to implement project and filter operators for the SQL engine. These are the basic operators that are used in almost any SQL query.
The operators are stateless.

[2020-04-15 16:11] Holmistr commented on #4233
Hi @andrewoelfing , yeah, it's not that easy, but you're doing great! :) So no need to apologize! Looking forward to your Gitter questions.

[2020-04-15 16:47] RiotR1cket commented on #5337
Also can someone please clarify which HZ versions this will be going into? Will it be backported to 3.12.x?

[2020-04-15 17:24] Holmistr commented on #5337
@RiotR1cket So far this is going only to 4.1+ (@mmedenjak I have just updated the milestone).

Why do you ask @RiotR1cket ? Can't you upgrade to 4.x?

[2020-04-16 06:24] buraksezer commented on #16844
Thank you! I work on it.

[2020-04-16 11:34] pertsodian commented on #9265
@Holmistr Yeah the waiting time calculation will be configuration, and will be similar to how we configure cluster reconnection (See [ConnectionRetryConfig](https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/client/config/ConnectionRetryConfig.java))
* initial backoff
* max backoff
* multiplier
* jitter

User can set multiplier > 1 if they want exponential bac

[2020-04-16 17:33] carstenartur opened #16898 "Allow to override multicast configuration by system property"
**Please describe the problem you are trying to solve**
...Changing the test environment of a build server now thousands of tests are trying to connect to each other because of the default=on multicast support.

**Please describe the desired behavior**
...It would be cool if there was a java system property to override the configured default to off

**Describe alternatives you've considered**
...A

[2020-04-16 19:42] RiotR1cket commented on #5337
It's a really nice optimization to the default behavior of setAll. So for apps that are still on 3.x, if this was backported, they'd get this optimization for free by just bumping the minor or patch version, instead of doing the full major version migration. It also _seems_ like a change that would be easily portable to the 3.x codeline.

[2020-04-17 02:27] letanloc1998 opened #16899 "java.lang.IllegalStateException: Unknown protocol: CP2"
**Describe the bug**
Get error when using JHiptser with Hazelcast
java.lang.IllegalStateException: Unknown protocol: CP2

**Expected behavior**

**To Reproduce**

**Additional context**

[2020-04-17 07:51] mmedenjak commented on #5337
Yes, closing. Unfortunately this can only be introduced in a minor release as the change introduces serialization changes and those changes conflict with out patch-level guarantee. The guarantee says that you should be able to have a cluster which consists of members with same minor but different patch level versions and everything should function normally.
We allow introducing serialization chang

[2020-04-17 07:51] #5337 closed

[2020-04-17 09:13] #16809 closed

[2020-04-17 09:18] mmedenjak commented on #16898
Hi @carstenartur !

Since there's no system property that is specifically designed to turn off multicast (or any other join strategy), I suggest you try using variables/placeholders in your configuration (https://docs.hazelcast.org/docs/latest-dev/manual/html-single/#using-variables). That way, you can set up the configuration to use both join mechanisms and then control which one gets used with a

[2020-04-17 10:05] mesutcelik commented on #16899
Hi @letanloc1998 , Can you please provide more info about your setup?
Which Jhipster version are you using? Are you getting the exception when you connect to hazelcast cluster?

[2020-04-17 11:22] carstenartur commented on #16898
Hi @mmedenjak ,
thanks for your suggestion. We already use variables but not to switch off multicast. The problem is that we have a lot of copies of code in tests that use hard coded hazelcast instantiation like this or similar to test different aspects of the hazelcast usage:

@Bean(name={"hazelcast"})
	public com.hazelcast.config.Config myhazelCastConfig() {
		com.hazelcast.config.Config hazelca

[2020-04-17 14:55] pertsodian commented on #16845
Hi, I can work on this one.

[2020-04-17 15:44] pertsodian commented on #16845
@ahmetmircik Sorry I have a question. Can we safely change the method signature of `ManageContext#initialize` from `Object initialize(Object obj);` to `<T> T initialize(T obj)` ?

This will help to avoid casting Object to wanted class everywhere else.

[2020-04-17 15:57] pertsodian commented on #16845
Actually, `SpringManageContext` delegates the initialization to `AutowireCapableBeanFactory`, which indicates that the returned object might wrap the input one. So I guess it is NOT safe to assume the returned object of `ManagedContext#initialize` will always be the same as the its input.

[code]

[2020-04-19 08:07] webashutosh commented on #14913
Working on `compute()` and `merge()` implementation

[2020-04-20 05:57] avirlrma commented on #9080
Hey, Can I start working on this?

[2020-04-20 07:03] Holmistr commented on #9080
Hi @avirlrma , glad to see you here! :) Absolutely, I have just assigned you the issue.

We have Hazelcast Gitter channel: https://gitter.im/hazelcast/hazelcast . This is the fastest way to get feedback or do technical discussion. Please join there. But we'll be monitoring the issue as well, so you can here also.

Regarding some starting points, there was a pull request in the past that should sho

[2020-04-20 07:16] mmedenjak commented on #16898
I will admit this does not sound like something of high priority and I don't see a clear way forward. I can imagine that _some_ users might argue that the programmatic configuration should override the system properties whilst others might argue that it should be the other way around.

Given that it's not clear how to proceed and that we already have support for variables which partially addresses

[2020-04-20 07:28] carstenartur commented on #16898
Yes, I agree. However problem is that the default that has been choosen to be active in case it is *not* explicitly defined has issues: The nodes started in tests try to connect to each other. The defaults should lead to a safe state with no unintended connections.
So from my point of view there is a clear way forward. Either change the default to have *no* multicast configuration active (that wou

[2020-04-20 07:31] avirlrma commented on #9080
Thanks for the quick response, I am setting up the project and meanwhile going through the linked PR as well.

[2020-04-20 07:51] mmedenjak commented on #16898
We're not going to change the defaults in the near future as it would be a breaking change that we cannot introduce until a new major version is out and multicast has proven to be a great way to get started using Hazelcast as you don't need any additional configuration. Still, as I mentioned, I'll keep this issue open to see if we need to reconsider.

[2020-04-20 07:52] mmedenjak commented on #14913
Great, thank you @webashutosh !

[2020-04-20 07:53] carstenartur commented on #16898
Yes, thanks!

[2020-04-20 09:54] neilstevenson opened #16904 "IMap.getAsync(K) does not use near-cache"
An `IMap.getAsync(K)` call does not use the near-cache, or if it does, does not update near-cache statistics.

See below, tested on 4.0.1

[code]

See also https://github.com/hazelcast/hazelcast/issues/624 and https://github.com/hazelcast/hazelcast-jet/issues/2145

[2020-04-20 10:31] neilstevenson commented on #16904
`IMap.getAsync(K)` is used by Jet - https://github.com/hazelcast/hazelcast-jet/blob/master/hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStageWithKey.java#L563 - for fast lookups to IMaps.

If this bypasses near-cache, then it won't be as fast as it could be,

[2020-04-20 13:00] ahmetmircik commented on #16904
Your test needs some modifications:
1. To enable near-caching in a one node cluster cache-local-entries must be enabled: `nearCacheConfig.setCacheLocalEntries(true)`.
2. Since 1st `getAsync` populates near-cache, you need a 2nd `getAsync` to hit near-cached entry after a while. Adding something like this is needed:
[code]

After these modifications, test will be showing the expected results.

[2020-04-20 13:34] neilstevenson commented on #16904
I've updated main,
[code]
but still not getting a near cache hit.

I get
[code]

[2020-04-20 13:38] mmedenjak commented on #9080
Hi @avirlrma ! After some internal discussion, we've decided that we will not be investing any time into transactions in Hazelcast in the near future. This is because transactions fundamentally have consistency issues and adding features on top of the current implementation, such as adding bulk operations, would encourage its' usage, which is not what we want.
So, we will leave the implementation

[2020-04-20 13:42] neilstevenson commented on #16904
Added ```        iMap.getAsync("1").thenRun(new Runnable() {
            @Override
            public void run() {
                ;
            }
        });
        TimeUnit.SECONDS.sleep(5);
        iMap.getAsync("1").thenRun(new Runnable() {
            @Override
            public void run() {
                ;
            }
        });```

Getting hits now :-)

[2020-04-20 13:42] #16904 closed

[2020-04-20 15:20] neilstevenson opened #16905 "Member-side near cache, CacheLocalEntries conflict with SerializeKeys"
The default setting for SerializeKeys on a member's near cache is false, keys are held as objects.

The default setting for CacheLocalEntries on a member's near cache is false, keys held locally are not also in the near cache.

`CacheLocalEntries` supercedes `SerializeKeys` which gives inconsistent behaviour.
The key is serialized if not-local and deserialized if local.

See the below, for 4.0.1
[

[2020-04-20 15:23] neilstevenson commented on #16905
For the above reproducer,

When CacheLocalEntries is false, `payloadToGet` is serialized three times.

When CacheLocalEntries is true, `payloadToGet` is serialized once.

[2020-04-20 15:38] neilstevenson commented on #16905
See also https://github.com/hazelcast/hazelcast/issues/16904 , this is likely to affect Jet

The `GeneralStageWithKey.mapUsingIMap` call if executed on an embedded cluster uses near-cache lookup if available and does not mutate keys.

[2020-04-20 15:57] carstenartur commented on #16898
Btw, what is the best practice in case of using hazelcast for hibernates cache implementation to prevent this problem? If I use https://github.com/hazelcast/hazelcast-hibernate5/blob/master/hazelcast-hibernate53/src/main/java/com/hazelcast/hibernate/HazelcastLocalCacheRegionFactory.java
I have neither a hazelcast config nor explicit code and that way every test starts another hazelcast instance us

[2020-04-21 05:52] devozerov opened #16906 "SQL IMap scan operator"
We need to introduce a scan operator that is able to scan `IMap`. The operator should have a list of projected fields and an optional filter.

[2020-04-21 06:33] Holmistr commented on #9080
Hey @avirlrma , sorry about this. However, we really appreciate your enthusiasm and I wouldn't like it to be wasted :) Is there any other issue you would like to work on? I'm happy to discuss or help you pick one, feel free to ping me on Gitther under "Holmistr" nickname :)

[2020-04-21 06:34] Holmistr commented on #9080
@mmedenjak Given that we don't really want to invest time in this, WDYT about closing this issue with your explanation above? We can reopen it whenever we fix the transactional map. Otherwise, it will be sitting here forever.

[2020-04-21 07:37] mmedenjak commented on #16898
In most of our tests, we mock the network so we can run multiple tests in parallel without them interfering with each other. Some tests require real network and we run these serially as we don't want instances from different tests to interact. Even though they might be configured so they don't form a cluster (different cluster names), they will still send multicast packets and it will show up in t

[2020-04-21 11:29] mmedenjak commented on #9080
Yes, closing.

[2020-04-21 11:29] #9080 closed

[2020-04-21 11:32] mmedenjak commented on #16905
@ahmetmircik can you take a look to assess the issue? Thank you!

[2020-04-21 12:42] carstenartur commented on #16898
Thanks Matko for sharing all these very good ideas! Though I must say that imho the usage of "System.setProperty(..)" in a static section especially in parallel tests is extremely dangerous.
(See https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java).
However I am sure I can reuse some of your ideas.

[2020-04-22 05:35] devozerov opened #16911 "Create SQL module"
We are working on a new query engine that uses Apache Calcite for query parsing and planning. It adds around 6 mandatory dependencies: several Calcite JARs, Guava, JSON and XML processing libraries, Janino compiler. In the future, we are going to implement query compilation. It will require some bytecode manipulation library, Janino is one of the potential candidates.

We need to package this stuf

[2020-04-22 07:11] thesreyas opened #16912 "rolling upgrade of application fails in embedded mode"
**Describe the bug**
Application has embedded hazelcast.
Application is upgrading in rolling fashion from V1 to V2.
V2 introduced a new cache (V2-cache) with new value type (V2-classDef1)

1.Let's say I have four nodes in cluster: 4 - V1 nodes
2. Rolling upgrade is triggered.
3. Currently it 3 V1 nodes and 1 V2 node forming hazelcast cluster.
At this point V2 created V2-Cache.
4.For some applicati

[2020-04-22 07:18] vbekiaris commented on #16912
hello @thesreyas , can you post the configuration of your `V2-cache` and the complete exception stack trace to pinpoint why the class definition is required on the classpath?

[2020-04-22 08:47] thesreyas commented on #16912
Thanks  for your quick response @vbekiaris
We are doing pretty straightforward way.

**Code that creates cache in V2 node**

private Cache createCache(String name, Class valueType) {
CacheManager cacheManager = HazelcastServerCachingProvider.createCachingProvider(gethz()).getCacheManager();
Cache cache = cacheManager.createCache(name, createCacheConfig(name, valueType));
return cache;
}
private Ca

[2020-04-22 09:56] sancar opened #16915 "ClientConsoleTest leaks MBeans"
This pr failed with MBean leak https://github.com/hazelcast/hazelcast/pull/16698

After investigating we have found that it is caused by `ClientConsoleTest`

ClientJmxMetricsTest is the one catching the failure. The failure can be reproduced by running them together.

[2020-04-22 11:32] #16915 closed

[2020-04-22 11:42] vbekiaris commented on #16912
thanks @thesreyas for the info, I prepared a candidate fix for current `master` in #16917

[2020-04-22 15:28] tonitingaurav opened #16920 "I am not able to query hazelcast if value is Set<Map<String,String>>"
I am saving Clazz objects in the value of an IMap

class Clazz{private Set<DataObjects> dataObjects; //Getter Setter}
class DataObject{private Map<String, Comparable> dataMap; //Getter and setter}.

I want to query the hazelcast like dataObjects[any].dataMap["xyz"] equals to 45

I am not getting any way to fetch the data.

[2020-04-22 17:28] #16893 closed

[2020-04-23 02:29] letanloc1998 commented on #16899
When I try connect with mancenter
I can't fix this error and I can't see any same problem so I'm not using mancenter ~~
This is difficult to use Hazelcast ~~

[2020-04-23 02:29] #16899 closed

[2020-04-23 05:36] avirlrma commented on #9080
@Holmistr No problem, I guess these things happen. I will go through the issue list and code base for better understanding. Will ping if I need help.
Thanks for such encouraging response. :smile:

[2020-04-23 06:44] thesreyas commented on #16912
Hi @vbekiaris

Thanks for your attention to this.

Your description says: "When cache service is creating its pre-join operation, it creates a PreJoinCacheConfig assuming that the CacheConfig has been resolved
(ie KV types and other user customizations have been actually loaded). However it might
be the case that even though the CacheConfig is registered in cache service, the cache has not
yet bee

[2020-04-23 07:52] hendrikebbers opened #16922 "hazelcast-client:4.0 is missing"
Looks like the hazelcast-client 4.X was not released. For the Hazelcast server and Hazelcast-hibernate5 artefacts we can migrate to Hazelcast 4 but there is not client artefact at Maven central (or JCenter). [Your documentation](https://hazelcast.org/imdg/clients-languages/java/) already mentions version 4.0.1 of the hazelcast-client but I can not find it anywhere.

[2020-04-23 07:54] thesreyas commented on #16912
@vbekiaris
**The issue looks broader.**

**Scenario:**
_Notations_ :  Nx - node , v1/v2 - application versions
Application is doing a rolling upgrade from v1 to v2.
V2 application creates a new cache with value type class definition that does not exist on v1.
In the sequence of events below when second node in the cluster is rollingly upgraded it fails.

**Sequence of events:**

1. N1-v1,   N2-v1,

[2020-04-23 08:22] abdulazizali77 commented on #9079
@mmedenjak , should the issue be renamed?

[2020-04-23 09:30] mmedenjak commented on #9079
No need, I'll just mention here that we will not be investing time into transactions at the moment. For more information, see [here](https://github.com/hazelcast/hazelcast/issues/9080#issuecomment-616559316). Users trying to create enhancement issues for transactional map can now still find this issue and see what was the discussion outcome.

[2020-04-23 09:34] mmedenjak commented on #16922
@hendrikebbers since hazelcast 4.0, the client has been merged into the `hazelcast` JAR (see [here](https://github.com/hazelcast/hazelcast/pull/15366). The website needs to be updated and thank you for letting us know, I'll get someone to do it.

[2020-04-23 09:37] mmedenjak commented on #16899
@letanloc1998 sorry that you're having troubles but if you are able, please provide us with more information. We haven't encountered that issue but still, we would like to fix it.

[2020-04-23 09:46] mmedenjak commented on #16920
Hi @tonitingaurav !

What are the concrete implementations of `Map` and `Set` that you are storing? Are you getting some exception and what is it?

[2020-04-23 09:48] mmedenjak commented on #16920
I believe this is a duplicate of https://github.com/hazelcast/hazelcast/issues/8231 in that we don't support querying map fields. You may consider turning the map into a java bean with fields or define a custom extractor to read from the map.

[2020-04-23 11:33] vbekiaris commented on #16912
@thesreyas the scenario you described is another manifestation of the same issue. All members in the cluster have to be aware of all `CacheConfig`s. Here's what happens in this case:

- In step 2, N3-v2 is the joining member. It receives a pre-join operation from the cluster's master, notifying it of `CacheConfig`s already known to the cluster. The cache config for the new cache is propagated to a

[2020-04-23 12:46] #16912 closed

[2020-04-23 12:50] vbekiaris commented on #14985
Test failed in 3.12.z branch PR builder job http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/213:

[code]

Unfortunately the additional logging is only available in 4.0+ branches

[2020-04-23 16:27] #16906 closed

[2020-04-24 07:08] hendrikebbers commented on #16922
THX @mmedenjak

[2020-04-24 07:08] #16922 closed

[2020-04-24 13:53] ilkerkorkut opened #16927 "Hazelcast Client dynamic configuration issue"
**Describe the bug**
Hazelcast client is acting like overriding map configuration dynamically. but actually it's not overriding the map configuration dynamically. The client didn't throw any exception.

**Expected behavior**
Client has to throw com.hazelcast.config.InvalidConfigurationException: Cannot add a new dynamic configuration which is the current member side behavior

**To Reproduce**
Haze

[2020-04-25 07:34] avirlrma commented on #1055
Hey,
Can I take this up if @sejla is not responding?

[2020-04-25 10:49] lazerion opened #16929 "QueryOperationHandlerTest test_participant_E_L_B"
- Fails on `Hazelcast-4.master-ZingJDK8`
- Fails on [Build #165 (Apr 25, 2020 5:18:34 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-ZingJDK8/165/testReport/junit/com.hazelcast.sql.impl.operation/QueryOperationHandlerTest/test_participant_E_L_B/)
- Error
[code]
- Stacktrace
[code]
- Hiccups
[code]

kindly check.

[2020-04-25 10:55] lazerion opened #16930 "CPMemberAddRemoveTest testRemoveMemberFromMajorityLostRaftGroup"
- Fails on `Hazelcast-4.master-ZuluJDK9`
- Fails on [Build #71 (Apr 25, 2020 4:07:56 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-ZuluJDK9/71/testReport/junit/com.hazelcast.cp.internal/CPMemberAddRemoveTest/testRemoveMemberFromMajorityLostRaftGroup/)
- Stacktrace
[code]

- Noticed below in logs
[code]

kindly check

[2020-04-26 10:49] Holmistr commented on #9265
@pertsodian Sorry for late responses and no feedback so far. I'm pushing again :)

[2020-04-26 10:58] Holmistr commented on #1055
@sejla has actually responded me privately that it's a bit difficult these days due to the Covid situation :) So let's give her some more time. Would you mind looking for another issue then @avirlrma ?

[2020-04-27 04:36] tonitingaurav commented on #16920
Hi mmedenjak,

Thanks for the quick response. I am applying ValueExtractor for DataExtractor class and registering it with IMAP with name "GetData". But if I am using **dataObjects[any].GetData["aKeyOfMap"]**
it is not working by telling that GetData is not a matching property. Below are the classes:

class Clazz{private Set dataObjects; //Getter Setter}
class DataObject{private Map<String, Compar

[2020-04-27 14:21] ahmetmircik commented on #9265
@pertsodian sorry for late response, i haven't been around lately.

Your design for the solution made sense to me.

Regarding this:

Not sure about this one but we can inherit the time if it failed recently.

[2020-04-27 15:31] TomaszGaweda opened #16932 "HazelcastInstanceNotActiveException on grid shutdown after using CPSubsystem"
Graceful shutdown after using CPSubsystem causes following exception:
[code]

Reproduction is as simple as:
[code]
 My environment:
- Java 13
- Test run from IntelliJ IDEA
- Hazelcast 4.0

[2020-04-27 15:59] ahmetmircik commented on #16905
When CacheLocalEntries is false, payloadToGet is serialized three times.
When CacheLocalEntries is true, payloadToGet is serialized once.

This is the expected behavior with current design, could you please clarify the expected behavior you think? Or are you proposing a documentation update?

[2020-04-27 17:09] neilstevenson commented on #16905
This is more a performance issue than functional.

For a 4.0 member with the defaults of `serializeKeys==false` and cacheLocalEntries==true` the retrieval time per key is not predictable.

A Jet job may be processing a stream requiring it to do `IMap.getAsync(K)` many many times for the same key.
The number of de-serializations required is not predictable as it depends on where key K is hosted, an

[2020-04-28 08:05] #16911 closed

[2020-04-28 14:12] mdumandag opened #16933 "Add tests to verify that ordering of the enums used in the protocol does not change"
We should determine the enums used in the protocol and add tests to verify that their ordering or the value does not change in a way that may result in compatibility problems.

In the client protocol we represent enums with integer values which generally reflects their ordering. So, for backward compatibility, it is important to make sure that they are consistent across Hazelcast versions.

[2020-04-28 15:36] sejla commented on #1055
I'm on it :)

[2020-04-28 17:41] lata4 opened #16934 "Hazelcast eviction policy not working on 3.7.8 version for used heap size"
**Describe the bug**
Hazelcast eviction policy not working on 3.7.8 version for used heap size

**Expected behavior**
eviction should happen once used heap size is breached

**To Reproduce**

Steps to reproduce the behavior:
My config:
[code]

Common details that we're often interested in:

- Cluster size, 1
- Version of Java. 1.8

Checking through management center ,new entries do not enter the m

[2020-04-29 09:46] ahmetmircik commented on #16934
@lata4 can you please share a reproducer for the expected behavior?

[2020-04-30 10:28] laszlocsomor opened #16944 "Documentation: clarify hazelcast.wait.seconds.before.join"
**Describe the bug**

The [documentation](https://docs.hazelcast.org/docs/latest/manual/html-single/#system-properties) says too little about `hazelcast.wait.seconds.before.join` and `hazelcast.max.wait.seconds.before.join`.

**Expected behavior**

It'd be useful if the docs explained when to override these properties (and when not to), and gave guidance how to choose meaningful values. E.g. is th

[2020-04-30 15:51] StephenOTT opened #16945 "NotEqualPredicate is missing getAttribute method"
https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/query/impl/predicates/NotEqualPredicate.java

compared to:

https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/query/impl/predicates/EqualPredicate.java#L141

It does not seem possible to get the attribute that a NotEqualPredicate is applied to.

[2020-04-30 15:55] StephenOTT commented on #16945
Seems to be inconsistently applied..

GreaterLessPredicate and BetweenPredicate has the getAttribute method.

Missing:
NotEqualPredicate
RegexPredicate
LikePredicate
ILikePredicate
InPredicate
NotPredicate

[2020-04-30 16:35] StephenOTT commented on #16945
NotPredicate does not even contain/collect the attribute property
`SqlPredicate("age NOT IN (20)")`

[2020-05-01 04:46] jyizheng commented on #133
What is the status of this issue?

[2020-05-01 07:38] jerrinot commented on #133
@jyizheng Hazelcast support range queries using an index. See [this](https://docs.hazelcast.org/docs/4.0.1/manual/html-single/index.html#distributed-query) for an intro into querying, [here](https://docs.hazelcast.org/docs/4.0.1/manual/html-single/index.html#indexing-queries) is an index configuration.

If you prefer to see tests then [this is a good starting point](https://github.com/hazelcast/ha

[2020-05-01 07:54] jyizheng commented on #133
@jagliot  Thanks, I just read. What is the data structure being used for the sorted index?

[2020-05-01 08:00] jerrinot commented on #133
@jyizheng: As of Hazelcast 4.0 it's either Skip-list map or Red-black tree (for HD maps)

We are doing some major improvements into the query subsystem (see [design documents](https://github.com/hazelcast/hazelcast/tree/master/docs/design/sql)) and it's very likely we'll replace the Red-black tree index with B+tree.

[2020-05-01 11:04] admanijag commented on #16667
One alternate solution is to disable the HazelcastHealthIndicator through actuators configuration and create your own CustomHazelcastHealthIndicator by checking the Hazelcast running status as:

HazelcastInstance hzInstance = HazelcastClient.newHazelcastClient();
hzInstance.getLifecycleService().isRunning()

application.yaml
management:
  health:
    hazelcast:
      enabled: false

[2020-05-01 15:08] andrewoelfing commented on #4233
Hello @Holmistr, I've created a new pull request #16946 in this repo and one pull request  in the client protocol repo (https://github.com/hazelcast/hazelcast-client-protocol/pull/318)

[2020-05-04 06:51] mmedenjak commented on #16932
Hi @TomaszGaweda ! Thank you for the report. Seems like it's a race between member shutdown and some cleanup process. @mdogan @petrpleshachkov can you take a quick look to see if this can be improved?

[2020-05-04 07:54] mmedenjak commented on #16945
Hi @StephenOTT !

`EqualPredicate` and `NotEqualPredicate` are private (internal) classes. As a rule of thumb, everything in `impl` or `internal` package is internal. Why do you need `getAttribute()`?

[2020-05-04 07:57] mmedenjak commented on #16944
@laszlocsomor thank you for the report. Would you be interested in sending a PR?

[2020-05-04 08:02] laszlocsomor commented on #16944
@mmedenjak : Certainly! Problem is, I'm looking for usage guidance myself :) If you can explain the semantics to me, and/or point me to the code where it's used so I can figure it out (`grep 'before.join'` gave no useful result), then I'm happy to write the text.

[2020-05-04 08:50] mmedenjak commented on #16934
@lata4 any updates on the issue?

[2020-05-04 09:13] mmedenjak commented on #16944
I see `hazelcast.wait.seconds.before.join` is used in the `ClusterJoinManager` and `DiscoveryJoiner` and the `hazelcast.max.wait.seconds.before.join` property is used in `AbstractJoiner#getMaxJoinTimeToMasterNode`. Other than that, I don't remember the details and maybe it's best to first take a look at the code, understand what it's doing, and then submit the updated documentation, as that would

[2020-05-04 09:30] mdogan commented on #16932
This is not a race issue... During graceful shutdown, sessions created by shutting down member are closed explicitly. For instance that means lock acquired by a session on shutting down member will be released immediately, instead of waiting for session heartbeat timeout.

But when CP is in **unsafe** mode, that session close operation is actually a partition based write operation, which is forbid

[2020-05-04 09:54] brzler opened #16952 "[Management Center] 4.5G deleted files, disk full"
**Describe the bug**
Deployed Management Center months ago. Today the disk went full and after analyzing the cause I discovered that the Hazelcast Management Center process still had hundreds of deleted files open which caused the disk to run full even though no files could be found with linux "df -f", some "lsof" output:

java        1517           hzman   97u      REG              253,2 32530186

[2020-05-04 10:12] lukasherman opened #16953 "NodeQueryCacheConfigurator.findQueryCacheConfigFromMapConfig throws java.util.ConcurrentModificationException"
Got  `ConcurrentModificationException` while setting up Query Cache from multiple threads.
[code]

**Expected behavior**
It is expected that method `getQueryCache` is thread-safe.

**To Reproduce**
This is a race condition so reproducer is a bit complicated. But the code inside `NodeQueryCacheConfigurator` is obviously not thread-safe.

**Additional context**
This happened during Jet job initializ

[2020-05-04 10:23] mmedenjak commented on #16952
Hi @brzler ! Thank you for the report. I'm not sure about the cause but I have some hunch. cc @puzpuzpuz @emre-aydin

[2020-05-04 10:41] ahmetmircik commented on #16953
Hi @lukasherman, thanks for the report. Is it possible to share a reproducer?

[2020-05-04 15:14] emre-aydin commented on #16952
Hi @brzler. Could you please share the command you use to start Management Center? I'm especially interested in whether you pass any parameters related to disk usage or not (https://docs.hazelcast.org/docs/management-center/3.12.7/manual/html/index.html#disk-usage-config).

[2020-05-04 16:42] brzler commented on #16952
@emre-aydin I start it as systemd service with:

[2020-05-05 06:49] laszlocsomor commented on #16944
Thanks! I can take a look in the coming days. @Serdaro, do you intend to fix this or shall I send a PR?

[2020-05-05 06:51] Serdaro commented on #16944
Go ahead @laszlocsomor  :) 👍

[2020-05-05 06:55] Serdaro commented on #16944
@laszlocsomor , @mmedenjak , transferring this issue to the IMDG reference manual issue.

[2020-05-05 10:31] emre-aydin commented on #16952
@brzler do you see any log entries that contain `Could not delete .lg file for ...` or `Could not delete file ... . This DB file might be open by Time Travel.`?

[2020-05-05 14:30] ahmetmircik opened #16955 "EntryEvent in EntryMergeListener doesn't have mergingValue set"
We can see mergingValue in 3.12 but in versions >= 4.0, this is broken.

To reproduce the issue print entry-event in this test: https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/test/java/com/hazelcast/client/ClientListenersTest.java#L120

[2020-05-05 14:48] ceeaspb opened #16956 "Documentation on Health monitor interval"
**Describe the bug**
Minor issue in that the documentation says that the health monitor is default 30 seconds interval while the code shows it is 20 seconds.

**Expected behavior**
Documentation should reflect the code.

HEALTH_MONITORING_DELAY_SECONDS

https://github.com/hazelcast/hazelcast/blob/eb8ffc40b2e2d7ccfa21e2acfd663bfff1496c6b/hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterP

[2020-05-05 15:04] StephenOTT opened #16957 "Predicates do not have managed context injection when predicate is local/not serialized"
a placeholder for coming PR.

When a Predicate is created that expects to have Dep Injection with ManagedContext, if the Predicate is only used in the local JVM, and not serialized to another node, then the Predicate does not receive Dep Injection with managed context.

cc @mmedenjak

[2020-05-06 11:18] tonitingaurav commented on #16920
Please have a look at this ticket as it is a decision making point for me in selection of other cache solutions.

[2020-05-06 12:02] lazerion opened #16960 "mvn `shade` failure on project hazelcast-sql"
- Fails on `Hazelcast-4.master-Solaris-OracleJDK8`
- Failures start on [Build #171 (Apr 25, 2020 7:18:02 PM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-Solaris-OracleJDK8/171/consoleFull)
- Failure can be traced in [console log](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-Solaris-OracleJDK8/175/consoleFull)
- Error
[code]
kindly check

[2020-05-06 13:11] mmedenjak commented on #16920
Hi @tonitingaurav ! Unfortunately I don't have much time right now to validate your approach and provide alternatives but I'll try to get back to you some time this week.

[2020-05-06 13:15] Serdaro commented on #16956
Thanks a lot for reporting @ceeaspb . Fixed with https://github.com/hazelcast/hazelcast-reference-manual/commit/1644644da7edc4819f93907cab3d505667254a3b

[2020-05-06 13:15] #16956 closed

[2020-05-06 14:06] cruzmatheus commented on #15031
Hello,

Is there any update why is this happening?

[2020-05-07 08:54] sancar opened #16964 "[TEST-FAILURE] ClientCacheEventJournalBasicTest>AbstractEventJournalBasicTest.allowReadingWithFutureSeq"
Failed here: https://github.com/hazelcast/hazelcast/pull/16961#issuecomment-625114772

The job `Hazelcast-pr-builder` of your PR failed ([log](
https://j-artifacts.s3.amazonaws.com/Hazelcast-pr-builder/572/build_log.txt), [artifacts](https://j-artifacts.s3.amazonaws.com/Hazelcast-pr-builder/572/Hazelcast-pr-builder-572.zip)).
Through arcane magic we have determined that the following fragments fro

[2020-05-07 13:19] webashutosh commented on #14913
Just an update - I've been busy with some other work for a few days. Looking forward to continue contributing very soon.

[2020-05-08 13:31] mmedenjak opened #16969 "Leaking backups when merge policy returns null"
If `SplitBrainMergePolicy` returns `null`, the entry will be removed on the primary but it is not removed on the backups. See: `com.hazelcast.map.impl.operation.MergeOperation`.

[2020-05-08 20:57] raftAtGit commented on #3395
not sure if the same issue, but I also see a continuous stream of similar logs sometimes:
[code]
in this last case, there were 4 nodes, with 3 CP members and 3 CP group size, I killed one node and one of the nodes started logging this (it was the Raft leader I guess)

and the system just hanged, possibly at `IAtomicLong.incrementAndGet`

version: `com.hazelcast:hazelcast:4.0`

[2020-05-09 11:32] lazerion opened #16970 "ClientMapEventJournalBasicTest allowReadingWithFutureSeq test failure"
- Fails on `Hazelcast-4.maintenance-OracleJDK8`
- Fails on [Build #74 (May 7, 2020 2:15:04 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-OracleJDK8/74/testReport/junit/com.hazelcast.client.map/ClientMapEventJournalBasicTest/allowReadingWithFutureSeq/)
- Error
[code]
- Stacktrace
[code]
- Hiccups
[code]
generally we do not report test failures with high hiccup

[2020-05-11 14:28] ahmetmircik commented on #16953
@lukasherman all accesses to queryCache configuration are synchronized [here](https://github.com/hazelcast/hazelcast/blob/0811c6942ad25f16087400ac424268bd774cb4d7/hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/QueryCacheEndToEndProvider.java#L78). I couldn't reproduce the issue so far. I would like to know how queryCache is used/accessed in your setup. For example, do you upd

[2020-05-11 14:53] lukasherman commented on #16953
Interesting, that `mutex` should be sufficient. It has also failed only once, we have sorted it out with retry-on-exception workaround.
Anyway, the code configuring `queryCache` looks like:
[code]
and it is called on each cluster node in parallel during Jet job startup in `Processor.init` method.

[2020-05-12 08:14] ahmetmircik commented on #16953
This seems the problematic part. There should be no config update for existing configs after node was started. Above code snippet is updating an existing map-config and this can cause `ConcurrentModificationException`. (With dynamic config capability, you can add new configs, for example new map config, but existing map-config objects cannot be updated). So updating existing config is not supporte

[2020-05-12 08:24] eldarj opened #16974 "Hazelcast ITopic - produce event to all -other- members/consumers in a cluster"
Currently, e.g. if having a single topic in a 3-member-cluster, and a single producer/single consumer per member - there's actually no way to avoid consuming/reacting to self-sent events.

E.g. this is what happens in a cluster with 3 members; M1, M2, M3; where all members can produce and consume from same topic:
- M1 produces eventA to some-topic
- M1, M2, M3 consume eventA from some-topic
- M2 p

[2020-05-12 09:16] abdulazizali77 commented on #15307
hi @mmedenjak can i pick this up?

[2020-05-12 09:42] mmedenjak commented on #15307
Hi @abdulazizali77 ! On first glance, I believe you can. But I'm currently a bit overwhelmed so I can't look deeper into it to provide pointers. Perhaps @blazember can, or I will share some ideas in a couple of days.

[2020-05-12 09:51] lukasherman commented on #16953
Thanks for explanation. Will update the code accordingly. Is there any other way to set up `QueryCacheConfig` dynamically?

[2020-05-12 11:55] mmedenjak commented on #15031
Hi @cruzmatheus , this was the answer:

The configuration wasn't correct so part of the operation succeeded while part of the operation failed.

[2020-05-12 12:11] mmedenjak commented on #16957
Thanks for the report. I've added the `first good issue` if someone wants to get started since it should be fairly straightforward. Here's an example - https://github.com/hazelcast/hazelcast/blob/0384245b66c0d06c56bf9c205fc7facf8ff8585e/hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java#L945-L947.

[2020-05-12 12:19] mmedenjak commented on #16932
Changed to `Enhancement` then since it's not a correctness error, it's just misleading and now it needs to wait for the session heartbeat timeout. I guess we could hook into the `MembershipAwareService` in the case of unsafe or something similar. Thank you @mdogan for the explanation!

[2020-05-12 13:01] ahmetmircik commented on #16953
No that is not supported. But you can always open an enhancement issue with your reasonings.

[2020-05-12 13:02] lukasherman commented on #16953
OK thank you.

[2020-05-12 13:02] #16953 closed

[2020-05-12 13:53] mmedenjak commented on #16974
Yes, you're right that it would be possible to implement this but we're not considering it at the moment. For now, you can, as you say, add some kind of producer ID to each message, and filter out subscribed messages based on the current node ID.

For now, I'm putting this issue in backlog so we see if there is more interest.

[2020-05-12 14:01] mmedenjak commented on #16970
Duplicate of https://github.com/hazelcast/hazelcast/issues/16964.

[2020-05-12 14:01] #16970 closed

[2020-05-12 14:03] mmedenjak commented on #3395
@raftAtGit no, it's not the same issue. I suggest opening a new issue. Maybe @mdogan or @petrpleshachkov know something more based on your message above.

[2020-05-12 14:22] devozerov opened #16975 "SQL: Performance improvements to known problems"
This is an umbrella ticket to track possible performance improvements.

- At the moment we use `Objects.hash(...)` method in many places. The problem is that it creates an array for every call. We should use hand-written `hashCode` implementation instead
- It seems that the way we process flow control messages in the `QueryFragmentExecutable` class is not efficient, as we check for pending flow co

[2020-05-12 14:27] devozerov opened #16976 "SQL: Add member compatibility check to plan"
As we add new operators, expressions, and optimizations, the plan generated on a new member may become invalid for the older member. We should implement a generic approach to compatibility handling to ensure that an invalid plan is never sent to a member.

Rough proposal:
1. When the optimization is started, get the oldest version present in the cluster and add it to the optimization context
1. Wh

[2020-05-12 14:30] devozerov opened #16977 "SQL: Do not use PartitionIdSet because it may consume too much memory"
If there are too many partitions, `PartitionIdSet` might become prohibitively expensive from the memory consumption perspective. Make sure to use standard collections or `int[]` instead.

[2020-05-12 14:35] devozerov opened #16978 "SQL: Disallow SQL on lite members"
Lite members cannot be used in a straightforward manner for several reasons:
1. They do not have data, so we cannot infer the schema through sampling
1. They may lack definitions of `IMap` and `ReplicatedMap`, so again we cannot get the schema

One potential solution is to delegate the request to a member and stream the results back. This will take some engineering time. At the same time, we do no

[2020-05-12 15:23] mmedenjak commented on #16976
Can we use cluster version here? It's supposed to be an indication when certain features introduced in a new version can be used.

[2020-05-12 15:30] #14330 closed

[2020-05-12 16:35] cruzmatheus commented on #15031
Thanks for the reply @mmedenjak. I'm experiencing something very similar: I've created a index using `IMap.addIndex` and now I'm getting the error above. Is the a way to remove the index from the HazelcastInstance?

[2020-05-13 06:12] eldarj commented on #16974
How does community contribution work? I'm more than happy to work on this, if the enhancement makes sense and would be useful.

[2020-05-13 10:35] Holmistr commented on #16957
@StephenOTT Thanks for the issue. To be clear, you wrote `a placeholder for coming PR.`

Does it mean that you're already working on it and you'll be submitting a PR? If so, I would assign this issue to you so nobody else would work on it. Please confirm :)

[2020-05-13 11:41] devozerov opened #16979 "SQL: Implement base Calcite integration skeleton"
This issue is concerned with the very basic atoms required for Calcite integration:
- Parser
- Validator
- Converter
- Optimizer infrastructure

[2020-05-13 13:07] StephenOTT commented on #16957
I had planned to write a PR. I have not started it yet.

[2020-05-13 13:39] JamesChenX commented on #13170
Hi, I need to check whether the problem can be fixed on v4.1 since the problem hasn't been fixed for a long time.

[2020-05-13 14:15] puzpuzpuz opened #16981 "MapConfig changes should be ignored for existing maps"
As shown in https://github.com/hazelcast/management-center/issues/3214, it's possible to programmatically change `MapConfig` for an already created map described via xml config. Once the change is done, it may be seen in the effective XML config available in MC:
https://docs.hazelcast.org/docs/management-center/4.0.2/manual/html/index.html#monitoring-members

Such changes should be ignored or an e

[2020-05-13 14:54] jgardiner68 commented on #16981
Reported by customer LCH in support issue https://hazelcast.zendesk.com/agent/tickets/6221

[2020-05-14 05:49] kvsravindrareddy opened #16983 "Spring Hazelcast 3.12 is not able to share the member information between two application clusters running on different machines"
I have two applications one Hazelcast embed and another application is Kafka consumer which consumes the messages from topic and put the data in embed cache. It was working without Spring hazel cast dependency.

1) Working code maven dependencies.
a) Embed Hazelcast Application
[code]

b) Kafka application which consumes the messages from topic and read the data from HazelCast cache.

Working depe

[2020-05-14 07:14] mmedenjak commented on #15031
No, unfortunately, once an index has been added dynamically, it is in use and cannot be removed. You'll have to restart your cluster to remove it.

[2020-05-14 07:22] mmedenjak commented on #13170
Hi @JamesChenX ! The problem is fixable but we're not planning on investing time in it in 4.1. Still, we're open to a contribution if you feel like it. I assume some kind of backpressure will still be needed so the fix cannot be simply removing the code.

[2020-05-14 08:17] devozerov opened #16984 "SQL: Implement IMap table metadata resolution"
We need to implement the metadata source for `IMap`. The implementation should expose registered IMap instances as tables in the following way:
1. Every map is exposed as a table with the same name
1. All IMap-backed tables are located in the predefined schema `partitioned`
1. This schema is added to the default search paths, thus allowing references to objects without an explicit schema name. Tha

[2020-05-14 10:12] JamesChenX commented on #13170
Hi @mmedenjak . Rather than implementing the backpressure now I think there is a more performance-friendly way to avoid sync tasks and other developers would be happy with it.

We can cache a bunch of tasks submitted in a specified time (should be able to be specified by developers. e.g. 200ms) and then send they as a single "Data" in a MemberCallableTaskOperation, which can also eliminate the ove

[2020-05-14 10:53] devozerov commented on #15315
Duplicate to https://github.com/hazelcast/hazelcast/issues/16911

[2020-05-14 10:53] #15315 closed

[2020-05-14 22:37] keteracel opened #16987 "Touching an IMap entry with an EntryProcessor changes the TTL"
**Describe the bug**
Using Hazelcast 4, we noticed the behavior has changed when setting explicit TTLs on IMap entries. Previously, an explicit TTL would be maintained after EntryProcessors operated on the entries. Now  it looks like some very long TTL is applied on calling Entry.setValue(...) in an EntryProcessor.

**Expected behavior**
In Hazelcast 3, the observed behavior is that the TTL is unc

[2020-05-14 23:14] keteracel commented on #16987
Adding a sysout before and after the processor we see the following:
`EntryView{key=key1, value=value1, cost=86, creationTime=1589498008000, expirationTime=1589498018000, hits=2, lastAccessTime=1589498008000, lastStoredTime=0, lastUpdateTime=1589498008000, version=1, ttl=10000, maxIdle=9223372036854775807}
EntryView{key=key1, value=value2, cost=86, creationTime=1589498008000, expirationTime=922337

[2020-05-15 01:38] ahmetmircik commented on #16987
Please see related issue: https://github.com/hazelcast/hazelcast/issues/10965.
Unlike before, in 4.0, updates without ttl cancels previously set ttl of an entry.

I will check migration guide and will add this if this was missed.

[2020-05-15 02:34] keteracel commented on #16987
Hi @ahmetmircik, thanks for the reply but this is not a `put`, this is an `executeOnKey`. I do not see where I can set a ttl along with `<R> R executeOnKey(@Nonnull K key,
                       @Nonnull EntryProcessor<K, V, R> entryProcessor);`.

[2020-05-15 09:25] ahmetmircik commented on #16987
Only name of the method is different in this case, `executeOnKey` is doing update  like ordinary `put`. If we only change behavior on entry-processor(EP) side, this will be inconsistent behavior with other update operations. Instead we can add ttl changing capability to passed entry, for example.

First, this can be a new interface:
[code]

And its usage example:
[code]

WDYT?

[2020-05-15 16:23] keteracel commented on #16987
This would work. And +1 for consistency.

[2020-05-15 17:22] cruzmatheus commented on #15031
I see. Thanks for the help @mmedenjak

[2020-05-18 10:44] emre-aydin commented on #16952
@brzler I have looked into the issue and I think I found the cause. It seems that we do not check whether we have an open file handle to the file we're deleting and close it. Unfortunately, we're a bit loaded at the moment preparing for our next minor release (4.1), so it will be a while before we get to working on the fix. I will keep you posted.

[2020-05-19 10:42] tkountis opened #16994 "Auto-disposable tasks for IScheduledExecutor"
Submitted tasks on `IScheduledExecutor` acquire and hold resources past the lifetime of the job/task. As per the design, each Future returned by any `IScheduledExecutor` API, must be disposed ( `dispose()`) to release the resources on the partition.

The reason this happens is the API itself which returns a `Future` object, and due to the distributed nature of the application, its not easy to trac

[2020-05-19 10:42] tkountis commented on #16994
For a work around, we usually suggest an orchestrator design, where a periodic task is introduced that holds a reference to all scheduled tasks, and periodically checks if they are done, in which case it disposes them. An alternative to that, would be for the callers to submit a dispose task to the DurableExecutorService and get the current task disposed.

[2020-05-19 11:44] #16979 closed

[2020-05-20 07:23] pveentjer opened #16996 "NPE AbstractEventJournalBasicTest"
When running AbstractEventJournalBasicTest I can see NPE's in the output

[code]

[2020-05-20 07:26] pveentjer commented on #16996
it appears to choke on this:

[code]
When debugging I see that the container is null.

[2020-05-20 10:12] raghu-megh commented on #8828
Hello,

I am planning to work on this.

First, is this still an issue now? If not, then how to verify this? Please give me instructions either way.

Thanks,
Raghuram

[2020-05-20 10:13] raghu-megh commented on #16957
Hello,

I am planning to work on this. How to go abt it? Whatever @mmedenjak  has written is already in the codebase.

Please give me instructions.

Raghuram

[2020-05-20 10:17] mmedenjak commented on #16957
Hi @raghu-megh ! The example on how it should be done is above and it should be done in both `MapProxyImpl` and `ClientMapProxy`. Also, tests need to be added. Now, better agree with @StephenOTT on who will deliver the fix.

[2020-05-20 10:19] StephenOTT commented on #16957
I have not started it yet. So if you want to start it please feel free.

[2020-05-20 10:19] mmedenjak commented on #8828
Hi @raghu-megh ! You need to look into the implementation of `java.util.Date` and first prove or disprove if the code is thread-safe. After that, you can proceed to implement a thread-safe wrapper or we can close the issue.

[2020-05-20 11:26] #16996 closed

[2020-05-20 12:03] tonitingaurav commented on #16920
Unfortunately, I am not getting answer for a long time :(

[2020-05-20 12:10] tonitingaurav opened #16998 "Map all get Operations should be available to be run at local node"
IMap has only one method getLocalKeySet to get the local keys. There should be functionality to

1. getAllLocal(List<keys>)
2. isLocalToNode(Key)

and other similar get methods. This will be a huge optimization if one wants to pass on a list of keys and wants to do some user defined aggregation operations.

[2020-05-20 12:26] tonitingaurav opened #16999 "Addition of methods passing multiple keys to IMap may be a huge performance benefit"
I am seeking support of below methods on IMap

- groupByMember(List<Key>) : Map<Member, List<Key>>
   Method getting list of keys and returning their grouping by their Members
- getLocalMap():IMap
   Method returning local IMap (subset of IMap with local member entries)
- getLocal(Object key):Object
  Method returning value if key exists in local member or return null (regardless it exists in othe

[2020-05-20 12:46] blazember commented on #16981
Duplicate of https://github.com/hazelcast/hazelcast/issues/10812. Closing this in favor of the linked issue that contains some discussion on this topic.

If you think it's not a duplicate for any reason, please reopen.

[2020-05-20 12:46] #16981 closed

[2020-05-20 12:57] puzpuzpuz commented on #10812
One of our customers reported a related issue recently. See https://hazelcast.zendesk.com/agent/tickets/6221 for more details.

[2020-05-20 13:22] lazerion opened #17000 "HazelcastProxyFactoryTest testProxyHazelcastInstanceClasses_ofSameVersion_areSame"
- Fails on `Hazelcast-4.master-IbmJDK8-fips-nightly`, also `Hazelcast-4.master-nightly`
- Fails on [Build #162 (May 19, 2020 9:11:36 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-IbmJDK8-fips-nightly/162/testReport/com.hazelcast.test.starter.test/HazelcastProxyFactoryTest/testProxyHazelcastInstanceClasses_ofSameVersion_areSame/)
- Error
[code]
- Stacktrace
[code]

[2020-05-20 13:38] lazerion opened #17001 "QueryCacheBasicTest failures"
- Fails on `Hazelcast-4.master-Windows-OracleJDK8`
- Fails on [Build #164 (May 19, 2020 2:46:05 PM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-Windows-OracleJDK8/164/)
- Failing cases
[code]
- Sample Error
[code]
- Stacktrace
[code]

kindly check

[2020-05-20 16:27] raghu-megh commented on #16957
I have the changes done in both the classes now, now should I follow com.hazelcast.map.impl.journal.AdvancedMapJournalTest.testBackupSafety() test case to test this? What should I assert?

Sorry, if these are basic questions but am learning.

Thanks,
Raghuram

[2020-05-21 06:58] mmedenjak commented on #13170
I see it as a possible performance improvement but its' benefits are not guaranteed and it's slightly over-engineered. Batching tasks can also lead to overloading the receiver as the receiver can again be slow and sending batches does not help much. In addition to this, it can also overload the sender if the user produces the tasks so fast that he exhausts memory before the period elapses. Then, w

[2020-05-21 07:17] mmedenjak commented on #16983
@kvsravindrareddy you say that the application is not able to get the cache data. Are you getting some error? Can the application even connect to any hazelcast member?

Also, you mention `Spring Hazelcast 3.12` but in the dependencies you have hazelcast `3.6.3`. Which one is it?

[2020-05-21 07:24] devozerov opened #17005 "SQL: Basic optimization for project/filter/scan"
We have most of the backend (executor) and frontend (parser/optimizer) support in place. Now it is time to introduce the integration between a frontend and backend:
1. Add Calcite operators for scan/project/filter
1. Add minimal set of rules to support scan/project/filter operations
1. Add tests for end-to-end execution

[2020-05-21 07:32] mmedenjak commented on #16957
`AdvancedMapJournalTest.testBackupSafety` is something completely unrelated. You should create a test which sets up a managed context, starts a single member and then invokes some IMap method with Predicate and Projection. In the end you can assert that the managed context was invoked. Here's a similar test but for another data structure - https://github.com/hazelcast/hazelcast/blob/16ae47b145428d

[2020-05-21 07:39] mmedenjak commented on #16974
Hi @eldarj ! You can check out these links:
https://github.com/hazelcast/hazelcast#contributing
https://github.com/hazelcast/hazelcast/blob/master/CONTRIBUTING.md

In short, you fork the repository, create a branch probably based off of master (if you want to work with the latest code) and once you're ready, submit a pull request against our master. We'll pick it up from there, review it and possi

[2020-05-21 08:54] xdenser opened #17006 "Move JCache provider SPI registration to separate maven artifact."
If a project wants to start using Hazelcast and already uses some JCache provider it is tricky to avoid conflicts. If the code calls Caching.getCache() - this call fails as we get more than one Caching provider in the system. There are ways to to fix this, but it is better not to register JCache provider uncoditionally.
My proposal is to move registration to separate dependency, and if somebody do

[2020-05-21 09:05] mmedenjak commented on #17006
@xdenser thank you for the report. Moving to backlog for now. @vbekiaris any thoughts on the priority of something like this?

[2020-05-21 09:23] mmedenjak commented on #16999
Hi @tonitingaurav ! I can see how these might seem useful but I can assure you we're probably not going to add them any time soon. The premise of Hazelcast is to provide interfaces of structures but hide away the details such as data distribution and existence of multiple members (which may change at any point due to membership failures).

Still, for `groupByMember` and `getLocal` you can to some

[2020-05-21 09:27] mmedenjak commented on #16998
Same as in https://github.com/hazelcast/hazelcast/issues/16999, we'll keep this open but at this point we're not planning on exposing more details of data distribution on public API. You can create the `isLocalToNode` method yourself by using `PartitionService#getPartition`.

[2020-05-21 09:34] vbekiaris commented on #17006
I don't see this as high priority. It is easy to workaround issues with multiple JCache providers in the classpath:

- by starting java with the `-Djavax.cache.spi.CachingProvider=<fully qualified caching provider class name here>` system property, without any source code changes.

- by using the [`Caching#getCachingProvider(String)`](https://javadoc.io/doc/javax.cache/cache-api/latest/javax/cache

[2020-05-21 09:34] mmedenjak commented on #16920
Hi @tonitingaurav ! Sorry for the wait, I'm still too busy but I checked with some colleagues. Apparently the issue is that you can't nest extractors that have brackets `[]`. As you can see from [this test](https://github.com/hazelcast/hazelcast/blob/97ff57ba92dc1fbfa77720885e7db40757999080/hazelcast/src/test/java/com/hazelcast/query/impl/getters/ExtractorHelperTest.java#L263-L266), only the last

[2020-05-21 09:39] mmedenjak commented on #17006
Thanks for the hints @vbekiaris !

[2020-05-21 09:44] ahmetmircik opened #17007 "Send write behind state to output stream directly"
Goal is to use less heap during migration by eliminating meta copying of data to heap.

[2020-05-21 10:00] ahmetmircik commented on #16934
Please try with latest version, if that doesn't help, you can see this similar issue https://github.com/hazelcast/hazelcast/issues/15715

[2020-05-21 10:00] #16934 closed

[2020-05-21 11:41] tonitingaurav commented on #16999
These are too much useful and a lot of optimization can be done. I have a situation where I want to execute the complex aggregation and filtering at Map level for a given set of keys. On node execution is going to improve the optimization a lot. We can achieve it via some other ways but that is not optimized way.

[2020-05-21 11:46] mmedenjak commented on #16999
As mentioned, you can use the PartitionService API for now.

[2020-05-21 11:54] phamrak commented on #9669
Despite of `near cache` doesn't guarantee strong consistency, would expect that it gets invalidated event in this case. Will appreciate any meaningful description. Couldn't find any so far.

Could solve the problem by adding a `EntryExpiredListener` to the map:
[code]

[2020-05-21 12:04] ahmetmircik commented on #9669
Open issue for this problem: https://github.com/hazelcast/hazelcast/issues/10975

[2020-05-23 01:07] bmistry13 opened #17009 "Spring Boot 2: Not able to load hazelcast Resources Files under META-INF/services Folder"
Hi All,

I have spring boot app and I build it as a single jar file.

[23-May-2020 00:49:58.353][ERROR][main][com.hazelcast.internal.util.ServiceLoader] JAR entry BOOT-INF/lib/hazelcast-all-4.0.1.jar!/META-INF/services/com.hazelcast.instance.impl.NodeExtension not found in /opt/xxx/xxx/spring-boot/spring-boot.jar
java.io.FileNotFoundException: JAR entry BOOT-INF/lib/hazelcast-all-4.0.1.jar!/META-I

[2020-05-23 04:22] bmistry13 commented on #17009
org.springframework.boot.loader.PropertiesLauncher is broken in 2.3.0.  Sorry It is not issue.

[2020-05-23 04:22] #17009 closed

[2020-05-23 07:46] JamesChenX opened #17010 "Provide ReplicatedMap with the set method that puts an entry into the map without returning the old value"
**Please describe the problem you are trying to solve**
Our project needs to put entry into ReplicatedMap frequently while we don't the old value, so it wastes unnecessary system resources.

**Please describe the desired behavior**
Provide ReplicatedMap with the set method that puts an entry into the map without returning the old value just like what com.hazelcast.map.IMap#set(K, V) does

**Descri

[2020-05-25 13:03] mmedenjak commented on #16708
Closing until next failure, then we can think about how to approach this.

[2020-05-25 13:03] #16708 closed

[2020-05-25 13:33] jerrinot opened #17012 "Anti-Entropy Issue with huge number of partitions"
Matko wrote: [...] One thing we’ve found when looking at an issue - every 30 seconds by default we send out `PartitionBackupReplicaAntiEntropyOperation` from every partition owner to every backup replica to check if replicas are in-sync. If there are 20k partitions, that means 140k operations to check if replicas are in sync. Maybe this can be improved somehow

https://github.com/hazelcast/hazelca

[2020-05-26 08:57] devozerov commented on #16976
Yes, perhaps we will use cluster versions.

[2020-05-26 16:45] webashutosh commented on #14913
Coding in progress. Will be raising a PR by this weekend.

[2020-05-27 08:15] pveentjer opened #17014 "ClusterHeartbeatManager don't lock while logging"
The ClusterHeartbeatManager.clusterServiceLock is hold while logging when calling handleHeartbeat.

if the log for whatever reason is slow, any other call to the ClusterHeartbeatManager will stall.

[2020-05-27 09:44] devozerov commented on #16984
Reopened until the enterprise part is merged.

[2020-05-27 13:00] lazerion opened #17015 "ClientReliableTopicOnClusterRestartTest shouldFail_OnClusterRestart_whenDataLoss_notLossTolerant"
- Fails on `Hazelcast-4.master-OracleJDK8`
- Fails on [Build #94 (May 27, 2020 6:10:04 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-OracleJDK8/94/testReport/junit/com.hazelcast.client.topic/ClientReliableTopicOnClusterRestartTest/shouldFail_OnClusterRestart_whenDataLoss_notLossTolerant/)
- Stacktrace
[code]
- Noticed in logs
[code]
kindly check.

[2020-05-27 13:05] lazerion commented on #16930
- Continues to fail `Hazelcast-4.master-ZuluJDK9`
- Fails on [Build #75 (May 23, 2020 2:08:01 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-ZuluJDK9/lastCompletedBuild/testReport/junit/com.hazelcast.cp.internal/CPMemberAddRemoveTest/testRemoveMemberFromMajorityLostRaftGroup/)

[2020-05-27 18:53] shashanka981 opened #17016 "com.hazelcast.config.ConfigurationException: Cannot add a dynamic configuration"
**Describe the bug**

Our application is running hazelcast  in C/S mode, both client and server with hazelcast-enterprise-3.11.5 version. Application version is being rolling upgraded from v1 to v2 - note app is being upgraded, not the hazelcast.  While one of the app servers in cluster is being rolled over from v1 to v2, we see below exception while doing **clientInstance.getConfig().addMapConfig

[2020-05-28 08:40] #16984 closed

[2020-05-28 09:14] vbekiaris commented on #17016
@shashanka981 thanks for reporting this issue. I can see there is a problem with `null` vs empty `QueryCacheConfig`s in the output you posted.

While we analyze the root cause and consider potential fixes, if you are absolutely certain that your map configs are same, you can workaround the issue by starting your hazelcast members JVM with the option `-Dhazelcast.dynamicconfig.ignore.conflicts=true

[2020-05-28 16:12] fretfan commented on #15455
Any news or workarounds on this one?
Currently have similar issue. When using hazelcast + spring boot + JCache and packing into bootable WAR file. When running 2 nodes locally: @CacheEvict annotation triggers removal on both nodes. When running 1 node + directly from Intellij (or on server environment 2 WARs deployed into Liberty) - message gets lost or not sent

[2020-05-28 16:24] benze commented on #15455
@fretfan Apparently, the spec for JSR107 is silent about whether or not to trigger the listeners on eviction.  Personally, I find that backwards, and do not understand why one would not want listeners to trigger on eviction.

I believe the HZ team triaged this as an oversight in the HZ core code, but I have not heard anything back about any work to implement the changes.  I had looked into the HZ

[2020-05-28 19:46] fretfan commented on #15455
ok, thanks for quick reply

[2020-05-29 07:16] vbekiaris commented on #17016
@shashanka981 actually the new map config does conflict the existing one. Notice that the name of the extractor class was changed:

original:
MapAttributeConfig{name='presenceattribute'extractor='com.pega.pegarules.cluster.internal.presence.holders.PresenceUserAttributeExtractor'}

modified:
MapAttributeConfig{name='presenceattribute'extractor='com.pega.platform.presence.datastore.hz.PresenceUserA

[2020-05-29 07:16] #17016 closed

[2020-05-29 08:45] vbekiaris commented on #15455
As @benze already mentioned the spec does not specify an event type or listener specific to entry eviction due to resource limits. The current implementation of JCache in hazelcast does not trigger events on eviction, however contributions are welcome and I can help with navigating the codebase. @benze I see you have already done some research, would you care to contribute a pull request to add ev

[2020-05-29 14:00] wanghaofeng03 opened #17019 "Program hangs forever when DelegatingCompletableFuture is used with Normal CompletableFuture"
Hi all, our team is using IMap as Memory Level Distributed Cache. We found out that there are some underlying risks in the asychronous interface offered by the IMap.
The Interface such as `setAsync` or `getAsync` return a ComplationStage and we could turn the stage into CompletableFuture by calling `toComplatableFuture` method. However, this won't return a normal CompletableFuture implemented in t

[2020-05-29 18:15] vbekiaris commented on #17019
@wanghaofeng03 many thanks for the detailed issue report. I prepared a draft fix PR #17020 for `master` branch.

[2020-05-29 19:33] silvaran commented on #15950
Is it possible this is related to https://github.com/hazelcast/hazelcast/issues/14060 ?

[2020-05-30 05:36] lazerion commented on #17015
- Similar failure on `Hazelcast-4.maintenance-CorrettoJDK8`
- Fails on [Build #65 (May 28, 2020 2:12:05 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-CorrettoJDK8/65/testReport/junit/com.hazelcast.client.topic/ClientReliableTopicOnClusterRestartTest/shouldContinue_OnClusterRestart_whenDataLoss_LossTolerant_afterInvocationTimeout/)

[2020-05-30 05:45] lazerion opened #17021 "PartitionAssignmentsCorrectnessTest testPartitionAssignments_whenNodesStartedTerminated"
- Fails on `Hazelcast-4.maintenance-OracleJDK8`
- Fails on [Build #77 (May 28, 2020 2:16:44 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-OracleJDK8/77/testReport/junit/com.hazelcast.internal.partition/PartitionAssignmentsCorrectnessTest/testPartitionAssignments_whenNodesStartedTerminated_backups_2_nodes_3_/)

- Error
[code]
- Stacktrace
[code]
- Found in log

[2020-06-01 08:02] Danny-Hazelcast opened #17022 "client side HazelcastException RetryableIOException Packet not sent to"
this test is throwing a new type of generic exception HazelcastException

http://jenkins.hazelcast.com/view/kill/job/kill-data-loss/162/console
/disk1/jenkins/workspace/kill-data-loss/4.1-SNAPSHOT/2020_05_31-12_30_19/data-loss

list of exception which are expected, in a member node kill test.

1) com.hazelcast.spi.exception.TargetDisconnectedException:
2) java.lang.IllegalStateException:
3) com.ha

[2020-06-01 09:27] ncherkas opened #17023 "User Code Deployment it’s not capable of resolving the package private classes and interfaces"
User Code Deployment it’s not capable of resolving the package private classes and interfaces. We found this while developing the Map Store Support for the Hazelcast Cloud. When some class inside the Hikari Connection Pool references package a private stuff - it fails with the IllegalAccessError on the attempt to load it:
[code]

**Now, this fully blocks the end-to-end scenario working at our side

[2020-06-01 10:14] ncherkas opened #17026 "User Code Deployment class loader creation causes java.security.AccessControlException"
We found this while implementing a Map Store Support for the Hazelcast Cloud. If you build a typical JDBC Map Store with the 3rd party dependencies, you'll get the following error when it comes to the Map Store instance initialization:

[code]

The reason we get this is that in Hazelcast Cloud we put the Java Security Manager restrictions on the cluster members:
[code]

**Expected behavior**
The c

[2020-06-01 15:26] ahmetmircik opened #17032 "IMap#addIndex should fail fast for IndexType#BITMAP on HD"
seen during investigation of https://github.com/hazelcast/hazelcast-enterprise/issues/2937

[2020-06-02 11:48] sertugkaya opened #17038 "QuorumListener is triggered during member startup but before it has joined a cluster"
**Describe the bug**
Tested on 3.12.2 which is customer's version.
In a cluster with Quorum defined, without touching any maps, just calling `Hazelcast.newHazelcastInstance();` causes `QuorumListener` to be triggered, before the member joins anyone and forms the cluster initially.

**Expected behavior**
We shouldn’t fire any quorum listener events after a member starts until quorum is met initiall

[2020-06-02 12:18] mmedenjak commented on #17010
Hi @JamesChenX ! Thank you for the suggestion. Currently we don't plan on adding this in the following release. You can send a PR and we will add it, though.

[2020-06-02 12:22] mmedenjak commented on #17010
BTW I saw your comment:

I do agree with you to some extent and we're trying to constantly improve. In that regard, can you elaborate a bit more on this? If we can't make your life easier, at least we'll make it easier for someone else.

[2020-06-02 12:47] mmedenjak commented on #15455
Sure, sounds good.

[2020-06-02 14:01] JamesChenX commented on #17010
Hi @mmedenjak, I would like to share some findings and I also really hope that hazelcast can do better since hazelcast is still the best choice for the servers written in Java to form a full-featured cluster.

Performance (The key reasons that we have to drop hazelcast in our servers):

1. Memory allocation. It's a very common case for developers to implement RPC via the tasks of hazelcast but haz

[2020-06-02 17:22] mmedenjak commented on #15950
@silvaran might be but I'm not quite sure. This issue manifests itself if multiple members are started at roughly the same time whereas you don't mention this in your issue. Regardless, I've added your issue to the current milestone and I'll try to get someone to take a closer look.

[2020-06-02 17:25] mmedenjak commented on #17019
@wanghaofeng03 thanks again for the detailed report, this time from my side and thanks @vbekiaris for jumping on it. Hopefully we'll be able to backport the fix.

[2020-06-02 17:30] silvaran commented on #15950
@mmedenjak There's definitely a multi-node startup involved.  In fact, my workflow at the time involved issuing a reload to a domain-controlled Wildfly, which is going to stop/start everything at roughly the same time.

[2020-06-02 18:39] #17026 closed

[2020-06-03 06:41] mmedenjak commented on #15950
That's good news then actually because it means you can try upgrading to 4.0 or 3.12.5 where the issue has been fixed.

[2020-06-03 06:47] mmedenjak commented on #14060
Possibly related to https://github.com/hazelcast/hazelcast/issues/15950#issuecomment-637697273.

[2020-06-03 08:28] devozerov opened #17042 "SQL: Introduce public API"
We should introduce a public API for the SQL engine. General considerations:

1. **Service** - SQL should be accessed through a new service interface exposed from `HazelcastInstance`. Old predicate API was exposed from the `IMap` interface. This approach doesn't work for us because SQL could access multiple `IMap`-s and other data sources, such as `ReplicatedMap` or Jet connectors.

2. **Do not us

[2020-06-03 08:32] benjwarner opened #17044 "LinkageError “attempted duplicate class definition for name” for inner-classes"
**Describe the bug**
Issue also reported here: From: https://stackoverflow.com/questions/61799724/hazelcast-linkageerror-attempted-duplicate-class-definition-for-name

When usercodedeployment is being used.
1. If an inner-class or inner-enum class definition is loaded from a remote node.
2. Then the outer-class definition is loaded from a remote node.

A LinkageError exception occurs with message

[2020-06-03 09:11] puzpuzpuz commented on #17042
I see mentioning of `page size`. It would be nice to know how paginated (or cursor based?) queries will work.

[2020-06-03 09:35] viliam-durina commented on #17042
We should also explicitly say that we allow parallel queries: one can submit two queries and iterate their results in parallel.

Also async queries could be beneficial, at least as a future option.

[2020-06-03 09:40] devozerov opened #17045 "SQL: Logical optimization rules for Project and Filter"
At the moment `Project` and `Filter` operators are not optimized anyhow. We need to investigate and implement/adopt optimization rules for these operators:
1. Push projects and filters into scan operator
1. Merge projects/filters
1. Simplify projects/filters
1. Investigate whether Calc operator could be used

[2020-06-03 09:43] devozerov commented on #17042
From the user perspective, he works with a cursor. But from the implementation standpoint, we move data from nodes to user applications in batches of various sizes. Page size determines the maximum number of rows that are copied to a buffer of user iterator

[2020-06-03 09:46] devozerov commented on #17042
@viliam-durina

Yes, on internal example is passing results to client members - async row consumption could prevent a handler thread from being blocked waiting for results, thus increasing throughput. It will be possible to adopt async consumption of results in the future if possible without changing the current API, which is synchronous.

[2020-06-03 09:54] puzpuzpuz commented on #17042
I see. Thanks for the clarification.

[2020-06-03 10:04] viliam-durina commented on #17042
I wonder if this is a good idea:
[code]
It's convenient, but if we assign to incorrect type, there will be CCE at runtime. I'd rather force the user to cast explicitly, at least he better sees what the call is doing. Especially if we plan to add methods like `getInt` in the future which can do some type conversions.

[2020-06-03 10:17] mmedenjak commented on #17044
Thank you for the report @benjwarner ! @sancar can you take a look?

[2020-06-03 10:37] devozerov commented on #17042
If the underlying object is of incorrect type, CCE will be thrown anyway. Without generics we add complexity to the code - users will have to do conversions by hand always, while in reality, the assignment will be valid in most cases.

[2020-06-03 10:59] yozank opened #17046 "Connection-strategy=ASYNC doesn't throw HazelcastClientOfflineException for Unisocket"
When smart routing is disabled, connection strategy=ASYNC doesn't throw HazelcastClientOfflineException, instead, client invocation timeout is considered.

When the client with the same configuration is changed to smartRouting=true, the behavior becomes as expected; any call to Hazelcast throws HazelcastClientOfflineException immediately.

The issue doesn't reproduce with Hazelcast 4.0.

For repro

[2020-06-03 11:23] puzpuzpuz commented on #17042
Will the timeout parameter specify total amount of time spent on each member for query execution? I'm considering the interactive application scenario, where the first page is fetched initially and then the application waits for a user input to fetch the next one. In this scenario there should be an idle timeout to avoid resources kept on members for such idle queries.

[2020-06-03 11:24] mmedenjak commented on #17010
Thank you for the writeup! Regarding memory allocation, I'm not sure if I got your observation right but we do allow allocating memory off-heap, it's just that it is not available in our free offering but rather in our enterprise offering (https://docs.hazelcast.org/docs/latest-dev/manual/html-single/#using-high-density-memory-store-with-map).

Regarding async methods, we're adding them one-by-one

[2020-06-03 11:55] jerrinot commented on #17042
silly idea: do not add `QueryService`, but expose the `query()` methods directly on the `HazelcastInstance`.

Pros:
* it's not a data structure on its own. you can see this as a meta-service. something spanning other data-structure.
* concise code (for users). think of `instance.query("select * from HerosMap where name = ?", 'devozerov')`

Cons:
* `HazelcastInstance` is a precious resource. There

[2020-06-03 12:20] erkangurgen opened #17047 "BITMAP index statisctics is not propagated to the LocalMapStats"
**Describe the bug**
The statistics of a BITMAP index is not reflected into the LocalMapStats. This behavior seems to be occurring due to the implementation difference between getRecords() and evaluate() methods on AbstractIndex.java. While getRecord() invokes stats.onIndexHit(), evaluate() method does not have any calls to the stats.onIndexHit().

**Expected behavior**
The operations on Map are e

[2020-06-03 12:26] devozerov commented on #17042
@puzpuzpuz at the moment we have a timeout for total query execution time. It is tracked on a coordinator node. When the timeout is reached, the query cancel command is sent to all participants. There is no notion of "idle timeout".

[2020-06-03 12:29] devozerov commented on #17042
@jerrinot The cons you mentioned was precisely the reason for a separate service. At the moment we already have two methods, and there is a chance that more will be added in the future versions. E.g. methods to spawn a session (out of scope now), methods for management and monitoring, methods to execute a multi-query string, etc.

[2020-06-03 12:31] puzpuzpuz commented on #17042
Is the timeout tracked from the query start and up to `SqlResult#close()` call? Or the logic is different?

[2020-06-03 12:43] viliam-durina commented on #17042
@puzpuzpuz When doing pagination, I always used to execute a new query for each page. Retaining a cursor is expensive, esp. when the user doesn't request a next page. In JDBC you also block the connection. Our cursor is also not scrollable - you can't go back to the first page. And one more point: the cursor does not tolerate migration; if there's a migration while data is fetched, you have to exe

[2020-06-03 12:45] lazerion commented on #16960
- Continues to fail on `Hazelcast-4.master-Solaris-OracleJDK8`
- Causing job failure w/out any test failures, [Build #185 (Jun 1, 2020 7:18:01 PM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-Solaris-OracleJDK8/185/consoleFull)

[2020-06-03 12:45] puzpuzpuz commented on #17042
@viliam-durina
I know about best practices. Yet, initial SQL implementation won't support `LIMIT`/`OFFSET` clauses. So, I'm considering workaround options here.

[2020-06-03 13:13] devozerov commented on #17042
@puzpuzpuz Query start is an instant when the query is submitted to a member (aka initiator). Query finish is an instant when the initiator received the last chunks of data from all participants, i.e. no member is currently executing the query.
Query timeout defines the maximum duration defined as `duration = query_finish - query_start`. If the query is still active on the initiator after the time

[2020-06-03 13:43] viliam-durina commented on #17042
This is the API when used:
[code]

[2020-06-03 13:44] viliam-durina commented on #17042
Just realized, we have two methods returning the iterator of rows: `getRows()` and `iterator()`. The latter is inherited from `Iterable`.

[2020-06-03 15:00] sertugkaya commented on #17047
ZD 6270

[2020-06-03 15:54] kwart commented on #17023
I don't see a simple way how to fix the package-private access in user code deployments.
We would need to provide all classes from the given package in `ClassData` instance so the access is possible from the same classloader (`ClassSource` instance).

We can improve the behavior by including a wider scope in `ClassData`. E.g.
* inner classes and anonymous classes which are declared within other in

[2020-06-03 18:11] cangencer commented on #17042
We can skip `get` on all the methods, it's just additional typing.

[2020-06-03 20:00] erosb commented on #17042
Hello,

thank you for sharing a design at an early stage.

My comments per points:
point 3) - In the `SqlService` it would make sense to pass a default timeout to the ctors of the implementations, and this default would be overrideable with `SqlQuery#timeout` if necessary. I think people would want an application-wide timeout value, so it would be noisy to pass it in every query. I would also cons

[2020-06-03 20:07] cangencer commented on #17042
How will the result work for streaming queries? Return a blocking/never-ending iterator?

[2020-06-04 07:48] devozerov commented on #17042
@viliam-durina @cangencer Agree, getters do not add any value, removed them.
Regarding `rows()` and `iterator()` methods - yes, they are doing the same. In the current prototype, we have only `iterator()`. My idea was that it might be easier for users to understand the API if we have an explicit method in addition to inherited one. But I agree that it may cause confusion as well. So let's do the o

[2020-06-04 07:50] devozerov commented on #17042
@cangencer For streaming queries, the user will just continue reading the iterator.

[2020-06-04 08:17] devozerov commented on #17042
@erosb thanks for detailed comments. My answers:

Agree. We may make it simpler from the API standpoint - define the default timeout on the configuration level, and use it when the default `null` value of `SqlQuery.timeout` is observed. This way there will be no need to add more parameters to `SqlService.query(String sql, Object... params)` method

We thought about it. The fundamental problem is t

[2020-06-04 13:19] TomaszGaweda commented on #17042
Hi,

Will text queries be also possible? If yes, then JDBC - compatible way of querying data would be welcome. As a person with Spark background, I found that often Spark SQL was queries by some external tools via JDBC. Similar functionality for Hazelcast would be great!

[2020-06-04 13:56] devozerov commented on #17042
@TomaszGaweda Could you please elaborate on what you mean by text queries? We are going to have our own JDBC driver in future releases.

[2020-06-04 13:57] #16932 closed

[2020-06-04 14:17] #17005 closed

[2020-06-04 21:46] ldziedziul commented on #17042
Great initiative! 💪

I don't understand what's the difference between implicit casting `<T> T getObject(int index)` and explicit of `Object getObject(int index);`. In both cases you can end up with the `CCE` and both can't be checked during compile-time. The latter adds extra work to your API users with casting.

Also, I would suggest adding an overloaded version: `getObject(String columnName)` to

[2020-06-04 22:36] francesco-hz opened #17050 "IAtomicReference serialization problem and CPSubsystem"
ZD6284

Customers are seeing a serialisation error when performing `get()/set()` operations _from a Hazelcast client_ on an _IAtomicReference_ retrieved from CP subsystem. The problem does not occur when using the old _AP_ API `client.getAtomicReference()`. The problem occurs both in HZ v3 and v4 (v3 example provided below)
According to the documentation [here](https://docs.hazelcast.org/docs/late

[2020-06-05 07:10] mobasherswl opened #17051 "The hazelcast-client.xml fails to load using Spring boot 2.2.6 & hazelcast server/client v4.0.1 [HZ-821]"
**Description**
When [hazelcast-client.zip](https://github.com/hazelcast/hazelcast/files/4734427/hazelcast-client.zip) is provided in spring boot application properties file & packaged as boot jar then the hazelcast provider fails to load the file as it doesn't allow "jar" URI scheme. Following is the method in **AbstractHazelcastCachingProvider** class that throws exception when the URI starts wi

[2020-06-05 07:39] mdogan commented on #16827
I encountered this issue with 4.1-snapshot too:

[2020-06-05 09:34] puzpuzpuz opened #17052 "Integrate IMDG API with reactive stream frameworks"
Reactive stream frameworks, like RxJava or project Reactor, are popular among Java community, so we should consider having out-of-the-box integration with those. The following parts of IMDG Java API could be integrated with these frameworks:
* `*Async()` methods in data structures. They operate with `j.u.c.CompletionStage` which easily converts to Reactor's `Mono`. Yet, we could provide wrapper AP

[2020-06-05 12:49] xdenser commented on #17006
Well this is not so easy when:

- your application runs in some container which is not fully under your control
- when Caching.getCachingProvider() is called by some dependency (just have stumbled on ical4j, which does so)

As I said before: always there is some workaround or trick, but life will be much easer if hazelcast will not register his provider by default.

[2020-06-05 13:51] devozerov commented on #17045
`Calc` operator will be implemented in a separate ticket.

[2020-06-05 13:59] devozerov opened #17058 "SQL: Implement Calc operator"
`Calc` operator is a convenient operator that merges adjacent `Project` and `Filter` operators and eliminates the common sub-expressions. We should support it to allow for more flat execution trees. Such trees will require less memory and CPU resources to execute.

Implementation plan:
1. Add Apache Calcite optimization rules: `FilterCalcMergeRule`, `ProjectCalcMergeRule`, `FilterToCalcRule`, `Pro

[2020-06-05 14:01] devozerov opened #17059 "SQL: Implement expression simplification rules"
Currently, we do not do any simplification of expressions (`RexNode`). Investigate how to improve that. Starting points:
1. Apache Flink logical rules
1. CockroachDB normalization rules

[2020-06-05 14:10] mdumandag opened #17060 "Skip processing metrics if the blob does not contain the expected data"
As discussed with @blazember in private messages, we should not try to process metrics if
- the blob itself is zero-length
- the dictionary is zero-length
- the metrics blob is zero-length

by adding length checks.

The reasoning is that, if we want to use old statistics system for the non-java clients until they can implement new metrics system, the clients need to send some kind of empty metric

[2020-06-05 17:22] vbekiaris commented on #16964
This test failure is due to reordering of operations. In failed test executions:
- the client sends out the read event journal & cache put tasks before it receives the partition table. So each task is sent over a random connection (instead of using the partition table to identify the partition owner and send both over the same connection).
- cache put is received first on the partition owner
- rea

[2020-06-07 15:21] JackieNiebling opened #17061 "Ringbuffer memory leak when using Future"
**Description**
When using the Ringbuffer.readManyAsync method to read at least one element from an inactive ringbuffer and not waiting for the result, blocking operations that reserve memory to serve the read operation are forever queued, ending in heap exhaustion.

**Expected behavior**
The [Hazelcast Documentation](https://docs.hazelcast.org/docs/4.0.1/manual/html-single/index.html#using-async-

[2020-06-08 13:32] ycordier-pro opened #17062 "Hazelcast Java client not resolving member address when trying to reconnect"
Context: basic HZ setup in a docker environment : 1 server + 1 client, HZ configuration based on tcp-ip with network aliases (using docker service names that are resolved against docker internal DNS).
When HZ server restarts, docker reassigns a new IP address to the container but the client forever tries to reconnect to the old IP address without re-resolving the member name to obtain the new IP.

[2020-06-09 06:42] devozerov opened #17065 "SQL: Verify the build artifact of the Apache Calcite module"
1. Verify the content of our assembly
1. Licenses - check compatibility of the new licences with our legal requirements
1. Check if things like LICENSE, NOTICE, etc. are included in a resulting JAR correctly, i.e. all dependencies are mentioned properly, no accidental file overrides, etc
1. Check for known vulnerabilities for the user versions of dependencies

[2020-06-09 06:47] devozerov opened #17066 "SQL: Top-level projection and sorting might be lost"
Presently, in the `QueryConverter` we just throw away the top-level `RootRel` produced by the Calcite.
But this top-level object carries important information about the top-level projection and possibly sorting. Consider the query:
[code]

The following plan will be produced:
[code]
Given that we throw away `RootRel` without additional considerations, the last [f1] projection is lost.

We need to

[2020-06-09 10:35] RobinsChens opened #17067 "open off-heap"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. ...

**Additional context**

[2020-06-09 11:12] Danny-Hazelcast opened #17068 "extreme experiment unreasonable number of member node's in a cluster."
extreme experiment into an unreasonable number of member node's in a cluster.

ultra large cluster experiment 700+ member nodes.

Member node oome with 4G heap when cluster Member node count excedes 700 member nodes

<img width="871" alt="Screen Shot 2020-06-09 at 13 53 56" src="https://user-images.githubusercontent.com/5988678/84140070-b4c76880-aa59-11ea-918d-f2adf5258311.png">
<img width="875" a

[2020-06-09 11:46] Danny-Hazelcast commented on #17068
/nfs/danny/issue-17068-HzMember798HZ.hprof.zip

[2020-06-10 06:35] shashanka981 opened #17070 "Unhandled Hz (C/S) exception when shutting down instance"
When  Hazelcast is run  in Client/Server mode, an exception is reported on the hazelcast client instance that is being shut down. The message shown is:
[code]
Version of hazelcast used for both client and server is hazelcast enterprise 3.11.5
Listener referred in the issue is actually registered during client intialization as below

**instance.getReliableTopic("test/member/membership/event/topic")

[2020-06-10 06:56] sancar commented on #17070
@shashanka981 This is an expected behaviour. Any method can throw `HazelcastClientNotActiveException` , if the client is being shutdown or it was already shutdown.
If you don't expect your client to shutdown quickly, you can configure so via connectionAttemptLimit. see https://docs.hazelcast.org/docs/3.11.5/manual/html-single/index.html#handling-failures

[2020-06-10 07:08] shashanka981 commented on #17070
@sancar  to clarify, this exception occurs not because client is not able to connect to cluster members, but when client is undergoing shutdown (via explicit call to  HazelcastInstance.shutdown() invocation as part of applcation server shutdown hook.

  Why does Hazelcast explicitly logs the message as a warning during shutdown ? What does the below message mean to a developer working with hazelca

[2020-06-12 08:06] sancar commented on #17070
ReliableTopic MessageListener supposed to handle the internal exceptions where it can and log them as `finest` if it can not handle. For example `HazelcastInstanceNotActiveException` and `DistributedObjectDestroyedException` are the ones that it can not handle and logged as `finest` . It seems that `HazelcastClientNotActiveException` should be in that list and skipped.

So to our users, it should

[2020-06-12 08:36] kwart opened #17072 "Offloadable EntryProcessor is not offloaded when it runs on backup node"
Backup entry processors run on partition thread even if the EP is `Offloadable`.

**Reproducer:**
* add following line to the `com.hazelcast.map.EntryProcessorOffloadableTest.EntryIncOffloadable.process(Entry<String, SimpleValue>)`:
[code]
* run `EntryProcessorOffloadableTest.testEntryProcessorWithKey_offloadable_setValue()` test

The output contains 2 stack traces (from EP and backup EP run):
[co

[2020-06-12 14:08] growlingchaos commented on #11230
In my opinion the meaning of "usage" in LRU/LFU policy has to be described in the documentation in the section 7.2.4.

[2020-06-12 21:44] peterjot commented on #16994
Hey @Holmistr Could you assign, please?

[2020-06-13 16:28] StephenOTT commented on #11776
This seems very similar to the issue i get with: https://github.com/micronaut-projects/micronaut-data/issues/464

[2020-06-14 15:10] StephenOTT opened #17076 "MapStoreFactory does not get ManagedContext injection"
Hazelcast 4.x

Using a MapStoreFactory, it does not receive Injection from ManagedContext.

[2020-06-15 05:48] Holmistr commented on #16994
@peterjot Sure!
@tkountis Would you mind providing some more details where to start?

[2020-06-15 07:43] kwart commented on #17072
Comment from @mmedenjak

[2020-06-15 08:43] devozerov opened #17079 "SQL: Support VALUES operator"
We need to support queries like `SELECT * FROM VALUES (1, 2)`. This kind of query is useful when you need to join a table with some hardcoded result set.

We need to add support for Calcite's `Values` operator and add relevant optimization rules.

[2020-06-15 08:59] devozerov commented on #17042
Hi @ldziedziul, thank you for your inputs. I also tend to think that implicit casting should not do any harm. But given that this causes controversy within community, I think it is better to start with explicit casts.

Regarding r2dbc - do you have any specific part of their API in mind, that could be useful for us?

[2020-06-15 09:13] devozerov opened #17080 "SQL: Support case-insensitive identifier resolution"
Currently, we resolve catalog/schema/table/column identifiers in a case-sensitive way. This is not very convenient for users, so we need to resort to case-insensitive resolution:

[2020-06-15 11:17] jewertow commented on #8084
@kuipercm Did you start working on this issue? Is there any obstacle to implement this?

[2020-06-15 12:44] tkountis commented on #16994
Hey @peterjot nice choice, let me know if you need any help throughout your work on this.
I would suggest by starting looking at the lifecycle of a `Runnable`/`Callable` inside the `IScheduledExecutor`, https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/TaskRunner.java#L59 and what would mean to have a task that is self-disposable.
Once

[2020-06-15 12:55] the-thing commented on #13150
This seems to be fixed by https://github.com/hazelcast/hazelcast/pull/16148

[2020-06-15 13:04] jerrinot commented on #13150
@the-thing good catch, thank you!
I am closing it as fixed by https://github.com/hazelcast/hazelcast/pull/16148

[2020-06-15 13:04] #13150 closed

[2020-06-15 14:02] palisie commented on #16754
Hi,
I also encountered this issue in my project. It happens occasionally, in larger clusters (>10 members). We would very much appreciate fixing this issue. If it helps, here is the stacktrace where it happens for us:

[code]

[2020-06-15 14:15] Danny-Hazelcast commented on #16754
@palisie  what version are using using ?

[2020-06-15 14:30] palisie commented on #16754
We are using hazelcast 4.0, precisely speaking a bundled one in hazelcast-jet 4.0.

[2020-06-15 14:32] tkountis opened #17087 "Increase partition update delay for client cluster view listener"
With high partition count, even the improved deferred approach of informing clients of the cluster change can create multiple thousands of objects per second on average (i.e. 20K avg alloc / sec with 50K partitions) during migrations.

The default interval is set to 500ms, I suggest that we increase this to 1sec (or even higher) and make it configurable.
https://github.com/hazelcast/hazelcast/blob

[2020-06-15 16:40] vbekiaris commented on #16964
The root cause of the test failures is the delay in sending partition table to clients introduced in #16939 . The corresponding `ClientMapEventJournalBasicTest` is also failing sometimes due to the same issue.

Removing the delay from the first partition table delivery fixes the test failures (as in https://github.com/vbekiaris/hazelcast/commit/12481624fc095e63c1558faa8ccf5aec984ea926) _does not f

[2020-06-15 19:28] vbekiaris commented on #17087
If partition table send delay is to be increased, take into account [this](https://github.com/hazelcast/hazelcast/issues/16964#issuecomment-644244129).

[2020-06-16 07:19] mdogan commented on #16964
Afaik, client may have a stale partition table (or even may not have any partition table) at any time. And it's able to sent partition specific requests even with a stale or missing partition table.

So to me, a test should not assume and rely on this. Or the test should ensure that the client has the most recent partition table, as you said.

[2020-06-16 10:03] mdogan commented on #11647
😱 1st failure in two years! https://github.com/hazelcast/hazelcast/pull/17090#issuecomment-644664627

[2020-06-16 10:07] #17019 closed

[2020-06-16 10:28] sancar commented on #16964
@vbekiaris Not delaying the initial partition push make sense but not enough. The test can still fail in an unlucky timing. Instead of verifying partition table on the client side via accessing the internal API, I think we can change the test to see if event journal works eventually. We will not do a single put but continuous puts until event journal picks up one of them.

[2020-06-16 10:50] kwart commented on #17023
Unassigning myself. I could send a PR with a small improvement to the current behavior, but it wouldn't help much in the requested scenario. This issue deserves a new PRD and proper design work.

The problematic is not only the classloading, but also referencing resources from the remote classpath (and path).

[2020-06-16 14:01] #17045 closed

[2020-06-16 14:03] #17050 closed

[2020-06-17 07:21] devozerov commented on #17080
I tried to implement the case-insensitive resolution and it works mostly works. However, I am still unsure that we need it, so I'd like to ask the community to provide additional opinions.

**Problem Statement**

Hazelcast is a Java-based application. Java identifiers are case-sensitive. Names of distributed objects (maps, indexes) are case-sensitive as well. That is, every identifier in Hazelcast

[2020-06-17 08:22] mdogan commented on #17080
When using with quotes, `"myMap"` and `"MyMap"` are different identifiers in SQL representation, right? So users will have an option to use case-sensitive identifiers with quoting.

If this is the case, I think 2nd option is fine. 3rd one is a plus.

[2020-06-17 08:44] devozerov commented on #17080
@mdogan yes, with quotes you may select the proper `IMap`. The problem is that if the user does `SELECT * FROM mymap`, we do not know which map will actually be queried. That is, before the query is parsed, we populate our internal scheme with mappings from the identifier to the map. And what we will have is:
- `myMap` -> `myMap`
- `MyMap` -> `MyMap`
- `MYMAP` -> one of these two, depending on the

[2020-06-17 08:51] sancar commented on #16185
`Hazelcast client is shutting down`
A shutdown client will not recover. If you want to keep using client for a long time, you need to change its shutdown behaviour.  You can set attempt-limit and attempt-period big enough not to shutdown immediately when cluster experience a problem(cluster restart, heartbeat problems, OOME etc)
See following doc for configuration details:
https://docs.hazelcast.o

[2020-06-17 09:21] Holmistr commented on #17080
@devozerov Making sure that I understand correctly. Suppose we have maps `MyMap` and `MYMAP`.

1. `SELECT * FROM "MYMAP"` - this will always query `MyMap`. No space for confusion.
2. `SELECT * FROM MYMAP` - this may query either of the maps. Depending on internal ordering.

If the assumption above is correct, I would go for supporting the case-insensitive resolution unconditionally, no need for ad

[2020-06-17 09:27] devozerov commented on #17080
@Holmistr correction - in your first example the `MYMAP` will be queried.
1. `SELECT * FROM "MYMAP"` - queries `MYMAP`
1. `SELECT * FROM "MyMap"` - queries `MyMap`
1. `SELECT * FROM "myMap"` - fails
1. `SELECT * FROM mymap/MYMAP/MyMap/...` - queries one of these maps, we do not know which exactly

[2020-06-17 09:30] nfrankel commented on #17080
In the past, I worked with SQL databases that had case-insensitive resolution.

Recently, I had to use one (PostgreSQL if I remember correctly) that was case-sensitive. It sucked - a lot.

I'd go for your 2nd proposal: it's what most users expect. The 3rd proposal seems like a good idea but IMHO defeats the principle of least surprise.

[2020-06-17 10:08] tkountis commented on #17080
I would suggest a combination of 2 & 3.
I would expect it to be a rare phenomenon having such conflicts on map namings, but I wouldn't bet on it. The ease of use rule in my gut says, default it because its the standard, but let it be configurable to allow for easier migration.

[2020-06-17 10:16] viliam-durina commented on #17080
The problem with `myMap` and `MyMap` is that they both will be converted to `MYMAP`. Using double quotes doesn't work around the problem. So using:
[code]
will throw `myMap doesn't exist`. If you use double-quoted identifier, you have to use:
[code]
Internally all of:
[code]
are converted to:
[code]

But I'm still inclined to use case-insensitive resolution, based on the fact that these conflicts

[2020-06-17 10:18] viliam-durina commented on #17080
@nfrankel PostgreSQL isn't case sensitive...

[2020-06-17 11:19] #17038 closed

[2020-06-17 11:25] devozerov commented on #17080
@viliam-durina I like the idea of predictable handling of conflicts. But I didn't understand your comment about case-sensitivity for `myMap`. This is how it works in the prototype at the moment:
1. Before the query is parsed, we assemble a schema. For the purpose of this discussion, a schema is a map from the table name to the table. We create two mappings for every table - one with the original n

[2020-06-17 12:33] lazerion opened #17099 "ClientInvocationFutureTest test_applyEither"
- Fails on `Hazelcast-4..maintenance-ZingJDK8`
- Fails on [Build #183 (Jun 16, 2020 10:56:24 PM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4..maintenance-ZingJDK8/183/testReport/junit/com.hazelcast.client.impl.spi.impl/ClientInvocationFutureTest/test_applyEither/)
- Error
[code]
- Stacktrace
[code]
- Possible commits
[code]

kindly check.

[2020-06-17 13:20] viliam-durina commented on #17080
@devozerov OK, I didn't get the idea of multiple mappings before. I don't think it's a good idea. It might look intuitive (use either unquoted identifier or quoted one with correct case, in case of conflict). But it's not intuitive if you know how SQL works.

SQL doesn't specify that "unquoted identifiers should be compared in a case-insensitive way". It specifies that "unquoted identifiers are fi

[2020-06-17 13:26] viliam-durina commented on #17080
In this regard we should also consider whether to convert `MyMap` into `MY_MAP`, that is to put `_` before case change.

I think we should not do it. The conversion is non-obvious and when not quoting identifiers (which is not necessary in most cases), you can still do `SELECT birthDate FROM MyMap`. But when objects will be listed, `MYMAP` will appear. Also frameworks like Hibernate will create qu

[2020-06-17 13:37] viliam-durina commented on #17080
If we use the approach I proposed, there's an issue with DDL. Let's say you have map `MyMap` with `birthDate` field. Then in DDL you must use quotes. Without quotes, the statement:
[code]
will be converted to:
[code]
And `MYMAP` doesn't exist, only `MyMap` does.

But if one uses correct case, then he's forced to use quotes all the time:

[code]

A DDL that would correctly map mixed-case names to u

[2020-06-17 13:41] devozerov commented on #17080
I agree that the proposal has some non-intuitive edge cases. But we build the SQL engine on top of the existing case-sensitive infrastructure, and we cannot do anything about it. The alternative is to reject the idea of supporting case-insensitive resolution at all.

Please note that there is no uniform handling of identifier resolution across databases. For example:
1. In SQL Server all compariso

[2020-06-17 13:56] viliam-durina commented on #17080
MySQL is case-sensitive on Linux, even if unquoted: https://dbfiddle.uk/?rdbms=mysql_8.0&fiddle=f1dd30f7d23cf0286105b4dd8c29dcdd

Quotes are used only if you have spaces or leading numbers in the name.

[2020-06-17 14:23] devozerov commented on #17080
It is case-insensitive for table names, not for column names. Try `SELECT A FROM t` and it will work.

[2020-06-17 15:06] vbekiaris commented on #17099
See [here](https://github.com/hazelcast/hazelcast/pull/17100/files#r441615740) for an explanation of test failures. Fix PRs #17100 & #17101

[2020-06-17 19:12] vbekiaris commented on #17000
#16961 and #16780 broke this test and all EE-side compatibility tests. See fix PR description #17102 for details.

[2020-06-18 08:12] viliam-durina commented on #17080
That's even weirder...
I guess they store one table per file. And that's why it's case sensitive on linux, but not on windows. For columns, they use different rules...

[2020-06-18 11:57] pavelorehov opened #17104 "Nodes stop working on load Hazelcast 3.12.7"
Hi,

We are using Hazelcast 3.12.7 on 4 JVMs (JDK 8) in embedded mode.

Hazelcast is used for locks, semaphores, maps, distributed tasks, and we were planning to use it also for Hibernate L2 cache.

All works fine unless JVMs started to be loaded with high memory and CPU, that load is expected for our system that can take 1-2 hours, however, Hazelcast first start complaining on health monitor, the

[2020-06-18 12:19] pavelorehov commented on #17104
Please refer log of one of the nodes, which was started first out of 4 and which has most of the load.
https://easyupload.io/duw1j6

[2020-06-18 12:56] sancar commented on #16185
@lishijun121910 Closing this issue. Feel free to reopen or ask on the hazelcast mailing list if you still have problems. https://groups.google.com/forum/#!forum/hazelcast

[2020-06-18 12:56] #16185 closed

[2020-06-18 14:19] dharmesh333 opened #17106 "Map Browser not working for Hazelcast Management Center 4.0.1"
I have installed Hazelcast Management Center 4.0.1 and I have running hazelcast 4.0.1 server.
When i tried to browse map using GUI with key it give me error like below although there is data for the key.
I have used java.io.serializable for serialization in hazelcast server.

com.hazelcast.webmonitor.controller.exception.OperationFailedApiException: Failed to deserialize map entry. Make sure that

[2020-06-18 17:51] bcluap opened #17107 "RSS Memory Leak in 4.0.1"
**Describe the bug**
A program with a Hazelcast instance continues to grow RSS which indicates a leak in off-heap memory.

This is not a leak in the heap - the program can be run as follows and does not get an OOM error and the heap never runs out of space.

java -Xms30m -Xmx30m -XX:MetaspaceSize=30m -XX:MaxMetaspaceSize=30m -jar <jarfile>

**Expected behavior**
There should be no noticeable RSS i

[2020-06-18 17:57] cangencer commented on #17104
It looks like you're running 4 nodes on same machine, this is an anti-pattern as they'll compete for the same resources.

[2020-06-19 04:50] oobles opened #17108 "IExecutorService.submitToKeyOwner does not honour PartitionKey interface"
**Describe the bug**
The IExecutorService.submitToKeyOwner should honour an object that implements the PartitionKey interface. If you use an object that implements the PartitionKey interface as the key to an IMap and then attempt to use the same key object as the Object key to the executor submitToKeyOwner the request will be sent to the wrong node.

The client interface does not check for the Par

[2020-06-19 07:00] sancar commented on #17108
Hi @oobles , I recheck the code and I believe the code paths are same for both Map and IExecutorService.
In both keys are passed to serializationService.toData in which we have a check for `PartitionAware` . Then we get the partitionHash from the   Does that explain your concern ? If not can you be more specific, or may be share a code  that  shows it does not work correctly ?

[2020-06-19 08:16] #17000 closed

[2020-06-19 11:21] janbartel opened #17114 "Classloader problem using StreamSerializer in 3.12.6"
Using a custom StreamSerializer to serialize a class, in the read(ObjectDataInput in) method, I need to use the thread context classloader in order to be able to properly deserialize the object. However, from a stack trace, I can see that the thread context classloader is not being used.

Doing:

`IMap.set("foo", sessionData); //where sessionData is a class with a custom StreamSerializer`

I get:

[2020-06-19 11:24] devozerov commented on #17066
Will be fixed as a part of #17042

[2020-06-19 11:24] #17066 closed

[2020-06-19 11:30] JChrist opened #17115 "Node does not start when existing cluster node(s) is/are unresponsive"
**Describe the bug**
When trying to start a new hazelcast node with the existing cluster node(s) being unresponsive (e.g. sending absolutely no responses whatsoever), the new node will fail to start, instead of claiming mastership and starting.

**Expected behavior**
The new node to succeed in claiming mastership and starting.

**To Reproduce**

Steps to reproduce the behavior:
1. Initiate a simul

[2020-06-19 12:13] dharmesh333 commented on #17106
Fixed the issue by putting pojo jar in Management Center WEB-INF/lib folder

[2020-06-19 12:13] #17106 closed

[2020-06-19 13:17] #17099 closed

[2020-06-19 19:56] JChrist commented on #17115
I managed to write a (failing) test for this case (a `ServerSocket` on 5701 is enough).
This is assumed to be inside `TcpIpJoinTest`
[code]

[2020-06-19 20:51] JChrist commented on #17115
I seem to fix this issue by adding an else block in `TcpServerConnectionManager:204` similar to the following.
Essentially, TcpServerConnectionManager checks that when a connection is requested that is marked as _in-progress_, it has received some bytes in the past.

[code]

[2020-06-20 07:04] oobles commented on #17108
Hi, thanks for reviewing. I checked again, and can see it was my fault. :( Appreciate the fast response!

[2020-06-20 07:04] #17108 closed

[2020-06-21 07:24] #16960 closed

[2020-06-22 08:35] ahmetmircik commented on #17067
Hi @RobinsChens, mind to elaborate on this?

[2020-06-22 15:15] bergander opened #17120 "IllegalStateException is thrown instead of HazelcastInstanceNotActiveException"
**Please describe the problem you are trying to solve**
According to issue #12233 all exceptions thrown to the user should extend `HazelcastException`. This is not the case in the CP subsystem session where a generic `IllegalStateException` is thrown  instead when Hazelcast is shutdown.

[code]

**Please describe the desired behavior**
The old lock implementation threw a `HazelcastInstanceNotActiv

[2020-06-23 07:29] #16964 closed

[2020-06-23 14:00] mdumandag opened #17124 "Undefined behaviour of IMap#setAll and MapListener"
PutAllOperation behaves in the same way in the following situations.

- setAll is called, key does not exist in the map store, we put it into map store
- setAll is called, key exists in the map store, we update the map store

See https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutAllOperation.java#L105 . With setAll, oldValue is always nu

[2020-06-24 09:51] pertsodian commented on #17062
As per https://groups.google.com/forum/#!msg/hazelcast/6OM_msgJvzg/kDi06y29CQAJ I think it is intended. I continue to use 3.11.x until I figure out how to work with it.

[2020-06-24 11:48] mmedenjak commented on #17051
Hi @mobasherswl ! Thank you for the report, I've added it to the current milestone so we take a look.

[2020-06-24 14:44] Serdaro opened #17126 "com.hazelcast.collection Package is Missing in IMDG 4.0+ Javadocs"
**Describe the bug**
There are several links from the IMDG Reference Manual and in Google search results to IQueue, ISet and IList Javadocs. They return 404.

**Expected behavior**
The `com.hazelcast.collection` package should be present in the Javadocs.

Before IMDG 4.0, we had, for example, `com.hazelcast.core.IQueue`; see the below working link: https://docs.hazelcast.org/docs/3.12/javadoc/com/

[2020-06-24 15:16] mmedenjak commented on #17023
Thank you a million for your effort in analysing this @kwart ! I'm interested in the issues and perhaps we can create that PRD so it's recorded in the backlog.

[2020-06-24 17:30] arushi315 commented on #14975
Hi @mmedenjak
Sorry for the late reply on this.
Looking at the description for the property
`hazelcast.operation.call.timeout.millis- "Timeout to wait for a response when a remote call is sent, in milliseconds."`

Does it matter only for remote calls to let's say other members?
As we observed this only on single node (no clustering)

[2020-06-25 07:06] mmedenjak commented on #16746
Closing due to no updates. @perkins4j2 please feel free to reopen this issue or open a new one if you have more information.

[2020-06-25 07:06] #16746 closed

[2020-06-25 07:10] mmedenjak commented on #17067
Closing due to unclear description. If you're referring to moving our HD offering to open-source, we're not considering that at the moment.

[2020-06-25 07:10] #17067 closed

[2020-06-25 07:24] mmedenjak commented on #17061
Hi @JackieNiebling ! Thank you for the detailed report, I've added the issue to the current milestone so we take a look.

[2020-06-25 08:16] mmedenjak commented on #16754
Thanks for the report @palisie , I'll keep this one in the current milestone scope so we take another look as this issue has been occurring very rarely.

[2020-06-25 09:15] #16987 closed

[2020-06-25 11:03] mmedenjak commented on #17115
Hi @JChrist ! Without going too much into the details here, I can say historically we had similar doubts whether we should fail-fast when something went wrong during the join process or whether the instance should start standalone. In some previous versions, an instance would start standalone while with [this change](https://github.com/hazelcast/hazelcast/pull/14343) it started to fail to start. A

[2020-06-25 11:43] mmedenjak commented on #17114
Hi @janbartel ! Thank you for the report. I don't know the answer but I'm adding this to the current milestone so we take a look.

[2020-06-25 11:57] mmedenjak commented on #17104
Hi @pavelorehov ! It's really hard to conclude much from these logs. As @cangencer mentions, first, you're running four instances on the same machine and they are using the same resources. Next, we can take a look at the health monitor:
[code]

The memory usage looks ok but the CPU usage is at 100%. Other than that, the logs definitely show that the members are under load and trying to catch up.

[2020-06-25 14:13] bcluap commented on #17107
Just an update on this. I've increased the max allowed memory usage and after 2 days the RSS seems to have stabilised. It seems like this could be due to JIT compiler optimsing Hazelcast bytecode slowly but surely and using up memory as the native code base grows.

[2020-06-25 15:20] jewertow commented on #8084
@mmedenjak thank you for the answer. I have already checked out the code and I skimmed it.
I will be very happy if I could contribute so I will get back to this issue soon (probably in the next week) and I will prepare a draft of pull request or I will ask for some hints.

[2020-06-25 16:37] mmedenjak commented on #17120
Hi @bergander ! Thank you for the issue report. The issue you've linked requires that we change all existing user-facing exceptions to extend `HazelcastException` and it doesn't serve as a guarantee that we actually do at the moment. It's something that we still have to address, as you've noticed. Now, regarding your case, I'd say this was an oversight on our side while replacing the lock implemen

[2020-06-25 20:14] keteracel commented on #16987
Hi @ahmetmircik, @mmedenjak and @vbekiaris. This is a blocker for us moving to hazelcast 4. Do you think it would be appropriate for me to create a pull request to merge into the 4.0.2 branch?

[2020-06-26 06:53] mmedenjak commented on #14975
It's not only for remote calls. All operations can be rejected if they are too old, which probably means your instance is under heavy load.

[2020-06-26 07:40] sancar commented on #17062
@ycordier-pro @pertsodian We will be rediscussing what to do. My answer to this here still applies, https://groups.google.com/forum/#!msg/hazelcast/6OM_msgJvzg/kDi06y29CQAJ

The only thing that comes to my mind is that give a property for the users that wants the old behavior. I don't actually want to do that because that behavior is not tested and supported. Giving an option will be like official

[2020-06-26 08:15] kwart commented on #17023
@mmedenjak We tried the following improvement:
https://github.com/kwart/hazelcast/compare/378eb74...31fcd6d
It covers what I already mentioned:
* inner classes and anonymous classes which are declared within other inner classes
* package-private parents and interfaces (also from the inner and anonymous classes)

It could be improved further by a third-party library (e.g. reflections), but still re

[2020-06-26 08:30] mdogan commented on #17120
I agree this was really an oversight. `HazelcastInstanceNotActiveException` would be a more suitable exception type in this case.

`HazelcastInstanceNotActiveException` is already an expected exception when a member/client is shutting down. So I think we can change this behaviour. For the ones handling `IllegalStateException` in their code, that path will be obsolete.

[2020-06-26 09:17] mmedenjak commented on #17124
We'll take a look but not sure how much we can change here because of backwards compatibility guarantees. @ahmetmircik WDYT?

[2020-06-26 09:18] devozerov commented on #17042
The PR with the SQL API is prepared: https://github.com/hazelcast/hazelcast/pull/17130

[2020-06-26 09:42] mmedenjak commented on #16987
@keteracel yes, feel free to send a PR with the same commit for the `4.0.z` branch. Unfortunately, 4.0.2 is frozen and about to be released any day now but it'll be included in 4.0.3.

[2020-06-26 09:43] mmedenjak commented on #17107
Thank you for the update @bcluap ! I've pinged a colleague and we'll take a look as well.

[2020-06-26 11:38] bcluap commented on #17107
![image](https://user-images.githubusercontent.com/26746221/85852958-f83c0980-b7b1-11ea-9ef4-bfa277ad88cb.png)

This is the kind of thing we see on AWS. It stabilized eventually but seems rather excessive for so much memory to be used by the JIT compiler

[2020-06-26 13:33] tkountis commented on #17107
@bcluap thanks for your report.
I started looking into this, I already have a couple of pointers from my initial analysis, I will follow up once I have something solid.

[2020-06-26 14:15] #16845 closed

[2020-06-26 14:29] janbartel commented on #17114
@mmedenjak thanks. Another datapoint for you:  I just tried this with 4.0.1, but I have the same problem.

[2020-06-27 14:48] m-yazdani commented on #16813
hey guys, i have the same issue, is there any way to solve this issue ?

[2020-06-28 01:05] JChrist commented on #17115
There should at least be some kind of configuration option to handle such behavior.
Something like max milliseconds to wait for a join response from a cluster member before blacklisting it.

[2020-06-28 14:55] pavelorehov commented on #16338
Have same issue and don't really want to build hazelcast-all-4.0.1 myself.
Any plans to upgrade to hazelcast-hibernate53 in hazelcast-all-4.0.2 ?

[2020-06-29 06:48] pavelorehov opened #17135 "getDistributedObjects does not return CPSubsystem objects"
In Hazelcast 4.0.1 getDistributedObjects does not return locks and semaphores and there is also no getDistributedObjects  method to get them from CP Subsystem.

So no way to get existing distributed objects in CP Subsystem.

[2020-06-29 06:54] cangencer opened #17136 "Client should not retry on com.hazelcast.client.AuthenticationException"
As AuthenticationException is not an intermittent error, the client should not keep trying to connect if such an exception is encountered.

[2020-06-29 06:58] mdogan opened #17137 "Improve exception message when CP is enabled but unsafe mode is used"
When CP is enabled but _unsafe_ mode is used, an `java.lang.IllegalStateException: CP subsystem is enabled!` exception is thrown. Exception message should be more clear about the issue.

[2020-06-29 11:08] tkountis commented on #17107
@bcluap I had a few runs over the weekend, using your example I can't reproduce your observation

I have tried with duration of 3hrs per run, here is my chart from running your code with your exact JVM params
![image](https://user-images.githubusercontent.com/3369598/85994013-16db1400-b9ef-11ea-82f3-b95e43f56d1b.png)

On that I can't definitively say that I can see a leak (or not), but it doesn't

[2020-06-29 11:38] pertsodian commented on #17062
Is allowing cluster failover feature with single cluster only for the non-enterprise version an option?

If yes, we can potentially configure limited reconnect attempts (that fits the pod health check reasonably), then clear all caches and perform cluster failover. But since only one cluster is configured, the client will to connect to same cluster again, but resolve fresh IP address this time.

D

[2020-06-29 12:21] sancar commented on #16927
Closed via https://github.com/hazelcast/hazelcast/pull/17125

[2020-06-29 12:21] #16927 closed

[2020-06-29 12:42] mmedenjak commented on #16983
@kvsravindrareddy any updates?

[2020-06-29 13:13] ilkerkorkut opened #17139 "PartitionLostEvent javadoc issue"
Following line has a bit wrong definition for `getLostBackupCount` method:

 https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/partition/PartitionLostEvent.java#L31

[code]

It prints as following printouts when single-member left the cluster, and there is no lostBackupCount (it is 0)

[code]

[2020-06-29 15:37] StephenOTT opened #17140 "If style Predicate?"
Is there a pattern for something like a `if` style predicate:

"If XYZ then ABC Predicate"

Example usage:  If entity has attribute "animalType" with value "dog", then entity attribute "age" must have value greater than 5.  If the animalType did not equal "dog" then the predicate would still return true.

it is like having a "Predicate with a subPredicate", where the sub predicate is only run if t

[2020-06-30 09:55] sancar commented on #17062
@pertsodian The problem is that from the client perspective there is no difference between a restarted cluster or two clusters. We have reiterated this with the team and for now, we don't want to give a buggy feature to open source users. (so we don't want to restore the behaviour to pre 3.12 )
This use-case is supported by our Enterprise Blue/Green Feature.

[2020-06-30 09:59] pertsodian commented on #17062
Just for my understanding, why is "from the client perspective there is no difference between a restarted cluster or two clusters" a problem?

[2020-06-30 10:03] sancar commented on #17140
Hi @StephenOTT This can be implemented with our current API right?
 I have implemented a utility method with our API to try :

[code]
As an example run, I have tried the following to test your description.

[code]

[2020-06-30 11:41] tkountis commented on #16994
Hey @peterjot did you manage to play with this? Feel free to reach out if you need a rubber duck.

[2020-06-30 12:28] sancar commented on #17062
@pertsodian If it was possible to differentiate, I could of implement your request on open source version for a single cluster use case. But I can not.
In more detail, In Blue/Green, you can start a second cluster together with the first one. Possibly migrate the data first via WAN replication. Then close the first one/ blacklist the clients in the first cluster via the Management Center.
`Close t

[2020-06-30 15:01] sumnerib opened #17144 "HealthMonitor logs only print GC metrics as 0 in 3.12"
**Describe the bug**
The HealthMonitor only prints zeroes for the GC counts and times.

`minor.gc.count=0, minor.gc.time=0ms, major.gc.count=0, major.gc.time=0ms,`

Analysis of GC logs show the actual values that should be displayed:

![image](https://user-images.githubusercontent.com/20101711/86140629-0c884b00-babf-11ea-8824-fd4c547364d1.png)

**Expected behavior**
The HealthMonitor logs should p

[2020-06-30 18:25] sumnerib commented on #17144
UPDATE:

If I add the property `-Dhazelcast.diagnostics.metric.level=info`, the GC metrics are printed as part of the `HealthMonitor` log:

`minor.gc.count=151, minor.gc.time=2926ms, major.gc.count=1, major.gc.time=2128ms`

[2020-07-01 07:19] siva-vs commented on #14540
Hi, I am seeing a similar issue in my env as well.

We are using a 3.11.2 version. The following are the Heapdump details. Could you please review and suggest how to resolve this

![image](https://user-images.githubusercontent.com/67679080/86214635-09fa2400-bb99-11ea-9992-b754c1fae010.png)

![image](https://user-images.githubusercontent.com/67679080/86214723-25652f00-bb99-11ea-8ed2-b8e8f8d49279.pn

[2020-07-01 07:26] siva-vs opened #17146 "Memory is not getting released - Out of Memory - Java heap size"
Hi, I am seeing Hazelcast memory issue in my env

We are using a 3.11.2 version. The following are the Heapdump details. Could you please review and suggest how to resolve this

![image](https://user-images.githubusercontent.com/67679080/86214635-09fa2400-bb99-11ea-9992-b754c1fae010.png)

![image](https://user-images.githubusercontent.com/67679080/86214723-25652f00-bb99-11ea-8ed2-b8e8f8d49279.png)

[2020-07-01 07:52] vbekiaris commented on #17146
@siva-vs the screenshot you provided does not have enough information to determine the cause of your OOME. In order to figure out what might cause an out of memory exception and whether it is related to hazelcast or not, some more info would be appreciated:

- which Hazeclast features are you using? What does your configuration look like? For example an `IMap` with no eviction configured can resul

[2020-07-01 08:00] siva-vs commented on #17146
FREE_HEAP_PERCENTAGE = 30%
ttl = 1 hour

cacheConfig.setInMemoryFormat(InMemoryFormat.BINARY)
				.setEvictionPolicy(EvictionPolicy.LFU)
				.setMaxIdleSeconds(ttl)
				.setMaxSizeConfig(new MaxSizeConfig(ConfigUtil.getHazelCastFreeHeapPercentage(),MaxSizeConfig.MaxSizePolicy.FREE_HEAP_PERCENTAGE))
				.setQuorumName(hazelCastProp.getProperty(QUORUM_NAME));
	}

I can't share dump, we can have Webe

[2020-07-01 08:24] siva-vs commented on #17146
Thanks for quick review, following are the details
we are using IMap

FREE_HEAP_PERCENTAGE = 30%
ttl = 1 hour

cacheConfig.setInMemoryFormat(InMemoryFormat.BINARY)
.setEvictionPolicy(EvictionPolicy.LFU)
.setMaxIdleSeconds(ttl)
.setMaxSizeConfig(new MaxSizeConfig(ConfigUtil.getHazelCastFreeHeapPercentage(),MaxSizeConfig.MaxSizePolicy.FREE_HEAP_PERCENTAGE))
.setQuorumName(hazelCastProp.getProperty(Q

[2020-07-01 08:43] siva-vs commented on #17146
More info:

![image](https://user-images.githubusercontent.com/67679080/86223324-08cef400-bba5-11ea-9735-d4b25bdfca77.png)

![image](https://user-images.githubusercontent.com/67679080/86223360-14bab600-bba5-11ea-9882-130c03eb02e1.png)

[2020-07-01 09:45] tkountis commented on #17107
@bcluap here is another update. I believe your observation is most likely related to our Metrics service.
There, we have a few native (ie. off-heap) allocations as a side effect of using the JDK compression libs, which rely on mallloc directly.

During the longer runs I notice similar patterns (to my previous results) that have a _slightly_ positive trendline. On these runs full backtraces were ca

[2020-07-01 09:53] vbekiaris commented on #17146
@siva-vs thanks for the updated info. The `IMap` eviction & expiration configuration should help maintain your `IMap` size under control. However the 23 million `LockProxy` objects (and associated `DistributedObjectFuture` & `LockProxySupport` objects) indicate that maybe your application is creating too many locks and not destroying any of them. Please review your application for opportunities to

[2020-07-01 10:09] siva-vs commented on #17146
Thanks for reviewing it, Let me check and get back to you.

[2020-07-01 10:26] bcluap commented on #17107
Hi Thomas,

Thanks ever so much for your analysis on this.

I did a to of digging as well and unfortunately in the process have been unable to recreate the situation as bad as it was behaving. I have tried endlessly to recreate it with the basic test and cannot get it to be as bad as it once was. My initial thought was that I was going insane but I absolutely 100% got the basic test on JDK 11 to g

[2020-07-01 10:53] tkountis commented on #17107
Thanks for your update @bcluap, I am not familiar with OJ9 to be honest, so its hard to comment on that part. But the behavior is related to many factors, GC, JIT/CodeCache, Heap, JNI, Agents/Profilers even the underline malloc library. So its hard to point the finger at any one of these.

Having said that, the metrics finding could be problematic on an environment where the allocation rate is hig

[2020-07-01 11:38] sancar commented on #17136
There is a test that prevents me to do the change. Note that the test was introduced in 3.5.5.
https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java#L65

Short description, there could be other clusters on in the address space that the client will try to connect. The client should continue to try other addresses to

[2020-07-02 02:40] mgoldver commented on #16667
Hi @mmedenjak,
I am running spring-boot 2.2.7-release and hz 4.0.1 and came across the same issue as @varunsufi. I don't think the problem is with spring-boot:

`com.hazelcast.transaction.TransactionException: java.lang.NoSuchMethodError: com.hazelcast.core.HazelcastInstance.getLocalEndpoint()Lcom/hazelcast/core/Endpoint`

[2020-07-02 06:19] mmedenjak commented on #16667
Spring 2.2.7 only upgraded to Hazelcast 3.12.7 (https://github.com/spring-projects/spring-boot/releases/tag/v2.2.7.RELEASE) so it's the same issue, nothing to do on our side.

[2020-07-02 07:22] viliam-durina opened #17160 "Race in BlockingRootResultConsumer"
This scenario is possible: In thread0, `RootExec.advance()` is called, which calls `QueryFragmentContext.checkCancelled()`. Moments later, thread1 handles a close request by the user and `BlockingRootResultConsumer.onError()` is called. It sets `done` to `true` on the consumer. After this, in thread0, the consumer's `consume()` method is called from `RootExec.advance0` and it will `assert !done`,

[2020-07-02 07:33] #16801 closed

[2020-07-02 10:33] asimarslan commented on #17136
We can introduce a new feature that prevents the client from retrying on Authentication exception but we cannot change the current behavior for the reasons Sancar shared above.

[2020-07-02 11:23] ahmetmircik opened #17164 "With high partition counts, key loading mechanism can make key-loader-node go OOM"
**Describe the bug**
Key loading mechanism makes use of batching. But it expects to see key-count of a partition equal to 1000 to close a batch.

If you have 100_000 partitions and each partition loads 999 keys, you will end up 99_900_000 keys loaded in memory. And let's say one key size is 100 byte, you will need nearly 10G heap only to put loaded keys(this is without heap needs of internal data

[2020-07-02 11:55] #17107 closed

[2020-07-02 12:01] #17070 closed

[2020-07-02 12:48] mgoldver commented on #16667
Got it, thanks @mmedenjak.
I followed the advice from @admanijag and disabled hz health indicator.

[2020-07-02 14:24] bergander opened #17168 "UnsafeRaftReplicateOp does not implement AllowedDuringPassiveState"
**Describe the bug**
Since _UnsafeRaftReplicateOp_ does not implement _AllowedDuringPassiveState_ we get a lot of exceptions during shutdown:

[code]

So when shutting down gracefully, _ProxySessionManagerService.onShutdown()_ is called which causes failure in the _UnsafeRaftReplicateOp_ since it's not allowed to run during the pending state of the cluster.

**Expected behavior**
The _RaftReplicat

[2020-07-02 14:32] vbekiaris commented on #17168
@bergander thanks for the issue report. This seems like a duplicate of #16932 which has been fixed by #17029 in 4.0.2 (to be released shortly). If you have reason to believe this is not a duplicate please reopen the issue and we will take another look.

[2020-07-02 14:32] #17168 closed

[2020-07-03 07:17] ycordier-pro commented on #17062
Thanks all for your comments and the google group link.
In fact the client is handled within the HZ Tomcat session manager in my case, so I believe there is some state change listener to add somewhere in https://github.com/hazelcast/hazelcast-tomcat-sessionmanager so that it's able to restart a new client if the first one shuts down, to allow for cluster IP refresh.
I'll clone the repo and maybe p

[2020-07-03 07:52] vbekiaris commented on #17168
@bergander Hazelcast IMDG 4.0.2 was released, so you can actually test the fix. Happy Hazelcasting!

[2020-07-03 11:26] #17042 closed

[2020-07-03 12:19] sancar commented on #16328
Failed again here
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/1321/testReport/junit/com.hazelcast.client.map.impl.querycache/ClientQueryCacheRecreationTest/query_cache_recreates_itself_after_server_restart/

[code]

[2020-07-03 12:24] #16855 closed

[2020-07-03 12:30] bergander commented on #17168
@vbekiaris Tanks! I can confirm that it works just fine.

[2020-07-03 12:34] ycordier-pro commented on #17062
After some more tests with a 2 members cluster, I think there is still an issue especially in the docker context.
Let's consider the following cluster configuration :
[code]
and on the client side :
[code]
At startup, the HZ client will connect to the first member in the list, hazelcast1. Everything works fine.
Now let's say hazelcast1 member fails and is being restarted (with a new IP since it's

[2020-07-03 13:12] devozerov opened #17173 "SQL client support"
We need to support execution of SQL queries on client members.

We will reuse existing request-response client architecture for now, for the sake of simplicity. This approach is not very good because client handler threads will be blocked waiting for SQL results. In future, we will rework it to reactive approach, but this is out of the scope of 4.1 due to lack of time.

We will have three operatio

[2020-07-03 13:26] sancar commented on #17062
This use case indeed deserves a fix. I will try to look into this issue in more detail next week.

[2020-07-03 19:45] siva-vs commented on #17146
we are maintaining the state of the object in the cache,  the state of the object gets modified every time. The cache holds the object and its state. Key is the Object. Multiple threads will be accessing the cache to update the Objects. If the call Destroy then i am getting "! com.hazelcast.spi.exception.DistributedObjectDestroyedException: DistributedObject[com.hazelcast.concurrent.lock.LockServi

[2020-07-04 14:58] lprimak commented on #10875
https://github.com/payara/Payara/issues/4620

[2020-07-04 15:56] pbting opened #17177 "Hazcelcast Can it support graph storage and graph query with Gremlin ?"
support graph storage and graph query with Gremlin.
...

then can  graph-based stream or batch computing.

...

I think if Hazelcast support this then is completing the function of the graph will be a perfect solution.

...

[2020-07-05 13:42] lazerion commented on #16930
- Continues to fail different jdk though `Hazelcast-4.master-ZuluJDK9`
- Fails on [Build #81 (Jul 4, 2020 6:50:28 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-ZuluJDK9/81/testReport/junit/com.hazelcast.cp.internal/CPMemberAddRemoveTest/testRemoveMemberFromMajorityLostRaftGroup/)
- Notice below in logs
[code]
kindly check

[2020-07-05 14:52] vbekiaris commented on #17146
@siva-vs the `DistributedObjectDestroyedException` indicates that the lock has already been destroyed. Could it be the case that your application holds references to the `Lock` objects, so even though they are already destroyed they cannot be reclaimed by the GC?

If you use `Lock`s to ensure atomic access to `IMap` entries, probably your use case will benefit by using `EntryProcessor`s to atomica

[2020-07-06 01:02] peterjot commented on #16994
Hey @tkountis, Thanks for your important tips and sorry for the late answer. I have been thinking on that... My idea is to split `IScheduledFuture` to standard and auto-disposable Future. I think we could add a auto-disposable flag to `TaskDefinition` and instead of returning `IScheduledFuture` in `ScheduledExecturServiceProxy` we could return our brand new Future e.g. `IAutoDisposableScheduledFut

[2020-07-06 08:05] sancar commented on #17140
Hi @StephenOTT, did you have a chance to check my answer?
If my understanding is correct, I think, there is no need for us to implement this as it can easily be done by our API.

[2020-07-06 08:22] pveentjer commented on #17146
I would also move away from using locks directly and make use of EntryProcessors like @vbekiaris already indicated. This way you don't run into leaking lock proxies.

[2020-07-06 08:36] pavelorehov opened #17178 "Add labels to ClientEndpoint.toString"
Add client labels to ClientEndpointImpl.toString to simplify client identification (in addition to client uuid) on Hazelcast server side.

[2020-07-06 08:52] vbekiaris opened #17180 "IMap javadoc needs update for java 8"
`IMap`'s javadoc in 4.x erroneously mentions that [Hazelcast is compiled with Java 1.6](https://github.com/hazelcast/hazelcast/blob/ffdc8573223c7279da6725eb3a0df96edb00e056/hazelcast/src/main/java/com/hazelcast/map/IMap.java#L76-L81)

[2020-07-06 10:10] tkountis commented on #16994
Thanks for the update. Yes your thinking seems more or less correct.
A couple of points to consider

- API wise we can't have breaking changes, but the good part is that we probably don't need them either. I am thinking that if you need an auto-disposable task, we are looking at a schedule-once (& forget) task, not repeatable ones. In which case, we only need one new flavor of the API, which is no

[2020-07-06 11:50] sancar commented on #17173
Already mentioned on the pr but, for the sake of completeness repeating here.
Our users do not have ability to say that a unisocket client should connect to a data member only.
Instead, as a design choice, we have implemented every request in a way that, it should be able to redirected to a data-member if needed from the lite member.
I think we should follow the same design for the SQL client supp

[2020-07-06 11:57] devozerov commented on #17173
@sancar These two design goals are clear, but we cannot follow them for different reasons.
1. We do not support SQL on lite members explicitly. It will require additional engineering efforts, but the end results will be a query execution flow that is considerably slower than when a member is connected to a data member. We reject to support lit members because we assume that nowadays users are not

[2020-07-06 12:39] bjansen commented on #5757
Hi,

Sorry for unburying this old issue, but I'd like to know if things have changed in recent versions of Hazelcast.

Let's say that I have a cluster with two nodes, with a write-behind MapStore that inserts data to a DB. Suppose the DB is temporarily unavailable (maintenance, crash), is there still a possibility that some data is lost in case one of the nodes crashes or is restarted?

[2020-07-06 12:51] viliam-durina opened #17182 "SqlException: avoid using same name as well-known classes in public API"
In the sql module we declare `SqlException`, which is well-known and frequently used standard Java class (one has to catch it each time he works with JDBC). Its name differs in case (java's is `SQLException`), but this is easy to miss. We should rather use `HazelcastSqlException`.

[2020-07-06 13:17] viliam-durina commented on #17173
My 2 cents: I actually am surprised that a unisocket client can connect to a lite member. A lite member is in a way a client. One client should not connect to another client and expect it to forward its requests. Maybe we should start here...

On the other hand, unisocket clients are by design slower, their operation requires more hops. So users expect lower performance from them, they should not

[2020-07-06 13:32] StephenOTT commented on #17140
@sancar I have not had a chance to try it out yet, but your `or(and(ifPredicate, then), not(ifPredicate))` suggestion looks good.  Welcome to close the issue, and I will post back if there are issues

[2020-07-06 13:34] sancar commented on #17173
@viliam-durina We may rediscuss if a client should connect to lite-member. It will not be straight forward one.  The clients will be load-balancing via only data members. Adding a lite member will not help clients to scale. Heavily depends on the use case(number of clients, or they smart or not, the nature of the operation they are doing etc)

[2020-07-06 13:34] mmedenjak commented on #16983
Closing due to inactivity. Please add a new comment once you have more information or open a new issue. Happy Hazelcasting!

[2020-07-06 13:34] #16983 closed

[2020-07-06 13:48] mmedenjak commented on #17135
Hi @pavelorehov ! Thank you for your report. It's indeed an oversight on our side. Adding it to the current milestone so we take a look. cc @mdogan @petrpleshachkov

[2020-07-06 13:52] mmedenjak commented on #16338
Don't know what's the status on that, maybe @mesutcelik, @pivovarit or @enozcan can comment on when and if we can include hazelcast-hibernate53 in hazelcast-all.

[2020-07-06 13:55] mesutcelik commented on #16338
Thanks for heads up! We are about to release latest version of hibernate53 then why not? 😄 cc: @pivovarit

[2020-07-06 13:56] mmedenjak commented on #16813
We're currently working on a new serialization format that will allow for schema evolution. That might help you once it's released. Until then, we don't support changing the class definitions once it's already in use. cc @sancar

[2020-07-06 14:03] pivovarit commented on #16338
That's the goal. We'll definitely do this once the new version gets released (hopefully this week).

[2020-07-06 16:19] mmedenjak commented on #17126
Fixed by https://github.com/hazelcast/hazelcast/pull/17161 and https://github.com/hazelcast/hazelcast-enterprise/pull/3658

[2020-07-06 16:19] #17126 closed

[2020-07-06 18:30] mmedenjak commented on #17177
Hi, @pbting ! No, we don't support graph storage or graph querying (yet). Adding this to the backlog as an idea for future development.

[2020-07-07 07:43] bjansen commented on #5757
I did a little experiment that makes me think the problem is still happening:

* a cluster of two nodes, with 1 backup and a MapStore that stores in an Oracle DB
* a Java client that accepts http requests and stores business objects in a distributed IMap

When I stop the database, the MapStore will retry inserting in the database until it is available again, so no data is lost.

When I stop the da

[2020-07-07 08:58] tonitingaurav opened #17185 "Very Poor response of Hazelcast if value saved in IMap is a big object"
In my IMap, I am saving a small key, but the value is list of objects having thousands of rows.

I planned to have entry processor for the local operation but it is very poor as if I put **no code** in entry processor then also it is taking time O(n). If the value is small, it takes less time (no processing I am doing in entry processor) and if value is big in size, it takes too much time.

Then I

[2020-07-07 08:58] pveentjer commented on #14253
I have tried reproducing the issue with

[code]
Java 1.8.0_161-b12

4 machines. 2 clients, 2 members using the following test
[code]

Giving 700 requests per second. I'll do one more run with slightly higher throughput. But I'm not able to reproduce the issue.

[2020-07-07 09:04] tonitingaurav commented on #16999
This is a critical ask. There is no way, I can process my heavy data on a key in a faster manner. All hazelcast operations like entry processor and executeOnKeyOwner are working **very poorly**. Without having any functionality, they are taking time with linear complexity of size of data.

[2020-07-07 11:02] pveentjer commented on #14253
I tried with a higher throughput and I don't see the issue. I know that in the past we had problem, but no clue what this is caused by. I don't recollect seeing it for a long time.

[2020-07-08 09:19] #17140 closed

[2020-07-08 09:27] sancar commented on #17173
@Vladimir Ozerov In the current design, the SQL query is not able to continue if a client connection is dropped. This is very unusual when compared to other read-only operations.
A map.get for example can be retried in any of the members or connections still works. Keep in mind that, this needs to be well documented in order not to surprise our clients.

And when it comes to fetching from all memb

[2020-07-08 09:34] devozerov commented on #17173
@sancar, `map.get` is a stateless idempotent operation, that could be retried easily. SQL is stateful and is not idempotent, therefore no retires are possible.It is very unlikely that any retry logic will be implemented in future.

[2020-07-08 12:48] lazerion opened #17187 "AdvancedNetworkingCommunicationIntegrationTest testMemcacheConnectionToEndpoints"
- Fails on `Hazelcast-4.master-IbmJDK8-fips-nightly`
- Fails on [Build #179 (Jul 7, 2020 11:54:07 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-IbmJDK8-fips-nightly/179/testReport/junit/com.hazelcast.internal.networking.nio/AdvancedNetworkingCommunicationIntegrationTest/testMemcacheConnectionToEndpoints/)
- Stacktrace
[code]
- Possible jenkins resource related. ki

[2020-07-08 12:53] lazerion opened #17188 "AtomicRefIsolatedServersTest - instance not shut down"
- Fails on `Hazelcast-4.master-OracleJDK8`
- Fails on [Build #100 (Jul 8, 2020 6:10:05 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-OracleJDK8/100/testReport/junit/com.hazelcast.client.cp.internal.datastructures.atomicref/AtomicRefIsolatedServersTest/com_hazelcast_client_cp_internal_datastructures_atomicref_AtomicRefIsolatedServersTest/)
- Error
[code]
- Stacktra

[2020-07-08 13:43] pbting commented on #17177
@mmedenjak  Thanks so mush to reply. I am very optimistic  about hazelcast and want to support this feature, what can I do for you ? because I think if support hazelcast will be a complete ecology  .

[2020-07-08 13:54] ilkerkorkut opened #17189 "CPU usage reporting issue on HealthMonitor in Kubernetes environment"
A cluster running on Kubernetes with very low millicores (ex. 100mCPU defined). But I see healthmonitor reports 24 cores. It seems that’s reading the physical box specs.

[2020-07-08 14:25] burakcelebi commented on #17062
Hi, we have discovered that there are significant consequences in these use cases. We need more time to come to a decision. Thanks for your patience :)

[2020-07-08 14:34] ycordier-pro commented on #17062
Sure, no hurry, take the necessary time ;)

[2020-07-08 17:23] KowalczykBartek commented on #17032
the link is broken

[2020-07-09 05:11] Danny-Hazelcast opened #17190 "cluster member kill sql bit map mapBak1HD returned 6 items expected 1"
http://jenkins.hazelcast.com/view/kill/job/kill-sql/47/console

/disk1/jenkins/workspace/kill-sql/4.1-SNAPSHOT/2020_07_09-03_43_03/sql/bit-map

fail HzClient3HZ name_predicate-mapBak1HD hzcmd.map.sql.predicate.PersonNamePred threadId=1 global.AssertionException: (firstName=86807 AND lastName=86807) on map mapBak1HD returned 6 items expected 1 

http://54.147.27.51/~jenkins/workspace/kill-sql/4.1-

[2020-07-09 05:17] Danny-Hazelcast opened #17191 "cluster member kill sql comp idx jvm crash hs_err_pid"
http://jenkins.hazelcast.com/view/kill/job/kill-sql/47/console

/disk1/jenkins/workspace/kill-sql/4.1-SNAPSHOT/2020_07_09-03_43_03/sql/comp-idx

 http://54.147.27.51/~jenkins/workspace/kill-sql/4.1-SNAPSHOT/2020_07_09-03_43_03/sql/comp-idx

output/HZ/HzMember3HZ/hs_err_pid3866.log

[code]

[2020-07-09 05:19] Danny-Hazelcast opened #17192 "cluster member kill sql in predicate jvm crash hs_err_pid mapBak1ObjSql_sql_pred-in returned 9 expected 10"
http://jenkins.hazelcast.com/view/kill/job/kill-sql/47/console

/disk1/jenkins/workspace/kill-sql/4.1-SNAPSHOT/2020_07_09-03_43_03/sql/in-pred Failed

fail HzClient4HZ pred-in_sql_sql_mapBak1ObjSql hzcmd.map.sql.predicate.PersionIdInRange threadId=2 global.AssertionException: personId IN (42725,42726,42727,42728,42729,42730,42731,42732,42733,42734) on map mapBak1ObjSql_sql_pred-in returned 9 expec

[2020-07-09 05:24] Danny-Hazelcast opened #17193 "cluster member freeze sql HD idx ClassCastException: com.hazelcast.query.impl.Comparables.compare(Comparables.java:99)"
http://jenkins.hazelcast.com/view/freeze/job/freeze-x2/6/console

/disk1/jenkins/workspace/freeze-x2/4.1-SNAPSHOT/2020_07_09-03_44_11/hd-idx

fail HzMember3HZ fn hzcmd.distributed.PutRandPerson threadId=2 java.lang.ClassCastException: java.lang.Double cannot be cast to java.lang.String

http://54.147.27.51/~jenkins/workspace/freeze-x2/4.1-SNAPSHOT/2020_07_09-03_44_11/hd-idx

output/HZ/HzClient3HZ/

[2020-07-09 05:29] Danny-Hazelcast opened #17194 "cluster split sql hd idx IllegalArgumentException Size must be positive AbstractPoolingMemoryManager.java:175"
sh hz-bench-run-jenkins-split hz/stable/hd/pool/hd-idx
http://jenkins.hazelcast.com/view/split/job/split-x/27/console

/disk1/jenkins/workspace/split-x/4.1-SNAPSHOT/2020_07_09-03_42_21/hd-idx Failed

fail HzClient4HZBB fn hzcmd.distributed.PutRandPerson threadId=0 java.lang.IllegalArgumentException: Size must be positive: -409714372

 http://54.147.27.51/~jenkins/workspace/split-x/4.1-SNAPSHOT/202

[2020-07-09 05:58] Danny-Hazelcast commented on #17192
http://jenkins.hazelcast.com/view/rollup/job/rollup-x/7/console

fail HzClient7HZ pred-in_sql_sql_mapBak1HDSqlIdx hzcmd.map.sql.predicate.PersionIdInRange threadId=0 global.AssertionException: personId IN (35433,35434,35435,35436,35437,35438,35439,35440,35441,35442) on map mapBak1HDSqlIdx_sql_pred-in returned 8 expected 10

/disk1/jenkins/workspace/rollup-x/4.1-SNAPSHOT/2020_07_09-04_50_23/sql/in-

[2020-07-09 06:19] Danny-Hazelcast commented on #17190
http://jenkins.hazelcast.com/view/stable/job/scale-up/31/console

/disk1/jenkins/workspace/scale-up/4.1-SNAPSHOT/2020_07_09-06_11_28/sql/bit-map Failed

fail HzMember1HZ name_predicate-mapBak1HD hzcmd.map.sql.predicate.PersonNamePred threadId=1 global.AssertionException: (firstName=2651 AND lastName=2651) on map mapBak1HD returned 3 items expected 1

http://54.147.27.51/~jenkins/workspace/scale-up

[2020-07-09 06:50] Danny-Hazelcast commented on #17191
in this test members are added to the cluster

/disk1/jenkins/workspace/scale-up/4.1-SNAPSHOT/2020_07_09-06_11_28/sql/comp-idx

fail HzMember1HZ mapBak1HDname_predicate hzcmd.map.sql.predicate.PersonNamePred threadId=1 global.AssertionException: (firstName=2651 AND lastName=2651) on map mapBak1HD returned 3 items expected 1

 http://54.147.27.51/~jenkins/workspace/scale-up/4.1-SNAPSHOT/2020_07_09-

[2020-07-09 07:14] Danny-Hazelcast commented on #17192
adding members test

http://jenkins.hazelcast.com/view/stable/job/scale-up/31/console

 /disk1/jenkins/workspace/scale-up/4.1-SNAPSHOT/2020_07_09-06_11_28/sql/in-pred Failed

 fail HzClient2HZ pred-in_sql_sql_mapBak1HDSqlIdx hzcmd.map.sql.predicate.PersionIdInRange threadId=3 global.AssertionException: personId IN (42307,42308,42309,42310,42311,42312,42313,42314,42315,42316) on map mapBak1HDSqlIdx

[2020-07-09 07:17] peterjot commented on #16994
Hey
I think that we could add methods like `scheduleAndForget`, `scheduleOnMemberAndForget`, `scheduleOnKeyOwnerAndForget`, `scheduleOnAllMembersAndForget` to `IScheduledExecutorService` which create auto-disposable `TaskDefinition`. You're right, removing the tasks during state sync would be defenitly better. Thanks for the correction!

[2020-07-09 12:17] ahmetmircik commented on #16328
This is a known flaky test and it will be handled in this PR: #16438.
Not much value to keep this issue open, closing it now.

[2020-07-10 06:43] sancar commented on #10312
@pveentjer This is fixed in 4.0. HeapData uses the payload available in ClientMessage without copying it.
While HeapData was a copy of the data in 3.12, it is just a small wrapper in 4.0.

Further removing HeapData does not seem possible. It means returning byte[] from the protocol instead of Data on decode. But most of the internal API(Operations, DataWriter/Reader classes, Services ) expects Dat

[2020-07-10 07:59] sancar opened #17202 "Caller stacktrace is missing on RuntimeExceptions thrown from ExceptionUtil.rethrow"
After the fix https://github.com/hazelcast/hazelcast/pull/15441 we have removed exception stack trace rewrite on the server.
Since the client proxies do not use correct method (which seems to be `invocationFuture.joinInternal`), the exceptions that come from the remote are thrown with the stack trace on the remote.

This makes it hard to follow the stack trace. ~~The solution is already available

[2020-07-10 08:12] #10312 closed

[2020-07-10 08:42] jawitcher commented on #16768
Hi! Is that issue actual? I would like to work on this

[2020-07-10 12:16] burakcelebi commented on #16768
Of course @jawitcher, thank you! Please let us know if you need any help. cc: @sancar

[2020-07-10 17:55] mmedenjak commented on #16999
As suggested, you can use the partition service to determine the owner members for each key. You can also use methods from the scheduled executor such as `IScheduledExecutorService#scheduleOnKeyOwner` to send a batch of keys and execute any map operation locally on that member.

[2020-07-10 17:57] mmedenjak commented on #17185
Hi @tonitingaurav ! Can you profile the application and determine where the bottleneck is? If it's serialization/deserialization, in some cases using `Portable` works as it avoids (de)serializating the value. But it's mostly for querying and might not apply for your use case.

[2020-07-10 18:00] mmedenjak commented on #5757
Thanks! @ahmetmircik can you check this out and see if it's a possible enhancement request and if there is a workaround?

[2020-07-11 07:38] mmedenjak commented on #16328
@ahmetmircik do we know why it is flaky and any other way how to fix it? I prefer not to merge any kind of flaky annotation or way of repeating tests when they fail.

[2020-07-11 08:05] mmedenjak commented on #16994
I'd prefer to add these as marker annotations to tasks, otherwise we are facing API bloat - a method for every combination of `schedule`, `onKeyMember`, `onOwner`, `onAllMembers` and `andForget`.

[2020-07-11 08:08] mmedenjak commented on #17192
@Danny-Hazelcast before this is fixed, can you rerun these tests with this set to `false`? It should fall back to the old index and the tests should pass.

[code]

[2020-07-11 08:09] mmedenjak commented on #17194
@Danny-Hazelcast before this is fixed, can you rerun these tests with this set to `false`? It should fall back to the old index and the tests should pass.

[code]

[2020-07-11 08:09] mmedenjak commented on #17193
@Danny-Hazelcast before this is fixed, can you rerun these tests with this set to `false`? It should fall back to the old index and the tests should pass.

[code]

[2020-07-11 08:10] mmedenjak commented on #17191
@Danny-Hazelcast before this is fixed, can you rerun these tests with this set to `false`? It should fall back to the old index and the tests should pass.

[code]

[2020-07-11 08:10] mmedenjak commented on #17190
@Danny-Hazelcast before this is fixed, can you rerun these tests with this set to `false`? It should fall back to the old index and the tests should pass.

[code]

[2020-07-11 08:13] mmedenjak commented on #17032
@KowalczykBartek it's in a private repo. Maybe @ahmetmircik can give you some pointers on how to add this check.

[2020-07-11 08:17] #17178 closed

[2020-07-11 10:58] neilstevenson opened #17204 "Cannot easily test "readData" and "writeData""
Classes with custom serialization (eg. `IdentifiedDataSerializable`) should have tests that validate the serialization and de-serialization code match.

This is done here, https://github.com/hazelcast/hazelcast-code-samples/blob/master/serialization/hazelcast-airlines/the-code/src/test/java/com/hazelcast/samples/serialization/hazelcast/airlines/V3FlightTest.java, but this uses the `SerializationSe

[2020-07-13 06:12] petrpleshachkov opened #17205 "Bug in clearStorage() of Default record store"
The `clearStorage()` method of `DefaultRecordStore` calls `onClear()` on mutation observer after the storage itself is being cleared. For index mutation observer it doesn't work because clearing of the index entries relies on the information from the storage which is already cleared.

As a result, the global indices may contain dangling pointers. For on-heap indices it will lead to the inconsisten

[2020-07-13 06:42] stffrdhrn opened #17206 "High amount of garbage created in BasePutOperation.afterRun()"
**Please describe the problem you are trying to solve**
TL/DR; `BasePutOperation.afterRun()` is creating a lot of garbage.

We have deployed hazelcast in a high throughput environment where we like to see low GC overhead.  We have several eventListeners registered with a map at any time and only 1 publisher.  In our environment we were seeing >2 million updates total to ~1.5million records in 10 m

[2020-07-13 09:57] neilstevenson opened #17207 "Severe performance degradation on Java 8 for PagingPredicate"
If I run the following code, elapsed time is:

OpenJDK 11.0.7 - 662 milliseconds
OpenJDK 1.8.0_252 - 27837 milliseconds

All looks ok on Java 11.
Hazelcast 3.9 is ok, but 3.10 through to 4.0 exhibit the slowdown.

Code
[code]

[2020-07-13 13:14] ahmetmircik commented on #17206
Hi @stffrdhrn,

Thanks for raising this.

You are right, i can see here the main issue is even you have OBJECT in-memory-format, de-serialization is still keep happening and it is causing garbage creation:
[code]

At first glance, maybe we can also pass de-serialized value besides serialized one to `mapEventPublisher.publishEvent` method and use wherever it appropriate.

Do you want to work on thi

[2020-07-13 13:23] ahmetmircik commented on #17205
For 3.x, there is no indexing mutation observer(which was introduced in 4.0), and we clear storage after clearing indexes. So, from indexing perspective, there should be no such issue.

For 4.0, i checked all mutation-observers, seems it is safe to change order of methods.

[2020-07-13 13:29] ahmetmircik commented on #17032
@KowalczykBartek, link is referring the issue investigated. It doesn't help much for this issue.

Here, as a solution, i was thinking `addIndex` should fail fast, if BITMAP index is asked for a map with NATIVE in-memory-format.

Thanks for looking into this.

[2020-07-13 13:32] ahmetmircik commented on #16328
@mmedenjak yes it is based on lossy eventing system, this is the root cause. Please see my approach summarized here: https://github.com/hazelcast/hazelcast/pull/16438#issuecomment-573022159

[2020-07-13 15:31] petrpleshachkov commented on #17205
`AbstractInternalQueryCache#clear` has the same issue

[2020-07-13 19:03] neilstevenson commented on #17207
See @pveentjer

[2020-07-13 20:43] stffrdhrn commented on #17206
Sure, let me work on it.

[2020-07-14 04:26] pveentjer commented on #17207
I have made a few benchmarks and found a few ways to resolve the problem:

[code]

[2020-07-14 06:00] pveentjer commented on #17207
[code]

[2020-07-14 07:34] sancar commented on #17202
After some investigation, I have realized that this is a problem for the core side as well.
We have lots of places that we use the following pattern
[code]

If the exception is RuntimeException, it is not wrapped and thrown directly. In that case, we can not follow where the exception is thrown from. Here is an example of a put from a member.

[code]

Same problem on the client side:

[code]

Thes

[2020-07-14 08:10] #17022 closed

[2020-07-14 09:32] cangencer commented on #17136
To me, it sounds like unintuitive behavior because if I configure the client to connect to localhost without a specific port, and have wrong cluster name, it will try localhost:5701 and get the authentication exception, then try localhost:5702 and localhost:5703. That doesn't feel great or user friendly to me.

[2020-07-14 10:28] asimarslan commented on #17136
trying/scanning ports is a feature itself. Port scan can be simply omitted by setting a specific port. Giving up on the first port attempt feels more user-unfriendly to me. Omitting the port means to try multiple ports, and not means just use the default port.
If that's the intention, this is a big behavior change and I think we shouldn't change it.

[2020-07-14 12:23] tonitingaurav commented on #17185
I have done the memory checks of the hazelcast server..... all kind of options available in hazelcast I have tried but there is no way I find to solve my issue with hazelcast. I want to do some processing at the hazelcast server node for a large object saved in IMap value part. EntryProcessor, Executor both takes time before executing my code (In both cases OBJECT and BINARY in memory type).

I th

[2020-07-14 17:59] peterjot commented on #16994
@mmedenjak thanks for the tips. I've introduced a method similar to `named()`. It would look like this:
[code]

[2020-07-14 23:53] stffrdhrn commented on #17206
A pull request is created for this: https://github.com/hazelcast/hazelcast/pull/17216

[2020-07-15 09:47] #17207 closed

[2020-07-15 17:08] ycordier-pro commented on #17062
Hi, just a FYI, after [implementing the proposed solution on the tomcat replication session HZ manager](https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/pull/92) (which is to listen for client shutdown and recreate a new one when necessary), I'm still experiencing some weird behaviors where client thinks it's still connected to a member whereas the member has already restarted and chan

[2020-07-15 22:46] SledgeHammer01 opened #17226 "NodeExtension not getting called"
I'm using hazelcast dependencies 3.12.8 on both the client / server.

I've tried group\password both via config and xml and that seems deprecated/disabled in 3.12.8?
I've tried hazelcast.application.validation.token both via config and xml and that seems not working either. Wasn't that removed in 4.x?

Next I created a NodeExtension on the server that extends DefaultNodeExtension.

When the server

[2020-07-16 06:50] sancar opened #17228 "LoadBalancer can not be configured declaratively"
With Java clients (3.12. and 4.x ), it looks like I cannot specify a class override for client load balancer. https://docs.hazelcast.org/docs/3.12.4/manual/html-single/#configuring-client-load-balancer
This could be a documentation error, or documentation is right, but the XSD schema is wrong.
[code]
is not allowed by the schema. And if it was allowed, a third “type” keyword should be added in ord

[2020-07-16 08:05] sancar commented on #17226
`hazelcast.application.validation.token` is for members only.
validateJoinRequest is called only on the `master` node when other nodes trying to join the cluster.
Both `beforeJoin ` and `validateJoinRequest` are not related to clients as you guessed.

Since the password was sent in plain text, and open to attacks, we have decided to deprecate that to avoid giving a false sense of security.

To val

[2020-07-16 08:41] bmageshvec opened #17229 "Does hazelcast-spring support profile specific hazelcast.yaml configuration"
Want to understand whether hazelcast-spring support profile specific hazelcast.yaml configuration.

Based on current Spring profile  (spring.profiles.active) will it take automatically if we have different profiles in our project. Please clarify. For example:
[code]

[2020-07-16 09:12] kwart opened #17230 "Improve start scripts to avoid illegal reflective access warnings on Java 9+"
Hazelcast requires opening some java modules for reflective access on newer Java versions as described in https://docs.hazelcast.org/docs/4.0.2/manual/html-single/index.html#running-in-modular-java

We don't provide the proper argument in our `start.*` scripts so users still see warnings.

Possible solutions:
* first detect the Java version and then use correct arguments;
* try to directly run Haz

[2020-07-16 10:19] sancar commented on #12470
Fix is reverted by https://github.com/hazelcast/hazelcast/pull/16559 and postponed to 4.1

[2020-07-16 11:48] #7007 closed

[2020-07-16 16:19] SledgeHammer01 opened #17231 "Getting error during startup with 4.x"
Hi,

I was using Hazelcast 3.12.8 + Eureka-one and it worked fine. I tried upgrading to all 3 4.x version 4.0, 4.0.1, 4.0.2 and during startup, I get exceptions:

Pom:

[code]

[code]

Any suggestions?

[2020-07-18 09:20] lazerion opened #17238 "MembershipFailureTest_withTCP slave_receives_member_list_from_non_master"
- Fails on `Hazelcast-4.master-nightly`
- Fails on [Build #539 (Jul 17, 2020 5:07:00 PM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-nightly/539/testReport/junit/com.hazelcast.internal.cluster.impl/MembershipFailureTest_withTCP/slave_receives_member_list_from_non_master_fd_deadline_/)
- Error
[code]
- Stacktrace
[code]
- It could manifest since hiccups, as also `Fai

[2020-07-18 09:24] lazerion commented on #15969
- Fails on `Hazelcast-4.master-sonar`
- Fails on [Build #560 (Jul 17, 2020 9:17:00 PM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-sonar/lastCompletedBuild/#showFailuresLink)
- Kindly check.

[2020-07-20 07:51] sancar commented on #17226
@SledgeHammer01 Did you get a chance to read my answer and try?

[2020-07-21 11:30] mariusz2108 opened #17251 "WrongTargetException after restarting nodes with cp subsytem"
**Describe the bug**
Test environmet:
Enabled cp subsytem on all hazelcast instances
2 java processes:
- first with 3 hazelcast instances
- second with 2 hazelcast instances

**Expected behavior**
Currently WrongTargetException is raised on hazelcastInstance1.getCPSubsystem().getLock("Lock")
WrongTarget! local: Member [10.0.2.4]:5000 - 18970da8-de78-48fc-9a0f-8a307c202168 this, expected-target: nu

[2020-07-22 05:43] Hyunsuk-Baek commented on #4378
why this error closed?

[2020-07-22 07:05] sancar commented on #4378
We have closed the issue in 2015 because it was unresponsive. The report by @ChandranMuthu seems to be skipped by accident.
@Hyunsuk-Baek, @ChandranMuthu Can we get more details on the problem that you are seeing?
Which version you are seeing?
Do you have a unit test to reproduce?
Is it the client or the member which leaves a thread open?
Do you have stack-trace or logs regarding the problem?
If y

[2020-07-22 10:36] the-thing commented on #17228
I would be happy to work on this. However, I think the proper fix for this would have to break programmatic configuration backwards compatibility as `com.hazelcast.client.config.ClientConfig#loadBalancer` should be replaced with the new `LoadBalancerConfig` containing **type** and **className** for custom load balancer implementation. Later `com.hazelcast.client.impl.clientside.HazelcastClientInst

[2020-07-22 13:38] lazerion commented on #15969
@vbekiaris could you check this out pls? It looks stable on failures :). [Hazelcast-4.master-sonar](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-sonar/564/#showFailuresLink)

[2020-07-22 13:41] lazerion commented on #17188
- Continues to fails as I see [Build #195 (Jul 22, 2020 5:18:26 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-ZingJDK8/195/testReport/com.hazelcast.client.cp.internal.datastructures.atomicref/AtomicRefIsolatedServersTest/com_hazelcast_client_cp_internal_datastructures_atomicref_AtomicRefIsolatedServersTest/)

[2020-07-22 22:36] lprimak opened #17260 "CP FencedLock sometimes freezes sometimes fails with Exception after split-brain merge"
**Describe the bug**
After split-brain healing, lock gives exceptions and/or freeze indefinitely:
[code]
**Expected behavior**
Locks should work normally after split-brain

**To Reproduce**
There is a test reproduced attached.

What I did is run a locking app on two nodes,
and then "froze" one of them with debugger to get it
to split-brain, and then I waited for a merge, and then it stopped workin

[2020-07-22 22:55] lprimak opened #17261 "Cache merge after split brain fails on a node that doesn't have a cache created"
**Describe the bug**
After a split-brain scenario, if the cache is not created / exists on both nodes, merging doesn't happen properly.
Instead, I get the exception below.

**Expected behavior**
After split-brain, cache merge should happen properly with no exceptions

**To Reproduce**
two nodes. one is stopped with a debugger to induce a split-brain.
other node is shut down and brought back up wit

[2020-07-23 10:36] #17012 closed

[2020-07-23 13:45] sancar commented on #16726
Hi @Danny-Hazelcast , I have investigated the heap dumps. The packets that are piling are the partition table updates.
It is possibly fixed here https://github.com/hazelcast/hazelcast/pull/16939
and backport https://github.com/hazelcast/hazelcast/pull/16938

Can we close the issue since we have identified the problem and tests are passing now ?

[2020-07-23 15:40] lazerion opened #17264 "Reliable topic publish expectation fails when members restarted"
- Failing case [clientShouldOperateWithListener](https://github.com/hazelcast/hazelcast-qe/blob/master/it/client-tests/runner/src/test/java/com/hazelcast/it/client/tests/runner/IpHostnameMixTest.java#L192)
- Deployment
[code]
- Steps
[code]
- **Sporadically** Fails on step
[code]
- Logs
[logs.zip](https://github.com/hazelcast/hazelcast/files/4967192/logs.zip)

- Failing job in QE IT suite [Build #

[2020-07-24 04:22] tonitingaurav opened #17265 "Hazelcast is slow for multiple calls to map.get"
- Cluster size: 5
- Heap Size: 16 GB
- Version of Java: 1.8
- Operating system: Unix
- Hazelcast Version: 3.11

I am using map.get(key) function with 50 concurrent threads. Below is my code
[code]

I am calling above method with **same input** for 50 threads. Above executions time varies from 4 milliseconds to 25 seconds.

If I call same method with 100 concurrent thread, above execution time vari

[2020-07-24 07:10] devozerov commented on #17173
Reopening because the protocol PR is not merged yet.

[2020-07-24 07:20] #17173 closed

[2020-07-26 17:51] #16994 closed

[2020-07-27 06:04] devozerov opened #17268 "HASH index on BigDecimal cannot return entries when compareTo=0, but equals=false"
Consider the following query:
[code]
If there is a `HASH` index on the column `big_decimal_column`, and there is an entry with the index key "new BigDecimal(2)", the corresponding entry will not be returned. But if a `SORTED` index is used, then the entry will be returned.

Thus, the engine will produce different results depending on the index type, which is a bug. The old query engine is affected

[2020-07-27 07:54] sancar commented on #4378
We are unable to investigate the issue further. I am closing the issue. If you still having problems please reopen an issue with details provided.  @Hyunsuk-Baek @ChandranMuthu

[2020-07-27 07:54] #4378 closed

[2020-07-27 08:26] sancar commented on #16726
Confirmed by @Danny-Hazelcast . Closing the issue.

[2020-07-27 08:26] #16726 closed

[2020-07-27 10:40] sancar commented on #17264
@lazerion I have investigated the failure.
`publish` operation fails when member-A restarted. Related log from `clientshouldoperatewithlistener_hazelcast-client-B_1.log`

[code]

It is expected to see a non-idempotent operation to fail while disconnections are happening. They are not necessarily retried. If the connection fails before invocation put into write queue, they will be retried -otherwis

[2020-07-27 10:50] sancar commented on #17228
Hi @the-thing ,
Yes, breaking the compatibility is not an option. Handling this inside `ClientDomConfigProcessor#handleLoadBalancer.` sounds good to me.

We would appreciate if you can send a fix for us. Note that, we want to fix this on all three branches.
3.12.z
4.0.z
4.z

Also, note that other than XML configuration we would like to fix the YAML configuration as well. Please include a fix for t

[2020-07-27 15:09] lazerion commented on #17264
@sancar I opened that issue since it was not the case before and there is still at least one member active in cluster for that client. IIUC, in that case we lost a publish event. Can you confirm, since it is not retried?

do we need to handle that exception and retry, as another mitigation?

I did not know that it is the case for reliable topic. I will update the case.

I could not catch in docume

[2020-07-28 08:03] sancar commented on #17264
We have documentation for this behavior here.
https://docs.hazelcast.org/docs/4.0.2/manual/html-single/index.html#handling-failures
It mentions this as all non-idempotent(e.g not read-only ) operations.

Note that If you catch the exception and retry, it could be the case that you do the operation twice
So you will be switching from at most one event per `publish` to at least one event per `publis

[2020-07-28 08:14] lazerion commented on #17264
Thanks @sancar closing per above discussion and changing case to verify continuation of `publish`.

[2020-07-28 08:14] #17264 closed

[2020-07-28 08:35] sancar commented on #6383
A new failure
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/1619/testReport/junit/com.hazelcast.internal.cluster.impl/AdvancedClusterStateTest/changeClusterState_shouldFail_whenNonInitiatorMemberDies_beforePrepare/
[code]

[2020-07-28 17:07] pveentjer commented on #17265
Have you tried profiling this code and see where time is being spent?

When I run with 50 threads per client and a single member, I'm seeing average latency far below 1ms (generally in the 200/300us range.. depending on ec2 configuration).

[2020-07-28 17:09] pveentjer commented on #17265
And why are you measuring performance on hz.getMap? Why are you not measuring performance around map.get?

[2020-07-28 22:17] tkountis commented on #17265
@tonitingaurav we are lacking lots of details to be able to judge and provide feedback here.
To give you some insight, a typical GET on a Hazelcast map, is a sub-millisecond operation as Peter already commented above. So your finding is rather surprising, and we will need more info.

First & foremost lets get the important details.
- In your test code you appear to be testing the `getMap` time dur

[2020-07-29 08:01] devozerov opened #17277 "SQL Plan Cache"
We need to implement a cache for prepared SQL plans, to avoid costly parting and optimization on every SQL request,

[2020-07-29 08:05] devozerov commented on #15252
Duplicate to https://github.com/hazelcast/hazelcast/issues/17277

[2020-07-29 08:05] #15252 closed

[2020-07-29 08:06] devozerov commented on #16978
Already implemented.

[2020-07-29 08:06] #16978 closed

[2020-07-30 13:45] tonitingaurav commented on #17265
I am sorry as I can not print the exact code below is the correct code

CacheValue method(String cacheName, CacheKey key){
Date startDate = new Date();
IMap<CacheKey,CacheValue> map = hazelcastClientInstance.getMap(cacheName);
CacheValue value = map.get(key);
System.out.println("Time taken ", (new Date().getTime() - startDate.getTime())); //Here we are getting too much variation
return value ;
}

[2020-07-30 14:01] tkountis commented on #17265
Could you provide a JFR recording, any profiler output, or at the very least a gc log from both member & clients.
As we mentioned earlier, the typical performance is sub-millisecond for Hazelcast operation. This seems odd, and there many suspects at play.

- Garbage collectors kicking in occasionally could easily justify your multi-second delays
- Members can be under-resourced by other processes

[2020-07-30 14:19] tonitingaurav commented on #17265
Unfortunately I can not provide log etc due to my company policies.

Garbage collectors kicking in occasionally could easily justify your multi-second delays --> This is happening in all such executions
Members can be under-resourced by other processes --> We have dedicated servers for hazelcast
Members can be overloaded with other operations --> It may be considered if this is not the trend at ev

[2020-07-30 17:01] tonitingaurav commented on #17265
Now I am sure that map.get() is taking too much time as I am reusing the getMap reference. It is taking time and it gradually increase from 1 ms to 15 seconds. In the profiler, maximum time consuming method is com.hazelcast.util.executor.HazelcastManagedThread.executeRun(). I am not sure where this code is called or it is called during the data retrival.

[2020-07-30 17:31] tkountis commented on #17265
@tonitingaurav how big is this map, how many entries do you have, and how much of the allocated heap is used?
Would you be able to share a gc log from your members (it contains no sensitive info), you can do so by adding this params to your JVM
[code]

Also, which garbage collector are you using. Could you also share your hazelcast config?

[2020-07-31 07:32] tonitingaurav commented on #17265
1. Number of map entries: 1 Only (We are placing metadata in this map). Size is very small (say not more than 200 bytes)
2. Note: We are placing actual data in other map which has near to 20 K entries and total data size is near to 4 GB. But this is not the map at which we are doing get operation but present in the hazelcast server.
3. Heap in use is near to 5 GB out of available 32 GB

GC logs I

[2020-07-31 15:06] Holmistr opened #17283 "Support records in SQL query engine"
In JDK 14, we're getting records as a preview feature. We should support them in the query engine, both old and new.

[2020-08-01 05:23] sg11pankaj opened #17284 "<java.lang.IllegalStateException> at runtime on using two methods with same cache name but different key"
**Describe the bug**
We've two services,marked as cacheable with same name but different key as below. When both these are called one by one, Hazelcast throw <java.lang.IllegalStateException> Cannot overwrite a Cache's CacheManager. Tried many options but it is still now working.  We are using Hazelcast version 4.0 and spring-context 5.2.7.

    @Transactional(readOnly = true)
    @Cacheable(value

[2020-08-01 14:23] jerrinot commented on #17284
Thank you for reporting the issue.

I am not sure whether it's caused by different methods/return types. It looks like a more generic race condition in Hazelcast code.
Particularly [this](https://github.com/hazelcast/hazelcast/blob/2d4da163a0843f461968cf6c00ed68fbbfd12a11/hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySupport.java#L234-L239) and also [this](https://github.

[2020-08-01 15:52] jerrinot commented on #17284
indeed it looks like a bug. I prepared a [fix](https://github.com/hazelcast/hazelcast/pull/17286), let's see what reviewers think of this.

once more thanks for reporting it!

[2020-08-01 16:00] jerrinot opened #17287 "CacheSimpleConfig should accept cache name in its constructors"
Other configs - such as `MapConfig` or `QueueConfig` have a constructor with a name.
This allow to use constructs such as: `config.addMapConfig(new MapConfig("myMap").setFoo(foo));`

CacheSimpleConfig does not have this constructor. It should have it for the same of consistency.

[2020-08-01 16:31] jerrinot opened #17289 "Rewrite CacheSimpleConfig JavaDoc"
Right now it says:
[code]
That's misleading. It *can* be from a parsed XML configuration. It can be also from a parsed YAML configuration. But more importantly: It can be used for programmatic JCache configuration.

[2020-08-02 20:07] debjitk opened #17290 "CacheLoader exception"
Here is the function for reading cache

[code]

Here is the cache loader class

[code]

Here is the exception we are getting

[code]

[2020-08-03 08:01] #17284 closed

[2020-08-03 11:53] mmedenjak commented on #17226
Closing due to inactivity. Thank you for the answers @sancar and please comment on the issue if you need more information @SledgeHammer01 . Happy Hazelcasting!

[2020-08-03 11:53] #17226 closed

[2020-08-03 12:46] Holmistr opened #17294 "Improve error message for unsupported LIMIT clause"
Currently, the LIMIT clause in SQL query is not supported. The error message is pretty ugly:
[code]

[2020-08-03 12:47] Holmistr commented on #17294
Fix: https://github.com/hazelcast/hazelcast/pull/17295

[2020-08-03 12:51] olukas opened #17296 "ClientConsoleApp in ClientConsoleTest is not shutdown sometimes"
Test `com.hazelcast.client.console.ClientConsoleTest.connectsToHazelcastCluster()` uses `ClientConsoleApp` which is sometimes not shutdown and stay alive even after test is finished. It blocks finishing surefire tests (it is terminated by surefire after 30 seconds when all tests are finished) which for example causes that jacoco plugin is not executed correctly and test coverage is not reported.

[2020-08-03 13:18] #17287 closed

[2020-08-03 15:53] jerrinot commented on #17290
hi @debjitk,

it seems like `MyCacheLoader` is not available on members classpath. Ultimately it's members running cache loaders. You have 2 options:

1. Make the MyCacheLoader and all it's dependencies available on member classpath when they are starting. This is recommended for production deployments.

2. Use User Code Deployment. With User Code Deployment bytecode can be shipped within a cluste

[2020-08-03 19:54] debjitk commented on #17290
If CacheLoaders are executed on the members that would not be a good practice to follow. As there could be so many other dependencies for the class loader. For example a pooled DAO or something else. My suggestion would be it should be deployed on client code.

[2020-08-04 06:28] #17294 closed

[2020-08-04 06:29] taburet opened #17300 "Improve and unify literal overflow error reporting"
Several different types of error messages may appear during literal validation and type inference. From the user perspective, it's better to unify them and possibly provide more context in the error messages. Relevant comments:

https://github.com/hazelcast/hazelcast/pull/17183#pullrequestreview-445583286
https://github.com/hazelcast/hazelcast/pull/17183#pullrequestreview-446267441

[2020-08-04 06:49] taburet opened #17301 "Find a universal and cheap way to customize operator signature error messages"
Default Calcite template for operator signature mismatches might be misleading: `Cannot apply 'NOT' to arguments of type 'NOT<DOUBLE>'. Supported form(s): 'NOT<BOOLEAN>'`. It refers to the signature/overload/form as a type and that might be misleading. Also, it's sometimes desirable to remove/add/customize some signatures in the supported forms list. Relevant comments:

https://github.com/hazelcas

[2020-08-04 07:06] mmedenjak commented on #17251
Thank you for the report @mariusz2108 ! @mdogan @petrpleshachkov can you take a look if it's simple to fix?

[2020-08-04 07:06] taburet opened #17302 "Support OBJECT type in comparison operators"
Currently, any usage of `OBJECT` type in comparison operators is considered invalid, like `OBJECT = OBJECT` or `OBJECT > INTEGER`, sometimes such usages might be useful, but we can't verify their correctness during validation. Decide on the following:

1. Comparisons of OBJECT to OBJECT.
2. Comparisons of OBJECT to other types.
3. `Comparable` vs `equals/hashCode`.
4. How all that would play with

[2020-08-04 07:19] taburet opened #17303 "Support IN and BETWEEN operators"
Both operators, especially the first one, are frequently used. We need to support them.

[2020-08-04 08:11] ahmetmircik commented on #5757
@mmedenjak, @bjansen is right, write-behind backup is a best effort solution, it doesn't guarantee data loss. An enhancement can be done, yes.

[2020-08-04 11:47] jerrinot commented on #14253
@gedl thank you for reporting this issue.
what operating system are you using? is Linux then what distribution and what kernel?

[2020-08-04 12:00] pveentjer commented on #17185
Before jumping to any conclusion, did you run with a profiler? Can see where the time is actually being spend?

[2020-08-04 13:07] #17230 closed

[2020-08-04 13:27] mmedenjak commented on #17261
Hi @lprimak ! Thank you for the report. We'll take a look at the split-brain merge process but what confuses me is that `CacheFetchKeysOperation` is not used during the split-brain merge process but rather it's invoked when you use `Cache#iterator`. Is it the case that the exception only occurs after you invoke that method?

[2020-08-04 13:32] mmedenjak commented on #17260
Thank you for the report @lprimak . Without going into the details and judging by just the error message, I assume you are
using sessions with timeout (see `CPSubsystemConfig#sessionTimeToLiveSeconds`) and that the session simply timed out and released the lock. You can increase the timeout but that also means that if the node holding the lock crashes, other nodes will have to wait a long time unt

[2020-08-04 14:19] mdogan commented on #17251
Problem here is, when you restart the first process, you lose the whole CP subsystem. Because CP member count is 3 and you are terminating the first 3 servers. Without CP persistence, they cannot recover the CP state and CP subsystem becomes nonfunctional. You have to reset the CP subsystem to re-initialize it.

Btw; I see you're printing `"Lock acquired"` after calling  `getCPSubsystem().getLock(

[2020-08-04 14:44] mariusz2108 commented on #17251
I know that I lose my CP subsystem when first process is down. But why it is not restored when first process is up? And instead of restoring CP exception is thrown.

I know that lock isn’t acquired. Wrong message. I just wanted to point out that lock is crated in hazelcast.

[2020-08-04 14:58] lprimak commented on #17260
I am not very familiar with the CP subsystem, however, I know it's in unsafe mode and have not been configured in any way,
so not sure if what you are saying is indeed what's occurring here. Not sure if there is a "default" timeout

[2020-08-04 15:00] lprimak commented on #17261
Yes, that's correct, thanks!

[2020-08-04 15:02] mdogan commented on #17251
Without persistence, CP cannot be restored. Because all in-memory state is lost, but restarting servers don't know whether existing members has CP state or not. CP subsystem is formed only during initial cluster membership discovery process at the very first time. After that point, if you lose the CP majority and persistence is disabled then you have to `reset` CP state to initiate a new CP discov

[2020-08-04 15:03] lprimak commented on #17261
I think I'm just trying to read the cache after split-brain happens

[2020-08-04 18:43] mariusz2108 commented on #17251
Thank you for explanation

[2020-08-04 18:43] #17251 closed

[2020-08-05 01:33] cksiow commented on #16672
just some update info
currently we are using 4.0.2, and before disable the metric the memory can shot up to 1GB in a day without any usage
after disable, it took 40mb in a day even got some usage.
probably the metric feature making memory leak.

[2020-08-05 07:10] olukas commented on #17296
Reopening. It seems there is some intermittent issue after the first fix. Thread dump:
[code]

[2020-08-05 09:22] mirwais-sys opened #17307 "IndexOutOfBoundsException on member nodes if clients reconnect using iLists"
If hazelcast clients as kubernetes pods reconnects (e.g. due to a redeployment). We see the following IndexOutOfBoundsExceptions on the hazelcast members:

[code]

Any idea how it comes? We use version: **[3.12.4]** with open-jdk 11.0.1 with 2 nodes as member. We have around 55 clients connected to the members. All running on k8s.

[2020-08-05 09:39] taburet opened #17308 "Improve precision tracking"
Currently, precision tracking is performed on bit width level: `1 + 1` gives a bit width of 2. In some cases tracking based on a maximum/minimum value observed in a certain expression gives better results: currently `1 + 1 + 1` gives bit width aka precision of 3 bits while it's obvious that 2 bits is enough to represent the result. Maximum/minimum values tracking also may help with overflow detect

[2020-08-05 10:06] jerrinot commented on #17290
@debjitk this is a deliberate design decision. the main motivation: cache loaders are transparent to clients. clients read from a cache and they do not care whether it's being loaded from some other resource.

as with every trade-off there are both pros and cons. I appreciate cons might outweigh pros in your specific case. The simplest workaround is to not use Cache Loader/Writer, but use the look

[2020-08-05 10:06] #17290 closed

[2020-08-05 10:23] taburet opened #17311 "Get rid of implicit varchar conversions"
Currently, type system defines varchar as implicitly convertible to any other type. Apparently, that gives more problems than benefits.

[2020-08-05 13:29] tonitingaurav commented on #17265
@tkountis Please have a look at it and do let me know if you need more details. I will try to provide as much as I can but unfortunately I can not provide firm data (any logs etc.). This is the serious issue we are facing in hazelcast and not I am pretty much sure about it. at all execution, it starts from 1 ms and ends up with 13 to 14 seconds in a highly multithreading environment.

[2020-08-05 14:19] pveentjer commented on #17265
Without the proper data, this can take a lot of time.

The first thing I would check for is GC pauses as Thomas already indicated. You can create the logs and use a GC log analyzer for example www.gceasy.com. If you can't upload such a file, you need to escalate it so you can get it to send.

The next thing I would do is to cache the map instance as was already indicated earlier. Your statement th

[2020-08-05 14:31] pivovarit opened #17312 "JCache support requires users to rely on classes from the impl.* package"
When trying to use JCache, users need to provide a `CachingProvider` implementation of their choice and it turns out it's one of the below internal classes residing in the `com.hazelcast.cache.impl` package:
- `com.hazelcast.cache.impl.HazelcastServerCachingProvider`
-  `com.hazelcast.cache.impl.HazelcastClientCachingProvider`

And we should not be encouraging users to use internal classes.

What'