[2020-01-20 09:57] Danny-Hazelcast commented on #16498
the test normally passes.

In this failing run the partition count was increased, from the default to 2707

[2020-01-20 09:58] Danny-Hazelcast commented on #16499
the test normally passes.

In this failing run the partition count was increased, from the default to 2707

[2020-01-20 10:00] mmedenjak commented on #16499
We are aware that increasing partition count increases the heap usage and this is also something that we must take into account when working on https://hazelcast.atlassian.net/wiki/spaces/PM/pages/128308945/Change+The+Number+of+Partitions+to+1999.

[2020-01-20 11:30] Danny-Hazelcast commented on #16499
I have run with a larger client side heap and larger partition count 2707
I do not see the OOME issue.

if the hprof is not indication an obvious issue or it not cause for more investigation then
I am happy for this issue to be closed

[2020-01-20 11:40] mmedenjak commented on #16499
Great, thanks!

[2020-01-20 11:40] #16499 closed

[2020-01-20 12:24] mmedenjak commented on #13540
Sure @sbespalov , here is some info we've received since:

[code]

[code]

[reproducer.zip](https://github.com/hazelcast/hazelcast/files/4086116/reproducer.zip)

[2020-01-20 19:25] gokhansari opened #16507 "Quorum enabled="false" does not affect"
Declarative quorum configuration for hazelcast member has **enabled** flag. When it is **false**, I simply expect to have not split brain protection. When the cluster size is less than **quorum-size**, hazelcast client still gets **QuorumException** for the map which has reference for this quorum definition.

    <quorum name="quorumRule" enabled="false">
        <quorum-size>2</quorum-size>

[2020-01-21 07:37] mdogan commented on #16507
@gokhansari: Can you please post the whole configuration? Since quorum name in configuration (`<quorum name="quorumRule" ..`) and quorum name in exception message (`QuorumException: Split brain protection exception: quorumRuleForMaps has failed!`) are different.

[2020-01-21 07:51] gokhansari commented on #16507
It's just copy paste mistake. Here is full configuration:

[code]

[2020-01-21 08:09] mmedenjak commented on #16417
Ran on PR builder for 9k times in isolation, no failures. The issue might be caused by interference with other tests.

[2020-01-21 08:18] Danny-Hazelcast opened #16509 "member OOME DistributedDurableExecutorService partition count 2707 split brain"
http://54.147.27.51/~jenkins/workspace/split-executors/4.0-SNAPSHOT/2020_01_21-01_25_11/executors

http://54.147.27.51/~jenkins/workspace/split-executors/4.0-SNAPSHOT/2020_01_21-01_25_11/executors/gc.html

(base) [jenkins@ip-10-72-134-107 executors]$ hz-errors
./output/HZ/HzMember1HZBB/HzMember1HZBB.hprof
./output/HZ/HzMember5HZAA/HzMember5HZAA.hprof
./output/HZ/HzMember2HZBB/HzMember2HZBB.hprof

[2020-01-21 09:50] tkountis commented on #16509
@Danny-Hazelcast please have another run with restricted capacity, of 1.

[2020-01-21 10:08] mdogan opened #16512 "ListenerLeakTest.testListenerLeakOnMember_whenClientDestroyed"
[code]

http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5578/testReport/junit/com.hazelcast.client.listeners.leak/ListenerLeakTest/testListenerLeakOnMember_whenClientDestroyed_smartRouting_false_/

[code]

[2020-01-21 10:09] gokhansari commented on #16507
By the way, dynamically hazelcast.xml can be manipulated by external processes according to some external variables. When given **quorum-size** is **1**, disabling split brain protection might be a good option. @mdogan do you think that It's a valid request?

[2020-01-21 10:17] mdogan commented on #16507
@gokhansari: Do you mean xml config is updated dynamically while cluster is running? If that was you mean, that's not supported currently.

Otherwise, if quorum size is 1, quorum (split-brain-protection) will be effectively disabled already.

[2020-01-21 10:23] gokhansari commented on #16507
Not while cluster is running. If quorum size is **1** in xml, hazelcast member can not start.

[code]

[2020-01-21 10:33] mdogan commented on #16507
Ah I see. Can you please create a ticket for that? It's trivial to implement but it should be discussed. We generally prefer failing fast instead of implicitly making a decision about config parameters.

[2020-01-21 10:46] petrpleshachkov opened #16513 "Race condition of QueryCache query"
The `QueryCache` still suffers from a race condition mentioned inhttps://github.com/hazelcast/hazelcast/issues/16311
See https://github.com/hazelcast/hazelcast/pull/16461#discussion_r368921419 for more details

[2020-01-21 10:57] gokhansari opened #16514 "Disable split-brain protection when quorum size is 1"
If **quorum-size** is **1** in xml, hazelcast member can not start.

**Config**:
[code]
**Exception on startup**:
[code]
**Version**: 3.12.3

hazelcast.xml can be manipulated by external processes according to some external variables, like docker environment variables etc.. When given quorum-size is 1, **disabling split brain protection** might be a good option. Otherwise, only way to start single

[2020-01-21 12:54] #16507 closed

[2020-01-21 14:28] mdumandag opened #16519 "com.hazelcast.client.connectionstrategy.ConfiguredBehaviourTest.testReconnectModeASYNCTwoMembers"
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5589/testReport/junit/com.hazelcast.client.connectionstrategy/ConfiguredBehaviourTest/testReconnectModeASYNCTwoMembers/

[code]

[2020-01-21 15:36] vbekiaris commented on #16469
The failed build reports a hiccup of 3485 ms, far larger than the configured ringbuffer TTL (2 seconds), which resulted in some items being expired while the consumer expected to read them.

[code]

I am trying to figure out a way to account for hiccups while maintaining the usefulness of the test.

[2020-01-22 06:30] #16512 closed

[2020-01-22 08:38] mmedenjak commented on #16509
Related: https://github.com/hazelcast/hazelcast/issues/15349

[2020-01-22 08:42] Danny-Hazelcast commented on #16509
passed with restricted capacity, of 1.

[2020-01-22 08:42] #16509 closed

[2020-01-22 08:43] mmedenjak commented on #16509
I've put this issue and the other closed issue with partition count 2707 into as it is important to check these once we work on higher partition counts - https://hazelcast.atlassian.net/wiki/spaces/PM/pages/128308945/Change+The+Number+of+Partitions+to+1999

[2020-01-22 08:45] #16466 closed

[2020-01-22 09:36] Danny-Hazelcast opened #16523 "bitmap indexes support only direct predicate fallback query mechanism"
[code]

i belive that fall back mechanism  is working,  would be good to get independent confirmation,  and a small WARNING msg without a stack trace printed would be better

fallback mechanism is kinda "working" because of query retries, will fix that today to make it working in a proper way

http://jenkins.hazelcast.com/view/stable/job/stable-x1/66/console

[2020-01-22 10:18] Danny-Hazelcast opened #16525 "split brain NullPointerException CompositeRangePredicate.java:120"
[code]

from http://jenkins.hazelcast.com/view/split/job/split-x/19/console

a split brain bitmap index test,  look's like it tool a long time to hit this issue, so not easy to reproduce. (edited)

all though is say's CompositeRangePredicate so its not bitmap's then ?

 hz-bench-run-jenkins-split hz/stress/bit-map

[2020-01-22 10:22] petrpleshachkov commented on #16525
It seems this is the issue we fixed in https://github.com/hazelcast/hazelcast/pull/16520
@Danny-Hazelcast  please try the test with the fix and close it if it works.

[2020-01-22 11:10] cangencer commented on #15771
new failure:

http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5603/testReport/junit/com.hazelcast.cp.internal/CPMemberAddRemoveTest/when_newCPMemberIsAddedToTheMetadataGroupAfterRestartAndSnapshot_newMemberInstallsSnapshot/

[2020-01-22 11:13] ahmetmircik commented on #16396
Another failure:
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5601/
[code]

[2020-01-22 11:47] jgardiner68 opened #16526 "Scripting to default to disabled"
The IMDG user manual states that scripting is disabled by default in the Enterprise IMDG but is enabled by default for the Open Source IMDG ( https://docs.hazelcast.org/docs/3.12.5/manual/html-single/index.html#toggle-scripting-support )

This would provide better out of the box security for users running MC on the OS version of IMDG

[2020-01-22 12:33] gokhansari opened #16527 "Configure Hazelcast Server Programatically in Client/Server Deployments"
In client/server deployment mode, usage of programmatic configuration of **hazelcast server** might be a good option instead of declarative configuration thus programmatic configuration usage and management is more handy.

**Consider this usage recommendation**:
**1-** Introduce an interface to be used to implement for creating HZ **Config** class.
**2-** Introduce a way to provide jar file which

[2020-01-22 13:07] Danny-Hazelcast commented on #16498
looks like it failed with same client side

hprofs http://jenkins.hazelcast.com/view/split/job/split-rest/52/console

but it passes using default partition count and small heap
and large partition count and larger heap
so all though latest did not prevent the oome,  its not critical

if you take a look at the hprof's, and there is nothing new / problem causing a leak  then we can still close the i

[2020-01-22 13:55] lazerion commented on #15771
- Fails on [Build #116 (Jan 20, 2020 5:21:15 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-3.maintenance-IbmJDK7/116/testReport/junit/com.hazelcast.cp.internal/CPMemberAddRemoveTest/when_newCPMemberIsAddedToTheMetadataGroupAfterSnapshot_newMemberInstallsSnapshot/)

- Stacktrace
[code]

[2020-01-22 13:59] lazerion opened #16530 "ScheduledExecutorServiceBasicTest.schedule_withLongSleepingCallable_cancelledAndGet"
- Fails on `Hazelcast-3.maintenance-IbmJDK7`
- Fails on [this build 116 Jan 20, 2020](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-3.maintenance-IbmJDK7/116/testReport/junit/com.hazelcast.scheduledexecutor/ScheduledExecutorServiceBasicTest/schedule_withLongSleepingCallable_cancelledAndGet/)
- Error
[code]
- Stack trace
[code]

[code]

[2020-01-22 14:45] mmedenjak commented on #16527
Hi @gokhansari ! Thank you for the suggestion. I hope I understood your suggestion so I have one question - instead of Hazelcast providing a factory interface for creating config instances and you providing an implementation of that factory implementation, wouldn't it be easier if you simply created that `Config` instance in the first place and provided it to start Hazelcast?

Can you give us some

[2020-01-22 14:49] blazember commented on #15736
New occurrence: http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5612/testReport/junit/com.hazelcast.durableexecutor/DurableExecutorServiceTest/testDestroyCleansAllContainers/

**Error Message**
[code]
**Stacktrace**
[code]
**Hiccups measured while running test**
[code]

[2020-01-22 15:07] Danny-Hazelcast commented on #16498
@mdumandag  looks like this issue is fixed

[2020-01-22 15:07] #16498 closed

[2020-01-22 16:14] bakedzebra opened #16534 "JSP bean properties are not updated"
Currently I`m facing an issue with JSP beans property management. Please follow the source code below:

[code]

Previously, all the JSPs were handled by Oracle Weblogic but now I had to migrate the project to Spring Boot with Embedded Tomcat and Hazelcast Session Management. So the issue occurs if we do smth like this:

[code]

After the redirect is made I`m trying to reach the username or list va

[2020-01-22 16:19] gokhansari commented on #16527
yes you are right, it might be easier directly extend existing `Config` and provide implementation, but if you introduce this kind of interface, maybe it can be used for some other approaches, like yamlConfigurationFactory, configServerConfigurationFactory etc..

Interface:
[code]
Custom Implementation:
[code]
More;
Hazelcast can provide own classes for other configuration methods, yaml/json etc..

[2020-01-22 16:54] mmedenjak commented on #16534
Hi @bakedzebra !

I see the issue is related to sessions. Maybe it's better if you open an issue against these repos -
https://github.com/hazelcast/hazelcast-tomcat-sessionmanager or https://github.com/hazelcast/hazelcast-jetty-sessionmanager?

[2020-01-22 18:08] mmedenjak commented on #5257
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5604

[code]

[2020-01-22 18:23] mmedenjak commented on #16266
Closing as fixed, reopen if this is not true :)

[2020-01-22 18:23] #16266 closed

[2020-01-23 07:56] puzpuzpuz opened #16536 "NPE in ManagementCenterService#getCPMembers"
**Describe the bug**
NPE is thrown in `ManagementCenterService#getCPMembers` under conditions described here:
https://github.com/hazelcast/management-center/issues/2643

Looks like it was broken by this change: https://github.com/hazelcast/hazelcast/commit/da0e9c24d62949d6a799eb644c1db05534cfef82#diff-8a89e39d2dd4b72cf7e706e150947674R798

As far as I understand, the problem is that `#getCPMembers`

[2020-01-23 08:40] mmedenjak commented on #16527
Noted, thanks. We'll consider this as a future enhancement. But for now, you can have such a factory in a wrapper application using hazelcast and prepare the `Config` instance in your code.

[2020-01-23 09:16] #16519 closed

[2020-01-23 09:25] sancar commented on #16484
We are following the problem in https://github.com/hazelcast/hazelcast/issues/16482. I am closing this one, since this description seems not to be the cause.

[2020-01-23 09:25] #16484 closed

[2020-01-23 10:31] mmedenjak commented on #16525
Closing as fixed.

[2020-01-23 10:31] #16525 closed

[2020-01-23 10:46] #16523 closed

[2020-01-23 11:02] cangencer commented on #16217
This exact exception happend on a 3.12.6 build:

http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5628/testReport/junit/com.hazelcast.client/ClientClusterRestartEventTest/testMultiMemberRestart/

[2020-01-23 11:11] Danny-Hazelcast opened #16540 "client OOME ClientListenerServiceImpl split brain test"
http://jenkins.hazelcast.com/view/split/job/split-x2/2/console

sh hz-bench-run-jenkins-split hz/stable

/disk1/jenkins/workspace/split-x2/4.0-SNAPSHOT/2020_01_22-14_11_42/stable/list

./output/HZ/HzClient2HZAA/HzClient2HZAA.hprof
./output/HZ/HzClient1HZAA/HzClient1HZAA.hprof

http://54.147.27.51/~jenkins/workspace/split-x2/4.0-SNAPSHOT/2020_01_22-14_11_42/stable/list/

http://54.147.27.51/~jenkin

[2020-01-23 11:15] ihsandemir commented on #16396
I examined the [logs](http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5601/) for the failure and found out this:

![IMG_20200123_134209](https://user-images.githubusercontent.com/7543261/72979749-114b2380-3dea-11ea-8714-eb6b795fd7ce.jpg)

1. There are 3 members and 2 clients. client+16 registers the listener. client_19 destroys the map.
2. Client 19 destroys the map (after line 509) before t

[2020-01-23 11:18] mmedenjak commented on #16540
Related?
https://github.com/hazelcast/hazelcast/issues/16482 and https://github.com/hazelcast/hazelcast/issues/16484

[2020-01-23 11:27] bakedzebra commented on #16534
@mmedenjak Thanks a lot! I will :)

[2020-01-23 11:27] #16534 closed

[2020-01-23 11:50] gokhansari commented on #16527
Thanks, just want you to aware that there might not be a wrapper application, especially while using hazelcast docker images to start a member node. In this case there is no way to prepare `Config` instance.

[2020-01-23 12:13] Danny-Hazelcast commented on #16540
2nd OOME   diff test

/disk1/jenkins/workspace/split-x3/4.0-SNAPSHOT/2020_01_22-17_22_11/sql/serializable

http://54.147.27.51/~jenkins/workspace/split-x3/4.0-SNAPSHOT/2020_01_22-17_22_11/sql/serializable/output/HZ/HzClient2HZAA/verbosegc.log.png

http://54.147.27.51/~jenkins/workspace/split-x3/4.0-SNAPSHOT/2020_01_22-17_22_11/sql/serializable/output/HZ/HzClient2HZAA/

[2020-01-23 12:29] sancar commented on #16540
@mmedenjak @Danny-Hazelcast I found the root cause. It is not related to #16482 or #16484.

It is related to my recent changes here https://github.com/hazelcast/hazelcast/pull/16502. I am preparing a fix

[2020-01-23 12:50] puzpuzpuz opened #16543 "MapProxyImplTest.whenMapProxyWithEagerMapStoreIsCreated_mapContainerIsNotCreated"
Got this test failing here: http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5633/testReport/junit/com.hazelcast.map.impl.proxy/MapProxyImplTest/whenMapProxyWithEagerMapStoreIsCreated_mapContainerIsNotCreated/

Stacktrace:
[code]

[2020-01-23 12:52] puzpuzpuz opened #16544 "MultiValueBitmapIndexTest.testConsecutiveQueries and MultiValueBitmapIndexTest.testRandomQueries"
Got these failures here: http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5633/

Stacktraces:
MultiValueBitmapIndexTest.testRandomQueries[IndexConfig{name=null, type=BITMAP, attributes=[habits[any]], bitmapIndexOptions=BitmapIndexOptions{uniqueKey=__key, uniqueKeyTransformation=RAW}}]
[code]

MultiValueBitmapIndexTest.testConsecutiveQueries[IndexConfig{name=null, type=BITMAP, attributes=[habi

[2020-01-23 13:05] taburet commented on #16544
With high probability the root cause is the same as in https://github.com/hazelcast/hazelcast/issues/16457

[2020-01-23 13:27] #16536 closed

[2020-01-23 13:46] sancar commented on #16540
@Danny-Hazelcast https://github.com/hazelcast/hazelcast/pull/16545
Can you verify that my fix resolves the OOME issue?

[2020-01-23 15:25] ahmetmircik opened #16548 "ManagementCenterServiceIntegrationTest.testTimedMemberState_usesCache_shortTimeFrame"
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5641/testReport/junit/com.hazelcast.internal.management/ManagementCenterServiceIntegrationTest/testTimedMemberState_usesCache_shortTimeFrame/

[code]

[2020-01-23 16:00] vojtechtoman commented on #16544
@taburet I think you are right, I managed to reproduce the failure using the same trick as in https://github.com/hazelcast/hazelcast/issues/16457

[2020-01-23 16:17] gokhansari opened #16549 "Do not merge If there is no entry for frozen cluster split-brain recovery"
Cluster config:
**version**: 3.12.3
3 member node
**hazelcast.initial.min.cluster.size**: 2

Steps:
- **node1** started
- **node1** selected itself master
- **node1** waiting for cluster size of **2**
- does not keep any entry on it
----
- **node2** started
- **node2** could not discover (network access problem etc) **node1**
- **node2** selected itself master
- **node2** waiting for cluster size

[2020-01-23 17:40] #16540 closed

[2020-01-24 07:25] #16396 closed

[2020-01-24 08:05] #16526 closed

[2020-01-24 08:10] Danny-Hazelcast opened #16551 "client OOME internal.util.executor.StripedExecutor: create use destroy with member kill"
http://jenkins.hazelcast.com/view/shutdown/job/kill-All/36/console

/disk1/jenkins/workspace/kill-All/4.0-SNAPSHOT/2020_01_23-22_26_37/stable/destroy/create-use-destroy

http://54.147.27.51/~jenkins/workspace/kill-All/4.0-SNAPSHOT/2020_01_23-22_26_37/stable/destroy/create-use-destroy/

http://54.147.27.51/~jenkins/workspace/kill-All/4.0-SNAPSHOT/2020_01_23-22_26_37/stable/destroy/create-use-destro

[2020-01-24 08:27] Danny-Hazelcast commented on #16551
run with latest master OS EE

http://jenkins.hazelcast.com/view/kill/job/kill-x2/28/console

[2020-01-24 08:47] Danny-Hazelcast commented on #16551
stable cluster version of same test
http://jenkins.hazelcast.com/view/stable/job/stable-x3/64/console

looks to be passing

[2020-01-24 09:56] Danny-Hazelcast commented on #16551
shutdown re-start cluster members version of the same test

http://jenkins.hazelcast.com/view/shutdown/job/shutdown-x2/26/console

fail HzClient1HZ _create-use-destroy_createUseDestroy_latch hzcmd.latch.CreateUseDestroy threadId=0 java.lang.OutOfMemoryError: GC overhead limit exceeded

http://54.147.27.51/~jenkins/workspace/shutdown-x2/4.0-SNAPSHOT/2020_01_24-09_41_03/create-use-destroy/

better l

[2020-01-24 10:00] #16217 closed

[2020-01-24 10:11] Danny-Hazelcast commented on #16551
Metin Dumandag

The problem seems like the huge number of create/destroy proxy events that comes to the client. It seems the stem from this addition

https://github.com/hazelcast/hazelcast/commit/a4f2b76dbfb45d1f81ed6b2bd33db5f0de570270#diff-9e861ee310f3c44123f003fe8630304eR141

[2020-01-24 10:46] vbekiaris commented on #16549
@gokhansari I don't see this as a defect. Here is my reasoning:

- the log message indicates that cluster management decided to merge towards the discovered 2-member cluster. Cluster management is oblivious to the presence (or absence) of data on the member and this log message is quite important in particular when trying to figure out sequence of cluster actions after network partitions.
- during

[2020-01-24 11:05] Danny-Hazelcast commented on #16551
@ihsandemir

using  hazelcast-use git://github.com/ihsandemir/hazelcast.git candidateFix

failed
http://jenkins.hazelcast.com/view/shutdown/job/shutdown-x2/27/console

and failed
http://jenkins.hazelcast.com/view/kill/job/kill-x2/29/console

[2020-01-24 12:11] #16543 closed

[2020-01-24 13:11] gokhansari opened #16556 "Retry count/duration mechanism for master selection If there is not any existing master"
During initialisation process of nodes, there might be some discovery problems for a while for any reason. Reason depends to your discovery type, or network latency or any problem.

In my scenario, I use eureka discovery. According to netflix eureka client documentation, registration could take some time.

If registration takes time due to discovery problems, even that there is 2 available node in

[2020-01-24 13:18] metanet commented on #15771
closed by https://github.com/hazelcast/hazelcast/pull/16345

[2020-01-24 13:18] #15771 closed

[2020-01-24 13:36] gokhansari commented on #16549
Thank you @vbekiaris for yoru response. So you say, that since there is **no data** on the merging side, effectively **no merging of entries occurs**. In this case, we can say this log line manipulates developer.

Because:
**1.** you says there is no any data but It seems there is **1**
**2.** you says no merging occurs but It says there will be a merge process. Also there are more log which indic

[2020-01-24 14:27] ihsandemir commented on #16551
Our findings:

- The local proxy destroy for a number of services actually do remote calls and this needs to be fixed. But there is a significant number of such proxies. When the proxy is destroyed due to event then no remote invocation should be done.

[2020-01-24 14:34] ihsandemir commented on #16551
related to https://github.com/hazelcast/hazelcast/issues/12470

[2020-01-24 14:44] vbekiaris commented on #16549
The way I see this, the term "merge" is overloaded with 2 meanings:

* "merge" as used in the context of smaller cluster merging towards the discovered larger cluster after a network partition is healed (=all becoming members of a single cluster). This is a function of Hazelcast cluster management, as it attempts to discover other clusters to merge to. The log entry originates from cluster managem

[2020-01-24 16:03] bakedzebra opened #16560 "MapProxyImpl - Spring Boot"
Hi,

Could you please help me to clarify something:
I've noticed that all Sessions that are retrieved from HazelcastSessionRepository are the copies of basic sessions that stored in MapProxyImpl instance. So if I change a proxy session's attribute property:
(This example is not an actual usage, Its just for clarification)
[code]

The basic session's (in MapProxyImpl) attribute 'List' is not update

[2020-01-24 16:15] vbekiaris commented on #16445
@lishijun121910 can you post your members' network config?

[2020-01-24 19:46] sancar commented on #12677
Three tests failed under same class. http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5654/
All seems to have same problem.

http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5654/testReport/junit/com.hazelcast.internal.cluster.impl/MembershipFailureTest/slave_heartbeat_removes_suspicion_fd_deadline_/

[code]

[2020-01-24 20:53] #16482 closed

[2020-01-26 20:21] Holmistr commented on #16514
Hey @gokhansari , thanks for reporting the issue. We'll discuss this internally, whether we really want to implement it this way as @mdogan noted here: https://github.com/hazelcast/hazelcast/issues/16507#issuecomment-576620185

In the meantime, just one question. If we decide to implement this, would you like to implement it yourself and contribute it to Hazelcast codebase? It's probably quite tri

[2020-01-26 20:25] Holmistr commented on #16103
Hi @alenbec , just checking, was your question answered? Would you have something else to continue with? :)

[2020-01-26 21:36] alenbec commented on #16103
Hi @Holmistr, everything answered, thanx for asking!

[2020-01-26 21:36] #16103 closed

[2020-01-27 08:25] Danny-Hazelcast opened #16562 "NullPointerException CompletableFuture.java:1975 InternalCompletableFuture.java:221"
I got this exception during 4.0 testing over the weekend
http://jenkins.hazelcast.com/view/split/job/split-x/26/console

[code]

http://54.147.27.51/~jenkins/workspace/split-x/4.0-SNAPSHOT/2020_01_23-17_51_20/stable/executor/regular/

(base) [jenkins@ip-10-72-134-107 regular]$ pwd
/disk1/jenkins/workspace/split-x/4.0-SNAPSHOT/2020_01_23-17_51_20/stable/executor/regular

[2020-01-27 08:28] Danny-Hazelcast commented on #16562
test is submitting a counter job to all members.  from clients and from members

[code]

counter job only increments an int variable

while the cluster is split and healed

[2020-01-27 08:39] mmedenjak commented on #16560
Hi @bakedzebra ! Which artifact is this? I cannot find `HazelcastSessionRepository` in this repository.

[2020-01-27 08:39] Danny-Hazelcast commented on #16562
https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/spi/impl/InternalCompletableFuture.java#L221

looks like a completeExceptionally(Throwable t) invocation with a null exception… looking on it

[2020-01-27 08:45] vbekiaris commented on #16562
When cluster splits, some futures are completed with a `MemberLeftException` which is an `ExecutionException` however does not have a `cause` -> `null` is passed to `completeExceptionally`.

[2020-01-27 09:06] weaverjoel commented on #16514
Hmmm

[2020-01-27 09:29] #16548 closed

[2020-01-27 09:48] #16562 closed

[2020-01-27 09:54] Holmistr commented on #7917
@dbrimley @iaptekar @seanschen Any news here? It got a bit outdated :trollface:

[2020-01-27 09:59] Holmistr commented on #15373
Hi @YouAnCao , sorry for this taking a bit too much time.

First thing that comes to my mind is that does your `<public-address>` element value correspond to the real IP address of the machine that you're running it on?

[2020-01-27 10:01] Holmistr commented on #15207
Hi @hfu1 , it looks like your question has been answered. Can we close the issue? :)

[2020-01-27 10:07] Holmistr commented on #14217
@ayaz-ashrapov @alparslanavci Looks like this issue was resolved. Can we close it? :)

[2020-01-27 10:10] Holmistr commented on #13288
Hi @tandonraghav , looks like your question has been answered, although you might not be happy with the answer :(
If you have any further questions, please go ahead. Otherwise I guess we can close the issue?

[2020-01-27 10:13] Holmistr commented on #13938
Hey @arun-shankar , thanks for reporting this and sorry for quite outdated comment. This actually looks quite easy to fix. Just a question, would you be interested in implementing it yourself and contributing it to Hazelcast? I would be happy to point you to the specific places and guide with the fix. WDYT?

[2020-01-27 10:18] #16551 closed

[2020-01-27 10:23] tandonraghavs commented on #13288
@Holmistr Yeah close this issue.

[2020-01-27 10:54] dbrimley commented on #7917
It seems dead, I'm going to close it.

[2020-01-27 10:54] #7917 closed

[2020-01-27 11:13] mdogan commented on #15453
Hey @apanasevich, sorry for the late response.

`IAtomicLong` in Hazelcast 3.x series has only single backup and if you lose multiple members then it's possible to lose `IAtomicLong` data. But if you shutdown members gracefully, via `HazelcastInstance.shutdown()` method, you should not lose any data, regardless of you shutdown them simultaneously or one-by-one. Data loss is possible only when memb

[2020-01-27 11:24] mdogan commented on #15232
Hi @apanasevich:
That was a wrongly printed warning as far as I remember and should be fixed in later versions. Can you please test with latest 3.12.x version?

[2020-01-27 12:06] #13288 closed

[2020-01-27 12:07] mdumandag commented on #15023
Hi @vaibhavpatil123, sorry for the late response. Do you have running Hazelcast cluster before executing the Python script ? I suspect the root of the issue is there is no cluster running to connect to.

You can start the Hazelcast cluster as described in this link https://github.com/hazelcast/hazelcast-python-client#1211-running-standalone-jars.  After running the Hazelcast cluster, the code snip

[2020-01-27 12:07] #15023 closed

[2020-01-27 13:18] lazerion opened #16565 "GarbageCollectionMetricSetTest unknownCount test failure"
- Fails on `Hazelcast-3.x-IbmJDK8`
- Fails on [Build #60 (Jan 26, 2020 8:07:03 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-3.x-IbmJDK8/60/testReport/junit/com.hazelcast.internal.metrics.metricsets/GarbageCollectionMetricSetTest/unknownCount/)
- Error
[code]
- Stack Trace
[code]

[code]

kindly check

[2020-01-27 13:19] burakcelebi commented on #16421
Related: https://stackoverflow.com/questions/59832471/noclassdeffounderror-after-uploading-jars-to-hazelcast-cloud-via-client-user-cod/59837513

[2020-01-27 13:27] lazerion opened #16566 "ClientCacheCreationTest recreateCacheOnRestartedCluster_whenMaxConcurrentInvocationLow"
- Fails on `Hazelcast-3.x-IbmJDK8-fips-nightly`
- Fails on [Build #121 (Jan 25, 2020 9:11:16 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-3.x-IbmJDK8-fips-nightly/121/testReport/com.hazelcast.client.cache/ClientCacheCreationTest/recreateCacheOnRestartedCluster_whenMaxConcurrentInvocationLow/)
- Error
[code]
- Stack trace
[code]
kindly check.

[2020-01-27 13:38] vbekiaris commented on #15214
@mufumbo thanks for the detailed info. I can reproduce the issue when using `127.0.0.1` as public  address while using local LAN IP (eg `192.168.1.11`) as cluster members address, but probably you might hit it with another address configuration.

Unless your members are configured with NAT, there is no reason to set an explicit public address. Also, setting the public-address to 127.0.0.1 (as I di

[2020-01-27 13:38] #15214 closed

[2020-01-27 14:34] vbekiaris commented on #16419
Currently replacing dynamic configuration is not supported; once dynamic data structure config is added, it remains for the lifetime of the cluster. This enhancement request is also related to #6832 and #9748.

[2020-01-27 15:19] Holmistr commented on #14560
I have no idea how and why it closed the issue. I didn't do annything. Sorry about that.

[2020-01-27 15:26] mmedenjak commented on #14560
When you merge commits into a forked repo and if any commit mentions 'Fixed: xxx', then that issue gets closed :)

[2020-01-27 17:04] tkountis commented on #16346
Hi @RameshP96, is there any update on your progress here?
I will close the issue for now, since its been inactive for a couple of weeks. If you need further assistance please free to reach out to https://gitter.im/hazelcast/hazelcast or if you feel that you are still facing issues with the API, you can re-open the issue anytime.

[2020-01-27 17:04] #16346 closed

[2020-01-28 12:35] bakedzebra commented on #16560
Hey! I think  it`s in the `org.springframework.session` package

[2020-01-28 12:35] lazerion opened #16567 "Multiple schema/config parse failures"
- Fails on `Hazelcast-3.x-OracleJDK11`, `Hazelcast-3.x-Solaris-OracleJDK8`, ...
- Fails on [Build #126 (Jan 28, 2020 1:53:03 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-3.x-OracleJDK11/126/#showFailuresLink)

- We have multiple schema errors similar to below
[code]
- Affected test classes
[code]

[2020-01-28 12:38] mdogan commented on #16560
It's in `spring-session` project: https://github.com/spring-projects/spring-session/blob/master/spring-session-hazelcast/src/main/java/org/springframework/session/hazelcast/HazelcastSessionRepository.java

[2020-01-28 12:40] bakedzebra commented on #16560
Thanks!

[2020-01-28 12:40] #16560 closed

[2020-01-28 13:49] mmedenjak commented on #10828
Just one for anyone using `MapProxyImpl#iterator` or `ClientMapProxy#iterator` - we improved the consistency guarantees in 4.0 and you can now use it to iterate through the entire IMap while mutating it. See the javadoc or [this PR](https://github.com/hazelcast/hazelcast/pull/15533) for more information.

[2020-01-28 14:25] mmedenjak commented on #14602
Hi @dsukhoroslov ! Thank you for the report. I assume this is because the map loader does not take into account the custom partitioning strategy. I'll add this to the next release as we are just about to release 4.0 which was mostly focusing on cleaning up technical debt and improving the design in several areas.

[2020-01-28 14:32] mmedenjak commented on #14547
Hi @kostya05983 !

Sorry for the long delay. If you're able, please try to see if you can somehow enable logging of the exception which is passed to slf4j while logging that statement (see [here](https://github.com/hazelcast/hazelcast/blob/88b7f1cac276406bf5d960627658cbaf9efd4f17/hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java#L258-L259)).

I understand that lots of ti

[2020-01-28 14:48] mmedenjak commented on #14525
Hi @ceeaspb @antidote2 @parvezalisha !

I would say that these errors are mostly ok as the invocation (operation) will be retried for several times until the cluster is stable again and the operation is able to successfully return the correct results.

This error is caused because the operation has started execution on the node which is about to shut down, which can always happen and shouldn't be

[2020-01-28 16:59] kostya05983 commented on #14547
Hello, @mmedenjak , I close the issue, 'cause I changed the company and now I can't provide the stacktrace.

[2020-01-28 16:59] #14547 closed

[2020-01-29 08:00] mmedenjak commented on #16100
@funnysq any updates on this issue?

[2020-01-29 08:09] mmedenjak commented on #16556
Hi @gokhansari !

In case you're using tcp-ip, there are also other options: `hazelcast.max.join.seconds`  and `hazelcast.max.join.merge.target.seconds` which determine for how long the instance will attempt to join another cluster before starting as master. See the code [here](https://github.com/hazelcast/hazelcast/blob/25b0dd92aeb9d5c35b45a8084dbad455c0dc9f6a/hazelcast/src/main/java/com/hazelcas

[2020-01-29 09:40] #16567 closed

[2020-01-29 11:33] taburet opened #16574 "CPMemberAddRemoveTest.when_snapshotIsTakenWhileRemovingCPMember_newMemberInstallsSnapshot"
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5678/testReport/junit/com.hazelcast.cp.internal/CPMemberAddRemoveTest/when_snapshotIsTakenWhileRemovingCPMember_newMemberInstallsSnapshot/

**Error Message**
[code]

**Stacktrace**
[code]

[2020-01-29 13:05] ncherkas opened #16575 "java.lang.NoClassDefFoundError is thrown when the user uploaded classes come in a wrong order"
`java.lang.NoClassDefFoundError` is thrown when the classes uploaded using the client user code upload come in a wrong order:
[code]

**Expected behavior**
Classes are successfully uploaded independently of order in the config or jar.

**To Reproduce**
Please find the attached reproducer. It uses the Hazelcast Public Cloud.
Steps to reproduce:
 - download reproducer [hazelcast-cloud-java-sample-cl

[2020-01-29 15:32] ceeaspb commented on #14525
Hi @mmedenjak thanks - maybe this log message level could be changed from ERROR to DEBUG as you say this is not an error condition and should not be a problem.

What do you think?

[2020-01-29 16:30] blazember commented on #16527
Hi @gokhansari, thank you for this proposal!

I understand that the programmatic configuration has some advantages compared to the declarative ways and that making it environment-aware is useful. While such a feature can be added to Hazelcast, it needs to be considered how much it would help the users in the scenarios you draw up. It can be argued that the cost of implementing the actual config fa

[2020-01-29 17:21] nrccua-timr opened #16576 "Client is not Active using docker-compose AWS"
I'm seeing the following error messages when attempting to communicate with hazelcast:

[DefaultLogger] INFO at LifecycleService: HazelcastClient is starting
DefaultLogger] WARN at ClusterService: Error: Client is not active.
[DefaultLogger] WARN at ClusterService: Error: Client is not active.
[DefaultLogger] WARN at ClusterService: Error: Client is not active.
 [DefaultLogger] WARN at ClusterServ

[2020-01-30 01:59] SteveCaptainRogers opened #16577 "Near Cache Invalidation not correct when used with TransactionalMap"
**Describe the bug**
When using a transactional map from a cache with a near cache, the cache invalidation event occurs when the transactionalMap.put is called. As a result, the entry gets invalidated BEFORE the change is committed to the map.  Any readers calling get on the entry cause the old entry to be stored in the near cache, even though the correct entry gets stored in the underlying map.

[2020-01-30 08:59] ahmetmircik commented on #16577
Thanks for the report, this is a good finding, we will try to fix it in 3.12.7.
As a workaround, in a transactional context, map reads can be done over `transactionalMap` instead of non-transactional `map`.

[2020-01-30 09:07] SteveCaptainRogers commented on #16577
Thanks for the response.  In out case the map.get call is made from another thread - the result is the same.  So we do not have access to the transactional map.
Instead we will wait for 3.12.7 before adding a near cache to this particular map.

[2020-01-30 10:38] Holmistr commented on #5666
@mahenderd2 Unfortunately, there is currently no good resolution for this. It requires non-trivial effort to actually make it working with hostnames. There are plans to address that in future releases, but we have no specific plan as for now.

[2020-01-30 10:39] #15100 closed

[2020-01-30 12:17] gokhansari commented on #16556
I see your point, but in my scenario, during initialization process of both member nodes, in the possible member list there is not any available instance to join. Reason is discoveryStrategy.**discoverNodes**() implementation of **EurekaOneDiscoveryStrategy** does not return any node at that point, but it will after a while.

In case of lack of available member, It selects itself as master. My int

[2020-01-30 12:45] gokhansari commented on #16527
factory interface was just an idea to allow developers to build their own configuration in the way they like, and I just figured out that there is **already** `ConfigBuilder` in the hazelcast code base.

[code]

as i mentioned at the above, If hazelcast introduce a way to pass my config class (which implements `ConfigBuilder`) on startup like this way `java -Dhazelcast.config.class-name=com.xxx.Ha

[2020-01-30 12:54] gokhansari commented on #16514
Thank you :) but I'm afraid that i can not track it. but here is the simple solution I think

In **QuorumServiceImpl** add size control in the condition of @mdogan
[code]

In **QuorumConfig** remove size check lines in **setSize** method
[code]

[2020-01-30 13:00] Danny-Hazelcast commented on #14826
in the end as things have change from 3.11.X  to 3.12.x to 4.0
the test had to be fixed

[2020-01-30 13:00] #14826 closed

[2020-01-30 13:11] ahmetmircik commented on #16544
Failed in http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5689/testReport/com.hazelcast.map.impl.query/MultiValueBitmapIndexTest/testConsecutiveQueries_IndexConfig_name_null__type_BITMAP__attributes__habits_any____bitmapIndexOptions_BitmapIndexOptions_uniqueKey___key__uniqueKeyTransformation_LONG___/

[code]

[2020-01-30 14:16] ahmetmircik commented on #16417
Failed on master:
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5691/testReport/junit/com.hazelcast.map.impl.query/SingleValueBitmapIndexTest/testConsecutiveQueries_IndexConfig_name_null__type_BITMAP__attributes__age___bitmapIndexOptions_BitmapIndexOptions_uniqueKey_stringId__uniqueKeyTransformation_OBJECT___/

[code]

[2020-01-31 07:51] cangencer opened #16583 "Async variant of IMap.getAll()"
When using Jet's `mapUsingIMap()` operator we'd like to be able to make use of async batching, however `IMap.getAll()` is currently limited to the sync version.

[2020-01-31 09:17] ppsnumi opened #16586 "need reverse machanism for Hazelcast's queue"
I use hazelcast's queue but inconvenience that get data from queue.

receiver:
[code]

developer inconvenience get queue data.
developer does not need infinite loop and some delay logic(ex: Thread.sleep(1))
if queue have data or put data that call developer consuming logic(like reactive or callback).
call from hazelcast(client) to comsumer logic when add queue data.

receiver:
`queue.regItemConsum

[2020-01-31 09:36] sancar commented on #16421
We have investigated and found out that inferring the class loader from user's class is not necessary. The users problem on tomcat caused by user code deployment using wrong `class loader` by default. When it is switched to `current thread context class loader` from `system class loader` , the problem disappeared.
@yozank Can you also confirm that we no longer need to use ` ClazzImpl.class.getClas

[2020-01-31 09:39] apanasevich commented on #15453
Thanks for details!

[2020-01-31 09:39] #15453 closed

[2020-01-31 09:41] apanasevich commented on #15232
Thank you for answering.

Yes, we have already upgraded to 3.12.2. I'll be look after logs and let you know the result.

[2020-01-31 12:39] Danny-Hazelcast opened #16593 "cpSubsystem ICountDownLatch await(1, TimeUnit.SECONDS) hangs in member jvm freezz test"
jvm freezz extream stress test mimics ultra long jvm pause / VM migrations ect
http://jenkins.hazelcast.com/view/cp-system/job/cp-all-freeze/17/console

hz-bench-run-jenkins-freeze hz/cp 5 m5c5

/disk1/jenkins/workspace/cp-all-freeze/4.0/2020_01_31-11_42_57/cp/latch/set-and-countDown

http://54.147.27.51/~jenkins/workspace/cp-all-freeze/4.0/2020_01_31-11_42_57/cp/latch/set-and-countDown

[code]

1

[2020-01-31 13:30] Danny-Hazelcast commented on #16593
from http://jenkins.hazelcast.com/view/cp-system/job/cp-all-freeze/17/console  its only  cp/latch/set-and-countDown test which has failed so fare

I also see that the kill, split, and shutdown version of the cp/latch/set-and-countDown pass.

we can change missing-cp-member-auto-removal-seconds however inevitably the jvm freeze time will be greater

[2020-01-31 14:07] sancar commented on #16575
It seems issue is related to only subclasses ? At least that is what I see from my test.
Can you also confirm that @ncherkas ?Do you have any issue when you put A, B and Command separate files and make them normal class.

[2020-01-31 14:58] Danny-Hazelcast commented on #16593
this is a random fail, I have had 2 passing runs of the freeze cp/latch/set-and-countDown  http://jenkins.hazelcast.com/view/cp-system/job/cp-freeze-x1/

[2020-01-31 17:32] Danny-Hazelcast commented on #16593
http://jenkins.hazelcast.com/view/cp-system/job/cp-all-freeze/18/console

/disk1/jenkins/workspace/cp-all-freeze/4.0/2020_01_31-14_52_23/cp/semaphore/acquire
 http://54.147.27.51/~jenkins/workspace/cp-all-freeze/4.0/2020_01_31-14_52_23/cp/semaphore/acquire

[code]

           semaphore.acquire();

cat ./output/HZ/HzClient1HZ/out.txt

[code]

./output/HZ/HzMember1HZ/out.txt

[code]

[2020-01-31 19:21] Danny-Hazelcast commented on #16593
also i get clean passing runs http://jenkins.hazelcast.com/view/cp-system/job/cp-all-freeze/19/console

[2020-02-01 01:58] CAFxX opened #16596 "DefaultNodeExtension does not implement ServiceLoader provider constructor"
**Describe the bug**
While trying to compile hazelcast with graalvm native image, we get the [following error](https://github.com/oracle/graal/issues/1508#issuecomment-559941197):

[code]

The graalvm devs have [narrowed it down to an issue with `DefaultNodeExtension`](https://github.com/oracle/graal/issues/1508#issuecomment-562259645):

**Expected behavior**

I expect compilation to succeed witho

[2020-02-02 12:54] Holmistr commented on #16514
Hi @gokhansari , no worries :) We'll find out whether we actually want to do that and then perhaps use your suggestions. If you wanted to contribute any time in the future, just ping me, happy to help.

[2020-02-03 09:40] AyberkSorgun commented on #2289
Peter: "We have retested with large number of clients.. Doesn't seem to be an issue any longer"

[2020-02-03 09:40] #2289 closed

[2020-02-03 09:42] AyberkSorgun commented on #7358
Peter Veentjer:"This has already been done"

[2020-02-03 09:42] #7358 closed

[2020-02-03 13:59] sancar commented on #12185
@lazerion The feature request here is to guarantee exactly once delivery. In the current design, we can not add anything to this to improve this area. We are implementing CP data structures to improve the situation. I think we should close this issue saying that work as expected. Is it OK ?

[2020-02-03 23:12] #16576 closed

[2020-02-04 07:57] Danny-Hazelcast opened #16601 "NullPointerException SparseBitSet.java:97 add JVM freeze"
http://jenkins.hazelcast.com/view/freeze/job/freeze-all/12/console

fail HzMember2HZ put-mapBak1Obj hzcmd.map.PutRandomStylePerson threadId=0 java.lang.NullPointerException

http://54.147.27.51/~jenkins/workspace/freeze-all/4.0/2020_02_03-18_20_04/stable/sql/bit-map

/disk1/jenkins/workspace/freeze-all/4.0/2020_02_03-18_20_04/stable/sql/bit-map

[code]

[2020-02-04 07:59] mmedenjak commented on #16596
Thank you for the report @CAFxX !

Seems simple to fix and we'll take a look. Maybe you'd like to provide the PR yourself? We definitely appreciate it :)

[2020-02-04 08:20] mmedenjak commented on #15232
Thank you for upgrading! I'll close this issue as fixed by https://github.com/hazelcast/hazelcast/pull/14351. Please reopen this issue or open a new one if the issue reoccurs.

[2020-02-04 08:20] #15232 closed

[2020-02-04 08:41] #16421 closed

[2020-02-04 09:08] dineshr360 opened #16604 "java.lang.OutOfMemoryError"
OS: ?
JDK: ?
Hazelcast version: ?

[code]

[2020-02-04 09:14] tkountis commented on #16604
Hi @dineshr360 the exception is not enough to track and fix any potential leaks in the code base.
Would you be able to provide more details like, OS, JDK & Hazelcast version, along with a heap dump of the time of the exception? If you don't want to share here publicly we can create a private channel for you to share with us.

[2020-02-04 09:56] jerrinot commented on #16596
hi @CAFxX, first of all: Thank you for trying Hazelcast with GraalVM Native Image!
@pivovarit is working on [Hazecast - Quarkus integration](https://github.com/quarkusio/quarkus/pull/6758) so perhaps you want to get in touch with him. As I reckon a lot of issues he is dealing with are related to NativeImage.

Hazelcast does not use the ServiceLoader mechanism to load extensions.
GraalVM NativeImag

[2020-02-04 09:58] Danny-Hazelcast commented on #16601
http://jenkins.hazelcast.com/view/freeze/job/freeze-x/

hz-bench-run-jenkins-freeze hz/stable/sql/bit-map

looks like this issue is rare / tricky to reproduce

[2020-02-04 10:04] taburet commented on #16601
Yes, looks like that's some kind of a corner case in partition management, the log on one of the members is flooded with "Partitions can't be assigned since startup is not completed yet.", then "Assigning new owners for 271 LOST partitions!" is reported...

[2020-02-04 10:16] taburet commented on #16417
Fixed in https://github.com/hazelcast/hazelcast/pull/16600, closing.

[2020-02-04 10:16] #16417 closed

[2020-02-04 10:30] Danny-Hazelcast commented on #16601
1 more occurance,  maybe 1 in 5 ish

http://jenkins.hazelcast.com/view/freeze/job/freeze-x/
http://jenkins.hazelcast.com/view/freeze/job/freeze-x/10/console

same stack trace
[code]

[2020-02-04 10:49] mmedenjak commented on #8767
Agree with @LoneRifle , there are very few remains of usage of static loggers in the entire config package and overall, these are low priority. There is almost no validation that uses static loggers and most of the configuration validation is done at startup time (or distributed object creation time) where it throws a `InvalidConfigurationException`.

If anyone is interested, you can check out if

[2020-02-04 10:50] mmedenjak commented on #40
As the `ILock` implementation has been replaced with a raft implementation in 4.0, the difficulty for this enhancement has increased. Still, it is possible.

[2020-02-04 10:52] mmedenjak commented on #569
`putAllAsync` is now available as private API and we might promote it to public API in a future release - https://github.com/hazelcast/hazelcast/issues/16449. Promoting this into a public API method is a simple PR so feel free to send it.

[2020-02-04 10:55] mmedenjak commented on #737
With the introduction of the raft implementation for ILock, the difficulty for this enhancement has increased. Still, it is something we might consider.

[2020-02-04 10:55] metanet commented on #40
CP Subsystem already allows you to destroy locks, or actually any CP data structure. The only limitation is, once you destroy a CP data structure, you cannot reuse it before also destroying and restarting the underlying CP group.

https://docs.hazelcast.org/docs/3.12.6/manual/html-single/index.html#cp-subsystem

[2020-02-04 10:57] mmedenjak commented on #1055
With the introduction of the raft implementation of `ILock`, the difficulty for this issue has increased. Still, it is an interesting enhancement and we'll keep it open.

[2020-02-04 11:03] Danny-Hazelcast commented on #16601
run with -ea  but it passed http://jenkins.hazelcast.com/view/freeze/job/freeze-x/12/console
2:02
where are some log's
[code]

[2020-02-04 11:05] mmedenjak commented on #16586
Hi @ppsnumi !

If I understood correctly, you would like to add a listener which will be triggered and which will consume an item from the queue. If there are multiple listeners, only one should consume the queue item. If that is true, this is actually a duplicate of these issues:
https://github.com/hazelcast/hazelcast/issues/5462
https://github.com/hazelcast/hazelcast/issues/2783
https://github.c

[2020-02-04 11:05] #16586 closed

[2020-02-04 11:07] metanet commented on #1055
We already have this information available in CP session service. I think this API could be implemented easily and it would be a nice addition.

[2020-02-04 11:08] mmedenjak commented on #4086
With the introduction of the raft implementation of `IAtomicReference`, the difficulty for this issue has increased. We'll keep this as an interesting enhancement request, though.

[2020-02-04 11:09] mmedenjak commented on #4427
Since we switched to JDK8 with Hazelcast 4.0, this enhancement is now possible. Feel free to send a PR and we'll take a look.

[2020-02-04 11:12] mmedenjak commented on #8701
With the introduction of the raft implementation for the lock in Hazelcast, the difficulty for this issue has increased. Still, we'll keep it around as an interesting enhancement request.

[2020-02-04 11:17] Danny-Hazelcast commented on #16601
run with -ea Failed

http://jenkins.hazelcast.com/view/freeze/job/freeze-x/14/console

fail HzClient3HZ put-mapBak1Bin hzcmd.map.PutRandomStylePerson threadId=0 java.lang.AssertionError: null

/disk1/jenkins/workspace/freeze-x/4.0/2020_02_04-11_06_16/bit-map

http://54.147.27.51/~jenkins/workspace/freeze-x/4.0/2020_02_04-11_06_16/bit-map

./output/HZ/HzClient3HZ/exception.txt

[code]

[2020-02-04 11:21] mmedenjak commented on #569
Closing as a duplicate of https://github.com/hazelcast/hazelcast/issues/5337. Still, feel free to send the PR.

[2020-02-04 11:21] #569 closed

[2020-02-04 11:21] mmedenjak commented on #5337
`putAllAsync` is now available as private API and we might promote it to public API in a future release - https://github.com/hazelcast/hazelcast/issues/16449. Promoting this into a public API method is a simple PR so feel free to send it.

[2020-02-04 11:49] mmedenjak commented on #1055
Great, thanks for the info, adding the `good first issue` label again.

[2020-02-04 12:43] TomaszGaweda opened #16605 "Ability to add custom MetricsPublishers"
Context, from issue from Jet:
Since Service API was hidden, user cannot add their own metrics publishers in any way. This becomes blocker issue for upgrade for some applications, as they depend on gathering metrics into custom systems (eg. graphana or other).

While it's understandable that custom metrics publishers won't have optimizations like Management Center Publisher, they still will be very

[2020-02-04 13:29] mmedenjak commented on #16556
Ah, right, understood. The only thing that comes to mind then is the [`hazelcast.initial.min.cluster.size` property](https://github.com/hazelcast/hazelcast/blob/b0a8a6656b3d58b7ef17b2afb62c353dc34b127b/hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java#L520-L521) then:

[2020-02-04 13:59] mmedenjak commented on #14525
You're right @ceeaspb , we'll consider changing this in the next release.

[2020-02-04 14:13] mmedenjak commented on #16605
Thank you for the report @TomaszGaweda !

@blazember do you know how difficult would it be to add support for custom metrics publishers?

[2020-02-04 14:59] mmedenjak commented on #5652
Hi @wenerme !

A long time has passed since this issue has opened and a lot has changed. We've re-implemented ILock on top of the raft concensus protocol which provides better guarantees. With the new implementation, you can achieve what you want by setting the `CPSession` TTL to infinite but that will bring other issues as the lock cannot be unlocked anymore.

So, for now we'll keep this enhancem

[2020-02-04 15:03] mmedenjak commented on #2287
Hi everyone!

In Hazelcast 4.0, we have replaced the entire implementation of ILock with the unsafe mode of CP subsystem (https://docs.hazelcast.org/docs/latest-dev/manual/html-single/#removal-of-deprecated-concurrency-api-implementations). If you don't require strong consistency guarantees, that mode might fit your use case and solve the issue. If you do require strong consistency guarantees, you

[2020-02-04 15:03] #2287 closed

[2020-02-04 15:05] mmedenjak commented on #15328
Closing as this issue is related to the discontinued lock implementation. Please try out Hazelcast 4.0 and the new lock implementation as it may solve your issue. In case it doesn't, please reopen this or open a new issue. Happy Hazelcasting!

[2020-02-04 15:05] #15328 closed

[2020-02-04 15:26] Holmistr commented on #16449
After discussion, @santhoshkumarbs would like to take this issue. Could you please comment here, so I would be able to assign it to you?

[2020-02-04 15:29] santhoshkumarbs commented on #16449
Yes please. Thanks.

[2020-02-04 15:30] Holmistr commented on #16449
Fantastic, it work @santhoshkumarbs :) We can't wait for your first initial pull request. Don't hesitate to open in completely simple, we will work together, so it would make it to final state :) Good luck!

[2020-02-04 15:32] santhoshkumarbs commented on #16449
Thank you Jiri. I will do that.

Regards,
Santhosh

On Tue, Feb 4, 2020 at 11:30 PM Jiří Holuša <notifications@github.com>
wrote:

[2020-02-04 15:40] vbekiaris commented on #14419
@newkek as you already indicated in your comment, the new `IMap` ("propmap2") and `QueryCache` configurations are picked up on the member side. The reason is that dynamic data structure config is always about adding config to the member side: `HazelcastInstance.getConfig()` returns a member-side `Config` object, not a `ClientConfig`. The query cache is created on the member-side. We do not current

[2020-02-04 16:07] webashutosh commented on #14913
@mmedenjak can I take this one up? Happy to take up #11958 along with it (or before it if that helps) ... Thanks!

[2020-02-05 08:45] Danny-Hazelcast opened #16609 "AssertionError: nodeId out of range: -1 invokeWithArguments(MethodHandle.java:627)"
http://jenkins.hazelcast.com/view/freeze/job/freeze-all/13/console

Hazelcast Enterprise 4.1-SNAPSHOT (20200205 - 37bffaf, 1e23c41)

[code]

[code]

[2020-02-05 11:09] vbekiaris commented on #16445
@lishijun121910 if the issue is still relevant, can you please post your network config?

[2020-02-05 11:21] Holmistr commented on #14913
Hi @webashutosh , absolutely you can take it :) I'll assign it to you. @mmedenjak will later provide you some initial pointers to help you get started.

[2020-02-05 13:22] mmedenjak commented on #14913
Hi @webashutosh ! Glad you're going to take this one. Let me give you some pointers. I think the two issues are related, the other one just being a subset of the methods whilst this one requests that all JDK8 collection methods are implemented.

Generally speaking, I think there are several options that you can take when going through each individual method:
• ideally, the method should work prope

[2020-02-05 13:39] tkountis commented on #11844
@oobles although very late to your question, the answer is no, we have no API's for you to control the threading for any of the Executor services we expose through HZ. It has been requested before on other mediums to add support for user-specified thread-pools and/or thread-factories.

Will look into this for the next release, at first it seems trivial, but not sure yet. You are also very welcome

[2020-02-05 15:27] webashutosh commented on #14913
Thanks @Holmistr @mmedenjak, especially for the detailed guidelines! :) I will go through the code and send PRs sometime soon (I'm thinking multiple PRs, few methods at a time)...

[2020-02-05 18:23] fernandor777 commented on #11321
Hi @Holmistr , can I take this one for starting?

[2020-02-05 20:34] Holmistr commented on #11321
Absolutely @fernandor777 , thanks a lot! I'm pinging @mmedenjak to provide you some initial starting points, tips etc.
Looking forward to your contribution! :) :tada:

[2020-02-06 07:05] mmedenjak commented on #11321
Hi @fernandor777 ! Thank you for picking it up. Maybe consider making the bulk version async as well since we often get requests to make methods bulk and to make methods async.

Users can then easily make the sync version by just waiting on the future.

[2020-02-06 07:35] mmedenjak commented on #11844
Related to the thread name change: https://github.com/hazelcast/hazelcast/issues/6600

[2020-02-06 08:26] mmedenjak commented on #11321
One concrete example - you can look at the `MapProxyImpl#putAllAsync` and the `ClientMapProxy#putAllAsync` methods. They are not exposed as public API (probably will be soon) but they are both bulk and async - exactly what I was thinking about for `tryLockAllAsync`.

[2020-02-06 09:22] inelpandzic commented on #3840
Hello, I will be glad to take this issue.

[2020-02-06 09:29] Holmistr commented on #3840
@inelpandzic Fantastic! I'm assigning this issue to you. Shortly, I will get someone to give you some initial guidenance, tips etc. Looking forward to your contribution!

[2020-02-06 09:58] tkountis commented on #3840
Hi @inelpandzic thanks for looking into this.
I guess you could start by looking into how `IMap.getAll` does this and mimic this in Multimap.
This wont be the standard vanilla operation, it will rather rely on a small optimization that utilizes an OperationFactory which is send to the partition owners of the specified keys. Having said that, it should be pretty straight forward by following the IM

[2020-02-06 11:00] inelpandzic commented on #3840
Thanks a lot, @tkountis, that was exactly what I was going to do, see the `IMap.getAll` impl and follow along.

[2020-02-06 16:02] jnehlmeier opened #16620 "Support ICondition using CP-Subsystem in Hazelcast 4"
**Please describe the problem you are trying to solve**

Currently we use ICondition to execute certain web requests in a defined order in a cluster of application servers. So we put out-of-order request threads to sleep and whenever a request completes, we wake up all waiting threads in the whole cluster so they can check who is next.

**Please describe the desired behavior**

Hazelcast 4 should

[2020-02-07 02:06] fernandor777 commented on #11321
Hi @mmedenjak , thanks for the pointers.  Making the bulk version async makes sense, I'll look into those methods to follow the concepts.

[2020-02-07 06:50] cangencer commented on #5337
how would `setAll` be different than `putAll`? putAll already returns `void`. Am I missing something?

[2020-02-07 07:33] mmedenjak commented on #5337
Interesting, I was expecting `putAll` to return a map with the old values. Seems `setAll` and `putAll` are the same.

[2020-02-07 08:03] mmedenjak commented on #16620
Thank you for the report @jnehlmeier . For now, there are no plans in implementing it but we'll see what's the community interest.

[2020-02-07 11:54] mmedenjak commented on #15927
Hi @Diarsid !

Thank you for a detailed report. I too have a hunch that the issue has something to do with cluster split and split-brain healing.

One thing that comes to mind is that the lock information is kept on as many backups as there are map backups. By default, it's one synchronous backup count and one asynchronous backup count.
I see your cluster has three members  - let's call them A, B

[2020-02-07 12:11] mmedenjak commented on #15513
Sorry for the long wait. I don't think there were any changes relevant to your use case. If you want to go through all of the changes involving something doing with locking, here's the best list I could come up with: https://github.com/hazelcast/hazelcast/pulls?utf8=%E2%9C%93&q=lock+is%3Apr+is%3Aclosed+label%3A%22Team%3A+Core%22+merged%3A2018-01-03..2019-06-11+-milestone%3A4.0

I assume the issue

[2020-02-07 12:11] #15513 closed

[2020-02-07 12:12] mmedenjak commented on #16101
Since @vojtechtoman implemented support for this, assigning this to 4.1 milestone.

[2020-02-07 12:16] mmedenjak commented on #13938
As @SaitTalhaNisanci mentioned, the issue is that you are missing the key in the URL. The only enhancement I can see here then is removing the trailing slash in case both map name and key are specified.

[2020-02-07 13:27] mdogan opened #16623 "ClientReliableTopicOnClusterRestartTest.shouldContinue_OnClusterRestart_whenDataLoss_LossTolerant_afterInvocationTimeout"
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5754/testReport/junit/com.hazelcast.client.topic/ClientReliableTopicOnClusterRestartTest/shouldContinue_OnClusterRestart_whenDataLoss_LossTolerant_afterInvocationTimeout/

[code]

[2020-02-07 13:28] #14935 closed

[2020-02-07 19:40] sancar commented on #16544
Failed here again

http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5768/testReport/junit/com.hazelcast.map.impl.query/MultiValueBitmapIndexTest/testRandomQueries_IndexConfig_name_null__type_BITMAP__attributes__habits_any____bitmapIndexOptions_BitmapIndexOptions_uniqueKey_stringId__uniqueKeyTransformation_OBJECT___/

[code]

[2020-02-08 11:04] lazerion opened #16624 "Multiple `AnswerTest` failures"
- Fails on `Hazelcast-3.x-IbmJDK8-fips-nightly`, `Hazelcast-4.master-nightly`
- Fails on [Build #126 (Feb 7, 2020 9:12:44 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-3.x-IbmJDK8-fips-nightly/126/#showFailuresLink)
- Sample Error
[code]
- Stack trace
[code]
- List of failing cases
[code]

- Since we do not deploy `hazelcast-client-4.0.jar` anymore it looks these tests nee

[2020-02-08 17:16] aberkecz commented on #3823
Hi Everyone,

I would be happy to take this task if possible.

[2020-02-08 19:33] Holmistr commented on #3823
@aberkecz And it's yours! Thank you very much for you effort. I will get in touch with the experts in this matter to provide you some tips and starting points. Looking forward to your contribution!

[2020-02-09 10:59] webashutosh commented on #11958
Handling this one as part of #14913

[2020-02-09 12:18] Holmistr commented on #11958
Hi @webashutosh , ok, it makes perfect sense to get them together. Therefore, I'm assigning you this issue :) I will ask somebody to provide you more details on possible solutions if you want.

[2020-02-09 18:18] jnehlmeier commented on #16620
@mmedenjak Can't you bring back the old ILock / ICondition (maybe renamed) with AP semantics so that people can at least benefit from all the other improvements of HZ 4?

[2020-02-10 03:50] shivigarg opened #16625 "Diagnostics logs rollover does not work on files with different names"
**If we use hazelcast diagnostics logs in our solution with below properties:

Diagnostics.MAX_ROLLED_FILE_SIZE_MB with value 5
Diagnostics.MAX_ROLLED_FILE_COUNT with value 5

After this, the diagnostics log file role over works fine for a particular filename.

example: if my host IP is 10.39.40.175, the port is 5701, and hazelcast started on timestamp 1577772553220, then diagnostics-10.39.40.175_

[2020-02-10 04:42] wikwon69 opened #16626 "How to implement file-based hazelcast QueueStore?"
Hi,

I'm trying to implement hazelcast QueueStore.
Is it possible storing data in file not in DB?

If so, could you give me some info like coding sample?

Thanks in advance.

[2020-02-10 07:52] mmedenjak commented on #16626
Hi @wikwon69 !

Yes, it's possible to implement a queue store that stores items to a file. There is no ready example yet that works with files and most examples either print out the item on console or store it to an in-memory list, for example [this one](https://github.com/hazelcast/hazelcast-code-samples/tree/master/distributed-collections/queuestore).

Generally, you can do anything you want in

[2020-02-10 07:52] #16626 closed

[2020-02-10 07:57] mmedenjak commented on #16625
Hi @shivigarg ! I don't think Hazelcast should clean the diagnostics files because those diagnostics files might belong to some other instance and the user might want to keep the logs to determine what was happening on that instance before it was shut down. In any case, you can always remove those log files yourself.

Putting this issue in backlog so we see if there is any more interest in this en

[2020-02-10 07:59] mmedenjak commented on #16620
We can consider it but IMHO we won't be bringing the old ILock back (some parts of it are still exposed through `IMap.*lock*` methods). Users simply didn't read the documentation and we received criticism due to lack of safety guarantees.

But I'll keep this issue open to see if anyone else is interested in it.

[2020-02-10 08:39] lishijun121910 commented on #16445
master(10.11.117.32) config:
`
	<network>
		<port auto-increment="true">5701</port>
		<outbound-ports>
			<ports>5702-5704</ports>
		</outbound-ports>
		<join>
			<multicast enabled="false">
			</multicast>
			<tcp-ip enabled="true">
				<member-list>
					<member>10.11.117.32</member>
					<member>10.11.117.38</member>
					<member>10.11.117.39</member>
				</member-list>
			</tcp-ip>
		</join>

[2020-02-10 11:07] mmedenjak commented on #4233
For anyone trying to implement these methods: looks like `IQueue.addAll` already exists and there's already [a PR for `TransactionalQueue.addAll`](https://github.com/hazelcast/hazelcast/pull/16129). So the only remaining method that needs to be implemented is  `ITopic.publishAll`.
I would prefer if we made it asynchronous as well - so implement `ITopic.publishAllAsync`.

For reference, you can tak

[2020-02-10 11:25] ryanlindeborg commented on #13938
I'd love to take this issue.

[2020-02-10 11:26] ryanlindeborg commented on #13938
I'd love to take this issue.

[2020-02-10 11:50] aberkecz commented on #3823
Thanks! As we discussed on Gitter, I've already started working on it and have some progress done. I'll do my best to finish it by the end of the week.

[2020-02-10 11:55] Holmistr commented on #13938
@ryanlindeborg Glad to hear that! And it's yours! :) As we discussed, I have already provided you several pointers to start with. Feel free to ask more questions if needed, preferably through Gitter. Looking forward to your contribution!

[2020-02-10 12:27] andrewoelfing commented on #4233
Hello,
I would like to take this issue (the part with ITopic.publishAll) and give it a try.

[2020-02-10 12:35] Holmistr commented on #11958
@webashutosh I see that this comment https://github.com/hazelcast/hazelcast/issues/14913#issuecomment-582404644 probably covers enough details that you would need. Leaving it to you then :) Feel free to ask any questions (preferably on Gitter). Good luck!

[2020-02-10 13:09] Holmistr commented on #4233
Hi @andrewoelfing , glad to see you here! And it's yours! :tada: The pointers are already commented above, so I think you're good to go. Feel free to ask any questions if needed!

[2020-02-10 13:49] taburet commented on #16544
The fix is now ported to 4.0.z as well. Closing.

[2020-02-10 13:49] #16544 closed

[2020-02-10 16:43] cangencer opened #16634 "com.hazelcast.map.impl.query.SingleValueBitmapIndexTest.testConsecutiveQueries"
Failed on 4.0.z branch:

http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5780/testReport/junit/com.hazelcast.map.impl.query/SingleValueBitmapIndexTest/testConsecutiveQueries_IndexConfig_name_null__type_BITMAP__attributes__age___bitmapIndexOptions_BitmapIndexOptions_uniqueKey_stringId__uniqueKeyTransformation_OBJECT___/

[code]
[code]

[2020-02-10 17:34] mahsumdemir commented on #9080
I would like to work on this issue if that's okay.

[2020-02-10 18:13] taburet commented on #16634
The test should be fixed by https://github.com/hazelcast/hazelcast/commit/21f89d83d5e0c53b1827173ad1d1676a8325ce7d, please rebase.

[2020-02-10 18:13] #16634 closed

[2020-02-10 18:29] cangencer commented on #16634
Normally it should automatically build against the latest in the branch, even if the branch wasn't created at the latest for that branch. I'll try rebasing, though.

[2020-02-10 19:09] Holmistr commented on #9080
Hi @mahsumdemir , glad to see you here! And the issue is yours! :tada:  I believe that the linked issues and PRs provide you already a lot of information, so I don't want to take the fun out of you. However, feel free to ask more questions on Gitter, if you want more details :) There are no bad questions, I'm here for you!

[2020-02-10 19:22] taburet commented on #16634
As far as I understand, the PR builder builds it exactly at the PR branch head. But honestly I'm not that certain about the fix. Basically the test verifies that the queries are served using the bitmap index. If there are some partition migrations detected during the query execution, a fallback to the no-index full scan execution is performed. Therefore the fix tries to make sure the cluster is st

[2020-02-11 04:57] abdulazizali77 commented on #9079
Hi @mmedenjak @dmitrymz can i pick this up?

Just to confirm, i see that in addition to `getAll`, `putAll`, `IMap` has other bulk like interfaces `loadAll`, `removeAll`, `evictAll`; am guessing that `load` and `evict` might not be applicable to `MultiMap` and `TransactionalMultiMap`, but `remove` might be?
Additionally i see that `MultiMap` has a `delete` interface, should there be a `deleteAll` i

[2020-02-11 07:00] mdogan commented on #15877
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5784/testReport/junit/com.hazelcast.map.impl.mapstore.writebehind/WriteBehindEntryStoreQueueReplicationTest/queued_entries_with_expiration_times_are_not_lost_when_cluster_scaled_down/

[code]

[code]

[2020-02-11 08:06] vojtechtoman commented on #16530
The test ran exceptionally slow (it took over 2 minutes instead of the regular 15 seconds). Just forming the cluster of 2 nodes took almost half a minute.

The test schedules a long-running task, sleeps for 4 seconds and then cancels the task (without interrupting it, thus expecting it to finish). What happened, I think, is that the 4 second timeout was not enough for the task to start and as a re

[2020-02-11 08:28] mmedenjak commented on #9079
Hi @abdulazizali77 !

Let's not rush it and let's first add `getAll` and `putAll`. In addition to that, can you make those methods async? That will allow users to wait for those methods to complete asynchronously instead of blocking the user thread until the invocations return. So, instead of `getAll` and `putAll`, you can add `getAllAsync` and `putAllAsync`. An example of a bulk and async method

[2020-02-11 09:28] abdulazizali77 commented on #9079
Thanks @mmedenjak ! ill get cracking on the `MultiMap` `getAllAsync` and `putAllAsync` first.

Probably getting ahead of myself again, but Im assuming that for this work, ill probably only make changes to the `MultiMap.yaml` and `TransactionalMultiMap.yaml` definitions after both `MultiMap` and `TransactionalMultiMap` changes get in? wdyt?

[2020-02-11 09:41] mmedenjak commented on #9079
Yes, I think you'll have to add the definitions in the yaml files, re-generate the codecs as explained in the README document in your hazelcast repo branch and then use those new codecs in your hazelcast repo PR to add the client support.
For instance, you'll get a new codec generated like `MapFetchKeysCodec` and then you'll write a new task like `MapFetchKeysMessageTask` and then [add that task i

[2020-02-11 09:50] abdulazizali77 commented on #9079
Thanks @mmedenjak Ill get back to you should i encounter uncertainties!

[2020-02-11 10:07] #16566 closed

[2020-02-11 10:21] #16565 closed

[2020-02-11 11:46] #16577 closed

[2020-02-11 12:20] #13619 closed

[2020-02-11 13:37] cangencer opened #16640 "Implement own default logger"
Hazelcast currently ships with java.util.logging as the default. Besides badly formatted default
output, it also makes `synchronized` calls for each log message which incurs some performance cost and might lead to unexpected behaviour (i.e. hiding data races, etc)

[2020-02-11 13:50] lazerion opened #16641 "`ClientUserCodeDeploymentConfigTest` testUserCodeDeploymentUsesCurrentThreadContextClassLoader"
- Fails on `Hazelcast-3.x-ZuluJDK12`
- Fails on [Build #51 (Feb 11, 2020 8:15:02 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-3.x-ZuluJDK12/51/testReport/junit/com.hazelcast.client.usercodedeployment/ClientUserCodeDeploymentConfigTest/testUserCodeDeploymentUsesCurrentThreadContextClassLoader/)
- Error
[code]
- Stack trace
[code]
- Possible commit  (commit: 676852d)

kindl

[2020-02-11 13:55] lazerion commented on #15969
- Fails on `Hazelcast-4.master-sonar`
- Fails on [Build #392 (Feb 10, 2020 9:36:04 PM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-sonar/392/#showFailuresLink)

- please let me know if we need a new issue
- Kindly check

[2020-02-11 14:10] #16575 closed

[2020-02-11 15:04] vbekiaris commented on #15969
Even though `com.hazelcast.client.cache.jsr.CacheManagerManagementTest` is executed with serial junit runner, I can see traces of `CacheExpirationTest` in the log files. This is the cause of failures, somehow test isolation was broken.

[2020-02-12 08:58] #16624 closed

[2020-02-12 10:18] #16601 closed

[2020-02-12 15:42] vbekiaris commented on #15969
After all, it seems `CacheExpirationTest` properly finished execution and was not executing at the same time as `CacheManagerManagementTest`. The `CacheExpirationTest` method name which is logged in several other tests in the same build is due to a leak of the loggers' thread local context to `ForkJoinPool#commonPool` threads. Those threads were apparently created during execution of `testSimpleEx

[2020-02-12 18:18] APIANT opened #16651 "Hazelcast exception putting bool value into map"
We started using Hazelcast a couple of months ago. We recently began testing it in our production environments and are now seeing this exception about once a week:

[code]

This is from Hazelcast 4.0 GA released 2/4/20. This also happened to us running 3.12.x versions. We were hoping the exception would go away each time we upgraded to newer versions.

Our setup is very simple. Hazelcast is runnin

[2020-02-12 18:37] cangencer commented on #16605
When a job completes, the metrics are only collected but not published to JMX, they're only available through `getJobMetrics()`. So having a custom publisher would be equivalent to polling JMX every 5 seconds.

[2020-02-13 07:43] mdogan commented on #16651
@APIANT: Did I understand correct? You are using a single member Hazelcast instance and at some point `map.put(0, bool)` starts to throw `NoDataMemberInClusterException`.

Do you use any _lite_ members? (https://docs.hazelcast.org/docs/4.0/manual/html-single/index.html#enabling-lite-members)

Can you please try to reproduce this issue with a lower logging level enabled?

[2020-02-13 07:51] #5257 closed

[2020-02-13 10:58] sancar opened #16653 "A strict method on client invocation on address"
After 4.0, we changed invocation system so that if intended connection is not around, the invocation is send to other members so that they can be redirected to correct one from there, without waiting connection to be established.

Related pr's that made the change
https://github.com/hazelcast/hazelcast/pull/16255
https://github.com/hazelcast/hazelcast/pull/16603

There are use cases still wants th

[2020-02-13 11:34] puzpuzpuz commented on #16653
There are certain MC specific operations where we're interested in a particular member that would execute the operation. It would be nice to be able use that "old" approach over there as well. Of course, the exception thrown on fail fast way should be obvious enough, so the user could understand it and repeat the operation.

cc @emre-aydin

[2020-02-13 12:37] TomaszGaweda commented on #16605
Sure, after exposing job Metrics at the end of the job, it's just a matter of user-friendly API for it. JMX is not the most user-friendly interface, when you want to query it and you have to check two places. Ability to add more metric publishers that can be run in additional scheduler would make 3rd-party metric monitoring much easier :)

[2020-02-13 12:50] kwart commented on #16651
Thanks for the report @APIANT.

Could you describe more precisely the usage and your environment (OS, exact java version, CPUs, memory).
* How your IMap calls look like?
* How many calls per time unit do you have?
* How many days it took to fail?
* Do the executors run in the same Hazelcast member?
* Is your application running standalone or as a web-app for instance?
* Do you customize data struc

[2020-02-13 13:01] blazember commented on #16605
@TomaszGaweda The current plans are that Management Center will offer a convenient way for accessing clustered metrics and integration with 3rdparty tools - such as Prometheus. With that feature of MC, custom visualization tools can be used. No target release for this feature yet, but it is being actively discussed internally.

Need to add that offering a public metric consumer API on the IMDG mem

[2020-02-13 13:39] TomaszGaweda commented on #16605
@blazember isn't it the same, though? MC is pulling the data to expose them, so can custom metrics. Not every customer that uses Hazelcast uses also commercial MC (eg you can Hazelcast HD without MC). Custom EntryProcessors or computation tasks can destabilize the cluster (I had once such situation), yet for convinence the API is exposed. That's my POV for consideration.

[2020-02-13 13:56] APIANT commented on #16651
Hi @mdogan,

Yes, our setup is just a single server.  No clustering at all is involved.  The exception has occurred at least 3 times on 3 different servers on 3 of the latest hazelcast releases over the course of the last month or two.  Each server runs in a separate Amazon AWS account, these are totally isolated incidents happening on single isolated servers.  We are new to hazelcast, started tes

[2020-02-13 15:26] vbekiaris commented on #16445
@lishijun121910 thanks for the info. I understand that in your original configuration you do not actually set outbound ports. In this case, Hazelcast does not bind the client side of a connection to any particular port; instead it is the operating system's decision which ephemeral port to use. I would look into your Windows machines configuration to find out what is the configured ephemeral port r

[2020-02-13 16:05] blazember commented on #16605
Sure, EPs can destabilize too. How I see it different though is that EPs scale with the data, while the metrics scale with the used features, CPU count, connection count, and other things not obvious for a user who is about to implement a consumer without knowing the internals of Hazelcast that may change release by release. That's why I think this needs to be considered for this convenience API p

[2020-02-13 16:50] haixiliu opened #16656 "Could not start enterprise version 3.12.6 with JDK 11.0.5"
**Describe the bug**
Could not start hazelcast enterprise version 3.12.6 when executing start.sh.
JDK version is 11.0.5 Oracle
OS: CentOS 7

**Expected behavior**
Server should start.

**To Reproduce**

Steps to reproduce the behavior:
1. unzip the hazelcast-enterprise-3.12.6.tar.gz file to desired location
2. run bin/start.sh

**Additional context**

Error showing below
11:38:45 [main] INFO  com.

[2020-02-13 16:54] nfrankel commented on #16656
Thanks for your interest in Hazelcast!

I believe the reason for that behavior is the usage of a JDK 9+ without the proper module configuration.

Could you please start the java process with the following parameters?

`--add-modules java.se --add-exports java.base/jdk.internal.ref=ALL-UNNAMED --add-opens java.base/java.lang=ALL-UNNAMED --add-opens java.base/java.nio=ALL-UNNAMED --add-opens java.ba

[2020-02-13 18:09] haixiliu commented on #16656
I tried the above suggestion and it worked. Hazelcast server was able to start.

I filed this ticket because hazelcast server worked fine for me in 3.12.4 until upgraded to 3.12.6.

Are the above module configuration always recommended when running with JDK9+? I must have missed it if they are included in the Hazelcast Manual. Could  you point me to where to find these recommendations? While on th

[2020-02-13 21:30] nfrankel commented on #16656
That's great!

I'm not sure about this. I think the root cause is the upgrade to a newer JDK version that implements the Module system.

If you start Hazelcast without those parameters in a JDK9+, the console log should be riddled with stacktraces. The main information message is the following:

----
WARNING: Hazelcast is starting in a Java modular environment (Java 9 and newer) but without proper

[2020-02-13 21:30] #16656 closed

[2020-02-13 22:10] nfrankel commented on #1540
![Sequence overview](http://www.plantuml.com/plantuml/png/hLF1RXCn4BtxAqQz50uHTokAMWa9LGAAW4Ekq_MqiV3QAtkSj7-Fimkk5wVE2kMKdPdttZo_s3U1qNFiZS2EdOUhTToWl3r-hp_4pHLWWAqO4aPtUa3B8wANNt3uvjtporq_c0micnLda1_f4QFXXBeVo2DhPnDyhnMzxcfWAaKdFn5dM9Oecq8XumC66WdXhuNlr3clVh3pb6drI91bpIyZrSjfaE5JUKnDxv4fXRI5rMOMWOGdudVlCsQUJrcSPDvP9c_HlAa0_qYqmfFGUKAcCfma35cv5VmVxZpP5YEPcO4bM3gaTNF7wzMgRTaJHs_1lUvKjCnmErnjz-uNrJ

[2020-02-14 07:03] #16641 closed

[2020-02-14 07:52] #16530 closed

[2020-02-14 10:58] kedar-joshi opened #16661 "Consider using consistent versioning scheme for all releases / artifacts"
Currently Hazelcast follows two versioning schemes, one without bugfix version and another with bugfix version i.e. `4.0` and `4.0.1`.

For consistency, consider including bugfix version for all releases e.g. `4.0.0` and `4.1.0` instead of `4.0` and `4.1` respectively.

[2020-02-14 15:13] TomaszGaweda commented on #5337
@mmedenjak JavaDoc for putAll states that MapLoader will be invoked. So despite void return value, it still does read-through, while setAll would not do read-through

[2020-02-14 20:23] kwart commented on #16651
Thanks for sharing the details, @APIANT .

I guess the problem is related to the other usage of Hazelcast - i.e. probably the executors - and you only see side-effects. Log files will be really helpful to identify the cause.

[2020-02-14 20:26] APIANT commented on #16651
Have enabled full logging on all servers running hazelcast, now just waiting for the exception to happen again...

[2020-02-15 08:21] lazerion opened #16663 "ServerQueryCacheRecreationTest query_cache_recreates_itself_after_server_restart"
- Fails on `Hazelcast-4..maintenance-ZingJDK8`
- Fails on [Build #138 (Feb 13, 2020 10:57:13 PM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4..maintenance-ZingJDK8/138/testReport/junit/com.hazelcast.map.impl.querycache/ServerQueryCacheRecreationTest/query_cache_recreates_itself_after_server_restart/)
- Error
[code]
- Stack
[code]
- Observed high hiccups
[code]

- looks rela

[2020-02-15 08:26] lazerion opened #16664 "MapSplitBrainStressTest.testSplitBrain"
- Fails on `Hazelcast-4.maintenance-nightly`
- Fails on [Build #384 (Feb 15, 2020 2:05:03 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-nightly/384/testReport/junit/com.hazelcast.map.merge/MapSplitBrainStressTest/testSplitBrain/)
- Error
[code]
- Stacktrace
[code]

kindly check

[2020-02-15 08:27] lazerion commented on #16469
- Fails on `Hazelcast-4.maintenance-nightly` `4.0.z` as well. FYI

[2020-02-15 08:32] lazerion commented on #15969
- Fails `Hazelcast-4.master-sonar`
- Failed on [Build #396 (Feb 14, 2020 9:17:02 PM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-sonar/396/#showFailuresLink)

kindly check

[2020-02-15 15:46] inelpandzic commented on #3840
Hi, @tkountis, for the return type of the `MultiMap.getAll` method  I'm thinking `Map<K, Collection<V>>`. What do you think?
So, the method would be:
[code]

[2020-02-15 17:02] Meemaw commented on #16593
Hi. I'm having some weird issues with Hazelcast 4.0, JUnit5 and Gradle. It seems that the gradle test freezes after 1 test class is executed and get into a locked state. JVM stack trace looks similar to what you've pasted above:

[code]

[2020-02-17 07:30] ahmetmircik commented on #16663
This is a flaky test and has same root cause with #16438, closing this one in favor of #16438.

[2020-02-17 07:30] #16663 closed

[2020-02-17 10:56] vojtechtoman commented on #16664
There are probably more issues with this test. When running the test repeatedly on my local machine, it eventually failed with:
[code]

[2020-02-18 08:37] vbekiaris commented on #3840
@inelpandzic method signature looks good to me.

[2020-02-18 08:39] mmedenjak commented on #3840
@vbekiaris @tkountis how about making it async as well?
`CompletionStage<Map<K, Collection<V>>> getAllAsync(@Nonnull Set<K> keys)`

[2020-02-18 08:51] inelpandzic commented on #3840
@mmedenjak if you agree, I would like to first finish the synchronous one, and after that, I could add the async one.

[2020-02-18 08:56] vbekiaris commented on #3840
There is no other async API on `MultiMap` yet. That said implementing the async variant should be fairly straightforward, return the internal `InvocationFuture` instead of blocking on `get()` (eg see https://github.com/hazelcast/hazelcast/blob/8d0effd4e72e273dcbca799a9cd46f41fc9c2e52/hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapProxySupport.java#L261). Statistics handling also needs

[2020-02-18 08:57] mmedenjak commented on #3823
@aberkecz answered on gitter, don't know if you'll see it so I'll answer here as well. Regarding the `getHits` method - for the list/set stats, it's not very clear. I was thinking maybe we can add it for `CollectionContainsOperation` as well but on the other hand seems it's not a straightforward answer. Maybe we can avoid adding `getHits` in the first version and wait until there's more feedback f

[2020-02-18 09:10] inelpandzic commented on #3840
Ah yes, I can see, it is straightforward. I'm thinking then, after finishing this synchronous one, maybe to add async variants also for `get` and `put` and maybe some other method. Like there is on `IMap`.

[2020-02-18 09:49] sancar commented on #6219
Closing this since this is duplicate of https://github.com/hazelcast/hazelcast/issues/12452 .

[2020-02-18 09:49] #6219 closed

[2020-02-18 10:03] Holmistr commented on #3840
I think what @mmedenjak is trying to say is, if we even want the sync version. Does it make much sense? We may ask "why not"? The answer would probably be that we want to keep the API as minimalistic as possible if there's no extreme demand for it.

Thoughts @vbekiaris @mmedenjak @jerrinot ?

[2020-02-18 10:12] burakcelebi commented on #13472
Talked with @sancar. Seem like a low hanging fruit.

[2020-02-18 10:21] burakcelebi commented on #16023
@mmedenjak, would it be possible to provide some details about this one?

[2020-02-18 10:59] mmedenjak commented on #3840
Yes, that's what I am asking. If we provide the asnyc version and someone wants the sync version, they can block on the returned value. If we provide the sync version and someone wants the async version, sorry. If we provide both versions, what is the added value of the sync method?

[2020-02-18 11:02] mmedenjak commented on #3840
On the other hand, if we had an API that only had async methods, it would be painful for people which want sync calls to use, they would need to constantly repeat the blocking pattern. So there are definite drawbacks. Personally I'd just add the `getAllAsync` method here. But I'm open to discussion here.

[2020-02-18 12:03] mmedenjak commented on #16023
Someone should go through all of the newly introduced code and check that all of the classes we have introduced in 4.1 are appropriately exposed. That means - private classes in private packages and public classes in public packages. The problem isn't really with public classes in public packages, the problem is about the other one - sometimes, people unintentionally put some internal class in a p

[2020-02-18 12:15] burakcelebi commented on #16023
Makes sense, thank you very much!

[2020-02-18 12:45] inelpandzic commented on #3840
Understand that, but would adding only `getAllAsync` somehow break the API consistency? Having only blocking `get` and only non-blocking `getAllAsync` feels a bit odd, what do you think?
For example, `IMap` has only `getAll`, and also has `get` and `getAsync`.

[2020-02-18 12:46] mmedenjak commented on #16661
Hi @kedar-joshi . True, we'll consider it. @Holmistr WDYT?

[2020-02-18 12:51] Holmistr commented on #16661
In general, I also didn't like the current scheme when I joined. I got used to it. However, I don't really see any practical benefit in changing it to `x.y.z` other than "formal consistency". @kedar-joshi Any example where this prevent you from doing something?

Don't get me wrong, I have nothing against your suggestion. However, I see the non-trivial effort behind it (update out release automatio

[2020-02-18 12:55] mmedenjak commented on #16656
There are some recommendations about running on JDK9+ here: https://docs.hazelcast.org/docs/latest-dev/manual/html-single/#running-in-modular-java

[2020-02-18 13:05] #15736 closed

[2020-02-18 13:23] Holmistr commented on #15877
Closing the issue since we adjusted the environment's resources. Should be more stable now.

[2020-02-18 13:23] #15877 closed

[2020-02-18 13:40] kedar-joshi commented on #16661
No. This doesn't affect / prevent any functionality whatsoever.

You are right, it's mostly for formal consistency only. The reason I raised this because I was upgrading Hazelcast and habitually wrote `4.0.0` as version as most of the Maven dependencies follow the same scheme.

Thank you for your consideration. I would completely understand if this can't be implemented if the benefit for community

[2020-02-18 13:53] Holmistr commented on #16661
That's not what I'm saying right now. Right now I'm asking "What's the benefit for community?". I don't really see one. Trust me, I would move the Earth for community :)
If we can come up with a good reason, I will be happy to implement it.

[2020-02-18 13:55] vbekiaris commented on #16469
Since the original test failure is related to jitter and we have a new build environment configuration, closing for now.

[2020-02-18 14:02] nfrankel commented on #16661
As for me, I'd prefer a consistent scheme. Like, I'm writing my POM, and I would put version 4.0.0 and Maven would complain it's not found.

So now I need to go on Maven repository, and check there's a 4.0. Time wasted...

@Holmistr I understand your point. Now you can decide if it's worth it

[2020-02-18 14:37] mmedenjak commented on #3840
It would. It's a result of a long history of adding methods without any agreement, and based on the fact that all `java.util.Map` methods don't need to return a future because everything happens locally. Personally, I prefer async methods and I would just add the async version. But let's first hear what others have to say.

[2020-02-18 14:38] mmedenjak commented on #3840
Maybe once we have project loom and once we switch to fibers, we simply won't care anymore about blocking and async :)

[2020-02-18 15:01] Holmistr commented on #3840
Hehe, we're getting of subject :D @mmedenjak Could we get a final and clear decision on which methods @inelpandzic should implement to keep him going?

[2020-02-18 15:04] mmedenjak commented on #3840
As I said, I'd prefer only an async method. I'll ask around to see if we can get more opinions.

[2020-02-18 15:05] vbekiaris commented on #3840
same here, async only seems fine to me.

[2020-02-18 15:10] Holmistr commented on #3840
@inelpandzic There you go, you have your answer :) `getAllAsync` only for the win!

[2020-02-18 23:00] varunsufi opened #16667 "java.lang.NoSuchMethodError: 'com.hazelcast.core.Endpoint"
**Describe the bug**
Health check fails with spring boot 2.2.4.RELEASE and hazelcast 4.0

**Expected behavior**
Health check should return healthy members of the cluster.

**To Reproduce**

Steps to reproduce the behavior:
* Spring boot 2.2.4.RELEASE
* Kotlin 1.3.61
* Java 11
Member of the cluster starts but health check complains that it cannot find
"com.hazelcast.core.Endpoint" which is moved to

[2020-02-19 01:21] wikwon69 opened #16668 "About firewall setting for outbound ports in hazelcast client side"
Hi,

When HZ client is in WebLogic Server and firewall is set in that WAS machine.
Should we set outbound-ports in HZ client side and those ports should be opened via firewall?

I mean I'd like to know in addition to HZ client -> HZ server communication, outbound port of HZ Client is used for HZ server -> HZ client communication and for HZ server -> HZ client communication, outbound-ports in HZ cl

[2020-02-19 03:17] inelpandzic commented on #3840
Well, until fibers, it's `getAllAsync` then :)

[2020-02-19 09:18] mmedenjak commented on #16667
Spring boot 2.2.4.RELEASE was released on January 20 and IMDG 4.0 has been released on February 4. So I believe there was no spring boot version released yet to work with IMDG 4.0. I suggest you use Hazelcast 3.12 with Spring boot 2.2.4 or wait until there is a spring boot release compatible with 4.0.

Closing the issue since there's nothing we can do on our side here. If you have any other questi

[2020-02-19 09:18] #16667 closed

[2020-02-19 09:24] ManeeshSharma17 opened #16669 "Getting Hazelcast client not active exception after db connection got a timeout"
**Describe the bug**
Getting Hazelcast client not active exception after DB connection got a timeout. I am using hazelcast as second-level cache. I have already configured client connection retry -
[code]
In Logs we faced some DB connection timeout after that our hazelcast client got shutdown and throwing HazelcastClientNotActive Exception.
Application log -
[code]
Hazelcast log -
[code]

**Expect

[2020-02-19 09:26] blazember opened #16670 "Initialize WanConsumer in OS"
`WanConsumer` is not getting initialized in OS version, only in EE version. This needs to get fixed.

Also, the documentation around `WanConsumer` and building an OS WAN replication implementation should be improved. A concrete point is that `WanConsumer`s are expected to implement `HazelcastInstanceAware` to get a reference through which they can put the data into a cluster.

The fix should be do

[2020-02-19 10:10] APIANT commented on #16651
Ugh, why does software like to fail late at night?  The exception has been caught, crashed our primary production server around 4:30am my time, waking me up.

This happened with Hazelcast 4.0 GA released 2/4/20.

Attached are 2 log files.  The "initialize.log" is the first log when the system was booted after turning on all hazelcast logging on Feb 13.

The "exception.log" file contains the crash.

[2020-02-19 10:35] blazember opened #16671 "Allow "empty" wan-replication-ref in YAML config"
In 4.0 `merge-policy-class-name` under `wan-replication-ref` config made optional by introducing a default. With this change, "empty" `wan-replication-ref` is possible with setting only the name of it. In XML it looks like the following.
[code]
But in YAML the same configuration is not straightforward:
[code]
Instead - since `map:wan-replication-ref` is a 1:* mapping, the YAML config structure sho

[2020-02-19 10:39] kwart commented on #16651
Thank you for the logs, I'll go through them.

[2020-02-19 12:21] mdogan commented on #16651
[code]
It looks like `[172.30.0.192]:5701` is listening on all local ports at `0.0.0.0:5703` and it's same server as `52.37.38.181:5703`. So, it's connecting to itself... 🤔

[code]
😱

[2020-02-19 12:27] lazerion commented on #16397
- Fails on `Hazelcast-4.maintenance-ZuluJDK8`
- Fails on [Build #63 (Feb 19, 2020 2:05:02 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-ZuluJDK8/63/testReport/junit/com.hazelcast.client.cache.impl.nearcache/ClientCacheNearCacheCacheOnUpdateTest/with_invalidate_policy_concurrently_updated_near_cache_causes_misses/)

- Failing cases
[code]

kindly check

[2020-02-19 14:17] kwart commented on #16651
@APIANT, is the IP address `52.37.38.181` from the same host? Is there some port mapping involved in your environment (e.g. docker host mapping port 5703 to container's port 5701)?

This problem could be related to other `Address`-ing related issues (#12334, #15722).

Could you try the following configuration changes? They should result in safer environment:

* Don't use port autoincrement. I.e. b

[2020-02-19 16:51] pkgonan opened #16672 "Hazelcast 4.0 Memory Leak Detected"
**Hazelcast 4.0 memory leak detected.**

First, i setup Hazelcast 4.0 only one instance server in aws elastic beanstalk.
Memory usage increased even though doing nothing.
Not connected any client, and did not touch anything.

Second, setup Hazelcast 3.12.6, it does not increased memory looks like hazelcast 4.0 memory pattern.

[Hazelcast 4.0 Memory Pattern]
<img width="1235" alt="Hazelcast 4 0 Mem

[2020-02-19 18:30] blazember commented on #16672
Thank you for the report @pkgonan!

Could you please share your heap and GC settings as well if anything specified?

I see metrics related objects in the report you attached, something introduced in 4.0. Could you please  try disabling the metrics entirely and see if it makes the issue to disappear:
[code]

[2020-02-19 18:43] APIANT commented on #16651
@kwart 52.37.38.181 is the public IP address for the server that went down this morning.  172.30.0.192 is its private IP internal to Amazon AWS.

The public IP address 52.37.38.181 is the value configured with this line:

config.getNetworkConfig().getJoin().getTcpIpConfig().addMember(AppConfig.getConfigSetting("/config/server/ip_address"));

The server is just a bare Amazon EC2 instance, no Docker

[2020-02-19 19:28] APIANT commented on #16651
@kwart or since it is a single server, should we configure hazelcast with 127.0.0.1 loopback?

[2020-02-19 19:34] kwart commented on #16651
Great, we are getting closer.

If you don't need to have the Hazelcast member available from outside the AWS subnet, then you don't need to configure the public address. In such case, don't call the `addMember` method with the external address!

If you want to access it by clients or other members outside the AWS subnet, then you have to define the public address in Hazelcast configuration.

Eithe

[2020-02-19 20:47] APIANT commented on #16651
@kwart based on your suggestions I have come up with this config logic:

    com.hazelcast.config.Config config = new com.hazelcast.config.Config();

    config.setProperty("hazelcast.logging.type", "log4j");

    String name = AppCluster.isWorkerServer ? "worker "+AppHTTP.getSystemDomainAndContext() : "master";

    config.setInstanceName(name);

    config.getNetworkConfig().getJoin().getMultica

[2020-02-19 20:55] kwart commented on #16651
It's still not clear to me from where the port `5703` connection comes. I will try to look into the logs again tomorrow.

[2020-02-19 21:01] APIANT commented on #16651
@kwart maybe from the management center?  As I was troubleshooting the code changes I just wrote about I was seeing these log entries in our stdout log:

2020-02-19 20:35:54 [MC-Client-dev.internal-1] INFO  c.h.c.i.c.ClientConnectionManager - MC-Client-dev [dev] [4.0] Trying to connect to cluster: dev
2020-02-19 20:35:54 [MC-Client-dev.internal-1] INFO  c.h.c.i.c.ClientConnectionManager - MC-Clien

[2020-02-19 21:31] kwart commented on #16651
I don't think it's related to the Management center.

As you had the public IP address listed as cluster member address the member periodically tried to connect to it (on ports 5701-5703).

You can see in the your log these lines:
[code]

And at one point the 5703 is suddenly open:
[code]

The interesting thing is, the `localport` is equal to the target `port`. Maybe the `5703` is picked by system

[2020-02-19 21:48] APIANT commented on #16651
@kwart here's the remaining hazelcast trace logs for Feb 14 thru Feb 18, in case they contain anything helpful.

[tomcat.20200214.log.zip](https://github.com/hazelcast/hazelcast/files/4227601/tomcat.20200214.log.zip)
[tomcat.20200215.log.zip](https://github.com/hazelcast/hazelcast/files/4227602/tomcat.20200215.log.zip)
[tomcat.20200216.log.zip](https://github.com/hazelcast/hazelcast/files/4227603/

[2020-02-19 22:29] blazember commented on #16672
Also, do you have GC logs or statistics? The unreachable objects means the GC can free them up on the next run, but I suppose it runs infrequently so some garbage can pile up in the heap. Judging based on the memory chart and assuming the scarps on it are anyhow related to the GC activity, it runs approximately once an hour, while metrics are collected every 5 seconds. So if that's the case, metri

[2020-02-20 06:45] pkgonan commented on #16672
@blazember Thank you for your reply.
Hazelcast 4.0 memory didn't increase anymore after ignoring metric setting.
[code]

[Hazelcast 4.0 With Ignore Metric Memory Pattern]
<img width="1196" alt="Hazelcast 4 0 With Disabled Metric Memory Pattern" src="https://user-images.githubusercontent.com/15858772/74907944-d4c61400-53f7-11ea-9bd8-301a5711965e.png">

[My G1 GC setting]
[code]

But, i can not unde

[2020-02-20 08:15] Holmistr commented on #16397
Crazy hiccups here:
[code]

[2020-02-20 08:39] cangencer opened #16673 "Operation.sendResponse handling of exception"
If an exception happens during a direct call to `sendResponse` (for example, for an async op where response is sent from another thread) then any exceptions thrown are not handled and the caller is kept waiting, without receiving any response.

This can happen for example if a non-serializable Exception is being sent as a response.

[2020-02-20 10:40] burakcelebi opened #16675 "Product Description Update in Readme"
Consider rephrasing the following paragraph of [README.md](https://github.com/hazelcast/hazelcast/blob/master/README.md). It might need an update due to the new hazelcast.org work.

Also, see [this reddit comment](https://www.reddit.com/r/Cplusplus/comments/f56d7w/hazelcast_open_source_distributed_caching_for_c/fhxmgc2/
).

[2020-02-20 12:39] blazember commented on #16672
@pkgonan great, we identified the main cause. I still see a very minimal increase though in the last screenshot as well, but it can be caused by anything.

In the JVM heap a memory leak occurs if references to objects no longer in use are retained, preventing these objects from freed up by the GC. In the end, the GC will struggle with freeing up memory for new allocations and `OutOfMemoryErrors` w

[2020-02-21 08:37] enozcan commented on #13271
Hi @amedviediev,
I cannot see the reproducer but I think you encountered this issue with LocalRegionFactory & QueryCache. It looks very similar to an issue we are working on it (hazelcast/hazelcast-hibernate5#33).

If so, you can follow up the discussions on the related PR (hazelcast/hazelcast-hibernate5#79) and be aware once it's fixed.

[2020-02-21 09:32] alparslanavci commented on #14217
@Holmistr, yes, it is resolved with 4.0. Closing it now.

[2020-02-21 09:32] #14217 closed

[2020-02-21 14:46] pkgonan commented on #16672
@blazember
Here is gc.log file !
Please check it out.

[gc.log](https://github.com/hazelcast/hazelcast/files/4236609/gc.log)

[2020-02-21 15:59] blazember commented on #16672
Thank you @pkgonan!
I assume this GC log is with metrics enabled.

This GC log shows no symptoms of leaking. You can analyze it with https://gceasy.io/ if you wish and check the `Young Gen` under the `Interactive Graphs` section. It shows that after each GC execution the used (young) heap memory is more or less the same. This is how it should look like if there is no leak, especially in an idle ap

[2020-02-21 16:00] kwart commented on #16651
It's really related to outbound ports.
I was able to reproduce the problem in EC2 with this config:

[code]

I've tried it in the Docker first, but without success - probably due to the different behavior of published ports.

@APIANT Could you add the outbound port range to your configuration?

E.g.
[code]

I will think about what we can do on the Hazelcast side to prevent such errors.

[2020-02-21 17:39] APIANT commented on #16651
@kwart happy to hear you found a way to reproduce the issue!

We will add that to our configuration and hopefully get it installed onto all our servers this weekend.  Then will wait and see if the exception happens again.  Will report back either way after a week.

Thanks for all your help!

[2020-02-23 14:12] kleung opened #16678 "OperationTimeoutException in the logs when using heml chart 3.0.2 and Spring Cache"
Hi,
I installed Hazelcast 4 through helm chart 3.0.2 with Service Type set to LoadBalancer and clusterIP to "".

My Spring project uses hazelcast-all version 4.0 as the dependency and when I work with Spring Caching, I have the following configuration:

[code]

I noticed that almost always get timeout and the following stacktrace after I call a method annotated with @CacheEvict:

[code]

[2020-02-24 07:19] pkgonan commented on #16672
@blazember
Thank you for your feedback.

I will check heap memory usage not physical memory.!

[2020-02-24 07:19] #16672 closed

[2020-02-24 08:52] burakcelebi commented on #14423
Closing as internal request. Already in the roadmap.

[2020-02-24 08:52] #14423 closed

[2020-02-25 16:49] neilstevenson opened #16686 "EntryListener interface is incomplete"
https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/core/EntryListener.java
does not provide a method for https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/core/EntryEventType.java#L71

[2020-02-25 16:50] neilstevenson opened #16687 "Inconsistent event handling for map destroy - ReplcatedMap v MultiMap v IMap"
Destroying a replicated map produces a `CLEAR_ALL` map event that is not generated for IMap or MultiMap

Reproducer

[code]

[2020-02-25 16:50] neilstevenson commented on #16687
Reproducer tested on 4.0

[2020-02-25 21:58] pertsodian commented on #6600
Hello, I can pick this one up. Looking to:
* add another static method in [ThreadUtil](https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/internal/util/ThreadUtil.java) to calculate the new thread name (assuming they all used createThreadPoolName previously)
* set and unset in [DistributedExecutorService](https://github.com/hazelcast/hazelcast/blob/master/haze

[2020-02-25 22:05] Holmistr commented on #6600
Hi @pertsodian , and the issue is yours! :tada: I will get some of our experts to confirm your idea :point_up: or provide any further guidance. Looking forward to your contribution!

[2020-02-26 07:28] abdulazizali77 commented on #9079
Hi @mmedenjak apologies for the very late update, ive put up the initial PR and my thought about the design (and uncertainties) and implementation detailed there. PTAL

[2020-02-26 09:53] mdogan commented on #16686
@neilstevenson: See https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/map/listener/EntryLoadedListener.java

[2020-02-26 11:15] Holmistr commented on #9080
Hi @mahsumdemir , just checking in - is there anything we can help you out with? I just want to make sure that you're not stuck on something and just afraid to ask :)

[2020-02-26 11:17] Holmistr commented on #16449
Hi @santhoshkumarbs , just checking in - is there anything we can help you out with? I just want to make sure that you're not stuck on something and just afraid to ask :)

[2020-02-26 11:19] Holmistr commented on #3840
I hope you were not waiting for our confirmation @inelpandzic  :D Yes, we agree.

[2020-02-26 14:20] pertsodian commented on #6600
Hello, I raised #16695. Please take a look and let me know

[2020-02-26 14:52] Holmistr commented on #11321
Hi @fernandor777 , just checking in - is there anything we can help you out with? I just want to make sure that you're not stuck on something and just afraid to ask :)

[2020-02-26 14:59] Holmistr commented on #3823
Link to PR: https://github.com/hazelcast/hazelcast/pull/16665

[2020-02-26 15:01] Holmistr commented on #4233
Hi @andrewoelfing just checking in - is there anything we can help you out with? I see that you're actually makins progress in your fork. I just want to make sure that you're not stuck on something and just afraid to ask :)

[2020-02-26 15:14] Holmistr commented on #13938
Hi @ryanlindeborg , just checking in - is there anything we can help you out with? I see that you're actually making progress in your fork. I just want to make sure that you're not stuck on something and just afraid to ask :)

[2020-02-26 15:52] Holmistr commented on #6600
Great work @pertsodian ! We're searching for reviewers as we speak :)

[2020-02-26 16:53] timoinstana opened #16696 "Hazelcast Consul plugin incompatible with Hazelcast 4.0"
**Describe the bug**
The documentation for Hazelcast 4.0 contains a section for Consul discovery (https://docs.hazelcast.org/docs/4.0/manual/html-single/index.html#consul-cloud-discovery). Due to package changes, this plugin is not compatible with Hazelcast 4.0 anymore.

**Expected behavior**
a) The plugin is fixed
b) The documentation is updated

**Additional context**
Issue in Consul discovery p

[2020-02-26 17:04] peterjot commented on #46
Hey, I would like to take that issue

@Holmistr

[2020-02-26 17:11] bitsofinfo commented on #16696
if anyone wants to contribute a PR to the project, def welcome! https://github.com/bitsofinfo/hazelcast-consul-discovery-spi/issues/33

[2020-02-26 20:59] Holmistr commented on #46
Hey @peterjot , that would be awesome. However, I see that some work is actually being done on https://github.com/hazelcast/hazelcast/issues/9079 in https://github.com/abdulazizali77/hazelcast/commit/fa98e9b4fd6ff37b5e267987581558f16a2be6d5 . Let me take a look tomorrow and coordinate, so you wouldn't both work on the same thing. I will get back to you! Thank you very much for you interest :)

[2020-02-27 00:44] santhoshkumarbs commented on #16449
Hi @Holmistr, so for putAllAsync & submitToKeys, implementations were present already & I added it to IMap for exposing it as a public API. However, I am not sure how I can test & verify if it's working as expected. I've committed the enhancement in my forked repo(enhancement/4.1/16449). Is it possible for you to have a look at it & give feedback(I haven't yet covered other methods requested as pa

[2020-02-27 04:09] ryanlindeborg commented on #13938
Hi @Holmistr , I submitted a PR, but looking back it now, I wonder whether I should also be updating HttpGetCommandProcessor.java and HttpDeleteCommandProcessor.java similarly to strip the trailing slash following the key from the handleMap method uri. Do you think I should add that to the PR?

[2020-02-27 06:42] wikwon69 commented on #16668
Hi,
Isn't there any update?

[2020-02-27 07:57] mmedenjak commented on #13938
Hi @ryanlindeborg ! Thank you for your effort! I've linked the PR to this issue.

Yes, it would be good if you could do a quick check to make sure that no other URI has this issue, not only those related to map.
It may be the case that only some URI's and handlers have this problem, in which case it would be best to fix them all, otherwise we'll get another issue opened at some point.

[2020-02-27 09:52] Holmistr commented on #16449
Hey @santhoshkumarbs , great to hear that! Let's create a PR and we can start reviewing it. And absolutely no need to apologize, we appreciate your effort! :fist_oncoming:

[2020-02-27 11:52] Danny-Hazelcast commented on #16609
4.1-SNAPSHOT (20200225 - 8b8c625, 4fa4827)
[code]

[code]

[2020-02-27 12:43] Holmistr opened #16700 "JDBC MapStore"
**Please describe the problem you are trying to solve**
If you want to use a MapStore that is backed by a JDBC connection, you have to write it over and over again. Let's provide out of the box implementation.

The implementation should be able to take retrieve `java.sql.Connection` from various connection pools like Apache Commons. In order to solve this, we will have to generalize this a bit. We

[2020-02-27 13:06] buraksezer commented on #16700
Hello, I would like to take this issue. But I'm new to Java and the implementation of Hazelcast. So it may take some time (a couple of weeks, probably) to make a valuable PR for this. Is that okay for you?

[2020-02-27 14:15] huseyinbabal opened #16703 "Reliable Topic is not working with Hazelcast 3.12.2"
**Describe the bug**
When I tried to use reliable topic with Hazelcast Enterprise 3.12.2 cluster and Node.js client 3.12.2, I get following error;
`WARN at ProxyManager: Create proxy request for <topic_name> failed. Retrying in 1000ms. TypeError: No permissions found for service: hz:impl:reliableTopicService`

**Expected behavior**
It should connect to topic.

**To Reproduce**
Use [this example](h

[2020-02-27 14:21] sancar commented on #16703
@huseyinbabal Can you also share member side security config ?

[2020-02-27 14:33] sancar commented on #16703
Some missing points that I see and needs to be fixed.

I have just checked ReliableTopic. The permissions are missing on the cluster.
https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/security/permission/ActionConstants.java

I have realized that reliable topic needs to have a ringbuffer permission to be given. This does not feel simple for the user. User may

[2020-02-27 18:35] Holmistr commented on #16700
Hi @buraksezer , thank you very much for your interest! Unfortunately, there's one community user already working on the issue, he just hasn't commented on it yet. I would be more than happy to work with you on picking another issue, WDYT? Ping me on https://gitter.im/hazelcast/hazelcast (nickaname "Holmistr") or on Twitter @jholusa.

[2020-02-27 19:39] amritk07 commented on #16700
@Holmistr I am on it

[2020-02-27 19:46] buraksezer commented on #16700
Hey @Holmistr, It's totally fine. I'm looking for another "good first issue". Keep in touch!

[2020-02-27 20:05] andrewoelfing commented on #4233
Hello @Holmistr, I think im ready for a PR. I've implemented only the publishAll-method because there is much more missing for the async version (a PublishOperation or something else). In my opinion this could be a next step. :)

[2020-02-27 23:16] santhoshkumarbs commented on #16449
Thanks @Holmistr. I've created a PR for this(https://github.com/hazelcast/hazelcast/pull/16704).

[2020-02-28 02:33] omidp commented on #4427
Here is the [PR ](https://github.com/hazelcast/hazelcast/pull/16705) to solve this issue.

[2020-02-28 05:26] www-yyy opened #16706 "Please avoid using libraries with CVEs"
Hi, I found that your project are using some vulnerable dependencies. In order to avoid threats, I recommend updating to a safe version. Please note the following details.
* **Vulnerable Library Version:** org.codehaus.groovy : groovy-all : 2.1.8
  **CVE ID:** [CVE-2015-3253](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-3253), [CVE-2016-6814](https://cve.mitre.org/cgi-bin/cvename.cgi?na

[2020-02-28 05:44] Holmistr commented on #16700
@amritk07 Actually it's not for you either, sorry :) The community user's name is Benjamin, I'm waiting for him to comment on the issue. Please, do not work on this and pick a different one. Very sorry for the confusion.

[2020-02-28 05:51] Holmistr commented on #4233
@andrewoelfing Absolutely, go for it :) We will continue with the review there!

[2020-02-28 13:32] mmedenjak commented on #16686
Adding to backlog as a possible enhancement.

[2020-02-28 13:41] mmedenjak commented on #16651
@APIANT any updates on the issue?

[2020-02-28 16:24] APIANT commented on #16651
@mmedenjak We have not experienced a crash this week, so we're pretty confident the issue has been resolved via the new config settings.

[2020-02-28 17:38] kwart commented on #16668
Copy/paste from https://groups.google.com/d/msg/hazelcast/Xl9QR_AIWak/LRLZ1vGaAAAJ
Feel free to reopen if it doesn't answer your question.

Usually, the outbound connections are not restricted in firewalls. E.g.

[code]

In such a case, you don't need to specify outbound ports in Hazelcast.

If your firewall needs to have defined rules for outbound ports, then
pick some range from ephemeral ports

[2020-02-28 17:38] #16668 closed

[2020-02-28 20:10] mesutcelik commented on #16678
Hi @kleung
You are missing Kubernetes Discovery configuration in your ClientConfig.
This guide might help you to run hazelcast +spring on k8s environment. It is working in embedded mode but you just need to convert Config part into [ClientConfig](https://github.com/hazelcast-guides/caching-springboot-microservices-on-kubernetes/blob/master/final/src/main/java/guides/hazelcast/spring/Application.ja

[2020-02-29 07:59] benjamin-Ndugga commented on #16700
Hi Team , my this is Benjamin, I am glad to be part of this new feature request. I had already worked on something. Please advise if I could share a link or something. @Holmistr  please advise if I could share a Link here for that project.

[2020-02-29 10:24] lazerion opened #16708 "HazelcastVersionLocatorTest testDownloadVersion"
- Fails on `Hazelcast-4.master-nightly`
- Fails on [Build #397 (Feb 28, 2020 5:07:03 PM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-nightly/397/testReport/junit/com.hazelcast.test.starter.test/HazelcastVersionLocatorTest/testDownloadVersion/)
- Error
[code]
- Stacktrace
[code]
- Possible commits
 (commit: c96d696)
(commit: 7e665c7)

kindly check

[2020-02-29 13:38] benjamin-Ndugga commented on #16700
Hi Team,

my proposal has been updated, let's now see how we can modify this to get us a win. follow link below
`https://github.com/benjamin-Ndugga/custom-hazelcast-map-loader`

[2020-02-29 13:49] benjamin-Ndugga commented on #16700
https://github.com/benjamin-Ndugga/custom-hazelcast-map-loader

[2020-02-29 14:47] kleung commented on #16678
Hi @mesutcelik
Thanks for your reply!

Sorry I think I forgot 1 piece of information - my application is outside of kubernetes, that's why I chose to use LoadBalancer instead of the helm chart's default value.

Should I also use kubernetes discovery too?

Should I follow [https://github.com/hazelcast/hazelcast-code-samples/tree/master/hazelcast-integration/kubernetes/samples/external-client](https

[2020-02-29 17:20] KaairaGupta commented on #8231
This issue seems interesting. Can I work on this issue?

[2020-02-29 17:21] KaairaGupta commented on #16686
Can I work on this issue?

[2020-02-29 18:05] mesutcelik commented on #16678
yes

yes because you have no fixed IPs of your hazelcast members.

LoadBalancer or headless service is only used for discovery in hazelcast kubernetes deployment. Hazelcast Client that you use in your application has a feature called smart routing so applications are connected all hazelcast members and send the operations(read|write) directly to the responsible hazelcast member. Therefore, loadbal

[2020-02-29 22:07] fernandor777 commented on #11321
Hi @mmedenjak @Holmistr sorry for the delay, busy times on my side and needed to expend some time checking the internal codebase :)

A draft plan for this:

- Implement an async version of method:
	com.hazelcast.internal.locksupport.LockProxySupport.tryLock(NodeEngine, Data, long, TimeUnit, long, TimeUnit)
allowing it to return an ```InternalCompletableFuture<Boolean>``` with final method signatur

[2020-02-29 23:16] KaairaGupta commented on #16686
I think I just need to add one line [here](https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/core/EntryListener.java):
`extends EntryLoadedListener<K, V>`.

Am I right?

[2020-03-01 00:10] KaairaGupta commented on #16640
I would like to work on this issue.

@mmedenjak
I am currently trying to understand where the changes need to be made and also, how would we want to solve this issue.

I noticed that `Logger.getLogger()` and `ILogger` are being used in the whole project to register logs, so that would be a good start to understand where I need to make changes to solve this issue. Am I right?

Also, what would be a

[2020-03-02 08:43] Holmistr commented on #46
Closing this issue, since it's basically a duplicate of https://github.com/hazelcast/hazelcast/issues/9079 (or subset)

[2020-03-02 08:43] #46 closed

[2020-03-02 08:54] Holmistr commented on #11321
@vbekiaris Could you please take a look? :point_up:

[2020-03-02 09:01] KowalczykBartek commented on #12298
initial PR here https://github.com/hazelcast/hazelcast/pull/16712

[2020-03-02 10:36] NutellaTorte opened #16713 "Hazelcast queue - Write in queue with REST CLIENT and poll entry with NodeJs client"
**Describe the bug**
Hello,
I want to write entries to a queue using REST call. This is no problem, this works fine.
Next step is to create a item listener on this queue using the NodeJs client. This item listener should poll the entries which I added by the REST call. If I try to start the NodeJs client, there will be an error:

RangeError: There is no Identified Data Serializer factory with id -

[2020-03-02 12:00] jakubigla opened #16714 "Embeded Hazelcast on kubernetes with autoscalling problem"
**Describe the bug**
I use Hazelcast on Kubernetes with default options and I have Horizontal Pod Auto Scaling enabled for my microservice. Whe the deployment scales out (for example to 10 replicas) everything works fine, but when the HPA kills pods (let's say 4 at the same time) I get MASSIVE number of these exceptions per second

[code]
I get like 100 of these per second, which causes the pod us

[2020-03-02 12:17] burakcelebi commented on #12185
Hey @lazerion, have you had a chance to check this? Do you think we can close this? Thanks!

[2020-03-02 12:27] mmedenjak commented on #11321
Hi @fernandor777 !

The `MapProxySupport#putAllInternal` method supports some use cases that I think you'll be able to avoid in your implementation. First of all, I think you can safely assume in your case that the future provided as a parameter will not be `null`. In fact, since your `tryLockAllAsyncInternal` method will always be called from non-blocking methods, maybe you can avoid passing it i

[2020-03-02 12:39] mmedenjak commented on #16640
Hi @KaairaGupta !

Sorry, I don't have any ideas at the moment, maybe @cangencer has some suggestions.

[2020-03-02 13:19] mmedenjak commented on #16686
Hi @KaairaGupta !

Sorry, I don't think that will be possible since this breaks backwards compatibility - users that have already implemented `EntryListener` will have compilation errors once they upgrade.

As such, I don't think this is solvable in a minor release and we just finished a major release so maybe we'll need to postpone fixing this for some far future.

Feel free to poke around the co

[2020-03-02 13:23] mmedenjak commented on #8231
Hi @KaairaGupta , yes you can. Maybe @taburet can provide some initial pointers or you can check out the previous approach and the comments here - https://github.com/hazelcast/hazelcast/pull/12708.

[2020-03-02 14:03] KaairaGupta commented on #16686
Okay, @mmedenjak. I will keep this issue in mind and will try to solve it once I get familiar with the code.

[2020-03-02 14:19] neilstevenson commented on #16686
The minimum level now is Java 8, so default methods might be the solution.

However it'd make sense to add empty defaults for all the methods, and this would need tests

[2020-03-02 17:49] KaairaGupta commented on #16640
@mmedenjak @cangencer
If we will log asynchronously, then possibly logs will not print in correct order, and thus will remain of no use for debugging.

Have I understood the task wrong?

[2020-03-02 23:31] fernandor777 commented on #11321
Thanks for your nice hints @mmedenjak , I'll start try to make progress and will back here if I face a problem following the plan :)

[2020-03-03 04:07] ryanlindeborg commented on #13938
@mmedenjak I made a couple updates to the PR, but otherwise, most of the URIs looked okay!

[2020-03-04 11:51] lazerion commented on #12185
@sancar please feel free to close per your comment.

[2020-03-04 12:05] #12185 closed

[2020-03-04 13:01] lazerion commented on #16574
Also, fails on [Hazelcast-4.master-ZingJDK8](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-ZingJDK8/146/testReport/com.hazelcast.cp.internal/CPMemberAddRemoveTest/when_snapshotIsTakenWhileRemovingCPMember_newMemberInstallsSnapshot/) with hiccups
[code]

[2020-03-05 07:50] cangencer commented on #16640
@KaairaGupta LoggingServiceImpl is  a good place to start. That's where the logger is created.

You can't rely on ordering of log messages in a distributed/multi-threaded system. It should preserve order within the same thread, though. Have a look at https://logging.apache.org/log4j/2.x/manual/async.html

[2020-03-05 08:23] emre-aydin commented on #10510
@dimas Management Center 4.1 will have this feature. Closing the issue.

[2020-03-05 08:23] #10510 closed

[2020-03-05 10:33] #13938 closed

[2020-03-05 14:52] #16449 closed

[2020-03-06 12:24] ashokYadav0311 commented on #13151
I am using hazelcast 4.0 and java 11. getting below warning:-
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by com.hazelcast.internal.networking.nio.SelectorOptimizer (file:/C:/Users/ashok/.m2/repository/com/hazelcast/hazelcast-all/4.0/hazelcast-all-4.0.jar) to field sun.nio.ch.SelectorImpl.selectedKeys
WARNING: Please consider reporting this to th

[2020-03-06 12:41] kwart commented on #13151
@ashokYadav0311 Have you add the Java startup arguments as described in the Reference manual? https://docs.hazelcast.org/docs/4.0/manual/html-single/index.html#running-in-modular-java

[2020-03-06 12:52] burakcelebi commented on #12074
Moved to python client repo: https://github.com/hazelcast/hazelcast-python-client/issues/190

[2020-03-06 12:52] #12074 closed

[2020-03-06 13:44] Danny-Hazelcast opened #16726 "split brain client side oome, com.hazelcast.internal.util.executor.StripedExecutor$Worker,"
clients are just connected to the cluster,  clients perform no operations.

http://jenkins.hazelcast.com/view/split/job/split-rest/61/console

/disk1/jenkins/workspace/split-rest/4.1-SNAPSHOT/2020_03_06-08_51_34/rest Failed

output/HZ/HzClient2HZAA/HzClient2HZAA.hprof
output/HZ/HzClient2HZAA/HzClient2HZAA.oome

http://54.147.27.51/~jenkins/workspace/split-rest/4.1-SNAPSHOT/2020_03_06-08_51_34/rest

[2020-03-06 13:46] Danny-Hazelcast commented on #16726
[code]

[code]

[2020-03-06 14:23] Danny-Hazelcast commented on #16726
last passed http://jenkins.hazelcast.com/view/split/job/split-rest/60/console
4.1-SNAPSHOT
Build #60 (Feb 28, 2020 8:51:15 AM)
Started 7 days 5 hr ago
Took 20 hr on stabilizer

[2020-03-06 22:00] KaairaGupta commented on #16640
Sorry, for the late reply. I could not work on this issue till now, but will start now.
Give me a day to understand the code-base and process this recourse before coming up with a solution.

[2020-03-06 22:15] amrsamii commented on #16696
can I take this issue? I am new to Hazelcast and I did not solved any issues before

[2020-03-08 09:46] Holmistr commented on #16696
Hi @amrsamii, glad to see that you're interested! :tada: I'm assigning you the issue.

I don't know how familiar you are with Consul. If not that much (like myself), I would suggest you following workflow:
* Setup Consul locally (https://learn.hashicorp.com/consul/getting-started/install)
* Setup Hazelcast IMDG locally with Consul Discovery, but with Hazelcast IMDG 3.12.6 version, which should sti

[2020-03-08 15:49] ritika-11 commented on #8828
@tombujok I want to work on this issue, Can you please provide a bit of guidance regarding where to find the relevant code.

[2020-03-08 16:08] ritika-11 commented on #9748
@tombujok I find this issue interesting , Can you guide a bit as in from where to start

[2020-03-09 05:31] ofek opened #16729 "Beans missing Java type"
**Describe the bug**

It appears that all beans of type `Metrics` are missing the [standard](https://www.oracle.com/technetwork/java/javase/tech/best-practices-jsp-136021.html) type information that many monitoring solutions rely on.

![Capture](https://user-images.githubusercontent.com/9677399/76185429-983f3a00-61a5-11ea-9b2f-d275938b17fd.PNG)

[2020-03-09 07:31] mmedenjak commented on #9748
@ritika-11 this one is complicated issue that needs to be addressed not only on IMap but on other structures as well. Basically, operations such as get, put and similar are all ordered since they are executed by the same thread (the operation thread). But other operations such as map loading or destroying a structure, are not run on the partition thread. This may cause some structures to end up in

[2020-03-09 09:30] ritika-11 commented on #9748
@mmedenjak okay I get your point. I'll read about IMap.destroy() and give it a try once

[2020-03-09 10:00] ritika-11 commented on #11512
@kwart  I want to work on this issue, Can you please provide a bit of guidance regarding how to start and where to find the relevant code.

[2020-03-09 11:53] Danny-Hazelcast opened #16732 "member jvm freeze / unfreeze client get ops sometimes return null unexpectedly"
in the member jvm freeze and unfreeze test, some times we see clients get a Null value back from a get operation just after a Member jvm is unfrozen, however after we wait until the cluster is the correct size and the cluster is safe, when we check the map size it is also correct.
so we are only seeing a temporary "data loss"  just after a member jvm is unfrozen.

freeze is     kill -STOP ${pid}
s

[2020-03-09 11:55] Danny-Hazelcast commented on #16732
member freeze unfreeze test we some times see
temporary "data loss" when client get operation return null values.  but when we check the size of the map it is correct.

[2020-03-09 18:46] blazember commented on #16729
Thank you for reporting this @ofek! I could reproduce the issue and come up with a fix candidate. I will send a fix soon.

[2020-03-10 12:40] Holmistr commented on #4233
Hi @andrewoelfing , just checking in again if there's anything we can help out with :) Looking forward to your PR!

[2020-03-10 12:47] Holmistr commented on #4233
PR: https://github.com/hazelcast/hazelcast/pull/16707

[2020-03-10 14:36] kwart commented on #11512
@ritika-11 I'm not the expert in this area. The task will need some research on usages. Maybe @mdogan could give some intro/guidance here (`git blame` is my friend). :)

Personally I would start by looking into the file list returned by  `git grep -l HazelcastInstanceNotActiveException`. It's currently 57 files - so it'll probably take some time.

[2020-03-10 17:06] mesutcelik commented on #16714
Hi @jakubigla ,
How did you deploy Hazelcast in Kubernetes?
Can you reproduce the error using [this guide](https://github.com/hazelcast-guides/hazelcast-hpa)?

If you are using [hazelcast helm charts](https://github.com/hazelcast/charts), graceful shutdown is [enabled](https://github.com/hazelcast/charts/blob/dec16bdecf67a282b8de4c6ef15586dc08c99b1d/stable/hazelcast/values.yaml#L83) by default.

[2020-03-10 17:07] mesutcelik commented on #16678
Hi @kleung ,
I am closing this issue. Please contact back if you still see a problem.

[2020-03-10 17:07] #16678 closed

[2020-03-10 17:09] mesutcelik commented on #13271
Hi @amedviediev  ,
I am closing this issue due to inactivity. Please reopen if you still see problems.

[2020-03-10 17:09] #13271 closed

[2020-03-10 23:04] DanielBauman88 opened #16737 "Optimistic Concurrency for Hazelcast - IMap::replace is inflexible"
**Please describe the problem you are trying to solve**
HazelCast currently supports optimistic concurrency based on the replace method.
https://docs.hazelcast.org/docs/3.8/javadoc/com/hazelcast/core/IMap.html#replace-K-V-V-

This allows for an item to be read and modified and then only updated if it is still equal to the item that was read. This comparison is based on the object equals method.

T

[2020-03-11 09:16] devozerov commented on #15241
SQL type system is implemented. Supported types and conversion rules are described in the design document.

[2020-03-11 10:53] Holmistr commented on #12298
Fixed by https://github.com/hazelcast/hazelcast/pull/16712

[2020-03-11 10:53] #12298 closed

[2020-03-11 12:28] mmedenjak commented on #8828
Hi @ritika-11 !

I'd first validate if the issue is in fact true, since @mdogan pointed out that since JDK6, he date comparisons are thread-safe. If it turns out they are not thread-safe, we should create some kind of thread-safe wrapper, preferably allowing concurrent access.

[2020-03-11 12:53] lazerion commented on #16397
it also fails on `Hazelcast-4.master-OracleJDK10` [Build #72 (Mar 9, 2020 6:03:03 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-OracleJDK10/72/testReport/junit/com.hazelcast.client.cache.impl.nearcache/ClientCacheNearCacheCacheOnUpdateTest/with_invalidate_policy_concurrently_updated_near_cache_causes_misses/)

[2020-03-11 12:57] mmedenjak commented on #16737
Hi @DanielBauman88 !

Thank you for the suggestion. I'll put this issue in backlog and we'll see if there's more interest. Can you also post an code snippet of how you see this interface and how it is used?

[2020-03-11 16:16] DanielBauman88 commented on #16737
Thanks mmedenjak!

I was thinking about something in the form of:

    public interface ProvidesOptimisticLockVersion {
        String getOptimisticLockVersion();
    }

    public interface OptimisticLockingIMap<K, V extends ProvidesOptimisticLockVersion> extends IMap<K, V> {
            // Replace only if existing item's optimistic lock version is equal to the string given as third param

[2020-03-12 08:24] #16623 closed

[2020-03-12 09:53] aruntirath commented on #14252
When trying to start hazelcast getting below error-

`Node could not join cluster. Before join check failed node is going to shutdown now!`

Please help to sort out this one.

[2020-03-12 16:12] ofek opened #16741 "Management Center beans broken"
**Describe the bug**

https://docs.hazelcast.org/docs/management-center/latest/manual/html/index.html#clustered-jmx-api

Similar to https://github.com/hazelcast/hazelcast/issues/16729, data for `Clusters` cannot be seen.

![Capture](https://user-images.githubusercontent.com/9677399/76541833-8934e200-645a-11ea-96bc-94c2a46d8997.PNG)

[2020-03-12 16:12] amrsamii commented on #16696
Consul discovery is now compatible with Hazelcast 4.0. https://github.com/bitsofinfo/hazelcast-consul-discovery-spi/pull/34

[2020-03-12 16:56] mmedenjak commented on #14252
@aruntirath this is not enough information to figure out what is wrong. We'll need to see the full logs of the node starting up and other nodes in the cluster, if there are any.

[2020-03-13 14:42] perkins4j2 opened #16746 "Emergency help for production downtime:Removed connection to endpoint"
**Describe the bug**
- production downtime incidents(3 times：first is 201912，second is 202001，third is today)
- Suddenly unable to connect nodes 1 and 2
- shut down node3 ， restart node1 and 2，then everything is ok.

**Expected behavior**
Maintain stability

**To Reproduce**
Steps to reproduce the behavior:
- happen suddenly
- 3 times happen
- Unable to restore production environment

Current situ

[2020-03-13 14:56] ahmetmircik commented on #16746
Hi @perkins4j2, as a quick help attempt, did you see this ticket and workaround suggestion there(seems you have a similar issue): https://github.com/hazelcast/hazelcast/issues/16651?

[2020-03-13 15:28] neilstevenson opened #16749 "Hazelcast.getAllHazelcastInstances() hangs from discovery plugin"
If `Hazelcast.getAllHazelcastInstances()` is called from a discovery service, the call does not return.

Reproducer for 4.0,
[code]

[2020-03-13 15:29] perkins4j2 commented on #16746
thanks for your reply.

I still don't have some helpful ideas。

I think may be can't solve my problem，but I'll try the suggestion。

some different：
1，I use cluster
2，disable lite-member
3，my all config in xml，not code

if someone still have some suggestions，please reply me。

Now，I'm trying to Reproduce the problem in test environment。

[2020-03-13 20:04] Andu033 commented on #16687
I would like to work on that. Can you assign me?

[2020-03-13 20:36] Andu033 commented on #1027
I would like to work on that .

[2020-03-13 21:41] neilstevenson commented on #16687
@Andu033 What semantics do you propose ? I think `CLEAR_ALL` should come from all three

[2020-03-13 22:11] Andu033 commented on #16687
@neilstevenson What do you mean with semantics? I'm new to hazelcast. From my point of view I have to fire CLEAR_ALL map for all 3. ReplicatedMap already do that. Thats true?

[2020-03-15 10:08] Holmistr commented on #16687
Hi @Andu033 , we would be very happy if you took a look at this issue. However, it can be IMHO very very tricky. Let me ping some of our experts on this matter to make sure we're all on the same page. We'll get back to you soon.

@mdogan @mmedenjak Guys, WDYT?

[2020-03-15 10:36] Holmistr commented on #16696
Fantastic @amrsamii , thank you very much for your contribution! :tada:

[2020-03-15 10:36] #16696 closed

[2020-03-15 11:23] #12275 closed

[2020-03-15 11:24] mesutcelik commented on #12275
No plan to implement this in future.

[2020-03-15 15:14] sjha2048 commented on #14989
I would like to take up this issue.

[2020-03-16 05:51] vbekiaris opened #16751 "HazelcastProxyFactoryTest failures"
Since 088f3680 tests starting proxied `HazelcastInstance`s fail to shutdown with:

[code]

As a result, there may be leftover `HazelcastInstance`s after tests execution resulting in unrelated  test failures (eg http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-nightly/409/ has 136 failures).

[2020-03-16 07:38] ahmetmircik commented on #16732
We can think of this freeze and unfreeze test as a split brain test. When split brain occurs on freeze, a client can see any half of the cluster.

If there is no data in the half of the cluster that client see, seeing null is legitimate in current design.

I could able to reproduce this issue, and in my tests i saw client thinks other 3 members were left the cluster and it could only connect other

[2020-03-16 08:03] Danny-Hazelcast commented on #16732
``` ' We can think of this freeze and unfreeze test as a split brain test. When split brain occurs on freeze, a client can see any half of the cluster. '```

the freeze test is not a split brain test,   the cluster should not split. and in the test we can see cluster size going from 4 down to 3 and back up to 4 and repeating.

 for i in {1..5}; do
        m=$(hz randMember)
        hz freeze ${m}

[2020-03-16 08:42] manojPenupothu opened #16753 "Eviction is not triggering with FREE_HEAP_PERCENTAGE eviction policy"
I'm using hazelcast 3.12.2 version. As per the project requirement I have created three MapConfig's by providing MaxsizeConfig as 20% of FREE_HEAP_PERCENTAGE. In each Map I'm trying to cache 10MB,15MB,20MB files of 10 in number. My total heap space while  running application is 450MB.
As per the documentation if heap size reaches to 80% eviction will trigger as per the probabilistic algorithm defi

[2020-03-16 08:53] blazember commented on #16206
Reopen with many failures. An example: http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5967/testReport/junit/com.hazelcast.client.internal.metrics/ClientJmxMetricsTest/testNoMBeanLeak/

[2020-03-16 09:37] Danny-Hazelcast opened #16754 "NullPointerException executePipeline(NioOutboundPipeline.java:244)"
http://jenkins.hazelcast.com/view/hot-restart/job/hot-shutdown/45/console
/disk1/jenkins/workspace/hot-shutdown/4.1-SNAPSHOT/2020_02_25-03_41_33/shutdown
http://54.147.27.51/~jenkins/workspace/hot-shutdown/4.1-SNAPSHOT/2020_02_25-03_41_33/shutdown/

I do not think there is anything specific to the above test which should provoke this issue
lots of other test are doing the same style of operations

[2020-03-16 09:48] Danny-Hazelcast commented on #16732
Old behavior: When split-brain occurs, the client follows the owner connection. Client will remain connected to whatever the owner connection sees in the cluster.
Old behavior server check: The cluster has a check to see if the owner of the client is still a member.  This check for necessary to handle lock operations(or similar), because if a client gets a lock where its owner is not part of, it c

[2020-03-16 09:56] ahmetmircik commented on #16732
as i understand from here, it can pass with 3.12 since it also does an extra check if the owner of the client is still a member (edited)

Editing myself, 3.12's check is irrelevant from the case here (talked with @sancar)

[2020-03-16 11:11] ahmetmircik commented on #16753
Hi @manojPenupothu,
I looked your reproducer. This part seems wrong:
[code]
This code makes only first map evictable since other mapConfigs also set values to first `mapConfig` object.

Also i'll recommend you to give a little more memory to make hazelcast internals work. For this purpose you can increase FREE_HEAP_PERCENTAGE to something >= 30.

When i do both everything seems to be working as ex

[2020-03-16 11:54] manojPenupothu commented on #16753
I tried after changing the code accordingly by increasing free heap percentage to 40,providing individual maxsizeconfig to each map and the same heap space of 450MB,but still i'm facing out of memory issue.Attaching the code and heap dump.
Question is even though map size is going beyond why eviction is not triggering.
And one more observation I found is that if i'm trying to cache 400mb by config

[2020-03-16 12:08] ahmetmircik commented on #16753
This is still wrong:
[code]

Fixed version is:

[code]

Can you please retry after replacing `mapConfig with mapConfig1 for MAP_NAME1's map config` and replace `mapConfig with mapConfig2 for MAP_NAME2 map config`.

[2020-03-16 12:14] pertsodian commented on #5337
I can give this a go to implement setAll and setAllAsync

[2020-03-16 12:39] sancar commented on #16206
One more failure here
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5987/testReport/junit/com.hazelcast.client.internal.metrics/ClientJmxMetricsTest/testNoMBeanLeak/

[2020-03-16 15:10] mmedenjak commented on #16687
Since we're now doing minor releases, we have to be careful about backwards compatibility. One thing we definitely can't do is stop emitting one event and emit another one instead. On the other hand, we might simply add new events so that all structures emit multiple events during destruction.

I haven't looked at the code closely but I assume this will be simply adding a couple of lines of code o

[2020-03-16 15:33] mmedenjak commented on #5337
@pertsodian seems it's not needed. We have already exposed `com.hazelcast.map.IMap#putAllAsync` and it has no return value so it's effectively equal to `setAllAsync`. As for `setAll`, the user can simply block on the returned future to simulate that method.

Closing this issue as the newly exposed method covers all use cases. Feel free to comment if you disagree and if you would like to have diffe

[2020-03-16 20:35] Holmistr commented on #16687
It's just a general warning in my head. Lifecycle stuff - can be tricky :) I don't have anything particular in my head. Alright, in that case, I'm assigning this issue to @Andu033 :) Looking forward to your contribution!

[2020-03-16 21:04] neilstevenson opened #16760 "OOME on map.set when sufficient memory exists"
This code

[code]
gives an OOME with usually about 100MB free memory reported, for a 20MB object.

Typical output I get
[code]

The issue seems to occur if ten 10MB objects are inserted, then ten 15MB objects before
ten 20MB objects.
If all objects are 20MB heap size runs down to near zero before failure, as you would expect.

Tried on IMDG 3.12.6 and 4.0, using AdoptOpenJDK (build 11.0.6+10) on O

[2020-03-16 21:06] neilstevenson commented on #16760
I run with `-Xms512m -Xms512m`

[2020-03-16 21:08] neilstevenson commented on #16760
See https://stackoverflow.com/questions/60704216/hazelcast-eviction-is-not-working-with-free-heap-percentage-policy/60710982#60710982 for how this was discovered

[2020-03-16 22:46] Andu033 commented on #16687
PR here :https://github.com/hazelcast/hazelcast/pull/16761

[2020-03-17 01:22] pertsodian commented on #5337
@mmedenjak `com.hazelcast.map.impl.operation.PutAllOperation#putToRecordStore` will call `recordStore#put` if there are any map listener registered. This is to load the previous value to honor the contract of `EntryListener` in which `EntryEvent#oldValue` is the existing value.

`setAll` and `setAllSync`, if implemented, should NOT trigger MapLoader to fetch previous values at all. And like `set`,

[2020-03-17 07:28] mmedenjak commented on #5337
Hm, yes, interesting, reopening. Should we still invoke `MapStore#storeAll` in case `IMap.setAllAsync` is called? I would prefer that to keep the map store in-sync with the cache but if `IMap.set` already doesn't call the map store, I'd prefer to align it with that one.

In any case, yes, I think we're going to need one more PR, probably simple, but with clear javadoc defining the difference.

[2020-03-17 07:42] mmedenjak commented on #14989
Sure @sjha2048, go ahead! I have assigned you to the issue. Once you fix the issue on this repository, we'll fix it in our internal enterprise repository.

[2020-03-17 07:48] #15241 closed

[2020-03-17 08:08] sancar commented on #16206
It started fail a lot:
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/5990/testReport/junit/com.hazelcast.client.internal.metrics/ClientJmxMetricsTest/testNoMBeanLeak/

[2020-03-17 08:08] devozerov opened #16762 "SQL: Base executor and row interfaces"
We need to introduce the base interfaces which will be used in our execution engine:
1. `Row` - a single row with the ability to extract value by index
1. `RowBatch` - a collection of rows. We use it to pass data between operators and members
1. `Exec` - generic Volcano-style operator interface. It produces rows upon request from the parent (downstream) operator.
1. `IterationResult` - the result

[2020-03-17 08:55] neilstevenson commented on #16760
May be JDK related, doesn't run out at the same point on Java 8 v 11

[2020-03-17 09:16] manojPenupothu commented on #16753
This code works exactly as expected with bytes.But the same code if i'm trying to store objects of bigger size eviction is not triggered. Do we have any recommendation for this.

[2020-03-17 09:52] ahmetmircik commented on #16753
can you please share a reproducer for this also?

[2020-03-17 09:57] neilstevenson commented on #16760
Adding `-XX:+UseParallelGC` changes the behaviouir. Looks like related to G1.

[2020-03-17 11:46] manojPenupothu commented on #16753
Actually the issue is happening with live environment.But it can attach some of the logs from hazelcast health monitor
{"log":"com.hazelcast.internal.diagnostics.HealthMonitor","lvl":"INFO","thread":"hz.ams-broker-promotion-hazelcast.HealthMonitor","msg":"[153.78.37.95]:5701 [ams-broker-promotion] [3.12.2] processors=8, physical.memory.total=31.4G, physical.memory.free=18.8G, swap.space.total=0, s

[2020-03-17 11:54] neilstevenson commented on #16760
It's just a G1 issue due to large objects. Humongous space out.
[code]

[2020-03-17 11:54] #16760 closed

[2020-03-17 12:59] pertsodian commented on #5337
Yes, `set` will invoke `MapStore#store` to update the underlying map store. And `setAll` / `setAllSync` should behave the same way. However, they will not trigger `MapStore#load` if the key is not in-memory. This will results in `EntryEvent` with null oldValue (as if it is added) even though the key is available in map store, as opposed to `put` methods.

I will give this a go. But likely will hav

[2020-03-17 13:04] mmedenjak commented on #5337
Yes, that will be two PRs, right.

[2020-03-17 14:10] ahmetmircik commented on #16753
Try to set `hazelcast.map.eviction.batch.size`. This forces map to evict more than 1 entry at a time. Since, in your case, entry sizes are not equal, eviction one entry at a time may not be the ideal option.

[code]

[2020-03-17 14:20] mmedenjak commented on #16708
Seems like a temporary failure. Simply, downloading the JAR took over 5 minutes. Usually it takes up to 6 seconds - http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-nightly/408/testReport/com.hazelcast.test.starter.test/HazelcastVersionLocatorTest/testDownloadVersion/history/.

On the recent builds, the test is passing so I suggest we close it. WDYT @lazerion  ?

[2020-03-17 15:35] #15099 closed

[2020-03-17 16:43] DanielBauman88 commented on #16737
What is the recommended way for rolling out a model update with the current IMap implementation?

Lets say I have a type Polygon with field sides.
Polygon{int id, int sides} <-> Initial version

Now I have a deployment where clients are reading polygons and optimistically updating them with replace(k,v1,v2).

I want to update Polygon to have a new field.
Polygon{int id, int sides, int area} <-> Ne

[2020-03-17 17:11] nfrankel commented on #16737
Hey @DanielBauman88,

I'm afraid your question is not Hazelcast-specific, but applies to any distributed system handling state.

My advice would be to handle that in the calling code itself: getting the polygon by its key, checking which "version" it is, and then applying the necessary change. Extra data movement can be avoided by wrapping the above code in a dedicated `EntryProcessor`.

[2020-03-17 17:31] DanielBauman88 commented on #16737
Any check you do in the calling code is potentially stale based on the actual state of the stored record. The hazelcast specific part is the API it exposes to make an update based on the current authoritative state.

The only way I can see that Hazelcast currently supports this in the IMap interface is based on the replace method (which ends up comparing the byte[] serialized form of the object).

[2020-03-17 19:29] manojPenupothu commented on #16753
I have tried with above configuration and free heap percentage is >=30,but the attached code is not evicting and eventually leading to Heap space.For test purpose i have hardcoded file size but in live environment file size is dynamic.In that case just want to know is there any hard limit on file size i'm going to store in hazelcast map?
Is there any minimum requirement on heap space for hazelcast

[2020-03-17 21:34] #16729 closed

[2020-03-17 21:38] blazember commented on #16729
@ofek The fix is merged and will be part of the 4.0.1 release. You can test it with the `4.0.1-SNAPSHOT` version if you wish. Thanks again for raising this :+1:

[2020-03-17 23:18] ofek commented on #16729
Thanks! When will that be available on Docker Hub?

[2020-03-18 06:38] Danny-Hazelcast commented on #16726
after the reported oome in this issue, runs with latest master are passing http://jenkins.hazelcast.com/view/split/job/split-rest/

[2020-03-18 06:52] ahmetmircik commented on #16753
Yes, because you are getting OOME during serialization phase, it is before put to map. This is not map eviction related problem. In the reproducer, you want to put 100MB object and serialization creates a clone of it. This means at the same time you have two copy of that 100MB object. But you don't have enough memory and you go OOM.You need to give much memory to process.

No hard limit but huge o

[2020-03-18 08:13] puzpuzpuz opened #16767 "Switch latency traking in DS stats to System.nanoTime()"
@alex-dukhno found that we use `System.currentTimeMillis()` for latency tracking in maps: https://github.com/hazelcast/hazelcast/blob/40cadaef1f4e944d17f77a220704e964c9af6351/hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/AbstractReplicatedRecordStore.java#L195

So, under certain conditions we may have zero or even negative latency values. We should start using `System.nanoTime()`

[2020-03-18 08:20] puzpuzpuz commented on #16767
cc @pveentjer

[2020-03-18 08:29] asimarslan opened #16768 "Client xml configuration cannot handle empty near-cache name"
Client XML configuration for near caches name attribute is optional and its default value is "default".

The `hazelcast-client-full-example.xml` has this explanation for name attribute:

[code]
Conflicting behaviour
* Client xsd has `required`on the name attribute of near-cache.
* API config default to `default` if left empty

**Expected behavior**

* When XML name attribute does not exist then it

[2020-03-18 12:28] neilstevenson commented on #16687
I got
[code]
trying the code

[2020-03-18 12:42] lazerion commented on #16206
- Fails on `Hazelcast-4.master-CorrettoJDK8`
- Fails on [Build #63 (Mar 18, 2020 6:15:03 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-CorrettoJDK8/63/testReport/junit/com.hazelcast.client.internal.metrics/ClientJmxMetricsTest/testNoMBeanLeak/)
FYI

[2020-03-18 13:14] #16703 closed

[2020-03-18 13:15] Andu033 commented on #16687
@neilstevenson so my changes  works well?

[2020-03-18 13:40] neilstevenson commented on #16687
It did with the original issue reproducer, not exactly an extensive test.. that's what JUnit is for.

[2020-03-19 06:16] devozerov opened #16776 "Method for ordered message delivery"
Both Jet and Mustang require ordered delivery of messages through the same `Connection` instance. The current interface makes an explicit emphasis that the order is not guaranteed. But current implementations have this guarantee in fact.
We should add a new method `Connection.writeOrdered`. It will simply delegate to `Connection.write` at the moment, but future advanced implementations of `Connect

[2020-03-19 11:10] mesutcelik commented on #16714
Hi @jakubigla ,
Have you had a chance to look at my comment above?

[2020-03-19 13:55] blazember opened #16778 "Review and fix stat object field modifiers"
There are several fields in the local stat classes possibly written and read from different threads but not made volatile. These fields are mostly the `creationTime` fields, but there are others too, see `LocalQueueStatsImpl` for example.

[2020-03-19 14:10] blazember commented on #16729
@ofek We don't have a concrete date for the 4.0.1 release yet, but you can expect it in the next weeks. You can check our release announcements.

[2020-03-19 14:27] ofek commented on #16729
Thank you! Have you had a chance to look into https://github.com/hazelcast/hazelcast/issues/16741?

[2020-03-19 18:34] sejla commented on #1055
Hi, I'd like to work on this.

[2020-03-20 07:37] puzpuzpuz commented on #16741
Hi @ofek

Clustered JMX and REST APIs in Hazelcast Management Center are Enterprise features. That means that you need to [configure](https://docs.hazelcast.org/docs/management-center/4.0.1/manual/html/index.html#starting-with-a-license) a license key in order to use them.

[2020-03-20 08:11] puzpuzpuz opened #16781 "Migrate from System.currentTimeMillis() to System.nanoTime() based clock for elapsed time measurements"
Current code base uses `com.hazelcast.internal.util.Clock` (backed by `System.currentTimeMillis()`) in many places where we need to measure passed time. Here are some of them:
* https://github.com/hazelcast/hazelcast/blob/97ff57ba92dc1fbfa77720885e7db40757999080/hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/HeartbeatManager.java#L75 - client heart beats
* https://github.com/haze

[2020-03-20 09:51] mmedenjak commented on #16703
@sancar are there PRs for master?

[2020-03-20 09:58] sancar commented on #16703
Yes, I have send pr to 4.z , 4.0.z and 3.12.z together with enterprise counterparts. All of them are merged as of today.

[2020-03-20 10:07] mmedenjak commented on #16737
If you're using java classes as domain objects, there is no way to update the class definition across the cluster atomically.
If you still want to use IMap with objects of different schema versions, you can use a schemaless approach by storing `HazelcastJsonValue` inside IMap.

For updating an entry, you can use `EntryProcessor`. It's true, it's pessimistic. You can combine it with `com.hazelcast.

[2020-03-20 10:13] mmedenjak commented on #1055
Great. Since the CP subsystem is a bit out of my league right now, maybe @mdogan or @petrpleshachkov can advise you on how to start with the issue.

[2020-03-20 11:06] #16653 closed

[2020-03-20 18:36] DanielBauman88 commented on #16737
Thanks for the update Matko.

If I use JsonValue I still need to get around the fact that the comparison
for replace-if-equals when using replace(k,v1,v2) is the serialized version
so I can't do optimistic updates accross different versions of an object
based on some subset of parameters. Is that correct?

Can you think of any other way I can do that with Hazelcast? Is there an
alternative to the

[2020-03-21 15:06] Gerrygames opened #16785 "javax Cache#getAll not using CacheLoader#loadAll"
**Describe the bug**
Calling ``Cache#getAll`` does not result in a call to ``CacheLoader#loadAll`` in any case.

**Expected behavior**
A call to ``Cache#getAll`` should use ``CacheLoader#loadAll`` if there is more than one value to load, to reduce e.g. the number of requests to the backing database.

**To Reproduce**
Here is a minimal code example to reproduce the issue:
[code]

**Additional conte

[2020-03-22 06:27] lazerion commented on #16751
@vbekiaris IIRC, this issue was after and fixing `Node failed to start!` errors, but it seems still failing after merge, kindly check.
- fails on `136` cases [Build #141 (Mar 19, 2020 9:11:26 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-IbmJDK8-fips-nightly/141/)
- Errors
[code]

[2020-03-23 11:54] burakcelebi commented on #16713
Moved to the Node.js Client repo: https://github.com/hazelcast/hazelcast-nodejs-client/issues/518

[2020-03-23 11:54] #16713 closed

[2020-03-23 12:59] Menzani commented on #16785
I traced down the issue to `AbstractCacheRecordStore#getAll()` being implemented on top of `AbstractCacheRecordStore#get()`.

Here's what I've come up with:

[code]

[2020-03-23 16:05] arushi315 commented on #14975
@mrtinkz what is the hazelcast version where you are seeing this error?

We recently moved our application from hazelcast 3.9.2 to 3.11.4.
This is just single node (no cluster) starting seeing the following errors in production:

[code]

Eventually run into,
[code]

@mmedenjak  can you provide some guidance on how to further troubleshoot this?

[2020-03-23 18:30] arushi315 commented on #14975
Nvm @mrtinkz I see the version in the logs you posted.
version: 3.11.3

[2020-03-23 20:36] AMFIRNAS commented on #16640
(y)

[2020-03-23 22:15] neilstevenson opened #16792 "YAML handling of Discovery Strategy"
In 4.0, the following is required to set a discovery strategy

[code]

based on https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/resources/hazelcast-full-example.yaml#L658 and this works.

The inner section https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/resources/hazelcast-full-example.yaml#L661 should be `discovery-strategy` not `discovery-strategies`

[2020-03-23 23:01] neilstevenson commented on #16792
Reproducer

[code]

This gives this output with 4.0,
[code]

[2020-03-23 23:03] neilstevenson commented on #16671
See also https://github.com/hazelcast/hazelcast/issues/16792, more of a defect but could be beneficial to do at the same time

[2020-03-24 09:58] Holmistr commented on #1055
@sejla Great to see you here :tada: I'm assigning you the issue. I will get to our experts to provide you the initial guidance.

[2020-03-24 11:34] mmedenjak commented on #11958
Closing as fixed.

[2020-03-24 11:34] #11958 closed

[2020-03-24 11:35] mmedenjak commented on #11816
Fixed in 4.1.

[2020-03-24 11:43] webashutosh commented on #14913
@mmedenjak @Holmistr starting on this one now that the `computeIfPresent()` implementation is done ... thanks!

[2020-03-24 11:51] mmedenjak commented on #14913
Great, I haven't been able to see if there are any tricky parts left so you'll have to assess the methods one-by-one. You already know how our request-response operations now work so that's a plus.

Ideally, the rest of the methods will either be simple or there will be nothing to change. We'll see. Good luck and ping us with any questions.

[2020-03-24 12:50] prasanthnath commented on #40
This is indeed be a very helpful feature. We have a scenario where we create locks on the fly but could not destroy them after the usage as we may have to reuse the lock again. As they are not getting destroyed, we are getting OOM after a period of time. This is forcing us to do a periodic restart of Hazelcast servers.

[2020-03-24 14:18] petrpleshachkov commented on #1055
Hi @sejla,
First of all, thanks for your interest and passion to help with the issue.
`ILock` was phased out in recent releases and it was replaced with the `FencedLock` https://docs.hazelcast.org/docs/latest/javadoc/com/hazelcast/cp/lock/FencedLock.html. The `FencedLock` 's implementation is Raft-based and offers strong consistency guarantees.

I'd suggest to add a new method `Address getOwner()`

[2020-03-24 16:04] alex-dukhno opened #16796 "Incorrect LocalCacheStats metrics computation"
`LocalCacheStatsImpl` states that it reports the following metrics in **milli**seconds:
[code]
It is instantiated from `CacheStatisticsImpl` which computes them in **micro**seconds https://github.com/hazelcast/hazelcast/blob/97ff57ba92dc1fbfa77720885e7db40757999080/hazelcast/src/main/java/com/hazelcast/cache/impl/CacheStatisticsImpl.java#L195

**Expected behavior**
Consistent measurement of the ab

[2020-03-24 18:36] benjamin-Ndugga commented on #16700
Hi Team,
We have managed to make a few adjustments to this , I got really good advise and from @jerrinot , We need to find a way of creating an abstract class that can pool DB connections. Any input from you guys will be highly appreciated

[2020-03-24 18:36] benjamin-Ndugga commented on #16700
https://github.com/benjamin-Ndugga/custom-hazelcast-map-loader

[2020-03-24 19:38] vojtechtoman commented on #14989
I actually believe this one has been fixed in 94d3d2c713ed0f6c49a2922330cb21e3785be449; I think there has been a related fix in EE, too. Somehow I forgot to close this issue.

[2020-03-24 19:48] sjha2048 commented on #14989
Yup, it's already been fixed.

[2020-03-25 12:51] #16762 closed

[2020-03-25 12:53] devozerov opened #16799 "SQL Network Protocol"
We need to introduce the network protocol for the SQL engine, including:
1. Query start and cancel
2. Data exchange
3. Any other maintenance operations.

[2020-03-25 20:01] asimarslan opened #16801 "Unused XSD content in hazelcast-client-config-4.0.xsd"
[A deleted XSD content](https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/resources/hazelcast-client-config-4.0.xsd#L452) is accidentally reverted in [this PR](https://github.com/hazelcast/hazelcast/pull/15664/files#diff-ddd7b91d7ebb24b3fa9faddf6c6c3906R472).

line
[code]
should be removed.

[2020-03-26 13:54] #16799 closed

[2020-03-26 13:59] devozerov opened #16805 "SQL thread pools"
We need to introduce thread pools for query processing. This includes:
1. Processing of query operations
1. Execution of query fragments

[2020-03-27 08:49] mmedenjak commented on #16785
Hi @Gerrygames !

Thank you for the report. Do you mind sending a PR for the fix?

[2020-03-27 11:45] mmedenjak commented on #16737
Great, glad you've been able to make it work. Unfortunately there is no other interface where you can create your own comparison logic and the only things that come to mind is if you set the in-memory-format to `OBJECT` and define your comparison logic in the `equals` method or if you create a fork of the IMDG repository and add the operation or check yourself.

[2020-03-27 11:51] mmedenjak commented on #14975
@arushi315 your case seems to be clearer. `OperationTimeoutException: UnlockOperation got rejected before execution due to not starting within the operation-call-timeout of: 60000 ms` means that one of your members was very slow and unresponsive and was not able to process the unlock operation in 1 minute. The other error then is more or less expected as some other code tried to acquire the lock,

[2020-03-27 12:01] mmedenjak commented on #14989
Thank you @vojtechtoman and @sjha2048 for the heads up! :)

[2020-03-27 12:01] #14989 closed

[2020-03-27 12:08] #3823 closed

[2020-03-27 12:21] mdogan commented on #8213
Partition rebalance should be significantly faster with https://github.com/hazelcast/hazelcast/pull/14351 change in 3.12.

In 4.1, we are planning to implement parallel migrations and to improve rebalance speed further.

[2020-03-27 16:55] Gerrygames commented on #16785
I am not very familiar with the Hazelcast code base. If the suggestion of @Menzani works, he could create a PR. Otherwise I could give it a try this weekend.

[2020-03-27 20:58] Menzani commented on #16785
I am not familiar either and I did not test my contribution extensively, therefore the term "suggestion". Moreover, I'm not really fond of signing CLAs.

[2020-03-28 08:07] snicoll opened #16809 "Provide a public API to create a Config/ClientConfig from URL with default fallback"
We'd like to improve Spring Boot so that developers have a chance to customize the `Config` (or `ClientConfig`  before an hazelcast instance is created. If the user provides us a path to a config file, we can load that ourselves and provide the configuration a customizer hook point. That works but we have some xml/yaml knowledge on our side that shouldn't be there IMO.

If they don't, which seems

[2020-03-28 18:55] menih opened #16810 "Release dangling ISemaphore"
If a semaphore is acquired in one instance and that instance dies (kill -9), how can one clean it up?
I tried reacting to when memberRemove() notification, by keeping a member to semaphore map and releasing these semaphores, but that encountered an error

[code]

**Expected behavior**
Semaphore is released. I don't understand what session is in context here...

**To Reproduce**
1) Create two Hazel

[2020-03-29 03:26] menih commented on #16810
Here is code to repro

        HazelcastInstance i1 = Hazelcast.newHazelcastInstance();
        ISemaphore semaphore = i1.getCPSubsystem().getSemaphore("semaphore");
        semaphore.init(1);
        semaphore.acquire();
        i1.shutdown();

        HazelcastInstance i2 = Hazelcast.newHazelcastInstance();
        semaphore = i2.getCPSubsystem().getSemaphore("semaphore");
        semaphore.init

[2020-03-29 06:16] lazerion commented on #16397
- Another test failure in same class [Build #74 (Mar 23, 2020 6:03:02 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-OracleJDK10/74/testReport/junit/com.hazelcast.client.cache.impl.nearcache/ClientCacheNearCacheCacheOnUpdateTest/with_cacheOnUpdate_policy_concurrently_updated_near_cache_does_not_cause_any_miss/) with crazy hiccups
[code]

[code]
FYI

[2020-03-29 06:22] lazerion commented on #16751
@vbekiaris
- `Hazelcast-4.master-sonar` still failing with similar errors in logs [Build #441 (Mar 28, 2020 9:17:02 PM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-sonar/441/#showFailuresLink)

[code]

[2020-03-29 06:58] devozerov commented on #15315
Moved from "SQL: Research" to "SQL" component. We will have to implement it very soon.

[2020-03-29 06:59] devozerov commented on #15282
The research part is over. We implemented the JDBC driver on top of the client protocol.

[2020-03-29 06:59] #15282 closed

[2020-03-29 07:00] devozerov commented on #15314
No custom syntax is required at the moment, so closing the issue. The Jet team probably will investigate it in more details, as they need DML commands.

[2020-03-29 07:00] #15314 closed

[2020-03-29 07:02] devozerov commented on #15320
The research outcome:
1. We decided to switch to the approach with a predefined schema (not fully reflected in the prototype yet), so it is trivial to get the full list of top-level fields
2. Nested fields are not supported at the moment

Therefore, it will be trivial to expand the start. The appropriate prod ticket will be created soon.

[2020-03-29 07:02] #15320 closed

[2020-03-29 07:03] devozerov commented on #15269
The credit-based flow control was implemented in the prototype branch. We will productize it in 4.1. Closing the ticket.

[2020-03-29 07:03] #15269 closed

[2020-03-29 07:04] devozerov commented on #15265
Implemented in 4.0.

[2020-03-29 07:04] #15265 closed

[2020-03-29 07:06] devozerov commented on #15258
No longer relevant. The precise life cycle of Calcite objects will be defined during the implementation of the Calcite integration in 4.1.

[2020-03-29 07:06] #15258 closed

[2020-03-29 07:09] devozerov commented on #15266
The outcome:
1. We use our own operator table to add own functions
1. We do not use Calcite expression eval frameworks, because it is risky (bugs, etc)
1. Visitor for Calcite -> Hazelcast conversions is created
1. Support for most expressions is implemented in the proto
1. In the future, we will implement expression compilation (the prototype is ready). Probably it will use Janino.

[2020-03-29 07:09] #15266 closed

[2020-03-29 07:09] devozerov commented on #15264
In the end, we fell back to the original architecture with two thread pools. See https://github.com/hazelcast/hazelcast/pull/16806

[2020-03-29 07:09] #15264 closed

[2020-03-29 07:14] devozerov commented on #15228
More safe iterators were implemented in https://github.com/hazelcast/hazelcast/pull/15533
The guarantees we agreed on:
1. It is possible to return the same entry both 0, 1, and N times in case of concurrent updates
1. Without concurrent updates, we return the entry exactly once

Nothing else is needed, closing.

[2020-03-29 07:14] #15228 closed

[2020-03-29 07:14] devozerov commented on #15242
Implemented in the prototype.

[2020-03-29 07:14] #15242 closed

[2020-03-29 07:15] devozerov commented on #15243
No longer relevant. We will use two thread pools (https://github.com/hazelcast/hazelcast/pull/16806). Both use blocking queues. One of them will use `MPSCQueue`.

[2020-03-29 07:15] #15243 closed

[2020-03-29 07:16] devozerov commented on #15247
No longer relevant. The threading architecture is implemented here: https://github.com/hazelcast/hazelcast/pull/16806

[2020-03-29 07:16] #15247 closed

[2020-03-29 07:16] devozerov commented on #15249
Implemented in the prototype.

[2020-03-29 07:16] #15249 closed

[2020-03-29 07:17] devozerov commented on #15250
Implemented in the prototype.

[2020-03-29 07:17] #15250 closed

[2020-03-29 07:18] devozerov commented on #15229
Moved to 4.2. We decided not to pursue intra-operator parallelism in the first version.

[2020-03-29 07:19] devozerov commented on #15248
The issue is no longer relevant. Will be implemented in the production 4.1 code soon.

[2020-03-29 07:19] #15248 closed

[2020-03-29 07:21] devozerov commented on #15322
Implemented. Our solution to resolve the field path
1. Look for the field with the given name in the value
1. Then in the key
1. Then try to use the whole objects ("__key", "this")

[2020-03-29 07:21] #15322 closed

[2020-03-29 07:22] devozerov commented on #15278
Implemented in the prototype. In future we may consider the streaming protocol, but not as a part of 4.1.

[2020-03-29 07:22] #15278 closed

[2020-03-29 07:22] devozerov commented on #15277
Implemented in the prototype.

[2020-03-29 07:22] #15277 closed

[2020-03-29 07:47] devozerov commented on #15259
Ensured that it is possible with our own `SqlValidator` implementation. Closing.

[2020-03-29 07:47] #15259 closed

[2020-03-29 07:48] devozerov commented on #15254
Implemented in the prototype.

[2020-03-29 07:48] #15254 closed

[2020-03-29 07:48] devozerov commented on #15257
Implemented in the prototype.

[2020-03-29 07:48] #15257 closed

[2020-03-29 07:48] devozerov commented on #15267
Implemented in the prototype.

[2020-03-29 07:48] #15267 closed

[2020-03-29 07:49] devozerov commented on #15256
Implemented in the prototype.

[2020-03-29 07:49] #15256 closed

[2020-03-29 07:50] devozerov commented on #15273
No longer relevant. We use `VolcanoOptimizer` for the logical stage.

[2020-03-29 07:50] #15273 closed

[2020-03-29 07:51] devozerov commented on #15319
Implemented in the prototype.

[2020-03-29 07:51] #15319 closed

[2020-03-29 07:52] devozerov commented on #15251
Implemented in the prototype.

[2020-03-29 07:52] #15251 closed

[2020-03-29 07:52] devozerov commented on #15279
Implemented in the prototype.

[2020-03-29 07:52] #15279 closed

[2020-03-29 07:53] devozerov commented on #15317
We will use migration stamps.

[2020-03-29 07:53] #15317 closed

[2020-03-29 07:55] devozerov commented on #15280
Current state:
1. Subqueries are eliminated in the logical planning phase
1. Implemented joins support
1. Set operations are not implemented yet.

Will be finalized in 4.2.

[2020-03-29 07:56] devozerov commented on #15445
No support in 4.1. Moving to 4.2.

[2020-03-29 07:56] devozerov commented on #15276
No support in 4.1. Moving to 4.2.

[2020-03-29 07:57] devozerov commented on #15321
Out of scope for 4.1.

[2020-03-29 18:59] me90 opened #16811 "Bad class references"
**Describe the bug**
Into the file hazelcast-all-4.0.jar the class `com.hazelcast.web.WebFilterConfig` import the non existing class `com.hazelcast.util.StringUtil`

**Expected behavior**
I want to use the `hazelcast-all-4.0.jar` to do a Filter Based Web Session Replication.

**To Reproduce**

Steps to reproduce the behavior:
1. Into web application put the `hazelcast-all-4.0` jars in your `WEB-IN

[2020-03-29 19:35] menih commented on #16810
I figured out how to achieve this... it all has to do with the JDK compatible flag. Only problem is that you have to set it for each individual semaphore. We create semaphores on the fly and potentially have hundreds. I wish there is a way to set the default value of setJDKCompatible flag to true.

        Config config = new Config();
        config.getCPSubsystemConfig().addSemaphoreConfig(new S

[2020-03-29 19:40] menih commented on #16810
Take it back... this is still an issue... as there is no way to change config after instance had been instantiated... so practically, one would need to know all the semaphores ahead of time. That's not going to work for our use case. We now must have a way to initiate semaphore CP config of JDKCompatible to true BEFORE instance is create.

[2020-03-29 20:43] menih commented on #16810
Another question - why is it when instance gracefully shuts down, it does not release all semaphores?

[2020-03-30 07:15] usermartin opened #16813 "Update local classes in client User Code Deployment without restarting the Hazelcast-instances"
**Please describe the problem you are trying to solve**
I am currently working with a Spring Boot application using a Hazelcast-client to access a Hazelcast-cluster in a Kubernetes environment.
Client-side user code deployment is used to deploy (nested) classes onto the Hazelcast-cluster.
As the project is still in development, there are regular changes to the data model. Whenever, I change the re

[2020-03-30 10:51] mmedenjak commented on #16785
Oh, sorry @Gerrygames , I thought you gave the suggestion, not @Menzani . I've added the issue to the current release so I hope we'll find time to verify the fix works. But if any of you are willing to send a PR, that would be great.

[2020-03-30 11:12] ahmetmircik commented on #16664
log files don't exist on s3 for the failed run, i'm closing this issue, if it fails again we can reopen.

[2020-03-30 11:12] #16664 closed

[2020-03-30 12:38] vbekiaris commented on #16751
@lazerion the build was initiated on commit b89cf6df31a805b0da61cbc293974f39982de431 which does not include the changes from #16789 . Can you run again the job on a branch that includes #16789, it should fix the failing tests.

[2020-03-30 12:38] #16751 closed

[2020-03-30 13:35] dannyvanleiden opened #16820 "Explicitly registering Portable ClassDefinitions fails with multiple PortableFactories and overlapping classIds"
**Describe the bug**

To work around some issues I was having with nullable Portable fields, I tried to explicitly register class definitions, following the documentation. This went well until I tried registering some classes for a second PortableFactory, that are using classIds that overlap with those of the first PortableFactory. As far as I understood from the documentation, classIds only need

[2020-03-30 14:37] lazerion commented on #16751
@vbekiaris you are right! sorry for inconvenience.

[2020-03-30 15:20] sancar commented on #16820
It seems that, you have used `MyPortableFactory1` in `MyPortable2` by mistake. Can you recheck that?

We don't have a single hashmap for all class definitions. Let me try to explain this:
In SerializationServiceV1 we have a Portable Context. Inside that we have
[code]
Here key is factory id.
Inside `ClassDefinitionContext` we have another map.
[code]
In this map, the key is the class id.

[2020-03-30 16:41] dannyvanleiden commented on #16820
Thank you for the quick reply!
You're right, I made a mistake referencing MyPortableFactory1 instead of MyPortableFactory2 from MyPortable2. The issue seems to persist after fixing that however.

Also thank you for explaining how the classDefContextMap does use factoryId as the key. That looks to be setup to properly deal with multiple factories indeed, which is probably why the problem only occur

[2020-03-31 07:42] Danny-Hazelcast opened #16827 "SEVERE: Failed to ScheduledFutureTask AssertionError: Collecting metrics from source MetricsCollectionCycle.java:91 TcpIpNetworkingService$MetricsProvider failed"
test http://jenkins.hazelcast.com/view/hot-restart/job/hot-snapshot/87/console

/disk1/jenkins/workspace/hot-snapshot/4.0.1-SNAPSHOT/2020_03_31-07_15_01/snapshot

http://54.147.27.51/~jenkins/workspace/hot-snapshot/4.0.1-SNAPSHOT/2020_03_31-07_15_01/snapshot

I see this warning and sever msg in all 4.0.1-SNAPSHOT member logs
[code]

then the  we get on the clients

fail HzClient2HZ clear javax.cac

[2020-03-31 07:51] sancar commented on #16820
@dannyvanleiden Yes, you are right. Now I see the where problem is.  I will send a pr to fix that.

Probably because registering class definition is not a common usage, we did not came across so far. Note that this usage is only necessary if you are using `writeNullPortable`. See following doc for details.

https://docs.hazelcast.org/docs/4.0/manual/html-single/index.html#null-portable-serializati

[2020-03-31 09:18] mmedenjak commented on #16810
@mdogan @petrpleshachkov can you provide some guidance on the above?

[2020-03-31 09:22] mmedenjak commented on #16810
BTW @menih I believe that if you define a semaphore config with the name `default`, the configuration will be applied to all semaphores which do not have a more specific configuration.

[2020-03-31 09:27] mmedenjak commented on #16809
Hi @snicoll ! Thanks for the report. Is this PR something along these lines?
https://github.com/hazelcast/hazelcast/pull/16386

Also, adding @blazember , maybe he has more ideas. Added the issue into 4.1, hope we will find time to implement it by then, or even sooner in a patch release.

[2020-03-31 09:29] mdogan commented on #16810
Hi @menih,

By default semaphores are session-aware. That means each semaphore acquire/release action is bound to a session (which is automatically managed). When a member dies, its associated session(s) are invalidated and resources associated to that session are released. That also means, you cannot release a permit out of thin air before acquiring a permit first.

That's why session-aware semap

[2020-03-31 09:34] #16805 closed

[2020-03-31 09:36] mdogan commented on #16810
If you want to use JDK compatible semaphore, then you should handle releasing permits acquired by removed member.

[2020-03-31 09:38] mdogan commented on #16810
If you want to apply a config to all semaphores, you can define a semaphore with wildcard name `*`. Or even you can group semaphores with sub-matching wildcard names `jdk-*`, `test-*` etc.

[2020-03-31 11:54] dannyvanleiden commented on #16820
Thank you for confirming the issue and picking it up.

The reason I needed to explicitly register ClassDefinitions was that it could occur that on the first call to `writePortable` for my Portable classes, `writePortable` would be called for one of the fields, with a null value.
Without explicitly registering the ClassDefinition, `ClassDefinitionWriter.writePortable` would then be called, throwing

[2020-03-31 11:58] hz-highfive commented on #9
The job `hazelcast-pr-builder` of your PR failed ([log](sss), [artifacts](aaa)).
Through arcane magic we have determined that the following fragments from the build log may contain
information about the problem.
<details>
<summary>Click to expand the log file</summary>
<pre>
bbb
</details>
</pre>

[2020-03-31 12:15] devozerov opened #16829 "SQL root operator"
We need to implement the `root` operator responsible for getting the final result stream. The root operator gets data from the upstream and feeds it to a `consumer`.

To minimize runtime overhead, the `root` operator first accumulates data in an intermediate batch.

The goal of `consumer` is to expose the results to the outside world. At the moment we implement only one consumer - the one that wil

[2020-03-31 12:19] enozcan commented on #16811
Hi @me90,
`Hazelcast-WM v4.0` (4.0 compatible version) is not yet included in hazelcast-all-4.0.jar. You can use `hazelcast-wm-4.0.jar` (see [releases](https://github.com/hazelcast/hazelcast-wm/releases)) along with `hazelcast-4.0.jar` for now. If you want to use `hazelcast-all`, you need to wait for 4.0.1 release.

[2020-03-31 14:20] sancar opened #16834 "Make reconnect mode off with client failover config failfast"
If client failover config is provided, and user also make reconnect mode `off`, this is an invalid configuration.
Client Failover config has to have a Reconnect Mode on.
We can make this config failfast to warn to user before client  opens.

[2020-03-31 14:55] alexrg91 opened #16835 "Invocation to destroy on a TransactionalMap in a client affects directly to the cluster"
**Describe the bug**
Maps destroyed in a client transaction context are also directly destroyed in the server.

I'm trying to clear a map during a transaction prior to refill it. We are migrating from Hazelcast 2.6 to 3.12 and adapting when necessary. In the previous version they used map.destroy() to clear a map inside a transaction and it doesn't cause any problem. Maps on the cluster keep exist

[2020-03-31 23:28] blazember commented on #16827
I believe the two exceptions in the description are unrelated. The `AssertionError` warns that the same `TcpIpConnection` metric MBean was rendered twice. Because the `TcpIpConnection` metrics are discriminated by their endpoint strings, it feels the reason is that we have two `TcpIpConnection` instances with the same endpoint stored in the `activeConnections` here: https://github.com/hazelcast/ha

[2020-04-01 03:52] pveentjer commented on #16767
Tracking time with a milisecond granularity sn't that useful because we can't track call that have submillisecond latencies.

So in theory I have no problem making use of nanotime; but it needs to be done consistently because nanotime should be used very carefully. You don't want to run into overflow problems for example.

[2020-04-01 04:47] Danny-Hazelcast commented on #16827
we did get a rare passing run on 4.0.1-SANPSHOT
http://jenkins.hazelcast.com/view/hot-restart/job/hot-snapshot/91/console

the warning and server messages, from the logs are unusual,
but the test fails due to the cache issue

[code]

[2020-04-01 07:45] puzpuzpuz commented on #16767
I agree. Once we have histogram proves for latencies, it will make much more sense.

Good point. Overflow may be a problem indeed, as a `long` allows to hold ~292 years with nanosecond granularity.

In case of total latency counter probes, users may experience the overflow on members running for several years (or even months) as operations are executed in parallel and latencies for neighbor operat

[2020-04-01 11:21] Danny-Hazelcast opened #16836 "hanging at client side pncounter get after cluster members kill restart"
these 3 test run on 4.0 pass every time
http://jenkins.hazelcast.com/view/kill/job/kill-x2/37/console

and the same 3 test run on 4.0.1-SANPSHOT fail hang every time
http://jenkins.hazelcast.com/view/kill/job/kill-x4/9/console

/disk1/jenkins/workspace/kill-x4/4.0.1-SNAPSHOT/2020_04_01-05_00_23/pn-counter/
http://54.147.27.51/~jenkins/workspace/kill-x4/4.0.1-SNAPSHOT/2020_04_01-05_00_23/pn-counter

[2020-04-01 11:25] mmedenjak commented on #16835
Hi @alexrg91 ! I haven't tried the code myself but calling `destroy` in a transactional context seems wrong.

You say that that you are `trying to clear a map`. So calling `clear()`  seems better but unfortunately we don't support it yet for transactional map. You're free to submit a PR or we will keep this issue open and consider implementing it in the future.

[2020-04-01 11:36] Danny-Hazelcast commented on #16836
in this test all structs are created used and destroyed while  cluster members are killed are restarted. only pncounter ops seam to hang

/disk1/jenkins/workspace/kill-All/4.0.1-SNAPSHOT/2020_03_30-19_57_28/stable/destroy/create-use-destroy Failed

http://54.147.27.51/~jenkins/workspace/kill-All/4.0.1-SNAPSHOT/2020_03_30-19_57_28/stable/destroy/create-use-destroy

./output/HZ/HzClient4HZ/out.txt:

[2020-04-01 11:42] Danny-Hazelcast commented on #16827
updated client side config for quicker reconnection

[code]

fixing cache issue.

[2020-04-01 11:44] Danny-Hazelcast commented on #16827
metric warning and sever logging ?
if it's not some thing we will fix/change then we can close this issue

[2020-04-01 12:03] lazerion opened #16837 "MapSplitBrainStressTest testSplitBrain"
- Fails on `Hazelcast-4.maintenance-nightly`
- Fails on [Build #430 (Apr 1, 2020 2:05:05 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-nightly/430/testReport/com.hazelcast.map.merge/MapSplitBrainStressTest/testSplitBrain/)
- Error
[code]
- Stacktrace
[code]

kindly check

[2020-04-01 12:06] Danny-Hazelcast commented on #16836
same fail
http://jenkins.hazelcast.com/view/kill/job/kill-x/46/console

[2020-04-01 12:44] Danny-Hazelcast commented on #16836
added
[code]
still failing  http://jenkins.hazelcast.com/view/kill/job/kill-x4/11/console

[2020-04-01 14:07] alexrg91 commented on #16835
Hi @mmedenjak ! Thanks for the quick reply.
My first intention was to use clear but, as you mention, it is not on the TransactionalMap Interface.
Since calling to destroy method affects directly to the distributed Object in the cluster, wouldn't be a possibility to throw a warning log or an exception?

I'll try to open a PR!

[2020-04-01 16:31] #16829 closed

[2020-04-02 06:34] devozerov opened #16838 "SQL send/receive operators"
We need to implement send/receive operators for SQL.

[2020-04-02 07:27] Danny-Hazelcast commented on #16732
related ?

https://github.com/hazelcast/hazelcast/issues/16836

https://github.com/hazelcast/hazelcast/pull/16603

[2020-04-02 07:28] Danny-Hazelcast commented on #16836
caused by
https://github.com/hazelcast/hazelcast/pull/16603

is related ?

https://github.com/hazelcast/hazelcast/issues/16836

[2020-04-02 09:04] #16820 closed

[2020-04-02 10:55] mesutcelik commented on #16714
I am closing this issue due to inactivity. Please free to reopen if you have more insights

[2020-04-02 10:55] #16714 closed

[2020-04-02 10:57] mesutcelik commented on #16811
follow-up issue: https://github.com/hazelcast/hazelcast-wm/issues/85

[2020-04-02 10:57] #16811 closed

[2020-04-02 11:04] ncherkas opened #16844 "Making the Diagnostics Logs more Cloud-friendly"
In the Cloud-native K8S environment, the logging architecture almost always assumes that all needed logs are sent to the stdout. It works as a unified source of logs where different tools read them, re-organize if needed, and route to the destinations like Analytics Dashboards etc.

Hazelcast Diagnostics are very useful when troubleshooting the performance and stability issues but currently, it su

[2020-04-02 11:29] #16836 closed

[2020-04-02 11:54] ahmetmircik opened #16845 "Use returned object from ManagedContext#initialize method"
All codebase should be scanned to find missing places. It is legitimate to return a new object from `initialize` method in some contexts, for example as in spring context a matching bean can be returned from `initialize` method while passed object to that method is left intact.

[2020-04-02 12:58] ulfjack opened #16846 "ServiceLoader round-trips URL to URI and loses associated URLStreamHandler"
I'm trying to load Hazelcast from a custom ClassLoader that is not backed by a file. Hazelcast calls ```ClassLoader.findResource``` to read the corresponding service descriptions from the ```.jar``` ```META-INF``` directory (like ```META-INF/services/com.hazelcast.instance.impl.NodeExtension```). Unfortunately, the Hazelcast class ```com.hazelcast.internal.util.ServiceLoader``` first converts the

[2020-04-03 04:01] jorrellz opened #16847 "management-center can't search for object"
Now I have a question about management-center 4.0.1.
The map value is a object like `ClusterInfo`, it serialize by `java.io.Serializable`
when I search on Map Browser, throw `com.hazelcast.nio.serialization.HazelcastSerializationException`

## ClusterInfo
[code]

### logs:
[code]

[2020-04-03 06:14] Danny-Hazelcast commented on #16732
3 passing runs to 1 failing run

Latest Fail

Hazelcast Enterprise 4.0.1-SNAPSHOT (20200402 - 100900d, e3aea38)

http://jenkins.hazelcast.com/view/freeze/job/freeze-data-loss/33/console

fail HzClient2HZ get hzcmd.map.GetNotNull threadId=3 global.AssertionException: DATA LOSS! for map mapBak1Bin key 88838

/disk1/jenkins/workspace/freeze-data-loss/4.0.1-SNAPSHOT/2020_04_02-14_40_36/x

 http://54.1

[2020-04-03 15:40] ahmetmircik commented on #16732
Here is my understanding of what happened...

As i see from the logs, the issue here is a split brain issue.

If one client gets member list from just unfrozen node, just before it joins back to other nodes' cluster, in this specific time interval, the client thinks there is only this unfrozen member in the cluster and disconnects from others.(unfrozen member's member-list-version is greater than

[2020-04-06 09:07] mmedenjak commented on #16835
Yes, we could log a warning or throw an exception but right now we can't modify the behaviour because we have to keep backwards compatibility. Some users might rely on the current behaviour.

[2020-04-06 09:26] mmedenjak commented on #6600
Conclusion from PR - there is no good way in how the thread name can be changed "on-the-fly" as various profilers and tools show different results. As a result, the only approach we can think now is adding configuration support for creating concrete executors, all with different thread names. Unfortunately, this is a laborious task with questionable benefits. Allowing users to create threads easil

[2020-04-06 09:51] mmedenjak commented on #16732
Thank you for the explanation. @sancar can you confirm and can we close this issue?

[2020-04-06 09:57] mmedenjak commented on #16847
@jorrellz the message `java.lang.ClassNotFoundException: com.flying.cattle.mt.entity.ClusterInfo` indicates that you probably haven't loaded the class definition on the MC process doing the deserialisation. Is that true?

[2020-04-06 10:09] mmedenjak commented on #16846
Seems this was introduced [here](https://github.com/hazelcast/hazelcast/pull/2757/files#diff-c65f883247a8a0ee77203d603292ad88R118) by @sancar . Sancar, do you remember the reasoning?

[2020-04-06 10:16] ahmetmircik commented on #16732
We have talked with Sancar and have decided on creating a new issue to pursue possible improvements here like selecting the brain that has more members.

[2020-04-06 10:28] sancar commented on #16846
Unfortunately I don't remember. From the heading of the pr, I assume that changes were accidental when trying to fix a checkstyle/findbugs issue.

[2020-04-06 10:51] mmedenjak commented on #16846
Thank you Sancar! @ulfjack care to send a PR?

[2020-04-06 12:03] sancar commented on #16732
I have checked the logs and indeed this seems like a split brain situation. And the client behaves as expected.

The cluster is split 3 to 1.
A member from 3 member side of the split brain:
[code]

Other half of the split brain
[code]

When the client sees the Data loss, It is during the time that cluster is split. The behaviour actually same as 3.12. The connection is not named owner connection a

[2020-04-06 13:30] Danny-Hazelcast opened #16852 "hot restart member java.lang.IllegalStateException: Node failed to start"
hot restart test,
http://jenkins.hazelcast.com/view/hot-restart/job/hot-bounce/50/console

where i kill -9 all cluster members, and restart.
after a few rounds of this, it fails with

fail HzMember3HZ java.lang.IllegalStateException: Node failed to start!

maybe, some times the cluster is not killed quick enough so the partition table changes just before all cluster members are killed, which leads

[2020-04-06 15:03] ahmetmircik opened #16854 "Picking the brain that has more members"
Situation is described here: https://github.com/hazelcast/hazelcast/issues/16732#issuecomment-608512539

This issue is here to pursue possible improvements in the incident of network failure.

[2020-04-06 15:07] sancar opened #16855 "A potential bug on handling split brain from clients"
We discussed a problematic scenario with @ahmetmircik .
Putting here the scenario to verify the problem later.

Let us have 5 members A B C D E (member list version 5)
1 . Assume that they split into two cluster as A-B-C(member list version 6) and D-E(member list version 6)
2. Client was listening the member list from D. Client updates its local as "D-E(member list version 6)"
3. E left the cluste

[2020-04-06 15:07] ahmetmircik commented on #16732
Closing this issue, since current behavior found here aligns with the design and it is expected. But some enhancement ideas are around and have opened an enhancement issue for them: https://github.com/hazelcast/hazelcast/issues/16854.

[2020-04-06 15:07] #16732 closed

[2020-04-07 02:26] jorrellz commented on #16847
@mmedenjak  yes. Thank you very much! The problem was solved!

[2020-04-07 06:22] mmedenjak commented on #16847
Glad that was the case, closing the issue. Happy hazelcasting!

[2020-04-07 06:22] #16847 closed

[2020-04-07 08:42] snicoll commented on #7448
I can see that this issue was assigned to the 4.1 backlog. Are you reconsidering [the change you made in v4](https://github.com/hazelcast/hazelcast/issues/7448#issuecomment-546338038) and will you split those jars after all?

I am asking because it makes the upgrade to v4 in Spring Boot quite difficult as we've mentioned previously here. Having both in the same jar will not let us figure out if th

[2020-04-07 09:17] vpavic commented on #7448
As a long-time Hazelcast user, it always struck as weird to have server components needed on the classpath when I'm simply connecting to a remote cluster. The `hazelcast.jar` is over 11 MB big and it's not reasonable to have to pull in that big of a dependency in some simple application just to be able to connect to a remote Hazelcast cluster.

The change made in `4.0` packaging was a step back IM

[2020-04-07 10:30] mmedenjak commented on #7448
@snicoll no, we're not reconsidering splitting it in the near future. The issue has been moved to backlog for now and we _probably_ won't make any changes until the next major version because of backwards compatibility guarantees.

Still, I understand how this does not fare well with your use case and I think it is worth revisiting this decision at some point in the future. Inviting @sancar and @a

[2020-04-07 12:17] #16776 closed

[2020-04-07 12:26] TomaszGaweda opened #16859 "Add portScanRange for TCP/IP connectivity"
Hi,

would be great to have option like portScanRange for TCP/IP join. The reason is, when there are few clusters in the network, TCP join scans 5701, 5702, 5703 and stops. We can increase `hazelcast.tcp.join.port.try.count` to higher numbers, but it unnecessarily scans many ports and makes joining longer. This is especially visible on Jenkins with many automated tests, but also may affect product

[2020-04-07 13:10] #16838 closed

[2020-04-07 14:28] #16852 closed

[2020-04-07 14:29] vbekiaris commented on #16852
Fixed in `master` by https://github.com/hazelcast/hazelcast-enterprise/pull/3571

[2020-04-07 15:36] mmedenjak commented on #7448
@vpavic @snicoll Not that it's going to justify the decision for your case but I can give you some context about why we decided to merge the client and core hazelcast JAR for Hazelcast 4.0.

As you might know, to use clients in 3.x, you needed to have both the `hazelcast-client.jar` and the `hazelcast.jar` on the classpath. During 4.0 development, we determined that the `hazelcast.jar` dominated i

[2020-04-07 15:47] vpavic commented on #7448
I didn't suggest that the size is not a concern introduced by `4.0`. It was actually among the concerns expressed when this issue [was raised](https://github.com/hazelcast/hazelcast/issues/7448#issue-130674056), over 4 years ago.

Over 11 MB worth of dependencies is a tough pill to swallow for e.g. some embedded client operating in resource-constrained environment that's trying to connect to Hazel