[2020-08-05 15:28] mustivar commented on #13302
Hi, we were using a servlet checking the cluster safe state with getPartitionService().isClusterSafe() and it was working ok.
Howver, we switched to use Hazelcast as a standalone docker image and decided to use Hazelcast's health check endpoint for this purpose and exactly experiencing the problem you mention here.

Our automation suffers from this, is there any plans on this or do you have any wo

[2020-08-05 16:32] pveentjer commented on #17265
I just did 2 runs. 1 client with 1 cluster member doing a get of 5KB and 100 concurrent threads.

I did one run with a cached value of Imap and one where I obtain the map on every invocation of the get. There is no significant difference in the performance.

![image](https://user-images.githubusercontent.com/105243/89438875-09cde500-d752-11ea-9f66-555dd646b16f.png)

Both tests have run for 30m. Th

[2020-08-06 07:30] mmedenjak commented on #17260
There is definitely a [default timeout](https://github.com/hazelcast/hazelcast/blob/97ff57ba92dc1fbfa77720885e7db40757999080/hazelcast/src/main/java/com/hazelcast/config/cp/CPSubsystemConfig.java#L107-L111), I just don't know if it's applied in case of unsafe, I'd say yes but you can also try it out.

[2020-08-06 09:33] taburet opened #17314 "Improve floating-point special values handling"
`float` and `double` (`REAL` and `DOUBLE`) have special values: `+/-Infinity`, `NaN` and `-0.0` as defined by IEEE 754. Decide on the following:

1. Support of infinities and NaNs in math expressions: apparently a typical solution is to "transparently" pass infinities and NaNs through a certain operator if special values are provided to it externally and indicate an error if a special value was pr

[2020-08-06 10:20] taburet opened #17315 "Improve handling of dynamic parameters"
1. Improve error messages for dynamic parameters: the standard Calcite template (`illegal use of dynamic parameter`) doesn't provide enough context.

2. Find a way to assign a type to a standalone parameter: `SELECT ?` now produces `illegal use of dynamic parameter`.

Probably the same improvements could be applied to `NULL`.

[2020-08-06 10:42] vbekiaris commented on #17312
For programmatic JCache API config, user can define the server or client-side provider either by system property or by using one of the public `String` constants in `HazelcastCachingProvider` with `Caching.getCachingProvider(className)` method variant as described in [`HazelcastCachingProvider` javadoc](https://github.com/hazelcast/hazelcast/blob/b0a8a6656b3d58b7ef17b2afb62c353dc34b127b/hazelcast/

[2020-08-06 11:14] blazember opened #17316 "Add convenient API for loading declarative config from a known path"
We have `Config.load()` for loading the declarative configuration from the known locations (system property, classpath, working directory). Similarly, we need a convenient API for loading XML and YAML declarative configurations where the location of the configuration is known, but if it's XML or YAML is not. We have the building blocks for that (`[XML|Yaml]ConfigBuilder`, `ConfigRecognizer` implem

[2020-08-06 12:47] lazerion commented on #15969
- Continues to fail [Build #581 (Aug 6, 2020 6:32:11 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-sonar/581/#showFailuresLink)

[2020-08-06 14:08] #17296 closed

[2020-08-06 14:28] jerrinot commented on #17312
Thank you @vbekiaris. From your links I understood the "official" way is to set the `hazelcast.jcache.provider.type` system property to either `client` or `server`.
I believe `application.properties` cannot set system properties at all. @pivovarit can you please confirm?

If that's the case then we have to come-up with some other way.
We cannot keep showing `.impl.` classes in our examples and als

[2020-08-06 14:41] pivovarit commented on #17312
No, you cannot set that using  `application.properties`. Making it work would require some hackery to set required system property before the context gets wired up. Our provider could also read `*.properties` files but that would be extremely fragile. Such configs can come, for example, from a config server and not a file so I don't think it's an option.

Having two separate providers is pretty ha

[2020-08-06 15:19] vbekiaris opened #17319 "JCache providers only accept XML as declarative config"
**Describe the bug**
JCache initialization with explicit configuration file fails with YAML config file.

**Expected behavior**
Since YAML config is now supported, it is expected that users can initialize JCache providers with both supported declarative config formats (XML & YAML).

**To Reproduce**
[code]
fails with:
[code]

[2020-08-06 15:26] vbekiaris commented on #17312
A delegate sounds like a good approach to me, resolves the name issue for all kinds of declarative config.

Another thought that *might* help with spring setup specifically: currently the `HazelcastCachingProvider` determines the kind of delegate caching provider eagerly in the constructor. Instead, we could defer this decision until the delegate actually has to be instantiated (essentially any `C

[2020-08-06 15:27] vbekiaris commented on #17312
side-note: I created related issue #17319 . Since YAML config was introduced it should be also supported for `HazelcastInstance`s started in the context of a JCache caching provider.

[2020-08-06 15:37] jerrinot commented on #17312
I think `spring.cache.jcache.config=classpath:hazelcast.xml` is rather similar to the already existing auto-detections in Spring Boot.
Perhaps it belong into Spring Boot rather than a pure Spring integrations. I see it as a possible (ux) optimization, but not as a primary mechanism.

[2020-08-06 16:02] lprimak commented on #17260
Ok, let's say it did timeout, after split-brain healing, shouldn't there be a new session?
The exception occurs from Hazelcast thread and there is no way to catch it or do something about it from the application,
so even if the session did time out, I don't think this is a proper behavior.

In all honesty, I am not too familiar how this is supposed to work, but my gut says that exception like this

[2020-08-07 12:42] vbekiaris commented on #15969
The failures are caused by other tests not destroying caches used in tests -> MBeans are left registered on the platform MBean server -> verifications about number of registered mbeans in `CacheManagerManagementTest` are off. I am trying to reproduce the failures, having added a JMX leak detector in the test's `BeforeClass` method, but the builds so far pass on my clone of the Sonar jenkins job. I

[2020-08-07 12:58] mmedenjak commented on #16672
@cksiow you might want to switch to Hazelcast 4.0.3 once it's released where we made some improvements to how metrics uses JVM memory (https://github.com/hazelcast/hazelcast/pull/17145).

[2020-08-07 13:08] mmedenjak commented on #17307
@mirwais-sys is it the case that the client was running but simply disconnected and reconnected? If so, it's possible the list changed in the meantime and doesn't contain enough elements.

[2020-08-07 13:20] mmedenjak commented on #13302
@mesutcelik any suggestions on @mustivar 's question?

[2020-08-07 13:29] mmedenjak commented on #17260
You're probably right, I'll just leave it to the people who know what they are talking about to answer at this point :)

[2020-08-07 20:43] sumnerib opened #17322 "hazelcast-spring.xsd missing 'native-memory' element for client"
The following configuration for a client integrated with Spring get's an error for `Invalid element name: native-memory`:

[code]

![image](https://user-images.githubusercontent.com/20101711/89686127-bf707380-d8cb-11ea-835c-be916d31dd0e.png)

The equivalent 'non-Spring' configuration is considered valid:

[code]

This can be observed with older versions (such as 3.9) as well as the latest version.

[2020-08-07 21:12] blazember commented on #17322
Thank you for reporting this @sumnerib :+1:
There is already an open PR adding this to 4.1: https://github.com/hazelcast/hazelcast/pull/17282

[2020-08-10 06:07] #17312 closed

[2020-08-10 08:55] olukas opened #17324 "Some threads are not finished correctly in testsuite"
Some threads are still alive after testsuite is finished. Some of them can block generating test coverage by jacoco (it is run as hook in JVM shutdown which can be blocked by some of those threads - they're killed forcefully by surefire after 30seconds from testsuite is finished).

This is summarized list of hazelcast-related alive threads. Duplicated stacktraces were removed in this list, please

[2020-08-10 13:46] Holmistr opened #17325 "Fix ignored test"
The random test failures got a bit out of hand. I'm filing this issue to track the tests that we have ignored to unblock the PR builder and the development. We will jump on this list right after the Beta release and we will fix every single one of those.

[2020-08-11 08:07] #15393 closed

[2020-08-11 08:54] viliam-durina commented on #17314
We also should consider functions like `IS_NAN`, `IS_FINITE`, `IS_INFINITE` etc.

[2020-08-11 11:20] taburet opened #17329 "Support CASE operator"
1. Revive CASE support from https://github.com/hazelcast/hazelcast/pull/17183/commits/c1a5855c8212e429b5d7245a1906713af01e624b and 7f29e69e24bcd44dec551b9d255171a48bdda0ec.

2. Add end-to-end tests.

3. Try to fix type inference for `case ? when true ... when 1.0 ...`.

4. Make error messages more precise.

[2020-08-11 11:42] Danny-Hazelcast opened #17330 "sql HD idx IndexOutOfBoundsException: Source offset: 4, length: 0, size: 0 SEVERE logging"
i found this is the logs of some experiment test's i am running on the lab,   stable cluster
only this is logged it looks like the sql queries are returning the correct results

[code]

[code]

[2020-08-11 12:48] mmedenjak commented on #15969
Can we add some logging then, maybe some tracking of MBeans creation/destruction and close the issue then?

[2020-08-11 12:59] Danny-Hazelcast commented on #17330
[danny@server16 workspace]$ ls /nfs/danny/issue-17330/
HzCmd.properties  a.box   config-hz             executor-reg  listeners  map-lock   near-cache-get  output   pred-agg    queue  ring   ttl-put
HzCmd.ser         atomic  execute-on-predicate  hz-trial1     map-cas    mixed-sql  nohup.out       pid.txt  projection  rest   topic  update-listener

[danny@server16 workspace]$ cat  /nfs/danny/issue-

[2020-08-11 13:20] Danny-Hazelcast commented on #17330
ls /nfs/danny/issue-17330-2nd/

[code]

[2020-08-11 13:33] lazerion opened #17332 "BronKerboschCliqueFinderTest test6DisconnectedSubgraphsOfWholeGraph failure"
- Fails on `Hazelcast-4.master-ZingJDK8`
- Fails on [Build #202 (Aug 10, 2020 5:18:17 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-ZingJDK8/202/testReport/junit/com.hazelcast.internal.util.graph/BronKerboschCliqueFinderTest/test6DisconnectedSubgraphsOfWholeGraph/)
- Stacktrace
[code]

- It looks timeout, but I could not remember this test failing before, therefor

[2020-08-11 13:35] petrpleshachkov opened #17333 "Split brain healing may cause index/storage inconsistency"
t seems we've introduced a bug here https://github.com/hazelcast/hazelcast/pull/15854#discussion_r468580177. In this PR we've refactored the index updates into observes and do the index update BEFORE updating the storage. The update removes the old entry and inserts new one which is exactly the same because it takes it from the record that is not updated. After that, we do the storage update and r

[2020-08-11 14:12] leszko commented on #13302
We have a separate endpoint to decide if Hazelcast already joined the cluster `/hazelcast/health/ready`. I guess this one can be used for the scenario you mentioned.

To me, it sounds fine that `/health` returns `200` when Hazelcast didn't (yet) joined the cluster. After all, it's healthy, it's just not ready. For example, Kubernetes should not automatically terminate Hazelcast pod just because it

[2020-08-11 14:33] mustivar commented on #13302
@leszko I also thought to use "ready" check but I think it comes with 3.12 version.
Currently we are using 3.10.4 version so I could not try that so I don't know if it works.
But does it make sense getting "/ready -> not ready" and "/cluster-safe -> safe" at the same time?

[2020-08-11 14:58] Danny-Hazelcast commented on #17330
looks like fixed with https://github.com/hazelcast/hazelcast-enterprise/pull/3694

[2020-08-12 04:45] leszko commented on #13302
Yes, the semantic is different:
- `/ready` [1]: member has started and is able to receive the traffic
- `/cluster-safe` [2]: no ongoing migration and member in safe state

[1] https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandProcessor.java#L108
[2] https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/co

[2020-08-12 05:25] Danny-Hazelcast commented on #14572
[code]

(base) [jenkins@ip-10-72-134-107 create-use-destroy]$ pwd
/disk1/jenkins/workspace/kill-All/3.12.9/2020_08_11-10_14_42/stable/destroy/create-use-destroy

[code]

[2020-08-12 07:56] taburet opened #17334 "Support remainder operator"

[2020-08-12 08:57] #17330 closed

[2020-08-12 10:21] mesutcelik commented on #17229
Hi @bmageshvec ,

If I understood your question correct, you can customize hazelcast config with `spring.hazelcast.config` in each your profile config file. `hazelcast.yaml` will be default one if nothing is specified.

[2020-08-12 11:21] alexosenov opened #17335 "ReplicatedMap high memory consumption when replicating"
Greetings!
I am having a huge issue with the ReplicatedMap reserving and consuming enormous amounts of heap memory.
The problem gets even worse when there are 2 or more members. This is my scenario.

1. Start pod-1 with Spring Boot + Kafka + Hazelcast. (Replication factor : 1)
2. The app inits the HazelcastInstace, but NOT the Kafka Consumer.
3. Fetch 1milion rows from the DB and do a putAll in a

[2020-08-12 11:55] jerrinot commented on #17335
hi @alexosenov,

thanks for reporting an issue and a great description of the behavior you observe! I wish more reports were as comprehensive as yours!

We could probably improve the memory consumption during replication when a new member joins - to eliminate memory spikes. You could try to change the `hazelcast.partition.max.parallel.replications` property. It's set to 5 by default. You can try t

[2020-08-12 12:49] alexosenov commented on #17335
Thank you for the reply @jerrinot !!

I will experiment with other GCs and properties. I am running Java-11. A wild guess here, but any idea if the following class is responsible for the replication ?
com.hazelcast.replicatedmap.impl.operation.ReplicationOperation ?

[2020-08-12 13:25] #17001 closed

[2020-08-12 13:43] jerrinot commented on #17335
With JDK 11 your best bet is G1. Unless you are on Red Hat builds of OpenJDK which includes Shenandoah. Shenandoah is also being backported into OpenJDK 11 upstream so eventually it should be available in more distributions. It's not easy, is it? :)

Indeed `com.hazelcast.replicatedmap.impl.operation.ReplicationOperation` is used to data partitions from one member to another. You can see it's crea

[2020-08-12 14:01] alexosenov commented on #17335
Does ReplicationOperation really pull all of the objects + serialize in order to replicate :?. This should explain the memory spike, I guess.

[2020-08-12 14:37] leszko commented on #17231
@SledgeHammer01 can you try if the following code sample works for you?
https://github.com/hazelcast/hazelcast-code-samples/tree/master/hazelcast-integration/eureka/springboot-embedded

[2020-08-12 15:17] devozerov opened #17339 "SQL math expressions"
We need to implement base math expressions:
1. `COS`/`SIN`/`TAN`/`COT`/`ACOS`/`ASIN`/`ATAN`
1. `EXP`/`LN`/`LOG10`
1. `RAND`
1. `ABS`
1. `SIGN`
1. `DEGREES`/`RADIANS`
1. `ROUND`/`TRUNCATE`
1. `CEIL`/`FLOOR`

[2020-08-13 08:30] Danny-Hazelcast commented on #16827
[code]

[2020-08-13 08:35] Danny-Hazelcast opened #17342 "AssertionError: null BitmapIndexStore.update(BitmapIndexStore.java:215)"
http://jenkins.hazelcast.com/view/freeze/job/freeze-x/83/console  is running all tests in "hz/stable/sql"

fail HzClient3HZ put-mapBak1Bin hzcmd.map.PutRandomStylePerson threadId=0 java.lang.AssertionError: null

http://54.147.27.51/~jenkins/workspace/freeze-x/4.1-SNAPSHOT/2020_08_13-07_53_37/sql/bit-map/output/HZ/HzClient3HZ/exception.txt

[code]

[2020-08-13 08:51] Danny-Hazelcast commented on #17342
java.lang.NullPointerException
	at java.lang.invoke.MethodHandle.invokeWithArguments(MethodHandle.java:627)
	at com.hazelcast.internal.util.ExceptionUtil.tryWrapInSameClass(ExceptionUtil.java:243)
	at com.hazelcast.internal.util.ExceptionUtil.wrapException(ExceptionUtil.java:138)
	at com.hazelcast.internal.util.ExceptionUtil.peel(ExceptionUtil.java:114)
	at com.hazelcast.internal.util.ExceptionUti

[2020-08-13 08:53] Danny-Hazelcast commented on #17342
http://jenkins.hazelcast.com/view/freeze/job/split-x2/10/console

[2020-08-13 08:53] Danny-Hazelcast commented on #17342
http://jenkins.hazelcast.com/view/split/job/split-x2/10/console

[2020-08-13 08:55] Danny-Hazelcast commented on #17342
[code]

[2020-08-13 09:22] petrpleshachkov commented on #17342
It seems `rethrow(exception)` doesn't work properly with the `AssertionError`. However, the original `AssertionError` happened in the `BitmapIndexStore`.

CC @taburet

[2020-08-13 09:44] handysofts commented on #11415
The same issue for me. We are deploying to VM and in local it was discovered cluster as soon as a node is up but in the server, it stucks. It takes around 5 mins to discover new nodes and join to cluster. It solved after changing the multicast group as **224.0.0.1**

[2020-08-13 09:58] Danny-Hazelcast commented on #17342
/disk1/jenkins/workspace/split-x2/4.1-SNAPSHOT/2020_08_13-07_55_56/sql/bit-map Failed

fail HzMember4HZBB put-mapBak1Bin hzcmd.map.PutRandomStylePerson threadId=0 java.lang.NullPointerException

 http://54.147.27.51/~jenkins/workspace/split-x2/4.1-SNAPSHOT/2020_08_13-07_55_56/sql/bit-map

[2020-08-13 11:54] jerrinot commented on #17335
@alexosenov: it does. including metadata, etc. See the [serialization logic](https://github.com/hazelcast/hazelcast/blob/97ff57ba92dc1fbfa77720885e7db40757999080/hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/operation/ReplicationOperation.java#L119)

[2020-08-13 12:37] alexosenov commented on #17335
@jerrinot Where I can check how it is decided that an Entry should be replicated, because I am observing heap doubling only when a member joins, which means I can use the min.members property to have 2 and batch load the data to circumvent the issue.

[2020-08-13 15:23] #17277 closed

[2020-08-14 05:31] donggyu04 opened #17345 "Illegal access operations in hazelcast 4.0.2"
An illegal reflective access operation has occurred in this [code](https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/internal/networking/nio/SelectorOptimizer.java#L92).

[code]

My environment.

[code]

[2020-08-14 08:32] #17188 closed

[2020-08-14 09:25] #17205 closed

[2020-08-14 09:52] kwart opened #17347 "SqlErrorClientTest.testMapMigration fails"
The `com.hazelcast.sql.SqlErrorClientTest.testMapMigration[smartRouting:true]` failed on the PR builder http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/1812/

**Stacktrace**
[code]

[2020-08-14 11:47] devozerov opened #17349 "SQL: Add RAND_INTEGER function"
Currently, we support RAND function that returns the inexact numbers. We need to add RAND_INTEGER overload, which will return exact INT values.

[2020-08-14 11:48] devozerov opened #17350 "SQL: Support object comparison"
Object comparison is not supported at the moment. We should add support for it.

[2020-08-14 11:49] devozerov opened #17351 "SQL: Support POSITION/REPLACE functions"
These functions are widely used. We should support them.

[2020-08-14 11:50] devozerov opened #17352 "SQL: Add support for trim functions"
SQL has a family of functions for trimming: `TRIM`, `LTRIM`, `RTRIM`.
We need to support these functions.

[2020-08-14 11:53] devozerov opened #17353 "SQL: Support ATAN2 function"
We support all trigonometric functions except for ATAN2. Need to support it as well

[2020-08-14 11:54] devozerov commented on #17350
Duplicated to https://github.com/hazelcast/hazelcast/issues/17302. Closing.

[2020-08-14 11:54] #17350 closed

[2020-08-14 12:00] devozerov opened #17354 "SQL public API polishing"
The following changes to public API are needed in 4.1:
1. Rename `SqlException` to `HazelcastSqlException` to avoid name conflicts with JDBC.
1. Move SqlErrorCode to private package, because it is going to be changed heavily during JDBC implementation
1. Rename `SqlQuery` -> `SqlStatement`, `SqlService.query` -> `SqlService.execute` because in future we will also support DML and DDL, that are not

[2020-08-14 12:00] devozerov commented on #17182
Will be fixed at https://github.com/hazelcast/hazelcast/issues/17354 together with several other public API changes.
Closing this as duplicate

[2020-08-14 12:00] #17182 closed

[2020-08-14 13:46] Danny-Hazelcast opened #17355 "NullPointerException HDExpirableIndexStore.java:56"
http://jenkins.hazelcast.com/view/stable/job/stable-x1/93/console

 /disk1/jenkins/workspace/stable-x1/4.1-SNAPSHOT/2020_08_14-11_19_12/sql/hd-idx-put-remove Failed
fail HzMember1HZ _hd-idx-put-remove_sql_idx_mapBak1HDSqlIdx hzcmd.map.SetIndexMulti java.lang.NullPointerException
http://54.147.27.51/~jenkins/workspace/stable-x1/4.1-SNAPSHOT/2020_08_14-11_19_12/sql/hd-idx-put-remove

/disk1/jenkins/

[2020-08-14 13:49] Danny-Hazelcast commented on #17355
[code]

[2020-08-14 13:50] Danny-Hazelcast commented on #17355
16:48:51 /disk1/jenkins/workspace/stable-x1/4.1-SNAPSHOT/2020_08_14-11_19_12/sql/index-heavy Failed
16:48:51 fail HzMember1HZ _idx-heavy_sql_idx_mapBak1HDSqlIdx hzcmd.map.SetIndexMulti threadId=0 java.lang.NullPointerException [0m
16:48:51 http://54.147.27.51/~jenkins/workspace/stable-x1/4.1-SNAPSHOT/2020_08_14-11_19_12/sql/index-heavy

[2020-08-14 13:52] Danny-Hazelcast commented on #17355
Hazelcast Enterprise 4.1-SNAPSHOT (20200814 - 9b49ea1, bd83a76)

[2020-08-14 14:05] petrpleshachkov commented on #17355
Also notice that according to the stack traces this is an old partitioned HD index.
Cc @mmedenjak

[2020-08-14 14:10] Danny-Hazelcast commented on #17355
/disk1/jenkins/workspace/freeze-x/4.1-SNAPSHOT/2020_08_14-13_39_46/sql/data-serializable

16:59:58 /disk1/jenkins/workspace/freeze-x/4.1-SNAPSHOT/2020_08_14-13_39_46/sql/data-serializable Failed
16:59:58 fail HzMember1HZ _data-serializable__sql_idx_mapBak1HDSqlIdx hzcmd.map.SetIndex threadId=0 java.lang.NullPointerException [0m
16:59:58 http://54.147.27.51/~jenkins/workspace/freeze-x/4.1-SNAPSHOT

[2020-08-15 07:47] devozerov opened #17356 "SQL predicates testing"
Presently predicates are supported, but not tested yet. We should add integration tests for them:
1. AND
1. OR
1. NOT
1. Comparisons
1. IS (NOT) TRUE/FALSE/NULL

[2020-08-16 19:27] Holmistr commented on #17333
@petrpleshachkov We should backport the fix only into still supported versions which is 4.1, 4.0.x, 3.12.x and 3.11.x

[2020-08-17 07:14] mmedenjak commented on #17229
Thank you for the confirmation @mesutcelik , closing as answered. @bmageshvec please comment or open a new issue if necessary. Happy Hazelcasting!

[2020-08-17 07:14] #17229 closed

[2020-08-17 07:32] mirwais-sys commented on #17307
Yes, the client instance(s) was disconnected and reconnects after a deployment. But the HZ members were all time online and the exception above comes happens on the members, not on the clients.

[2020-08-17 07:49] mmedenjak commented on #17347
@devozerov can you take a look?

[2020-08-17 08:24] mmedenjak commented on #17333
Trying to figure out how this relates to https://github.com/hazelcast/hazelcast/issues/17205 - is the difference that this one is related to split-brain healing while the other one relates to regular entry update?

[2020-08-17 08:25] Danny-Hazelcast opened #17358 "wan Failed to serialize WanEventContainerOperation oome hprof jvm crash hs_pid core"
http://jenkins.hazelcast.com/view/wan/job/wan-sync-oome/55/console

/disk1/jenkins/workspace/wan-sync-oome/4.1-SNAPSHOT/2020_08_15-18_22_02/sync-oome

output/C/HzMember1C/HzMember1C.hprof
output/C/HzMember1C/HzMember1C.oome

http://54.147.27.51/~jenkins/workspace/wan-sync-oome/4.1-SNAPSHOT/2020_08_15-18_22_02/sync-oome

[code]

[code]

[2020-08-17 08:28] Danny-Hazelcast commented on #17358
http://jenkins.hazelcast.com/view/wan/job/wan-sync-oome/56/console

/disk1/jenkins/workspace/wan-sync-oome/4.1-SNAPSHOT/2020_08_16-17_07_57/sync-oome

output/A/HzClient1A/exception.txt
output/A/HzMember1A/core.2670
output/A/HzMember1A/hs_err_pid2670.log
output/A/HzClient2A/exception.txt

 http://54.147.27.51/~jenkins/workspace/wan-sync-oome/4.1-SNAPSHOT/2020_08_16-17_07_57/sync-oome

[code]

[code

[2020-08-17 08:30] burakcelebi commented on #17228
Hey @the-thing, could you please let us know if you have any update on this? Please let us know if you need any help :)

[2020-08-17 08:30] Danny-Hazelcast commented on #17358
<img width="922" alt="Screen Shot 2020-08-17 at 11 29 53" src="https://user-images.githubusercontent.com/5988678/90375018-0a814800-e07d-11ea-9eae-7c949489b42f.png">
<img width="927" alt="Screen Shot 2020-08-17 at 11 30 03" src="https://user-images.githubusercontent.com/5988678/90375034-0e14cf00-e07d-11ea-94b3-abf056580433.png">

[2020-08-17 08:40] mmedenjak commented on #17345
@donggyu04 can you try out the instructions for running in modular java here - https://docs.hazelcast.org/docs/latest/manual/html-single/#running-in-modular-java ?

[2020-08-17 09:11] petrpleshachkov commented on #17333
Yes, this relates to the split-brain healing and this is a regression.

[2020-08-17 09:32] the-thing commented on #17228
Hi @burakcebi,

I don't need help at the moment, but I have been on holidays and I don't have PC access. I think I should be able to provide PR next weekend unless this is urgent.

[2020-08-17 09:33] petrpleshachkov commented on #17325
Some run parameters for `MapWanSyncAPITest` are ignored.

[2020-08-17 09:42] a544793138 opened #17359 "Near Cache is not controlled by Split Brain Protection"
**Describe the bug**
When split brain isn't happened, near cache caches correct data for service. Then split brain happens, the service which caches by near cache is still returning correct response.

**Expected behavior**
when split brain has happened, all service shuold be forbidden.

**To Reproduce**

Steps to reproduce the behavior:
1. split brain not happens
2. near cache caches the correct r

[2020-08-17 09:55] devozerov opened #17360 "Extend test coverage for SQL expressions"
The following test cases should be added to the expressions test suite:
1. `BOOLEAN` columns and parameters for math functions
1. `HazelcastInferTypes.explicit`
1. `ReplaceUnknownOperandTypeInference`

[2020-08-17 10:21] ahmetmircik commented on #17347
New similar test failure but happening on node side:
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/1843/testReport/junit/com.hazelcast.sql/SqlErrorTest/testMapMigration/

[code]

[2020-08-17 10:29] mmedenjak commented on #17146
@siva-vs any updates on this issue? Have you tried any of the suggestions?

[2020-08-17 10:32] mmedenjak commented on #16810
Closing as it seems this issue has been resolved. Thank you for the answer @mdogan and @menih if you have any further questions, please stop by our [community slack](https://slack.hazelcast.com/) or [google groups](https://groups.google.com/forum/#!forum/hazelcast). Happy Hazelcasting!

[2020-08-17 10:32] #16810 closed

[2020-08-17 11:03] devozerov commented on #17347
The problem is fixed in https://github.com/hazelcast/hazelcast/pull/17361
The description of the change could be found in the PR.

[2020-08-17 11:06] mmedenjak commented on #17307
In that case, I believe it's possible the client asked for item number 1627 and got disconnected. The request was being retried on the client but in the meantime, the list shrunk on the members. Once the client gets reconnected, the request is executed but there is no more item number 1627.

[2020-08-17 11:44] clsaa opened #17363 "How change the log path of hazelcast?"
**How change the log path of hazelcast**

**My framework dependence the hazelcast. My framework has a log file independent of business applications**

**So I want to print Hazelcast logs to my frame log file instead of printing directly to the business application log file**

...

**Please describe the desired behavior**
...

**Describe alternatives you've considered**
...

[2020-08-17 12:04] jerrinot commented on #17363
hi @clsaa, what logging framework is your application using? You can instruct Hazelcast to use a logging library of your choice. see: https://docs.hazelcast.org/docs/4.0.2/manual/html-single/index.html#logging-configuration

Once it's configured then you use a library-specific configuration.
Example: If your application uses `log4j` then you set `hazelcast.logging.type` property to `log4j`. Hazelc

[2020-08-17 12:05] jerrinot commented on #17363
I'm closing this issue. Please use community [support forum](https://groups.google.com/forum/#!forum/hazelcast) for questions. thanks!

[2020-08-17 12:05] #17363 closed

[2020-08-17 13:09] mmedenjak commented on #17265
@tonitingaurav any updates? Are you able to maybe isolate the issue to a smaller codebase and share some profiler data with us? Unfortunately we can't conclude anything from the information you've provided. Some of your findings are inconclusive and some are not showing the whole picture. It'd be better to profile the application and take a look at the findings in its' entirety.

[2020-08-17 13:10] mmedenjak commented on #17185
@tonitingaurav any updates, could you run with a profiler?

[2020-08-17 13:11] mmedenjak commented on #14253
@gedl I know it's been a long time but can you provide more information or are you not encountering the issue anymore or not working on the same codebase anymore?

[2020-08-17 13:11] mmedenjak commented on #17104
@pavelorehov any updates on the issue?

[2020-08-17 13:13] mmedenjak commented on #5757
@ahmetmircik is this something that could be easily fixed during the stabilization phase or is it better to address it at the beginning of the release cycle?

[2020-08-17 13:24] pavelorehov commented on #17104
We moved to client/server mode, all 4 loaded JVMs are clients and new JVM as server, that solved the issue for now.

[2020-08-17 13:28] pveentjer commented on #16604
Closing due to inactivity.

[2020-08-17 13:28] #16604 closed

[2020-08-17 13:33] #17358 closed

[2020-08-17 21:39] peterjot commented on #16260
Could I take that issue? @mmedenjak  @Holmistr

[2020-08-18 05:50] #17339 closed

[2020-08-18 07:17] mmedenjak commented on #17325
`MapWanSyncAPITest` was fixed so unignored.

[2020-08-18 07:19] mmedenjak commented on #17359
Thank you for the report @a544793138 ! We'll consider it as an enhancement. Adding to backlog to assess the community interest.

[2020-08-18 07:53] mmedenjak commented on #16260
Sure, as far as I'm concerned. Since I'm not familiar with the client architecture too much, I'd prefer if @sancar is able to provide some initial pointers.

[2020-08-18 08:15] donggyu04 commented on #17345
@mmedenjak

Thanks, that works fine 👍

[2020-08-18 08:15] #17345 closed

[2020-08-18 12:52] elR1co opened #17370 "Async version of IMap.values() and IMap.values(Predicate)"
Today `IMap.values()` and `IMap.values(Predicate)` calls are blocking.

I would like to use `IMap.values(Predicate)` in a Jet Pipeline, which is possible, but I need to declare it as nonCooperative, and will have an impact on the pipeline scalability.

Would it be possible to have an async (non-blocking) version for these calls ?

Thank you very much for all the hard work done !

[2020-08-18 13:59] viliam-durina opened #17371 "Wrong error message: local class can have a no-arg constructor."
When a local `DataSerializable` class misses the default constructor, this is thrown:

[code]

This is true for a local class in non-static method. In a static method adding a no-arg constructor is possible.

[2020-08-18 14:00] olukas commented on #16827
We encountered this issue in Jet soak tests. What seems interesting is that for some reason the issue does not occur if hot-restart is enabled.

[2020-08-18 14:11] blazember opened #17372 "ConfigReadOnly inconsistencies"
We have `*ConfigReadOnly` extensions to `*Config` for a subset of the configs only. This makes the config API inconsistent and allows config mutations where it's not intended to or simply pointless. The config API should be made consistent on this front by adding the readonly extensions to the ones lacking it. Note that this may change the (unintentional) contract of the config API, which should b

[2020-08-18 18:06] Holmistr commented on #16260
@peterjot From my side absolutely as well :) But @sancar is the expert in this area, we will need his involvment for this one :) @sancar Could you provide guidelines on how to approach this? I guess it's not that easy one.

[2020-08-19 08:06] ahmetmircik commented on #5757
it needs a redesign of internal mechanism, i see this a candidate for release cycle beginning.

[2020-08-19 09:57] gierlachg opened #17374 "Failing NodeThreadLeakTest.testLeakWhenCreatingConnectionManager"
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/1879/

[2020-08-19 10:12] #17374 closed

[2020-08-19 11:36] #17356 closed

[2020-08-19 12:28] lazerion opened #17377 "MigrationCorrectnessTest testPartitionData_whenBackupNodesStartedTerminated_withRestart"
- Fails on `Hazelcast-4.master-ZuluJDK13`
- Fails on [Build #63 (Aug 18, 2020 8:11:00 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-ZuluJDK13/63/testReport/junit/com.hazelcast.internal.partition/MigrationCorrectnessTest/testPartitionData_whenBackupNodesStartedTerminated_withRestart_backups_3_nodes_4_fragmented_true_/)
- Error
[code]
- Stacktrace
[code]
- I cannot

[2020-08-19 13:14] devozerov opened #17378 "Introduce SQL string functions"
We need to introduce basic string functions for our SQL engine.

[2020-08-19 13:28] devozerov opened #17381 "SQL index support"
We need to add index support to the SQL engine

[2020-08-19 19:09] #17322 closed

[2020-08-20 07:54] mmedenjak commented on #17370
@elR1co thank you for the suggestion. I believe the functionality should be rather simple to add but since we're at the end of the release cycle and since we're heavily investing into our new SQL engine, we'll postpone work on this. Still, if you want to take a shot at it, please do, we can try and guide you.

[2020-08-20 08:32] linking12 opened #17384 "hazelcast 4.0.2 support jdk11?"
**Describe the bug**
[code]

**Expected behavior**
        There is no error
**To Reproduce**
         Use Jdk11

**Additional context**
I think com.hazelcast.internal.nio.ClassLoaderUtil is something wrong;

[2020-08-20 08:43] #16976 closed

[2020-08-20 08:45] mmedenjak commented on #5757
Great, thank you, moving to next release then.

[2020-08-20 08:57] jerrinot commented on #17384
@linking12: do you have the bucket4j library on a classpath of you Hazelcast members?

[2020-08-20 09:04] linking12 commented on #17384
@jerrinot  yes，I have bucket4j-hazelcast in my classpath;
                      <dependency>
				<groupId>com.github.vladimir-bukhtoyarov</groupId>
				<artifactId>bucket4j-hazelcast</artifactId>
				<version>4.10.0</version>
			</dependency>

[2020-08-20 12:00] jerrinot commented on #17335
@alexosenov: [ReplicatedMap](https://docs.hazelcast.org/docs/4.0.2/manual/html-single/index.html#replicated-map) is replicated to all members. When a new member is joining then it will get a full replica of all Replicated Maps.
Example: When you have 5 members in your cluster then each member will have all members stored. Is this the behaviour you want? Replicated Map is usually used for small-ish

[2020-08-20 13:40] jerrinot commented on #17384
@linking12: are you sure you have bucket4j library available on Hazelcast server classpath?
I have tried it with JDK 14 and it works for me just fine. See the [example](https://github.com/jerrinot/ratelimiter/tree/b50fdc09a91d451bf050fef6b995d3db58c75a0a/src/test/java/info/jerrinot).

You start 2 instances of the `Member`[https://github.com/jerrinot/ratelimiter/blob/b50fdc09a91d451bf050fef6b995d3d

[2020-08-20 14:40] ilkerkorkut opened #17387 "Lack of connection and read timeouts on ManagementCenterService"
openGetTaskConnection method's connection hasn't any timeout settings.

https://github.com/hazelcast/hazelcast/blob/3.12.z/hazelcast/src/main/java/com/hazelcast/internal/management/ManagementCenterService.java#L732

The following settings should be added.

[code]

Thanks.

[2020-08-20 14:53] linking12 commented on #17384
@jerrinot
![image](https://user-images.githubusercontent.com/4882172/90787327-329bd000-e337-11ea-8a8e-dcffeb5b5cea.png)

JDK:
https://corretto.aws/downloads/latest/amazon-corretto-11-x64-linux-jdk.tar.gz

JDK Version:
![image](https://user-images.githubusercontent.com/4882172/90787597-78589880-e337-11ea-8355-6befb71f5873.png)

[2020-08-20 15:37] linking12 commented on #17384
@jerrinot
Can you compile your code in jdk8 and run it in jdk11?  I think class loader is changed; so you can not reduce it;

[2020-08-20 15:57] jerrinot commented on #17384
@linking12 I just tried it with corretto-11.0.8 and it's working just fine.

In theory it could be some interaction between Spring Boot fat jar and Hazelcast classloading. If you could prepare a demo project and upload it to Github it would really help to speed-up investigation.

[2020-08-21 07:11] #17160 closed

[2020-08-21 07:39] #17378 closed

[2020-08-21 08:45] Danny-Hazelcast opened #17390 "com.hazelcast.core.HazelcastException: Disposed B+tree cannot be accessed, concurrent map create use destroy"
http://jenkins.hazelcast.com/view/stable/job/stable-All/38/console

/disk1/jenkins/workspace/stable-All/4.1-SNAPSHOT/2020_08_20-22_34_02/destroy/create-use-destroy Failed

fail HzClient1HZ _create-use-destroy_createUseDestroy_mapBak1HDIdx hzcmd.map.CreatePutIdxDestroy threadId=0 com.hazelcast.core.HazelcastException: Disposed B+tree cannot be accessed. [0m

http://54.147.27.51/~jenkins/workspace/

[2020-08-21 09:14] jerrinot opened #17391 "Inconsistency in EvictionConfig"
When you instantiate a new EvictionConfig(), it has the eviction policy set to [EvictionPolicy.LRU](https://github.com/hazelcast/hazelcast/blob/b0a8a6656b3d58b7ef17b2afb62c353dc34b127b/hazelcast/src/main/java/com/hazelcast/config/EvictionConfig.java#L67))

But: The default eviction config set on the map has the eviction policy set to [EvictionPolicy.NONE](https://github.com/hazelcast/hazelcast/blo

[2020-08-21 14:34] viliam-durina opened #17393 "Cooperative failure in readMap"
When `readMapP` has a projection to an object that doesn't implement `equals`, the cooperative emission can fail with
[code]
I think it works correctly if assertions are disabled, though I did not test.

[2020-08-21 14:57] #17393 closed, assigned to viliam-durina

[2020-08-23 18:20] Holmistr commented on #8213
I believe that we can close this issue as we have invested significant effort into speeding up migrations. Let's close it and possibly open another issue for particular case.

[2020-08-23 18:20] #8213 closed

[2020-08-24 05:51] linking12 commented on #17384
@jerrinot
I have fix this problem，maybe is spring boot container issue，i fix it as shown below；
![image](https://user-images.githubusercontent.com/4882172/91008210-6f561880-e610-11ea-95a6-16544f2bd589.png)

But when I upgrade jdk8 to jdk11，I have another issue，may be is replicaMigrationFailed triggered，Do you have any idea？
![image](https://user-images.githubusercontent.com/4882172/91008323-b6440e

[2020-08-24 06:18] mmedenjak commented on #12011
The naming inside private API is messy, sometimes it's `internal`, sometimes it's `impl`, sometimes it's internal twice (`com.hazelcast.spi.impl.operationservice.impl.OperationServiceImpl`) and more.

[2020-08-24 08:14] SiddhantAgarwal17 commented on #11230
We observe a similar behavior with Hazelcast 4.0.1. Here is the configuration that we rely on:
[code]
This seems to be a very basic behavior which we expect to work. What we tried was a PUT followed by an immediate GET. Out of the 10,000 entries that we ran for, we experienced it for about 25 entries. However, in one or two instances this behavior wasn't observed.

[2020-08-24 10:16] Holmistr commented on #12011
@mmedenjak I see, thanks. Let's take a look at this (hopefully) in the next release.

[2020-08-24 11:28] Serdaro commented on #12320
https://github.com/hazelcast/hazelcast-reference-manual/commit/f4185e903a59dd466343e0c02676376417a2931b

[2020-08-24 13:59] Holmistr commented on #12320
@Serdaro :rocket: Fantastic. Closing this issue as solved.

[2020-08-24 13:59] #12320 closed

[2020-08-24 17:47] Sutty100 opened #17398 "Hazelcast shutdown order incorrect in Spring Boot 2.3"
Spring boot has introduced graceful shutdowns in 2.3
https://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/html/spring-boot-features.html#boot-features-graceful-shutdown

However Hazelcast initiates a shutdown before all requests have completed from Tomcat, this results in some requests returning an error to the user because the hazelcast instance is not in an active state. It would b

[2020-08-25 07:01] mmedenjak commented on #12098
The current SQL engine will be ultimately replaced with the newer one so I don't think it's worth investing into this.

[2020-08-25 07:02] mmedenjak commented on #11844
Conclusion on the thread naming: it's not that simple - https://github.com/hazelcast/hazelcast/issues/6600#issuecomment-609680119

[2020-08-25 12:32] Danny-Hazelcast commented on #17355
@petrpleshachkov  so it looks like this issue is fixed,  if you have a corresponding PR which fixes this issue we can cross link it

[2020-08-25 12:32] #17355 closed

[2020-08-25 14:00] gierlachg opened #17404 "Improve PortableGenericRecordBuilder missing fields handling"
Using `PortableGenericRecordBuilder` all the fields from the `ClassDefinition` must be written. In case they are not, an exception is thrown, however it does not help the user to spot the exact cause of the problem.

[code]

An exception with proper name and/or description should be used.

[2020-08-25 17:24] #17381 closed

[2020-08-26 08:52] sancar opened #17412 "com.hazelcast.collection.impl.queue.QueueSplitBrainTest.testSplitBrain[mergePolicy:class com.hazelcast.test.SplitBrainTestSupport$MergeCollectionOfIntegerValuesMergePolicy]"
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2067/testReport/junit/com.hazelcast.collection.impl.queue/QueueSplitBrainTest/testSplitBrain_mergePolicy_class_com_hazelcast_test_SplitBrainTestSupport$MergeCollectionOfIntegerValuesMergePolicy_/

[code]

[2020-08-26 09:31] Danny-Hazelcast commented on #17194
https://github.com/hazelcast/hazelcast/pull/17338

[2020-08-26 09:31] #17194 closed

[2020-08-26 09:31] Danny-Hazelcast commented on #17193
https://github.com/hazelcast/hazelcast/pull/17338

[2020-08-26 09:31] #17193 closed

[2020-08-26 09:32] Danny-Hazelcast commented on #17192
https://github.com/hazelcast/hazelcast/pull/17338

[2020-08-26 09:32] #17192 closed

[2020-08-26 09:32] Danny-Hazelcast commented on #17191
https://github.com/hazelcast/hazelcast/pull/17338

[2020-08-26 09:32] #17191 closed

[2020-08-26 09:32] Danny-Hazelcast commented on #17190
https://github.com/hazelcast/hazelcast/pull/17338

[2020-08-26 09:32] #17190 closed

[2020-08-26 12:05] Danny-Hazelcast opened #17413 "member jvm crash"
[danny@server16 output-jvmCrash-sqlService-memberShutdown]

/nfs/danny/output-jvmCrash-sqlService-memberShutdown

./HZ/HzMember9HZB/hs_err_pid657210.log
./HZ/HzMember9HZB/core.657210

[code]

[2020-08-26 12:11] petrpleshachkov commented on #17342
As we discussed with @taburet , recent fixes in the storage/index subsystem make sure that the index doesn't contain more entries than storage. We do this to avoid dangling pointers issue and subsequent JVM crash.

The bitmap index internally relies on the strong consistency of the storage/index. As pointed out in the PRD https://hazelcast.atlassian.net/wiki/spaces/PM/pages/2452979880/Revise+IMap+

[2020-08-26 13:11] #17404 closed

[2020-08-26 14:18] #17413 closed

[2020-08-26 14:20] Danny-Hazelcast opened #17417 "sqlService.execute(sqlStatement); returned incorrect number of rows after member shutdown"
sqlService.execute(sqlStatement); returned incorrect number of entries after member shutdown

/nfs/danny/output-sqlService-1001-2nd

[code]

global.AssertionException: select * from mapBak1Bin0 where personId >= 618216 and personId < 619216 returned 1001 rows, expected 1000

[2020-08-26 14:22] Danny-Hazelcast commented on #17417
INFO: [10.212.40.102]:5701 [HZ] [4.1-SNAPSHOT] Hazelcast Enterprise 4.1-SNAPSHOT (20200826 - 9ea64af, de7cb4b) starting at [10.212.40.102]:5701

[2020-08-27 06:14] neilstevenson opened #17418 "Use of non-UTF8 characters in field breaks query on a different field for HazelcastJsonValue"
See [Stack Overflow question 63607692](https://stackoverflow.com/questions/63607692/why-hazelcast-not-query-incorrect-result-with-imap-and-hazelcastjsonvalue-includ)

**Describe the bug**
A query on a field in a JSON value does not find that value if there is an index on another field in that JSON, where that field contains UTF-16.

**Expected behavior**
What is in one field should not affect a qu

[2020-08-27 08:50] Danny-Hazelcast commented on #17417
/nfs/danny/output-sqlService-shut-idx-issue/

[code]

[2020-08-27 09:51] mdogan opened #17420 "Invocation.initInvocationTarget may fail with MemberLeftException incorrectly"
`Invocation.initInvocationTarget` throws `MemberLeftException` when  a target member was found earlier but current target member does not exist. For address and partition based invocations this assumption is correct, but not always correct for CP Subsytem's Raft based invocations, when CP persistence is enabled.

https://github.com/hazelcast/hazelcast/blob/fcdb433644d1eba3ba7db68356efaafe6f7e4389/

[2020-08-27 12:07] javanotes commented on #9753
Hi Team, has this been put into formal solution? I am experiencing this in 4.0.2

[2020-08-27 15:37] pivovarit commented on #17391
There's more inconsistencies like this one (check: https://github.com/hazelcast/hazelcast/pull/17402).

Maybe we should start a bigger effort to align it?

[2020-08-28 14:04] kierendavies opened #17425 "Vulnerability in dependency snakeyaml-engine v1.0"
Hazelcast depends on snakeyaml-engine v1.0, which has a reported denial-of-service vulnerability [CVE-2017-18640](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-18640). This can be solved by upgrading to snakeyaml-engine v2.1.

[2020-08-28 15:10] mmedenjak commented on #17425
Thank you for the report @kierendavies ! We'll look into it and see how much we need to adapt in our codebase.

[2020-08-29 19:46] lprimak opened #17427 "Remove sleep statements, fix excessive delays when joining a cluster (2 seconds minimum)"
**Please describe the problem you are trying to solve**

When joining cluster, there are two variables that introduce delays:
`hazelcast.wait.seconds.before.join` and `hazelcast.max.wait.seconds.before.join`
Minimal delay is 5 seconds on the server and 1-2 seconds on the client,
with maximum delay of 10 seconds.

In the world of cloud and quick startups, these delays are really excessive and
unacc

[2020-08-29 19:48] lprimak commented on #17427
Am I on the right track here? If yes, perhaps I can contribute a fix to this

[2020-08-29 22:27] lprimak commented on #17427
Above PR is for client-side delay reduction (no one-second sleep loop)

[2020-08-30 09:28] lazerion opened #17429 "Multiple SqlIndexResolutionTest case failures"
- Fails on `Hazelcast-4.master-sonar` and others. i.e. `Hazelcast-4.master-Windows-OracleJDK8`
- Fails on [Build #606 (Aug 29, 2020 9:17:00 PM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-sonar/606/#showFailuresLink)
- We have `968` failing test case in `SqlIndexResolutionTest`
- Sample Error
[code]
- Stacktrace
[code]
- Kindly check.

[2020-08-31 06:56] Danny-Hazelcast opened #17433 "NullPointerException invokeOnPartition(ClientProxy.java:190) OperationRunnerImpl.run(OperationRunnerImpl.java:180)"
http://jenkins.hazelcast.com/view/shutdown/job/shutdown-data-loss/182/console

/disk1/jenkins/workspace/shutdown-data-loss/4.1-SNAPSHOT/2020_08_31-02_59_01/data-loss Failed

 fail HzClient4HZ get_mapBak0HD hzcmd.map.GetNotNull threadId=3 java.lang.NullPointerException

[code]

[2020-08-31 09:54] sancar commented on #16768
Hi @jawitcher did you have a chance to work on this? Do you need any help?

[2020-08-31 12:32] mariusz2108 opened #17436 "Cp subsystem client is froze after restart cp subsystem server instances"
**Describe the bug**
After restarting all server instances of cp subsystem client throws NotLeaderException

**Expected behavior**
Client should connect to cluster and work fine.

**To Reproduce**

Steps to reproduce the behavior:
1. Run cp subsystem server with 3 instances.
`    public static void main(String[] args) {
        System.out.println(ManagementFactory.getRuntimeMXBean().getName());

[2020-08-31 13:00] sancar commented on #17433
@Danny-Hazelcast Because of another bug, we don't see the real cause of the `NullPointerException`. I will send a fix for that, and hopefully, the test will fail again to catch the cause of `NullPointerException`.

[2020-08-31 16:05] melloware commented on #17425
Yep our builds just started failing because of this vulnerability.

[2020-08-31 17:08] seanlruff opened #17441 "EntryStore - Serialization Exception on IMap.put"
**Describe the bug**

When using the new EntryStore API, and issuing a "PUT" into the IMap for an item which is NOT in the IMap but does exist in the backing store (database), the DefaultRecordStore will fetch the value (which is a MetadataAwareValue) from the store and attempt to return it without unraveling the value.  This causes HZ to throw the following error:

Exception in thread "main" com.

[2020-08-31 18:37] #17390 closed

[2020-09-01 05:50] pivovarit opened #17442 "AntiEntropyCorrectnessTest.testPartitionData"
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2156

*AntiEntropyCorrectnessTest.testPartitionData[backups:2,nodes:7]*

[code]

Looks like it's related to: https://github.com/hazelcast/hazelcast/pull/17197

[2020-09-01 06:42] devozerov commented on #16977
The issue is not valid - there are no fundamental problems with `PartitionIdSet`. Closing.

[2020-09-01 06:42] #16977 closed

[2020-09-01 07:08] devozerov commented on #16929
I analyzed what could be the potential root cause of the failure. It seems that the organization of the test is not reliable: it may happen that a message is sent from an inactive member, which could lead to the error in the stack trace.

[2020-09-01 07:10] devozerov commented on #16929
To summarize, here are the problems with the tests:
1. It may send messages from the stopped member. The fix - submit messages directly to the executor of the remote member
1. It does not properly check for non-started queries. Instead, it should wait for some time, ensuring that no queries are started

[2020-09-01 08:03] mmedenjak commented on #16328
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2161

[2020-09-01 08:03] mmedenjak commented on #14492
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2161

[2020-09-01 08:21] mmedenjak commented on #14492
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2135

[2020-09-01 08:21] mmedenjak commented on #17021
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2135

[2020-09-01 08:22] alkoclick opened #17444 "Jackson versions and vulnerabilities"
Hey folks,

Hazelcast shades [Jackson 2.9.7](https://github.com/hazelcast/hazelcast/blob/master/pom.xml#L91), which currently is [about 2 years old](https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.9.7). There's a lot of Jackson CVEs out there (https://github.com/FasterXML/jackson-databind/issues/2814 is the latest that popped up for us), often centered around gadgets, as explained by c

[2020-09-01 08:23] mmedenjak commented on #15562
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2144

[2020-09-01 08:25] mmedenjak commented on #14492
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2149

[2020-09-01 08:51] #15969 closed

[2020-09-01 09:35] mmedenjak commented on #716
Related: https://github.com/hazelcast/hazelcast/pull/16736

[2020-09-01 09:44] mmedenjak commented on #15445
Related on old query engine:
https://github.com/hazelcast/hazelcast/issues/8231
https://github.com/hazelcast/hazelcast/issues/16920

[2020-09-01 09:47] mmedenjak commented on #8231
Since we're heavily invested in the new query engine, I'm not sure if it's worth fixing this. Keeping it around just in case.

[2020-09-01 09:47] mmedenjak commented on #16920
Since we're heavily invested in the new query engine, I'm not sure if it's worth fixing this. Keeping it around just in case.

[2020-09-01 09:57] mdogan commented on #17377
([log](
https://j-artifacts.s3.amazonaws.com/Hazelcast-pr-builder/2166/build_log.txt), [artifacts](https://j-artifacts.s3.amazonaws.com/Hazelcast-pr-builder/2166/Hazelcast-pr-builder-2166.zip)).

[code]

[2020-09-01 09:58] mmedenjak commented on #7591
Since we're heavily invested in the new query engine, I don't think it makes sense to put too much time into this.

[2020-09-01 09:59] mmedenjak commented on #8080
Closing as it seems there is already a way how to get these.

[2020-09-01 09:59] #8080 closed

[2020-09-01 09:59] mmedenjak commented on #7589
Since we're heavily invested in the new query engine, I don't think there's much sense in spending too much time on this.

[2020-09-01 10:04] #17429 closed

[2020-09-01 10:04] mdogan commented on #11647
A new failure: http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2172/testReport/junit/com.hazelcast.collection.impl.txnqueue/TransactionQueueTest/testIssue859And863_WhenQueuesAreOnSecondInstance_comparatorClassName__null_/

[code]

[2020-09-01 10:07] mmedenjak commented on #2114
Since we're heavily invested in the new query engine, I don't think we should spend too much time on this.

[2020-09-01 10:08] mmedenjak commented on #10286
Since we're heavily invested in the new query engine, I don't think we should spend too much time on this.

[2020-09-01 10:10] mmedenjak commented on #8305
Since we're heavily invested in the new query engine, I don't think we should spend too much time on this.

[2020-09-01 10:11] mmedenjak commented on #12205
Since we're heavily invested in the new query engine, I don't think we should spend too much time on this.

[2020-09-01 10:15] mmedenjak commented on #11234
Since we're heavily invested in the new query engine, I don't think we should spend too much time on this. Maybe we should think more about how we will integrate the new query engine with diagnostics cc @devozerov

[2020-09-01 10:16] mmedenjak commented on #13744
Since we're heavily invested in the new query engine, I don't think we should spend too much time on this.

[2020-09-01 10:16] mmedenjak commented on #13738
Since we're heavily invested in the new query engine, I don't think we should spend too much time on this.

[2020-09-01 10:16] mmedenjak commented on #13563
Since we're heavily invested in the new query engine, I don't think we should spend too much time on this.

[2020-09-01 10:16] mmedenjak commented on #13510
Since we're heavily invested in the new query engine, I don't think we should spend too much time on this.

[2020-09-01 10:17] mmedenjak commented on #13654
Related: https://github.com/hazelcast/hazelcast/pull/16736

[2020-09-01 10:18] mmedenjak commented on #13322
Since we're heavily invested in the new query engine, I don't think we should spend too much time on this.

[2020-09-01 10:19] mmedenjak commented on #13148
Related: https://github.com/hazelcast/hazelcast/pull/16736

[2020-09-01 10:20] mmedenjak commented on #12927
Since we're heavily invested in the new query engine, I don't think we should spend too much time on this.

[2020-09-01 10:20] mmedenjak commented on #15178
Since we're heavily invested in the new query engine, I don't think we should spend too much time on this.

[2020-09-01 10:22] mmedenjak commented on #14888
Since we're heavily invested in the new query engine, I don't think we should spend too much time on this.

[2020-09-01 10:23] mmedenjak commented on #14913
Moving back to 4.1 since I believe that most (if not all) methods have now been covered and we just need to double-check and possibly close this issue.

[2020-09-01 10:25] mmedenjak commented on #14791
Fixed by https://github.com/hazelcast/hazelcast-enterprise/pull/3552.

[2020-09-01 10:25] #14791 closed

[2020-09-01 10:26] mmedenjak commented on #14326
Since we're heavily invested in the new query engine, I don't think we should spend too much time on this.

[2020-09-01 10:26] mmedenjak commented on #14469
Since we're heavily invested in the new query engine, I don't think we should spend too much time on this.

[2020-09-01 10:27] mmedenjak commented on #13788
Since we're heavily invested in the new query engine, I don't think we should spend too much time on this.

[2020-09-01 10:29] mmedenjak commented on #16269
Since we're heavily invested in the new query engine, I don't think we should spend too much time on this.

[2020-09-01 10:32] mmedenjak commented on #15439
Since we're heavily invested in the new query engine, I don't think we should spend too much time on this.

[2020-09-01 10:35] mmedenjak commented on #16866
Closing as fixed by the added API. We can open new issues in case we see cases which can be improved.

[2020-09-01 10:35] #16866 closed

[2020-09-01 10:36] mmedenjak commented on #16844
Closing as fixed in 4.1

[2020-09-01 10:36] #16844 closed

[2020-09-01 10:38] mmedenjak commented on #16675
Closing as fixed by https://github.com/hazelcast/hazelcast/pull/16815.

[2020-09-01 10:38] #16675 closed

[2020-09-01 10:40] mmedenjak commented on #17120
Moving back to 4.1 as there is already a simple fix PR for this.

[2020-09-01 10:41] mmedenjak commented on #17135
@mdogan @petrpleshachkov any ideas if we could easily add this in 4.1?

[2020-09-01 10:42] mmedenjak commented on #17260
@mdogan @petrpleshachkov any ideas about this one?

[2020-09-01 10:47] mdogan commented on #17135
I don't think we can integrate this into `HazelcastInstance. getDistributedObjects()`. Instead we can introduce a new method under `CPSubsystem`.  But it may not have the same guarantees of the former method; like returning all CP objects created in cluster. We may only return locally known objects. Otherwise it needs a coordination between members of multiple CP groups.

[2020-09-01 10:54] mdogan commented on #17260
In _unsafe_ mode we don't support split-brain merges at all. (CP mode is immune to network partitions already :)

Exception log above is from `UnsafeRaftBackupOp`'s execution, so it doesn't effect the caller side. Other than that, this needs more investigation for unsafe mode under network partitions. I'm not sure how it'll behave exactly, except we are all sure it will be _unsafe_ under partition

[2020-09-01 10:55] mmedenjak commented on #3093
Not much point in addressing this with the old query engine but needs to be inspected in the context of the new query engine.

[2020-09-01 12:19] mdogan commented on #17021
There's a serialization issue in the failure but I couldn't figure out yet the cause.

[code]

[2020-09-01 12:19] mdogan commented on #17377
There's a serialization issue in the failure but I couldn't figure out yet the cause.

[code]

[2020-09-01 12:56] devozerov commented on #17417
Fixed in https://github.com/hazelcast/hazelcast/pull/17449
Waiting for the review

[2020-09-01 12:59] devozerov commented on #11234
Yes, I think that we should first focus on monitoring for SQL instead of the old predicate API

[2020-09-01 14:09] sancar commented on #17433
@Danny-Hazelcast I have applied a fix that will reveal the cause of the NullPointerException if it occurs again.
How about if we close this issue and reopen it when it fails again? Because with the current stack trace on the issue, I don't have any clue.

[2020-09-01 14:49] #17332 closed

[2020-09-01 15:12] Danny-Hazelcast commented on #17433
@sancar  yes ok

[2020-09-01 15:12] #17433 closed

[2020-09-01 15:25] lprimak commented on #17260
@mdogan the bigger issue is that sometimes it freezes the whole lock after subsequent tries to acquire it,
thus, in Payara's case, freezes the whole application

[2020-09-01 17:17] mdogan commented on #17442
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2178/testReport/junit/com.hazelcast.internal.partition/AntiEntropyCorrectnessTest/testPartitionData_backups_3_nodes_7_/

[code]

[2020-09-01 17:18] mdogan commented on #14492
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2178/testReport/junit/com.hazelcast.internal.partition.impl/MigrationCommitTest/shouldCommitMigrationWhenSourceFailsDuringCommit/

[code]

[2020-09-01 20:07] Holmistr commented on #13345
Closing as it seems not reproducible anymore.

[2020-09-01 20:07] #13345 closed

[2020-09-01 20:11] Holmistr commented on #13711
@Pankaj227Sharma Sorry for the long delay - is there any update on that issue? Are you still experiencing it?

[2020-09-02 03:48] #17384 closed

[2020-09-02 07:37] mmedenjak commented on #15865
Since we're heavily invested in the new query engine, it's questionable how much time we should spend on this.

[2020-09-02 07:46] mmedenjak commented on #15896
As we're heavily invested in the new query engine, I don't think we should spend time on this. Still, it raises a question - if an SQL query touches an entry, should it update the statistics? As much as I would hope so, I think it might be prohibitively expensive and we might have to consider some different approach to read stats and TTL metadata. cc @devozerov

[2020-09-02 07:52] mmedenjak commented on #15031
As we're heavily invested in the new query engine, I don't know if it makes sense to spend too much time on this issue.

[2020-09-02 07:59] mmedenjak commented on #17325
There are no new tests that were ignored, closing.

[2020-09-02 07:59] #17325 closed

[2020-09-02 08:02] mmedenjak commented on #17135
Thank you @mdogan , moving from 4.1 and adding the enhancement label.

[2020-09-02 09:00] mdogan commented on #17377
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2180/testReport/junit/com.hazelcast.internal.partition/MigrationCorrectnessTest/testPartitionData_whenBackupNodesStartedTerminated_withRestart_backups_3_nodes_4_fragmented_false_/

[2020-09-02 09:02] mdogan opened #17453 "PostJoinMapOperationTest.testPostJoinMapOperation_mapWithIndex"
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2180/testReport/junit/com.hazelcast.map.impl.operation/PostJoinMapOperationTest/testPostJoinMapOperation_mapWithIndex/

[code]

[2020-09-02 09:03] mdogan commented on #17453
There was an earlier issue: https://github.com/hazelcast/hazelcast/issues/8257 for the same test.

[2020-09-02 09:10] mmedenjak commented on #17444
Hi @alkoclick ! Yes, you're right. We should definitely take a look. Unfortunately, this issue comes at a both unfortunate and opportune time when we're finalising a new release. We don't want to introduce too many changes and would prefer to stabilise the codebase. Still, it seems this is important. So I'll put this in the current milestone and see if it's simple to achieve and not too disruptive

[2020-09-02 09:12] mmedenjak commented on #17436
Hi @mariusz2108 ! I guess @mdogan can confirm but unless you're using CP persistence (which is an enterprise feature), restarting a member causes it to basically become a completely new replica. That said, if you restart all members, there is no initial member available and the CP subsystem cannot make progress. So this should be by-design.

[2020-09-02 09:40] mdogan commented on #17436
If you restart all cluster members, without CP persistence, they will form a fresh new CP subsystem. In this case, `default` CP group, which your `FencedLock` belongs to, will be assigned a new group ID.

If you look at the warning log at the server, you can see its former ID: `groupId=CPGroupId{name='default', seed=0, groupId=3740}`. After restart `default` group should have a different ID assign

[2020-09-02 09:41] mdogan commented on #17436
Still, we should be able to report it with a better exception, with a more meaningful message.

[2020-09-02 12:07] mmedenjak commented on #17324
Any updates on this issue @olukas @jerrinot ? I'd move this out of 4.1 milestone since I don't see this as critical.

[2020-09-02 12:21] olukas commented on #17324
@mmedenjak Feel free to move it out from 4.1 milestone. It was stable for while hence I turned off my patch for surefire which dumps threads when it gets stuck. It failed once from that time. I can turn the patch back on if you want. See https://sonarcloud.io/project/activity?from=2020-07-09T14%3A46%3A02%2B0000&graph=coverage&id=hz-os-master&selected_date=2020-09-02T02%3A51%3A22%2B0000.

[2020-09-02 12:24] mmedenjak commented on #17324
Sure, turn it back on and keep it like that if you want until it fails. Moving out of 4.1.

[2020-09-02 12:26] sancar opened #17457 "[TEST-FAILURE] ClientDiscoverySpiTest#testClientCanConnect_afterDiscoveryStrategyThrowsException"
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2186/testReport/junit/com.hazelcast.client.impl.spi.impl.discovery/ClientDiscoverySpiTest/testClientCanConnect_afterDiscoveryStrategyThrowsException/

Error Message
[code]

Critical log

[code]

[2020-09-02 12:59] mmedenjak commented on #6596
Related: https://github.com/hazelcast/hazelcast/pull/16736

[2020-09-02 13:00] mmedenjak commented on #1194
Related: https://github.com/hazelcast/hazelcast/pull/16736

[2020-09-02 13:19] sancar opened #17460 "IndexStatsChangingNumberOfMembersTest.testIndexStatsOperationChangingNumberOfMembers [HZ-959]"
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2188/testReport/junit/com.hazelcast.map/IndexStatsChangingNumberOfMembersTest/testIndexStatsOperationChangingNumberOfMembers_format_BINARY_/

[code]

[2020-09-02 13:24] devozerov commented on #15896
Yes, the straightforward update of the TTL for every entry could be prohibitively expensive. Consider a query that requires a full scan of the map (these are all queries that cannot use indexes) - it will update TTL for the whole map on every execution of the SQL request.

Maybe some sort of batching could help here. E.g. accumulate the number of scans, and then update entries accordingly. Or trac

[2020-09-02 13:28] #14492 closed

[2020-09-02 13:59] lazerion opened #17461 "Multiple CacheStatisticsMXBeanImpl as Leftover MBeans failures"
- Fails on `Hazelcast-4.master-CorrettoJDK8`
- Fails on [Build #88 (Sep 2, 2020 6:15:00 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-CorrettoJDK8/88/testReport/junit/com.hazelcast.cache/HazelcastServerCachingProviderTest/com_hazelcast_cache_HazelcastServerCachingProviderTest/)
- Error
[code]
- Stacktrace
[code]
- Similar failure for `HazelcastClientCachingProvide

[2020-09-02 14:38] pivovarit commented on #11647
Failed again here: https://github.com/hazelcast/hazelcast/pull/17452

[code]

[2020-09-02 14:49] #17412 closed

[2020-09-02 16:13] mmedenjak commented on #8063
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2198/

[2020-09-02 16:14] mmedenjak opened #17462 "TransactionQueueTest.testIssue859And863_WhenQueuesAreOnSecondInstance"
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2198/

[2020-09-02 17:27] MonDeveloper opened #17463 "Management Center Reload Security Config button fails. java.lang.NullPointerException: null"
**Describe the bug**
Management Center **Reload Security Config** button fails.

**Expected behavior**
The system load the configuration provided via `securityHotReload.properties`.

**To Reproduce**

Steps to reproduce the behavior:
1. Installation WAR based, started via command line (`hazelcast-management-center-4.0.war`)
[code]
2. Add the file `securityHotReload.properties` under the mc.home `C

[2020-09-02 17:41] melloware commented on #17444
OWASP dependency-check-maven plugin is reporting this as of this week blocking builds.
[code]

[2020-09-02 17:41] melloware commented on #17425
OWASP dependency-check-maven plugin is reporting this as of this week blocking builds.
[code]

[2020-09-02 19:21] mdogan commented on #8063
Same issue: https://github.com/hazelcast/hazelcast/issues/17377

[2020-09-03 03:20] lprimak opened #17466 "Hazelcast cluster join is not handling multi-homed hosts correctly"
**Describe the bug**
Trying to run a Hazelcast cluster on a multi-homed machine (Mac that's running both an
ethernet and WiFI connection)
This creates three-interface network: localhost, eth0, and wifi0
The host has three IP addresses - 127.0.0.1, 10.0.1.2, and 10.0.1.3
I am using TCP/IP join configuration. In this configuration, only new cluster members that use only
one IP address are able to co

[2020-09-03 07:15] vbekiaris commented on #17461
Created a fix (#17467) for these failures. Since #17443 was merged that introduced MBean leftover detection, it is possible we will see more failures related to leftover MBeans in builds, until we get to clean up all of them.

[2020-09-03 07:17] devozerov opened #17468 "Create the design document for SQL consistency guarantees"
We have an internal document [1] explaining the consistency guarantees of the engine. To put it short, the engine produces consistent results if there are no concurrent updates, but may produce duplicate rows or miss rows if there are concurrent updates. To fix these inconsistencies we should implement distributed transactions, which is out of the scope of the product strategy for now.

The goal o

[2020-09-03 07:19] devozerov commented on #15323
The issue is no longer valid.

[2020-09-03 07:19] #15323 closed

[2020-09-03 07:20] devozerov commented on #15318
The issue is outdated and is not longer valid.

[2020-09-03 07:20] #15318 closed

[2020-09-03 07:22] devozerov commented on #15268
Already fixed - we have static schema inference now.

[2020-09-03 07:22] #15268 closed

[2020-09-03 07:37] devozerov commented on #17352
Implemented in https://github.com/hazelcast/hazelcast/pull/17394

[2020-09-03 07:37] #17352 closed

[2020-09-03 07:42] devozerov opened #17469 "Prepare the list of missing SQL expressions"
We implemented a subset of SQL expressions, but not all of them. Presently, we do not have a clear list of functions that we would like to support in the future, neither we have priorities. We have several separate issues to support specific functions, but these issues do not reflect the whole picture.

We need to perform the product analysis and prepare the list of functions that we would like to

[2020-09-03 08:24] devozerov opened #17470 "Add "__value" alias for "this""
Currently, users may use `__key` and `this` system names to refer to the key and the value respectively, when performing SQL  and predicate API queries, and defining indexes.

This naming scheme appears to be inconsistent - why `__key`, but `this`?

The proposal is to refer to value as `__value` instead of `this`. Given that we have to maintain the backward compatibility, we cannot just drop `this

[2020-09-03 08:28] devozerov opened #17471 "Support non-nullable columns in SQL"
We need to expose the information about the column nullability to the public API.

This is a breaking change because we must serialize the nullability information, therefore we assign it to the 4.2 milestone.

General guidelines:
1. The nullability flag must be exposed in the `SqlColumnMetadata` class
2. The column metadata client serialization should be adjusted accordingly. There are two ways of

[2020-09-03 08:34] devozerov opened #17472 "Speedup SQL tests and move them to a single place"
Presently, SQL tests are split between two modules (`core` and `sql`), which is not very convenient for local runs. Another problem is that several tests dominate the execution time (`SqlIndexTest`, `SqlBasicTest`, and their child classes), which again makes local testing problematic, and extends Jenkins execution time significantly.

In the scope of this issue, I propose two changes to the test o

[2020-09-03 08:39] devozerov opened #17473 "Support JSON in the SQL"
Currently, we do not support JSON objects (`HazelcastJsonValue`) in the SQL. There are explicit checks that disallow queries over such data.

The main problem is unclear semantics of JSON field type resolution. Specifically, the `Extractors` class will resolve `2` as `java.lang.Long`, while `2.0` will be resolved as `java.lang.Double`. But the SQL engine uses strong typing, so we need more strict

[2020-09-03 08:42] devozerov opened #17474 "Create aliases for TIMESTAMP_WITH_TIME_ZONE data type"
Presently, to express the timestamp with timezone, we use the data type name `TIMESTAMP_WITH_TIME_ZONE`. Such a naming scheme is uncommon in SQL. Users would expect type specification without underscores (e.g. `TIMESTAMP WITH TIME ZONE`).

The goal of this issue is to consider alternative namings for this data type. Currently, we have two ideas:
- `TIMESTAMP WITH TIME ZONE` - match user expectatio

[2020-09-03 08:53] devozerov opened #17476 "Align SQL coercion with the SQL type system"
Presently we have a serious inconsistency in our design as explained below.

1. In the "Type System" design doc we define the term "implicit conversion". When the engine has a call site with type `A`, but the value of type `B` is passed, then the engine could convert `B` to `A` iff the implicit conversion from `B` to `A` is allowed. There is a table defining which conversions are possible. An exam

[2020-09-03 09:00] devozerov opened #17477 "Add tests with surrogate pairs for string SQL functions"
UTF-16 allows for so-called surrogate pairs, that actually span two `char` instances. E.g. `🌉`.
It feels like most of our string SQL functions cannot deal with it properly, because we never check for code points, and rely on single characters as well.

The goal of this issue is to add tests for surrogate pairs and fix/clarify the behavior of the engine:
1. If it is possible to fix the function, wi

[2020-09-03 09:08] mmedenjak commented on #16898
Fixed with https://github.com/hazelcast/hazelcast/pull/17348, closing.

[2020-09-03 09:08] #16898 closed

[2020-09-03 11:12] mdogan commented on #17377
Ignored frequently failing parameters of `MigrationCorrectnessTest`until we find the reason of the failure: https://github.com/hazelcast/hazelcast/pull/17479

[2020-09-03 11:12] #17442 closed

[2020-09-03 12:14] #17228 closed

[2020-09-03 12:54] kovalcikm commented on #15559
Any news?

[2020-09-03 13:50] mmedenjak commented on #11647
Looks like this is an artifact of our invocation system being at-least-once. The `TxnReservePollOperation` is invoked [here](https://github.com/hazelcast/hazelcast/blob/416f627ea1a0cada60dd781bddb93fc545ef3940/hazelcast/src/main/java/com/hazelcast/collection/impl/txnqueue/TransactionalQueueProxySupport.java#L140-L141) and it assumes it will only run once. In fact, it runs twice and manages to remo

[2020-09-03 13:51] mmedenjak commented on #11647
Other similar issues: https://github.com/hazelcast/hazelcast/issues/11839 and https://github.com/hazelcast/hazelcast/issues/12952.

[2020-09-03 14:00] mmedenjak commented on #15559
The initial version of the new query engine is about to be released next week. We'll have more information on what is and what is not possible soon. Sorting isn't possible, unless you're using a sorted index I guess. That should come in 4.2.

[2020-09-03 14:56] vbekiaris commented on #17187
Already fixed by #17309

[2020-09-03 14:56] #17187 closed

[2020-09-03 14:59] ian-jones opened #17488 "Ringbuffer reads with different filters can block each other"
[hz-ringbuffer-blocker.zip](https://github.com/hazelcast/hazelcast/files/5169333/hz-ringbuffer-blocker.zip)
**Description**
When using Ringbuffer.readManyAsync with a minimum value and different filters from different threads then if one operation's filter does not pass more than the minimum number of items then subsequent read operations are blocked even if their filters would match the required

[2020-09-03 15:22] yozank opened #17489 "Split Brain discovery fails in smaller cluster in some edge cases [HZ-1180]"
We have some customer issues (6538, 5832, 5684, 5270) with incident logs and configurations.

After the split-brain happens, the bigger cluster is able to do the split-brain discovery and send `SplitBrainMergeValidationOp` to the smaller cluster. However, this does not start the split-brain merge, because the merge starts after the small cluster discovers the bigger cluster.

In some cases, we see

[2020-09-03 15:28] yozank opened #17490 "Initiate the split-brain merge process after bigger cluster sends the SplitBrainMergeValidationOp [HZ-1181]"
Related to #17489

There are some cases where the small cluster does not do the split-brain discovery, so the merge process never begins.

With the current logic, both clusters do the split-brain discovery but the bigger cluster just logs the situation but does not initiate the merge process.
The small cluster receives the SplitBrainMergeValidationOp from the bigger cluster, prints some logs, and

[2020-09-04 00:09] francesco-hz commented on #14973
The issue has been reported again, on a [3.11] cluster. ZD6483.
Interestingly, logs were captured since IMDG node start, and another `NullPointerException` exception is seen right before `ArrayIndexOutOfBoundsException` in the probe.

*Following exception Repeated 5 times, at diagnostics interval*

java.lang.NullPointerException: null
        at com.hazelcast.internal.diagnostics.StoreLatencyPlugi

[2020-09-04 08:47] pivovarit commented on #16596
Just like @jerrinot said above. We could hack it through, but it's not even 1% needed to get the server part up and running on native. This and hundreds of other small issues will be taken care of when we start working on enabling GraalVM compatibility. I added a _GraalVM_ label for future reference.

Closing for now.

Btw, the client part works smoothly with Quarkus already([link](https://github.

[2020-09-04 08:47] #16596 closed

[2020-09-04 09:00] the-thing commented on #14459
Is that something I could pick up?

[2020-09-04 09:29] lazerion commented on #17065
@Holmistr as checking `4.1-BETA-1` assembly I noticed below under `lib` directory of uploads to download machine after extraction
[code]
kindly advise inclusion of `sql` module.
cc @devozerov

[2020-09-04 09:52] sancar commented on #17015
Failed again here:

http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2231/testReport/junit/com.hazelcast.client.topic/ClientReliableTopicOnClusterRestartTest/shouldFail_OnClusterRestart_whenDataLoss_notLossTolerant/

[code]

[2020-09-04 11:07] #17457 closed

[2020-09-04 13:01] a1dutch commented on #17425
@mmedenjak can this be backported to 3.12.x?

[2020-09-04 13:01] a1dutch commented on #17444
@mmedenjak can this be backported to 3.12.x?

[2020-09-04 13:11] devozerov commented on #16929
As discussed with @lazerion, closing this issue for the following reasons:
1. We haven't seen the failure since the initial report on Apr 25
1. The test doesn't look good, and it makes sense to fix it. However, the fix is not trivial, so it is better to do together with the planned protocol fixes https://github.com/hazelcast/hazelcast/issues/16868 (the test in question checks the protocol)

[2020-09-04 13:11] #16929 closed

[2020-09-04 13:13] mmedenjak commented on #17444
Depends on the extent of changes introduced by this. We have compatibility guarantees that we are not supposed to break in minor releases, although some might be ignored if the vulnerability is severe.

[2020-09-05 14:54] devozerov opened #17497 "Predicate API results could be inconsistent in case of concurrent partition indexing"
It seems that there are several scenarios when our predicate API could return inconsistent results. This issue is inspired by the problem with inconsistent index results when running SQL queries, found in the ticket https://github.com/hazelcast/hazelcast/issues/17417

*Background*
There are two index types in Hazelcast - local and global. The local index contains data from only one partition, whil

[2020-09-05 15:52] #17417 closed

[2020-09-07 02:16] lprimak commented on #17466
Tried to make a fix for this, but it's impossibly difficult

[2020-09-07 02:16] #17466 closed

[2020-09-07 02:27] jalberti opened #17498 "DistributedObjectDestroyedException: AtomicValue[xxx] is already destroyed!"
**Describe the bug**
How do we destroy an CP object, to release memory, and then later create another instance reusing the same name? Reviewing this https://github.com/hazelcast/hazelcast/blob/07fa8c5bbbfe5e48d1f488150e02bcdba326f8d1/hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/atomic/RaftAtomicValueService.java#L158 it seems like there is a node local map that holds the ke

[2020-09-07 04:27] jalberti commented on #17498
https://github.com/hazelcast/hazelcast/issues/14267 ... is related, a destroyed object should simply be re-created on subsequent access.

[2020-09-07 05:31] pveentjer commented on #14973
There are 2 problems.

1: a plugin throws some kind of exception
2: the rendering system not resetting the idents which leads to an IndexOutOfBoundsException. So improper exception handling.

I have resolved the second issue by always resetting the idents before any plugin is rendered; this way one plugin won't mess up the next plugin. But I'm trying to figure out what the cause is of the original

[2020-09-07 05:35] strawhat5 opened #17499 "[ringbuffer] Ringbuffer metrics is not visible on mancenter"
**Please describe the problem you are trying to solve**
Ringbuffer has been a part of Hazelcast since few years now, but its metrics are still not available on Mancenter.

**Please describe the desired behavior**
We would like to have the Ringbuffer metrics available on the Mancenter, just like Queues, Topics, etc.
Extends #7930

[2020-09-07 06:40] mdogan commented on #6383
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2251/testReport/junit/com.hazelcast.internal.cluster.impl/AdvancedClusterStateTest/changeClusterState_shouldFail_whenNonInitiatorMemberDies_beforePrepare/

[code]

[2020-09-07 07:26] mdogan commented on #17498
@jalberti, this is by design.

When a CP object is destroyed and re-created, it's linearizable history will be broken. Not all users of the CP object may be aware of this and they can observe an inconsistent state.

Suppose there are 100s of clients using the `IAtomicLong` as a monotonic counter and the latest value of the counter is `1000`. One of the clients destroys the `IAtomicLong` and others

[2020-09-07 07:58] mmedenjak commented on #17441
Thank you @seanlruff for the nice report. Seems easy to fix and we'll look into it. Feel free to send a PR if you're up for it.

[2020-09-07 09:00] olukas commented on #17324
Issue occurred again in http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-sonar/612/. Thread dump with all living threads after tests is here -
[thread_dump.txt](https://github.com/hazelcast/hazelcast/files/5182093/thread_dump.txt)

[2020-09-07 09:02] mmedenjak commented on #17021
@mdogan can we close this issue now that the PR has been merged?

[2020-09-07 09:13] #17120 closed

[2020-09-07 09:20] mdogan commented on #17021
@mmedenjak: No, that PR was only for the serialization issue. But I think serialization issue is not the cause of the test failure.

[2020-09-07 09:26] mmedenjak commented on #17324
To begin with, I think it's worth correlating the instance names from some threads to the tests. For instance, these:
[code]

We can try looking for `ecstatic_leavitt` in the test logs. Similar for other threads.

[2020-09-07 10:08] kwart opened #17504 "SqlErrorClientTest.testExecutionError_fromSecondMember"
The `com.hazelcast.sql.SqlErrorClientTest.testExecutionError_fromSecondMember[smartRouting:false]` failed on PR builder (branch `4.1-BETA-1`).
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2256/

**Stacktrace**
[code]

[2020-09-07 10:21] blazember opened #17505 "FrozenPartitionTableTest.partitionTable_shouldBeFixed_whenMemberRestarts_usingNewUuid failure"
**Error Message**

[code]
**Stacktrace**
[code]
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2262/

[2020-09-07 10:24] mmedenjak commented on #17466
@lprimak should we reopen so we take a look at some point?

[2020-09-07 10:25] mmedenjak commented on #17468
@devozerov which release is this going into? 4.1?

[2020-09-07 10:54] mmedenjak commented on #17488
Related: https://github.com/hazelcast/hazelcast/issues/13498#issuecomment-422396269

[2020-09-07 11:08] mmedenjak commented on #14459
Yes, it should be simple, other than adding configuration being dull and repetitive. Maybe @sancar has other observations. Still, I don't think it's a right time to start working on this as we're about to finish a release and we're not accepting any new enhancements, only bug fixes.

[2020-09-07 11:11] mdogan commented on #6383
Reason of this failure is `ExceptionUtil.rethrow(new HazelcastException())` wraps `HazelcastException` with another `HazelcastException`. Normally in `ClusterStateManager` we check if the cause of the `Throwable e` is instance of `MemberLeftException`:

[code]
But in this failure, cause of the exception is `HazelcastException` and cause of the wrapped `HazelcastException` is actually `MemberLeftEx

[2020-09-07 11:14] jerrinot commented on #17283
as a more general request: we could provide a better serialization for Records.
Kryo is adding ootb support: https://github.com/EsotericSoftware/kryo/pull/766

[2020-09-07 11:49] the-thing commented on #14459
Ok. I will hold off for the time being. These tasks as dull as it might seem are a good way to get familiar with the codebase.

[2020-09-07 11:50] mdogan opened #17506 "ExceptionUtil.rethrow wraps RuntimeException redundantly"
With the change in https://github.com/hazelcast/hazelcast/pull/17212, `ExceptionUtil.rethrow()` started to wrap `RuntimeException` too. But this can lead to indeterminate number of wrapping, which makes it difficult to work with.

For example, following code creates a `HazelcastException` with a cause depth of `10`:

[code]

Output:
[code]

There are too many places in the code, we catch the `Thro

[2020-09-07 11:51] mdogan commented on #6383
Blocked on https://github.com/hazelcast/hazelcast/issues/17506

[2020-09-07 15:10] jalberti commented on #17498
@mdogan, thank you for your response.

- by the time the object is destroyed, I don’t know if the object’s key will ever be re-used, if I would keep the object around, I would have a memory leak

- now at the moment Hazelcast has a memory leak, because it does keeps the object key around for the lifetime of the cluster ...

I don’t understand your concern, you are stating that there needs to be co

[2020-09-07 16:49] jalberti commented on #17498
@mdogan regarding

I think this is the exact same issue as we have today in the CP system with locks in general, at any point in time two clients might be in the same critical section at the same time.

See also https://docs.hazelcast.org/docs/latest/manual/html-single/#fencedlock

This is the nature of the beast ... but what we can guarantee is that at the point in time when we read the state, th

[2020-09-08 03:52] jalberti commented on #17498
You could also differentiate between an existing reference (cached local reference, jvm local) and a net new reference acquired after the destroy of the first instance, making use of an identity uuid or time based "generation" - in addition to the key itself. I.e. when an CP object is created it receives its name as well as an identity uuid. After the object is destroyed any existing reference sti

[2020-09-08 07:42] mmedenjak commented on #17498
Hi @jalberti , as @mdogan mentions, this is by-design. Every object in the CP subsystem has an identity and after it has been mutated or destroyed, from that point on, all processes using that object must observe that change of state. It is irrelevant if the process queries the state after 1 second or after 1 year - the safety must never be broken. That's why we must keep track of which instances

[2020-09-08 07:43] mmedenjak commented on #17498
And just to point out, https://github.com/hazelcast/hazelcast/issues/14267 is different in the sense that it relates to our AP system, which has different guarantees and can seamlessly recreate an instance even after it has been destroyed.

[2020-09-08 07:45] mmedenjak commented on #17499
Thank you for the report @strawhat5 ! Pinging @emre-aydin as the expert on the management center.

[2020-09-08 07:49] mmedenjak commented on #6383
I assume the javadoc for `peel` already mentions this - https://github.com/hazelcast/hazelcast/blob/2a2daa2615cd53abd489e72137f4e9bfc0aa5a44/hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java#L76-L89

[2020-09-08 07:53] mmedenjak commented on #17441
@ahmetmircik can you take a look to see if the fix is simple?

[2020-09-08 08:40] #17425 closed

[2020-09-08 09:05] #17164 closed

[2020-09-08 09:14] mmedenjak commented on #17462
This is a duplicate of https://github.com/hazelcast/hazelcast/issues/11647 as both tests delegate to the same method for testing.

[2020-09-08 09:28] mmedenjak commented on #17444
@melloware @a1dutch we just merged https://github.com/hazelcast/hazelcast/pull/17484, which bumps the jackson dependency to 2.11.2 which fixes`CVE-2020-24616`.

We also merged https://github.com/hazelcast/hazelcast/pull/17446 which bumped SnakeYAML to 2.1, which fixes `CVE-2017-18640`.

This was for the 4.1 mainline, I'll backport to the 4.0.z and 3.12.z branches, although for 3.12 I'll have to se

[2020-09-08 10:39] jalberti commented on #17498
@mmedenjak and @mdogan thank you both for your responses.

I don't understand why we think this is a feature. In any database I can remove rows and re-insert rows with the same primary key all day long, and I will not observe a leak or an exception.

Could you elaborate on this, why is this necessary, or is this really "just" a design decision to aid the user, and a "purge" will be all it takes, I

[2020-09-08 10:48] mdogan commented on #17498
For the simplicity, please ignore the memory issues... Even with thousands of destroyed CP objects memory overhead won't be significant, unless you think a few hundreds KBs or a MB is significant.

But still, I don't understand the use-case to destroy and recreate a distributed data structure. Is this a temporary state in the application's lifecycle? Can you elaborate your use case more?

[2020-09-08 10:56] melloware commented on #17444
Fantastic news.  Once released we will upgrade to 4.0.3!

[2020-09-08 11:26] jalberti commented on #17498
@mdogan hazelcast CP subsystem using IAtomicReference is a distributed and consistent in memory KV store, isn't it? I agree that if we talk about thousands of objects, it is not a big issue, but thousands is a small number. If we talk millions of objects then we talk possibly about GBs of memory wasted. We need to understand how to manage this memory. We have a high latency backend, and we want to

[2020-09-08 13:34] emre-aydin commented on #17499
@strawhat5 it is on the roadmap but we haven't come around to adding it yet. I will let our product manager know, so he can increase its priority accordingly. cc: @jgardiner68

[2020-09-08 17:13] strawhat5 commented on #17499
Thanks for the update @mmedenjak @emre-aydin ! Looking forward to having this implemented soon. 🙂

[2020-09-09 04:04] jalberti commented on #17498
@mdogan our keys are up to 2k in size, and our values are around 128k. Are atomic keys balanced evenly across all CP members, so we can add memory by horizontally scaling a CP group? I understand we can clear a value, i.e. retain the key, but loose the value, correct?

Also, I saw there is an option to destroy CP groups forcefully, will a forcefully destroyed group be destroying and purging all ke

[2020-09-09 07:29] mdogan commented on #17498
Unfortunately, current state of CP subsystem is not optimized for millions of CP objects. Especially, current Raft snapshot mechanism is not very suitable for huge in-memory state. In case of a new follower is added, or a follower lags too much behind, sending a snapshot to the follower can have significant effect on memory and network. I don't say it won't work but you should carefully test the s

[2020-09-09 07:44] mdogan commented on #17498
AtomicReferences are not directly balanced across all CP members. A CP object is placed in a single CP group, and replicated to all CP group members. If you create multiple CP groups, we try to distribute these CP groups between all CP members almost uniformly. So if you want to distribute the load across CP members, you should create multiple CP groups and create CP objects on CP groups using a r

[2020-09-09 10:28] mmedenjak commented on #17444
The fixes have now been merged to the upcoming 4.1, 4.0.3 and 3.12.10 releases. Closing, thank you for the report and the PRs!

[2020-09-09 10:28] #17444 closed

[2020-09-09 10:35] vbekiaris commented on #17505
Seems like member at port 5703 had not yet updated its partition table after joining the cluster (owner of partition/replica index is listed as `null` -> `WrongTargetException` is thrown). The test should wait for the partition table update before sending the partition operation. Fix PR #17514

[2020-09-09 11:40] #17505 closed

[2020-09-09 13:20] melloware commented on #17444
@mmedenjak I am still getting this error with OWASP plugin and hazelcast-4.1-BETA-1:

**CVE-2017-18640**
hazelcast-4.1-BETA-1.jar/META-INF/maven/org.snakeyaml/snakeyaml-engine/pom.xml (pkg:maven/org.snakeyaml/snakeyaml-engine@1.0, cpe:2.3:a:snakeyaml_project:snakeyaml:1.0:*:*:*:*:*:*:*) : CVE-2017-18640

[2020-09-09 13:26] melloware commented on #17425
@mmedenjak this looks like it was merged yesterday however if I look inside 4.1-BETA1 its still using SnakeYaml 1.0 not 2.1???

[2020-09-09 13:36] jalberti commented on #17498
@mdogan yes, thank you, that makes sense. Each individual CP group (raft log/snapshot) should not be too large by itself, especially its working set, i.e. active state. The fact that the keys can never be deleted concerns me, because growth cannot be controlled, even with quotas. If I would have a purge capability, then I would be able to have an "active state" for which I can apply an quota.

- T

[2020-09-09 13:48] jgardiner68 commented on #17387
@emre-aydin Are there any changes needed on the MC side?

[2020-09-09 13:49] mmedenjak commented on #17444
BETA-1 hasn't received the fix as the fix came in quite late. It will be in 4.1-GA, which will be released in about a month or two. We don't recommend BETA releases for production anyway so I think it's ok.

[2020-09-09 13:51] mmedenjak commented on #17425
As mentioned in other issue, 4.1-BETA-1 release was branched from the 4.1 branch and passed release verification long before this fix was merged, which is why the fix isn't in 4.1-BETA-1 but will be in 4.1-GA (or 4.1-BETA-2, should we release it).

[2020-09-09 14:41] emre-aydin commented on #17387
No

[2020-09-09 15:18] viliam-durina opened #17515 "Improper exception behavior of `AbstractInvocationFuture.thenApply`"
[code]

**Expected behavior**
I expect the `get` call in the above code to throw the `foo` exception, wrapped in `java.util.concurrent.ExecutionException`. In other words, it should be equivalent to standard `CompletableFuture`:

[code]

[2020-09-09 15:30] ahmetmircik commented on #17441
Hi @seanlruff, would you mind to send a fixer PR?

[2020-09-09 19:02] bitsofinfo opened #17516 "kubernetes: "ICMP failure-detector can't be used in this environment""
using hazelcast 3.11.4

Running in kubernetes

When container runs as root things work fine.

When running as non-root it blows up w/ the error: `ICMP failure-detector can't be used in this environment`

What needs to be done to make this work?

[2020-09-09 19:08] bitsofinfo commented on #17516
its a perms thing clearly, just going to revert to phi or deadline..

[2020-09-09 19:08] #17516 closed

[2020-09-10 07:06] a1dutch commented on #17444
@mmedenjak is there any timeframe on when the releases will take place?

Our deployments are currently blocked until the vulnerabilities are fixed.

[2020-09-10 07:13] mmedenjak commented on #17444
4.1-GA will be out around late October and both 4.0.3 and 3.12.10 might be out in several weeks. By then, if you really need to progress with your deployments, you can depend on the SNAPSHOT versions of 4.0.3-SNAPSHOT and 4.1-SNAPSHOT as both should be stabler than the BETA release already.

[2020-09-10 07:24] a1dutch commented on #17444
We cannot use Snapshots I'm afraid. What about 3.12? Any chance of a release just with the updated shaded jars?

[2020-09-10 07:50] mmedenjak commented on #17444
It will all be released in due time, as mentioned.

[2020-09-10 08:51] alkoclick commented on #17444
@mmedenjak Thanks a lot for the hard work on delivering this under such a tight schedule!

@a1dutch I would recommend ignoring this in your vulnerability scanner until the new versions are out. As I point out in my original post, CVE-2020-24616 does not seem to affect Hazelcast anyway.

[2020-09-10 10:51] mmedenjak commented on #17444
An update - we've started the release process for 4.0.3, it should be out some time next week.

[2020-09-10 10:58] alex-dukhno opened #17519 "MetricCompressor can decompress what it compresses"
This issue was reported for MC https://github.com/hazelcast/management-center/issues/3757
However, from the exception stacktrace I see MetricCompressor miscalculates index here https://github.com/hazelcast/hazelcast/blob/4.0.1/hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCompressor.java#L405
[code]
I can reproduce it with MC and Jet setup, but couldn't find unit test reproduc

[2020-09-10 13:26] alex-dukhno commented on #17519
Closing as it is not reproducible with `4.0.2` version which has the same source as `4.1`.

Sorry guys for disturbance.

[2020-09-10 13:26] #17519 closed

[2020-09-10 14:00] yuraku commented on #17463
Hello @MonDeveloper .

I've tried to reproduce the issue with no luck, I was using the `Management Center 4.2020.08` and LDAP server based on this: https://hub.docker.com/r/osixia/openldap

Could you please provide more details to help us identify the issue:
1. You can try to change the log level to `DEBUG` : https://docs.hazelcast.org/docs/management-center/4.2020.08/manual/html/index.html#config

[2020-09-10 15:05] Holmistr commented on #17333
I see. Therefore, let me change the milestone to the 4.0.x one.

[2020-09-10 19:23] linking12 commented on #16852
I also have this problem in version 4.0.2; What can I do to avoid this problem？ 🙏

[2020-09-11 03:58] lprimak commented on #13061
Looks like I am getting this (or similar) issue with the tests for #17428
When running the test, once in about 25 times, it fails.

[2020-09-11 04:00] lprimak commented on #13061
Looks like termination of nodes is hanging somewhere, so the whole thing times out.
I added some `waitAllForSafeState()` there to make the failure very infrequent, but it still happens very sporadically.

[2020-09-11 05:47] ahmetmircik commented on #16374
not failed since January, closing now.

[2020-09-11 05:47] #16374 closed

[2020-09-11 06:23] mdogan commented on #13061
@lprimak: There's already an open issue for this failure: https://github.com/hazelcast/hazelcast/issues/17377

[2020-09-11 06:26] mmedenjak commented on #13061
@lprimak you can usually ignore tests that fail which seem unrelated to your change. We're aware of [several of them](https://github.com/issues?q=is%3Aopen+is%3Aissue+label%3A%22Team%3A+Core%22+repo%3Ahazelcast%2Fhazelcast++sort%3Aupdated-desc+label%3A%22Type%3A+Test-Failure%22+) and usually it's a race condition that doesn't occur every time but under the right conditions, thus failing sporadical

[2020-09-11 06:43] lprimak commented on #13061
ok thanks

[2020-09-11 06:48] thesreyas opened #17522 "Server should not know KV types on cache"
We want to use cache feature on hazelcast in client-server mode.
Server would start from hazelcast published docker.
KV type classes are available only on client side.
We donot want to deploy KV type classes on the server side

Why does server needs to look for KV types on classpath? if it does not serve any functionality can you please skip that?

Below issue we see that hazelcast expects KV Type

[2020-09-11 08:32] jerrinot commented on #17522
hi @thesreyas,

what Hazelcast version do you use? The issue you mentioned is fixed in Hazelcast [3.12.8](https://github.com/hazelcast/hazelcast/issues/16912) and [4.0.2](https://github.com/hazelcast/hazelcast/pull/16918)

Can you describe the failing scenario a bit?

[2020-09-11 08:35] vbekiaris commented on #17522
@thesreyas there are certain features (like executing `EntryProcessor`s or storing items in `OBJECT` format) which require objects in the cache to be deserialized in order to be processed on the member side. However with the default `BINARY` object format it is absolutely possible to use a `Cache` from client side without requiring presence of domain object classes on classpath.

The issue you lin

[2020-09-11 10:50] eleftherias commented on #16987
@mmedenjak Is there a suggested workaround we can use until 4.0.3 is released?

[2020-09-11 10:58] mmedenjak commented on #16987
@eleftherias not sure but maybe it's worth mentioning we're starting release verification for 4.0.3 and it should be released next week. Let us know if that doesn't work for you and we might consider workarounds.

[2020-09-11 11:18] ahmetmircik opened #17524 "NPE when using IndexType.HASH"
copied from: https://groups.google.com/d/msgid/hazelcast/43ee9f18-8b51-4fa6-b92a-768ac99ee56en%40googlegroups.com

Upgrading hazelcast from 3.12 to 4.0.2 and while doing so (after migrating api changes) I starting to see a lot of NPE:
[code]
Map is configured to use a HASH index:
addIndexConfig(new IndexConfig(IndexType.HASH, "userId"))

if changing this to IndexType.BITMAP the NPE goes away, but

[2020-09-11 11:23] eleftherias commented on #16987
Thanks @mmedenjak. I'm adding Hazelcast 4 support to [Spring Session](https://github.com/spring-projects/spring-session), which will be released on Wednesday next week.
If 4.0.3 is out before Wednesday, that would be great.
If not, I'm still looking for a workaround.

[2020-09-11 11:59] mmedenjak commented on #16987
It depends if we start release verification today, I'll let you know later today or on Monday if we're able to release by Wednesday. If we haven't started release verification by Monday or if we encounter some issues, I'll try to find some workaround. Feel free to remind me if I forget to let you know :)

[2020-09-11 15:37] #17524 closed

[2020-09-14 05:34] webashutosh commented on #13007
Hi @mmedenjak @Holmistr - can you please assign this one to me? I will rework my previous PR and submit the same

[2020-09-14 07:33] devozerov commented on #17468
Ideally - yes, if we have enough time.

[2020-09-14 10:50] mmedenjak opened #17533 "LocalMultiMapStatsTest.testPutAllAndHitsGeneratedMap"
[code]

http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2319
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2263

[2020-09-14 11:01] sancar commented on #17506
We did not see changing which layer the cause can be found as a problem. Now, it is clear that it was not a correct decision, because we are using the cause to decide the logic internally(our users also can use this info). And hiding the cause a couple of layers deep broke that logic in some places.

So at this point, I have to revert the pr so that in our internals we will not mess with the cause

[2020-09-14 11:19] mmedenjak commented on #6383
The change has been reverted so I suggest we close the issue. WDYT @mdogan ?

[2020-09-14 11:21] mmedenjak commented on #17202
Reopening as the change was reverted.

[2020-09-14 11:28] sancar commented on #17202
Leaving here as a note. The following PR's are also reverted.
https://github.com/hazelcast/hazelcast/pull/17438
https://github.com/hazelcast/hazelcast/pull/17437
These need to be handled in the same pr that fixes this issue.

[2020-09-14 11:28] mmedenjak commented on #17506
Should we close this issue, now that the change has been reverted?

[2020-09-14 11:37] sancar commented on #17202
We did not see changing which layer the cause can be found as a problem. Now, it is clear that it was not a correct decision, because we are using the cause to decide the logic internally(our users also can use this info). And hiding the cause a couple of layers deep broke that logic in some places.
See https://github.com/hazelcast/hazelcast/issues/17506.

So at this point, I have to revert the pr

[2020-09-14 11:38] sancar commented on #17506
I was hoping the get some feedback but it would be better to discuss this on the original issue. https://github.com/hazelcast/hazelcast/issues/17202.  I have moved my findings there. I think, we can close this issue.

[2020-09-14 11:38] #17506 closed

[2020-09-14 11:42] #6383 closed

[2020-09-14 12:18] lazerion opened #17537 "Multiple PhysicalIndexDataTypeTest failures"
- Fails on `Hazelcast-4.master-Solaris-OracleJDK8`
- Fails on [Build #221 (Sep 13, 2020 7:18:00 PM)
](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-Solaris-OracleJDK8/221/testReport/)

- Cases
[code]

- Error
[code]
- Stacktrace
[code]
- Kindly check

[2020-09-14 12:55] devozerov commented on #17504
This test checks for a specific error message. Somehow in this run, the error message was `null`. It is impossible in the normal run.

I suppose that there was a long GC pause that caused the client member to timeout, hence leading to some other exception, other than expected. This is the only sensible explanation I have at the moment.

I am in doubt about how to proceed with the failure, given th

[2020-09-14 14:03] #17537 closed

[2020-09-14 14:09] petrpleshachkov commented on #17533
Can be similar to the https://github.com/hazelcast/hazelcast-enterprise/issues/3706

[2020-09-14 15:23] mmedenjak commented on #17504
I've kicked off a jenkins build which will run it several hundreds of times (http://jenkins.hazelcast.com/job/matko-Hazelcast-pr-builder/). If it fails, we get the logs. If it doesn't fail, you may add some additional logging or improve the test based on your hunch and we can close and wait for the next failure.

If the test doesn't fail and you don't know how to improve it, we'll just close it un

[2020-09-14 15:35] kwart commented on #17504
The logs from the reported build are available in the S3: https://console.aws.amazon.com/s3/object/j-artifacts/Hazelcast-pr-builder/2256/Hazelcast-pr-builder-2256.zip?region=us-east-1

Attaching the test log itself - [com.hazelcast.sql.SqlErrorClientTest-output.txt](https://github.com/hazelcast/hazelcast/files/5219484/com.hazelcast.sql.SqlErrorClientTest-output.txt)

[2020-09-14 15:41] sertugkaya commented on #17490
@mmedenjak  per @mdogan it's possible to backport this to 3.12.x. Can you also confirm and put a milestone for that?

[2020-09-14 15:44] eleftherias commented on #16987
@mmedenjak How is the release going? Do you have an expected release day for 4.0.3?

[2020-09-14 15:51] #17015 closed

[2020-09-14 16:12] mmedenjak commented on #16987
We started release verification today. Optimistically we will release on Thursday. If that's already too late, I'll take a look for a workaround tomorrow.

[2020-09-14 16:21] eleftherias commented on #16987
Thanks for the update @mmedenjak!
Thursday is too late for us to include 4.0.3.
If you are able to provide a workaround I would appreciate it.

[2020-09-15 05:55] devozerov commented on #17504
Yes, this appears to be a kind of temporal hiccup that caused the client to close the connection (see below). Note that the test uses a standard instance factory. So if this specific test may fail this way, then it is likely that most client-related tests are similarly affected.

[code]

[2020-09-15 07:18] sancar commented on #17504
@devozerov I have also take a look at the logs. I think the socket disconnection in `testMemberDisconnect_execute` test is expected. Because we can see that a related member is shutting down a couple of lines above

[code]

On the other hand, the logs of the failing test do not show any disconnection. The last log before failure is as follows:

[code]

[2020-09-15 08:20] sancar commented on #16768
@jawitcher I took over the issue since we could not hear from you.

[2020-09-15 09:40] mmedenjak commented on #17504
Ran the test 10k times on the lab, no failures. I suggest we improve the test, if possible, and close the issue. WDYT @devozerov ?

[2020-09-15 09:42] mmedenjak commented on #17504
Also, have you considered using `HazelcastTestSupport#smallInstanceConfig` in SQL tests? It uses less resources for an instance in case it's not needed for a particular test.

[2020-09-15 10:03] mmedenjak commented on #16987
@eleftherias I don't see a good way around it. I think your only option is to invoke `IMap#setTtl` for every mutated entry *after* the EP has completed execution. You probably don't want to invoke the `setTtl` method from inside the entry processor as it might cause a deadlock.
If there are many keys for which you want to update TTL, you best group them by owning member. Then you can execute a tas

[2020-09-15 10:59] sancar commented on #17202
A fix proposal with clone and rewriting the exception on the clone https://github.com/hazelcast/hazelcast/pull/17546

[2020-09-15 11:56] gdela commented on #13322
@mmedenjak Do you mean there's some new mechanism, this "new query engine", that we can use instead of `PartitonPredicate`  to achieve same result as the predicate, but that will be faster? If yes, can you point me where I can read about it?

[2020-09-15 12:13] mmedenjak commented on #13322
Yes, it's now in its' initial release and we'll be releasing more of it in subsequent releases - https://docs.hazelcast.org/docs/4.1-BETA-1/manual/html-single/index.html#sql. It's a SQL query engine which is lazy by design so paging predicate is not needed, you can just cancel the query after some time.

The design details are here - https://github.com/hazelcast/hazelcast/tree/master/docs/design/s

[2020-09-16 00:57] lprimak opened #17551 "Performance: Node shutdown with master switchover takes 2+ seconds"
**Describe the bug**
I am testing a simple program that locks a FencedLock
Two-node cluster. Master locks FencedLock.
Master shuts down. Shutdown takes a long long time (2+ seconds)

**Expected behavior**
Shutdown should occur immediately since almost no data is present in the cluster

**To Reproduce**
Clone https://github.com/flowlogix/hazelcast-issues
`cd CacheTester`
- Run the program (`mvn -Pr

[2020-09-16 07:34] devozerov commented on #17504
@sancar thanks for the comment, I misread the logs (thought that it was for only one test, not for the test class).

Still, the root cause is not known. The test is question checks a deterministic condition - how a custom error is propagated from the member participating in the query execution to the client. The only reason why it may fail that comes to my mind is some sort of timeout (e.g. due to

[2020-09-16 08:43] gierlachg opened #17554 "SQL query with constant expression fails"
`SELECT * FROM (SELECT * FROM map WHERE 0 = 0) WHERE 1 = 1` fails, while
`SELECT * FROM (SELECT * FROM map WHERE 1 = 1) WHERE 1 = 1` works perfectly fine

[code]

[2020-09-16 08:44] #17504 closed

[2020-09-16 13:11] #16768 closed

[2020-09-16 13:58] lazerion opened #17557 "ScheduledExecutor `pending` count metric reported as negative value"
- Scale out 3 members cluster and 1 client
- Wait for sanity on cluster that client discovers 3 members
- Schedule  `scheduleAtFixedRate(new SimpleMapTask(), 0L, 100L, TimeUnit.MILLISECONDS)`
[code]
- Collect metrics, can be similar to below
[code]

When collecting metrics we got below results from members
[code]
as can be seen `pending` is `-33`.

- kindly check.

[2020-09-17 05:25] RobbanHoglund commented on #14701
Hello,
Since you are supporting IBM java (OpenJ9) you should also add the following collectors:

- scavenge (Hotspot´s Minor Gc)
- global (Hotspot´s Full Gc)

[2020-09-17 05:44] mmedenjak commented on #14701
Hi @RobbanHoglund ! Thanks for the tip! I know we still missed some collector algorithms, didn't have time to figure out which ones yet.

[2020-09-17 06:57] RobbanHoglund commented on #14701
Hello,

I added some to the list

  static {
        final Set<String> youngGC = createHashSet(4);
        // Hotspot JREs
        youngGC.add("PS Scavenge");
        youngGC.add("ParNew");
        youngGC.add("G1 Young Generation");
        youngGC.add("Copy");
        youngGC.add("ZGC"); //Should this be treated as a minor of full GC?
        //IBM & OpenJ9 JREs
        youngGC.add("partial gc")

[2020-09-17 08:54] mmedenjak commented on #14701
https://github.com/hazelcast/hazelcast/pull/17561

[2020-09-17 08:59] sancar commented on #16813
Hi @m-yazdani and @usermartin ,
Are you trying to update classes of your domain objects that you stored on hazelcast ?
Or
Are you trying to update classes of functional objects that you send to hazelcast like EntryProcessor , IExecutorService ... etc. ?

For the domain objects, we have introduced a new class called `GenericRecord` to solve this problem. The main idea is that you will not need to d

[2020-09-17 09:18] RobbanHoglund commented on #14701
Great! 👍

[2020-09-17 09:27] devozerov opened #17563 "Optimize SQL threading model"
# Background

Currently, the SQL has the threading model that uses two thread pools:
1. When an operation arrives, it is first processed in the `operation pool`. This is the striped (partitioned) thread pool, where every thread has a dedicated queue. This helps us establish ordering between operations as they arrive. E.g. two consecutive batches sent from a single stream source are guaranteed to b

[2020-09-17 10:10] mmedenjak commented on #17060
@puzpuzpuz can this issue be closed now that the PRs have been merged?

[2020-09-17 10:55] puzpuzpuz commented on #17060
I think we could close it now. @mdumandag WDYT?

[2020-09-17 11:04] mdumandag commented on #17060
Problems with the unnecessary exception logs for non-Java clients are resolved.

For other checks mentioned in the issue, we need a decision from the core team. If we need such checks for extra safety in case of faulty inputs (I guess this is not possible with the current code base, but I am not sure), we can add the extra checks.

Otherwise, I am fine with closing this. cc @blazember

[2020-09-17 11:57] mdogan opened #17566 "DelegatingCompletableFuture_WrappingInvocationFutureTest"
[code]

http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2389/testReport/junit/com.hazelcast.spi.impl/DelegatingCompletableFuture_WrappingInvocationFutureTest/exceptionally_whenAsync/

[2020-09-17 12:50] lazerion opened #17567 "Durable executor metric for completed count does not reach expected value given cluster scale-in"
- Scale out 3 members cluster and 1 client
- Wait for sanity on cluster that client discovers 3 members
- Submit `42` `SimpleMapTask` to durable executor service, as [defined here](https://github.com/hazelcast/hazelcast/issues/17557)
[code]
- Scale in cluster to 2
- Wait for sanity on cluster that client discovers 2 members
- Submit `42` `SimpleMapTask` to durable executor service, as [defined her

[2020-09-17 13:06] mmedenjak commented on #17566
Possibly caused by https://github.com/hazelcast/hazelcast/pull/17518? cc @vbekiaris

[2020-09-17 13:33] shashanka981 commented on #17522
Is this true for Javax.cache as well ?
[CacheCreationIssueHz.zip](https://github.com/hazelcast/hazelcast/files/5239383/CacheCreationIssueHz.zip)

Using Hazelcast 3.12.8 , i am creating a javax.cache from hazelcast client without deploying type definitions on server member and i see cache creation fails with below exception. Attached the server and client classes that i used to reproduce the issue

[2020-09-17 13:39] vbekiaris commented on #17238
The test starts 4 members, then blocks heartbeat ops and members 3 & 4 suspect members 1 & 2. After members 3 & 4 are split to their own cluster, the expected outcome is that member 1 will receive `ExplicitSuspicionOp` from 3 & 4 and remove them from the cluster. This happens after possibly multiple attempts to re-establish a connection from member 1 to members 3 & 4.
When the test fails:
- member

[2020-09-17 15:35] sertugkaya opened #17571 "java.lang.ClassCastException in Diagnostics"
Per my discussion with @pveentjer it looks like this is due to a non-string value introduced into the `HazelcastProperties` because diagnostics iterates over the values (the strings).
[code]

[2020-09-17 17:56] ahmetmircik commented on #17567
Your findings seem expected since stats has no backup and they are local to node that execution happens. When node shutdowns, they get lost.

[2020-09-18 06:24] vbekiaris commented on #16328
Another failure: http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2401/

[2020-09-18 06:27] mmedenjak commented on #16328
Let's ignore the test then, if we know the root cause and we won't fix it unless we improve the eventing system. @ahmetmircik WDYT?

[2020-09-18 07:01] sancar commented on #17044
Hi @benjwarner , thanks for the report. I have reproduced the issue and I am working on a fix.

[2020-09-18 07:17] mdumandag opened #17577 "GracefulShutdownTest.shutdownMasterMember_withPartitionInitialization"
This failed on #17018
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2398/testReport/junit/com.hazelcast.internal.partition/GracefulShutdownTest/shutdownMasterMember_withPartitionInitialization/

Error Message
[code]
Stacktrace
[code]

[2020-09-18 08:00] ahmetmircik commented on #16328
we can close the issue but this time, we will lose the chance to see if the issue is getting worse.

[2020-09-18 08:24] mmedenjak commented on #16328
Ok then, but if it keeps getting worse, I'd rather ignore it so we have more green builds.

[2020-09-18 10:45] lprimak commented on #17261
Can no longer with the latest master

[2020-09-18 10:45] #17261 closed

[2020-09-18 11:19] vbekiaris commented on #17522
@shashanka981 I tested your code and works fine for me, maybe you can describe more about your environment so we can reproduce your issue? There are a few minor things to fix in your sample code (that actually seem unrelated to the issue at hand):

1. Moved your `config.setClassLoader` statements before starting the `HazelcastInstance. As indicated in the [reference manual](https://docs.hazelcast.

[2020-09-18 11:46] sancar commented on #17347
@devozerov There is one recent failure here:
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2406/testReport/junit/com.hazelcast.sql/SqlErrorClientTest/testMapMigration_smartRouting_false_/
[code]

I am reopening to issue to investigate the failure.

[2020-09-18 12:00] lazerion commented on #17567
@ahmetmircik Thanks for the guidance, closing, and I updated the cases.

[2020-09-18 12:00] #17567 closed

[2020-09-18 12:13] mmedenjak commented on #16023
Looks good so far, I'll assume we'll not leak private API in the stabilisation phase :) Moving to 4.2 to check then again.

[2020-09-18 19:02] mwashburn commented on #8305
boooo

[2020-09-18 19:35] mwashburn commented on #8305
I agree that the functionality should not use a string, but for me the more urgent issue is it only works for some enums.

When you have methods on the enum the instances of the  the enum are a subclass of the enum so class.isEnum returns false.

https://stackoverflow.com/questions/61676052/classisenum-need-check-this-getsuperclass-java-lang-enum-class

ReflectionHelper#getAttributeType() should s

[2020-09-19 09:27] lazerion commented on #17347
@devozerov Recent failure on [Hazelcast-4.master-sonar](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-sonar/626/testReport/com.hazelcast.sql/SqlErrorClientTest/testMapDestroy_secondMember_smartRouting_true_/)
[code]

[2020-09-20 01:27] lprimak commented on #17260
@mdogan I have reproduced this in 'interactive' reproducer. Im going to probably have to get that into a test form to make it easy for you guys to reproduce.
The big issue is that lock gets into a 'locked' state after split-brain even though both sides unlocked it. I think it should default to 'unlocked' state if there is any kind of confusion in the cluster in UNSAFE mode.

[2020-09-20 06:04] lprimak commented on #17238
I am seeing these types of errors as a result of https://github.com/hazelcast/hazelcast/pull/17428
This maybe why the tests are failing there

[2020-09-20 14:44] mmedenjak commented on #16852
What's the full stack trace of your error @linking12 ? I believe `java.lang.IllegalStateException: Node failed to start` can have multiple causes and we've fixed only one cause here.

As for the particular case we've fixed, you can upgrade to 4.0.3, which should be released beginning of next week.

[2020-09-20 15:03] mmedenjak commented on #17498
@jalberti as @mdogan mentioned, seems like what you really need is a map. The situation is similar to the difference of using a `j.u.c.ConcurrentMap` as a data structure as opposed to creating millions of `java.util.concurrent.atomic.AtomicReference`, balancing them yourself and managing concurrent access to a single atomic reference. In that sense, you can't really compare adding and removing ent

[2020-09-20 16:25] jalberti commented on #17498
Thank you again for comments on my concerns, greatly appreciated!

[2020-09-20 19:05] lprimak commented on #17260
Another issue here is that reproducer needs Discovery API usage. When it's used, the initial connection is always one node (self) and then later, the discovery API is used to merge the instances together, so when that initial merge happens, the lock can be in an inconsistent state:
Below is a log from the second node starting...

[code]

[2020-09-21 01:36] lprimak commented on #17260
@mdogan see above. This test clearly demonstrates the problem in a simple test case.
Also, if you run the https://github.com/flowlogix/hazelcast-issues program with two nodes and kinda play with it for half hour, you can see that there are many unstable situations you can get into within CP subsystem.

Thanks for your help

[2020-09-21 02:03] lprimak opened #17586 "When using Discovery SPI, cluster join only happens via split-brain mechanism"
**Describe the bug**
When using `TcpIpJoiner` or `MulticastJoin` methods, everything works correctly,
but when using `networkConfig.getJoin().getDiscoveryConfig().setDiscoveryServiceProvider()` mechanism,
the cluster isn't joined, and the freshly-started node only sees itself.
However, when split brain timeout is reached, the split-brain mechanism is used to join the cluster
NOTE: This only happen

[2020-09-21 06:42] mmedenjak commented on #17522
@shashanka981 have you managed to take a look at the suggestions above and comment on your usage?

[2020-09-21 09:21] palisie opened #17587 "Tasks are not run in parallel when submitted to all members in some scenarios"
Hi,

I have noticed that some tasks are invoked synchronously when submitted to all members in cluster. It seems to be caused by the ExecutorServiceProxy:checkSync method:
https://github.com/hazelcast/hazelcast/blob/383581091605b0adcc42dcbc8b43a47ec40a43f4/hazelcast/src/main/java/com/hazelcast/executor/impl/ExecutorServiceProxy.java#L294.
This overloading mechanism is not adequate for running mixe

[2020-09-21 10:01] mdogan commented on #15562
Same issue: https://github.com/hazelcast/hazelcast/issues/17377

[2020-09-21 10:01] #15562 closed

[2020-09-21 10:29] mmedenjak commented on #17333
Closing as fixed with 4.0.3

[2020-09-21 10:29] #17333 closed

[2020-09-21 13:03] shashanka981 commented on #17522
@vbekiaris
I hope the ClassA definition you have added during you testing is not available to Server member. Am I right ?

Regarding details of environment, i am on Ubuntu and using Open JDK "1.8.0_222". Not sure what other information you are looking for ? I do not have any other configuration in place other than the files what I already shared with you. BTW I tested my changes again with the min

[2020-09-21 13:14] #17554 closed

[2020-09-21 13:40] mmedenjak commented on #17522
@shashanka981 can you package your project and send it to us so we take a quick look? Maybe we can resolve the issue quicker.

[2020-09-21 13:57] mmedenjak commented on #17551
Thanks for the report, moving to 4.2 as I don't see this as a regression and we need to focus on getting 4.1 released at this point.

[2020-09-21 14:44] shashanka981 commented on #17522
Please find attached projects - one for client and one for server
[HazelcastTestClient.zip](https://github.com/hazelcast/hazelcast/files/5256091/HazelcastTestClient.zip)
[HazelcastTestServer.zip](https://github.com/hazelcast/hazelcast/files/5256096/HazelcastTestServer.zip)

[2020-09-21 15:50] vbekiaris commented on #17522
@shashanka981 thanks for the projects. I verified your project fails when the value class is missing from the server-side. This is due to a combination of:
  - your `CacheConfig` explicitly setting cache KV types.
  - using Hazelcast 3.x series. The serialized form of `CacheConfig` when sent from client to server in 3.x includes the serialized `Class`es of the KV types, when those are set in any w

[2020-09-22 06:10] devozerov opened #17591 "SQL: Avoid unnecessary serialization/deserialization of the top-level objects"
Consider that we have an IMap with `InMemoryFormat.BINARY` (default). The query `SELECT this FROM map` will be processed as follows:
1. `this` (i.e. value) is read from the `RecordStore` in the serialized form (`Data`)
1. The value is **deserialized** and put into the `Scan/Project` result
1. Then the value is serialized in the `Sender`

Two key observations here:
1. There is no need to serialize

[2020-09-22 06:25] devozerov opened #17592 "SQL: Avoid plan serialization/deserialization on every call"
Currently, we serialize/deserialize the plan on every call. What is worse, the plan could be serialized multiple times on the query start - once per participant (see `QueryExecuteOperation`). This leads to the considerable constant overhead that is visible in the profiler and affects small workloads, such as point index lookup.

The solution could be as follows. Consider that we have two members:

[2020-09-22 06:29] devozerov opened #17593 "SQL: Improve documentation"
We need to improve the SQL documentation as follows:
1. Add synopsis of the SELECT command
1. Convert a list of functions into a table with function signature and short description, similarly to how it is done in PG [1]

This will make our documentation much easier to understand. At the same time, it will not blow documentation size, which is desirable for so long we have a single refman page.

[1

[2020-09-22 06:30] devozerov opened #17594 "SQL: Create the design document for parser/optimizer"
Currently, the `frontend` of the SQL engine is not explained in the design docs anyhow.

[2020-09-22 07:07] devozerov commented on #17347
The fix for both failures is implemented: https://github.com/hazelcast/hazelcast/pull/17595

[2020-09-22 08:26] Holmistr commented on #14913
@webashutosh Would you actually mind helping us out with that and double-check that the methods are all done? :)

[2020-09-22 08:28] webashutosh commented on #14913
Sure @Holmistr! I had done one round of that already, let me go through them one more time and provide a summary here.

[2020-09-22 08:45] mmedenjak commented on #15021
@vbekiaris can we close this one in favour of https://github.com/hazelcast/hazelcast-enterprise/issues/3520?

[2020-09-22 08:49] #15021 closed

[2020-09-22 09:02] webashutosh commented on #14913
@Holmistr @mmedenjak - These are the only `Map/ConcurrentMap` methods that are Not yet overriden in Hz -
1) `getOrDefault(Object key, V defaultValue)` - Inherited implementation seems good enough
2) `replaceAll(BiFunction<? super K, ? super V, ? extends V> function)` - please let me know if we should implement this one?

[2020-09-22 09:05] #17557 closed

[2020-09-22 09:19] #17347 closed

[2020-09-22 09:32] #17137 closed

[2020-09-22 09:42] mmedenjak commented on #17460
Ran the test for 10k times, no failures. It seems an operation was executed twice, which is possible under member shutdown, which is what the test does. The test does call `waitAllForSafeState` in several places, which might eliminate the double-execution but I'm not sure yet. The logs don't show anything interesting, no failures or and other indications as to why it failed.

I think we can improv

[2020-09-22 09:54] mmedenjak commented on #13170
Related:
https://github.com/hazelcast/hazelcast/issues/9117
https://github.com/hazelcast/hazelcast/issues/17587

[2020-09-22 09:56] mmedenjak commented on #17587
Closing as a duplicate of:
https://github.com/hazelcast/hazelcast/issues/9117
https://github.com/hazelcast/hazelcast/issues/13170

As mentioned in the other issue, I think we can remove this mechanism. It brings more confusion and harm than good. Feel free to send a PR if you can, otherwise we'll try and work on it when we have time.

[2020-09-22 09:56] #17587 closed

[2020-09-22 10:14] leszko commented on #17051
How do you put `hazelcast-client.zip` into your project? I miss it. Do you zip your configuration before putting it into the Spring Boot application?

[2020-09-22 10:30] Holmistr opened #17596 "Add IMap.tryLock statistic"
Add number of calls of IMap.tryLock to the entry statistics.

[2020-09-22 10:31] mmedenjak commented on #14913
@webashutosh thank you for verifying! Yes, I think we might override `replaceAll ` for the member-side. Overall, it looks more or less like the `forEach`  method and I think the member-side proxy (`MapProxyImpl`) can resort to using an entry processor instead of fetching all entries locally. It almost succeeds in doing so, but unfortunately it wraps the `BiConsumer` instance passed to `replaceAll`

[2020-09-22 10:34] webashutosh commented on #14913
Sure @mmedenjak, will do!

[2020-09-22 11:07] lazerion opened #17597 "LinearizableQueryTest when_multipleQueryLimitIsReachedBeforeHeartbeatAcks_then_noNewQueryIsAccepted"
- Fails on `Hazelcast-4.maintenance-Windows-OracleJDK8`
- Fails on [Build #198 (Sep 19, 2020 6:48:00 PM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-Windows-OracleJDK8/198/testReport/junit/com.hazelcast.cp.internal.raft.impl/LinearizableQueryTest/when_multipleQueryLimitIsReachedBeforeHeartbeatAcks_then_noNewQueryIsAccepted/)
- Error
[code]
- Stacktrace
[code]
-

[2020-09-22 11:37] mmedenjak commented on #17563
Overall looks good.

I'm thinking if we need a "system pool" in the first place. If the operations it executes are simply setting some volatile variable or adding to a concurrent set, the IO thread can do that as well. If it's anything heavier than that, probably we can get away with a single threaded pool. I assume a single threaded pool was what you were aiming for in the first place, it's just

[2020-09-22 11:44] shashanka981 commented on #17522
@vbekiaris Thanks for the info.
Your proposed Option 1) Is it applicable for 3.11.5  Apart from avoiding run time type checks , are there any other side effects that comes with Not setting the KV Types on CacheConfig ?

[2020-09-22 11:57] Holmistr commented on #1055
@mdogan Isn't this one actually solved with the CP Subsystem metrics now?

[2020-09-22 12:02] mdogan commented on #1055
I'd say partially, because it's not something you can access programmatically.

[2020-09-22 12:03] vbekiaris commented on #17522
@shashanka981 if you want to stay on the 3.x series, I would suggest you use the latest version (which currently is 3.12.9). Version 3.11.5 does not include the fix for #16912 (which is mentioned in the first comment in this issue), it is fixed since 3.12.8.

Not setting the KV types on the `CacheConfig` skips the runtime type checks and has no other significant side effects. There is a minor rela

[2020-09-22 12:25] #17044 closed

[2020-09-22 12:27] mmedenjak commented on #16852
@linking12 Hazelcast 4.0.3 was released yesterday.

[2020-09-22 12:27] mmedenjak commented on #17425
Hazelcast 4.0.3 was released yesterday.

[2020-09-22 12:28] mmedenjak commented on #17444
Hazelcast 4.0.3 was released yesterday.

[2020-09-22 12:28] mmedenjak commented on #16987
Hazelcast 4.0.3 was released yesterday.

[2020-09-22 12:29] sancar commented on #17044
@benjwarner The fix is applied following branches:
`master` -> This will be released as 4.1
`4.0.z` -> This will be released as 4.0.4
`3.12.z` -> This will be released as 3.12.10

[2020-09-22 13:04] asimarslan opened #17598 "Client distributed objects should deregister listeners after destroy called."
Client side distributed objects does not deregister client side listener registration, hence there is a possible leak at
[code]

ClientProxy.destroy should clean the listener related resource to prevent the leak.

Member side proxies remove the listener registrations after destroy called. A fix will provide a behaviour match too.

[2020-09-22 13:12] mario45211 opened #17599 "XA transaction not rolling back on MapStore failure"
**Describe the bug**
I'm using Hazelcast in [Client/Server topology](https://docs.hazelcast.org/docs/latest/manual/html-single/#hazelcast-topology). There is a case, when I want to atomically (using XA transaction) put data to two Hazelcast Map, where each of them has configured MapStore to the PostgreSQL database. Unfortunately, despite of exception from a MapStore's `store()` method of one of th

[2020-09-22 13:32] #8063 closed

[2020-09-22 13:32] #17021 closed

[2020-09-22 13:37] ahmetmircik commented on #17599
Hi @mario45211, This is not supported. Seeing [TransactionalMap](https://github.com/hazelcast/hazelcast/blob/09feb4923f7e3626a2e30f153e867bdb19af7e29/hazelcast/src/main/java/com/hazelcast/transaction/TransactionalMap.java#L29) javaDoc could be helpful here.

[2020-09-23 06:41] mmedenjak commented on #17598
@asimarslan is this one related? https://github.com/hazelcast/hazelcast/issues/12470

[2020-09-23 06:43] mmedenjak commented on #17599
Moving to backlog with the rest of the transaction issues since the transaction support needs a redesign. A simple fix will not suffice.

[2020-09-23 07:11] neilstevenson opened #17603 "Find the JetInstance (if present) for the HazelcastInstance"
A Jet instance wraps a single IMDG instance, but currently lookup is one way

There is currently (Jet 4.2, IMDG 4.0) no elegant and easy way for the IMDG instance to determine if it is wrapped by a Jet instance (has a "_hz:impl:jetService_") and to find that Jet instance.

Jet provides `JetInstance.getHazelcastInstance()` to obtain the contained IMDG, https://jet-start.sh/javadoc/4.2/com/hazelcast

[2020-09-23 14:07] eleftherias opened #17606 "Entry TTL is not updated if EntryProcessor implements Offloadable"
**Describe the bug**
Hazelcast 4.0.3 added the ability to set the expiration times for entries when using entry processors, with the addition of `ExtendedMapEntry`.
The suggested configuration does not update the TTL if the `EntryProcessor` implements the `Offloadable` interface.

**Expected behavior**
The entry expiration time should be updated to the new TTL.

**To Reproduce**

[code]

**Additio

[2020-09-23 15:05] ahmetmircik commented on #17606
This is not appropriate to solve this for Offloadables in 4.0.x series due to the backward compatibility reasons. But in 4.1, we can fix this.

2 things we can do here:
 - To add documentation for this exception in 4.0.x series.
 - To fix the issue in next 4.1 release.

[2020-09-23 15:05] Holmistr commented on #17606
Hi @eleftherias , thanks a lot for the report. We'll take a look. We're heading towards the 4.1 release in quite a tight schedule, so can't make any promises if it gets in :) But we'll keep you posted here.

[2020-09-23 15:22] neilstevenson opened #17607 "Parse error on 4.1-BETA new style SQL, single-quotes"
On 4.1-BETA-1

These work
[code]

But this fails
[code]
with
[code]

Map name should be able to be surrounded by single quotes to be consistent with field values.

[2020-09-23 15:56] nfrankel commented on #17607
I'd disagree. I don't think you'd ever write quotes around table names. I know you'd sometimes use backticks, when the table name is a reserved keyword.

https://stackoverflow.com/questions/11321491/when-to-use-single-quotes-double-quotes-and-backticks-in-mysql

[2020-09-23 16:41] mario45211 commented on #17599
@ahmetmircik Good tip, but I am aware of lack of MapStore's support for TransactionalMap, that's why I tried to use XA transactions (just like the Hazelcast's documentation suggest).
@mmedenjak It sounds like a lot of work, but I hope you deal with it soon.

Thanks for your feedback and I am looking forward for any updates.

[2020-09-23 19:06] neilstevenson opened #17608 "NPE for null field in 4.1-BETA-1 querying"
On 4.1-BETA-1, a query such as

[code]

for data such as
[code]

Gives an NPE,

[code]

I have a reproducer, but it's due to the field being null.

[2020-09-23 19:29] neilstevenson opened #17609 "Missing logger for new 4.1-BETA-1 querying"
Trying the new SQL on 4.1-BETA-1 gives this message in the logs

[code]

The application is coded in Spring Boot style using
[code]

I suspect this message may be coming from Calcite

Suggests that logging is incorrectly configured.

[2020-09-24 07:03] ahmetmircik opened #17610 "Add readManyAsync with timeout method to Ringbuffer api"
__Reason:__
To prevent possible OOM as in [this issue](https://github.com/hazelcast/hazelcast/issues/17061#issue-633502934):

__Possible signature:__
[code]

[2020-09-24 07:14] ahmetmircik commented on #17061
I will close this issue by doing these 2:

1. I sent a PR to update javaDoc for leaking memory: https://github.com/hazelcast/hazelcast/pull/17611
2. I have talked with @peter and for a true fix, seems we can add a new `readManyAsync` which you can pass timeout to it. This is the issue for it: https://github.com/hazelcast/hazelcast/issues/17610

[2020-09-24 07:41] #17593 closed

[2020-09-24 08:18] neilstevenson commented on #17607
Ok, it's pretty low priority. For me, you can escape a field name with single or double quotes, so I'd expect the same for a table name. But it's a fairly obvious error message so it this becomes "*won't fix*" thats ok,

[2020-09-24 11:14] mmedenjak commented on #17610
@ahmetmircik I don't think we need to add this in 4.1 as it's not a regression. As far as I understand, the operation is queued, with some preallocated array and instantiated objects, and never gets executed.

Cancelling the operation when `future.get()` times out doesn't seem right so the right approach is, as you say, adding a new method.

But for 4.1 I'm thinking, can we at least avoid (delay)

[2020-09-24 11:41] ahmetmircik commented on #17610
@mmedenjak yes, setting it to  4.1 is only for rising awareness. I also think, it can be moved to another milestone.

Regarding lazy allocation, i will investigate for it.

[2020-09-24 11:48] mmedenjak commented on #17610
Thanks!

[2020-09-24 11:54] mmedenjak commented on #17061
@JackieNiebling as mentioned, cancelling the invocation once `future.get` times out is not an option really as the user might want to wait further at some later point. As @ahmetmircik mentioned, what we really need is to introduce some new method which would timeout on the execution (member) side. Alternatively, for now, you can request a minimum number of items equal to zero, which will return th

[2020-09-24 15:59] viliam-durina opened #17616 "ClassDefinitionBuilder doesn't check for duplicate fields"
This test fails in current `master`:
[code]
The error is:
[code]

Expected behavior is to fail at the second `addIntField` call or, less preferably, when building the CD. Currently it produces broken class definition that has 1 field and the only field has index=1.

Calling it an enhancement because the use case is broken, it just should fail earlier.

[2020-09-24 17:43] neilstevenson commented on #17609
Possibly connected, `hazelcast:hazelcast-sql:4-1-BETA-1` shades an old version of Slf4j

[code]

The latest Spring boot (2.3.4.RELEASE) has a runtime dependency on a new version of Slf4j, 1.7.30, so the classpath will contain classes fro both.

[2020-09-25 09:19] mmedenjak commented on #17051
@mobasherswl any updates on the issue?

[2020-09-25 09:23] mobasherswl commented on #17051
The client file is in jar so class path starts with jar prefix. The
hazelcast lib cannot deal with jar class paths.

On Fri, Sep 25, 2020, 14:19 Matko Medenjak <notifications@github.com> wrote:

[2020-09-25 09:26] #17202 closed

[2020-09-25 09:27] mobasherswl commented on #17051
Check AbstractHazelcastCachingProvider.getConfigURL where there as explicit checks

[2020-09-25 09:30] mobasherswl commented on #17051
Here is a [sample](https://github.com/spring-projects/spring-boot/files/4736179/springboot-hazelcast.zip) project to reproduce the scenario.

[2020-09-25 09:43] mmedenjak commented on #17051
@mobasherswl thank you for the details. It is true, as mentioned in the spring boot issue, it's something that has to be changed on our side. Still, I don't think this is a critical issue and I'm moving it out of scope. As you noticed, there are alternative and more common ways of providing the configuration by using one of the following schemes: `classpath`, `file`, `http`, `https`.

Still, I'll

[2020-09-25 11:03] michael4401 opened #17621 "Losing data after promoting from lite member to data member"
**Description**
We are losing data from distributed map in the event of a node failure in 3 node cluster with backup count set to 1. This is due to the use of the lite members and promoting them to data member.

**To Reproduce**

Steps to reproduce the behavior:
1. Start the cluster with 3 nodes - **all nodes are configured as lite members**
2. Set backup count for the map to 1
3. Wait until clust

[2020-09-25 11:49] nfrankel commented on #17621
Amazing ticket, @michael4401! I wish every user could provide a test case

[2020-09-25 12:40] #14913 closed

[2020-09-25 14:14] mmedenjak opened #17624 "Improve client implementations of JDK8 default methods"
In some cases, the default implementations are very inefficient (e.g. `Map.replaceAll` and `forEach` fetching all entries and iterating over them locally). This was improved on member-side as the cluster version is available and in some cases we opted for using entry processors instead.

On the client-side, the cluster version is not available which meant it ends up still using the default version

[2020-09-25 19:48] mwashburn commented on #8305
Same change is required in com.hazelcast.query.impl.predicates.AbstractPredicate#convertEnumValue

[2020-09-26 16:36] jeanse7en commented on #14864
This is my issue also. But when I set the spring.cache.type = simple in work well now

[2020-09-27 09:04] lazerion commented on #16929
@devozerov regarding test fails recently on `Hazelcast-4.master-ZingJDK8` [Build #218 (Sep 25, 2020 5:18:24 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-ZingJDK8/218/testReport/junit/com.hazelcast.sql.impl.operation/QueryOperationHandlerTest/test_participant_E_L_B/).
Not re-opening per your comment please let me know otherwise.

[2020-09-28 04:35] strawhat5 commented on #17499
Hey @emre-aydin @jgardiner68 do we have any timelines on the implementation of this feature request?

[2020-09-28 07:02] devozerov commented on #16929
I will create a PR to ignore this test for now. The test will be removed soon in the scope of https://github.com/hazelcast/hazelcast/issues/17563

[2020-09-28 07:08] devozerov commented on #17563
@mmedenjak  The main goal was to have a single thread pool involved in the hot execution paths (query start, batch exchange). It is not a problem to have a separate pool for `cancel` and `check` operations. On the other hand, I agree that provided that these two operations are fast and relatively rare, we may execute them in the IO thread as well.

[2020-09-28 08:27] ade90036 opened #17627 "Hazelcast high CPU load (100%) when application is idle and has not traffic"
**Describe the bug**
Hazelcast high CPU load (100%) when application is idle and has no traffic.

![image](https://user-images.githubusercontent.com/6196152/94406166-8507b200-0169-11eb-9060-b483f9c0b1b0.png)

**Expected behavior**
Hazelcast CPU load should be marginal when application is idle and has no traffic.

**Additional context**
- OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.8+10)
-

[2020-09-28 08:47] ade90036 commented on #17627
This is the thread list for the nodes that is experiencing the high CPU (which is the two **IO.thread-in-1**)

![threads1](https://user-images.githubusercontent.com/6196152/94410617-758b6780-016f-11eb-9c85-80e8cbec4e57.jpg)

While the other node that doesn't experience high CPU usage and doesn't have two threads with the same name.

![thread2](https://user-images.githubusercontent.com/6196152/9441

[2020-09-28 09:57] #17441 closed

[2020-09-28 11:10] ade90036 commented on #17627
closing issue

apologies, it was something that I have introduced and I didn't spot immediately.

created an hazelcast node extension which is causing this issue under certain conditions and loads.

[2020-09-28 11:10] #17627 closed

[2020-09-28 12:46] mmedenjak commented on #17061
@JackieNiebling we just merged an enhancement for 4.1 which will not allocate the large arrays until there's at least one item to be added to the result set, so parked operations will consume less heap.

[2020-09-28 12:59] sancar commented on #16260
Hi @peterjot. You can use `addPartitionLostListener` as an example of how to implement this. It should be almost the same.

You are gonna need to generate codes for the client-side.
see `ClientAddPartitionLostListenerCodec` and `ClientRemovePartitionLostListenerCodec`
You need to add related codec definitions to the following repo.
https://github.com/hazelcast/hazelcast-client-protocol
There is a

[2020-09-28 13:01] mmedenjak commented on #17453
@ahmetmircik can we close this with https://github.com/hazelcast/hazelcast/pull/17521? Is there anything else that you wanted to do?

[2020-09-28 13:21] ahmetmircik commented on #17453
@mmedenjak Yes, we can close this one, despite more than thousand runs, i couldn't manage to reproduce the issue, but i added new logs to diagnose issue better for the next failure.

[2020-09-28 13:34] #17453 closed

[2020-09-28 13:43] mmedenjak commented on #17627
@ade90036 glad to hear you've found the issue. Curious to hear though - why were you creating a custom node extension?

[2020-09-28 13:49] ade90036 commented on #17627
[code]

[2020-09-29 07:36] Holmistr commented on #13472
Removing the "good first issue" label as it's realted to the enterprise feature, so not very suitable for an open source contribution.

[2020-09-29 07:38] Holmistr commented on #8774
Hi @shahaf-sameach , I'm sorry that we missed your message. Would you be actually still willing to take a look?

[2020-09-29 07:40] Holmistr commented on #8231
Removing the "good first issue" label as we're developing the new SQL query engine which has a different structure. Probably not a good idea to attract the contributors to something that might be thrown away soon.

[2020-09-29 07:40] Holmistr commented on #8219
Removing the "good first issue" label as we're developing the new SQL query engine which has a different structure. Probably not a good idea to attract the contributors to something that might be thrown away soon.

[2020-09-29 07:42] Holmistr commented on #7830
As the first step on the issue, we need to verify that it's still happening. There were a lot of changes in the discovery mechanism since 2016. Verifying that this is a real issue would be already a great contribution.

[2020-09-29 07:43] Holmistr commented on #6600
Removing the "good first issue" label as, as explained above, there's no good way to do this. We will consider to focus on this issue if there's a bigger community interest.

[2020-09-29 07:45] Holmistr commented on #1055
So the only part at this point is to get some handle on the statistics programatically. Definitely an interesting enhancement.

[2020-09-29 09:04] asimarslan opened #17637 "Client Map lock request with infinite lease time should send -1 instead of Long.MaxValue internally"
Client Map lock and tryLock methods send `Long.MAX_VALUE` as an infinite lease time. There is a cluster property to set the max lease time for a lock, `hazelcast.lock.max.lease.time.seconds` with default value `Long.MAX_VALUE`.
If the cluster sets a smaller value to this system property, it receives an `IllegalArgumentException` as if the user sets a higher value than the allowed limit.

The solut

[2020-09-29 09:39] jerrinot commented on #17114
hello @janbartel,

the issue here is that you have an index on the map. In order to index an entry the entry must be deserialized (unless the entry uses the Portable serialization). So far so good.

The problem: Deserialization is happening on a partition thread which WILL NOT have an access to TCCL you are setting before calling `map.set()`. It could be happening even on a remote server.

I see t

[2020-09-29 11:12] petrpleshachkov commented on #17621
I rewrote the test in Java and managed to reproduce it on 4.1. Continue investigation.

[2020-09-29 11:19] mdogan commented on #17621
Does it still happen when you ensure backups are in-sync with primary before terminating the second instance?

[2020-09-29 12:26] petrpleshachkov commented on #17621
@mdogan , it is configured with the sync backup. Also, if I start the members as normal data ones, the test passes.

[2020-09-29 12:30] jerrinot commented on #17114
@janbartel I am assuming [this](https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-hazelcast/src/main/java/org/eclipse/jetty/hazelcast/session/SessionDataSerializer.java#L38) is the Serializer? Do you have a test case I could have a look? Or perhaps a list of steps to reproduce it. I'm not a Jetty expert, but I would like to help, this is an important use-case.

[2020-09-29 13:38] jerrinot commented on #17260
hi @lprimak,
thank you for creating the reproducer, that's definitely helpful!

First observation:
You wrote: _Another issue here is that reproducer needs Discovery API usage. When it's used, the initial connection is always one node (self) and then later, the discovery API is used to merge the instances together, so when that initial merge happens, the lock can be in an inconsistent state_

This

[2020-09-29 13:58] petrpleshachkov commented on #17621
@michael4401 , we have detected an issue that the `memberGroupSize` is not updated on non-master members when lite members are promoted. We are working on a solution to fix this.

[2020-09-29 14:12] jerrinot commented on #16609
There appears to be a race in a proxy initialization.

Consider this: There is a newly created flake id proxy and 2 user threads accessing the same proxy ends up in the [`getNode()` method](https://github.com/jerrinot/hazelcast/blob/97ff57ba92dc1fbfa77720885e7db40757999080/hazelcast/src/main/java/com/hazelcast/flakeidgen/impl/FlakeIdGeneratorProxy.java#L206). At this point the `nextNodeIdUpdate` f

[2020-09-29 14:37] janbartel commented on #17114
@jerrinot thanks for taking an interest in this problem.

I don't have a simple test case for you unfortunately, but I can explain how we use hazelcast and point you to some existing classes. We use hazelcast in jetty to store/distribute http session data. As the attributes of the http session can contain a mix of classes, some of which may exist on the server's classpath, and some of which may on

[2020-09-29 15:37] lprimak commented on #17114
@janbartel This problem I believe is solved by my TenantControl PR #17184 which is slated to go into 4.1

[2020-09-29 15:38] lprimak commented on #17114
See issue https://github.com/hazelcast/hazelcast/issues/10875 and it's derivatives

[2020-09-29 15:45] lprimak commented on #17260
Hi, @jerrinot thank you for taking this up.
The discovery API now has it's own issue, so let's take it there:
https://github.com/hazelcast/hazelcast/issues/17586

[2020-09-29 15:51] lprimak commented on #17586
Thanks @jerrinot for taking this up.
I am not quite sure if the steps below are a coincidence or not, because the merge timeout is also set to 5 seconds.
Secondly, this doesn't resolve the problem because in Payara I want to set that timeout to zero to reduce delays
in joining the cluster. See https://github.com/hazelcast/hazelcast/issues/17427 for more info.

The cluster join should work correctl

[2020-09-29 15:56] lprimak commented on #17586
Also, the `DISCOVERY_SPI_ENABLED` property is irrelevant, because with or without it, I see this line:
[code]
so either that's another bug or it's indeed irrelevant.

[2020-09-29 17:09] janbartel commented on #17114
@lprimak thanks for the links, very interesting. Looks like with the PayaraHazelcastSerializer, you're taking responsibility for serializing everything that is stored in hazelcast, and storing the id of the context to which the object belongs so you know effectively which classloader should deserialize it.

We're doing something similar, where we need to know which classloader should deserialize w

[2020-09-29 17:14] lprimak commented on #17114
ok, glad to help!

[2020-09-29 18:12] CP01 commented on #13151
@kwart  am using 3.12 and java 11 (OpenJDK Corretto-11.0.7.10.1) and got below warning messages -
`WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by com.hazelcast.internal.networking.nio.SelectorOptimizer (file:/Users/...application-1.47-SNAPSHOT.jar) to field sun.nio.ch.SelectorImpl.selectedKeys
WARNING: Please consider reporting this to the mainta

[2020-09-29 18:14] mmedenjak commented on #13151
@CP01 have you added the Java startup arguments?
https://docs.hazelcast.org/docs/4.0/manual/html-single/index.html#running-in-modular-java

[2020-09-29 18:22] CP01 commented on #13151
nope
Is it fine if we ignore this warning messages ? What piece gets impacted, if we do not apply startup args ?

[2020-09-30 05:14] michael4401 commented on #17621
@petrpleshachkov , thanks for the update.

[2020-09-30 06:13] mmedenjak commented on #13151
They are just warnings but not errors so everything should be fine until a JDK release where the JDK API is removed.

[2020-09-30 07:28] devozerov commented on #17065
@Holmistr please take a look at the comment https://github.com/hazelcast/hazelcast/pull/17630#issuecomment-701212666 in the related PR. It seems that we have some troubles with LICENCE/NOTICE/MANIFEST files in our artifacts. We need to confirm whether this is a problem or not.

[2020-09-30 08:02] kwart commented on #13151
In fact, some components may be affected when you don't use the arguments mentioned in the documentation. These come to my mind:
* Operating System metrics
* Hot Restart (EE feature)

Internal ref: https://hazelcast.atlassian.net/wiki/spaces/EN/pages/596607087

[2020-09-30 12:00] lazerion opened #17650 "CPMemberAddRemoveTest when_cpMembersShutdownConcurrently_then_theyCompleteTheirShutdown"
- Fails on `Hazelcast-4.master-CorrettoJDK8`
- Fails on [Build #92 (Sep 30, 2020 6:14:00 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-CorrettoJDK8/92/testReport/junit/com.hazelcast.cp.internal/CPMemberAddRemoveTest/when_cpMembersShutdownConcurrently_then_theyCompleteTheirShutdown/)
- Error
[code]
- Stacktrace
[code]
- Exception in logs
[code]
- kindly check

[2020-09-30 12:19] lazerion commented on #17461
@vbekiaris we got this on `Hazelcast-4.master-ZingJDK8` [Build #219 (Sep 28, 2020 5:18:12 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-ZingJDK8/219/testReport/junit/com.hazelcast.cache/HazelcastServerCachingProviderTest/com_hazelcast_cache_HazelcastServerCachingProviderTest/)
Therefore, reopening. Please let me know if I miss sth.
kindly check.

[2020-09-30 12:52] devozerov commented on #17065
Copy-paste from the mentioned comment:

1. The resulting `MANIFEST.MF` in the `hazelcast-all.jar` doesn't have packages from the `sql` module. Not sure whether this is a problem or not, but looks suspicious
1. Before 4.1 we had `apache-v2-licence.txt` file in the root directory. This is not the case now. Is it ok?
1. The `META-INF/LICENCE` file in the final JAR is ... **Jackson license**, not ours

[2020-09-30 13:53] thesreyas opened #17652 "Does client server support rolling uprade of client, if there are changes in classes that are loaded dynamically"
Given:
A long running HZ servers - HZ Clients(Version: V1)
When:
HZ Client is upgraded from v1 to v2 and there are changes in classes configured in clientUserCodeDeploymentConfig
Then:
HZ Client V2 should successfully connect to cluster and perform it's HZ related functionality
Result:
Failed

Questions1: *Is there way to mitigate this?*

Question2: Currently we need to configure Key-value classes

[2020-09-30 13:57] thesreyas commented on #17652
We see that above observation is inline with documentation. But want to double check as this looks like a common usecase which can block rolling upgrade of applicatoins connecting to Hazelcase server and using dynamic class loading.

https://docs.hazelcast.org/docs/latest/manual/html-single/#two-versions-of-a-class

Two Versions of a Class
If the client uploads a class and the member already has t

[2020-09-30 14:55] sancar commented on #17652
Hi @thesreyas
What is the reason for deploying your key-value classes?
Is your map in-memory format is Object?
Are you accessing the entries on the cluster via Entry Processor?
These are some of the use cases where a byte-array content needs to be deserialized. If you don't have similar use-cases you might not need to deploy your classes.
If you have a similar use-case, yes a client can not redepl

[2020-09-30 16:52] jerrinot commented on #17335
I am closing this issue.

there is a room for improvement, but everything is working as designed. feel free to re-open it if there are any new discoveries/oddities.

[2020-09-30 16:52] #17335 closed

[2020-10-01 03:54] thesreyas opened #17655 "k8s HZ server"
Excerpt from *https://github.com/hazelcast/hazelcast-kubernetes*

The recommendation is to use StatefulSet for managing Hazelcast PODs; in case of using Deployment (or ReplicationController), the Hazelcast cluster may start with Split Brain (which will anyway re-form to one consistent cluster in a few minutes).

We have challenges to use Statefulset on k8s. Can you please highlight challenges if w

[2020-10-01 05:35] thesreyas commented on #17652
Thanks for your response @sancar

Response to your questions:
Is your map in-memory format is Object?
NO

Are you accessing the entries on the cluster via Entry Processor?
NO

We are using HZ 3.11

We create hazelcast caches and maps.
Can you please confirm that server will never need class definitions?

[2020-10-01 07:33] #17566 closed

[2020-10-01 08:30] sancar commented on #17652
We are trying to make sure that deploying a class is not necessary as much as possible. Having said that there are still some edge cases that you need to be careful. It will not be feasible to list all of them(depending on the feature set that you are interested in, you may not worry about these anyway), but let me give a couple of examples to give you an idea.

If you are running a query, you nee

[2020-10-01 09:30] kwart commented on #14973
I'm taking a look - starting with 3.12.z code check.

[2020-10-01 09:57] agrandville opened #17658 "snakeyaml deny of service"
My dependency-check v6.0.2 warns me about a security issue (CVE-2017-18640) in  hazelcast-3.12.2.jar (shaded: org.snakeyaml:snakeyaml-engine:1.0).
I guess a problem with the snakeyaml dependency, the hazelcast's pom.xml refer to snakeyaml.engine.version v1.0.
but every version before snakeyaml-1.26 are impacted by the https://en.wikipedia.org/wiki/Billion_laughs_attack#Variations attack

This will

[2020-10-01 10:13] agrandville commented on #17658
duplicate https://github.com/hazelcast/hazelcast/issues/17425

[2020-10-01 10:13] #17658 closed

[2020-10-01 10:20] nfrankel commented on #17658
Thanks @agrandville for your interest, and the self-curation!

[2020-10-01 11:29] #17577 closed

[2020-10-02 07:41] vaughnd commented on #14799
I ran in to the same issue using our own HazelcastInstanceFactory extends AbstractFactoryBean on java 11, running embedded in a Spring Boot 2.3 instance on Tomcat. Everything that ran in a ForkJoinPool got these ClassNotFoundExceptions intermittently. Forcing the Thread.currentThread().getContextClassLoader() in the factory fixed it.

It seems to be ForkJoinPool itself that randomly gets different

[2020-10-02 10:54] NemesisMate opened #17666 "Missing forceUnlock in FencedLock implementation"
**Description**
I'd like to create create a "lock as a REST service" on a non-blocking server (in this case, webflux).
I would like to get a non-reentrant lock for a given identifier (e.g. userId) and be able to unlock it from a different thread. Basically, a non-thread dependent lock.
I can create a non-reentrant lock with the CPSubsystem(FencedLock) and I can unlock from a different thread on IM

[2020-10-02 11:49] AyberkSorgun opened #17670 "Behavior Difference in Configuration for User Code Deployment"
When I use the same configuration for User Code Deployment, it fails in declarative version but works in programmatic one

In a Client/Server structure, to enable User Code deployment programmatically, this is what I'm adding:
[code]

If you want to do it in hazelcast XML by using `<user-code-deployment enabled="true"/>`, it gives the following error:
[code]
After editing the .xml config as below,

[2020-10-02 12:32] kwart commented on #16754
I'm going to take a look into this.

[2020-10-02 13:17] sancar commented on #12788
Failed here again
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2543/testReport/junit/com.hazelcast.internal.partition/MigrationInvocationsSafetyTest/migrationCommit_shouldRollback_whenTargetCrashes/

Error Message
[code]
Stacktrace
[code]

[2020-10-04 07:27] lazerion opened #17675 "External config override for rest-api looks discarding optional second level of control for endpoint groups"
- Members have below config initially
[code]
- When we start with above we got below logs from members when checking `hazelcast/health`
[code]
- When config overridden for below with `-Dhz.network.rest-api.enabled=true`
[code]
[code]
- And members reports `hazelcast/health`, yet we have second level disabled as `endpoint-group name="HEALTH_CHECK" enabled="false"`

- kindly check or guide.

[2020-10-05 06:40] ihsandemir commented on #12788
Another failure: http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2579/testReport/com.hazelcast.internal.partition/MigrationInvocationsSafetyTest/migrationCommit_shouldRollback_whenTargetCrashes/

[2020-10-05 06:57] sancar commented on #16328
Failed again at: @ahmetmircik @mmedenjak
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2572/testReport/junit/com.hazelcast.client.map.impl.querycache/ClientQueryCacheRecreationTest/query_cache_recreates_itself_after_server_restart/

[code]

[2020-10-05 07:38] sancar commented on #17460
@mmedenjak Sorry to reopen it, but failed again :)
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2572/testReport/junit/com.hazelcast.map/IndexStatsChangingNumberOfMembersTest/testIndexStatsOperationChangingNumberOfMembers_format_OBJECT_/

Error Message
[code]
Stacktrace
[code]

[2020-10-05 08:03] mmedenjak commented on #17607
@devozerov WDYT, is this simple enough to include in 4.1?

[2020-10-05 08:08] devozerov commented on #17607
@neilstevenson this as not an issue. It is up to the product to decide which syntax to use for object name and for literals. in our case, we use double-quotes for object names and single quotes for literals. The tokens used for literals and object names are typically different because otherwise, it will be very difficult for the parser to understand what the user meant.

[2020-10-05 09:04] #17468 closed

[2020-10-05 09:05] devozerov commented on #17473
No. The current issue is about supporting JSON (`HazelcastJsonValue`) as top-level objects (key, value).
The mentioned issues are about supporting nested field access and collections for the whole engine. This would possibly require new extraction rules, new optimization rules, and new expressions.

[2020-10-05 09:21] pivovarit commented on #17675
I can confirm that I managed to reproduce the issue with the below setup:

[code]
[code]

When the first line is commented out, the response is `[]`, and when it's uncommented, the response it `[CLUSTER_READ, HEALTH_CHECK]`.

However, I have no clue what might be causing it. I will let you know as soon as I discover something.

[2020-10-05 09:31] mmedenjak commented on #17473
True, I'm just expecting a typical JSON to be chock-full of nested objects and collections.

[2020-10-05 09:37] mmedenjak commented on #17608
@devozerov can you take a look?

[2020-10-05 09:39] mmedenjak commented on #17609
@devozerov can you take a look?

[2020-10-05 09:43] mmedenjak commented on #17607
Closing as won't fix then, thank you for checking it out.

[2020-10-05 09:43] #17607 closed

[2020-10-05 09:47] mmedenjak commented on #17616
@sancar can you take a look?

[2020-10-05 09:48] pivovarit commented on #17675
Ok, I think I got it. The issue is with our configuration parser that throws away the existing config and always replaces it with a new one. On it.

[2020-10-05 10:26] #17342 closed

[2020-10-05 10:33] mmedenjak commented on #17666
Thank you for the report @NemesisMate , adding to backlog to assess the priority.

[2020-10-05 10:34] mmedenjak commented on #17655
Question was answered on community slack, closing - https://hazelcastcommunity.slack.com/archives/C015Q2TUBKL/p1601562151081500.

[2020-10-05 10:34] #17655 closed

[2020-10-05 10:41] mmedenjak commented on #17652
@thesreyas have you tried out the suggestions?

[2020-10-05 11:11] devozerov commented on #17608
Confirming. Our protocol cannot pass the null values back.

[2020-10-05 11:21] lazerion opened #17681 "External config override on advance networking public address looks also to override/default config element in same level"
- Member have initial config as given below under `advance-network`
[code]
- We override given config with below
[code]
[code]
- Logs indicate that bound `port` value is `5702` ⚠️
[code]
- Below are the logs when we run w/out overriding config with proper public address, it binds to configured port as `9000`, yet when overridden only `public address` it binds to `5702`
[code]
- kindly check or gui

[2020-10-05 12:28] devozerov commented on #17609
Apache Calcite relies on SLF4J. Unless there is an SLF4J implementation in the classpath, the aforementioned error message will appear, since it checks for a specific class in runtime unconditionally.
The simplest solution - is to add and relocate the missing artifact `slf4-log412`. However, this will increase the artifact size even further.

[2020-10-05 12:43] mmedenjak commented on #17609
By how much?

Also, I'm unsure if we are supposed to place logging frameworks on the classpath in the first place so maybe we can close this as a known issue. WDYT?

[2020-10-05 13:54] devozerov commented on #17609
In this case, we will have this annoying error message on every JVM without the SLF4 implementation in the classpath. I am investigating another solution - to define our own `StaticLoggerBinder` that will prevent this error message. This will be a single class in the `sql` module that will help to suppress the warning, without requiring additional dependencies, and not breaking other SLF4j-depende

[2020-10-05 13:57] mmedenjak commented on #17609
That would be perfect :)

[2020-10-05 14:00] thesreyas commented on #17655
@mmedenjak
Thanks for your response
Unfortunately unable to signup to slack
Can you please  post that explanation here? It is very important for us for couple of discussions scheduled tomorrow.

[2020-10-05 14:03] mmedenjak commented on #14864
@jeanse7en can you package and share your reproducer for the slow performance behaviour?

[2020-10-05 14:20] mmedenjak commented on #17655
You can join the Hazelcast slack by getting an invitation from here - https://slack.hazelcast.com/.

[2020-10-05 16:30] #17606 closed

[2020-10-05 19:06] #16609 closed

[2020-10-06 07:07] devozerov commented on #17065
I continue working on this issue once the PR https://github.com/hazelcast/hazelcast/pull/17630 is merged. Otherwise, the scope of the changes is not clear.

[2020-10-06 07:27] #12788 closed

[2020-10-06 08:56] #9753 closed

[2020-10-06 10:38] #17461 closed

[2020-10-06 10:48] #17637 closed

[2020-10-07 06:08] #17616 closed

[2020-10-07 06:13] sancar commented on #16813
@usermartin @m-yazdani Did you have a chance to check the `GenericRecord` solution we have introduced.

[2020-10-07 07:36] devozerov commented on #17065
Performed the vulnerability scan with the dependency-check plugin [1]. No vulnerabilities found.

1) The code:
[code]

2) The command: `mvn verify -DskipTests`

[1] https://jeremylong.github.io/DependencyCheck/dependency-check-maven/

[2020-10-07 07:39] devozerov opened #17693 "Check whether the OSGI metadata is needed for the SQL module"
Currently, the `MANIFEST.MF` of `hazelcast-sql.jar` doesn't have OSGI metadata (imports, exports, etc). This metadata is normally created by the `maven-bundle-plugin` (see other modules). The question is whether we need this metadata for the SQL module and if yes - what exactly is needed.

Another possible issue is that the classes from the `hazelcast-sql` module are not added to OSGI imports/expo

[2020-10-07 07:40] devozerov commented on #17065
There are two outstanding questions so far:
1. Whether we need an OSGI metadata in the manifest for the SQL module?
1. What to do with a license? Currently, neither Hazelcast nor 3-rd part licenses are included in the `hazelcast-sql.jar`

For the first question, a separate issue is created https://github.com/hazelcast/hazelcast/issues/17693. The second question will be addressed separately because

[2020-10-07 07:40] #17065 closed

[2020-10-07 07:47] Holmistr commented on #1
@wildnothing The feature is finally implemented and coming in 4.1 - https://github.com/hazelcast/hazelcast/pull/17201/files#diff-8787fd9af4d211a60ce1c9edc453dfd9R994

[2020-10-07 08:11] #17594 closed

[2020-10-07 09:18] #17609 closed

[2020-10-07 09:57] #17608 closed

[2020-10-07 11:43] sancar opened #17695 "UnsafeFencedLockMigrationTest.whenLockIsBlocked_thenBackupIsReplicated"
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2634/testReport/junit/com.hazelcast.cp.internal.datastructures.lock/UnsafeFencedLockMigrationTest/whenLockIsBlocked_thenBackupIsReplicated/

Error Message
[code]
Stacktrace
[code]

[2020-10-07 15:08] ndeevy commented on #11723
Hi @kwart if this is still needing to be done, can I try to address it for hacktoberfest?
In my tech writing day job we use the IBM Style Guide, which says:
"Always prefer a more direct verb or way of saying something. Omit “should,” or use “must” or “might,” as appropriate." so usually replace should with must to be more prescriptive.
Thanks!

[2020-10-07 16:08] kwart commented on #11723
@ndeevy Sure, there are still places that need to be fixed. So if you take it, it will be great!
Thank you.

[2020-10-07 16:15] mmedenjak commented on #11723
Sure @ndeevy , go ahead. Currently we're a bit tight on schedule with the 4.1 release, which should be out in a few weeks but we'll definitely appreciate this PR.

[2020-10-07 18:50] ndeevy commented on #11723
Thanks @kwart well, after an initial search of the repo I'm not sure where to find exception messages. I found lots of instances where replacing should might improve user focus and being prescriptive but not specifically exception messages. Could you point me in the right direction (otherwise I might be out of my depth and can leave this open for someone else). Thanks :)

[2020-10-08 08:20] kwart commented on #11723
I would start with a command similar to:
[code]

It gives a list similar to:
[code]

Many of the lines are OK with "should", some cases can be fixed immediately. Some have to be reviewed in the context of the class.

[2020-10-08 09:05] #14973 closed

[2020-10-08 11:05] asimarslan opened #17704 "MultiMap does not fire REMOVE event when delete method called."
MultiMap's delete method does not fire any kind of event when called. Contrary to IMap.delete firing a REMOVE event with oldValue set to null.

Here is a simple test to reproduce it:

[code]

The following fix seems to fix the problem:

[code]

[2020-10-08 11:49] sancar commented on #17652
@thesreyas I am merging this issue to https://github.com/hazelcast/hazelcast/issues/16813 as a duplicate.
If you have further questions feel free to ask.

[2020-10-08 11:49] #17652 closed

[2020-10-08 11:55] mmedenjak commented on #17693
Moving to backlog.

[2020-10-09 07:35] #17621 closed

[2020-10-09 09:52] #17597 closed

[2020-10-09 12:08] Danny-Hazelcast opened #17706 "sql service operations split brain hang"
http://jenkins.hazelcast.com/view/split/job/split-x/45/console

hz-bench-run-jenkins-split hz/stress/sql-service

/disk1/jenkins/workspace/split-x/4.1-SNAPSHOT/2020_10_09-10_15_12/sql-service

a hanging run with only sql Service operations

[code]

[2020-10-09 12:19] Danny-Hazelcast opened #17707 "hang at map size after cluster split brain healed"
http://jenkins.hazelcast.com/view/split/job/split-x2/19/console

 sh hz-bench-run-jenkins-split hz/stable/sql/mixed

 /disk1/jenkins/workspace/split-x2/4.1-SNAPSHOT/2020_10_09-10_24_43/mixed

 is hanging at a call to map size at the end of the test after the cluster has been healed.

[2020-10-09 13:13] ndeevy commented on #11723
Thanks @kwart ! I'll work on the list that command produced.

[2020-10-09 14:43] mleguevel opened #17709 "Out of memory when doing trylock twice on a FencedLock"
**Describe the bug**

When doing more than one tryLock on a FencedLock, then the subsequent tryLock / unlock lead to a memory leak.

What I mean is that the following code:

[code]
will lead to a OutOfMemoryError eventually whereas the following code:
[code]
will not.

**Expected behavior**

Doing two tryLock consecutively should not lead to memory problems.

**To Reproduce**

I implemented a simp

[2020-10-10 17:18] jeanse7en commented on #14864
@mmedenjak actually I got that problem when I need to run something immediately after the server starts. But at that time the spring cache was not finished initializing so that the cache couldnot work.
So I have to but the processing code after the server finishes starting up.
besides that the spring.cache.type = simple means the cache is stored in memory so during developing time I can avoid the

[2020-10-11 06:23] lazerion commented on #16465
- Re-opening per [Build #648 (Oct 10, 2020 9:17:00 PM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-sonar/648/testReport/junit/com.hazelcast.cache.eviction/CacheExpirationTest/test_whenEntryIsRemovedBackupIsCleaned_useSyncBackups_true_/) on `Hazelcast-4.master-sonar`
- Error
[code]
- Stacktrace
[code]
- Hiccups
[code]
- kindly check

[2020-10-11 06:29] lazerion opened #17711 "SlowOperationDetectorBasicTest testSlowRecursiveOperation"
- Fails on `Hazelcast-4.master-sonar`
- Fails on [Build #648 (Oct 10, 2020 9:17:00 PM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-sonar/648/testReport/junit/com.hazelcast.spi.impl.operationexecutor.slowoperationdetector/SlowOperationDetectorBasicTest/testSlowRecursiveOperation/)
- Error
[code]
- Stacktrace
[code]
- Hiccups
[code]
- It looks due to hiccups, yet I do

[2020-10-11 06:31] lazerion commented on #17650
- Also fails on [Build #70 (Oct 6, 2020 8:14:01 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-ZuluJDK13/70/testReport/junit/com.hazelcast.cp.internal/CPMemberAddRemoveTest/when_cpMembersShutdownConcurrently_then_theyCompleteTheirShutdown/)

[2020-10-12 06:34] mmedenjak commented on #14864
@jeanse7en not sure I understood the second part, maybe @pivovarit can comment. As for running code once the instance is started, you can also use the [`LifecycleListener`](https://github.com/hazelcast/hazelcast/blob/97ff57ba92dc1fbfa77720885e7db40757999080/hazelcast/src/main/java/com/hazelcast/core/LifecycleListener.java).

[2020-10-12 08:55] mmedenjak commented on #17114
One more comment, @jerrinot 's comment about using this approach in the client-server architecture still holds. If you're using client-server architecture, the information about which classloader to use will somehow need to be propagated from the client to the server/member, which is not something we support out-of-the-box and it's not covered by the mentioned tenant control PR. You may embed this

[2020-10-12 11:37] Danny-Hazelcast commented on #17706
https://github.com/hazelcast/hazelcast/pull/17712

[2020-10-12 14:28] jerrinot commented on #17711
The `SlowRecursiveOperation` is simply not executed at all and this the [`operation.join();`](https://github.com/hazelcast/hazelcast/blob/3687b51c1312f1978e0661bad341cfc77aaab362/hazelcast/src/test/java/com/hazelcast/spi/impl/operationexecutor/slowoperationdetector/SlowOperationDetectorBasicTest.java#L216) is waiting indefinitely causing a timeout.

Why is not executed? It's because the operation

[2020-10-12 14:59] Holmistr commented on #17387
@emre-aydin @ilkerkorkut Looks like this issue is fixed, should we close this issue?

[2020-10-12 15:35] devozerov opened #17714 "SQL cursor may hang during member stop"
Query execution is a stateful process. For every new query, we create a handle called `QueryState` that is used to cancel the query in the case of failures or a user request. All handles are stored in a concurrent map.

Currently, during member stop, we just clear the handles without canceling them. As a result. the user cursor may hang forever, because cancellation is not triggered, and at the sa

[2020-10-12 19:06] lprimak commented on #16358
I had these tests fail also on multi-homed hosts

[2020-10-13 05:44] #17387 closed

[2020-10-13 11:44] petrpleshachkov commented on #17709
@mleguevel , which HZ version do you use?

[2020-10-13 12:00] petrpleshachkov commented on #17709
I do see cleanup logic in the `Lock#removeInvocationRefUids`

[2020-10-13 12:17] mleguevel commented on #17709
@petrpleshachkov I'm using the 4.0.3 version. There is some cleanup logic in the class but it seems that it does not work when calling `tryLock` twice. This is because the `Lock#doRelease` function exits before calling `Lock#removeInvocationRefUids` here:

[code]
This leads to adding two entries to the map for each `tryLock`/`unlock`

[2020-10-13 13:03] #17706 closed

[2020-10-13 13:08] avgustinmm commented on #14483
Is  there any development here?

I think such feature for MapLoader would be very useful. The  javadoc for MapLoader says that the load of an entry/entries shall take very short time. It is highly restrictive and you could never ensure that call for DB layer will have no big latency - nevertheless the request is over WAN or not. Basically such synchronous API is not usable unless in very limited c

[2020-10-13 13:59] jerrinot commented on #17707
@Danny-Hazelcast is going to re-run it with diagnostics enabled.

Some observations: The threadump indeed shows a bunch of stuck(?) `map.size()` calls.
Example:
[code]
the `size()` is coming from [this](https://github.com/hazelcast/hzCmd-bench/blob/zeta/src/main/java/hzcmd/map/validate/Size.java#L15)

I can see partition threads are doing some work. Example:
[code]
or
[code]
So this does not look

[2020-10-13 14:56] mleguevel commented on #17709
@petrpleshachkov Our real use case that triggered the issue is from a code taken from spring, which consists in the election of a leader. You can see the code [here](https://github.com/spring-projects/spring-integration-extensions/blob/462a469d4c755021ba7a1730ddc86910692093e1/spring-integration-hazelcast/src/main/java/org/springframework/integration/hazelcast/leader/LeaderInitiator.java#L276).

[2020-10-14 06:00] petrpleshachkov commented on #17709
@mleguevel , maybe adding `Thread.sleep(5)` would help to reduce the number of `tryLock` invocations? Why would you do it in the active cycle?

[2020-10-14 08:04] harshvvi commented on #17370
@mmedenjak I would like to work on this and as It will be my first PR can you give a little insight how it should be done.

[2020-10-14 08:46] Danny-Hazelcast commented on #17707
passed on 3.12.10

failing on 4.1-SANP

Diagnostics enabled.

log trace http://jenkins.hazelcast.com/view/split/job/split-x2/31/console
log debug http://jenkins.hazelcast.com/view/split/job/split-x3/25/console

[2020-10-14 11:02] devozerov opened #17721 "SQL: React to cancellation more quickly"
Currently, the query cancellation works like this:
1. The error state is installed to `QueryState.completionError`
1. Fragments check for the error state when the control is passed between operators (`AbstractExec.checkCancelled`)

Now consider that we have a long-running scan operator that filters out many (if not all) rows. In the worst case, this scan will not stop until the whole IMap is scann

[2020-10-14 13:28] petrpleshachkov commented on #17260
@lprimak , can you confirm that you are using `Unsafe` mode and experiencing the issues? Do you have the issues in the production Safe mode?

[2020-10-14 13:48] lazerion commented on #16930
- Continues to fails occasionally on `Hazelcast-4.master-CorrettoJDK8`
- Fails on [Build #94 (Oct 14, 2020 6:14:00 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-CorrettoJDK8/94/testReport/junit/com.hazelcast.cp.internal/CPMemberAddRemoveTest/testRemoveMemberFromMajorityLostRaftGroup/)

[2020-10-14 14:02] kwart opened #17724 "Failing PartitionIndexingTest.testOnProgrammaticallyAddedIndexes"
The test `PartitionIndexingTest.testOnProgrammaticallyAddedIndexes[format:OBJECT]` failed on PR builder (`master` branch).
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2689/

**Stacktrace**
[code]

[2020-10-14 14:04] mmedenjak commented on #16813
Closing due to no activity. There are solutions in 4.1 for evolving domain objects and we have plans for allowing update of functions as well.

[2020-10-14 14:04] #16813 closed

[2020-10-14 14:05] kwart opened #17725 "Failing ScheduledExecutorServiceBasicTest.scheduled_executor_collects_statistics_when_stats_enabled"
The test `ScheduledExecutorServiceBasicTest.scheduled_executor_collects_statistics_when_stats_enabled` failed on PR builder (`master` branch).
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2689/

**Stacktrace**
[code]

[2020-10-14 14:41] lazerion opened #17726 "modulepath-tests causing CorrettoJDK11 build to report failure"
- Fails on `CorrettoJDK11`
- Sample [run](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-CorrettoJDK11/83/consoleFull)
- Reactor report logs good except `modulepath-tests`
[code]
- Test logs
[code]
- Kindly check

[2020-10-14 16:02] kosuruvarunkumar commented on #8767
Hi, I would like to pick this up. Can someone guide me through, please?
Thanks

[2020-10-14 18:23] saimonsez commented on #15299
Do you have any news about this issue or something like a best practice to handle this situation?

[2020-10-15 06:26] kwart commented on #16574
Another fail: http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2697/

[2020-10-15 06:30] kwart opened #17727 "NPE in SqlErrorTest.testMemberLeave"
The `SqlErrorTest.testMemberLeave` failed with an NPE on the PR builder (`master` branch):
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2697/

**Stacktrace**
[code]

[2020-10-15 07:29] kwart commented on #17726
The problem occurs on Java 11 when `-PparallelTest` is used. It's a problem in the Maven Surefire plugin (see also https://stackoverflow.com/questions/53437819/maven-surefire-and-jdk-11). I'll send a PR with the Surefire version update.

[2020-10-15 08:15] kwart commented on #17023
Unassigning myself. Let's resolve it on the PRD level first as suggested in https://github.com/hazelcast/hazelcast/pull/17601#issuecomment-707556280.

https://hazelcast.atlassian.net/wiki/spaces/PM/pages/1647083524/Code+Redeployment+via+Member+Client+User+Code+Deployment

[2020-10-15 10:19] #17727 closed

[2020-10-15 10:30] #17714 closed

[2020-10-15 11:21] mmedenjak commented on #8767
@kosuruvarunkumar I'm not sure if this is a good issue to begin with. Things have changed and as we mentioned, we probably don't use static loggers all that much anymore. The remaining usages either can't be removed or are trivial and would require 1 day at most.

The other issue, about centralised validation, is a big task IMHO. There is validation all over the codebase, some is done during confi

[2020-10-15 12:47] #17725 closed

[2020-10-15 13:29] #17711 closed

[2020-10-15 14:17] mmedenjak commented on #17370
Hi @harshvvi ! Although this issue will be simple in terms of not having to deal with many subsystems, it will be a bit involved since you'll have to decouple code which needs to run after the results have been fetched and before they have been returned to the user. Now, if we look at the code, both `IMap#values()` and `IMap#values(com.hazelcast.query.Predicate<K,V>)` end up calling `QueryEngineIm

[2020-10-15 14:38] mmedenjak commented on #17709
Moving to backlog. Agree it's something we need to invest time into (possibly in the 4.2 release) but currently, we must keep information about invocations while the lock is being held and we cannot evict these because of safety guarantees. Please consider adding a backoff policy like @petrpleshachkov mentioned.

[2020-10-15 14:46] mleguevel commented on #17709
@mmedenjak thank you for your response. As mentionned above, [I'm trying to see if this can be fixed](https://github.com/spring-projects/spring-integration-extensions/issues/235) in the algorithm used in the spring-integration-hazelcast project.

Thank you.

[2020-10-15 16:03] mmedenjak commented on #15299
@saimonsez as mentioned in the comment [here](https://github.com/hazelcast/hazelcast/issues/15299#issuecomment-510793887), all membership changes for the CP subsystem need to be manual and explicit. Not sure if that answers your question.

@afilipchik since I don't have experience with kubernetes, maybe @leszko can share some thoughts. Not sure how much of your issue applies to your kubernetes usa

[2020-10-16 07:30] leszko commented on #15299
We actually haven't ever tested specifically CP subsystem features in Kubernetes. Created a related GH Issue: https://github.com/hazelcast/hazelcast-kubernetes/issues/262

[2020-10-16 09:01] robinroos opened #17735 "IMap#iterable(Predicate)"
Targetting 4.1

**Proposal**

Take the existing:
[code]

And create a public API in IMap which differs from the above in that it:

1. does not require partitionId but works across all partitions, and
2. returns Iterable (not Iterator) so that it can be used as a stream source (as in Flux.fromIterable() ).

The actual implementation of the Iterable could be a simple wrapper of the Iterator to start

[2020-10-16 09:05] robinroos commented on #10828
I raised a feature request for taking the private iterable(partitionId, predicate) and making a public iterable(predicate).

https://github.com/hazelcast/hazelcast/issues/17735

Note that my proposal eliminates the need for the client to know the partitionId.
Also the return type would be Iterable, allowing for efficient streaming of results.

My intention is that there is a heap-efficient way to

[2020-10-16 10:46] kosuruvarunkumar commented on #17624
I would like to work on this. Can I please get some help on getting this done?
Thank you

@mmedenjak

[2020-10-16 11:21] mmedenjak commented on #17624
As mentioned on community slack (https://hazelcastcommunity.slack.com/archives/C0159HP69E3/p1602773637047400), please get in touch with @sancar and @asimarslan for guidance.

[2020-10-16 12:09] saimonsez commented on #15299
As @afilipchik already described, the CP subsystem does not seem to be designed to run on kubernetes or at least it's not clear how things should work. Given the docs and the information in this ticket, dying cluster nodes will cause application failures (exceptions while working with locks) until those API calls are made to remove and add a CP member. Someone or some application code needs to det

[2020-10-16 19:50] ulfjack commented on #11839
We are seeing a significant amount of ResponseAlreadySentException errors in our logs. Is this a serious issue or is it benign?

[2020-10-18 08:54] alimalek71 commented on #16640
I read the codes and the document about log4j2 async logging
It seems it just needs to add one dependency (`com.lmax.disruptor`) which is needed for `log4j2` async working and the other things by [this document](https://docs.hazelcast.org/docs/latest/manual/html-single/#example-log4j2-configuration) are to provide a log4j2 configuration file.

Am I correct?

[2020-10-19 06:10] mmedenjak commented on #11839
@ulfjack it should be benign but I've noticed the same and I think we should fix it regardless, possibly in 4.2

[2020-10-19 07:20] #11723 closed

[2020-10-19 13:05] #17726 closed

[2020-10-19 15:47] rruxandra opened #17746 "IMap.removeAll does not work when the map store and map eviction are enabled"
Hello,

It seems that `IMap.removeAll(predicate)` does not remove the entries from the MapStore when eviction is enabled on a distributed map.
Here is a test that reproduces the issue. Could you please check?

[code]

Thank you!

[2020-10-19 16:27] ahmetmircik commented on #17746
Hi @rruxandra,

Two problems i can see in your reproducer. First one, `deleteAll` must also use `deleteCount` instead of `storeCount`. Second one is, during your waiting to finish write-behind end, entries in memory are expired so `removeAll` cannot find any entry to  remove, reason is 1 second ttl is too short, it must be set to a higher value.

Could you please retry by changing these?

[2020-10-19 17:49] harshvvi commented on #17370
Hi @mmedenjak, sorry for the late reply I'm new to java concurrency hence I was doing a little bit of research. So what I can understand is that (I might be completely wrong) instead of calling [addResultsOfPredicate](https://github.com/hazelcast/hazelcast/blob/c064a59b87a27378e1e36e5168db6234e2b2a6e7/hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryEngineImpl.java#L197) from methods [doR

[2020-10-19 20:26] mmedenjak commented on #17370
Yes, something like that. I think it'll get a bit complicated as different executions of `IMap.values()` end up doing different things after retrieving the initial results and you'll need to refactor the code a bit not to have a single monolithic method with all cases and different callbacks.

Also, I think you can have `IMap.values()` internally call `IMap.valuesAsync()` and just block until the

[2020-10-19 20:51] mmedenjak commented on #15299
@saimonsez are you using FencedLock in unsafe mode? Unsafe mode is more closer to how `ILock` used to behave. You can also use the `IMap` lock methods which are basically the same as the 3.x `ILock` methods.

Other than that, `FencedLock` is supposed to be strongly consistent and will not remove members even if they have died. This is by-design to ensure safety of the protocol. You can turn this o

[2020-10-19 22:57] saimonsez commented on #15299
I don't remember if I was using FencedLock in unsafe mode. Anyway, thank you for all the hints.

How do you want to proceed with this ticket?

[2020-10-20 05:40] mmedenjak commented on #15299
We'll take a look some time in the near future. Adding to the next release.

[2020-10-20 08:59] rruxandra commented on #17746
Hi Ahmet,

Thanks for pointing out the issue with the deleteCount, I fixed it.

The second problem with the ttl is actually intentional. We have some cases when we would like to delete some data (which might be evicted) without having to manually load it first into the distributed map. The test passes if I use multiple IMap.remove(key) calls instead of IMap.removeAll(predicate).

I can imagine tha

[2020-10-20 12:56] jerrinot opened #17748 "4.1: Auto-detection enables multicast joiner even when it's disabled explicitly"
I'm starting Jet with this configuration
[code]
and I can see this in my log:
[code]
That's unexpected as multicast is explicitly disabled.

When I start it with this config:
[code]
then I can see this: `14:54:44.394 [ WARN] [c.h.i.i.Node] No join method is enabled! Starting standalone.`
That's what I want. I believe when join is (explicitly?) disabled then auto-detection should not use it at all.

[2020-10-20 12:59] ahmetmircik commented on #17746
I see your case. `IMap.removeAll(predicate)` doesn't load missing keys, it only scans existing reachable(=not expired) entries in memory, i will add this to its javaDoc.

As an alternative solution to `IMap.remove(key)`, if you know the keys in advance, `executeOnKeys` or `submitToKeys` can be more performant because of batching it does.

[2020-10-21 14:38] rruxandra opened #17750 "IMap.remove and IMap.delete operations don't update the LocalMapStats"
Hello,

We noticed that the `LocalMapStats.getLastUpdateTime()` method returns incorrect results when the `IMap.remove` or `IMap.delete` operations are executed.
We would expect that the `LastUpdateTime` metric is updated when entries are removed from a distributed map.
Here is a test that reproduces the issue. Could you please check?

[code]

Thank you!

[2020-10-22 07:34] michele-deluca opened #17751 "Hazelcast IMDG -- Hazelcast Management Center -- Queue statistic"
Hi, I use Hazelcast IMDG and Hazelcast Management Center in free edition and I need the possibility to clear the queue statistic

- max-age

- min-age

- average-age

it is possible to add them into the future version?

thanks.

@Team: Management Center

@emre-aydin

[2020-10-22 10:53] mmedenjak commented on #17748
@leszko how complicated is it to address this? We would like to start release verification for 4.1 this week

[2020-10-22 11:56] leszko commented on #17748
Currently, disabling Multicast has no effect.
[code]

If you want to start standalone, you just disable auto-detection:
[code]

I think that if disabling Multicast would make the auto-detection work but just without Multicast Joiner is slightly weird behavior.

The thing is that the default discovery now is "auto-detection" (not "multicast"). I know it's not 100% backward-compatible, but I guess w

[2020-10-22 13:14] v-chernyshev opened #17752 "Consider exposing source-local replica index change events"
**Please describe the problem you are trying to solve**

An in-house service framework that's been developed in our company has recently been upgraded to support opt-in sharding of incoming requests. Essentially they've exposed an API that lets people dynamically control the assignment of shard IDs and their priorities for failover reasons. We'd like to align this system with how Hazelcast shards

[2020-10-23 07:39] Danny-Hazelcast commented on #17707
inital hang issue was caused by test ignoring exceptions by mistake.
time out for merge operation increased
healing is slow,  much slower than other split heal tests.

[code]

1 split heal round,  stack trace every 5s
http://jenkins.hazelcast.com/view/split/job/split-sql/25/console  stack trace in out.txt
http://jenkins.hazelcast.com/view/split/job/split-sql/28/console stack trace in separate file

[2020-10-23 07:39] #17707 closed

[2020-10-23 08:37] devozerov commented on #17497
As @taburet mentioned, the described incorrect result is not possible, because we discard duplicate partition results. See `com.hazelcast.map.impl.query.QueryEngineImpl#addResultsOfPredicate`.

[2020-10-23 08:37] #17497 closed

[2020-10-23 08:46] jerrinot commented on #17748
I recall the discussion now. After talking to Rafal more I am ok with the current behaviour.
Rafal is going to mark it as a breaking change in the release notes.

[2020-10-23 08:46] #17748 closed

[2020-10-23 09:25] sancar commented on #17062
Hi all, we have decided to apply the fix but since it requires more testing to make sure it is stable, it is postponed to the next patch(4.1.1)

[2020-10-23 13:26] konikvranik commented on #17051
Hello, the `classpath:` scheme is no option as I have `hazelcast.xml` packed in my distribution i jar file on classpath. When I reference it by `spring.cache.jcache.config=classpath:hazelcast.xml` or let default value which should be the same, I have the same exception as mentioned above. So there is no option to provide distribution hazelcast config. (using hazelcast v 4.0.3).

The only solution

[2020-10-24 13:31] Dineshseervi commented on #10518
These two are very help full to over come any connection issue we face while clustering like HTT or not able to form cluster due to lots of pod to scan .Plz try set property either service-name or below that will help to use Hazelcast in your application without any clustering issue you face in k8s env
-->
join.getKubernetesConfig().setProperty("service-label-name", "label-name-you-want-to-use-fro

[2020-10-26 11:17] ilkerkorkut opened #17763 "Missing replicated-map configuration under the client permissions."
Missing replicated-map configuration under the client permissions.

[code]

These configuration properties should contain `replicated-map-permission`.

[2020-10-26 11:27] #17763 closed

[2020-10-26 16:48] ulfjack commented on #16754
We have also seen this issue. Any updates on the potential fix?

[2020-10-27 12:10] #17472 closed

[2020-10-27 13:48] AyberkSorgun opened #17772 "Clusteruptime has extremely high values"
When a Phone Home query executed to find clusters up more than a certain time (e.g clusteruptime > 86400000 * 365 * 5 -- which is 5 years) the query returns hundred thousands of clusters. As an example, one cluster has an uptime of 1588190002492 ms (18381 days).

The bug is verified by @emre-aydin and it is in `com.hazelcast.internal.cluster.ClusterClock#getClusterUpTime` method.

Original issue:

[2020-10-27 15:11] kwart opened #17773 "NPE when retrieving node-state before the node becomes ACTIVE"
This issue was reported by Even Holthe on Slack:

I’m trying to set it up via the helm charts on Azure Kubernetes Service. However, on startup I get the following cryptic error:
[code]
I’m seeing a lot of people getting it to run successfully on Kubernetes, so I’m thinking this must be a problem with my cluster somehow. Since this seems to be an internal Hazelcast issue, I’m unsure whether my netw