[2021-08-26 12:53] wubumihuo opened #19418 "sql condition support object or enum"
I USE hazelcast 4.2. And I want to select by condition that contains some ENUM fields.
like `SELECT * FROM RiskScenarioDefBO WHERE riskScenarioDataType='CURVE' ORDER BY publishTime DESC limit 0,10`
and riskScenarioDataType's java dataType is a ENUM named RiskScenarioDataType, How could I DO this?

[2021-08-27 10:42] TomaszGaweda opened #19425 "Add option to disable initial load on IMap completely"
Currently you can have:
- lazy loading
- eager loading

However, there's a catch. If you have many caches (like in our case, ~200), intial data loading takes much time (even if we just return emptyList from MapLoader). We had situations where lazy loading caused processing to break (as eg. data purge is not allowed when data is loading) and eager loading makes application startup much longer (desp

[2021-08-27 11:01] frant-hartm opened #19426 "hz-cli should warn if job jar contains core hazelcast classes"
When the users create job jars to submit via `hz-cli` using assembly or shade plugin they are supposed to exclude `hazelcast` or `hazelcast-enterprise` jars. This is a common mistake, which is harmless in some situations but not in others - e.g. submitting job packaged with EE to OS distribution or vice versa.

We can check the contents of the jar and if we detect that `hazelcast` or `hazelcast-en

[2021-08-27 11:03] sancar opened #19427 "SQL issues around deserializing into Object on the server [HZ-790]"
While working on https://github.com/hazelcast/hazelcast/pull/19362 , I have noticed that we have still problems mostly around how to handle deserialization of Compact/Portable.

The main thing is we need to deserialize into object (serializationService.toObject / GenericRecordQueryReader.read(path) ) only when it is needed.

### Problem 1:

`GenericRecordQueryReader.read(path) ` is designed to be

[2021-08-27 11:51] Danny-Hazelcast opened #19428 "NullPointerException (Target is required! Preconditions.java:59). (SenderTasklet.call(SenderTasklet.java:114). (JobTerminateRequestedException.java:28) (ProcessorTasklet.java:629)"
5.0-SNAPSHOT (20210827 - 7e99ac3, 4dadc2d) starting
#### Remaining Ones
jet split brain test /disk1/workspace/split-x/5.0-SNAPSHOT/2021_08_27-09_37_33/jet
[code]

[code]

#### Resolved Ones

[code]
 which is addressed on #19460

[code]
which is addressed on #19471 (I think it's ready to merge)

[2021-08-27 15:01] entbugger opened #19429 "Prevent Hazelcast client from shutting down on connection problems"
**The problem we are trying to solve**
We have a web application (Spring) that lazy connects to Hazelcast. The client is initialized on first HTTP request and is configured via XML (with the `<hazelcast-client>` element) through the XML configuration of a third-party library.

When Hazelcast server stays unreachable for a longer time (e.g because of network) the client will try on the first invoca

[2021-08-27 17:28] sumnerib opened #19430 "Confusing Message When Using Unsupported Type in SQL 'ORDER BY'"
**Describe the bug**
Trying to use ORDER BY on a field that doesn't correspond to a type listed [here](https://docs.hazelcast.com/imdg/4.2/sql/data-types.html) (excluding OBJECT), causes the following exception:

[code]

This happens even if you add a `SORTED` index for the field in question. For example, the following uses `java.sql.Date` instead of one of the `java.time.*` supported types:

[cod

[2021-08-28 14:53] viliam-durina commented on #19430
Is this for 4.2? We no longer have this error message in 5.0 anywhere.

[2021-08-30 06:31] frant-hartm commented on #19317
Closing - works as designed.

[2021-08-30 06:31] #19317 closed

[2021-08-30 07:25] viliam-durina commented on #19430
Closing as it doesn't reproduce in 5.0.

[2021-08-30 07:25] #19430 closed

[2021-08-30 07:50] jerrinot commented on #19134
@mmedenjak:
Here is my theory: SplitBrainProtection has a [listener](https://github.com/hazelcast/hazelcast/blob/40d555dc1110da9f63fd66f504c83d4382d0384b/hazelcast/src/main/java/com/hazelcast/splitbrainprotection/SplitBrainProtectionListener.java#L38) and there is a race between a listener invocation and cluster membership table propagation.

Consider this: You have an isolated member. This member

[2021-08-30 08:08] #19340 closed

[2021-08-30 08:08] #19342 closed

[2021-08-30 09:58] anilskalyane commented on #19388
We are facing this issue in the prod. Can anyone help me with this?

[2021-08-30 12:09] mmedenjak commented on #17776
Moving to 5.1. Feel free to send a PR with some logging if you have some ideas.

[2021-08-30 12:19] mmedenjak commented on #18147
Hasn't failed in several months so closing with the additional logging until the next failure. Thank you for the analysis @blazember !

[2021-08-30 12:21] mmedenjak commented on #18286
I tend to close this until next failure too, but just wondering if you had tried reproducing it on jenkins by running in repetition @fbarotov ?

[2021-08-30 12:28] mmedenjak commented on #18656
Closing as fixed by https://github.com/hazelcast/hazelcast/pull/19195. @mdumandag feel free to reopen if that's not the case.

[2021-08-30 12:47] mmedenjak commented on #18943
Yes, it's the same cause as https://github.com/hazelcast/hazelcast/issues/17462 since both tests delegate to the same method for testing. The cause is explained [here](https://github.com/hazelcast/hazelcast/issues/11647#issuecomment-686505783). Moving to backlog.

[2021-08-30 12:55] mmedenjak commented on #19287
@Fly-Style does this fix https://github.com/hazelcast/hazelcast-enterprise/issues/4198?

[2021-08-30 13:40] #19413 closed

[2021-08-30 16:01] erosb commented on #18609
Currently on `master` this test passes on CI, and locally as well.

It can be a source of confusion that if the `LOCAL` maven profile is not activated in IntelliJ, then the test will fail:  it won't use mock networking, and the test will not use `222.222.222.222` as a fake client IP, but it uses `127.0.0.1`, which is not listed as a trusted interface, therefore the client call gets rejected.

Clos

[2021-08-30 16:01] #18609 closed

[2021-08-31 06:33] #19387 closed

[2021-08-31 08:11] #15307 closed

[2021-08-31 08:30] kwart commented on #19396
Multicast on the loopback network interface doesn't work (according to my tests) on Mac OS.
See https://github.com/hazelcast/hazelcast/pull/19251#issuecomment-891375270

If you use the loopback, then configure the `tcp-ip` join mechanism.

[2021-08-31 08:47] mmedenjak commented on #19416
Hi @phuoc-le !

This exception doesn't tell much. You invoked a method on the queue, but it timed out. The timeout might be because of various reasons - network issues, CPU issues or other issues. To determine the cause, you need to read the logs of other members in the cluster, maybe look at some monitoring tools that you have or hazelcast diagnostics output if you have turned it on.

Unfortunate

[2021-08-31 08:53] mmedenjak commented on #19396
@kwart @ufukyilmaz I suggest closing this as a duplicate - we're already aware of the "issue". WDYT?

[2021-08-31 08:56] kwart commented on #19396
The test could be improved - either switched to `tcp-ip` or skipped on MacOS.

[2021-08-31 09:00] ufukyilmaz commented on #19396
I will update the network configuration in the test to a setup that works on every platform

[2021-08-31 09:41] mmedenjak commented on #19429
@entbugger thank you for the detailed report and suggestion! Handing off to @hazelcast/apis for consideration, please review and comment.

[2021-08-31 09:42] mmedenjak commented on #19418
Hi @wubumihuo ! I don't think we support enum types in 4.2 and I'm not sure if we'll support them in 5.0 yet. @viliam-durina can you confirm both? Is there someone who can answer on the 4.2 support?

[2021-08-31 10:04] wubumihuo commented on #19418
@mmedenjak thanks. And I want to know if Querying with SQL-like Predicates support Enum?  What differences between Querying with SQL-like Predicates and query with getsql() ?

[2021-08-31 10:33] mmedenjak commented on #19388
@leszko @hasancelik any ideas around this? Is it a "core" issue?

[2021-08-31 10:39] mmedenjak commented on #19415
@ssteiner thank you for the report. Can you post the whole log? There should be more information around migrations from which we can draw more conclusions.

[2021-08-31 10:42] mmedenjak commented on #19418
We don't plan on investing any more in SQL-like predicates, we are now focused on investing in the new SQL engine. I'm not sure if the SQL-like predicates support enums already, but you may work around it by using [attribute extractors](https://docs.hazelcast.com/hazelcast/5.0-beta-2/query/custom-attributes.html).

[2021-08-31 11:24] ssteiner commented on #19415
@mmedenjak : is the full console output enough is there any additional logging I should be turning on?

[2021-09-01 08:01] ihsandemir commented on #19429
Hello @entbugger The 1st alternative uses the default invocation timeout of 120 seconds, hence client invocation should be returning after 120secs.

The 2nd alternative, should be working with 2 seconds invocation timeout. Can you please tell which API call are you talking about when you say `client.invoke()`?  Do you have a reproducer code for the problem? By the way, can you also share your clie

[2021-09-01 08:09] leszko commented on #19388
I think it should go to the Core. If you have any issues reproducing it with Docker, ping us, we can help.

[2021-09-01 10:59] deepred-dev commented on #17998
The documentation is misleading:
"You can use system properties to configure some aspects of Hazelcast. You set these properties as name and value pairs through declarative configuration, programmatic configuration or JVM system property. Following are examples for each option."

And there is an example how to set system properties declarative, as mayurgithub tried to do:
https://docs.hazelcast.co

[2021-09-01 12:52] ahmetmircik commented on #19425
Seems plausible. So if you have a map-loader, we will not trigger underlying loading mechanism and will bypass it. In this case, for example, only `map#get` or `map#getAll` will try to load data, bulk loading mechanism will be bypassed. Currently loading needs coordination between members, with this new option there will be no extra coordination need for map-loading mechanism and this will elimina

[2021-09-01 17:02] anilskalyane commented on #19388
@leszko We are running the Hazalcast cluster in docker and the platform is centos. Connecting the HZ cluster using private IP from another machine

[2021-09-02 06:57] mmedenjak commented on #19415
For now we can take a look at the default logs and we'll turn on additional logging once we have some idea of what the problem might be.

[2021-09-02 07:15] mmedenjak commented on #19388
@anilskalyane can you send the configuration and the logs from all the members?

[2021-09-02 08:28] viliam-durina commented on #19418
Currently enums are mapped as OBJECT type. So you can use operators like `=`, `<`, `IS NULL` with them and convert them to VARCHAR (but not from VARCHAR), you can also sort by them. You can also read/write them using the java client, but not clients in other languages.

You can also create a getter/setter in your class that would return the enum's ordinal or name and work with them as INT or VARCH

[2021-09-02 09:03] wubumihuo commented on #19418
@viliam-durina thanks. Now our test case is the Enum definition is `@AllArgsConstructor
@Getter
@ToString
public enum RiskScenarioDataType {

    /**
     * 曲线
     */
    CURVE(1),
    /**
     * 价格
     */
    PRICE(2),
    /**
     * 波动率
     */
    VOLATILITY(3),
    /**
     * 未定义类型
     */
    UNDEFINED(-999);

    /**
     * 情景编号
     */
    private Integer enumCode;
}`
And
(1) when use sql

[2021-09-02 09:25] viliam-durina commented on #19418
I suppose in your value class you have these gettter/setter for the enum. Add also these methods:
[code]
Then use:
[code]

[2021-09-02 10:07] wubumihuo commented on #19418
thanks. @viliam-durina ,I think it will work for me to a certain extent. Is there any other slove idea？We have a lot of class definition and Enum definition, I think it hard to add the method like getRiskScenarioDataTypeString

[2021-09-02 12:24] Fly-Style commented on #19363
Fixed by https://github.com/hazelcast/hazelcast/pull/19412.

[2021-09-02 12:24] #19363 closed

[2021-09-02 14:23] viliam-durina commented on #19418
If you use Java only, you can also stay with the OBJECT type, but you have to use dynamic parameters:
[code]
It should also work with JDBC. I didn't test either scenario, but I hope it works 😃

[2021-09-02 15:12] alexb5dh commented on #19371
Closed via https://github.com/hazelcast/hazelcast-csharp-client/pull/506

[2021-09-02 15:12] #19371 closed

[2021-09-03 00:58] wubumihuo commented on #19418
@viliam-durina tks！It is wonderful! The scenario works for me, we just use java client. And the issue can be closed

[2021-09-03 07:15] #8065 closed

[2021-09-03 08:01] mmedenjak commented on #19418
Thank you for the clarification @viliam-durina !

cc @Serdaro @JakeSCahill please add this as a task to the docs backlog to see with Viliam if there is a way how to improve the docs in regards to querying enums.

[2021-09-03 08:05] ufukyilmaz commented on #19428
[code]

We get this NPE if the job execution in some member is removed through [JobExecutionService#onMemberRemoved](https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java#L313-L317) call right after an execution InitExecution is performed and before StartExecutionOperation is performed on this member.

[2021-09-03 08:13] fbarotov opened #19456 "TestManagedContext.testTransactionalRunnableTask:167 transaction manager could not proxy the submitted task."
Failed on [Hazelcast-pr-builder/6995](http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/6995/testReport/com.hazelcast.spring.context/TestManagedContext/testTransactionalRunnableTask/)

Stacktrace:
[code]

Standard output:
[code]

[2021-09-03 08:56] neilstevenson opened #19457 "SQL cannot query java.io.Serializable although defined"
Using Hazelcast Enterprise 5.0-SNAPSHOT (20210902 - 095fca5, d552967)

I have a map defined `__key OBJECT` where the `keyJavaClass` is a domain object that is `java.io.Serializable`

Running `SELECT * FROM map` from Management Center gives

```Failed to deserialize query result value: java.lang.ClassNotFoundException: com.MyKey```

[2021-09-03 08:56] neilstevenson opened #19458 "Misleading job cancelled message for SQL fault"
Using Hazelcast Enterprise 5.0-SNAPSHOT (20210902 - 095fca5, d552967), if I run an SQL query that fails,
this message appears in the logs:

[code]

This message is confusing, the user won't be aware of the job.

The SQL that failled is here https://github.com/hazelcast/hazelcast/issues/19457

[2021-09-03 10:09] fbarotov opened #19461 "com.hazelcast.map.IndexStatsChangingNumberOfMembersTest.testIndexStatsQueryingChangingNumberOfMembers[format:OBJECT]"
Failed on [Hazelcast-pr-builder/6983](http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/6983/testReport/junit/com.hazelcast.map/IndexStatsChangingNumberOfMembersTest/testIndexStatsQueryingChangingNumberOfMembers_format_OBJECT_/)

Stacktrace:
[code]

Standard output:
[code]

[2021-09-03 10:12] neilstevenson commented on #19396
@mmedenjak Please reopen, build still fails.

[code]

[2021-09-03 10:16] mmedenjak commented on #19396
I think this issue is covered with what Josef mentioned [here](https://github.com/hazelcast/hazelcast/issues/19396#issuecomment-909019927). @kwart @ufukyilmaz can you confirm?

[2021-09-03 10:34] neilstevenson commented on #19457
User error here, if I define the fields in the key in the mapping individually it's fine.

[2021-09-03 10:34] #19457 closed

[2021-09-03 11:47] kwart commented on #19396
This is not related to the multicast issue. It seems that the `DefaultAddressPicker` has chosen port 5702 instead of expected 5701.

@neilstevenson Are you sure there was no Hazelcast member running out of the testsuite? (Or some other app sitting on port 5701)
The `DefaultAddressPickerTest` runs with the serial JUnit runner and with no parallel JVMs allowed. So the test shouldn't be and shouldn't

[2021-09-03 14:22] mmedenjak commented on #19456
@ufukyilmaz is this already fixed with the [recent PR](https://github.com/hazelcast/hazelcast/pull/19447) you merged?

[2021-09-03 14:26] ufukyilmaz commented on #19456
Yes, this was fixed with #19447. Actually, this failure was the regression caused by my previous change in #19437.

[2021-09-03 14:26] #19456 closed

[2021-09-03 15:40] #18754 closed

[2021-09-06 07:09] #18416 closed

[2021-09-06 07:47] olukas opened #19463 "com.hazelcast.internal.ascii.RestClusterMultiendpointTest"
_master_ (commit 89254db9ee6767f998f897154d440ece6e5ae482)

Failed on Windows with OracleJDK8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Windows-OracleJDK8/318/testReport/com.hazelcast.internal.ascii/RestClusterMultiendpointTest/

Following tests failed:
- `testGetClusterState`
- `testChangeClusterState`

Stacktrace for `testGetClusterState`:
[code]

Stacktrace for `

[2021-09-06 07:50] olukas commented on #19381
Failed also with IBM JDK 8 in FIPS mode: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-fips-nightly/331/testReport/com.hazelcast.jet.core/SplitBrainTest/when_jobIsSubmittedToMinoritySide_then_jobIsCancelledDuringMerge/

[2021-09-06 08:22] #19325 closed

[2021-09-06 08:45] neilstevenson commented on #19396
@kwart  Nope, fails again, different point each time, build seems fragile
@mmedenjak Maybe a Jenkins buiild needed for Mac

[code]

[2021-09-06 08:48] ufukyilmaz commented on #19463
The root cause is the same with the latest occurrence of https://github.com/hazelcast/hazelcast-enterprise/issues/4059

[2021-09-06 09:40] Holmistr opened #19464 "CREATE MAPPING auto-suggestion"
**User paths**
* In MC in SQL browser, user should see an indication that the map doesn't have a mapping created. So it says "Do you want to create mapping? Here's a suggestion based on your sampled data:". Clicks run, boom, can query map now.
* If a user runs a SQL query (e.g. via clients) against a map that doesn't have mapping already, it adds the suggstion in the error message of the returned

[2021-09-06 09:46] neilstevenson opened #19465 "Enhancement: make stream stage timestamp public"
A stream stage may have timestamps, eg `withNativeTimestamps()`

It would be useful if there were made available to the application logic.

The use-case here is the application may be making some sort of time sensitive decision, and needs to know if the threshold has not passed (make the decision) or has passed (produce an error to help detect slow processing).

[2021-09-06 09:50] nfrankel commented on #19465
I concur with this one. Even without decision-making, the obvious use-case is to store the timestamp in the sink along the rest of the data.

[2021-09-06 09:50] hakanmemisoglu commented on #19287
Closing this one since
https://github.com/hazelcast/hazelcast-enterprise/issues/4198 is closed.

[2021-09-06 09:54] mmedenjak commented on #19465
@gurbuzali @viliam-durina any thoughts on this one - do you see it as something useful, and what would be the complexity of implementing it?

[2021-09-06 09:55] mmedenjak commented on #19256
@robinroos have you managed to try out the suggestion above and any info for us?

[2021-09-06 10:00] mmedenjak commented on #19263
@baphuc1998 are you still getting the error? Is it reproducible? Maybe there was some temporary issue with the network. It's hard to tell from just this exception what's the actual root cause.

[2021-09-06 10:01] mmedenjak commented on #19373
See also [discussion on slack](https://hazelcast.slack.com/archives/C01JU7ZJYGP/p1629363416245600).

[2021-09-06 10:03] mmedenjak commented on #19193
@leszko any thoughts about this one?

[2021-09-06 12:10] leszko commented on #19193
I think it's something we should work on, but I think the priority is very low.

[2021-09-06 12:31] AyberkSorgun opened #19469 "Remove mentions of Enterprise HD in code base"
Original author: @dbrimley

Could we scan the codebase to ensure we do not mention "Enterprise HD" as this product no longer exists.

For example, I found this in hazelcast-full-example.xml

[code]

[2021-09-06 12:45] JakeSCahill commented on #19418
@viliam-durina could you take a look at this commit please. https://github.com/hazelcast/hz-docs/pull/88/commits/ab21e1ff877816cb7a7107762d30eac49ca74fad

[2021-09-06 13:16] mmedenjak commented on #19193
Thanks! I just realised that @mtyazici is our own employee :) Feel free to take ownership of this issue then, maybe transfer it to JIRA or however you want to manage your backlog.

[2021-09-06 13:34] mmedenjak commented on #19396
Reopening but also moving to 5.1. Mac OS jenkins build may be added in the future, but it's not necessary for 5.0. Up until now, there hasn't been many requests to do so.

[2021-09-06 14:03] ufukyilmaz commented on #18896
These tests are ignored with https://github.com/hazelcast/hazelcast/pull/19445 on these platforms.

[2021-09-06 14:03] #18896 closed

[2021-09-07 05:29] kwart commented on #18961
Reopening. The test failed on `master` branch. (Mac OS)

### Stacktrace
http://jenkins.hazelcast.com/job/Hazelcast-master-Macos-OpenJDK8/2/com.hazelcast$hazelcast/testReport/com.hazelcast.jet.core/JobTest/when_jobWithSameNameManyTimes_then_queryResultSortedBySubmission/

[code]

### Standard Output

[code]

[2021-09-07 05:36] kwart commented on #19396
I have already seen builds that passed on Mac. My last run had 1 flaky test failure in the OS and 1 in the EE.

Slow/nightly tests may still need some care on Mac.

[2021-09-07 07:11] gurbuzali commented on #18961
test submits many jobs without any delay between and expects the output sorted according to the creation time. we use `System.currentTimeMillis()` for the creation time which can be same for 2 subsequent jobs. I presume adding `sleepAtLeastMillis(1)` should fix the issue.

[2021-09-07 07:39] gurbuzali commented on #19465
it is available if you are writing your own processor but not available through pipeline API.
We may need to introduce a lot of new API to provide timestamps, for example think of mapping stage:
`map(@Nonnull FunctionEx<? super T, ? extends R> mapFn)` gets the upstream item `T` and converts it to `R`. now we should introduce a `map(@Nonnull BiFunctionEx<? super T, Long, ? extends R> mapFn)`. We ne

[2021-09-07 07:40] viliam-durina opened #19472 "SQL job is hanging"
Originally reported by @Danny-Hazelcast in #19319

http://jenkins.hazelcast.com/view/freeze/job/freeze-x2/32/console

/disk1/workspace/freeze-x2/5.0-SNAPSHOT/2021_08_19-09_39_54/simple-sql

hanging at
at hzcmd.map.sql.predicate.PersonIdRange.timeStep(PersonIdRange.java:23).        map.values(sqlPredicate);
at hzcmd.map.sql.service.PersonIdRange.timeStep(PersonIdRange.java:16).            sqlServic

[2021-09-07 07:41] viliam-durina commented on #19319
All of the issues here have been fixed or have a pending PR, except for the unidentified NPE ([here](https://github.com/hazelcast/hazelcast/issues/19319#issuecomment-901787865)) and

`Failed to check light job state with coordinator ... MemberLeftException` - this is by design. If the member running the light job leaves, we can't check the state. Light jobs are not fault tolerant.

`MissingPartiti

[2021-09-07 08:04] slavagithub opened #19473 "HZ V5: H3 connector tries to connect with HZ5 libs if the correct path to HZ3 is not provided."
HZ V5: H3 connector tries to connect with HZ5 libs if the correct path to HZ3 is not provided.
**STEPS TO REPRODUCE:**
1. Setup H3 connector, create a pipeline.
2. Run job without configuring the path to H3
**RESULT:**
HZ5: "Unable to get live cluster connection"
HZ3 cluster: "java.lang.IllegalStateException: Unknown protocol: CP2"
**EXPECTED RESULT:**
The job should throw an exception like "Can't

[2021-09-07 08:28] olukas commented on #18839
Moving to `5.0` milestone since it failed in Sonar build (Oracle JDK 11): http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/975/testReport/com.hazelcast.partition/PartitionMigrationListenerTest/testMigrationStats_afterPartitionsLost_when_NO_MIGRATION/

Stacktrace:
[code]

Standard output:
[code]

[2021-09-07 08:28] olukas opened #19475 "com.hazelcast.cluster.TcpIpHostnameJoinTest.test_whenClusterNamesDiffer_then_have_two_separate_clusters"
_master_ (commit df84a67538fbca2a3b7d31045f9095192943857a)

Failed on Sonar build (Oracle JDK 11): http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/975/testReport/com.hazelcast.cluster/TcpIpHostnameJoinTest/test_whenClusterNamesDiffer_then_have_two_separate_clusters/

Stacktrace:
[code]

Standard output:
[code]

[2021-09-07 08:29] olukas commented on #19475
Failed also with IBM JDK 8 in FIPS mode: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-fips-nightly/332/testReport/com.hazelcast.cluster/TcpIpHostnameJoinTest/test_whenClusterNamesDiffer_then_have_two_separate_clusters/

[2021-09-07 08:35] Danny-Hazelcast commented on #19428
Hazelcast Enterprise 5.0-SNAPSHOT (20210907 - ed9b06e, e00b788) starting

[code]

hanging at
[code]

[2021-09-07 09:00] mmedenjak commented on #19428
There's also [this issue](https://github.com/hazelcast/hazelcast/issues/19103). Is it a duplicate?

[2021-09-07 09:01] mmedenjak commented on #19428
I also suggest we close this issue and open a new one, since we're now reusing this issue for different NPE's and it's getting confusing what was fixed and what isn't.

[2021-09-07 09:10] ufukyilmaz commented on #19428
#19103 is similar issue but it is not exactly same with:
[code]

[2021-09-07 09:27] mmedenjak commented on #19428
Ok, let's merge https://github.com/hazelcast/hazelcast/pull/19471 and keep this issue closed, and start opening new ones.

[2021-09-07 09:53] wubumihuo commented on #19418
@viliam-durina  hi，god (my most respect). I want to know how to realize Fuzzy query of  java type Date.
e.g.  we hava the deifinition `public class OtcBusinessNotifyBO {
    private String notifyLevel;

    private String notifyContent;

    private Date lastUpdateTime;

}`
And how to make the query sql effective?
SELECT * FROM OtcBusinessNotifyBO WHERE lastUpdateTime like '2021-09-06%'，and now ha

[2021-09-07 10:34] mmedenjak commented on #19319
`Future.complete(Object) on completed future` agree it's harmless and I've seen it since 4.0. There's another issue somewhere where Vassilis also [confirmed this](https://github.com/hazelcast/hazelcast/issues/19164#issuecomment-886512285).

As for this issue, agree we need to stop mixing failures. Let's get https://github.com/hazelcast/hazelcast/pull/19471 merged and keep this one closed.

[2021-09-07 10:42] ufukyilmaz commented on #19368
I can confirm that it is duplicate of the one in #19428.

[2021-09-07 10:43] wubumihuo commented on #19418
@viliam-durina  I think maybe I get the solve idea. I can change the sql to SELECT * FROM OtcBusinessNotifyBO WHERE cast( lastUpdateTime as VARCHAR) like '2021-09-06%'

[2021-09-07 10:50] mmedenjak commented on #19368
Thanks, closing this one then.

[2021-09-07 10:50] #19368 closed

[2021-09-07 12:56] olukas opened #19477 "fail-fast or log warning if role-separator is used in name of role in simple authentication configuration"
We should fail-fast during server start up (or at least log some warning) if role name in simple authentication configuration includes role-separator character. It basically means that expected role name will be split into more roles.

[2021-09-07 12:57] olukas opened #19478 "role-separator can be used more times in simple authentication configuration"
`role-separator` can be configured more times in configuration (last occurrence is used), we should limit it to max 1 occur. See:
[code]

[2021-09-07 13:52] TomaszGaweda opened #19479 "getAsync creates non-async operation"
Invoke:

[code]

When you look inside invocations, ``getAsyncInternal`` calls ``InvocationBuilder.invoke``, which creates an Invocation with async set to false (although the operation is async in fact). It creates problem when in PartitionOperationThread you want to get data from other member, when it's not allowed in non-async invocations.

[2021-09-07 18:20] entbugger commented on #19429
The problem in the 1st, 2nd and 3rd alternatives is that the Java code hangs during the client construction (around  `HazelcastClient.newHazelcastClient(clientConfig);`). Strictly speaking from the Hazelcast client point of view it is not a client invocation because the client is not yet constructed, but from the view of our application  it is a client invocation.
The log looks like this:

[code]

[2021-09-07 21:44] viliam-durina commented on #19418
Casting to VARCHAR works because our timestamp format is fixed and it always starts with the date.

But if your `lastUpdateTime` field was indexed, this conversion will prevent the usage of the index. Better way is `lastUpdateDate BETWEEN '2021-09-06' and '2021-09-06' + INTERVAL '1' DAY`

[2021-09-08 06:06] sancar commented on #19429
Hi @entbugger
I think you haven't tried the following configuration. Can you check it out ?

connection-attempt-limit>999999</connection-attempt-limit> and the system property hazelcast.client.invocation.timeout.seconds=2
<connection-strategy async-start="true" reconnect-mode="ON">

 `async-start="true"` makes sure that you will not wait for initial setup to complete on newHazelcastClient
`reconne

[2021-09-08 08:26] #19353 closed

[2021-09-08 08:30] #19428 closed

[2021-09-08 08:34] Danny-Hazelcast opened #19485 "NullPointerException ProcessorTasklet.close(ProcessorTasklet.java:629)"
http://jenkins.hazelcast.com/view/split/job/split-x3/50/console
/disk1/workspace/split-x3/5.0-SNAPSHOT/2021_09_08-08_18_13/jet

[code]

[2021-09-08 08:38] Danny-Hazelcast opened #19486 "NullPointerException Target is required! OutboundOperationHandler.java:45 Preconditions.java:59"
http://jenkins.hazelcast.com/view/split/job/split-x3/50/console
/disk1/workspace/split-x3/5.0-SNAPSHOT/2021_09_08-08_18_13/jet

[code]

[2021-09-08 08:43] neilstevenson opened #19487 "Align query-cache and near-cache handling of OBJECT format [HZ-771]"
Near-cache shares the object is selected.
Query-cache makes a copy of the object.
This is inconsistent and a performance cost for query-cache.

[2021-09-08 09:43] Danny-Hazelcast opened #19489 "NullPointerException JobExecutionService.java:451"
http://jenkins.hazelcast.com/view/freeze/job/freeze-x/115/console
/disk1/workspace/freeze-x/5.0-SNAPSHOT/2021_09_08-09_19_46/jet

[code]

[code]

[2021-09-08 11:09] Holmistr commented on #19387
This topic appears to be a bit controversial and a lot of people is asking why we did. Therefore, let me summarize the reasoning here once more for the future reference.

**What is implicit mappings?**
Implicit mapping is a "feature" where Hazelcast itself tries to deduce the schema automatically of your already existing pre-populated map.

**Decision made**
Remove implicit mappings in 5.0.

**Rea

[2021-09-08 13:03] Danny-Hazelcast opened #19490 "ConcurrentConveyorException: Queue drainer has already left ConcurrentConveyor.java:367"
http://jenkins.hazelcast.com/view/shutdown/job/shutdown-x2/38/console

hz-bench-run-jenkins-shutdown hz/stable/persist 0 4 M4C4

/disk1/workspace/shutdown-x2/5.0-SNAPSHOT/2021_09_08-12_49_17/persist

split brain / freeze versions of this test don't see this ConcurrentConveyorException exceptions

[code]

[2021-09-08 13:40] jerrinot commented on #19490
is there any suspicious exception before? this is just a consequence of some other error which is not propagated to a caller.

[2021-09-08 13:58] jerrinot opened #19492 "Raft: Cannot execute leadership rebalance at the moment [CTT-1019]"
Scenario:
1. Start 3 Hazelcast servers with CP enabled. For example via Docker: `docker run -e HZ_CP-SUBSYSTEM_CP-MEMBER-COUNT=3 hazelcast/hazelcast:latest-snapshot`
2. Wait for the metadata group to be formed
3. Terminate (ungracefully) 1 member

You will start seeing this in a log of one of the remaining servers:
`
[172.17.0.4]:5701 [dev] [5.0-SNAPSHOT] Cannot execute leadership rebalance at the

[2021-09-08 14:14] vbekiaris commented on #19490
Is the issue reproducible reliably? If so, can you try reverting EE to https://github.com/hazelcast/hazelcast-enterprise/commit/76b302a28fc41570c36e9805876f8f02dbc2963a and running the test again?

[2021-09-08 14:33] Danny-Hazelcast commented on #19490
reverting hazelcast/hazelcast-enterprise@76b302a EE wil not compile.
i see it was committed only 2 days ago,  i believe i have seen an occurrence of this issue before then.

[2021-09-08 14:34] TomaszGaweda opened #19494 "Remove the no-args constructor requirement in Compact Serializer"
Currently Compact Serializer requires user to have no-args constructors. While this being standard in entities (like JPA), it's inconvenient when you want to eg. send computation task with some internal state (parameters) or some flags.
In current Hazelcast with eg. Kryo you can have non-default constructor and it will work just fine, allowing user to archive better encapsulation.
There's a simple

[2021-09-08 14:48] entbugger commented on #19429
Hi @sancar
Thank you for your suggestion. I tried `<connection-attempt-limit>999999</connection-attempt-limit>` and `<connection-strategy async-start="true" reconnect-mode="ON">` and `hazelcast.client.invocation.timeout.seconds=2` with Hazelcast client 3.12 and 3.12.12. The result is that it still immediately throws  `com.hazelcast.client.HazelcastClientOfflineException: Client connecting to clust

[2021-09-08 15:34] TomaszGaweda commented on #19494
For the context: it was inspired by this comment: https://github.com/hazelcast/hazelcast/pull/19315#issuecomment-913599181

[2021-09-09 06:39] sancar commented on #19429
@entbugger Yes, you are right. I just tried that setup myself and my statement was wrong.

It seems that we have made an exception for the initial setup where you can no longer control the behavior via `reconnect-mode`. and I understand that this makes your use-case problematic. And I think, your use-case is a very common one.
I will discuss this within the team to see if how we can address it. No

[2021-09-09 09:47] viliam-durina commented on #19319
Closing as all mentioned errors have been fixed or are by design, except for the hanging job, which has its own issue (#19472)

[2021-09-09 09:47] #19319 closed

[2021-09-09 09:49] viliam-durina commented on #19472
@Danny-Hazelcast can you provide more information to this?
[code]
where's that code?

[2021-09-09 10:01] neilstevenson opened #19496 "SQL distinguish between unmapped and missing"
If I do `SELECT * FROM cOmPleXmApName` I get back the message
[code]
whether or not the map exists.

It would be helpful to distinguish between the object doesn't exist (perhaps name typed wrong, user error) and the mapping doesn't exist (operator error)

[2021-09-09 10:11] Danny-Hazelcast commented on #19472
https://github.com/hazelcast/hzCmd-bench/blob/zeta/src/main/java/hzcmd/map/sql/predicate/PersonIdRange.java#L23
https://github.com/hazelcast/hzCmd-bench/blob/zeta/src/main/java/hzcmd/map/sql/service/PersonIdRange.java#L16

[2021-09-09 10:35] Holmistr opened #19498 "Don't count SQL queries from MC client in phone homes"
MC will execute SHOW MAPPINGS in the SQL browser regularly in the background. It will screw up the phone homes statistics.
The proposed solution is for the SQL engine not to count the SQL  queries executed through the internal MC Java client in phone homes and MC will count them itself.

CC @jgardiner68

[2021-09-09 10:51] viliam-durina commented on #19498
Is the problem that it will look like everybody is using SQL heavily, while it's only MC listing the mappings?

[2021-09-09 11:11] Holmistr commented on #19498
Exactly. Or if the user is just executing a few queries, which signals that it's not some production usage but MC will bump those numbers up and that will distort the data.

[2021-09-09 11:59] slavagithub opened #19499 "HZ3-connector: not clear exception on start if HZ3 cluster is unavailable"
HZ3-connector throws java.lang.reflect.InvocationTargetException if it tries to connect to unavailable HZ3 cluster.
**STEPS TO REPRODUCE**
1. Make sure the HZ3 cluster is available.
2. Start job to sink or source the data.
**RESULT**
Job fails with exception "java.lang.reflect.InvocationTargetException" followed by "java.lang.NullPointerException" exception
**ALTERNATIVE**
Configure HZ3-connector

[2021-09-09 12:22] srknzl opened #19500 "Unnecessary builded twice Member in Client Cluster Service"
build() call in https://github.com/hazelcast/hazelcast/blob/fb720d9e7f4b7643c31fdb61e9b83b6ca8ecc552/hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java#L289 seems like unnecessary and should be deleted.

[2021-09-09 12:35] uron86 opened #19501 "map#clear causes all near-caches eventually drop all items"
According to [this message](https://groups.google.com/g/hazelcast/c/JTZVikM8gPQ/m/RSRllr85AwAJ), I create an issue for this bug :

**Description of the bug**
map#clear causes all near-caches eventually drop all items

**Expected behavior**
map#clear must evict all items only on the near-cache of the map we cleared

**To Reproduce**
Here is the scenario of reproduction :
* I made a simple springboo

[2021-09-09 12:41] #19463 closed

[2021-09-09 14:36] promanenko commented on #19498
In the current design (which is still not final!) MC is not going to execute `SHOW MAPPINGS` in background.
Please put this on hold

[2021-09-09 15:07] neilstevenson opened #19503 "Specify maximum message size for Python runner [HZ-1359]"
I get ```RESOURCE_EXHAUSTED: gRPC message exceeds maximum size 4194304:``` using 5.0-SNAPSHOT, today's build 20210908.

The Python runner does not allow the maximum message size to be changed

`NettyChannelBuilder` is used, https://github.com/hazelcast/hazelcast/blob/master/extensions/python/src/main/java/com/hazelcast/jet/python/PythonService.java#L72
and this has the option to amend
https://grpc

[2021-09-10 06:41] viliam-durina commented on #19496
A MAPPING doesn't represent only IMaps, but also kafka topics, files and more in the future. From this point of view the error message is correct. See also #19484.

[2021-09-10 07:49] mmedenjak commented on #19490
We might create a branch where the OS commit is reverted, together with the EE "quick fix" commit, and rerun with that.

[2021-09-10 08:01] #19305 closed

[2021-09-10 11:35] promanenko commented on #19498
We ended up doing `SELECT mapping_external_name FROM information_schema.mappings` in background in MC, so this task needs to be implemented

[2021-09-10 12:06] #19500 closed

[2021-09-10 12:34] viliam-durina commented on #19472
Then this is for the old Predicate API, changed the `Module` label.

[2021-09-10 12:38] Danny-Hazelcast commented on #19472
@viliam-durina  both the sql service and Predicate api are hanging.

predicate
https://github.com/hazelcast/hzCmd-bench/blob/zeta/src/main/java/hzcmd/map/sql/predicate/PersonIdRange.java#L23

Sql
https://github.com/hazelcast/hzCmd-bench/blob/zeta/src/main/java/hzcmd/map/sql/service/PersonIdRange.java#L16

[2021-09-10 14:42] viliam-durina commented on #19472
Do you have any more details? Like thread dump. Where exactly is it hanging? The jenkins link from the first post in this issue is 404.

[2021-09-13 06:45] Danny-Hazelcast commented on #19472
for issue https://github.com/hazelcast/hazelcast/issues/19472 SQL job is hanging #19472
latest hanging run is http://jenkins.hazelcast.com/view/freeze/job/freeze-x2/38/console
path to logs
/disk1/workspace/freeze-x2/5.0-SNAPSHOT/2021_09_09-15_41_56/simple-sql
while the test is running member jvm process are frozen and unfrozen.

[2021-09-13 08:50] Danny-Hazelcast commented on #19472
other examples of sql job hanging at http://jenkins.hazelcast.com/view/freeze/job/freeze-x3/15/console

[2021-09-13 08:52] Danny-Hazelcast commented on #19472
other examples of sql job hanging in split brain test http://jenkins.hazelcast.com/view/split/job/split-x3/54/console

[2021-09-13 09:18] Danny-Hazelcast commented on #19472
sql hanging in split brain test, with stack trace taken during the tests
http://jenkins.hazelcast.com/view/stable/job/split-sql/83/console

[2021-09-13 09:25] Danny-Hazelcast commented on #19472
only sql service running, split brain, sql hanging,  stack trace collected
http://jenkins.hazelcast.com/view/stable/job/split-sql-service/59/console
/disk1/workspace/split-sql-service/5.0-SNAPSHOT/2021_09_11-21_41_01/split-sql-service

[2021-09-13 09:39] leszko commented on #19193
Added to Jira: https://hazelcast.atlassian.net/browse/CN-197

[2021-09-13 10:44] #19426 closed

[2021-09-13 10:52] #19355 closed

[2021-09-13 10:52] #19356 closed

[2021-09-13 11:09] #19464 closed

[2021-09-13 12:25] #18774 closed

[2021-09-13 13:01] fbarotov commented on #19490
Not sure if it is a bug or a feature, for example the test below passes but also throws an exception same as the one above

[code]

and the test `MapCrashRecoveryTest#testSingleMemberCrash `

[code]

[2021-09-13 13:19] mmedenjak commented on #19490
Generally the `ConcurrentConveyorException: Queue drainer has already left` is a generic exception that stems from the fact that there are two separate threads - the partition thread and the persistence thread. The persistence thread dies because of some reason (e.g. no more HD memory) but user operations will always get `ConcurrentConveyorException: Queue drainer has already left` with no additio

[2021-09-13 13:22] #19001 closed

[2021-09-13 13:22] #19381 closed

[2021-09-14 07:16] #15104 closed

[2021-09-14 07:50] Holmistr commented on #19487
@ahmetmircik AFAIK you confirmed with Neil that this is a real issue. Do you have any idea on the effort needed for the fix?

[2021-09-14 08:02] ahmetmircik commented on #19487
This will be a behavior change. Now it is working how it should be in a safest manner. But, yes, this behavior change can increase performance. It can be a 2 days effort max i guess and possibly we need to put it in a minor release. This is not appropriate for patch releases. So closest candidates are 5.0 or 5.1.

[2021-09-14 08:18] Holmistr commented on #19487
5.0 is out of the question, we don't want to squeeze something like this a day before the code freeze. Especially when we don't have a clear view on the urgency (talking to Neil about it). I'll get back to this.

[2021-09-14 08:44] leszko opened #19524 "Regression: slow client connection when address translation in use"
**Describe the bug**

Client connection and interactions are very slow when address translation is used. I checked it while using the external smart client in Kubernetes. The issue does not appear in `BETA-1`. The issue appears in `BETA-2` (not always, but in 90% of cases).

It's not related to the client uses (I checked Java, Go, and Nodejs and behaves the same).

**Expected behavior**

In `BETA-

[2021-09-14 10:57] fbarotov opened #19527 "com.hazelcast.spring.cache.TestCacheManager.testBean_withTTL failure [HZ-996]"
on master

Failed on [Hazelcast-pr-builder/7140](http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/7140/testReport/junit/com.hazelcast.spring.cache/TestCacheManager/testBean_withTTL/)

Stacktrace:
[code]

Standard output:
[code]

[2021-09-14 11:07] mdumandag opened #19528 "Update the SqlService Javadoc and remove the BETA annotation"
There are some changes we need to make in the Javadoc of the SqlService. The problems I spotted are listed below. There might be other problems as well, so it would be good if someone from the SQL team go over it.

- It mentions `partitioned` schema, which I assume is not there anymore
- `If the member that initiates a query doesn't have local entries for the given IMap, the query fails.` I assume

[2021-09-14 18:06] srknzl opened #19532 "VARCHAR to DATE string format change request"
SQL Varchar to Date converter [code](https://github.com/hazelcast/hazelcast/blob/bf3a0922836353b3bc0071cbac726cc8d94dae30/hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/AbstractStringConverter.java#L53) works with [SignStyle.EXCEEDS_PAD](https://docs.oracle.com/javase/8/docs/api/java/time/format/SignStyle.html#EXCEEDS_PAD) right now. I don't know why you chose it but I think it is b

[2021-09-14 18:24] srknzl commented on #19532
sorry java's standard was used, closing the issue. I think it is my unfamiliarity with Java

[2021-09-14 18:24] #19532 closed

[2021-09-14 19:10] davoodshiraz opened #19533 "IQueue.drainT(Collection,maxElemenet) not removed element from queue"
`
IQueue<Message> queue = hazelcastInstance.getQueue("send-test");
List<Message> list = new ArrayList<>();
queue.drainTo(list,100);
`

list contain repeated message

[2021-09-14 21:20] #19043 closed

[2021-09-15 08:09] neilstevenson opened #19536 "ORDER BY in SQL not ordered"
Using `Hazelcast Platform 5.0-SNAPSHOT (20210915 - 645a193)`

If I run
[code]
results are not in order.

Reproducer
[code]

Sample output
[code]

[2021-09-15 08:38] neilstevenson commented on #19536
[code]
works, and
[code]
fails.

So the error maybe here is that is that the single quotes version is wrong but not rejected.

[2021-09-15 09:29] #19357 closed

[2021-09-15 10:58] #19528 closed

[2021-09-15 11:01] #19498 closed

[2021-09-15 11:09] mmedenjak commented on #19490
There seems to be some race on shutting down the member - hot restart store is already shut down, but some migrations are still ongoing:
[code]

Full member logs are here - [out.txt](https://github.com/hazelcast/hazelcast/files/7169523/out.txt)

[2021-09-15 11:44] fbarotov commented on #19490
Great, thanks a lot @mmedenjak. I thought that part of the log was a normal / expected warning, but I see it is not :)

[2021-09-15 16:09] #18102 closed

[2021-09-15 18:13] rksharma1972 commented on #19137
We are facing the issue in Hazelcast 4.2.2 when I add a lite member and try to get all existing maps in cluster. All I get is default map. What is target fix version for 4.x.x?

[2021-09-15 18:51] #19499 closed

[2021-09-16 05:39] sancar opened #19544 "Client event delivery problems"
I was going to make the title `Change the behavior of client waiting for initial membership with timeout ` since the discussion started around it. But since it boils down to event delivery problems, I wanted to make the title reflect the real problem.

This issue is to document the problems, discuss and gather ideas about how to proceed.

Note that this is not a new discussion. Here is an older is

[2021-09-16 06:59] gierlachg commented on #19343
I tried to reproduce it without luck unfortunately (Jenkins builds don't exist anymore either...). Let's reopen if it pops up again.

[2021-09-16 06:59] #19343 closed

[2021-09-16 07:05] mmedenjak commented on #19343
Even though jenkins prunes older builds, the build logs from failed builds are (almost always) archived in S3:

https://console.aws.amazon.com/s3/object/j-artifacts?region=us-east-1&prefix=Hazelcast-master-IbmJDK8-nightly/13/Hazelcast-master-IbmJDK8-nightly-13.tar

https://console.aws.amazon.com/s3/buckets/j-artifacts?region=us-east-1&prefix=Hazelcast-master-sonar/955/&showversions=false

And both

[2021-09-16 09:03] viliam-durina commented on #19536
Single quotes - a string literal
Double quotes - a quoted identifier.

So `ORDER BY 'count'` orders the results by an expression and since the expression is constant, there's no ordering at all. `ORDER BY "count"` is ordering by the column `count`. `ORDER BY count` doesn't work because `count` is a reserved keyword in SQL, if it's not quoted with double quotes.

[2021-09-16 09:03] #19536 closed

[2021-09-16 09:29] Danny-Hazelcast opened #19546 "member restart persistence jvm crash memory.impl.AlignmentAwareMemoryAccessor.getInt"
http://jenkins.hazelcast.com/view/hot-restart/job/hot-bounce/340/console

/disk1/workspace/hot-bounce/5.0-SNAPSHOT/2021_09_16-09_01_04/bounce

HzMember2HZ timeout restarting member node

./output/HZ/HzMember2HZ/hs_err_pid2972.log

[code]

cat  ./output/HZ/HzMember2HZ/out.txt
[code]

[2021-09-16 09:33] Danny-Hazelcast commented on #19546
i have seen the failure mode where the member fails to start however, this is the first time the jvm crashed.
and we have a more detailed info available in the   hs_err_pid2972.log

[2021-09-16 09:43] neilstevenson opened #19547 "GeneralStage with broadcast"
A `GeneralStage` does not have the equivallent of a DAG's `Edge.broadcast().distributed()`

It would be useful to be able to send data to all processors

For example, if a job has one of the `mapUsingService` variants, to be able to pass a control message to all processors

[2021-09-16 09:53] kwart opened #19548 "TestEmptyApplicationContext.testXmlWithoutConfig"
The `com.hazelcast.spring.TestEmptyApplicationContext.testXmlWithoutConfig` started to fail recently on PR builder (`master` branch):

http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/7192/
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/7194/
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/7196/
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/7199/
http://jenkins.hazelcast.

[2021-09-16 10:32] neilstevenson opened #19550 "JobClassLoaders warning"
Using Hazelcast Enterprise 5.0-SNAPSHOT (20210915 - e0793e4, 9ae3a4b)
this message comes out periodically

[code]

[2021-09-16 10:35] neilstevenson opened #19551 "Migration operation is received before startup is completed"
Using Hazelcast Enterprise 5.0-SNAPSHOT (20210915 - e0793e4, 9ae3a4b)
I see migration warnings in a 2 node cluster

[code]
and
[code]

[2021-09-16 10:52] neilstevenson opened #19552 "Migration count incorrect"
Using Hazelcast Enterprise 5.0-SNAPSHOT (20210915 - e0793e4, 9ae3a4b)

[code]

281 is an incorrect total

Related perhaps to https://github.com/hazelcast/hazelcast/issues/19551

[2021-09-16 11:35] Danny-Hazelcast commented on #19546
[code]

http://jenkins.hazelcast.com/view/hot-restart/job/hot-bounce/342/console

/disk1/workspace/hot-bounce/5.0-SNAPSHOT/2021_09_16-11_15_09/bounce

[2021-09-16 11:38] Danny-Hazelcast commented on #19546
[code]

[2021-09-16 11:59] Danny-Hazelcast commented on #19546
3rd

[code]

/disk1/workspace/hot-bounce/5.0-SNAPSHOT/2021_09_16-11_52_32/bounce

[2021-09-17 10:26] myawnhc opened #19554 "Deadlock between JetSpringServiceFactories and Job.join"
Note: I have a simple reproducer for this at https://github.com/myawnhc/BIAHub, the repo is private because it is customer code.  If you're looking into this issue, please contact me and I'll add you as a contributor.

Simple pipeline code that does readFrom(TestSources), mapUsingService with a JetSpringServiceFactories.bean() call, and writeTo(Sinks.logger).  Job is created from the pipeline and

[2021-09-17 11:29] erosb opened #19555 "ReliableTopic totalPublishes metric is always 0"
This was reported by a community user at: https://groups.google.com/g/hazelcast/c/AaNdgDamGtc

**Describe the bug**

The `reliableTopic.totalPublishes` metric is always 0.

**Expected behavior**
The `reliableTopic.totalPublishes` should be incremented on each publish, just like `topic.totalPublishes`

**To Reproduce**

Steps to reproduce the behavior:
1. Start a HZ 4.2.2 (or 5.0-BETA-2) member wit

[2021-09-17 12:05] myawnhc commented on #19554
Ali has looked at this code and noted that the pipeline creation, job submit and join is all being done in the constructor of the application class, which means it is happening during the bean creation phase of Spring.  The 'correct' solution is probably for the customer to restructure the code in a way that moves the job submit and wait out of the constructor; but this is difficult to diagnose an

[2021-09-17 12:17] #19524 closed

[2021-09-17 12:40] #19320 closed

[2021-09-17 17:04] brianjones opened #19557 "getForUpdate incorrectly increments node-wide write-behind counter [HZ-1174]"
**Describe the bug**
If `getForUpdate()` is called on a map during a transaction and no subsequent update is actually made to the entry, then when the transaction commits space will be allocated with the node-wide write-behind counter during the prepare phase and not released during the commit phase.

The result of this is that over time, the counter continuously increases. Eventually, it will rea

[2021-09-20 06:40] olukas opened #19559 "com.hazelcast.internal.nio.ascii.HttpRestEndpointGroupsTest"
_5.0_ (commit 44128991bbf0d5d5500de62c9941fd0983b275fc)

Failed on release branch test (Oracle JDK 8): http://jenkins.hazelcast.com/view/Release/job/Hazelcast-5.releaseBranch-nightly/1/testReport/com.hazelcast.internal.nio.ascii/HttpRestEndpointGroupsTest/

Following tests failed:
- `testOthersWhenGroupEnabled[restEndpointGroup:PERSISTENCE]`
- `testOthersWhenGroupDisabled[restEndpointGroup:PERSIST

[2021-09-20 06:40] olukas opened #19560 "com.hazelcast.jet.core.SplitBrainTest.when_newMemberIsAddedAfterClusterSizeFallsBelowQuorumSize_then_jobRestartDoesNotSucceed"
_5.0_ (commit 44128991bbf0d5d5500de62c9941fd0983b275fc)

Failed on release branch test (Oracle JDK 8): http://jenkins.hazelcast.com/view/Release/job/Hazelcast-5.releaseBranch-nightly/1/testReport/com.hazelcast.jet.core/SplitBrainTest/when_newMemberIsAddedAfterClusterSizeFallsBelowQuorumSize_then_jobRestartDoesNotSucceed/

Stacktrace:
[code]

Standard output:
[code]

[2021-09-20 06:41] olukas opened #19561 "com.hazelcast.jet.core.TopologyChangeTest.when_nodeIsNotJobParticipant_then_initFails"
_5.0_ (commit 44128991bbf0d5d5500de62c9941fd0983b275fc)

Failed on release branch test (Oracle JDK 8): http://jenkins.hazelcast.com/view/Release/job/Hazelcast-5.releaseBranch-nightly/1/testReport/com.hazelcast.jet.core/TopologyChangeTest/

It failed in following variants:
- `liteMemberFlags(0)`
- `liteMemberFlags(1)`
- `liteMemberFlags(2)`

Stacktrace:
[code]

Standard output:
[code]

[2021-09-20 10:48] olukas opened #19571 "Vulnerabilities in Elasticsearch 5 used by Jet in HZ 5.0"
Jet Elastic 5 connector uses Elasticsearch `5.6.16` which includes following vulnerabilities:
- CVE-2020-7021 - https://nvd.nist.gov/vuln/detail/CVE-2020-7021
- CVE-2020-7020 - https://nvd.nist.gov/vuln/detail/CVE-2020-7020
- CVE-2020-7019 - https://nvd.nist.gov/vuln/detail/CVE-2020-7019
- CVE-2019-7614 - https://nvd.nist.gov/vuln/detail/CVE-2019-7614

This issue is migrated from issue https://git

[2021-09-20 10:51] olukas opened #19572 "Vulnerabilities in AWS Java SDK Bundle used by Jet in HZ 5.0"
This issue was migrated from issue https://github.com/hazelcast/hazelcast-jet/issues/2979. See the original issue for more details.

[2021-09-20 10:52] olukas opened #19573 "Vulnerabilities in htrace-core4 used by Jet in HZ 5.0"
This issue was migrated from issue https://github.com/hazelcast/hazelcast-jet/issues/2980. See the original issue for more details.

Related Apache issue: https://issues.apache.org/jira/browse/HDFS-15333

[2021-09-20 10:53] olukas opened #19574 "Vulnerabilities in jquery used by Jet in HZ 5.0"
This issue was migrated from issue https://github.com/hazelcast/hazelcast-jet/issues/2986. See the original issue for more details.

[2021-09-20 10:54] olukas opened #19575 "Vulnerabilities in Jackson Mapper ASL used by Jet in HZ 5.0"
This issue was migrated from issue https://github.com/hazelcast/hazelcast-jet/issues/3016. See the original issue for more details.

[2021-09-20 10:55] olukas opened #19576 "Vulnerabilities in Elasticsearch 7.10.0 used by Jet in HZ 5.0"
This issue was migrated from issue https://github.com/hazelcast/hazelcast-jet/issues/3018. See the original issue for more details.

[2021-09-20 10:55] olukas opened #19577 "Vulnerabilities in avro and avro-ipc-jetty used by Jet in HZ 5.0"
This issue was migrated from issue https://github.com/hazelcast/hazelcast-jet/issues/3063. See the original issue for more details.

[2021-09-20 10:56] olukas opened #19578 "Vulnerabilities in Apache Commons IO 2.5 used by Hadoop in Jet in HZ 5.0"
This issue was migrated from issue https://github.com/hazelcast/hazelcast-jet/issues/3066. See the original issue for more details.

[2021-09-20 11:33] frant-hartm opened #19580 "Observable#iterator may recreate underlying ringbuffer"
**Describe the bug**
Observable#iterator may recreate underlying ringbuffer

**Expected behavior**
ringbuffer should the reliably destroyed.

**To Reproduce**

[code]

[2021-09-20 12:37] slavagithub opened #19581 "Hz3 connector is not able to enrich the data if it is serialized with a Portable, DS, IDS serializer"
Hz3 connector is not able to enrich the data if it is serialized with a Portable, DS, IDS serializer
**STEPS TO REPRODUCE:**
1. Hz3 side: add IMap<Integer, TestItemPortable> to the cluster and put some items in it (TestItemPortable implements Portable)
2. HZ5 side: Register Portable factory. Try to enrich using a Hz3 connector.
**RESULT:**
Job failed with an exception
[code]
**REPRODUCER:**
**Enri

[2021-09-20 14:13] #19559 closed

[2021-09-20 15:38] olukas opened #19583 "com.hazelcast.jet.core.Job_SeparateClusterTest.when_suspendedJobScannedOnNewMaster_then_newJobWithEqualNameFails"
_master_ (commit cc91ae30974826357cd856b11095519638fcb1ea)

Failed on Oracle JDK 8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-OracleJDK8-nightly/862/testReport/junit/com.hazelcast.jet.core/Job_SeparateClusterTest/when_suspendedJobScannedOnNewMaster_then_newJobWithEqualNameFails/

Stacktrace:
[code]

Standard output:
[code]

[2021-09-20 16:54] #19561 closed

[2021-09-21 07:49] ramizdundar opened #19588 "Leaking execution context"
@viliam-durina mentioned about a possible leak of execution context in a recent PR. Consider te following scenario:

- thread 1 is executing `InitExecutionOp`. The execution reaches the point just before the `executionContext` is inserted.
- thread 2 then handles `JobExecutionService.onMemberRemoved`, because the master left. The new execution context is not yet added.
- thread 1 inserts the `exec

[2021-09-21 08:38] olukas opened #19590 "Vulnerabilities in Netty 4.1.51 shaded in grpc-netty used by Jet in HZ 5.0"
Some of Jet connectors (`hazelcast-jet-files-gcs`, `hazelcast-jet-grpc`, `hazelcast-jet-python`) uses `grpc-netty-shaded` which uses Netty `4.1.51` which includes following vulnerabilities:
- CVE-2021-21409 - https://nvd.nist.gov/vuln/detail/CVE-2021-21409 (it's fixed in 4.1.61.Final)
- CVE-2021-21295 - https://nvd.nist.gov/vuln/detail/CVE-2021-21295 (it's fixed in 4.1.60.Final)
- CVE-2021-21290 -

[2021-09-21 08:39] olukas commented on #19590
We currently cannot fix it since the latest version of `grpc-netty-shaded` uses `4.1.52.Final` which still contains those CVEs.

[2021-09-21 08:42] olukas opened #19591 "Vulnerabilities in Jetty 9.4.39 used by Jet in HZ 5.0"
This issue was migrated from issue https://github.com/hazelcast/hazelcast-jet/issues/3067. See the original issue for more details.

[2021-09-21 08:54] viliam-durina commented on #19588
And first we need to confirm that this issue exists. I deduced it only from reading the code 😃

[2021-09-21 09:32] slavagithub opened #19592 "XmlYamlClientConfigBuilderEqualsTest, ClientFailoverConfigResolutionTest and XmlClientFailoverConfigBuilderConfigResolutionTest failures"
com.hazelcast.client.config.ClientFailoverConfigResolutionTest, com.hazelcast.client.config.XmlClientFailoverConfigBuilderConfigResolutionTest and com.hazelcast.client.config.XmlYamlClientConfigBuilderEqualsTest.testFullClientFailoverConfig fails with "org.xml.sax.SAXParseException; schema_reference.4: Failed to read schema document 'null'" exception

master / 5.1 (rev 462045ca037af733bded32375ea4

[2021-09-21 09:38] slavagithub opened #19593 "com.hazelcast.internal.nio.ascii.TextProtocolsConfigTest"
com.hazelcast.internal.nio.ascii.TextProtocolsConfigTest fails because it expects 5.0 version

master / 5.1 (rev 462045c )
Failed on Zing JDK 8
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZingJDK8/340/testReport/

Stacktrace:
[code]

Standard output:
[code]

[2021-09-21 09:39] ldziedziul commented on #19593
Should be fixed by https://github.com/hazelcast/hazelcast/pull/19569, could you double-check?

[2021-09-21 09:40] ldziedziul commented on #19592
Should be fixed by https://github.com/hazelcast/hazelcast/pull/19569, could you double-check?

[2021-09-21 09:41] slavagithub opened #19594 "com.hazelcast.internal.serialization.impl.compact.extractor.ExtractionInArraySpecTest"
_master_ / _3.0-maintenance_ (commit INSERT_COMMIT_ID_HERE)

master / 5.1 (rev 462045c )
Failed on Zing JDK 8
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZingJDK8/340/testReport/

Stacktrace:
[code]

Standard output:
[code]

[2021-09-21 09:42] ldziedziul commented on #19594
Should be fixed by https://github.com/hazelcast/hazelcast/pull/19569, could you double-check? ;)

[2021-09-21 09:45] slavagithub commented on #19592
Shure, let me close once job re-run

[2021-09-21 09:47] slavagithub commented on #19594
Should be fixed, I'll close once job re-run

[2021-09-21 09:48] slavagithub commented on #19593
I'll close once job re-run and test passed

[2021-09-21 10:11] slavagithub opened #19596 "com.hazelcast.spring.config.SpringSchemasValidityTest.testBothHttpAndHttpsAvailable fails with assertion error"
com.hazelcast.spring.config.SpringSchemasValidityTest.testBothHttpAndHttpsAvailable fails with assertion error

Master / 5.1 (462045ca037af733bded32375ea4d7e96b52628a)
Master Sonar
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/985/testReport/

Stacktrace:
[code]

[2021-09-21 10:18] slavagithub opened #19597 "SqlCompactTest.test_fieldsMapping and SqlCompactTest.test_allTypes"
com.hazelcast.jet.sql.impl.connector.map.SqlCompactTest.test_fieldsMapping and com.hazelcast.jet.sql.impl.connector.map.SqlCompactTest.test_allTypes fails with "java.util.NoSuchElementException: No value present"

Master / 5.1 (462045c)
Master Sonar
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/985/testReport/

Stacktrace:
[code]

Standard output:
[code]

[2021-09-21 10:21] slavagithub opened #19598 "SqlCompactTest.test_schemaEvolution_fieldAdded and SqlCompactTest.test_schemaEvolution_fieldRemoved"
com.hazelcast.jet.sql.impl.connector.map.SqlCompactTest.test_schemaEvolution_fieldAdded and com.hazelcast.jet.sql.impl.connector.map.SqlCompactTest.test_schemaEvolution_fieldRemoved fail with assertion error "expecting []"

Master / 5.1 (462045c)
Master Sonar
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/985/testReport/

Stacktrace:
[code]

Standard output:
[code]

[2021-09-21 10:28] slavagithub opened #19599 "SqlCompactTest.test_writingToTopLevelWhileNestedFieldMapped_implicit and SqlCompactTest.test_topLevelFieldExtraction"
_master_ / _3.0-maintenance_ (commit INSERT_COMMIT_ID_HERE)

Master / 5.1 (462045c)
Master Sonar
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/985/testReport/
Stacktrace:
[code]

Standard output:
[code]

[2021-09-21 10:29] slavagithub commented on #19599
This failure might be related to https://github.com/hazelcast/hazelcast/issues/19427

[2021-09-21 10:33] slavagithub opened #19600 "SqlCompactTest.test_nulls"
com.hazelcast.jet.sql.impl.connector.map.SqlCompactTest.test_nulls fails with Failed to serialize 'com.hazelcast.internal.serialization.impl.compact.DeserializedGenericRecord' error

Master / 5.1 (462045c)
Master Sonar
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/985/testReport/

Stacktrace:
[code]

Standard output:
[code]

[2021-09-21 10:46] mariusz2108 opened #19601 "Hazelcast stuck on registering message listener for reliable topic"
**Describe the bug**
Hazlecast stucks and never recover when registering listener when cluster is under big load.

**Expected behavior**
Listener should be registered, hazelcast should not stuck.

**To Reproduce**

Steps to reproduce the behavior:
Create hazelcast instance in one process.
Create hazelcast client for above instance in seperate process.
Send lots of hazelcast task to hazelcast execu

[2021-09-21 11:00] slavagithub opened #19602 "PostgresCdcNetworkIntegrationTest.when_noDatabaseToConnectTo[reconnect]"
com.hazelcast.jet.cdc.postgres.PostgresCdcNetworkIntegrationTest.when_noDatabaseToConnectTo[reconnect] fail with "Container startup failed" error

Master / 5.1 (rev. 462045ca037af733bded32375ea4d7e96b52628a)

Failed on IBM JDK8 fips
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-fips-nightly/336/testReport/

Stacktrace:
[code]

Standard output:
[code]

[2021-09-21 11:03] slavagithub opened #19603 "com.hazelcast.jet.core.SplitBrainTest.when_newMemberIsAddedAfterClusterSizeFallsBelowQuorumSize_then_jobRestartDoesNotSucceed fails with "10 attempts to cancel the job failed, shut down the cluster" error"
com.hazelcast.jet.core.SplitBrainTest.when_newMemberIsAddedAfterClusterSizeFallsBelowQuorumSize_then_jobRestartDoesNotSucceed fails with "10 attempts to cancel the job failed, shut down the cluster" error

Master / 5.1 (rev. 462045c)

Failed on IBM JDK8 fips
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-fips-nightly/336/testReport/

Stacktrace:
[code]

Standard o

[2021-09-21 11:07] slavagithub opened #19604 "com.hazelcast.jet.core.TopologyChangeTest.when_nodeIsNotJobParticipant_then_initFails fails with error "There are one or more leaked job classloaders.""
com.hazelcast.jet.core.TopologyChangeTest.when_nodeIsNotJobParticipant_then_initFails fails with error "There are one or more leaked job classloaders."

Master / 5.1 (rev. 462045c)

Failed on IBM JDK8 fips
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-fips-nightly/336/testReport/

Stacktrace:
[code]

Standard output:
[code]

[2021-09-21 11:09] slavagithub opened #19605 "com.hazelcast.enterprise.wan.impl.EnterpriseWanMetricsTest.testAcknowledgerMetricsIfDelay fails with asserti"
_master_ / _3.0-maintenance_ (commit INSERT_COMMIT_ID_HERE)

Failed on INSERT_PLATFORM_INFORMATION_HERE: INSERT_LINK_TO_JENKINS_TEST_RESULT_HERE

Stacktrace:
[code]

Standard output:
[code]

[2021-09-21 11:11] ufukyilmaz commented on #19604
Closing since it's duplicate of https://github.com/hazelcast/hazelcast/issues/19561.

[2021-09-21 11:12] ufukyilmaz commented on #19603
Closing since it is duplicate of https://github.com/hazelcast/hazelcast/issues/19560.

[2021-09-21 11:12] #19603 closed

[2021-09-21 12:25] slavagithub opened #19606 "com.hazelcast.jet.core.SplitBrainTest.when_newMemberIsAddedAfterClusterSizeFallsBelowQuorumSize_then_jobRestartDoesNotSucceed fails with "10 attempts to cancel the job failed" error"
com.hazelcast.jet.core.SplitBrainTest.when_newMemberIsAddedAfterClusterSizeFallsBelowQuorumSize_then_jobRestartDoesNotSucceed fails with "10 attempts to cancel the job failed" error

master / 5.1 (rev. 462045ca037af733bded32375ea4d7e96b52628a)

Failed on IBM JDK 8
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-nightly/18/testReport/

Stacktrace:
[code]

Standard o

[2021-09-21 12:34] slavagithub opened #19607 "com.hazelcast.jet.core.Job_SeparateClusterTest.when_suspendedJobScannedOnNewMaster_then_newJobWithEqualNameFail fails with assertion message"
com.hazelcast.jet.core.Job_SeparateClusterTest.when_suspendedJobScannedOnNewMaster_then_newJobWithEqualNameFail fails with assertion message

master / 5.1 (commit INSERT_COMMIT_ID_HERE)

Failed on Oracle, JDK 8
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-OracleJDK8-nightly/862/testReport/

Stacktrace:
[code]

Standard output:
[code]

[2021-09-21 12:45] slavagithub opened #19608 "Hz3EnrichmentTest, Hz3SinksTest, Hz3SourcesTest, Hazelcast3StarterTest failures"
com.hazelcast.connector.Hz3EnrichmentTest, com.hazelcast.connector.Hz3SinksTest, com.hazelcast.connector.Hz3SourcesTest, com.hazelcast.test.starter.hz3.Hazelcast3StarterTest fail with "URI is not hierarchical" error

master /5.1 (rev. 462045ca037af733bded32375ea4d7e96b52628a)

Failed on Windows, Oracle JDK 8
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Windows-OracleJDK

[2021-09-21 12:49] slavagithub commented on #19173
Reopening since it is reproduced again, see http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Windows-OracleJDK8/323/testReport/com.hazelcast.jet.impl.deployment/ChildFirstClassLoaderTest/com_hazelcast_jet_impl_deployment_ChildFirstClassLoaderTest/

[2021-09-21 12:53] slavagithub opened #19609 "com.hazelcast.jet.sql.impl.connector.file.SqlHadoopTest"
com.hazelcast.jet.sql.impl.connector.file.SqlHadoopTest.com.hazelcast.jet.sql.impl.connector.file.SqlHadoopTest fails with "Java.io.FileNotFoundException:" exception

master /5.1 (rev. 462045c)

Failed on Windows, Oracle JDK 8
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Windows-OracleJDK8/323/testReport/

Stacktrace:
[code]

Standard output:
[code]

[2021-09-21 14:48] #19606 closed

[2021-09-22 07:39] #19314 closed

[2021-09-22 10:31] frant-hartm commented on #19583
This has been fixed by #19530

[2021-09-22 10:31] #19583 closed

[2021-09-22 10:31] frant-hartm commented on #19607
This has been fixed by #19530

[2021-09-22 10:31] #19607 closed

[2021-09-23 03:37] ubergeek801 commented on #19225
Figured that the Hazelcast team would be busy with the v5.0 release, but now that it's out the door, I'm giving this a bump :-)

[2021-09-23 03:37] ubergeek801 commented on #19226
Figured that the Hazelcast team would be busy with the v5.0 release, but now that it's out the door, I'm giving this a bump :-)

[2021-09-23 05:51] gurbuzali commented on #19596
it is an intermittent failure, most probably failed during the release process when we were updating/uploading the shcemas

[2021-09-23 09:03] gurbuzali commented on #19527
I couldn't reproduce this on local an the logs are missing in the surefire-reports, just above stacktrace and output. I'll close the issue now, we can revisit if fails again.

[2021-09-23 13:12] yquest opened #19622 "auto-disposable tasks for ScheduledExecutor only works for Callable"
Hello guys I did a test with the autodisposable method of TaskUtils like this:

[code]

This implementations throws the error:
[code]

If I do that with Callable<Void> instead of Runnable this doesn't happen.

You can check this out on my repository project [issue-hazelcast-autodisposable](https://github.com/yquest/issue-hazelcast-autodisposable)

[2021-09-23 13:42] yquest commented on #19622
The java exception on (maven build)[https://github.com/yquest/issue-hazelcast-autodisposable/runs/3688212402?check_suite_focus=true]

[2021-09-24 09:43] vbekiaris commented on #19548
Failed again in PR builder http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/7568:

[code]

[2021-09-24 11:29] srknzl opened #19627 "ExecutionLifecycleTest.when_psGetThrows_then_jobFails"
_master_  (commit 4a2912a2d496c044395c3ee96669b64fc32a889d)

Failed on PR Builder: http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/7572/testReport/junit/com.hazelcast.jet.core/ExecutionLifecycleTest/when_psGetThrows_then_jobFails_useLightJob_true_/

Stacktrace:
[code]

Standard output:
[code]

[2021-09-24 12:12] slavagithub opened #19628 "com.hazelcast.instance.impl.JarScannerTest.should_find_class_in_jar fails with assertion error"
com.hazelcast.instance.impl.JarScannerTest.should_find_class_in_jar fails with assertion error

master / 5.1 (rev. 64289aacc92d70314ce48261521667afba38993e )

Failed on Windows, Oracle JDK 8
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Windows-OracleJDK8/324/testReport/

Stacktrace:
[code]
Started Running Test: testListenerInvocationWhenNodeTerminates
[code]

[2021-09-27 06:55] olukas commented on #19548
Failed also on `5.0.z` branch: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-IbmJDK8/1/testReport/com.hazelcast.spring/TestEmptyApplicationContext/testXmlWithoutConfig/

[2021-09-27 06:59] olukas opened #19634 "com.hazelcast.internal.ascii.RestClusterMultiendpointTest [HZ-755]"
_5.0.z_ (commit c27a594c4b8835e0e05abb84587ad72fc37011c0)

Failed on Correto JDK 8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-CorrettoJDK8/1/testReport/com.hazelcast.internal.ascii/RestClusterMultiendpointTest/testChangeClusterVersion/

Stacktrace:
[code]

Standard output:
[code]

[2021-09-27 07:03] olukas commented on #1325
`com.hazelcast.map.BackupTest.testBackupRemoveWhenOwnerNodeDead` failed also on `5.0.z` branch with OpenJ9-11: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-Openj9-11/1/testReport/com.hazelcast.map/BackupTest/testBackupRemoveWhenOwnerNodeDead/

[2021-09-27 07:08] olukas commented on #19608
Fails also on `5.0.z` branch on Windows with Oracle JDK 8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-Windows-OracleJDK8/1/testReport/com.hazelcast.connector/

[2021-09-27 07:12] Tom-python0121 opened #19635 "mvn install -DskipTests failed in hazelcast@5.0 on centos8_aarch64"
Hello,I meet a problem:mvn install -DskipTests failed in hazelcast@5.0 on centos8_aarch64
[code]
Can you tell me how to solve this problem?

[2021-09-27 07:13] Tom-python0121 commented on #19635
This is the proxy I configured in the maven source:
[code]

[2021-09-27 07:15] olukas commented on #19609
Failed also on `5.0.z` branch on Windows: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-Windows-OracleJDK8/1/testReport/com.hazelcast.jet.sql.impl.connector.file/SqlHadoopTest/com_hazelcast_jet_sql_impl_connector_file_SqlHadoopTest/

[2021-09-27 07:16] olukas commented on #19173
Failed also on `5.0.z` branch on Windows: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-Windows-OracleJDK8/1/testReport/com.hazelcast.jet.impl.deployment/ChildFirstClassLoaderTest/com_hazelcast_jet_impl_deployment_ChildFirstClassLoaderTest/

[2021-09-27 07:17] olukas commented on #19628
Failed also on `5.0.z` branch on Windows: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-Windows-OracleJDK8/1/testReport/com.hazelcast.instance.impl/JarScannerTest/should_find_class_in_jar/

@ldziedziul could you please backport the fix also to `5.0.z` branch?

[2021-09-27 07:23] olukas opened #19636 "com.hazelcast.client.console.HazelcastCommandLineTest.test_submit_job_with_hazelcast_classes"
_master_ (commit 886628968ce05e1cd9073f9147b0f7e0c080a48f)

Failed on Windows with OracleJDK8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Windows-OracleJDK8/325/testReport/com.hazelcast.client.console/HazelcastCommandLineTest/test_submit_job_with_hazelcast_classes/

It fails also on `5.0.z` branch, please backport the fix also into that branch.

Stacktrace:
[code]

[2021-09-27 07:25] olukas opened #19637 "com.hazelcast.jet.elastic.ElasticSinkBuilderTest.when_writeToFailingSink_then_shouldCloseClient[1: mode=client] [HZ-936]"
_master_ (commit 886628968ce05e1cd9073f9147b0f7e0c080a48f)

Failed on Windows with OracleJDK8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Windows-OracleJDK8/325/testReport/com.hazelcast.jet.elastic/ElasticSinkBuilderTest/when_writeToFailingSink_then_shouldCloseClient_1__mode_client_/

Stacktrace:
[code]

Standard output:
[code]

[2021-09-27 07:28] olukas commented on #17460
It failed again, this time on Zulu JDK 8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZuluJDK8/153/testReport/com.hazelcast.map/IndexStatsChangingNumberOfMembersTest/testIndexStatsOperationChangingNumberOfMembers_format_OBJECT_/

Stacktrace:
[code]

[2021-09-27 07:35] olukas opened #19638 "Tests fail with 'Instances haven't been shut down' [HZ-1693]"
_master_ (commit 886628968ce05e1cd9073f9147b0f7e0c080a48f)

Failed on Sonar (Oracle JDK 11): http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/989/testReport/

It happens more times, for example also here - http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/987/testReport/

Stacktrace (for `com.hazelcast.jet.sql.SqlBasicClientTest.com.hazelc

[2021-09-27 08:33] ahmetmircik commented on #19548
New failure: http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/7589/testReport/junit/com.hazelcast.spring/TestEmptyApplicationContext/testXmlWithoutConfig/

[2021-09-27 12:38] yemreinci opened #19644 "Memcache client's `incr` command does not work correctly"
**Describe the bug**
The `incr` command in the [memcached protocol implementation](https://docs.hazelcast.com/hazelcast/5.0/clients/memcache.html) doesn't behave as the real memcached server.

**Expected behavior**
Below is  how a regular memcached server behaves when you call `incr` on a key with the value "5":
[code]
`mykey` is initially assigned to 5, and when incremented, becomes 6.

**To Repr

[2021-09-27 13:03] atktng opened #19645 "LocalQueueStatsImpl exists in the heap even though queues are destroyed"
**Describe the bug**

`LocalQueueStatsImpl` exists in the heap even though queues are destroyed.

I concern about memory leaks when queues are repeatedly created and deleted.
Do you support the above use case?

I have also tried with IMap and `LocalMapStatsImpl` was removed as expected.

**Expected behavior**

When a queue is deleted, the corresponding `LocalQueueStatsImpl` value is also removed f

[2021-09-27 13:15] ufukyilmaz commented on #19636
Fixed by #19640

[2021-09-27 20:35] peterjot commented on #19622
Hey, I will fix this. Thanks for reporting this bug 👍

[2021-09-27 20:53] yquest commented on #19622
Your welcome, it's pleasant to be helpful to you guys 🙂

Obter o Outlook para Android<https://aka.ms/ghei36>
________________________________
From: Piotr Jasina ***@***.***>
Sent: Monday, September 27, 2021 9:35:28 PM
To: hazelcast/hazelcast ***@***.***>
Cc: yquest ***@***.***>; Author ***@***.***>
Subject: Re: [hazelcast/hazelcast] auto-disposable tasks for ScheduledExecutor only works for Callab

[2021-09-28 06:45] ahmetmircik commented on #19461
we already have this issue open, closing in favor of https://github.com/hazelcast/hazelcast/issues/17460

[2021-09-28 06:45] #19461 closed

[2021-09-28 10:21] mmedenjak commented on #19578
@gurbuzali I see [this commit](https://github.com/hazelcast/hazelcast-jet/commit/946906f6279546801900fe48890caeb78ddceb2a) in jet repo. Has it been ported to this repo and can we close this issue? Are we still waiting for confirmation?

[2021-09-28 10:40] gurbuzali commented on #19578
here is the forward-port https://github.com/hazelcast/hazelcast/pull/19586

[2021-09-28 11:38] mmedenjak commented on #19571
Looking at the original issue, I don't know how this can be fixed in 5.1, given that there is no release with the fix. Maybe we should rely on dependabot to notify us of a fixed version.

[2021-09-28 11:39] mmedenjak commented on #19576
Looking at the original issue, I don't know how this can be fixed in 5.1 (since apparently we're blocked by the license).

[2021-09-28 11:55] mmedenjak commented on #19635
Hi @Tom-python0121 ! I'm really not sure, but I'd say the problem here is not really on our end:
`Transfer failed for https://packages.confluent.io/maven/io/confluent/kafka-avro-serializer/4.1.4/kafka-avro-serializer-4.1.4.pom ProxyInfo{host='172.18.100.92', userName='null', port=8080, type='http', nonProxyHosts='null'}: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderE

[2021-09-28 11:56] mmedenjak commented on #19578
Thanks! Can we close the issue with that PR, or is the CVE still pending verification?

[2021-09-28 12:07] mmedenjak commented on #19578
I see the commit in the jet repo bumped `Update commons-io:commons-io to 2.7`, but the one you referenced doesn't bump commons-io at all. How come?

[2021-09-28 12:17] mmedenjak commented on #19577
Not sure if there's anything to do in 5.1 since we're already at the latest version. Possibly we can rely on dependabot to remind us when there's a new version.

[2021-09-28 12:22] mmedenjak commented on #19557
Thank you for the report! @ahmetmircik can you take a look when you have time?

[2021-09-28 12:26] mmedenjak commented on #19554
@gurbuzali @viliam-durina WDYT about this issue and the suggestion?

[2021-09-28 12:28] mmedenjak commented on #19552
I think the total completed migrations does not need to be equal to the partition count and may include migrations that simply move a replica up/down the partition ownership array. @vbekiaris @fbarotov can you confirm?

[2021-09-28 12:29] mmedenjak commented on #19551
@vbekiaris @ahmetmircik can you check this out once you have time?

[2021-09-28 12:30] mmedenjak commented on #19550
@frant-hartm can you check this out?

[2021-09-28 12:31] mmedenjak commented on #19547
@viliam-durina can you assess the priority and complexity of this?

[2021-09-28 12:35] mmedenjak commented on #19503
@frant-hartm @viliam-durina @gurbuzali can you comment on this one - assess the complexity and priority of it?

[2021-09-28 12:37] mmedenjak commented on #19501
Now that both PRs have been merged, can we close this issue @ahmetmircik ?

[2021-09-28 12:37] mmedenjak commented on #19496
@neilstevenson any thoughts on the behaviour and intent?

[2021-09-28 12:41] mmedenjak commented on #19494
Thank you for the suggestion @TomaszGaweda ! @sancar @mdumandag can you assess whether this is something we should address?

[2021-09-28 12:46] #19555 closed

[2021-09-28 12:47] fbarotov commented on #19552
Yes, (total) completed migrations does not have to equal partitions count, since some partitions might not migrate at all, although replica up/down ownership movement is considered as a migration. Regarding `completedMigrations` count, it is for one phase of repartitioning, whereas `totalCompletedMigrations` is total migration count since HZ instance has been alive, so it is always `totalCompleted

[2021-09-28 12:50] ahmetmircik commented on #19501
closed via https://github.com/hazelcast/hazelcast/pull/19515

[2021-09-28 12:50] #19501 closed

[2021-09-28 12:54] mmedenjak commented on #19645
Thank you for the issue report @atktng ! We'll take a look.

[2021-09-28 13:11] mmedenjak commented on #19581
@frant-hartm can you check this out and share your thoughts?

[2021-09-28 13:16] mmedenjak commented on #19592
Looks like it was fixed. Thank you for the fix @ldziedziul !

[2021-09-28 13:16] #19592 closed

[2021-09-28 13:17] mmedenjak commented on #19594
Seems to be fixed. Thank you for the fix @ldziedziul !

[2021-09-28 13:17] #19594 closed

[2021-09-28 13:20] mmedenjak commented on #19593
Seems to be fixed. Thank you for the fix @ldziedziul !

[2021-09-28 13:21] mmedenjak commented on #19597
@sancar @mdumandag can you take a look?

[2021-09-28 13:22] mmedenjak commented on #19598
@sancar @mdumandag can you take a look?

[2021-09-28 13:23] mdumandag commented on #19597
It is one of those tests that are fixed by https://github.com/hazelcast/hazelcast/pull/19569
Basically, the tests are failed because the cluster version was 5.1, but the compact schema service was expecting it to be 5.0, which is fixed by the PR above.

[2021-09-28 13:23] #19597 closed

[2021-09-28 13:27] mmedenjak commented on #19600
@sancar @mdumandag can you take a look?

[2021-09-28 13:27] mdumandag commented on #19598
This is also fixed by https://github.com/hazelcast/hazelcast/pull/19569.
The reasoning is the same with https://github.com/hazelcast/hazelcast/issues/19597#issuecomment-929206233

[2021-09-28 13:27] #19598 closed

[2021-09-28 13:29] mdumandag commented on #19599
This is also fixed by https://github.com/hazelcast/hazelcast/pull/19569.
The reasoning is the same with https://github.com/hazelcast/hazelcast/issues/19597#issuecomment-929206233

[2021-09-28 13:29] #19599 closed

[2021-09-28 13:30] mdumandag commented on #19600
This is also fixed by https://github.com/hazelcast/hazelcast/pull/19569.
The reasoning is the same with https://github.com/hazelcast/hazelcast/issues/19597#issuecomment-929206233

[2021-09-28 13:30] #19600 closed

[2021-09-28 13:31] mmedenjak commented on #19608
@frant-hartm can you take a look?

[2021-09-28 13:54] mdumandag commented on #19548
Failed again on http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/7615/testReport/junit/com.hazelcast.spring/TestEmptyApplicationContext/testXmlWithoutConfig/

[code]

[2021-09-28 16:17] TomaszGaweda opened #19654 "Option to enable Compact Serialization precedence"
Hi,

Currently, in order for Compact Serialization to work out of the box, class cannot be even serializable, which may be an issue if same messages are sent using Hazelcast and other system, that requires  classes to be serializable.

Would be great to introduce new configuration option to make Compact Serialization the 1st choice (even if class is serializable), e.g.:
[code]

[2021-09-28 16:32] mmedenjak commented on #19654
@sancar @mdumandag can you triage this issue?

[2021-09-28 18:19] vbekiaris opened #19655 "Partition threads shouldn't write to sockets"
With the write-through optimization (since #14970 -- enabled by default),
it is possible that an async operation (`OperationService#invokeOnPartitionAsync`)
invoked from a partition thread will end up writing to the socket
from that same partition thread.
Doing IO on partition threads is not desired, as it can introduce unexpected latency spikes.

This must be fixed before #19493 can be merged.

[2021-09-28 18:31] ldziedziul commented on #19635
Yes, it seems the problem lies with JDK rejecting the certificate from https://packages.confluent.io (or maybe from your proxy, not sure).

I would suggest checking:
- is JDK up-to-date (even minor releases can remove and/or add certificates)
- is time on server synchronized (certificates are valid for specific time period)
- if proxy works with curl:
[code]
or with https
[code]
You could also che

[2021-09-29 06:20] olukas opened #19658 "com.hazelcast.jet.job.JobSubmissionSlownessRegressionTest.regressionTestForPR1488 [HZ-1066]"
_master_ (commit 06b3d99e1379e7389434230a9d94a7dfc05bf967)

Failed on Sonar (Oracle JDK 11): http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/990/testReport/com.hazelcast.jet.job/JobSubmissionSlownessRegressionTest/regressionTestForPR1488/

Stacktrace:
[code]

Standard output:
[code]

[2021-09-29 06:40] frant-hartm commented on #19550
This was present in 5.0-SNAPSHOT for some time and has been fixed just before 5.0. Please reopen if you manage to reproduce it with 5.0.

[2021-09-29 06:40] #19550 closed

[2021-09-29 07:01] gurbuzali commented on #19578
fixed it on the PR, we can close this after merging I think

[2021-09-29 07:04] #19548 closed

[2021-09-29 07:24] mdumandag commented on #19494
Well, I think this is something we should do for easier use. Especially, we should remove this constraint for reflective serialization of Java `record`s (you can define no-args constructor for `record`s as well, but I doubt most will do it)

I just checked the produced JAR size after shading the `objenesis` library, and there is nothing extraordinary.

Commit: 06b3d99e1379e7389434230a9d94a7dfc05bf

[2021-09-29 07:29] frant-hartm commented on #19581
This is a bug, ideally should go to 5.0.1.

[2021-09-29 07:48] frant-hartm commented on #19503
This is easy to do. Question is what other parameters we should expose, if any, or wait for other requests.

Or we could take the approach from the `grpc` module, where we require the user to provide `ManagedChannelBuilder` supplier and they can configure what they need. The downside of this approch is that we make the grpc api part of our api. This is not an issue in the `grpc` module, but here i

[2021-09-29 08:13] sancar commented on #19654
@TomaszGaweda Thanks for opening the issue. This is something to decide before finalizing compact serialization. I will keep the issue open until we come to a decision. It is very likely to add this support as there is no harm as long as it is disabled by default.

[2021-09-29 08:23] ufukyilmaz commented on #19602
Closing it since it's duplicate of #19271

[2021-09-29 08:23] #19602 closed

[2021-09-29 10:58] neilstevenson opened #19661 "Intermittent failure on MapUsingService(PythonTransforms)"
Using 5.0 GA, I see this sometimes

[code]

However, only sometimes, so the job config is in general correct

[2021-09-29 11:23] mmedenjak commented on #19373
When fixing this, please consider adding a test which will prevent issues like this in the future.

[2021-09-29 12:15] yemreinci opened #19662 "Memcached protocol commands are not processed in order"
**Describe the bug**
If multiple memcached commands are sent at the same time, they may be processed out of order.

**Expected behavior**
The commands should be processed in the order in which they are sent.

**To Reproduce**
1. Start a single Hazelcast member with memcached protocol enabled:
[code]
2. Copy the contents of the following Python script into a file and run it **several** times:
(you

[2021-09-29 12:35] yemreinci commented on #19662
I've just discovered that the same thing can happen with the REST interface as well. The reproducer is similar:
[code]

The output is sometimes:
[code]
and sometimes:
[code]

I am changing the issue title to cover both.

[2021-09-29 13:45] yozank opened #19663 "Backport `hazelcast.internal.map.expired.key.scan.timeout.nanos` to v4.1.z"
v4.2 introduced new expiry system that can limit the execution time of the cleanup operations. We need to backport it to 4.1.z to workaround a customer issue that shows increased CPU usage as the partition size grows.  Case 9373.
As we need to provide a snapshot build for testing, they'll need it to be on top of v4.1.5.

[2021-09-30 06:00] olukas opened #19665 "com.hazelcast.partition.PartitionDistributionTest [HZ-1051]"
_master_ (commit 3072a6e9af9196f8c5d422a6f1f8412c0f6b8326)

Failed on Sonar (Oracle JDK 11): http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/992/testReport/com.hazelcast.partition/PartitionDistributionTest/

Two test failed there:
- `testTenNodes_1111Partitions`
- `testMigrationStats_afterPartitionsLost_when_NO_MIGRATION`

Stacktrace for `testTenNodes_1111Partitions`

[2021-09-30 12:16] frant-hartm opened #19668 "Some Hazelcast log statements missing when used via Spring Boot [HZ-822]"
**Describe the bug**

When Hazelcast is used via Spring Boot not all log statements are printed. All debug/trace logs are missing, some info statements are missing.

**Expected behavior**

All log statements are visible according to Spring Boot Logging configuration

**To Reproduce**

Use any starter, e.g. https://github.com/leszko/springboot-caching

Change logging level for com.hazelcast to `deb

[2021-09-30 12:42] frant-hartm commented on #19609
Duplicate #19217

[2021-09-30 12:42] #19609 closed

[2021-10-01 06:45] dreis2211 opened #19672 "Hazelcast hangs in REPLICA_NOT_SYNC state [HZ-1013]"
**Describe the bug**
Unfortunately, I don't have too much information I can share and also no reproduction case. We're experiencing problems with our Hazelcast nodes that seem to hang in `REPLICA_NOT_SYNC` state and even get unresponsive as it seems. Especially when starting the cluster we notice this. We're doing health checks each second that try to call `IPartitionService.isMemberStateSafe`. Wh

[2021-10-01 07:07] frant-hartm commented on #18961
Running this test repeatedly several hundred times reproduces the issue also on Linux. @gurbuzali is correct, we end up with 2 jobs with the same submission time.

Adding `sleepAtLeastMillis(1)` seems to fix the issue (didn't get a failure in over 2000 runs).

However, I wonder if we could fix this by using the jobId as a second parameter to the sort, or maybe just use the jobId as the flake ids s

[2021-10-01 07:24] gurbuzali commented on #18961
flake-id is k-sorted according to the documentation.
the issue is you are submitting 2 jobs (A and B) from a single thread and when you get the list of the jobs, B comes before the A. If you would submit from different threads or from different client/members and jobs end up with same submission time, it is not important.

I think using jobId as a second parameter to sort should be enough, it does

[2021-10-01 07:57] #19578 closed

[2021-10-01 07:57] #19591 closed

[2021-10-01 08:04] #19644 closed

[2021-10-01 09:32] EugeneAbramchuk opened #19678 "Java client never fully recovers after OS puts the process to sleep and awakes it [API-1214]"
1. Create a cluster and connect the Java client to it
2. Put the OS to sleep and wake it up again
3. The client finally manages to reconnect, but still shuts down and never starts populating the map again

[code]

[2021-10-01 09:34] ufukyilmaz commented on #19665
This failing reason for this test is similar to https://github.com/hazelcast/hazelcast/issues/18839.
This instances used in these tests have high partition counts and they're also failing because partition
warmup is not completed.
See the stack traces of related threads below:

[code]
which are waiting for the `PartitionStateOperation` to complete on the member (this thread has so high CPU time 50

[2021-10-01 10:03] #19608 closed

[2021-10-01 10:07] #19217 closed

[2021-10-01 10:21] Holmistr commented on #19663
Ticket #00009373.

[2021-10-03 21:28] ldziedziul opened #19690 "Fix sonar blocker issues in AvroProcessors"
Sonar reports closeable objects not closed in the `finally` block.

Change the implementation or suppress sonar warning

https://sonarcloud.io/project/issues?fileUuids=AXhxD741VUe013MbxurW&id=hz-os-master&resolved=false&severities=BLOCKER&types=BUG

[2021-10-03 22:45] ldziedziul opened #19691 "Fix sonar blocker issues in SpringHazelcastCachingProvider"
Use try-with-resources or close this "HazelcastServerCachingProvider" in a "finally" clause.

Change the implementation or suppress sonar warning

https://sonarcloud.io/project/issues?fileUuids=AW9qkIoKkrN6v4yKaPtE&id=hz-os-master&resolved=false&severities=BLOCKER&types=BUG

[2021-10-03 22:54] ldziedziul opened #19692 "Close BufferObjectDataInput in MulticastService when packet version mismatched"
Probably `finally` block should be moved to the outer `try`

https://sonarcloud.io/project/issues?fileUuids=AW9qkInwkrN6v4yKaOB1&id=hz-os-master&resolved=false&severities=BLOCKER&types=BUG

[2021-10-03 23:00] ldziedziul opened #19693 "Fix sonar blocker issues in NearCachePreloaderLock"
Sonar reports that RandomAccessFile is not closed.

https://sonarcloud.io/project/issues?fileUuids=AW9qkInwkrN6v4yKaOD8&id=hz-os-master&resolved=false&severities=BLOCKER&types=BUG

[2021-10-03 23:04] ldziedziul opened #19694 "Fix sonar blocker issues in SerializationServiceV1"
ObjectDataInput is not closed in `com.hazelcast.spi.impl.operationservice.impl.OperationRunnerImpl#extractOperationCallId`

https://sonarcloud.io/project/issues?fileUuids=AW9qkInvkrN6v4yKaN-V&id=hz-os-master&resolved=false&severities=BLOCKER&types=BUG

[2021-10-03 23:08] ldziedziul opened #19695 "Fix sonar blocker issues in JavaDefaultSerializers"
`ObjectInputStream` is not closed in `JavaDefaultSerializers.JavaSerializer#read(java.io.InputStream, java.lang.ClassLoader)`

https://sonarcloud.io/project/issues?fileUuids=AXIKzIDqbU5mxILfmQ5D&id=hz-os-master&resolved=false&severities=BLOCKER&types=BUG

[2021-10-04 01:53] izzy-el commented on #19695
Hey! I'd like to contribute. Can I take this issue?

[2021-10-04 06:55] frant-hartm opened #19696 "ReliableTopicDestroyTest.whenDestroyedThenRingbufferRemoved failed on pr builder"
_master_ (commit be3b1ab03c57bdaf30cda2cd2e2e4c3a3c8f99fc)

Failed on Hazelcast-pr-builder job.

Stacktrace:
[code]

Standard output:
[code]

[2021-10-04 07:17] #19173 closed

[2021-10-04 07:18] BalajiSelvaraj10 commented on #19694
Can I work on this?

[2021-10-04 07:24] slavagithub commented on #19696
The same fail on Oracle, JDK 8 - http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-OracleJDK8/165/testReport/com.hazelcast.topic.impl.reliable/ReliableTopicDestroyTest/whenDestroyedThenRingbufferRemoved/

[2021-10-04 07:58] slavagithub opened #19697 "com.hazelcast.map.ExpirationTimeTest.expire_based_on_ttl_when_when_ttl_is_smaller_than_max_idle fails with java.lang.NullPointerException"
master / 5.1 (rev. be3b1ab03c57bdaf30cda2cd2e2e4c3a3c8f99fc)

Failed on Zulu, JDK8

http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZuluJDK8/154/testReport/com.hazelcast.map/ExpirationTimeTest/expire_based_on_ttl_when_when_ttl_is_smaller_than_max_idle_statisticsEnabled_false__perEntryStatsEnabled_false_/

Stacktrace:
[code]

Standard output:
[code]

[2021-10-04 08:57] Danny-Hazelcast commented on #19472
interestingly i now see the same test, which was hanging is now passing
http://jenkins.hazelcast.com/view/stable/job/stable-sqlService/
on 5.1-SNAPSHOT

[2021-10-04 09:05] Danny-Hazelcast opened #19699 "com.hazelcast.sql.HazelcastSqlException: property 'com.hazelcast.org.apache.calcite.sql.validate.SqlValidator$Config#TypeCoercionRules' is required and has no default value"
http://jenkins.hazelcast.com/view/stable/job/trial-1/67/console

fail HzClient3HZ rangeHDIdx hzcmd.map.sql.service.PersonIdRange threadId=1 com.hazelcast.sql.HazelcastSqlException: property 'com.hazelcast.org.apache.calcite.sql.validate.SqlValidator$Config#TypeCoercionRules' is required and has no default value

/disk1/workspace/trial-1/2021_10_04-07_11_48

[code]

[2021-10-04 10:36] Tarankalra commented on #19691
Hi @ldziedziul , I would like to take this task. Can you assign to me ?

[2021-10-04 10:41] Tarankalra commented on #19692
Hi @ldziedziul, Can I take this task ?

[2021-10-04 13:27] #19580 closed

[2021-10-04 14:37] TomaszGaweda commented on #19494
IMHO for records I'll create separate PR (for this issue I'll create such this week)

[2021-10-04 15:32] mdumandag commented on #19494
Thanks for the analysis @jerrinot. I mistakenly thought we can get away with it quickly without looking too much into it :sweat_smile:

There is definitely extra care needed to handle records and I will put this to backlog

[2021-10-04 16:40] ldziedziul commented on #19695
Sure, it's yours

[2021-10-04 17:28] ldziedziul commented on #19694
Yes, feel free

[2021-10-04 18:48] ldziedziul commented on #19692
Yes, sure!

[2021-10-04 19:27] ldziedziul opened #19702 "Fix sonar blocker issues in PortableContextImpl"
Close `BufferObjectDataInput` in `lookupClassDefinition` method

https://sonarcloud.io/project/issues?fileUuids=AXIKzIDqbU5mxILfmQ42&id=hz-os-master&resolved=false&severities=BLOCKER&types=BUG

[2021-10-04 20:13] ldziedziul opened #19703 "Fix sonar blocker issues in TcpServerAcceptor"
Change the implementation or suppress sonar warning

https://sonarcloud.io/project/issues?fileUuids=AXFg22iHRhxtzbnQ4_VB&id=hz-os-master&resolved=false&severities=BLOCKER&types=BUG

[2021-10-04 20:39] ldziedziul opened #19704 "Fix sonar blocker issues in ClassDataProvider"
Avoid controlling endless loop with exception in `loadAnonymousClasses`, e.g. by extracting loading class to the method:
[code]

https://sonarcloud.io/project/issues?fileUuids=AW9qkInxkrN6v4yKaOG2&id=hz-os-master&resolved=false&severities=BLOCKER&types=BUG

[2021-10-04 20:47] ldziedziul opened #19705 "Fix sonar blocker issues in ExplodeSnapshotP"
Close `BufferObjectDataInput`

https://sonarcloud.io/project/issues?fileUuids=AXhxD74ZVUe013MbxufO&id=hz-os-master&resolved=false&severities=BLOCKER&types=BUG

[2021-10-05 01:24] ajesk commented on #19703
taking a swing at this one as first issue

[2021-10-05 06:12] fbarotov opened #19708 "update persistence-related config descriptions"
Update (XSD) documentation to reflect changes made to persistence in 5.0. For instance, https://github.com/hazelcast/hazelcast/pull/19683#discussion_r721089594

[2021-10-05 06:12] mmedenjak commented on #19635
@Tom-python0121 any updates on the issue? Have you tried the suggestions above?

[2021-10-05 06:21] leonzakaim opened #19709 "Hazelcast client reconnection"
We are testing scenarios when one of the HZ members in a cluster goes down.
The expectation is that the client should recognize this and switch automatically to another instance. The client indeed does this but after delay of 5 - 10 seconds. All the operations with the HZ maps are failing during this period of time.
Is there a way to block the operations till new instance is selected for the conne

[2021-10-05 06:26] vbekiaris commented on #19703
This is a false positive, see https://github.com/hazelcast/hazelcast/pull/19707#pullrequestreview-771021167

[2021-10-05 06:43] mmedenjak commented on #19226
@viliam-durina how do you see this enhancement?

[2021-10-05 06:43] mmedenjak commented on #19225
@viliam-durina how do you see this enhancement?

[2021-10-05 06:56] slavagithub opened #19711 "com.hazelcast.client.TcpClientConnectionTest.destroyConnection_whenDestroyedMultipleTimes_thenListenerRemoveCalledOnce"
master / 5.1 (rev. be3b1ab03c57bdaf30cda2cd2e2e4c3a3c8f99fc)

Failed on Zing, JDK8
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZingJDK8/345/testReport/com.hazelcast.client/TcpClientConnectionTest/destroyConnection_whenDestroyedMultipleTimes_thenListenerRemoveCalledOnce/

Stacktrace:
[code]

Standard output:
[code]

[2021-10-05 06:58] lukasherman opened #19712 "ReflectiveCompactSerializer unable to serialize null LocalDate"
`ReflectiveCompactSerializer` fails with NPE at `IOUtil.writeLocalDate` serializing object with null `LocalDate` field.

Stack trace:
[code]

**Expected behavior**
It is expected that object is serialized with null `LocalDate` value. Some other date/timestamp types are affected too.

**To Reproduce**
Simple unit test:
[code]

**Additional context**
Hazelcast version 5.0

[2021-10-05 07:03] ldziedziul commented on #19703
Marked as false-positive in Sonar

[2021-10-05 07:03] #19703 closed

[2021-10-05 07:13] #19373 closed

[2021-10-05 07:46] ufukyilmaz commented on #18839
For the my investigation notes see the comments of: https://github.com/hazelcast/hazelcast/pull/19641

[2021-10-05 07:55] ufukyilmaz commented on #19693
Since the opened channel should not be closed in the same scope, this one is also false positive.

[2021-10-05 09:42] girijasameera commented on #19702
@ldziedziul I'd like to work on this. Could you assign it to me?

[2021-10-05 12:01] #19466 closed

[2021-10-05 12:11] kirpichik opened #19714 "IMap::merge fails for enabled NearCache"
When a `NearCache` is used for an `IMap` then `merge(key, value, remappingFunction)` operation fails reporting a wrong key type.

**Exception output:**
[code]

**Reproducer:**
[code]

This problem is very similar to the one described in #13371 and the workaround described in [original stackoverflow question](https://stackoverflow.com/questions/50819286/hazelcast-java-lang-illegalargumentexception-

[2021-10-05 12:32] ahmetmircik commented on #19714
It is about performance, lookup keys are serialized when `serialize-keys=true`, this can degrade near-cache read performance, if key serialization is expensive. But best to measure to see.

[2021-10-05 13:18] ldziedziul commented on #19702
Sure thing!

[2021-10-05 14:23] ldziedziul commented on #19693
I think we can improve it by closing RandomAccessFile instead of the channel.

[2021-10-05 15:12] ufukyilmaz commented on #19693
When we close this `RandomAccessFile`, the channel also closes:
<img width="513" alt="Screen Shot 2021-10-05 at 18 10 57" src="https://user-images.githubusercontent.com/14254028/136050880-93d1c496-ed99-48a3-b571-f4c184d21ecc.png">

[2021-10-05 15:14] ufukyilmaz commented on #19693
Btw, I saw your implementation in https://github.com/hazelcast/hazelcast/pull/19715, it works 👍. Just forget my comment

[2021-10-05 15:15] ldziedziul commented on #19693
Yes, currently we were closing only the channel, leaving the file open.

[2021-10-05 15:16] #19693 closed

[2021-10-05 15:31] #17751 closed

[2021-10-05 20:28] DeeptiShahi commented on #19705
Please assign this issue to me. I have experience fixing Sonar issues.

[2021-10-05 21:03] ldziedziul commented on #19705
No problem :)

[2021-10-06 08:15] slavagithub commented on #18753
Reproduced again: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-sonar/13/testReport/com.hazelcast.internal.networking.nio/AdvancedNetworkIntegrationTest/testConnectionToWrongPort/

[2021-10-06 12:37] mtopolnik opened #19724 "CLI commands state their own name incorrectly"
[code]

[code]

[2021-10-06 12:40] mtopolnik opened #19725 "hz-cluster-admin help broken and style inconsistent with other commands"
[code]

The command help should conform to the usual format, a one-liner description and then "Usage: hz-cluster-admin ..."

Additional text can come at the bottom.

[2021-10-06 12:43] mtopolnik opened #19726 "hz-stop --help doesn't print help, but runs the command instead"
[code]

[2021-10-06 12:56] mtopolnik opened #19727 "YAML configuration file not automatically used"
If there's just `hazelcast.yaml` in `config`, it's ignored and the error message is `hazelcast.xml` not found.

[2021-10-06 12:57] mtopolnik opened #19728 "HAZELCAST_CONFIG env variable resolved against Hazeclast home dir and not current dir"
Although this might be useful when the config file is close to the home dir or under it, it's a surprising behavior and the tab completion doesn't work with it.

[2021-10-06 13:08] #19695 closed

[2021-10-06 13:16] kirpichik commented on #19714
I measured the performance using JMH with and without workaround and indeed, the performance of the **get** operation drops by 40%:

[code]

[2021-10-06 13:35] frant-hartm commented on #19728
I think this is the correct behavior. I see 2 situations where what you propose would cause issues:
- having hz-start on path, starting hazelcast from a different directory
- (this is for HAZELCAST_CLIENT_CONFIG, but the behavior should be the same) imagine you have multiple configs (clusters you submit to...) and change what is used using the env variable, you submit a job, then change a folder a

[2021-10-06 13:39] mtopolnik commented on #19728
This is the way it's used typically:

[code]

You expect this to be the path from the current directory, and you expect to be able to costruct it by relying on tab completion.

The current behavior only makes sense when the config file is inside the hz home directory. If it's close to my work, it makes no sense at all and i can't even use relative paths.

[2021-10-06 14:14] frant-hartm commented on #19728
Then when you change the directory you need to change the env variable, it doesn't make sense to me. Also, the config files most commonly live in the config folder or in Hazelcast home.

You can always provide a full path.

[2021-10-06 21:15] localarm opened #19731 "MapLoader.load() swallow org.springframework.jdbc.BadSqlGrammarException"
**Describe the bug**
When throw org.springframework.jdbc.BadSqlGrammarException(String task, String sql, SQLException ex) at MapLoader implementation I got empty ExecutionException

**Expected behavior**
When throw org.springframework.jdbc.BadSqlGrammarException at MapLoader implementation I got BadSqlGrammarException

Hazelcast 5.0

[2021-10-07 07:48] vbekiaris commented on #19731
@localarm thanks for raising an issue. Can you post a reproducer or some sample code to demonstrate actual vs expected behaviour?

[2021-10-07 08:59] gierlachg commented on #19699
Seems #19701 will fix it

[2021-10-07 11:20] frant-hartm commented on #17324
Since this change in the sonar build

http://jenkins.hazelcast.com/job/Hazelcast-master-sonar/jobConfigHistory/showDiffFiles?timestamp1=2021-06-10_15-26-03&timestamp2=2021-06-29_14-16-04

where we turned on `test-coverage` profile, we seem to be getting code coverage report correctly (apart from some flaky failure, likely caused by incorrect config on a older branch build). We have taken multiple

[2021-10-07 12:27] mdumandag commented on #19678
Some extra logs shared with me (this is the 4.2.2 client):
[code]

[2021-10-07 18:10] Tarankalra commented on #19692
@ldziedziul As I am new to this project, want to discuss the approach with you first so that there are no repercussions of what I change. I am thinking to close the BufferObjectDataInput just before returning null in case the version is mismatched at this line https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MulticastService.java#L269.

[2021-10-08 01:58] Tom-python0121 commented on #19635
yes,Download the related packages to a fixed path and then run the following command:mvn install:install-file -Dfile="kafka_2.11-1.1.1-cp4.jar" -DgroupId=org.apache.kafka -DartifactId=kafka_2.11 -Dversion=1.1.1-cp4 -Dpackaging=jar
ok，it can do,I will close the issuse.

[2021-10-08 08:24] slavagithub opened #19737 "com.hazelcast.jet.python.PythonInitCleanupTest.com.hazelcast.jet.python.PythonInitCleanupTest [HZ-947]"
5.0.z / 5.0-maintenance (rev. 008f2fdfb87d00bed17092825b576ecb3df6665c)

Failed on Zulu, JDK 16
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-ZuluJDK16-nightly/2/testReport/

Stacktrace:
[code]

[2021-10-08 08:49] slavagithub opened #19738 "com.hazelcast.jet.python.PythonServiceTest"
5.0.z / 5.0-maintenance (rev. 008f2fd)

Failed on Zulu, JDK 16
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-ZuluJDK16-nightly/2/testReport/

Stacktrace:
[code]

Standard output:
[code]

[2021-10-08 08:57] slavagithub opened #19739 "com.hazelcast.client.stress.MapStableReadStressTest.testChangingCluster [API-1536]"
master / 5.1 (rev. 2aaca65dad7546714e807eed942c52e504a02bf0)

Failed on Oracle, JDK 8
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-OracleJDK8-nightly/865/testReport/

Stacktrace:
[code]

Standard output:
[code]

[2021-10-08 09:32] kwart commented on #19711
Seems like a test timing issue. I can reproduce it locally when adding a short `sleep()` into the listener used in the verification:
`TcpClientConnectionTest.CountingConnectionListener.connectionRemoved(Connection)`

[2021-10-08 12:31] ahmetmircik commented on #16827
In v5.0, i disabled jmx like this and issue disappeared:
[code]

[2021-10-09 15:29] Chelsea31 commented on #19726
I am not able to link this [PR](https://github.com/hazelcast/hazelcast/pull/19747) to this issue.

[2021-10-09 17:23] Chelsea31 commented on #7484
I would like to work on this.

[2021-10-10 11:22] wubumihuo opened #19751 "Does sql engine support query column like date"
I use hazelcast 4.2.

I have the object defined as `public class CalendarBO extends BaseBO {

    private String securityExchange;

    private String date;

    private String tradeFlag;

}`

When I use getsql() to execute query like 'SELECT * FROM CalendarBO WHERE date > '20211008'' , It give me the error:
`Caused by: com.hazelcast.sql.HazelcastSqlException: Encountered "date >" at line 3, colum

[2021-10-11 19:56] TomaszGaweda opened #19753 "Javas 16 Records support in Compact Serializer [API-1219]"
Add support for Java 16 record classes in Compact Serialization for no-configuration use case.

Support should be added for classes in top level and as fields.

[2021-10-11 20:01] TomaszGaweda commented on #19753
@mdumandag: @jerrinot Today I was researching how we can accomplish this issue and it's hard to make it both fast and not-hacky.

Instead of pure reflective approach, I started to think about another possibility: use Janino to generate dedicated serializers. IIRC Spark does it in their serialization too.

Instead of creating writersCache and readersCache, Reflective Serializer will just have 1 cac

[2021-10-12 07:27] olukas opened #19754 "com.hazelcast.jet.kafka.impl.WriteKafkaPTest.stressTest_graceful_exOnce"
_master_ (commit 30ec7fa37f99586f8ec7a333ec6ccc5c1ad42cd0)

Failed on Ibm JDK 8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8/151/testReport/com.hazelcast.jet.kafka.impl/WriteKafkaPTest/stressTest_graceful_exOnce/

Stacktrace:
[code]

Standard output:
[code]

[2021-10-12 07:43] olukas opened #19755 "com.hazelcast.client.stress.MapStableReadStressTest.testFixedCluster [API-1537]"
_master_ (commit f85c6579591bbb3b114936560f2c436847b7ebd8)

Failed on Ibm JDK 8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-nightly/21/testReport/com.hazelcast.client.stress/MapStableReadStressTest/testFixedCluster/

Stacktrace:
[code]

Standard output:
[code]

[2021-10-12 07:58] olukas opened #19756 "com.hazelcast.internal.ascii.InvalidEndpointTest.attemptHttpOnMemcacheEndpoint"
_master_ (commit f85c6579591bbb3b114936560f2c436847b7ebd8)

Failed on Sonar build (Oracle JDK 11): http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/1005/testReport/com.hazelcast.internal.ascii/InvalidEndpointTest/attemptHttpOnMemcacheEndpoint/

Stacktrace:
[code]

Standard output:
[code]

[2021-10-12 08:02] olukas opened #19757 "com.hazelcast.client.ClientRegressionWithRealNetworkTest.testOperationsContinueWhenClientDisconnected_reconnectModeOn [API-1400]"
_master_ (commit f85c6579591bbb3b114936560f2c436847b7ebd8)

Failed on Sonar build (Oracle JDK 11): http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/1005/testReport/com.hazelcast.client/ClientRegressionWithRealNetworkTest/testOperationsContinueWhenClientDisconnected_reconnectModeOn/

Stacktrace:
[code]

Standard output:
[code]

[2021-10-12 08:35] olukas opened #19758 "com.hazelcast.client.impl.spi.impl.discovery.ClientAutoDetectionDiscoveryTest.defaultDiscovery [HZ-753]"
_5.0.z_ (commit 008f2fdfb87d00bed17092825b576ecb3df6665c)

Failed on Zulu JDK 11: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-ZuluJDK11/3/testReport/com.hazelcast.client.impl.spi.impl.discovery/ClientAutoDetectionDiscoveryTest/defaultDiscovery/

Stacktrace:
[code]

Standard output:
[code]

[2021-10-12 08:57] ahmetmircik opened #19759 "Fail faster in case of publisher has merkle tree enabled but map doesn't"
com.hazelcast.config.InvalidConfigurationException: Map mapBak1HD0 has disabled merkle trees but the WAN replication scheme wanReplication has publishers that use merkle trees. Please enable merkle trees for the map

[code]

[2021-10-12 10:10] Holmistr commented on #19335
@jerrinot I agree not to remove it completely. It's definitely pointing out something.
But let's just make it less scary, it was a bigger trigger for the customer, panic etc.. In the end, the problem was solved (somehow).

[2021-10-12 16:13] jerrinot opened #19765 "NPE in address translation"
1. Start Hazelcast Cloud 5.0
2. Download Hazecast 5.0 ZIP and configure hazelcast-client.xml to connect to a Cloud instance started in the first step
3. Start Hazelcast console `hz-cli console`
4. Stop the Cloud cluster
5. After some time the console will start printing this:
[code]
While some error is expected (a cluster is down after all), the NPE is wrong.
Also I suspect it does not necessary n

[2021-10-13 05:47] NZ-Jaybird opened #19767 "Double metric collection when starting a both members within a second"
**Describe the bug**
Double metric collection error reported when starting both members within a second. It occurs because there are two distinct connections in TcpServerConnectionManager that resolve to the same remote address, presumably because the two members accept each others connections.

**Expected behavior**
If the two nodes are allowed to connect to each other when starting up within a s

[2021-10-13 09:51] #19489 closed

[2021-10-13 09:54] Fly-Style opened #19772 "Error while applying rule ValuesLogicalRules(Union) with UNION ALL"
During the implementation of UNION and UNION ALL I faced that issue:

**SQL query**
[code]

Produced logical plan :
[code]
Error message :
[code]
Exception was happened : `ValuesLogicalRules:158`

[2021-10-13 11:15] ramizdundar opened #19774 "com.hazelcast.jet.impl.connector.WriteFilePTest.stressTest_exactlyOnce_forceful"
_5.0.z_ (commit a8110496dc688bea96ec907c91f394818f51b6bb)

Failed on PR builder: http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/7793/testReport/junit/com.hazelcast.jet.impl.connector/WriteFilePTest/stressTest_exactlyOnce_forceful/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[code]

</details>

[2021-10-13 12:22] jerrinot opened #19777 "Hazelcast CLI starts a MySQL cleaner thread"
Hazelcast 5.0 CLI console starts a mysql cleaner thread for some reason:

[code]

[2021-10-13 12:25] ramizdundar commented on #19527
_5.0.z_ (commit e70f143872aa5beb83d53111e17fd1366de15b27)

Failed on PR builder: http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/7798/testReport/junit/com.hazelcast.spring.cache/TestCacheManager/testBean_withTTL/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[code]

</details>

[2021-10-13 14:01] srknzl commented on #19765
Not proficient with Java exception handling, but I think NPE feels a programming error, which might make our code look buggy.

[2021-10-13 14:19] jerrinot commented on #19765
@mdumandag but if we throw some other exception then Java will not throw NPE
@srknzl: exactly that. when I saw the log message I was convinced it was a Hazelcast bug.

[2021-10-14 06:18] olukas opened #19779 "com.hazelcast.internal.networking.nio.AdvancedNetworkingCommunicationIntegrationTest.testRestConnectionToEndpoints"
_master_ (commit 5b9bd18f2432b8c1c61d9e84ba7065b40f50c285)

Failed on Sonar build (Oracle JDK 11): http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/1007/testReport/com.hazelcast.internal.networking.nio/AdvancedNetworkingCommunicationIntegrationTest/testRestConnectionToEndpoints/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard o

[2021-10-14 07:57] jerrinot commented on #16930
the
[code]
will be fixed by https://github.com/hazelcast/hazelcast/pull/19633.
I have yet explore whether it's the real root cause of this failure. The test is rather complex.

[2021-10-14 08:02] olukas opened #19780 "master branch cannot be compiled on ZingJDK 8"
_master_ (commit d55d0b8ec1301d3cb2dfece2496cc6ae9dc1acc7)

Failed on ZingJDK 8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZingJDK8/349/console

<details><summary>Standard output:</summary>

[code]

</details>

[2021-10-14 13:51] frant-hartm commented on #19754
Closing until we see this failure
[code]
again. We will have logs from kafka.

[2021-10-14 13:51] #19754 closed, assigned to frant-hartm

[2021-10-15 06:09] olukas opened #19782 "com.hazelcast.client.cp.internal.datastructures.semaphore.ClientSemaphoreThreadedTest.concurrent_trySemaphoreWithTimeOutTest [API-1535]"
_master_ (commit c7d5d4ed0150e9e927af1541e2e0da730df401f5)

Failed on Zing JDK 8: https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZingJDK8/351/testReport/com.hazelcast.client.cp.internal.datastructures.semaphore/ClientSemaphoreThreadedTest/concurrent_trySemaphoreWithTimeOutTest/

<details><summary>Stacktrace:</summary>

[code]

</details>

Standard output is really long a

[2021-10-15 06:15] olukas opened #19783 "com.hazelcast.test.starter.hz3.Hazelcast3StarterTest [HZ-1753]"
_master_ (commit 5b9bd18f2432b8c1c61d9e84ba7065b40f50c285)

Failed on Openj9-16: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Openj9-16/30/testReport/com.hazelcast.test.starter.hz3/Hazelcast3StarterTest/

Following tests failed:
- `testMapPutGet`
- `testTopicMessageListenerPublish`

<details><summary>Stacktrace (for `testMapPutGet`):</summary>

[code]

</details>

Empty

[2021-10-15 06:19] olukas opened #19784 "com.hazelcast.client.executor.ClientExecutorServiceTest.testSubmitFailingCallableException_withExecutionCallback [API-1397]"
_master_ (commit c7d5d4ed0150e9e927af1541e2e0da730df401f5)

Failed on Sonar build (Oracle JDK 11): https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/1008/testReport/com.hazelcast.client.executor/ClientExecutorServiceTest/testSubmitFailingCallableException_withExecutionCallback/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard ou

[2021-10-15 06:21] olukas opened #19785 "com.hazelcast.internal.dynamicconfig.DynamicConfigSlowPreJoinBouncingTest.doNotThrowExceptionWhenMemberIsGone [HZ-978]"
_master_ (commit c7d5d4ed0150e9e927af1541e2e0da730df401f5)

Failed on Sonar build (Oracle JDK 11): https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/1008/testReport/com.hazelcast.internal.dynamicconfig/DynamicConfigSlowPreJoinBouncingTest/doNotThrowExceptionWhenMemberIsGone/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard outpu

[2021-10-15 07:24] jerrinot commented on #16930
so the leadership rebalancing is unrelated to this failure. The last failure is 1+ years old, there are no logs left, no even in the archive. Closing this, feel free to re-open it if there is another failure.

[2021-10-15 07:24] #16930 closed

[2021-10-15 08:24] vbekiaris commented on #18286
maybe related: https://github.com/hazelcast/hazelcast/issues/19672

[2021-10-15 08:46] neilstevenson opened #19786 "Add property for hazelcast.client.cloud.url"
Cloud needs two properties, URL and TOKEN

There is a property for the token, https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/client/properties/ClientProperty.java#L207
but not for the URL

[2021-10-15 08:50] neilstevenson commented on #19786
While a trivial fix, this should be co-ordinated across all client languages

[2021-10-15 10:03] alparslanavci commented on #18508
@olamy is it ok to close this? Do you have any other questions?

[2021-10-15 11:16] blazember commented on #19605
Closed by #4367

[2021-10-15 11:44] sancar commented on #19786
@neilstevenson Can you explain why the url parameter is needed ? Should it be something public ?

[2021-10-15 12:08] neilstevenson commented on #19786
If it's not needed for PROD then it doens't need to be exposed.

[2021-10-15 12:08] #19786 closed, assigned to nobody

[2021-10-15 15:21] neilstevenson opened #19792 "Invalid SQL mapping silently consumed"
Using 5.0.1-SNAPSHOT (20210922 - dbaeffe)

This mapping can be passed, isn't acceptable but no exception is thrown, so user will think it accepted.

[code]

The map name is surrounded by single quotes not double quotes

[2021-10-15 15:27] viliam-durina opened #19793 "Add test checking all type combinations in UNION operator"
By reading the test it should be visible which type combinations work and which don't. Also, the test should fail if something changes in the future (due to our changes or due to calcite changes).

[2021-10-16 09:24] ydekova opened #19797 "A pair of nodes in a cluster becomes unresponsive: QueryPartitionOperation invocation failed to complete due to operation-heartbeat-timeout"
We have a cluster of 15 nodes each on a separate VM in our data center:
We started having a problem almost every week - two of the nodes would "freeze" and become unresponsive.
The following error starts to occur on the client:

[code]
[code]
[code]

Unfortunately we haven't been able to come up with a definite steps to reproduce it yet (working on it), since it happens on production randomly.
The

[2021-10-16 11:25] Chelsea31 commented on #7484
I have created a [PR](https://github.com/hazelcast/hazelcast/pull/19750) for this, please review.

[2021-10-16 18:18] viliam-durina commented on #19792
I tried it and got:
[code]

[2021-10-17 12:02] ILGO0413 commented on #19765
Well, the method AddressProvider#translate can return either non-null Address or throw an exception, null cannot be returned at the moment. One can refactor the method to return null and add a new null check in TcpClientConnectionManager#getOrConnectToAddress and TcpClientConnectionManager#getOrConnectToMember methods after AddressProvider#translate method invocation, but it would be better to use

[2021-10-17 18:35] lprimak commented on #17427
Alright! Now 2-3 seconds of client-side sleep are now gone.
Now the rest needs to be addressed on the server / partitioning side.

[2021-10-18 06:23] gierlachg commented on #19792
I guess it got fixed with #19612

[2021-10-18 06:25] olukas opened #19801 "com.hazelcast.internal.networking.nio.iobalancer.IOBalancerStressTest.testEachConnectionUseDifferentOwnerEventually [HZ-826]"
_master_ (commit c7d5d4ed0150e9e927af1541e2e0da730df401f5)

Failed on Zulu JDK 16: https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZuluJDK16-nightly/22/testReport/com.hazelcast.internal.networking.nio.iobalancer/IOBalancerStressTest/testEachConnectionUseDifferentOwnerEventually/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard outpu

[2021-10-18 08:14] slavagithub opened #19802 "com.hazelcast.connector.Hz3EnrichmentTest"
The same failure for:
com.hazelcast.connector.Hz3EnrichmentTest
com.hazelcast.connector.Hz3SourcesTest
com.hazelcast.connector.Hz3SinksTest
com.hazelcast.test.starter.hz3.Hazelcast3StarterTest

Master (commit https://github.com/hazelcast/hazelcast/commit/de91d6b56bc89d831f7f449478ae46a2c652527d)

Failed on RedHat JDK 8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-RedHa

[2021-10-18 08:15] #19802 closed, assigned to nobody

[2021-10-18 08:16] slavagithub commented on #19802
RedHat jobs are being set up, might be configuration issue

[2021-10-18 08:23] #19765 closed, assigned to jerrinot

[2021-10-18 09:37] slavagithub opened #19803 "classloading.JavaXCacheDependencyClientTest.createHazelcastInstance_getCacheManager"
5.0.z / 5.maintenance (rev. 12691796a7de6b9c4bbbcc02fe013fb34a31f84f)

Failed on IBM Jdk * :  http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-IbmJDK8-nightly/4/testReport/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[code]

</details>

[2021-10-18 10:34] #19772 closed, assigned to Fly-Style

[2021-10-18 11:16] #19756 closed, assigned to ufukyilmaz

[2021-10-18 13:12] mim4nepal opened #19809 "Test issue"
Test issue by @mmedenjak to see if community users can add labels

[2021-10-18 13:12] #19809 closed

[2021-10-18 13:22] TomaszGaweda commented on #19753
Hi @mdumandag after some research, I'd left it with your approach. I was afraid that unnecessary array allocation and conversion from primitives to Object will cause performance problems, but maybe it's too soon to tell it. Codegen approach would indeed be faster, but would enforce using exactly once convention - which I think we want to avoid. In case of any performance bottleneck for some specif

[2021-10-18 15:51] neilstevenson commented on #19792
I thought "Yes" but maybe no...

[code]
but logs show
[code]

It seems that `hazelcast-jdbc` doesn't have a 5.0.1-SNAPSHOT but embeds 5.0.

[2021-10-19 08:48] Pinkolik commented on #19704
Hello! I would like to work on this issue

[2021-10-20 06:44] ldziedziul opened #19818 "Make query cache config in Spring more intuitive"
A follow-up from https://github.com/hazelcast/hazelcast/pull/19629#discussion_r722373883:

I would expect the query cache config to be located like this:
[code]

(instead of `get("")`). See also `ClientConfig#addQueryCacheConfig` method impl. This looks like an issue that was already there with spring config but went unnoticed.

[2021-10-20 06:45] #18043 closed

[2021-10-20 11:28] sancar opened #19820 "Leak on ClientMessageDecoder"
Fragmented messages are causing leak on the ClientMessageDecoder.

`builderBySessionIdMap` is populated when there is a fragmented message but the message references are never removed back from it.

This bug prevents any version that does not have the fix work with fragmented messages(which is not send by the server/client yet)

[2021-10-20 11:58] viliam-durina opened #19821 "Replace the json-path library with one that supports SQL standard [HZ-758]"
Json-path wasn't standardized, though it was widely used. When SQL incorporated it, they actually formally specified it, but they did some changes, for example:
- array ranges:
  - sql: `$[0 to 2]`
  - hz-sql currently: `$[0-2]`
- quoted properties:
  - sql: `$."foo prop"`
  - hz-sql currently: `$['foo prop']

SQL also supports `strict` and `lax` modes, which are enabled using modifiers at the exp

[2021-10-21 11:32] xiongyue23 opened #19824 "hazelcast map cas remove return false,but the map contain the removed obj"
We used hazelcast version 3.12.7, create map with object memory format. There are two nodes in our cluster. Initialize the data when there are two nodes, and then close one node to remove the map's data. removal failed, but in fact, there is this object in the map. Get can also return the equal same object.

[code]

remove return false, but map contain the source object, logger print target equal

[2021-10-21 14:47] viliam-durina opened #19826 "Refactor HazelcastTypeUtils.toHazelcastType()"
Follow-up issue to #19303, valid after that PR is merged.

We should remove the `HazelcastTypeUtils.toHazelcastType(SqlTypeName)` method and make all callers use `toHazelcastType(RelDataType)`. In current state we have two methods, but one of them doesn't handle JSON type correctly.

See https://github.com/hazelcast/hazelcast/pull/19303/files/a6d38cecf4e34b6aa81d3c55eb30801034b57434#diff-f96680534

[2021-10-22 09:33] #19663 closed, assigned to ahmetmircik

[2021-10-22 10:25] yozank opened #19833 "Phone home collector creates maps with wildcard name [HZ-650]"
When there are wild card maps in the configuration such as `ex_map_*` and there are map instances like `ex_map_0`, `ex_map_1`, phone home collector creates map proxies with the explicit name `ex_map_*`.

[This line](https://github.com/hazelcast/hazelcast/blob/6fa02369bb06a8f73939e382cbf1e32285370cfc/hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MapInfoCollector.java#L154) creates t

[2021-10-22 10:41] slavagithub opened #19834 "com.hazelcast.client.map.ClientIndexStatsTest.testIndexStatsAfterMapDestroy [HZ-1849]"
5.0.z / 5.maintenance (no changes)

Failed on sonar: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-sonar/29/testReport/junit/com.hazelcast.client.map/ClientIndexStatsTest/testIndexStatsAfterMapDestroy_format_OBJECT_/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[code]

</details>

[2021-10-22 10:45] slavagithub opened #19836 "com.hazelcast.jet.core.SuspendExecutionOnFailureTest.when_jobSuspendedDueToFailure_then_canBeResumed"
5.0.z (rev. f8d5893f13590e24b767096d565c19e71c03a82a)

Failed on Zing, JDK8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-ZingJDK8/8/testReport/junit/com.hazelcast.jet.core/SuspendExecutionOnFailureTest/when_jobSuspendedDueToFailure_then_canBeResumed_1__mode_client_/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:<

[2021-10-22 13:14] kwart opened #19838 "hz-start.bat doesn't set logging properly"
In a blank screen and empty log file results executing `hz-start.bat` on Windows. It misses the 2 environment variable configurations. They are used in the `log4j2.properties` file:

[code]

[2021-10-22 16:42] neilstevenson opened #19840 "SnapshotPhase2Operation exception on 5.0.1-SNAPSHOT"
Using Hazelcast Platform 5.0.1-SNAPSHOT (20211022 - aafdf51)

I get
[code]

I have a (huge!) reproducer project. DM me for details

[2021-10-25 06:34] olukas opened #19842 "com.hazelcast.client.impl.spi.impl.ClientInvocation_ExceptionTest.test"
_4.1.6_  - release branch (commit 819a2f83b5ce6011c5f4e3c12e0a1868d2698bb5)

Failed on Oracle JDK 8: https://jenkins.hazelcast.com/view/Release/job/Hazelcast-4.releaseBranch-OracleJDK8/8/testReport/com.hazelcast.client.impl.spi.impl/ClientInvocation_ExceptionTest/

All tests `test[0 - *]` and `test[1 - *]` failed.

`test[1 - java.lang.IllegalStateException: message]` failed with `No connection fou

[2021-10-25 10:19] #19728 closed, assigned to frant-hartm

[2021-10-25 11:58] mtyazici opened #19849 "Unrelated Log Messages when empty License Key is set"
**Describe the bug**
When Hazelcast License Key is set to empty string, the error log does not return an understandable message. This is relevant because this is what happens when I use hazelcast-enterprise Helm Chart without setting the field `hazelcast.licenseKey`.
![image](https://user-images.githubusercontent.com/44066377/138690485-9f64426f-a7bf-4425-a37e-5cb8b3d69275.png)

**Expected behavior

[2021-10-25 15:11] #19833 closed, assigned to erosb

[2021-10-25 19:30] APIANT opened #19851 "SST files not being purged, filesystem seemingly growing without bounds"
We started using Hazelcast v5 recently (were previously using v4 and older versions for over a year) and are seeing that the management console metrics/datapoints storage directory is growing in size, seemingly without bounds. Lots of files with an .sst extension are stored.  We purged them after they reached 5GB.

According to these, the default persistence of metrics should be 1 day:

https://do

[2021-10-26 09:28] viliam-durina opened #19852 "Early evaluation of ON DEFAULT and ON ERROR expressions if they are constant"
https://github.com/hazelcast/hazelcast/pull/19303/files/576fa3fc256749087cdae4b165c5d1d39a824c8f..ef7eb69a34214b195c9a1f5b494f4f2d2512c5bb#r715846612

In most use cases these are constants. We can evaluate them once in that case, not re-evaluate them for every row.

[2021-10-26 10:12] neilstevenson opened #19853 "Misleading SQL exception"
If I run this SQL,
[code]
I get this exception
[code]

The cause is use of `where algorithm = "RandomForest"` instead of `where algorithm = 'RandomForest'` but this is not what the error message suggests.

Note it is accepted to use double-quotes around the map name, just not the field,

Tested today against `Hazelcast Enterprise 5.0.1-SNAPSHOT (20211025 - 5b67d92, 7391b9d)`

[2021-10-26 20:18] #19853 closed, assigned to nobody

[2021-10-27 07:00] slavagithub opened #19856 "com.hazelcast.instance.impl.DefaultAddressPickerTest.testBindAddress_withIPv4NonLoopbackAddressViaInterfaces [HZ-958]"
master, 5.1 (rev. 2083a448049938667c69aa37cdc84cc382b6b4c0)

Failed on IBM JDK8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8/153/testReport/com.hazelcast.instance.impl/DefaultAddressPickerTest/testBindAddress_withIPv4NonLoopbackAddressViaInterfaces/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[code

[2021-10-27 07:50] slavagithub opened #19858 "com.hazelcast.internal.partition.impl.FrozenPartitionTableTest [HZ-962]"
master, 5.1 (rev.  aaaa4c8ae282f8800ca0a33d40e8956dc716547f)

Two tests fail similarly:
1)com.hazelcast.internal.partition.impl.FrozenPartitionTableTest.partitionTable_isFrozen_whenMemberReJoins_duringClusterStateIsPassive
2) com.hazelcast.internal.partition.impl.FrozenPartitionTableTest.partitionTable_isFrozen_whenMemberReJoins_duringClusterStateIsFrozen

Failed on Sonar: http://jenkins.hazelcast

[2021-10-28 16:40] neilstevenson opened #19862 "LRU fault, newest not oldest expired out"
Newest entries are deleted not oldest, I presume as `expirationTime` is set to `Long.MAX_VALUE` for all

Reproducer, tested on 4.2.2 and 5.0:
[code]
gives
[code]

Last access time seems also to have lost millisecond granularity.

Related https://github.com/hazelcast/hazelcast/issues/18614

[2021-10-29 09:44] Fly-Style opened #19864 "SQL: Various wrong query results with string functions [HZ-1229]"
Using [TLP](https://www.manuelrigger.at/preprints/TLP.pdf) approach, various wrong query results were found used with string functions like `upper`, `lower`, and `LIKE` operator.

**Case №1.**

Original query:
`SELECT * FROM t4_R41ojv5W9K;`
Result set size : 136

Partitioned queries:
[code]
Result set size: 140

**Case №2.**

Original query:
`SELECT t12_icl0ipQkBB.c0, t12_icl0ipQkBB.__key FROM t12

[2021-10-29 14:28] viliam-durina opened #19865 "Use standard syntax for table arguments"
https://github.com/hazelcast/hazelcast/blob/3ddd37caeb204efe9f40145d939043f3007dde7d/hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlImposeOrderFunctionTest.java#L117

Calcite uses non-standard syntax for table arguments:
[code]
According to SQL standard, the TABLE operand should be in parentheses:
[code]
They are even [considering changing this](http://mail-archives.us.apache.org/mod_mbox/ca

[2021-10-29 15:54] seii opened #19866 "Operations not specified as member-only in Cluster Javadocs"
When using a Hazelcast client, it is not clear that many cluster status operations can't actually be accessed via the API. Most operations accessible from `HazelcastInstance.getCluster()` return an `UnsupportedOperationException` if you happen to be calling [from a client](https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientClusterProxy.

[2021-10-31 17:44] slavagithub commented on #19711
Failed again with Zulu, JDK11 - http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-ZuluJDK11/5/testReport/com.hazelcast.client/TcpClientConnectionTest/destroyConnection_whenDestroyedMultipleTimes_thenListenerRemoveCalledOnce/

[2021-10-31 18:04] slavagithub opened #19868 "com.hazelcast.jet.core.SplitBrainTest.when_newMemberIsAddedAfterClusterSizeFallsBelowQuorumSize_then_jobRestartDoesNotSucceed"
Master (commit https://github.com/hazelcast/hazelcast/commit/3ddd37caeb204efe9f40145d939043f3007dde7d)

Failed on IBM, JDK8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-fips-nightly/351/testReport/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[code]

</details>

[2021-10-31 18:09] slavagithub opened #19869 "SlowGracefulShutdownCorrectnessTest.testPartitionData_whenNodesStartedShutdown_withRestart"
Master (rev. 3ddd37caeb204efe9f40145d939043f3007dde7d)

Failed on Zulu, JDK16: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZuluJDK16-nightly/24/testReport/com.hazelcast.internal.partition/SlowGracefulShutdownCorrectnessTest/testPartitionData_whenNodesStartedShutdown_withRestart_backups_0_nodes_6_shutdown_3_/

<details><summary>Stacktrace:</summary>

[code]

</details>

[2021-10-31 18:12] slavagithub opened #19870 "IndexStatsChangingNumberOfMembersTest.testIndexStatsOperationChangingNumberOfMembers"
Master (rev.  3ddd37caeb204efe9f40145d939043f3007dde7d)

Failed on Zulu, Jdk8: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZuluJDK8/158/testReport/com.hazelcast.map/IndexStatsChangingNumberOfMembersTest/testIndexStatsOperationChangingNumberOfMembers_format_OBJECT_/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary

[2021-10-31 18:23] slavagithub opened #19871 "com.hazelcast.instance.NodeThreadLeakTest [HZ-671]"
Master (rev. e817a03cdc61f127ee815f55df8d5f0105920246)

Failed on Zulu, JDK17: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZuluJDK17/5/testReport/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[code]

</details>

[2021-10-31 18:35] slavagithub opened #19872 "com.hazelcast.internal.json.JsonValue_Test.writeTo_doesNotCloseWriter [HZ-670]"
Master (rev. e817a03)

Failed on Zulu, JDK17: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZuluJDK17/5/testReport/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[code]

</details>

[2021-10-31 18:39] slavagithub opened #19873 "com.hazelcast.internal.nearcache.impl.preloader.NearCachePreloaderLockTest [HZ-669]"
Master (rev. e817a03)

Failed on Zulu, JDK17: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZuluJDK17/5/testReport/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[code]

</details>

[2021-10-31 18:47] slavagithub opened #19874 "com.hazelcast.internal.util.ModularJavaUtilsTest.testNoMissingPackageAccessInTestsuite [HZ-668]"
Master (rev. e817a03)

Failed on Zulu, JDK17: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZuluJDK17/5/testReport/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[code]

</details>

[2021-10-31 18:52] slavagithub opened #19875 "com.hazelcast.nio.IOUtilTest.testTouch_failsWhenLastModifiedCannotBeSet [HZ-667]"
Master (rev. e817a03)

Failed on Zulu, JDK17: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZuluJDK17/5/testReport/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[code]

</details>

[2021-10-31 19:05] slavagithub opened #19876 "com.hazelcast.kubernetes.HazelcastKubernetesDiscoveryStrategyFactoryTest.checkProperties [HZ-666]"
Master (rev. 3ddd37caeb204efe9f40145d939043f3007dde7d)

Failed on Corretto, JDK17: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-CorrettoJDK17/14/testReport/com.hazelcast.kubernetes/HazelcastKubernetesDiscoveryStrategyFactoryTest/checkProperties/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[code]

</details>

[2021-10-31 19:13] slavagithub opened #19877 "com.hazelcast.logging.Slf4jLoggerTest [HZ-665]"
Master (rev. 3ddd37c)

Failed on Corretto, JDK17: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-CorrettoJDK17/14/testReport/com.hazelcast.kubernetes/HazelcastKubernetesDiscoveryStrategyFactoryTest/checkProperties/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[code]

</details>

[2021-11-01 07:41] olukas commented on #19665
`com.hazelcast.partition.PartitionMigrationListenerTest.testMigrationStats_afterPartitionsLost_when_NO_MIGRATION` failed again on Sonar build: https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/1025/testReport/com.hazelcast.partition/PartitionMigrationListenerTest/testMigrationStats_afterPartitionsLost_when_NO_MIGRATION/

Stacktrace:
[code]

[2021-11-01 07:45] olukas commented on #19801
It failed also on IBM JDK 8 in FIPS mode: https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-fips-nightly/352/testReport/com.hazelcast.internal.networking.nio.iobalancer/IOBalancerStressTest/testEachConnectionUseDifferentOwnerEventually/

[2021-11-01 07:48] olukas commented on #19868
Failed also on `5.0.z` branch with IBM JDK 8: https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-IbmJDK8-nightly/6/testReport/com.hazelcast.jet.core/SplitBrainTest/when_newMemberIsAddedAfterClusterSizeFallsBelowQuorumSize_then_jobRestartDoesNotSucceed/

[2021-11-02 12:39] gierlachg opened #19882 "Optimize window aggregation plans"
Window aggregation queries produce plans containing this:

[code]

Each of these steps is backed by a separate vertex (Aggregate by 2 of them actually), however, all these three steps can be executed by `SlidingWindowP`. Maybe there can be 2 rules: one merging the `Project` into `SlidingWindowRel`, and the other merging `Aggregate` and `SlidingWindowRel` into `SlidingWindowAggrRel`.

[2021-11-02 13:03] alparslanavci commented on #18508
@olamy I am closing the issue because of inactivity. Feel free to reopen if needed.

[2021-11-02 13:03] #18508 closed

[2021-11-02 20:12] TomaszGaweda commented on #19712
Hi, it was fixed in commit https://github.com/hazelcast/hazelcast/commit/51859ec7b136c42d35f1973610cc200ca384a424

@sancar Can you please take a look and close this issue if I'm correct?

[2021-11-03 07:09] olukas commented on #19634
`com.hazelcast.internal.ascii.RestClusterMultiendpointTest.testHeadRequest_ClusterInfo` failed on Zulu JDK 11 on `master` also with `TestTimedOutException`: https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZuluJDK11/158/testReport/com.hazelcast.internal.ascii/RestClusterMultiendpointTest/testHeadRequest_ClusterInfo/

Since the cause can be the same I'm putting it into this

[2021-11-03 07:32] olukas opened #19884 "com.hazelcast.jet.sql_slow.JetSqlSlowIndexTest"
_5.0.z_ (commit dce2abb3485d5ccd7658b69d0b5a952031f741bf)

Failed on Sonar build (Oracle JDK 11): https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-sonar/40/testReport/com.hazelcast.jet.sql_slow/JetSqlSlowIndexTest/com_hazelcast_jet_sql_slow_JetSqlSlowIndexTest/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[2021-11-03 07:32] olukas opened #19885 "com.hazelcast.jet.sql_slow.MapIndexScanPMigrationStressTest.stressTest_sorted [HZ-1375]"
_5.0.z_ (commit dce2abb3485d5ccd7658b69d0b5a952031f741bf)

Failed on Sonar build (Oracle JDK 11): https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-sonar/40/testReport/com.hazelcast.jet.sql_slow/MapIndexScanPMigrationStressTest/stressTest_sorted/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[code]

</deta

[2021-11-03 12:22] viliam-durina opened #19887 "The IMPOSE_ORDER function should drop late items [HZ-1016]"
The IMPOSE_ORDER function should not only add watermarks to the stream, but also drop late items. The current implementation doesn't, we rely on the window functions (TUMBLE/HOP) to do it, but it should happen even without a window function.

This test should pass in `SqlImposeOrderFunctionTest`:
[code]

[2021-11-04 07:00] #19865 closed

[2021-11-04 07:01] olukas commented on #19868
Failed also with Oracle JDK 8 on `master` branch: https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-OracleJDK8-nightly/869/testReport/com.hazelcast.jet.core/SplitBrainTest/when_newMemberIsAddedAfterClusterSizeFallsBelowQuorumSize_then_jobRestartDoesNotSucceed/

[2021-11-04 08:01] sancar commented on #19712
@TomaszGaweda You are right. It is fixed by https://github.com/hazelcast/hazelcast/pull/19619

[2021-11-04 08:01] #19712 closed

[2021-11-04 10:45] #18742 closed

[2021-11-04 13:11] Danny-Hazelcast opened #19897 "clients generate load via sql queries eventually OOME members in cluster [HZ-726]"
clients making concurrent sql queries which might perhaps result in a large results set, eventually cause the OOME of members in cluster

[code]

/disk1/workspace/stable-x4/5.1-SNAPSHOT/2021_11_03-07_50_10/sql-service-all

load generated from clients running repeated sql queries
hzcmd.map.sql.service.selectAll
[code]

![verbosegc log](https://user-images.githubusercontent.com/5988678/140317229-ad6

[2021-11-05 07:15] olukas opened #19898 "com.hazelcast.jet.sql_slow.MapScanMigrationStressTest.stressTest_sortedIndex"
_master_ (commit 19b9b347012ad306d83ac6ef47840a229a74b73f)

Failed on Sonar build (Oracle JDK 11): http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/1029/testReport/com.hazelcast.jet.sql_slow/MapScanMigrationStressTest/stressTest_sortedIndex/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[code]

</details>

[2021-11-05 08:15] Fly-Style commented on #19885
Seems like some glitch on testing machine. Let's observe it for further failures (which should not happens)

[2021-11-05 10:15] #19826 closed

[2021-11-05 12:18] ahmetmircik opened #19901 "Surprising behavior of HazelcastTestSupport.createHazelcastInstance"
These two calls behave differently:
1. `HazelcastTestSupport.createHazelcastInstance()`
2. `HazelcastTestSupport.createHazelcastInstance(new Config())`

1st enables jet while latter one doesn't.

[2021-11-05 13:18] viliam-durina opened #19902 "Rolling-upgrade compatibility of new QueryDataTypes"
The #19303 PR added new `QueryDataType.JSON`. The #19863 is about to add `ROW`. We need to make sure that mappings with these types aren't added as long as the cluster version is 5.0 because there can be other members that will fail to deserialize this value.

We can write test for this first. If the older members fail gracefully, maybe we don't need to guard against it.

[2021-11-07 19:39] mmedenjak commented on #19870
Closing as duplicate of https://github.com/hazelcast/hazelcast/issues/17460. @slavagithub please add new failures in existing issues for the same test method.

[2021-11-07 19:39] #19870 closed

[2021-11-07 19:40] mmedenjak commented on #17460
Another occurrence - https://github.com/hazelcast/hazelcast/issues/19870#issue-1040545474

[2021-11-07 19:49] mmedenjak commented on #19711
@kwart can this issue now be closed?

[2021-11-07 20:01] mmedenjak commented on #19862
@ahmetmircik can you take a quick look?

[2021-11-07 20:05] mmedenjak commented on #19824
Hi @xiongyue23 ! I believe that the issue is that methods such as `remove` operate on binary (serialised) versions of keys and don't use `equals` and `hashCode` - https://github.com/hazelcast/hazelcast/blob/332d94bb4afb11324f174b707f60518a16b0ce79/hazelcast/src/main/java/com/hazelcast/map/IMap.java#L61-L68.

[2021-11-07 20:08] mmedenjak commented on #19797
Thank you for the report @ydekova ! @vbekiaris @ahmetmircik can you take a look and provide some suggestions?

[2021-11-07 20:09] mmedenjak commented on #19767
Thank you for the report! @ufukyilmaz can you take a look?

[2021-11-07 20:11] mmedenjak commented on #19709
Thank you for the report @leonzakaim ! @hazelcast/apis any suggestions?

[2021-11-07 21:47] vbekiaris commented on #19797
hi @ydekova! Some intiial thoughts: a probable cause could be that under some circumstances you are issuing a query with  `BetweenPredicate` where `from` > `to` resulting in `IllegalArgumentException` being thrown from the internal sorted index implementation. Maybe you can add this kind of sanity check on your side to verify this could be the case.

Range sanity checks have been introduced in 3.1

[2021-11-08 08:04] kwart commented on #19711
:+1: I thought, it's already autoclosed. Closing now.

[2021-11-08 08:04] #19711 closed

[2021-11-08 08:19] srknzl opened #19909 "QueueStatisticsTest.testAge[comparatorClassName= null]"
failed on https://github.com/hazelcast/hazelcast/pull/19892

srknzl:compactable-api-doc-fix (commit https://github.com/hazelcast/hazelcast/pull/19892/commits/d94bd9dcf90f859de5cb9c3f581acc5314b9ce29 )

Failed on Hazelcast-pr-builder: http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/8174/testReport/com.hazelcast.collection.impl.queue/QueueStatisticsTest/testAge_comparatorClassName__null_/

<de

[2021-11-08 08:33] viliam-durina opened #19910 "Fail on duplicate options for CREATE JOB"
If there's a duplicate option, the later value is used. It should fail.

[2021-11-08 09:48] srknzl opened #19911 "QueueStatisticsTest.testAge[comparatorClassName= com.hazelcast.collection.impl.queue.model.VersionedObjectComparator]"
srknzl:compactable-api-doc-fix (commit https://github.com/hazelcast/hazelcast/pull/19892/commits/8a2808efc81365019e1ac92a9580ff35ae560637)

Failed on Hazelcast pr builder: https://jenkins.hazelcast.com/job/Hazelcast-pr-builder/8181/testReport/junit/com.hazelcast.collection.impl.queue/QueueStatisticsTest/testAge_comparatorClassName__com_hazelcast_collection_impl_queue_model_VersionedObjectComparato

[2021-11-08 11:17] neilstevenson opened #19912 "Partial map name reporting when querying unmapped IMap"
Using `Hazelcast Platform 5.0.1-SNAPSHOT (20211105 - 74bf4d8)`

If I run this SQL
[code]
and the mapping doesn't exist, the reported error doesn't quote the full map name

[code]

[2021-11-08 11:47] neilstevenson opened #19915 "Can't query map with full stop in name"
Using Hazelcast Platform 5.0.1-SNAPSHOT (20211105 - 74bf4d8)

I define two maps, with no exceptions raised:
[code]

and `SHOW MAPPINGS` lists them both:
[code]

But these two queries don't execute the same:
[code]

The first works, the second fails
[code]

Related https://github.com/hazelcast/hazelcast/issues/19912

[2021-11-08 11:58] ahmetmircik commented on #19862
This is expected by design.

Eviction happens per-partition basis. So when map needs eviction, it sorts entries in a partition to apply LRU and removes most eligible one. In above test case, all entries go in a different partition. All the keys that are being put is the only key in matching partition. So if map decides eviction is required, it removes that only 1 entry from the partition.
To verif

[2021-11-08 11:58] mmedenjak commented on #19911
Potentially related: https://github.com/hazelcast/hazelcast/issues/19909

[2021-11-08 11:58] mmedenjak commented on #19909
Potentially related: https://github.com/hazelcast/hazelcast/issues/19911

[2021-11-08 12:00] neilstevenson commented on #19915
Use of `EXTERNAL NAME` is superfluous here, but removing it makes no difference

[2021-11-08 12:29] #19909 closed

[2021-11-08 12:29] #19911 closed

[2021-11-08 12:52] Danny-Hazelcast commented on #19897
[code]

[code]

![verbosegc log](https://user-images.githubusercontent.com/5988678/140745210-47f905b3-f0b6-41aa-ad54-0edfba7c51d2.png)

[2021-11-08 12:52] Danny-Hazelcast commented on #19897
/disk1/workspace/stable-x4/5.1-SNAPSHOT/2021_11_08-11_44_47/sql-service-all

[2021-11-08 14:49] neilstevenson commented on #19862
From https://docs.hazelcast.com/hazelcast/5.1-snapshot/data-structures/managing-map-memory#understanding-map-eviction we would expect each partition to get a maximum size of 1.

If we insert keys 4,3,2,1,0 these go to partitions 179,227,5,31,11.
Keys 1 and 0 are deleted.

If we reverse the sequence, insert 0,1,2,3,4 these go to partitions 11,31,5,227,179.
Keys 3 and 4 are deleted.

So the observed

[2021-11-08 15:52] ahmetmircik commented on #19862
Keys 1 and 0 are deleted.

Keys 3 and 4 are deleted.

Eviction process only checks the partition of the put operation, there is no coordination between partitions.
In both cases in your example, newest entries are evicted(0,1 in first and 3,4 in second). This is because each partition has 1 entry when latest puts detect memory exceedance. A later put only find itself in partition to evict and dele

[2021-11-08 17:22] #19866 closed

[2021-11-09 07:57] slavagithub commented on #18837
Reproduced also on Sonar, 5.0.z - http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-sonar/46/testReport/com.hazelcast.cp.internal/CPMemberAddRemoveTest/when_cpMembersShutdownConcurrently_then_theyCompleteTheirShutdown/

[2021-11-09 08:32] slavagithub commented on #19665
Failed on Sonar maint, 5.0.z - http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-sonar/46/testReport/com.hazelcast.partition/PartitionMigrationListenerTest/testMigrationStats_afterPartitionsLost_when_NO_MIGRATION/

[2021-11-09 08:38] slavagithub opened #19917 "com.hazelcast.internal.cluster.impl.NoMigrationClusterStateTest.promotions_shouldHappen_whenMemberLeaves [HZ-1877]"
_5.0.z_ (commit d9fb7bbbf1b5cb66567ba251f9fc51ec6e8aa65d)

Failed on Sonar: http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-sonar/46/testReport/com.hazelcast.internal.cluster.impl/NoMigrationClusterStateTest/promotions_shouldHappen_whenMemberLeaves/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[code]

</

[2021-11-09 09:14] neilstevenson commented on #19862
Thanks @ahmetmircik

[2021-11-09 09:18] neilstevenson commented on #19862
Reopened as placeholder for documentation clarification.

Hazelcast is working correctly, but without understanding of the above explanation, it would seem counter-intuitive

[2021-11-09 10:09] gierlachg commented on #17079
Already implemented

[2021-11-09 10:09] #17079 closed

[2021-11-09 10:21] gierlachg commented on #17473
Already implemented

[2021-11-09 10:21] #17473 closed

[2021-11-09 13:13] #19910 closed

[2021-11-09 15:47] neilstevenson commented on #19294
I just tried this with 5.0.1-SNAPSHOT, `ClientClusterProxy.getClusterVersion` throws an `UnsupportedOperationException`

So currently you can't get the cluster version, despite my original comment. Perhaps you could in the past.

[2021-11-09 15:51] lukasherman opened #19920 "StreamEventJournalP NPE in DataCodec.encode"
**Describe the bug**
Client application streaming data from remote cluster via StreamEventJournalP throws exception on evict event.

**Expected behavior**
It is expected that evict event is streamed to client application.

**To Reproduce**
Steps to reproduce the behavior:
Set up Jet client application to stream data from remote cluster. Configure eviction on remote map. Place item to remote map an

[2021-11-09 16:21] neilstevenson commented on #19294
I found my old code,
I did
[code]

So the client can get the version for all cluster members, and make a decent guess for the cluster version. Being able to run `getClusterVersion` would be preferable.

[2021-11-09 16:23] lukasherman commented on #19920
Closing now. There are some client parts working correctly, and some other not working at all. Will investigate locally and get back if something is wrong.

[2021-11-09 16:23] #19920 closed

[2021-11-09 16:29] lukasherman commented on #19920
OK so the workaround for https://github.com/hazelcast/hazelcast/issues/13498 to filter out items inside projectionFn
does not work in client mode. Projection function returning null causes this issue.

[2021-11-09 17:00] neilstevenson opened #19922 "False "JoinRequest with an incompatible binary-format" in 1-node cluster"
Using `Hazelcast Platform 5.1-SNAPSHOT (20211109 - ccdf555)` on MacOS 12.0.1 (Monterey)

This code,
[code]

gives a join incompatibility warning

[code]

I get the same message if I change the multi-cast port to something non-default, not 54327.
I don't get this if I swap to TCP.

[2021-11-10 09:33] Danny-Hazelcast commented on #19897
load description
4 members 2GB heap.    4 clients
1 HD map of size 1000000,  where key values are ints
client run query with 2 threads
sqlStatement.setSql("select * from \""+name+"\"");
SqlResult sqlResult = sqlService.execute(sqlStatement);
sqlResult.close();
so 8 queries can run concurrent

[2021-11-10 09:35] Danny-Hazelcast commented on #19897
load_mapBak1HD hzcmd.map.member.LoadInt driver=Member threads=1 duration=0 bench=Roll interval=0 keyDomain=1000000 name=mapBak1HD
loadInt Done
sql_mapBak1HD hzcmd.map.sql.service.selectAll driver=Client threads=2 duration=0 bench=Roll interval=0 valueClass=java.lang.Integer name=mapBak1HD
fail HzClient3HZ sql_mapBak1HD hzcmd.map.sql.service.selectAll threadId=1 com.hazelcast.sql.HazelcastSqlExcept

[2021-11-10 09:40] viliam-durina commented on #19897
Info from @Danny-Hazelcast:

 load description
4 members 2GB heap.    4 clients
1 HD map of size 1000000,  where key values are ints
client run query with 2 threads
sqlStatement.setSql("select * from \""+name+"\"");
SqlResult sqlResult = sqlService.execute(sqlStatement);
sqlResult.close();
so 8 queries can run concurrent
10:34
after some 10+ minutes a member of the cluster OOMES

[2021-11-10 09:41] viliam-durina commented on #19897
Likely the reason is that when `close` returns, the statement isn't fully cleaned up on the member. It just sets some flag and it takes a couple of moments to actually close it. In the memory there are 158 instances of ExecutionContext - these back the execution, one on each member.

[2021-11-10 10:02] jerrinot opened #19925 "Misleading description of operational call timeout"
The call timeout description makes the impression it's valid for remote calls (invocations) only.
I believe timeout enforcement makes no distinction between remote and local invocations. This should be double-checked and the property description changed.

![image](https://user-images.githubusercontent.com/158619/141092276-4438e114-a0de-43ab-be78-c7f095d22725.png)

[2021-11-10 10:22] neilstevenson opened #19926 "Packaging clash on 5.1-SNAPSHOT giving "No DataSerializerFactory registered for namespace: -38""
Using 5.1-SNAPSHOT:
[code]

My pom has
[code]
and
[code]

When I run code such as
[code]

using
[code]

this throws an exception
[code]

Works fine with 5.0.1-SNAPSHOT

It works fine in the IDE, it's clash with the use of `maven-assembly-plugin`

[2021-11-10 10:24] neilstevenson commented on #19926
See also https://github.com/hazelcast/hazelcast/issues/18959 ?

[2021-11-10 11:34] neilstevenson commented on #19922
Despite `(This message will be suppressed for 60 seconds).` the message actually keeps appearing ever 120 seconds.

[2021-11-10 20:43] jigarcaptain commented on #13012
I also need this feature.

[2021-11-11 12:41] RobbanHoglund opened #19933 "Estimated Size of a Map"
We have a need of have a more lightweight way of determine size of maps. The "size" operation is global and are invoked on all partitions on all member so this is quite heavy to use.

We would like to have a more lightweight way do perform the size operation. This alternative will not be 100% accurate of course. The estimatedSize operation will invoke the size operation on only one member (master)

[2021-11-11 12:45] frant-hartm opened #19934 "Allow adding WAN replication config dynamically"
Wan replication config can be added dynamically via rest and MC (according to the documentation).

So it should be straightforward to implement  `com.hazelcast.config.Config#addWanReplicationConfig` from the client.

[2021-11-11 13:03] ahmetmircik commented on #19933
Hi @RobbanHoglund,
Could you please give more context about your use case? What are you trying to achieve? Why do you think size is heavyweight?

[2021-11-11 13:48] RobbanHoglund commented on #19933
Hello @ahmetmircik,

The size operation is relatively heavy since it is a _global_  (Non partition aware) operation. If running the size operation frequently it will have a significant effect on the Cpu.

We did that observation in our production environment . When we reduced the number of invocations to the size-operation and it drastically lowered the Cpu usage on the member JVMs/nodes.

The use

[2021-11-11 16:18] viliam-durina commented on #19302
Resolved by #19362

[2021-11-11 16:18] #19302 closed

[2021-11-11 16:27] viliam-durina commented on #19897
I analyzed one of the heap dumps. There are about 10k `ExecutionContext` instances with average Retained Heap around 32kB each. Some are up to tens of MB.

These are not leaked. The reason is that SQL uses light jobs and it has race conditions that are resolved by a background cleanup task. If a job is cancelled, the cancel request is sent to all members concurrently. However, members are sending

[2021-11-12 07:00] #14888 closed

[2021-11-12 08:28] viliam-durina opened #19937 "SQL UPDATE unusable on objects with read-only fields"
Let's say we have a class:
[code]
And we have an `IMap<Long, Person>`. Then this query will fail:
[code]
The exception is:
[code]

However, we expect this (or similar) exception to be thrown if the `birthYear` field is actually listed in the SET clause.

We should be able to work with classes with read-only derived fields.

Note: it's not required to fix the use case when the read-only property is

[2021-11-12 08:55] viliam-durina commented on #19926
It might be fixed by this: #19931

[2021-11-12 09:17] viliam-durina commented on #19915
You should use
[code]
`"` quotes identifiers, the `.` is the interpreted literally. Without it, the parser considers `neil` to be a schema and `stevenson` to be a table name.

But the error you get for when not quoting is wrong I think - we should not offer IMap creation when the schema name is unknown...

[2021-11-12 10:08] viliam-durina commented on #19915
I tried to fix the misleading error, however the error is throw by calcite and we replace it in a little hacky way - and in the place where it's done we don't know whether the missing object was a table or schema name. So if you do `select * from mySchema.map`, and a map with name `mySchema` exists, the error will provide you a CREATE MAPPING command to create `mySchema` mapping...

[2021-11-12 10:09] viliam-durina commented on #19915
Closing the error as the issue is pretty obvious and the behavior is correct. Reopen if you disagree.

[2021-11-12 10:09] #19915 closed

[2021-11-12 10:12] viliam-durina commented on #19912
It's the same issue as in #19915. The `.` has special meaning in SQL (in this case to separate object and schema names). Schema name is also just an object that you can create, therefore the error says "object 'hello' not found".

To interpred the `.` literally, enclose the table name in `"`:
[code]

[2021-11-12 10:12] #19912 closed

[2021-11-12 11:13] fbarotov commented on #1325
Another `com.hazelcast.map.BackupTest.testBackupPutWhenOwnerNodeDead` failure on [Hazelcast-pr-builder/8264](https://jenkins.hazelcast.com/job/Hazelcast-pr-builder/8264/testReport/junit/com.hazelcast.map/BackupTest/testBackupPutWhenOwnerNodeDead/)

[2021-11-12 17:33] JakeSCahill opened #19941 "Trusted interfaces configs are missing in full examples [HZ-2266]"
**Describe the bug**
We have a configuration setting to restrict the trusted interfaces of Management Center:

[code]

These aren't documented in any of the example config files.
**Expected behavior**
This configuration setting should be documented in the full examples and probably the security hardened ones as well.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '.

[2021-11-13 16:51] slavagithub commented on #19868
Failed also on 5.0.z for Zulu, JDK6 - http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-ZuluJDK16-nightly/7/testReport/junit/com.hazelcast.jet.core/SplitBrainTest/when_newMemberIsAddedAfterClusterSizeFallsBelowQuorumSize_then_jobRestartDoesNotSucceed/

[2021-11-13 17:29] slavagithub commented on #19868
failed also on JDK8 fips - http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-fips-nightly/356/testReport/com.hazelcast.jet.core/SplitBrainTest/when_newMemberIsAddedAfterClusterSizeFallsBelowQuorumSize_then_jobRestartDoesNotSucceed/

[2021-11-13 17:35] slavagithub opened #19943 "com.hazelcast.jet.sql.impl.connector.kafka.SqlKafkaAggregateTest.test"
_master_ (commit d05be9ecf18da725ac8ccfc96fe1385977cadd13)

Failed on Openj9-11: [test result](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Openj9-11/52/testReport/com.hazelcast.jet.sql.impl.connector.kafka/SqlKafkaAggregateTest/test/)

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[code]

</details>

[2021-11-13 17:41] slavagithub opened #19944 "com.hazelcast.jet.sql.impl.parse.HazelcastSqlParserTest.test_createIndexRequiresMapName"
_master_ (commit d05be9ecf18da725ac8ccfc96fe1385977cadd13)

Failed on Windows, Oracle JDK8: [test result](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-Windows-OracleJDK8/343/testReport/com.hazelcast.jet.sql.impl.parse/HazelcastSqlParserTest/test_createIndexRequiresMapName_true___0_/)

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standar

[2021-11-14 18:27] slavagithub opened #19946 "com.hazelcast.jet.core.metrics.MetricsTest.customUnit_notUsed [HZ-997]"
_5.0.z_ (commit ce4ba622a7846f34def924fb13c5c3e613680523)

Failed on Windows, Oracle JDK8: [test report](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-Windows-OracleJDK8/18/testReport/junit/com.hazelcast.jet.core.metrics/MetricsTest/customUnit_notUsed/)

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[cod

[2021-11-15 07:49] olukas commented on #19898
Failed again on Sonar build (Oracle JDK 11): https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/1039/testReport/com.hazelcast.jet.sql_slow/MapScanMigrationStressTest/stressTest_sortedIndex/

[2021-11-15 10:00] viliam-durina opened #19948 "Ignore or fail for duplicate Kafka topics"
When a duplicate topic is passed to the kafka source connector in the `topics` list, it can happen that some partitions are read twice. The issue is that when running the job on one member there will be no duplicates, because we pass a `Set` to `KafkaConsumer.assing` and the duplicates are eliminated. With larger number of members, duplicates are likely.

The fix might be to either remove duplicat

[2021-11-15 11:32] frant-hartm commented on #19926
I would say this is expected behaviour. We use the service loader mechanism in multiple places, not only for SQL in hazelcast. Instead of assembly plugin you should be using shade plugin with https://maven.apache.org/plugins/maven-shade-plugin/examples/resource-transformers.html#ServicesResourceTransformer.

We might need to add an entry to documentation that we are not assembly plugin friendly.

[2021-11-15 11:54] ivanthescientist commented on #19926
For the record, this problem can be fixed with assembly plugin's built in capabilities:
[code]
assembly.xml:
[code]

[2021-11-15 13:21] neilstevenson commented on #19926
This has changed from 5.0 to 5.1 though.

[2021-11-15 17:03] #19944 closed

[2021-11-16 06:59] olukas commented on #19801
Failed in IBM JDK 8: https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-nightly/26/testReport/com.hazelcast.internal.networking.nio.iobalancer/IOBalancerStressTest/testEachConnectionUseDifferentOwnerEventually/

[2021-11-16 07:00] olukas commented on #19834
Failed also on `master` branch on Sonar build (Oracle JDK 11): https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/1040/testReport/com.hazelcast.client.map/ClientIndexStatsTest/testIndexStatsAfterMapDestroy_format_OBJECT_/

[2021-11-16 07:05] olukas opened #19951 "com.hazelcast.spring.cache.HazelcastCacheTest [HZ-935]"
_master_ (commit 6617a89e3c6b2b34a47b90f7c3dffb4dd49706de)

Failed on Corretto JDK 11: https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-CorrettoJDK11/144/testReport/com.hazelcast.spring.cache/HazelcastCacheTest/

Following tests failed with the same exception:
- `testCacheGetCallableNotInvokedWithHitNull`
- `testCacheGetSynchronized`
- `testCacheGetCallableNotInvokedWithHi

[2021-11-16 07:45] #19877 closed

[2021-11-16 09:19] frant-hartm opened #19952 "SELECT this fails with compact serialization and more than 1 member when class not on classpath [HZ-737]"
**Describe the bug**

After inserting data via java client, selecting the object (`SELECT this FROM map`) fails with exception:

[code]

Additional details are not available due to #18917.

**Expected behavior**
Should return results, deserialized into domain objects on the client side.

**To Reproduce**

I am not able to reproduce this inside single JVM with 2 member cluster, using the usual Filt

[2021-11-16 09:28] nkonev commented on #17473
https://github.com/hazelcast/hazelcast/commit/cf2808730e6a44848bb551dc750439e6d80b9877

[2021-11-16 10:46] viliam-durina opened #19953 "Provide API for calling SqlMappingDdlCodec [HZ-734]"
Here the ManCenter directly invokes a client SQL operation: https://github.com/hazelcast/management-center/blob/6faadb2804e29fbe71efd7656022ec0100bf5c95/src/main/java/com/hazelcast/webmonitor/service/client/MCClient.java#L355-L370

We should move this code to `SqlClientService` and make MC call our method. Also mark this method as "used by MC".

[2021-11-16 11:51] Holmistr commented on #17489
Moving to backlog as it needs to be properly triaged based on sponsorships.

[2021-11-16 11:51] Holmistr commented on #17490
Moving to backlog as it needs to be properly triaged based on sponsorships.

[2021-11-16 13:09] zhmaeff commented on #19851
Hi @APIANT could you please retest with MC version 5.0.2?

[2021-11-16 13:28] APIANT commented on #19851
Yes, will retest this week and report back.

[2021-11-17 00:35] andrewfinnell commented on #15346
Would it be possible for someone to describe specifically how an attacker might use this vulnerability? From what I am reading it sounds like an attacker would need to send a malformed Join request that tricks Hazelcast into deserializing a rogue class that is on the classpath of the service accepting the join request. Is that accurate?

[2021-11-17 09:10] wubumihuo commented on #19418
@viliam-durina  hi god,I have met a new problem. Can you give some sovle suggestions?
(1) getsql
 I want to count Imap with where clause, getsql don't work, that means
`instance.getSql().execute("SELECT this FROM OtcBusinessNotifyBO where cast(lastUpdateTime as VARCHAR) LIKE '2021-11%' AND publishTime > 1636520754092")` dont work;
(2)aggregate and  Predicate
Then I want to use aggregate to slove i

[2021-11-17 14:36] neilstevenson commented on #19922
Not occuring on `Hazelcast Platform 5.1-SNAPSHOT (20211116 - a06477a)`

[2021-11-17 19:59] #19137 closed

[2021-11-18 07:28] viliam-durina commented on #19418
Why the query in (1) doesn't work? I think it should. However, doing it this way isn't very efficient - if you have index on `LastUpdateTime`, then it can't be used if you cast it to VARCHAR. Instead, you can do this:
[code]

The predicates in the old Predicate API don't support CAST, that's right.

[2021-11-18 07:33] wubumihuo commented on #19418
@viliam-durina  I'm sorry.  （1） I mean sql is "SELECT COUNT(this) FROM OtcBusinessNotifyBO where cast(lastUpdateTime as VARCHAR) LIKE '2021-11%' AND publishTime > 1636520754092"
And hazelcast said FUNCTION COUNT dont exist.
I only need count size of Imap with where clause ,but select this means I hava get all data.

Is there any better function for getsql geting count?

[2021-11-18 07:37] olukas opened #19960 "com.hazelcast.internal.eviction.CacheExpirationBouncingMemberTest.backups_should_be_empty_after_expiration"
_master_ (commit a06477a58c50283582e745beb66d945e8e906a80)

Failed on Oracle JDK 8: https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-OracleJDK8-nightly/871/testReport/com.hazelcast.internal.eviction/CacheExpirationBouncingMemberTest/backups_should_be_empty_after_expiration/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</su

[2021-11-18 07:41] olukas opened #19961 "com.hazelcast.jet.core.SplitBrainTest.when_minorityMasterBecomesMajorityMaster_then_jobKeepsRunning [HZ-1694]"
_master_ (commit a06477a58c50283582e745beb66d945e8e906a80)

Failed on Oracle JDK 8: https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-OracleJDK8-nightly/871/testReport/com.hazelcast.jet.core/SplitBrainTest/when_minorityMasterBecomesMajorityMaster_then_jobKeepsRunning/

It can have the same cause as https://github.com/hazelcast/hazelcast/issues/19868

<details><summary>Stack

[2021-11-18 07:42] olukas commented on #19943
Failed also on ZuluJDK11: https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZuluJDK11/160/testReport/com.hazelcast.jet.sql.impl.connector.kafka/SqlKafkaAggregateTest/test/

[2021-11-18 10:43] viliam-durina commented on #19418
Are you on 4.2? `COUNT` works in 5.0

[2021-11-18 10:58] frant-hartm opened #19962 "Client failover doesn't work and put operation hangs when Compact serialization is used"
**Describe the bug**
When compact serialization is enabled, objects are inserted to a map the failover doesn't work correctly - the operations hang indefinitely.

Enabling compact serialization itself doesn't cause the issue, the object must be serialized using the compact serializer for the operation to hang.

**Expected behavior**
The client should correctly failover.

**To Reproduce**

Steps to

[2021-11-18 12:53] olukas opened #19964 "com.hazelcast.map.impl.mapstore.EntryLoaderDistributedTest.testGetAllLoadsEntriesWithExpiration[inMemoryFormat: BINARY] [HZ-1772]"
_5.0.z_ (commit ce4ba622a7846f34def924fb13c5c3e613680523)

Failed on ZingJDK8: https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-ZingJDK8/15/testReport/com.hazelcast.map.impl.mapstore/EntryLoaderDistributedTest/testGetAllLoadsEntriesWithExpiration_inMemoryFormat__BINARY_/

Stacktrace:
[code]

Standard output (hiccups are really high):
[code]

[2021-11-19 07:12] olukas commented on #19784
It happened again on Sonar build (Oracle JDK 11): https://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/1043/testReport/com.hazelcast.client.executor/ClientExecutorServiceTest/testSubmitFailingCallableException_withExecutionCallback/

[2021-11-19 11:18] frant-hartm opened #19965 "SQL query with LIMIT clause should not log at warn level"
**Describe the bug**
Running SQL query with a limit clause results in a warning log on the member:

[code]

**Expected behavior**
WARN level should be for states which are exceptional. The fact that LIMIT clause is implemented via `ResultLimitReachedException` is a detail and it should be logged at most on debug/trace level

[2021-11-19 17:54] sumnerib opened #19968 "Diagnostics' Operation Profiler Plugin puts latency under wrong bucket."
**Describe the bug**
Notice the following latency distribution for an operation from the diagnostic logs:

[code]

`max(us)=2,459,660` but the highest latency bucket logged is `1048576..2097151us=5`. Checking [LatencyDistribution](https://github.com/hazelcast/hazelcast/blob/fb720d9e7f4b7643c31fdb61e9b83b6ca8ecc552/hazelcast/src/main/java/com/hazelcast/internal/util/LatencyDistribution.java), the e

[2021-11-19 18:31] APIANT commented on #19851
Hi,

We installed MC 5.0.2 on the 16th.  Still have the TTL set to P1D for 1 day retention.

Although the SST files are now correctly being purged after 1 day, we are seeing these LOG files retained:

![image](https://user-images.githubusercontent.com/2120558/142673392-8ef7dad8-96f0-42fd-84ae-6bb857720d60.png)

Shouldn't these also be cleaned up?

[2021-11-20 16:56] zhmaeff commented on #19851
@APIANT no, it's OK to have logs older than TTL.
We rotate them on MC restart or when log file size exceeds 50MB and we keep only 10 last log files.

[2021-11-20 17:41] APIANT commented on #19851
Super, thanks for the help!

[2021-11-20 17:41] #19851 closed

[2021-11-21 07:34] balazskreith opened #19969 "Kubernetes Discovery hangs in embedded java app"
**Describe the bug**
Hazelcast hangs and shuts down when kubernetes discovery plugin is used in an embedded mode.

**Expected behavior**
Hazelcast create the isntance inside of the main application and the execution flow would return there.

**To Reproduce**

Steps to reproduce the behavior:
It occurrs when we start deploying an application using helm installing the chart on AWS EKS.

1. git clone

[2021-11-21 07:59] balazskreith commented on #19969
I have found the issue, the hazelcast port in the k8s service was not opened, so closing it now.

maybe a tiny suggestion is to surface this in the lib with some log message.

[2021-11-21 07:59] #19969 closed

[2021-11-22 15:24] #19897 closed

[2021-11-23 07:17] sancar commented on #19952
I found two problems. One of them is straight forward to solve. Sharing the hard to solve one.

In the ReceiverTasklet there is this following code:

[code]

The Object returned for the Compact is a `DefaultCompactReader`.
It is a wrapper around `BufferObjectDataInput `which will read it lazily.
After reading it, we are sending it to another place to process it.
And we are closing the `BufferObjec

[2021-11-23 07:30] sancar commented on #19952
Thinking more in this code piece on ReceiverTasklet:
[code]

 This `readObject` code is against the client/server architecture where we try to avoid needing the user classes on the server as much as possible.
 If we were to carry `Data` here instead, we would not have this problem. Not sure if this is solvable at this point due to backward compatbility.

[2021-11-23 08:06] viliam-durina commented on #19952
Do we actually need to call `input.close`? It doesn't release any resources, it only assigns `null` to two fields, which apparently cause the NPE. If the deserialized objects have no reference to the data, clearing makes no difference. If they do as in lazy deser, it breaks it.

[2021-11-23 08:10] sancar commented on #19952
@viliam-durina make sense. I also considered making the close of `BufferObjectDataInput` and `MemoryBlockDataInput` no-op directly together with removing close from here. So that when somebody else closes it  somewhere else, we will not have the same problem.

[2021-11-23 09:08] sancar commented on #19952
@ihsandemir @mdumandag @viliam-durina
I proposed two solutions but going with the third one after @viliam-durina 's comment.
Instead of doing making `close` no-op, I am thinking to remove `Closable` interface all together from these two BufferObjectDataInput and MemoryBlockDataInput

Although it is common to have `Closable` on input streams, it does not seem to serve any purpose as of today. And i

[2021-11-23 09:20] Fly-Style opened #19972 "Support sub-queries execution in JOIN arguments [HZ-757]"
E.g. `SELECT * FROM t1 JOIN (select * from t2)`

[2021-11-23 11:52] bugbugmaker opened #19974 "com.hazelcast.ringbuffer.StaleSequenceException: sequence:129821 is too small and data store is disabled. The current headSequence is:129836 tailSequence is:130835"
com.hazelcast.ringbuffer.StaleSequenceException: sequence:129821 is too small and data store is disabled. The current headSequence is:129836 tailSequence is:130835，what‘s the problem?

[2021-11-23 13:02] srknzl opened #19976 "com.hazelcast.logging.Log4jLoggerTest.logEvent_withLogLevelOff_shouldNotLog"
srknzl:fixMemoryLeakGetDistrObject (commit 67c97dc6e6c5a73b6b7a4de25919023b02c547d7)

Failed on Hazelcast PR Builder: [INSERT_LINK_TO_JENKINS_TEST_RESULT_HERE](https://jenkins.hazelcast.com/job/Hazelcast-pr-builder/8339/testReport/junit/com.hazelcast.logging/Log4jLoggerTest/logEvent_withLogLevelOff_shouldNotLog/)

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Stand

[2021-11-24 09:14] alexworkgit opened #19978 "com.hazelcast.cp.exception.NotLeaderException no leader election on 3 nodes"
**Describe the bug**
Hello i am have hazelcast-4.2.1 not enterprise on 3 nodes. I try enable cp-subsystem with raft consensus protocol by changing config to enable cp-subsystem, but recving message N/A Leader in log.

Code of app is simple:
[code]
**Expected behavior**
But have warn on each of 3 nodes "Leader N/A":
[code]
And flooding "inovocation with com.hazelcast.cp.exception.NotLeaderException

[2021-11-24 16:40] vbekiaris opened #19979 "Inconsistency in dynamic configuration"
Since  #10757 introduced dynamic configuration, the goal was to only support dynamically adding data-structure configuration; adding `WanReplicationConfig` was explicitly excluded. In that PR, both [member-](https://github.com/hazelcast/hazelcast/blob/a13b06427c191757e18912c10f785159508a4044/hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java#L860-L862

[2021-11-25 10:44] Danny-Hazelcast commented on #19306
currently using only host names in xml config, this issues is not reproducible.

but mixing host names and public ip addresses in the xml config, provokes this issue

[2021-11-25 13:08] #19952 closed

[2021-11-26 13:50] ivanthescientist opened #19983 "SELECT columnName WHERE __key selects wrong columns with Java mapping"
Following Code:
[code]

Produces:
[code]
Expected:
[code]

User
[code]

Example plan that expectedly **fails**:
[code]

After disabling project trimming (**works**):
[code]

Disabling SelectByKey rules (likely rearranges generated logical plans as well):
[code]

The problem is wrong indexing on projections, some of the generated LogicalProjects have relative indexing (relative to input expressions

[2021-11-29 09:07] fbarotov commented on #19708
@mmedenjak this issue is regarding updating hot-restart (persistence) configuration documentation, so I am changing the `Storage` label to `Core`, please change it back if there is sth else :)

[2021-11-29 09:24] vbekiaris commented on #15722
moving to 5.1 as it might be addressed in the context of #19883 /cc @ufukyilmaz

[2021-11-29 10:05] slavagithub opened #19987 "com.hazelcast.jet.sql_slow.JetSqlSlowIndexTest.com.hazelcast.jet.sql_slow.JetSqlSlowIndexTest"
_5.0.z_ (commit 63251231d6077ba4b1991573fdef8c0a46a7e88b)

Failed on sonar: [test failure report](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-sonar/66/testReport/junit/com.hazelcast.jet.sql_slow/JetSqlSlowIndexTest/com_hazelcast_jet_sql_slow_JetSqlSlowIndexTest/)

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</su

[2021-11-29 10:10] slavagithub commented on #19885
Tests failure is gone for one build - http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-sonar/65/
and came back again with a different reason - http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-5.maintenance-sonar/66/testReport/com.hazelcast.jet.sql_slow/MapIndexScanPMigrationStressTest/stressTest_sorted/

[2021-11-29 10:45] #19983 closed

[2021-11-29 10:45] slavagithub commented on #19943
Also failed on Corretto, JDK8 - http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-CorrettoJDK8/153/testReport/com.hazelcast.jet.sql.impl.connector.kafka/SqlKafkaAggregateTest/test/

[2021-11-29 10:46] vbekiaris commented on #18478
@Danny-Hazelcast I see the latest job execution (http://jenkins.hazelcast.com/view/freeze/job/freeze-x/116) passed. Is this still failing sporadically or maybe the failure was transient (due to 5.0 being in development at that time)?

[2021-11-29 10:47] slavagithub commented on #19976
failed on Corretto, JDK 8 -http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-CorrettoJDK8/153/testReport/com.hazelcast.logging/Log4jLoggerTest/logEvent_withLogLevelOff_shouldNotLog/

[2021-11-29 10:51] slavagithub opened #19988 "com.hazelcast.internal.cluster.impl.BasicClusterStateTest.test_eventsDispatched_whenClusterState_PASSIVE"
_master_ (commit f2583ff36d582805374d8751428f2b66b455b546)

Failed on Imb, JDK 8 : [test failure](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8/158/testReport/junit/com.hazelcast.internal.cluster.impl/BasicClusterStateTest/test_eventsDispatched_whenClusterState_PASSIVE/)

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard outp

[2021-11-29 10:58] slavagithub commented on #19884
The same for IBM JDK 8 fips for tests:
- com.hazelcast.jet.sql_slow.SqlSlowIndexTest.com.hazelcast.jet.sql_slow.SqlSlowIndexTest
- com.hazelcast.jet.sql_slow.SqlOrderBySlowTest.com.hazelcast.jet.sql_slow.SqlOrderBySlowTest
- com.hazelcast.jet.sql_slow.SqlBasicSlowTest.com.hazelcast.jet.sql_slow.SqlBasicSlowTest
- com.hazelcast.jet.sql_slow.SqlBasicClientSlowTest.com.hazelcast.jet.sql_slow.SqlBasic

[2021-11-29 10:59] slavagithub commented on #19898
Fails with different error on master, JDK8 tips - http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-IbmJDK8-fips-nightly/361/testReport/com.hazelcast.jet.sql_slow/MapScanMigrationStressTest/stressTest_sortedIndex/

[2021-11-29 11:05] slavagithub commented on #19943
Also failed on MacOS, Zulu Jdk8 - http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-MacOS-ZuluJDK8/14/testReport/junit/com.hazelcast.jet.sql.impl.connector.kafka/SqlKafkaAggregateTest/test/

[2021-11-29 11:31] slavagithub commented on #19638
The same on Master, Sonar for
- com.hazelcast.jet.sql.SqlUnionTest.com.hazelcast.jet.sql.SqlUnionTest
- com.hazelcast.jet.sql.impl.connector
- com.hazelcast.jet.sql.impl.expression
- com.hazelcast.jet.sql.impl.parse
- com.hazelcast.jet.sql_slow
See http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-sonar/lastCompletedBuild/testReport/

[2021-11-29 11:33] slavagithub commented on #19976
The same for Master, Zing JDK8 - http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-master-ZingJDK8/367/testReport/junit/com.hazelcast.logging/Log4jLoggerTest/logEvent_withLogLevelOff_shouldNotLog/

[2021-11-29 11:39] ahmetmircik commented on #19964
@vbekiaris This issue can be safely moved to next milestone, it is a timing issue and expiry test is sensitive to pauses. In logs, i can see nearly 5seconds accumulated pause and this equals to configured expiry seconds.
Test should be improved.

[2021-11-29 12:57] Danny-Hazelcast commented on #18478
@vbekiaris its is hard to speculate about the root cause of the oome,  the failure was not easy to reproduce on 5.0-snapshot
the hprofs are still available at

occurrence 1
/disk1/workspace/freeze-x/5.0-SNAPSHOT/2021_04_06-08_38_52/hd-idx
occurrence 2
/disk1/workspace/freeze-x/5.0-SNAPSHOT/2021_04_07-09_23_11/hd-idx

i have re run on 5.1-snapshot.  where we got a pass and a fail,  but no OOME or h

[2021-11-29 16:23] kwart commented on #19758
This is most probably the same issue we already saw in some other tests with multicast discovery used (e.g. hazelcast/hazelcast-enterprise#4360). Let's improve logging and define a custom username in the test.

[2021-11-30 06:10] #19849 closed

[2021-11-30 07:58] viliam-durina opened #19993 "A query with `select *` and multiple joins fails in validation"
The following test:
[code]

fails with:
[code]

[2021-11-30 07:59] ldziedziul opened #19994 "Make docker-based tests enabled by default [HZ-744]"
We shouldn't silently skip docker-based tests when docker is not there but rather disable them explicitly within a systemProperty or maven profile. Something along this lines (maybe extract helper method):
[code]

I could imagine we could misconfigure docker on a machine and have a false sense of trust in our tests supposedly running on docker, while they would be silently skipped.

Follow-up ques

[2021-11-30 08:36] frant-hartm commented on #19994
Yes, we don't have docker configured on our AWS Windows machine, Solaris, MacOS

Also, some architectures don't have all images available (afaik `adobe/s3mock` was available only for amd64, not arm), these should be handled individually, but currently we don't run docker tests at all there

I think it's fine, when running on a machine without docker it should clearly say why it's failing (= missin

[2021-11-30 09:05] frant-hartm opened #19996 "Keep error messages containing code snippets up to date"
We have started to add info about how to resolve an issue so the user can just copy-paste this info and it will work.

This is great from usability perspective, but is a maintenance burden when any options are updated (as pointed out by @ldziedziul here https://github.com/hazelcast/hazelcast-enterprise/pull/4410/files#r748038712)

We should come up with a solution which would put all this info mes

[2021-11-30 09:21] volkov opened #19997 "Spring xml config: Allow spring property placeholders in eviction size."
I'm trying to configure different cache size in different environments using spring xml configuration:
[code]
This is not valid because size could be only non negative integer https://github.com/hazelcast/hazelcast/blob/master/hazelcast-spring/src/main/resources/hazelcast-spring-4.2.xsd#L3782

I think changing type to `parameterized-non-negative-integer` would fix this issue.
In #5590 similar prob

[2021-11-30 09:33] frant-hartm commented on #19406
`jet.newJob(p);` doesn't correspond to `AbstractJobProxy.getStatus` in the stack trace.

@Danny-Hazelcast confirmed the test also calls `getStatus` on the returned job instance, resulting in the stack trace.

[2021-11-30 09:42] Danny-Hazelcast commented on #19406
should getStatus() be retried with the new master ?

if not we can close this issue

[2021-11-30 11:58] vbekiaris commented on #18478
I checked the hprof from `/disk1/workspace/freeze-x/5.0-SNAPSHOT/2021_04_07-09_23_11/hd-idx` and the heap is consumed by `__jet.*` system maps (created with `BINARY` in-memory format). I confirmed that `PutRandPerson` filled the system-created `__jet.*` maps with `PersonDataSerializable` objects -> OOME. Later on, `hzCmd` was [updated to filter](https://github.com/hazelcast/hzCmd-bench/commit/5ac5

[2021-11-30 11:58] #18478 closed

[2021-11-30 19:17] kwart commented on #19634
One suspect is the `TextEncoder` class. It's not thread-safe and it's obviously accessed from multiple threads:

**hz.xenodochial_ganguly.IO.thread-out-0**
[code]

**hz.xenodochial_ganguly.ascii.service.response**
[code]

[2021-12-01 08:36] viliam-durina commented on #19406
I'd like to ask if there are any split-brain merges happening in the test? Because the client has information that some member is a master, before the member itself knows it's a master. This could happen during split-brain merge when a member is master and stops being master, but not otherwise. But I'm not very familiar about this process, so maybe there's another scenario.

[2021-12-01 08:39] viliam-durina commented on #19406
It definitely should. We actually retry it, but only for a set of specific reasons. The one in this issue is not among them. Since `getStatus()` is read-only, it's probably safe to retry it for any failure, except for JobNotFoundException or client-not-connected and such. It's not safe to retry `newJob()` for any failure because it's not idempotent, even though we can include the exception in this

[2021-12-01 10:36] #19976 closed

[2021-12-01 11:31] #19724 closed

[2021-12-01 11:47] sertugkaya commented on #19968
https://hazelcast.lightning.force.com/lightning/r/Case/5006e00001ZnDJUAA3/view

[2021-12-01 12:22] frant-hartm opened #20009 "ClientQueryCacheCreateDestroyTest.recreated_queryCache_gets_updates_from_restarted_server"
ClientQueryCacheCreateDestroyTest.recreated_queryCache_gets_updates_from_restarted_server (commit d95525c)

Failed on pr-builder: https://jenkins.hazelcast.com/job/Hazelcast-pr-builder/8419/testReport/junit/com.hazelcast.client.map.impl.querycache/ClientQueryCacheCreateDestroyTest/recreated_queryCache_gets_updates_from_restarted_server/

<details><summary>Stacktrace:</summary>

[code]

</details>

[2021-12-01 13:06] frant-hartm opened #20011 "com.hazelcast.jet.sql.SqlErrorTest.testTimeout"
`frant-hartm:update/avro-1.11.0-5.0.z` (commit d95525c)

Failed on pr-builder: https://jenkins.hazelcast.com/job/Hazelcast-pr-builder/8424/testReport/junit/com.hazelcast.jet.sql/SqlErrorTest/testTimeout/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[code]

</details>

[2021-12-01 14:09] ldziedziul commented on #19997
Spring property placeholders' support will be enhanced in the 5.1 release. See https://github.com/hazelcast/hazelcast/pull/19629

[2021-12-01 14:09] #19997 closed

[2021-12-02 07:56] #19838 closed

[2021-12-02 07:56] #19727 closed

[2021-12-02 08:45] frant-hartm commented on #19113
It seems we have an issue with the design of the cleanup job.

We run clean up when there are more than 1050 results and then schedule another cleanup in 5 seconds.

The cleanup itself takes some time, more jobs are finished in that time, they are not cleaned up immediately but in the next run. So in the next run, there are more jobs to clean up, which takes more time -> more jobs are finished dur

[2021-12-02 15:25] #19993 closed

[2021-12-02 15:26] viliam-durina commented on #19113
Light jobs have nothing to clean up. Nothing is stored in any IMap for a light job.

[2021-12-02 18:24] slavagithub commented on #19872
Related Jira issue is fixed

[2021-12-02 18:24] #19872 closed

[2021-12-03 08:48] dreis2211 opened #20018 "JmxPublisher causes high CPU usage since update to 4.x"
Hi,

**Describe the bug**
we found that one of our applications that uses Hazelcast has a growing CPU usage since we updated it to Spring-Boot 2.5.x and therefore to Hazelcast 4 (specifically 4.1.5 at the moment). The drops in the following screenshot are caused by restarts we are doing to not let the CPU grow indefinitely.
![image](https://user-images.githubusercontent.com/6304496/144572599-bc118

[2021-12-03 08:55] olukas commented on #19868
Failed also in `5.0.1` release test run (Oracle JDK8) - https://jenkins.hazelcast.com/view/Release/job/Hazelcast-5.releaseBranch-nightly/3/testReport/com.hazelcast.jet.core/SplitBrainTest/when_newMemberIsAddedAfterClusterSizeFallsBelowQuorumSize_then_jobRestartDoesNotSucceed/

[2021-12-03 08:56] neilstevenson commented on #19840
On `Hazelcast Platform 5.1-SNAPSHOT (20211202 - c03d61a)` still occurring, every 10 seconds

Master node
[code]

The other node, 2 node cluster, also mentions SnapshotPhase1Operation

[code]

[2021-12-03 08:56] neilstevenson commented on #19840
Also, this only seems to be originating from 1 job of the 4 running in the cluster, `SlackSQLJob`

[2021-12-03 09:23] neilstevenson opened #20019 "hz-cli submit failure: intermittent and rare "Invalid lambda deserialization" [HZ-1173]"
Using `hz-cli` from _hazelcast5.0.zip_, against `Hazelcast Platform 5.1-SNAPSHOT (20211202 - c03d61a) `

Job submission mainly works. 10 attempts, 1 gave:

[code]

[2021-12-03 09:40] evelknievel commented on #17051
We are facing the same problem.
We have a spring boot application with a separate dependency which includes the hazelcast config.
In the IDE it runs fine, as soon as it gets deployed and runned from the jar, we get the exception

`Unsupported protocol in configuration location URL: jar:file:xxxxxx`

To me its quite disturbing this issue is not solved after more than a year.

[2021-12-03 11:35] olukas opened #20021 "com.hazelcast.durableexecutor.DurableRetrieveResultTest.testSingleExecution_WhenMigratedAfterCompletion_WhenOwnerMemberKilled"
_PR builder_ (commit d0529b9cde8c996d0c2faa94a0bcdb145837d8ce)

Failed on Oracle JDK 8: https://jenkins.hazelcast.com/job/Hazelcast-pr-builder/8456/testReport/junit/com.hazelcast.durableexecutor/DurableRetrieveResultTest/testSingleExecution_WhenMigratedAfterCompletion_WhenOwnerMemberKilled/

<details><summary>Stacktrace:</summary>

[code]

</details>

<details><summary>Standard output:</summary>

[2021-12-03 12:08] roshini-revindranathan-db commented on #18214
Hi there. I am using Hazelcast distributed clusters in the Kubernetes pods.
This is my gradle dependency -  implementation 'com.hazelcast:hazelcast:4.2.1
 I am receiving a similar error. Just wondering how you  have resolved this issue?
{"@timestamp":"2021-12-03T11:41:47.269Z","@version":"1","message":"[100.64.30.128]:5701 [xxxxx] [4.2.1] Failure while executing MigrationInfo{uuid=80fb4b42-8f0d-47

[2021-12-03 12:39] olukas commented on #19590
There 2 new CVEs in Netty `4.1.51`:
- CVE-2021-37137 - https://nvd.nist.gov/vuln/detail/CVE-2021-37137 (it's fixed in 4.1.68)
- CVE-2021-37136 - https://nvd.nist.gov/vuln/detail/CVE-2021-37136 (it's fixed in 4.1.68)

[2021-12-03 12:51] olukas opened #20022 "Vulnerabilities in Elasticsearch 6.8.17 used by Jet in HZ"
Elastic 6 connector uses Elasticsearch 6.8.17 which includes following vulnerabilities:
- CVE-2021-22147 - https://nvd.nist.gov/vuln/detail/CVE-2021-22147

[2021-12-03 12:52] vbekiaris commented on #18980
Closing as the new PR #18932 was merged and `TcpIpJoinTest` hasn't failed (see also https://github.com/hazelcast/hazelcast/pull/18932/files#r722164878).