[2020-10-27 17:16] kwart opened #17776 "PartitionMigrationListenerTest.testMigrationListenerCalledOnlyOnceWhenMigrationHappens [HZ-1771]"
The `com.hazelcast.partition.PartitionMigrationListenerTest.testMigrationListenerCalledOnlyOnceWhenMigrationHappens` failed on PR builder (`master` branch):
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2776/

**Stacktrace**
[code]

[2020-10-28 01:35] lprimak commented on #17466
@mmedenjak not sure to be honest, use case is quite uncommon and it appears only on certain network configurations.
There are probably other workarounds that are easier than supporting this in Hazelcast,
as it involves totally changing how instances are identified.

[2020-10-28 07:55] devozerov commented on #15245
Closing this ticket for now. The compatibility problem is already solved for beta - we do not allow the execution of a query on a mixed-version topology. The concrete solution to the compatibility will be worked out when moving the engine out of the beta state. Any suggestions before that are highly speculative and subjected to frequent change. There is no need to keep the outdated ticket open for

[2020-10-28 07:55] #15245 closed

[2020-10-28 14:27] Bhagyesh-Chokhawala opened #17783 "Hazelcast node is getting dead lock situation sometime while synchronizing backup or moving maps on removal of any active node."
**Describe the bug**
Hazelcast node is getting dead lock situation sometime while synchronizing backup or moving maps on removal of any active node from cluster.

Cluster Configuration:

- 3 Node cluster with one replica setting.
Cluster configuration - 3 node cluster with Hazelcast community addition.
Node configuration - 6 (CPU Core) X32(GB memory) boxes running on centOS with Hazelcast 4.0.1 wi

[2020-10-28 15:34] mmedenjak commented on #17709
Seems a workaround has been put in place for now - https://github.com/spring-projects/spring-integration-extensions/commit/b568662cdbd78f6cda084995a2cf0fd7478971ff

[2020-10-28 15:54] mmedenjak commented on #17735
Thank you for the issue, @robinroos . As I think this is a simple implementation, I'll add it to the next patch release. Also, since it's simple, I encourage you to send a PR. We'll be more than happy to review and merge it :)

[2020-10-28 15:57] mmedenjak commented on #10828
@robinroos 4.1 is about to be released any day now so it won't make it into that release. But, since this does not break any compatibility, I've set it to the next patch release. Please, if you feel like you could send us an implementation PR, feel free as that would make it even more likely to get released soon.

[2020-10-28 16:35] mmedenjak commented on #17750
Thank you for the issue report @rruxandra . I see @ahmetmircik already submitted a fix.

[2020-10-28 16:37] mmedenjak commented on #17751
Hi @michele-deluca ! Thank you for the proposal. Added to the backlog so we assess the priority.

[2020-10-28 16:40] mmedenjak commented on #17752
Thank you for the suggestion @v-chernyshev !

@ahmetmircik how complicated do you think this would be to add? Do you foresee any issues or can think of any workarounds?

[2020-10-28 16:50] mmedenjak commented on #17051
For now, we're not planning on adding support but please send us a PR if you can as that would speed up the process of fixing this issue.

[2020-10-28 17:04] mmedenjak commented on #16754
We have a tentative fix but we're not sure if it covers all reasons why this issue appears.

I have a question @ulfjack @palisie - when you ran into the NPE... was your system already removing the connection?

[2020-10-28 19:45] robinroos commented on #10828
My concern was how to eliminate the need for partitionId. I could do the rest.

Sent from my iPhone 9

[2020-10-28 19:58] peterjot commented on #16260
Hi @sancar, thanks for the tips. I added the migration tasks you mentioned and added two events to the protocol: https://github.com/hazelcast/hazelcast-client-protocol/pull/356 and core: https://github.com/hazelcast/hazelcast/pull/17713 Would be great if you could have a look at that

[2020-10-28 20:32] ulfjack commented on #16754
@mmedenjak, I'm not completely sure what you mean. We have logs from the time when the issue occurred. Looking through the logs, there's no nearby cluster membership change in this cluster.

The issue occurred at `2020-10-19 16:51:32.087 CEST`. The most recent members log before that was at `2020-10-19 16:51:25.511 CEST`. I'm seeing some errors like this before the members log:
[code]

In our case

[2020-10-28 20:33] ulfjack commented on #16754
Well, I guess you could say that 7 seconds earlier is 'nearby'.

[2020-10-28 22:46] ulfjack commented on #11839
Anything I can help with to get this fixed?

[2020-10-29 01:30] RoySunnySean007 opened #17784 "OOM Caused by HazelCast"
Dear Hazelcast experts,

Hazelcast version: Hazelcast IMDG v4.0.2.

Recently we have OOM in our production, total heap dump is 3.4G. Root cause is there are too many (80k) HazelCast publish All tasks. From https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java, it will publish tasks every 1 seconds.

```publishFuture = me

[2020-10-29 02:24] mgoldver opened #17785 "Provide iQueue equalContains() implementation that would allow matching messages in the queue using the equals() method implementation"
iQueue provids contains() method that performs comparison on Data objects that are stored in the underlying container.
This implementation does not allow "intelligent" validation if a message with similar characteristics (based on equals() method implementation) is already on the queue.
In fact, BlockingQueue interface that iQueue implements, explicitely specifies:

Returns true if this queue cont

[2020-10-29 06:38] erkangurgen opened #17786 "Change the exception thrown when the CPSubsystem is invoked before CPSubsystem is formed"
If a CPSubsystem operation is invoked before the CPSubsystem is formed, while the CP Subsystem is waiting for other members to join the cluster, com.hazelcast.spi.exception.WrongTargetException is thrown.

A more relevant exception can be thrown.

To reproduce,
1. enable CPSubsystem with 3 members.

[code]
2. Run only one or two members (less then CPMemberCount)
3. Invoke a CPSubsystem operation

[2020-10-29 07:06] mmedenjak commented on #10828
I've provided an example here - https://stackoverflow.com/questions/64029482/expose-entire-imap-over-rest-webflux-without-excessive-heap-utilisation/64100969#64100969

[2020-10-29 07:29] neilstevenson opened #17788 "Serialization performance drop from 3.12.10 to 4.0.3 for collection objects"
Using `java.io.Serializable` and a map `Map<Integer, TreeMap<Integer, Payload>>` performs significantly worse on HZ 4.0.3 (and 4.1-SNAPSHOT) compared to 3.12.10, if the Payload class contains a field `List<Payload>`.

This was originally raised as [Google Groups issue](https://groups.google.com/g/hazelcast/c/8RWkUkWY5C4/m/zEKHbFswAgAJ)

I have a simple JMH reproducer https://github.com/neilstevens

[2020-10-29 20:40] Holmistr opened #17796 "ExecutorService does not propagate exceptions from task"
**Describe the bug**
Having a `Runnable` task that is executed on `ExecutorService`, if there's an exception thrown in the `run` method, the exception is silently swallowed and is not propagated to the client or in the member logs in any way.

**Expected behavior**
At least a log entry in the member log with the exception.

**To Reproduce**
Having this task:
[code]

Executing it using:
[code]

Out

[2020-10-30 07:32] #17773 closed

[2020-10-30 11:51] sancar commented on #17796
@Holmistr They are logged at the finest level.
[code]

[2020-10-30 12:01] Holmistr commented on #17796
@sancar Aaaaah ... I would have never thought of that. What's the reasoning behind this? If something goes wrong within my executor service, I probably want to learn about that.

[2020-10-30 12:21] sancar commented on #17796
Since the exception is already propagated to the callers from most of the API, we leave that to the user. If the user needs to take action upon exception, they can via callbacks or futures. If no action is needed, then the exception log itself probably has no value.
If you think about a cluster with a large number of clients, it makes sense not to pollute server logs with exceptions. It will be ha

[2020-10-31 06:46] lazerion opened #17805 "QueryBounceTest testQueryWithIndexes"
- Fails on `Hazelcast-4.master-IbmJDK8-fips-nightly`
- Fails on [Build #218 (Oct 28, 2020 9:44:24 PM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-IbmJDK8-fips-nightly/218/testReport/junit/com.hazelcast.map/QueryBounceTest/testQueryWithIndexes/)
- Error
[code]
- Stacktrace
[code]
- Hiccups
[code]
- It could be due to lab resources, yet this build was not failing sinc

[2020-11-01 16:55] Holmistr commented on #17796
What do you mean by that? That the client will actually receive the exception on `execute` method? My point is that I don't receive any exception even with this code:

[code]

Task:
[code]

Output:
[code]
[code]

[2020-11-02 07:18] sancar commented on #17796
What I meant is, they can use `submit` instead of `execute` to get the exception on the caller side and act on it. If they are using `execute`, they don't want to act on the response(or exception). It is fire-and-forget op.

One improvement we could do is to add a default callback on the `execute` so that it logs the exception on the caller side(instead of logging exceptions on the server by defau

[2020-11-02 10:57] zpqrtbnk opened #17808 "Transaction timeout does not throw TransactionTimeOutException"
**Describe the bug**
When a transaction timeout occurs, the `TransactionImpl.checkTimeout` method throws a `TransactionException`.

**Expected behavior**
When a transaction timeout occurs, the `TransactionImpl.checkTimeout` method throws a `TransactionTimedOutException`.

**To Reproduce**
Run a transaction example and let a transaction time out, check the thrown exception.

**Additional context**

[2020-11-02 16:55] mmedenjak commented on #16328
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/2854

[2020-11-03 09:47] sertugkaya commented on #17489
as previosuly discussed with Jiri, should be backported to 3.12.z as well

[2020-11-03 09:49] jerrinot commented on #16945
I'm closing this ticket for inactivity of the reporter.

Predicates classes are internal. please use the [`Predicates`](https://github.com/hazelcast/hazelcast/blob/97ff57ba92dc1fbfa77720885e7db40757999080/hazelcast/src/main/java/com/hazelcast/query/Predicates.java#L180) factory to construct predicates.

If you have a use-case where you need to know the attribute then feel-free to reopen this issue

[2020-11-03 09:49] #16945 closed

[2020-11-03 14:36] neilstevenson opened #17821 "Serialization performance oddity for Object list v Object array"
Serialization/Deserialization of `Integer[]` performs worse than `ArrayList<Integer>`. This seems counter-intuitive.

Timings I get,
[code]

`int[]` is fastest obviously. however `ArrayList` is 2nd.

Code to reproduce, tested on 4.1-SNAPSHOT (above results), 4.0.3 and 3.12.10
[code]

[2020-11-04 10:00] vbekiaris commented on #17522
Closing this issue now, @shashanka981 if you have further questions feel free to reach out on [google group](https://groups.google.com/forum/#!forum/hazelcast) or [community slack](https://slack.hazelcast.com/)

[2020-11-04 10:00] #17522 closed

[2020-11-04 14:17] mmedenjak commented on #17785
Hi @mgoldver ! Thank you for the enhancement suggestion. For now, this is [in line with our `IMap` implementation](https://github.com/hazelcast/hazelcast/blob/33eccfad94614ac489055f249382fdb8aba6f86a/hazelcast/src/main/java/com/hazelcast/map/IMap.java#L60-L67) but I do agree there are merits to both approaches.

Wondering, what kind of objects are you storing in the IQueue? From my experience, I'v

[2020-11-05 09:05] jerrinot commented on #17785
There are two things to bear in mind:
- If we add `containsObject()` to `IQueue` then we should also add it too all collections, ie `IList` and `ISet`
- obviously it would require bytecode of the objects to be available on a classpath of all members

I had an idea of introducing a notion of the In-Memory Format into all collections. And then `equals()` would act on a deserailized object when the O

[2020-11-05 09:49] vbekiaris commented on #17784
@RoySunnySean007 Are you using hazelcast client or member in your application that goes out-of-memory?
- if using client, do you frequently create new client-side `HazelcastInstance` s? Do you shut them down when no longer needed?
- if using member, did you notice any network disconnections / reconnections before the OOM? Are there any split brain detection / merge log entries in the logs?

[2020-11-05 12:43] lazerion opened #17829 "hazelcast-sql module `slim-original-jar` failure"
- Fails on `Hazelcast-4.master-Solaris-OracleJDK8`
- Fails on [Build #240 (Nov 4, 2020 7:18:00 PM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-Solaris-OracleJDK8/240/consoleFull)
- Error
[code]
- Looks originating from [this commit](https://github.com/hazelcast/hazelcast/commit/a69b6a93c3bbf0e27be3c0336c7340084f100276)
- kindly check

[2020-11-05 13:20] Sam-Kruglov opened #17830 "Apply hierarchy of configurations "MyCache" > "*Cache" > ("*" or "default")"
**Please describe the problem you are trying to solve**
I want to describe a cache configuration in such a way where I don't have to repeat myself.
I know about the `"default"` reserved name and about the wildcards and it's great. I can set all my 100 properties in the default config and all cache entries can be created at runtime with these properties but if I want to change 1 of those for a spec

[2020-11-05 14:13] #17829 closed

[2020-11-06 07:41] taburet commented on #17788
In 4.0 specialized serializers were introduced for maps and arrays (`AbstractMapStreamSerializer` and `ArrayStreamSerializer`). While (de)serializing data for `Serializable` that leads to the following:

1. In 4.x, for every map or array element a separate Java serialization stream is created. In 3.x, a single stream is created for the entire map or array.

2. In 4.x, every element stream carries

[2020-11-06 09:54] perkins4j2 opened #17833 "Memory Leak"
In prod env,HZ always full gc.

![image](https://user-images.githubusercontent.com/18566995/98352111-91303a80-2058-11eb-9043-381236150df4.png)

hz version:4.0.2

key code
[code]

[2020-11-06 11:02] rmannibucau commented on #7448
Up, any way it is sorted out soon? core is super big now and moreover embeds dependencies it is unlikely to desire - or more exactly you want to control in your app to be able to apply a security policy on it whereas with relocations it is requires a lot of work for no real gain (like jackson to give just one example).

[2020-11-06 17:37] #16260 closed

[2020-11-07 10:48] sancar commented on #12777
I believe the workaround is to use IdentifiedDataSerializable which uses two ints instead of String class-name.

[2020-11-07 10:50] sancar commented on #12770
The workaround is to use other formats like IdentifiedDataSerializable. We can not determine class without getting an explicit configuration from the user. I don't believe this should change, but the user should be directed to more efficient methods.

[2020-11-07 21:12] lprimak opened #17834 "Hazelcast doesn't work correctly on Multi-Homed Hosts - Multiple Test Failures"
**Describe the bug**
On Multi-homed hosts, i.e. mac w/Ethernet and WiFi networks enabled,
there are test failures and Hazelcast isn't working as expected in Payara

**Expected behavior**
Hazelcast should work correctly on hosts with multiple NICs

**To Reproduce**
Run Hazelcast test suite on Multi-homed host

**Additional context**
JDK 8, Mac w/multiple NICs, Hazelcast 4.2-SNAPSHOT checked out fro

[2020-11-09 11:54] ChakraTutika opened #17836 "Mancenter do not show get stats when readBackupData to true"
**Describe the bug**
we are using maps which has mapConfig as follows

config.getMapConfig("mapName")
.setInMemoryFormat(InMemoryFormat.OBJECT)
.setStatisticsEnabled(true)
.setReadBackData(true)

also we have near cache configured
new NearCacheConfig().
setName("cacheName"
.setInvalidateOnChange(true)
.setCacheLocalEntries(false)
.setTimeToLiveSeconds(4*60*60)

With this configuration, when we do

[2020-11-09 11:55] ChakraTutika commented on #17836
We are using hazelcast 4.0.1 and hazelcast mancenter 4.2020.10

[2020-11-09 15:52] #17360 closed

[2020-11-09 21:46] jerrinot opened #17837 "Error when enabling CP subsystem with rolling change"
Hello,

I have 3 members of Hazelcast 4.1 running in a kubernetes cluster. They have this configuration:
[code]
as you can see they have CP subsystem disabled. I want to enable CP the CP so I change the config to
[code]
and restart all cluster members on by one. `$ kubectl rollout restart statefulset hazelcast-release`
This floods logs with various error message such as:
[code]
or
[code]
or
[code]

[2020-11-09 22:00] jerrinot opened #17838 "Consider decreasing CP log level"
I have CP enabled and Hazelcast logs this every 1minute:
[code]

[2020-11-10 03:03] mgoldver commented on #17785
Hi @mmedenjak ! Great question. Our objects are plain pojos - nothing fancy. We had a trivial need to avoid putting a "duplicate" message on the queue if the queue already contains a "similar" message. In our case, similarity was not defined based on the binary equality (for example, each message contains a unique timestamp indicating when the message was created) but rather based on the "equals"

[2020-11-10 08:19] jerrinot commented on #17837
it's probably not related to kuberentes at all. I will try to prepare a simpler reproducer.

[2020-11-10 08:34] olukas opened #17839 "Parsing of hazelcast.xml configuration fails if xerces is on classpath"
If `xerces` is on classpath and no other XML processor is on classpath before it then parsing `hazelcast.xml` fails with following exception and IMDG is not started:
[code]

It's a regression between Hazelcast IMDG 4.0 and 4.1.

How to Reproduce:
- put `xercesImpl-2.12.0.jar` to classpath and try to start Hazelcast IMDG by `start.sh` script

Hazelcast Jet is using the same properties - https://git

[2020-11-10 12:57] kwart commented on #17839
This is a tricky one. Java 7 (u40) introduced JAXP 1.5 and Java 8 contains JAXP 1.6. So the default XML processing implementation in Java just works with the properties we configure.

The problem comes when an old JAXP implementation is added to the classpath (e.g. Xerces, Xalan). The old libraries don't support the properties we use to enable XXE protection and the exception is thrown.

I'll try

[2020-11-10 12:58] lazerion opened #17840 "ManagementCenterServiceTest runScript"
- Fails on `Hazelcast-4.maintenance-ZuluJDK15`
- Fails on [Build #3 (Nov 8, 2020 7:30:42 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-ZuluJDK15/3/testReport/junit/com.hazelcast.client.management/ManagementCenterServiceTest/runScript/)
- Error
[code]
- Stacktrace
[code]
- kindly check

[2020-11-10 13:01] lazerion opened #17841 "ClientRegressionWithRealNetworkTest testOperationsContinueWhenClientDisconnected_reconnectModeOn"
- Fails on `Hazelcast-4.master-ZingJDK8`
- Fails on [Build #234 (Nov 10, 2020 5:18:26 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-ZingJDK8/234/testReport/junit/com.hazelcast.client/ClientRegressionWithRealNetworkTest/testOperationsContinueWhenClientDisconnected_reconnectModeOn/)
- Error
[code]
- Stacktrace
[code]
- Hiccups
[code]
- Kindly check, yet looks due to

[2020-11-10 13:17] lazerion opened #17843 "MulticastDeserializationTest test failure"
- Fails on `Hazelcast-4.maintenance-ZuluJDK15`
- Fails on [Build #3 (Nov 8, 2020 7:30:42 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-ZuluJDK15/3/testReport/junit/com.hazelcast.cluster/MulticastDeserializationTest/test/)
- Error
[code]
- Stacktrace
[code]

- Noticed
[code]
- kindly check

[2020-11-10 14:23] alex-dukhno commented on #17836
Hi @ChakraTutika. This is my Java reproducer to your problem:
[code]
I see Gets in Map statistics and Hits Member NearCache stats
![image](https://user-images.githubusercontent.com/5074607/98682074-26d70d00-236c-11eb-9229-6d49f4713a28.png)

I've asked around the core team about your setup, they suggested to use `ReplicatedMap` instead of `IMap` + nearcache if entire data set fits into each member'

[2020-11-10 15:50] jerrinot opened #17845 "Mark unreachable CP members in a log"
I have a cluster with 3 members and all 3 of them are in a CP group.
This is how topology looks like:
[code]

CP Metadata group prints this:
[code]

When I kill the old LEADER then the cluster service prints the new topology:
[code]
but the Raft group looks like this:
[code]
The old LEADER is still there. I get that we cannot remove it automatically, but it would be good to mark it as UNREACHABLE

[2020-11-11 02:00] felipeek commented on #15979
@tkountis any update on this? We ran into this problem again

[2020-11-11 10:11] neilstevenson commented on #17821
Possibly related https://github.com/hazelcast/hazelcast/issues/17788, although when I tried this, the behaviour was the same (List faster than Array) on 3.12.9 v 4.0 v 4.1

[2020-11-11 16:06] a1dutch opened #17847 "hazelcast 3.12.10 includes shaded version of hazelcast-client-protocol 1.8.0"
The hazelcast 3.12.10 jar includes a shaded version of the hazelcast-client-protocol 1.8.0, see image below

![image](https://user-images.githubusercontent.com/1457117/98834745-79313000-2437-11eb-8bca-f038184e7d27.png)

This is causing dependency check to flag up `CVE-2016-10750` for this dependency.

is this as to be expected?

[2020-11-13 02:29] lprimak opened #17848 "Startup doesn't happen properly when port is occupied by another protocol"
**Describe the bug**
When Hazelcast port is occupied by another service (i.e. VNC) startup doesn't behave properly
This does happen properly when Hazelcast is the one occupying the port, but not another server

**Expected behavior**
Hazelcast should choose another port

**To Reproduce**
- set Hazelcast port to 5900
- use RDP server on the machine (which takes port 5900)

**Additional context**
Thi

[2020-11-13 07:42] viliam-durina opened #17849 "The error message when a topology changes should be more clear"
Currently, when a member leaves, we throw:
[code]
When a partition is migrated (after adding a member), we throw:
[code]
It might not be clear to users why do we throw this exception, they might not realize that a topology change breaks the execution of a query. Even if they do, it might be surprisig: we didn't ask to contact a specific member or partition.

I suggest to prepend the text with more

[2020-11-13 08:07] sancar commented on #15299
Hi everyone,
I see two options here.
One is to use `missing-cp-member-auto-removal-seconds`
This property should be used carefully. When it is set to a too low value, and a node assumed to be crashed appears back it should be removed from the system `manually`. So this value should be long enough to make sure that a member will not appear back.

https://docs.hazelcast.org/docs/4.1/manual/html-sing

[2020-11-13 08:36] cangencer opened #17850 "Too long error message for unknown SQL command"
When you enter a SQL command which isn't defined, a very long error message is shown.
[code]

[2020-11-13 08:38] cangencer opened #17851 "Confusing SQL message when client is disconnected"
When client is not connected to cluster and you try to execute a SQL query - you get this error:

[code]

It would be simpler to just say that client is not currently connected to the cluster. Most people will not understand what a data member is and it's not really relevant here (since you can't just have a cluster of lite members)

[2020-11-13 08:44] cangencer opened #17852 "help command returns strange error"
When you write help, it returns an unexpected error:

[code]

[2020-11-13 08:46] cangencer commented on #17852
Actually this error is returned for any string that's not defined

[2020-11-15 07:04] lazerion opened #17853 "ClientJmxMetricsTest testNoMBeanLeak test failure"
- Fails on **Hazelcast-4.master-ZuluJDK16**
- Fails on [Build #1 (Nov 12, 2020 8:00:00 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-ZuluJDK16/1/testReport/junit/com.hazelcast.client.internal.metrics/ClientJmxMetricsTest/testNoMBeanLeak/)
- Error
[code]
- Stacktrace
[code]
- Kindly check

[2020-11-16 18:02] lprimak commented on #17586
It's been a while, any progress on this issue

[2020-11-16 18:02] lprimak commented on #17260
It's been a while, any progress on this issue

[2020-11-17 14:38] mmedenjak commented on #17783
@Bhagyesh-Chokhawala hi and sorry for the late response.

We do have tests running which have the same scenario - terminate nodes while migration is ongoing and we haven't observed any deadlocks. What do you mean by "deadlock situation"? Are you able to read/write to IMDG structures? How do the nodes specifically deadlock?

Other than that, I have a few observations:
- the thread dump you posted i

[2020-11-17 15:23] mmedenjak commented on #11839
hey @ulfjack , it would help if you could determine why the response is already sent in the first place, meaning determine what sequences of actions cause it to be completed twice. It may be the same reason as here (membership changes) or it may be some other reason if no member was added or removed from the cluster during that time.

[2020-11-17 16:26] mmedenjak commented on #17784
@RoySunnySean007 any updates on this issue?

[2020-11-17 16:42] mmedenjak commented on #17830
Hi @Sam-Kruglov ! Thank you for your suggestion. Yes, it's possible with java configuration. For instance, we can see the in-memory format is inherited here:

[code]

We'll consider adding something like "templates" for XML configuration. Until then, perhaps there is some way how you can generate XML configuration based on templates, before providing the configuration when starting the instance.

[2020-11-17 16:47] mmedenjak commented on #17836
@ChakraTutika any updates on this issue? Have you managed to try out the suggested approach?

[2020-11-17 17:01] mmedenjak commented on #17788
Something to keep in mind - we are somewhat forced to do this as now all (or most?) JDK collections adhere to the rule that each element should be serialized independently. Some might use java serialization, others might use other kinds of serialization strategies (e.g. Portable). Although it's simple from the serialization perspective to apply java serialization to all entries if the collection w

[2020-11-17 17:03] mmedenjak commented on #7448
I'm not aware of any plans in the immediate future. Adding @burakcelebi to raise awareness.

[2020-11-17 17:06] mmedenjak commented on #7448
Also, I think we're talking about two things here:
- first is the size of the client JAR, which I believe needs to be addressed
- second is the relocation (shading) of the dependencies, which was not mentioned up until now. Unlike the first, I don't consider this as an issue. Yes, it poses a problem for security policies but on the other hand not shading the dependencies might cause dependency con

[2020-11-17 17:11] mmedenjak commented on #12777
Agree, probably this issue is low-priority as we might guide new users towards newer serialization formats soon.

[2020-11-17 17:11] mmedenjak commented on #12770
Agree, probably this issue is low-priority as we might guide new users towards newer serialization formats soon.

[2020-11-17 17:19] mmedenjak commented on #17837
As discussed on slack, as a general rule we don't allow changing configuration with rolling restart. In some cases it'll actually work, but none of it has been tested.
The reason is, cluster start is a careful orchestration of processes between members - threads start, structures are sized as configured, no-op instances are set if something is disabled, that kind of thing. And here we assume other

[2020-11-17 17:23] mmedenjak commented on #17840
I guess it's because of https://openjdk.java.net/jeps/372 ?

[2020-11-17 17:28] rmannibucau commented on #7448
@mmedenjak

1. agree + the "server" one as well (not only the client), this is how it is linked to 2
2. dependency hell is quite trivial to fix if you put a light SPI, typical example will be that you can drop jackson in favor of Jsonb kind of SPI (maybe just jsonp) and the impl can be a SPI like which would enable dependency hell to be solved by switching either the impl or just the version/vendo

[2020-11-17 17:53] mmedenjak commented on #7448
We'll consider it but one thing to note is that we also use some libraries (e.g. Apache Calcite) which don't have an SPI and depend on other libraries (e.g. jackson-core, guava, slf4j, ...) directly.

[2020-11-17 18:07] rmannibucau commented on #7448
@mmedenjak yes but if you put calcite behind a hz PSI, you can use jsqlparser as impl for example (this is what HerdDB does for example). So the SPI should be in front of optional and "big" subtree IMHO.

[2020-11-17 18:16] mmedenjak commented on #15979
No change, @felipeek . If you have a "slow" operation (like writing/reading to database), it's best offloaded onto some other thread and not run on the partition thread. We have a diagnostics plugin which can show the latency of some store operations (https://docs.hazelcast.org/docs/latest/manual/html-single/#storelatency) and which can hint at issues like this one.

[2020-11-17 18:19] mmedenjak commented on #17847
@a1dutch thank you for the report. @asimarslan @sancar can you comment on this one?

[2020-11-17 18:22] mmedenjak commented on #17848
Thank you for the report @lprimak . I'll consider this one as an enhancement. The change was probably introduced because we started failing fast to indicate that there might be misconfiguration, as opposed to starting on another port causing potential issues in deployments down the line.

[2020-11-17 18:24] mmedenjak commented on #17851
In fact you can, which is why we have `com.hazelcast.partition.NoDataMemberInClusterException` in the first place, but I guess nobody actually does that.

[2020-11-17 18:26] mmedenjak commented on #17586
@jerrinot have you reached any conclusions regarding this issue?

[2020-11-17 18:26] mmedenjak commented on #17260
@petrpleshachkov have you reached any conclusions regarding this issue?

[2020-11-17 18:33] mmedenjak commented on #7448
We can try it. We don't just use calcite for parsing so I'm not sure how feasible this approach will be.

[2020-11-17 18:37] rmannibucau commented on #7448
@mmedenjak yes it is not trivial but from what I saw in HerdDB, hooking itself in calcite is often as much work as doing the full impl yourself. Only real benefit are coming from optimizations related to joins and nullable but hz has the model for that so should be able to do it. Also note that for this particular issue, having calcite as an external module only is fine while the main/default bund

[2020-11-18 15:26] kwart commented on #17136
I see the point in trying another port number, but we retry the same port too

[code]

Then this part of the output is suspicious:
[code]

[2020-11-18 23:17] lprimak opened #17856 "Connection Refused messages when a node shuts down (sporadic)"
**Describe the bug**
Sporadically, when nodes shut down, Hazelcast outputs Connection Refused info messages, which
do not really make sense because the node has shut down.
This causes confusion, and probably is a symptom of other issues with node shutdown / migration mechanism

**Expected behavior**
No "connection refused" messages are in the log

**To Reproduce**

Steps to reproduce the behavior:

[2020-11-19 08:17] jerrinot commented on #17586
indeed I can reproduce the behaviour when the join delay is set to 0.
We should fix it, a member should do at least 1 attempt to contact an existing cluster before forming its own cluster.

[2020-11-19 12:36] Prashantha-AV commented on #17836
HI @mmedenjak / @alex-dukhno ,
The reproducer program provided by alex works fine, which updates the Gets Statistics in mancenter UI.

But we are facing challenge in non concurrent mode, when run program without delay, GETS are not updating in Statistics

Please find the sample reproducer.

public class MapConfigTests {
    private static final ScheduledExecutorService EXECUTOR = Executors.newSche

[2020-11-19 12:57] hasancelik opened #17858 "Vulnerability in guava dependency at SQL module"
Our docker vulnerability scan builds are failing due to below error:
[code]
It seems [this version of guava](https://github.com/hazelcast/hazelcast/blob/master/hazelcast-sql/pom.xml#L40
) is used by the SQL module. Actually,  CVE-2018-10237 should be fixed with 24.1.1 version somehow our build does not accept it.

dependabot has already created PR for it --> https://github.com/hazelcast/hazelcast/

[2020-11-19 14:17] ilkerkorkut opened #17859 "Missing `user-code-deployment-permission` definition on 3.11 XSD"
Missing `user-code-deployment-permission` definition under the `client-permissions` on [3.11 XSD](http://www.hazelcast.com/schema/config/hazelcast-config-3.11.xsd)

`user-code-deployment-permission` definition should be added.

[2020-11-19 16:07] viliam-durina opened #17860 "Split VARCHAR literals fail"
The SQL standard allows to specify VARCHAR literals in the following form:
[code]

The `'foo' 'bar'` is equivalent to `'foobar'`, it's used to continue a string literal on a next line. IMDG fails with:
[code]

Oracle, SQL Server and DB2 all reject this syntax. Only MySQL/MariaDB fully support it. PostgreSQL supports it when there's at least one newline between the two parts.

The issue can be repr

[2020-11-20 08:36] neilstevenson opened #17862 "hazelcast-sql-4.1.1-SNAPSHOT clash with Slf4j bindings"
See https://github.com/hazelcast/hazelcast-jet/issues/2687. Appears in `hazelcast-jet-sql` but probably a `hazelcast-sql` issue.

When using the new SQL, complaints about multiple loggers

[code]

[2020-11-20 08:43] neilstevenson opened #17863 "hazelcast-sql-4.1.1-SNAPSHOT missing dependency"
Using `hazelcast-sql-4.1.1-SNAPSHOT` (hazelcast-sql-4.1.1-20201106.130301-8.jar)
has a dependency on json-path:2.4.0
which gives the below

[code]

However, the 4.1.1-SNAPSHOT build from snapshot repository is from 6th Nov, so not up to date potentially

[2020-11-20 08:58] neilstevenson commented on #17863
I get the same when I build from source. Snapshot repo being stale isn't ideal, but might not be the problem

[2020-11-20 09:39] neilstevenson commented on #17863
Adding `net.minidev:json-smart:jar:2.3` to shading might be enough

[2020-11-20 10:53] sertugkaya commented on #17836
Hi;

- Your reproducer starts a single instance but you mentioned two. Can you confirm the size of the cluster?
- Are you also starting a client which has a near cache defined?

Please note that if you are performing read from a backup, you should take into account that your hits to the keys in the backups are not reflected as hits to the original keys on the primary members. Same goes for the nea

[2020-11-20 12:55] bokken opened #17867 "Wrong ClassLoader for IMap.executeOnKeys after moving from 3.12 to 4.1"
**Describe the bug**
We have hazelcast deployed in a war in tomcat. After updating from 3.12 to 4.1, we occasionally find that calls to IMap.executeOnKeys will fail with a serialization error caused by `java.lang.ClassNotFoundException`.
We were not explicitly setting the classloader in the Config before creating the Hazelcast instance.
This does not happen on every war deployment, indicating ther

[2020-11-20 17:20] neilstevenson opened #17872 "Enhancement to hazelcast-sql-4.1"
It would be useful if `SqlResult` has methods to determine the execution time, the query engine (IMDG, Jet)

[2020-11-21 07:33] lazerion commented on #16328
- Similar failure on [Build #102 (Nov 19, 2020 2:15:00 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-OracleJDK8/102/testReport/junit/com.hazelcast.client.map.impl.querycache/ClientQueryCacheRecreationTest/query_cache_recreates_itself_after_server_restart/)
- `Hazelcast-4.maintenance-OracleJDK8`

[2020-11-21 18:43] jerrinot opened #17873 "hazelcast-all 4.1 declares compile-time dependencies"
See: https://mvnrepository.com/artifact/com.hazelcast/hazelcast-all/4.1

![image](https://user-images.githubusercontent.com/158619/99884897-a64cc200-2c31-11eb-8c56-181754082a91.png)

That's quite serious, a lot of projects use the hazelcast-all artifact.

[2020-11-22 16:34] pivovarit opened #17874 "Config parsers should not discard existing configuration"
Configuration parsers accept external config objects(`MemberDomConfigProcessor(boolean domLevel3, Config config) { ... }
`) but discard some of their insides and overwrite them with Java objects defaults which lead to issues like:
- https://github.com/hazelcast/hazelcast/issues/17681
- https://github.com/hazelcast/hazelcast/issues/17675

To avoid this kind of issue, config objects should initializ

[2020-11-23 06:41] devozerov commented on #17858
https://github.com/hazelcast/hazelcast/pull/17743 should already fix that. I checked the `sql` module - it appears to work fine with the `30.0` version. Approved the PR.

[2020-11-23 07:01] #17858 closed

[2020-11-23 10:07] #17839 closed

[2020-11-23 11:49] Mahoney commented on #15498
I'm fairly sure we're seeing this in the wild with hazelcast 3.12.9. 4.1 has been released, but this is still open - I take it upgrading won't fix it?

[2020-11-23 13:26] hasancelik opened #17879 "Cleanup of Rack and Host metadata from Zone Aware group"
`HOST` and `RACK` informations at `ZoneAwareMemberGroupFactory` class are not used by any discovery plugin actively. Currently, only JClouds plugin uses `HOST` metadata but this plugins is already deprecated:
https://github.com/hazelcast/hazelcast-jclouds/blob/master/src/main/java/com/hazelcast/jclouds/JCloudsDiscoveryStrategy.java#L40

Azure plugin had used HOST before but it was removed via belo

[2020-11-23 14:26] shashanka981 opened #17880 "Understanding Hazelcast prometheus metrics"
We are considering to have datadog monitoring in place for hazelcast exposed prometheus metrics. Due to lack of clear and reliable documentation, i had to reach out to understand in detail about these metrics ?

can you elaborate on these metrics:

a) When would active connection count and connection count differ ? Is it when a connection goes stale for reason when a member abruptly leaves the clu

[2020-11-23 14:50] vbekiaris commented on #17784
In a conversation on community slack, @RoySunnySean007 mentioned they see split brain merge messages in the member logs.

It seems that lambda instances are queued (as expected) in `PublishAllTask#run` ([here](https://github.com/hazelcast/hazelcast/blob/296aac5c8a3a4970851afc55c9e91622db75c131/hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java#L434) and [here](https:/

[2020-11-23 16:07] viliam-durina opened #17882 "IMap.localKeySet() with a PartitionPredicate executes on the full key set"
The following test fails on the last assert. The zero-argument `localKeySet()` returns 0, but `localKeySet(Predicate)` returns a key from the other member.

[code]
The culprit is here, it replaces the `target`: https://github.com/hazelcast/hazelcast/blob/45e6ce5cdc59a636d630291a17bfe96f29c9d80d/hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java#L1361

[2020-11-23 18:15] neilstevenson opened #17883 "Enhancement: hazelcast-sql-4.1.1-SNAPSHOT, cache/preload meta-data"
If I do
[code]
I get
[code]

It would be useful if a query against an empty map returned a SqlResult.
There may be instances where maps are temporarily empty, cleared or contents expired, but the query won't know this.

Caching the schema beyond the life of the map (including hot restart) would be useful, as would being able to pre-load the schema.

[2020-11-23 23:02] blazember commented on #16206
Copied from https://github.com/hazelcast/hazelcast/issues/17853

- Fails on **Hazelcast-4.master-ZuluJDK16**
- Fails on [Build #1 (Nov 12, 2020 8:00:00 AM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-ZuluJDK16/1/testReport/junit/com.hazelcast.client.internal.metrics/ClientJmxMetricsTest/testNoMBeanLeak/)
- Error
[code]
- Stacktrace
[code]
- Kindly check

[2020-11-23 23:03] blazember commented on #17853
Closing as rather reopened https://github.com/hazelcast/hazelcast/issues/16206 to keep the history of the test failure under the same issue.

[2020-11-23 23:03] #17853 closed

[2020-11-24 06:19] #17675 closed

[2020-11-24 07:24] #17681 closed

[2020-11-24 08:55] neilstevenson opened #17884 "Enhancement, make client version visible"
The client version is visible in C++, see https://github.com/hazelcast/hazelcast-cpp-client/issues/612

This should be available for Java via the API.

[2020-11-24 10:54] jtorkkel opened #17887 "First client map set often takes 5s after connect resulting connect/reconnect loop"
**Background**
We use Hazelcast 4.01 in client/server mode in docker environment. We have fixed number of members in cluster, and use fixed DNS names between members.
Client is in smart routing mode and use list of DNS addresses to connect to cluster.

We have noticed two issues
1. When cluster member IP-address change the client connect keep failing forever because it seems to use old member IP-a

[2020-11-24 14:20] Tobbe129 commented on #14494
Yes please!

[2020-11-24 15:07] kwart commented on #17873
The problematic piece is `hazelcast-sql` dependency in `hazelcast-all/pom.xml`.  When I comment it out, then the generated `dependency-reduced-pom.xml` is generated correctly without the dependencies.

[2020-11-25 07:35] olukas opened #17894 "Loggers cannot be deregistered from LoggingServiceImpl and LoggerFactorySupport"
`ILogger` in `ConcurrentMap<String, ILogger>` of following class cannot be deregistered:
- in `LoggingServiceImpl` (https://github.com/hazelcast/hazelcast/blob/6c71ca36332f08c15935bbf1af4f1b2f73c10cac/hazelcast/src/main/java/com/hazelcast/logging/impl/LoggingServiceImpl.java#L46)
- in `LoggerFactorySupport` (https://github.com/hazelcast/hazelcast/blob/6c71ca36332f08c15935bbf1af4f1b2f73c10cac/hazel

[2020-11-25 12:38] lazerion opened #17896 "QueueSplitBrainProtectionReadTest element_splitBrainProtection[splitBrainProtectionType:READ]"
- Fails on `Hazelcast-4.master-sonar`
- Fails on [Build #698 (Nov 24, 2020 9:17:00 PM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-sonar/698/testReport/junit/com.hazelcast.splitbrainprotection.queue/QueueSplitBrainProtectionReadTest/element_splitBrainProtection_splitBrainProtectionType_READ_/)
- Error
[code]
- Stacktrace
[code]
- Hiccups
[code]
- kindly check, not r

[2020-11-25 23:33] SheuShec commented on #10576
Any update on this front @leszko ?

[2020-11-26 09:36] puzpuzpuz commented on #9398
This issue seems to be the reason behind the following node.js client test failure: https://github.com/hazelcast/hazelcast-nodejs-client/issues/616

@mmedenjak are there any plans to fix it in the nearest future?

[2020-11-26 09:39] leszko commented on #10576
`TcpIpJoinerOverAWS` is removed and the security token is not printed anywhere. Closing the issue. Please reopen if needed.

[2020-11-26 09:39] #10576 closed

[2020-11-26 09:40] mmedenjak commented on #9398
No plans that I'm aware of. It's not a common issue so I believe the priority is low.

[2020-11-26 09:41] puzpuzpuz commented on #9398
The corresponding node.js client test does nothing special and I can reproduce this issue in ~1 runs our of 10. So, I wouldn't call it "not a common issue".

[2020-11-26 09:45] mmedenjak commented on #9398
I believe something like a dropped backup will eventually be fixed by the anti-entropy mechanism. Plus, this is the first time someone mentioned this issue since 2016. So I'd still consider it as low priority.

[2020-11-26 11:06] puzpuzpuz commented on #9398
Then this issue will have to wait for a user who either sets `hazelcast.client.operation.fail.on.indeterminate.state` to `true` or set finest logging level.

As for the flaky test, I'll put a band-aid there to mitigate the issue.

[2020-11-26 17:30] #17873 closed

[2020-11-28 23:04] shahr opened #17900 "Cannot use JCache with existing Hazelcast instance using programmatic configuration when using non default ports"
**Describe the bug**
Cannot use JCache with existing Hazelcast instance using programmatic configuration when using non default ports.

**Expected behavior**
According to the [documentation](https://docs.hazelcast.org/docs/latest/manual/html-single/#reusing-an-existing-named-hazelcastinstance), providing the instance name should allow configure the CacheManager correctly to pick up the existing Ha

[2020-11-29 02:05] lprimak opened #17901 "Metric descriptor limit of 255 is too small"
**Describe the bug**
While testing, I ran across the below Hazelcast log.
My object name, while long, is only 134 characters long, not 255, well within the limit.
[code]

What Hazelcast seems to be doing is concatenating names of CP subsystem variables with `@` in between, i.e.
`MyAtomicLong` becomes `MyAtomicLong@MyAtomicLong` for metrics' purposes.
As a result of this, long names are more than d

[2020-11-29 17:53] lprimak opened #17902 "[test-failure] ClientRegressionWithMockNetworkTest.testClientConnectionEvents fails sporadically"
**Describe the bug**
While trying to run the test suite, the above test fails sporradically

**Expected behavior**
test pass

**To Reproduce**
Run the test suite with high parallelism

**Additional context**
Environment: Mac
I have changed root pom.xml to increase test parallelism as so:
[code]

[code]
[code]

[2020-11-30 08:54] leszko opened #17904 "Cluster Connect Timeout not big enough for Kubernetes"
Described in TDD: https://hazelcast.atlassian.net/wiki/spaces/PM/pages/2849079475/Hazelcast+Clients+in+Kubernetes+TDD

The test includes a hostname resolution change which is 20~30 seconds in most of the jdk's. Since the client shutdown after 20 seconds(default cluster connect timeout), the client shuts down before realizing the hostname ip resolution change.

We can increase the default timeout s

[2020-11-30 11:05] vbekiaris commented on #17900
@shahr thanks for the excellent issue report. There are a few different issues at play which result in the behaviour you observe. The short summary is that the code above works as designed but documentation needs to be updated to reflect some subtle changes in Hazelcast 4.0. Read on for the full details:

1. Since Hazelcast 4.0, the client artifact (`hazelcast-client.jar`) was merged into a single

[2020-11-30 11:05] #17900 closed

[2020-11-30 11:09] vbekiaris commented on #17900
Created https://github.com/hazelcast/hazelcast-reference-manual/issues/903 to track documentation updates.

[2020-11-30 15:01] shahr commented on #17900
@vbekiaris Thank you very much for the detailed response and examples. This makes perfect sense and I was able to get things working.

[2020-11-30 16:27] samekim commented on #12874
is this resolved?

[2020-12-01 07:32] emre-aydin commented on #17840
Fixed via #17857

[2020-12-01 07:32] #17840 closed

[2020-12-01 10:38] #17062 closed

[2020-12-01 12:15] sancar commented on #17902
Hi @lprimak, I could not reproduce the problem. Can you share the logs when it is failed?

[2020-12-01 12:29] sancar commented on #17887
Hi @jtorkkel , The first issue is fixed and will be released in 4.1.1. Fix -> https://github.com/hazelcast/hazelcast/pull/17911

Can you be more specific about this sentence? What do you mean by reloading the config?
Do you reopen a client with `HazelcastClient.newHazelcastClient()`  ?

Is the cluster in the same LAN, if yes 5s is too long for that? Or are you connecting to a remote cluster over t

[2020-12-01 13:15] jtorkkel commented on #17887
Q: Do you reopen a client with HazelcastClient.newHazelcastClient() ?
A: Yes.

Q: Is the cluster in the same LAN, if yes 5s is too long for that? Or are you connecting to a remote cluster over the internet?
A: 3 members are in same cluster, 3 in other DC but connected with fiber, in separate partition group. During normal operation DC delay <<1ms, naturally there might be random longer response ti

[2020-12-01 13:21] mdumandag commented on #17887
Can this be related to this issue? https://github.com/hazelcast/hazelcast/issues/9398

The 5-second delay might come from the `hazelcast.client.operation.backup.timeout.millis` property, in case of missing backups for set operations

[2020-12-01 16:14] lprimak commented on #17902
Unfortunately what you see is everything I got. I can reproduce it roughly one out of 20 test run times so it's not easy  to reproduce. I am running on a Mac also and that has tests failing that don't fail on Linux usually also, (#17834)
so running if on a Mac is probably what's required.

[2020-12-01 22:17] jtorkkel commented on #17887
Could be, behaves similar way.
However there are no errors on cluster logs. Typically 2 instance works and 2 has 5s SET delay. The failing instance use two different map, both has 5s delay. At the same few other service which use different map name works without any problems. This hints that issue is either map specific or actually client specific. Restarting or reconnecting the client fix the iss

[2020-12-02 07:17] sancar commented on #17887
About `CLIENT_CONNECTED` of the client. I see that you are starting in the `async` mode.
`.setAsyncStart(true)`
You need to attach your listener before the client starts so that you can deterministically catch the event always.
Since it is absent from the config, I assume that you are configuring that after you open the client. More specifically,
`HazelcastClient.newHazelcastClient()`

You can reg

[2020-12-02 09:57] sancar commented on #17902
I am also using a Mac. I will try to do more runs today.
Are you running the whole test suite, single class, or single method multiple times?
It may help me to reproduce it.

[2020-12-02 10:30] jerrinot opened #17919 "SQL Query fails to execute a query when it does not have any entry locally"
When executing a SQL query then we are sampling IMap to infer a schema. This strategy fails when IMap has entries, but none of them is stored on a member creating a plan (and hence sampling the IMap)

This means this test is failing:
[code]
The test has a backup disabled so only a single member will contain the inserted entry. Clients execute SQL on a random member. When it selects the member with

[2020-12-02 10:35] jerrinot commented on #17919
related issue: https://github.com/hazelcast/hazelcast/issues/17883

[2020-12-02 11:15] sancar commented on #17902
I have reproduced the probem.
[code]

The behavior difference caused by our recent change here https://github.com/hazelcast/hazelcast/pull/17239
The behavior is expected now but we need to change the test to accommodate that. We have backported that issue so this test failure needs to be fixed in the maintenance as well.

[2020-12-02 11:29] Holmistr commented on #17919
Just making sure @devozerov knows about it and also putting myself as a watcher.

[2020-12-02 19:34] lprimak commented on #10875
@mmedenjak this should be moved to milestone 4.2 since tenant control is slated to go into 4.2, thanks

[2020-12-02 20:24] jerrinot commented on #14875
related Payara issue: https://github.com/payara/Payara/issues/5026

[2020-12-03 11:52] #17902 closed

[2020-12-03 14:54] sumnerib opened #17930 "Map 'hits' metric goes down upon entry expiration"
**Describe the bug**
If map entries expire (due to `time-to-live` setting for example), then those entries' hits will no longer be counted in the total hits for the Map. This can lead to the hit count fluctuating over time.

**Expected behavior**
The Map hits count increases monotonically (similar to `getCount`).

**To Reproduce**

Steps to reproduce the behavior:
1. Start a cluster with a map con

[2020-12-03 16:11] jtorkkel commented on #17887
We set up the listener immediately after the config, but will make the propose change to set it as part of the config.

We have seen the issue only in production when we had 10s timeout, with 2s or 4s timeout cannot be seen as we disconnect before 5s timeout.

Seems that our reconnect logic is broken during cluster member restart / long network delays while high load. High enough load cause that t

[2020-12-04 09:32] vbekiaris opened #17932 "Binary packages pick hazelcast.xml from launch cwd instead of bin/hazelcast.xml"
Binary zip/tar.gz distributions do not always pick up `hazelcast.xml` config from `bin` directory. Instead they only look for `hazelcast.xml` in cwd.
Expected: `bin/start.sh` should consistently use same configuration file, regardless of the launch directory.

Reproducer:
Download and uncompress a binary distribution package from hazelcast.org eg `hazelcast-4.1.tar.gz`

[code]

[2020-12-04 13:33] viliam-durina opened #17936 "SqlResult.close() method isn't thread-safe"
The `SqlResult` interface doesn't declare any thread-safety rules. It's obvious that the returned Iterator is not thread-safe, it's also OK that the `iterator()` method itself isn't.

We should declare that `close()` can be called from another thread. This is necessary for Jet because it's common that the iterator's `hasNext` method blocks for a long periods of time. In the future with blocking op

[2020-12-05 20:26] aster-phoenix commented on #17848
I encountered this while using payara server, we use VNC which uses port 5900

[2020-12-06 06:58] danblack opened #17939 "Entry TTL does not work in a multi member cluster (hazelcast 4.1)"
Entries does not expire as expected when a cluster has more than one member.

I've created a simple test application -> https://github.com/danblack/test-hz
I started Application#main at the first time and all entries (with keys: Customer-1, Customer-2, Customer-3) with TTL (5 seconds) expired as expected.
Then I started the same Application#main in a parallel console and the only one entry expired

[2020-12-07 06:32] sancar commented on #17887
Hi @jtorkkel, The issue seems to be specific to your setup. I would like to close the issue for now. When you have applied the fixes with 4.1.1 if you have problems feel free to open a new issue.

[2020-12-07 06:32] #17887 closed

[2020-12-07 11:35] jtorkkel commented on #17887
Hi,

We can now repro this 100% simply by restaring one Hazelcast cluster member in docker which result IP-address change, but no change in member name. Cluster will detect the member is lost, then start migration from 6-->5 members, after migration new member if detected and new migration performed 5->6.

Based on logs clients are not reconnected during neither of the migration.

We also set
[cod

[2020-12-07 12:29] jtorkkel opened #17942 "Set to specific updated partition members set takes up to hazelcast.client.operation.backup.timeout.millis (5000ms by default)"
**Description:**
In our setup we have 6 Hazelcast cluster members running in docker in two datacenter connected by fiber.
Hazelcast cluster have their own private docker network, services using Hazelcast client connect to this network and are accessible outside docker network too.

When one Hazelcast member is restarted the service is shutdown and new instance is restarted with different IP-addres

[2020-12-07 15:42] mgoldver opened #17944 "Allow access to EntryView properties in query predicates"
Need to define a query to get map entries based on the information available in EntryView. For example, get keys or values or entries modified after a specific time. Or, find entries that expire in less than an hour.
Currently, the only way of doing it (to my knowledge) is to add a timestamps to each object and evaluate it.

The ask: Extend query API to allow EntryView properties to be evaluated a

[2020-12-09 09:19] neilstevenson opened #17950 "Enhancement: log stale discovery plugin"
It would be useful if IMDG could issue a warning when using a plugin which is known to be stale -- meaning, the plugin version is lower than the known latest version of the plugin at the time of IMDG build.

For example, I was using `com.hazelcast.jet:hazelcast-jet-enterprise:jar:4.4-SNAPSHOT:compile` with `com.hazelcast:hazelcast-kubernetes:jar:2.0.2:compile`. I should have been using `com.hazelc

[2020-12-09 10:29] ttux opened #17951 "hazelcast WebFilter hazelcast.sessionId cookie not secure and not http only"
The com.hazelcast.web.WebFilter is not working as expected. I am using hazelcast with spring-boot. With the following bean:

[code]

The hazelcast.sessionId cookie is not set with secure=true and http-only=true. This is with spring-boot 2.1.17, hazelcast 3.11.7, tomcat 9.0.39.

I have those spring properties set:
[code]

The JSESSIONID cookie is secure and http-only.

[2020-12-09 11:02] bbuyukormeci opened #17952 "NearCache eviction config differs when a client is recreated with the same ClientFailoverConfig"
In version 4.0.2, when a client is recreated with the same ClientFailoverConfig after creating a map that has default nearCache eviction configuration the following exception is seen;

[code]

https://github.com/hazelcast/hazelcast/blob/v4.0.2/hazelcast/src/main/java/com/hazelcast/config/NearCacheConfigAccessor.java

**To Reproduce**

Steps to reproduce the behavior:
1. Create a client with Hazelc

[2020-12-09 13:08] sancar opened #17954 "Allow overriding default serializers with a property"
We have added default serializers to the 4.2 series here:
https://github.com/hazelcast/hazelcast/pull/17934

There is a problem with backward compatibility. If a user had CustomSerializer for optional in 4.1, in 4.2 there is no way to use their serializers, and Hazelcast will throw `java.lang.IllegalArgumentException: [class java.util.Optional] serializer cannot be overridden`

Users can basically

[2020-12-09 14:09] lazerion opened #17955 "GenericRecord nested entity Predicate fails for GB18030 compliance"
- **Reproducer Case**
[code]
- **genericRecord** function
[code]
- You can replace `generate()` with some random Chinese chars.
- Below predicate for nested entity fails to return expected count of `42`
[code]
- kindly check

[2020-12-09 14:59] mincel opened #17956 "Hazelcast fails to load extractor on Quarkus when running in :dev mode"
**Describe the bug**
We have an application with Hazelcast running embedded. We are migrating the application to Quarkus. When running the application on normal mode as a docker image everything works as expected and Hazelcast loads the configuration properly.

However when running the application in development mode it fails to load extractor class

The application runs on Java 11, Quarkus 1.10.3

[2020-12-09 15:48] geraldo-netto opened #17957 "Hazelcast throwing Unable to register OperatingSystemMXBean method getMaxFileDescriptorCount used for probe os.maxFileDescriptorCount"
**Describe the bug**
Dear Friends,

I'm using Hazelcast 3.11 on windows 10 professional 64 bits, 64 GB of ram with OpenJDK (AdoptOpenJDK 1.8.0_265-b01, mixed mode) and while my application starts with the embedded Hazelcast correctly and Hazelcast works like a charm, I see the following exceptions during the startup:

[code]

[code]

This is my hazelcast.xml:
[code]

**Expected behavior**
It seems

[2020-12-10 03:46] #17882 closed

[2020-12-10 05:43] FrankSpitulski opened #17959 "getMap hangs using nearcache and common pool"
**Describe the bug**
The `HazelCastInstance.getMap()` function hangs when called in parallel during first use of a given map name if near cache is enabled.

**Expected behavior**
I expect that the default hazelcast spring cache manager can be invoked in parallel.

**To Reproduce**

See this unit test https://github.com/FrankSpitulski/rest-api-example/blob/hazelcast/src/test/java/org/example/hazelc

[2020-12-11 06:36] #10875 closed

[2020-12-11 07:57] ahmetmircik commented on #17959
@FrankSpitulski Thanks for the report. Managed to reproduce the issue, seems all fork-join-pool threads are in waiting state. Except one thread, all are waiting end of map creation, that 1 remaining thread is waiting while trying to create map. When i played with system property `java.util.concurrent.ForkJoinPool.common.parallelism` and set it to 1 your reproducer ended successfully. I have a fix

[2020-12-12 21:04] vedantbharti commented on #17950
Hi, I would like to work on this issue. Since I am new to this, can you guide me through this.

[2020-12-14 18:17] neilstevenson opened #17970 "Reserved word handling in new SQL"
This query
[code]
gives this error,
[code]
because although `current` is a field in the POJO, it's a reserved word in Calcite

Can we identify when POJOs have reserved words as field names, and log a warning, as it's only going to cause trouble.

[2020-12-14 19:46] geraldo-netto commented on #10872
Dear Friends,

May I ask your help?
Is it possible to set mapConfig values like TTL and backup-count when a Hazelcast client is started from a ClientConfig?

This is my sample code
[code]

Thank You Very Much,
Geraldo Netto

[2020-12-15 08:42] pveentjer opened #17974 "AssertionError metric was rendered twice"
When starting Hazelcast Enterprise 4.1.1-SNAPSHOT member, I go the following in the logs

![image](https://user-images.githubusercontent.com/105243/102191466-20373a80-3ec2-11eb-8784-4f4eb923e5d8.png)

[2020-12-15 09:11] CobraStarLE opened #17975 "Some questions about FlakeIdGenerator"
hello,

Will the FlakeIdGenerator duplicate the generated Id due to clock redirection?

thanks.

[2020-12-16 08:40] manish-in-java opened #17979 "Cannot start Hazelcast 4.1 on Windows 10"
## Describe the bug

On Windows 10 Professional 64-bit version 20H2 build 19042.685.

Have 64-bit OpenJDK 11.0.2 from AdoptOpenJDK installed.

1. Downloaded the Hazelcast 4.1 ZIP file bundle from https://download.hazelcast.com/download.jsp?version=hazelcast-4.1&p=
2. Unzipped the bundle
3. Added `set JAVA_OPTS=-Djava.net.preferIPv4Stack=true` at the top of the file `start.bat`, since without this

[2020-12-16 08:43] coolbeevip opened #17980 "et Leader Member API?"
**Please describe the problem you are trying to solve**
...

**Please describe the desired behavior**
...

**Describe alternatives you've considered**
...

[2020-12-16 08:48] coolbeevip opened #17981 "Get Leader CPMember API ?"
I can use the following API to get CPMember of CPSystem. How to get a leader member?

[code]

[2020-12-16 08:48] #17980 closed

[2020-12-19 16:52] samekim opened #17986 "how can I escape ser/des?"
**Describe the bug**
[code]
I've turned on 'cache-deserialized-values', 'near-cache.in-memory-format: Object' and 'cache-local-entries: true'.
but It does not stop serializations/deserializations.
and some nodes does not hit the near cache.

[code]

**Expected behavior**
how to hit the local near cache and escape ser/des?

[2020-12-19 17:22] jerrinot commented on #17986
Hello @samekim,

what are you trying to achieve? Hazelcast creates defensive copies of objects stores inside and you can completely avoid ser/des. Some examples:
1. When you have multiple nodes then objects must be serialized to be transferred over a network.
2. Nodes always stores keys in a serialized form, regardless of `In-Memory-Format` configuration

You didn't specify what operations you are

[2020-12-19 19:02] samekim commented on #17986
oh. `map.getAll` does not use near cache?

[2020-12-19 20:24] samekim commented on #17986
https://github.com/hazelcast/hazelcast/issues/1532

[2020-12-19 21:03] jerrinot commented on #17986
Actually, I was wrong. `getAll()` also consults local near cache.

[2020-12-19 21:04] samekim commented on #17986
* Node A
[code]

* Node B
[code]

I've change all `map.getAll` operation to `map.get`. but it seems the near cache of member's local entry is not hitted.
And I only use `map.get` op. but serialze logs are generated.

[2020-12-21 07:53] mmedenjak commented on #17836
@ChakraTutika can you comment on the questions above?

[2020-12-21 08:00] mmedenjak commented on #17862
@devozerov @viliam-durina can you take a look?

[2020-12-21 08:01] mmedenjak commented on #17863
@devozerov can you take a look?

[2020-12-21 08:03] mmedenjak commented on #17862
Is this fixed with https://github.com/hazelcast/hazelcast/pull/17864?

[2020-12-21 08:05] devozerov commented on #17862
This is a Jet-specific problem. A similar problem has been solved in IMDG here: https://github.com/hazelcast/hazelcast/pull/17689

[2020-12-21 08:06] devozerov commented on #17863
@neilstevenson do you have a reproducer for the problem?

[2020-12-21 08:17] mmedenjak commented on #17862
Thanks for checking, closing.

[2020-12-21 08:17] #17862 closed

[2020-12-21 08:37] mmedenjak commented on #17867
Thank you for the detailed report @bokken ! And nice to see you around again :) I'll see if I can get someone to take a look.

[2020-12-21 08:52] mmedenjak commented on #17872
Adding this to backlog, let me know if you disagree @devozerov

[2020-12-21 09:36] mmedenjak commented on #15498
I don't think this was solved but it involves using hot restart. Can you confirm this is your use case @Mahoney ?

[2020-12-21 09:49] mmedenjak commented on #17879
Can we mark them as deprecated or document it in the javadoc and ref manual in 4.x?

[2020-12-21 09:54] mmedenjak commented on #17880
Hey @shashanka981 ! Thank you for the report. Not sure who to ping exactly but maybe @leszko or @emre-aydin could comment. My question being - are the metrics part of public or private API?

[2020-12-21 09:59] mmedenjak commented on #17883
Adding this to backlog, let me know if you disagree @devozerov

[2020-12-21 10:18] #17300 closed

[2020-12-21 10:18] #17301 closed

[2020-12-21 10:18] #17311 closed

[2020-12-21 10:18] #17315 closed

[2020-12-21 10:18] #17476 closed

[2020-12-21 11:23] emre-aydin commented on #17880
@mmedenjak currently there's not much documentation about what each metric shows. I think we should treat them as public API and document them. Otherwise their usefulness becomes very limited.

[2020-12-21 11:29] mmedenjak commented on #17880
Right, thanks for the confirmation. I'll try to answer the original question then.

[2020-12-21 11:39] samekim commented on #17986
oops. this is my fault. I confused config with other environments.
I'm so sorry.

[2020-12-21 11:39] #17986 closed

[2020-12-21 11:50] mmedenjak commented on #17901
Thank you for the report, @blazember @emre-aydin can you take a look?

[2020-12-21 11:51] mmedenjak commented on #17975
Hi @CobraStarLE !

What do you mean by clock redirection? Also, please direct questions to our community slack - slack.hazelcast.com

[2020-12-21 11:55] YashKamboj commented on #17950
Hi , Can you help me with this issue , this would me my first contribution .
Thanks hope you reply.

[2020-12-21 11:56] YashKamboj commented on #17950
Hi , Can you help me with this issue , this would me my first contribution .
Thanks hope you reply.

[2020-12-21 12:02] blazember commented on #17901
Related: https://github.com/hazelcast/hazelcast/pull/16869
The issue report is right. We'll need to move on from the single byte used for encoding the word size to 2 or 4 bytes. Or we should use a smarter variable-length encoding (I'd take this way, we'll see). This means a binary compatibility change (client->member, member->MC). I'll take a look at this when I'm back in January.

Thanks for repo

[2020-12-21 12:37] lazerion opened #17989 "Multiple RestMultiendpointTest failures"
- Fails on `Hazelcast-4.master-nightly`
- Fails on [Build #696 (Dec 20, 2020 5:07:00 PM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-nightly/696/#showFailuresLink)
- We have `30` test failures
- Sample Error
[code]
- Sample Stacktrace
[code]
- Kindly check

[2020-12-21 12:43] ghost opened #17990 "Multiple TenantControlTest failures [HZ-1843]"
- Possible commit `Adds tenant control (commit: 02b2b45) (detail)`
- Fails on `Hazelcast-4.master-Solaris-OracleJDK8`
- Fails on [Build #255 (Dec 19, 2020 7:20:46 PM)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-Solaris-OracleJDK8/com.hazelcast$hazelcast/255/#showFailuresLink)
- Sample Error
[code]
- Sample Stacktrace
[code]
- Kindly check

[2020-12-21 12:50] lazerion commented on #17990
It looks also need update on code-samples repo for tenant updates. ⚠️
[code]

[2020-12-21 14:10] jerrinot commented on #17986
@samekim: no worries at all, thanks for letting us know. I hope it's working for you.

[2020-12-21 15:31] mmedenjak commented on #17942
Hi @jtorkkel ! Hazelcast IMDG 4.1.1 will be released any day now, but if you want, you can try out the snapshot version which contains the fix (https://oss.sonatype.org/content/repositories/snapshots/com/hazelcast/hazelcast/4.1.1-SNAPSHOT/). If you are using maven, here's how - https://github.com/hazelcast/hazelcast#using-snapshot-releases.

If the new version does not fix the issue, please also s

[2020-12-21 16:38] mmedenjak commented on #17894
@olukas is this still needed? I see the PRs were merged, and I guess we later reverted them.

[2020-12-23 06:23] mayurgithub opened #17998 "Schema validation issue when setting xml attributes to TransformerFactory in AbstractXmlConfigHelper.java"
**Describe the bug**
When setting xml attributes in AbstractXmlConfigHelper.java
        TransformerFactory transformerFactory = TransformerFactory.newInstance();
        transformerFactory.setAttribute(XMLConstants.ACCESS_EXTERNAL_DTD, "");
        transformerFactory.setAttribute(XMLConstants.ACCESS_EXTERNAL_STYLESHEET, "");
we see an IllegalArgumentException thrown.

**Expected behavior**
If the

[2020-12-23 07:55] vbekiaris commented on #17998
@mayurgithub thanks for the issue report. This looks similar to #17839 which is fixed in 4.1.1 by #17868 - you will have to explicitly ignore failures during enabling XXE protection by setting system property `hazelcast.ignoreXxeProtectionFailures` to `true` (see [here](https://github.com/hazelcast/hazelcast/pull/17868/files#diff-0dc708582772308fc78fa7748b789dad38cb7517a04c5a28600eb10bf99cedb8R46-

[2020-12-23 08:28] mayurgithub commented on #17998
Thanks for the quick response Vassilis. Adding that property helped get it beyond that error but it still fails to create an instance of the Hazelcast and fails.

[2020-12-23 10:05] vbekiaris commented on #17998
Thanks for the update. Can you post what is the exception now?

[2020-12-23 13:39] vbekiaris commented on #17998
@mayurgithub I created a very simple project with Xalan 2.7.2 & Hazelcast 4.1 and I verified the original exception you posted. Once I upgraded hazelcast to 4.1.1 and added `-Dhazelcast.ignoreXxeProtectionFailures=true` to my `java` command, the exception goes away and Hazelcast starts properly. It would be great if you could verify this or post what is the failure in your use case.

[2020-12-23 17:08] mayurgithub commented on #17998
I added the property to hazelcast.xml
	<properties>
		<property name="hazelcast.health.monitoring.level">OFF</property>
		<property name="hazelcast.ignoreXxeProtectionFailures">true</property>
	</properties>

The error is shown below.
2020-12-23 00:17:19,787-0800 ERROR [com.xxx] [-] [] Cannot instantiate XXX
 java.lang.IllegalArgumentException: Not supported: http://javax.xml.XMLConstants/property

[2020-12-23 20:48] vbekiaris commented on #17998
@mayurgithub I see. You need to set this as a *system* property, not a Hazelcast configuration property. So you can do this in two ways:

- add `-Dhazelcast.ignoreXxeProtectionFailures=true` to your `java` command line arguments, for example:
`java -Dhazelcast.ignoreXxeProtectionFailures=true -cp main.jar com.example.Main`
- set it programmatically in your application before you start Hazelcast li

[2020-12-24 01:27] mayurgithub commented on #17998
Thank for the clarification Vassilis. I added that property. I still see the same error though
2020-12-23 17:23:51,584-0800 ERROR [com.XXX.tk.service.XXX] [-] [] Cannot instantiate XXX
 java.lang.IllegalArgumentException: Not supported: http://javax.xml.XMLConstants/property/accessExternalDTD
	at org.apache.xalan.processor.TransformerFactoryImpl.setAttribute(TransformerFactoryImpl.java:571)
	at co

[2020-12-24 01:39] mayurgithub commented on #17998
Hi Vassilis,
The code below worked. I just had to pass in the config object to the hazelcast instance.
Config cfg = new Config();
cfg.setProperty("hazelcast.ignoreXxeProtectionFailures", "true");
HazelcastInstance instance = Hazelcast.newHazelcastInstance(cfg);
For some reason the System.setProperty didn't work for me.
Thanks for all your help!!!!!

[2020-12-24 06:46] #17998 closed

[2020-12-24 08:58] mdumandag opened #18002 "Semaphore #acquire and #tryAcquire should be interruptible"
According to Javadoc, acquire and tryAcquire should be interruptible but as of now, it is not the case.

I would expect, in a test like below, acquire should throw InterruptedException but it is not, it is waiting until the internal invocation future resolves.

[code]

Internally, we are using `joinInternal` on the invocation future to wait, we should probably switch to `get` since according to th

[2020-12-24 09:11] 13996280848 opened #18003 "FencedLock destroy but memory not release!"
[code]

When I lock different key with FencedLock, and destroy when expired
but the JVM memory not release finally OOM

hazelcast version 4.1.1

[2020-12-24 09:32] 13996280848 commented on #18003
when i use version 3.12.11 no this problem！

![test](https://user-images.githubusercontent.com/76151940/103078982-f989aa00-460d-11eb-993e-813fb8582ea6.png)

[2020-12-24 10:15] sancar commented on #18002
Raft operations do not implement BlockingOperation as our normal operations might implement them(Queue.take, Map.lock etc). That means that a Raft Operation will never return CallTimeout and interrupts will not be taken into account.  We need to double check why Raft Operations are not implementing Blocking Operation.

[2020-12-24 12:13] mmedenjak commented on #18003
@13996280848 I assume you were using `ILock` in 3.12 and not `FencedLock`?

Because of consistency, we must keep some information about the lock after it has been destroyed. You can read more about it here - https://github.com/hazelcast/hazelcast/issues/17498.

Are you creating and destroying many lock instances?

[2020-12-24 12:55] mmedenjak commented on #12874
No change as of yet and no plans to change it, unfortunately.

[2020-12-24 12:55] 13996280848 commented on #18003
@mmedenjak
yes i creating and destroying many many lock instances

hazelcastInstance.getCPSubsystem().getLock(lockId)
FencedLock getLock(String name);
i use version
<dependency>
	<groupId>com.hazelcast</groupId>
	<artifactId>hazelcast</artifactId>
	<version>3.12.11</version>
</dependency>

this verison use jconsole looks release memory
but 4.1.1 looks not release or it keep used lock need more mem

[2020-12-24 13:15] mmedenjak commented on #18003
As mentioned, because of consistency guarantees, we must keep some information about the locks even after they are destroyed. If you want to use the old 3.12 lock with it's guarantees, you may choose to use the `IMap.*lock` methods in 4.0 instead of `FencedLock`.

[2020-12-24 13:17] mmedenjak commented on #17942
Hazelcast IMDG 4.1.1 has been released.

[2020-12-24 13:29] 13996280848 commented on #18003
@mmedenjak
thanks!

[2020-12-24 17:32] mmedenjak commented on #17930
I guess this is because we only count the number of hits for live entries. Possibly we could add a separate metric that only increased. Any further comments @ahmetmircik ?

[2020-12-24 18:44] mmedenjak commented on #17939
Thank you for the report @danblack ! @ahmetmircik can you check it out and comment?

[2020-12-24 18:47] mmedenjak commented on #17981
@sancar @petrpleshachkov any ideas? Do we have such an API?

[2020-12-24 18:48] mmedenjak commented on #17979
Thank you for the report @manish-in-java ! @kwart can you take a look?

[2020-12-24 18:52] mmedenjak commented on #17951
Thank you for the report @ttux ! @enozcan can you take a look or see who can instead?

[2020-12-24 18:54] mmedenjak commented on #17956
Thank you for the report @mincel ! @pivovarit do you maybe know why this occurs or can you check it out? Thanks!

[2020-12-24 18:56] mmedenjak commented on #17944
Hi @mgoldver ! Thank you for the suggestion. I'll add it to the backlog and we'll assess the priority of it. Right now we're heavily invested in the new SQL engine and we're not investing into the query API.

[2020-12-24 19:04] sancar commented on #17981
@mmedenjak Nope, it is not exposed via public API.
@coolbeevip What is your use case? Maybe we can suggest an alternative.
Exposing this kind of information usually is not helpful because it can change at any moment.

[2020-12-24 19:10] enozcan commented on #17951
Hi @ttux,
This one has been fixed but a new version has not yet released (the related issue: https://github.com/hazelcast/hazelcast-wm/issues/95). However, if you set the properties as string this will make it work for the previous versions as well:
[code]
@mmedenjak I believe you can close the issue as it's also reported and fixed in wm repo.

[2020-12-24 19:40] ahmetmircik commented on #17939
@danblack runtime config update is not supported, you have to give config before instance start. I tried your reproducer by passing config before instance start like this:
[code]

Everything seems smoothly working. Could you please verify on your side?

[2020-12-24 19:43] pivovarit commented on #17956
This looks like a classloader issue. My non-educated guess is that thread's context classloader should be used when instantiating classes reflectively:

https://github.com/hazelcast/hazelcast/blob/26acba4443c56a5869b60fd3ebd53dd4050bbd8c/hazelcast/src/main/java/com/hazelcast/query/impl/getters/ExtractorHelper.java#L52

I will verify my guess next week. If it's valid, I guess we could fallback to T

[2020-12-24 19:45] ahmetmircik commented on #17930
@mmedenjak Reason is, we check the size of record-store before calculating stats as a precondition, and if there is no entry, no stats is calculated. Hence after all entries are expired, there is no stats. Only removing that size check should be enough to see on Management Center.

[2020-12-25 05:27] coolbeevip commented on #17981
case 1:

I hope to be able to obtain a conceptual master node from the cluster to execute some special business codes.
 Later I noticed that Lock can be used to achieve similar functions. So this case passed.

case 2:

I hope to show the RAFT status of the CPSystem cluster to provide some information for operation and maintenance.
Is it possible to expose the EventListener interface when CPSystem

[2020-12-25 05:45] gurbuzali commented on #17894
I can say this is not needed any more. for some logger factories (log4j2 for example) you cannot deregister the logger, so even if we add this ability on our side (which we did with the merged PRs) there will be still leak.

Our solution was to change how we create loggers. Instead of creating a logger for each job (using job specific identity) we create loggers for once (using static names) and r

[2020-12-25 05:45] #17894 closed

[2020-12-25 07:24] sancar commented on #17981
For maintenance, I would suggest keeping track of all cp members, not just the leader. When the leader changes, there is nothing to be done from outside. But when the majority is lost /when a cp member crashes,
1. You may need to manually remove a CP Member from the CP group.
2. You may need to promote some AP members manually to CP members.

And for this, we have two listeners:
CPSubsystem.addGro

[2020-12-25 08:08] coolbeevip commented on #17981
Yes, I have noticed this part.
All my members are CP members and will be automatically promoted to CP member after the startup.

Thank you for your feedback, I will close the issue.

[2020-12-25 08:08] #17981 closed

[2020-12-25 13:03] mdumandag commented on #18002
In a test like below, I was able to get an InterruptedException wrapped as HazelcastException. Maybe we should just update the Javadoc and the method signature?

[code]

[2020-12-26 08:57] cangencer opened #18008 "Improve HazelcastInstanceAware javadoc"
The Javadoc for `HazelcastInstanceAware` could be improved. It expects the user to only capture the variable not execute any code on it.

See from recent slack discussion

[2020-12-26 11:54] #4233 closed

[2020-12-27 11:12] mmedenjak commented on #17951
Thank you for the confirmation @enozcan ! @ttux please comment on the linked issue if you have further questions. Happy hazelcasting!

[2020-12-27 11:12] #17951 closed

[2020-12-27 11:29] mmedenjak commented on #17950
@vedantbharti thank you for volunteering! @hasancelik any ideas how we could do this?

[2020-12-27 12:10] mmedenjak commented on #17970
@neilstevenson thank you for the report. @devozerov can you take a look at this one?

[2020-12-27 12:16] mmedenjak commented on #17974
@blazember can you remind me, why does this occur and can we fix it easily?

[2020-12-27 12:17] mmedenjak commented on #17975
@CobraStarLE any clarification on the above question?

[2020-12-27 13:15] mmedenjak commented on #17863
@neilstevenson any updates on the issue?

[2020-12-27 13:16] mmedenjak commented on #15498
@Mahoney any updates on the issue?

[2020-12-27 13:21] mmedenjak commented on #17990
Related: https://github.com/hazelcast/hazelcast-code-samples/issues/468

[2020-12-27 13:35] mmedenjak commented on #17930
Great! But if we remove the check, we might return statistics for expired records until they get cleaned up by the expiration cleanup task, right? So eventually, the metric will go down to zero again?

[2020-12-27 13:56] ahmetmircik commented on #17930
No they don't depend on entry existence. We have them on recordstore level. Even all are expired, we still see the hits.

[2020-12-27 15:04] Mahoney commented on #15498
I'll have a look when I'm next in the office. Not sure what you mean by hot restart - in our case at most it would be a rolling restart of JVMs in a cluster.

[2020-12-27 15:05] mmedenjak commented on #15498
It's an enterprise feature that triggers this issue. If you don't know the name, it means you're probably not using it.

[2020-12-27 17:47] lprimak commented on #17990
I can see this test `TenantControlTest.basicSetTest()` failing on my local machine intermittently, roughly one out of 5 times

[2020-12-27 17:49] lprimak commented on #17990
samples PR hazelcast/hazelcast-code-samples#469

[2020-12-27 18:08] lprimak commented on #17990
Working on a PR that fixes the test issue... it's not waiting for async distributed object destroy to happen before performing checks

[2020-12-28 07:29] mmedenjak commented on #17930
Would you say then that removing this check makes sense? Or is there some reason why we should not remove it?

[2020-12-28 09:39] devozerov commented on #17970
I propose to keep it in the backlog for now and schedule it for 4.3, as this is a big thing. Currently, we rely on Apache Calcite's parser, which has a lot of capabilities and reserved keywords that are not supported by IMDG/Jet SQL. Perhaps one solution could be to create our own parser with a limited set of features, thus decreasing the number of reserved keywords.

Also, we may try to improve o

[2020-12-28 09:54] mmedenjak commented on #17970
Great, thanks!

[2020-12-28 11:32] ahmetmircik commented on #17930
At first glance, it seems it should be ok to remove it.

[2020-12-28 13:44] hasancelik commented on #17950
Hi @vedantbharti,

As a starting point, you can check discovery-spi module especially[ DefaultDiscoveryService class](https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/spi/discovery/impl/DefaultDiscoveryService.java#L131-L199) to understand how it works.

Some implementation details/advices:
1. To read discovery plugin version, you can use `discoveryStrategyT

[2020-12-28 14:29] hasancelik commented on #17879
@mmedenjak I think we can do both, WDYT @leszko ?

[2020-12-28 15:08] hasancelik opened #19466 "EndpointSlices support"
With 1.19 release, `EndpointSlices` is used by default for linux envs. Cluster's control plane mirrors `Endpoints` resources to corresponding `EndpointSlices`:
[code]
Its [API](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#endpointslice-v1beta1-discovery-k8s-io)(/apis/discovery.k8s.io/v1beta1/) is beta for now, it will be graduated with 1.21 release
Check [EndpointSlices rol

[2020-12-29 08:25] leszko commented on #17879
Yes, I think we can deprecate.

[2020-12-29 10:58] ahmetmircik commented on #17939
Closing this issue with my above comment. If the issue still happens, please reopen the issue.

[2020-12-29 10:58] #17939 closed

[2020-12-30 11:24] viliam-durina opened #18023 "Inconsistent behavior with float infinity"
Converting a VARCHAR `'1e100'` to REAL succeeds with `Float.POSITIVE_INFINITY` as the result, but converting a similar DOUBLE to REAL doesn't. It fails with `Numeric overflow while converting DOUBLE to REAL`. I think it should succeed, inexact floating point types don't overflow. Infinity doesn't mean only an actual infinity, it also means that the operation resulted in a an out-of-range value. Fo

[2020-12-31 11:00] sancar commented on #17821
The performance benefit comes from the resulting binary size. The smaller the binary size the better the performance.
This is a little bit different than #17788.

ArrayList<Integer> is serialized really compact because we have our own serializers for both ArrayList and Integer.
For ArrayList of size 10 the binary sizes:
Full Java Serialization: 233 bytes
ArrayList is overridden with our own custom

[2021-01-01 16:14] venustulips opened #18026 "com.hazelcast.nio.serialization.HazelcastSerializationException: Failed to serialize"
**Describe the bug**
Getting `com.hazelcast.nio.serialization.HazelcastSerializationException: Failed to serialize` when fetching an immutable entity.

**Expected behavior**
Expected to load the entity without a Serialization Exception because Serializable is implemented.

**To Reproduce**

Steps to reproduce the behavior:
1. Use the following entity
2. Enable `hibernate.cache.use_reference_entrie

[2021-01-02 12:54] baphuc1998 opened #18027 "Hazelcast doesn't work with Sping Boot 2.4.1"
**Describe the bug**
I used Hazelcast with Spring Boot 2.2.2 very well. Then I want to change my Spring Boot version to 2.4.1. But it seems that Hazelcast no longer works as well as it did before.

**Expected behavior**
Use Hazelcast in spring boot 2.4.1

**To Reproduce**

Steps to reproduce the behavior:
1. Use xml file
2. Add classpath in application.properties
3. Run the project

**Additional c

[2021-01-02 13:21] baphuc1998 commented on #18027
I found the problem with "www". Update to
<hazelcast xmlns="http://www.hazelcast.com/schema/config"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="https://hazelcast.com/schema/config
           https://hazelcast.com/schema/config/hazelcast-config-3.12.xsd">
and it works.

[2021-01-02 13:22] #18027 closed

[2021-01-02 19:57] risharde opened #18028 "ReliableTopic possible duplicate messages using publishAsync method"
Hi, is it 'normal' for the publicAsync method of ReliableTopic to send duplicate messages to listeners? If I used the the normal publish function, this does not happen. Not sure if this is a bug or not.

[2021-01-03 03:26] risharde commented on #18028
It wasn't a bug with hazelcast. It was a multiple instatiation issue which cause multiple listeners that was causing my issue.

[2021-01-03 03:26] #18028 closed

[2021-01-04 09:26] #17841 closed

[2021-01-04 10:11] petrpleshachkov opened #18030 "MapIndexScanExecTest is not testing what is expected"
I took a more close look at the `MapIndexScanExecTest` and I'm not sure the test is correct. There is a `checkScan` method that is supposed to check in the end the returned results. But instead, it has only the below lines that assert nothing.

[code]
Moreover, we run the scan only on the local partitions and we actually cannot assume what is the expected result, because the local partitions conta

[2021-01-04 12:12] blazember commented on #17974
@mmedenjak  In short, we render twice with the same endpoint remote address. See more here: https://github.com/hazelcast/hazelcast/issues/16827#issuecomment-606938775

Not sure why or how this happens. I have no better explanation than we have more than one connection to the same remote endpoint. I created https://github.com/hazelcast/hazelcast/pull/18031 to make the error more verbose. This PR wi

[2021-01-04 15:42] sancar opened #18032 "AbstractListenersOnReconnectTest.testListenersTerminateCluster_smart_multipleServer"
Failed here http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/3332/
On a pr builder for 4.1.2-SNAPSHOT.

The cause seems to be a deadlock.
The following two threads are waiting for each other.

	java.lang.Thread.State: BLOCKED, on lock=java.lang.Object@35eabfb3, owned by hz.client_313.event-7092, id=100854, cpu=3544732 nsecs, usr=0 nsecs, blocked=121349 msecs, waited=34 msecs
		at com.hazelcas

[2021-01-04 17:11] jerrinot commented on #17974
Hazelcast can occasionally create 2 connections between 2 members. There is a race when members are starting in parallel.
It will look like this:
[code]
Member1 will use C1 for sending data to Member2.
Member2 will use C2 for sending data back to Member1.

Both members will try to read from both C1 and C2 so things will work just fine.

[2021-01-04 17:36] neilstevenson commented on #17863
@mmedenjak Problem does not recur, so either fixed since reporting or was stale artifacts.

[2021-01-04 17:36] #17863 closed

[2021-01-06 12:31] Danny-Hazelcast opened #18039 "Could not add AttributeConfig Extractor for this attribute name already added failing as of 4.2-SNAPSHOT"
http://jenkins.hazelcast.com/view/stable/job/scale-up/45/console

/home/ec2-user/workspace/scale-up/4.2-SNAPSHOT/2021_01_05-17_20_54/value-extractor Failed

17:24:10 fail HzMember1HZ value-extractor_load_mapBak1ObjSql hzcmd.map.member.LoadPersonSerializable threadId=0 java.lang.IllegalArgumentException: Could not add AttributeConfig{name='genId'extractorClassName='hzcmd.extractor.GenIdExtractor'}.

[2021-01-06 12:32] Danny-Hazelcast commented on #18039
4.1.1 passing run http://jenkins.hazelcast.com/view/stable/job/scale-up/46/console

[2021-01-06 14:13] #17989 closed

[2021-01-07 07:59] emre-aydin commented on #17974
In MC, we use the following three metrics and they are exposed via the clustered JMX API:
* tcp.connection.clientCount
* tcp.connection.activeCount
* tcp.connection.count

However, the values we get for these currently don't make much sense for the end user as we lack a clear description of what we get in these metrics (as a result, we fail to make them meaningful for the end user). We can accomod

[2021-01-07 09:50] #18032 closed

[2021-01-07 15:36] Danny-Hazelcast opened #18041 "map-store serialization map access issue 4.1 PASS - 4.2-SNAPSHOT FAIL"
failing 4.2-SNAPSHOT  http://jenkins.hazelcast.com/view/stable/job/trial-1/28/console

passing 4.1. http://jenkins.hazelcast.com/view/stable/job/trial-1/29/console

hz/trials/trial-B/

[code]

no  hzcmd.model.person.PersonIdentifiedDataSerializable items loaded into the maps.

however we have an eager map store

[code]

[code]

[2021-01-07 18:04] neilstevenson opened #18042 "4.1 auto-detection re-activates de-activated multicast"
If my config looks like only this

[code]

On IMDG 4.0, this gives
[code]

On IMDG 4.1, this gives
[code]

Auto-detection re-activates multicast.

Any cluster set-up standalone (e.g. a JUnit test) can now join others if upgraded, against configuration.

[2021-01-07 21:29] jerrinot commented on #18042
it's a known and documented behaviour change. see: https://docs.hazelcast.org/docs/rn/index.html#bc-41
it's a dup of https://github.com/hazelcast/hazelcast/issues/17748

[2021-01-07 21:29] #18042 closed

[2021-01-07 21:32] jerrinot commented on #18042
Basically in 4.0 and older this was the default:
1. multicast on
2. everything else off

in 4.1 and newer this is the default:
1. auto-detection on
2. everything else off
So disabling multicast explicitly is a no-op. Also when you enable any mechanism explicitly then the auto-detection is automatically disabled.

[2021-01-08 07:59] sancar commented on #12770
@pveentjer We are closing the issue since we already have workarounds for users.
If you can add your reasoning for opening this issue and also your expected solution, we can follow up on that.

[2021-01-08 07:59] #12770 closed

[2021-01-08 07:59] sancar commented on #12777
@pveentjer We are closing the issue since we already have workarounds for users.
If you can add your reasoning for opening this issue and also your expected solution, we can follow up on that.

[2021-01-08 07:59] #12777 closed

[2021-01-08 11:52] jfcfar opened #18043 "Using Spring properties on some XML configurations fails"
**Describe the bug**

I'm upgrading from Hazelcast `3.12.1` to  `4.1.1`. On my XML configuration I'm using some properties that are defined in the `application.properties`. After upgrading to `4.1.1` the properties I'm using on attributes that changed syntax stopped working.

**Expected behavior**
I should be able to use properties to configure hazelcast like I was until version 4

**To Reproduce*

[2021-01-08 15:56] neilstevenson opened #18044 "Enhancement, multiple blacklisted attempts to same destination"
On 4.1.1 multiple connection threads result in the blacklist message appearing multiple times.

Eg.
[code]

Blacklisting should be global, if `cached.thread-2` blacklists `[xxx.xxx.xxx.xxx]:5702` then `cached.thread-3` shouldn't attempt it. The destination is either good or bad.

[2021-01-08 16:35] Jimver opened #18045 "Additional forms of getters as attribute in SQL queries"
**Please describe the problem you are trying to solve**
Currently getters of the form `field()` are not recognized as attributes in SQL queries. Only getters of the form `getField()` are.

**Please describe the desired behavior**
Getters of the form `field()` should automatically get recognized as attributes for SQL queries.

**Describe alternatives you've considered**
I tried using a custom attri

[2021-01-08 16:38] Jimver commented on #18045
I'll try to make and test a PR the next couple of days, shouldn't be too difficult.

[2021-01-11 12:08] jtorkkel commented on #17942
Initial testing shows that 4.1.1 fix the issue both when connecting to cluster or when connected and cluster address change. We will continue testing.

[2021-01-11 14:53] alex-dukhno opened #18050 "Create openAPI specification for REST API"
Right now ref manual contains sections. However, we can use standard tools like [swagger](https://swagger.io/) to define our REST API as an openapi specification.
It can give us beautifully generated documentation with endpoints' descriptions and request/response schemas, error codes and so forth.

[2021-01-12 11:48] pertsodian commented on #9265
Hello all, I am so sorry I could not make time to work on this task with proper attention. I will unassign myself so that others can pick. Thank you for your understanding.

[2021-01-13 06:42] sancar commented on #16574
I have spent some time on it and could not find the issue.
[out.txt](https://github.com/hazelcast/hazelcast/files/5806819/out.txt)
Leaving the logs of the first failure here.  `Hazelcast-pr-builder/5678/`

I will add a second test and increase the log level of cp classes on tests.

==== IMPORTANT ====
To the future reader, If a new incident happens, the new logs will be more informative, please do

[2021-01-13 07:45] devozerov commented on #17329
General implementation guidelines:
1. Define the `CASE` operator class. We may use `SqlCaseOperator` as a starting point, but replace the inference logic with our own rules.
2. Register the operator in the `HazelcastSqlOperatorTable`.
3. Create the Hazelcast counterpart (`CaseExpression` from the `sql` branch could be used as a starting point).

[2021-01-13 09:49] nosan opened #18052 "Try-catch block does not catch Throwable and as a consequence java.lang.NoClassDefFoundError can not be sent to the Client"
A try-catch block should catch `Throwable` instead of `Exception`.
https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryOperation.java#L266
It can not catch `java.lang.NoClassDefFoundError`: and the exception can not be sent to the client.

**Context**:
Customer uploaded a wrong jar to hazelcast classpath (`MyEnum` enum is not present in the

[2021-01-13 10:04] mmedenjak commented on #17052
Related: https://github.com/hazelcast/hazelcast/issues/17735

[2021-01-13 13:03] jerrinot commented on #17735
fwiw: the new [Sql interface](https://docs.hazelcast.org/docs/4.1.1/manual/html-single/index.html#sql) [returns](https://github.com/hazelcast/hazelcast/blob/b6a11a28b34eda63508fd603da93bd5270ff3101/hazelcast/src/main/java/com/hazelcast/sql/SqlService.java#L135) `SqlResult` which is [extends](https://github.com/hazelcast/hazelcast/blob/0c51b07ee7ace940ee070f97a7ef37156368db38/hazelcast/src/main/jav

[2021-01-13 17:54] dsyer opened #18053 "DelegatingCompletableFuture does not complete if the callback throws an exception"
From the javadocs for `CompletionStage.whenComplete()`:

[code]

`DelegatingCompletableFuture` does not implement this contract. In particular the `DeserializingBiConsumer` is prone to throwing `HazelcastSerializationException` which then causes downstream consumers of the future to hang because there is no completion signal.

[2021-01-13 21:53] vbekiaris commented on #18053
@dsyer thanks for the issue report. I tried to reproduce the issue with the chained future not being completed when `HazelcastSerializationException` is thrown but failed to do so. My test looks like this:

[code]

The `HazelcastSerializationException` is actually caught by the delegate future's `whenComplete` implementation (eg when `DelegatingCompletableFuture` wraps a Hazelcast invocation, this

[2021-01-14 07:56] dsyer commented on #18053
The assertion contradicts the contract, doesn't it, because it ignores the failure? The problem is that the user's chained callback never gets the signal.

A better test would be (without actually compiling and running it):

[code]

[2021-01-14 10:50] PavloBida commented on #14550
Got this test [failing](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-CorrettoJDK11/101/testReport/junit/com.hazelcast.cp.internal/CPMemberAddRemoveTest/when_cpMembersShutdownConcurrently_then_theyCompleteTheirShutdown/) again but since the root cause is different - closing current issue again and will report another one.

[2021-01-14 10:50] #14550 closed

[2021-01-14 10:56] PavloBida commented on #17650
Also fails on Coretto builds [JDK8](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-CorrettoJDK8/101/) and [JDK11 14-Jan-2021 02:12](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-CorrettoJDK11/101/)

[2021-01-14 11:06] PavloBida commented on #11737
[code]
http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-IbmJDK8/115/testReport/junit/com.hazelcast.client/ClientServiceTest/testClientListener_withShuttingDownOwnerMember/

[2021-01-14 14:24] PavloBida commented on #17843
Also fails on Hazelcast-4.maintenance-Openj9-15
[Build #19 (27-Dec-2020 12:12:34)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.maintenance-Openj9-15/19/testReport/com.hazelcast.cluster/MulticastDeserializationTest/test/)

[2021-01-14 14:27] abahadirdogan opened #18057 "When I reproduce the queue items when a node leaves the cluster, items are delivered more than once."
[test.zip](https://github.com/hazelcast/hazelcast/files/5815012/test.zip)

**Describe the bug**
I expect to receive only the items that I add to the queue, but I get the previous items when the consumer goes up.

**Expected behavior**
Hello, I'm implementing a producer-consumer example. Both the producer and the consumer are members of a cluster. The producer puts an item into the queue(IQueue) an

[2021-01-14 14:30] PavloBida commented on #17990
Hazelcast-4.master-code-samples-OracleJDK8 keeps failing with Tenant related compilation errors.
[14-Jan-2021 09:26](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-code-samples-OracleJDK8/)

[2021-01-14 14:45] PavloBida commented on #16206
Also fails on Hazelcast-4.master-Windows-OracleJDK8:
[13-Jan-2021 14:46](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-Windows-OracleJDK8/246/testReport/com.hazelcast.client.internal.metrics/ClientJmxMetricsTest/testNoMBeanLeak/)

[2021-01-14 14:47] PavloBida commented on #17843
Also fails on Hazelcast-4.master-ZuluJDK15
[Build #10 (14-Jan-2021 08:05:20)](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-ZuluJDK15/10/testReport/com.hazelcast.cluster/MulticastDeserializationTest/test/)

[2021-01-14 15:52] lprimak commented on #17990
https://github.com/hazelcast/hazelcast-code-samples/pull/469 Fixes this

[2021-01-14 20:19] lprimak commented on #17990
@PavloBida Please close this issue. This issue is already fixed by Hazelcast IMDG tests.
There is already an open issue for the code samples that's open: https://github.com/hazelcast/hazelcast-code-samples/issues/468
thank you

[2021-01-15 06:45] CobraStarLE commented on #17975
I'm sorry it took so long to get back to you. Since FlakeIdGenerator generates Id's based on time, would it be possible to generate the same Id again if the server's time is called back? Thanks.

[2021-01-15 07:05] CobraStarLE opened #18059 "set TcpIpConfig,but can't find each other"
I have two computers to start Hazelcast, but the IP addresses of these two computers are different, 192.168.0.2, 192.168.1.3, but they can ping each other, but these two computers Hazeelcast is not found each other, although I set TcpIpConfig still can not I can, my Hazelcast version is 3.12.11, can you explain why, thank you!

[2021-01-15 10:22] mmedenjak commented on #18059
Hi @CobraStarLE ! Are you getting some kind of error in the logs of the Hazelcast nodes? Can you share the logs?

[2021-01-15 10:26] mmedenjak commented on #18045
Thanks for the report @Jimver ! @devozerov can you take a look at the issue and the corresponding PR?

[2021-01-15 10:33] devozerov opened #18061 "SQL: add "max rows" to public API"
In SQL APIs it is common to allow users to limit the maximum number of returned rows. An example is JDBC's `Statement.maxRows`. We need to add such an option to our `SqlStatement` public API.

It will require changes to the client protocol. However, this change is not going to be breaking, because we may add the `maxRows` field to the end of the `execute` message.

Inspired by https://github.com/h

[2021-01-15 10:35] mmedenjak commented on #18023
@devozerov can you take a look?

[2021-01-15 10:43] devozerov commented on #18023
We are aware of inconsistent behavior with special values of floating-point types, see https://github.com/hazelcast/hazelcast/issues/17314. The fix is planned after 4.2 release.
If you feel that the priority should be higher, please discuss it with @Holmistr to decide whether to include it in the 4.2 scope.

[2021-01-15 10:45] mmedenjak commented on #18043
Thank you for the report @jfcfar !
@ahmetmircik can you take a look? I'm not if this is due to the changed eviction configuration, a spring integration issue or some misconfiguration?

[2021-01-15 12:08] Danny-Hazelcast opened #18062 "5G of repeated warning logged: com.hazelcast.spi.impl.AbstractInvocationFuture.warnIfSuspiciousDoubleCompletion(AbstractInvocationFuture.java:1208)"
this exact WARNING message was repeated for 5Gigs in the clients logs,   printing the warning just once would suffice

[code]

[2021-01-15 12:10] Danny-Hazelcast commented on #18062
/home/ec2-user/workspace/hot-shutdown/4.2-SNAPSHOT/2021_01_13-13_56_00/shutdown
http://jenkins.hazelcast.com/view/hot-restart/job/hot-shutdown/74/console
sh hz-bench-run hz/hot/shutdown 11

[2021-01-15 12:14] Danny-Hazelcast commented on #18062
output/HZ/HzClient6HZ/out.txt

[2021-01-15 13:15] petrpleshachkov opened #18063 "Generalize Sort Merge exchange"
In the 4.2 release we introduced a `SortMergeExchangePhysicalRel` that merges sorted input streams from several nodes into a single sorted stream on a single node. This assumes that the sorting is a top-level operator, while it could be not the case in the future. In a more generalized plan, we have to avoid `SortMergeExchangePhysicalRel` and detect that the sorting is needed on the later plan gen

[2021-01-15 13:28] mmedenjak commented on #17144
Related - in 4.1 we added support for some newer GCs - https://github.com/hazelcast/hazelcast/pull/17561

[2021-01-15 13:34] mmedenjak commented on #17316
@alparslanavci would you need this in 4.2 or can I move it out of scope?

[2021-01-15 13:43] mmedenjak commented on #16467
Since we have a PRD, can we close this issue @Holmistr ?

https://hazelcast.atlassian.net/wiki/spaces/IMDG/pages/2483650686/Change+log+level+and+enable+diagnostics+at+runtime

[2021-01-15 13:51] mmedenjak commented on #16883
@blazember how important is this enhancement?

[2021-01-15 14:18] mmedenjak commented on #13780
Instance tracking should output it to a file:
https://github.com/hazelcast/hazelcast/pull/17200
https://github.com/hazelcast/hazelcast/pull/17408

There was some mentioning of uptime a few days ago but I can't remember the details, maybe @Holmistr can remember.

[2021-01-15 14:27] vbekiaris commented on #18053
Thanks for the clarification, I see what you mean. I am working on a fix and will keep you posted.

[2021-01-15 14:29] mmedenjak commented on #16796
Fixed with  https://github.com/hazelcast/hazelcast/pull/17742

[2021-01-15 14:29] #16796 closed

[2021-01-15 14:40] mmedenjak commented on #7372
We'll be optimising the record overhead for NATIVE memory in 4.2 with the concept of "pay for what you use"

[2021-01-15 14:46] ahmetmircik commented on #7372
Besides NATIVE, BINARY and OBJECT formats will also benefit from this optimization.

[2021-01-15 14:49] mmedenjak commented on #13007
@webashutosh have you been able to submit a PR for this? I'll move this out of the current milestone as we're getting closer to the release.

[2021-01-15 15:00] mmedenjak commented on #17919
Moving to backlog as I assume the only alternative is the `CREATE MAPPING` which we can have when/if we merge with jet SQL. cc @devozerov

[2021-01-15 16:23] mmedenjak commented on #7372
That's great, I forgot about that. In that case, you can see some related issues above. I guess we can then bring them into the 4.2 milestone and close then with the PRs as well.

[2021-01-15 16:53] cforce commented on #8258
I this related with another bug which during rampup of new nodes applied map interceptors before going productive with new nodes are executed on node which are not active which leads to com.hazelcast.core.HazelcastInstanceNotActiveException: Member [XXXXX]:XXX is currently passive! Operation: com.hazelcast.map.impl.operation.AddInterceptorOperation{serviceName='hz:impl:mapService', identityHash=XX

[2021-01-15 16:58] mmedenjak commented on #8258
@cforce I'm not sure if I understood your question but yes, interceptors must be added to all of the members and the PASSIVE state assumes that no user actions which modify the data or the structures are allowed (internal ones being allowed). Adding interceptors to only some members can later lead to strange results.

[2021-01-15 17:06] cforce commented on #8258
I am currently have running conditions in the hazelcast cluster (count>45) while rolling updates. Some nodes are shutting down, and some of the nodes are ramping up. During the ramp-up of new nodes, we need to make sure that map interceptors are used before we get productive with new nodes. But this fails with above error message because AddInterceptor  methods are called on the passive nodes whic

[2021-01-15 17:09] mmedenjak commented on #8258
Then I guess you would benefit from [adding interceptors to the configuration](https://github.com/hazelcast/hazelcast/issues/3864) as opposed to adding them programmatically.

[2021-01-15 17:13] cforce commented on #8258
Confused now . Why is that a question of configuration. My expectation is that this tow methods of adding/removing interceptors need filtering on active nodes only.

[2021-01-15 17:23] mmedenjak commented on #8258
This is the reason why we need to allow setting the map interceptors in the configuration, so that the interceptors are active as soon as the user starts interacting with the started nodes.

[2021-01-15 18:12] cforce commented on #8258
For me it look like interceptors are active on source node, but tried execution on remote failed due to NodeLifecycle is in NodeState passive and trying to execute them on nodes which are are in tear down and therefore not active , which  is a constraint to execute there.
The node which is firing the issue might be a new node, yes , but even if if "enforce" interceptor" execution manually by code,

[2021-01-15 18:13] mmedenjak commented on #16952
@emre-aydin can this issue be closed?

[2021-01-15 18:35] mmedenjak commented on #13041
@sancar is something like this planned or do you have some idea how to provide something like this?

[2021-01-15 18:43] mmedenjak commented on #14949
Unfortunately this is not possible. Leaving this issue in the backlog to assess if we need to work on something like this.

[2021-01-15 18:57] mmedenjak commented on #1227
@sancar has this been solved or improved?

[2021-01-15 19:00] mmedenjak commented on #1910
@blazember was this fixed with https://github.com/hazelcast/hazelcast/pull/16925?

[2021-01-15 19:04] mmedenjak commented on #15271
@ihsandemir how does this issue affect clients?

[2021-01-15 19:09] mmedenjak commented on #17146
Closing due to inactivity. Please reopen or comment if you have any further information. Happy Hazelcasting!

[2021-01-15 19:09] #17146 closed

[2021-01-15 19:10] mmedenjak commented on #17307
Closing due to inactivity. Please reopen or comment if you have further information. Happy Hazelcasting!

[2021-01-15 19:10] #17307 closed

[2021-01-15 19:24] mmedenjak commented on #17783
@Bhagyesh-Chokhawala any updates on the issue?

[2021-01-15 19:27] mmedenjak commented on #17956
@pivovarit any updates on the issue?

[2021-01-15 19:30] mmedenjak commented on #18026
@enozcan @pivovarit any ideas about this issue?

[2021-01-15 19:36] mmedenjak commented on #8258
The coordinator node on which you called `addMapInterceptor` or `removeMapInterceptor` may only check if it's local state is PASSIVE. It has no knowledge if the remote node is PASSIVE or not.

I believe the right approach here is not implementing any kind of filtering but moving the list of interceptors to the configuration so that the nodes can start and shut down with the appropriate interceptor

[2021-01-16 12:17] webashutosh commented on #13007
@mmedenjak sorry that you had to move it out. No PR yet. I will submit in the coming days...

[2021-01-16 12:37] cforce commented on #8258
The big problem is that since 6?  years the patch once done to support this kind of bug fix never made it into any release.

[2021-01-16 17:08] mmedenjak commented on #8258
That patch is incomplete as indicated [here](https://github.com/hazelcast/hazelcast/issues/3864#issuecomment-566925729).

[2021-01-16 17:44] mmedenjak commented on #13007
No problem, if you manage to submit the PR enough time before the release, we'll include it.

[2021-01-17 09:03] cforce commented on #3864
Do i get the feature with enterprise support :-) ?

[2021-01-17 13:30] enozcan commented on #18026
Hi @venustulips,

HazelcastCacheRegionFactory provides second level caches backed by IMap. And IMap treats the stored values with value type semantics, not reference. So even if the serialization of Hibernate's ReferenceCacheEntry is handled, it will not make sense (and the serialization exception you got is caused by this, not your LanguageMaster entity).

I believe, however, with HazelcastLocalC

[2021-01-18 03:10] CobraStarLE commented on #18059
Now this error is reported：
2021-01-18 11:00:59.175 |-WARN  [hz.hazelcast-waustreet-instance.partition-operation.thread-6] |-Caller+0	 at com.hazelcast.logging.StandardLoggerFactory$StandardLogger.log(StandardLoggerFactory.java:49)
|- c.h.c.i.raftop.metadata.InitMetadataRaftGroupOp [49] -| [192.168.1.220]:5702 [waustreet] [3.12.11] Invalid initial CP members! Expected: [CPMember{uuid=351767f8-021d

[2021-01-18 07:56] devozerov commented on #18023
Closing as a duplicate to #17314.

[2021-01-18 07:56] #18023 closed

[2021-01-18 08:10] devozerov commented on #15229
Closing this issue for now - it was created too early, no specific ideas at the moment.

[2021-01-18 08:10] #15229 closed

[2021-01-18 08:11] devozerov commented on #15321
Closing, as there are not immediate plans for now. We may re-open it if needed.

[2021-01-18 08:11] #15321 closed

[2021-01-18 08:11] devozerov commented on #15281
Closing for now. We will deal with memory management when starting working on blocking operators. No need for a separate ticket for now.

[2021-01-18 08:11] #15281 closed

[2021-01-18 08:13] devozerov commented on #15280
Closing for now. This ticket was created during the research phase. We will deal with the mentioned features in smaller steps, probably across several releases. Hence, there is no need to keep a single separate ticket with some specific assumptions, that possibly would not hold during the implementation.

[2021-01-18 08:13] #15280 closed

[2021-01-18 08:17] devozerov commented on #17059
No specific plans for now. Closing.

[2021-01-18 08:17] #17059 closed

[2021-01-18 10:07] CobraStarLE commented on #18059
Sometimes it works,but Now,report this error:
2021-01-18 18:03:33.347|-[hz.hazelcast-waustreet-instance.cached.thread-3-] |-INFO  [hz.hazelcast-waustreet-instance.cached.thread-3] |-Caller+0	 at com.hazelcast.logging.StandardLoggerFactory$StandardLogger.log(StandardLoggerFactory.java:49)
|- com.hazelcast.nio.tcp.TcpIpConnector [49] -| [192.168.0.157]:5701 [waustreet] [3.12.11] Could not connect to

[2021-01-18 11:43] CobraStarLE commented on #18059
hello,
The same IP, but different ports, cannot be discovered by each other using TcpIpConfig.

[2021-01-18 13:42] Holmistr commented on #3864
@cforce Obviously we would love to get it implemented but currently we're running out of people to work on that. We can definitely talk about this more, e.g. via Slack (Jiri Holusa) and try to get this prioritized.

[2021-01-18 13:48] Holmistr commented on #14259
Perhaps @vbekiaris would know :arrow_up: ?

[2021-01-18 13:54] Holmistr commented on #16467
:+1:

[2021-01-18 13:54] #16467 closed

[2021-01-18 14:08] sancar commented on #1227
We have support for String[] on PortableReader.
The java collections having portable objects are being discussed but not a priority.

In 4.2, we will be adding some types for SQL support which will include BigDecimal, LocalDate, LocalTime, LocalDateTime, OffsetDateTime, and Array versions.

We don't plan to have indexed positions.

Documentation for writing null portable can be found here.
https:/

[2021-01-18 14:09] #17060 closed

[2021-01-18 14:11] Holmistr commented on #17418
CC @devozerov - something to watch for with the new SQL engine - to make it work even with non-standard characters.

[2021-01-18 14:21] sancar commented on #13041
It is not something hard to add. The only problem is PortableReader/PortableWriter methods need new methods for `read/writePortable` where they don't expect a `Portable` interface.

That being said, we probably address this in the new format rather than Portable.

[2021-01-18 21:10] mmedenjak commented on #13041
I was referring to that - are we planning to do something like that (external schemas) in the new format?

[2021-01-19 01:40] CobraStarLE opened #18068 "TcpIpConfig when"
Environment settings:
Hazelcast version: 3.12.11
Hazelcast service A, B: IP address is the same, 192.168.1.220, but the ports are different.
Hazelcast service C: IP address is not the same as A, B, IP network segment is also different, 192.168.0.157.

I now describe my specific operation process:
1, first start the C service, and then start the A, B service, respectively, they three can discover e

[2021-01-19 02:55] wubumihuo opened #18069 "Can add an request for map size in rest api?"
It would be useful to have the ability to request Map size from the REST interface. This will be very userful for our monitoring.
**version:**
We now use Hazelcast Version 4.1.

**update:**
when we want to request map size like GET  {ip}:{port}/hazelcast/rest/maps/test/size ，it give the response of the value in map named "test" and the key is "size".

**code:**
The code in com.hazelcast.internal.a

[2021-01-19 08:54] #17904 closed

[2021-01-19 09:06] devozerov commented on #17418
Might be related to https://github.com/hazelcast/hazelcast/issues/17477

[2021-01-19 09:08] #17334 closed

[2021-01-19 11:20] sancar commented on #13041
Yes, it is the plan for the new format. Note that The API is still subject the change.

Instead of implementing an interface, user will be able to register a serializer for a class as follows:

[code]

Actually, the plan is not to get this config from the user at all when we can. Only the object is complicated enough, the user will have to fallback to this API.

[2021-01-19 12:07] vbekiaris commented on #14259
I can confirm that `hazelcast.initial.min.cluster.size` property will not stop client operations from being executed on the cluster.

A "workaround" could be to configure the `IMap` with [split-brain protection](https://docs.hazelcast.org/docs/4.1.1/manual/html-single/index.html#split-brain-protection) so that operations are not allowed when cluster member count is lower than a designated number.

[2021-01-19 14:38] #17302 closed

[2021-01-19 16:34] hostalp opened #18072 "Combined use of local (non-distributed) and distributed data structures"
**Please describe the problem you are trying to solve**
We use Hazelcast mostly for caching certain data (via Spring). We have cases where we want to have some of these data distributed across the cluster, but at the same time other data to exist only at each node locally (there could be even different values for the same entries and that's perfectly fine in these cases).

Hazelcast doesn't seem t

[2021-01-19 20:54] sancar commented on #11737
Should be fixed by https://github.com/hazelcast/hazelcast/pull/18040
I have checked the commit and the test failure is before the above pr is merged.
Closing for now. If we see a new failure we can reopen.

[2021-01-19 20:54] #11737 closed

[2021-01-20 07:33] emre-aydin commented on #16952
@mmedenjak yes, closing it now. It was fixed in Management Center version 3.12.11.

[2021-01-20 07:33] #16952 closed

[2021-01-20 10:10] Jimver opened #18074 "Query custom attributes with SQL"
**Please describe the problem you are trying to solve**
I'm trying to query (using SQL) custom attributes defined by an `AttributeConfig` consisting of the attribute name and `ValueExtractor` class name. However there is no column with the custom attribute name to query.

**Please describe the desired behavior**
Take for example the following map configuration:
[code]
When querying `SELECT customa

[2021-01-20 10:33] Holmistr opened #18075 "FIFO Eviction policy out of the box"
**Please describe the problem you are trying to solve**
I would like to evict entries based on their creation time. I want to evict the oldest ones first.

**Please describe the desired behavior**
Basically FIFO eviction. I would like to specify directly in the configuration something like:
[code]

**Describe alternatives you've considered**
I know that this is easily implementable by custom evict

[2021-01-20 21:10] blazember commented on #1910
@mmedenjak no, it touched only the member-to-member connections.

[2021-01-21 06:50] #16741 closed

[2021-01-21 06:50] #17463 closed

[2021-01-21 06:52] emre-aydin opened #18076 "Polling MC events shouldn't delete them"
Currently, we delete MC events stored on a member when they're polled by an MC instance. Problem is,
when multiple MCs connect to the same cluster, each member gets a different subset of the events. As
a solution, we might use a ringbuffer to store the last x events and let any MC that connects to poll for them.

[2021-01-21 15:24] kwart opened #18077 "HazelcastManifestTransformer doesn't work properly with current Maven Shade plugin version"
The configuration of transformers has changed between Maven Shade plugin versions, but we didn't realize it so even the `HazelcastManifestTransformer` was executed it had an empty configuration.

This issue is related to (causes) the hazelcast/hazelcast-enterprise#3906.

[2021-01-21 15:36] Holmistr opened #18079 "Do not deserialize entry multiple times if multiple indexes are used"
**Describe the bug**
When having multiple indexes on a map, each time an entry (e.g. with BINARY in-memory format) is put in the map and thus to the index, the entry is deserialized for each index instead just once. This causes performance penalty.

**Expected behavior**
Deserialize only once.

**Additional context**
This behavior was observed using the Predicate API. The related code is here: htt

[2021-01-21 17:18] mgoldver opened #18083 "Hazelcast documentation incorrectly states that "local" option is available for ItemListener [HZ-2777]"
**Describe the bug**
The documentation states:
`item-listeners: Lets you add listeners (listener classes) for the list items. ... You can set **local** to true if you want to listen to the items on the local member.`

**Expected behavior**
The **local** option is not available for IQueue, ISet, IList or ReplicatedMap ItemListener.

**To Reproduce**
instance.getQueue("someQueue")
                .a

[2021-01-22 06:00] rloeffel commented on #18079
We also observed this behaviour during partition migration, which completly destroys our cluster. have a look at the following stacktrace:

com.hazelcast.internal.serialization.impl.ByteArraySerializerAdapter.read(ByteArraySerializerAdapter.java:49)
                                          	com.hazelcast.internal.serialization.impl.AbstractSerializationService.toObject(AbstractSerializationServic

[2021-01-22 11:24] krasnyt commented on #9745
This should've been already mentioned in the doc guys.

[2021-01-22 13:11] neilstevenson opened #18085 "Enhancement: IExecutor meta-data available"
When a `Runnable` or `Callable` runs, it can be `HazelcastInstanceAware` but does not have access to information about itself. There is no `ExecutorServiceAware`

For a task submitted to `DurableExecutorService`, the caller is aware of the `TaskId`, but the task itself is not.
Given that task may have to be re-executed somewhere itself, it would be useful to have at least the `TaskId`as this might

[2021-01-22 14:29] mdumandag opened #18087 "com.hazelcast.json.MapPredicateJsonTest takes 20+ minutes to complete"
Tests in the `com.hazelcast.json.MapPredicateJsonTest` take 20+ minutes to complete in the PR builder.

It might make sense to mark this as `SlowTest` but I feel like the tests there are pretty simple and should complete quickly.

When I run the test suite locally, I see that in some tests, I get the following logs regarding invocation retries and individual tests take 1+ min to complete. Sometime

[2021-01-22 14:33] viliam-durina commented on #17474
Currently we also support `TIMESTAMP WITH LOCAL TIME ZONE`, it will use the `TIMESTAMP_WITH_TIME_ZONE` type, which isn't correct. The type `WITH LOCAL TIME ZONE` should not store the TZ, but instead convert the TZ to the TZ of the client session.

In Jet we use `TIMESTAMP WITH TIME ZONE` in the `CREATE MAPPING` command. The variant with underscores or with `LOCAL` doesn't work there.

[2021-01-22 15:07] devozerov commented on #17936
Fixed in https://github.com/hazelcast/hazelcast/pull/18047

[2021-01-22 15:07] #17936 closed

[2021-01-23 12:14] dominikrebhan commented on #18075
Hi,
I just looked into it and I think it should be implementable with just a few changes. It should be enough, to add a new FIFOEvictionPolicyComparator and add it to the config and eviction provider. If it's ok, I could take this issue and add also the necessary tests.

[2021-01-25 07:53] sancar commented on #18052
Fixed by https://github.com/hazelcast/hazelcast-enterprise/pull/3908 and https://github.com/hazelcast/hazelcast/pull/18082

[2021-01-25 07:53] #18052 closed

[2021-01-25 11:10] #17954 closed

[2021-01-25 19:48] Holmistr commented on #18075
Hi @dominikrebhan , thanks a lot for the interest! Sure, you're more than welcome to take it. :tada:

@mmedenjak Is there anything else we forgot about?

[2021-01-26 10:24] #18077 closed

[2021-01-26 10:35] viliam-durina opened #18095 "Races in `QueryClientStateRegistry`"
[Here](https://github.com/hazelcast/hazelcast/blob/0e4ddb0f0d2ec3141bfb83ba13ccd879e9b893fe/hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryClientStateRegistry.java#L63-L69) we handle the case when the client cursor was already created while handling a `close` message. However, in this case, we don't close the `result` object passed to the `registerAndFetch` method, which leaves the unde

[2021-01-26 14:39] mdumandag opened #18098 "com.hazelcast.internal.jmx.ReplicatedMapMBeanTest.testAttributesAndOperations"
Failed on http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/3526/testReport/junit/com.hazelcast.internal.jmx/ReplicatedMapMBeanTest/testAttributesAndOperations/

Stacktrace

[code]

[2021-01-27 10:38] neilstevenson opened #18102 "NullPointerException on cluster properties"
Cluster properties accept a null, but then throw a NPE when retrieved. Neither is good.

Reproducer, tested on 4.1.1

[code]

[2021-01-27 13:12] sancar commented on #16299
A new test failure
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/3545/testReport/junit/com.hazelcast.partition/PartitionMigrationListenerTest/testMigrationStats_whenMigrationProcessCompletes/

[code]

[2021-01-27 14:15] ahmetmircik opened #18104 "Unknown EventFilter type"
[code]

[2021-01-28 10:11] petrpleshachkov opened #18109 "Indexes don't support some of the temporal types"
Our indexes don't support `LocalTime`, `LocalDate`, `LocalDateTime` and `OffsetDateTime`. Since our Order by solely relies on the indexes, it also imposes limitations on the supported order by field types.

[2021-01-28 10:25] vbekiaris commented on #17990
Fixed by https://github.com/hazelcast/hazelcast-code-samples/issues/468

[2021-01-28 14:31] ahmetmircik opened #18111 "Removal of canEvictRecord from EvictBatchBackupOperation"
A fix is needed for the described issue below after new expiry system merge.
[code]

[2021-01-28 15:53] #17930 closed

[2021-01-29 05:14] wubumihuo commented on #18069
can anyone help me ?

[2021-01-29 07:34] devozerov opened #18115 "SQL: Add support for the new Portable types"
In https://github.com/hazelcast/hazelcast/pull/17257 we introduced the new methods to extract more types from `Portable` objects.
We need to adjust the SQL engine to take advantage of these new types.

First of all, this relates to the schema resolution See `FieldsUtils.resolvePortableType`.

[2021-01-29 14:04] ahmetmircik commented on #18043
@mmedenjak

By starting 4.0, map and cache are using same underlying eviction config implementation, before that map's `size` was a string type.

I think we can restore old behavior by fixing current one.

[2021-01-29 18:17] nikbali opened #18123 "Changing the MapConfig from Hazelcast Mancenter leads to incorrect behavior"
My environment configuration:
- Hazelcast Version = **3.12.5**
- Hazelcast Mancenter Version = 3.12.7
- 1 member cluster
- For connect to Hazelcast cluster Iam using - `HazelcastClient.newHazelcastClient(config)`

**To Reproduce**

I configure IMap in my Spring Boot application:

[code]

I set up evict LRU policy by 20% percents of JVM heap size (`new MaxSizeConfig (20, USED_HEAP_PERCENTAGE)`)

I

[2021-02-01 06:26] francesco-hz opened #18125 "Possibly incorrect behaviour described by `EntryEvictedListener` and `EntryExpiredListener` Javadocs"
I believe `EntryEvictedListener` and `EntryExpiredListener` Javadocs for version 4 should be reviewed as the following statement:

does not apply to version 4 of IMDG, where events are now kept separated.
Following explanation from Engineering:

This was found while trying to replicate ZD7007
Thank you. F.

[2021-02-01 07:11] mmedenjak commented on #18069
Hi @wubumihuo ! Thank you for the suggestion. We will not add this capability for now as we assess it as low priority. I suggest closing this issue until we get more community interest cc @Holmistr @nfrankel

[2021-02-01 07:16] mmedenjak commented on #18072
Hi @hostalp ! Thank you for the suggestion. If I understand you're looking for something like the ReplicatedMap, with the exception that the values might be different on different nodes (not sure if you're ok with them being different temporarily or permanently).

We will not add this capability for now as we assess it as low priority. I suggest closing this issue until we get more community inter

[2021-02-01 07:18] mmedenjak commented on #18074
Thank you for the suggestion @Jimver ! @devozerov do we already have some issue like this one?

[2021-02-01 07:21] mmedenjak commented on #18079
@Holmistr is this an issue when querying using predicate API or SQL engine?

[2021-02-01 07:23] mmedenjak commented on #18083
Thank you for the report @mgoldver ! I think this is something that needs to be cleaned up on the level of documentation as I don't believe we'll add local listeners for other structures just yet.

[2021-02-01 08:04] devozerov commented on #18074
To my knowledge, there is no issue for custom attribute support at the moment. Whether we want to have them in the first place is an open question, because the current custom attribute API works with Java class names, which goes against our polyglot strategy.
We should consider alternative options: (i) support custom attributes? (ii) remove them from the API completely in favor of something more g

[2021-02-02 07:04] wubumihuo commented on #18069
@mneedham tks. I'd close the issue,I hope more can watch and  support it  in Backlog

[2021-02-02 07:04] #18069 closed

[2021-02-02 09:40] #17591 closed

[2021-02-02 11:04] vbekiaris commented on #16299
In the latest failure, the cluster state was observed as `IN_TRANSITION` from the `MigrationOperation`s scheduled by the repartioning task:

[code]

This does not look like an issue, repartitioning is rescheduled and migrations are completed successfully. However it breaks the planned vs actual completed migrations assertion in the test.

[2021-02-02 13:28] #18053 closed

[2021-02-02 13:29] vbekiaris commented on #18053
@dsyer thanks for the issue report. The fix is now merged in `4.2-SNAPSHOT` and will be backported to `4.0.z` and `4.1.z`.

[2021-02-02 14:35] viliam-durina opened #18129 "Serialization of CopyOnWriteArrayList is racy"
The `CopyOnWriteArrayListStreamSerializer` delegates the serialization to the superclass, which is racy. It first writes the size and then the elements, but the collection can be modified in the meantime. Also the deserialization adds the elements one by one, which causes the copy-on-write.

Causes hazelcast/hazelcast-jet#2864.

[2021-02-02 16:56] devOpsHazelcast commented on #18072
Hi @hostalp ! Thanks a lot for opening the issue.

We have discussed this internally and unfortunately we have decided that this is not a feature that fits into our long-term vision. It's an essential change of the internals and since there weren't any other users so far requesting this, it seems like it's not worth this massive effort. Sorry.

I'm going to close this issue. We'll monitor it for a

[2021-02-02 16:56] Holmistr commented on #18072
Hi @hostalp ! Thanks a lot for opening the issue.

We have discussed this internally and unfortunately we have decided that this is not a feature that fits into our long-term vision. It's an essential change of the internals and since there weren't any other users so far requesting this, it seems like it's not worth this massive effort. Sorry.

I'm going to close this issue. We'll monitor it for a

[2021-02-02 16:57] #18072 closed

[2021-02-03 09:15] Danny-Hazelcast opened #18131 "HazelcastSerializationException Failed to serialize 'com.hazelcast.query.impl.CachedQueryEntry'"
Zeynel
when we use Index in a map and then pass this index to an Aggregator we receive return values in CachedQueryEntry format. However, it causes a serialization exception due to no default serializer. Is this a bug? Please advise. (tested with HZ v4.1 and 3.12.x)
Exception;

[code]

Example;

[code]

[code]

[2021-02-03 10:26] ahmetmircik opened #18135 "SqlNoDeserializationTest failures"
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/3636/

**server**
[code]
**client**

[code]

[2021-02-03 10:43] #17471 closed

[2021-02-03 10:49] #17750 closed

[2021-02-03 11:00] sancar commented on #17847
Hi @a1dutch ,
We could not find the relation of `hazelcast-client-protocol 1.8.0`  with `CVE-2016-10750` .
More specifically, the report was about JoinRequest and untrusted deserialization.

Note that the fix https://github.com/hazelcast/hazelcast/pull/12230 is still in place which was related to `CVE-2016-10750` . .
The codes included via `hazelcast-client-protocol 1.8.0` does not do any deserial

[2021-02-03 11:04] mmedenjak commented on #18135
@devozerov can you take a look?

[2021-02-03 11:08] mmedenjak commented on #18123
Hi @nikbali !

I think the problem is that the "update map config" feature promises more than it can deliver. Specifically, it says it will update the whole map configuration but actually some parts work and some don't. More concretely, I think changing the TTL value is not supported. @ahmetmircik can you confirm?

[2021-02-03 11:10] mmedenjak commented on #18102
Adding to backlog. It's a nice addition, but not critical.

[2021-02-03 11:12] mmedenjak commented on #18085
Adding to backlog. It's a nice addition, but not high priority yet.

[2021-02-03 11:26] ahmetmircik commented on #18123
@mmedenjak I can't see a field for max-size-policy in the screenshot above, possibly it is sending a default value, may be it is PER_NODE since it is the first in enum, to MC and this changing the previously set max-size-policy and causing the issue. I think, this should be working in later versions of management center. This very case in the issue should work without any problem.

[2021-02-03 11:29] mmedenjak commented on #18123
Thanks, maybe @emre-aydin can comment with some thoughts and ideas.

[2021-02-03 11:31] a1dutch commented on #17847
Hi @sancar,

[CVE-2016-10750](https://nvd.nist.gov/vuln/detail/CVE-2016-10750) is being flagged by dependency check because its finding hazelcast dependencies before 3.11.

Even in the root pom for the tag for 3.12.10 you can see the reference to hazelcast-client-protocol 1.8.0

https://github.com/hazelcast/hazelcast/blob/b096a74730f2ada2907eb5e2954a87a9913c1c59/pom.xml#L41

possibly this may just

[2021-02-03 11:42] sancar commented on #17847
I see. Then it is definitely false positive.

They are two different projects which were versioned in different times.
`hazelcast-client-protocol 1.8.0` do not have a relation with `hazelcast 1.8.0`

In 3.6, we had 1.0 client protocol, where the client protocol is first started.
...
In 3.11, we had 1.7 client protocol.
In 3.12, we had 1.8 client protocol.

[2021-02-03 11:44] a1dutch commented on #17847
ok brilliant, thanks for your help

[2021-02-03 11:44] #17847 closed

[2021-02-03 13:21] emre-aydin commented on #18123
@ahmetmircik you're right. MC always sends the config with `"PER_NODE"` max size policy and max size=`2147483647`. I'm not sure why that is the case. Since we don't allow changing the max size policy and size via MC, I think it makes sense on cluster side to discard the setting coming from MC and not send them in next MC 3.12.z version. If it makes sense to you as well, I can send PRs to both MC a

[2021-02-03 13:36] ahmetmircik commented on #18123
@emre-aydin Server side supports max size policy changes, for instance one can make a non-evictable IMap evictable at runtime. To me, if it is not a used feature, we can disable it, but i don't have supporting evidence for this.

[2021-02-03 13:46] emre-aydin commented on #18123
@ahmetmircik since the server side supports it, it makes sense to add the option to the UI. I will create an issue for it in MC repository so that we can fix it in the next version of MC.

[2021-02-03 16:01] #18095 closed

[2021-02-03 17:11] Holmistr commented on #18079
@mmedenjak In this specific usecase, the Predicate API was used.

[2021-02-04 08:17] mdumandag opened #18147 "com.hazelcast.internal.partition.MigrationCorrectnessTest.testPartitionData_whenBackupNodesTerminated[backups:3,nodes:4,fragmented:false]"
Failed on http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/3669/testReport/junit/com.hazelcast.internal.partition/MigrationCorrectnessTest/testPartitionData_whenBackupNodesTerminated_backups_3_nodes_4_fragmented_false_/

**Error Message**
[code]

**Stacktrace**
[code]
**Standard Output**
[code]

[2021-02-04 11:08] longtimeago opened #18151 "IMap becomes empty after another client connection"
**Describe the bug**
IMap becomes empty after another client connection

**Expected behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**
Scenario:
1) client 1 put (setAsync) a value to IMap with and starts reading the size of the map (in a cycle); it can see 1
2) client 2 connects to the same IMap and starts reading the size of the map (in a cycle) - it can

[2021-02-04 11:25] #17563 closed

[2021-02-04 15:05] smartpuma opened #18154 "External config override for rest-api endpoint-group name always lowercase"
Config override with system properties to enable REST for endpoint-group DATA:
-Dhz.network.rest-api.enabled=true -Dhz.network.rest-api.endpoint-groups.DATA.enabled=true

[code]

It looks like the whole input value from system properties is converted to lowercase. The name of the endpoint-group should remain in uppercase. Or should be converted to uppercase before RestEndpointGroup.valueOf(name) i

[2021-02-04 15:33] #17843 closed

[2021-02-04 22:10] viliam-durina opened #18155 "Insufficient workaround for overflow in CAST"
In the following query:
[code]
[We fix](https://github.com/hazelcast/hazelcast/blob/68fa25a6c13fd2336681e405d250f757ad11b73a/hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastSqlToRelConverter.java#L120-L133) the issue in Calcite where it doesn't check for overflow but trims the value, but our code checks it. However in the following query:
[code]
We no longer fix it and the

[2021-02-05 06:33] toanil01 commented on #7567
Hello,

I recently upgraded my jars from hazelcast-3.6.2 to hazelcast-3.12.11. with this configuration i'm getting the org.hibernate.cache.CacheException: No instance with name [hcinstance] could be found.

where i given entry in hibernate-cfg.xml at the time sessionFactory creation
<property name="hibernate.cache.hazelcast.instance_name">hcinstance</property>

If i remove the <property name="hibe

[2021-02-05 08:14] viliam-durina commented on #17735
In IMDG 4.1 you can use SQL to read a big map in a streaming way.

[2021-02-05 10:09] thake commented on #17979
A collegue of mine experienced the same problem. He was running Docker Desktop for Windows on Hyper-V. I think this maybe related to this: https://pomeroy.me/2020/09/solved-windows-10-forbidden-port-bind/

@manish-in-java Are you also running Docker Desktop on Hyper-V?

[2021-02-05 10:19] qeepcologne opened #18158 "map config / eviction size="0" with HazelcastLocalCacheRegionFactory / reported puts>0"
I am using https://github.com/hazelcast/hazelcast-hibernate and set config like that:
[code]
to temporary switch off cache.

I am not shure if this is working correctly:
- i cannot look into the map because i am using HazelcastLocalCacheRegionFactory
which do not expose maps (only ITopic) for the second level Caches.
- checking EvictionConfig.setSize it says: any non-negative number, nothing found

[2021-02-05 10:23] manish-in-java commented on #17979
Hi @thake, no I am not running Docker. I do not have it installed. Nor am I using Hyper-V.

[2021-02-05 11:04] nikbali commented on #18123
I think that overridden my previously set configuration implicitly.
But why can't I add more than 271 entries to the map?
If you say that MC always sends configuration with "PER_NODE" policy of maximum size and maximum size = 2147483647

[2021-02-05 11:18] #17695 closed

[2021-02-05 12:20] kwart commented on #17979
I can reproduce the issue on Windows when I disconnect the network cable (and wifi is disabled too).
[hazelcast.log](https://github.com/hazelcast/hazelcast/files/5932320/hazelcast.log)

[2021-02-05 12:26] kwart commented on #17979
@manish-in-java My finding doesn't explain why you have the bind-address occupied. Could you run the following commands (in cmd as Administrator) and share their output?

[code]

[2021-02-06 22:45] paritalagt opened #18160 "Combining 2 hazelacst pod running in 2 different k8 cluster"
**Please describe the problem you are trying to solve**
...

**Please describe the desired behavior**
...

**Describe alternatives you've considered**
...

[2021-02-06 22:48] paritalagt commented on #18160
I am using hazelcast for broadcasting message and i want pod in cluster A will be able to broadcast message in Cluster A as well as in cluster B but so far i am able to broadcast message in cluster but i am not sure how i can add multiple discovery because i already added discovery in config for cluster A

[2021-02-08 08:26] sancar commented on #16593
Hi @Danny-Hazelcast, it took as a while to check this. I can not access to logs of any failing tests.

The report feels like expected behaviour but I don't want to come to a conclusion before seeing the logs.
@Danny-Hazelcast Do you have any suggestions? To which build I should look.

[2021-02-08 09:35] Danny-Hazelcast commented on #16593
@sancar i think most of the important info was posted in this issue.

this issue was a hang at a call to 'latch.await(1, TimeUnit.SECONDS);' which is expected to return after 1 second

i will see if we can reproduce the issue on 4.1, or hazelcast head master

[2021-02-08 11:30] mdumandag opened #18163 "GracefulShutdownCorrectnessTest.testPartitionData_whenNodesShutdown[backups:2,nodes:3,shutdown:1]"
Failed on http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/3745/testReport/junit/com.hazelcast.internal.partition/GracefulShutdownCorrectnessTest/testPartitionData_whenNodesShutdown_backups_2_nodes_3_shutdown_1_/

**Error Message**
[code]
**Standard Output**
[code]

[2021-02-08 12:05] ufukyilmaz opened #18164 "com.hazelcast.spi.impl.HazelcastRunningInForkJoinPoolTest.no_deadlock_during_proxy_initialization"
Failed on: http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/3744/testReport/junit/com.hazelcast.spi.impl/HazelcastRunningInForkJoinPoolTest/no_deadlock_during_proxy_initialization/

Related PR #17973.

**Error Message**
[code]

**Stack Trace**
[code]
**Standart Output**
[code]
**Standard Error**
[code]

[2021-02-08 13:16] Danny-Hazelcast commented on #16593
@sancar  good news, can't reproduce this issue on 4.2-SNAPSHOT

[2021-02-08 14:48] vbekiaris commented on #16299
The failure can be reproduced consistently by introducing a delay in the [`for` loop that delivers](https://github.com/hazelcast/hazelcast/blob/40d555dc1110da9f63fd66f504c83d4382d0384b/hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionLog.java#L91) the `CommitClusterStateOp`s to each member.

The mechanics of the failure are as follows:

* In transaction prepare phase, all members

[2021-02-08 14:48] #16299 closed

[2021-02-08 15:09] #17952 closed

[2021-02-08 15:25] sancar commented on #16593
@Danny-Hazelcast I am closing the issue for now then.

[2021-02-08 15:25] #16593 closed

[2021-02-08 15:32] vbekiaris commented on #17776
The root cause is the same as here https://github.com/hazelcast/hazelcast/issues/16299#issuecomment-775201557.

[2021-02-08 17:13] #18057 closed

[2021-02-09 06:58] sancar opened #18173 "EvictionTest.testOnExpiredKeys_keySet[statisticsEnabled:true]"
http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/3748/testReport/junit/com.hazelcast.map/EvictionTest/testOnExpiredKeys_keySet_statisticsEnabled_true_/

Error Message
expected:<0> but was:<2>
Stacktrace
[code]

[2021-02-09 07:33] mmedenjak commented on #18151
Hi @longtimeago, thank you for your report. @sancar any explanation why this would be the case?

[2021-02-09 07:34] mmedenjak commented on #18154
@smartpuma thank you for your report. @pivovarit can you take a look?

[2021-02-09 07:36] pivovarit commented on #18154
Good catch, will take care of that

[2021-02-09 07:36] mmedenjak commented on #18158
@qeepcologne thank you for your report. @pivovarit @enozcan any ideas about this issue?

[2021-02-09 07:38] mmedenjak commented on #18160
@paritalagt thank you for your suggestion. If I'm not mistaken, you would like a message in cluster A to be published in cluster B. In other words, you would like messaging to work across multiple clusters. Is that right?

[2021-02-09 07:49] enozcan commented on #18158
Hi @qeepcologne,

Based on your hazelcast-hibernate version, eviction size of 0 might be assumed as ignoring the size based eviction. That means, cache size will not affect the eviction. Which version do you use?

What about hit counts? Hibernate might count it as a put but the L2C might evict it immediately. I suggest you to check second level cache hit count also.

[2021-02-09 08:37] sancar commented on #18151
I don't have any explanation for that. This should not be possible.
@longtimeago Can you prepare a project to show the failure ?
Is it consistently showing the same behaviour ?

A long shot but I will note anyway. Only explanation for this behaviour that I have is TTL.
Could you be using the setAsync with TTL accidentally?https://github.com/hazelcast/hazelcast/blob/v3.9.2/hazelcast/src/main/java/c

[2021-02-09 08:52] longtimeago commented on #18151
@sancar thanks a lot for the answer! Let me try to answer your questions one-by-one :)

Can't promise but will try :)

Yes, it is. I don't even need to restart Hazelcast server to reproduce that (but after server restart it's the same as well)

Not sure wdym? From what I got even with setAsync and TTL we should not see such behavior, right?

Noup, it was a deliberate decision :)

Note that here re

[2021-02-09 09:42] qeepcologne commented on #18158
@enozcan thanks for the quick answer.
version is hazelcast-hibernate53:2.2.0
hitCount and missCount is 0 (but was already 0 before setting the size to zero, that's the reason why i wanted to turn off that cache, because we cache that on a higher level).

[2021-02-09 10:14] ahmetmircik commented on #18173
We did merge https://github.com/hazelcast/hazelcast/pull/18093 yesterday. This issue should not be seen after merging it. If we see it happening again, we can reopen this issue.

[2021-02-09 10:14] #18173 closed

[2021-02-09 10:19] ahmetmircik commented on #17959
We merged https://github.com/hazelcast/hazelcast/pull/17973 which we think as a solution for the issue. Please reopen this issue, if it is encountered again.

[2021-02-09 10:19] #17959 closed

[2021-02-09 10:37] sancar commented on #18151
So, you are using TTL.
I think I did not understand the problem.
To be clear, if you are using a TTL value lets say 5 seconds. The entry will be deleted from the map after 5 seconds. And this is the expected behaviour.

From the issue description, I think you are just seeing the expected behaviour. The second client connection is just happens to be at the same time with the TTL end.

Am I missing

[2021-02-09 10:57] longtimeago commented on #18151
@sancar Oh, wait a sec. Sorry for the mess, lets forget about TTL (I said about TTL because in production use-case we use TTL).

In test case from the issue description the weird behavior is observed with setAsync **without TTL**

[2021-02-09 11:05] ahmetmircik commented on #18164
A fix was merged here which relaxes concurrency: https://github.com/hazelcast/hazelcast/pull/18093/files#diff-5c106b9063c64e442018c0564fd706ff957aa5b7859da5599d35a8e4370b646c

I did see this issue later. If failure reoccurs, we can reopen this issue.

[2021-02-09 11:05] #18164 closed

[2021-02-09 11:41] paritalagt commented on #18160
Hi @mmedenjak

yes thats correct

[2021-02-09 11:48] sancar commented on #18151
If this is not TTL, then I don't know where to start.
Client connections does not have any relation with Map directly. I don't see a way for clients to affect Map.

Another guess. If this is not ttl, only way a client sees an empty map(where it was full initially) could be a cluster being restarted or client disconnecting and connecting back to a different cluster. Please double check your client

[2021-02-09 12:15] #18098 closed

[2021-02-09 13:18] mmedenjak commented on #18160
Then basically if I were to translate it into our feature set, you're looking for [WAN replication support](https://docs.hazelcast.com/imdg/latest/wan/wan.html) for `ITopic` (or `ReliableTopic`).

I don't think this is planned so I suggest closing this issue until we get more feedback or assess the priority. @Holmistr would you agree?

[2021-02-09 13:25] enozcan commented on #18158
@qeepcologne I just verified that in v2.2.0, `eviction-size=0` ends up with Integer.MAX_VALUE eviction size for a region. So this won't be appropriate to use for turning the cache off. But the hit, miss and put statistics for local regions must be correctly reported. Are you sure you're checking the right region's statistics? The following code will return the hit counts for all L2C regions with t

[2021-02-09 13:31] paritalagt commented on #18160
You mean wan replication have that feature or it needs to be implemented in future

[2021-02-09 13:34] mmedenjak commented on #18160
Out-of-the-box WAN replication is part of our enterprise feature set but we provide an SPI for you to implement WAN replication in our open-source product. But unfortunately, only `IMap` and `ICache` support WAN replication as of this moment, not `ITopic` nor `ReliableTopic` or any other data structure.

[2021-02-09 13:48] pivovarit commented on #18158
If you just want to bypass the second-level cache, it's better to turn it off at Hibernate's level by setting `hibernate.cache.use_second_level_cache` to `true`.

However, I'm not sure if that would solve your problem. I assume you want to turn it off only for one particular entity?

[2021-02-09 14:36] qeepcologne commented on #18158
@enozcan:
´´´eviction-size=0 ends up with Integer.MAX_VALUE´´´
This is what i was afraid of and why i opened the bug for, this is not documented in any way in EvictionConfig.

I was using getDomainDataRegionStatistics but that should make no difference here.

Ok lets change the question: how to turn off the cache for a specific dto for/via hazelcast(config)?
- turning off all caches via use_second

[2021-02-09 14:56] paritalagt commented on #18160
![image](https://user-images.githubusercontent.com/78666171/107380965-59ec8200-6abc-11eb-8d74-c7f972b10970.jpg)

Hi @mmedenjak  i am just curious is that possible to add two k8 cluster like above image ,in above diagram what i am thinking is to create one service exposing rest api for discovery of the hazelcast pod member through k8 service that external service will only collect the ip of the k8

[2021-02-09 15:32] mmedenjak commented on #18160
I don't have experience with k8s deployments unfortunately, maybe @leszko has some suggestions.

[2021-02-09 16:20] paritalagt commented on #18160
Hi @leszko

Can you please throw your some thoughts on above architecture

[2021-02-10 07:07] lechen26 opened #18177 "Hazelcast issue after injecting istio envoy proxy"
Hi

i'm having issue with hazelcast after enabling istio and i wonder how can i address this.

i have K8s cluster and i've recently installed istio.
when trying to add envoy to deployment with hazelcast i have a wierd issue where i have many coinnections error during rolling upgrade. i should mention eventually the deployment is OK but this errors indicate something is wrong.

i've noticed that wi

[2021-02-10 07:18] erdem325 commented on #593
+1

[2021-02-10 07:33] enozcan commented on #18158
@qeepcologne I do not think it's possible to turn off the caching of a specific entry at Hazelcast configuration level. With v2.2.0, LocalRegionCache is backed by Caffeine cache and [it actually supports](https://github.com/ben-manes/caffeine/blob/9423f15d6cdb19e75f71287bf71ba6c11dbd3aa1/caffeine/src/main/java/com/github/benmanes/caffeine/cache/Caffeine.java#L354-L355) cache size of 0 where entrie

[2021-02-10 09:36] Danny-Hazelcast commented on #18039
latest 4.2 SNAPSHOT fail
http://jenkins.hazelcast.com/view/stable/job/scale-up/48/console

[2021-02-10 10:51] Danny-Hazelcast commented on #18041
passing on 4.1, failing on current 4.2 SNAPSHOT

[2021-02-11 08:46] #18104 closed

[2021-02-11 08:57] mdumandag commented on #17377
Failed again on http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/3797/testReport/junit/com.hazelcast.internal.partition/MigrationCorrectnessTest/testPartitionData_whenBackupNodesStartedTerminated_withRestart_backups_1_nodes_2_fragmented_true_/

**Error Message**
[code]
**Stacktrace**
[code]
**Standard Output**
[code]

[2021-02-11 09:24] #18155 closed

[2021-02-11 10:34] Danny-Hazelcast commented on #18041
i have setup this job http://jenkins.hazelcast.com/view/stable/job/stable-x4/ to reproduce the issue
passing run http://jenkins.hazelcast.com/view/stable/job/stable-x4/31/console on 4.1
fail        run http://jenkins.hazelcast.com/view/stable/job/stable-x4/30/console on 4.2-BETA-1-SNAPSHOT
the only difference is the hazelcast version
it is really is difficult to believe.  i am checking to see it t

[2021-02-11 11:43] mmedenjak commented on #17377
@alex-dukhno could this be a duplicate of https://github.com/hazelcast/hazelcast/issues/18147?

[2021-02-11 12:59] vbekiaris opened #18190 "Hazelcast internal callbacks shouldn't use ForkJoinPool#commonPool [HZ-658]"
Using the `ForkJoinPool#commonPool` for Hazelcast operations risks blocking Hazelcast progress due to other misbehaving applications/libraries. Instead, a separate Hazelcast-internal pool should be used for those. Hazelcast code should execute dependent stages on that separate executor.

[2021-02-11 14:42] mmedenjak commented on #18177
Closing as duplicate of https://github.com/hazelcast/hazelcast-kubernetes/issues/296.

[2021-02-11 14:42] #18177 closed

[2021-02-11 14:44] mmedenjak commented on #18160
I see the question was also posted in https://github.com/hazelcast/hazelcast-kubernetes/issues/285, so we're only left with the enhancement of adding WAN replication to messaging, which I don't see on the roadmap. I suggest closing this issue then, WDYT @Holmistr

[2021-02-11 14:48] mmedenjak commented on #18190
How big of a task would this be? Is it small and safe enough to do in the post-feature-freeze period?

[2021-02-11 14:49] mmedenjak commented on #17979
@manish-in-java any updates on the above? Can you try it?

[2021-02-11 14:50] mmedenjak commented on #18109
@devozerov @viliam-durina @petrpleshachkov how big of a task is this? Is it safe enough and small enough to do before GA release?

[2021-02-11 14:59] mmedenjak commented on #7372
@ahmetmircik can we close this issue now that the situation has improved?

[2021-02-11 15:05] mmedenjak commented on #17047
@taburet how complicated is this? I see you mentioned "that could be a potential enhancement and should be pretty easy to implement" but I remember us talking about bitmap stats before:

But I might be mixing up things.

[2021-02-11 15:06] vbekiaris commented on #18190
There are ~80 production code usages of `whenCompleteAsync(BiConsumer)`, which is the most popular dependent stage execution method. These have to be migrated to use a separate `ForkJoinPool` executor instance with parallelism > 1. I think it is safe to do this after feature freeze. In the long run, we should figure out a way to enforce this rule in the production codebase.

[2021-02-11 15:08] mmedenjak commented on #17329
@alex-dukhno how much is missing? I see there are comments on the PR, would it be possible to include this before 4.2 GA?

[2021-02-11 15:10] mmedenjak commented on #17974
@blazember seems like there's not that much work in including the additional discriminator. Can we proceed with this for 4.2?

[2021-02-11 15:11] mmedenjak commented on #18030
@devozerov can you take a look?

[2021-02-11 15:14] mmedenjak commented on #17901
@blazember can this issue still make it into 4.2? How much effort do you estimate?

[2021-02-11 15:17] mmedenjak commented on #17874
@pivovarit how much more do you assess is remaining? I see lots has been fixed already.

[2021-02-11 15:36] mdumandag commented on #14868
Closing this since the issue is related to the Node.js client (and it is already fixed there)

[2021-02-11 15:36] #14868 closed

[2021-02-11 15:38] ahmetmircik commented on #7372
@mmedenjak yes seems so.

[2021-02-11 16:05] mmedenjak commented on #7372
Thank you for the awesome improvement, closing.

[2021-02-11 16:05] #7372 closed

[2021-02-11 16:16] pivovarit commented on #17874
Most issues on the member-side are covered. I'd say that only very specific corner cases remain, but these are unlikely to be touched when working with config overrides. However, there are still a couple of issues on the client-side and I'm actually working on them (want to submit a bigger PR for them)

[2021-02-11 16:20] taburet commented on #17047
@mmedenjak I believe this specific issues is about query/hits stats and that is pretty easy to implement. Memory usage stats are harder, most likely there is no performant and precise way of doing it live during the index mutation, something like an on-demand stats (when a user explicitly asks to compute the cost) looks like a better way.

[2021-02-11 16:22] mmedenjak commented on #17206
Moving the issue and PR into backlog - can be resurrected after the 4.2 release by someone from the team.

[2021-02-11 16:23] mmedenjak commented on #16353
Moving to backlog as I don't see this as a priority for 4.2

[2021-02-11 16:29] mmedenjak commented on #8333
Closing in favour of https://github.com/hazelcast/callhome/issues/35

[2021-02-11 16:32] mmedenjak commented on #17850
@hakanmemisoglu can this be closed now?

[2021-02-11 16:50] #17850 closed

[2021-02-11 17:15] #17670 closed

[2021-02-11 17:39] nkavian commented on #8333
The link you shared generates a 404. Is the repository private?

[2021-02-11 18:28] #18039 closed

[2021-02-11 18:29] mmedenjak commented on #18041
Closing as fixed, @Danny-Hazelcast feel free to reopen if that's not the case.

[2021-02-11 18:29] #18041 closed

[2021-02-12 07:14] kwart commented on #8333
Reopening this one, so we can track it on the HZ side too.
@mmedenjak We should resolve this before releasing 4.2.

[2021-02-12 07:16] kwart commented on #8333
This was also discussed within pull request #17892.

[2021-02-12 07:55] Fly-Style commented on #17776
Since this test is not reproducible both locally and on Jenkins, we can close an issue.
WDYT @mmedenjak ?

[2021-02-12 08:03] vbekiaris commented on #17776
I agree we can close this with same reasoning as discussed [here](https://github.com/hazelcast/hazelcast/issues/16299#issuecomment-775201557). If those tests fail again, then we can reconsider the test assertions.

[2021-02-12 08:24] alex-dukhno commented on #17329
@mmedenjak it requires review from @devozerov, I hope I addressed all of his comments (in PR and from our call discussing `CASE`)
If there is no critical task on SQL for `4.2` then maybe Vladimir can review it an we could merge it. But AFAI @Holmistr said that `CASE` is not critical functionality for `4.2`

[2021-02-12 10:48] devozerov commented on #17329
I think we should move it out of 4.2 and merge later with no rush. We agreed to allow for new expressions in patch releases, so we do not need to wait for 4.3 to release this.

[2021-02-12 11:22] Holmistr commented on #18190
@vbekiaris @mmedenjak I don't see this as a must have for 4.2. Definitely worth taking a look at higher priority and if we'll have time in 4.2, sure. But the current state has been like this for multiple releases (years?) with no massive impact up to my knowledge.

[2021-02-12 11:22] Holmistr commented on #18109
This would be a massive benefit if we could get it in 4.2.

[2021-02-12 11:26] Holmistr commented on #18079
A must have for 4.2.

[2021-02-12 11:28] Holmistr commented on #18111
@ahmetmircik @mmedenjak I don't understand the impact of this issue. Could you please clarify?
Based on the comment, it looks like we're living with it for several releases, there's no community reaction on it, I would say it's OK to move it out of 4.2. Feel free to correct me.

[2021-02-12 11:31] Holmistr commented on #17955
@sancar Could you please take a look?

[2021-02-12 11:33] ahmetmircik commented on #18111
@Holmistr There was a best effort solution for this in versions before 4.2. I removed that during latest expiry system changes but not yet implemented anything in place of it. This is not beta blocker but i have some solution idea and hope to add it into 4.2 before GA.

[2021-02-12 11:35] Holmistr commented on #17852
@cangencer Is this actually a bug? It's saying that the what you typed there is not correct. WDYT?

[2021-02-12 11:43] mmedenjak commented on #8333
@nkavian yes, the repository is private. Agree this should be addressed before 4.2-GA

[2021-02-12 11:56] mdumandag commented on #17955
This is happening because we encode the field names character by character in portable. And, we assume that each character will take at most 1 byte. This assumption is actually not correct, and we forget to change that in the 4.0 release while making the serialization UTF-8 compliant so we will have to live with it until the next major release.

Making the portable encode field names with UTF-8 is

[2021-02-12 12:47] Holmistr commented on #18111
@ahmetmircik Sounds good than. Moving back to 4.2.

[2021-02-12 12:52] vbekiaris commented on #18190
@Holmistr actually this was introduced with 4.0 release, since the bump to JDK 8 + `CompletionStage` for async API. Probably not a must have, but important to fix.

[2021-02-12 13:11] qeepcologne commented on #18158
@enozcan thanks for the detailed explanation, i will move the topic to hazelcast-hibernate.

[2021-02-12 13:28] #18158 closed

[2021-02-12 13:36] cangencer commented on #17852
I thought the error message was cryptic..

This is from Mysql for example:

[code]

[2021-02-12 14:36] alex-dukhno commented on #18163
This test failure is similar to https://github.com/hazelcast/hazelcast/issues/18147 ...
I submitted https://github.com/hazelcast/hazelcast/pull/18204 to set log level to `TRACE` so `MigrationManager` printed more info what is happening
@ufukyilmaz if you wont be lucky to figure out root cause I think you could do the same, @vbekiaris can help more for which class, package 😄

[2021-02-12 15:54] mmedenjak commented on #18087
Talking with @mdumandag , seems the test takes ages (and prolongs the PR build by 15 minutes) mostly because of these retries. So there's no test failure, but the issue is fairly easy to reproduce:

I assume the problem might be easy to debug and we might easily improve the PR build.

[2021-02-12 16:56] neilstevenson opened #18206 "REST returns HTTP 204 (No Content)"
On 4.1.1, I get an HTTP 204 querying a valid map via REST

https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommandProcessor.java#L49 and https://docs.hazelcast.com/imdg/latest/management/rest-endpoint-groups.html give the rest end point

If I do this in my code
[code]

Then REST gives me a 204 rather than the size
[code]

[2021-02-12 16:58] neilstevenson commented on #18206
Config,
[code]

[2021-02-12 17:08] neilstevenson commented on #18206
Error from logs
[code]

[2021-02-12 17:25] vbekiaris commented on #18206
@neilstevenson this is not an issue: map `GET` does not return the map's size with the `/size` suffix - this is only applicable to queues. Instead, `size` is interpreted as a key, so `204 NO CONTENT` is an appropriate response since there is no key `size` in your map. See also https://docs.hazelcast.com/imdg/latest/clients/rest.html#retrieving-entries-from-a-map-for-rest-client

[2021-02-13 09:04] viliam-durina commented on #18109
I don't know myself but @devozerov mentioned that it might be quite easy.

[2021-02-14 12:50] mmedenjak commented on #18026
@enozcan immutable values was an opt-in feature and it didn't make it into 4.2, so you're correct.

@venustulips any further questions? Does the above make sense?

[2021-02-14 13:35] mmedenjak commented on #17942
Closing as fixed by https://github.com/hazelcast/hazelcast/pull/17911. Please comment or open a new issue if needed. Happy Hazelcasting!

[2021-02-14 13:35] #17942 closed

[2021-02-14 14:23] mmedenjak commented on #16574
Closing with increased logging. Reopen on next failure.

[2021-02-14 14:49] mmedenjak commented on #18063
@Holmistr @petrpleshachkov can this go to backlog?

[2021-02-14 14:57] mmedenjak commented on #17783
Closing due to inactivity. Please reopen or comment if you have further information. Happy Hazelcasting!

[2021-02-14 14:57] #17783 closed

[2021-02-15 07:35] alex-dukhno commented on #17377
@mmedenjak could be ... https://github.com/hazelcast/hazelcast/pull/18204 changes log level so we have more info if tests fail again

[2021-02-15 07:54] leszko commented on #18160
Agree with @mmedenjak , let's close this issue. If any further discussion is needed, please use [this issue](https://github.com/hazelcast/hazelcast-kubernetes/issues/285) or create a new one in [hazelcast/hazrelcast-kubernetes](http://github.com/hazelcast/hazelcast-kubernetes).

[2021-02-15 08:06] sancar commented on #18129
@viliam-durina @mdumandag
This race part valid for serialization of any Concurrent DataStructure.
And the solution is to clone them before writing.
But I don’t think this should be responsibility of the serializer. Because it can unnecessarily create the clone.
I think the one passing this object to the serialization should make sure that it is not shared with any other thread. If it must be, the

[2021-02-15 08:32] #18154 closed

[2021-02-15 09:30] ufukyilmaz commented on #18163
Hi @alex-dukhno. As in your pr, I changed the log level of the "com.hazelcast.internal.partition.impl" package to trace and thus I started to get more detailed logs related to the migration process. Thanks for the help :)

[2021-02-15 11:20] viliam-durina commented on #18129
I agree that serialization doesn't normally expect concurrent access to serialized objects. But a concurrent data structure might be an exception. It kind of makes the serializer useless - you use COWAL if you have concurrent access, but you can't serialize. Cloning isn't cheap. And fixing it is easy (pseudocode):
[code]

[2021-02-15 12:39] Danny-Hazelcast opened #18214 "Failure while executing MigrationInfo Failed to serialize 'com.hazelcast.internal.partition.operation.MigrationOperation'"
[code]

/home/ec2-user/workspace/rollup-sql/4.2-SNAPSHOT/2021_02_15-11_00_10/sql

[code]

http://jenkins.hazelcast.com/view/rollup/job/rollup-quorum/117/console

[2021-02-15 12:50] sancar commented on #18129
Also keep in mind that we need something backward compatible.

Written with old versions should be read by new versions.
This can be implemented by checking version of ObjectDataOutput. If the version is old, then we will not expect `TERMINATOR` and rely on size.

Written with new versions should be read by old versions. This can work as long as there is no concurrent removal. We can read this obj

[2021-02-15 12:53] Danny-Hazelcast commented on #18214
[code]

http://jenkins.hazelcast.com/view/rollup/job/rollup-data-loss/134/console

[2021-02-15 13:06] Danny-Hazelcast opened #18215 "java.lang.AssertionError: Size mismatch -> header: 64, param: 32. HotRestarter$RebuilderFailure: com.hazelcast.internal.util.concurrent.ConcurrentConveyorException"
/home/ec2-user/workspace/hot-rollup/4.2-SNAPSHOT/2021_02_15-10_59_33/hot-rollup

[code]

[2021-02-15 13:27] Danny-Hazelcast commented on #16827
4.2-SNAPSHOT

[code]

/home/ec2-user/workspace/hot-stepup-validate/4.2-SNAPSHOT/2021_02_15-11_48_41/step-up-version

[2021-02-15 17:34] kwart commented on #17979
It's getting interesting. Neither was I able to reproduce it in Windows 10 on my second machine, nor on a [testing Windows 10 virtual machine](https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/).

The problem is in native JDK part - namely in `NET_SetSockOpt` call which returns error value.
https://github.com/openjdk/jdk11u-dev/blob/jdk-11.0.11%2B2/src/java.base/windows/native/libnet/

[2021-02-15 23:27] blazember opened #18216 "MapStoreConfig enabled initial value inconsistency"
If `map-store` is configured in the declarative config it is disabled unless `enabled="true"` is explicitly set. With the external config override, we reuse the default `MapConfig.MapStoreConfig`, which has `enabled` set to `false`. This makes sense since the map store shouldn't be enabled unless it's explicitly configured so. In `MemberDomConfigProcessor` `MapStoreConfig.enabled` should be set to

[2021-02-16 08:57] blazember commented on #17990
**Build:** http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/3861/

**Error Message**
[code]
**Stacktrace**
[code]
No big hiccups.

[2021-02-16 11:34] Danny-Hazelcast commented on #18214
/home/ec2-user/workspace/rollup-update-listener/4.2-SNAPSHOT/2021_02_16-02_41_02/update-listener

(base) [ec2-user@ip-10-0-0-189 update-listener]$ cat ./output/HZ/HzClient1HZ/exception.txt
com.hazelcast.nio.serialization.HazelcastSerializationException: Failed to serialize 'com.hazelcast.spi.impl.operationservice.impl.operations.Backup'
	at com.hazelcast.internal.serialization.impl.SerializationUt

[2021-02-16 11:35] Danny-Hazelcast commented on #18214
INFO: [10.0.0.252]:5701 [HZ] [4.2-SNAPSHOT] Received auth from Connection[id=7, /10.0.0.252:5701->/10.0.0.252:41883, qualifier=null, endpoint=[10.0.0.252]:41883, alive=true, connectionType=JVM, planeIndex=-1], successfully authenticated, clientUuid: 6a7a4b94-a759-4ead-897b-001566b3424d, client version: 4.1
Feb 16, 2021 2:47:00 AM com.hazelcast.map.impl.operation.PutOperation
SEVERE: [10.0.0.252]:5

[2021-02-16 11:58] Danny-Hazelcast commented on #18214
Feb 15, 2021 12:50:53 PM com.hazelcast.internal.partition.impl.MigrationManager
WARNING: [10.0.0.163]:5701 [HZ] [4.2-SNAPSHOT] Migration failed: MigrationInfo{uuid=4e4d9518-1425-4188-83ca-743081f602d5, partitionId=4, source=null, sourceCurrentReplicaIndex=-1, sourceNewReplicaIndex=-1, destination=[10.0.0.86]:5701 - 341024ca-d92f-49a0-978d-16cb545a1ab1, destinationCurrentReplicaIndex=-1, destinatio

[2021-02-16 12:12] dbydzovsky commented on #15176
relates to #8217.
We have upgraded to latest hazelacst. Issue is not occuring anymore. Closing the issue.

[2021-02-16 12:16] Danny-Hazelcast commented on #18214
/home/ec2-user/workspace/rollup-quorum/4.2-SNAPSHOT/2021_02_16-12_08_41/quorum
(base) [ec2-user@ip-10-0-0-189 quorum]$ cat output/HZ/HzMember1HZ/out.txt | grep starting
INFO: [10.0.0.79]:5701 [HZ] [4.1] Hazelcast Enterprise 4.1 (20201211 - ed2123c, 072dc5e) starting at [10.0.0.79]:5701
INFO: [10.0.0.79]:5701 [HZ] [4.1] Hazelcast Enterprise 4.1 (20201211 - ed2123c, 072dc5e) starting at [10.0.0.79]:

[2021-02-16 12:23] Danny-Hazelcast commented on #18214
(base) [ec2-user@ip-10-0-0-189 data-loss]$ cat output/HZ/HzMember1HZ/out.txt | grep starting
INFO: [10.0.0.254]:5701 [HZ] [4.1] Hazelcast Enterprise 4.1 (20201211 - ed2123c, 072dc5e) starting at [10.0.0.254]:5701
INFO: [10.0.0.254]:5701 [HZ] [4.1] Hazelcast Enterprise 4.1 (20201211 - ed2123c, 072dc5e) starting at [10.0.0.254]:5701
INFO: [10.0.0.254]:5701 [HZ] [4.2-SNAPSHOT] Hazelcast Enterprise 4.

[2021-02-16 13:20] blazember opened #18221 "Add test for detecting inconsistencies between declarative and programmatic config"
Starting with 4.2, declarative configuration reuses the `XXXConfig` instances set on their parent config instance, in order to support config overrides. If these _initial instances_ change any attribute compared to the default `XXXConfig` instance, there is potentially a behavioral inconsistency between programmatic and declarative configuration. An example of this is #18216.

To ensure there is n

[2021-02-16 13:23] #18216 closed

[2021-02-16 15:40] sancar commented on #17650
My initial finding is that test is taking around 3 to 4 minutes to finish even in healthy runs.
And the test timeout is 5 minutes. So when it is a little bit more slow, it timed out. And the logs suggest that they were not stuck. The shutdown of all members completes without timeout.

I will investigate a little more to understand if it is normal for this test to take minutes rather than seconds.

[2021-02-16 17:22] Danny-Hazelcast commented on #18214
(base) [ec2-user@ip-10-0-0-189 lock]$ pwd
/home/ec2-user/workspace/rollup-lock/4.2-SNAPSHOT/2021_02_16-16_42_38/lock
(base) [ec2-user@ip-10-0-0-189 lock]$ cat ./4.2-SNAPSHOT_4.2-SNAPSHOT_1/HZ/HzMember1HZ/out.txt | grep starting
INFO: [10.0.0.233]:5701 [HZ] [4.2-SNAPSHOT] Hazelcast Enterprise 4.2-SNAPSHOT (20210216 - 88343c3, 7320669) starting at [10.0.0.233]:5701
INFO: [10.0.0.233]:5701 [HZ] [4.2-

[2021-02-16 17:25] Danny-Hazelcast commented on #18214
(base) [ec2-user@ip-10-0-0-189 lock]$ pwd
/home/ec2-user/workspace/rollup-lock/4.2-SNAPSHOT/2021_02_16-16_42_38/lock
(base) [ec2-user@ip-10-0-0-189 lock]$ cat ./4.2-SNAPSHOT_4.2-SNAPSHOT_1/HZ/HzMember1HZ/out.txt | grep starting
INFO: [10.0.0.233]:5701 [HZ] [4.2-SNAPSHOT] Hazelcast Enterprise 4.2-SNAPSHOT (20210216 - 88343c3, 7320669) starting at [10.0.0.233]:5701
INFO: [10.0.0.233]:5701 [HZ] [4.2-

[2021-02-16 17:28] Danny-Hazelcast commented on #18214
http://jenkins.hazelcast.com/view/rollup/job/rollup-lock/125/console

[2021-02-16 17:31] Pavlmits opened #18223 "Hazelcast throws java.lang.ClassNotFoundException on parallelStream with the upgrade of Java from 8 to 11 and tomcat 8 to 9"
I wanted to upgrade to Java 11 and tomcat 9 my spring boot application that uses embedded Hazelcast 3.12.9 as cashing mechanism. When I deployed locally everything looks to work fine and the caching successfully works. But when the application runs on the cluster, I receive from all 3 nodes that are available the following error:

[code]

Hazelcast customizer:
[code]

[code]

The part of the code

[2021-02-16 17:41] lprimak commented on #17990
@blazember how long did that test take to fail? I can log into jenkins :)

[2021-02-16 17:55] lprimak commented on #17990
I can see this test failing under rare circumstances. The test is invalid

[2021-02-16 19:40] lprimak commented on #17990
This was not quite the same issue.
Only one of the tests had a stability issue and I fixed it in the above PR.
Thanks @blazember

[2021-02-16 19:43] lprimak commented on #17990
@lprimak

[2021-02-16 21:10] #18223 closed

[2021-02-16 21:20] nfrankel commented on #18223
Thanks for closing the issue you opened @Pavlmits. As a help for people who might run into the same error message, it would be nice if you commented what was the initial problem.

(Same goes for Stack Overflow).

[2021-02-16 21:36] Pavlmits commented on #18223
Hello Nicolas!
This is related to the [question on StackOverflow](https://stackoverflow.com/questions/66183691/hazelcast-on-deployed-servers-throws-java-lang-classnotfoundexception-and-locall/66188778 ) that you also gave me some nice insights but eventually it is completely unrelated to Hazelcast. Mostly it is Java 11 difference from Java 8.

In the part that the exception was thrown a ForkJoinPo

[2021-02-17 07:59] Dayslar opened #18226 "Impossible to stop Hazelcast Client if never connect to server and async-start=true"
Impossible to stop Hazelcast Client -> async-start=true
[hazelcast-client-1.xml
![Снимок экрана 2021-02-17 в 10 54 30](https://user-images.githubusercontent.com/13171086/108172931-8765ab00-710e-11eb-9f9e-72def1af036e.png)
](https://github.com/hazelcast/hazelcast/files/5994061/hazelcast-client-1.txt)

![Снимок экрана 2021-02-17 в 10 57 06](https://user-images.githubusercontent.com/13171086/10817319

[2021-02-17 08:38] kwart opened #18227 "Test failures in ThreadLeakClientTest"
Some tests in  `ThreadLeakClientTest` fail regularly on our CI:
* `testThreadLeakWhenClientCanNotConstructDueToNoMemberDiscoveryStrategyConfig`
* `testThreadLeakWhenClientCanNotStart`
* `testThreadLeakWhenClientCanNotStartDueToAuthenticationError`

Sample job: http://jenkins.hazelcast.com/job/Hazelcast-4.master-nightly/753/

The problematic tests time out.

[2021-02-17 08:46] sancar commented on #18226
Hi @Dayslar ,
If `shutdown` on HazelcastClient is called it should not continue to attemps. We have a check between connection attempts to see if client is shutdown so that we can quit.

When `shutdown` is called on the client it should log the following before it starts shut down process.
I can't see that on the logs.
`INFO: hz.client_1 [dev] [4.0.1] HazelcastClient 4.0.1 (20210217) is SHUTTING_D

[2021-02-17 08:51] kwart opened #18228 "HazelcastClientStarterTest test failures"
The `HazelcastClientStarterTest` tests fail regularly in our CI:

* `testAdvancedClientMap`
* `testClientLifecycle`
* `testClientMap`

Sample job: http://jenkins.hazelcast.com/job/Hazelcast-4.master-nightly/753/

The tests are failing with the `ClassNotFoundException`:

[code]

[2021-02-17 08:54] Dayslar commented on #18226
Hi @sancar
`11:53:22,658 INFO  [com.hazelcast.core.LifecycleService] (default task-19) hz.client_66 [dev-1] [4.0.1] HazelcastClient 4.0.1 (20200409 - e086b9c) is SHUTDOWN
11:53:42,187 INFO  [com.hazelcast.client.impl.connection.ClientConnectionManager] (hz.client_64.internal-10) hz.client_64 [dev-1] [4.0.1] Trying to connect to [127.0.0.1]:3701
11:53:42,188 INFO  [com.hazelcast.client.impl.connect

[2021-02-17 09:03] sancar commented on #18226
The logs suggest that there are multiple instances of the client on the same jvm.
`client_66` is SHUTDOWN and it does not have any attempt logs agter that.
The other clients do not have any `SHUTDOWN` or `SHUTTING_DOWN` log here.
So, With this much info, it is still perfectly normal for other clients(client_62, client_60, client_64, client_58) to continue to connection attempts.

[2021-02-17 09:08] Dayslar commented on #18226
@sancar
Sorry, i was found the problem is, I had another cluster active. I disabled the extra cluster and now it works as expected.
This is the correct answer thanks.

[2021-02-17 09:08] #18226 closed

[2021-02-17 13:54] mmedenjak commented on #17896
@ramizdundar can we close this one since we've added logging and wait until the next failure?

[2021-02-17 16:21] mmedenjak commented on #18206
Thank you for the analysis @vbekiaris ! Closing as a non-issue. Feel free to comment and reopen if this is not the case.

[2021-02-17 16:21] #18206 closed

[2021-02-17 17:30] ramizdundar commented on #17896
@mmedenjak ok then I'm closing it. Hopefully queue sizes will be helpful identifying where the problem occurs next time.

[2021-02-17 17:30] #17896 closed

[2021-02-18 05:45] vbekiaris commented on #18228
The `HazelcastClientStarterTest` starts HZ instances using old released artifacts with the `HazelcastAPIDelegatingClassloader` classloader.

However the test itself is not executed as a compatibility test (`-Dhazelcast.test.compatibility=true`)
  -> [test logging is used](https://github.com/hazelcast/hazelcast/blob/40d555dc1110da9f63fd66f504c83d4382d0384b/hazelcast/src/test/java/com/hazelcast/test

[2021-02-18 07:40] sancar commented on #18228
@vbekiaris How about this fix https://github.com/hazelcast/hazelcast/pull/18230 ?

[2021-02-18 07:44] #17979 closed

[2021-02-18 07:45] #18214 closed

[2021-02-18 07:45] #18215 closed

[2021-02-18 07:54] #18111 closed

[2021-02-18 09:53] hakanmemisoglu commented on #16328
After running the tests repeatedly:

There are some warnings which can be observed in the logs:

-  Type A `expectedSequence < foundSequence`:

[code]

- Type B `expectedSequence > foundSequence`:

[code]

Type A warnings do not cause test failure whereas Type B warnings cause a test failure.
Additionally, the test failures are hard to observe since It requires the tests to run for hours.

I thoug

[2021-02-18 10:06] vbekiaris commented on #18163
The failure is not reproducible, #18211 adds more logging so we have more info if the test fails again.

[2021-02-18 10:22] #18228 closed

[2021-02-18 10:50] #17047 closed

[2021-02-18 11:25] emre-aydin opened #18234 "Hazelcast client doesn't receive membership events when hot restart persistence is enabled"
**Describe the bug**
Hazelcast Java client doesn't receive `MembershipEvent`s in its `MembershipListener` when a member is restarted if the member has hot restart persistence enabled.

**Expected behavior**
It receives the events when hot restart persistence is disabled. I would expect to get those same events when hot restart is enabled.

**To Reproduce**

Steps to reproduce the behavior:
1. Star

[2021-02-18 11:41] #17032 closed

[2021-02-18 14:57] mmedenjak commented on #16328
Nice analysis and finding @hakanmemisoglu !

[2021-02-18 17:44] jerrinot opened #18240 "Inefficient IMap.entrySet() on a PartitionIdSet"
https://github.com/hazelcast/hazelcast/pull/17886 introduced IMap.entrySet() on a PartitionIdSet

It's working, but it's extremely inefficient. It's practically a coincidence that it's working at all. It only works thanks to this fallback: https://github.com/hazelcast/hazelcast/blob/40d555dc1110da9f63fd66f504c83d4382d0384b/hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryEngineImpl.java#L

[2021-02-18 18:36] mmedenjak commented on #18240
Does this need to go into 4.2? @viliam-durina can you check it out?

[2021-02-18 19:51] ahmetmircik commented on #18240
Seems like this issue can also be the root cause of slowness in this test: https://github.com/hazelcast/hazelcast/issues/18087 (reverted and tried)

[2021-02-19 09:07] mmedenjak commented on #18240
cc @mdumandag ☝️

[2021-02-19 10:54] taburet commented on #17418
Have found the root cause: if `cache-deserialized-values` set to `ALWAYS` or `INDEX_ONLY` when, for `BINARY` storage, during insertion JSON metadata offsets are calculated as indexes into UTF-8 JSON byte array. While evaluating queries the same metadata offsets are interpreted as indexes into UTF-16 JSON char array. Basically, if the storage format is `BINARY` and deserialized map entries are cach

[2021-02-19 11:31] Boiarshinov commented on #9321
@artem-zinnatullin I think that problem also in the property name.
You add property `hazelcast.max.no.heartbeat.seconds`, but in the client configuration there is no property with such name. You should use property name `hazelcast.client.heartbeat.timeout` to configure how long to wait before declaring HC node dead.

Property `hazelcast.max.no.heartbeat.seconds` appliable only for hazelcast node c

[2021-02-19 13:33] #16465 closed

[2021-02-19 14:42] viliam-durina commented on #18240
@mmedenjak I think it's not critical. It's only used internally from Jet, and in that case the actual PartitionIdSet contains local all partitions of one member, if the cluster is stable. It might be an issue if some partition was migrated, but only until the Jet job restarts.

Anyway, we should fix it.

[2021-02-19 16:03] alex-dukhno commented on #18147
#18204 set log level to trace for more information if and when test failure will happen on CI. Closing

[2021-02-20 13:14] mmedenjak commented on #18151
@longtimeago are you able to provide more information? ☝️

[2021-02-20 13:49] longtimeago commented on #18151
@sancar @mmedenjak ouch ... I've found a problem in my code while writing a test case for you. It's not an issue with Hazelcast itself. Really sorry that I didn't checked that before :(

Thanks a lot for your time and help!

[2021-02-20 13:49] #18151 closed

[2021-02-20 15:16] #18030 closed

[2021-02-20 18:06] mygitdds opened #18252 "hazelcast-4.0.2- java.io.EOFException"
Hazelcast-4.0.2 has no problem starting a node in k8s, starting the second node and reporting an error com.hazelcast.nio . serialization.HazelcastSerializationException : java.io.EOFException

There is no such problem in the version of hzelcast 3. X, which has occurred in the recent upgrade

[2021-02-21 07:14] martinkrc opened #18253 "IMap support for putIfAbsentAsync and putIfAbsentTransientAsync"
**Please describe the problem you are trying to solve**
There are numeruous situations where we need to put entries to IMap while also avoiding possible race conditions caused by someone else adding the same key at about the same time. Since we operate fully asynchronously, what we need is something like putIfAbsentAsync operation.

In some cases we need to (re-)add entries which have just been lo

[2021-02-21 18:36] mmedenjak commented on #17650
cc @alex-dukhno who also might have run into long shutdown procedures in failing WAN tests ☝️

[2021-02-21 19:12] mmedenjak commented on #18252
@mygitdds can you provide the full logs? The exception itself is not enough to diagnose the issue.

[2021-02-21 19:15] mmedenjak commented on #18253
Hi @martinkrc ! Although there's more benefit to more async methods, currently we're not planning on adding those methods.  Adding to backlog but for now I don't have any information when this might get implemented. @Holmistr can help me assess the priority of the issue.

[2021-02-22 08:15] vbekiaris commented on #17377
may be fixed by #18231, from the logs:
[code]

[2021-02-22 10:19] Danny-Hazelcast commented on #16754
http://jenkins.hazelcast.com/view/freeze/job/freeze-all/33/console

[code]

[code]

[code]

[2021-02-22 10:20] Danny-Hazelcast commented on #16754
INFO: [10.0.0.5]:5701 [HZ] [4.2-SNAPSHOT] Hazelcast Enterprise 4.2-SNAPSHOT (20210219 - c233f4f, 47313c6) starting at [10.0.0.5]:5701

[2021-02-22 11:01] #18227 closed

[2021-02-22 12:35] Danny-Hazelcast opened #18261 "Cluster is in PASSIVE state! Operation: com.hazelcast.cache.impl.operation.AddCacheConfigOperation"
java.lang.IllegalStateException: Cluster is in PASSIVE state! Operation: com.hazelcast.cache.impl.operation.AddCacheConfigOperation{serviceName='hz:impl:cacheService', identityHash=294505405, partitionId=-1, replicaIndex=0, callId=0, invocationTime=-1 (1969-12-31 23:59:59.999), waitTimeout=-1, callTimeout=60000, tenantControl=com.hazelcast.spi.impl.tenantcontrol.NoopTenantControl@0}
	at com.hazelc

[2021-02-22 12:35] Danny-Hazelcast commented on #18261
i am only seeing this issue for cache and not map, and only in cluster state PASSIVE and not FROZEN, also this test was passing on older HZ versions

http://jenkins.hazelcast.com/view/hot-restart/job/hot-v-clusterShutdown/45/console

/home/ec2-user/workspace/hot-v-clusterShutdown/4.2-SNAPSHOT/2021_02_21-19_13_38/clusterShutdown

[2021-02-22 12:43] Danny-Hazelcast commented on #18261
or is it now that the cluster state  PASSIVE is preserved on restart ?

while FROZEN is not ?

[2021-02-22 12:51] viliam-durina commented on #14151
The code is calling a blocking remote op, I guess that shouldn't be allowed in entry processors which run on the partition threads. Maybe we can close it.

[2021-02-22 14:19] dbrimley opened #18262 "Classpath Reporting"
In order to better understand the eco-systems that Hazelcast is operating in, it would be desirable to learn of JVM Classpaths.  This will really help us to know how we should invest in the Open Source Roadmap.  For example, what other libraries is Hazelcast used with?

It should be part of the Phone Home system and the user will have the ability to opt-out.

[2021-02-22 15:54] Danny-Hazelcast commented on #16754
untilClusterSafe hzcmd.ops.UntilClusterSafe driver=Member threads=1 duration=0 bench=Roll interval=0 pause=4 max=300
/home/ec2-user/hzCmd-bench/lab/hz/functions/untilClusterSafe Done
unfrozen HzMember3HZ
fn hzcmd.ops.UntilClusterSize driver=.* threads=1 duration=0 bench=Roll interval=0 size=4
fn Done
untilClusterSafe hzcmd.ops.UntilClusterSafe driver=Member threads=1 duration=0 bench=Roll interval

[2021-02-22 15:56] Danny-Hazelcast commented on #16754
[code]

[2021-02-22 16:14] vbekiaris commented on #18261
The cluster state should be preserved by hot restart and I don't expect this changed since 4.1. Also, `AddCacheConfigOperation` was not allowed in `PASSIVE` state in 4.1 either. I see this in the failed run logs:

[code]

so upon joining, the `CacheConfig`s became known to the member. @Danny-Hazelcast can you post a link to the source of `validate_cacheBak1` and `validate_cacheBak1HD` tasks?

[2021-02-22 16:14] #16206 closed

[2021-02-22 16:30] mmedenjak commented on #7964
`QueueMigrationTest.testMigration:74->testReplication:98 expected:<100> but was:<99>`

http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/3958/

[2021-02-23 06:16] sancar commented on #17418
@taburet note that @mdumandag  working on a fix for this.
https://github.com/hazelcast/hazelcast/pull/18183

[2021-02-23 06:26] lprimak commented on #17834
This is now fixed. I can no longer reproduce the issue in the latest master

[2021-02-23 06:55] #18234 closed

[2021-02-23 07:46] vbekiaris commented on #17834
@lprimak thanks for the heads up! Related fixes #18225 and #18255

[2021-02-23 08:21] lprimak commented on #17834
Thanks @vbekiaris
However not everything multi homed is fixed. #17835 is still failing.

[2021-02-23 08:22] lprimak commented on #16358
I think this one can be closed as it’s fixed now as far as I can see

[2021-02-23 09:49] sancar commented on #17884
@neilstevenson After discussing this with the team we have decided to move to this to backlog to discuss more.

I am also adding Core label because when we add an API it will be available on the core as well.

One thing comes to my mind, can't we suggest `BuildInfoProvider.getBuildInfo()` instead to our users when they need to access client version ?

[2021-02-23 10:06] Danny-Hazelcast commented on #18261
@vbekiaris  yes the behaviour has changed from 4.1

test script
https://github.com/hazelcast/hzCmd-bench/blob/m6g/lab/hz/hot/x/clusterShutdown/go

the FROZEN case seams to be working with no change

[2021-02-23 10:30] Holmistr commented on #17852
Ah, I see. I think that this requires more careful handling in the Apache Calcite parser and I don't consider it as a blocker for 4.2. Moving it out.

[2021-02-23 10:35] Holmistr commented on #17874
@pivovarit How is it going? We're getting closer and closer to the release, so if it's not really ready and won't be any time soon, we should move it out of 4.2 scope.

[2021-02-23 10:37] pivovarit commented on #17874
With my new recent assignments, I have a hard time dedicating time to them. Keep in mind that it's mostly done, so we can easily release what was merged so far

[2021-02-23 10:38] Holmistr commented on #18062
@Danny-Hazelcast Is this a regression in 4.2 or was it present before?

[2021-02-23 10:48] Holmistr commented on #17260
Moving this to backlog as unfortunately we can't manage to fix it in 4.2. We'll take a look in the next release.

[2021-02-23 10:49] mmedenjak commented on #17884
It's already available on member:
[code]

[2021-02-23 11:04] vbekiaris commented on #18261
@Danny-Hazelcast I can reproduce the same issue with `PASSIVE` state on both current `4.1.z` and released 4.1 (`eded1cf`, `2a1a477`). The code path that throws the exception wasn't changed in 4.2. Can you rerun your test on 4.1 and verify?

[2021-02-23 11:17] Danny-Hazelcast commented on #18261
@vbekiaris  yes in 4.1 it is not working also

[2021-02-23 12:22] #17805 closed

[2021-02-23 12:24] vbekiaris commented on #17377
Closing as #18231 was merged.

[2021-02-23 12:24] #17377 closed

[2021-02-23 12:28] vbekiaris commented on #18261
thanks Danny, so it's not a regression in 4.2

[2021-02-23 12:52] Danny-Hazelcast commented on #18261
@vbekiaris  is a regression from 4.0
passing run on 4.0. http://jenkins.hazelcast.com/view/hot-restart/job/hot-v-clusterShutdown/47/console

[2021-02-23 12:52] Danny-Hazelcast commented on #18261
and its an inconsistency between frozen and passive

[2021-02-23 12:58] Danny-Hazelcast commented on #18062
most certainly a probable regression

[2021-02-23 13:50] sancar commented on #18062
If I am not mistaken this should be a regression when moving from 3.12 and 4.0.

[2021-02-23 15:06] mdumandag commented on #18147
Not the same test, but possibly a similar one. Failed on a PR builder with trace level logs. Maybe that can be helpful @alex-dukhno. I can create a separate issue if you think that this is unrelated to the one reported in the title.

http://jenkins.hazelcast.com/view/PR%20Builders/job/Hazelcast-pr-builder/3978/testReport/junit/com.hazelcast.internal.partition/MigrationCorrectnessTest/testPartition

[2021-02-23 15:39] TomaszGaweda opened #18275 "QueryCache Data Migrated event"
Hi,

we can add few types of MapListeners to QueryCache, namely add listener, update, remove, clear all. However, when new node is joining the cluster, there's no event to represent migration of QueryCache data to new node. While it's not urgent or feature-breaking thing, ability to watch for such changes willl be welcome - it will allow full data changes tracking on every node.

We _could_ possib

[2021-02-23 19:04] #9117 closed

[2021-02-23 19:05] #13170 closed

[2021-02-23 19:07] #17735 closed

[2021-02-24 08:47] hakanmemisoglu opened #18278 "Test failure: AdvancedNetworkingClientCommunicationIntegrationTest.testClientConnectionToEndpoints"
Failure in: http://jenkins.hazelcast.com/view/Hazelcast/job/Hazelcast-4.master-nightly/759/consoleFull

Related test output:
[code]

[2021-02-24 08:53] hakanmemisoglu commented on #18278
[code]

[2021-02-24 09:09] sancar commented on #17884
@mmedenjak I forgot about this one. Then we can reconsider this.
The best place looks like
[code]
We need to decide on the API. Alternatives that comes to my mind:

1. The private implementation of `Client` interface already has `String getClientVersion` . We can easily expose it.
Note that this is not as structured as `MemberVersion`.
I would choose the reuse the same class but naming is not appr

[2021-02-24 09:36] sancar commented on #18062
I have found the root cause. I am working on the fix. It is introduced in 4.0. It is a rare condition to happen. Events should happen in a particular(unlucky) order for this to happen so I think it could explain why the tests did not catch this before.

[2021-02-24 09:46] Holmistr commented on #18275
Hi @TomaszGaweda , thanks a lot for the idea! :)

We reviewed and discussed the proposal with the team. We concluded that since we don't see that many users use C

[2021-02-24 09:51] Holmistr commented on #18275
Hi @TomaszGaweda , thanks a lot for the idea! :)

We reviewed and discussed the proposal with the team. We don't see that many users using Continuous Query Cache and even fewer adding the listeners to it. We concluded that this feature request **at this point** doesn't fit within the longer vision, so I'm going to close this issue.

However, if the demand for it arises from the community, we're ha

[2021-02-24 09:51] #18275 closed

[2021-02-24 10:00] sancar commented on #18129
@viliam-durina As we don't want to break compatibility I want to close this as we will not address it.
It seems that we need to live with workarounds.
Do you have a suggestion ? Are you ok with closing this ?

[2021-02-24 11:20] burakcelebi commented on #17884
I like the 3rd option as it looks like a corresponding client API.

[2021-02-24 11:43] ramizdundar commented on #18129
@sancar After we have talked I have a new idea about this one. Let me open a draft PR in few hours.

[2021-02-24 13:09] Danny-Hazelcast commented on #18062
@sancar  should be back a port the fix to 4.1.2. ?

[2021-02-24 13:13] mdumandag opened #18286 "PartitionServiceSafetyCheckTest.clusterShouldBeEventuallySafe_withPartitionInitialization"
Failed on a PR builder against the 4.1.z branch.

http://jenkins.hazelcast.com/job/Hazelcast-pr-builder/4010/testReport/junit/com.hazelcast.internal.partition/PartitionServiceSafetyCheckTest/clusterShouldBeEventuallySafe_withPartitionInitialization/

**Error Message**
[code]
**Stacktrace**
[code]
**Standard Output**
[code]

[2021-02-24 13:27] hakanmemisoglu commented on #18278
Result of `git bisect`:
[code]

https://github.com/hazelcast/hazelcast/commit/8efe09b3c38492447b19ca9de93e55d8f6431639

[2021-02-24 13:48] mdumandag commented on #18278
For reference, this and other client-related timeouts are happening because we decided to set cluster connect timeout to infinite by default on https://github.com/hazelcast/hazelcast/pull/18094, so that on startup or reconnection, the client will not give up trying to connect to the candidate clusters.

[2021-02-24 14:26] #18278 closed

[2021-02-24 14:43] Danny-Hazelcast commented on #16754
/disk1/issue-16754-npe/

[2021-02-24 21:18] Holmistr commented on #15559
Hey all, we will be introducing the `ORDER BY` capabilities in the 4.2 that is coming out in the middle of March. The query engine will be able to use indexes for sorting (it will actually be required).

[2021-02-24 21:20] Holmistr commented on #15559
I'm closing this issue as the support for sorting using indexes (as mentioned above) is already merged in the master and will definitely be released.
You can actually try it already with the 4.2-BETA-1 release! https://hazelcast.org/imdg/download/#hazelcast-imdg-beta

[2021-02-24 21:20] #15559 closed

[2021-02-24 22:27] kjasoft commented on #16813
I believe this would be an important feature for distributed computing with Hazelcast.
Here is my usecase:
1. Populate Hazelcast cluster with the data (time-consuming and expensive process)
2. Сlient app sends tasks to the cluster and data is effectively processed right on distributed nodes, without transmitting all the data to the client. Only the final result will be sent to the client.
3. Clien

[2021-02-25 06:33] sancar commented on #16813
@kjasoft The only workaround is to always change the name of functional classes in the new version.
And yes, these classes will not be unloaded ever, so you need to be careful with the number of classes introduced.
As said before, it is in our roadmap to address it to improve this experience.

[2021-02-25 07:41] #8333 closed

[2021-02-25 07:56] #18109 closed

[2021-02-25 08:06] #18129 closed

[2021-02-25 08:25] sancar commented on #18129
@ramizdundar I think we will need backports for this to 4.1.z and 4.0.z

[2021-02-25 09:28] PavloBida opened #18294 "Failing tests in RingbufferBasicDistributedTest"
The following tests are failing in RingbufferBasicDistributedTest in scope of [Hazelcast-4.master-Openj9-11 build](http://jenkins.hazelcast.com/view/Official%20Builds/job/Hazelcast-4.master-Openj9-11/23/):

**RingbufferBasicDistributedTest.remainingCapacity**
Error message:
[code]
Stacktrace:
[code]

**RingbufferBasicDistributedTest.destroy_whenBlockedThreads_thenDistributedObjectDestroyedExceptio