[2014-12-02 16:39] Tembrel opened #4218 "KeyValueSource.hasNext/element/key docs should emphasize differences from Iterator.hasNext/next"
`Iterator.hasNext()` does not change state, but `Iterator.next()` does. In contrast, `KeyValueSource.hasNext()` __does__ change state, while `KeyValueSource.element()` and `KeyValueSource.key()` do __not__. This should be documented in the [method comment for `KeyValueSource.hasNext`](https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/mapreduce/KeyValueSource.

[2014-12-03 09:54] #4217 closed, assigned to nobody

[2014-12-03 12:58] #4215 closed, assigned to gurbuzali

[2014-12-03 13:01] #3659 closed, assigned to serkan-ozal

[2014-12-03 14:52] #3569 closed, assigned to nobody

[2014-12-03 16:03] sfargier opened #4222 "Hazelcast client throws error after disconnection and reconnection"
Hi,
I am getting errors thrown by hazelcast after the java client gets disconnected then reconnected to the cluster.

**To reproduce:**
- a member starts a cluster
- the client connects to it
- the member gets killed -> the client gets the disconnected event after the heartbeat timeout (I registered a LifecycleListener)
- the member is restarted -> the client gets the connected event
- I try to us

[2014-12-03 18:03] ejain opened #4223 "Don't log warnings when a node leaves a cluster gracefully"
Log level should be INFO? See http://stackoverflow.com/questions/27240533/how-to-leave-a-hazelcast-cluster-gracefully/

[2014-12-04 07:42] ajermakovics opened #4224 "[TEST-FAILURE] EntryProcessorTest.testBackups"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/lastBuild/com.hazelcast$hazelcast/testReport/com.hazelcast.map/EntryProcessorTest/testBackups/

[2014-12-04 10:22] imhazige opened #4229 "thread stuck when about lock"
Hi, We have encounter a problem same as a post at here:
https://groups.google.com/forum/#!topic/hazelcast/TtkPvcgYdf8

here is the threaddump in our own case:
![screen shot 2014-12-04 at 18 15 43](https://cloud.githubusercontent.com/assets/4122902/5296732/41266256-7be2-11e4-939b-feae4ab54619.gif)

I found it easy to happen when:
network is not stable:
for example we connect to a vpn, the server is

[2014-12-04 13:34] vendetta9 opened #4230 "HazelCast Perfomance Test with Spring Batch throws TargetDisconnectedException"
I have a HazelCast Server setup with 2 nodes and the server has been healthy and has never shown any issues. My clients are from multiple instances of spring batch and each spring batch has 120 threads and there are five instances of spring batch which means there might be around 120*5=600 threads trying to access IMap to set/get values.

When I started around 3 instances of the batch, the time ta

[2014-12-04 15:47] bwzhang2011 opened #4233 "Add IQueue.addAll(E... items) and ITopic.publishAll batch methods"
Hi, hz team. as https://github.com/hazelcast/hazelcast/issues/3661 pointed out, the addAll bulk operation in IQueue could improve performance when a batch of message processed. from the resource code, the IQueue addAll support collection type data while the original object array is missing,
so addAll for object array should be added as NodeEngine toData parameter is Object. meanwhile, compared wit

[2014-12-05 08:04] junbou opened #4234 "The method submit(Runnable, ExecutionCallback) is ambiguous for the type IExecutorService"
hazelcast 3.3.3, Eclipse 4.4
hazelcast-client/src/test/java/com/hazelcast/client/executor/ClientExecutorServiceSubmitTest.java
compile error: The method submit(Runnable, ExecutionCallback) is ambiguous for the type IExecutorService
tried both jdk1.6.0 & jdk 1.7.0_71
I see that IExecutorService extends java concurrent ExecutorService, which has a method:
 Future<T> submit(Runnable task, T result)

[2014-12-05 08:27] bilalyasar opened #4235 "[TEST-FAILURE] QueryBasicTest.testQueryUsingNestedPortableObject"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast/2347/testReport/junit/com.hazelcast.map.query/QueryBasicTest/testQueryUsingNestedPortableObject/

[2014-12-05 08:32] bilalyasar opened #4236 "[TEST-FAILURE] SSLConnectionTest.testSockets"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-ee-IbmJDK1.7/com.hazelcast$hazelcast-enterprise/188/testReport/junit/com.hazelcast.nio.ssl/SSLConnectionTest/testSockets/

[2014-12-05 09:17] #4236 closed, assigned to nobody

[2014-12-05 09:34] sancar opened #4237 "[TEST-FAILURE] com.hazelcast.client.ClientIssueTest.testMapDestroyIssue764"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-pr-builder/11155/com.hazelcast$hazelcast-client/testReport/com.hazelcast.client/ClientIssueTest/testMapDestroyIssue764/

[2014-12-05 13:20] eminn opened #4238 "Deadlock happens in MapReduce implementation when there is a high load on the system."
Execution hangs with the following exceptions.

[code]

[2014-12-06 00:12] #4234 closed, assigned to nobody

[2014-12-06 04:59] sangeeth opened #4244 "QueueStore in BINARY mode is not working"
The problem seems to be in loadAll method in  "com.hazelcast.queue.impl.QueueStoreWrapper"

[code]

[2014-12-07 06:09] mymuss opened #4245 "Transactional Map does not guarantee order of store operations"
When using IMap with MapStore the MapStore#store() method is called in the same order as IMap#put() or IMap#set() which is expected.

However when the TransactionalMap is used the order of MapStore#store() calls appears to be random. The code snippet illustrates the issue. Running several times may be needed to reproduce it.

I could not find any references to the order of store() calls in the doc

[2014-12-08 01:24] bilalyasar opened #4247 "[TEST-FAILURE] InvocationTest.testWaitingIndefinitely"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OpenJDK6/com.hazelcast$hazelcast/78/testReport/junit/com.hazelcast.spi/InvocationTest/testWaitingIndefinitely/

[2014-12-08 08:10] #4245 closed, assigned to nobody

[2014-12-08 08:59] #4238 closed, assigned to eminn

[2014-12-08 09:06] #3738 closed, assigned to sancar

[2014-12-08 09:36] #4017 closed, assigned to kobalski

[2014-12-08 12:37] #4247 closed, assigned to nobody

[2014-12-08 12:45] gurbuzali opened #4251 "JCache putIfAbsetnt, remove, replace methods broken with sync listener"
if condition is false, for example 'putIfAbsent to an already existing' sync listener does not get any completion event, so it hangs.

[2014-12-08 13:02] enesakar opened #4252 "Replicated Map test failures"
See:
https://github.com/hazelcast/hazelcast/issues/3127
https://github.com/hazelcast/hazelcast/issues/3162
https://github.com/hazelcast/hazelcast/issues/4140
https://github.com/hazelcast/hazelcast/issues/4181
https://github.com/hazelcast/hazelcast/issues/4138

[2014-12-08 13:03] #3127 closed, assigned to jerrinot

[2014-12-08 13:03] #3162 closed, assigned to noctarius

[2014-12-08 13:03] #4140 closed, assigned to eminn

[2014-12-08 13:03] #4181 closed, assigned to eminn

[2014-12-08 13:03] #4138 closed, assigned to eminn

[2014-12-08 13:12] rainerjung opened #4253 "Real "hits" statistics for map"
Currently the counter "localHits" for a map is retrieved by counting the hits per Record in the RecordStore and then sum them up for all Records in the RecordStore of the map.

"Hit" counters are mostly used to compare against "Get" counters to retrieve the hit ratio. Now the "Get" counters for a map are global get counters, not sums over the get counter of all existing record. So comparing hits a

[2014-12-08 13:14] rainerjung opened #4254 "hits statistics copy and paste error in ReplicatedRecord"
[code]

[2014-12-08 16:01] mdogan opened #4256 "InternalPartition updates are not atomic which causes dirty/inconsistent view of partition data during an operation"
See failure of following test:

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/com.hazelcast%24hazelcast-client/318/testReport/com.hazelcast.client.stress/AtomicLongStableReadStressTest/testChangingCluster/

[code]

[2014-12-09 09:33] bilalyasar opened #4258 "[TEST-FAILURE] JCacheEntryProcessorTest.test_execution_entryprocessor_default_backup"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/com.hazelcast$hazelcast/384/testReport/junit/com.hazelcast.cache.entryprocessor/JCacheEntryProcessorTest/test_execution_entryprocessor_default_backup/

[2014-12-09 09:40] bilalyasar opened #4259 "[TEST-FAILURE] NearCacheTest.testGetAll"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OpenJDK6/com.hazelcast$hazelcast/80/testReport/junit/com.hazelcast.map.nearcache/NearCacheTest/testGetAll/

[2014-12-09 16:06] #3742 closed, assigned to emrahkocaman

[2014-12-10 10:55] #4244 closed, assigned to ahmetmircik

[2014-12-10 14:58] #4180 closed, assigned to sancar

[2014-12-10 15:04] Danny-Hazelcast opened #4278 "com.hazelcast.nio.serialization.HazelcastSerializationException: java.io.UTFDataFormatException: Length check failed, maybe broken bytestream or wrong stream position"
Finding the first occurence of UTFDataFormatException at Line 952 in worker.log and the last

[code]

Full Stack Trace of UTFDataFormatException at line 953  /large1/workers/2014-12-09__15_22_46/worker-10.144.233.155-7-server

[code]

[2014-12-10 16:03] #3356 closed, assigned to nobody

[2014-12-10 17:14] #4254 closed, assigned to Donnerbart

[2014-12-10 17:17] Donnerbart opened #4281 "ReplicatedRecord hit counter is increased by ReplicatedMap internally"
ReplicatedMap implementation can access ReplicatedRecord instances internally and increment the hit counter. The cause is the getter which automatically increases the hits counter. We should introduce a getter without the call to access() for internal usage to fix this issue.

[2014-12-10 17:26] eminn opened #4282 "ClientMembershipEvent does not need to have Member field"
In case of member attributes are changed, attribute changed event sent to the clients. All the member attributes serialized and sent to the client for every event since ClientMembershipEvent has Member field, which contains all the attributes. We change the implementation to not to send all the attributes for every event.

[2014-12-10 18:37] #4278 closed, assigned to nobody

[2014-12-10 20:23] #4251 closed, assigned to gurbuzali

[2014-12-10 22:37] #4259 closed, assigned to Donnerbart

[2014-12-11 09:18] #4256 closed, assigned to mdogan

[2014-12-11 09:26] #4235 closed, assigned to ahmetmircik

[2014-12-11 09:28] #3778 closed, assigned to eminn

[2014-12-11 10:01] serkan-ozal opened #4285 "Adding further code samples for Hi-Density cache usage"

[2014-12-11 12:05] #4224 closed, assigned to ajermakovics

[2014-12-11 15:22] #4193 closed, assigned to ahmetmircik

[2014-12-12 07:09] bilalyasar opened #4290 "ClientSplitBrainTest.testClientListeners_InSplitBrain"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OpenJDK6/com.hazelcast$hazelcast-client/83/testReport/junit/com.hazelcast.client/ClientSplitBrainTest/testClientListeners_InSplitBrain/

[2014-12-12 08:50] #4258 closed, assigned to ahmetmircik

[2014-12-12 09:14] mdogan opened #4293 "Predicate with Short value is not working"
https://groups.google.com/d/msg/hazelcast/U4UQQT8fdRg/jrwVUnKpENUJ

[code]

[2014-12-12 09:29] pveentjer opened #4294 "MapLockTest: Current thread is not owner of the lock! MapCasTest: NullPointerException"
This is with the current master and happened with the MapLockTest (also a MapCasTest was running at the same time) on the testlab with 4 member cluster and no clients. Also a NPE was detecting on the MapCasTest; perhaps it is related to each other.

[code]

[2014-12-12 12:46] #4293 closed, assigned to mdogan

[2014-12-12 12:59] jerrinot opened #4297 "JCache is leaking memory"
There is a MaxSizePolicy set to 10,000 entries. Hence in theory this snippet should run indefinitely.

[code]

I can see there is an upper bound on cache size as expected, however it's still leaking memory.

[code]

![image](https://cloud.githubusercontent.com/assets/158619/5411899/bddf69f6-81fe-11e4-9a55-b3c17f35b71d.png)

[2014-12-12 14:39] #4297 closed, assigned to nobody

[2014-12-15 00:35] bilalyasar opened #4301 "[TEST-FAILURE] AdvancedSemaphoreTest.testSemaphoreWithFailures"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OpenJDK8/com.hazelcast$hazelcast/86/testReport/junit/com.hazelcast.concurrent.semaphore/AdvancedSemaphoreTest/testSemaphoreWithFailures/

[2014-12-15 00:37] bilalyasar opened #4302 "[TEST-FAILURE] ListTest.testMigrationSerializationNotFails_whenTransactionsAreUsed"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OracleJDK8/com.hazelcast$hazelcast/84/testReport/junit/com.hazelcast.collection/ListTest/testMigrationSerializationNotFails_whenTransactionsAreUsed/

[2014-12-15 00:49] bilalyasar opened #4303 "[TEST-FAILURE] JoinStressTest.testTCPIPJoinWithManyNodesMultipleGroups"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/406/testReport/junit/com.hazelcast.cluster/JoinStressTest/testTCPIPJoinWithManyNodesMultipleGroups/

[2014-12-15 09:56] ahmetmircik opened #4305 "When read backup data is enabled, normal get operations should be called for owned entries"
Otherwise enabling read backup data may cause unwanted behaviors, for example if there is a map-store, it may not be called or local map stats may not be increased...

[2014-12-15 10:34] c0rnflex opened #4308 "EC2 Auto Discovery - multiple aws-tag uses "OR" instead of "AND""
Hi,
I'm trying to have two aws-tags (env and role) so the auto discovery would figure out uniqueness between multiple networks on the same VPC.

Currently, as far as I've figured out, the aws-tags discovery uses "OR" and not "AND", which leads to the loss of uniqueness when using two or more tags, and enforces us to use a unique tag called "env_role".

Please support this.

Thanks

[2014-12-15 11:00] #4301 closed, assigned to ahmetmircik

[2014-12-15 14:24] ahmetmircik opened #4310 "XML schema and XML config validation is not compliant for AWS configuration"
When aws is disabled in spring xml configuration file, Hazelcast 3.3.3 is complaining about missing properties in the configuration file via message like `accessKey and secretKey can not be null`
__This does not comply to the XML schema__. For both, hazelcast and hazelcast-spring those 2 __properties are both _optional_ according to the schema__.

This does not seem to be right, because those valu

[2014-12-15 20:03] Donnerbart opened #4315 "Issue with contains-pattern in Config.getXXXConfig()."
@fuadm came up with an issue with the pattern matching in Config.java

Since the actual wildcard search always does a "contains"-matching you cannot set a configuration for e.g. "startsWith". So a pattern like
[code]
will also match for the map
[code]
A solution would be to switch to regex matching, but this would break the documented way how to use wildcards ("regex .*" vs. "documentaion *").

[2014-12-16 09:14] #4079 closed, assigned to nobody

[2014-12-16 09:16] #4303 closed, assigned to mdogan

[2014-12-16 12:27] #3882 closed, assigned to emrahkocaman

[2014-12-16 12:40] bilalyasar opened #4318 "[TEST-FIX] BackupTest.testBackupMigrationAndRecovery"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/com.hazelcast$hazelcast/327/testReport/junit/com.hazelcast.map/BackupTest/testBackupMigrationAndRecovery/

[2014-12-16 12:42] bilalyasar opened #4319 "[TEST-FAILURE] BasicCacheTest.testCompletionTest"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK8/com.hazelcast$hazelcast/283/testReport/junit/com.hazelcast.cache/BasicCacheTest/testCompletionTest/

[2014-12-17 06:14] dsukhoroslov opened #4321 "[map] IMap jmx statistics evicted together with the map entry"
Hazelcast 3.3.3 I have the following map config:

[code]
When system starts and caches populated and get hits the stats present relevant values for localHits and localGetOperationCount attributes. But after 1 hour of idle some entries evicted and localHits/localGetOperationCount attributes became less and less.. till 0. Looks like you store get/hits statistics together with the entry itself and it

[2014-12-17 08:48] #4285 closed, assigned to serkan-ozal

[2014-12-17 09:04] rajeshnair opened #4323 "AwsConfig able to connect to hazelcast cluster inside EC2 but ClientConfig not able to connect"
I am trying to connect a hazelcast client running from outside EC2 to connect to hazelcast instance running inside EC2

I have been able to run the hazelcast instance running using EC2 clustering with access, key secret key etc.

The following code using AWSClient correctly retrieves the server's information as well.
The access key and secret key is same as provided in server

[code]

The above co

[2014-12-17 09:13] #4323 closed, assigned to nobody

[2014-12-17 09:16] serkan-ozal opened #4324 "Cache Custom Eviction Policy Support"
* User should be able to specify his/her custom eviction strategy factory implementation to provide his/her custom eviction strategy implementation (such as Sampling based, etc ...) extends from `com.hazelcast.cache.impl.eviction.EvictionStrategy` by programmatically and by XML configuration.

* User should be able to specify his/her custom eviction policy evaluator factory implementation to provi

[2014-12-17 15:06] bwzhang2011 opened #4325 "hazelcast latest build fail due to artifact not found"
hi, hz team. after checking out the latest resource for building after executing like:
mvn install -Dmaven.test.skip=true

it threw such stack trace as follows:
![image](https://cloud.githubusercontent.com/assets/749788/5473042/0e823208-8641-11e4-8f49-34921ce789df.png)

such prevents the whole building terminate and failed.

[2014-12-17 16:13] #4325 closed, assigned to nobody

[2014-12-17 16:24] #4145 closed, assigned to nobody

[2014-12-18 15:51] Danny-Hazelcast opened #4327 "HazelcastSerializationException java.io.UTFDataFormatException"
What version of Stabilizer ?
[code]

which matches with
[code]

What version of Hazelcast ?
a member worker.log shows
[code]

which matches with the in git info
[code]

What Test included
[code]

From the Stabilizer output Reported this exception
[code]

The Fail
[code]

Fatals from member logs
[code]

logging from MapEntryProcessorTest.
[code]
show how many opps it did before exception

This is t

[2014-12-18 22:11] rvega-asante opened #4329 "Improve hazelcast.shutdownhook.enabled behaviour"
When hazelcast.shutdownhook.enabled is set to false, shutdownhook thread should not be registered at all. Whats the point of register the thread but avoid executing it?

    public class NodeShutdownHookThread extends Thread {

        NodeShutdownHookThread(String name) {
            super(name);
        }

        @Override
        public void run() {
            try {
                if (isActi

[2014-12-19 10:43] jerrinot opened #4330 "Dead-lock in Client JCache (sync) Completion"
During our Stabilizer run Hazelcast client failed to shutdown.
This is the stacktrace:

[code]

I believe there is a race between client shutdown and completion.

[code]

this is called from here:

[code]

When a client is in the process of shutting down it might never receive the completion.

[2014-12-19 11:38] mdogan opened #4331 "NullPointerException during map.put() and map.destroy() are called concurrently"
When map.destroy() is called, it clears map data out of partition threads and it makes partition data inconsistent for operations running concurrently in partition threads.

[code]

[2014-12-19 15:45] robinsonmark opened #4334 "Map Eviction can evict the data that has just been added"
Test case:
1) Create a Map with a max size and LRU as the eviction policy.
2) Fill up the Map until the max size threshold is about to be reached
3) Add a record that causes the threshold to be reached
4) Try to ``get`` the data that has just been added
5) There is a chance that this ``get`` returns null

I believe that this is due to``AbstractBaseRecord.evictionCriteriaNumber`` being left at ``0`

[2014-12-19 16:32] mdogan opened #4335 "JCache sync listener completion latch problems"
This is a follow-up issue for https://github.com/hazelcast/hazelcast/pull/4333. See PR comments for more info.

Sync listener completion latch has some problems:

- It's not defined what will happen a completion event doesn't arrive; throw error or silently ignore
- There's a hardcoded 5min upper bound limit for completion latch await
- There's no way of knowing status of invocation during latch w

[2014-12-19 18:01] #4330 closed, assigned to nobody

[2014-12-20 08:11] Danny-Hazelcast opened #4338 "3.4 test Stabilizer-Large, Client generated hs_err_pid.log"
Hz version

[code]

Stabilizer Version

[code]

Stabilizer Properties

[code]

Test running

[code]

Stabilizer reported, this fail at 4h into the run

[code]

A client crashed with

[code]

First fail in failures,  subsequent fails reported are all due to the client crash

[code]

A search for all "unique" FATAL msg over all Member notes

[code]

A search for all "unique" FATAL msg over all clien

[2014-12-20 08:58] jacum opened #4339 "Near cache configuration for each map separately causes leak of map entries"
Hazelcast 3.3.3

Good configuration (no leaks)
[code]

Configuration that causes leaks
[code]

It looks like it is impossible to specify near-cache selectively for just some maps without causing memory leaks.

[2014-12-22 08:09] ahmetmircik opened #4341 "Delayed store time for a key should not be shifted after updates in a write-behind mapstore"
Write-behind system coalesces all operations on a specific key in a configured write-delay-seconds window and it should also store only the latest change on that key in that window. Problem with the current behavior is; a continuously updated key may not be persisted ever due to the shifted store time during updates.

[2014-12-22 10:59] lukasblu opened #4348 "FinalizeJoinOperation timeout if MapStore.loadAllKeys takes more than 5s"
Hi,

in version 3.3.4 the FinalizeJoinOperation times out if the MapStore.loadAllKeys() method takes more than 5s.

the exception is the following:

[code]

the place where the timeout is set to 5 seconds is here:
ClusterServiceImpl:910

since the MapStore.loadAllKeys method is quite likely to take more than 5s on systems with lots of data, this timeout should probably be quite a bit higher.

belo

[2014-12-22 14:46] #4341 closed, assigned to nobody

[2014-12-22 18:06] #4348 closed, assigned to nobody

[2014-12-22 19:01] mzapletal opened #4349 "Client shuts down when IP changes upon reconnects"
We have been experiencing that HZ clients shutdown in case of an IP change of one or more of the configured node (DNS) addresses.

Steps that led to the problem:

1. Cluster with two nodes
2. Clients are configured to access cluster nodes via FQDN
3. Shutdown of both cluster nodes
4. (clients try to reconnect)
5. Cluster nodes come up again
6. During startup, cluster nodes get new (private) IP add

[2014-12-23 08:50] alparslanavci opened #4351 "Adding more detail to Java Client declarative configuration documentation"
In documentation, Java Client declarative configuration needs more detail like where to put hazelcast-client.xml, what the ways are to point the xml file, etc.

[2014-12-23 10:20] lukasblu opened #4354 "Cleanup on shutdown"
Hi,

we are using Hazelcast 3.4.1-SNAPSHOT as a library embedded in a web application running on Tomcat.

When Tomcat stops, it performs a few cleanup checks. There are two (non serious) issues with Hazelcast:

Here is our log output:

1st we perform an internal shutdown of the web application which also stops Hazelcast. Here all is fine.

[code]

Then we stop the application server and here Tomca

[2014-12-23 11:28] bilalyasar opened #4355 "[TEST-FAILURE] map.MergePolicyTest failures"
com.hazelcast.map.MergePolicyTest.testPutIfAbsentMapMergePolicy
com.hazelcast.map.MergePolicyTest.testPassThroughMapMergePolicy
com.hazelcast.map.MergePolicyTest.testHigherHitsMapMergePolicy
com.hazelcast.map.MergePolicyTest.testLatestUpdateMapMergePolicy

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/com.hazelcast$hazelcast/334/testReport/junit/com.hazelcast.map/Merg

[2014-12-23 11:29] bilalyasar opened #4356 "RepartitioningStressTest intermittent failures"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/com.hazelcast$hazelcast/334/testReport/junit/com.hazelcast.spi/RepartitioningStressTest/callWithoutBackups/

[2014-12-23 11:31] bilalyasar opened #4357 "[TEST-FAILURE] JCacheListenerTest.testSyncListener_shouldNotHang_whenCacheDestroyed"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8/com.hazelcast$hazelcast/415/testReport/junit/com.hazelcast.cache/JCacheListenerTest/testSyncListener_shouldNotHang_whenCacheDestroyed/

[2014-12-23 22:57] jacum opened #4358 "When near cache is used, cached entries from remote node are evicted by idleness, despite being read"
Another issue with near cache.

Code and config
https://gist.github.com/jacum/26fb34048a297445bb29

Results:
nearCacheSize before expiration 475; map 1000 waiting ...
Elapsed 0; near cache 475; map 1000 waiting ...
Elapsed 10; near cache 475; map 1000 waiting ...
Elapsed 20; near cache 475; map 1000 waiting ...
Elapsed 30; near cache 475; map 1000 waiting ...
Elapsed 40; near cache 475; map 1000 w

[2014-12-24 11:49] Danny-Hazelcast opened #4359 "ICache, max-size-policy is broken, under Cluster Member crash"
during a stabilizer run where we experienced an unexpected member node crash,
EvictionICacheTest encountered this exception.

[code]

do we expect max-size-policy to hold under member node crash,  ?

[2014-12-24 13:11] eminn opened #4360 "map replication operation does not carry removed entries if somehow backup has missing removals"
If remove backup operation cannot make it to the backup node (e.g because of network blip) entry is not removed from backup. After replica sync kicks in map replication operation does not carry removed entries to the backup.

[2014-12-24 13:13] #4360 closed, assigned to eminn

[2014-12-24 13:48] mzapletal opened #4363 "Support re-start of HazelcastClient (after HazelcastInstanceNotActiveException)"
Currently, clients may run into `HazelcastInstanceNotActiveException` and are shutting down in cases where this is not desired (e.g., reboot of the cluster, changing IP addresses ( #4349),...).
In such cases, it may be desirable to get the client from a shutdown state back to a connecting state.

While it is easy in _plain Java applications_ to just re-create the Hazelcast client, this gets almost

[2014-12-24 15:27] Danny-Hazelcast opened #4364 "Hz 3.4 OperationTimeoutException, op=TxnLockAndGetOperation, MapTransactionContextConflictTest"
Tested on Hazelcast 3.4

MapTransactionContextConflictTest reliably causes an OperationTimeoutException.
3 out of 3 runs produced the same OperationTimeoutException,  each failing in approx 5min's

[code]

The Stabilizer Test
[code]

The enviroment
[code]

The Fail
[code]

All unique Fatal msg over 3 members, form a failing run
[code]

All unique Warn msg over 3 members, form a failing run
[code]

[2014-12-25 12:10] oshany opened #4365 "HazelcastInstanceNotActiveException after recovering from split brain"
Hi,

After recovering from a split-brain scenario some clients get disconnected and can't connect again,  getting HazelcastInstanceNotActiveException

Here are the details:
-Version: 3.3.3
Nodes: 3 (Nodes are running on tomcat instances, Java 1.7.51 (Oracle), Running on Linux)
Clients: 6. The clients are running on the same tomcat instances, and connecting to the local node (localhost:5701).
-clus

[2014-12-25 13:05] #4351 closed, assigned to nobody

[2014-12-26 09:50] bilalyasar opened #4368 "[TEST-FAILURE] testLock_WhenDummyClientAndOwnerNodeDiesTogether"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast-client/2459/testReport/junit/com.hazelcast.client/ClientRegressionTest/testLock_WhenDummyClientAndOwnerNodeDiesTogether/

[2014-12-30 16:18] Danny-Hazelcast opened #4371 "hazelcast 3.4 - 3.5 Binary Compatibility, issue"
MapLoader `Set<K> loadAllKeys();`   changed to  `Iterable<K> loadAllKeys();`   in  3.5

its not binary compatible.

do we guarantee binary compatibility in minor releases?

[2014-12-31 07:19] bilalyasar opened #4372 "[TEST-FIX] ConditionTest.testAwaitUntil_whenFail"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/418/testReport/junit/com.hazelcast.concurrent.lock/ConditionTest/testAwaitUntil_whenFail/

[2014-12-31 09:55] #4338 closed, assigned to nobody

[2014-12-31 09:59] #4294 closed, assigned to nobody

[2014-12-31 10:46] alparslanavci opened #4373 "Predicates with null values throws exception on unordered indexes"
When a predicate with null value is applied to a map with unordered index, it operates correctly but throws exception because of casting. You can reproduce it with the following test:

[code]

[2014-12-31 11:59] #1282 closed, assigned to nobody

[2014-12-31 12:01] #3089 closed, assigned to ahmetmircik

[2014-12-31 12:07] #2450 closed, assigned to nobody

[2014-12-31 12:11] #3018 closed, assigned to nobody

[2014-12-31 12:31] #3951 closed, assigned to nobody

[2015-01-01 04:29] markathomas commented on #3937
+1 - VERY IMPORTANT!!!

[2015-01-02 05:28] chandreshp opened #4374 "Hazelcast instance name with Hibernate still creates multiple instances"
I am using below setting in my grails-hibernate application:
cache.hazelcast.instance_name = hc_cache

We have 3 databases configured and by default, Hazelcast creates 3 cache instances although the contents are the same across them. On specifying an instance name, it should be creating a single instance with the specified name but it still creates the three instances.
I am using Hazelcast 3.2.6 a

[2015-01-02 12:51] wildnez opened #4376 "Document of NearCache Configuration on Client is not efficient"
Configuring NearCache in a Client/Server system only talks about programmatic configuration of NearCache on clients, no mention of declarative configuration (XML).

Fixes #4375

[2015-01-02 12:51] talipkorkmaz opened #4377 "hazelcast console in windows7 via telnet"
I want to access hazelcast console without management tool of hazelcast.
And want to use whole commands of hazelcat via telnet.
Is this possible?

Accessing is ok but after entering a character it forcely exit.
Any idea?

[2015-01-03 14:45] bwzhang2011 commented on #4363
@gurbuzali, would you mind leaving more message for that ? If I were wrong to shutdown the hazelcastInstance from any kind of way. e.g from the press button of hazelcast mancenter, how could I restart such as I could catch the hazelcastInstanceNotActiveException and I could get the original configuration of hazelcast. how could I restart that or replace the bean in spring(if I use hazelcast-spring

[2015-01-03 15:52] talipkorkmaz opened #4378 "Hazelcast Client shutdowned, but doesnt kill opened threads in tomcat"
Hi all,

There is a lifcylelistener of hazelcast client and it logs as below.

[code]

As you can see from log file hazelcast threads are still open and not closing.
I shoutdown the hazelcast instance by accessing the cache manager in spring context.
I didnt used HazelcastManger because there is not get Method of hazelcast intance.
So I totally copied HazelcastManager and added a get method.
Than

[2015-01-04 18:26] SimonTurfer commented on #3395
We're getting this exception on version 3.3.3 as well, running on EC2 instances. It happens when one instance is being shutdown from the AWS console.

We're also getting spammed with "Retrying[2] packet send operation to...." messages when this happens and it wont stop retrying.

[code]

[2015-01-05 08:04] ahmetmircik commented on #4358
closed via https://github.com/hazelcast/hazelcast/commit/357c134c304e71ffaba881af853589adc52cc5a0

[2015-01-05 08:04] #4358 closed

[2015-01-05 08:08] ahmetmircik commented on #4339
Please reopen this issue when you have a failing test.

[2015-01-05 08:08] #4339 closed

[2015-01-05 08:18] ahmetmircik commented on #4253
Merged into https://github.com/hazelcast/hazelcast/issues/4321

[2015-01-05 08:18] #4253 closed

[2015-01-05 09:48] pveentjer commented on #4377
The Hazelcast Console App is just a toy. There is no remoting support and none is planned for it.

[2015-01-05 09:48] #4377 closed

[2015-01-05 09:48] pveentjer commented on #4373
Which HZ version did you use? And can you post the whole stacktrace?

[2015-01-05 09:50] pveentjer commented on #4376
Efficient or sufficient?

[2015-01-05 09:52] pveentjer commented on #4371
HZ 3.5 should be a drop in replacement for 3.4; without needing to recompile code.

[2015-01-05 09:53] pveentjer commented on #4371
Hi @ajermakovics can you have a look at this one? Problably the way to fix it would be to intercept the exception and do some reflection, to make sure that it still works.

[2015-01-05 14:18] guidolx opened #4381 "Memory Leak in com.hazelcast.instance.LifecycleServiceImpl ? (Hazelcast 3.3.3)"
![memoryleak](https://cloud.githubusercontent.com/assets/1859583/5614148/2cd0bf3e-94ee-11e4-9a91-a069572dfe06.png)
Hello,
In an app I am working on I needed to implement a distributed lock to implement a fail-over mechanism and it's been really fast and easy to implement thanks to Hazelcast.
The application itself is very simple, it uses a Semaphore instance with a single permit to coordinate the

[2015-01-05 14:24] ahmetmircik opened #4382 "Mapstore flush throws NPE on Hazelcast.shutdownAll() due to the services shutdown order"
During Hazelcast.shutdownAll() process, LockService is shutted down before MapService and this may cause NPE if there is something like `isLocked` check in some internal IMap operations.

[2015-01-05 14:48] guidolx commented on #4381
Hhm, sorry dear Hazelcast team, seems to be a problem in my code.
It looks like the method initHazelcast is continously called in my code and thus it continues to add instances LifecycleListener to the Lifecycle service implementation.

[2015-01-05 14:48] #4381 closed

[2015-01-05 20:13] ben-loy opened #4385 "HazelcastSerializationException when adding non-core Java classes to session with session replication enabled"
Description:
I'm using Hazelcast 3.4 for session replication with a application server in client mode connecting to a single server instance on localhost.  My web application added an object to the session object that isn't in the standard Java library and the client is receiving a HazelcastSerializationException from the server trying to deserialize it.  Adding the jars with the missing classes t

[2015-01-06 07:56] mdogan commented on #4376
Fixed by #4375

[2015-01-06 07:56] #4376 closed

[2015-01-06 08:16] mdogan commented on #4373
Following patch fixes this issue:

[code]

[2015-01-06 08:45] mdogan commented on #4373
I am not quite sure if the patch above fixes the all NULL cases. We need to add more tests using NULL values/fields to cover most of the cases.

[2015-01-06 11:46] mesutcelik commented on #4385
@Azaere ,

Thanks for reporting. Session invalidation is done via Hazelcast Entry Processors and Entry Processors require all classes available on the classpath. That is a problem with Client/Server architecture on our Session Replication Module.

Your only option for now to include those classes on the Hazelcast Cluster classpath.

[2015-01-06 12:03] mesutcelik commented on #4374
you are missing **hibernate.** prefix. Can you please try again?

[code]

I am closing this ticket. please feel free to reopen if you still see the problem.

[2015-01-06 12:38] chandreshp commented on #4374
As I said, I am using grails. So, below is my configuration:
hibernate {
    jdbc.batch_size = 50
    cache.use_second_level_cache = true
    cache.use_query_cache = true
//    cache.provider_class = 'net.sf.ehcache.hibernate.SingletonEhCacheProvider'
    cache.region.factory_class = 'com.hazelcast.hibernate.HazelcastCacheRegionFactory'
    cache.hazelcast.instance_name = hc_cache
}
I don't think

[2015-01-06 13:00] #4382 closed

[2015-01-06 13:01] #4173 closed

[2015-01-06 23:27] saturnism opened #4387 "Add Google Compute Engine support for clustering"
Currently there is aws support in hazelcast using S3.  This should be easily adaptable to GCE's Cloud Storage.

[2015-01-07 06:28] chandreshp opened #4388 "Hazelcast instance name with Hibernate still creates multiple instances"
Please refer to below issue that was closed but should be reopened. I have posted a comment as reply for reopening purpose. I am unable to reopen it myself probably due to restricted access.

https://github.com/hazelcast/hazelcast/issues/4374

[2015-01-07 06:54] bilalyasar opened #4389 "[TEST-FAILURE] maintenance-nightly instance shutdown failures"
we are getting such a failures in many tests:

[code]
[code]
com.hazelcast.cluster.JoinStressTest.testMulticastJoinWithManyNodes
com.hazelcast.cluster.MemoryLeakTest.com.hazelcast.cluster.MemoryLeakTest
com.hazelcast.cluster.SplitBrainHandlerTest.testMulticast_MergeAfterSplitBrain
com.hazelcast.cluster.SplitBrainHandlerTest.testClusterMerge_when_split_not_detected_by_slave
com.hazelcast.cluster.Sp

[2015-01-07 07:02] bilalyasar opened #4390 "[TEST-FAILURE] DistributedMapperMapReduceTest.testAsyncMapperReducerCollator"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OpenJDK6/com.hazelcast$hazelcast/109/testReport/junit/com.hazelcast.mapreduce/DistributedMapperMapReduceTest/testAsyncMapperReducerCollator/

[2015-01-07 07:07] bilalyasar opened #4391 "[TEST-FAILURE] hazelcast.cluster failures"
[code]
[code]
[code]
 com.hazelcast.cluster.MemoryLeakTest.com.hazelcast.cluster.MemoryLeakTest
 com.hazelcast.cluster.SplitBrainHandlerTest.testClusterMerge_when_split_not_detected_by_slave
 com.hazelcast.cluster.SplitBrainHandlerTest.testMulticast_ClusterMerge_when_split_not_detected_by_master
 com.hazelcast.cluster.SplitBrainHandlerTest.testMulticast_MergeAfterSplitBrain
 com.hazelcast.cluster.

[2015-01-07 07:09] bilalyasar opened #4392 "[TEST-FAILURE] cluster.SplitBrainHandlerTest failures"
com.hazelcast.cluster.SplitBrainHandlerTest.testMulticast_MergeAfterSplitBrain
com.hazelcast.cluster.SplitBrainHandlerTest.testClusterMerge_when_split_not_detected_by_slave
com.hazelcast.cluster.SplitBrainHandlerTest.testMulticast_ClusterMerge_when_split_not_detected_by_master
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/429/testReport/com.hazel

[2015-01-07 07:11] bilalyasar opened #4393 "[TEST-FAILURE] map.BackupTest failures"
com.hazelcast.map.BackupTest.testBackupMigrationAndRecovery
com.hazelcast.map.BackupTest.testIssue177BackupCount
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/429/testReport/junit/com.hazelcast.map/BackupTest/

[2015-01-07 07:12] bilalyasar commented on #4372
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/427/testReport/junit/com.hazelcast.concurrent.lock/ConditionTest/testAwaitUntil_whenFail/

[2015-01-07 07:24] bilalyasar commented on #3796
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast/2504/testReport/junit/com.hazelcast.queue/TransactionQueueTest/testIssue859And863/

[2015-01-07 07:41] mdogan commented on #4388
duplicate of #4374

[2015-01-07 07:41] #4388 closed

[2015-01-07 08:19] ChristerF opened #4394 "UserContext not settable for an instance before EntryProcessors/BackupEntryProcessor start arriving"
In an EntryProcessor you can make the EP "instance aware" and the Hazelcast instance will be injected into the EP before executing. That is a really good feature.

A typical use case would be to get hold of some "singletonish" subsystem that the EP needs access to via the "getUserContext" method.

However, there is no practical way of putting things in the UserContext  *before* EPs and BackupEPs s

[2015-01-07 08:23] mdogan commented on #4394
What about setting/adding `UserContext` using `Config` API?

https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/config/Config.java#L823

[code]

[2015-01-07 08:50] ChristerF commented on #4394
I didn't realize that existed - will give it a shot and let you know.

[2015-01-07 09:21] lukasblu commented on #4358
Hi @jacum

short input from my side: the inconsistency you describe above when using a near cache between local and remote entries is really not nice. However, there is a way around it which I personally think should always be used: enable caching of local entries!

To do so call nearCacheConfig.setCacheLocalEntries(true);

Doing so makes sure you have the same behavior on local as well as on remo

[2015-01-07 14:47] serkan-ozal commented on #4324
@Serdaro, currently, I couldn't started to work on this improvement. So since there is no implementation and PRD, we can ignore documentation at current state :). Thanks for your interest. Maybe forward to another milestone.

[2015-01-08 08:45] zhangyibao opened #4397 "Filter Based Web Session Replication :com.hazelcast.nio.serialization.HazelcastSerializationException: No DataSerializerFactory registered for namespace: -1000"
Hazelcast 3.4
[code]
Please help me ,thks.

[2015-01-08 09:09] noctarius commented on #4397
Your serverside does not have the session replication jar in classpath, does it?

[2015-01-08 09:29] zhangyibao commented on #4397
These jars have been inclueded:
hazelcast-3.4.jar
hazelcast-client-3.4.jar
hazelcast-wm-3.4.jar

I looks this file: hazelcast-documentation-3.4.pdf

[2015-01-08 09:32] zhangyibao commented on #4397
<?xml version="1.0" encoding="UTF-8"?>

<hazelcast-client xsi:schemaLocation="http://www.hazelcast.com/schema/client-config hazelcast-client-config-3.3.xsd"
                  xmlns="http://www.hazelcast.com/schema/client-config"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <group>
        <name>dev</name>
        <password>dev-pass</password>
    </group>
    <prop

[2015-01-08 14:35] atschofen opened #4398 "OperationTimeoutException when calling get on task future after hazelcast.operation.call.timeout.millis"
I am executing some tests with a build of Hazelcast 3.4.1-dev from December 22 2014. I discovered a problem with long-running tasks similar to issue #1949. It seems to be new in 3.4/3.4.1.

The problem is the following: If you execute a task that takes at least two times as long as the configured hazelcast.operation.call.timeout.millis, and you call get on a remote future sometime after two times

[2015-01-08 15:18] mdogan commented on #4398
This happens only if more than `2 x timeout` passes before calling `future.get()`.
[code]

Thanks for the report.

[2015-01-08 18:09] ChristerF commented on #4394
@mdogan that worked - thanks for the pointer!

[2015-01-08 18:09] #4394 closed

[2015-01-09 01:49] SingralliSeena commented on #168
We are seeing this issue in version 3.1.5. Should I be alarmed, or is this issue still not fixed?

[2015-01-09 07:30] bilalyasar commented on #4357
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast/2528/testReport/junit/com.hazelcast.cache/JCacheListenerTest/testSyncListener_shouldNotHang_whenCacheDestroyed/

[2015-01-09 07:31] bilalyasar commented on #4319
again failed:
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OpenJDK8/com.hazelcast$hazelcast/112/testReport/junit/com.hazelcast.cache/BasicCacheTest/testCompletionTest/

[2015-01-09 07:35] mesutcelik commented on #4374
Hi @chandreshp ,
Can you please create unit test or reproducer application? That would be very helpful to pinpoint the problem if exists.

Thanks in advance.

[2015-01-09 09:22] kuseman opened #4399 "Setting to populate near cache upon put/set"
Hi,

We use hazelcast as a cache in a load balanced environment, we are really dependent upon near cache, thus we have almost only read requests.
The flow is simply: check if a map contains a key, if not load data from Elasticsearch then put to map.

When next request comes in to the same node that made the put, the near cache is empty and thus a new get will occur which is kind of waste because t

[2015-01-10 08:34] zhangyibao commented on #4397
![image](https://cloud.githubusercontent.com/assets/10447211/5690927/88ec1632-98e6-11e4-9f35-5cccec2d39ca.png)

[2015-01-12 07:40] bilalyasar commented on #3889
new failure:
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/434/testReport/junit/com.hazelcast.mapreduce/MapReduceStressTest/test/

[2015-01-12 07:41] bilalyasar commented on #4356
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/434/testReport/junit/com.hazelcast.spi/RepartitioningStressTest/callWithoutBackups/

[2015-01-12 07:42] bilalyasar opened #4401 "[TEST-FAILURE] MapStoreTest.testMapInitialLoad"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK8/com.hazelcast$hazelcast/310/testReport/junit/com.hazelcast.map.mapstore/MapStoreTest/testMapInitialLoad/

[2015-01-12 08:18] ahmetmircik commented on #4401
Looks like needs some more time to complete https://github.com/hazelcast/hazelcast/commit/898bb117f200cc48a15bfc0d8b27418ebe2df752

[2015-01-12 13:58] MrEasy commented on #3864
@pveentjer any thoughts on @DStanev's patch?

[2015-01-13 01:30] amishasthana opened #4406 "Hazelcast stuck in TIMED_WAITING when using 2nd-level cache"
We are using Hazlecast as 2nd level cache for hibernate.
We are on hazlecast 3.2.6.
We are running a 12 node cluster. After two days we are seeing that all threads which are using hibernate/hazlecast are in Stuck state.
The Stack trace is :
qtp19557847-405" prio=10 tid=0x00007fab688ed000 nid=0xd37b in Object.wait() [0x00007faa94727000]
java.lang.Thread.State: TIMED_WAITING (on object monitor)
at j

[2015-01-13 12:17] pveentjer opened #4407 "Optimization: No need for IsStillExecutingOperation for local calls"
There is no need to use an IsStillExecutingOperation to check if an operation is running locally. One can directly access the scheduler.

[2015-01-13 12:21] pveentjer opened #4408 "Optimization: BasicInvocationFuture.waiterCount replace AtomicInteger by AtomicIntegerFieldUpdater"
No need to create an additional AtomicInteger object; one can replace it by an AtomicIntegerFieldUpdater like already is done for the response field in the same class.

[2015-01-13 13:21] pveentjer opened #4410 "Optimization: IsStillRunning simplification"
Instead of each operation asking if something is still running; let the other system every x seconds return a list of invocations that have been running for more than y seconds.

The current approach causes additional pressure on a system under pressure since:
- no additional operations need to be executed while a system already is executing operations slowly.
- data can be packet a lot more effic

[2015-01-13 13:30] pveentjer commented on #4410
This will also help us to get rid of the difference between the future.andThen and the future.get.

[2015-01-13 13:40] pveentjer opened #4411 "Additional probes"
We need to know number of local vs number of remote calls.

We need to know the number of calls that are running in a timeout.

[2015-01-13 14:22] #4329 closed

[2015-01-13 15:53] pveentjer commented on #4410
One of the other problems with the current design is that we are only checking what is currently executing, not what is in the pipeline:
- in the connection write-queue (operation and response)
- operation queue.

So it could be that is still running returns false, because the operation has not yet been picked up yet.

[2015-01-13 16:07] jerrinot commented on #4410
that's the reason I'm sceptical when it comes to usefulness of the while IsStillRunning vehicle. it covers only a very small portion of possibly delays and IMHO it's not worth the extra complexity.

[2015-01-13 16:08] pveentjer commented on #4410
I would also like to get rid of it completely. We have the heart beat that detect when a node is not usable. So we can lift on that mechanism afaik.

[2015-01-13 16:44] juanavelez opened #4412 "Allow the Hazelcast JCA Connector to specify an instance name"
As of Hazelcast 3.4, when using both the Hazelcast JCA Connector and Hazelcast as 2nd level cache for Hibernate, there is no way for Hibernate to re-use the same instance created by the Hazelcast JCA connector. This would be possible if the Hazelcast JCA Connector would allow to specify the instance name. The instance name for 2nd level cache for Hibernate can be specified as a property (hibernate

[2015-01-13 17:45] amishasthana commented on #4406
Please note that its basically blocking our whole app. We call this query which uses hibernate/hazlecast and never comes back causing all threads to block.
The same query if we execute against the DB will come back immediately.

[2015-01-14 05:44] yukihane opened #4414 "Repeatable-read does not work in a transaction"
Discribed in [v3.4 manual](http://docs.hazelcast.org/docs/3.4/manual/html/transactions.html):

However, obtained values are different when another hazelcast instance updates between first read and second one.

[code]

[2015-01-14 10:04] juergen-roberg opened #4415 "Missing dependency in module.xml for JBoss 7 AS"
The documentation for Hazelcast 3.4 (Chapter 10.3.5) describes the following JBoss module.xml:
[code]
This results in an NoClassDefFoundError for sun.misc.Unsafe.
<code>
10:52:24,481 ERROR [org.jboss.msc.service.fail] (ServerService Thread Pool -- 59) MSC000001: Failed to start service jboss.ra.deployer."hazelcast-jca-rar-3.4": org.jboss.msc.service.StartException in service jboss.ra.deployer."haz

[2015-01-14 12:43] hicyo commented on #3752
Now, I still having the same issue using 3.4 version on Solaris 10 and Websphere application server 7.

[2015-01-14 15:04] buondoi opened #4416 "ClassCastException when create HazelCastInstance in OSGI environment"
Caused by: com.hazelcast.core.HazelcastException: java.lang.ClassCastException: Cannot cast com.hazelcast.instance.DefaultNodeExtension to com.hazelcast.instance.NodeExtension
	at com.hazelcast.util.ServiceLoader$1.next(ServiceLoader.java:99)
	at com.hazelcast.instance.NodeExtensionFactory.create(NodeExtensionFactory.java:35)
	at com.hazelcast.instance.Node.<init>(Node.java:154)
	at com.hazelcast.

[2015-01-14 20:18] hasancelik commented on #4416
Thanks for reporting your issue. Please share with us the following information, to help us resolve your issue quickly and efficiently.

1)Hazelcast version that you use (e.g. 3.4, also specify whether it is a minor release or the latest snapshot).
2)Cluster size, i.e. the number of Hazelcast cluster members.
3)Number of the clients.
4)Version of Java. It is also helpful to mention the JVM paramet

[2015-01-14 23:22] dsukhoroslov opened #4417 "distributed query performed sequentually"
Found in Hazelcast 3.3.3 and 3.3.4.
I have a client and two cache servers, in test env all of them are started on the same machine. Client submits a task to one of the servers. On the server side, the task build a predicate and get keySet as

	Predicate pp = Predicates.equal("pathId", xPath.getPathId());
	Predicate<XDMDataKey, XDMElements> f = Predicates.and(pp, new QueryPredicate(pex, value));
	S

[2015-01-15 03:04] buondoi commented on #4416
Hi,

1/ We're using version 3.4 final release.
2/ We're evaluating phase so just on 1 local machine.
3/ Java 1.8.0_20
4/ OS: Window
5/ The log as in this issue, we just create new HazelcastInstance from another osgi bundle. I think thi my be an issue?
6/ We don't integrate with any other modules

[2015-01-15 04:49] buondoi commented on #4416
Hi,

I just tried to turn on "hazelcast.osgi.start" and also got this error.

This is stacktrace

com.hazelcast.core.HazelcastException: java.lang.ClassCastException: Cannot cast com.hazelcast.instance.DefaultNodeExtension to com.hazelcast.instance.NodeExtension
	at com.hazelcast.util.ServiceLoader$1.next(ServiceLoader.java:99)
	at com.hazelcast.instance.NodeExtensionFactory.create(NodeExtensionFa

[2015-01-15 07:27] bilalyasar opened #4418 "[TEST-FAILURE] MembershipListenerTest.whenMemberAdded_thenMemberAddedEvent"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-IbmJDK1.6/com.hazelcast$hazelcast-client/114/testReport/junit/com.hazelcast.client/MembershipListenerTest/whenMemberAdded_thenMemberAddedEvent/

[2015-01-15 08:17] mdogan commented on #4349
Problem is, when address can't be resolved client terminates immediately. As @mzapletal reported, `java.lang.IllegalArgumentException: Can't resolve address: ...` is not handled correctly.

[code]

[code]

[2015-01-15 12:01] enesakar commented on #4038
we can not progress without more information (e.g. thread dump).
I am closing, you can reopen it when reproduced with more data.

[2015-01-15 12:01] #4038 closed

[2015-01-15 12:52] enesakar commented on #3921
As team, we do not invest much on 2.x branches. I am closing this ticket.
Please re-open it if you see similar problems with 3.x versions.

[2015-01-15 12:52] #3921 closed

[2015-01-15 12:54] ahmetmircik opened #4420 "ReplicatedMap containsKey should return false on removed keys"
A failing test:
[code]

[2015-01-15 14:16] enesakar commented on #3848
duplicate of https://github.com/hazelcast/hazelcast/issues/115
closing.

[2015-01-15 14:16] #3848 closed

[2015-01-15 14:19] enesakar commented on #3760
@pveentjer 's suggestion seems a workaround. closing the issue.

[2015-01-15 14:19] #3760 closed

[2015-01-15 14:25] efic1 commented on #4038
Just an update on this issue, the root cause was time synchronization of the cluster nodes, we had a few node which drifted a lot (more than 5 min). setting a ntp of the servers solved the problem.

[2015-01-15 14:31] bilalyasar commented on #4397
@zhangyibao , i tried to reproduce your case but couldn't succeed. Can you give more detail for your case like your server-client side configurations or a sample project, scenario?

[2015-01-16 04:28] kutsal opened #4423 "CacheConfig(CacheSimpleConfig simpleConfig) constructor broken in 3.4"
Looks like @asimarslan forgot to fix variable assignments in [this](https://github.com/hazelcast/hazelcast/commit/2b274e6521ea45ba3f56fc50cbbe51d807794e3c#diff-da4f4c8466d2549f67ffb738b98cf597R97) commit. This prevents JCache declarative initialization given a configuration XML containing entries for `cache-writer-factory` or `expiry-policy-factory`:

[code]

Here's the broken code in question:

[

[2015-01-16 11:47] skywalkery opened #4426 "Infinite partition synchronization between nodes"
Hi guys,
I use hazelcast version 3.3.3 and have a problem with infinite partition synchronization between two nodes. I don't know how to reproduce this bug, sometime it works, sometime not.
I start one node, then I start second node, and have infinite process. By the way, I use MapStore which stored data into amazon s3.

Log from the first node:

[code]

Log from the second node:

[code]

Thread d

[2015-01-16 11:54] dsukhoroslov commented on #4417
I had a look at what's going on at this keySet() call. Hazelcast creates number of Features per each cluster Member, every Feature runs QueryOperation on corresponding Member. QueryOperation is  allowed to run from caller thread because it is not PartitionAware. When OperationService run Features it just starts them one by one. The first Feature in my case was assigned to the local Member and it i

[2015-01-16 11:58] dsukhoroslov commented on #4417
Sorry, I lost something in the last line :). The question was: what about dedicated query service "hz:query", why not use it for this task?

[2015-01-16 12:16] #4423 closed

[2015-01-16 16:24] chowle opened #4427 "SqlPredicate and custom types"
When running a SQL predicate against an map item's attribute that is a LocalDate (java.time.LocalDate) hazelcast is throwing a number of errors.

`Unknown attribute type: class java.lang.String`
`com.hazelcast.query.QueryException: Unknown attribute type: class java.lang.String`

It looks like there is no mapping to an appropriate converter.  As this is a java 1.8 type.  It would be ideal if the a

[2015-01-17 23:25] dguggi opened #4429 "ClientListener not configurable via ListenerConfig"
HazelcastInstanceImpl.initializeListeners(Config config) does not honor ClientListener instances.

Therefore the following does not work:

config.addListenerConfig(new ListenerConfig(new MyClientListener());
Hazelcast.newHazelcastInstance(config));

[2015-01-18 22:25] romario13 opened #4432 "Memory leak caused by empty await queues in WaitNotifyService"
Memory leak when more then one thread try to lock on IMap key at the same time

tested on hazelcast version 3.4:

[code]

[2015-01-19 07:20] Serdaro commented on #4218
@eminn, do you need any help on this, documentation-wise?

[2015-01-19 07:26] Serdaro commented on #4198
@degerhz, Could you please check the code-samples repo. I think they did it.

[2015-01-19 07:27] bilalyasar commented on #4389
same story here:
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/361/

[2015-01-19 07:29] bilalyasar opened #4433 "EvictionTest.testIssue585SetWithoutTTL"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/com.hazelcast$hazelcast/426/testReport/junit/com.hazelcast.map/EvictionTest/testIssue585SetWithoutTTL/

[2015-01-19 07:30] bilalyasar opened #4434 "[TEST-FAILURE] ClientRegressionTest.testLock_WhenSmartClientAndOwnerNodeDiesTogether"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/com.hazelcast$hazelcast-client/426/testReport/junit/com.hazelcast.client/ClientRegressionTest/testLock_WhenSmartClientAndOwnerNodeDiesTogether/

[2015-01-19 07:31] bilalyasar opened #4435 "[TEST-FAILURE] WanReplicationTest.VTopo_1passiveReplicar_2producers_Test_LatestUpdateMapMergePolicy"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/441/testReport/junit/com.hazelcast.wan/WanReplicationTest/VTopo_1passiveReplicar_2producers_Test_LatestUpdateMapMergePolicy/

[2015-01-19 07:36] bilalyasar commented on #4401
again failed:
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK8/com.hazelcast$hazelcast/316/testReport/junit/com.hazelcast.map.mapstore/MapStoreTest/testMapInitialLoad/

[2015-01-19 07:37] Serdaro commented on #4143
@gurbuzali, do you need any help on this, documentation-wise?

[2015-01-19 08:14] #3401 closed

[2015-01-19 08:26] degerhz commented on #4198
Guys, @gurbuzali @serkan-ozal, so you think code samples are in place related to this issue. If so I will close this issue. Thanks @Serdaro :)

[2015-01-19 08:42] gurbuzali commented on #4198
I believe this PR https://github.com/hazelcast/hazelcast-code-samples/pull/28 covers some of them too.

[2015-01-19 09:03] #4146 closed

[2015-01-19 09:04] serkan-ozal commented on #4198
and also this PR https://github.com/hazelcast/hazelcast-code-samples/pull/27 covers Hi-Density part. So I think we can close this issue.

[2015-01-19 09:42] degerhz commented on #4198
Thanks @Serdaro @gurbuzali @serkan-ozal

[2015-01-19 09:42] #4198 closed

[2015-01-19 10:04] ahmetmircik opened #4438 "Make write-coalescing configurable for write-behind map-stores"

[2015-01-19 10:12] mdogan commented on #4432
After running the code above for 5-10 mins with jvm arguments `-server -Xmx512m -XX:+HeapDumpOnOutOfMemoryError`:

![screen shot 2015-01-19 at 12 09 55](https://cloud.githubusercontent.com/assets/1201712/5798833/2d55259e-9fd4-11e4-91dc-ff4b637f2077.png)

![screen shot 2015-01-19 at 12 09 26](https://cloud.githubusercontent.com/assets/1201712/5798842/3531b174-9fd4-11e4-8f12-4c6585cd7c92.png)

![scr

[2015-01-19 13:02] ahmetmircik commented on #4433
A possible fix https://github.com/hazelcast/hazelcast/commit/55697240307f7257c91a1b275fd0713c3b5a3ecb

It looks like with an unlucky timing, background expiration thread may need some more time to find the right partition which includes expiration candidate entry, since expiration operation is not sent whole partitions in one round, it scans some portions of them lazily in every run.

[2015-01-19 13:36] #4420 closed

[2015-01-19 13:42] #3963 closed

[2015-01-19 14:27] u6f6o opened #4445 "LocalRegionCache cleanup is wrong"
Hi,

When I configure a ttl of 0 (according to documentations means eternal cache), my cache is fully evcited all the time. I added  a test method to LocalRegionCacheTest class to make it reproducible:

    /**
     * According to documentation (http://docs.hazelcast.org/docs/3.3/manual/html-single/hazelcast-documentation.html)
     * 0 means eternal cache but instead we get evict everything all t

[2015-01-19 14:34] u6f6o commented on #4445
Besids that, basic features like using LRU or LFU evcition are also missing. CleanupService has a default interval and delay of 1 minute which also cannot be configured.

[2015-01-19 15:43] u6f6o commented on #4445
For my local tests I applied a dirty quick fix by doing:
-            if (v.getCreationTime() + timeToLive < now) {
+            if (timeToLive > 0 && v.getCreationTime() + timeToLive < now) {

[2015-01-19 18:58] u6f6o commented on #4445
Hi,

I tried to implement LFU on my own for the LocalRegionCache following the semantics from ClientNearCache. I'd appreciate if you could have a short look on it and tell me your oppinion about it. If the code is of any use for use, feel free to use it (https://github.com/u6f6o/hazelcast/commit/81dceb13633b10342d5e6a06eb94babae724658d).

I'd have one question though. How can I access the hazelcas

[2015-01-20 04:14] ShenalSenarath opened #4447 "Same key in Different Named Caches Get deleted in the previously entered Caches."
When using the following dependencies

        <dependency>
            <groupId>javax.cache</groupId>
            <artifactId>cache-api</artifactId>
            <version>1.0.0</version>
        </dependency>

        <dependency>
            <groupId>com.hazelcast</groupId>
            <artifactId>hazelcast</artifactId>
            <version>3.3.3</version>
        </dependency>

Different Named c

[2015-01-20 05:49] dirkvanrensburg opened #4448 "Duplicate 'store' call on MapStore when eviction happens"
When using write-behind and entries are evicted, which have not been stored yet, duplicate calls to the map store is made. This results in errors when the primary key is part of the map entry data and duplicate records in the database when it is not.

I will add a stabilizer test to illustrate this. It is easily reproducible when the mapstore is slow.

[2015-01-20 06:57] dirkvanrensburg commented on #4448
See hazelcast-stabilizer pull request: https://github.com/hazelcast/hazelcast-stabilizer/pull/475

[2015-01-20 07:15] serkan-ozal commented on #4447
Hi @ShenalSenarath,

* Can you share your test code to understand the case better ?
* Can you also try with hazelcast **3.4** version to reproduce the same issue ?

Thanks.

[2015-01-20 07:24] dsukhoroslov opened #4449 "Invalid credentials warning in Hazelcast 3.3.4"
Hazelcast 3.3.4. Client connects to the server:
[code]

at this point the following warning is logged:
[code]

but client is connected and works properly. On the server side the log is:
[code]

There are two Hazelcast instances started on the server side, one on the default port 5701 and the second at port 10500. I do connect to the second instance only. But it looks like the client tries to conne

[2015-01-20 09:10] #4438 closed

[2015-01-20 10:55] u6f6o opened #4451 "A bug in ClientNearCache eviction comparator"
In the ClientNearCache class there is the following comparator:

    private final Comparator<CacheRecord<K>> comparator = new Comparator<CacheRecord<K>>() {
        public int compare(CacheRecord<K> o1, CacheRecord<K> o2) {
            if (EvictionPolicy.LRU.equals(evictionPolicy)) {
                return ((Long) o1.lastAccessTime).compareTo((o2.lastAccessTime));
            } else if (EvictionP

[2015-01-20 11:55] bwzhang2011 commented on #4449
@gurbuzali, is such issue confirm. hope such should be fixed with some patch for 3.3.4 for our project has upgraded to such version.

[2015-01-20 11:57] ahmetmircik commented on #4448
Hi @dirkvanrensburg,

This is a known issue thanks for the report and test.
The gotcha part here trying to address this issue https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/map/impl/mapstore/writebehind/WriteBehindStore.java#L206

It should be fixed.

Btw can you please retry the test by setting `MapStoreConfig#setWriteCoalescing` to `false` by using lates

[2015-01-20 14:58] george-007 opened #4456 "NullpointerException in hibernate integration in LOCAL mode"
NullpointerException on second node when updating an entity. Hibernate (3.6.5)  with Hazelcast (3.4) as the 2nd level cache provider - LOCAL mode.

[code]

The exception is thrown in the following code from SessionFactoryImpl in Hibernate 3.6:

[code]

First ```SessionFactoryObjectFactory.getInstance(uuid);``` returns ```null```, then ```SessionFactoryObjectFactory.getNamedInstance(name);``` for `

[2015-01-20 14:59] george-007 commented on #4456
This issue is similar to https://groups.google.com/forum/#!topic/hazelcast/8ra4B3VepI8

[2015-01-20 22:02] dsukhoroslov commented on #4449
The workaround is simple: just do not start Hazelcast server on the default port. But this slows down client connection significantly: initially it tries to connect on default port and only after that it uses the address provided in config.

[2015-01-21 01:18] bwzhang2011 commented on #4449
@dsukhoroslov, thanks a lot for feed back but I could not quite understand what you pointed out. as we know, the default port is just for test and development, we will change that to proper one. and what's more, how or why would it slow down the connection according to the configuration of hazelcast client and in our project we rely to hazelcast spring configuration. so @gurbuzali , once it was co

[2015-01-21 02:30] dirkvanrensburg commented on #4448
Hi @ahmetmircik

That did the trick, thanks. I updated the test to set that flag so the test will pass and updated the pull request. Not sure if you guys are interested in that or not.

I guess there are already some test covering this, so do you plan to merge this into the stabiliser tests or should I close the pull request.

PS: Note that I have a contributor agreement in place via the company I

[2015-01-21 08:30] gurbuzali opened #4458 "IMap.getAll does not put data to RecordStore upon loading from map-store"
please see :
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/hazelcast/gtc6YuYb-eI/Tzz65MjzZKkJ

[2015-01-21 11:42] #4432 closed

[2015-01-21 17:42] bilalyasar commented on #4433
again failed:
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/com.hazelcast$hazelcast/428/testReport/junit/com.hazelcast.map/EvictionTest/testIssue585SetWithoutTTL/

[2015-01-21 20:08] ptrvif commented on #4348
" Hi @ahmetmircik , jepp, it works in 3.4.1-SNAPSHOT. Thanks. "

What about 3.4 release?

[2015-01-21 22:01] dsukhoroslov commented on #4449
Sorry, that was my bad. The default connection settings were specified in my default config file and then the correct connection address was added dynamically. Because connections shuffle before the first use and some bad luck I never seen this warning at Hazelacast 3.3.3, but found it at Hazelcast 3.3.4. So, the issue is closed.

[2015-01-21 22:01] #4449 closed

[2015-01-22 05:00] geemein80 commented on #624
We would like to continue to use version 2.6...

Is there any danger in overriding MapClientProxy.getAsync( K key ) and have it use the near cache? If not, what is the reason for this? Thanks.

[2015-01-22 08:09] bilalyasar commented on #3796
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK1.6/com.hazelcast$hazelcast/418/testReport/junit/com.hazelcast.queue/TransactionQueueTest/testIssue859And863/

[2015-01-22 08:27] bilalyasar opened #4471 "[TEST-FAILURE] cluster.SystemClockChangeTest failures"
[code]
[code]

com.hazelcast.cluster.SystemClockChangeTest.testCluster_whenMasterClockJumpsBackward
com.hazelcast.cluster.SystemClockChangeTest.testCluster_whenMasterClockJumpsForward
com.hazelcast.cluster.SystemClockChangeTest.testCluster_whenSlaveClockJumpsForward
com.hazelcast.cluster.SystemClockChangeTest.testCluster_whenSlaveClockJumpsBackward

https://hazelcast-l337.ci.cloudbees.com/job/Haze

[2015-01-22 08:41] #4408 closed

[2015-01-22 08:41] #4407 closed

[2015-01-22 14:17] #4458 closed

[2015-01-22 14:58] ashutosh0205 opened #4473 "queue.take() method throws wrong exception when thread is interrupted"
when a thread is waiting for an element to be available in queue after calling queue.take() method and if some other thread interrupt this waiting thread than this method throws HazlecastException instead of InterruptedException.

[2015-01-22 19:55] gurbuzali commented on #4473
duplicate of https://github.com/hazelcast/hazelcast/issues/4143

[2015-01-22 19:55] #4473 closed

[2015-01-22 20:30] jinhaotian opened #4476 "NullPointerException thrown from TextCommandServiceImpl, then rest request failed to get respone"
Hazelcast Version:3.3.2
JDK:build 1.7.0_51-b13
OS:CentOS release 6.4 kernel/ 2.6.32-358.el6.x86_64

In our production system(running in vmware vm). we some time got deal unreponsive node(rest request). NullPointerException found in the log

Exception in thread "hz._hzInstance_1_prod.ascii.service.response" java.lang.NullPointerException
	at com.hazelcast.ascii.TextCommandServiceImpl$ResponseThread

[2015-01-23 08:03] bilalyasar commented on #4357
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OracleJDK8/com.hazelcast$hazelcast/123/testReport/junit/com.hazelcast.cache/JCacheListenerTest/testSyncListener_shouldNotHang_whenCacheDestroyed/

[2015-01-23 09:36] #4448 closed

[2015-01-23 13:03] sancar commented on #4451
It is not likely to happen in LRU option. But I think in LFU case, it can be problematic. Solution is easy. I am trying to write a test to verify the problem.

And it seems that same problem can happen for node side near cache also.

Thanks for bug report.

[2015-01-23 13:30] u6f6o commented on #4451
Yes, LRU shouldn't matter normally. I already wrote a test to verify my assumption, if you're intersted, I can post it later on here.

[2015-01-23 13:39] sancar commented on #4451
One more test is always welcome.

[2015-01-23 16:06] ashutosh0205 commented on #4143
I have also found that not just for shutdown() but when I am actually interrupting thread using thread. interrupt(), I expect it to throw right exception i. e. InterruptedException() and this is the exception which is mentioned in throws clause of take() method but what I am getting is hazelcastException() which has InterruptedException() wrapped inside it.

[2015-01-24 10:21] noctarius opened #4480 "Add GroupBy/Having, Combined aggregations to Hazelcast Aggregations"
To enhance the use cases for Hazelcast Aggregations we need to add support to combine multiple Aggregators to be executed in one shot and add GroupBy/Having support as well.

Further information available in the internal PRD.

[2015-01-25 09:29] isaeedm commented on #115
+1
Is this feature going to be released with Hazelcast 3.5? if yes when will 3.5 be released?

[2015-01-25 17:19] crowdconnected commented on #115
+1

[2015-01-26 08:01] akoledzhikov opened #4481 "Possible data loss on split brain syndrome."
I have a cluster of 3 Hazelcast nodes which hold a shared map with a bunch of entries in it. Two of them are on the same machine (A) and one is on a different one. The backup count for this map is 5 (sync 3 async 2).
I disable the network interface on machine A. After the node on B has detected the network split and declared the other 2 nodes dead, I check the map - there are several missing recor

[2015-01-26 14:04] Danny-Hazelcast opened #4483 "Starting an embedded Tomcat instance with hazelcast-filter com.hazelcast.web.WebFilter"
Error
[code]

Full Log
[code]

[2015-01-26 14:08] gurbuzali commented on #4483
@Danny-Hazelcast did you tried this out of stabilizer ?
can it be that the issue is related with stabilizer + tomcat-embedded ?

[2015-01-26 14:20] bcfurtado commented on #2118
I'm using the version 3.4 and also still have the same error:

[code]

[2015-01-26 15:18] Danny-Hazelcast commented on #4483
so i removed the hazelcast jars from webapp/WEB-INF/lib
so then tomcat then used the hazelcast jars in the parent class loader,
and all was good

[2015-01-26 15:19] #4483 closed

[2015-01-26 15:21] serkan-ozal commented on #4483
@Danny-Hazelcast good. so now where does Tomcat take Hazelcast jars from ?

[2015-01-26 15:32] #3565 closed

[2015-01-26 15:42] Danny-Hazelcast commented on #4483
from the parent class loader,  which in this case happens to be "stabilizer",  It has the hz jars in its class path,  It is not creating hz instances directly is i disables this,  but It is still making use of hz logging,  and perhaps other static class,  which might cause the nodeContext to be loaded ?

[2015-01-26 19:43] u6f6o commented on #4451
I realised that I changed the visibility of the cache field to package protected, so it won't help you :-(. Not sure if JIT will optimize it anyways, but wouldn't it be probably better to have one LFU comparator and one LRU comparator instead of checking for it every time compare method is called?

[2015-01-26 22:23] cmuramoto commented on #4406
I am facing the exact same problem with 3.4. Threads get stuck in  InvocationFuture.pollResponse() when second level cache is accessed with a high degree of concurrency.

I am running my application with 8 dell R720 (32 cores each) nodes.

In the end I was forced to switch to LocalRegionCache, which uses CHM and is based on topic invalidation, that is, every node will end up hitting the database u

[2015-01-26 22:30] bilalyasar commented on #4406
@amishasthana @cmuramoto are you facing this issue in hibernate3 or hibernate4? or both of them?

[2015-01-26 22:41] cmuramoto commented on #4406
@bilalyasar I am using hibernate 3.6.10.Final

[2015-01-26 23:19] cmuramoto commented on #4456
I believe I had this issue once.

I added:

<prop key="hibernate.session_factory_name">F</prop>

to Spring config and voila!

There's another detail: If you are using serialization mode OBJECT instead of BINARY, you might get exceptions when a node is joining because partitions will start to migrate and deserialization starts to happen before your session factory will not be initialized yet.

[2015-01-27 02:15] tsuna commented on #2089
Is there a config variable to tune this?

[2015-01-27 02:17] tsuna commented on #2089
Ah, yes there is, I hadn't searched hard enough. `hazelcast.operation.thread.count`

[2015-01-27 03:01] bwzhang2011 commented on #3661
@pveentjer, how does this going on about queue performance once more nodes join ?  as we know, queue is widely used in our project and we do care about its performance and expansibility. hope @pveentjer provides more solution for such and we could not be waiting 3.5 forthcoming as more issue integrated into such version.

[2015-01-27 04:53] zhangyibao commented on #4397
@bilalyasar  ,I have not succeeded.

[2015-01-27 10:06] chandreshp commented on #4374
I was trying to reproduce this issue using the demo code samples that come with hazelcast 3.4 but got below errors:
A. Tried 'mvn exec:java -Dexec.mainClass="com.hazelcast.hibernate.CreateDB"' on "hazelcast-3.4\code-samples\hazelcast-integration\hibernate-2ndlevel-cache" on windows 7 and it gave below error even though it said "BUILD SUCCESS":
[INFO] --- exec-maven-plugin:1.3.2:java (default-cli)

[2015-01-27 10:49] bilalyasar commented on #4374
@chandreshp you can edit these line as following:
https://github.com/hazelcast/hazelcast-code-samples/blob/master/hazelcast-integration/hibernate-2ndlevel-cache/pom.xml#L25
[code]
hazelcast-all includes hibernate3 and hibernate4 and this cause exceptions, so we have to seperate them as shown above.

[2015-01-27 11:00] de-git commented on #4399
That would be really useful to avoid network latency when accessing frequently updated values.
A work-around I found so far is to implement my own cache, kept reasonably up-to-date using an entry listener.

[2015-01-27 11:06] chandreshp commented on #4374
Thanks @bilalyasar.
I am now getting below error with 'mvn exec:java -Dexec.mainClass="com.hazelcast.hibernate.ManageEmployee"':
INFO: [172.16.50.168]:5701 [hibernate] [3.4] Address[172.16.50.168]:5701 is STARTED
[WARNING]
java.lang.reflect.InvocationTargetException
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at sun.reflect.NativeMethodAccessorImpl.invoke(NativeM

[2015-01-27 11:24] bilalyasar commented on #4374
the problem is same, in your classpath is there any hazelcast-all.jar?
and can you try this command in hibernate 2nd level cache directory:
killall -9 java
rm -rf hibernateDB/
mvn exec:java -Dexec.mainClass="com.hazelcast.hibernate.CreateDB"
mvn exec:java -Dexec.mainClass="com.hazelcast.hibernate.ManageEmployee"

and this is my pom.xml: https://gist.github.com/bilalyasar/61cecc4539f5ecada9df

[2015-01-27 11:43] chandreshp commented on #4374
Thanks @bilalyasar. Your suggestions worked and the example now works flawlessly. I will reproduce this issue and then will give details.

[2015-01-27 11:46] #4118 closed

[2015-01-27 12:21] ajermakovics opened #4489 "Support for cleaning up MapStore/MapLoader instances"
Ported from mailing list https://groups.google.com/forum/#!topic/hazelcast/0_LWfoEMpUE :

Essentially MapLoaderLifecycleSupport.destroy should be called when IMap is destroyed to close resources

[2015-01-27 13:09] Tembrel commented on #4489
I'm in favor of this enhancement, but the semantics have to be slightly different, since a MapLoader could be shared by multiple IMap instances. Since `init(hzinst, props, mapName)` is called when a map first starts to use the MapLoader, how about adding `onDestroy(hzinst, mapName)` (or adding a subinterface for this) to be called when an IMap is destroyed, and leave `destroy()` for Hazelcast shut

[2015-01-27 13:29] ajermakovics commented on #4489
I agree, `onDestroy` or something similar would be useful. Also would make it symmetric with `init` method. Not sure if we need to pass the instance as a parameter since its the same as in `init` but I'll leave the design decisions for later. Subinterface is indeed an option because we need to consider backwards compatibility of the api.

[2015-01-27 18:18] pires commented on #4387
Would be great if someone from Hazelcast would take a peak at what the community is doing to help. But you can see for yourself #2313

[2015-01-27 21:55] ddossot commented on #2630
If anyone is interested, here is an alternative implementation of `TcpIpJoinerOverAWS` that uses the AWS EC2 client, which we have created at Unbounce in order to use IAM roles: https://gist.github.com/ddossot/814fadc6e2cf577f87f7

[2015-01-28 07:06] skywalkery commented on #4426
Some additional logs from the 2nd node:
[code]

[2015-01-28 09:46] ShenalSenarath commented on #4447
The issue is not there in 3.4 Thank you.

[2015-01-28 09:47] serkan-ozal commented on #4447
@ShenalSenarath ok thanks.

[2015-01-28 09:48] serkan-ozal commented on #4447
@gurbuzali can we close this issue or should fix on 3.3.x branch ?

[2015-01-28 10:03] gurbuzali commented on #4447
I've set the milestone to 3.4 and closing the issue.
but it would be good to have the reproducer test in our code base. can your provide it @ShenalSenarath ?

[2015-01-28 10:03] #4447 closed

[2015-01-28 10:28] gurbuzali commented on #4401
another failure
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-pr-builder/com.hazelcast$hazelcast/11578/testReport/junit/com.hazelcast.map.mapstore/MapStoreTest/testMapInitialLoad/

[2015-01-28 10:43] Donnerbart commented on #4426
Thanks for reporting your issue. So far I got the following information from you:
* Hazelcast version is 3.3.3
* Cluster size is 2
* Number of clients is 0
* Logs and stack traces are provided
* Steps to reproduce
  * Start first node
  * Start second node

You said you cannot reproduce this behavior all the time, but we would be grateful if you can provide a unit test and attach your configuratio

[2015-01-28 11:07] bilalyasar opened #4493 "[TEST-FAILURE] MapStoreEvictionTest.testLoadsAll_whenEvictionDisabled"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast/2625/testReport/junit/com.hazelcast.map.mapstore/MapStoreEvictionTest/testLoadsAll_whenEvictionDisabled/

[2015-01-28 11:08] Donnerbart commented on #4406
Thanks for reporting your issues. Since we have (at least) two different setups, please provide us your details via the following template:
* **Hazelcast version** that you are using  (e.g. 3.4, also specify minor release or latest snapshot)
* **Hazelcast configuration** (hazelcast.xml or programmatic configuration)
* **Cluster topology**
  * Number of Hazelcast member nodes
  * Number of Hazelcas

[2015-01-28 11:08] bilalyasar opened #4494 "[TEST-FAILURE] ClientInvocationTest.executionCallback_TooLongThrowableStackTrace"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/com.hazelcast$hazelcast-client/435/testReport/junit/com.hazelcast.client.spi.impl/ClientInvocationTest/executionCallback_TooLongThrowableStackTrace/

[2015-01-28 11:10] bilalyasar opened #4495 "[TEST-FAILURE] LockTest.testKeyOwnerDies"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.7/com.hazelcast$hazelcast/445/testReport/junit/com.hazelcast.concurrent.lock/LockTest/testKeyOwnerDies/

[2015-01-28 11:11] bilalyasar commented on #4393
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/450/console
again timed out

[2015-01-28 11:13] bilalyasar opened #4496 "[TEST-FAILURE] ClientMapReduceTest.testMapperReducerCollator"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast-client/449/testReport/junit/com.hazelcast.client.mapreduce/ClientMapReduceTest/testMapperReducerCollator/

[2015-01-28 12:20] skywalkery commented on #4426
Thanks for the response.

* java version "1.7.0_25"
Java(TM) SE Runtime Environment (build 1.7.0_25-b15)
Java HotSpot(TM) 64-Bit Server VM (build 23.25-b01, mixed mode)

* Linux 2.6.32-358.14.1.el6.x86_64 #1 SMP Tue Jul 16 23:51:20 UTC 2013 x86_64 x86_64 x86_64 GNU/Linux

* Tomcat 6.0

It looks like the issue does not reproduced on the version 3.4.
I am trying to create unit test for 3.3.3 which w

[2015-01-28 12:54] gurbuzali commented on #4302
please see https://github.com/hazelcast/hazelcast/pull/4313#issuecomment-71830247

[2015-01-28 12:54] #4302 closed

[2015-01-28 12:59] #4429 closed

[2015-01-28 13:13] #4315 closed

[2015-01-28 13:14] Donnerbart commented on #2431
The issue should be resolved with #4316 in Hazelcast 3.5.

[2015-01-28 13:14] #2431 closed

[2015-01-28 13:34] Donnerbart commented on #4426
If you create a unit test within the Hazelcast repository you can use the annotation `@Repeat(100)` to run a test multiple times. I don't know by heart how to do this easily in JUnit. In TestNG you can use `@Test(invocationCount = 100)`. This often helps to track down non-deterministic failures.

Could you also provide some information how you integrated Hazelcast in Tomcat?

[2015-01-28 13:40] eminn commented on #4218
Thanks for the report, fixed via c1197b6c97860c7d5a0b738a4e61442b387d17b7

[2015-01-28 13:40] #4218 closed

[2015-01-28 14:39] ahmetmircik commented on #4426
Hi,

Seems related to  https://github.com/hazelcast/hazelcast/issues/4348

Also keeping the info. below in mind may also be helpful:
__For the versions < 3.4:__
`InitialLoadMode#LAZY` --> blocks `getMap` till the end of the load of _all keys_,
`InitialLoadMode#EAGER` --> blocks `getMap` till the end of the load of _all key + value pairs_.

__For the versions >= 3.4__:
`#LAZY` --> does not block `g

[2015-01-28 14:53] romario13 opened #4497 "IMap.getLocalMapStats() not thread safe and returns wrong values of some properties"
If more then one threads invoke getLocalMapStats() on the same IMap, then we have a concurrent modification of some fields of one instance of LocalMapStatsImpl object.

call sequence pseudo code is:

[code]

[2015-01-28 15:06] ahmetmircik commented on #4497
@romario13 thanks for reporting this, it is definitely problematic.

[2015-01-28 15:16] ahmetmircik commented on #4142
failed again see: https://github.com/hazelcast/hazelcast/pull/4486#issuecomment-71850475

[2015-01-28 15:19] ahmetmircik opened #4500 "[TEST-FAILURE] MapStoreTest.testInitialLoadModeEager"
see https://github.com/hazelcast/hazelcast/pull/4492#issuecomment-71849895

[2015-01-28 18:38] cmuramoto commented on #4406
Hello @Donnerbart, here is my environment.

* **Hazelcast version**: 3.4

* **Hazelcast configuration**: see xml bellow

* **Java version**:
  + java version "1.8.0_20"
  + Java(TM) SE Runtime Environment (build 1.8.0_20-b26)
  + Java HotSpot(TM) 64-Bit Server VM (build 25.20-b23, mixed mode)

* **VM args**: (Application specific parameters ommited)
  + -server -Xverify:none -Dsun.reflect.inflatio

[2015-01-28 22:10] hasancelik commented on #4481
Thanks for reporting your issue . Now we have information about cluster size and steps to reproduce. Could you provide more information like,

-hazelcast version ,
-version of Java ,
-integration module versions if available (e.g. Tomcat, Jetty, Spring, Hibernate) with detailed configuration information (web.xml, Hibernate configuration, Spring context.xml etc.)

We would be grateful if you can pr

[2015-01-29 03:55] ShenalSenarath commented on #4447
Sorry I couldn't produce the results with a simpler test code. But this happens in a large system. Where there are lot of key pairs. I coudn't I think this is due to a hash collision. And I have found the same kind of a problem where key value pair disappear from the cache.

Run two instance of the this program and you will get the first output value as "null". But change any string value in the c

[2015-01-29 06:52] chandreshp commented on #4374
I have modified the code sample for "hibernate 2nd level cache" to reproduce the issue. In essence, on supplying "hibernate.cache.hazelcast.instance_name" to both the schemas, there should be only one member/instance of hazelcast but instead two are created. Link for code to reproduce the issue:
https://drive.google.com/file/d/0B-ZNyhIT_jtJUDJwb0VyQjh0YlE/view?usp=sharing

[2015-01-29 07:39] akoledzhikov commented on #4481
Hazelcast version - 3.2.3
Version of java - not sure if relevant, reproduced it with various builds of 1.6 and 1.7
Integration module - none used

Sample test code - http://pastebin.com/1gZm6JZS
Actually, it seems that you do not have to use different machines and drop the network interface on one of them - it is enough to start 3 cluster nodes and then kill 2 of them (almost) simultaneously.
Than

[2015-01-29 08:00] hasancelik commented on #4481
Thanks for information and simple test case. We are on it.

[2015-01-29 08:37] sancar commented on #4451
Thanks @u6f6o . I updated my pr according to your comments.

[2015-01-29 12:07] bilalyasar commented on #4374
@chandreshp thanks for sample application, i tried your sample application and added this line `hibernate.cfg.xml` and `testHibernate.cfg.xml`
`<property name="hibernate.cache.hazelcast.instance_name">name</property>`
and see that only 1 instance has started.
But when i removed instance_name property or when instance_name's are different, 2 instance are starting. I couldn't find anything unexpect

[2015-01-29 12:13] skywalkery commented on #4426
OK guys, I created the unit test that detect this problem. It happens when there is a delay for the node joining. I don't know how to get this delay in the legal way, but I saw it in the logs:
[code]

So, I changed Node.setJoined() method and added 2s delay.
[code]

[code]

This test leads to infinite sync for the 3.3.3:
[code]
For the 3.4 it looks fine.

[2015-01-29 12:33] chandreshp commented on #4374
I tried setting the same property as you have specified but I still see two members created. If you need more information or want to see my environment, please ping me on my google id : <cprakash at gmail . com>.

[2015-01-29 16:02] noctarius opened #4505 "Cleanup of GroupProperties"
Some of the properties mentioned in GroupProperties aren't used anymore, for example "hazelcast.jmx.detailed".

Those properties should be removed from sourcebase and documentation. There are also some examples in the documentation where old properties are still used. Those should be cleaned up / updated as well.

[2015-01-29 20:57] jinhaotian commented on #4476
We I did the following load testing and reproduced the exception
1. send huge new connections(rest get) every seconds and disconnection them immediately.
2. make the disk io slow (blocking  all logging request for serveral seconds)

Then hz._hzInstance_1_load.ascii.service.response thread will quit because the above exception. the rest processor would stop working.

also  some time the IO.thread-A

[2015-01-29 21:21] fridgebuzz opened #4506 "Thread contention during deserialization"
Profiling a Hazelcast app reveals thread contention in SpringManagedContext on java.lang.Class.getAnnotation(). That calls a synchronized method called java.lang.Class.initAnnotationsIfNecessary(). Stack trace is:

[code]
A way of preventing this is to cache the results of getAnnotation, so that it is only called once per class. Instead, it's called on every object deserialization (along with othe

[2015-01-30 06:09] jinhaotian commented on #4476
part of cause of the above issue is because we have some bad config/programming.(logging, extensive client reconnect, queue size is too small).

we gonna fix our config first.

[2015-01-30 06:27] pveentjer commented on #4506
Can you create a test that reproduces the problem? If it can be improved with simple caching, than it seems like an easy fix.

[2015-01-30 06:29] noctarius commented on #4506
Please remember it has to be weak reference caching since classloaders are meant to be reloaded in application containers :)

[2015-01-30 06:42] #4493 closed

[2015-01-30 06:42] #4500 closed

[2015-01-30 07:15] bwzhang2011 commented on #4327
@Danny-Hazelcast, I re-produced such in hazelcast3.4. when hazelcast instance both for Hazelcast and HazelcastClient in the same JVM for testing, it's OK but when I started with different procedure. it occurs. That's a big issue for the simple test for connected could not be established and throw such exception. @mdogan ,would you mind sparing your time and take a look at this ? I could not unders

[2015-01-30 07:24] bwzhang2011 commented on #4327
![exception1](https://cloud.githubusercontent.com/assets/749788/5972414/fa26bfc0-a893-11e4-98de-9e5a9b210179.JPG)

[2015-01-30 07:26] bwzhang2011 commented on #4327
@mdogan, as 3.4 considered as the stable releasing. so please take a look at it and such issue has not resolved for more than one moth.

[2015-01-30 08:58] chandreshp commented on #4374
@bilalyasar Just checked on another system and you are right - the bug didn't reproduce itself. Will check on my system again to find out what is going on and update here.

[2015-01-30 11:10] bilalyasar commented on #4374
this is my hibernate.cfg.xml file: https://gist.github.com/bilalyasar/206dca2684e960a5e4ca
and this is testHibernate.cfg.xml file: https://gist.github.com/bilalyasar/d8b4ef14f7b5025e33d3

the property instance_name same for the two of them and 1 instance is started.
As you said maybe there is another misconfiguration in your system.

[2015-01-30 11:15] cmuramoto commented on #4406
Guys, after taking a look at the the code of **NonStrictReadWriteAccessDelegate** I think I might have a clue about the problem.

This little method caught my attention:

[code]

In my application I have like 25 regions that are used to cache more than 60 entities and the process that "hangs" involves types annotated with

[code]

Maybe a standard IMap load test with eventual clear operations inte

[2015-01-30 12:48] bilalyasar opened #4507 "[TEST-FAILURE] ExecutorServiceTest.testManagedPostregisteredExecutionCallbackCompletableFuture"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OracleJDK1.7/com.hazelcast$hazelcast/10/testReport/junit/com.hazelcast.executor/ExecutorServiceTest/testManagedPostregisteredExecutionCallbackCompletableFuture/

[2015-01-30 13:40] bilalyasar opened #4508 "[TEST-FAILURE] MemoryLeakTest.testShutdownAllMemoryLeak"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/453/testReport/junit/com.hazelcast.cluster/MemoryLeakTest/testShutdownAllMemoryLeak/

[2015-01-30 13:41] bilalyasar opened #4509 "[TEST-FAILURE] LockTest.testLockLeaseTime_whenLockAcquiredByOther"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8/com.hazelcast$hazelcast/453/testReport/junit/com.hazelcast.concurrent.lock/LockTest/testLockLeaseTime_whenLockAcquiredByOther/

[2015-01-30 21:24] jerrinot opened #4510 "Allow declarative JCache configuration"
Declarative JCache configuration would make JCache easier to use. Currently I have to create a configuration, call createCache(), etc.

The contract of
[code]
says:

   * {@link Cache}s may return a pre-configured {@link Cache} instead of
   * <code>null</code>.

I can imagine hazelcast.xml would be a good place for this.

[2015-01-30 21:46] pveentjer commented on #4510
Even if we can't use that method, we can always put a method Hazelcast.newICache that behaves in the same was as e.g. IMap.

[2015-01-30 21:48] jerrinot commented on #4510
@pveentjer: true.

Yes another reason for the declarative configuration:
It allows you to use implementation-specific features without your (Java) code depending on implementation specific classes.

[2015-01-30 22:37] gurbuzali commented on #4510
We do have declarative configuration for jcache

[2015-01-30 22:49] jerrinot commented on #4510
Oh, really. I must have missed it. Is it in the hazelcast-full.xml example
config?
On 30 Jan 2015 22:37, "Ali" <notifications@github.com> wrote:

[2015-01-31 01:24] bwzhang2011 commented on #4327
@Danny-Hazelcast, did you re-produce such issue. as for such reason, single connection could not be established.

[2015-01-31 05:27] fridgebuzz commented on #4506
Realistically, it would probably take me a significant investment of time and effort to create a test application and associated load test that would demonstrate this. I couldn't do it at work, it would have to be on my own time.

I got the data I have from ongoing performance tests of our product under heavy load. In fact, this is a perf bug filed by our testing department.

It would be much fast

[2015-01-31 07:15] gurbuzali commented on #4510
http://docs.hazelcast.org/docs/3.4/manual/html-single/hazelcast-documentation.html#jcache-configuration

[2015-01-31 07:30] jerrinot commented on #4510
Silly me! Thanks a lot Ali!

[2015-01-31 07:30] #4510 closed

[2015-01-31 09:51] pveentjer commented on #4506
Hi Fridgebuss,

a simple main would do the trick. I don't think that a full blown 'distributed' test is needed in this case, but I just need to see it in action. So just a very basis example using Spring that shows the overhead of the continuous annotation access.

The problem is that this performance issue currently doesn't have priority for us; so if  you want to get it through quickly, you need

[2015-02-01 00:40] bwzhang2011 commented on #4349
@sancar, as hz3.3.4+ improvement the client connection,  our production of hazelcatNotActiveException decreased more. but once some configuration changed or network switched, it also induced such exception thrown and impact the cluster of hazelcast. so I hope hz team could pay more attention to the stability of hazelcast just like the hz client component, at lease keep the pace for reconnecting bu

[2015-02-01 00:42] bwzhang2011 commented on #4349
now I updated to hz3.3.5 but it still suffered the connecton lost and hazelcastNotActiveException. @mdogan, would you mind paying more attention to that, as I proposed and suggested, if such exception thrown, the whole cluster was impacted by that.

[2015-02-01 00:47] bwzhang2011 commented on #3695
@mdogan, such issue still not resolved and reproduced in our production environment. I hope hz team could pay more attention to that and find the final solution for that. if such thrown, how could we solve such problem. @talip, as you're the CTO of hz, the hazelcastNotActiveException is very serious that would induce the whole cluster not working, so please assign more people to find the final sol

[2015-02-01 00:47] bwzhang2011 commented on #3695
by the way, the hazelcast version in our production environment is 3.3.5

[2015-02-01 09:35] bwzhang2011 commented on #1654
@pveentjer, as topic issues proposed before, how does this going on ? any plan for ITopic with its own executor or queue.

[2015-02-01 09:36] bwzhang2011 commented on #3881
@StanAccy, how about your plan for topic store just like queue store and make it more robus for durable subscribers.

[2015-02-01 09:38] bwzhang2011 commented on #4414
@gurbuzali , does this confirm.

[2015-02-02 05:12] romanr opened #4514 "Please do not shut down when incompatible joiner detected"
If node finds a node on network with incompatible joiner, it shuts down! This is way too drastic measure.

[code]

This can't be right. External factor such as something existing on a network should not affect application so that it shuts down.

And it is a potential security issue: since anyone can possibly shut down your application by starting another Hazelcast instance on same network with inc

[2015-02-02 08:25] bilalyasar opened #4516 "[TEST-FAILURE] client.ClientRegressionTest timeout"
[code]

our 3.x-IbmJDK1.7 build timed out due to this test.
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.7/450/console

[2015-02-02 08:32] bilalyasar opened #4517 "QueryIndexMigrationTest.testQueryWithIndexDuringJoin"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK1.6/com.hazelcast$hazelcast/429/testReport/junit/com.hazelcast.map.query/QueryIndexMigrationTest/testQueryWithIndexDuringJoin/

[2015-02-02 10:16] magx2 opened #4519 "Hazelcast 3.4 + Spring 3.2 + Hibernate 4.3.6"
I'm trying to run Hazelcast with Spring and Hiberante 4. The problem is that when I'm starting an application I get error: _org/hibernate/cache/QueryResultsRegion_. Probably the problem is that in _hazelcast-all-3.4_ is dependecy to _hazelcast-hibernate3-3.4_. Also with _hazelcast-spring-3.4_ there is the same problem, because it depends on _hazelcast-hibernate3-3.4_ (i.e. look at this [this examp

[2015-02-02 10:20] bilalyasar commented on #4519
@magx2 as you said you have dependency like:
[code]
if you have, can you convert it?:
[code]
hazelcast-all includes hazelcast-hibernate3 and hazelcast-hibernate4 this causes problem.

[2015-02-02 10:23] magx2 commented on #4519
@bilalyasar but what it will gives me? I think that I should throw out *hazelcast-hibernate3* and put hibernate4 instead of it.

Also I need to Integrate it with Spring 3. On [maven](http://mvnrepository.com/artifact/com.hazelcast/hazelcast-spring/3.4) I see that *hazelcast-spring* depends on *hazaelcast-hibernate3*.

[2015-02-02 10:34] cdeneux commented on #3769
Hi sancar, pveentjer,
Any news on this subject ? How can I check only invalid credentials on the HZL client side ?
Regards

[2015-02-02 11:42] Danny-Hazelcast commented on #4327
@bwzhang2011  thanks, for you up date
could you give some details on how you reproduced this error ?
if you have a test case, reproducing this issue, in a single JVM,  that would be great !

[2015-02-02 11:54] sancar commented on #3769
Hi, I am not sure how we can expose this information with current design because of the reasons that I described earlier in my comment. And currently there is no way to learn if credentials are valid or not.

One thing that comes to my mind is to throw a special exception that has a method like
Map<Address, Exception > getFailures();
when client can not connect to any address in the list. Than you

[2015-02-02 12:46] Serdaro commented on #4505
Dear Core team,
Please let me know when the clean up is completed.

[2015-02-02 14:03] oallouch commented on #3695
Have you tried the back pressure thingy ?

[2015-02-02 18:52] paranoiabla commented on #3874
Using version `3.4` and I still get the same error:
[code]

[2015-02-02 18:58] paranoiabla commented on #3874
Actually the code I have is:
[code]
so could it be that collection is being modified while iterating over it?

[2015-02-02 19:21] jerrinot commented on #3874
Hi @paranoiabla

could you share a body of your loop? the exception is really very suspicious, I can't see any reason for the CMException.

[2015-02-02 19:49] paranoiabla commented on #3874
Here it is:
[code]

[2015-02-02 21:08] serkan-ozal commented on #3874
As from the stacktrace, CME is thrown from iterator of `LinkedHashMap`. In this case, `LinkedHashMap` implementation is used by `LinkedHashSet` implementation internally and `LinkedHashSet` is used for storing names of caches as here like names = new `LinkedHashSet<String>()` https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractHazelcastCacheM

[2015-02-02 21:12] serkan-ozal commented on #3874
@paranoiabla Can you provide states of thread when this error occured by wrapping this code block with try-catch and print thread states with the following code snippet to see the which thread does what at this time.

[code]

[2015-02-02 21:26] serkan-ozal commented on #3874
@paranoiabla And also is your `cacheManager` pure Hazelcast's cache manager or a proxy instance delegates to Hazelcast's cache manager ?

[2015-02-02 21:31] paranoiabla commented on #3874
The cache manager is `org.springframework.cache.CacheManager` but i've also tried EHCache and i haven't seen this exception before.

Here is the thread dump:
[code]

[2015-02-02 21:36] jerrinot commented on #3874
oh, it's org.springframework.cache.CacheManager, not the javax.cache.CacheManager, that explains that!

Spring CacheManager modifies the underlying structure. This should work safely for you:

[code]

[2015-02-02 21:38] paranoiabla commented on #3874
OK, that's weird.. sorry.. it clearly has to be the javax.cache.CacheManager.. i'll change it - thanks for the support :)

[2015-02-02 22:02] jerrinot commented on #3874
@paranoiabla: just to double-check I understand the situation correctly: You had used the Spring CacheManager by accident and now you are changing your code to use the JCache CacheManager?

[2015-02-02 22:04] paranoiabla commented on #3874
Yes, exactly.

[2015-02-02 22:13] jerrinot commented on #3874
Thanks a lot for clarification!
I'm closing this ticket for now as I don't see any problem in Hazelcast implementation. Feel free to re-open it if you encounter the problem again in the future.

Have a nice evening,
Jaromir

[2015-02-03 05:42] romanr commented on #4514
Also it makes High Availability scenarios impossible. If you want to switch your cluster from one Joiner method to another, you can't! If you will try to switch to other joiner type one-by-one, they will all fail and shutdown because instances with other joiner configuration exist on the network.
You will have to shut down ALL instances that you have. And then start them. Thus you will be making a

[2015-02-03 08:13] Danny-Hazelcast commented on #4371
with that Pr merged, closing this issue

[2015-02-03 08:13] #4371 closed

[2015-02-03 08:21] gurbuzali commented on #4414
Hazelcast Transactions are not Repeatable-Read but Read-Committed, documentation should be revised accordingly. Apart from this we provide a special method for TransactionalMap, 'getForUpdate', which guarantees Repeatable-Read.

[2015-02-03 08:48] Serdaro commented on #4414
@gurbuzali, just a kind reminder: Transactions chapter needs a more comprehensive review, including the subject in this issue.

[2015-02-03 09:11] chandreshp commented on #4374
It was my bad. Please close this issue as invalid.

[2015-02-03 09:17] #4374 closed

[2015-02-03 09:55] mesutcelik commented on #4519
It seems @magx2 is right... hazelcast-spring module shouldn't depend on any hazelcast-hibernate specific version...

What we can do is to remove compile time dependency on hazelcast-hibernate3 and load related class at runtime.

if the developer who wants to use hazelcast-spring module wants also to configure hazelcast-hibernate 2nd level cache module, he just needs to add related hazelcast-hibern

[2015-02-03 10:06] mesutcelik commented on #4308
Can you please send me your hazelcast.xml configuration?

[2015-02-03 10:08] mesutcelik commented on #4230
any update on the issue?

[2015-02-03 10:14] magx2 commented on #4519
Also in **hazelcast-hibernate4** (in pom.xml) you have dependecy to hibernate **4.2.13.Final**. The latest version of hibernate is **4.3.8**.

[2015-02-03 10:16] mesutcelik commented on #3922
@jerrinot , @serkan-ozal ,

I think we need to create a new enhancement issue with the explanation of what the proper fix looks like... and close this one... This issue has lots of comments in it...

Can one of you do that?

[2015-02-03 10:43] gurbuzali commented on #4514
Hi,
When Hazelcast detects a configuration mismatch, it sends an operation to that node to shutdown itself.
So basically below statement is not true, the newly started instance will get shutdown not the current cluster, when there is a configuration mismatch.
"since anyone can possibly shut down your application by starting another Hazelcast instance on same network with incompatible joiner!"

Her

[2015-02-03 11:21] enesakar commented on #983
map load all functionality is design mostly for scenarios with high number entries to be loaded. so I do not think we will invest resource to optimize load all for low number of records. but any community contribution will be welcome.

[2015-02-03 11:21] #983 closed

[2015-02-03 11:25] enesakar commented on #352
see following API (since 3.3)
http://docs.hazelcast.org/docs/latest/javadoc/com/hazelcast/core/PartitionService.html#isClusterSafe()
http://docs.hazelcast.org/docs/latest/javadoc/com/hazelcast/core/PartitionService.html#isMemberSafe(com.hazelcast.core.Member)

[2015-02-03 11:25] #352 closed

[2015-02-03 11:31] serkan-ozal commented on #3874
@paranoiabla Also maybe you can use Spring's `JCacheManager` (http://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/cache/jcache/JCacheCacheManager.html) by giving Hazelcast's JCache manager (not Hazelcast's `SpringCacheManager`)

[2015-02-03 11:42] enesakar commented on #465
I am not hopeful hazelcast team will invest time in 2.x issues. Any community contribution is welcome.

[2015-02-03 11:42] #465 closed

[2015-02-03 11:51] noctarius opened #4524 "[lock] API to merge ILock / IMap::lock after splitbrain"
After a splitbrain situation we need to support resolving conflicting locks using ILock or IMap::lock .

[2015-02-03 15:02] dayman opened #4525 "Index ignores null keys"
This test will fail.
[code]
Apparently test should return both of the entries but it ignores one with "null" value.
If we remove index for "field", it will pass.

[2015-02-03 21:04] pveentjer opened #4527 "[TEST-FAILURE] ExecutorServiceTest.testSubmitMultipleNode"
The cause is the following.

When the submit is called, a 'random' partition id is selected. Then the operation is send to the machine owning that partition. Because we don't check the PartitionAwareOperation interface anymore in the BasicOperationService.ensureNoPartitionProblems, we continue with the actual partition checking since the partition-id is set.

Then we run into the actual problem: B

[2015-02-03 21:17] pveentjer commented on #4416
Can you create a unit test that reproduces the issue? OSGI is nasty complex stuff and it is a lot easier if you can provide us with a unit test that reproduces the problem.

[2015-02-03 22:31] fridgebuzz commented on #4506
This is a trivial test, but it proves the point. Please bear in mind that in a real app the results are considerably worse.

Spring app context (hazelcast-context.xml):

[code]

Main test class:

[code]

Run this with the following things in your classpath:
* hazelcast.jar (I used 3.2, but I don't think it matters)
* hazelcast-spring.jar (again, 3.2 but it doesn't matter)
* spring-context-4.0.3.RE

[2015-02-03 22:53] tcollinsworth commented on #1564
Is tryLock with lease time now supported? I see this was closed, but don't see that it was resolved.

[2015-02-04 06:20] bilalyasar commented on #4527
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/2660/com.hazelcast$hazelcast/testReport/com.hazelcast.executor/ExecutorServiceTest/testSubmitMultipleNode/

[2015-02-04 06:21] bilalyasar commented on #4418
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/com.hazelcast$hazelcast-client/442/testReport/junit/com.hazelcast.client/MembershipListenerTest/whenMemberAdded_thenMemberAddedEvent/

[2015-02-04 06:22] bilalyasar opened #4528 "ExecutorServiceTest.testInvokeAllTimeoutCancelled"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.7/com.hazelcast$hazelcast/452/testReport/junit/com.hazelcast.executor/ExecutorServiceTest/testInvokeAllTimeoutCancelled/

[2015-02-04 06:53] pveentjer commented on #4506
Thanks! This saves a lot of time on my side.

[2015-02-04 07:37] gurbuzali commented on #1564
this is an open issue, we've not yet solved it.
the closed one was only a duplicate. Please see https://github.com/hazelcast/hazelcast/issues/3692

[2015-02-04 08:30] mdogan commented on #4527
It seems this failure is related to https://github.com/hazelcast/hazelcast/pull/4491 merge.

See following PR builder failures, these two seem just ignored...

https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast/job/Hazelcast-3.x-pr-builder/11644/
https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast/job/Hazelcast-3.x-pr-builder/11645/

[2015-02-04 08:31] hasancelik commented on #4525
Thanks for reporting your issue. Please share with us the following information, to help us resolve your issue quickly and efficiently.
* **Hazelcast version** that you are using  (e.g. 3.4, also specify minor release or latest snapshot)
* **Hazelcast configuration** (hazelcast.xml or programmatic configuration)
* **Cluster topology**
  * Number of Hazelcast member nodes
  * Number of Hazelcast cl

[2015-02-04 08:45] dayman commented on #4525
**Hazelcast version**: 3.4
**Hazelcast configuration**: I launched embedded instance (with Hazelcast.newHazelcastInstance(null)), so the configuration was default, no xml file.
And as you can see I added index manually from code.
But also experienced absolutely same problem when launched hazelcast with xml configuration contained
[code]
**Cluster topology**: one node
**Operating system**: Ubuntu 1

[2015-02-04 09:12] #4349 closed

[2015-02-04 13:17] rgsage opened #4533 "hazelcast.xml variable replacement only works at the front of an xml attribute string"
For example, I would like to do:
[code]
But this tries to import a file called "qa-config.xml" instead of "hazelcast/group-qa-config.xml"

Here is a unit test that demonstrates the same problem.  I am on version 3.4
[code]

[2015-02-04 14:22] #4527 closed

[2015-02-04 14:34] sancar commented on #4418
Same failure here:
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.7/450/console

[2015-02-04 15:15] Espenhh commented on #4223
Is there any plans to do something about this? We experience around 100-200 WARN's in our logs when we release new versions of our apps to productions, which is a bit annoying. We do rolling deploys without downtime, so nodes leaving and joining the cluster is quite expected, and we would love to be able to do this without all the logging noise.

[2015-02-04 16:18] jjongsma commented on #1379
This is also a big issue for Docker containerization (which should maybe be a separately tracked issue). Unless you configure containers to net=host and explicitly tell Hazelcast to bind to the host's IP, Hazelcast listens on a Docker-local IP that is port-mapped to the host, and every connection request is rejected with the same "This node is not requested endpoint" error because the host's IP th

[2015-02-04 16:22] jjongsma commented on #1323
Hazelcast has issues with Docker containerization from my experience - host networking mode and explicit network interface configuration is required to avoid IP mismatches during initial connection checks, so it won't scale well on Mesos if you're packing many containers per slave.

[2015-02-04 16:28] jjongsma opened #4537 "Docker networking - "This node is not requested endpoint" error"
Unless you configure containers to net=host and explicitly configure Hazelcast to bind to the host's IP range, it listens on a Docker-local IP that is port-mapped to the host, and every connection request is rejected with a "This node is not requested endpoint" error, because the public IP that other nodes connect to doesn't match what Hazelcast sees inside the container.

Host networking mode is

[2015-02-04 18:37] fridgebuzz opened #4539 "AbstractEntryProcessor does not implement default required Serialization methods"
Following all the examples for how to use AbstractEntryProcessor will result in an exception whenever more than one node is involved:
[code]
To prevent it one must implement no-op methods:

[code]
It would be more convenient if AbstractEntryProcessor implemented those no-op methods and extenders can override them if necessary.

Here's a test that proves the problem:

hazelcast1.xml
[code]
hazelcas

[2015-02-04 18:55] gurbuzali commented on #4539
As seen from the stack-trace the problem is not with the AbstractEntryProcessor but the test class itself
[code]
Since `DeleteEntryProcessor` is an inner class, test class should be `Serializable` too.
Or you can use static inner classes.

Please see
http://stackoverflow.com/questions/7144912/why-is-a-serializable-inner-class-not-serializable

[2015-02-04 18:55] #4539 closed

[2015-02-05 09:38] tazio commented on #115
+1, I need it

[2015-02-05 13:47] sancar commented on #4496
It seems that this test failed because StressTestSupport threads is not closed because of another failure in AtomicLongStableReadStressTest.
There is already opened issue for that. Closing this one.

Related to  #4179

[2015-02-05 13:47] #4496 closed

[2015-02-05 15:35] sancar commented on #3796
:(
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-pr-builder/com.hazelcast$hazelcast/11673/testReport/junit/com.hazelcast.queue/TransactionQueueTest/testIssue859And863/

[2015-02-06 00:34] dirkvanrensburg opened #4547 "Allow Comparable objects in a collection to be added to an index"
Some objects contains a collection in them and it will be useful to allow the values in the collection to be added to an index if they are Comparable.

*For example:* Given a Document object with a Collection of categories.

[code]
An index can be added for the *`categories`*

[code]
To find all the documents with the category 'fiction'

[code]

[2015-02-06 08:34] bilalyasar opened #4549 "[TEST-FAILURE] ClientQueueDisruptionTest.clientsConsume_withNodeShutdown"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast-client/460/testReport/junit/com.hazelcast.client.queue/ClientQueueDisruptionTest/clientsConsume_withNodeShutdown/

[2015-02-06 15:31] sancar commented on #3796
@jerrinot Are you still working on this? I started to get this failure in all my prs. We need to fix this asap. It seems you already send a fix, but this is still failing.

[2015-02-06 15:36] jerrinot commented on #3796
@sancar: nope. If ale PRs are failing with this then it's likely a new regression.

[2015-02-06 15:37] sancar commented on #3796
And I just tried, it passed in my local. Probably randomly failing.

[2015-02-06 15:38] jerrinot commented on #3796
yeah, according to https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-pr-builder/com.hazelcast%24hazelcast/11673/testReport/junit/com.hazelcast.queue/TransactionQueueTest/testIssue859And863/history/

it's failing from time to time. I'll have a look.

[2015-02-08 06:46] bwzhang2011 commented on #115
@gurbuzali , how does this going on ? could it be integrated in 3.5 and also with support for cron expression.

[2015-02-08 08:09] noctarius opened #4557 "ReplicatedMap does not re-sync after merge"
After a splitbrain situation the ReplicatedMap is not merged. From user perspective it is very expected to at least see a try to re-sync the content.

The question is what side (which cluster) should try to send data to what other cluster? As far as I remember that was one of the reasons it wasn't implemented since everybody would have to send data to everybody else.
I don't think this is just a b

[2015-02-08 09:49] pveentjer commented on #4557
AFAIK you don't have control on who gets asked; AFAIK the oldest cluster will ask the youngest cluster; come join me and create your merge tasks. This could be a problem in itself; imagine that you have a 10 node cluster and the oldest member gets cut off. When it eventually joins, the youngest cluster will try to merge their state in the oldest member. Please someone correct me if I'm wrong @gurb

[2015-02-08 09:56] noctarius commented on #4557
I know all that, the reason I said it isn't just done by implementing the listener :)

[2015-02-08 10:06] c0rnflex commented on #4308
@mesutcelik I'll quote the aws part if you don't mind:
                <aws enabled="true">
                <access-key>***</access-key>
                <secret-key>***</secret-key>

                <region>us-east-1</region>

                <tag-key>env</tag-key>
                <tag-value>prod</tag-value>
				<tag-key>role</tag-key>
                <tag-value>app</tag-value>
            </aws>

[2015-02-08 12:14] bwzhang2011 commented on #3695
@oallouch, thanks for review but I don't know much about back-pressure and it's such feature in hz3.4.
From our logging record, one of the reasons induced such exception is the network issue but I didn't know why such thrown out as hzInstance was created in my cluster env while other use the client api to establish the connection between the application and cluster.

[2015-02-08 12:17] bwzhang2011 commented on #1194
@pveentjer, how does this going on ?  any comparison with hz3.3.x and hz3.4.x for such kind of optimization

[2015-02-08 13:24] pveentjer commented on #1194
Perhaps that in HZ 3.5 we'll add the caller runs optimization as an experimental scheduler. I have it in a separate branch, but there are some things that need to be done.

https://github.com/hazelcast/hazelcast/pull/4513

I don't think we have time to fix the unwanted cloning in 3.5, I hope we can deal with it in 3.6. Because of the local call optimization, things like unwanted serialization are

[2015-02-08 21:11] bilalyasar commented on #4308
@c0rnflex currently hazelcast doesn't support using multiple tags.

[2015-02-09 08:15] sancar commented on #4528
Another failure here
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-pr-builder/com.hazelcast$hazelcast/11735/testReport/junit/com.hazelcast.executor/ExecutorServiceTest/testInvokeAllTimeoutCancelled/

[2015-02-09 12:32] sancar commented on #4494
Closed via #4551

[2015-02-09 12:32] #4494 closed

[2015-02-09 12:44] mesutcelik commented on #4537
Thanks @jchanning for the point.

We are not fully supporting Docker for the time being but planning to better integrate Hazelcast into cloud technologies... We will definitely consider your solution proposals..

[2015-02-09 13:19] sancar opened #4561 "[TEST-FAILURE] QueryEntryTest.getAttribute_whenKeyIsPortableObject_thenConvertedToData"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-pr-builder/11759/com.hazelcast$hazelcast/testReport/junit/com.hazelcast.query.impl/QueryEntryTest/getAttribute_whenKeyIsPortableObject_thenConvertedToData/

[2015-02-09 13:27] #4561 closed

[2015-02-09 14:03] ahmetmircik commented on #1118
A related one: http://stackoverflow.com/questions/27968981/imap-listener-with-predicate-no-notification-received-for-entry-which-passed

[2015-02-09 14:22] sancar commented on #4142
I am closing this one because
1) This test is not failing for more than 30 builds. And last fail logs are deleted.
2) Test is not failing in my local.
If someone has logs related to this, please reopen the issue.

[2015-02-09 14:30] jelford opened #4562 "TransactionalMap.size() returns inconsistent results during a transaction"
Hazelcast version: 3.4
Node type: in-cluster
Configuration: a basic unit-test setup

The problem is probably best described by the following JUnit example:

    @Test
    public void transactionalMapCanHaveNegativeSize() throws Exception {

        final TransactionContext transactionContext =
            hazelcastInstance.newTransactionContext(new TransactionOptions().setTransactionType(Transacti

[2015-02-09 15:31] sancar commented on #3772
Refacoted heavily  in 3.5-SNAPSHOT

[2015-02-09 15:31] #3772 closed

[2015-02-09 15:34] #4418 closed

[2015-02-09 15:41] bwzhang2011 commented on #3772
@sancar , thanks for review. what I wondered whether the hzInstanceNotActiveException is resovled or not.

[2015-02-09 15:49] bwzhang2011 commented on #4537
@mesutcelik, thanks for feed back. hope hz team could follow up such review and try best to make hazelcast compatible to docker environment.

[2015-02-09 15:54] #4451 closed

[2015-02-09 15:55] bwzhang2011 commented on #4506
@fridgebuzz, did you run such around hazelcast3.4, for hz3.4 changed a lot since 3.2.

[2015-02-09 17:08] RituBathla commented on #3661
When I implement Hazelcast in my code, it slows down performance significantly.
This is my implementation of Hazelcast:
public class HazelcastComponent
{
    @Value("${cluster.name:DefaultCluster}")
    private String clusterName;

    @PostConstruct
    void init()
    {
        Config config = new Config();
        config.setInstanceName(clusterName);
        config.getNetworkConfig().setPort(Ne

[2015-02-09 17:11] hcoles opened #4563 "NullPointerException in ServiceLoader when classloaders break contract"
Although classloader.getResources should never return null, some classloaders break the contract (e.g the classloader used by SBT see https://github.com/sbt/sbt/issues/1368).

This prevents hazelcast being used in tests launched from sbt.

A null check in com.hazelcast.util.ServiceLoader.findHighestReachableClassLoader would allow hazelcast to be used from SBT and in other situations where classlo

[2015-02-09 20:43] pveentjer commented on #3661
I have no idea which features of HZ you are using to explain what is the cause. So are you using a map/queue etc? Best to create a test which reproduces the issue you are having. Also: slows down considerably... compared to? It slows down over time? It is slow compared to e.g. a concurrent map?

[2015-02-09 21:28] RituBathla commented on #3661
It slows down considerably as compared to when I remove Hazelcast code.
Using a queue:

BlockingQueue<String> definitionIdQueue = hazelCast.getInstance().getQueue("MODEL_DEFINITION_ID_QUEUE");

        List<String> jobDefinitionsHz = hazelCast.getInstance().getList(
                "JOB_DEFINITION_QUEUE");

[2015-02-09 21:31] pveentjer commented on #3661
Please provide a test which reproduces the exact problem you are seeing. I have a hard time figuring out what you mean.

[2015-02-10 00:32] fridgebuzz commented on #4506
@bwzhang2011 The code for the affected class (SpringManagedContext) is unchanged, so the problem exists in all versions 3.2+ (and probably earlier ones as well, though there's no profit in verifying that.)

[2015-02-10 03:58] bwzhang2011 commented on #4506
@fridgebuzz , thanks for feed back.  In my app, I set up the hazelcast cluster through hazelcast-spring similar as you referred. but I didn't use that way for IMap as you did above. maybe you could setup the mancenter for monitoring the change of the IMap. if the  SpringManagedContext were the problem, hz team should take it into consideration and find the proper way to fix that.

[2015-02-10 04:01] bwzhang2011 commented on #3661
@RituBathla, I suggest run your code with hazelcast queue test code for comparison while you set up your own cases for choice. I think your choice is different here. the queue performance cares about the IO way for local or remote use cases.

[2015-02-10 05:50] pveentjer commented on #4563
@serkan-ozal @noctarius can you have a look? Classloaders always give me a headache.

[2015-02-10 05:57] noctarius commented on #4563
I guess a null check might be ok since it will just ignore this classloaders. Are you sure the application will work then as expected? Have you tried to patch Hazelcast and run it?

[2015-02-10 07:01] serkan-ozal commented on #4563
From my side also, a simple null check should fix the problem wtihout any side effect.

[2015-02-10 07:22] pveentjer commented on #4563
http://cdn.lolcaption.com/wp-content/uploads/2013/01/lolcaption-funny-demotivational-posters-antimotivational-demotivationpostes-overconfidence-this-is-going-to-end-in-disaster-cat-eagle.jpg

;)

[2015-02-10 08:17] serkan-ozal commented on #4563
BTW, @jerrinot has already sent a PR (https://github.com/jerrinot/sbt/commit/fbde253178b60439070dd4f49fc62eafa08eb285) to SBT repository by changing returning null to empty collection. So it should fix the problem at SBT side, so there should be no change need in our code base. Lets wait user to verify this PR fixed the problem :)

[2015-02-10 09:38] c0rnflex commented on #4308
@bilalyasar it does actually. when I use two tags, it looks for instances that are tagged with EITHER ONE of them.
I think the logic should be that it looks for instances that are tagged with BOTH of them.

[2015-02-10 10:38] hcoles commented on #4563
I've confirmed that a simple null check in hazelcast fixes the issue. I'd be happy to submit a PR, but unfortunately a freshly checked out hazelcast gives both test failures and test errors on my machine.

While I agree the correct place to fix this is within SBT, this small change to hazelcast would make it usable for people tied to early versions of SBT.

[2015-02-10 12:02] #4533 closed

[2015-02-10 14:31] hasancelik commented on #4378
Thanks for reporting your issue. Please share with us the following information, to help us resolve your issue quickly and efficiently.
* **Hazelcast version** that you are using  (e.g. 3.4, also specify minor release or latest snapshot)
* **Hazelcast configuration** (hazelcast.xml or programmatic configuration)
* **Cluster topology**
  * Number of Hazelcast member nodes
  * Number of Hazelcast cl

[2015-02-10 14:33] sancar opened #4568 "[TEST-FAILURE] NearCacheTest.testNearCacheInvalidationWithLFU"
https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast%20Maintenance/job/Hazelcast-3.maintenance-OpenJDK7/lastBuild/com.hazelcast$hazelcast/testReport/com.hazelcast.map.nearcache/NearCacheTest/testNearCacheInvalidationWithLFU/history/

[2015-02-10 15:22] FlavioF commented on #592
+1

[2015-02-10 15:26] bilalyasar opened #4571 "hazelcast-aws exceptions after signature changing"
[code]
this exception is thrower and aws has a problem currently.
after this merge https://github.com/hazelcast/hazelcast/pull/4103 , we have to change request headers..

[2015-02-10 15:34] hasancelik commented on #4476
Hi @jinhaotian ,

Thanks for reporting your issue. What is the last status of this issue? Do you still get this exception after change configuration?

[2015-02-10 15:42] gurbuzali commented on #4514
did you able to reproduce the issue?

[2015-02-10 16:30] gurbuzali opened #4573 "ExecutorService operations should not run in partition-threads"
Recent changes related with `PartitionAwareOperation` caused executor-service operations to run in operation-threads. One way to fix that is to use invokeOnTarget rather that invokeOnPartition but it has some drawbacks related with retry-mechanism

[2015-02-10 16:48] serkan-ozal opened #4574 "NPE While Getting CacheOperationProvider"
Occured while running stabilizer tests on X-Large cluster.

The problem is that `CacheConfig` may not be created yet before any cache operation request is received from node. Since `CacheConfig` is created on demand at first time needed even if it is configured from XML then all members are invoked to use this `CacheConfig`. But before any member take and create this `CacheConfig`, a cache request

[2015-02-11 01:04] jinhaotian commented on #4476
We have changed our config about 10 weeks now.
this issue do not happen again.

Thanks

[2015-02-11 08:32] #4476 closed

[2015-02-11 08:46] bilalyasar commented on #4549
again failed: https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast-client/465/testReport/junit/com.hazelcast.client.queue/ClientQueueDisruptionTest/clientsConsume_withNodeShutdown/

[2015-02-11 08:46] bilalyasar commented on #4290
again failed: https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast-client/465/testReport/junit/com.hazelcast.client/ClientSplitBrainTest/testClientListeners_InSplitBrain/

[2015-02-11 08:49] bilalyasar commented on #3796
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OpenJDK7/com.hazelcast$hazelcast/142/testReport/junit/com.hazelcast.queue/TransactionQueueTest/testIssue859And863/

[2015-02-11 10:57] mostafafci opened #4584 "Hazelcast support for Spring Transaction"
hello,

is there any way to add Hazelcast transaction to the Spring transaction manager - some thing like org.springframework.jdbc.datasource.DataSourceTransactionManager-

[2015-02-11 11:33] mesutcelik commented on #4584
There is already an issue for that feature. https://github.com/hazelcast/hazelcast/issues/611

[2015-02-11 11:33] #4584 closed

[2015-02-11 12:06] mostafafci commented on #4584
do you expect the release of this feature will be soon?

[2015-02-11 12:13] mesutcelik commented on #4584
It could be in 3.6 but not decided yet...

[2015-02-11 13:57] CatchSandeepVaid opened #4590 "Management Console-Map-TimeTravel Not Working"
I have a Map m and say at 10:00 i inserted (Key1,Value1, 2,TimeUnit.MINUTES ) in it and after 2 minutes i.e @ 10:02, i put another entry in map as (Key1,Value2, 10,TimeUnit.MINUTES ).

Now on management console if i navigate back to say 10:01, for key Key1, its showing value as Value2 instead of Value1. So this is a major bug.

[2015-02-11 14:42] sancar opened #4592 "hazelcast.client.request.retry.count is not handled properly."

[2015-02-11 18:58] SBozhko opened #4601 "Feature request: eviction policy for ReplicatedMap"
It would be great to have possibility to set up eviction policy (LFU/LRU) and max size for ReplicatedMap the same as it's possible for simple map. At the moment ReplicatedMap does only support TTL for each item separately.

[2015-02-11 19:41] SBozhko commented on #4601
The question is how to avoid OOM error using ReplicatedMap?
TTL doesn't really solve the issue.

[2015-02-11 21:10] sancar commented on #3796
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-pr-builder/11840/

[2015-02-11 22:59] jvolkens opened #4603 "awaitNanos() method returns the wrong value for both the ClientConditionProxy and ConditionImpl classes"
Both of the ClientConditionProxy and ConditionImpl classes implement the Condition interface, however they incorrectly return the elapsed time, instead of the remaining time (which is one of the primary purposes of that method).

For example:

https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/concurrent/lock/ConditionImpl.java#L69-74

[code]

[2015-02-12 07:52] sancar commented on #4568
We merged this one to make test failures a little less. There is a rare case which causes a test in related pr to fail( #4575 ). Reopening this to continue investigation.

[2015-02-12 08:38] sancar commented on #4549
new stack strace
[code]

[2015-02-12 09:19] sancar commented on #4368
fixed via #4534

[2015-02-12 09:19] #4368 closed

[2015-02-12 09:19] sancar commented on #4434
fixed via #4534

[2015-02-12 09:19] #4434 closed

[2015-02-12 10:04] Belkacem opened #4607 "Memory Leak on topics (pub/sub)"
Hi,
I am experiencing an out of memory error on my java app due to the use of pub sub on hazelcast, here's the scenario:
1) create a bunch of topics on hazelcast client node;
2) start another program that listens to this topic;
3) publish millions of messages on the client side (I see those messages arriving on the cluster);
4) Kill the cluster (leaving the client node alive and publishing message

[2015-02-12 11:22] bilalyasar commented on #4571
closed via #4572

[2015-02-12 11:22] #4571 closed

[2015-02-12 11:41] Belkacem commented on #4607
I investigated the leak, it's not from hazelcast, but it's due to the topic.publish method that blocks when the client is attempting to reconnect to the cluster, while it's blocking the messages queue up in the processing thread, and causes the memory leak.
Sorry about that

[2015-02-12 11:41] #4607 closed

[2015-02-12 11:46] sancar commented on #4568
I dont have much clue on the issue. Not able to reproduce in my local. I added messages to asserts in the tests. I am closing this one and I will wait for a test failure with more info in it.

[2015-02-12 11:46] #4568 closed

[2015-02-12 12:18] #4574 closed

[2015-02-12 12:26] serkan-ozal opened #4609 "NearCacheConfig.readData reads "maxSize" twice"
[code]

https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/config/NearCacheConfig.java

[2015-02-12 12:29] Donnerbart commented on #4609
Code like that should always be suspicious. Looks like a good thing for checkstyle or FindBugs rule.

[2015-02-12 12:32] jerrinot commented on #4609
how this could ever worked?

[2015-02-12 12:34] serkan-ozal commented on #4609
node idea. I found this while writing unit test for my near cache impl on client

[2015-02-12 12:55] mulderbaba opened #4612 "Integrating HazelcastCacheManager into spring-context-support subproject"
It'd be great if possible moving `HazelcastCacheManager` class into `spring-context-support.jar` under package like: `org.springframework.cache.hazelcast` similar like `Ehcache` does with its manager: `org.springframework.cache.ehcache.EhCacheCacheManager`. This approach would be convenient for the new comers that started using `spring-cache` subproject.

[2015-02-12 12:56] ahmetmircik commented on #4609
Why is `NearCacheConfig` serializable?

[2015-02-12 13:02] serkan-ozal commented on #4609
AFAIK, when the cache is created at client side such as `cacheManager.createCache(cacheName, cacheConfig)`, `CacheConfig` is send over `CacheCreateConfigRequest` and also there is `NearCacheConfig` inside `CacheConfig`. And so they are all serialized to nodes

[2015-02-12 13:13] serkan-ozal commented on #4612
I think also, it would be great a `org.springframework.cache.hazelcast.HazelcastCacheManager` implementation just delegates to `com.hazelcast.spring.cache.HazelcastCacheManager` wtihout any logic. So our internal fixes/enhancements doesn't effect to `HazelcastCacheManager` on Spring's repository.

[2015-02-12 13:26] ahmetmircik commented on #4609
Thanks @serkan-ozal i did not know it is used in jcache.

[2015-02-12 13:28] serkan-ozal commented on #4609
@ahmetmircik you are welcome. It was defined in `CacheConfig` but always `null` since we didn't use it for JCache as I know :) So I think, because of it is not used/set, it was not serialized so there was no error until now.

[2015-02-12 15:10] Neway6655 opened #4615 "Split brain can not be recovered"
I met the split brain merge issue recently, using hazelcast 2.6.9.

I found that the cluster can not be merged automatically after split brain, and I did some analysis based on the log and tcpdump result, together with the source code, found that it maybe a bug of hazelcast: split brain can not be recovered from two clusters, if both of them do not have a 'real' master.

Some more details: There a

[2015-02-12 15:31] mdogan opened #4616 "Cache.close() doesn't call close() method of registered Closeable CacheEntryListener"
Cache.close() doesn't call close() method of registered Closeable CacheEntryListener. It seems there's no TCK test to verify but this is a spec violation. `Cache.close()` javadoc explicitly says:

[code]

[code]

[2015-02-12 15:39] sancar commented on #3404
ExecutionDelayTest timed out in one of my unrelated pr(#4613)
Here is the pr
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-pr-builder/11859/

[2015-02-12 15:44] mesutcelik commented on #4612
I think that is something that has to be done on the spring framework repository.

@serkan-ozal , @mulderbaba ,
you are free to contribute :)

[2015-02-12 15:48] mdogan opened #4617 "close() method of a Closeable CacheLoader is called without explicitly calling Cache.close()"
`close()` method of a singleton `Closeable` `CacheLoader` is called when some of the partitions are moved to a newly started `HazelcastInstance`... which is an unexpected situation.. I even call this violation.

[code]

[2015-02-12 16:24] lukasblu opened #4618 "Operation timeout exception during IMap.loadAllKeys()"
Hi,

if you have a multi node cluster and one node is initializing a map while another tries to execute an operation, the operation runs into a timeout.

The test below reproduces this scenario:
1. It starts a two node hazelcast cluster
2. The first node acquires a count down latch and starts to initialize a map which takes a long time to load all keys from persistent storage.
3. The second node n

[2015-02-12 16:26] lukasblu commented on #4618
Ps. I tested it with the latest version of the 3.x maintenance branch (3.4.2-SNAPSHOT).

[2015-02-12 17:29] pveentjer commented on #4573
I guess you mean the partition threads.

[2015-02-13 08:09] hasancelik commented on #4615
Thanks for reporting your issue. Please share with us the following information, to help us resolve your issue quickly and efficiently.
* **Hazelcast configuration** (hazelcast.xml or programmatic configuration)
* **Java version** (also JVM parameters can be added)
* **Operating System** (for Linux kernel version will be helpful)
* **Logs and Stack Traces** (if available)
* **Unit Test**(if you ca

[2015-02-13 09:13] #3889 closed

[2015-02-13 09:15] #4355 closed

[2015-02-13 09:16] #4392 closed

[2015-02-13 09:16] #4391 closed

[2015-02-13 09:16] #4471 closed

[2015-02-13 09:18] eminn commented on #4389
fixed via edfa3cfba6226a8e0d1b7b5e9755c37ae043368a

[2015-02-13 09:18] #4389 closed

[2015-02-13 10:12] Neway6655 commented on #4615
We have a hazelcast configuration file template and using programmatic configuration as well, here is the hazelcast.xml file:

[code]
And here is the configuration code:
[code]
And please note that we have two hazelcast instances(with same group) in one machine, one for normal member and one for lite member.

We used jrockit-jdk, info as below:
java version "1.6.0_85"
Java(TM) SE Runtime Environme

[2015-02-13 10:12] bwzhang2011 commented on #3695
@oallouch, would you mind leaving me more message about this ? from my production, such exception thrown just under the network switched. our network monitored by some firewall configuration and once it was started, it would impact the packets between each node (just like the application with the cluster resort to the hzclient instance). I think I should upgrade to the latest one if hz3.4.1 releas

[2015-02-13 11:56] hasancelik commented on #4615
Thanks for detailed information. We are working on it.

[2015-02-13 12:47] oallouch commented on #3695
I've actually never tried it, but I think it might help. I suspect we have some issues with the inter-server communication.

[2015-02-13 16:00] gurbuzali opened #4620 "ISet contains scans all items"
[code]

[2015-02-13 21:19] hasancelik commented on #4615
Could you send to me unit test you wrote? Maybe I can benefit from this test. It is timesaving for us.

[2015-02-14 00:05] rajkumarsrikanth opened #4623 "MapLoaderLifecycleSupport init method not called for MapLoader"
Hi
If we have a MapLoader implementation that implements MapLoaderLifecyleSupport interface, the init method is not invoked.

Hazelcast Version Used 3.4
Spring Version 4.1.4
Jdk 7 Update 75

public class Main {

	public static void main(String[] args) {
		ClassPathXmlApplicationContext context = new ClassPathXmlApplicationContext(
				"spring.xml");
		HazelcastInstance hazelcastServer = context

[2015-02-14 03:02] bwzhang2011 commented on #3695
@oallouch thanks for review. as the mancenter doesn't provide any monitor for the inter-server communication. so I have to just rely on the log. from my experience, it only occurred in IQueue component for long polling state for my demon thread poll the data each interval. I think hz has resolved such issue but need to investigate that for hz client has been heavily refactored in hz3.5 so we don't

[2015-02-14 06:22] Neway6655 commented on #4615
We do not have the unit test, since this issue was occasionally occurred in our test environment.

[2015-02-14 10:20] ajermakovics commented on #4623
Thanks for reporting. Interestingly enough we have a fix already  https://github.com/hazelcast/hazelcast/pull/4488

[2015-02-15 23:52] bwzhang2011 commented on #3881
@StanAccy , how does this going on ?

[2015-02-16 00:02] bwzhang2011 commented on #1623
@bitec, how does going on ? does 1.5G data become the bottle neck ?

[2015-02-16 00:05] bwzhang2011 commented on #4584
@mesutcelik , such should be taken into consideration and gain the priority in the plan for the new features releasing. for spring integration is very important.

[2015-02-16 09:02] noctarius opened #4625 "3rd Party License (minimal-json) needs to be included into the release builds"
The MIT License of the embedded minimal-json dependency (shaded dependency) needs to be included into the license folder of the zip/tar archives as well as it needs to be added to licensing mentions.

[2015-02-16 12:41] bilalyasar commented on #4528
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast/2721/testReport/junit/com.hazelcast.executor/ExecutorServiceTest/testInvokeAllTimeoutCancelled/
[code]

[2015-02-16 12:42] bilalyasar commented on #4290
failed,  same exception
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/470/com.hazelcast$hazelcast-client/testReport/com.hazelcast.client/ClientSplitBrainTest/testClientListeners_InSplitBrain/

[2015-02-16 15:32] lukasblu commented on #4618
Hi,

you might have realized that the test did not always fail... I therefore tried to find out what makes it fail consistently and I discovered, that the test only fails iff the latch is owned by the node which calls latch.await().

Please find below an updated version of the test which ensures that the latch is owned by the node calling latch.await() - and therefore always fails.

Furthermore, I

[2015-02-16 15:58] sancar commented on #4592
fixed via #4599 and #4593

[2015-02-16 15:58] #4592 closed

[2015-02-16 16:28] Donnerbart commented on #1208
I think we might have a regression on this bug in PR #4560:
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-pr-builder/11896/console

[2015-02-16 17:46] serkan-ozal commented on #4617
@mdogan taking this one

[2015-02-16 17:46] serkan-ozal commented on #4616
@mdogan taking this one

[2015-02-16 17:52] serkan-ozal commented on #4563
@hcoles, what about the PR (https://github.com/jerrinot/sbt/commit/fbde253178b60439070dd4f49fc62eafa08eb285) sent by @jerrinot to SBT repository ?

[2015-02-16 18:07] hcoles commented on #4563
@serkan-ozal That PR was withdrawn as it didn't compiled on < Java 7 (SBT requires 6).

I've raised my own

https://github.com/sbt/sbt/pull/1853

It isn't yet merged, and as the SBT travis checks seem to error even without a change I'm not confident that it will be merged any time soon.

Even if this is merged, it will still mean that hazelcast is not usable with earlier versions of SBT.

Upgradin

[2015-02-16 20:48] jerrinot commented on #4563
I guess we should include the workaround in Hazelcast codebase. There doesn't seem to be much activity on the SBT side.

[2015-02-16 23:36] lukasblu commented on #4398
Hi,

I am a bit worried about this issue, because in our application it is very likely that someone will write a distributed task that takes longer than 2 minutes. As we check for the results in a loop calling get() on each Future object, we would then run into this problem.

Therefore, I have two questions:

1. Did you already have a chance to look at this? Is it something that can be fixed in th

[2015-02-17 09:02] serkan-ozal opened #4626 "Factory Id's of DataSerializerHook's should be taken from a single place"
Currently, `DataSerializerHook` implementations use factory id's as hard-coded values such as

[code]

This usage may cause collision factory id usages between different `DataSerializerHook` implementations. So it can be good such as a constant interface like `DataSerializerHookConstants` and all factory id's are registered to here and taken from here as constant.

[code]

[2015-02-17 09:11] gurbuzali commented on #4626
:+1:

[2015-02-17 09:18] ahmetmircik commented on #4433
Closing this now, seems test is not failing for a long time and also i did not manage to reproduce the problem.
Waiting for the next failure.

[2015-02-17 09:52] #4609 closed

[2015-02-17 09:59] serkan-ozal commented on #4563
@jerrinot ok, right. I am OK with a null check in our code base and don't see any side-effect at this point.

[2015-02-17 10:03] dguggi opened #4627 "Non-deterministic behaviour with IExecutorService.submitToKeyOwner"
I'm currently playing around with IExecutorService.submitToKeyOwner method and encountered a somehow strange behaviour. I have a simple test:
* create instance1 (instance1 = Hazelcast.newHazelcastInstance())
* create instance2 (instance2 = Hazelcast.newHazelcastInstance())
* submitToKeyOwner on both instances

So i have two (default) hazelcast instances within the same JVM and submitToKeyOwner met

[2015-02-17 10:07] #4620 closed

[2015-02-17 12:47] mesutcelik commented on #476
I am closing that one. I see that this is duplicate of https://github.com/hazelcast/hazelcast/issues/2630

[2015-02-17 12:47] #476 closed

[2015-02-17 15:06] alparslanavci opened #4631 "CacheManager.getCache() does not re-open closed cache"
According to the spec;

CacheManager.getCache() method should let access to the closed cache and re-open it. However, cache can be accessed by getCache but is still closed.

[code]

[2015-02-17 15:47] alparslanavci opened #4632 "Unnecessary de-serialization at server-side when using Cache.get()"
It seems objects are unnecessarily de-serialized on server-side when Cache.get() is called.

[code]

[2015-02-17 16:47] pveentjer commented on #4632
it isn't completely unwanted because in your case, the Foo instance, is potentially shared between multiple threads. That is why a defensive copy is made to prevent unexpected sharing of instances.

But.. one of the optimizations on my radar is the ability to say that an instance is immutable (e.g. annotation, well known types like String or using configuration). Once the system sees that a immuta

[2015-02-17 16:50] pveentjer commented on #4632
Perhaps I'm miss understanding you and you are saying that on the serverside unwanted deserialization is done... my badd...

[2015-02-17 17:17] sancar commented on #4632
We already discussed this with @alparslanavci . Clients should be able to send and receive data with custom serialization(or a portable that servers did not know). Think of nodes as central servers that lots of different applications(clients) are connected to. Servers should never try to deserialize the data that client sent, because servers will not have these classes.

This is working for most o

[2015-02-17 20:01] #4562 closed

[2015-02-17 22:58] Tembrel commented on #4398
Is it sufficient for get() to be called on *some *future immediately to
prevent this from happening? I've been doing submitToAllMembers with
multi-minute tasks for a while, and I don't think I've seen this happen.

Would switching to the callback-based versions make this behavior less or
more likely?

On Thu, Jan 8, 2015 at 10:18 AM, Mehmet Dogan <notifications@github.com>
wrote:

[2015-02-18 06:06] pveentjer commented on #4626
+1 Current approach is fragile

[2015-02-18 07:49] alparslanavci commented on #4632
Thanks for the detailed explanation @sancar. I've forgotten to add the exception that is get from the failed test.

[code]

[2015-02-18 08:20] mdogan opened #4635 "Spring Hazelcast bean creation fails if `<hz:config />` element is not embedded in `<hz:hazelcast />`"
When Hazelcast bean is defined without an embedded configuration element, it fails to create `HazelcastInstance`.

[code]

Error:
[code]

Instead adding an empty `hz:config` element inside `hz:hazelcast` fixes the issue.

[code]

See
https://groups.google.com/d/msg/hazelcast/1flSUZjav20/aK_X1w5OxzAJ

[2015-02-18 08:36] bilalyasar commented on #4290
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/472/console

[2015-02-18 08:40] bilalyasar opened #4636 "[TEST-FAILURE] mapreduce.ClientMapReduceTest timeout"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/390/console

[2015-02-18 08:51] noctarius commented on #4625
*ping* this is important! currently we're breaking the MIT license agreement, can somebody please look into this!

[2015-02-18 09:18] efic1 commented on #4406
We are seeing the exact same issue while using @Cache(usage = CacheConcurrencyStrategy.READ_WRITE) on hazelcast 3.4

[2015-02-18 09:48] eminn commented on #4625
License file added via bed63ba644417d50251ed7df5f4e59e585c8af66

[2015-02-18 10:38] #4623 closed

[2015-02-18 15:07] lukasblu commented on #4398
Hi @Tembrel ,

"some" future might be enough - or not :-) I wrote another test which plays with a few combinations of waiting (or not) before calling Future.get() and calling Future.get() on the first (or the second) Future. So 4 combinations in total.

The test only succeeds if you call Future.get() immediately on the first Future. The other 3 combinations all fail.

[code]

To your second questi

[2015-02-18 15:23] Tembrel commented on #4398
On Wed, Feb 18, 2015 at 10:07 AM, Lukas Blunschi <notifications@github.com>
wrote:

OK, that explains why it seems to work for me.

No, I meant the MultiExecutionCallback form of submitToAllMembers.

http://docs.hazelcast.org/docs/3.4/javadoc/com/hazelcast/core/IExecutorService.html#submitToAllMembers(java.util.concurrent.Callable,
com.hazelcast.core.MultiExecutionCallback)

--tim

[2015-02-18 15:24] Tembrel commented on #4398
Sorry link broke over line. I meant this link
<http://docs.hazelcast.org/docs/3.4/javadoc/com/hazelcast/core/IExecutorService.html#submitToAllMembers(java.util.concurrent.Callable,
com.hazelcast.core.MultiExecutionCallback)>.

On Wed, Feb 18, 2015 at 10:23 AM, Tim Peierls <tim@peierls.net> wrote:

[2015-02-18 16:14] lukasblu commented on #4398
@Tembrel sure, no problem, I found the method.

I wrote another test which uses such a callback - and it again fails with an operation timeout :-(

In this case I see no workaround and therefore the method with a callback can simply not be used for long running tasks...

Best,
Lukas

[code]

[2015-02-18 22:18] Donnerbart opened #4640 "[TEST-FAILURE] TxnMultiMapTest.testListener"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-pr-builder/11938/

Was reproducible by removing the `Thread.sleep(100);` and repeating the test with `@Repeat`. Maybe the hardcoded sleep time isn't sufficient sometimes. Should we change this to `assertTrueEventually`?

[2015-02-18 22:27] kwitten commented on #2838
As @bentmann points out this is not a duplicate of #2805, we are still experiencing this issue with version 3.3.1.

Please reopen this issue.

[2015-02-18 22:32] gurbuzali commented on #2838
I'm reopening the issue then
Can you please provide a test-code to reproduce the issue ?
Have you tried latest version to see if the issue disappears ?

[2015-02-18 23:32] kwitten commented on #2838
I don't have test code that can reproduce this issue. It seems to happen sporadically on our cluster.

Here is the stack trace for version 3.1.1

com.hazelcast.transaction.TransactionException: Could not find begin tx log!
        at com.hazelcast.transaction.impl.TransactionManagerServiceImpl.prepareTxBackupLog(TransactionManagerServiceImpl.java:299) ~[hazelcast-3.3.1.jar:3.3.1]
        at com.ha

[2015-02-19 07:57] pveentjer opened #4641 "ClientEngineImpl huge number of threads"
The ClientEngineImpl has an executor to process packets from clients without a partiton-id. This executor  has a very big poolsize potentially:

e.g.
12 cores per socket
2 sockets
hyper threading
---> 48 cores

This is multiplied by 20, so you get 960 threads and this can lead to problems. For example thread creation problems.

The reason this pool can become so big is to deal with a problem in th

[2015-02-19 08:03] jerrinot opened #4642 "IMap.keySet() fetches both keys and values"
keySet() relies on QueryOperation. The QueryOperation doesn't accept IterationType - it always returns both keys & values. This can lead to unnecessary load and potentially even OOM.

It's especially painful when values are larger than keys.

kudos to @Donnerbart for pointing this out!

[2015-02-19 08:37] eminn commented on #4640
Even though I removed the sleep, I couldn't be able to reproduce it. Is there any other setting that you've used to reproduce the issue. I've made more than 100 local runs, no success.

[2015-02-19 08:38] sancar commented on #4641
Mentioned client transaction issue is here #3482 .
It would be good if we can find another fix for this rather than waiting for changing Client Transaction. Although changing client transaction is in our roadmap, it is not very likely to happen soon.
Or we can say that this is not very critical(in the sense that does not cause a problem in stability, but just performance),  we can leave it as is u

[2015-02-19 08:53] pveentjer commented on #4642
Is this also an issue with map.values? So you are only interested in values, but do you get the keys as well?

[2015-02-19 08:54] pveentjer commented on #4641
One potential reduction of the problem would be to have 2 threadpool on the client engine.

Transaction operations we mark with partition id = -2. ---> and in the clientengineimpl I can throw then in the transaction executor.

Any other operation that isn't partition specific, we mark with partition id = -1. When the client engine impl receives such a packet, it will place it in a normal size thre

[2015-02-19 08:55] gurbuzali commented on #4642
@pveentjer yes

[2015-02-19 09:49] ahmetmircik commented on #4642
good point @Donnerbart :+1:

[2015-02-19 10:32] joanbalaguero opened #4644 "Multimap listener bug"
Hazelcast 3.4.

When removing keys from a multimap with a listener, the entryRemoved method is called but in order to get the removed value one must call to event.getValue() instead of event.getOldValue().

On the other hand, this works fine with IMaps.

[2015-02-19 12:39] lukasblu commented on #4644
Hi,

maybe also have a look at this issue here #3859 .

Cheers,
Lukas

[2015-02-19 13:16] #4627 closed

[2015-02-19 13:16] mesutcelik commented on #4517
This hasn't failed lately. Have we fixed such an issue before?

WDYT @ahmetmircik ?

[2015-02-19 13:18] bilalyasar opened #4647 "[TEST-FAILURE]ClientRegressionTest.testIssue493"
[code]
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK8/com.hazelcast$hazelcast-client/347/testReport/junit/com.hazelcast.client/ClientRegressionTest/testIssue493/

[2015-02-19 13:31] jeffreybolle opened #4648 "Hazelcast Shutdown Hook calls terminate() instead of shutdown()"
The default behaviour of a Hazelcast instance is to register a JVM shutdown hook that calls terminate()  on that instance.

Calling terminate() causes Hazelcast to forcibly shutdown the instance without ensuring that the data on the node being shutdown has finished syncing to the remaining nodes in the cluster.

I would argue that the default behaviour should be to call shutdown() which cleanly sh

[2015-02-19 13:31] #4509 closed

[2015-02-19 13:35] ahmetmircik commented on #4517
dont remember a fix but it looks like we can close it till the next failure.

[2015-02-19 14:10] Tembrel commented on #4398
If there's no way to change the operation timeout, then I'm glad that the
way I'm doing it -- calling get() immediately on the first of the futures
returned -- manages to work.

But maybe I should consider a design that uses ITopic to return the results
of long-running tasks.

On Wed, Feb 18, 2015 at 11:14 AM, Lukas Blunschi <notifications@github.com>
wrote:

[2015-02-19 15:14] mesutcelik commented on #4508
has anyone fixed that one? Last failure is 3 weeks old... @gurbuzali @eminn ?

[2015-02-19 15:23] patriziomunzi opened #4649 "HZ 3.3.5 SINGLE NODE - com.hazelcast.core.OperationTimeoutException: No response for 20000 ms. Aborting invocation"
I'm trying to move to HZ 3.3.5 but my first load test with a dummy test case failed on tons of:

[code]

My code snippet is:

[code]

Am I doing something wrong??

[2015-02-19 15:42] mesutcelik commented on #4401
@ahmetmircik ,

Do you have any update on that one?

[2015-02-19 15:54] Donnerbart commented on #4640
Hmm, in one run I changed the assert order (first check remove, than put). But I got just I error in ~2500 runs. So maybe the cluster needs some additional load (occupied threads, hickup in the vm builder cloud) to fail.

[2015-02-19 18:14] ahmetmircik commented on #4401
seems not failing any more, closing now.

[2015-02-19 18:14] #4401 closed

[2015-02-19 19:59] eminn commented on #4648
Hi @jeffreybolle,
Your suggestion seems reasonable, instead of changing the default behavior, we can introduce an a boolean GroupProperty [1] which is named like `hazelcast.shutdownhook.terminate` with a default value of `true`, that controls the behavior of the shutdown hook. If set to true, shutdown hook will terminate the instance, if set to false, instance will be shutdown gracefully.

I'd be

[2015-02-20 02:04] pveentjer commented on #4649
You are making use of locks, since it I see it in the error. But from your code it is unclear to see how you are using those locks. But the exception doesn't sound that nice to me. Can you post the content of ValueObjectCacheUtil

[2015-02-20 08:12] mesutcelik commented on #4495
@gurbuzali ,

Can you please check that one? It has never failed on master so far.
https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast/job/Hazelcast-3.x/com.hazelcast$hazelcast/2740/testReport/com.hazelcast.concurrent.lock/LockTest/testKeyOwnerDies/history/

[2015-02-20 08:20] mesutcelik opened #4650 "[TEST-FAILURE] ClientSplitBrainTest Timeout"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/472/console

[2015-02-20 08:29] #4435 closed

[2015-02-20 08:39] mesutcelik commented on #3373
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/393/com.hazelcast$hazelcast-hibernate3/testReport/com.hazelcast.hibernate/LocalRegionFactoryDefaultTest/testQuery/

[2015-02-20 08:42] gurbuzali commented on #4495
we are testing lock backup with this test and I remember we've fixed/improved related with lock-backup.
I think we can close it

[2015-02-20 08:42] #4495 closed

[2015-02-20 08:42] mesutcelik commented on #3796
who is working on that issue?

**new failure below**

https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OpenJDK8/154/com.hazelcast$hazelcast/testReport/com.hazelcast.queue/TransactionQueueTest/testIssue859And863/

[2015-02-20 08:43] patriziomunzi commented on #4649
Unfortunately I'm using the lock in a very straightforward  way.
Taking out all the wrappers and IFs I simply do:
[code]

[2015-02-20 08:50] mesutcelik commented on #4650
fixed already by Sancar...

[2015-02-20 08:50] #4650 closed

[2015-02-20 08:58] mesutcelik commented on #4393
fixed via edfa3cf

[2015-02-20 08:58] #4393 closed

[2015-02-20 09:00] mesutcelik commented on #4252
I don't see those ReplicatedMap Tests failing anymore. any idea?

[2015-02-20 09:08] mesutcelik commented on #4390
no failure seen lately.

[2015-02-20 09:12] mesutcelik commented on #4507
@gurbuzali

I checked that one on the history of maintenance builds. no failure lately...

https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast%20Maintenance/job/Hazelcast-3.maintenance/com.hazelcast$hazelcast/727/testReport/com.hazelcast.executor/ExecutorServiceTest/testManagedPostregisteredExecutionCallbackCompletableFuture/history/

[2015-02-20 09:57] Dretch opened #4651 "Downloads broken"
The download links at http://hazelcast.org/download/ do not work.

[2015-02-20 10:05] noctarius commented on #4651
We already recognized and working on resolving the issue! :)

Thanks for notifying!

[2015-02-20 10:07] jdanwmal commented on #47
This is also a requirement for a large project and I am working on. I have implemented some custom eviction mechanism but it's not very efficient, as I do not really have the entry age for an LRU implementation. Any plans to add this soon?

[2015-02-20 10:40] bilalyasar commented on #4651
thanks for reporting, fixed.

[2015-02-20 10:40] #4651 closed

[2015-02-20 12:14] #4507 closed

[2015-02-20 13:42] jeffreybolle commented on #4648
Hi @eminn,

Your solution sounds sensible if you want to maintain backwards compatibility for existing users.  However I think it would be a good idea to ensure that the default behaviour of terminating without waiting for the cluster to be in a safe state is well documented because it is not what most users would expect.

Thanks,
Jeffrey

[2015-02-20 14:43] gurbuzali commented on #4048
closing since related ticket already closed

[2015-02-20 14:43] #4048 closed

[2015-02-20 14:45] gurbuzali commented on #4514
closing, not reproducible

[2015-02-20 14:45] #4514 closed

[2015-02-20 14:50] gurbuzali commented on #2838
Have you tried latest version to see if the issue disappears ?

[2015-02-20 17:35] lukasblu commented on #4398
@Tembrel

Unfortunately, it looks like it is *not* always the first of the returned futures which is safe to call get() on.

In my tests above it seams to be the same all the time, however in my application on one node it is the first, on the other the second. Basically, this renders the workaround useless, as you can not know which Future to call get() on.

So, I really have no idea how to safely

[2015-02-20 17:49] lukasblu commented on #4398
@mdogan

Your comment above is not fully correct. A better version would be:

"This happens only if more than 2 x timeout passes before calling future.get() on *all* returned futures."

This is quite a bit more serious, because my usual approach to wait for all answers is to call future.get() on one of the returned futures and after this answer has arrived continue to wait on the remaining futures

[2015-02-20 18:34] lukasblu commented on #4398
Here is a short test that shows that executing the same long-running task on one node works while it fails on the other. It works on node 1 *or* on node 2, but never on both.

[code]

[2015-02-20 19:01] lukasblu commented on #4398
Hi again (last update from my side for today:-)

I ran my tests above again with the latest version of the maintenance-3.x branch which contains the commit e4b93ea by @gurbuzali ("added a check before running execution-callback").

Unfortunately, the problem remains.

Cheers and have a nice weekend,
Lukas

[2015-02-20 19:17] gurbuzali commented on #4398
Hi @lukasblu, @Tembrel
Thank you for all observations and tests, I'll take a look at them asap

[2015-02-20 21:34] tolitius opened #4653 "MultiMap stats are missing memory usage"
https://github.com/hazelcast/hazelcast/blob/master/hazelcast-documentation/src/ClusteredREST.md#retrieve-multimap-information

[code]

Memory usage should be populated to be consistent with IMap.

[2015-02-21 11:32] mesutcelik commented on #4319
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8/475/com.hazelcast$hazelcast/testReport/com.hazelcast.cache/BasicCacheTest/testCompletionTest/

[2015-02-21 11:35] mesutcelik opened #4655 "[TEST-FAILURE] JCacheClientListenerTest.testSyncListener_shouldNotHang_whenHazelcastInstanceShutdown"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK8/349/com.hazelcast$hazelcast-client/testReport/com.hazelcast.client.cache/JCacheClientListenerTest/testSyncListener_shouldNotHang_whenHazelcastInstanceShutdown/

[2015-02-21 11:38] mesutcelik commented on #3796
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-OracleJDK1.6/153/

[2015-02-21 11:39] mesutcelik opened #4656 "[TEST-FAILURE] NearCacheTest.testNearCacheInvalidation_WithRandom_whenMaxSizeExceeded"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK7/450/com.hazelcast$hazelcast/testReport/com.hazelcast.map.nearcache/NearCacheTest/testNearCacheInvalidation_WithRandom_whenMaxSizeExceeded/

[2015-02-21 11:41] mesutcelik commented on #4517
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast/2746/testReport/junit/com.hazelcast.map.query/QueryIndexMigrationTest/testQueryWithIndexDuringJoin/

[2015-02-22 09:17] mesutcelik commented on #4319
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK1.7/com.hazelcast$hazelcast/33/testReport/junit/com.hazelcast.cache/BasicCacheTest/testCompletionTest/

[2015-02-23 03:28] emrahkocaman opened #4658 "Provide a way to disable SpringManagedContext"
When used with Spring, Hazelcast chooses `SpringManagedContext` instead of `DefaultManagedContext`.
SpringManagedContext [checks](https://github.com/hazelcast/hazelcast/blob/master/hazelcast-spring/src/main/java/com/hazelcast/spring/context/SpringManagedContext.java#L54) for `SpringAware` and this might cause some performance penalty even if `SpringAware`annotation is never used.

A way to disable

[2015-02-23 07:51] mesutcelik commented on #4114
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OracleJDK1.7/com.hazelcast$hazelcast/34/testReport/junit/com.hazelcast.map.query/QueryIndexingTest/testResultsHaveNullFields_whenUsingIndexes/

[2015-02-23 09:54] patriziomunzi commented on #4649
Any feedback on this?

[2015-02-23 14:16] eeimarn opened #4660 "NullPointerException on CachePutBackupOperation"
I am currently evaluating hazelcast and its jcache api, i am trying to get a feature that was previously working with infinispan working with hazelcast, i have used hazelcast a couple of years ago and was very happy with the results, but with this problem i am drawing a blank so any any advice would be very much appreciated.

I am currently just testing 2 hazelcast instances running within a  .war

[2015-02-23 15:47] jerrinot commented on #4660
this is a follow-up of https://groups.google.com/forum/#!topic/hazelcast/dv1i1_xZad0

[2015-02-24 08:34] mesutcelik opened #4662 "[TEST-FAILURE] ClientRegressionTest.testOperationRedo"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-IbmJDK1.6/462/com.hazelcast$hazelcast-client/testReport/com.hazelcast.client/ClientRegressionTest/testOperationRedo/

[2015-02-24 08:41] mesutcelik opened #4663 "[TEST-FAILURE] MergePolicyTest Failures"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/397/

[2015-02-24 09:16] sgulati89 opened #4665 "Client is shutting down exception in hazelcast 3.3.3"
Hi,

We are receiving following exception in hazelcast 3.3.3

java.lang.RuntimeException: com.hazelcast.core.HazelcastException: Client is shutting down!!! at backtype.storm.utils.DisruptorQueue.consumeBatchToCursor(DisruptorQueue.java:128) at backtype.storm.utils.DisruptorQueue.consumeBatchWhenAvailable(DisruptorQueue.java:99) at backtype.storm.disruptor$consume_batch_when_available.invoke(disrup

[2015-02-24 14:27] sergiocard opened #4666 "ReplicatedMap size should return 0 on removed keys"
following test fails, size() returns 1:

    @Test
    public void testContainsKey_returnsFalse_onRemovedKeys() throws Exception {
        HazelcastInstance node = createHazelcastInstance();
        ReplicatedMap<Integer, Integer> map = node.getReplicatedMap("default");
        map.put(1,Integer.MAX_VALUE);
        map.remove(1);

        assertTrue(map.size() == 0);
    }

[2015-02-24 14:59] bitec opened #4667 "Strange mapName for MapStoreFactory.newMapStore()"
Hi.
I used the asterix configuraiton for maps and mapStore configuration using custom MapStoreFactory:
[code]
This worked ok for half a year.
Then I tried the more specific configuration for some maps and changed maps configuration to the following:

[code]
And now I face the sporadic strange mapName parameter in my MapStoreFactory with asterix: **"query.archive.*"**

Code for MapStoreFactory is n

[2015-02-24 15:13] ahmetmircik commented on #4667
Hi,
Thanks for the report.
Is it possible for you to test/verify it with `version 3.4.1` also?

[2015-02-24 15:15] bitec commented on #4667
Well, will do this in testing environment, if everything is ok, will move to prod

[2015-02-24 15:39] eminn commented on #4666
Thanks for the report.

[2015-02-24 16:22] deifh1118 opened #4670 "Client cannot connect to cluster on a specific port"
Hello, I am trying to create a Hazelcast cluster and I ran into a problem.
Trying to generate a member cluster in a specific port (5710 i.e.), I connect a client to this cluster on this hardcoded port (:5710) into the method addAddress, but when I execute the client it fails trying to access the cluster.
If I don't specify port (only localhost is set at client configuration) or I set listening por

[2015-02-24 16:53] bitec commented on #4667
this is the same for 3.4.1

[2015-02-24 18:16] lukasblu opened #4671 "Two issues with local near cache"
Hi,

while stress testing our application, we discovered two issues with using local near caches:

1. Even on a single node, the local near cache is not synchronously invalidated after the map is modified.

2. Also on a single node, it may happen that near cache invalidations are lost.

To 1:
I understand that you do not give full consistency guarantees when using a near cache, however I kind of e

[2015-02-24 18:21] lukasblu commented on #4671
Ups, just discovered a small typo in the test - however, it has no influence on its outcome (only the success messages is never printed).

[2015-02-24 18:51] lukasblu commented on #4671
Ps. I tested with version 3.4.1 and also with version 3.3.4 - both issues occur in both versions.

Pps. as this is a stress test, the issues does not always appear... it generally helps to make sure your system is under full load (increase var numGetters to something above your core count) and decreasing the sleep time in the putter thread also helps.

[2015-02-25 07:48] mesutcelik commented on #3796
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK8/479/com.hazelcast$hazelcast/testReport/com.hazelcast.queue/TransactionQueueTest/testIssue859And863/

[2015-02-25 08:04] hasancelik commented on #4665
Thanks for reporting your issue. Please share with us the following information, to help us resolve your issue quickly and efficiently.
* **Hazelcast configuration** (hazelcast.xml or programmatic configuration)
* **Cluster topology**
  * Number of Hazelcast member nodes
  * Number of Hazelcast clients
* **Java version** (also JVM parameters can be added)
* **Operating System** (for Linux kernel v

[2015-02-25 08:12] eminn commented on #4663
fixed via b875507b70c449a479efe6237bc51c9783a838a3

[2015-02-25 08:12] #4663 closed

[2015-02-25 08:34] metanet commented on #4671
Near cache invalidations are not lost. You do not wait enough to let it become consistent (eventually).

 ```Thread.sleep(1000L); ```

If you add this line at the beginning of your while loop in GetRunnable, you will see that HZ test will pass as well.

Besides, I am not sure if it intentional or not but you do not get every value you put into the map.

[code]

This code does not get every value t

[2015-02-25 09:19] Neway6655 commented on #4615
Any updates about this issue? Thanks!

[2015-02-25 09:25] lukasblu commented on #4671
Hi @metanet ,

thanks for answers.

Can you show me where exactly you put the Thread.sleep(1000L)? Because inside the while loop in the GetRunnable it really should not affect this. Note, however, that if you sleep 1s in every loop in the GetRunnable, then the problem described in this issue naturally becomes *much* less likely - I think the issue occurs if *very shortly* after the IMap.put() you

[2015-02-25 10:23] sgulati89 commented on #4665
Thanks for your response. Here are the details:

**Hazelcast Configuration:**

[code]

**Cluster topology:**

Number of Hazelcast member nodes : 2
Number of Hazelcast clients: 50 +

**Java version :**  1.7.0_51
**Jvm parameters: ** java -Xmx25g -XX:+UseConcMarkSweepGC -XX:+UseCMSInitiatingOccupancyOnly -XX:CMSInitiatingOccupancyFraction=60

**Operating System :**  Ubuntu 14.04.1 LTS(kernel 3.13.0-

[2015-02-25 11:05] Dretch commented on #1194
This would be useful for me. I have some tasks running on Hazelcast executor services that I believe would be many times faster with this change.

[2015-02-25 11:34] pveentjer commented on #1194
Are these task running locally or remote?

[2015-02-25 11:37] sergiocard commented on #4666
ok, thanks to you

[2015-02-25 11:57] mdogan opened #4676 "After cluster merge due to a network-split, Hazelcast infinitely logs WaitNotifyServiceImpl$WaitingOp::WrongTargetException warnings"
*Issue created according to feedback from a user:*

**Version: 3.3.4**

1. Due to network load (no artificial partitions between the hazelcast instances), one of the controller got dropped from the 3 node cluster - Say C got disconnected from A & B.
2. A & B realize that C is gone and become a stable 2 node cluster.
3. At this time, C detected A is gone, it still has to detect that B is gone. So C

[2015-02-25 11:58] sancar opened #4677 "IExecutorService future.cancel issues"
In case of submitting a callable to a member via IExecutorService there is no guarantee that future.cancel will work after callable start to run.(Because they do not run on an assigned partition thread)
I added new  tests as ClientExecutorServiceCancelTest to demonstrate the failure. Related tests are currently ignored. Although tests is for client there is a high probability that this is an issue

[2015-02-25 12:01] Dretch commented on #1194
@pveentjer

The tasks are sent to a Hazelcast node with `hazelcastInstance.getExecutorService("default").submitToKeyOwner(...)` and they access data that is local to the Hazelcast node (there is actually only one node in our deployment).

[2015-02-25 12:11] mdogan commented on #4676
Sample case to reproduce:

[code]

[2015-02-25 12:21] metanet commented on #4671
Hi @lukasblu

I put that line after  while (!stop.get()) in GetRunnable.

You are right, when I increase the thread count and decrease the sleep times, your assumption gets broken.

Thanks for your explanation.

[2015-02-25 12:43] eminn commented on #4648
Hi @jeffreybolle ,

Documentation update is added to the reference manual via 1fcb0aa65c92c0b455286ff3fff9405a29571d3e . Now, I'd be grateful if you introduce aforementioned system property to make shutdown behavior, in the shutdown hook, configurable.

[2015-02-25 13:11] mesutcelik commented on #4357
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-IbmJDK1.7/160/com.hazelcast$hazelcast/testReport/com.hazelcast.cache/JCacheListenerTest/testSyncListener_shouldNotHang_whenCacheDestroyed/

[2015-02-25 14:38] lukasblu commented on #4671
Hej, I wrote another test which more clearly shows that near cache invalidations can be lost - and which also proves this by flushing the near cache and checking again.

Also, the test is a bit easier to understand compared to the first one.

However, it still is a stress test and therefore does not fail all the times. If it does not fail for you, play with the sleep time in the putter thread, e.g

[2015-02-25 15:00] lukasblu commented on #4671
Hi again, I just now found a way to make the test fail *all the times*: Instead of sleeping between the IMap.put() and IMap.get(), I now sleep only after I have already discovered an inconsistency.

Please replace the implementation of the PutRunnable with the following code:

[code]

[2015-02-25 15:19] rn55 commented on #3752
Hi Guys,
I'm easily reproducing issue:
My environment: CentOS 6.5, java 1.8 25, hazelcast 3.3.2

Errors:

`SEVERE: Illegal character in opaque part at index 38: jar:file:/home/mtalaga/ProgramData/amp server 5.7.10build44/lib/common/com.hazelcast.hazelcast-all-3.3.2.jar!/META-INF/services/com.hazelcast.PortableHook
java.net.URISyntaxException: Illegal character in opaque part at index 38: jar:file:

[2015-02-25 15:23] bitec commented on #1623
well, I don't use putAll from client in my code, that was just synthetic installation. If the code I provided can be launched without problems for both scenarios - it can be closed i think

[2015-02-25 15:40] bitec commented on #4667
Any plans on this?

Seems "overloading" of maps now is not supported that is disappointing

[2015-02-25 15:48] eminn commented on #4508
test removed via aaebde6f1871b1a6857928e6a610e45a3fc3c9f1

[2015-02-25 15:48] #4508 closed

[2015-02-25 15:51] ahmetmircik commented on #1208
can not manage to reproduce yet.
Increased timeout.https://github.com/hazelcast/hazelcast/commit/04fa7ab06a36416ebde2e2a3016494258541280d
waiting for the next possible failure. closing now.

[2015-02-25 15:51] #1208 closed

[2015-02-25 15:56] #4636 closed

[2015-02-25 15:58] mesutcelik commented on #4636
This timeout was not related to the Test itself but jenkins build instability.

[2015-02-25 19:35] serkan-ozal commented on #4671
@lukasblu

I think, the problematic flow can be like this (based on first version of your test code):

**Note:** `Putter`, `Getter-1` and `Getter-2` runs on different threads.

**1.** `Putter` puts value `1` and now `valuePut` is `1`
**2.** `Getter-1` tries to get value
&nbsp;&nbsp;&nbsp;&nbsp;**2.1.** Since near-cache is empty, request from map via operiation
&nbsp;&nbsp;&nbsp;&nbsp;**2.2.** Get

[2015-02-25 19:56] serkan-ozal commented on #4671
By the way, I am not sure about is this really a bug or not from the perspective of async save to near-cache. But maybe we can support synch save configuration (by default this configuration can be disabled and user can enable this) to near-cache to handle this problem but it is obvious that sync save to near-cache will have performance trade-off from the caller side.

[2015-02-25 20:13] serkan-ozal commented on #4671
In addition, maybe while invalidation near-cache record on put to map, we may also cancel all waiting callbacks (not executed yet by executor service and will save to near-cache) for that key (possibly by holding key-callback(s) mappings).

[2015-02-26 05:57] mesutcelik commented on #4549
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/480/com.hazelcast$hazelcast-client/testReport/com.hazelcast.client.queue/ClientQueueDisruptionTest/clientsConsume_withNodeShutdown/

[2015-02-26 08:44] #4666 closed

[2015-02-26 09:32] gurbuzali commented on #4667
Hi,
Can you please give some detailed information about what you mean by 'overloading' ?
For the strange mapName issue, regardless of the configuration mapName should always be the name which you've passed to `HazelcastInstance.getMap(mapName)`

I've created a small test code which shows the stack-trace to prove that the string you've passed to `getMap` method travels to `newMapStore` method.

Can

[2015-02-26 10:05] lukasblu commented on #4671
Hi @serkan-ozal , thanks for your feedback.

I have just one comment on point 2.3: Where is this Callback-1 executed? I was looking at the code in MapProxyImpl and MapProxySupport, but could not find it. Furthermore, is such a callback really needed for the local node? If you look at the implementation of MapProxySupport.getInternal(), you can see that the value returned by the map operation is *s

[2015-02-26 11:02] sancar commented on #4237
Closing this one since it did not fail recently.
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x/com.hazelcast$hazelcast-client/2773/testReport/junit/com.hazelcast.client/ClientRegressionTest/testMapDestroyIssue764/history/

[2015-02-26 11:02] #4237 closed

[2015-02-26 11:11] dbrimley opened #4687 "Memory Distribution Imbalance (Possible Memory leak?)"
Reproduce steps...

(1) Start one hazelcast cluster member. -Xmx3G -Xmx3G -XX:-UseConcMarkSweepGC
(2) Start a client and prime one million entries of a DataSerializable object containing 14 longs, 1 Double, 1 List<String> with ~ 20 entries.  I don't believe however this is the cause, you could maybe try with primitives.  The Key is a Long
(3) Use default map config (so backup = 1)
(4) Now start a

[2015-02-26 11:14] stoerr commented on #4406
We just had the same problem with hazelcast 3.2.6 , 4 hazelcast member nodes integrated in the application (and no additional clients), Java(TM) 1.7.0_51-b13 (Java HotSpot(TM) 64-Bit Server VM, 24.51-b03, mixed mode), SunOS, 5.10 , amd64/64 (2 Kerne) , hibernate 4.3.6 . The stacktrace is different - see below.

What struck me odd is the following line in
com.hazelcast.spi.impl.BasicInvocation.Invo

[2015-02-26 12:25] sancar commented on #3404
Already fixed.

[2015-02-26 12:25] #3404 closed

[2015-02-26 12:28] serkan-ozal commented on #4671
Hi @lukasblu,

yes you are right. I had looked `getAsync` method by mistake. Currently it really seems like a bug. Let me look in detail again.

[2015-02-26 12:34] gurbuzali commented on #4687
version ?

[2015-02-26 12:39] dbrimley commented on #4687
3.4.1

-- Sent from my iPhone

[2015-02-26 13:37] mdogan commented on #4687
My initial finding is that, partition distributions seem correct (we already have several tests for that). But first nodes contain more than expected map backup data which looks like a memory leak.

Even when 4th node is started, 3rd one contains more than expected backup (which is still lower than data hold on initial two nodes).

[2015-02-26 13:42] mdogan commented on #4687
Here is the sample result, 4 nodes, started one-by-one, `1000000` entries, 24 partitions:

Node1:
[code]

Node2:
[code]

Node3:
[code]

Node4:
[code]

[2015-02-26 13:52] bs-nebion commented on #2118
I can still reproduce the stacktrace (same as above) on 3.4.1.

A workaround is to shut down the ExecutorService before shutting down the client:
`executorService.shutdown();`
`client.shutdown();`

[2015-02-26 14:02] mdogan commented on #4687
Changed test to gather more detailed entry counts. Each node prints its owned entry count per-replica...

After 3rd node is up and sync, state is like following:
*Node1*: `[332981, 333263, 166485, 0, 0, 0, 0]`
*Node2*: `[333111, 333183, 167069, 0, 0, 0, 0]`
*Node3*: `[333908, 333554, 0, 0, 0, 0, 0]`

After 4th node is started:
*Node1*: `[249556, 250214, 166485, 83049, 0, 0, 0]`
*Node2*: `[249920,

[2015-02-26 18:30] bitec commented on #4667
[code]

[2015-02-26 18:43] gurbuzali commented on #4667
thank you for the report I've found the bug

[2015-02-26 19:17] serkan-ozal commented on #4671
Hi @lukasblu,

What about this flow for sync get:

**Note:** `Putter`, `Getter-1` runs on different threads.

**1.** `Putter` puts value `1`
&nbsp;&nbsp;&nbsp;&nbsp;**1.1.** Invalide near-cache record (no invalidation occures since there is no near-cache record yet)
&nbsp;&nbsp;&nbsp;&nbsp;**1.2.** Now `valuePut` is `1`
**2.** `Putter` thread is suspended and `Getter-1` thread is scheduled by OS
*

[2015-02-27 06:15] mesutcelik opened #4690 "QuerySlowTest.testRangeIndexSQLPerformance"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/481/testReport/junit/com.hazelcast.map.query/QuerySlowTest/testRangeIndexSQLPerformance/

[2015-02-27 08:30] yacota commented on #3752
Hi,
I can reproduce the problem randomly
Environment : CentOS 6.4,  1.8.0_11, hazelcast 3.4.1
{code}
java.net.URISyntaxException: Illegal character in opaque part at index 64: jar:war:file:/data/agile/agile.pubfrontal/webapps/pubfrontal.war^/WEB-INF/lib/hazelcast-3.4.1.jar!/META-INF/services/com.hazelcast.instance.NodeExtension
        at java.net.URI$Parser.fail(URI.java:2848)
        at java.net

[2015-02-27 09:28] eminn opened #4692 "Client destroys all connections when a reconnection happens"
When client's connected node is shutdown, client reconnects to another node in the cluster, at this time after reconnection is  completed, while trying to clean resources of the old node, client sends an operation to all nodes in the cluster to destroy all connections to itself. This causes unnecessary reconnections and operation retries.

[2015-02-27 09:28] eminn opened #4693 "Client retry operations made from multiple threads."
When a request cannot be executed due to a problem (connection error etc.) if the operation redo is enabled, request is retried. Retried operations are offloaded to an executor, but after offloading, user thread still tries to retry the request, this causes anomalies like operations are executed twice or operation  responses cannot be handled correctly etc.

[2015-02-27 11:13] ahmetmircik commented on #3426
Seems still failing https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-pr-builder/com.hazelcast$hazelcast/12034/testReport/junit/com.hazelcast.map.mapstore/MapLoaderTest/testMapLoaderLoadUpdatingIndex/

[2015-02-27 12:19] #4667 closed

[2015-02-28 10:40] bwzhang2011 commented on #4687
@mdogan, how does this going on ? backup potential memory leak resolved ?

[2015-02-28 21:43] u6f6o commented on #4445
I realized that this one was fixed in the meantime by #3882

[2015-03-01 00:04] bwzhang2011 commented on #520
@sancar, how does this going on ? could discovery function for client api could be merged into hz3.5 ?

[2015-03-01 08:06] pveentjer commented on #520
Afaik it isn't on the roadmap for 3.5. Maybe 3.6

[2015-03-01 18:44] noctarius commented on #2630
If somebody is interested in a general SPI for all kinds of discovery mechanisms, please read https://hazelcast.atlassian.net/wiki/display/COM/HEP+2+-+Hazelcast+Discovery+SPI and join the discussion at https://gitter.im/hazelcast-incubator/hazelcast-discovery-spi

[2015-03-01 22:34] lukasblu commented on #4671
Hi @serkan-ozal ,

yes, this sounds like a possible explanation.

It also explains, why sometimes a near cache value remains at the old value: Not only the local, synchronous invalidation of the near cache is missed, but also the invalidate operation sent out after the map is updated. If this also happens before Getter-1 inserts its previously fetched value into the near cache, then nobody will in

[2015-03-02 05:34] mesutcelik commented on #4655
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK6/com.hazelcast$hazelcast-client/458/testReport/junit/com.hazelcast.client.cache/JCacheClientListenerTest/testSyncListener_shouldNotHang_whenHazelcastInstanceShutdown/

[2015-03-02 05:35] mesutcelik commented on #4656
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-OpenJDK6/com.hazelcast$hazelcast/457/testReport/junit/com.hazelcast.map.nearcache/NearCacheTest/testNearCacheInvalidation_WithRandom_whenMaxSizeExceeded/

[2015-03-02 05:40] mesutcelik opened #4697 "[TEST-FAILURE] JoinStressTest.testMulticastJoinWithManyNodesMultipleGroups"
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly/com.hazelcast$hazelcast/403/testReport/junit/com.hazelcast.cluster/JoinStressTest/testMulticastJoinWithManyNodesMultipleGroups/

[2015-03-02 06:28] dsukhoroslov opened #4698 "getAll/utAll methods in TransactionalMap interface"
It would be beneficial to have most common Map methods in a base interface (BaseMap) which are inherited by both IMap and TransactionalMap. Forum discussion is here: https://groups.google.com/forum/#!topic/hazelcast/6Dvz14D6nU8.
I'm ready to provide a PR for this. I've generalized methods keySet(), keySet(Predicate p) into the BaseMap interface too.
We can discuss implementation details here. As a

[2015-03-02 06:49] pveentjer commented on #4665
Have you made a heap dump and made some analysis where there could be a memory leak? I'm a lazy guy and like good tooling. I normally use JProfiler for heap dumps since it allows for aggregation options so quickly discover the path to a memory leak.

[2015-03-02 06:50] pveentjer commented on #4653
Can you create a unit tests that shows it is actually broken. This saves us a lot of time.

And which HZ version are you using?

[2015-03-02 06:55] dsukhoroslov opened #4699 "it should be possible to assign custom cost calculator to Map when in-memory-format is OBJECT"
If I understand it correctly, memory cost is not calculated when in-memory-format is not BINARY, thus eviction policy based on memory consumption can't be used at all. It would be benefitial to allow users asign their own memory-cost-calculator for such case via Config interfaces and in xml configuration.

Thanks, Denis.

[2015-03-02 07:06] dsukhoroslov opened #4700 "Spring xml config: the network socket-options attributes should be of type xs:string"
As of now they're of various simple types:

    <xs:complexType name="socket-options">
        <xs:attribute name="tcp-no-delay" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="keep-alive" type="xs:boolean" use="optional" default="true"/>
        <xs:attribute name="reuse-address" type="xs:boolean" use="optional" default="true"/>
        <xs:attribute name="linger-se

[2015-03-02 07:21] noctarius commented on #4699
Very good idea, love it. There is a new community procedure called Hazelcast Incubator https://hazelcast.atlassian.net/wiki/display/COM/Hazelcast+Enhancement+Proposals. Would you like to suggest it?

[2015-03-02 07:26] noctarius commented on #4698
Sounds like a good thing to me. What do others think?

[2015-03-02 07:39] metanet commented on #4653
This issue is related to #4497 and fixed by #4691

[2015-03-02 07:39] #4653 closed

[2015-03-02 09:06] mesutcelik commented on #3373
@kobalski ,

I am closing that right now. Fix attempt at 43966bf and 4f4c09d9cc18638b36bc80c8824ce946cd64408d

[2015-03-02 09:18] ahmetmircik commented on #4656
My previous fix had typo this commit should fix it https://github.com/hazelcast/hazelcast/commit/d6580243103d3cf7fd0c04260e96b1cd886c0fdc

[2015-03-02 09:18] #4656 closed

[2015-03-02 09:49] mesutcelik opened #4703 "Hardcoded Hazelcast Versions in .xml files for xsd schemaLocation definitions."
We have lots of hardcoded hazelcast versions in our xsd files ranging from 3.0 to 3.5. That needs to be updated after each release to the right version.

[2015-03-02 09:50] jerrinot commented on #4703
what's a good solution here?

[2015-03-02 09:55] mesutcelik commented on #4703
There are two solutions as far as i see.

* to keep only one xsd per jar file. No need to keep all versions and remove all occurrences of versions from .java and .xml files
* implement a mapping like https://github.com/hazelcast/hazelcast/blob/master/hazelcast-spring/src/main/resources/META-INF/spring.schemas and use versionless xsd definitions inside .xml and .java file

Those are possible soluti

[2015-03-02 10:14] jerrinot commented on #4703
ad the 1st option - doesn't this break compatibility? what if my code was importing eg. -3.2 XSD? Now I can't simply replace Hazelcast 3.2 JAR with Hazelcast 3.5, can I?

[2015-03-02 11:12] dsukhoroslov commented on #4699
Hi Chris,

Just did a HEP, please have a look.

Denis.

[2015-03-02 11:15] noctarius commented on #4699
Yep already saw it, will come back on that as quickly as possible :)

[2015-03-02 11:39] noctarius commented on #4699
There is your open proposal https://hazelcast.atlassian.net/wiki/display/COM/Map+Entry+Cost+Calculator+SPI - will post it for internal discussion :) thanks for the submission!

[2015-03-02 11:52] dsukhoroslov commented on #4699
glad to help, thanks :)

[2015-03-02 12:52] dsukhoroslov commented on #4698
Honestly, I'd extend BaseMap interface from the regular java.util.Map. It is probably the major cache structure anyway, doesn't matter it the cache/map transactional or not. But this is up to you of course. So, what about the implementation? If the sequential implementation is ok then I'll submit the PR, if not then I'll extend it further with getAll/putAll operations.

[2015-03-02 12:57] Danny-Hazelcast opened #4705 "NoSuchMethodError com.hazelcast.core.IMap.addEntryListener(Lcom/hazelcast/core/EntryListener;Z)Ljava/lang/String;"
Binary / source-level incompatibility  3.4 VS 3.5

[code]

[2015-03-02 13:29] dsukhoroslov commented on #4700
I can make a PR for this for 3.5, is it ok? The change is quite simple in hazelcast-spring-3.5.xsd only

[2015-03-02 14:13] mesutcelik commented on #4703
You are right. First option does not look good.

[2015-03-02 14:16] muratayan commented on #4697
I was able to reproduce the issue both on 'master' and 'maintenance-3.x' after repeating the test ~45 times. Now trying to find what causes that.

[2015-03-02 15:45] muratayan commented on #4697
Changing multicastConfig.setMulticastTimeoutSeconds(5) to multicastConfig.setMulticastTimeoutSeconds(15) in initNetworkConfig method seems to be solving the problem.

Tested 100 times, all passed.

[2015-03-02 15:57] bilalyasar commented on #4670
yes @dh1118 you are right, i tried and reproduced the problem...
3.5-snapshot: no exception but wrong logging, doesn't show port number
3.4.1: there is exception and wrong logging, doesn't show port number.
thanks for reporting.

[2015-03-02 17:49] jerrinot commented on #4703
can you please elaborate the 2nd option? intuitively it feels good, but I don't quite understand the "mapping" part.

[2015-03-02 18:01] mesutcelik commented on #4703
I don't know details. I just created the issue because creating issues are cheap. I will come back this issue once I have time to spend on it.

[2015-03-02 18:19] noctarius commented on #4703
Well the idea is simple, Spring has a SchemaResolver implementation that resolves the schema URI based on the mapping in the properties file and if not available just uses it as an URI itself to try to remotely load it.

[2015-03-02 19:56] jerrinot opened #4709 "Read through - load() method not creating backups"
See https://groups.google.com/forum/#!msg/hazelcast/c-5QQlWBSuc/tm_D1si8LvIJ
I assume it's unintentional.

Credits for reporting it go to Krishnakumar Kannan

Here is a reproducer:

[code]

[2015-03-02 20:20] lukasblu commented on #4671
Short status update:

I did not try to implement alternative (a), but I did try to implement alternative (b). Unfortunately, with alternative (b) I ran into deadlocks between the putter and/or getter threads and the Hazelcast partition thread. The problem was that the Hazelcast partition thread queues pending operations and if you are unlucky, then the operation queued by the thread which currentl

[2015-03-02 20:20] emrahkocaman commented on #4445
Closing this ticket, thanks @u6f6o.

[2015-03-02 20:20] #4445 closed

[2015-03-02 20:32] serkan-ozal commented on #4671
Hi @lukasblu,

I had though similar thing, but in that solution, operation count should be key based. Otherwise, you may ignore other key updates unnecessarily. Keeping key based operation count is not feasible.

[2015-03-02 20:43] dsukhoroslov commented on #4417
Hi,

About the local query parallelization (the second part od the issue explained above): in my case it does not work because the query is indexed. Ok, let's skip it for a while. Can I suggest a simple fix for the first part of the issue? Can we patch QueryOperation.runParalel method in the following way:

    protected void runParallel(final Collection<Integer> initialPartitions) throws Interrup

[2015-03-02 20:50] serkan-ozal commented on #4671
Hi @lukasblu,

In addition, to make key based operation count feasible, I think, we can use segmented operation count as hash codes of keys (such as 256 operation count of 256 key segments). So in this case, we minimize the scope of unnecessary key update ignoring.

[2015-03-02 21:07] lukasblu commented on #4671
Hi @serkan-ozal ,

Thanks for your feedback. Key-based operation counts might be an option too, but I'm not (yet) fully convinced that my fix above really misses key updates. Could you detail in which situations such an updated would be missed?

Thanks,
Lukas

[2015-03-02 21:21] gurbuzali commented on #4417
Hi,
There may be more that one partition which is local, so above solution is lacking.
Actually I still don't see why it does block on `executor.submit` if it is local

[2015-03-02 21:25] serkan-ozal commented on #4671
Hi @lukasblu,

As I understood from your approach, this flow can be problem.

`OPC:` Operation Counter

**1.** Put (`Key-1`, `Value-1.1`) (Set `OPC` to `1`)
**2.** Get `Key-1` (Get `OPC` as 1) and `Getter-1` thread is suspended before return to caller
**3.** Get `Key-2` (Get `OPC` as 1) and `Getter-2` thread is suspended before return to caller
**4.** Put (`Key-1`, `Value-1.2`) (Set `OPC` to `2`)

[2015-03-02 21:40] lukasblu commented on #4671
Hi @serkan-ozal ,

thanks again for your explanations.

True, in my implementation I keep a single invalidate count per NearCache. However, I also keep invalidation information *per key*. When updating the near cache I accept (or ignore) updates based on this per key invalidation information. See NearCache.put() in my implementation.

To avoid a memory leak, I attached this invalidation informatio

[2015-03-02 21:56] serkan-ozal commented on #4671
Hi @lukasblu,

OK, I had missed that part in your code.
But as I see from your PR, on invalidate we don't remove near-cache record.
Doesn't it cause to memory problem ?
Is there any reason to hold near-cache record of invalidated keys ?

[2015-03-02 22:00] dsukhoroslov commented on #4417
Hi,

may be I'm wrong, but when I debug my case, I got feeling that the method runParallel works on member's basis somehow. I debug it in cluster of two nodes and and got two futures only, but I have 271 partitions. Ok, let me debug it again, will provide more details tomorrow.

[2015-03-02 22:05] lukasblu commented on #4671
Hi @serkan-ozal ,

sure, it will keep those CacheRecord objects a bit longer in the near cache, but we need this information, otherwise we would not know that a specific key was invalidated. This is the per key invalidation information that I was talking about above.

Even though it keeps those CacheRecord objects around a bit longer, this will not result in a memory leak as long as you have some

[2015-03-02 22:23] lukasblu commented on #4671
Hi @serkan-ozal ,

one optimization concerning memory usage would be to set the CacheRecord.value to null on invalidate. This would probably release already most of the addionally kept memory.

Should I update my PR?

Cheers,
Lukas

[2015-03-03 06:29] pveentjer commented on #4709
I don't know if it is a 'bug'. I asked Ahmet yesterday because a customer asked exactly the same thing.
According to him this is intended behaviour; so the backup doesn't get the load from the maploader.. And when the primary fails, the backup needs to reload the same data from the db.