[2018-02-15 14:17] #12144 closed

[2018-02-15 14:17] tkountis commented on #12278
@Danny-Hazelcast there is not much we can do here without some data. Can you maybe incorporate some periodic heap-dumps in your tests? (eg. beginning, middle, end) This way we can run an analysis on the dumps to see if we can spot any leaks.

[2018-02-15 14:29] Danny-Hazelcast commented on #12278
this run did get member hprof   http://54.82.84.143/~jenkins/workspace/split-quorum/3.10-SNAPSHOT/2018_02_15-11_07_33/quorum/  but the heap is small so no so reliable
[code]

[2018-02-15 14:31] Danny-Hazelcast commented on #12278
I got another oome hprof,

http://54.82.84.143/~jenkins/workspace/split-executors/3.10-SNAPSHOT/2018_02_14-13_52_08/all/gc.html

http://54.82.84.143/~jenkins/workspace/split-executors/3.10-SNAPSHOT/2018_02_14-13_52_08/all/output/HZ/HzMember3HZBB/

from https://hazelcast-l337.ci.cloudbees.com/view/split/job/split-executors/6/console

this time using, `executor.retrieveAndDisposeResult(future.getTas

[2018-02-15 14:44] vertex-github commented on #12352
I understand how its working - I just haven't met a developer that *expects* different behavior when enabling an Index.

If you can provide a real-world use-case where the business logic needs to be different when using the Index vs not, then I'll agree this could be a 'feature'.  I just don't know of one (and nobody here could come up with one) and I think this leads to silent defects when enabli

[2018-02-15 15:36] gokhanoner commented on #8845
@neilstevenson yes it does.i have seen cases where it return different values on each call due to this behaviur and read-from-backup is true.

[2018-02-15 15:43] pablo-u commented on #9467
+1. it'd be great to have this feature available. I'm experiencing the same issue and can't afford to delay any of my requests during reload.

[2018-02-15 15:45] pveentjer commented on #12352
I'm on nicks side. IndexAwarePredicate is just a performance optimization, and it should not impact the outcome. If it does, it is a bug. The fact that with certain predicate we know we can skip the apply method is nice; but it is a broken assumption it can be applied to just any predicate.

[2018-02-15 16:01] pablo-u commented on #5818
Hi @torkeld, i'm experiencing the same issue with the reloading of my caches. Did you find a workaround?
Thanks!

[2018-02-15 16:40] iboar opened #12358 "Query with predicate on indexed field problem"
Hello,

In my project I recently encountered a problem related to Map with configured QueryCache.

I have entity with two fields:
[code]

Map configuration for it's Map including QueryCache configuration:

[code]

In main I run hazelcast instance with my configuration and then:
- add index to QueryCache
- put entity into IMap
- wait until insertion is propagated to QueryCache by checking if QueryC

[2018-02-15 17:34] Addvilz opened #12361 "Adding configuration for maps results in serialization exception"
After upgrading to 3.9.2 from 3.8.5, adding a custom map configuration during runtime results in serialization exception, when custom MapStoreConfig is used as part of MapConfig, and custom implementation is set using MapStoreConfig#setImplementation during runtime. This custom implementation is not serializable nor is it intended to be.

This seems like something new that appeared anywhere inbetw

[2018-02-15 18:05] mmedenjak commented on #12352
Jaromir and I are not questioning should the results change if the index is enabled or not. We all agree on this - the results must not change whether you use index or not.
The only question here is if we should implicitly call `apply` after the index has returned the results from `filter`. I don't think we should. We will document this and the implementer has to implement the `filter` method with

[2018-02-15 18:13] vertex-github commented on #12352
Whether you call it lazy or an extremely unexpected behavior, the result is the same - potentially bad data from a query when we enable indexing.  Documenting this fact doesnt fix or prevent the problem. I've yet to meet a developer that reads all Javadocs of all API calls all the time.

There's something very simple that Hazelcast could do in this situation to prevent such silent bad data, and no

[2018-02-15 23:06] torkeld commented on #5818
The only workaround I'm aware of is to not use Hazelcast...

[2018-02-16 04:16] gurbuzali commented on #12300
I've got event simpler reproducer. This shows that the problem is not related with `not applied backups`. Migration is the new suspect I guess
[code]

[2018-02-16 07:02] longtimeago commented on #9130
Should this approach http://docs.hazelcast.org/docs/latest-development/manual/html/Management/Monitoring_with_JMX.html
work for java client monitoring?

[2018-02-16 07:49] mdogan commented on #12361
@Addvilz:
Before 3.9, adding a new map configuration (or generally adding a new data structure configuration) at runtime was an undefined behaviour. That was not a supported functionality, because Hazelcast expects all members in a cluster to have the same configuration.

With 3.9, we introduced ability to add new data structure configurations on-the-fly, which requires newly added configuration t

[2018-02-16 08:20] Danny-Hazelcast commented on #12197
I think this error may play a part for the  hanging issue.

`Promotion commit failed for 47 migrations since destination`

i see such logging in failed runs.  what could cause this failed migrations ?

using these properties, i see the above failed migrations

hzProps="${hzProps} -Dhazelcast.icmp.timeout=1000"
hzProps="${hzProps} -Dhazelcast.icmp.interval=1000"
hzProps="${hzProps} -Dhazelcast.icmp

[2018-02-16 08:58] mdogan commented on #12300
As far as I see, EventJournal has no backups;

[code]

[2018-02-16 09:02] mmedenjak commented on #12300
The event journal replica count is equal to the map replica count. So if there are 3 replicas, each replica will have a local ringbuffer and map operations will only write to the local ringbuffer.

[2018-02-16 09:03] mdogan commented on #12300
Ah, map backup replicas have their own journal ringbuffers. I see.

[2018-02-16 09:10] mdogan commented on #12300
Interestingly, map survives the crash but journal can't.

Before crash:
[code]

After crash:
[code]

Also, there's no complete partition loss for journal, but some events in a single partition are lost.

[2018-02-16 09:29] mmedenjak commented on #12300
It might just as well be that some map backup operation does not add the same amount of entries into the backup ringbuffer as the operation on the primary replica. So we end up with a different amount of entries on the primary vs backup.

[2018-02-16 09:34] mmedenjak commented on #12178
I'm looking at this issue a bit and here are the findings. If I'm not mistaken, the test is actually doing the logging, not the hazelcast instance itself - https://github.com/hazelcast/hzCmd-bench/blob/6a0720466a297408c2abe315599b17b24d24d27c/src/main/java/hzcmd/executor/regular/SubmitToAllAndUse.java#L22-L28

So you may opt not to log the `ExecutionException` if the cause is a `QuorumException`:

[2018-02-16 09:38] gurbuzali commented on #12300
@mmedenjak keep in mind that we don't see any data lost after first termination

[2018-02-16 09:40] metanet commented on #12300
could it be that event journal data is not migrated correctly? after the first crash, 1st backup will be promoted to the primary, and it will create a new backup replica. If it does not replicate the event journal data to the new backup replica correctly, 2nd crash will lead to data loss

[2018-02-16 09:45] Addvilz commented on #12361
@mdogan okay, that makes perfect sense then - in our implementation our app was managing the configuration by other means however, so it seemed to work well enough. Thanks!

[2018-02-16 09:45] #12361 closed

[2018-02-16 09:49] Danny-Hazelcast commented on #12259
the latest run https://hazelcast-l337.ci.cloudbees.com/view/stable/job/stable-x1/187/console
if no 'oome' then i think we can closes this issue

[2018-02-16 09:54] mdogan commented on #12300
Problem is, anti-entropy and backup replication don't work for ringbuffers backing event journal. Reason is, these ringbuffers are created with 0 backups. That means, when a member leaves un-gracefully, missing backup replicas for these journals are not created by either migration system or anti-entropy.
Instead, when a map partition is replicated, each map record creates an `ADD` event in journal

[2018-02-16 09:57] Danny-Hazelcast commented on #12178
@mmedenjak  ok i did not see that it was me makingthe logging, bit of an oversight there, not very good

[2018-02-16 09:58] mdogan commented on #12300
If we change following method to;

[code]
everything works as expected.

[2018-02-16 10:14] Danny-Hazelcast commented on #12197
@mmedenjak

so the job a above did hang.
https://hazelcast-l337.ci.cloudbees.com/view/split/job/split-executors/15/console

it was configured with
[code]

and this is the only time that i can reproduce this issue.

so is this issue still a problem ?

I think we are making unexpected cluster split,  not direct in to a 3 and a 2.
but the logs are to larege, due to the other issue

will re run and ho

[2018-02-16 10:20] Danny-Hazelcast commented on #12259
ok no oome, just

`fail HzClient2HZ _create-use-dist-destroy_createUseDistDestroy-Obj hzcmd.distributed.Destroy threadId=1 java.lang.Exception: com.hazelcast.memory.NativeOutOfMemoryError: System allocations limit exceeded! Limit: 2048 KB, usage:`

client near cache NOOME which is reported in a different issue. we can close this issue.

[2018-02-16 10:20] #12259 closed

[2018-02-16 10:53] Danny-Hazelcast commented on #12178
o dear is was all my fault i was logging stack trace.

[2018-02-16 10:53] #12178 closed

[2018-02-16 11:11] Danny-Hazelcast commented on #12197
in the passing run i did not find
https://hazelcast-l337.ci.cloudbees.com/view/split/job/split-executors/16/
find . -name out.txt | xargs grep fail.*migration

[2018-02-16 11:18] Danny-Hazelcast commented on #12278
@tkountis  so the above to OOME could to with a check over.

[2018-02-16 11:24] mmedenjak commented on #12178
not to worry! :)

[2018-02-16 12:14] mmedenjak commented on #12300
Good analysis, thanks @mdogan !

[2018-02-16 13:18] dbrimley commented on #12224
FYI, there is also work scheduled for 3.11 that will introduce finer grained controlled over event firing, plus there will be a LOADED event to signify a mapstore load rather than a put.

[2018-02-17 08:04] adamlwgriffiths opened #12368 "DurableExecutorService.retrieveResult(...).isDone() always returns False"
I'm seeing an issue similar to #850.
I'm running Java 8 and Hazelcast 3.9.2 while performing the checks on the client.

I submit tasks and return a series of Job IDs.
When I later come back to check on them, I call `retrieveResult(jobid);` and check `.isDone()`.
But `isDone` always returns `false`.

However, if I call `.get()` first on the future before calling is `.isDone()`, I will get then the

[2018-02-17 08:23] adamlwgriffiths commented on #12368
I can use the `.get(time, unit)` method as a work around.
* Fails -`f.get(0, TimeUnit.NANOSECONDS)`
* Fails -`f.get(1000, TimeUnit.NANOSECONDS)`
* Works -`f.get(10000, TimeUnit.NANOSECONDS)`
* Fails -`f.get(1, TimeUnit.MICROSECONDS)`
Obviously the future is doing some asynchronous call, but I have no desire to add some "it sort of works" hack, nor do I want to introduce artificial latency to a che

[2018-02-17 09:31] tkountis commented on #12368
@adamlwgriffiths the `isDone` API is unfortunately not supported for the DurableExecutor. The Future you are getting is the future representing the in-flight operation to fetch the result (i.e., `retrieveResult`), and has nothing to do with **your** task/job. You could switch to `IScheduledExecutor` which supports `isDone`, simple schedule a task with 0 delay, and this will behave as a submit.

Th

[2018-02-17 11:26] adamlwgriffiths commented on #12368
I cannot get a task by ID with any other executor except for DurableExecutor.
This API is infuriating.

[2018-02-17 12:19] tkountis commented on #12368
You can take an ID from the IScheduledFuture see http://docs.hazelcast.org/docs/3.8/javadoc/com/hazelcast/scheduledexecutor/IScheduledFuture.html#getHandler--v

The handler can be serialized into a string using `handler.toUrn()` (http://docs.hazelcast.org/docs/3.9/javadoc/com/hazelcast/scheduledexecutor/ScheduledTaskHandler.html#toUrn--) and you can re-construct it by using the static helper (http

[2018-02-17 12:27] adamlwgriffiths commented on #12368
Excellent, thank you! This has been driving me nuts for days

[2018-02-17 12:30] #12368 closed

[2018-02-19 09:02] hasancelik commented on #12176
**MultiMapQuorumReadTest.aggregate_successful_whenQuorumSize_notMet**
[code]

https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast/job/Hazelcast-3.x-freestyle/1661/testReport/junit/com.hazelcast.quorum.multimap/MultiMapQuorumReadTest/aggregate_successful_whenQuorumSize_notMet_quorumType_READ_/

[2018-02-19 09:14] hasancelik commented on #12310
[code]

https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/1630/testReport/junit/com.hazelcast.flakeidgen.impl/FlakeIdGenerator_MemberBackpressureTest/backpressureTest/

https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast/job/Hazelcast-3.x-nightly/com.hazelcast$hazelcast/1628/testReport/junit/com.hazelcast.flakeidgen.impl/FlakeIdGenerator_Me

[2018-02-19 09:24] hasancelik opened #12371 "MapStoreDataLoadingContinuesWhenNodeJoins.testLoadingFinishes_whenMemberJoinsWhileLoading"
[code]

https://hazelcast-l337.ci.cloudbees.com/view/Lab/job/Hazelcast-3.x-nightly-lab/490/testReport/junit/com.hazelcast.map.impl.mapstore/MapStoreDataLoadingContinuesWhenNodeJoins/testLoadingFinishes_whenMemberJoinsWhileLoading_LAZY_/

[2018-02-19 09:28] hasancelik commented on #12308
[code]

https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast/job/Hazelcast-3.x-OracleJDK1.6-freestyle/381/testReport/junit/com.hazelcast.spi.impl.operationservice.impl/Invocation_OnBackupLeftTest/whenPrimaryResponseAlreadyReceived/

[2018-02-19 09:29] Donnerbart commented on #11433
These are the highest failures from the test runs:

So another two precisions fail now. Is this still reasonable or does it smell like a bug?

[2018-02-19 09:31] hasancelik opened #12373 "MembershipFailureTest.slave_splits_and_eventually_merges_back"
[code]

https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast/job/Hazelcast-3.x-OracleJDK8/com.hazelcast$hazelcast/1455/testReport/junit/com.hazelcast.internal.cluster.impl/MembershipFailureTest/slave_splits_and_eventually_merges_back_fd_phi_accrual_/

[2018-02-19 09:49] hasancelik commented on #9735
*maintenance*
[code]

https://hazelcast-l337.ci.cloudbees.com/view/Lab/job/Hazelcast-3.maintenance-nightly-lab/lastCompletedBuild/testReport/com.hazelcast.client.cache.impl.nearcache.invalidation/InvalidationMemberAddRemoveTest/ensure_nearCachedClient_and_member_data_sync_eventually_localUpdatePolicy_CACHE_ON_UPDATE_/

https://hazelcast-l337.ci.cloudbees.com/view/Lab/job/Hazelcast-3.maintenance-ni

[2018-02-19 09:53] hasancelik commented on #10939
*maintenance*
[code]

https://hazelcast-l337.ci.cloudbees.com/view/Lab/job/Hazelcast-3.maintenance-nightly-lab/10/testReport/junit/com.hazelcast.internal.cluster.impl/MembershipFailureTest_withTCP/secondMastershipClaimByYounger_shouldRetry_when_firstMastershipClaimByElder_accepted_fd_deadline_/

https://hazelcast-l337.ci.cloudbees.com/view/Lab/job/Hazelcast-3.maintenance-nightly-lab/11/testReport/

[2018-02-19 10:01] hasancelik opened #12376 "EvictionTest.testTTL_prolongationAfterNonTTLUpdate_Quick"
[code]

https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast%20Maintenance/job/Hazelcast-3.maintenance-OracleJDK1.6-freestyle/135/testReport/com.hazelcast.map/EvictionTest/testTTL_prolongationAfterNonTTLUpdate_Quick/

https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast%20Maintenance/job/Hazelcast-3.maintenance-OracleJDK1.6-freestyle/134/testReport/junit/com.hazelcast.map/EvictionTest/testTTL_

[2018-02-19 10:06] hasancelik commented on #5257
[code]

https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast%20Maintenance/job/Hazelcast-3.maintenance-OracleJDK1.7-freestyle/44/testReport/junit/com.hazelcast.map.impl.mapstore/MapLoaderFailoverTest/testLoadsAll_whenInitialLoaderNodeRemovedWhileLoading/

[2018-02-19 10:13] jerrinot commented on #12351
@vertex-github: can you please share the reproducer?

[2018-02-19 10:18] jerrinot commented on #12155
I wonder why `putIfAbsent()` is blocked at all. If they key is locked then it means the key is there -> the `put()` won't be performed -> no need to wait until the lock is acquired?

@ahmetmircik: does it make sense?

[2018-02-19 10:35] mdogan commented on #12300
This issue is not resolving with just setting correct backup counts to ringbuffer. `RingbufferService` manages its own replication and split-brain handling but for event-journal, cache and map services are also trying to replicate and merge event-journal based ringbuffers. This is causing event-journal data loss and inconsistencies.

Map and cache only write event-journal while adding/updating eve

[2018-02-19 11:31] burakcelebi commented on #2719
Already merged.

[2018-02-19 11:31] #2719 closed

[2018-02-19 11:42] burakcelebi commented on #10711
Closing this as the recommended solution has been provided. Please let us know if you need further help. Thanks!

[2018-02-19 11:42] #10711 closed

[2018-02-19 12:09] imranrajjad commented on #11973
`WARNING: The web application [test_web_app] appears to have started a thread named [hz.client_0.eventRegistration-] but has failed to stop it. This is very likely to create a memory leak. `

this is what appears at times

[2018-02-19 12:42] jerrinot commented on #12100
apparently the `multimap.clear()` calls a local listener only when called on a local instance only.

[2018-02-19 12:44] mmedenjak commented on #10566
Closing this issue as it is basically a duplicate of the above mentioned improvement.

[2018-02-19 12:44] #10566 closed

[2018-02-19 12:56] jerrinot commented on #12100
The question is what's desired behaviour.

I guess `CLEAR` events can be seen as global events hence they should be delivered to local listeners regardless of where they are registered. This is the behaviour in the IMap anyway.

[2018-02-19 13:01] mmedenjak commented on #12284
@Donnerbart is this fixed by https://github.com/hazelcast/hazelcast/pull/12347?

[2018-02-19 13:34] jerrinot commented on #12100
actually I was wrong - IMap does not fire local events for non-local `clear()`.

[2018-02-19 13:35] mmedenjak commented on #8914
@pveentjer any suggestions on how to approach this? Can we fix this in 3.10?

[2018-02-19 13:54] mmedenjak commented on #11989
@mdogan can you do this in 3.10 or are we postponing this for 3.11?

[2018-02-19 14:03] mdogan commented on #11989
@mmedenjak: This is blocked on https://github.com/hazelcast/hazelcast/pull/11894

[2018-02-19 17:06] Donnerbart commented on #12284
Oh, it could be that I forgot to add that "is no merge policy at all" check. Let me try this, otherwise I'll prepare a fix.

[2018-02-19 17:19] jerrinot commented on #12309
some initial thinking:
- there are various methods failing. they are all client-related. when the test is driven by a member proxies then it pass fine
- the failure is always `CacheNotExistsException`
- the client obtains a proxy via `instance.getCacheManager().getCache(CACHE_NAME + quorumType.name());` I wonder how eagierly this create the cache and distribute this information to all cluster memb

[2018-02-19 17:31] Donnerbart commented on #12309
Last failure 5 days ago, Vassilis fixed this issue 4 days ago: https://github.com/hazelcast/hazelcast/pull/12359

Could this be related? I think the issue caused some other test failures as well.

[2018-02-19 18:29] mmedenjak commented on #11675
@vertex-github any update on this?

[2018-02-19 18:30] Donnerbart commented on #12284
Yeah, the check is missing, but it's not sooo easy to implement. The config is just a String and in the `ConfigValidator` we don't have the `NodeEngine` to access the `SplitBrainMergePolicyProvider`. I'll try to figure out a clean solution for this.

[2018-02-19 18:38] mmedenjak commented on #11739
@hasancelik I can't seem to find the logs here:
https://console.aws.amazon.com/s3/buckets/j-artifacts/?region=us-east-1&tab=overview&prefixSearch=Hazelcast-3.x-ZingJDK7

Are the logs stored under a different bucket or are they missing?

[2018-02-19 18:59] vertex-github commented on #11675
This was done on a client site where we reproduced it several times. I no
longer have access to that test code.

On Feb 19, 2018 13:30, "Matko Medenjak" <notifications@github.com> wrote:

[2018-02-19 19:18] mmedenjak commented on #1653
Related: https://github.com/hazelcast/hazelcast/issues/1657

[2018-02-19 19:21] mmedenjak commented on #1654
Related: https://github.com/hazelcast/hazelcast/issues/1653

[2018-02-19 19:24] mmedenjak commented on #8325
Hi, sorry for the long delay. Currently this is targeted for 3.11.

[2018-02-19 19:31] mmedenjak commented on #5839
@Esquive any updates on which collections you would like to see additionally implement a store?

[2018-02-19 19:33] mmedenjak commented on #7079
Hi @harsha89 !

Have you had the chance to try out the suggestion?

[2018-02-19 19:48] mmedenjak commented on #10512
@pratikkumar19 any update on the issue?

[2018-02-19 19:50] mmedenjak commented on #10409
@saytomanish82 any update on the issue? Have you tried the suggested approach?

[2018-02-19 20:00] mmedenjak commented on #2114
@vlfig any updates? Have you tried any of the suggestions?

[2018-02-19 20:12] mmedenjak commented on #1989
Related: https://github.com/hazelcast/hazelcast/issues/11342

[2018-02-19 20:15] mmedenjak commented on #11819
Related: https://github.com/hazelcast/hazelcast/issues/5462

[2018-02-19 20:26] mmedenjak commented on #7930
@hucat210 any updates? Have you managed to try out a newer version?

[2018-02-19 20:33] mmedenjak commented on #5839
Related: https://github.com/hazelcast/hazelcast/issues/42

[2018-02-19 20:42] mmedenjak commented on #3357
Related: https://github.com/hazelcast/hazelcast/issues/1119

[2018-02-19 20:45] mmedenjak commented on #6895
Possible fix in a similar test: https://github.com/hazelcast/hazelcast/pull/12285

[2018-02-19 20:52] mmedenjak commented on #9684
Related:
https://github.com/hazelcast/hazelcast/issues/6444
https://github.com/hazelcast/hazelcast/issues/4699

[2018-02-19 21:10] mmedenjak commented on #4709
Related: https://github.com/hazelcast/hazelcast/issues/8845

[2018-02-19 21:37] mmedenjak commented on #7507
@manishonline any updates on this issue?

[2018-02-19 21:46] mmedenjak commented on #7372
Related:
https://github.com/hazelcast/hazelcast/issues/2548
https://github.com/hazelcast/hazelcast/issues/3451

[2018-02-19 22:09] mmedenjak commented on #634
Related: https://github.com/hazelcast/hazelcast/issues/8791

[2018-02-19 23:38] manishonline commented on #7507
@mmedenjak I haven't been able to spend any further time testing this issue. Moreover, I upgraded to 3.8 a few months back. I have not seen this issue in 3.8 since.
We can close this issue.

[2018-02-19 23:38] #7507 closed

[2018-02-20 08:01] #12373 closed

[2018-02-20 08:23] blazember opened #12384 "[map] GetOperation may not wait for map loading to complete"
### Description
While a map is being populated from the map store, `IMap.get()` and `IMap.asyncGet()` may not wait for the ongoing load to complete, if the loader `owner` node dies during the load. It is because the replicas have no information about the ongoing load and after the migration the `new owner` `previously replica` node may execute the operations if they arrive before load requests fro

[2018-02-20 08:25] #12100 closed

[2018-02-20 08:46] #4356 closed

[2018-02-20 08:57] #12303 closed

[2018-02-20 09:54] kwart opened #12390 "JCache 1.1 TCK - org.jsr107.tck.event.CacheListenerTest passes, but assertion errors are in the log"
The JCache 1.1 TCK passes for Hazelcast, but the log file contains assertion errors. It seems we experience 2 issues here:

* the TCK handles the result wronly (the test should fail for Hazelcast) ;
* and we have a JCache incompatibility in the CacheListener

https://hazelcast-l337.ci.cloudbees.com/view/JCache/job/JCache-1.1-TCK-branchparam-client-OS/4/console

[code]

[2018-02-20 10:13] asimarslan commented on #11867
We need to solve this without breaking older clients behaviour. They still need to connect to cluster with password validation.

For a safe solution we can introduce a new Authentication Status like `AUTHENTICATED_IGNORED` so that older client will fail anyway but the newer clients can handle it.

[2018-02-20 11:18] kwart commented on #11867
If only the Java Native client is affected, then the new `AuthenticationStatus` could be the safest way here. On the other hand, if the `AuthenticationStatus` is used by all clients, then I think we should not force the client update to support this new behavior and we should stick to returning `AUTHENTICATED` when the security is not enabled on the server (i.e. copy the member behavior).

[2018-02-20 11:20] jerrinot commented on #12309
@Donnerbart: you were right. it was indeed fixed by the Vassilis PR. thanks for the hint!

[2018-02-20 11:20] #12309 closed

[2018-02-20 11:20] jerrinot commented on #12309
fixed by #12359

[2018-02-20 11:33] mmedenjak commented on #11857
For the first issue, I'm for checking the `IllegalArgumentException` with the `isLossTolerant` flag.

As for the second issue, here's a proposal:

OTOH I don't think this is a critical issue to fix and we can postpone it for a future release. It would need to be implemented in a backwards compatible way to handle older clients and members that don't send this ID.

[2018-02-20 11:48] taburet commented on #12205
As it turned out, the quick and dirty fix with the sorting and trimming the result set in `reduce()` requires deserialization of all individual responses received from the members because we can't sort the serialized entries. This feels like a lot of overhead.

We may minimize the overhead by utilizing k-way heap merge, this way the number of deserialization operations would be O(P + M), where P i

[2018-02-20 12:50] sancar commented on #12047
Started to fail a lot in pr builders.

https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/13728/
[code]

https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/13722/

[code]

[2018-02-20 13:55] blazember commented on #5257
Closing as explained in details by #12384.

[2018-02-20 14:19] mdogan commented on #12047
This test is already removed from master by https://github.com/hazelcast/hazelcast/pull/11604

[2018-02-20 14:42] mdogan commented on #12047
Test has 5 seconds master-confirmation timeout and it seems when system is a bit slow, a member is removed before 3 member cluster is formed:

[code]

[2018-02-20 15:21] #12310 closed

[2018-02-20 15:41] #12047 closed

[2018-02-20 15:55] #11285 closed

[2018-02-20 16:54] jerrinot commented on #12263
Bingo!

It seems all failures are at backup-related assertions.
I can reproduce the failure it by injecting a bit of sleep at the very start of the `PutAllBackupOperation::run`:
[code]

The `PutAllBackupOperation` is used as a backup of `MergeOperation` for some reason. However the `MergeOperation` does NOT wait for its backup to complete. They will be complicated eventually.

Hence I believe even

[2018-02-20 16:59] #12308 closed

[2018-02-20 17:16] vbekiaris commented on #12390
TCK tests do not detect the failures because they assume listeners are executed on the same thread as the cache operations from which the events originate; since in Hazelcast events are published from separate event threads, the assertion failures / exceptions thrown from TCK's test listeners are ignored.

See also https://github.com/jsr107/jsr107tck/issues/141

[2018-02-20 17:29] jerrinot commented on #12263
When I change the assertion to backup maps to use the `-eventually` form then it's passing again. I believe this behavior is correct - backups after split-brain will be eventually sync-ed with the primary store.

I will send a PR changing the test.

[2018-02-20 17:43] kwart opened #12398 "Intermittent failures in MemberListJoinVersionTest.when_splitSubClustersMerge_then_targetClusterShouldIncrementMemberListVersion"
Test: `com.hazelcast.internal.cluster.impl.MemberListJoinVersionTest.when_splitSubClustersMerge_then_targetClusterShouldIncrementMemberListVersion`

[code]

https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/13730/testReport/junit/com.hazelcast.internal.cluster.impl/MemberListJoinVersionTest/when_splitSubClustersMerge_then_targetClusterShouldIncrementMemberListVersion/

[2018-02-20 20:17] lazerion opened #12401 "Quorum exceptions during rolling upgrade, when `IMap` quorum protection implementation has changed"
Initial Cluster information
[code]
Steps:
1. Sanity check, wait for initial cluster size to be 3 and all members `active`
2. Start client to generate traffic to 3.9.2 cluster
3. Drain 3.9.2 members 1 by 1, for each drain period, cluster is verified to have 3 members and all members are `active`
4. Collect Statistics

Sample statistics given below
[code]
During RU, `Quorum exceptions` are not expec

[2018-02-20 21:59] username123231 opened #12402 "Set backup count for all distributed data structures"
Rather than something like:
[code]
It'd be nice to:
[code]

version 3.7.4

[2018-02-21 00:13] sharkpc0813 opened #12403 "Too much time is spent to join 40 Members"
Hi :)
I'm trying to deploy instances with blue&green deployment of docker.
When I deploy 40 instances (blue deployment) at the same time, it takes about 10 minutes to add each member.
I think there are some connections may not established until instances are available. Also It takes not much times.
Is there an options to join each other more faster?(or did I miss some?)

Belows are my configuratio

[2018-02-21 08:05] jerrinot commented on #11973
@imranrajjad: I would expect to see this error when you are redeploying your app / restarting a container. Is this the case? You you calling `hazelcastInstance.shutdown()` when your application is about to be stopped?

[2018-02-21 08:15] Danny-Hazelcast commented on #12278
run
https://hazelcast-l337.ci.cloudbees.com/view/split/job/split-quorum/52/console

results in OOME
output/HZ/HzMember1HZBB/HzMember1HZBB.hprof

http://54.82.84.143/~jenkins/workspace/split-quorum/3.10-SNAPSHOT/2018_02_21-03_19_02/quorum

[2018-02-21 08:25] mmedenjak commented on #12351
@vertex-github any update on this?

[2018-02-21 08:25] mdogan commented on #11615
According to latest run on jenkins, all async tests seem passed.

[code]

with using maximum of `150 * 10sec` wait for until cluster becomes safe. [UntilClusterSafe.java](https://github.com/hazelcast/hzCmd-bench/blob/zeta/src/main/java/hzcmd/ops/UntilClusterSafe.java)

[2018-02-21 08:26] mdogan commented on #11615
@Danny-Hazelcast: I think we can close this issue.

Still there are other failures in the https://hazelcast-l337.ci.cloudbees.com/view/kill/job/kill-All/32/console.

[2018-02-21 08:53] sancar commented on #9335
@Donnerbart Tests started to fail again.

https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/13723/testReport/junit/com.hazelcast.cache.merge/CacheSplitBrainTest/testSplitBrain_format_BINARY__mergePolicy_class_com_hazelcast_spi_merge_PassThroughMergePolicy_/
[code]

https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/13723/

[code]

[2018-02-21 08:57] Donnerbart commented on #9335
See https://github.com/hazelcast/hazelcast/issues/12263#issuecomment-367042697, same root cause. Jaromir will prepare a fix today.

[2018-02-21 09:11] Danny-Hazelcast opened #12405 "ICMP block test started to report data loss."
this test, has started to report data loss

https://hazelcast-l337.ci.cloudbees.com/view/icmp/job/block-icmp/26/console

previously this test has been passing since it was introduced to test ICMP.

/disk1/jenkins/workspace/block-icmp/3.10-SNAPSHOT/2018_02_20-15_36_53/block-icmp Failed

fail HzMember2HZAA split_validate_map hzcmd.map.multi.SizeAssert threadId=0 global.AssertionException: mapBak1_bl

[2018-02-21 09:24] mdogan commented on #12398
[failure.log](https://github.com/hazelcast/hazelcast/files/1743449/failure.log)

[2018-02-21 09:30] ttamimi commented on #10418
@Holmistr, we re-ran the scale tests with version 3.9 and I am happy to report that the problem has indeed been solved. Please feel free to close this ticket. Thank you.

[2018-02-21 09:42] mmedenjak commented on #10418
@ttamimi glad to hear that. Feel free to open a different issue if needed.

[2018-02-21 09:42] #10418 closed

[2018-02-21 09:54] mdogan commented on #12244
Currently, during split-brain merge previous journal events are lost but `IMap` and `ICache` recreate journal events for their latest records. So, they recovers some of the events.

[2018-02-21 09:58] #12300 closed

[2018-02-21 10:06] #12018 closed

[2018-02-21 10:07] pavan2017 commented on #12168
Is there any example of MapLoaderLifecycleSupport impl ?

[2018-02-21 10:10] mmedenjak commented on #12168
There's an example in this repo: https://github.com/hazelcast/hazelcast-code-samples/tree/master/distributed-map/mapstore

[2018-02-21 10:32] Danny-Hazelcast opened #12407 "split heal replicated map data loss"
replicated map shows data loss after the first split heal.

runs

https://hazelcast-l337.ci.cloudbees.com/view/split/job/split-replicated-map/9/console

`fail HzMember1HZAA validate_repMapBin-split hzcmd.repmap.validate.Size threadId=0 global.AssertionException: replicated map repMapBin-split0 size 317 != expected 1000`

[2018-02-21 11:59] Danny-Hazelcast opened #12409 "split heal ring buffer data loss"
the test https://hazelcast-l337.ci.cloudbees.com/view/split/job/split-ring/11/consoleFull
show rind buffer data loss.

we fill 400 ring buffers to capacity and assert the data is correct

[code]

then after the first split and heal we see

[code]

[2018-02-21 12:17] Danny-Hazelcast commented on #11615
ok, re running https://hazelcast-l337.ci.cloudbees.com/view/kill/job/kill-All/33/console

kill all -9  on 3.10-SNAPSHOT,  if we see a repeat of this issue i can reopen

[2018-02-21 13:11] #12152 closed

[2018-02-21 13:23] #11949 closed

[2018-02-21 14:56] mdogan commented on #11615
Hmm.. some tests are still failing with `global.AssertionException: isClusterSafe()=false try's=26 interval 10` (https://hazelcast-l337.ci.cloudbees.com/view/kill/job/kill-All/33/console).

`UntilClusterSafe` waits at most 250 seconds.

[code]

But when I looked at the logs;

[code]
even after 5mins, only 1/3 of the migration tasks were completed. That means each migration takes ~2 sec. This is in

[2018-02-21 15:09] #11929 closed

[2018-02-21 15:18] tkountis commented on #11657
I will address this by providing a capacity per node configuration.
see. https://github.com/hazelcast/hazelcast/issues/11629

Moving this to 3.11 as the change will most likely won't make it to 3.10 at this stage.

[2018-02-21 15:24] tkountis commented on #11433
Ill have a closer look at the implementation, the higher precision with higher error rate is not looking right to me. However, this is a random set of data, so this might as well be expected. Maybe it's better if we rely on a specific data-set.

[2018-02-21 15:54] #12103 closed

[2018-02-21 16:54] #9335 closed

[2018-02-21 21:22] jerrinot commented on #12176
these tests are using the old M-R based aggregations. The old aggregations are deprecated and I believe we can safely ignore these.

[2018-02-21 21:29] jerrinot commented on #11813
no failure since mid-November. closing.

[2018-02-21 21:29] jerrinot commented on #11647
no failure since October, closing.

[2018-02-21 21:31] jerrinot commented on #11637
interesting: "ownedEntryCount=-1" :)

[2018-02-21 23:49] #12403 closed

[2018-02-22 07:51] Danny-Hazelcast opened #12414 "map max size per node not enforced under member loss via kill -9"
after one of the members is killed we see that the map is bigger than the max allowed size permitted by the xml configuration.

max size bigger that configured maximum after member kill -9

job
https://hazelcast-l337.ci.cloudbees.com/view/kill/job/kill-All/33/console

disk local
/disk1/jenkins/workspace/kill-All/3.10-SNAPSHOT/2018_02_21-15_05_39/stable/map/max Failed

error
[code]

web
http://54.8

[2018-02-22 08:14] asimarslan commented on #11805
This is an expected behaviour as explained below:

Transactional data structures serialize the data on server side. For that reason, all of the clients including .Net Client must implement and register related serializable classes.

In this case ,  `ArunavaPortable` and its `PortableFactory` should be coded in Java and put on classpath, moreover the related portable configuration is needed on memb

[2018-02-22 09:10] #12311 closed

[2018-02-22 09:15] #12176 closed

[2018-02-22 09:24] metanet commented on #12407
[code]
the test script above uses the `untilClusterSafe` util which uses the cluster safe mechanism under the hood. However, our "cluster safety" checking mechanism work only on partitioned data. However, replicated map data is not partitioned. For instance, replicated maps are not migrated with our migration system. Therefore, our cluster safety check mechanism is irrelevant for replicated maps.

[2018-02-22 09:44] mdogan commented on #12405
After initial investigation of the logs (http://54.82.84.143/~jenkins/workspace/block-icmp/3.10-SNAPSHOT/2018_02_20-15_36_53/block-icmp), this might be an issue related the new join as lite-member, then promote to data-member approach.

- Initial cluster `ABCDE`;
[code]

- Then they split to 4 clusters, such as `AB`, `C`, `D` and `E`;
[code]
[code]
[code]
[code]

- Then all merge to a single clust

[2018-02-22 09:47] metanet commented on #12405
good analysis. I think we also ignore lite members in cluster safety checks

[2018-02-22 09:52] taburet commented on #3761
@pdca, @bwzhang2011 Sorry for such a long long delay. I profiled several Hazelcast versions and now it's clear why we have the degradation. It's because of the changes in the deserialized representation caching behavior. In the old Hazelcast versions this caching was an opt-out feature, which was on by default, in the recent modern versions it's an opt-in feature, which is off by default.

There a

[2018-02-22 09:52] #3761 closed

[2018-02-22 09:58] Danny-Hazelcast commented on #12407
ok,

I have simpley added a delay sleep,  not the best solution but we can check it the test will pass

[code]

[2018-02-22 10:04] Serdaro commented on #11723
@kwart , @Holmistr , @mmedenjak , @Donnerbart ;
I went through some resources including some of our competitors Javadocs and StackOverflow, and in that particular case (giving the solution in the exception message), the exception message generally uses "must".
For example:
`.......IllegalArgumentException: Capacity must be greater than 0`.

If you consider changing the tone, thus the degree of obl

[2018-02-22 10:41] sancar commented on #12252
Transactions do not support Quorums on the client at the moment.
If a related connection is disconnected user needs to rollback and re-acquire a transaction.
As far as I understand members are closed during a transaction and it does not seem suitable for current design.

Secondly, there seems to be an issue with transaction usage.
https://github.com/hazelcast/hazelcast-qe/blob/master/it/quorum/quo

[2018-02-22 10:48] Danny-Hazelcast commented on #12409
following the link https://hazelcast-l337.ci.cloudbees.com/view/split/job/split-ring/11/consoleFull  you get to the output of the test run
showing the initial load
and validate
then the split
then the waiting for cluster sizes
and cluster safe
then the exception about the size of the ring buffer

the out put of the test on the disk is
/disk1/jenkins/workspace/split-ring/3.10-SNAPSHOT/2018_02_21-03

[2018-02-22 10:50] Danny-Hazelcast commented on #12409
hazelcast logs http://54.82.84.143/~jenkins/workspace/split-ring/3.10-SNAPSHOT/2018_02_21-03_10_03/ring-buf/output/HZ/

[2018-02-22 10:52] Danny-Hazelcast commented on #12407
added
sleep 60
https://hazelcast-l337.ci.cloudbees.com/view/split/job/split-replicated-map/10/console
Passing.

@metanet is there anything better than adding 'sleep 60'  ?

[2018-02-22 11:15] jerrinot commented on #12409
concerning log message:
[code]

[2018-02-22 12:06] Danny-Hazelcast commented on #12409
using only 1 ring buffer, also failed after a few iterations
https://hazelcast-l337.ci.cloudbees.com/view/split/job/split-ring/12/console
http://54.82.84.143/~jenkins/workspace/split-ring/3.10-SNAPSHOT/2018_02_22-14_44_46/ring-buf/

[2018-02-22 12:54] #12223 closed

[2018-02-22 14:38] ahmetmircik commented on #12414
@Danny-Hazelcast i believe the reason is promoted backups. During promotion we are not doing any eviction. Since promoted backup data is already on the same node, no OOME can be seen. And eventually map will go down to the desired size with later puts. This explanation is for tests by killing members.

But if we test with graceful shutdown instead of kill, OOME can be seen due to the transferred d

[2018-02-22 15:10] pavan2017 commented on #12168
This doesnt solve my problem.It would be nice to have loadAllKeys with additional properties.I have solved my problem using System.Property for now.

[2018-02-22 15:21] Danny-Hazelcast commented on #12414
@ahmetmircik, yes ther is no OOME,
the issue is that the max size policy is not enforced when a member is killed.
as a fix,  during back promotion we could enforce the max size policy so that we do not violate the max size policy that the user wishes to enforce on the configured map

[2018-02-22 15:27] mmedenjak commented on #12168
You should be able to initialise the map loader with properties set in your configuration, e.g.
[code]
And then you should get these properties when map loader is being initialised:
[code]
or by using the map store factory:
[code]

And you can then use those properties to affect how the call to `loadAllKeys` behaves. Please open an issue if you think this can be improved.

[2018-02-22 15:28] ahmetmircik commented on #12168
Hi @pavan2017, can you please also state what is wrong about suggested approaches above? Why did not they work in your case?

[2018-02-22 15:29] yozank opened #12417 "IMap MBean is not created when client reconnects to cluster"
MBean for IMap is not created when client uses cached map proxy.

When the client disconnects from the cluster, it does not clear the cache for distributed object proxies. To get a proxy for a distributed object, we see [proxyManager.getOrCreateProxy(serviceName, name)](https://github.com/hazelcast/hazelcast/blob/96c028f5aeecd278f57b950991018f5bb97b95bc/hazelcast-client/src/main/java/com/hazelcast

[2018-02-22 16:13] Danny-Hazelcast commented on #12414
@ahmetmircik

we have the same issue in the member shutdown version of the test

https://hazelcast-l337.ci.cloudbees.com/view/shutdown/job/shutdown-x/52/console

/disk1/jenkins/workspace/shutdown-x/3.10-SNAPSHOT/2018_02_22-19_00_14/max Failed

`fail HzClient1HZ _map-max_mapValidate hzcmd.map.SizePerMember threadId=0 global.AssertionException: map mapBak1_MaxSize_PER_NODE_1000_map-max size 3794 > 3

[2018-02-22 16:46] pavan2017 commented on #12168
We are not using xml configuration.Is there anyway to do this in java config?i will try it and reopen and post the example if it doesn't work for me

[2018-02-22 17:12] mmedenjak commented on #12168
Yes, you can:
[code]

[2018-02-22 17:35] Danny-Hazelcast opened #12418 "generic HazelcastException thrown, wrapping com.hazelcast.core.MemberLeftException"
exception
[code]

from

https://hazelcast-l337.ci.cloudbees.com/view/kill/job/kill-All/33/console

/disk1/jenkins/workspace/kill-All/3.10-SNAPSHOT/2018_02_21-15_05_39/stable/destroy/create-use-destroy Failed
[code]

http://54.82.84.143/~jenkins/workspace/kill-All/3.10-SNAPSHOT/2018_02_21-15_05_39/stable/destroy/create-use-destroy

[2018-02-22 17:40] Danny-Hazelcast opened #12419 "generic HazelcastException thrown, wrapping NativeOutOfMemoryError"
[code]

/disk1/jenkins/workspace/kill-All/3.10-SNAPSHOT/2018_02_21-15_05_39/stable/hd/pool/big-val Failed

[code]

http://54.82.84.143/~jenkins/workspace/kill-All/3.10-SNAPSHOT/2018_02_21-15_05_39/stable/hd/pool/big-val

https://hazelcast-l337.ci.cloudbees.com/view/kill/job/kill-All/33/console

[2018-02-22 19:12] pavan2017 commented on #12168
Thank you .This worked perfectly for me :).I have one more question.When a map intialized or on first touch of map,loadAllKeys will executed.If i invoke loadAll(keys),still after loadAll is execueted,maploader still execuetes loadAllKeys .Is there anyway to control this.i dont want maploader to call loadAllKeys  when i invoke loadAll

[2018-02-22 22:40] Batter2014 commented on #8831
Just recently we stopped receiving issues related to OperationTimeoutException (without any Hazlecast/network changes) .
It's already for couple days. So i'm not sure how it will be in long run. But what was the major change on our side is removing framework which was causing 'Too Many Open Files'.
Now when I monitor app via 'lsof' i see slightly better numbers and no exceptions.

[2018-02-22 22:43] jerrinot commented on #8831
@Batter2014: many thanks for heads-up!

[2018-02-23 07:06] #12398 closed

[2018-02-23 07:14] jerrinot commented on #11926
hi @borodatu, Hazelcast 3.6 was released 2 years ago. Can you try it with a new version?

[2018-02-23 07:34] borodatu commented on #11926
Hi @jerrinot, yes we have already moved on 3.9.2
But the problem was in badly configured network in our side. We changed host names in Hazelcast config files on real IPs, and the problem was resolved.

[2018-02-23 07:34] #11926 closed

[2018-02-23 09:36] stian-kantega commented on #11267
We are observing the same symptom in one of our production environments, is there an ETA on when this issue will be addressed?

[2018-02-23 12:10] metanet commented on #11267
Hi @RahulSharma21

I just checked the logs. Here is the member list printed in the logs:

[code]
You are breaking the connection between 89 and 90, but it does not lead to a full split. I could not spot 2 clusters. there is still 1 cluster in the logs. The reason is, 91 is alive and reachable for both 89 and 90, so both 89 and 90 accept 91 as their master and don't go anywhere. They are repeatedly

[2018-02-23 12:11] LoneGumMan commented on #12353
Are you able to reproduce the problem? or was it something wrong at my end, configuration wise, which causes this?

[2018-02-23 12:13] metanet commented on #11267
Btw, we made some major improvements in the clustering system in 3.9. I would strongly recommend you to upgrade your cluster.

[2018-02-23 12:23] #11267 closed

[2018-02-23 14:31] metanet commented on #12234
I see a strange pattern on the logs here: http://54.82.84.143/~jenkins/workspace/split-set/3.10-SNAPSHOT/2018_02_02-12_57_20/merg/

2 AA members are merging to the 3-node BB cluster.

Some merge processes encounter the following exception on both AA members:

[code]

[code]

2 non-master nodes of the BB cluster always print the following failures when we see this timeout exception:

[code]

[code]

[2018-02-23 16:12] jerrinot commented on #12417
I assume this is an issue only when there is a single cluster member? is it correct?

as when you have a multiple members and restart one of them then on a join it'll receive a list of created distributed objects.

[2018-02-24 13:21] mmedenjak opened #12423 "ScheduledExecutorServiceBasicTest.schedule_withMapChanges_durable"
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/13829
[code]

[2018-02-24 13:23] mmedenjak opened #12424 "ScheduledExecutorSplitBrainTest.testSplitBrain"
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/13831
[code]

[2018-02-25 00:00] tkountis commented on #12424
Interesting

[2018-02-26 09:31] mdogan commented on #12234
Timed waiting in `ClusterMergeTask ` was removed by https://github.com/hazelcast/hazelcast/pull/12344.

2 runs seem passed successfully;
- https://hazelcast-l337.ci.cloudbees.com/view/split/job/split-set/17/
- https://hazelcast-l337.ci.cloudbees.com/view/split/job/split-set/18/

Started another run just now: https://hazelcast-l337.ci.cloudbees.com/view/split/job/split-set/19/

[2018-02-26 10:00] Danny-Hazelcast commented on #12234
yes I have seen that this job seems to be passing over the last few day

[2018-02-26 11:01] #11787 closed

[2018-02-26 12:16] lazerion commented on #12401
Please note that repo merged to master qe branch https://github.com/hazelcast/hazelcast-qe.

[2018-02-26 13:17] lazerion commented on #12252
@sancar thanks for the reply, I am updating `exception` handling for `rollback` and `beginTransaction` calls. As far as understand, this issue will be closed when Transactions support Quorums on client side, or can we close it now?

[2018-02-26 17:56] taburet commented on #12358
Hello @iboar,

You are right, but that's easy to fix and it's already fixed in my local branch.

The problem is that Query Cache is a highly concurrent structure, it pushes up updates to the underlying record store and indexes from the multiple threads running in the background. In general, it's not safe to assume that two consecutive accesses to the QC instance will produce compatible results.

Y

[2018-02-26 19:22] nitineman opened #12433 "Initializing cluster partition table arrangement… in Hazelcast 3.9.1 takes too long"
I am trying to create a Hazelcast service Project wherein I will be subscribing to a RDBMS (Oracle DB 12c) datastore, create a POJO/Java Bean on the fly using reflection and then parsing that Java Bean object to map the JDBC ResultSet as Result row values into the Java Bean object and load those mapped objects into the Distributed Map.

I checked the data volume of the two tables from which I'm tr

[2018-02-27 07:57] lazerion opened #12434 "After RU completed, PQ configured `ISet` does not behave as expected, when cluster size drops below required quorum size"
Initial Cluster information
[code]
Steps:
1] Sanity check for HZ 3.9.2-EE cluster has member count 3 and all of them `active`
2] Run RU to HZ 3.10-SNAPSHOT EE
3] Verify no exceptions and failures during RU
4] Sanity check on 3.10-SNAPSHOT EE
5] Apply network delays to 2 members of cluster
6] Verify that cluster size drops to `1` that is below quorum size of `ISet`. `ISet` also uses PQ for 3.10-SNA

[2018-02-27 08:04] mdogan commented on #12433
Hi @nitineman;

Where this `Number of entries in userMaster Map ... ` log comes from? Are you using `MapLoader`/`MapStore`? Or are you loading data from DB to `IMap` yourself?

`PartitionStateManager: Initializing cluster partition table arrangement ` log is printed for initial partition table assignment and completes almost immediately, you can't even see how much it takes from the logs.

[2018-02-27 09:37] jerrinot commented on #10939
another failure: https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast/job/Hazelcast-3.x-nightly-lab/7/testReport/junit/com.hazelcast.internal.cluster.impl/MembershipFailureTest_withTCP/secondMastershipClaimByYounger_shouldRetry_when_firstMastershipClaimByElder_accepted_fd_deadline_/

[2018-02-27 10:10] jerrinot commented on #10939
interestingly enough I can see
`21:46:29,292  INFO |secondMastershipClaimByYounger_shouldRetry_when_firstMastershipClaimByElder_accepted[fd:deadline]| - [system] secondMastershipClaimByYounger_shouldRetry_when_firstMastershipClaimByElder_accepted - [127.0.0.1]:5701 [dev] [3.10-SNAPSHOT] Hazelcast 3.10-SNAPSHOT (20180226 - b5de3f7) starting at [127.0.0.1]:5701
`
and
 `21:46:30,311  INFO |secondMast

[2018-02-27 10:15] jerrinot commented on #10939
I managed to reproduce the failure locally, just after 24 iterations. I was running this testcase in isolation -> it's not caused by some other test forgetting to clean it.

[2018-02-27 10:25] mmedenjak commented on #11544
Related:
https://github.com/hazelcast/hazelcast/issues/12384
https://github.com/hazelcast/hazelcast/issues/12371

[2018-02-27 10:25] jerrinot commented on #12409
_It's not a bug, it's a feature._

It's caused by comparing-by-values when merging.

Scenario:
1. a ring-buffer has 1 backup
2. all slots all filled with the *same value*
3. after split-brain both replicas ends-up in the smaller brain -> the bigger brain lose all items.
4. when the split-brain is healed then the ring-buffer on the smaller brain sends all its items to the bigger brain
5. the very f

[2018-02-27 10:38] jerrinot commented on #12409
I am closing this issue. this is not a ring-buffer only concern and will be addressed before releasing final 3.10.

[2018-02-27 10:38] #12409 closed

[2018-02-27 10:57] jerrinot commented on #10939
I can see this exception right at the end of the test:
[code]

perhaps the member view (and master) is never updated because it's dead-locking? `MembershipManager.decideNewMembersView` in the stacktrace is suspicious. The future is only resolved (with `HazelcastInstanceNotActiveException`) when the instance is terminated after a test timeout.

[2018-02-27 11:16] mdogan commented on #11701
Can this behaviour caused by docker?

When I stop one the members (`10.216.1.39:5556`) via `hz.shutdown()` or `:q` (exit groovy shell), then other instance (`10.216.1.39:5555`) continuously tries to reconnect. Interestingly connection is established successfully but then it's reset by other peer. See;

[code]

This `Established socket connection between...` and `Connection closed by the other side

[2018-02-27 11:21] #12418 closed

[2018-02-27 11:21] #12419 closed

[2018-02-27 13:18] taburet commented on #12351
@vertex-github I ran some basic query-index tests and was unable to reproduce the issue. Probably your setup is more complex and that's why I'm unable to reproduce it. Could you please share the reproducer?

[2018-02-27 13:27] sancar commented on #11456
master pr builder

https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/13882/testReport/com.hazelcast.map.impl.tx/TxnMapNearCacheBasicTest/whenGetIsUsed_thenNearCacheShouldBePopulated_format_BINARY_serializeKeys_false_/

com.hazelcast.map.impl.tx.TxnMapNearCacheBasicTest.whenGetIsUsed_thenNearCacheShouldBePopulated[format:BINARY serializeKeys:false]

[code]

[2018-02-27 13:53] Andrew-Gr commented on #8972
@smillidge is workaround in your initial post (to use untyped cache) still the only way for Payara-4.1.2.181, or there is a way to use typed cache available?
What about Payara 5? What version of the Hazelcast is expected to be shipped with Payara 5?
Thank you and sorry for possible off-topic...

[2018-02-27 14:18] smillidge commented on #8972
I haven't tested 181 but it uses Hazelcast 3.8.x
Payara 5 will use Hazelcast 3.9.x but again I personally have not tested this explicitly.

[2018-02-27 14:28] Andrew-Gr commented on #8972
Thank you for quick response! I have just faced with this issue on Payara-4.1.2.181 with Hazelcast 3.8.5 and had to use workaround with Object.class in `MutableConfiguration<String, Object> config = ...`.
Thus was curious whether more valid solution available out-of-the-box. Will try to test on Payara 5 as well soon. Thank you!

[2018-02-27 16:39] pveentjer opened #12443 "Proxies should not automatically be created"
Proxies should be created on demand when there is a local reason to have access to that proxy.

For JMX overviews etc, we should ask for the datacontainers, not the proxies. Removing the need to automatically create proxies, reduces the chance we recreate a proxy that has just been destroyed. Also it will save memory and make logic simpler.

[2018-02-27 16:59] lprimak commented on #8972
We are actively working on fixing this and other related issues in Hazelcast 3.10

[2018-02-27 18:42] lprimak commented on #8972
Hazelcast 3.9 solves this particular issue, when Payara uses 3.9 this issue will be resolved
There are other related issues that are being worked for Hz 3.10

[2018-02-27 21:41] jerrinot commented on #12151
we should not allow adding dynamic configs for 3.10 structures when running in the 3.9 mode.

[2018-02-28 06:19] nitineman commented on #12433
Hi, I tried creating MapLoader with different Server and client jars running on the same machine with `loadAllKeys()` implemented with correct keySet() - Primary Key(ID) for the remote RDBMS to which its connected. Is this called when the server (Hazelcast Instances are created) through a separate jar or when the client is called.

`<map name="userMaster"> <map-store enabled="true" initial-mode="E

[2018-02-28 08:01] #11784 closed

[2018-02-28 08:02] #12401 closed

[2018-02-28 08:57] lazerion commented on #12401
👍 test is passing.
[code]

[2018-02-28 09:36] jerrinot commented on #10939
unassigned myself as Mehmet is working on a fix too.

[2018-02-28 10:11] jerrinot commented on #12234
@Danny-Hazelcast so this can be closed now?

[2018-02-28 10:16] Danny-Hazelcast commented on #12234
closing

[2018-02-28 10:16] #12234 closed

[2018-02-28 10:35] jerrinot commented on #11722
actually I am not sure if just catching/logging the exception is the right thing to do. in this case it would just a hide an issue with a write handler initialization.

[2018-02-28 11:10] pveentjer opened #12447 "Get rid of NodeAware"
Classes should not need to depend on Node. Node is a terrible class because it knows about most classes in the system. Node is a a god object and dependencies on it will cause cycles.

Would be better to have a service specific interface for those cases that a service needs to be injected like SerializationServiceAware.

[2018-02-28 11:19] pveentjer commented on #12402
I don't think there is a lot of interest for this feature. Also some data-structures like IAtomicLong don't have configurable backup count.

[2018-02-28 12:24] ahmetmircik commented on #12414
we'r using this equation when translating per-node-size to partition-size:
 `max-record-store-size = per-node-max-size * member-count / partition-count`

According to this, if only one member stays alive after shut-down of other nodes, that member should have enough space to have `max-record-store-size * partition-count` entries. Assertion should check whether current map-size exceeds the result o

[2018-02-28 13:13] blazember opened #12452 "Review InterruptedException handling"
Several places in the code catch `InterruptedException` and either ignore it or implement custom logic around interrupts, manage stoppage via volatile booleans only etc. Those codes need to be reviewed and the reason for ignoring interrupts should be documented if that's the reasonable action to do.

Classes need to be looked at.

Classes managing thread stoppage via volatile booleans
- `AbstractC

[2018-02-28 13:54] paykin commented on #11722
@jerrinot you may want to change behavior during initialization, but during runtime you do not want that single exception will make entire system non-functional without any option to recover (full restart does not count).

[2018-02-28 14:01] iboar opened #12455 "Eviction causes absence of entry in IMap and MapStore at the same time"
Hello,

Recently I encountered problem related to eviction.

I have entity with two fields:

[code]

Following configuration:

[code]

SimpleMapStore implementation:

[code]

In main I load 1_000_000 objects and when it's finished I start eviction. Then in a loop I check size of map and store.

[code]

Results:

[code]

Comment:

It looks like just after `evictAll` is invoked map is cleared and ev

[2018-02-28 14:11] ahmetmircik commented on #12455
Hi @iboar,

Since it is a write-behind map-store, it sends entries to map-store after some delay. Can you try with write-through map-store? Is it ok to use it in your case?

[2018-02-28 14:43] Danny-Hazelcast commented on #12414
ok a bigger max size check worked

[2018-02-28 14:43] #12414 closed

[2018-02-28 14:54] iboar commented on #12455
@ahmetmircik,
Thanks for quick reply. Sure write-delay=0 fix the problem but unfortunately we have to use write behind approach. Is it possible somehow to force Hazelcast to check if data was stored in MapStore before removing it from cache?

[2018-02-28 15:05] sancar opened #12457 "AWS Discovery for Client does not honor configured connection retry config"
When using AWS discovery on a HazelcastClient, if the initial connection fails due to a 503 error being returned from AWS then the connection is not retried as per the configured retry count.

See discussion here for details

https://github.com/hazelcast/hazelcast-aws/issues/57

[2018-02-28 16:00] vertex-github commented on #12351
Just run a query on a map, on -heap, with an IndexAwarePredicate class via an EntryProcessor calling map.values( myIndexAwarePredicate )

[2018-02-28 16:03] vertex-github commented on #12351
Stacktrace:
[code]

[2018-02-28 16:40] jerrinot commented on #12351
@vertex-github: just to double-check - does your predicate extend / is_wrapped_in `PartitionPredicate` ?

[2018-02-28 16:53] TomaszGaweda commented on #12455
In EvictOperation we have possibility to access WriteBehindStore. The only thing to think about is if we should wait with eviction until entry is in write behind queue or just leave every entry that is not saved.

Maybe we can make it configurable? Some new property with values: current behaviour, wait until entry in write behind, don't evict if in write-behind. Then users can keep current behavio

[2018-02-28 17:04] vertex-github commented on #12351
Yes, its wrapped by a `PartitionPredicate`.  We want to avoid scanning the
entire partition for this query.

On Wed, Feb 28, 2018 at 11:51 AM, Jaromir Hamala <notifications@github.com>
wrote:

[2018-02-28 17:09] jerrinot commented on #12351
right. so non-hd indexes are not partition specific. you can't ask an index: "give me entries matching THIS and only for a partition THAT". The index is not capable of doing this.

[2018-02-28 17:31] vertex-github commented on #12351
Why not? :-)

But i can do this for HD indexes?

N

On Feb 28, 2018 12:24, "Jaromir Hamala" <notifications@github.com> wrote:

[2018-02-28 18:48] jerrinot commented on #12351
Indexes spanning multiple partitions have some benefits. Imagine an index as a hashmap where `key` is the indexed attribute and value is a collection of all matching entries.  Queries such as `indexedAttribute = "foo"` are just a single map lookup  `indexedAttributeIndex.get("foo")`  No matter how many partitions/operations_threads you have - it's always constant in time.

Obviously one of the dow

[2018-02-28 19:03] jerrinot commented on #12351
based on :point_up: closing as "not a bug"

[2018-02-28 19:03] #12351 closed

[2018-02-28 19:59] Donnerbart opened #12459 "DefaultAddressPickerInterfacesTest"
**com.hazelcast.instance.DefaultAddressPickerInterfacesTest.testIPv4Preferred**
[code]
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/13952/testReport/junit/com.hazelcast.instance/DefaultAddressPickerInterfacesTest/testIPv4Preferred/

**com.hazelcast.instance.DefaultAddressPickerInterfacesTest.testComplexScenario**
[code]
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/139

[2018-02-28 20:04] Donnerbart commented on #12459
This test also fails with the same errors on my machine.

[2018-02-28 20:13] Donnerbart commented on #11205
**com.hazelcast.map.impl.nearcache.invalidation.MemberMapReconciliationTest.test_reconciliation_does_not_cause_premature_removal[mapInMemoryFormat:OBJECT nearCacheInMemoryFormat:OBJECT]**
[code]
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/13960/testReport/junit/com.hazelcast.map.impl.nearcache.invalidation/MemberMapReconciliationTest/test_reconciliation_does_not_cause_premature_rem

[2018-02-28 22:10] vertex-github commented on #3864
This would allow us to intercept and implement custom expiration - there was a patch provided - any reason we cant get this merged in?

[2018-02-28 23:01] vertex-github opened #12460 "Interceptors should lazily deserialize"
Currently any interceptors configured are provided with a fully deserialized object - this is inefficient if I only want to operate on EntryView values (like TTL, stats etc).  If the Interceptor was provided the byte[] I could potentially offset directly into the data to extract specific values without incurring the cost of a full deserialization.  Furthermore, if a new `Interceptor` was provided,

[2018-03-01 05:33] #12352 closed

[2018-03-01 08:59] gurbuzali opened #12462 "It is still required to provide a group-password while configuring with spring"
https://github.com/hazelcast/hazelcast/blob/master/hazelcast-spring/src/main/resources/hazelcast-spring-3.10.xsd#L2398

[2018-03-01 10:05] ahmetmircik commented on #12455
@iboar entries should be available to the map operations independent of they stored or not. Maybe you can share a simple test code that shows the failure scenario?

[2018-03-01 10:33] metanet commented on #8159
There is not much info about the cause of this failure and the reported version is quite old. Closing this one.

[2018-03-01 10:33] #8159 closed

[2018-03-01 11:33] metanet commented on #11706
As others said, I think we don't have much to do about this issue without having more insight. Closing for now and we can re-open it later on if needed.

[2018-03-01 11:33] #11706 closed

[2018-03-01 12:52] #12010 closed

[2018-03-01 12:55] #12459 closed

[2018-03-01 12:59] Holmistr commented on #11433
Hey guys, I have added an Ignore to this test, since it's constantly failing our nightly builds. This issue is 100% reproducible, so there is no reason in having it fail the build all the time. Here is the PR with the Ignore (https://github.com/hazelcast/hazelcast/pull/12465), let's not forget to enable the test after the issue is fixed @tkountis .

[2018-03-01 14:00] iboar commented on #12455
@ahmetmircik I am not sure if we understood each other but my example shows that entries are not available to map operations for some time after eviction process was invoked. And that is my problem.

[2018-03-01 14:23] ahmetmircik commented on #12455
so for example, if you do a `map#get` after `evictAll`, it should return the latest write before eviction, because `map#get` will read not-stored entry from write-behind-queue. I was asking a reproducer over `IMap` interface, your example is using map-store instance to show it.

[2018-03-01 14:49] ahmetmircik commented on #12155
@jerrinot yes it makes sense to not to block on an existing value. But lets see this:

Current behavior:

|  on the same key 	| t1  	|  t2 	|  t3 	| t4 |
|---	|---	|---	|---	|--- |
| T1	doing write under lock|  lock  	|  write	|   unlock 	|      |
| T2 	doing putIfAbsent|   	| wait unlock  | wait unlock | read latest write and return|

Your proposed behavior:

|  on the same key 	| t1  	|  t2 	|

[2018-03-01 14:50] iboar commented on #12455
In loop I am checking `map#size` and `store#size` and just after `evictAll` map is empty and store as well. Store starts to be filled with data after some time.

I have tried `map#get` just after `evictAll` and you are right it works (strange is that after calling `map#get` `map#size` has changed to 1), my main and logs:

[code]

[code]

But `map#values` with predicate does not work (no entries av

[2018-03-01 15:01] ahmetmircik commented on #12455
just trying to clarify the picture, thx.

so after evictAll, which imap methods do you call? for instance, how do you put data into map again? Which operations are you calling?

[2018-03-01 15:12] iboar commented on #12455
As it was showed in last example I use `IMap#values`. I don't put data to map again at all.

[2018-03-01 16:50] Danny-Hazelcast commented on #3083
old issue, no longer relevant.

[2018-03-01 16:50] #3083 closed

[2018-03-01 16:56] tkountis commented on #12278
Having a look

[2018-03-01 20:07] blazember commented on #12371
I could not reproduce this failure with thousands of executions, but have identified a couple of findings based on local (successful) executions:

1. Loading had completed before `IMap.size()` was queried on node2. `IMap.size()` gets executed on node2 either after 5mins (`node1FinishedLoading` latch timeout) or after loading completed on node1 (`node1FinishedLoading` opens). Given that `assertEven

[2018-03-01 20:25] blazember commented on #3888
Last failure:
https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast/job/Hazelcast-3.x-nightly-lab/6/testReport/junit/com.hazelcast.cluster/JoinStressTest/testTCPIPJoinWithManyNodes/

History: https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast/job/Hazelcast-3.x-nightly-lab/6/testReport/junit/com.hazelcast.cluster/JoinStressTest/testTCPIPJoinWithManyNodes/history/

[2018-03-01 20:33] blazember commented on #3888
In the last failing build, there were a couple notable pauses that sum up to 12s, which itself is around the max execution time for this test:
[code]

[2018-03-01 23:45] ummershervani commented on #11118
Hello,

I am seeing the same issue on Docker-k8's
Connection[id=5, /172.16.13.113:39913->/192.168.133.31:5701, endpoint=[192.168.133.31]:5701, alive=false, type=MEMBER] closed. Reason: Connection closed by the other side","level":"INFO"}

Established socket connection between /172.16.13.113:39913 and /192.168.133.31:5701
Wrong bind request from [172.16.18.45]:5701! This node is not the requested e

[2018-03-02 07:59] ahmetmircik commented on #12455
Even you use write-through map-store, after `evictAll` call, `IMap#values` will always return empty collection since it never loads entries from map-store to `IMap`. `IMap#values` only returns existing entries in memory.

But this is not the case for `IMap#get`, as can be seen from its [documentation](https://github.com/hazelcast/hazelcast/blob/47773cfab2ec958b2694e84b8a63bacf0e18298a/hazelcast/sr

[2018-03-02 08:12] #12424 closed

[2018-03-02 08:23] Holmistr commented on #6383
Reopening as it failed again in the Sonar build, https://hazelcast-l337.ci.cloudbees.com/view/Lab/job/Hazelcast-3.x-sonar-lab/19/

[2018-03-02 08:27] mmedenjak commented on #12155
Agree with @ahmetmircik. This is a bigger change and I don't see this as a clear-cut decision. Some users might want to wait for the lock to be unlocked while some other might want to have a lock-free read. This may be a different method on the `IMap` or a configurable behaviour. Moving this to backlog to see if there is more community requests to implement such a feature.

[2018-03-02 08:37] #12462 closed

[2018-03-02 08:43] lazerion commented on #12434
@mmedenjak do we need to add 3.10 milestone tag for it?

[2018-03-02 08:51] ghqian opened #12470 "ProxyManager won't remove Proxy even after original distributed object destroyed."
This seems to be a bug.

ProxyManager won't remove Proxy even after original distributed object destroyed.
This caused memory leak after long time such as 1 month.

The only removing event happens when hazelcast client instance call the getDistributedObjects function.
https://github.com/hazelcast/hazelcast/blob/e0ea8ed98b3c30d4e8a03d38fc6fd9c6bca57574/hazelcast-client/src/main/java/com/hazelcast/c

[2018-03-02 09:02] mmedenjak commented on #12434
Yes, whenever you open an issue, please put labels and the milestone so it can be picked up. You can also put in the current milestone so it's looked into soon and moved if it's not related to current milestone. Issues without any label or milestone are easily overlooked.

[2018-03-02 10:18] mmedenjak commented on #11223
Closing this as we are unable to act on this information and hazelcast already has a handler for OOME. Please reopen when if you encounter the issue again with more information.

[2018-03-02 10:18] #11223 closed

[2018-03-02 10:21] mmedenjak commented on #11459
@rbalabomm any update on the issue?

[2018-03-02 10:43] nitineman commented on #12433
The issue was with the ResultSet of JDBC fetching only 10 records in one I/O trip to DB.

When increased to let's say 1000 or more its much better.

[2018-03-02 10:43] #12433 closed

[2018-03-02 10:46] childnode commented on #11459
I can confirm, that this issue is no longer present / seen for me on 3.9.2

the introduced `MemberAddressProvider` interface allows to hook up some custom code for bindAdress and publicAdress provider (e.g. public port from discovery/etcd if hazelcast is dockered)

With that, all things work as expected now

but still, the logs seems to be a bit quirky where outbound ports reads like incoming

[2018-03-02 13:10] pschmeltzer commented on #10328
Application notes:

- Programmatic configured cluster and clients
- Cluster nodes may have beans which use local cache (without near cache)
- Clients have near cache configured on jcache instances like so:

[code]

- Clients retrieve access to cache through jet:
`IStreamCache<K,V> jcache = instance.getCacheManager().getCache(name);`
- Cluster creates cache like:
[code]

[code]

[2018-03-02 13:20] vbekiaris commented on #10328
It seems the issue (or another way to trigger it) still exists in 3.9.3. Reopening this issue to investigate further.

[2018-03-02 13:20] vbekiaris commented on #10328
thanks @pschmeltzer for reporting this

[2018-03-02 13:27] Holmistr opened #12478 "MembershipUpdateTest.memberReceives_memberUpdateFromInvalidMaster random failures"
Failed in the PR builder - https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14017/

Stacktrace:
[code]

From standard output:
[code]

[2018-03-02 13:43] mmedenjak opened #12479 "com.hazelcast.flakeidgen.impl.AutoBatcherTest.concurrencySmokeTest"
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14016

[code]

[2018-03-02 13:59] mmedenjak opened #12480 "CacheBasicServerTest"
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14013

com.hazelcast.cache.CacheBasicServerTest.cacheManagerOfCache_cannotBeOverwritten
[code]

com.hazelcast.cache.CacheBasicServerTest.com.hazelcast.cache.CacheBasicServerTest
[code]

[2018-03-03 13:42] mmedenjak opened #12485 "AdvancedClusterStateTest.partitionInvocation_shouldFail_whenPartitionsNotAssigned_inFrozenState"
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14050

[code]

[2018-03-03 16:09] #6895 closed

[2018-03-03 17:14] angeletos opened #12486 "Cannot override cache's CacheManager - possible race condition"
During Tomcat's startup if there is a high load (while requests are being queued by Tomcat) we get the following exception when the cache is initialized. The cacheManager (JCache) is injected to the target object and runtime load time weaving (aspectj).

[code]

The error happens when attempting to retrieve the cache from the autowired cacheManager (JCacheCacheManager) within the target's object c

[2018-03-04 23:18] tkountis commented on #12278
@Danny-Hazelcast can't see anything suspicious in the dump. I would have to blame the heap size as the first candidate. Do you mind doing a much longer run, but with reasonably sized heap?

[2018-03-05 07:30] kwart commented on #11701
It seems to be a Docker networking related issue.

When opening a connection from one container, it's accepted always if the second container is running, even if there nobody listening on the port.

[code]

When I stop the second container, the correct answer comes finally:
[code]

If the connection test is not executed in the Docker container, then the result is correct when container is running

[2018-03-05 08:55] #12479 closed

[2018-03-05 09:08] Donnerbart opened #12493 "Improve Near Cache tests"
At the moment the Near Cache tests are more complex then they should be, due to a race between the first put in a data structure, which creates Near Cache invalidations and the population of the Near Cache.

The actual solution is to start the Near Cache instance after the backing data structure has been populated:
* create Near Cache context
  * creates data instance
  * populates data instance

[2018-03-05 09:53] Holmistr commented on #11459
@childnode Thank you very much on confirming this :) I'm closing this issue now. If you encounter any new issues or have some suggestions, feel free to open a new issue. Thanks again!

[2018-03-05 09:53] #11459 closed

[2018-03-05 10:29] blazember commented on #12371
### Explanation of the failure

The root cause behind the test failure is that both `IMap.size()` invocations return prematurely on the two test threads, before map loading completed. This is because of a known issue in map loading reported in issues #11544 and #12384: there is a race between the load and the operation executions during migration; the operations may not be aware of the ongoing loa

[2018-03-05 10:31] mmedenjak commented on #11805
Closing as it is an expected issue. Please reopen if you encounter other issues.

[2018-03-05 10:31] #11805 closed

[2018-03-05 10:36] iboar commented on #12455
@ahmetmircik

I will explain exactly what we do in our project.
Let's say that we use in some cases our read-through implementation which looks like that:
- read some entries from cache, we use `IMap#values` with predicate method
- if nothing found in cache then,
- read some entries from db (we have implemented map store which writes into db), we use jpa

It works well besides one situation. Somet

[2018-03-05 11:48] ahmetmircik commented on #12455
is my understanding correct that you are reading from db without using imap api? so this means you directly use map-store implementation to read data?

[2018-03-05 12:03] Holmistr commented on #12486
Hi @angeletos , thanks for reporting this issue.
@vbekiaris Maybe you can take a look?

[2018-03-05 12:18] iboar commented on #12455
Yes, in this case I read directly db without any hazelcast mechanism.

[2018-03-05 12:31] ahmetmircik commented on #12455
if you want a way without using IMap api to read db data, no support exists for this.

But we can try to find a different way to provide the desired behavior like:
- by using `IMap#getAll(missingKeys)` if you know missing ones?
- or by eliminating `evictAll` call btw what was the need for this?

[2018-03-05 13:29] iboar commented on #12455
if I do `IMap#getAll(missingKeys)` then eviction is not fully done because I will have entries in cache and in store (db). After eviction I should have it only in db.

I need to somehow wait until eviction process is finished to do what I want to do. If processing is done during eviction then entries are unavailable.

[2018-03-05 13:52] Danny-Hazelcast commented on #12278
this run, with double size heap,

https://hazelcast-l337.ci.cloudbees.com/view/split/job/split-executors/23/console

GC
http://54.82.84.143/~jenkins/workspace/split-executors/3.10-SNAPSHOT/2018_03_05-10_45_53/executors/gc.html

looks like a leak style pattern, if slow.

and a 2nd issue, the test hangs at
[code]

[2018-03-05 14:18] ahmetmircik commented on #12455
as an alternative approach did you try `IMap#flush` before `IMap#evictAll`?

*please keep in mind that map-store is designed to work behind IMap and all data accesses should be done by using IMap abstraction.

[2018-03-05 14:25] mmedenjak commented on #9870
Can't find the logs. The stack trace indicates there was a slow environment issue. I'll create a PR which will only decrease the resource usage for this test.

[2018-03-05 14:25] Holmistr commented on #10939
@mdogan Any update on this?

[2018-03-05 14:33] mdogan commented on #10939
Investigation of this issue leaded to a chain of other issues. I have already a fix for this specific issue but I'm still working on another one. I'll send fixes when all completed.

[2018-03-05 14:37] Holmistr commented on #10939
@mdogan Awesome, thanks!

[2018-03-05 14:44] jerrinot commented on #11722
fixed by https://github.com/hazelcast/hazelcast/pull/12481

[2018-03-05 14:44] #11722 closed

[2018-03-05 14:56] iboar commented on #12455
Hmmm... thanks it may work :)

[2018-03-05 15:55] Donnerbart opened #12501 "ClientReconnectTest"
**com.hazelcast.client.ClientReconnectTest.testExceptionAfterClientShutdown**
[code]
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14095/testReport/junit/com.hazelcast.client/ClientReconnectTest/testExceptionAfterClientShutdown/

[2018-03-05 16:22] mmedenjak commented on #12197
The future.get hanging may be caused by two issues:
- either the promotion failed (`Promotion commit failed...`)
- or the SyncStateOperation has failed
[code]

[2018-03-05 16:34] Donnerbart opened #12502 "ClientConnectionTest"
**com.hazelcast.client.ClientConnectionTest.testAsyncConnectionCreationInAsyncMethods**
[code]
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14107/testReport/junit/com.hazelcast.client/ClientConnectionTest/testAsyncConnectionCreationInAsyncMethods/

[2018-03-05 16:44] mmedenjak commented on #12278
Possible causes for the hanging - https://github.com/hazelcast/hazelcast/issues/12197#issuecomment-370474846

[2018-03-05 19:12] vertex-github opened #12505 "`WanPublisherConfigDTO` doesnt handle discovery strategies"
`WanPublisherConfigDTO` doesnt handle discovery strategies so cloud deployed clusters utilizing cloud discovery, like AWS for WAN, cannot be created dynamically.  This impacts the ability of customers to create new clusters on-the-fly and closes off an avenue to blue/green deployments

[2018-03-05 22:11] tkountis opened #12506 "ClientOwnershipTest test_ownerShip_whenSmartClientAndOwnerDiesTogether"
Error Message
```expected:<0> but was:<1>```
Stacktrace
[code]

https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14117/testReport/junit/com.hazelcast.client/ClientOwnershipTest/test_ownerShip_whenSmartClientAndOwnerDiesTogether/

[2018-03-05 22:15] tkountis commented on #12278
@Danny-Hazelcast  regarding the leak, please run for even more time. If it is indeed a leak, then it will eventually fail.
As for the hanging, will investigate as part of #12197 (Thanks @mmedenjak )

[2018-03-06 06:48] #9870 closed

[2018-03-06 10:03] #12478 closed

[2018-03-06 11:38] Danny-Hazelcast commented on #12278
@tkountis  after a very long time we did get an OOME

http://54.82.84.143/~jenkins/workspace/split-executors/3.10-SNAPSHOT/2018_03_05-16_54_27/executors/gc.html

hprof
http://54.82.84.143/~jenkins/workspace/split-executors/3.10-SNAPSHOT/2018_03_05-16_54_27/executors/output-oome/HZ/HzMember5HZAA/

leak is so small maybe it's not important ?

[2018-03-06 12:51] Holmistr opened #12515 "NearCacheStalenessTest random failure"
Failed on master in Sonar build.

Stacktrace:
[code]

Standard output:
[code]

https://hazelcast-l337.ci.cloudbees.com/view/Lab/job/Hazelcast-3.x-sonar-lab/21/

[2018-03-06 12:53] Holmistr opened #12516 "NearCacheTest.testMapContainsKey_withNearCache random failure"
Failed on master in Sonar build. Please note that this failure appeared together with https://github.com/hazelcast/hazelcast/issues/12515

Stacktrace:
[code]

https://hazelcast-l337.ci.cloudbees.com/view/Lab/job/Hazelcast-3.x-sonar-lab/21/

[2018-03-06 13:02] pschmeltzer commented on #10328
Some notes on observing application logs.
Application doesn't replace cache values very often, so they only expire from the near cache when it hits the max local size?
It seems like this null pointer might be getting thrown in the cluster when a client has a miss on near cache and makes a call to the cluster.

Stack traces of client make it also appear that the cluster is calling cache loader when

[2018-03-06 16:23] pavan2017 opened #12518 "Maploader doesnt work when database connections are restored"
I cannnot submit any example code as i observed this behavior in my project code .But it is very easy to reproduce
1)Shutdown database server
2)Start hazelcast server and enable a mapstore which will connect to database
3)run client which will invoke maploader,since database is down,client gives exception
4)Now start database server
5)run same client which will invoke maploader,this time it will s

[2018-03-06 17:56] kwart commented on #11813
Reopening. Failure in PR builder:
[code]

https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14172/testReport/com.hazelcast.spi.impl.operationservice.impl/Invocation_NetworkSplitTest/testWaitNotifyService_whenNodeSplitFromCluster/

[2018-03-06 21:02] tkountis commented on #12278
Had another look at the new hprof.
I don't see anything suspicious about leaks. Most of the heap is occupied by Scheduled Executor related stuff, and I noticed that your config is, 3 backups, 100 tasks capacity / partition, 271 partitions & 200 executors => up to 16,260,000 items in under 500MB of heap! This looks like running out of space, rather than a leak.

[2018-03-07 05:54] pveentjer opened #12519 "Receive buffer size >64KB set too late on serverside"
If the receive buffer is larger than 64KB, it needs to be propagated before the socket is accepted. On the 'client' side of the connection there are no problems because we apply the settings before connecting, but on the 'server' side of the connection, we first accept and then change the receive buffer size.

https://docs.oracle.com/javase/7/docs/api/java/net/Socket.html#setReceiveBufferSize(int)

[2018-03-07 06:28] #12485 closed

[2018-03-07 07:33] dbrimley commented on #12350
We are planning a new CLI for later on in the year.  This CLI will be separate from the Management Center and will contain functionality such as above.

[2018-03-07 07:55] pveentjer commented on #12519
After doing a quick hack by hardcoding the receivebuffersize on the serversocket before it is bound, I'm doubting this fix will have a significant improvement.

[2018-03-07 07:58] pveentjer commented on #12519
Switching to direct buffers did made a change this time. Roughly 10%

[2018-03-07 08:29] ksv510 opened #12520 "Add Near Cache support for JCache member"
According to this documentation http://docs.hazelcast.org/docs/3.9.3/manual/html-single/index.html#hazelcast-data-structures-with-near-cache-support JCache member does not support near cache.

Now I have to use JCache client to connect to the same process(cluster member). It works fine but seems to be an overhead.

[2018-03-07 09:17] pavan2017 commented on #12518
Okay what about exception not returning to client? Will that be fixed too in same bug

[2018-03-07 09:52] tkountis commented on #12278
@Danny-Hazelcast I reckon this is not an issue (based on the comment above regarding the config, and the fact that we can't spot a leak in the dumps). I am comfortable enough to close this, for now, and if we have any stronger evidence down the line we can re-open. Your thoughts?

[2018-03-07 10:42] Holmistr commented on #4199
I'm closing this issue, since the test is ignored. The root cause is https://github.com/hazelcast/hazelcast/issues/4677 , so the test should be enabled and fixed, once the root cause is fixed. I created a PR just to link the issue also to the test https://github.com/hazelcast/hazelcast/pull/12522

[2018-03-07 10:42] Holmistr commented on #4677
Once this issue is fixed, please don't forget to re-enable test in https://github.com/hazelcast/hazelcast/issues/4199

[2018-03-07 11:01] mmedenjak commented on #12278
Can we run this with a more sensible config (bigger heap, smaller backup count, smaller capacity, smaller executor count) and see if there is still a leak?

[2018-03-07 11:35] ahmetmircik commented on #12518
yes both should be part of the solution.

[2018-03-07 11:41] #4199 closed

[2018-03-07 13:03] #11813 closed

[2018-03-07 14:00] ahmetmircik commented on #12455
@iboar can we close this issue?

[2018-03-07 14:16] iboar commented on #12455
yes, please do it. Thanks.

[2018-03-07 14:24] metanet commented on #12240
I have analyzed this failure. For instance, the following code shows how IAtomicLong is tested:

[code]

The client first performs the write -> read -> test loop on the cluster and excepts all steps to return `true` all the time, including the time period where it talks to majority sub-cluster after the split. However, our current replication mechanism is async replication. If the target partition

[2018-03-07 14:24] lukasherman opened #12528 "Make MemberMap.SINGLETON_MEMBER_LIST_VERSION value configurable"
`FlakeIdGenerator` relies on `nodeId`, which is currently automatically assigned. It would be helpful to set up  a different base member ID for certain use cases, so that flake IDs generated are always unique, even when generating nodes are not participating in the same cluster.

[2018-03-07 14:25] #12455 closed

[2018-03-07 18:21] mmedenjak opened #12530 "com.hazelcast.internal.jmx.LockMBeanTest.testLockCountIsTwo_whenLockedTwice"
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14217

[code]

[2018-03-08 07:21] mmedenjak commented on #12240
I vote to close it. Once we have our raft impl, we will have a separate test suite for it.

@lazerion can you adapt the tests to work as Basri suggested?

[2018-03-08 08:28] lazerion commented on #12240
@mmedenjak done.

[2018-03-08 08:28] metanet commented on #12240
Closing the issue then. Thx guys

[2018-03-08 08:28] #12240 closed

[2018-03-08 09:07] tkountis commented on #12278
@Danny-Hazelcast whats the update here? Did you have another go with @mmedenjak suggestion above?

[2018-03-08 09:44] Danny-Hazelcast commented on #12278
I made this run, using 1G member heap.  first hour of the run we used a stable cluster.
then we made 200 split heal cycles.

https://hazelcast-l337.ci.cloudbees.com/view/split/job/split-executors/26/console

script
http://54.82.84.143/~jenkins/workspace/split-executors/3.10-SNAPSHOT/2018_03_07-15_32_59/executors/go

GC results
http://54.82.84.143/~jenkins/workspace/split-executors/3.10-SNAPSHOT/20

[2018-03-08 10:12] viliam-durina commented on #12528
I suppose you are referring to the use case mentioned [here](https://groups.google.com/forum/#!searchin/hazelcast/node%7Csort:date/hazelcast/h0t7b45TnuQ/suqgHzHbAAAJ):

There's one solution available out of the box right now: `FlakeIdGeneratorConfig.setIdOffset()`. If you can cap the time during which A & B will both generate IDs, you configure the ID offset for cluster B as follows:

    idOffset

[2018-03-08 10:47] Holmistr commented on #8062
Reopening as it failed again in the PR builder (https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14213/)

Stacktrace:
[code]

Standard output:
[code]

[2018-03-08 11:18] Donnerbart opened #12537 "Issues with ReplicatedMap and lite members"
There are several issues with the `ReplicatedMap` and lite members.

## Error Logs in Mixed Cluster

Even if a lite members doesn't try to use the `ReplicatedMap`, there are error logs once a data member uses a `ReplicatedMap`:
[code]
or
[code]

## `ReplicatedMap` can't be used after lite member promotion

After a lite member has been promoted to a data member, the `ReplicatedMap` cannot be used o

[2018-03-08 13:05] Donnerbart commented on #12480
**com.hazelcast.cache.CacheBasicServerTest.cacheManagerOfCache_cannotBeOverwritten**
[code]
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14233/testReport/junit/com.hazelcast.cache/CacheBasicServerTest/cacheManagerOfCache_cannotBeOverwritten/

[2018-03-08 13:16] TomaszGaweda opened #12541 "PartitionLostListener behaviour is incorrect"
Hi,

according to PartitionLostEvent#getLostBackupCount's JavaDoc:

Consider following code:
[code]

I've launched 4 nodes, the last one has an argument, so it's a lite member that inserts data and checks size of the map.

When I shutdown 2 nodes in   short period of time, expected behaviour is that 6 will be logged as the lostBackupCount. However, I see in logs:

So data was lost, but partition l

[2018-03-08 13:24] tkountis commented on #12541
@TomaszGaweda you are right. Documentation is not 100% correct here, and will improve it. Behavior however is correct. When you get partition lost event, the `lostBackupCount` represents a zero-based index of how many partitions you lost. (0 = Master, 1 = Master + 1st Backup, etc). So if your bacup-count is set to 1, then a `lostBackupCount == 1` means data is lost. However, there is one more type

[2018-03-08 14:29] lukasherman commented on #12528
It would effectively modify the timestamp part of the generated ID, right? We are using timestamp part to identify datastore partition where data should be persisted, at least on yy-mm-dd level. This is great FlakeId feature.
{{FlakeIdGeneratorConfig}} seems like a great place to put {{nodeIdOffset}}.

[2018-03-08 14:52] jerrinot commented on #11231
@taburet: isnt this a duplicate of the issue you have been working on?

[2018-03-08 14:52] mmedenjak commented on #12541
Moving to 3.10.1

[2018-03-08 14:53] #12537 closed

[2018-03-08 14:54] taburet commented on #11231
@jerrinot not sure yet, but most likely it is not, since here we have the degradation on non-unique indexes only, going to check this tomorrow.

[2018-03-08 14:59] #12530 closed

[2018-03-08 15:01] jerrinot commented on #12044
@akb2017: the report does not have enough information, it's very likely an issue in your environment. feel free to re-open this issue when you have additional evidence (logs, etc.)

[2018-03-08 15:01] #12044 closed

[2018-03-08 16:15] #12079 closed

[2018-03-08 21:46] blazember commented on #12516
The below stacktrace originally reported in #12515 belongs to this test. The instances reported (by afterclass check) as still running were created by this test and appear in this test's log. The `NearCacheTest` and `NearCacheStalenessTest` tests were running in parallel during the sonar build and the  overlapping log lines from different test cases confused surefire.
[code]

[2018-03-08 22:05] blazember commented on #12515
I believe this test did not fail. It was reported failed by surefire by mistake because `NearCacheTest` and `NearCacheStalenessTest` tests were running in parallel during the sonar build and the overlapping log lines from the different test cases confused surefire. The instances named in the stacktrace were created by `testMapContainsKey_withNearCache`. The first one by `[batchInvalidationEnabled:

[2018-03-08 22:05] #12515 closed

[2018-03-08 23:29] blazember commented on #12516
Seems the following sequence of the events caused this:
[code]

[2018-03-09 07:13] viliam-durina commented on #12528
Yes, it modifies the timestamp part of the ID.

[2018-03-09 09:08] eminn opened #12547 "RetryableHazelcastException when shutting down an instance"
[code]

To reproduce it just shutdown an instance which has a configured cache on it.

[2018-03-09 09:23] mdogan commented on #12547
Change added by https://github.com/hazelcast/hazelcast/pull/11782

[2018-03-09 09:29] ahmetmircik commented on #11675
I didn't managed to reproduce this, closing for now. We can re-open this issue when we have a reproducer.

[2018-03-09 09:29] #11675 closed

[2018-03-09 12:07] #12313 closed

[2018-03-09 12:52] taburet commented on #11231
I have profiled 3.7.5, 3.7.6 and 3.10-SNAPSHOT. As it turned out, the slowdown is caused by the introduction of the result set copying for indexed queries in 3.7.6. This was done to make the returned result set more consistent, so the index modifications performed after the result set was obtained are not affecting the result set contents. In the provided test this causes copying of 200k entries o

[2018-03-09 12:58] ahmetmircik opened #12548 "CACHE_ON_UPDATE policy breaks near-cache consistency"
see https://github.com/hazelcast/hazelcast/issues/9735

[2018-03-09 13:18] Holmistr commented on #9735
I've ignored this test for master (https://github.com/hazelcast/hazelcast/pull/12550) and maintenance (https://github.com/hazelcast/hazelcast/pull/12551), since it's a known issue. The root cause is: https://github.com/hazelcast/hazelcast/issues/12548

[2018-03-09 13:21] Holmistr commented on #12548
I have ignored the test from https://github.com/hazelcast/hazelcast/issues/9735 . The root cause is in this issue's subject. Please don't forget to re-enable the test once the root cause is fixed.

[2018-03-09 14:36] sancar opened #12552 "Null check is missing for addListener methods in client proxies"
IMap.addEntryListener throws NullPointerException when a `null` provided instead of a listener object.
The same check should be done in all similar addListener methods in all proxies.

[2018-03-09 15:12] Donnerbart commented on #8062
**com.hazelcast.internal.partition.PartitionAssignmentsCorrectnessTest.testPartitionAssignments_whenNodesStartedTerminated[backups:1,nodes:2]**
[code]
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14256/testReport/junit/com.hazelcast.internal.partition/PartitionAssignmentsCorrectnessTest/testPartitionAssignments_whenNodesStartedTerminated_backups_1_nodes_2_/

[2018-03-09 15:20] #9735 closed

[2018-03-09 15:33] ahmetmircik commented on #10556
as a workaround you can use `put` instead of `set`

[2018-03-09 15:37] Holmistr commented on #10885
Failed again in the PR builder https://hazelcast-l337.ci.cloudbees.com/view/Lab/job/new-lab-fast-pr/14275/

Stacktrace:
[code]

[2018-03-09 15:39] Holmistr opened #12555 "DynamicConfigSplitBrain_whenConfigExistsInSmallerBrainOnlyTest.testSplitBrain random failure"
Failed in PR builder: https://hazelcast-l337.ci.cloudbees.com/view/Lab/job/new-lab-fast-pr/14274/

Stacktrace:
[code]

Standard output:
[code]

[2018-03-09 15:40] Holmistr commented on #12555
@Donnerbart or @ahmetmircik might take a look?

[2018-03-09 15:44] Donnerbart commented on #12555
I already asked if `RetryableIOException: Packet not send to -> [127.0.0.1]` is expected during split-brain (since I see it all the time when running those tests locally). Methmet's answer was:

But as I said, it happens all the time, my guess it when the split-brain is introduced and a packet cannot be send to the target anymore. I guess the test failure is unrelated to that specific exception.

[2018-03-09 15:45] Donnerbart commented on #12555
This also happened in a PR builder for `hazelcast:maintenance-3.x`, not in master. So it's not milestone `3.10`, but `3.9.x`.

[2018-03-09 15:54] Donnerbart commented on #12555
There are even more scary exceptions on a successful (!) local execution of this test:
[code]

[2018-03-09 16:00] Donnerbart commented on #12555
Just that no on is confused. In master it's:
[code]
and in maintenance:
[code]
since we changed the default brain configuration in master from 1,2 to 2,1 (second brain is the smaller one now).

[2018-03-09 16:24] Donnerbart commented on #12555
This looks more like the node from the smaller cluster could not join back to the larger cluster:
[code]
This is not part of the merging via merge policies, but on the cluster join level. @mdogan do you have any idea if we're missing a backport for a fix in `maintenance`?

[2018-03-09 16:41] cforce commented on #8831
It's not sovled in hazzlecast anyway, because always any physical system, vm and container with have the defaul value o LRO on which save's a lot of CPU performance.  Hazzlecast needs to swith of this cost saver and that might be even difficlut to manage on systems you doN't 100% percent manage (onprem) but use CAAS or PAAS in the cloud.
So there is a bad work around, but thats far from solved.  I

[2018-03-09 18:03] tunix commented on #2016
Hi @sancar ,

Persistence support for atomic classes would be a huge win for my use case as well. I'm planning to create a lookup table using a few maps and an AtomicLong. The maps will be persisted into the DB (Couchbase) using the MapStore interface. I need to figure out a way of loading/storing AtomicLong back/forth in case of failures. I'll try my changes using the EntryProcessor but again, th

[2018-03-09 20:18] blazember commented on #12480
Related: #12515 and #12516

[2018-03-10 10:20] lazerion opened #12556 "Client count is not retrieved as expected from ExecutorService, when cluster join burst and collapse triggered"
[code]
Steps:
1] Cluster up with 2 set of member cluster and client cluster
1.1] Set 1 contains 5 member and 5 client
1.2] Set 2 contains 1 member and client
1.3] `hazelcast-client_1` postfix client also used as probe
2] Wait for above cluster to form up regarding members
3] Scale `set 1` to `0` both members and clients
4] Scale `set 2` to `5` both members and clients
5] Wait for member count to r

[2018-03-10 12:20] vbekiaris commented on #12390
Closing as fix #12385 has been merged and the TCK issue is separately tracked on jsr107 repository.

[2018-03-10 12:20] #12390 closed

[2018-03-10 19:01] Alykoff opened #12557 "Infinite Loop in IMap for compute method"
* Hazelcast: `3.8.9`, `3.9.3`, `3.10-BETA-1`
* Java:
[code]
* Operating system: `macOS High Sierra 10.13.3`

When I run this code I have `infinite loop` (inside `java.util.concurrent.ConcurrentMap#compute`):
[code]

Output:
[code]

[2018-03-11 07:51] gokhanoner commented on #12557
@Alykoff I reproduced the issue based on your Stackoverflow example using HashSet & then checked the ArrayList version. There are 2 different problem:

1 - When using HashSet, the problem is how Java deserialize the HashSet/ArrayList (collections) & how `compute` method works. Inside `compute` method (since Hazelcast is Java 6 base & there is no `compute` method to override, default implementation

[2018-03-11 14:01] dimas commented on #12238
@blazember, thanks for the suggestion but we were not for other ways of going the same thing - we can just call `keySet()` with the predicate and then iterate over keys calling `delete` (and this is what we actually do).
Still, the fact that `removeAll` does not handle `PartitionPredicate` properly seems like an oversight not a feature than need defending :)
The `removeAll` javadoc does not mentio

[2018-03-12 06:31] mdogan commented on #12557
Related to https://github.com/hazelcast/hazelcast/issues/11816

[2018-03-12 07:20] hasancelik commented on #12376
[code]

https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast/job/Hazelcast-3.x-freestyle/1794/testReport/junit/com.hazelcast.map/EvictionTest/testTTL_prolongationAfterNonTTLUpdate_Quick/

[2018-03-12 07:22] hasancelik opened #12558 "LiteMemberClientMapNearCacheBasicTest.whenReplaceWithOldValueIsUsed_thenNearCacheShouldBeInvalidated_onDataAdapter"
[code]

https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast/job/Hazelcast-3.x-freestyle/1792/testReport/junit/com.hazelcast.client.map.impl.nearcache/LiteMemberClientMapNearCacheBasicTest/whenReplaceWithOldValueIsUsed_thenNearCacheShouldBeInvalidated_onDataAdapter/

https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast/job/Hazelcast-3.x-IbmJDK1.7-freestyle/150/testReport/junit/com.hazelcast.cl

[2018-03-12 07:31] hasancelik commented on #12263
**MapSplitBrainTest.testSplitBrain[format:BINARY, mergePolicy:class com.hazelcast.spi.merge.LatestUpdateMergePolicy]**
[code]

https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast/job/Hazelcast-3.x-OracleJDK1.6-freestyle/400/testReport/junit/com.hazelcast.map.merge/MapSplitBrainTest/testSplitBrain_format_BINARY__mergePolicy_class_com_hazelcast_spi_merge_LatestUpdateMergePolicy_/

[2018-03-12 07:33] hasancelik opened #12559 "ClientUserCodeDeploymentTest.testWithMultipleNodes_clientReconnectsToNewNode"
[code]

https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast/job/Hazelcast-3.x-freestyle/1803/testReport/junit/com.hazelcast.client.usercodedeployment/ClientUserCodeDeploymentTest/testWithMultipleNodes_clientReconnectsToNewNode_ClassCacheMode_OFF__ProviderMode_LOCAL_CLASSES_ONLY_/

https://hazelcast-l337.ci.cloudbees.com/view/Hazelcast/job/Hazelcast-3.x-OracleJDK1.6-freestyle/402/testReport/juni

[2018-03-12 07:44] mdogan commented on #8062
Still same cause explained at https://github.com/hazelcast/hazelcast/issues/8062#issuecomment-332468808. I'll add an `assertClusterSizeEventually(..)` just before terminating the instance(s).

[2018-03-12 08:46] #8062 closed

[2018-03-12 09:13] mdogan commented on #11966
I can't see how the below stacktrace can happen (from https://github.com/hazelcast/hazelcast/issues/11966#issuecomment-351049376):

[code]

`MultiMapContainer.destroy()` does not call `NodeEngineImpl.getService()` but calls `nodeEngine.getSharedService(LockService.SERVICE_NAME)` since 2016 (see commit: 0a2b272cb8cb45faafd95a3bbc9e9af813620e09), which silently returns null when service is not found

[2018-03-12 09:20] mdogan commented on #12547
As a solution right now, we can mark `WanReplicationService` as shared and use `nodeEngine. getSharedService()` instead. Similar to lock-service usage, see https://github.com/hazelcast/hazelcast/pull/8255.

[2018-03-12 09:45] mdogan opened #12566 "NearCacheTest.testNearCacheTTLRecordsExpired"
[code]

https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14298/testReport/junit/com.hazelcast.map.impl.nearcache/NearCacheTest/testNearCacheTTLRecordsExpired_batchInvalidationEnabled_true_/

[2018-03-12 09:53] mdogan commented on #5268
Accessing Hazelcast data structures while creating mapstore is not supported currently. A mapstore can be created on a partition thread and we don't allow doing remote calls on it.

[2018-03-12 10:24] Donnerbart commented on #12263
The last failure seems to be the same one like this: https://github.com/hazelcast/hazelcast/issues/12555

[2018-03-12 10:49] burakcelebi commented on #12505
Closed as internal request.

[2018-03-12 10:49] #12505 closed

[2018-03-12 10:58] ahmetmircik commented on #8026
[code]
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14301/testReport/junit/com.hazelcast.spi.impl.operationservice.impl/Invocation_NetworkSplitTest/testWaitNotifyService_whenNodePartiallySplitFromCluster/

[2018-03-12 11:47] ahmetmircik commented on #11958
similar issue: https://github.com/hazelcast/hazelcast/issues/12557

[2018-03-12 11:47] ahmetmircik commented on #12557
closing this in favour of https://github.com/hazelcast/hazelcast/issues/11958

[2018-03-12 11:47] #12557 closed

[2018-03-12 11:52] ahmetmircik commented on #12284
@Donnerbart maybe we can also check it in this method: https://github.com/hazelcast/hazelcast/blob/1063f895476ee78fd129e3f28667e1ae40355f57/hazelcast/src/main/java/com/hazelcast/internal/config/ConfigValidator.java#L302

[2018-03-12 11:59] Donnerbart commented on #12284
After the next design improvement, there might anyway be other checks necessary (e.g. if the data structure can provide the required value types which the merge policy needs). So this is still on my todo, yes.

[2018-03-12 12:30] mmedenjak commented on #11231
Closing as the cause is in correctness constraints and there is a workaround.

[2018-03-12 12:30] #11231 closed

[2018-03-12 12:32] mmedenjak commented on #3888
@blazember can we now close this issue until it fails again?

[2018-03-12 12:33] mmedenjak commented on #12358
@iboar have you had a chance to try out the suggestion?

[2018-03-12 12:34] blazember commented on #3888
@mmedenjak yes, closed it. Let's see the improved logs if it fails again.

[2018-03-12 12:34] #3888 closed

[2018-03-12 13:46] iboar commented on #12358
@mmedenjak solution based on EntryEvents it's much better than the original one. Thanks.
Now I have some problems with events sequence, I will create another issue soon probably.

[2018-03-12 14:13] #12151 closed

[2018-03-12 15:04] iboar opened #12572 "Event lost during re-partitioning"
Hello,

Recently I have some problems with lost events in my system. Mostly it happens during data re-partitioning. I have created small test example where I am able to reproduce this problem.

I have script which performs following actions in loop:

1. Launches one Hazelcast node.
2. Waits until node is fully started.
3. Launches second Hazelcast node
4. Waits until second node finishes it's work

[2018-03-12 18:36] gokhanoner opened #12574 "IMap `replace` could fail if the Map entry is a Hash collection"
Reproducer
[code]

Due to optimization is `HashSet.readObject` method,  initial serialized byte[] and des/ser byte[] is different.  This causes multiple issues, like `replace` method fails & infinite loop case as described in #12557. Hazelcast have an `ArrayList` serializer but don't have one for Hash collections, like HashSet/HashMap. The only permanent solution is to implement one. We can simply

[2018-03-12 22:13] blazember commented on #12480
[Reproducer](https://github.com/blazember/hazelcast/commit/56c2924994f20f0c2df3f0510d0e7ef8800e8519)

**Explanation**
If `CacheProxy` is getting instantiated on an instance, which is shutting down, `HazelcastInstanceNotActiveException` is thrown. That exception is swallowed/ignored in most of the places and it shouldn't cause such an issue. However, if `ProxyRegistry#destroy()` executes between th

[2018-03-13 07:35] #10556 closed

[2018-03-13 07:47] #12547 closed

[2018-03-13 11:43] #12558 closed

[2018-03-13 11:48] ahmetmircik commented on #12566
merged a possible fix : https://github.com/hazelcast/hazelcast/pull/12567

[2018-03-13 11:48] #12566 closed

[2018-03-13 16:02] iboar opened #12583 "IExecutorService#submitToAllMembers submits to already gracefully shutdown member"
Hello,

I have prepared a small demo and description which show what is the problem.
At first hazelcast configuration:

[code]

**What I do in my demo:**
- run Hazelcast lite member (A-node)
- wait until A-node is fully started
- run Hazelcast member (B-node which is not lite)
- wait until B-node finish it's work.

**What A-node does:**
- sleeps 20 seconds
- shutdowns itself gracefully using `Haze

[2018-03-14 06:58] #11895 closed

[2018-03-14 08:25] blazember opened #12585 "DistributedObjectFuture.get() doesn't respect interrupts"
`DistributedObjectFuture.get()` does not handle interrupts correctly. The method itself seemingly deals with interrupts, but it calls private method `waitUntilSetAndInitialized()`, which waits uninterruptibly and it potentially leads to thread leakage if `DistributedObjectFuture.get()` is invoked during a shutdown.

[2018-03-14 09:03] mdogan commented on #11902
Can we set version of input/output for all serializer types, not just DS (and Portable), before delegating to serializer (in SerializationService)? Is there any issue with that?

[2018-03-14 10:05] kwart opened #12587 "Exception in Node constructor doesn't shutdown services properly"
When an exception occurs in `Node` constructor after initializing some services, the services are not properly terminated. It can lead to thread leaks (e.g. hazelcast/hazelcast-enterprise#1978).

**Suggested fix:**
In case of exception in constructor shutdown properly all the already initialized services.

[2018-03-14 10:13] wildnez opened #12588 "Missing Map Config validation"
Currently the cluster does not validate map configs and it has the potential of making a cluster unstable if a cluster accepts nodes with different map configs.

For example, cluster has Map A with 1 backup. A member joins with backup count = 0 for this Map A. In current scenario, this member will be allowed to join the cluster and no backup partitions will be created on this member. And more such

[2018-03-14 10:27] Holmistr opened #12589 "TransactionContextImpl_backupLogsTest random failures"
Failed in Sonar build https://hazelcast-l337.ci.cloudbees.com/view/Lab/job/Hazelcast-3.x-sonar-lab/lastCompletedBuild/testReport/

Stacktrace:
[code]

Test methods that failed: com.hazelcast.transaction.impl.TransactionContextImpl_backupLogsTest.com.hazelcast.transaction.impl.TransactionContextImpl_backupLogsTest
com.hazelcast.transaction.impl.TransactionContextImpl_backupLogsTest.list_backupLogCr

[2018-03-14 10:37] mdogan commented on #12506
Similar to this, I observed another failure on my local run:

[code]

[2018-03-14 12:43] #12480 closed

[2018-03-14 12:46] mmedenjak commented on #12589
Closing in effect of https://github.com/hazelcast/hazelcast/pull/12584

[2018-03-14 12:46] #12589 closed

[2018-03-14 12:47] mmedenjak commented on #12516
Closing in effect of #12584

[2018-03-14 12:47] #12516 closed

[2018-03-14 12:49] ahmetmircik commented on #12572
Hi @iboar ,

Events that feed query cache has no backups and event delivery works as a fire&forget manner. So you are not safe from sudden node lost, some events can disappear in that situation. When `tryRecover` fails, for now the best option is to re-create query-cache.

[2018-03-14 12:59] ahmetmircik commented on #10763
related issue: https://github.com/hazelcast/hazelcast-enterprise/issues/1981

[2018-03-14 13:20] #5641 closed

[2018-03-14 14:32] kwart opened #12597 "Intermittently failing MapIndexLifecycleTest"
com.hazelcast.map.MapIndexLifecycleTest.whenIndexConfigured_existsOnAllMembers

**Stacktrace**
[code]

https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14376/testReport/junit/com.hazelcast.map/MapIndexLifecycleTest/whenIndexConfigured_existsOnAllMembers/

**Standard Output**
[test.log](https://github.com/hazelcast/hazelcast/files/1811535/test.log)

[2018-03-14 14:38] kwart opened #12598 "OperationServiceImpl_BasicTest"
com.hazelcast.spi.impl.operationservice.impl.OperationServiceImpl_BasicTest.testAsyncOpsMultiMember

**Stacktrace**
[code]

PR builder run: https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14385/testReport/junit/com.hazelcast.spi.impl.operationservice.impl/OperationServiceImpl_BasicTest/testAsyncOpsMultiMember/

**Standard Output**
[test.log](https://github.com/hazelcast/hazelcast/files

[2018-03-14 14:48] iboar commented on #12572
Hi @ahmetmircik,

When node is lost suddenly I agree with you, we can lose some events. But my situation is just after node connected to existing cluster (containing already running 1 node).

[2018-03-14 14:56] mmedenjak commented on #12263
Regarding the first test failure, cluster consists of these members:
[code]
Cluster splits into these groups:
[code]
[code]
Just then member `[127.0.0.1]:16185` starts the merge process:

[code]

It then suspects the master and other member in the brain it was connecting to:
[code]

And proceeds to connect back to the cluster it once belonged:
[code]

After the other members leave, it claims maste

[2018-03-14 15:05] Donnerbart commented on #12263
Hmm, looks like @ahmetmircik changed the cluster size to
[code]
Before it was using the default of `2, 1`, which also makes clear which the larger cluster is.

I'm not sure if it's is an edge-case if both sub-clusters have the same size, which needs other assertions etc. So I would recommend of reverting this change and using the default brains again (which should also use half of the resources fo

[2018-03-14 15:06] iboar opened #12599 "QueryCache is inconsistent with it's IMap"
Hello it's me again :)

Unfortunately I have found issue with IMap and it's QueryCache consistency.

Documentation says:
**After the construction of a continuous query cache, all changes on the underlying IMap are immediately reflected to this cache as a stream of events. Therefore, this cache will be an always up-to-date view of the IMap.**

In my case from time to time it's not true.

My Hazelca

[2018-03-14 15:19] Donnerbart commented on #12263
See https://github.com/hazelcast/hazelcast/pull/12600

[2018-03-14 15:43] ahmetmircik commented on #12263
@Donnerbart this was needed to test backup partitions on brains. If one brain has only 1 member all partitions on that brain will be owner partition and we will miss the opportunity to test backup ones. Can we keep it as each brain contains more than one member?

[2018-03-14 17:18] mmedenjak commented on #12263
Seems like a bug in `MockJoiner` since it didn't first try connecting to the address set by master when merging, like other joiners do.

[2018-03-14 17:30] mmedenjak opened #12602 "ClientQueryCacheBasicTest.entryUpdated_whenOldValueOutside_newValueMatchesPredicate"
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14379
[code]

[2018-03-14 17:39] Donnerbart commented on #12598
Suppressed via https://github.com/hazelcast/hazelcast/commit/bebadc41c104100631fdbacbd7ed36b85d87e195

[2018-03-14 18:19] taburet commented on #12599
Hello again @iboar, initially I though that 50ms is just not enough, but then I found this comment in the QC source code: `// TODO: if we want strongly consistent clear & evict, removal can be made based on sequence and partition ID`, so it seems like you are right about the inconsistency.

[2018-03-15 06:39] #12587 closed

[2018-03-15 07:18] nitinvavdiya opened #12606 "Time to live support for hazelcast ISet and IList entries"
Hazelcast IMap supports time to live for map entries. `IMap` has the method for this [like](http://docs.hazelcast.org/docs/3.6/javadoc/com/hazelcast/core/IMap.html#put(K,%20V,%20long,%20java.util.concurrent.TimeUnit))

My question is, does Hazelcast `ISet` and `IList` support time to live for entries?

I can not find in documents [ISet](http://docs.hazelcast.org/docs/3.6/javadoc/com/hazelcast/core

[2018-03-15 10:07] vbekiaris commented on #12597
The failure is due to the assertion being applied before migrations have been completed -> index was not yet populated with data:
- log indicates `12:19:16,744  INFO ...Re-partitioning cluster data... Migration queue size: 4` but migration queues are only logged to be empty after members have been terminated (=test has already failed):
[code]
- Running locally the test in isolation thousands of ti

[2018-03-15 10:07] tkountis commented on #12606
@nitinvavdiya there is no support for `TTL` in those structures, and no plans to add as of now.
you could use the `IMap` as a Set though, and take advantage of the `TTL`, no?

[2018-03-15 11:14] nitinvavdiya commented on #12606
@tkountis
Thanks,
Yes, I have implemented IMap for Set data structure, but I am still finding the solution for List implementation.
Any suggestions for List?

[2018-03-15 12:21] mmedenjak commented on #11902
Related? https://github.com/hazelcast/hazelcast-enterprise/issues/1818

[2018-03-15 12:22] mmedenjak commented on #11618
@Danny-Hazelcast can you test with more metadata space?

[2018-03-15 12:32] mmedenjak commented on #9697
@magiccrafter @SaketSureshPandit these issues happen when an instance is unresponsive and does not return heartbeats. You can mitigate these exceptions by increasing the operation heartbeat timeout:
[code]
But in the end it would be best if you could determine why your instances were unresponsive in the first place. Is there a long GC? Are there network issues?

[2018-03-15 12:55] #12358 closed

[2018-03-15 13:05] #12263 closed

[2018-03-15 14:06] Amocode commented on #47
Hello,
Did you manage to progress on this feature ?
Is there another way of setting a TTL for a Multimap, I tried by creating a custom Config of the HZ instance and by creating a MultiMap with this Config.

[2018-03-15 14:12] Danny-Hazelcast commented on #11330
on 3.10-SANPSHOT

https://hazelcast-l337.ci.cloudbees.com/view/stable/job/stable-x1/188/console

http://54.82.84.143/~jenkins/workspace/stable-x1/3.10-SNAPSHOT/2018_03_15-15_47_45/ttl
[code]

[2018-03-15 14:24] #12598 closed

[2018-03-15 14:26] #12597 closed

[2018-03-15 14:37] tkountis commented on #12606
@nitinvavdiya may I ask the use-case? Wondering why the `Set` solution doesn't fit.
Can't think of a trivial way to accomplish this, of the top of my head :/

[2018-03-15 15:13] dsukhoroslov opened #12611 "IOUtil.compress hangs on input [0, 0, 0, 0]"
looks like a bug in JDK, but you better to know about it. I encountered it when tried to writeInt(0) and then compress it via HZ IOUtil. JDK 1.8.x
 it hangs at line 228:
[code]
and totally utilises one CPU core

[2018-03-15 15:40] mdogan commented on #12611
This is a bug in ` IOUtil.compress(..)` method. `ByteArrayOutputStream` and temp `byte[]` are created with capacity `input.length / 10`. In this case, `input.length / 10 == 0`. That's why deflate loop never ends.

[code]

[2018-03-15 16:18] squinn commented on #2794
For those that may be running into this problem in an OSGi environment, you may be getting bit by a nuance of the com.hazelcast.util.ServiceLoader.findHighestReachableClassLoader() method sometimes picking the wrong class loader during Hazelcast initialization (as it won't always pick the class loader you set on the config).  The following shows a way to work around that problem by taking advantag

[2018-03-15 20:40] senwangrockets opened #12614 "Hazelcast ILock coudln't release lock properly base on leasing time, if lock name contains "@""
Tested on hazelcast java utility,

	       <dependency>
			<groupId>com.hazelcast</groupId>
			<artifactId>hazelcast-client</artifactId>
			<version>3.9.1</version>
		</dependency>

Tested on code:

    Thread t1 = new Thread(() -> {
      try {
        String abc = "someuser@something.com";
        ILock lock = hazelcastClientInstance.acquireLock(abc);
        System.out.println(lock.tryLock(0, T

[2018-03-15 21:01] shahbour opened #12615 "Exception on server when attempting to update item in level2 cache hibernate"
I am trying to use hazelcast in a spring boot project with hibernate as level2 cache

It is working good when trying to insert item or read item , but when trying to update an item i got the below error

[code]

I am using the below pom , where hazelcast version 3.7.8 and i tried using server 3.9.3

[code]

[2018-03-16 05:31] vbekiaris commented on #11902
Versioned serialization is currently bound to the IDS/DS wire format (serialized as extra bytes after the factory/class ID or class name respectively). Introducing this in `Portable` seems like a major effort; the `PortableReadResultSet` use case mentioned in this issue seems like a moot point (see #12616), so I am in favor of not adding versioned serialization in `Portable`s at this time. wdyt?

[2018-03-16 07:23] pveentjer opened #12617 "Simplify config internals"
The content of the Config method is all the same, only it is made for different classes. We should have a single set of true operations and all the specific config methods like `getRingBufferConfig` etc should just forward to the generic methods.

Probably it even isn't needed to have all the fields on the config. Once could have something like this:

[code]

Based on the service name a lookup can

[2018-03-16 07:56] vbekiaris opened #12619 "Spurious failure com.hazelcast.internal.cluster.impl.MembershipFailureTest"
com.hazelcast.internal.cluster.impl.MembershipFailureTest.slave_splits_and_eventually_merges_back[fd:phi-accrual]

[code]

https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14467/testReport/junit/com.hazelcast.internal.cluster.impl/MembershipFailureTest/slave_splits_and_eventually_merges_back_fd_phi_accrual_/

[2018-03-16 08:46] mdogan commented on #12614
Your test looks timing sensitive. We cannot guarantee that 10 seconds lease will expire even after 11 seconds. We only guarantee that lease will remain at least 10 seconds. After 10 seconds it will eventually expire.

Following snippet shows lease expires with or without `@` inside the lock name;

[code]

[2018-03-16 09:03] vbekiaris commented on #12222
Fixed by #12591

@jevel0per if you are keen to test your use case, a new `3.9.4-SNAPSHOT` should be published shortly in the snapshots repository including the fix (see below for the repository config). Thanks again for reporting this issue!

[code]

[2018-03-16 09:03] #12222 closed

[2018-03-16 09:37] sancar commented on #12252
Client side transactions needs to be rewritten to overcome failure when one connection gone. We already have a long term plan for this.

Secondly, even we had this test from members, when two members are down, transactions could be rolled back. This is not related to minority/majority of  the cluster. Transactions always have one backup.
See details here
http://docs.hazelcast.org/docs/latest-devel

[2018-03-16 09:53] sancar commented on #12252
@mmedenjak
Do we have a plan with Transactions with more than 1 backup ?
Or do we have a plan Quorum like support for Transactions ?

[2018-03-16 10:18] mmedenjak commented on #12252
There is no plan do do any kind of enhancements or fixes on transactions at this point. We only commit to fixing critical issues that do not take up too much time.

[2018-03-16 11:27] pveentjer opened #12623 "Aggregation pulls all data into memory before executing"
So if you have 50 GB of data offheap, it could all be pulled to heap before doing aggregations.

So if you have 50GB of offheap data, you also need 50GB of onheap memory to process.

[2018-03-16 11:41] dsukhoroslov commented on #12611
I see. Please add a unit test for this edge case :)

[2018-03-16 12:23] sancar commented on #11470
Hi @medvand , only known bug of ClientSmartListenerService after 3.8.6 is
https://github.com/hazelcast/hazelcast/pull/11763
which does not seem directly related to your issue.
This is fixed in 3.9.1 (https://github.com/hazelcast/hazelcast/pull/11763) , if you would like to try.

If you don't have a reproducer, logs of the client and member could help us to reason about problem.
I am closing the is

[2018-03-16 12:23] #11470 closed

[2018-03-16 14:05] #12552 closed

[2018-03-16 14:21] senwangrockets commented on #12614
Thanks @mdogan .

I tried on my setup, use the same snippet you providered, the one with '@' hangs forever. Without '@' works fine. May I ask what version of hazelcast you are using?

I'm testing on setup, hazelcast-server on kubernetes, java code locally and hazelcast instance configured as a hazelcast client.

[2018-03-16 14:40] senwangrockets commented on #12614
By the way, if I switch back to the old hazlecast version, it will works. Last working one I can use is

		<dependency>
			<groupId>com.hazelcast</groupId>
			<artifactId>hazelcast-client</artifactId>
			<version>3.6.8</version>
		</dependency>

[2018-03-16 15:04] alparslanavci opened #12626 "NullPointerException when QueryCache#getAll is called"
The following exception is thrown when `QueryCache#getAll` is called:

[code]

[2018-03-16 20:00] #12602 closed

[2018-03-16 20:44] ndjordjevic opened #12630 "High network usage when app is idle"
Hi,

I'm using hazelcast as a hibernate's second level cache for a java/spring application deployed to AWS. When the second or more instances (the hazelcast nodes as well) are added I noticed the high network traffic even when the app is idle... Is that normal? ... Traffic goes 6-7MB approximately... Is hazelcast syncing the caches or ...?

Thanks

[2018-03-19 04:15] pveentjer opened #12632 "ClientPacket not needed"
The class is just a tuple of connection and message. If the connection would be added to ClientMessage, just as it is added to Packet, this class can be removed. This removes one instance per invocation.

[2018-03-19 07:22] #12599 closed

[2018-03-19 07:34] mmedenjak commented on #11259
@vbekiaris seems to me we won't be fixing this in 3.10 either. Can we move to 3.11 or do you think this is addressable in 3.10?

[2018-03-19 07:50] vbekiaris commented on #11259
I am putting together a PR (#12624) with some improvements but no definite fix, so rolling this over to 3.11

[2018-03-19 08:19] mdogan commented on #12614
@senwangrockets: My bad. I was not using hazelcast-client, but testing directly with server. With client, I can reproduce it with latest master too.

[2018-03-19 10:41] Donnerbart opened #12639 "ClientMapTest"
**com.hazelcast.client.map.ClientMapTest.testLock**
[code]
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14510/testReport/junit/com.hazelcast.client.map/ClientMapTest/testLock/

[2018-03-19 12:16] Donnerbart commented on #12284
Will be fixed by https://github.com/hazelcast/hazelcast/pull/12573

[2018-03-19 12:41] #12457 closed

[2018-03-19 15:57] senwangrockets commented on #12614
Cool, thanks very much, keep me updated, for now, I'll use the old version.

[2018-03-19 23:09] blazember opened #12642 "Tests are missing for many MBeans"
There are tests only for the following data structure MBeans:
- LockMBean(Test)
- MapMBean(Test)
- MultiMapMBean(Test)
- ReliabeTopicMBean(Test)
- ReplicatedMapMBean(Test)

The missing tests should be added for the rest of the data structures.

[2018-03-20 07:33] #12626 closed

[2018-03-20 09:09] sancar commented on #12252
Then, I am closing this issue.

[2018-03-20 09:09] #12252 closed

[2018-03-20 10:25] #12619 closed

[2018-03-20 11:31] kwart opened #12656 "XmlConfigBuilder wrongly uses Locale dependent number format for nativeMemory.metadataSpacePercentage"
The `DecimalFormat` used in `com.hazelcast.config.AbstractXmlConfigHelper.fillNativeMemoryConfig(Node, NativeMemoryConfig)` is Locale dependent. It leads to problems in Locales where the decimal separator is the dot (`"."`).

[code]

[2018-03-20 12:54] dbrimley commented on #12588
We should be doing some kind of hash on certain parts of config rather than the whole for example some elements of config could be different per member such as networking but certainly map configs should be the same.  hashed and compared on joining.

[2018-03-20 13:09] Holmistr commented on #11304
This issue occurred again in the PR builder: https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14543/testReport/junit/com.hazelcast.client.spi.impl.discovery/ClientToMemberDiscoveryTest/clientTest/

Stacktrace:
[code]

[2018-03-20 13:14] Holmistr opened #12657 "MembershipUpdateTest.memberListOrder_shouldBeSame_whenMemberRestartedWithSameIdentity random failures"
Failed in the PR builder: https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14539/testReport/junit/com.hazelcast.internal.cluster.impl/MembershipUpdateTest/memberListOrder_shouldBeSame_whenMemberRestartedWithSameIdentity/

Stacktrace:
[code]

It's clearly related to the fact when there are multiple PR builders running in parallel, in other words when the machine is under a heavier load.

[2018-03-20 13:22] Holmistr commented on #11205
Failure occurred again in the PR builder https://hazelcast-l337.ci.cloudbees.com/view/Lab/job/new-lab-fast-pr/14548/testReport/junit/com.hazelcast.map.impl.nearcache.invalidation/MemberMapReconciliationTest/test_reconciliation_does_not_cause_premature_removal_mapInMemoryFormat_OBJECT_nearCacheInMemoryFormat_OBJECT_/

Stacktrace:
[code]

[2018-03-20 13:26] Holmistr commented on #11244
Failed again in the PR builder: https://hazelcast-l337.ci.cloudbees.com/view/Lab/job/new-lab-fast-pr/14534/testReport/junit/com.hazelcast.map.impl.mapstore/MapLoaderTest/testNullKey_loadAllKeys/

Stacktrace:
[code]

[2018-03-20 14:07] kwart opened #12662 "Update EqualsVerifier to disable check for different hashCode"
We use equalsverifier library to test `equals` and `hashCode` implementations.
The version of equalsverifier we use contains a check *"when `equals` returns false, then `hashCode` should be different"*. This check is wrong as the default hashCode implementations don't provide guarantee the value will be different for different objects.

Unfortunatelly this check is not configurable in equalsverifi

[2018-03-20 14:35] mdogan commented on #10885
On maintenance branch (3.9.x):

[code]

https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14555/testReport/junit/com.hazelcast.client.util/ClientStateListenerTest/testClientASYNCStartConnected/

[2018-03-20 14:46] #12502 closed

[2018-03-20 14:47] vbekiaris opened #12663 "[TEST-FAILURE] ClientMapLoadAllTest.testGetMap_issue_3031 failure"
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14557/testReport/junit/com.hazelcast.client.map/ClientMapLoadAllTest/testGetMap_issue_3031/

[code]

[2018-03-21 07:33] mmedenjak commented on #12588
The work put into this should be extended to all structures. I wouldn't like to see config validation for one structure but not the other.

[2018-03-21 09:39] #10885 closed

[2018-03-21 09:39] #12501 closed

[2018-03-21 09:44] Holmistr opened #12668 "CustomLoggerFactorySingularityTest.testCustomLoggerFactorySingularity random failure"
*master*

Failed on a nightly build https://hazelcast-l337.ci.cloudbees.com/view/Lab/job/Hazelcast-3.x-nightly-lab/lastCompletedBuild/testReport/junit/com.hazelcast.logging/CustomLoggerFactorySingularityTest/testCustomLoggerFactorySingularity/
When run manually locally and on the lab machine, the test passes.

Stacktrace:
[code]

Thread dump output (interesting part):
[code]

According to our moni

[2018-03-21 11:46] sancar commented on #12506
Issue posted by @tkountis is possibly fixed via https://github.com/hazelcast/hazelcast/pull/12374
This fix was 14 days ago.

@mdogan I am planning to wait for this to fail again, and check it with logs.

[2018-03-21 11:46] #12506 closed

[2018-03-21 11:53] sancar commented on #11304
It seems that test failed in maintenance branch because https://github.com/hazelcast/hazelcast/pull/12492 is not backported. I will prepare a backport.

[2018-03-21 11:54] #12611 closed

[2018-03-21 12:49] sancar commented on #11456
Failed in master pr builder

https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14579/testReport/junit/com.hazelcast.map.impl.tx/TxnMapNearCacheBasicTest/whenGetIsUsed_thenNearCacheShouldBePopulated_format_BINARY_serializeKeys_false_/

[code]

[2018-03-21 13:11] Donnerbart opened #12673 "ClientServiceTest"
**com.hazelcast.client.ClientServiceTest.testClientListenerDisconnected**
[code]
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14581/testReport/junit/com.hazelcast.client/ClientServiceTest/testClientListenerDisconnected/

[2018-03-21 13:13] Holmistr opened #12674 "ClientServiceTest.testClientListenerDisconnected fails randomly"
*master*

Failed in the PR builder for master branch: https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14581/testReport/junit/com.hazelcast.client/ClientServiceTest/testClientListenerDisconnected/

Stacktrace:
[code]

Standard output (interesting part):
[code]

[2018-03-21 13:13] Holmistr commented on #12674
Maybe @sancar can take a look?

[2018-03-21 13:15] Donnerbart commented on #12673
Duplicate of https://github.com/hazelcast/hazelcast/issues/12674

[2018-03-21 13:15] #12673 closed

[2018-03-21 13:17] #12639 closed

[2018-03-21 14:33] sancar commented on #11304
Fixed by https://github.com/hazelcast/hazelcast/pull/12669

[2018-03-21 14:33] #11304 closed

[2018-03-21 16:05] darbie opened #12676 "AbstractJoiner NullPointerException"
I was running a 2 node system.  Both nodes on windows with version 3.8 of hazelcast. I am using java 1.8. I do not know how to recreate this.  The system is normally fine, but somehow got into this state.

On node1 I see the following in the log:
[code]

On node2 I see the following in the log:
[code]

[2018-03-21 17:07] Donnerbart opened #12677 "MembershipFailureTest"
**com.hazelcast.internal.cluster.impl.MembershipFailureTest.test_whenNodesStartedTerminatedConcurrently[fd:deadline]**
[code]
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14577/testReport/junit/com.hazelcast.internal.cluster.impl/MembershipFailureTest/test_whenNodesStartedTerminatedConcurrently_fd_deadline_/

Occurred in a PR builder. I had a quick peek at the closed issues and it l

[2018-03-21 17:26] #12572 closed

[2018-03-22 04:57] #11857 closed

[2018-03-22 05:21] Danny-Hazelcast opened #12678 "general HazelcastException wraps specific MemberLeftException"
https://hazelcast-l337.ci.cloudbees.com/view/freeze/job/freeze-all/19/console#

/disk1/jenkins/workspace/freeze-all/3.10-SNAPSHOT/2018_03_20-16_04_37/stable/executor/scheduled/schedule-dispose-all Failed

[code]

http://54.82.84.143/~jenkins/workspace/freeze-all/3.10-SNAPSHOT/2018_03_20-16_04_37/stable/executor/scheduled/schedule-dispose-all

[code]

[2018-03-22 05:53] Danny-Hazelcast opened #12679 "Member / Client OOME GC overhead limit, create-use-distributed-obj-destroy"
/disk1/jenkins/workspace/shutdown-All/3.10-SNAPSHOT/2018_03_20-18_17_05/stable/destroy/create-use-dist-destroy Failed

[code]

http://54.82.84.143/~jenkins/workspace/shutdown-All/3.10-SNAPSHOT/2018_03_20-18_17_05/stable/destroy/create-use-dist-destroy

GC
http://54.82.84.143/~jenkins/workspace/shutdown-All/3.10-SNAPSHOT/2018_03_20-18_17_05/stable/destroy/create-use-dist-destroy/gc.html

[code]

ht

[2018-03-22 06:01] Danny-Hazelcast opened #12680 "Member OOME map store put delete get"
/disk1/jenkins/workspace/shutdown-All/3.10-SNAPSHOT/2018_03_20-18_17_05/stable/map/store Failed

http://54.82.84.143/~jenkins/workspace/shutdown-All/3.10-SNAPSHOT/2018_03_20-18_17_05/stable/map/store

GC
http://54.82.84.143/~jenkins/workspace/shutdown-All/3.10-SNAPSHOT/2018_03_20-18_17_05/stable/map/store/gc.html

[code]

[2018-03-22 08:10] Danny-Hazelcast opened #12683 "Client near cache OOME put async"
https://hazelcast-l337.ci.cloudbees.com/view/shutdown/job/shutdown-All/56/console

/disk1/jenkins/workspace/shutdown-All/3.10-SNAPSHOT/2018_03_20-18_17_05/stable/near-cache/async Failed

[code]

http://54.82.84.143/~jenkins/workspace/shutdown-All/3.10-SNAPSHOT/2018_03_20-18_17_05/stable/near-cache/async

GC
http://54.82.84.143/~jenkins/workspace/shutdown-All/3.10-SNAPSHOT/2018_03_20-18_17_05/stabl

[2018-03-22 09:52] mappamundi opened #12687 "Excessive logging when using liveness/readiness scripts in Kubernetes, etc."
_master, current release._

Several users have reported log flooding with INFO level messages when using `readiness.sh` and/or `liveness.sh` scripts in Kubernetes and OpenShift.

See issues:
https://github.com/hazelcast/hazelcast-openshift/issues/7
https://github.com/hazelcast/hazelcast-docker/issues/52

These scripts run typically every 10 seconds, so the amount of logging is really annoying.

A

[2018-03-22 09:57] mmedenjak commented on #12687
Related: https://github.com/hazelcast/hazelcast/issues/10924

As mentioned in the related issue, the connection information is very useful when debugging issues regarding cluster and client membership changes.
In some cases, such as automated health checks, this periodically logs the connection lifecycle. You may then configure the logging to log on WARN for these classes:
`com.hazelcast.nio.tcp.S

[2018-03-22 10:00] googlielmo commented on #12687
Good point @mmedenjak
Is there any way to differentiate between the health checks and other connections? (Probably not, at the TcpIpConnection level)...

[2018-03-22 10:02] mmedenjak commented on #12687
Unfortunately I don't think we can currently differentiate between connections.

[2018-03-22 10:09] googlielmo commented on #12687
Okay. Custom logging configuration (or some context-sensitive logging filter perhaps) is a good workaround.

[2018-03-22 10:51] #12657 closed

[2018-03-22 10:55] iboar commented on #12572
Hello, sorry for writing in closed issue but do you have any idea when official Hazelcast 3.10 is going to be released?

[2018-03-22 11:11] ahmetmircik commented on #12572
Hello, fix will be available in 3.9.4 and 3.10. I don't have an exact release date for now but you can expect both in April 2018.

[2018-03-22 11:34] ahmetmircik commented on #12572
Btw, you can also test it with snapshot:
[code]

[2018-03-22 13:47] #12668 closed

[2018-03-22 13:54] Donnerbart opened #12694 "NodeThreadLeakTest"
**com.hazelcast.instance.NodeThreadLeakTest.testLeakWhenCreatingConnectionManager**

[code]
https://hazelcast-l337.ci.cloudbees.com/view/Official%20Builds/job/Hazelcast-3.x-freestyle/lastCompletedBuild/testReport/com.hazelcast.instance/NodeThreadLeakTest/testLeakWhenCreatingConnectionManager/

[2018-03-22 14:30] taburet commented on #11330
AFAIU, caches don't clean up expired items in the background like maps do. Expired items are removed only during the eviction procedure, but eviction is not performed until the configured maximum cache size is reached. In this test case the configured threshold is 2B items.

@vbekiaris @ahmetmircik WDYT should this be fixed or not?

[2018-03-22 14:41] kwart opened #12697 "Intermittent failure in ConditionBasicDistributedTest.testSignalWithMultipleWaiters"
PR builder (#12695) failed in `com.hazelcast.concurrent.lock.ConditionBasicDistributedTest.testSignalWithMultipleWaiters`

**Stacktrace**
[code]
**Standard Output**
[code]
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14627/testReport/com.hazelcast.concurrent.lock/ConditionBasicDistributedTest/testSignalWithMultipleWaiters/

[2018-03-22 14:43] taburet commented on #11330
Basically all the items in the cache are expired in this test case, but since eviction is not performed this produces OOME.

[2018-03-22 14:53] blazember commented on #11244
In the [test log](https://console.aws.amazon.com/s3/object/j-artifacts/new-lab-fast-pr/14534/new-lab-fast-pr-14534.zip?region=us-east-1&tab=overview), the last logged exception is the one below.
Note that the stack trace contains two local stack traces plus the async stack trace on top of each other.
The two local stack traces are from the two _different_ `map.size()` invocations, see my annotatio

[2018-03-22 15:31] #12694 closed

[2018-03-22 15:51] burakcelebi commented on #12447
Closed as internal request.

[2018-03-22 15:51] #12447 closed

[2018-03-22 18:38] pveentjer commented on #12630
Can you check what the network traffic is when the hibernate second level cache through HZ is disabled? It should be very low; just some periodic heartbeats etc traffic.

[2018-03-23 00:07] Danny-Hazelcast commented on #12680
3.9.3 GC charts
http://54.82.84.143/~jenkins/workspace/shutdown-All/3.9.3/2018_02_02-00_59_21/stable/map/store/gc.html

v.s

3.10-SNAPSHOT GC
http://54.82.84.143/~jenkins/workspace/shutdown-All/3.10-SNAPSHOT/2018_03_20-18_17_05/stable/map/store/gc.html

[2018-03-23 00:08] Danny-Hazelcast commented on #12680
will change  `<property name="exceptionProb">0</property>`  to 0

[code]

[2018-03-23 00:15] Danny-Hazelcast commented on #12679
GC from  3.9.3
http://54.82.84.143/~jenkins/workspace/shutdown-All/3.9.3/2018_02_02-00_59_21/stable/destroy/create-use-dist-destroy/gc.html

also not looking good but no oome, and members look better.

[2018-03-23 01:05] Danny-Hazelcast opened #12698 "Client OOME near cache async"
https://hazelcast-l337.ci.cloudbees.com/view/shutdown/job/shutdown-All/56/console

/disk1/jenkins/workspace/shutdown-All/3.10-SNAPSHOT/2018_03_20-18_17_05/stable/near-cache/async Failed

[code]

[code]

http://54.82.84.143/~jenkins/workspace/shutdown-All/3.10-SNAPSHOT/2018_03_20-18_17_05/stable/near-cache/async

operations are async put's
http://54.82.84.143/~jenkins/workspace/shutdown-All/3.10-SN

[2018-03-23 01:06] Danny-Hazelcast commented on #12698
duplicated https://github.com/hazelcast/hazelcast/issues/12683

[2018-03-23 01:06] #12698 closed

[2018-03-23 01:07] Danny-Hazelcast commented on #12683
for comparison under same test.
GC of 3.9.3
http://54.82.84.143/~jenkins/workspace/shutdown-All/3.9.3/2018_02_02-00_59_21/stable/near-cache/async/gc.html

[2018-03-23 06:17] mmedenjak commented on #12698
@Danny-Hazelcast both issues are closed. Is this fixed?

[2018-03-23 07:48] #8026 closed

[2018-03-23 08:05] #12614 closed

[2018-03-23 08:20] burakcelebi commented on #12588
Closed as internal request.

[2018-03-23 08:20] #12588 closed

[2018-03-23 09:05] burakcelebi commented on #9507
Closed as internal request.

[2018-03-23 09:05] #9507 closed

[2018-03-23 09:34] #12697 closed

[2018-03-23 09:36] acieplak opened #12705 "Committing/rolling-back already committed transaction after one of node is killed"
Hello,
Recently I have discovered some issue with **MapInterceptor** and **TransactionContext** in a multi-node environment.
Basically, here are steps to reproduce:

1. Start one hazelcast instance
2. Start a second hazelcast instance
3. Submit a task to both members where I create some object and add them in a transactional context
4. Commit the changes and wait until propagated to **IMap** and w

[2018-03-23 09:46] ahmetmircik commented on #12683
according to hprof, problem is overloaded worker queue of striped executor, created a PR, it should make load distribution on the queues more balanced: https://github.com/hazelcast/hazelcast/pull/12704

[2018-03-23 09:51] ahmetmircik commented on #12680
According to hprof, cause seems to overloaded on heap write-behind-queues. This is expected, when we consider tests' unlimited key domain(int max). Because test puts data into map from many partition threads and there is only one map-store thread to consume all these data from write-behind-queues. This eventually can cause OOME.

[2018-03-23 09:57] mmedenjak commented on #12683
Nice work! I looked at the heap dump and saw one worker was overloaded and you already have a fix for it :)

[2018-03-23 09:58] ahmetmircik commented on #12679
Hprof file says, `NioOutboundPipeline#writeQueue` is the main consumer.

[2018-03-23 10:01] ahmetmircik commented on #12678
closed in favour of: https://github.com/hazelcast/hazelcast/issues/10763

[2018-03-23 10:01] ahmetmircik commented on #10763
another related issue: https://github.com/hazelcast/hazelcast/issues/12678

[2018-03-23 10:08] Danny-Hazelcast commented on #12678
@ahmetmircik  just to check  is it the same stack trace / same code path which causes the issue
#10763

the do not look like the same stack trace and so not the same code path that is causing the issue
and so will need to be fixed in separate places ?

[2018-03-23 12:43] ahmetmircik commented on #11330
@taburet, to me, this is an improvement and not an urgent thing for 3.10.

We know that  occupied memory space of a cache can only be controlled by eviction. If we see a leak with eviction, it will a problem. But for the moment, when we try to put an entry to a backup partition, eviction opens space for it, even expired are still there.

So this issue seems a postponable one.

[2018-03-23 12:46] #12417 closed

[2018-03-23 14:06] mfaghloumi commented on #7728
+1

[2018-03-23 17:44] TomaszGaweda commented on #12572
@ahmetmircik After switching to 3.10-SNAPSHOT we've encountered OutOfMemoryError in our tests. Eclipse MAT suggest memory leak in SubscriberAccumulator: https://imgur.com/a/xP3MG For just ~20 QueryCaches with ~20 elements in each it's using 450MB after a while.

I can't share full Memory Dump, as our customer don't want to show it in public. Is it worth creating a new ticket, or you will investiga

[2018-03-23 19:47] ahmetmircik commented on #12572
@TomaszGaweda can you please provide a reproducer?

[2018-03-23 19:53] TomaszGaweda commented on #12572
@ahmetmircik Not yet, it's happening in out tests, project under NDA so I can't share it. I'll try to prepare a reproducer on Monday and create a ticket

[2018-03-23 19:53] ahmetmircik commented on #12572
thanks, i will be waiting it.

[2018-03-26 10:12] ozaydinb opened #12712 "MapStore.LoadAll doesn't load all keys at same time"
Hi,
MapStore.LoadAllKeys returns all key that I wanted to load from database (it returns about 500 key) but LoadAll method doesn't invoke for all key at same time and this approach causes too many db calls. May I force LoadAll method to load all keys at same time?

[2018-03-26 10:23] Holmistr opened #12713 "OverloadedConnectionsPluginTest.test failure"
*master*

Failed on Sonar build on master branch: https://hazelcast-l337.ci.cloudbees.com/view/Lab/job/Hazelcast-3.x-sonar-lab/44/testReport/junit/com.hazelcast.internal.diagnostics/OverloadedConnectionsPluginTest/test/

Stacktrace:
[code]

According to our monitoring, the machine was not under any exceptional heavy load.

[2018-03-26 10:51] blazember commented on #11244
#### Explanation of the stack trace with two callers
In the case of an invocation results in an Exception, we [fix the Exception's stack trace](https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InvocationFuture.java#L127) by adding the "local" (the invoker's) stack trace to the Exception's stack trace. If the exception is thrown

[2018-03-26 10:51] #11244 closed

[2018-03-26 12:00] blazember opened #12716 "[map] [map-store] Batch-load records per member instead of per partition"
Current implementation loads batches of records per partition, which comes with more map store interactions than per member loading would come with, putting higher pressure on the backing persistence store than necessary. Batching record loading per member and putting loaded records to the record store per partition would be desired.

Related #12712

[2018-03-26 12:24] blazember commented on #12712
Hi @ozaydinb,
The keys for which the values to be loaded are distributed between the partitions. Each partition loads the values that belong to them via dedicated DB calls. This can be seen as too many DB calls with such small keysets, and currently, there is no option to reduce the number of DB calls to 1 - apart from changing the partition size to 1. Please consult [Data Partitioning](http://doc

[2018-03-26 12:24] #12712 closed

[2018-03-26 12:35] mdogan commented on #10328
I'm not able to reproduce the issue. But here what I found by just inspecting the code:

- `Invalidation` event defines `sourceUuid` field as nullable.
https://github.com/hazelcast/hazelcast/blob/01e78f0c09de3460b551526db00192ab193ace7c/hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/Invalidation.java#L53-L58

- `List<String> sourceUuids` is extracted from a `BatchNearCa

[2018-03-26 15:36] pschmeltzer commented on #10328
I am using a cache loader.
Dataset was larger than eviction size.
After increasing cache size to be larger than the underlying dataset size, errors are gone.
I can't do this indefinitely though.

It seems to be a combination perhaps of:

- Near cache on clients
- Dataset bigger than eviction size
- (Maybe) with a cache loader

[2018-03-27 05:34] Danny-Hazelcast opened #12718 "shutdown data loss, client map get returns null"
It is very rare for this job to fail,

Client reported data loss from cluster, when a member node was shutdown using, hzInstance.shutdown();

This issue is very rare, could it but due to environment issues ? however i see no evidence for this in the logs,  the cluster took the expected form during the test,

jenkins job.
https://hazelcast-l337.ci.cloudbees.com/view/shutdown/job/shutdown-data-loss/

[2018-03-27 05:42] Danny-Hazelcast commented on #12718
looking at the exceptions show it all types of maps and caches and different keys returning null

[jenkins@ip-10-72-134-107 data-loss]$ pwd
/disk1/jenkins/workspace/shutdown-data-loss/3.10-SNAPSHOT/2018_03_26-03_00_01/data-loss
[jenkins@ip-10-72-134-107 data-loss]$ hz-errors | xargs grep -oah 'DATA LOSS.*'
DATA LOSS! for map mapBak0 key 852
DATA LOSS! for map mapBak0HD key 336
DATA LOSS! for map m

[2018-03-27 05:43] Danny-Hazelcast commented on #12718
hz-errors | xargs grep -oah 'DATA LOSS.*' | awk '{ print $5 }' | sort | uniq
cacheBak0
cacheBak0HD
mapBak0
mapBak0HD

[2018-03-27 05:45] Danny-Hazelcast commented on #12718
`
[jenkins@ip-10-72-134-107 data-loss]$ find . -name out.txt  | xargs grep partition
./output/HZ/HzMember2HZ/out.txt:INFO: [10.0.0.233]:5701 [HZ] [3.10-SNAPSHOT] Starting 4 partition threads and 3 generic threads (1 dedicated for priority tasks)
./output/HZ/HzMember4HZ/out.txt:INFO: [10.0.0.90]:5701 [HZ] [3.10-SNAPSHOT] Starting 4 partition threads and 3 generic threads (1 dedicated for priority t

[2018-03-27 05:48] Danny-Hazelcast commented on #12718
[code]

[2018-03-27 05:52] Danny-Hazelcast commented on #12718
from
https://hazelcast-l337.ci.cloudbees.com/view/shutdown/job/shutdown-data-loss/331/console

we can see the data was loaded into the cluster,
and data was validated / check, the each key value was in the map

[2018-03-27 07:19] mdogan commented on #12718
There's a heartbeat problem between master `[10.0.0.90]:5701` and member `[10.0.0.234]:5701`. They suspect each other and `[10.0.0.234]:5701` splits from the rest. Then `[10.0.0.234]:5701` is shutdown and restarted by the test.

On master:
[code]

On member `[10.0.0.234]:5701`:
[code]

[2018-03-27 08:00] jerrinot commented on #11637
no failure since Jan, closing

[2018-03-27 08:00] #11637 closed

[2018-03-27 08:12] mmedenjak commented on #12678
Although annoying, I think this approach is ok for now. The reason is that `MemberLeftException` isn't a subtype of `HazelcastException` and the user should then `catch (HazelcastException ex)` and `catch (MemberLeftException ex)` if we were to unwrap it.
This whole idea of wrapping is debatable and we don't have a concensus on it - some services wrap some exceptions, some don't wrap some exceptio

[2018-03-27 08:15] mdogan commented on #11105
Test is using 3 seconds operation timeout, which can timeout when there's a pause more than 3sec. There are no new failure reports for 3 months.

[2018-03-27 08:47] mdogan commented on #10328
@pschmeltzer: I'm able to reproduce the issue with your combination.

[2018-03-27 09:21] Danny-Hazelcast commented on #12678
ok, the confusion about which exceptions are thrown makes using hazelcast more tricky to use and soak test.

also i thought we were not throwing the generic `HazelcastException`  and only using it a base class

anyway maybe a PRD is needed to think about making exception handling in hazelcast easy.

[2018-03-27 09:39] Danny-Hazelcast commented on #12718
ok so if
[10.0.0.234]:5701 splits from the rest. Then [10.0.0.234]:5701 is restarted.

so the clients could be calling get on '[10.0.0.234]:5701'  which would return null
as it is a cluster of 1.

have we change the way we detect splits by default ?
is it more likely we detect small latencies and split the cluster a bit early ?
do have new changes which suspect node failures more quickly in 3.10-S

[2018-03-27 10:00] mdogan commented on #12718
I don't remember any changes but in this specific run, heartbeat timeout is set to 10 seconds: `-Dhazelcast.max.no.heartbeat.seconds=10`.

[2018-03-27 10:01] Danny-Hazelcast commented on #11330
maybe we can make a RPD for this ?

it would be good to unify the, cache and map ttl behaviour.

[2018-03-27 10:02] Donnerbart opened #12721 "Split-brain merge policy design issues"
The actual SPI design is very flexible, but requires downcasting in the merge policy classes. It's also quite unclear which merge policy is compatible with which data structure. This doesn't guide an implementer nicely through the process.

Example:
[code]

## Using Generics to avoid casting

A better solution would be to use generics throughout the system.

Example:
[code]
Now it's clear that the

[2018-03-27 10:08] Donnerbart opened #12722 "Split-brain merge policy config validation is wrong"
The merge policy checks in `ConfigValidator` are based on false assumptions regarding `SomeConfig.isStatisticsEnabled()` and valid split-brain merge types. The `MergingHits` capability doesn't depend on enabled statistics, just on the data structure. There are just two merge types for `IMap`, which depend on the statistics configuration (`MergingLastStoredTime` and `MergingExpirationTime`).

The c

[2018-03-27 10:21] Danny-Hazelcast commented on #12718
ok, so i can close this issue. and we put it down to AWS network.

[2018-03-27 10:21] #12718 closed

[2018-03-27 10:26] Donnerbart opened #12725 "Split-brain merging entries are wasting memory and network capacity"
The actual implementation uses the same `FullMergingEntryImpl` for `IMap`, `ICache`, `ReplicatedMap` and `MultiMap`, although only `IMap` provides all fields which are stored in memory and transferred over the wire.

We should use data specific classes to solve this issue.

[2018-03-27 10:48] Danny-Hazelcast commented on #12680
a run of the map store test, in a STABLE cluster. using
`<property name="exceptionProb">0</property>`

GC
http://54.82.84.143/~jenkins/workspace/stable-All/3.10-SNAPSHOT/2018_03_26-20_56_06/map/store/gc.html

stable put operation throughput  for map store through
http://54.82.84.143/~jenkins/workspace/stable-All/3.10-SNAPSHOT/2018_03_26-20_56_06/map/store/output/HZ-store-mapBak1HDStoreThrough_put.

[2018-03-27 11:14] Danny-Hazelcast commented on #12680
cluster member shutdown version
<property name="exceptionProb">0</property>

GC
http://54.82.84.143/~jenkins/workspace/shutdown-All/3.10-SNAPSHOT/2018_03_27-13_25_56/store/gc.html

[2018-03-27 11:18] Danny-Hazelcast commented on #12680
so the GC looks good in both cases.

the hprof was caused by <property name="exceptionProb">0</property>

we had an open issue about this before.

the map store implementations are just incrementing a counter.  so do not cause a delay or a back up of operations.

[2018-03-27 11:37] #10328 closed

[2018-03-27 11:46] mmedenjak commented on #12680
This is the previous issue:
https://github.com/hazelcast/hazelcast/issues/11389
And the enhancement request:
https://github.com/hazelcast/hazelcast/issues/9265

[2018-03-27 12:18] ahmetmircik commented on #12680
From @Danny-Hazelcast: It is not show any leak with an unlimited key domain,  as its the exceptions thrown from the map store that causes the OOME even at the low probability setting

[2018-03-27 12:18] #12680 closed

[2018-03-27 13:41] mustafaiman commented on #12663
Test fails during populating the map from Server.

[2018-03-27 14:24] #12683 closed

[2018-03-27 15:45] blazember commented on #12376
[code]

https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14735/testReport/junit/com.hazelcast.map/EvictionTest/testTTL_prolongationAfterNonTTLUpdate_Quick/

[2018-03-27 20:15] gokhanoner opened #12728 "Ability to reset WAN Stats in Diagnostics"
Currently, some diagnostics plugins offer reset option based on period, like `StoreLatencyPlugin`. WanPlugin, on the other hand, doesn't allow this. Also, for Wan, and for some others also, ability to restart the stats on demand is a useful feature.

We can add a method like `resetStats` to `DiagnosticsPlugin`, if possible, implement this in the relevant Diagnostics Plugins, add some endpoints in

[2018-03-28 06:55] emre-aydin opened #12732 "Entry count per partition statistics to be sent to MC"
Currently, each member sends the number of entries it owns to MC. This includes entries from all the partitions that have the member as its owner. We need to change this to be per-partition, meaning entry counts for each partition should be sent by the partition's owner to MC separately. Changes will take place around the following line most probably:

https://github.com/hazelcast/hazelcast/blob/e

[2018-03-28 06:55] emre-aydin commented on #12732
https://github.com/hazelcast/management-center/issues/554

[2018-03-28 07:24] pveentjer commented on #12725
Is this important to get fixed in the 3.10 time window?

[2018-03-28 07:30] pveentjer commented on #12721
If there is little time remaining, a potential solution would be to mark the API as beta so that in 3.11 we can have another look how to fix it. Also api's need to 'grow', designing an API without using it as an end user often is problematic.

[2018-03-28 07:32] pveentjer commented on #12679
Running with the overloaded connections plugin will help to determine the content of of the writeQueue.

[2018-03-28 07:35] pveentjer commented on #12528
Does this need to be resolved in the 3.10 time window? It seems that it an improvement of an existing feature. So unless we need to break API's, I'm suggesting to move this task to 3.11 (or 3.10 maintenance if it is low risk and high value).

[2018-03-28 07:40] metanet commented on #12528
We handled this request with a small addition into the flake id configuration without breaking any existing API.

[2018-03-28 07:40] #12528 closed

[2018-03-28 07:41] mmedenjak commented on #12725
This issue was opened to indicate one of the things an existing PR is fixing. If possible, please review the PRs:
https://github.com/hazelcast/hazelcast/pull/12573
https://github.com/hazelcast/hazelcast-enterprise/pull/2002

[2018-03-28 07:56] mmedenjak commented on #11330
Slack discussion: https://hazelcast.slack.com/archives/G6EDCRY49/p1505120566000291
I will open a PRD.

[2018-03-28 08:03] mmedenjak commented on #11902
Moving this as `PortableReadResultSet` no longer serialises conditionally, `Portable` is not that common in our codebase and this is a bigger task with questionable gain.

[2018-03-28 08:03] lukasherman commented on #12528
Thanks, it looks good.

[2018-03-28 08:38] #12713 closed

[2018-03-28 10:01] sancar opened #12733 "Portable Serialization incompatible class definition when nested portables used"
Portable serialization is mistakenly reporting incompatible class-definitions when nested portables are used in certain scenarios.
Details of failed scenario are as follows:
Let's say, we have two Portables: `Parent` and `Child`. `Child` is a field of `Parent` class.
Let's say we have two nodes. Node A and Node B. And both nodes are using a non-default both same portable version.
- `Child` is seri

[2018-03-28 11:19] #12623 closed

[2018-03-28 13:03] jerrinot commented on #12210
well, apparently it does not work correctly even on a member-side. it does not throw NPE, but paging does not work properly.

[2018-03-28 13:48] #12656 closed

[2018-03-28 13:50] TomaszGaweda opened #12737 "[Regression] OutOfMemoryError caused by SubscriberAccumulator"
Hi,

I found regression bug from 3.9.3 on the latest 3.10-SNAPSHOT - hazelcast-3.10-20180328.095534-702

Consider following example:

My model class:
[code]
Reproduction code:
[code]

Run one node without `-clear` option and after few seconds second node with option -clear.

On 3.9.3 this program keeps printing:

On 3.10-SNAPSHOT after approx. minute I have:

From Eclise Memory Analysis Tool I can

[2018-03-28 13:51] TomaszGaweda commented on #12737
@ahmetmircik This is the issue I was talking on Friday

[2018-03-28 13:54] ahmetmircik commented on #12737
Many thanks for the report. I will investigate it and will return back to you, possible tomorrow.

[2018-03-28 18:22] Donnerbart opened #12740 "QueryCacheMapWideEventsTest"
**com.hazelcast.map.impl.querycache.QueryCacheMapWideEventsTest.no_event_lost_during_migrations__with_many_parallel_nodes**
[code]
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14777/testReport/junit/com.hazelcast.map.impl.querycache/QueryCacheMapWideEventsTest/no_event_lost_during_migrations__with_many_parallel_nodes/

[2018-03-29 06:27] mmedenjak commented on #11330
Created https://hazelcast.atlassian.net/wiki/spaces/PM/pages/508231697/Introduce+background+expiration+task+for+JCache. Please fill in any details which are missing.

[2018-03-29 06:47] vbekiaris commented on #12434
`ISet` was not protected by quorum in version 3.9. In order for quorum protection to apply, after upgrading all members to codebase version 3.10, and before introducing network delays, the cluster version must be upgraded to 3.10 using eg `cluster.sh`:
[code]

Once the cluster is in cluster version 3.10, the new quorum protections are applied properly.

[2018-03-29 08:12] Holmistr commented on #7662
*maintenance*

Stacktrace:
[code]

Standard output:
[code]

[2018-03-29 08:15] Holmistr opened #12743 "ClientQueryCacheUpdateTest.query_cache_gets_latest_updated_value_when_map_is_updated_via_set_method failure"
*maintenance*

Failed on IBM JDK 1.7 and Zulu JDK7:
https://hazelcast-l337.ci.cloudbees.com/view/Official%20Builds/job/Hazelcast-3.maintenance-IbmJDK1.7-freestyle/60/
https://hazelcast-l337.ci.cloudbees.com/view/Official%20Builds/job/Hazelcast-3.maintenance-ZuluJDK7-freestyle/lastCompletedBuild/testReport/

Stacktrace:
[code]

[2018-03-29 08:18] Holmistr commented on #12740
*maintenance*

Occurred with the same stacktrace on maintenance (actual was different, 12) on Zulu JDK 6: https://hazelcast-l337.ci.cloudbees.com/view/Official%20Builds/job/Hazelcast-3.maintenance-ZuluJDK6-freestyle/lastCompletedBuild/testReport/com.hazelcast.map.impl.querycache/QueryCacheMapWideEventsTest/no_event_lost_during_migrations__with_many_parallel_nodes/

[2018-03-29 08:23] Holmistr opened #12744 "EntryProcessorOffloadableTest.testHeartBeatsComingWhenEntryPropcessorOffloaded failure"
*master*

Failed on Oracle JDK6:
https://hazelcast-l337.ci.cloudbees.com/view/Official%20Builds/job/Hazelcast-3.x-OracleJDK1.6-freestyle/lastCompletedBuild/testReport/

Stacktrace:
[code]

Standard output:
[code]

Maybe related to https://github.com/hazelcast/hazelcast-enterprise/issues/2012 @tkountis  ?

[2018-03-29 08:25] Holmistr opened #12745 "ClientDurableExecutorQuorumWriteTest.submit_runnable_result_quorum failure"
*master*

Failed on Oracle JDK 8: https://hazelcast-l337.ci.cloudbees.com/view/Official%20Builds/job/Hazelcast-3.x-OracleJDK8/lastCompletedBuild/testReport/

Stacktrace:
[code]

Standard output:
[code]
[code]

[2018-03-29 08:55] acieplak commented on #12705
Hey,
Any lead on this one?
I guess this might be quite important cause it might put backups in an inconsistent state according to cache so if there is something confusing in my description please ask and I will try to explain it more precisely.
Regards

[2018-03-29 09:26] ahmetmircik commented on #12737
I run the test and checked heap dump. According to dump, occupied memory belongs to internal per-partition buffers of query caches. `PublisherRegistry` holds these buffers.

In the test, we have 971 partitions and each ones buffer length is 1024(closest 2^n), so test needs a total buffer length of = (971 * 1024 * num_of_query-caches). This seems to require more memory than you gave. If you give su

[2018-03-29 09:26] #12737 closed

[2018-03-29 09:37] ahmetmircik commented on #12740
should be closed by https://github.com/hazelcast/hazelcast/commit/5ffb173afcc3123e535077ea7f9a925721302c8a

[2018-03-29 10:20] lazerion commented on #12434
@vbekiaris thanks for guidance. I added required changes, we are now validating expectation successfully.

[2018-03-29 10:20] #12434 closed

[2018-03-29 10:39] TomaszGaweda commented on #12737
@ahmetmircik Still it seems to be a bug, because it works fine in 3.9.3 and throws OOME on 3.10. Has anything significant changed recently? In production code we have default size (1) and code also fails on 3.10 snapshot.

[2018-03-29 10:55] ahmetmircik commented on #12737
I can't see a leak over time when i run your test. If you find an unexpected memory grow with a sufficient heap, that can be an issue but so far i didn't find any.

3.9.3 was not functioning expectedly, possibly fixes in 3.10 made this visible.

[2018-03-29 11:09] TomaszGaweda commented on #12737
@ahmetmircik Ok, indeed I can see few fixed recently in this area. Thanks for the investigation :)

[2018-03-29 12:12] #12743 closed

[2018-03-29 14:24] #12541 closed

[2018-03-30 08:39] sancar commented on #12663
Hi, a new failure. It seems like failed for same reason. May be logs can help more.
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14795/testReport/junit/com.hazelcast.client.map/ClientMapLoadAllTest/testGetMap_issue_3031/

https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14795/artifact/hazelcast-client/target/surefire-reports/com.hazelcast.client.map.ClientMapLoadAllTest-o

[2018-03-30 08:56] tkountis commented on #12679
@Danny-Hazelcast can you do another run with the additional props Peter suggested?

[2018-03-30 09:14] tkountis commented on #11618
@Danny-Hazelcast can you do another run here, its been quite some time, we should try the latest code with the suggestions above.

[2018-03-30 09:16] tkountis commented on #11615
@Danny-Hazelcast lets have another run on this, with the fragmented migration disabled as per Mehmet's suggestion?

[2018-03-30 11:29] z-guohui-qian commented on #12470
I think what I mentioned is problem of hazelcastclient not hazelcast server.
I am not sure  how ProxyRegistry.destroy() can fix this problem.
Can you please check it again?

[2018-03-30 14:48] #12663 closed

[2018-03-30 15:32] burakcelebi commented on #11970
Closed as internal request.

[2018-03-30 15:32] #11970 closed

[2018-04-02 07:17] #12733 closed

[2018-04-02 08:09] tkountis commented on #12278
@Danny-Hazelcast I had another look at the older hprof in here, and I noticed that there are 30k tasks in a completed state in there. That got me thinking about the leak. I checked the benchmark code and saw that you are creating and disposing tasks, so my question is when you split the cluster in between creating and disposing, if the task is not available on the half cluster that you are communi

[2018-04-02 13:40] ahmetmircik commented on #12258
According to hprof, over half of the memory is occupied by a temporary `HashMap` object which is used to collect record metadata during migration. This PR https://github.com/hazelcast/hazelcast/pull/12766 removes the need for `HashMap` object and as a result, operation will be using less memory.

[2018-04-02 14:38] #11905 closed

[2018-04-02 15:56] ahmetmircik commented on #12258
@Danny-Hazelcast retest would be good

[2018-04-03 07:50] Danny-Hazelcast commented on #12258
@ahmetmircik yes the member gc. is looking better in latest run

http://54.82.84.143/~jenkins/workspace/shutdown-x/3.10-SNAPSHOT/2018_04_03-09_49_30/big-val/gc.html

[2018-04-03 08:17] Danny-Hazelcast opened #12769 "Member OOME hprof after client repeatedly re-connects / splits joins."
In this job we create 1 membrer and 12 clients,   clients re repeatedly split from the member
disconnection and reconnection repeatedly

https://hazelcast-l337.ci.cloudbees.com/view/split/job/split-member-client/35/console

during the run, the Member OOME

`fail HzMember1HZ split_member-client_putMapHD hzcmd.map.Put threadId=1 java.lang.Exception: java.lang.OutOfMemoryError: GC overhead limit exce

[2018-04-03 08:18] pveentjer opened #12770 "ExternalizableSerializer unwanted String"
[code]

A string and  char array is created to determine the class. This is very inefficient.

[2018-04-03 08:26] Danny-Hazelcast commented on #12278
@tkountis, yes I think this is the cause of the slow leak.

I could add a `getAllScheduledFutures` thread, which calls dispose to clear up any "lost" tasks

[2018-04-03 08:29] tkountis commented on #12769
Another small heap, it looks like an incoming stream issue from the first look

[code]

[2018-04-03 08:32] Danny-Hazelcast commented on #12769
i think is a regression it was not failing before,
GC charts from an old 3.9 run http://54.82.84.143/~jenkins/workspace/split-member-client/3.9/2017_10_23-11_26_03/gc.html

[2018-04-03 09:01] tkountis commented on #12769
the heap in this run is mostly occupied by invocations
I am not sure its a leak, we need to test this with bigger heaps and longer time, stress it more in other words.
more invocations, could just mean that they take longer to finish so they stay longer in the registry

[2018-04-03 09:05] Danny-Hazelcast commented on #12769
the history of 3.10-SANPSHOT runs are http://54.82.84.143/~jenkins/workspace/split-member-client/3.10-SNAPSHOT/

from 19-Oct-2017 Member GC is stable.
http://54.82.84.143/~jenkins/workspace/split-member-client/3.10-SNAPSHOT/2017_10_19-11_26_03/gc.html

from 29-Mar-2018 member GC show leak pattern and OOME's
http://54.82.84.143/~jenkins/workspace/split-member-client/3.10-SNAPSHOT/2018_03_29-11_26_0

[2018-04-03 09:34] #12559 closed

[2018-04-03 09:37] Danny-Hazelcast commented on #12769
this run https://hazelcast-l337.ci.cloudbees.com/view/split/job/split-member-client/37/console
Member has 1G heap

[2018-04-03 09:41] Holmistr commented on #7662
Let me just say that the test started to fail much much more regularly on maintenance. 3 failures in last 6 builds.

[2018-04-03 09:42] Holmistr commented on #10656
*master*

Reopening as it failed in the nighly build: https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly-lab/43/testReport/junit/com.hazelcast.cluster/SplitBrainHandlerTest/testClusterMerge_ignoresLiteMembers/

Stacktrace:
[code]

Standard output:
[code]

[2018-04-03 11:19] taburet commented on #12769
Have analyzed the logs, the operation registry size (`operations.pending.invocations.count`) is much higher in the latest builds, before the first failed build it was around 35 at maximum, in the latest builds it's about 150 at the OOME moment, either we are not removing the invocations from the registry at some conditions or we are able to produce/enqueue higher number of invocations now and unab

[2018-04-03 11:24] Danny-Hazelcast commented on #12769
this run https://hazelcast-l337.ci.cloudbees.com/view/split/job/split-member-client/37/console
Member has 1G heap

GC member show ever increasing heap usage, looking like leak, and not classic saw as seen in client side
http://54.82.84.143/~jenkins/workspace/split-member-client/3.10-SNAPSHOT/2018_04_03-12_36_11/member-client/gc.html

I also took a member hprof near the end of the run
http://54.82.

[2018-04-03 11:24] tkountis commented on #12278
Awesome, let me know if you can verify that, so we can close this :+1:

[2018-04-03 11:29] Danny-Hazelcast commented on #11615
re running
https://hazelcast-l337.ci.cloudbees.com/view/kill/job/kill-All/36/console
with
`hazelcast.partition.migration.fragments.enabled=false`

[2018-04-03 11:41] Danny-Hazelcast commented on #11615
cluster still not stace in 41 tried as 10 seconds interval

/disk1/jenkins/workspace/kill-All/3.10-SNAPSHOT/2018_04_03-13_32_07/async/async-bak/put-hd/sml-val Failed

fail HzMember4HZ untilClusterSafe hzcmd.ops.UntilClusterSafe threadId=0 global.AssertionException: isClusterSafe()=false try's=41 interval 10

http://54.82.84.143/~jenkins/workspace/kill-All/3.10-SNAPSHOT/2018_04_03-13_32_07/async/as

[2018-04-03 12:19] Holmistr commented on #11456
*maintenance*

Failed again on IBM 1.7 JDK: https://hazelcast-l337.ci.cloudbees.com/view/Official%20Builds/job/Hazelcast-3.maintenance-IbmJDK1.7-freestyle/62/testReport/junit/com.hazelcast.map.impl.tx/TxnMapNearCacheBasicTest/whenGetIsUsed_thenNearCacheShouldBePopulated_format_BINARY_serializeKeys_false_/

Stacktrace:
[code]

Apparently, the stacktrace is completely the same, look at the actual va

[2018-04-03 12:26] dbrimley commented on #9753
@sancar Would this enhancement mean breaking the client protocol?  Should it be just in 4.0 or can at least some research be carried out in 3.11 phase?

[2018-04-03 12:55] sancar commented on #9753
It feels like we can find a way to not to break the protocol when introducing the change.
So 3.11 could be an option.

[2018-04-03 13:22] Danny-Hazelcast commented on #12769
run 300M Member heap GC show leak pattern, but not enough time for OOME

http://54.82.84.143/~jenkins/workspace/split-member-client/3.10-SNAPSHOT/2018_04_03-14_27_05/member-client/output/HZ/HzMember1HZ/verbosegc.log.png

[2018-04-03 13:29] Danny-Hazelcast commented on #11615
https://hazelcast-l337.ci.cloudbees.com/view/kill/job/kill-All/36/console

/disk1/jenkins/workspace/kill-All/3.10-SNAPSHOT/2018_04_03-13_32_07/async/sync-bak/put-hd

fail HzMember1HZ untilClusterSafe hzcmd.ops.UntilClusterSafe threadId=0 global.AssertionException: isClusterSafe()=false try's=41 interval 10

http://54.82.84.143/~jenkins/workspace/kill-All/3.10-SNAPSHOT/2018_04_03-13_32_07/async/syn

[2018-04-03 13:47] jerrinot commented on #12210
The use-cases described by @gokhanoner [now works](https://github.com/hazelcast/hazelcast/pull/12736), but I am keeping this issue open as the area requires more love&care.

[2018-04-03 14:42] taburet commented on #12769
I found the reason why the invocation registry size is growing, when a client connects to the cluster it invokes `CreateProxiesMessageTask`, this task in turn sends `PostJoinProxyOperation` to every cluster member, the operation is marked as `returnsResponse = false` and there are no `Operation.sendResponse` calls for it, so the operation never ends.

The issue was not affecting the members before

[2018-04-03 16:17] sancar commented on #12556
It looks like one of the clients can not connected back to cluster. In that case count is expected.
To make the test more reliable, can you increase connection timeout and connection attempt limit of clients in these tests ?
Connection timeout could be around 1 minutes
http://docs.hazelcast.org/docs/latest-development/manual/html/Hazelcast_Clients/Java_Client/Configuration/Client_Network.html#page

[2018-04-04 03:56] pveentjer opened #12777 "DataSerializable unwanted String"
In DataSerializableSerializer:

[code]

[2018-04-04 04:45] vigneshmpn commented on #11627
@lazerion  Same error is happening with client version 3.8.9.

[2018-04-04 07:36] tkountis commented on #12197
@Danny-Hazelcast can you have another go with this branch https://github.com/hazelcast/hazelcast/pull/12778 ?

[2018-04-04 08:04] ahmetmircik opened #12779 "Store create and destroy problems"

[2018-04-04 08:25] Danny-Hazelcast commented on #12769
@taburet  ok thanks i will rerun today

[2018-04-04 08:25] Holmistr commented on #10939
*maintenance*

Reopening as it failed on maintenance: https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly-lab/66/testReport/junit/com.hazelcast.internal.cluster.impl/MembershipFailureTest_withTCP/secondMastershipClaimByYounger_shouldRetry_when_firstMastershipClaimByElder_accepted_fd_deadline_/

Stacktrace:
[code]

[2018-04-04 08:29] Holmistr opened #12781 "RingbufferAddAllReadManyStressTest.whenNoTTL failure"
*maintenance*

Failed on nightly build: https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly-lab/66/

Stacktrace:
[code]

Standard output:
[code]

[2018-04-04 08:47] mdogan commented on #10939
Unfortunately, we can't fix this issue in 3.9.x because of RU compatibility. On 3.9.x, mastership claim is not idempotent but fix requires it to be. If this fails frequently on maintenance, I can ignore the test.

See https://github.com/hazelcast/hazelcast/pull/12508 & https://github.com/hazelcast/hazelcast/pull/12526

[2018-04-04 08:47] #10939 closed

[2018-04-04 08:53] Holmistr commented on #10939
@mdogan Thanks for the explanation. Could you please prepare the @Ignore PR? I'm quite overloaded today.

[2018-04-04 09:39] mdogan commented on #10939
@Holmistr: See https://github.com/hazelcast/hazelcast/pull/12783

[2018-04-04 09:52] dbrimley commented on #2379
Ok, Closing.

[2018-04-04 09:52] #2379 closed

[2018-04-04 10:39] mdogan commented on #12555
It seems this is caused by just an unfortunate event.

Initial member list before split-attempt:
[code]

Member [127.0.0.1]:5022 sends a heartbeat message at `13:13:26.151`, which is received by `[127.0.0.1]:5023` at `13:13:26,152`.

[code]

Then members `[127.0.0.1]:5023` & `[127.0.0.1]:5024` suspect from `[127.0.0.1]:5022` and `[127.0.0.1]:5023` starts mastership claim.

[code]

But the heartbea

[2018-04-04 10:58] acieplak commented on #12705
Hello again,
There is still no answer so maybe @ahmetmircik (as you're first on hazelcast people list) could look at this one?
Regards

[2018-04-04 11:26] jerrinot commented on #12781
apparently @mmedenjak  already fixed this test in the [master](https://github.com/hazelcast/hazelcast/pull/12285)

It should be enough to backport it.

[2018-04-04 11:48] ihsandemir opened #12784 "ClientConnectionManagerImpl addListener does not satisfy ConnectionListenable.addConnectionListener duplicate additions"
ClientConnectionManagerImpl uses set internally which would not allow duplicates. But this contradicts with the ConnectionListenable.addConnectionListener contract.

[2018-04-04 13:16] blazember commented on #12630
@ndjordjevic Is it a constant/periodic traffic, or you experience it only around the time when the new instances are added?

The latter case is expected as the instances need to repartition a new member joins the cluster. The traffic is depending on the amount of the data you store in your cache. You can read about [data partitioning](http://docs.hazelcast.org/docs/3.9.3/manual/html-single/index.h

[2018-04-05 00:14] Danny-Hazelcast commented on #12679
https://hazelcast-l337.ci.cloudbees.com/view/shutdown/job/shutdown-x/64/console

/disk1/jenkins/workspace/shutdown-x/3.10-SNAPSHOT/2018_04_04-19_30_56/create-use-dist-destroy Failed

fail HzClient3HZ _create-use-dist-destroy_createUseDistDestroy_id hzcmd.id.generator.CreateUse threadId=0 java.lang.Exception: java.lang.OutOfMemoryError: GC overhead limit exceeded

http://54.82.84.143/~jenkins/works

[2018-04-05 05:27] #12284 closed

[2018-04-05 05:27] #12721 closed

[2018-04-05 05:27] #12722 closed

[2018-04-05 05:27] #12725 closed

[2018-04-05 06:37] pveentjer commented on #11618
@Danny-Hazelcast please rerun. The resources listed in the opening message are gone; so there is not much that can be done with it.

Also I don't see the added value of destroy tests since we know that destroying things in HZ is not possible since we automatically recreate.

[2018-04-05 06:52] pveentjer commented on #12556
It seems this issue is a configuration issue that can be solved by applying the suggested configuration changed. I'm proposing to close this task for the time being. If the TS still has problems after applying the changes, we should re-open it.

[2018-04-05 06:55] jerrinot commented on #12556
@lazerion: can you please try what @sancar suggested?

[2018-04-05 07:06] Holmistr opened #12788 "MigrationInvocationsSafetyTest.migrationCommit_shouldRollback_whenTargetCrashes failure"
*master*

Failed on Oracle JDK 1.6: https://hazelcast-l337.ci.cloudbees.com/view/Official%20Builds/job/Hazelcast-3.x-OracleJDK1.6-freestyle/427/

Stacktrace:
[code]

Standard output:
[code]

[2018-04-05 09:54] lazerion commented on #12556
@sancar we can close it based on your comment
[code]

[2018-04-05 09:54] #12556 closed

[2018-04-05 10:03] #10656 closed

[2018-04-05 10:25] dbrimley opened #12791 "StartServer should be renamed."
When using the start scripts in the bin directory, from zip distribution.

The class to start a Hazelcast Member is called...

`com.hazelcast.core.server.StartServer`

When you run a JPS command it will just show `StartServer`.

In Technical documentation we call these `Members`.

We should rename the class to be...

`com.hazelcast.core.member.StartHazelcastMember`

In this way it complies with ou

[2018-04-05 10:30] Danny-Hazelcast commented on #11618
I have re-run https://hazelcast-l337.ci.cloudbees.com/view/stable/job/stable-x1/195/console
and I hit any issues.   the GC also looked good for members and clients.

i am closing this issue

[2018-04-05 10:30] #11618 closed

[2018-04-05 10:41] ahmetmircik commented on #12791
liked this issue, maybe we can even rename it to `HazelcastMemberStarter` like JUnits' `JUnitStarter`

[2018-04-05 11:06] tkountis commented on #12791
Why not plain old `HazelcastMember`? When I see a process list, I expect to see the name of the process. The `Start` or `Starter` prefix/suffix, even though make sense on the code side, they aren't intuitive to the admin of the system. @dbrimley @ahmetmircik WDYT?

[2018-04-05 11:09] emre-aydin commented on #12791
+1 for `HazelcastMember`

[2018-04-05 11:57] ahmetmircik commented on #12791
@tkountis i think it depends on how you look it. I see it as an abstraction to start a member with, in the future some other capability(don't know what they are now) may also be added. But i'm ok with any naming if i can see `Hazelcast` in the name.

[2018-04-05 14:34] shahbour commented on #12615
Hello @emre-aydin  , Sorry I did not get back to this but it was from hibernate version docker image, so I customized the image to a new one that contains hibernate5 . The default one only contains version 3

[code]

doing so worked perfectly for all add, delete, update.

[2018-04-05 18:10] emre-aydin commented on #12615
@shahbour so we can close the issue, right?

[2018-04-05 21:17] shahbour commented on #12615
Sure thanks for the follow up

On Thu, Apr 5, 2018, 9:10 PM Emre Aydın <notifications@github.com> wrote:

[2018-04-06 05:12] #12615 closed

[2018-04-06 07:41] #12405 closed

[2018-04-06 07:58] pveentjer commented on #12791
This isn't critical for the 3.10 release. I'm proposing to get it moved to 3.11.

[2018-04-06 08:05] eminn commented on #12791
Note to the future implementer: Please double check all the starter scripts in the docker images since most of them uses that class.

[2018-04-06 08:27] mmedenjak commented on #12781
Looks like David [backported the test from master](https://github.com/hazelcast/hazelcast/commit/f129331122565d74852e6156cc35ffef4d7e82d6) except for the config part:
[code]

The output of the hiccup detector shows lots of pauses. We might decrease the resources used by the test, decrease the load or see if something like this might help - https://github.com/hazelcast/hazelcast/pull/12483

[2018-04-06 08:27] ahmetmircik commented on #12405
@Danny-Hazelcast we have merge a possible fix for the issue, can you please re-run the test?

[2018-04-06 10:27] Danny-Hazelcast commented on #12405
@ahmetmircik  yes re-running, if the jobs start to fail again, I will open another issue

[2018-04-06 14:34] kovalcikm opened #12801 "Querying in Maps"
Hello.
Is there any reason why HZ doesn't support querying in maps similar to querying in nested collection based on index? (http://docs.hazelcast.org/docs/latest-development/manual/html/Distributed_Query/Querying_in_Collections_and_Arrays/index.html)

For collection there is possibility to access by index: Predicates.equal("wheels[0].name", "front-wheel");
I would expect similar approach for nest

[2018-04-06 14:49] halabap commented on #12801
Hello,

Good idea. We need it too. There seems to be no reason why it should not be possible.

Pavel

[2018-04-06 21:12] Donnerbart opened #12803 "Split-brain merging of collection like data structures is lossy"
The actual merging algorithm for collection like data structures (e.g. `ISet`, `IList`, `IQueue`, `Ringbuffer` and `MultiMap`) can be lossy. The issue occurs when e.g. a list contains the same value multiple times. The search for an existing entry will eliminate all duplicates in this case.

The search for existing items also has a bad complexity. It searches a new existing item for each `MergingV

[2018-04-06 21:20] Donnerbart opened #12804 "Return type of split-brain merge policy may be unclear and unflexible"
The return type of the merge policies may be unclear to the user. At the moment only `mergingValue.getValue()`, `existingValue.getValue()` or `null` will work properly. If the data structure uses a non-OBJECT in-memory format, the returned value needs to be in the correct binary format.

This limits the use of merge policies, since the user cannot create new values or value collections easily.

Th

[2018-04-06 21:34] Donnerbart opened #12805 "Split-brain healing doesn't set the statistics from merged values in all data structures"
When merging the values from the smaller cluster, not all data structures set the statistics from the received `MergingValue`.

A fix for this may collide with the change to allow completely new user data, which doesn't contain statistical values. In this case we cannot decide which statistics should be applied. A possible solution is to set the merging statistics just, when the new values are equ

[2018-04-08 20:12] gauravmishra123 commented on #8828
Hi I am a first timer  .. Can i take this issue??

[2018-04-09 08:45] kwart opened #12806 "Failing ClientCacheQuorumReadTest"
The `ClientCacheQuorumReadTest` fails intermittently in the PR builder:

https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/14974/testReport/junit/com.hazelcast.client.quorum.cache/ClientCacheQuorumReadTest/size_quorum_quorumType_READ_WRITE_/

**Stacktrace**
[code]

[2018-04-09 11:27] mmedenjak commented on #11054
@whizsper any updates on this issue?

[2018-04-09 13:15] mmedenjak commented on #12801
Closing as duplicate of https://github.com/hazelcast/hazelcast/issues/8231

[2018-04-09 13:15] #12801 closed

[2018-04-09 13:38] Danny-Hazelcast opened #12808 "Destroy reliable topic memory leak OOME hprof"
I was just trying to reproduce the topic issue described in the community channel, as I got OOME from the members,

the hprof is http://54.82.84.143/~jenkins/workspace/temp/HzMember1HZ-topic.hprof

simply i was creating topics using and destroying, and it results in OOME.

the main difference to the usual create-use-destroy test i run is.
before I would operate on the same topic over and over
wher

[2018-04-09 15:15] mdogan commented on #11615
Cluster is not becoming safe for a very long time, because migration operations are becoming very slow after several restarts. In the logs there are many `Slow operation detected: com.hazelcast.internal.partition.operation.MigrationOperation` logs. I've enabled stack-traces for slow operations and this is what I got:

[code]

[2018-04-09 23:06] barathguna opened #12812 "Hazelcast is continously throwing "java.io.IOException: Packet not send to [10.60.0.229]:5701""
Hazelcast is continously throwing "java.io.IOException: Packet not send to [10.60.0.229]:5701" exception. This happens after one time error of "java.lang.NoClassDefFoundError: com/hazelcast/internal/networking/nonblocking/NonBlockingSocketReader$2".

Double checked on classpath and only "hazelcast-3.8.9.jar" and "hazelcast-client-3.8.9.jar" are in our classpath.

Issue:
1. Why NoClassDefFoundError

[2018-04-10 02:52] pveentjer commented on #12808
Datastructures are difficult to destroy in HZ because they are automatically recreated. So if you have some kind of operation interaction with a data-structure previously destroyed, it will be recreated. And since you are using random names, you can get a build up of recreated data-structures.

This is nothing new. I'm failing to see the added value for this family of tests since the underlying is

[2018-04-10 04:38] doctorpangloss commented on #47
Yep, definitely interested in it too

[2018-04-10 05:42] pveentjer commented on #12679
![image](https://user-images.githubusercontent.com/105243/38538161-21bf31ea-3c9b-11e8-8587-f0e8bc74eccb.png)

[2018-04-10 07:05] #12745 closed

[2018-04-10 07:54] Holmistr commented on #11860
This issue should no longer be present in Simulator 0.10, which is currently being used for testing. Closing.

[2018-04-10 07:54] #11860 closed

[2018-04-10 07:58] ahmetmircik commented on #12806
also see: https://github.com/hazelcast/hazelcast-enterprise/issues/2048

[2018-04-10 08:29] pveentjer commented on #12804
Since the merge policies are marked as Beta, can't we solve this in 3.11? So how big of an impact would it be to the API to make this modification?

[2018-04-10 08:32] pveentjer commented on #12791
Since this isn't critical for the 3.10 release, moving it to the 3.11 release.

[2018-04-10 08:39] pveentjer commented on #12803
Since the merge API is marked as beta, why not do this in the 3.11 release? So how big will be the impact on the code API if this is left out in the 3.10 release?

[2018-04-10 09:49] mdogan commented on #11615
During migration, on each record put, ICache triggers eviction. The same/similar mechanism is used on IMap too. But according to the `SlowOperationDetector `, at some point, a single ICache migration operation takes ~15 seconds.

[2018-04-10 09:51] mdogan commented on #11615
Another issue I've seen is, client auth task takes more than 10 seconds and auth task pile up in generic operation queue, since each client retries the authentication after 5 seconds by default.

[code]

[2018-04-10 09:54] mdogan commented on #11615
Yet another issue is, clients continuously connect/disconnect owner members due to `com.hazelcast.core.HazelcastOverloadException: Maximum invocation count is reached...` failures.

[code]

On member side;

[code]

[2018-04-10 11:57] TomaszGaweda opened #12814 "QueryCache is created after each getQueryCache call"
Hi!

Recently I've submitted the issue about OOM in Hazelcast 3.10. This ticket is a follow-up, because we found where Hazelcast leaks memory.

In commit 918c9f3ef44b0e3fbd9734595105df1b530c3a54, @ahmetmircik changed that Query Cache is created by Cache ID, not Cache Name. Cache ID is generated randomly in method MapProxyImpl#getQueryCacheInternal.

So, after each call to getQueryCache, Hazelcast

[2018-04-10 12:01] ahmetmircik commented on #12814
definitely this is a bug, thanks for reporting.

[2018-04-10 12:35] mmedenjak commented on #12808
@Danny-Hazelcast do you have the test code somewhere? The directory in the link does not contain it.

[2018-04-10 12:37] mmedenjak commented on #12808
We even have a [unit test](https://github.com/hazelcast/hazelcast/blob/00ee8406b7945b601fc6c2e3783b7c53a5dd582d/hazelcast/src/test/java/com/hazelcast/topic/impl/reliable/ReliableTopicDestroyTest.java#L78-L93) which asserts that the ringbuffer is cleaned up when the reliable topic is destroyed which makes this failure a bit strange.

[2018-04-10 12:43] mmedenjak commented on #12808
I also ran code similar to a create-use-destroy pattern:
[code]
And I can't see a leak:
<img width="551" alt="screen shot 2018-04-10 at 14 42 46" src="https://user-images.githubusercontent.com/17194871/38557487-765cb0ba-3ccd-11e8-8652-58dd50337fbf.png">

[2018-04-10 13:01] Danny-Hazelcast commented on #12808
@mmedenjak os i have the same simple code,  mabey the difference is running on a members and clients ?

[code]

[2018-04-10 13:33] Danny-Hazelcast commented on #12808
@mmedenjak if i run just from Member i do not see the OOMe

if i run just from client I see the OOME

if i run from member and client i also see the OOME

[2018-04-10 13:38] mmedenjak commented on #12808
Yes, looks like there's a leak in client code and it's pretty simple to fix.

[2018-04-10 18:47] mmedenjak opened #12820 "Fix HazelcastProperties javadoc"
The javadoc says:
[code]

It should say system property not environment variable. It is set using java -D as as system property.

[2018-04-10 18:51] mmedenjak opened #12821 "Update IExecutorService methods javadoc"
The javadoc should stress out that the runnable should not be reused. For example,

[code]

If it's invoked twice two threads will submit the same executor, but it's luck if the argument is serailized by one before the other overwrites it.

[2018-04-10 19:05] #12808 closed

[2018-04-10 19:10] mmedenjak commented on #12808
@Danny-Hazelcast the fix for reliable topic was merged, please retest

[2018-04-10 23:49] Danny-Hazelcast commented on #12808
@mmedenjak after fix was merged, I can not reproduce the Member OOME

[2018-04-11 07:15] Donnerbart commented on #12803
Jaromir put us on the task to fix this.

Beside the API changes the wire-protocol needs a change to fix this. So it's the easiest to fix this in 3.10, so we don't need to deal with RU and cluster version checks for this in 3.11.

[2018-04-11 07:16] Donnerbart commented on #12804
See https://github.com/hazelcast/hazelcast/issues/12803#issuecomment-380351725

[2018-04-11 08:15] Danny-Hazelcast opened #12823 "Replicated map use create destroy OOME hprof"
I run the full create used destroy test set again, and got more Member hprofs in min's

http://54.82.84.143/~jenkins/workspace/temp/HzMember1HZ-3rd.hprof.zip

there’s 700MB of data in the replicated map partition containters

[code]

we only ignore `DistributedObjectDestroyedException`

so if it was thrown at the put operation https://github.com/hazelcast/hzCmd-bench/blob/zeta/src/main/java/hzcmd/

[2018-04-11 08:28] vbekiaris opened #12825 "QueryCache listener configured declaratively is not registered properly"
Declarative configuration of a query cache listener does not properly register the listener, eg the following configuration never invokes the listener:

[code]

While adding the same listener at runtime (via `hz.getMap("test").getQueryCache("theqc").addEntryListener(new QCListener(), true)`) works fine.

The issue seems to be misinterpretation of `String` as `cacheId` even though it is a `cacheNam

[2018-04-11 08:53] Danny-Hazelcast commented on #11615
@mdogan

could this client side OOME be related to the client continuously connect/disconnect owner members due to com.hazelcast.core.HazelcastOverloadException

as this async operations test also failed.

https://hazelcast-l337.ci.cloudbees.com/view/stable/job/stable-async-backpressure/117/console
/disk1/jenkins/workspace/stable-async-backpressure/3.10-SNAPSHOT/2018_04_11-01_19_02/async/sync-bak/

[2018-04-11 09:01] lazerion opened #12826 "Excessive logs on target side when `cache` config missing for WAN replication"
For instance, when replication A [active] -> B [passive] if target `B` cluster is missing similar config for  `cache` replication, within 3 mins of run time ~150MB log is generated by target cluster, it also affects other on going replication for instance `Map` to fail or linger at least given period of time for verification (under 1 min), as observed from the tests.
Logs repeat below pattern duri

[2018-04-11 09:29] mmedenjak commented on #12278
@Danny-Hazelcast can you verify your hypothesis for the leak?

[2018-04-11 09:31] mdogan commented on #11615
@Danny-Hazelcast: From my understanding, that's possibly related. But I'm not sure, since I don't know those client details.

@sancar merged his PR that's fixing `HazelcastOverloadException ` during cluster connect.  If that was the cause, then we won't see that oome again.

[2018-04-11 10:30] Danny-Hazelcast commented on #12278
I think i can run another thread which gets all scheduled futures and dispose them.

[2018-04-11 11:27] Holmistr opened #12830 "ClientReconnectTest.testEndpointCleanup_withFirstAuthenticationTakingLong failure"
*Both master and maintenance*

This test started to fail today in multiple nightly builds:
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-nightly-lab/52/
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.maintenance-nightly-lab/73/
https://hazelcast-l337.ci.cloudbees.com/job/Hazelcast-3.x-sonar-lab/60/

Stacktrace:
[code]

Standard output:
[code]

[2018-04-11 16:48] mmedenjak commented on #12823
Moving to 3.10.1 based on Ahmet's comment. Feel free to close the issue if this statement holds.

[2018-04-11 16:49] mmedenjak commented on #11872
Moving to 3.10.1 as this is not critical. @emre-aydin feel free to merge the PR and have this in 3.10 if you think it is ready.

[2018-04-11 17:06] #11872 closed

[2018-04-11 17:07] emre-aydin commented on #11872
@mmedenjak - merged the PR.

[2018-04-11 17:14] mmedenjak commented on #12788
Moving to 3.10.1 as this seems to be a rare occurrence

[2018-04-11 18:28] praveensrao opened #12838 "Sporadic hazelcast timeouts"
Hi,

We are having a constant issue that has cropped up in our production environment when sporadically hazelcast operations timeout on one of the maps (where we have integration with shiro to store http sessions) a couple of times in the day.
I am not able to attach a unit test because the issue is not seen in other environments.

**Java being used:**
java version "1.8.0_131"
Java(TM) SE Runtime

[2018-04-11 20:58] kwart opened #12841 "Failing ConnectMemberListOrderTest"
The
**`com.hazelcast.client.connection.nio.ConnectMemberListOrderTest.testPossibleMemberAddressesAfterDisconnection[shuffleMemberList == false]`**
failed in the PR builder:
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/15070/testReport/junit/com.hazelcast.client.connection.nio/ConnectMemberListOrderTest/testPossibleMemberAddressesAfterDisconnection_shuffleMemberList____false_/

**Sta

[2018-04-12 00:27] Danny-Hazelcast commented on #12823
ok so it sound like we can close this issue.

[2018-04-12 00:27] #12823 closed

[2018-04-12 00:36] Danny-Hazelcast commented on #12197
using ./output/HZ/HzMember3HZBB/out.txt:INFO: [10.0.0.25]:5701 [HZ] [3.10-SNAPSHOT] Hazelcast Enterprise 3.10-SNAPSHOT (20180410 - 1bb3ffd, 9dd6d73) starting at [10.0.0.25]:5701

https://hazelcast-l337.ci.cloudbees.com/view/split/job/split-quorum/64/console
http://54.82.84.143/~jenkins/workspace/split-quorum/3.10-SNAPSHOT/2018_04_10-12_41_24/quorum

hanged in a new place
[code]

https://hazelcast-

[2018-04-12 06:38] mmedenjak commented on #12841
https://hazelcast-l337.ci.cloudbees.com/job/new-lab-fast-pr/15059

[2018-04-12 07:01] harshadmurtekar opened #12844 "Hazelcast Map Get & delete Operation - com.hazelcast.core.OperationTimeoutException: DeleteOperation invocation failed to complete due to operation-heartbeat-timeout."
We are running on Hazelcast 3.8.8 on Linux Suse SLES 11 SP4  VMware

As per workaround provided with following issue, we have switched off the LRO flag.  It has reduced the frequency of this issue. However the issue still exists.

The following exceptions are observed while performing Hazelcast Get and Delete operations on Map

[code]